// Bordered & Pulled
// -------------------------

.#{$fa-css-prefix}-border {
  border: solid .08em $fa-border-color;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.#{$fa-css-prefix}-float-left { float: left; }
.#{$fa-css-prefix}-float-right { float: right; }

.#{$fa-css-prefix},
.fas,
.far,
.fal,
.fab {
  &.#{$fa-css-prefix}-float-left { margin-right: .3em; }
  &.#{$fa-css-prefix}-float-right { margin-left: .3em; }
}
