/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div>
        <div id="cityZipPostalAutocomplete">
            <v-autocomplete :items="cities" v-model="item" :get-label="getLabel" placeholder="Enter City or Zip/Postal Code" id="tags" class="form-group"
                            :component-item="ItemTemplate" @update-items="getOptions"></v-autocomplete>
            <span class="has-error" v-if="errors.has('zip_postal_code')">{{ errors.get('zip_postal_code') }}</span>
        </div>

        <item-template></item-template>

    </div>
</template>

<script>
    import {Errors} from '../../utilities';
    import {ItemTemplate} from './';

    export default {

        props: ['value'],

        components: {ItemTemplate},

        data() {
            return {
                raw_input: "",
                selected_item: "",
                cities: [],
                item: null,
                cityNames: [],
                type: null,
                errors: new Errors,

                valid_zip: null,
                valid_postal: null,

                ItemTemplate: ItemTemplate,

            }
        },

        created() {

        },

        mounted() {
            $('.v-autocomplete-input-group input').addClass('form-control');
        },

        destroyed() {

        },

        computed: {

        },

        watch: {
            item: function(val) {
                console.log(val);
                if ( _.isEmpty(val) ) { return };

                //wipe out lingering zip postal errors
                this.errors.clear('zip_postal_code');
                $('#cityZipPostalAutocomplete').removeClass('has-error');

                //pass an object
                this.$parent.$emit('got-geo-data-from-city-zip-postal-autocomplete', {
                    city: val.name,
                    state_province_id: val.state_province_id,
                    state_province_abbreviation: val.abbreviation,
                    country_id: val.country_id,
                    zip_postal_code: val.zip_postal_code,
                    latitude: parseFloat(val.latitude),
                    longitude: parseFloat(val.longitude),
                })
            },

            // when a new item is selected, update the parent component with all appropriate data
            selected_item: function(val) {

                if ( _.isEmpty(val) ) { return };

                //wipe out lingering zip postal errors
                this.errors.clear('zip_postal_code');

                //pass an object
                this.$parent.$emit('got-geo-data-from-city-zip-postal-autocomplete', {
                    city: val.name,
                    state_province_id: val.state_province_id,
                    state_province_abbreviation: val.abbreviation,
                    country_id: val.country_id,
                    zip_postal_code: val.zip_postal_code,
                    latitude: parseFloat(val.latitude),
                    longitude: parseFloat(val.longitude),
                })
            },
            // watch the prop for changes
            value: function(val) {
                this.getOptions();
                this.selected_item = val;
            }
        },

        methods: {
            /**
             * Returns a label if given a list item (list item is an option for the select)
             */
            getLabel(item) {
                if (item) {
                    return item.name + ", " + item.abbreviation;
                }
            },

            /**
             * Function to gather all cities (the options for the autocomplete)
             */
            getOptions(search_term) {

                this.type = this.whatAmI(search_term);

                switch (this.type) {
                    case 'zip_code':
                        this.getGeoDataFromZipPostal(1, search_term);
                        break;
                    case 'postal_code':
                        // replace whitespace, and make uppercase for database search
                        search_term = search_term.toUpperCase().replace(/\s+/, "") ;
                        if ( search_term.length == 6 && !this.errors.has('zip_postal_code') ) {
                            this.getGeoDataFromZipPostal(2, search_term);
                        }

                        break;
                    default:
                        // if (search_term.length > 4) { return }
                        this.getCities(search_term);
                        break;
                }

            },

            /**
             * Method takes a search term and determines if it is a zip, postal code, or city
             * @param search_term
             *
             * return 'zip_code', 'postal_code', 'city'
             */
            whatAmI(search_term) {
                //try to validate zip
                if( search_term.search(/^\d{5}([\-]?\d{4})?$/) !== -1 ) {
                    this.errors.clear('zip_postal_code');
                    $('#cityZipPostalAutocomplete').removeClass('has-error');
                    this.$forceUpdate();
                    return 'zip_code';
                }

                //try to validate postal
                // check beginning three
                if ( search_term.search(/^([a-zA-Z]\d[a-zA-Z]).*$/) !== -1) {
                    // check entirety
                    if ( search_term.search(/^([a-zA-Z]\d[a-zA-Z]) ?(\d[a-zA-Z]\d)$/) !== -1) {
                        this.errors.clear('zip_postal_code');
                        $('#cityZipPostalAutocomplete').removeClass('has-error');
                        this.$forceUpdate();
                    }
                    return'postal_code';
                }

                //else assume city
                return 'city';

            },

            getCities: _.debounce(function (search_term) {
                axios.get('/getCitiesFromSearchTerm/' + search_term).then(response => {
                    this.cities = response.data.cities;
                    this.cityNames = this.cities.map(city => city.name);
                });
            }, 250),

            getGeoDataFromZipPostal: function(country_id, zip_postal_code) {
                let self = this;

                axios.get('/getGeoDataFromZipPostal/' + country_id + '/' + zip_postal_code + '/' + true).then( response => {
                    if ( !(response.data.state || response.data.province) || response.data.city_name == null) {
                        self.errors.add('zip_postal_code', ['Invalid zip or postal code']);
                        $('#cityZipPostalAutocomplete').addClass('has-error');
                        self.$forceUpdate();
                        return;
                    }

                    let obj = {
                        city: response.data.city_name,
                        state_province_id: country_id == 1 ? response.data.state.id : response.data.province.id,
                        state_province_abbreviation: country_id == 1 ? response.data.state.short_name : response.data.province.short_name,
                        country_id: country_id,
                        zip_postal_code: country_id == 1 ? response.data.zip_code : response.data.postal_code,
                        latitude: parseFloat(response.data.latitude),
                        longitude: parseFloat(response.data.longitude),
                    }

                    self.$parent.$emit('got-geo-data-from-city-zip-postal-autocomplete', obj)

                }).catch( errors => {
                    console.log(errors)
                    console.log( 'whey am i catching errors');
                    self.errors.add('zip_postal_code', ['Invalid zip or postal code']);
                    $('#cityZipPostalAutocomplete').addClass('has-error');
                    self.$forceUpdate();
                });
            },

            getCityAndStateName(city) {
                return city.name + ', ' + city.abbreviation;
            },

            displayCityName(city) {
                if (this.raw_input == this.getCityAndStateName(city)) {
                    this.selected_item = city;
                }

                return this.getCityAndStateName(city)
            },

            isLetter(str) {
                return str.length === 1 && str.match(/[a-zA-Z]/i);
            },

            isNumber(str) {
                return str.length === 1 && str.match(/[0-9]/i);
            }

        }
    }
</script>

<style lang="css">

</style>
