/**
Requires:
    ALL PROPS:
    'fuel_month_id' - int 1-12,
    'fuel_year' - int
    'record_count - int
    'territory_type_id' - int
    'list_of_territory_names' - string, comma separated items
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
    This component displays an info icon on the parent. Upon mouseover,
    it will display information about the fuel prices grabbed on the rate selector.

*/
<template lang="html">
    <div id="fuelInfoIcon" style="line-height: 24px; margin-top: -20px;">
        <span  @mouseover="hovered = true"
               @mouseleave="hovered = false">
            <button class="btn btn-default"
                    style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;">
                <i class="fa fa-info" style="vertical-align: unset;"></i>
            </button>
        </span>

        <transition name="fade5s">
            <div v-if="hovered" class="alert alert-dark" role="alert"
                 style="position: absolute; z-index: 1; font-weight: normal; margin-right: auto">
                <p v-if="all_props_loaded" id="infoMessage">
                    {{ info_message }}
                </p>
            </div>
        </transition>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {Months} from '../../models'

    export default {
        props: ['fuel_month_id', 'fuel_year', 'record_count', 'territory_type_id', 'list_of_territory_names'],

        components: {},

        data() {
            return {
                hovered: false,
                all_props_loaded: false,
                months: Months,
            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([

            ]),

            info_message: function() {
                let city_or_cities = this.territory_type_id == 1 ? 'city' : 'cities';



                return 'Fuel Average is based upon ' + this.record_count
                    + ' fuel prices recorded in the month of '
                    + this.getMonthName(this.fuel_month_id) + ', ' + this.fuel_year + ' in the '
                    + city_or_cities + ' of ' + this.formatCitiesList(this.list_of_territory_names);
            }
        },

        /**
         * Watch all props, once they are loaded, render the message (<p id="infoMessage">)
         */
        watch: {
            record_count: {
                handler: function() {
                    this.areAllPropsLoaded();
                },
                immediate: true,
            },

            record_count: {
                handler: function() {
                    this.areAllPropsLoaded();
                },
                immediate: true,
            },

            record_count: {
                handler: function() {
                    this.areAllPropsLoaded();
                },
                immediate: true,
            },

            fuel_month_id: {
                handler: function() {
                    this.areAllPropsLoaded();
                },
                immediate: true,
            },

            fuel_year: {
                handler: function() {
                    this.areAllPropsLoaded();
                },
                immediate: true,
            },
        },

        methods: {
            areAllPropsLoaded() {
                if (   this.fuel_month_id           != null
                    && this.fuel_year               != null
                    && this.record_count            != null
                    && this.territory_type_id       != null
                    && this.list_of_territory_names != null ) {
                    this.all_props_loaded = true;
                } else {
                    this.all_props_loaded = false;
                }
            },

            getMonthName(id) {
                for ( let i in this.months ) {
                    if (this.months[i].id == id ) {
                        return this.months[i].name;
                    }
                }
                return 'Error finding month';
            },

            formatCitiesList(list) {
                let array = list.split(',');
                let l = array.length;
                if (l == 1) {
                    return array[0];
                }
                return array.slice(0, array.length - 1).join(', ') + ' and ' + array[l - 1];
            }

        }
    };
</script>

<style lang="css">

</style>