/**
Requires:
    Item, an object with a name and abbreviation
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
    This component makes up a dropdown list element in the CityZipPostalAutocomplete.vue

*/
<template lang="html">
    <div v-if="item">
        <span>{{ item.name }}, </span><abbr>{{item.abbreviation}}</abbr>
        <span class="float-right">{{ item.country_id == 1 ? 'US' : 'CA' }}</span>
    </div>
</template>

<script>
    export default {
        props: ['item'],

        created() {
            console.log('item-template created!');
        },
        mounted() {
            console.log("myItem: ",this.item);
        }
    }
</script>