Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div style="all:unset" v-if="loaded">

        <!-- Button to trigger modal -->
        <a href="#" class="btn options-btn p-0 options-gear" data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="static" data-keyboard="false">
            <i class="fas fa-cogs fa-2x"></i>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="padding: 0 15px !important;">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 1000px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Options</h5>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                @click="resetParametersClose">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body" v-if="localParameters">

                        <!-- Tab Buttons -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#plan" role="tab" data-toggle="tab">Plan</a>
                            </li>
                            <li class="nav-item" v-if="localParameters.country_id !== -1">
                                <a class="nav-link" href="#mileage-band" role="tab" data-toggle="tab">Mileage Band</a>
                            </li>
                            <li class="nav-item" v-if="localParameters.country_id !== -1">
                                <a class="nav-link" href="#retention" role="tab" data-toggle="tab">Retention</a>
                            </li>
                            <li class="nav-item" v-if="localParameters.country_id !== -1">
                                <a class="nav-link" href="#model-year" role="tab" data-toggle="tab">Model Year</a>
                            </li>
                            <li class="nav-item" v-if="localParameters.country_id !== -1">
                                <a class="nav-link" href="#adjustments" role="tab" data-toggle="tab">Adjustments</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!--Plan -->
                            <div role="tabpanel" class="tab-pane active" id="plan">
                                <div class="row text-center">
                                    <div class="col-sm-6">
                            <span @click="localParameters.country_id = 1">
                                <img v-if="localParameters.country_id == 1" id="us1"
                                     src="/img/Flag_of_the_United_States.svg" style="margin: 20px;" width="100"
                                     height="50"/>
                                <img v-else id="us2" src="/img/Flag_of_the_United_States_grayscale.svg"
                                     style="margin: 20px;" width="100" height="50"/>
                            </span>
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="form-check float-left">
                                                <input v-if="localParameters.country_id == 1"
                                                       id="favrRadio"
                                                       class="form-check-input"
                                                       type="radio"
                                                       :value="'FAVR'"
                                                       v-model="localParameters.service_plan"
                                                       :disabled="localParameters.country_id == 2">
                                                <input v-else-if="localParameters.country_id == 2 || localParameters.country_id == -1"
                                                       class="form-check-input"
                                                       type="radio"
                                                       :disabled="true">
                                                <!--<input class="form-check-input"-->
                                                <!--type="radio"-->
                                                <!--value="2"-->
                                                <!--v-model="localParameters.plan"-->
                                                <!--:disabled="localParameters.country_id == 2">-->
                                                <label class="form-check-label" for="favrRadio">
                                                    FAVR
                                                </label>
                                            </div>
                                            <div class="form-check float-right">
                                                <input v-if="localParameters.country_id == 1"
                                                       id="463Radio"
                                                       class="form-check-input"
                                                       type="radio"
                                                       :value="'463'"
                                                       v-model="localParameters.service_plan"
                                                       :disabled="localParameters.country_id == 2">
                                                <input v-if="localParameters.country_id == 2 || localParameters.country_id == -1"
                                                       class="form-check-input"
                                                       type="radio"
                                                       :disabled="true">
                                                <label class="form-check-label" for="463Radio">
                                                    463
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                            <span @click="localParameters.country_id = 2">
                                <img v-if="localParameters.country_id == 2" id="canada1"
                                     src="/img/Flag_of_Canada.svg" style="margin: 20px;" width="100" height="50"/>
                                <img v-else id="canada2" src="/img/Flag_of_Canada_grayscale.svg" style="margin: 20px;"
                                     width="100" height="50"/>
                            </span>
                                        <div class="form-check mx-auto cra-wrap">
                                            <input v-if="localParameters.country_id == 2"
                                                   id="craRadio"
                                                   class="form-check-input"
                                                   type="radio"
                                                   :value="'Canada'"
                                                   v-model="localParameters.service_plan"
                                                   :disabled="localParameters.country_id == 1">
                                            <input v-if="localParameters.country_id == 1 || localParameters.country_id == -1"
                                                   class="form-check-input"
                                                   type="radio" disabled>
                                            <label class="form-check-label" for="craRadio">
                                                CRA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div><!--Plan-->

                            <!--Mileage Band-->
                            <div role="tabpanel" class="tab-pane fade" id="mileage-band"
                                 v-if="localParameters.country_id !== -1">
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(1)"
                                           @click="localParameters.mileage_band_id = 1">2,500 -
                                            5,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(2)"
                                           @click="localParameters.mileage_band_id = 2">5,500 -
                                            10,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(3)"
                                           @click="localParameters.mileage_band_id = 3">10,000 -
                                            15,000</a>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(4)"
                                           @click="localParameters.mileage_band_id = 4">15,000 -
                                            20,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(5)"
                                           @click="localParameters.mileage_band_id = 5">20,000 -
                                            25,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(6)"
                                           @click="localParameters.mileage_band_id = 6">25,000 -
                                            30,000</a>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(7)"
                                           @click="localParameters.mileage_band_id = 7">30,000 -
                                            35,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(8)"
                                           @click="localParameters.mileage_band_id = 8">35,000 -
                                            40,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(9)"
                                           @click="localParameters.mileage_band_id = 9">40,000 -
                                            45,000</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(10)"
                                           @click="localParameters.mileage_band_id = 10">45,000 -
                                            50,000</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#" :class="mileageButtonClass(11)"
                                           @click="localParameters.mileage_band_id = 11">50,000+</a>
                                    </div>
                                </div>
                            </div><!--Mileage Band-->

                            <!--Retention-->
                            <div role="tabpanel" class="tab-pane fade" id="retention"
                                 v-if="localParameters.country_id !== -1">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <a href="#" :class="retentionButtonClass(2)"
                                           @click="localParameters.retention = 2">2 Years</a>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <a href="#" :class="retentionButtonClass(3)"
                                           @click="localParameters.retention = 3">3 Years</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <a href="#" :class="retentionButtonClass(4)"
                                           @click="localParameters.retention = 4">4 Years</a>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <a href="#" :class="retentionButtonClass(5)"
                                           @click="localParameters.retention = 5">5 Years</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" :class="retentionButtonClass(6)"
                                           @click="localParameters.retention = 6">6 Years</a>
                                    </div>
                                </div>
                            </div><!--Retention-->

                            <!--Model Year-->
                            <div role="tabpanel" class="tab-pane fade" id="model-year"
                                 v-if="localParameters.country_id !== -1">

                                <vehicle-year-select :country_id="localParameters.country_id"
                                                     :plan="localParameters.service_plan"
                                                     :hide_default_option="true"
                                                     v-model="localParameters.vehicle_year"/>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <capital-cost-select :country="localParameters.country_id"
                                                                 :year="localParameters.vehicle_year"
                                                                 :service_plan="localParameters.service_plan"
                                                                 :hide_default_option="true"
                                                                 :show_label="true"
                                                                 v-model="localParameters.capital_cost"/>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <resale-condition-select :country="localParameters.country_id"
                                                                 :year="localParameters.vehicle_year"
                                                                 :hide_default_option="true"
                                                                 :show_label="true"
                                                                 v-model="localParameters.resale_condition_id"/>
                                    </div>
                                </div>
                            </div><!--Model Year-->

                            <!--Adjustments-->
                            <div role="tabpanel" class="tab-pane fade" id="adjustments"
                                 v-if="localParameters.country_id !== -1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <fuel-year-select v-model="localParameters.fuel_year"></fuel-year-select>
                                    </div>

                                    <div class="col-sm-6">
                                        <fuel-month-select :year="localParameters.fuel_year"
                                                           :hide_default_option="true"
                                                           v-model="localParameters.fuel_month_id"/>
                                    </div>
                                </div><!--row-->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <territory-type-select :country_id="localParameters.country_id"
                                                               :hide_default_option="true"
                                                               v-model="localParameters.territory_type_id"/>

                                    </div>

                                    <div class="col-sm-6">

                                        <fuel-city-select v-if="localParameters.territory_type_id == 3"
                                                          :country_id="localParameters.country_id"
                                                          :emit_object="true"
                                                          :caller_id="caller_id"
                                                          v-model="localParameters.multicity"/>

                                        <section v-if="localParameters.territory_type_id == 4">
                                            <state-select v-if="localParameters.country_id == 1"
                                                          :caller_id="caller_id"
                                                          :emit_object="true"/>
                                            <province-select v-if="localParameters.country_id == 2"
                                                             :caller_id="caller_id"
                                                             :emit_object="true"/>
                                        </section>

                                    </div>
                                </div><!--row-->

                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="form-group">
                                            <label for="business_use_percent">Business Use Percent</label>
                                            <input id="business_use_percent" type="number"
                                                   :class="{'form-control': true, 'has-error': modalErrors.has('business_use_percent')}"
                                                   v-model="localParameters.business_use_percent">
                                            <span class="has-error" v-if="modalErrors.has('business_use_percent')">{{ modalErrors.get('business_use_percent') }}</span>
                                        </div>
                                    </div>
                                    <!--This column is for the results of the multiselect-->
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div v-if="localParameters.territory_type_id == 3 || localParameters.territory_type_id == 4"
                                             class="form-group">
                                            <label>Selected {{ multi_territory_label }}</label>
                                            <div class="box">
                                                <div style="display: inline-block;">
                                                    <span v-for="territory_id in localParameters.territory_list"
                                                       class="tag btn-secondary"
                                                       style="margin: 0.25rem;">
                                                        {{ getSelectedTerritoryName(territory_id) }}
                                                        <!--{{ territory.name }}, {{ territory.state_province_short_name }}-->
                                                        <button class="delete is-small" @click.prevent="unassignTerritory(territory_id)"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="accordion">
                                    <div class="card mb-3">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0 adjustment-accordion">
                                                <button class="btn btn-block btn-link" data-toggle="collapse"
                                                        data-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                    Fixed Adjustments %
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="capital_cost_adj">Capital Cost</label>
                                                            <div class="input-group mb-3">
                                                                <input id="capital_cost_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('capital_cost_adj')}"
                                                                       v-model="localParameters.capital_cost_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('capital_cost_adj')">{{ modalErrors.get('capital_cost_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="capital_cost_tax_adj">Capital Cost Tax</label>
                                                            <div class="input-group mb3">
                                                                <input id="capital_cost_tax_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('capital_cost_tax_adj')}"
                                                                       v-model="localParameters.capital_cost_tax_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('capital_cost_tax_adj')">{{ modalErrors.get('capital_cost_tax_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="resale_value_adj">Resale Value</label>
                                                            <div class="input-group">
                                                                <input id="resale_value_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('resale_value_adj')}"
                                                                       v-model="localParameters.resale_value_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('resale_value_adj')">{{ modalErrors.get('resale_value_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="depreciation_adj">Depreciation</label>
                                                            <div class="input-group">
                                                                <input id="depreciation_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('depreciation_adj')}"
                                                                       v-model="localParameters.depreciation_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('depreciation_adj')">{{ modalErrors.get('depreciation_adj') }}</span>
                                                        </div>
                                                    </div>
                                                </div><!--row-->

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="monthly_payment_adj">Monthly Payment</label>
                                                            <div class="input-group">
                                                                <input id="monthly_payment_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('monthly_payment_adj')}"
                                                                       v-model="localParameters.monthly_payment_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('monthly_payment_adj')">{{ modalErrors.get('monthly_payment_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="finance_cost_adj">Finance Cost</label>
                                                            <div class="input-group">
                                                                <input id="finance_cost_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('finance_cost_adj')}"
                                                                       v-model="localParameters.finance_cost_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('finance_cost_adj')">{{ modalErrors.get('finance_cost_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="insurance_adj">Insurance</label>
                                                            <div class="input-group">
                                                                <input id="insurance_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('insurance_adj')}"
                                                                       v-model="localParameters.insurance_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('insurance_adj')">{{ modalErrors.get('insurance_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="fee_renewal_adj">Fee / Renewal</label>
                                                            <div class="input-group">
                                                                <input id="fee_renewal_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('fee_renewal_adj')}"
                                                                       v-model="localParameters.fee_renewal_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('fee_renewal_adj')">{{ modalErrors.get('fee_renewal_adj') }}</span>
                                                        </div>
                                                    </div>
                                                </div><!--row-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0 adjustment-accordion">
                                                <button class="btn btn-block btn-link collapsed" data-toggle="collapse"
                                                        data-target="#collapseTwo" aria-expanded="false"
                                                        aria-controls="collapseTwo">
                                                    Variable Adjustments %
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="fuel_economy_adj">Fuel Economy</label>
                                                            <div class="input-group">
                                                                <input id="fuel_economy_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('fuel_economy_adj')}"
                                                                       v-model="localParameters.fuel_economy_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('fuel_economy_adj')">{{ modalErrors.get('fuel_economy_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="fuel_price_adj">Fuel Price</label>
                                                            <div class="input-group">
                                                                <input id="fuel_price_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('fuel_price_adj')}"
                                                                       v-model="localParameters.fuel_price_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('fuel_price_adj')">{{ modalErrors.get('fuel_price_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="maintenance_adj">Maintenance</label>
                                                            <div class="input-group">
                                                                <input id="maintenance_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('maintenance_adj')}"
                                                                       v-model="localParameters.maintenance_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('maintenance_adj')">{{ modalErrors.get('maintenance_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="repair_adj">Repairs</label>
                                                            <div class="input-group">
                                                                <input id="repair_adj" type="number"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('repair_adj')}"
                                                                       v-model="localParameters.repair_adj">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('repair_adj')">{{ modalErrors.get('repair_adj') }}</span>
                                                        </div>
                                                    </div>
                                                </div><!--row-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0 adjustment-accordion">
                                                <button class="btn btn-block btn-link collapsed" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">
                                                    Absolute Adjustments
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="fixed_adj">Fixed Reimbursement</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                <input id="fixed_adj" type="number" step="0.01"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('fixed_adj')}"
                                                                       v-model="localParameters.fixed_adj">
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('fixed_adj')">{{ modalErrors.get('fixed_adj') }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="variable_adj">Variable Reimbursement</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">&cent;</span>
                                                                </div>
                                                                <input id="variable_adj" type="number" step="0.01"
                                                                       :class="{'form-control': true, 'has-error': modalErrors.has('variable_adj')}"
                                                                       v-model="localParameters.variable_adj">
                                                            </div>
                                                            <span class="has-error"
                                                                  v-if="modalErrors.has('variable_adj')">{{ modalErrors.get('variable_adj') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--tab-content-->


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                @click="resetParametersClose" style="background: #910811; border-color: transparent;">Cancel
                        </button>
                        <button type="button" class="btn btn-primary" @click="validateSaveClose" style="background: #052460; border-color: transparent;">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {
        CapitalCostSelect,
        FuelCitySelect,
        FuelYearSelect,
        FuelMonthSelect,
        ProvinceSelect,
        ResaleConditionSelect,
        StateSelect,
        TerritoryTypeSelect,
        VehicleYearSelect,
    } from '../partials';
    import Errors from '../../utilities/Errors';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['parameters', 'selected'],

        components: {

            CapitalCostSelect, FuelCitySelect, FuelYearSelect, FuelMonthSelect, ProvinceSelect,
            ResaleConditionSelect, StateSelect, TerritoryTypeSelect, VehicleYearSelect
        },

        data() {
            return {
                caller_id: 'rateSelectorOptionsModal',
                loaded: null,
                localParameters: null,

                /** array containing all selected territory objects, as we need their names, but territory_list
                 * is just that: a list.
                 */
                selectedTerritoryObjects: [],

                modalErrors: new Errors,
            }
        },

        created() {

        },

        mounted() {
            /**
             * These event listeners are used when the multicity/multistate/multiprovince territory is selected.
             * It listens for an event carrying an object as its payload, and then pushes the object's
             * id into the localParameters.territory_list. The whole object is pushed into selectedTerritoryObjects
             * so that we can easily access its name
             */
            EventBus.$on(this.caller_id + '-fuel-city-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-state-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-province-object', this.assignTerritory);
        },

        destroyed() {

        },

        computed: {
            /**
             *  If multi-state, or multi-city is selected for territory, we have a container which displays
             *  all selected items. This computed property returns the label for that display
             */
            multi_territory_label: function() {
                if (this.localParameters.territory_type_id == 3) {
                    return 'Cities';
                } else {
                    if (this.localParameters.country_id == 1) {
                        return 'States';
                    } else if (this.localParameters.country_id == 2) {
                        return 'Provinces';
                    }
                }
            },

            selected_territory_name: function() {

            }
        },

        filters: {

        },

        watch: {

            /**
             * If localParameters prop is non-empty, and not equal to the local parameters, we clone.
             */
            'parameters': {
                handler: function (params) {
                    var self = this;
                    if (!_.isEmpty(params) && !_.isEqual(params, this.localParameters)) {

                        // clone the new params
                        this.localParameters = _.cloneDeep(params);

                        self.loaded = true;
                    }
                },
                immediate: true,
                deep: true,
            },

            /**
             * Validate the parameters as they change, only validate if old parameters differ from new parameters
             */
            'localParameters': {
                handler: function (newParameters, oldParameters) {
                    if (!_.isEmpty(oldParameters)) {
                        this.validateModalParameters();
                    }
                },
                deep: true,
            },

            /**
             * When country id is changed, update the plan appropriately and reset state_province_id and city
             */
            'localParameters.country_id': {
                handler: function (val) {
                    this.localParameters.service_plan = val == 1 ? 'FAVR' : 'Canada';
                    // davery
                    if (this.localParameters.service_plan == 'FAVR') {
                        this.localParameters.business_use_percent = 75;
                    } else {
                        this.localParameters.business_use_percent = 71.4;
                    }
                },
                deep: true,
            },

        },

        methods: {

            resetParametersClose() {
                this.localParameters = _.cloneDeep(this.parameters);
            },

            validateSaveClose() {
                this.validateModalParameters();

                if (this.modalErrors.any()) {
                    console.log(this.modalErrors.errors);
                    return;
                }

                // alert the parent of the changing parameters, this is the save portion
                EventBus.$emit('rate-selector-parameters-changed', this.localParameters);

                //parent will take care of recalculation in the listener for parameters changed

                // close
                $('#exampleModalCenter').modal('hide');
            },


            switchCountry: function (id) {
                this.localParameters.country_id = id;
            },

            validateModalParameters() {

                for (const key in this.localParameters) {
                    let value = this.localParameters[key];
                    switch (key) {
                        case 'business_use_percent':
                            if (this.localParameters.sevice_plan != 'FAVR') {
                                if ((0 < value && value <= 100) && value != null) {
                                    this.modalErrors.clear(key)
                                } else {
                                    this.modalErrors.add(key, ['Business use percent must be between 1 and 100']);
                                }
                            } else {
                                //FAVR MAX 75
                                if ((0 < value && value <= 75) && value != null) {
                                    this.modalErrors.clear(key)
                                } else {
                                    this.modalErrors.add(key, ['Business use percent must be between 1 and 75']);
                                }
                            }

                            break;
                        case 'capital_cost':
                            if (value == 'invoice' || value == 'msrp' || value == 'blue_book') {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Capital cost type is required']);
                            }
                            break;

                        case 'country_id':
                            if (1 <= value && value <= 2) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Please select a country']);
                            }
                            break;

                        case 'mileage':
                            if (1 <= value && value <= 11) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Please select a mileage band']);
                            }
                            break;

                        case 'month':
                            if (1 <= value && value <= 12) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['A month is required']);
                            }
                            break;

                        case 'multicity':
                            if (this.localParameters.territory == 'multicity') {

                                if (!_.isEmpty(value)) {
                                    this.modalErrors.clear(key)
                                } else if (this.localParameters.country_id < 1) {
                                    this.modalErrors.add(key, ['You must select a country']);
                                } else {
                                    this.modalErrors.add(key, ['Invalid multicity selection']);
                                }
                            }
                            break;

                        case 'multistate':
                            if (this.localParameters.territory == 'multistate') {
                                if (!_.isEmpty(value)) {
                                    this.modalErrors.clear(key)
                                } else if (this.localParameters.country_id < 1) {
                                    this.modalErrors.add(key, ['You must select a country']);
                                } else {
                                    this.modalErrors.add(key, ['Invalid multistate selection']);
                                }
                            }
                            break;

                        case 'plan':
                            if (1 <= value && value <= 2) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['A plan is required']);
                            }
                            break;

                        case 'retention':
                            if (2 <= value && value <= 6) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Retention must be between 2 and 6 years']);
                            }
                            break;

                        case 'territory':
                            if (!_.isEmpty(value)) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Invalid territory selection']);
                            }
                            break;

                        case 'value_condition':
                            if (!_.isEmpty(value)) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Invalid value condition']);
                            }
                            break;

                        case 'vehicle_year':
                            if (!Common.isEmpty(value)) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['A vehicle year is required']);
                            }
                            break;
                        case 'capital_cost_adj':
                        case 'capital_cost_tax_adj':
                        case 'depreciation_adj':
                        case 'fee_renewal_adj':
                        case 'finance_cost_adj':
                        case 'fuel_economy_adj':
                        case 'fuel_price_adj':
                        case 'insurance_adj':
                        case 'maintenance_adj':
                        case 'monthly_payment_adj':
                        case 'repair_adj':
                        case 'resale_value_adj':
                            if (-100 <= value && value <= 100 && value != null) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Value must be between -100 and 100'])
                            }
                            break;
                        case 'fixed_adj':
                        case 'variable_adj':
                            if (0 <= value && value <= 10000 && value != null) {
                                this.modalErrors.clear(key)
                            } else {
                                this.modalErrors.add(key, ['Value must be between 0 and 10000'])
                            }
                            break;

                    }
                }
                this.$forceUpdate();
            },

            // Styling for retention buttons
            retentionButtonClass: function (retention) {
                return this.localParameters.retention == retention ? 'btn btn-sm btn-secondary options-modal-btn-active btn-block mr-2 mb-2' : 'btn btn-sm btn-secondary options-modal-btn btn-block mr-2 mb-2';
            },

            // Styling for retention buttons
            mileageButtonClass: function (id) {
                return this.localParameters.mileage_band_id == id ? 'btn btn-sm btn-secondary options-modal-btn-active btn-block mr-2 mb-2' : 'btn btn-sm btn-secondary options-modal-btn btn-block mr-2 mb-2';
            },


            /** TERRITORY FUNCTIONS */
            getSelectedTerritoryName(id) {
                let obj = this.selectedTerritoryObjects.find(function(x) { return x.id == id });
                // multicity
                if (this.localParameters.territory_type_id == 3) {
                    return obj.name + ', ' + obj.state_province_short_name;
                // multistate/province
                } else if (this.localParameters.territory_type_id == 4) {
                    return obj.name;
                }
            },

            assignTerritory(territory) {
                console.log('here');
                // initialize the territory list if it is null
                if (Common.isEmpty(this.localParameters.territory_list)) {
                    this.localParameters.territory_list = [];
                }
                this.localParameters.territory_list.push(territory.id);
                this.selectedTerritoryObjects.push(territory);

            },

            unassignTerritory(id) {
                this.selectedTerritoryObjects.splice(this.selectedTerritoryObjects.findIndex(x => x.id == id), 1);
                this.localParameters.territory_list.splice(this.localParameters.territory_list.indexOf(id), 1);
            }

        }
    }
</script>

<style lang="css">

</style>
