/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

TODO: a solution to the nav bar problem is to have a value in the store that states whether we v-show it
        if we go to this page update the store to hide it
        on destroy update the store again to show it

*/
<template lang="html">
    <div id="rateSelector">
        <!--todo potentially need container fluid, dunno yet-->
    <!--<div id="rateSelector" class="container-fluid">-->

        <section v-if="loaded_initial_data">

            <!-- TITLE, DOWNLOAD BUTTONS, OPTIONS MODAL -->
            <div class="row">
                <div class="col-sm-6">
                    <h2>Rate Selector</h2>
                </div>
                <div class="col-sm-6">
                    <ul class="float-right list-unstyled mb-0 mt-1">
                        <li class="float-left btn options-btn" v-if="fixedReimbursementData"
                            :class="{ 'opacity5': doc_type == 'excel' }">
                            <a href="#" @click.prevent="generatePdf" class="download-icon --pdf"
                               :disabled="downloading_doc">
                                <span v-if="doc_type == 'pdf'" class="fa fa-circle-o-notch fa-spin"></span>
                                <span v-else>
                                        <span class="download-icon-text">PDF</span>
                                        <i class="fa fa-file-o fa-2x"></i>
                                        <i class="fa fa-download"></i>
                                    </span>
                            </a>
                        </li>
                        <li class="float-left btn options-btn" v-if="fixedReimbursementData"
                            :class="{ 'opacity5': doc_type == 'pdf' }">
                            <a href="#" @click.prevent="generateExcel" class="download-icon --excel"
                               :disabled="downloading_doc">
                                <span v-if="doc_type == 'excel'" class="fa fa-circle-o-notch fa-spin"></span>
                                <span v-else>
                                        <span class="download-icon-text">EXCEL</span>
                                        <i class="fa fa-file-o fa-2x"></i>
                                        <i class="fa fa-download"></i>
                                    </span>

                            </a>
                        </li>
                        <li class="float-left btn options-btn pl-0">
                            <options-modal :parameters="parameters" :selected="selected_vehicle_category"/>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" placeholder="Company Name"
                               v-model="parameters.company_name">
                    </div>

                    <div class="form-group mb-4">
                        <city-zip-postal-autocomplete/>
                    </div>

                    <div class="mb-3" v-if="driverLocation.lat !== 37.0902 && driverLocation.lng !== -95.7129">
                        <h4>Super Category</h4>
                        <a href="#" class="btn btn-sm btn-secondary mr-2 mb-2"
                           v-for="(categories, super_category, index) in vehicles"
                           v-show="!(parameters.service_plan == 'FAVR' && super_category == 'Hybrids')"
                           @click.prevent="selectVehicleSuperCategory(super_category, $event)">{{ super_category }}</a>
                    </div>

                    <div class="mb-3 categories" v-if="selected_vehicle_super_category && vehicles">
                        <h4>Category</h4>
                        <a href="#" class="btn btn-sm btn-secondary mr-2 mb-2"
                           v-for="(vehicles, category, index) in vehicles[selected_vehicle_super_category]"
                           @click.prevent="selectVehicleCategory(category, $event)">{{ category }}</a>
                    </div>

                    <div class="mb-4" v-if="selected_vehicle_category && vehicles">
                        <h4>Vehicles {{ parameters.vehicle_year }}</h4>

                        <vehicle-select-list
                                v-if="vehicles && selected_vehicle_category"
                                :vehicles="vehicles[selected_vehicle_super_category][selected_vehicle_category]"
                                :plan="parameters.service_plan"
                                v-model="selectedVehicle"/>
                    </div>
                </div> <!-- col-sm-4 sidebar -->

                <div class="col-sm-8 content">
                    <!-- Map -->
                    <gmap-map style="width: 100%; height: 300px;"
                              :center="driverLocation"
                              :zoom="map_zoom"
                              :options="{styles: mapStyles.styles}"
                              class="mb-4">

                        <!-- create the marker only when zoom is 12, ie. we have retrieved real driver location
                        we utilize this condition as to ensure no flickering of the marker.-->
                        <gmap-marker v-if="map_zoom == 12"
                                     :position="driverLocation"
                                     :clickable="false"
                                     :draggable="false"></gmap-marker>
                    </gmap-map>

                     <!--REIMBURSEMENT RESULTS-->
                    <div class="row" v-if="fixedReimbursementData && variableReimbursementData">
                    <!--<div class="row"-->
                         <!--v-if="!_.isEmpty(selected_vehicle_category) && fixedReimbursementData && variableReimbursementData">-->
                        <div class="col-md-6">
                            <h4>
                                Fixed Rate:
                                <span class="float-right">
                                    ${{ roundNumber(fixedReimbursementData.fixed_reimbursement, 2) }}
                                </span>
                            </h4>
                            <ul class="list-group mb-5">
                                <li class="list-group-item" v-if="fixedReimbursementData.fixedReimbursementDetails.depreciation">
                                    <strong>{{ fixedReimbursementData.fixedReimbursementDetails.depreciation.title }}:</strong>
                                    <span class="float-right">${{ roundNumber(fixedReimbursementData.fixedReimbursementDetails.depreciation.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="fixedReimbursementData.fixedReimbursementDetails.tax">
                                    <strong>{{ fixedReimbursementData.fixedReimbursementDetails.tax.title }}:</strong>
                                    <span class="float-right">${{ roundNumber(fixedReimbursementData.fixedReimbursementDetails.tax.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="fixedReimbursementData.fixedReimbursementDetails.financeCost">
                                    <strong>{{ fixedReimbursementData.fixedReimbursementDetails.financeCost.title }}:</strong>
                                    <span class="float-right">${{ roundNumber(fixedReimbursementData.fixedReimbursementDetails.financeCost.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="fixedReimbursementData.fixedReimbursementDetails.insurance">
                                    <strong>{{ fixedReimbursementData.fixedReimbursementDetails.insurance.title }}:</strong>
                                    <span class="float-right">${{ roundNumber(fixedReimbursementData.fixedReimbursementDetails.insurance.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="fixedReimbursementData.fixedReimbursementDetails.feeRenewal">
                                    <strong>{{ fixedReimbursementData.fixedReimbursementDetails.feeRenewal.title }}:</strong>
                                    <span class="float-right">${{ roundNumber(fixedReimbursementData.fixedReimbursementDetails.feeRenewal.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" style="background: rgba(5, 36, 96, .1);">
                                    <strong>
                                        Total Fixed Costs:
                                        <span class="float-right">${{ roundNumber(fixedReimbursementData.fixed_reimbursement / (parameters.business_use_percent / 100), 2) }}</span>
                                    </strong>
                                </li>
                                <li class="list-group-item">
                                    <strong>Business Use Percent:</strong>
                                    <span class="float-right">
                                    {{ parameters.business_use_percent }} %
                                    </span>
                                </li>
                                <li class="list-group-item" style="background: rgba(5, 36, 96, .1);">
                                    <strong>
                                        Total Fixed Reimbursement:
                                        <span class="float-right">${{ roundNumber(fixedReimbursementData.fixed_reimbursement, 2) }}</span>
                                    </strong>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h4>
                                Variable Rate per {{ parameters.country_id == 1 ? 'mile' : 'km' }}:
                                <span class="float-right">
                                    &cent;{{ roundNumber(variableReimbursementData.variable_reimbursement, 2) }}
                                </span>
                            </h4>
                            <ul class="list-group mb-5">
                                <li class="list-group-item" v-if="variableReimbursementData.variableReimbursementDetails.fuelEconomy">
                                    <strong>{{ variableReimbursementData.variableReimbursementDetails.fuelEconomy.title }}:</strong>
                                    <span class="float-right">{{ roundNumber(variableReimbursementData.variableReimbursementDetails.fuelEconomy.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="variableReimbursementData.variableReimbursementDetails.fuelAverage">
                                    <strong>
                                        {{ variableReimbursementData.variableReimbursementDetails.fuelAverage.title }}:
                                        <!--Info Icon-->
                                        <fuel-info-icon style="margin-left: 0.25rem; display: inline;"
                                                        :fuel_month_id="parameters.fuel_month_id"
                                                        :fuel_year="parameters.fuel_year"
                                                        :record_count="variableReimbursementData.variableReimbursementDetails.fuelAverage.count"
                                                        :territory_type_id="parameters.territory_type_id"
                                                        :list_of_territory_names="variableReimbursementData.variableReimbursementDetails.fuelAverage.geo_list"/>
                                    </strong>
                                    <span class="float-right">{{ roundNumber(variableReimbursementData.variableReimbursementDetails.fuelAverage.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="variableReimbursementData.variableReimbursementDetails.fuelPrice">
                                    <strong>{{ variableReimbursementData.variableReimbursementDetails.fuelPrice.title }}:</strong>
                                    <span class="float-right">{{ roundNumber(variableReimbursementData.variableReimbursementDetails.fuelPrice.amount, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="variableReimbursementData.variableReimbursementDetails.maintenance">
                                    <strong>{{ variableReimbursementData.variableReimbursementDetails.maintenance.title }}:</strong>
                                    <span class="float-right">{{ roundNumber(variableReimbursementData.variableReimbursementDetails.maintenance.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" v-if="variableReimbursementData.variableReimbursementDetails.repair">
                                    <strong>{{ variableReimbursementData.variableReimbursementDetails.repair.title }}:</strong>
                                    <span class="float-right">{{ roundNumber(variableReimbursementData.variableReimbursementDetails.repair.amount_adj, 2) }}</span>
                                </li>
                                <li class="list-group-item" style="background: rgba(5, 36, 96, .1);">
                                    <strong>Variable Rate per {{ parameters.country_id == 1 ? 'mile' : 'kilometer' }}:
                                        <span class="float-right">&cent;{{ roundNumber(variableReimbursementData.variable_reimbursement, 2) }}</span>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div><!--.row-->

                    <div class="row" v-if="fixedReimbursementData && variableReimbursementData">
                    <!--<div class="row"-->
                         <!--v-if="!_.isEmpty(selected_vehicle_category) && fixedReimbursementData && variableReimbursementData">-->
                        <div class="col-md-6">
                            <h4>Driver Location:</h4>
                            <ul class="list-group mb-5">
                                <li class="list-group-item" v-if="parameters.company_name">
                                    <strong>Company:</strong>
                                    <span class="float-right">{{ parameters.company_name }}</span>
                                </li>
                                <li class="list-group-item"><strong>City:</strong>
                                    <span class="float-right">{{ parameters.city }}</span>
                                </li>
                                <li class="list-group-item"><strong>State:</strong>
                                    <span class="float-right">{{ parameters.state_province_abbreviation }}</span>
                                </li>
                                <li class="list-group-item"><strong>Zip/Postal Code:</strong>
                                    <span class="float-right">{{ parameters.zip_postal_code }}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h4>Vehicle Profile:</h4>
                            <div class="card mb-5" style="width: 100%;" v-if="selectedVehicle">
                                <div class="card-body">
                                    <p class="card-title">{{ vehicle_long_name }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Category:</strong>
                                        <span class="float-right">{{ selected_vehicle_category }} </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Business Use Percentage:</strong>
                                        <span class="float-right"> {{ parameters.business_use_percent }} </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Capital Cost Selection:</strong>
                                        <span class="float-right"> {{ parameters.capital_cost }}</span></li>
                                    <li class="list-group-item">
                                        <strong>Resale Selection:</strong>
                                        <span class="float-right"> {{ parameters.resale_condition_id | get_resale_condition }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--.row-->



                </div><!--col-sm-8-->


            </div>





        </section>
        <section v-show="!loaded_initial_data">
            <loading-partial></loading-partial>
        </section>

    </div>
</template>

<script>

    import {
        CityZipPostalAutocomplete,
        FuelInfoIcon,
        MapStyles,
        VehicleSelectList,
        OptionsModal
    } from '.';
    import {LoadingPartial} from '../partials';
    import {Errors} from '../../utilities';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import moment from 'moment';

    export default {
        props: [],

        components: {
            CityZipPostalAutocomplete, FuelInfoIcon,
            VehicleSelectList, OptionsModal, LoadingPartial
        },

        data() {
            return {
                /** LOADING AND CALCULATING */
                loaded_initial_data: false,
                loaded: false,
                downloading_doc: false,
                doc_type: '',
                calculating: null,

                /** RATE SELECTOR PARAMETERS */
                parameters: null,

                /** VEHICLES */
                vehicles: null,
                selectedVehicle: null,
                selected_vehicle_super_category: null,
                selected_vehicle_category: null,
                previousCat: null,


                /** REIMBURSEMENT DATA */
                show_reimbursement_details: false,
                fixedReimbursementData: null,
                variableReimbursementData: null,
                fixed_reimbursement: null,
                variable_reimbursement: null,
                calculationResult: null,

                /** GOOGLE MAP */
                driverLocation: {
                    lat: 37.0902,
                    lng: -95.7129
                },
                map_zoom: 3,
                mapStyles: new MapStyles,


                /** ERRORS */
                rateSelectorErrors: new Errors,

            };
        },

        created() {
            // load the initial parameters
            axios.get('/getRateSelectorDefaultParameters').then( response => {

                this.parameters = response.data;

                // by default set current year to the most recent calendar year for which we have vehicles
                axios.get('/getVehiclesYearRange').then( response => {
                    this.parameters.vehicle_year = response.data.max_year;
                });

                // initialize fuel year and month
                this.parameters.fuel_year = moment().year();

                // with moment, months start at 0. this is in fact the PREVIOUS MONTH
                this.parameters.fuel_month_id = moment().month();

                // if we are in january, the previous month with full fuel prices is dec last year
                if (this.parameters.fuel_month_id == 0) {
                    this.parameters.fuel_year -= 1;
                    this.parameters.fuel_month_id = 12;
                }

                this.parameters.company_name = '';
                this.parameters.driver_name = '';

                // we have loaded initial data
                this.loaded_initial_data = true;
            });

            let self = this;
            // davery
            $('html').click(function (e) {
                // console.log(e.target);

                // Active Vehicle Item
                if ($(e.target).hasClass('vehicle-item')) {
                    $(e.target).addClass('activeLink').parent().siblings().children('a').removeClass('activeLink');
                }

                // Options Modal Accordion Buttons
                if ($(e.target).hasClass('btn-link')) {
                    if ($(e.target).hasClass('rotateAccordionArrowUp')) {
                        $(e.target).removeClass('rotateAccordionArrowUp');
                    } else {
                        $(e.target).addClass('rotateAccordionArrowUp').parent().parent().parent().siblings().children('.card-header').children('h5').children().removeClass('rotateAccordionArrowUp');
                    }
                }

                if (self.getInternetExplorerVersion() >= 10 && this.show_options_modal && $(e.target).hasClass('md-button')) {

                    let tab = $(e.target).text().trim();
                    self.getAndAdjustTabContainerInOptionsDialogForIE(tab);
                }

                if ($(e.target).hasClass('md-overlay')) {
                    $('html').removeClass('no-scroll-body');
                }
                if ($(e.target).hasClass('md-overlay') && $(e.target).find('#options-dialog')) {
                    self.calculateReimbursement();
                }
                if ($(e.target).hasClass('close-options-dialog') || $(e.target).parent().hasClass
                ('close-options-dialog') || $(e.target).parent().parent().hasClass
                ('close-options-dialog')) {
                    $('html').removeClass('no-scroll-body');
                    self.show_options_modal = false;
                    // recalculate when the modal is closed only if there is a selected vehicle cost id,
                    // calculation has already been performed once
                    // and there are no errors
                    if (self.parameters.vehicle_id && !self.rateSelectorErrors.any() && self.calculating != false) {
                        self.calculateReimbursement();
                    }
                }
                if ($(e.target).hasClass('close-vehicle-dialog') || $(e.target).parent().hasClass
                ('close-vehicle-dialog') || $(e.target).parent().parent().hasClass
                ('close-vehicle-dialog') || $(e.target).parent().parent().parent().hasClass
                ('close-vehicle-dialog')) {
                    $('html').removeClass('no-scroll-body');
                    self.show_vehicle_select_modal = false;
                    // recalculate when the modal is closed only if there is a selected vehicle cost id,
                    // calculation has already been performed once
                    // and there are no errors
                    if (self.parameters.vehicle_id && !self.rateSelectorErrors.any() && self.calculating != false) {
                        self.calculateReimbursement();
                    }
                }

                // Options Dialog Accordions - davery
                if ($(e.target).hasClass('card-header-title') || $(e.target).hasClass('card-header-icon')) {
                    $(e.target).parent().siblings().toggleClass('is-hidden');
                }
                if ($(e.target).parent().hasClass('card-header-icon')) {
                    $(e.target).parent().parent().siblings().toggleClass('is-hidden');
                }
            });

            // register event listener to update parameters
            // whenever there are changes saved to parameters in the options modal, we set the parameters
            // equal to those updated parameters
            // if all parameters are set, and there are no errors, the parameters watcher will recalculate reimbursement
            EventBus.$on('rate-selector-parameters-changed', this.updateParameters);

            this.$on('got-geo-data-from-city-zip-postal-autocomplete', function (obj) {
                this.parameters.country_id = obj.country_id;
                this.parameters.state_province_id = obj.state_province_id;
                this.parameters.state_province_abbreviation = obj.state_province_abbreviation,
                this.parameters.city = obj.city;
                this.parameters.zip_postal_code = obj.zip_postal_code;
                this.driverLocation.lat = obj.latitude;
                this.driverLocation.lng = obj.longitude;
                this.map_zoom = 12;
            });

        },

        destroyed() {

        },

        mounted() {
            if (this.getInternetExplorerVersion() >= 10) {
                setTimeout(() => {
                    this.$refs.us.src = '/img/Flag_of_the_United_States_grayscale.svg';
                    this.$refs.canada.src = '/img/Flag_of_Canada_grayscale.svg';
                }, 500);
            }
        },

        computed: {
            ...mapGetters([

            ]),

            vehicle_long_name() {
                return this.parameters.vehicle_year + ' ' + this.selectedVehicle.name + ' trim level ' + this.selectedVehicle.rank;
            },

        },

        filters: {
            capitalize(value) {
                if (!value) return '';
                value = value.toString();
                return value.charAt(0).toUpperCase() + value.slice(1);
            },

            get_resale_condition(id) {
                return Common.getResaleCondition(id);
            }
        },


        watch: {

            /**
             * Whenever the parameters are changed, we clear the error associated with the
             * changed field
             *
             * if all is set and there are no errors, we recalculate reimbursement
             */
            'parameters': {
                handler: function (newParameters, oldParameters) {
                    console.log('parameters watcher');
                    if (!_.isEmpty(oldParameters)) {
                        this.validateParameters();
                    }

                    if (this.checkAllCalculatorParametersSet() && !this.rateSelectorErrors.any()) {
                        this.calculateReimbursement();
                    }
                },
                deep: true,
            },

            /**
             * Get vehicles when year changes
             */
            'parameters.vehicle_year': {
                handler: function (newVal, oldVal) {
                    if (!newVal || newVal == oldVal || !this.parameters.service_plan) {
                        return;
                    }

                    let self = this;

                    axios.post('getVehiclesBySuperCategories', {
                        favr: this.parameters.service_plan === 'FAVR' ? 1 : 0,
                        year: newVal,
                        key_by_category: true,
                    }).then(function (response) {
                        self.vehicles = response.data.vehicles;
                        self.selected_vehicle_category = null;
                        self.selected_vehicle_super_category = null;
                        self.parameters.vehicle_id = null;
                    });
                },
                deep: true,
            },

            /**
             * Get vehicles when plan changes
             */
            'parameters.service_plan': {
                handler: function (newVal, oldVal) {
                    if (!newVal || newVal == oldVal || !this.parameters.vehicle_year) {
                        console.log('breaking service plan watcher');
                        return;
                    }

                    console.log('about to call get vehicles');
                    let self = this;

                    axios.post('getVehiclesBySuperCategories', {
                        favr: newVal === 'FAVR' ? 1 : 0,
                        year: this.parameters.vehicle_year,
                        key_by_category: true,
                    }).then(function (response) {
                        self.vehicles = response.data.vehicles;
                        self.selected_vehicle_category = null;
                        self.selected_vehicle_super_category = null;
                        self.parameters.vehicle_id = null;
                    });
                },
                deep: true,
            },

            'selectedVehicle': {
                handler: function (vehicle) {
                    this.parameters.vehicle_id = vehicle.id;
                },
                deep: true,
            },

            /**
             * When a vehicle is selected, calculate that reimbursement
             */
            'parameters.vehicle_id': {
                handler: function (val) {
                    console.log('WATCHING VEHICLE_ID')
                    console.log(this.checkAllCalculatorParametersSet())
                    if (this.checkAllCalculatorParametersSet()) {
                        this.calculateReimbursement();
                    }

                },
                deep: true,
            },

            /**
             * When country id is changed, update the plan appropriately and reset state_province_id and city
             */
            'parameters.country_id': {
                handler: function (newVal, oldVal) {
                    if (newVal == oldVal) {
                        return;
                    }

                    this.parameters.service_plan = newVal === 1 ? 'FAVR' : 'Canada';
                    // davery
                    if (this.parameters.service_plan === 'FAVR') {
                        this.parameters.business_use_percent = 75;
                    } else {
                        this.parameters.business_use_percent = 71.4;
                    }
                    // console.log(this.parameters.plan, this.parameters.business_use_percent)
                },
                deep: true,
            },

        },

        methods: {
            changeCountryFlag: function (countryId) {
                var us = '/images/Flag_of_the_United_States';
                var canada = '/images/Flag_of_Canada';
                if (countryId === 1) {
                    this.$refs.us.src = us + '.svg';
                    this.$refs.canada.src = canada + '_grayscale.svg';
                } else {
                    this.$refs.us.src = us + '_grayscale.svg';
                    this.$refs.canada.src = canada + '.svg';
                }
            },

            // Get Internet Explorer Version - Start
            getInternetExplorerVersion: function () {
                var rv = -1;
                if (navigator.appName == 'Microsoft Internet Explorer') {
                    var ua = navigator.userAgent;
                    var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                    if (re.exec(ua) != null)
                        rv = parseFloat(RegExp.$1);
                }
                else if (navigator.appName == 'Netscape') {
                    var ua = navigator.userAgent;
                    var re = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})");
                    if (re.exec(ua) != null)
                        rv = parseFloat(RegExp.$1);
                }
                return rv;
            },

            // davery
            addNoScrollToBody: function () {
                if (this.show_options_modal === true || this.show_vehicle_select_modal === true) {
                    $('html').addClass('no-scroll-body');
                }
            },


            //** VEHICLE FUNCTIONS ---------------------------------------------------------------------------------- */

            /**
             * Selects a vehicle super category
             *
             * Resets any selected sub category
             */
            selectVehicleSuperCategory: function (super_category, event) {
                $(event.target).removeClass('opacity5').addClass('activeLink').siblings('a').removeClass('activeLink').addClass('opacity5');
                $(event.target).parent().siblings('.categories').children('a').removeClass('activeLink opacity5');

                this.selected_vehicle_super_category = super_category;
                this.selected_vehicle_category = null;
            },


            /**
             * Triggered by general click on vehicle category card
             *
             * Selects the category, and updates the selected vehicle to the default for that category
             */
            selectVehicleCategory: function (category, event) {
                $(event.target).removeClass('opacity5').addClass('activeLink').siblings('a').removeClass('activeLink').addClass('opacity5');
                setTimeout(function () {
                    $(event.target).parent().next().children().children().children().children().children('a.activeLink').removeClass('activeLink');
                }, 20);

                // prevent selecting card category again after modal/dialog selection - davery
                if (this.selected_vehicle_category === category) return;

                this.selected_vehicle_category = category;
            },


            //** Reimbursement Functions ---------------------------------------------------------------------------- */

            calculateReimbursement: function () {
                this.calculating = true;
                let self = this;
                axios.post('/calculateReimbursementForRateSelector', {
                    parameters: this.parameters,
                    driverLocation: this.driverLocation,
                }).then(function (response) {
                    console.log(response.data);
                    self.fixedReimbursementData = response.data.fixedReimbursementData;
                    self.variableReimbursementData = response.data.variableReimbursementData;
                    self.calculating = false;
                }).catch(function (errors) {
                    self.rateSelectorErrors.errors = errors.response.data.errors;
                    self.$forceUpdate();
                });
            },

            //** File Generation ------------------------------------------------------------------------------------ */
            generateExcel: function () {
                let self = this;
                if (!self.downloading_doc) {
                    self.doc_type = 'excel';
                    self.downloading_doc = true;
                    axios.post('/api/reimbursement_calculator_controller.php', {
                            function: 'generateExcel',
                            parameters: this.parameters,
                            fixedData: this.fixedReimbursementData,
                            variableData: this.variableReimbursementData,
                        }
                    ).then(function (response) {
                        var file_path = '/online/tmp/' + response.data.file_name;
                        var b = document.createElement('A');
                        b.href = file_path;
                        b.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                        document.body.appendChild(b);
                        b.click();
                        document.body.removeChild(b);
                        self.downloading_doc = false;
                        self.doc_type = '';
                    });
                }
            },

            generatePdf() {
                let self = this;
                if (!self.downloading_doc) {
                    self.doc_type = 'pdf';
                    self.downloading_doc = true;
                    axios.post('/generateRateSelectorPdf', {
                        parameters: this.parameters,
                        vehicle_category: this.selected_vehicle_category,
                        vehicle: this.selectedVehicle,
                        fixedReimbursementData: this.fixedReimbursementData,
                        variableReimbursementData: this.variableReimbursementData
                    }).then(function (response) {
                        let path_to_file = '/storage/tmp/' + response.data.file_name;
                        let a = document.createElement('A');
                        a.href = path_to_file;
                        a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        self.downloading_doc = false;
                        self.doc_type = '';
                    });
                }
            },


            //** ERROR HANDLING --------------------------------------------------------------------------------------*/

            /**
             * Validate all paramters and add errors to rateSelectorErrors if they arise
             */
            validateParameters: function () {

                for (const key in this.parameters) {
                    let value = this.parameters[key];
                    switch (key) {
                        case 'business_use_percent':
                            if ((0 < value && value <= 100) && value != null) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Business use percent must be between 1 and 100']);
                            }
                            break;
                        case 'capital_cost':
                            if (value == 'invoice' || value == 'msrp' || value == 'blue_book') {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Capital cost type is required']);
                            }
                            break;
                        case 'city':
                            if (!_.isEmpty(value)) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['A city is required']);
                            }
                            break;
                        case 'company_name':
                            //TODO: discuss company name errors
                            if (true) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key);
                            }
                            break;

                        case 'country_id':
                            if (1 <= value && value <= 2) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Please select a country']);
                            }
                            break;

                        case 'driver_name':
                            //TODO: discuss driver name errors
                            if (true) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key);
                            }
                            break;

                        case 'mileage':
                            if (1 <= value && value <= 11) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Please select a mileage band']);
                            }
                            break;

                        case 'month':
                            if (1 <= value && value <= 12) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['A month is required']);
                            }
                            break;

                        case 'multicity':
                            if (this.parameters.territory == 'multicity') {

                                if (!_.isEmpty(value)) {
                                    this.rateSelectorErrors.clear(key);
                                } else if (this.parameters.country_id < 1) {
                                    this.rateSelectorErrors.add(key, ['You must select a country']);
                                } else {
                                    this.rateSelectorErrors.add(key, ['Invalid multicity selection']);
                                }
                            }
                            break;

                        case 'multistate':
                            if (this.parameters.territory == 'multistate') {
                                if (!_.isEmpty(value)) {
                                    this.rateSelectorErrors.clear(key);
                                } else if (this.parameters.country_id < 1) {
                                    this.rateSelectorErrors.add(key, ['You must select a country']);
                                } else {
                                    this.rateSelectorErrors.add(key, ['Invalid multistate selection']);
                                }
                            }
                            break;

                        case 'service_plan':
                            if (['FAVR', '463', 'Consulting', 'Canada'].includes(value)) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['A plan is required']);
                            }
                            break;

                        case 'retention':
                            if (2 <= value && value <= 6) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Retention must be between 2 and 6 years']);
                            }
                            break;

                        case 'territory':
                            if (!_.isEmpty(value)) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Invalid territory selection']);
                            }
                            break;

                        case 'value_condition':
                            if (!_.isEmpty(value)) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Invalid value condition']);
                            }
                            break;

                        case 'vehicle_year':
                            if (value) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['A vehicle year is required']);
                            }
                            break;
                        case 'capital_cost_adj':
                        case 'capital_cost_tax_adj':
                        case 'depreciation_adj':
                        case 'fee_renewal_adj':
                        case 'finance_cost_adj':
                        case 'fuel_economy_adj':
                        case 'fuel_price_adj':
                        case 'insurance_adj':
                        case 'maintenance_adj':
                        case 'monthly_payment_adj':
                        case 'repair_adj':
                        case 'resale_value_adj':
                            if (-100 <= value && value <= 100 && value != null) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Value must be between -100 and 100']);
                            }
                            break;
                        case 'fixed_adj':
                        case 'variable_adj':
                            if (0 <= value && value <= 10000 && value != null) {
                                this.rateSelectorErrors.clear(key);
                            } else {
                                this.rateSelectorErrors.add(key, ['Value must be between 0 and 10000']);
                            }
                            break;
                    }
                }
                this.$forceUpdate();
            },

            /**
             * All parameters set is a computed property used to check whether the calculate reimbursement button
             * can be clicked
             */
            checkAllCalculatorParametersSet() {
                console.log('checking all parameters set');
                if (   Common.isEmpty(this.parameters)
                    || Common.isEmpty(this.parameters.city)
                    || Common.isEmpty(this.parameters.state_province_id)
                    || Common.isEmpty(this.parameters.zip_postal_code)
                    || Common.isEmpty(this.parameters.vehicle_id)
                    || this.rateSelectorErrors.any() ) {
                    return false;
                }

                console.log('set');
                return true;
            },

            getAndAdjustTabContainerInOptionsDialogForIE: function (tab) {
                // console.log(typeof tab.trim());
                /*if (tab === 'Mileage Band') {
                 $('#options-dialog .md-tabs-container').addClass('mileage-band-tab');
                 }*/
                switch (tab) {
                    case 'Plan':
                        $('#options-dialog .md-tabs-container').addClass('plan-tab').removeClass('mileage-band-tab retention-tab model-year-tab adjustments-tab');
                        break;
                    case 'Mileage Band':
                        $('#options-dialog .md-tabs-container').addClass('mileage-band-tab').removeClass('plan-tab retention-tab model-year-tab adjustments-tab');
                        break;
                    case 'Retention':
                        $('#options-dialog .md-tabs-container').addClass('retention-tab').removeClass('mileage-band-tab plan-tab model-year-tab adjustments-tab');
                        break;
                    case 'Model Year':
                        $('#options-dialog .md-tabs-container').addClass('model-year-tab').removeClass('mileage-band-tab retention-tab plan-tab adjustments-tab');
                        break;
                    case 'Adjustments':
                        $('#options-dialog .md-tabs-container').addClass('adjustments-tab').removeClass('mileage-band-tab retention-tab model-year-tab plan-tab');
                        break;
                }
            },

            // davery
            reloadPage: function () {
                $("a.scrollactive-item.driverLocationIcon").click(function (e) {
                    e.target.click();
                });
                $("a.scrollactive-item.driverLocationIcon").trigger("click");

                setTimeout(function () {
                    window.location.reload();
                }, 800);
            },

            updateParameters(params) {
                console.log('rate selector parameters change event triggered');
                this.parameters = _.cloneDeep(params);
                // this.calculateReimbursement();
            },


            //** UTILITY FUNCTIONS -----------------------------------------------------------------------------------*/
            /**
             * Rounds numbers to a specified precision
             */
            roundNumber: function (number, precision) {
                return number.toFixed(precision);
            },

        }
    };
</script>

<style lang="css">

</style>