/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="">
        AYAYAYAYAYAY
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {},

        data() {
            return {

            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([

            ])
        },

        watch: {

        },

        methods: {}
    };
</script>

<style lang="css">

</style>