/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="vehicleSelectList">
        <div v-show="vehicles">
            <ul class="list-group list-group-flush vehicle-list">
                <li v-if="vehicles" class="list-group-item p-0" v-for="vehicle in vehicles" :key="vehicle.id">
                    <div @click="selected_vehicle = vehicle" :class="{'list-group-item': true, 'activeLink': vehicle.id == selected_vehicle.id}">
                        <span>{{ vehicle.name }} trim level {{ vehicle.rank }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['vehicles', 'plan', 'value'],

        components: {},

        data() {
            return{
                selected_vehicle: {},
            }
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        watch: {

            selected_vehicle: function(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },

            'vehicles': {
                handler: function(newVal, oldVal) {
                    console.log('new vehicles');
                    console.log(newVal);
                    if (!_.isEmpty(newVal) && !_.isEqual(newVal, oldVal)) {
                        this.selectDefaultVehicle();
                    }
                },
                deep: true,
                immediate: true,
            },

        },

        methods: {

            selectDefaultVehicle() {
                // set the regular expression based on whether we are favr (2) or not
                let regex = this.plan == 2 ? /^(?=.*\bblended\b)(?=.*\bFAVR\b).*$/ : /^(?=.*\bblended\b).*$/;

                let found = false;

                // loop through all vehicles, check trim level and whether blended / blended favr
                for (let i = 0; i < this.vehicles.length; i++) {

                    let trim_level = this.vehicles[i].rank;

                    // if the vehicle is rank 2 or 1, check if it is a blended vehicle
                    if (trim_level == 2 || trim_level == 1) {

                        if (this.vehicles[i].name.search(regex) != -1) {

                            // given we have met the above conditions, update the vehicle cost id
                            this.selected_vehicle = this.vehicles[i];

                            // if we have found a vehicle matching the conditions which has trim level 2 we exit early.
                            // otherwise when the entire function concludes we will have selected trim level 1
                            if (trim_level == 2) {
                                found = true;
                                break;
                            }
                        }
                    }
                }

                if (found) { return; }

                // if nothing is found, just select the first vehicle in the category
                this.selected_vehicle = this.vehicles[0];

            },
        },
    }
</script>

<style lang="css">

</style>
