/**
Requires:
- driver_id: used from ShowUserPage to attach note on specific driver
- company_id: will allow driver notes to show from company object

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div :class="{'modal':true, 'is-active':show_me}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add Note for <span v-if="driver_name">{{ driver_name }}</span></p>
                <button class="delete" aria-label="close" @click="show_me = false"></button>
            </header>
            <section class="modal-card-body">

                <div v-if="!note_successful" :class="{'form-group':true, 'has-error':my_errors.has('note_title')}">
                    <label>Note Title:</label>
                    <input type="text" v-model="note_title" class="form-control">
                    <span class="help-block" v-if="my_errors.has('note_title')">{{ my_errors.get('note_title') }}</span>
                </div>

                <div v-if="!note_successful" :class="{'form-group':true, 'has-error':my_errors.has('note_text')}">
                    <label>Note Text:</label>
                    <textarea rows="4" cols="30" v-model="note_text" class="form-control"></textarea>
                    <span class="help-block" v-if="my_errors.has('note_text')">{{ my_errors.get('note_text') }}</span>
                </div>

                <div v-if="note_successful" class="notification text-center">
                    <p>Your note was successfully added.</p>
                    <button class="btn btn-secondary" @click="show_me = false">Close</button>
                </div>

            </section>
            <footer class="modal-card-foot">
                <div v-if="!note_successful">
                    <button class="btn btn-success" @click="addNote">Add this note</button>
                    <button class="btn" @click="show_me = false">Cancel</button>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>

    import {Errors} from "../../utilities";
    import {Note} from "../../models";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['driver_name', 'caller_id'],

        data() {
            return {
                show_me: false,
                my_caller_id: 'AddNoteModal',
                my_errors: new Errors(),
                use_company: false,
                use_driver: false,
                note: Note,
                note_title: '',
                note_text: '',
                note_successful: false
            };
        },

        created() {
            Common.listen('show-add-note', this.showMe);

            EventBus.$on('company-changed', () => {
                this.note.company_id = this.getSessionCompanyId;
            });

            EventBus.$on('driver-changed', () => {
                this.note.driver_id = this.getSessionDriverId;
            });

            this.note.user_id = this.getUserId;
            this.note.driver_id = this.getSessionDriverId;
            this.note.company_id = this.getSessionCompanyId;
            this.note.category_id = 3; // Driver Note
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionDriverId',
                'getSessionCompanyId'
            ])
        },

        watch: {


            note_text: function (val) {
                if (!Common.isEmpty(val)) {
                    this.my_errors.clear('note_text');
                }
            },

            note_title: function (val) {
                if (!Common.isEmpty(val)) {
                    this.my_errors.clear('note_title');
                }
            },

            driver_name: function (val) {
            }
        },

        methods: {
            showMe(caller_id) {
                if (caller_id == this.caller_id) {
                    this.show_me = true;
                }
            },

            addNote() {
                this.note.content = this.note_text;
                if (Common.isEmpty(this.note_text)) {
                    this.my_errors.add('note_text', ["You haven't added any content to your note"]);
                    this.$forceUpdate();
                }

                this.note.title = this.note_title;
                if (Common.isEmpty(this.note_title)) {
                    this.my_errors.add('note_title', ["Please give your note a title"]);
                    this.$forceUpdate();
                }

                if (!this.my_errors.any()) {
                    // console.log('adding this note');
                    // console.log(this.note);

                    axios.post('/addNewNote', this.note).then(response => {
                        this.note_successful = response.data.success;
                    });
                }
                else {
                    // console.log('Clear my_errors please');
                }
            }
        }
    };

</script>

<style lang="css">

</style>