/**
Requires:

Optional:
declaration - a declaration record

Getters:

Setters:

Listeners:

Emitters:

Notes:
Either read-only or editable
Only editable by driver in the current year

*/
<template lang="html">
    <div id="annualDeclarationModal">

        <button class="btn btn-primary btn-sm btn-block mt-1"
                style="font-size: 14px;"
                @click="show_modal = !show_modal">
            {{ buttonDisplayName }}
        </button>

        <section v-if="loaded == true">
            <div :class="{'modal':true, 'is-active':show_modal}">

                <div class="modal-background"></div>

                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title"></p>
                        <button class="delete" aria-label="close" @click="show_modal = false"></button>
                    </header>

                    <section id="annualDeclarationModalCard" name="annualDeclarationModalCard" class="modal-card-body">
                        <p class="title">Annual IRS Non-Taxable FAVR Compliance Declaration</p>
                        <!-- // TODO: add link to redirect to add vehicle page-->
                        <strong v-if="declaration == null">
                            If you wish to enter a new vehicle into the program, please proceed to the Add Vehicle Page.
                            <br>
                            Following that, you may complete the declaration for your new vehicle.
                        </strong>

                        <br>
                        <br>
                        <section id="personalVehicleInformation">
                            <div class="columns">

                                <div class="column is-4">Make:</div>
                                <div class="column is-4">{{ personalVehicle.make_name }}</div>
                                <div class="column is-4"></div>

                            </div>
                            <div class="columns">

                                <div class="column is-4">Model:</div>
                                <div class="column is-4">{{ personalVehicle.model_name }}</div>
                                <div class="column is-4"></div>

                            </div>
                            <div class="columns">

                                <div class="column is-4">Year:</div>
                                <div class="column is-4">{{ personalVehicle.year }}</div>
                                <div class="column is-4">Minimum year: {{ minimum_vehicle_year }}</div>

                            </div>
                            <div class="columns">

                                <div class="column is-8">
                                    <div :class="{'form-group': true, 'has-error':errors.has('odometer')}">
                                        <label>Current Odometer</label>

                                        <input type="text"
                                               name="odometer"
                                               class="form-control"
                                               :disabled="getImpersonatorId > 0 || declaration != null"
                                               v-model="odometer">

                                        <span class="help-block" v-if="errors.has('odometer')">{{ errors.get('odometer') }}</span>
                                    </div>

                                </div>
                                <div class="column is-4"></div>

                            </div>
                        </section>
                    </section>

                    <footer class="modal-card-foot">
                        <button class="btn btn-success"
                                @click="declareOdometer"
                                :disabled="errors.any() || getImpersonatorId > 0 || odometer == '' || odometer == null
                                            || declaration != null">
                            Declare Odometer
                        </button>
                    </footer>

                </div>

            </div>
        </section>
    </div>
</template>

<script>
    import moment from 'moment';
    import {Errors} from "../../utilities/index";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';

    export default {

        props: ['declaration', 'caller_id'],

        components: {},

        data() {
            return {
                show_modal: false,
                odometer: null,
                personalVehicle: null,
                minimum_vehicle_year: null,
                errors: new Errors,
                loaded: false,
            };
        },


        /**
         * If there is no declaration, get the driver's current personal vehicle
         * and also the minimum year for compliance with the program (based on their vehicle profile)
         */
        created() {
            if (this.declaration == null) {
                axios.get('/getPersonalVehicle/' + this.getDriverPersonalVehicleId).then(response => {

                    this.personalVehicle = response.data.personalVehicle;
                    Common.fire(this.caller_id + '-loaded', 'AnnualDeclaration');
                    this.loaded = true;
                });

                axios.get('/getDriverVehicleProfile').then(response => {
                    this.minimum_vehicle_year = moment().year() - response.data.vehicle.retention;
                });
            }
        },

        mounted() {
            // console.log('modal mounted subview: ',this.getSubView)
            /*EventBus.$on('openModalAnnualDeclarationModal', () => {
                console.log('davery openModalAnnualDeclarationModal')
                this.show_modal = true;
                this.$forceUpdate()
            });*/
            if (this.getSubView === 'openModalAnnualDeclarationModal') {
                this.show_modal = true;
                Common.setSubView(null);
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getDriverPersonalVehicleId',
                'getImpersonatorId',
                'getSubView',
            ]),

            buttonDisplayName: function () {
                if (this.declaration == null) {
                    return 'Complete Now';
                } else {
                    return 'View';
                }
            }
        },

        watch: {
            // getSubView: function (val) {
                /*console.log('hit getSubView watch',val)
                if (val === 'openModalAnnualDeclarationModal') {
                    this.show_modal = true;
                    Common.setSubView(null);
                }*/
            // },

            declaration: {
                handler: function (val) {
                    if (val != null) {
                        axios.get('/getPersonalVehicle/' + val.personal_vehicle_id).then(response => {
                            this.personalVehicle = response.data.personalVehicle;
                            EventBus.$emit(this.caller_id + '-loaded', 'annualDeclaration');
                            this.loaded = true;
                        });

                        this.minimum_vehicle_year = val.minimum_vehicle_year;
                        this.odometer = val.odometer;
                    }
                },
                immediate: true,
            },

            // odometer validation
            odometer: {
                handler: function (val) {
                    if (val < 1) {
                        this.errors.add('odometer', ['Odometer must be greater than 0']);
                    } else if (val.search(/^[0-9]+$/) == -1) {
                        this.errors.add('odometer', ['Odometer must contain numbers only']);
                    } else {
                        this.errors.clear('odometer');
                    }
                }
            },

        },

        methods: {

            declareOdometer() {
                axios.post('/addAnnualIrsOdometerDeclaration/' + this.odometer).then(response => {
                    EventBus.$emit(this.caller_id + '-completed', 'annualDeclaration');
                    this.show_modal = false;
                });
            }
        }
    };
</script>

<style lang="css">
    #annualDeclarationModal {
        color: black;
    }

</style>