/**
Requires:
personal_vehicle_id

Optional:
impersonate

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div v-if="!declaration" id="annualDeclarationPendingTask">
        <div class="box pending-task p-2" style="border-color:#810911; ">
            <i class="fas fa-exclamation-triangle mr-1" style="color:#810911"></i>

            <span style="font-size: 14px;">Action Required - Please Complete an Annual IRS Odometer Declaration</span>

            <button class="btn btn-primary btn-block mt-2 btn-sm"
                    :disabled="getImpersonatorId > 0"
                    @click="linkToDriverProfilePage()">
                <span>Link to Profile Page</span>
            </button>
        </div>
    </div>
</template>

<script>

    import {AnnualDeclarationModal} from "./index";
    import {mapGetters} from 'vuex'
    import {EventBus} from "../../event-bus.js";

    export default {

        props: ['caller_id'],

        components: {AnnualDeclarationModal},

        data() {
            return {
                // initialized to -1 as return value may be null, and don't want an item to flash on the screen
                // declaration: -1, // changed because could not be tested in the v-if statement above
                declaration: null, // an object is being returned so this should be init as null not an integer???
                // odometer_declared: null, // removed as unsure the purpose - davery
            }
        },

        created() {
            /**
             *   Returns a declaration or null
             *   Tells parent that the declaration is loaded (stopping loading icon on pending tasks component)
             */
            axios.get('/getAnnualIrsOdometerDeclarationForCurrentYear').then(response => {
                if(response.data.declaration != null) {
                    // console.log('response.data.declaration: ',response.data.declaration); // davery
                    this.declaration = response.data.declaration;
                }
                // console.log('declaration: ',this.declaration); // davery
                EventBus.$emit(this.caller_id + '-loaded', 'annualDeclaration')
            })
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getImpersonatorId',
            ])
        },

        destroyed() {

        },

        watch: {
            declaration: function(val) {
                // console.log('declaration changed in watch',val); // davery
                // val = -1; // davery - for testing
                if ( !Common.isEmpty(val) ) {
                    EventBus.$emit(this.caller_id + '-completed', 'annualDeclaration')
                } else {
                    // console.log('::AnnualDeclarationPendingTask.vue > No annualDeclaration')
                }
            }
        },

        methods: {
            linkToDriverProfilePage () {
                // EventBus.$emit('openModalAnnualDeclarationModal');
                // Common.setView('driverProfile');
                Common.setView('driverProfile', 'openModalAnnualDeclarationModal');
            },
        }
    }
</script>

<style lang="css">

</style>