/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="annualDeclarationTile" class="box">
        <p class="title">Annual IRS Odometer Declarations</p>
        <strong>An annual declaration is required for non-taxable reimbursement under IRS FAVR regulations</strong>
        <br>
        <br>

        <!--<annual-declaration-pending-task :caller_id="caller_id"/>-->

        <annual-declaration-modal :caller_id="caller_id"/>

        <div v-if="loaded == true">
            <div v-if="declarations.length > 0" v-for="declaration in declarations"
                 class="columns">
                <div class="column is-6">
                    <annual-declaration-modal :declaration="declaration" :caller_id="caller_id"/>
                </div>

                <div class="column is-6">
                    {{ declaration.created_at | declarationTitleFilter }}
                </div>
            </div>
        </div>


        <div v-if="loaded == false">
            <a class="btn is-loading"></a>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import {AnnualDeclarationModal, AnnualDeclarationPendingTask} from "./index";
    import {mapGetters} from 'vuex'

    export default {

        props: [],

        components: {AnnualDeclarationModal, AnnualDeclarationPendingTask},

        data() {
            return {
                caller_id: 'AnnualDeclarationTile',
                loaded: false,
                declarations: [],
            }
        },

        created() {
            Common.listen(this.caller_id + '-odometer-declared', this.getDeclarations)
            this.getDeclarations()
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getUserId',
            ])
        },

        destroyed() {

        },

        watch: {},

        methods: {
            getDeclarations() {
                this.loaded = false
                axios.get('/getAllAnnualIrsOdometerDeclarations').then(response => {
                    this.declarations = response.data.declarations
                    this.loaded = true
                })
            }

        },

        filters: {
            declarationTitleFilter(created_at) {
                return moment(created_at).year() + ' Annual Declaration'
            }
        }
    }
</script>

<style lang="css">

</style>