/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
*/
<template lang="html">
    <div id="carPolicyPendingTask">

        <!-- TODO: Component seems incomplete.
                   The statement "We have no policy docs on file" is for the company, not the driver. Right?
                   Why is this showing for the driver?
         -->

        <!--if company enforces car policy acceptance & the driver hasn't accepted it yet-->
        <!--This needs to be added && carPolicyDocuments.length-->
        <div v-if="enforce_car_policy_acceptance && !getDriverCarPolicyAccepted && carPolicyDocuments.length"
             class="box pending-task p-2"
             style="border-color:#810911">

            <i class="fas fa-exclamation-triangle mr-1" style="color:#810911"></i>

            <span style="font-size: 14px;">Action Required - Please Accept Car Policy</span>

            <!--is this file from the company-->
            <div v-for="document in carPolicyDocuments">
                <button v-if="carPolicyDocuments"
                        class="btn btn-primary btn-block mt-2 btn-sm"
                        @click="linkToCarPolicyPage()"
                        :disabled="getImpersonatorId > 0"
                        style="font-size: 14px;">{{ document.filename }}</button>
            </div>

            <!--why would we show this to the driver if the company hasn't uploaded a car policy-->
            <!--<div v-if="!carPolicyDocuments.length">
                <strong><em>We have no policy documents on file</em></strong>
            </div>-->
        </div>
    </div><!-- #carPolicyPendingTask -->
</template>

<script>
    import {mapGetters} from 'vuex'
    import {EventBus} from "../../event-bus.js";

    export default {

        props: ['caller_id'],

        components: {},

        data() {
            return {
                car_policy_accepted: false,
                // carPolicyDocuments: null,
                // relatedDocuments: null,
                carPolicyDocuments: [], // davery - should be empty array as that's what the type returned is
                relatedDocuments: [], // davery - should be empty array as that's what the type returned is
                url: null,
            }
        },

        created() {

        },

        mounted() {
            this.car_policy_accepted = this.getDriverCarPolicyAccepted;

            // console.log('getDriverCarPolicyAccepted: ',this.getDriverCarPolicyAccepted); // davery

            axios.get('/getCarPolicyDocuments/' + this.getCompanyId).then(response => {
                // console.log('response.data: ',response.data); // davery
                this.carPolicyDocuments = response.data.carPolicyDocuments;
                this.relatedDocuments = response.data.relatedDocuments;
                // console.log('carPolicyDocuments: ',this.carPolicyDocuments); // davery
                // console.log('relatedDocuments : ',this.relatedDocuments ); // davery
                if (!Common.isEmpty(this.carPolicyDocuments[0])) {
                    this.url = 'storage/' + this.carPolicyDocuments[0].url;
                    // this.loadingTask = pdf.createLoadingTask(this.url);
                } else {
                    // console.log('::CarPolicyPendingTask.vue > No carPolicyDocuments')
                }

                EventBus.$emit(this.caller_id + '-loaded', 'carPolicy');
            })
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getCompanyId',
                'getCompanySelection',
                'getImpersonatorId',
                'getDriverCarPolicyAccepted'
            ]),

            /**
             * Check if company enforces car policy acceptance
             */
            enforce_car_policy_acceptance: function () {
                // console.log('getCompanySelection "enforce_car_policy_acceptance": ',this.getCompanySelection('enforce_car_policy_acceptance')); // davery
                return this.getCompanySelection('enforce_car_policy_acceptance')
            }
        },

        watch: {

            /** if the driver has already accepted the car policy, tell the parent
             *  this component is loaded and completed. We do not need to
             *  /getCarPolicyDocuments
             */
            'car_policy_accepted': {
                handler: function(val) {
                    // console.log('car_policy_accepted: ',val)
                    // if accepted or company hasn't uploaded a car policy
                    if (val == 1 || !this.carPolicyDocuments.length) {
                        EventBus.$emit(this.caller_id + '-completed', 'carPolicy');
                    }
                },
                immediate: true,
            },
        },

        methods: {
            linkToCarPolicyPage () {
                Common.setView('carPolicy', 'openModalCarPolicy');
            },
        }
    }
</script>

<style lang="css">

</style>