/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="chartDemo">
        <h2>Chart Demo</h2>
        <br>

        <!-- Charts.js -->
        <div class="text-center">
            <h2><u>Charts.js</u></h2>
        </div>
        <div class="columns">
            <div class="column text-center">
                <strong>Pie Chart</strong>
            </div>
            <div class="column text-center">
                <strong>Bar Chart</strong>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <canvas :id="'chartsjsPie-' + canvas_id" width="300" height="300" data-canvas="canvas"></canvas>
                <div class="legend" v-html="legend"></div>
            </div>
            <!--<div class="column text-center"><canvas id="chartsjsBar" width="300" height="300"></canvas></div>-->
        </div>
    </div>
</template>

<script>
    /** imports */
    import {mapGetters} from 'vuex';

    import Chart from 'chart.js';
    // import {GoogleCharts} from 'google-charts';

    export default {

        props: ['canvas_id', 'labels', 'values'],

        components: {},

        data() {
            return {
                monthlyMileage: null,
                convertedMonthlyMileage: null,
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],

                // davery
                legend: '',
                previousLegendItemIndex: null,
            };
        },

        created() {
        },

        mounted() {
            let me = this;
            axios.get('/getMileageByMonthForDriver/' + this.getUserId + '/2017').then(response => {
                this.convertMonthlyMileage(response.data.monthlyMileage).then(response => {
                    // me.generateD3PieChart();
                    me.generateChartsJSPieChart();
                    // me.generateChartsJSBarChart();
                    // GoogleCharts.load(me.generateGooglePieChart);
                });
            });

            $("#chartjs-legend").on('click', "li", function() {
                // myChart.data.datasets[0].data[$(this).index()] += 50;
                // myChart.update();
                // console.log('legend: ' + data.datasets[0].data[$(this).index()]);
                console.log('hit me')
            });
        },

        computed: {
            ...mapGetters([
                'getUserId'
            ])
        },

        methods: {
            convertMonthlyMileage: function (data) {
                let me = this;
                this.convertedMonthlyMileage = [];
             // console.log('starting conversion with', me.months);
                return new Promise((resolve, reject) => {
                 // console.log('still me', me.months);
                    data.map(function (m) {
                        me.convertedMonthlyMileage.push([me.months[m.month - 1], parseInt(m.mileage)]);
                    });
                 // console.log('cmm', me.convertedMonthlyMileage);
                    resolve();
                });
            },

            generateD3PieChart() {
             // console.log('generating d3 pie chart');
                // define data
                /*let dataset = [
                    {label: 'Jan', count: 100},
                    {label: 'Feb', count: 200},
                    {label: 'Mar', count: 700},
                    {label: 'Apr', count: 400},
                    {label: 'May', count: 300},
                    {label: 'Jun', count: 800},
                    {label: 'Jul', count: 500},
                    {label: 'Aug', count: 650},
                    {label: 'Sep', count: 210},
                    {label: 'Oct', count: 901},
                    {label: 'Nov', count: 444},
                    {label: 'Dec', count: 307}
                ];*/

                // dimensions
                // let width = 360;
                // let height = 360;
                // let radius = Math.min(width, height) / 2;
            },

            generateChartsJSPieChart() { // davery
                // console.log(this.labels,this.values);
                let ctx = $('#chartsjsPie-' + this.canvas_id);
                // console.log(ctx);
                // let ctx = this.$els.canvas.getContext('2d');
                let self = this;
                $(ctx).click(function(evt) {
                    // console.log('clicked')
                    Common.setView('monthlyReimbursement', null);
                });
                let myChart = new Chart(ctx, {
                    events: ['click'],
                    type: 'pie',
                    data: {
                        labels: this.labels,
                        datasets: [{
                            label: 'Mileage By Month',
                            data: this.values,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(182,66,244,0.2)',
                                'rgba(128,244,66,0.2)',
                                'rgba(66,116,244,0.2)',
                                'rgba(244,155,66,0.2)',
                                'rgba(66,244,235,0.2)',
                                'rgba(244,66,122,0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(182,66,244,1)',
                                'rgba(128,244,66,1)',
                                'rgba(66,116,244,1)',
                                'rgba(244,155,66,1)',
                                'rgba(66,244,235,1)',
                                'rgba(244,66,122,1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                fontColor: "#052460",
                            },
                            /*onClick: function(evt, legendItem) {
                                // console.log(evt, this, legendItem, self.labels, myChart);

                                let legendItemIndex = self.labels.indexOf(legendItem.text);
                                // console.log('legendItem.datasetIndex: ',legendItem.datasetIndex);

                                // myChart.getDatasetMeta(legendItemIndex).hidden = true;
                                // console.log('getDatasetMeta: ',myChart.getDatasetMeta(legendItemIndex).data[legendItemIndex])
                                // myChart.getDatasetMeta(legendItemIndex).data[legendItemIndex].hidden = true;

                                // self.labels[legendItem.text] = legendItem.hidden;

                                if (legendItemIndex === self.previousLegendItemIndex) return;

                                let chartDataToEffect = myChart.config.data.datasets[0].data;

                                chartDataToEffect[legendItemIndex] += 50;
                                // chartDataToEffect[legendItemIndex] += 50;
                                // console.log('legendItemIndex size: ',chartDataToEffect[legendItemIndex]);

                                if (self.previousLegendItemIndex !== null) {
                                    // console.log('previousLegendItemIndex: ',self.previousLegendItemIndex);
                                    chartDataToEffect[self.previousLegendItemIndex] -= 50;
                                }

                                // myChart.data.labels.splice(legendItemIndex, 1); // remove the label first
                                // myChart.data.datasets.forEach(function(dataset, datasetIndex) {
                                //     dataset.data.shift()
                                // });

                                setTimeout(function() {
                                    self.previousLegendItemIndex = legendItemIndex;
                                    myChart.update();
                                }, 100);

                                // console.log('legend: ' + data.datasets[0].data[0]);

                            },*/
                        },
                        /*scales: {
                            yAxes: [{
                                ticks: {
                                    // beginAtZero: true
                                    display: false
                                }
                            }]
                        },*/
                    }
                });

                /*this.legend = myChart.generateLegend();
                this.legend.onclick(function() {
                    console.log('clicked');
                });*/
            },

            /*generateChartsJSBarChart() {
                let ctx = $('#chartsjsBar');
                let myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: '# of Votes',
                            data: [100, 200, 700, 400, 300, 800, 100, 200, 700, 400, 300, 800],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(182,66,244,0.2)',
                                'rgba(128,244,66,0.2)',
                                'rgba(66,116,244,0.2)',
                                'rgba(244,155,66,0.2)',
                                'rgba(66,244,235,0.2)',
                                'rgba(244,66,122,0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(182,66,244,1)',
                                'rgba(128,244,66,1)',
                                'rgba(66,116,244,1)',
                                'rgba(244,155,66,1)',
                                'rgba(66,244,235,1)',
                                'rgba(244,66,122,1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },*/

            generateGooglePieChart() {
             // console.log('in google cmm', this.convertedMonthlyMileage);
             //    let months = _.cloneDeep(this.convertedMonthlyMileage);
             //    months.unshift(['Month', 'Mileage']);
                /*let months = [
                    ['Month', 'Mileage'],
                    ['Jan', 1281],
                    ['Feb', 1085],
                    ['Mar', 893],
                    ['Apr', 1858],
                    ['May', 1001],
                    ['Jun', 1239],
                    ['Jul', 1013],
                    ['Aug', 900],
                    ['Sep', 1182],
                    ['Oct', 1294],
                    ['Nov', 1925],
                    ['Dec', 1387]
                ];*/
             // console.log('months', months, typeof months);
             //    let data = GoogleCharts.api.visualization.arrayToDataTable(months);

                /*let options = {
                    title: 'Monthly Mileage'
                };*/

                // let chart = new GoogleCharts.api.visualization.PieChart(document.getElementById('googlePie'));
                // chart.draw(data, options);
            }
        }
    };
</script>

<style lang="css">
    .legend ul li span {
        height: 10px;
        width: 50px;
        display: inline-block;
        margin-right: 10px;
    }
</style>