<template lang="html">
    <div class="row">
        <div :class="{ 'col-lg-6 pb-0 pr-0': chart_type != 'line', 'col-sm-12':chart_type == 'line' }">
            <!--<canvas :id="'chartsJs-' + canvas_id" width="300" height="300" data-canvas="canvas"></canvas>-->
            <canvas :id="'chartsJs-' + canvas_id" style="height: 300px !important; width: 300px !important;" data-canvas="canvas"></canvas>
        </div>
        <div v-show="chart_type != 'line'" class="col-lg-6 position-relative pb-0 pl-0">
            <div class="legend" v-html="legend"></div>
            <div class="position-absolute total">Total: {{ total }}</div>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        props: ['canvas_id', 'chart_type', 'labels', 'values', 'total', 'chart_color'], // props

        data() {
            return {
                legend: '',
            };
        }, // data

        watch: {
            'chart_type': {
                handler: function(val) {
                    if (this.chart_type && this.values && this.labels && this.chart_color && this.chart_type === 'doughnut') {
                        this.generateDoughnutChart()
                    } else {
                        this.generateLineChart()
                    }
                }
            },
            'labels': {
                handler: function(val) {
                    if (this.chart_type && this.values && this.labels && this.chart_color && this.chart_type === 'doughnut') {
                        this.generateDoughnutChart()
                    } else {
                        this.generateLineChart()
                    }
                }
            },
            'values': {
                handler: function(val) {
                    if (this.chart_type && this.values && this.labels && this.chart_color && this.chart_type === 'doughnut') {
                        this.generateDoughnutChart()
                    } else {
                        this.generateLineChart()
                    }
                }
            },
            'total': {
                handler: function(val) {
                    if (this.chart_type && this.values && this.total && this.labels && this.chart_color && this.chart_type === 'doughnut') {
                        this.generateDoughnutChart()
                    }
                }
            },
            'chart_color': {
                handler: function(val) {
                    if (this.chart_type && this.values && this.labels && this.chart_color && this.chart_type === 'doughnut') {
                        this.generateDoughnutChart()
                    } else {
                        this.generateLineChart()
                    }
                }
            }
        }, // watch

        methods: {
            generateDoughnutChart() { // davery
                // console.log('generateChartsJSPieChart:',this.labels,this.values);
                let ctx = $('#chartsJs-' + this.canvas_id);

                let myChart = new Chart(ctx, {
                    events: [],
                    type: this.chart_type,
                    data: {
                        labels: this.labels,
                        datasets: [{
                            data: this.values,
                            backgroundColor: this.chart_color,
                            borderWidth: 0
                        }]
                    },
                    // animationEnabled: false,
                    // animation: false,
                    options: { // default options for all charts
                        animation: { // remove when loading & click
                            duration: 0,
                            // animateScale: false,
                        },
                        legend: {
                            display: false,
                        },
                        events: [], // works to prevent hover, but doesn't allow tooltips
                        // tooltips: { enabled: true },
                        // events: ['touchstart', 'touchmove', 'touchend'],
                        // animation: false,
                        // hover: { mode: false },
                        // hover: false,
                    },
                });

                this.legend = myChart.generateLegend(); // shows the legend, otherwise it's hidden

                // set default height for all charts, especially for line chart which will normally be 4oopx tall
                myChart.canvas.parentNode.style.height = '216px';
            },

            generateLineChart() {
                let ctx = $('#chartsJs-' + this.canvas_id);

                let myChart = new Chart(ctx, {
                    // events: [],
                    type: this.chart_type,
                    data: {
                        labels: this.labels,
                        datasets: [{
                            borderColor: 'rgba(5, 36, 96, .5)',
                            data: this.values[0],
                            fill: false, // remove backgroundColor fill for line chart
                            label: 'Business',
                        },{
                            borderColor: 'rgba(145, 8, 17, .5)',
                            data: this.values[1],
                            fill: false, // remove backgroundColor fill for line chart
                            label: 'Personal',
                        }]
                    },
                    options: { // default options for all charts
                        animation: { // remove when loading & click
                            duration: 0
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                        },
                        // events: [],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                }
                            }]
                        },
                    },
                });

                this.legend = myChart.generateLegend(); // shows the legend, otherwise it's hidden

                // set default height for all charts, especially for line chart which will normally be 4oopx tall
                myChart.canvas.parentNode.style.height = '216px';
            },
        },  // methods
    }
</script>

<style>
    .legend ul {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        width: fit-content;
    }
    .legend ul li span {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 10px;
    }
    .total {
        font-size: 12px;
        bottom: 0;
        right: 15px;
    }
</style>