/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="contactWidget">

        <transition name="fade5s">
            <div v-if="loaded">

                <section v-if="coordinators">
                    <!--CARDATA COORDINATOR-->
                    <!--<button v-if="coordinators.cardataCoordinator" :class="{ 'accordion accordion-0': true, 'active-accordion': loaded && coordinators.cardataCoordinator }" ref="firstOne" @click="togglePanel(0)">-->
                    <button v-if="coordinators.cardataCoordinator" class="accordion accordion-0 active-accordion" ref="firstOne" @click="togglePanel(0)">
                        <strong>CarData Coordinator</strong>
                    </button>
                    <div v-if="coordinators.cardataCoordinator" class="panel panel-0 panel-open mb-0" style="font-size: 14px;">
                        <div class="p-3">
                            <i class="fal fa-user" style="width: 20px;"></i> {{
                            coordinators.cardataCoordinator.name }} <br>
                            <a :href="'mailto:' + coordinators.cardataCoordinator.email" style="text-decoration: none;"><i
                                    class="fal fa-envelope" style="width: 20px;"></i> {{
                                coordinators.cardataCoordinator.email }}</a> <br>
                            <a :href="'tel:' + coordinators.cardataCoordinator.number" style="text-decoration: none;"><i
                                    class="fal fa-phone" style="width: 20px;"></i> {{
                                coordinators.cardataCoordinator.number }}</a>
                        </div>
                    </div>


                    <!--COMPANY COORDINATOR-->
                    <button v-if="coordinators.companyCoordinator" class="accordion accordion-1" @click="togglePanel(1)">
                        <strong>Company Coordinator</strong>
                    </button>
                    <div v-if="coordinators.companyCoordinator" class="panel panel-1 mb-0" style="font-size: 14px;">
                        <div class="p-3">
                            <i class="fal fa-user" style="width: 20px;"></i> {{
                            coordinators.companyCoordinator.name }} <br>
                            <a :href="'mailto:' + coordinators.companyCoordinator.email" style="text-decoration: none;"><i
                                    class="fal fa-envelope" style="width: 20px;"></i> {{
                                coordinators.companyCoordinator.email }}</a> <br>
                            <a :href="'tel:' + coordinators.companyCoordinator.number" style="text-decoration: none;"><i
                                    class="fal fa-phone" style="width: 20px;"></i> {{
                                coordinators.companyCoordinator.number }}</a>
                        </div>
                    </div>


                    <!--INSURANCE COORDINATOR-->
                    <button v-if="coordinators.insuranceCoordinator" class="accordion accordion-2" @click="togglePanel(2)">
                        <strong>Insurance Coordinator</strong>
                    </button>
                    <div v-if="coordinators.insuranceCoordinator" class="panel panel-2 mb-0" style="font-size: 14px;">
                        <div class="p-3">
                            <i class="fal fa-user" style="width: 20px;"></i> {{
                            coordinators.insuranceCoordinator.name }} <br>
                            <a :href="'mailto:' + coordinators.insuranceCoordinator.email" style="text-decoration: none;"><i
                                    class="fal fa-envelope" style="width: 20px;"></i> {{
                                coordinators.insuranceCoordinator.email }}</a> <br>
                            <a :href="'tel:' + coordinators.insuranceCoordinator.number" style="text-decoration: none;"><i
                                    class="fal fa-phone" style="width: 20px;"></i> {{
                                coordinators.insuranceCoordinator.number }}</a>
                        </div>
                    </div>


                    <!--LICENSE COORDINATOR-->
                    <button v-if="coordinators.licenseCoordinator" class="accordion accordion-3" @click="togglePanel(3)">
                        <strong>License Coordinator</strong>
                    </button>
                    <div v-if="coordinators.licenseCoordinator" class="panel panel-3 mb-0" style="font-size: 14px;">
                        <div class="p-3">
                            <i class="fal fa-user" style="width: 20px;"></i> {{
                            coordinators.licenseCoordinator.name }} <br>
                            <a :href="'mailto:' + coordinators.licenseCoordinator.email" style="text-decoration: none;"><i
                                    class="fal fa-envelope" style="width: 20px;"></i> {{
                                coordinators.licenseCoordinator.email }}</a> <br>
                            <a :href="'tel:' + coordinators.licenseCoordinator.number" style="text-decoration: none;"><i
                                    class="fal fa-phone" style="width: 20px;"></i> {{
                                coordinators.licenseCoordinator.number }}</a>
                        </div>
                    </div>

                    <!--MIROUTE COORDINATOR-->
                    <button v-if="coordinators.mirouteCoordinator" class="accordion accordion-4" @click="togglePanel(4)">
                        <strong>Mi-ROUTE Coordinator</strong>
                    </button>
                    <div v-if="coordinators.mirouteCoordinator" class="panel panel-4 panel-last mb-0" style="font-size: 14px;">
                        <div class="p-3">
                            <i class="fal fa-user" style="width: 20px;"></i> {{
                            coordinators.mirouteCoordinator.name }} <br>
                            <a :href="'mailto:' + coordinators.mirouteCoordinator.email" style="text-decoration: none;"><i
                                    class="fal fa-envelope" style="width: 20px;"></i> {{
                                coordinators.mirouteCoordinator.email }}</a> <br>
                            <a :href="'tel:' + coordinators.mirouteCoordinator.number" style="text-decoration: none;"><i
                                    class="fal fa-phone" style="width: 20px;"></i> {{
                                coordinators.mirouteCoordinator.number }}</a>
                        </div>
                    </div>
                </section>

                <section v-else>
                    <em>There are currently no coordinators registered with CarData</em>
                </section>
            </div>
        </transition>

        <loading-partial v-show="!loaded"/>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";

    export default {
        props: [],

        components: {LoadingPartial},

        data() {
            return {
                loaded: false,
                coordinators: null,
            };
        },

        created() {

        },

        mounted() {
            axios.get('/getCompanyCoordinators/' + this.getSessionCompanyId).then( response => {
                this.coordinators = response.data.coordinators;
                this.loaded = true;
            });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ])
        },

        filters: {
            coordinator_title_filter: function(val) {
                return val.split(/(?=[A-Z])/).reduce(
                    function(accumulator, currentValue) {
                        console.log(accumulator);
                        console.log(currentValue)
                        return accumulator.charAt(0).toUpperCase() + accumulator.slice(1) + ' ' + currentValue.charAt(0).toUpperCase() + currentValue.slice(1);
                    }
                );
            }
        },

        watch: {

        },

        methods: {
            togglePanel(index) {
                // accordion
                document.getElementsByClassName('accordion-'+index)[0].classList.toggle("active-accordion");
                // panels
                let panel = document.getElementsByClassName('panel-'+index)[0];
                // only first panel
                if (index === 0 && panel.classList.contains("panel-open")) {
                    panel.classList.add("panel-closed");
                    setTimeout(function() {
                        panel.classList.remove("panel-open", "panel-closed");
                    }, 500);
                } else { // all other panels & first after the above is run
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            },
        }
    };
</script>

<style lang="css">
    #contactWidget .row {
        margin-bottom: 1.5rem;
    }

    #contactWidget .row:last-child {
        margin-bottom: 0;
    }

    #contactWidget .panel-open {
        transition: height .4s ease-in-out;
        max-height: fit-content;
        height: 250px;
    }

    #contactWidget .panel-closed {
        height: 0 !important;
    }
</style>