/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="dailyMileageEntryPage" class="dailyMileageEntryPageCommuter">

        <driver-mileage-message :time_zone_name="getDriverTimeZone.name"
                                :time_zone_short_name="getDriverTimeZone.short_name"
                                :formatted_lock_day="formatted_lock_day"
                                :miroute="miroute"
                                :edit_mode="edit_mode"
                                :commuter="commuter"
                                :quaker_driver="quaker_driver"
                                class="mb-3"/>

        <daily-scroll-component class="mb-3"/>

        <div class="box mb-4"><!--davery - Start-->
            <table class="table trip-summary-table mb-0">
                <thead>
                <tr>
                    <th scope="col" v-if="tripData.last_odometer">
                        <span style="font-size: 12px;">Last odometer<br>(entered on {{tripData.last_date}})</span> <br>
                        Last Entered
                    </th>
                    <th scope="col">Starting Odometer</th>
                    <th scope="col">Ending Odometer</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Business Purpose</th>
                    <th v-if="getDriverMileageEntryMethod != 'Daily Commuter'">Business Mileage:</th>
                    <th v-if="getDriverMileageEntryMethod != 'Daily Commuter'">Personal Mileage:</th>
                    <th v-if="getDriverMileageEntryMethod == 'Daily Commuter'">Commuter Mileage:</th>
                    <th v-if="getDriverMileageEntryMethod == 'Daily Commuter'">Business Mileage:</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td v-if="tripData.last_odometer" :class="{ 'pt19': edit_mode }">{{ tripData.last_odometer }}</td>
                    <td>
                        <form-input :type="'number'"
                                    v-if="edit_mode"
                                    v-model.number="tripData.starting_odometer"
                                    :field_name="'starting_odometer'"
                                    @change="calculatePersonal"
                                    :has_error="errors.has('starting_odometer')"
                                    :get_error="errors.get('starting_odometer')">
                        </form-input>

                        <div v-if="!edit_mode">{{ tripData.starting_odometer }}</div>
                    </td>
                    <td>
                        <form-input :type="'number'"
                                    v-if="edit_mode"
                                    v-model.number="tripData.ending_odometer"
                                    :field_name="'ending_odometer'"
                                    @change="calculatePersonal">
                        </form-input>

                        <div v-if="!edit_mode">{{ tripData.ending_odometer }}</div>
                    </td>
                    <td>
                        <form-input :type="'text'"
                                    v-if="edit_mode"
                                    v-model.text="tripData.destination"
                                    :field_name="'destination'"
                                    @change="calculatePersonal"/>
                        <div v-if=" ! edit_mode">{{ tripData.destination }}</div>
                    </td>
                    <td>
                        <form-input :type="'text'"
                                    v-if="edit_mode"
                                    v-model.text="tripData.business_purpose"
                                    :field_name="'business_purpose'"
                                    @change="calculatePersonal"/>
                        <div v-if=" ! edit_mode">{{ tripData.business_purpose }}</div>
                    </td>
                    <td v-if="getDriverMileageEntryMethod != 'Daily Commuter'">
                        <form-input :type="'number'"
                                    v-if="edit_mode"
                                    v-model.number="tripData.business_mileage"
                                    :field_name="'business_mileage'"
                                    @change="calculatePersonal">
                        </form-input>

                        <div v-if="!edit_mode">{{ tripData.business_mileage }}</div>
                    </td>
                    <td v-if="getDriverMileageEntryMethod != 'Daily Commuter'">
                        <div v-if="tripData.business_mileage">{{
                            formattedPersonalMileage(tripData.starting_odometer,
                            tripData.ending_odometer, tripData.personal_mileage)}}
                        </div>
                    </td>
                    <td v-if="getDriverMileageEntryMethod == 'Daily Commuter'">
                        <form-input :type="'number'"
                                    v-if="edit_mode"
                                    v-model.number="tripData.commuter_mileage"
                                    :field_name="'commuter_mileage'"
                                    @change="calculatePersonal">
                        </form-input>

                        <div v-if="!edit_mode">{{ tripData.commuter_mileage }}</div>
                    </td>
                    <td v-if="getDriverMileageEntryMethod == 'Daily Commuter'">
                        <div v-if="tripData.business_mileage">{{tripData.business_mileage}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--davery - End-->


        <div class="columns">
            <div class="column is-2">
                <div v-if="edit_mode">
                    <a class="btn btn-secondary" @click.prevent="updateMileage()">Update Mileage</a>
                    <span v-if="message" class="label label-success"><h3>Mileage updated</h3></span>
                </div>
                <div v-else>
                    <a class="btn btn-secondary" @click.prevent="todayEntry()">Back to Today's Entry</a>
                </div>
            </div>
            <div class="column is-7">&nbsp;</div>
            <div class="column is-3">
                <div v-if="tripData">
                    <a class="btn btn-secondary" @click.prevent="monthlyMileage()">Switch to Monthly Mileage Entry</a>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import moment from 'moment';
    import draggable from 'vuedraggable';
    import {Errors} from "../../utilities";
    import {DriverMileageMessage} from "./index";
    import {mapGetters} from 'vuex';
    import {DailyScrollComponent, FormInput, GoogleMap} from "../partials";

    export default {

        components: {moment, draggable, DriverMileageMessage, FormInput, DailyScrollComponent, GoogleMap},

        data() {
            return {
                errors: new Errors(),
                caller_id: 'MileageEntry',
                start_year: 2008,
                end_year: 2017,
                session_year_id: -1,
                session_month_id: -1,
                session_day_id: -1,
                selected_date: moment().date("YYYY-MM-DD"),
                first_available_date: null,
                last_available_date: null,
                last_date: null,
                tripData: {
                    starting_odometer: null,
                    ending_odometer: null,
                    destination: null,
                    business_purpose: null,
                    business_mileage: null,
                    commuter_mileage: null
                },
                shortDate: null,
                selected_date_formatted: null,
                driverTimeZone: {},

                edit_mode: false,
                message: null,
                miroute: false,
                commuter: false,
                mileageErrors: new Errors
            };
        },

        created() {

         // console.log('Daily Mileage Entry page created....');
         // console.log('from store: Y=' + this.getSessionYear + ' M=' + this.getSessionMonth + ' D=' + this.getSessionDay);
            this.start_year = this.getDriverStartDate.substring(0, 4);
            this.end_year = typeof this.getDriverStopDate !== 'undefined' && this.getDriverStopDate !== null ? this.getDriverStopDate.substring(0, 4) : moment().year();

            this.driverTimeZone = this.getDriverTimeZone;

            // when to block going back with daily entries,
            //  this month if we are after lock date of last month if we are before
            this.first_available_date = moment().date() <= this.getDriverMileageLockDay ?
                moment().subtract(1, 'months').startOf('month').format("YYYY-MM-DD") :
                moment().startOf('month').format("YYYY-MM-DD");
            this.last_available_date = moment().format("YYYY-MM-DD");

            this.setInitialDate();
            this.updateSelectedDate();
        },

        watch: {

            'tripData.starting_odometer': function(val) {
             // console.log('watcher')
                    if( val > 0) {
                        this.mileageErrors.clear('tripData.starting_odometer');
                    }
            },
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyId',
                'getDriverMileageEntryMethod',
                'getDriverMileageLockDay',
                'getDriverStartDate',
                'getDriverStopDate',
                'getSessionYear',
                'getSessionMonth',
                'getSessionDay',
                'getDriverTimeZone'
            ]),

            todays_date: function () {
                return moment().format('YYYY-MM-DD');
            },

            formatted_lock_day: function () {
                var suffix = '';
                switch (this.getDriverMileageLockDay) {
                    case 1:
                        suffix = "st";
                        break;
                    case 2:
                        suffix = "nd";
                        break;
                    case 3:
                        suffix = "rd";
                        break;
                    default:
                        suffix = "th";
                        break;
                }
                return this.getDriverMileageLockDay + suffix;
            },

            quaker_driver: function () {
                return this.getCompanyId === 36 ? true : false;
            },

        },

        methods: {

            setInitialDate() {
             // console.log('setInitialDate... store: Y=' + this.getSessionYear + ' M=' + this.getSessionMonth);
                if( this.getSessionMonth != -1 ) {
                 // console.log('we have month from store ' + this.getSessionMonth);
                    this.session_month_id = this.getSessionMonth;
                } else {
                 // console.log('we missing month from store');
                    this.session_month_id = moment().month() + 1;
                    Common.storeCommit('updateSessionMonth',this.session_month_id);
                }

                if( this.getSessionYear != -1 ) {
                    this.session_year_id = this.getSessionYear;
                } else {
                    this.session_year_id = moment().year();
                    Common.storeCommit('updateSessionYear',this.session_year_id);
                }

                if( this.getSessionDay != -1 ) {
                    this.session_day_id = this.getSessionDay;
                } else {
                    this.session_day_id = moment().date();
                    Common.storeCommit('updateSessionDay',this.session_day_id);
                }

                this.selected_date_formatted = moment([this.session_year_id, this.session_month_id, this.session_day_id]).format('dddd MMMM Do, YYYY');
             // console.log("M="+this.session_month_id + " Y=" + this.session_year_id  + " D=" + this.session_day_id);
             // console.log("selected_date_formatted = " + this.elected_date_formatted);
                this.updateSelectedDate();
            },

            todayEntry(){
                this.session_year_id = moment().year();
                this.session_month_id = moment().month()+1;
                this.session_day_id = moment().date();
                Common.storeCommit('updateSessionYear',this.session_year_id);
                Common.storeCommit('updateSessionMonth',this.session_month_id);
                Common.storeCommit('updateSessionDay',this.session_day_id);
                this.updateSelectedDate();
            },

            yearChanged(year) {
                if (this.session_year_id != year) {
                    this.session_year_id = year;
                    Common.storeCommit('updateSessionYear', year);
                    this.updateSelectedDate();
                }
            },

            monthChanged(month) {
                if (this.session_month_id != month) {
                    this.session_month_id = month;
                    Common.storeCommit('updateSessionMonth', month);
                    this.updateSelectedDate();
                }
            },

            dayChanged(day) {
                //console.log('dayChanged from ' + this.session_day_id + ' to ' + day);
                if (this.session_day_id != day) {
                    this.session_day_id = day;
                    Common.storeCommit('updateSessionDay', day);
                    this.updateSelectedDate();
                }
            },

            updateSelectedDate() {
                // moment is 0 based, select-month is 1 based
                var month = this.session_month_id - 1;

                this.message = null;
                this.selected_date = moment([this.session_year_id, month, this.session_day_id]).format('YYYY-MM-DD');
                if( this.session_year_id > 0 && this.session_day_id > 0 ) {
                    this.selected_date_formatted = moment([this.session_year_id, month, this.session_day_id]).format('dddd MMMM Do, YYYY');
                }
                this.getDailyMileage();
            },

            incrementDay() {
                //console.log('comparing ' + this.todays_date + ' to ' + this.selected_date);
                if (this.todays_date != this.selected_date) {
                    var month = this.session_month_id - 1;
                    var old_month = this.session_month_id;
                    var old_year = this.session_year_id;
                    var new_date = moment([this.session_year_id, month, this.session_day_id]).add(1, 'd');
                    this.session_day_id = new_date.format('D');
                    this.session_month_id = new_date.format('M');
                    this.session_year_id = new_date.format('YYYY');
                    if( old_year != this.session_year_id ) {
                        Common.storeCommit('updateSessionYear', this.session_year_id);
                    }
                    if( old_month != this.session_month_id ) {
                        Common.storeCommit('updateSessionMonth', this.session_month_id);
                    }
                    Common.storeCommit('updateSessionDay',this.session_day_id);
                    this.updateSelectedDate();
                }
            },

            decrementDay() {
                var month = this.session_month_id - 1;
                var old_month = this.session_month_id;
                var old_year = this.session_year_id;
                var new_date = moment([this.session_year_id, month, this.session_day_id]).subtract(1, 'd');
                this.session_day_id = new_date.format('D');
                this.session_month_id = new_date.format('M');
                this.session_year_id = new_date.format('YYYY');
                if( old_year != this.session_year_id ) {
                    Common.storeCommit('updateSessionYear', this.session_year_id);
                }
                if( old_month != this.session_month_id ) {
                    Common.storeCommit('updateSessionMonth', this.session_month_id);
                }
                Common.storeCommit('updateSessionDay',this.session_day_id);
                this.updateSelectedDate();
            },

            getDailyMileage() {
                axios.post('/getDailyMileageData', {
                    'user_id': this.getUserId,
                    'date': this.selected_date
                }).then(response => {

                    // console.log('response.data')
                    // console.log(response.data)

                    if (response.data.daily_mileage && response.data.daily_mileage.id > 0) {
                        this.tripData = response.data.daily_mileage;
                        this.tripData.last_odometer = response.data.last_odometer;
                        this.tripData.last_date = response.data.last_date;
                        //console.log(this.tripData);
                        if (this.getDriverMileageEntryMethod == 'Daily Commuter') {
                            this.tripData.commuter_mileage = this.tripData.commuter_mileage;
                            this.commuter = true;
                        }
                        this.calculatePersonal();
                    } else {
//                       // console.log('No data found for date ' + this.selected_date + ' and user ' + this.getUserId);
                        this.tripData.user_id = this.getUserId;
                        this.tripData.starting_odometer = null;
                        this.tripData.ending_odometer = null;
                        this.tripData.destination = null;
                        this.tripData.trip_date = this.selected_date;
                        this.tripData.business_purpose = null;
                        this.tripData.business_mileage = null;
                        this.tripData.commuter_mileage = null;
                        this.tripData.personal_mileage = null;
                        this.tripData.gap_mileage = null;
                    }
                    this.shortDate = moment(this.selected_date).format('ddd Do'); // displayed on form entry

//                   // console.log('tripData = ');
//                   // console.log(this.tripData);

                    this.accessToForm();
                });
            },

            accessToForm() { // can we edit form: current month + precious month if we are before lock date
                var today = moment();

                var year = today.year();
                var month = today.month() + 1;    // month starts from 0 :-(

                if (this.session_month_id == month && this.session_year_id == year) {
                    this.edit_mode = true;
                } else if ((this.session_month_id == (month - 1) && this.session_year_id == year ||
                        this.session_month_id == 12 && month == 1 && this.session_year_id == (year - 1)
                    ) && today.date() <= this.getDriverMileageLockDay) {
                    this.edit_mode = true;
                } else {
                    this.edit_mode = false;
                }
            },

            monthlyMileage() {
                //Common.storeCommit('updateSessionYear',this.session_year_id );
                //Common.storeCommit('updateSessionMonth',this.session_month_id );
                Common.storeCommit('updateSessionDay',1 );
                Common.setView('mileageEntry', 'showMonthlyMileageEntry');
            },

            calculatePersonal() {
                if (this.getDriverMileageEntryMethod != 'Daily Commuter') {

//                    this.mileageErrors.clear();

                    this.tripData.personal_mileage = 0;
                    if (this.tripData != null) {
                        if (this.tripData.starting_odometer > 0
                            && this.tripData.ending_odometer > 0
                            && Math.abs(this.tripData.ending_odometer - this.tripData.starting_odometer) < 1000) {
                            this.tripData.personal_mileage += this.tripData.ending_odometer - this.tripData.starting_odometer -
                                this.tripData.business_mileage;
                        }
                    } else {
                        this.tripData.business_mileage = null;
                    }
                } else {
                    this.calculateBusiness();
                }
            },

            calculateBusiness() {
                this.tripData.business_mileage = 0;
                if (this.tripData.starting_odometer > 0
                    && this.tripData.ending_odometer > 0
                    && Math.abs(this.tripData.ending_odometer - this.tripData.starting_odometer) < 1000) {
                    this.tripData.business_mileage += this.tripData.ending_odometer - this.tripData.starting_odometer -
                        this.tripData.commuter_mileage;
                }
            },

            calculateGapMileage() {
                if (this.tripData.last_odometer > 0 && this.tripData.starting_odometer > 0 &&
                    Math.abs(this.tripData.last_odometer - this.tripData.starting_odometer) < 1000) {
                    this.tripData.gap_mileage = this.tripData.starting_odometer - this.tripData.last_odometer;
                }
            },

            updateMileage() {
                //console.log('UPDATE MILEAGE');
                var mileage = {};
                mileage.user_id = this.getUserId;
                mileage.trip_date = this.selected_date;
                mileage.destination = this.tripData.destination;
                mileage.business_purpose = this.tripData.business_purpose;
                mileage.starting_odometer = this.tripData.starting_odometer;
                mileage.ending_odometer = this.tripData.ending_odometer;
                mileage.business_mileage = this.tripData.business_mileage;
                mileage.commuter_mileage = this.tripData.commuter_mileage;
                mileage.personal_mileage = this.tripData.personal_mileage;
                mileage.gap_mileage = this.tripData.gap_mileage;

//               // console.log(mileage);

                axios.post('/updateDailyMileage', mileage).then(
                    response => {
                        this.message = 'Mileage was updated';
                        this.getDailyMileage();
                    })
                    .catch( errors => {
                        this.mileageErrors.errors = errors.response.data;
                        this.$forceUpdate();
                    }
                );

            },

            formattedPersonalMileage(starting_odometer, ending_odometer, personal_mileage) {
                if (Common.isEmpty(starting_odometer) && !Common.isEmpty(ending_odometer) ||
                    !Common.isEmpty(starting_odometer) && Common.isEmpty(ending_odometer)) {
                    return 'N/A';
                } else if (personal_mileage > 0) {
                    return personal_mileage.toLocaleString();
                } else {
                    return '';
                }
            },

            checkInput() {
                alert('blah');
            },

        }
    };
</script>

<style lang="css">
    #dailyMileageEntryPage input[type="number"]::-webkit-outer-spin-button,
    #dailyMileageEntryPageinput[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #dailyMileageEntryPage input[type="number"] {
        -moz-appearance: textfield;
        text-align: right;
    }

    #dailyMileageEntryPage .notification {
        padding: 1.25rem 1.25rem;
    }

    #dailyMileageEntryPage textarea {
        overflow: hidden;
    }
</style>