/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="dailyTrips" class="mb-5">

        <!-- davery -->
        <div v-if="!loading">
            <div class="row" v-if="true || (trips && trips.length > 0)">
                <!--Google Map-->
                <div class="col-lg-6 order-lg-last mb-5">
                    <daily-trips-map v-if="trip_count" :caller_id="my_caller_id" :trips="trips" :selectedTrip="current_row" :company_id="company_id" :editing_trip="editing_trip"/>

                    <div v-else class="mb-5">
                        <gmap-map style="width: 100%; height: 500px; border: 1px solid #ced4da !important; border-radius: .25rem; overflow: hidden;"
                                  :center="mapCenter"
                                  :zoom="zoom"/>
                    </div>
                </div>

                <!--Trips List-->
                <div class="col-lg-6 order-lg-first trip-list mb-5">
                    <!--Alerts-->
                    <div class="alert alert-danger position-sticky" style="top: 0; z-index: 10;" v-show="show_recalculate_msg">{{ recalculate_alert }}</div>
                    <div v-if="trip_count">

                        <!--Trip Move Action Buttons-->
                        <div class="alert alert-success position-sticky" style="top: 0; z-index: 10;" v-show="show_completion_msg">{{ trip_change_alert }}</div>

                        <div v-if="move_actions" class="row position-sticky pb-2" style="top: 0; background: #fff; z-index: 10;">
                            <div class="col-sm-6" style="padding-right: 7.5px;">
                                <button class="btn btn-danger btn-block" @click="resetTripOrder">Cancel</button>
                            </div>
                            <div class="col-sm-6" style="padding-left: 7.5px;">
                                <button class="btn btn-primary btn-block" @click="saveTripOrder">Save</button>
                            </div>
                        </div>

                        <!-- Draggable -->
                        <draggable v-model="trips"
                                   :move="checkMove"
                                   @end="onEnd"
                                   :options="{ 'disabled': checkEditMode, 'chosenClass': 'trip-moved' }"
                                   style="border: 1px solid #ced4da; border-radius: 5px; overflow: hidden;">

                            <!--Trips-->
                            <div v-for="(trip, index) in trips" class="trip">
                                <!--Accordions-->
                                <button :class="['accordion', 'accordion-' + index]"
                                        @click="togglePanel(index)">
                                    <!--<span v-if="trip.start_day"><i class="fas fa-flag" style="color: green; display: inline-block; margin-right: 5px;"></i> {{ trip.start_day }}</span>-->
                                    <span v-if="index == 0"><i class="fas fa-flag" style="color: green; display: inline-block; margin-right: 5px;"></i> {{ trip.saved_stop.name }}</span>
                                    <span v-else-if="trip.end_day"><i class="fal fa-flag-checkered" style="color: black; display: inline-block; margin-right: 5px;"></i> {{ trip.end_day }}</span>
                                    <!--<span v-else><span style="text-align: center; display: inline-block; border: 1px solid #333; border-radius: 50%; width: 24px; height: 24px; line-height: 21px; margin-right: 5px;">{{ index }}</span> {{ trip.stopping_point }}</span>-->

                                    <span v-else><span style="text-align: center; display: inline-block; border: 1px solid #333; border-radius: 50%; width: 24px; height: 24px; line-height: 21px; margin-right: 5px;">{{ index }}</span> {{ trip.saved_stop.name }}</span>
                                    <span class="accordion-trip-mileage" v-if="trip.mileage_original > 0"> - {{ adjusted_mileage(trip) }} {{ trip.saved_stop.country_id === 1 ? 'mi.' : 'km.' }}</span>
                                </button>

                                <!--Panels-->
                                <div :class="{ 'panel m-0': true, 'panel-last': index === trips.length - 1 }">
                                    <div v-if="!trip.start_day && !trip.end_day">
                                    <!--<div v-if="index != 0 && !trip.end_day">-->
                                        <div class="row" style="border-bottom: 1px solid #ced4da;">

                                            <!--CONTRACT USE-->
                                            <div v-if="getCompanySelection('use_stop_contract')" class="col-sm-6 pr-0" style="border-right: 1px solid #ced4da">
                                                <contract-select v-if="editing_trip && passesEditingRequirements(trip.id)"
                                                                 :saved_stop_id="trip.saved_stop_id"
                                                                 class="business-purpose"
                                                                 v-model="trip.business_purpose"
                                                                 :disabled="!editing_trip || !passesEditingRequirements(trip.id)"
                                                                 :has_error="errors.has('business_purpose')"/>
                                                <div v-else style="padding: 6px 12px; display: block;">
                                                    <span v-if="trip.business_purpose">Contract {{ trip.business_purpose }}</span>
                                                    <span v-else style="color: #ccc">No Contract Assigned</span>
                                                </div>

                                            </div>

                                            <!--BUSINESS PURPOSE - NON-CONTRACT USE-->
                                            <div v-else class="col-sm-6 pr-0" style="border-right: 1px solid #ced4da">
                                                <input v-if="editing_trip && passesEditingRequirements(trip.id)" type="text" class="form-control business-purpose"
                                                       placeholder="Business Purpose" v-model="trip.business_purpose">
                                                <div v-else style="padding: 6px 12px; display: block;">
                                                    <span v-if="trip.business_purpose">{{ trip.business_purpose }}</span>
                                                    <span v-else style="color: #ccc">No Business Use</span>
                                                </div>
                                            </div>



                                            <div class="col-sm-3 p-0 text-right">
                                                <span style="padding: 6px 12px; display: block;">{{ adjusted_mileage(trip) }} {{ trip.saved_stop.country_id === 1 ? 'mi.' : 'km.' }}</span>
                                                <!--<span style="padding: 6px 12px; display: block;">{{ new_mileage !== null ? new_mileage : trip.mileage_original }} {{ trip.saved_stop.country_id === 1 ? 'mi.' : 'km.' }}</span>-->
                                            </div>

                                            <div class="col-sm-3 pl-0 text-right" style="border-left: 1px solid rgb(206, 212, 218);">
                                                <div v-if="editing_trip && passesEditingRequirements(trip.id)" class="input-group">
                                                    <input type="number" class="form-control mileage-adjustment" placeholder="Adjust"
                                                           aria-describedby="mileage-adjustment" v-model="trip.mileage_adjusted" step="0.1">

                                                    <!-- v-model="trip.mileage_adjustment"-->
                                                    <!--:value="trip.mileage_adjusted > 0 ? trip_mileage_adjusted : ''"-->

                                                    <div class="input-group-append">
                                                        <span class="input-group-text" style="border: 0;" id="mileage-adjustment">{{ trip.saved_stop.country_id === 1 ? 'mi.' : 'km.' }}</span>
                                                    </div>
                                                </div>

                                                <div v-else style="padding: 6px 12px; display: block;" class="text-right">
                                                    <span>{{ trip_mileage_adjusted(trip.mileage_adjusted) }} {{ trip.saved_stop.country_id === 1 ? 'mi.' : 'km.' }}</span>
                                                    <!--<span v-else style="color: #ccc">0</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pt-3 pr-3 pl-3" v-if="!trip.end_day">
                                        <div class="col-1 pb-3 pr-0 text-center">
                                            <i class="fas fa-map-marker-alt" style="color: green;"></i>
                                        </div>

                                        <div :class="{ 'col-11 pb-3': true, 'starting-point-border-bottom': !trip.start_day}">
                                            {{ trip.start_day ? trip.start_day : trip.starting_point }}

                                            <!--CONTRACT USE ONLY-->
                                            <span v-if="getCompanySelection('use_stop_contract') && trip.start_day">
                                                <span v-if="trip.business_purpose"> - Contract {{ trip.business_purpose }}</span>
                                                <span v-else style="color: #ccc"> - No Contract Assigned</span>
                                            </span>

                                        </div>
                                    </div>

                                    <div :class="{ 'row pt-3 pr-3 pl-3': true, 'pb-3': !edit_mode }" v-if="!trip.start_day">
                                        <div class="col-1 pr-0 text-center">
                                            <i class="fas fa-map-marker-alt" style="color: red;"></i>
                                        </div>

                                        <div class="col-11">
                                            <driver-stop-select v-if="!trip.end_day && passesEditingRequirements(trip.id)" :caller_id="my_caller_id" v-model="trip.saved_stop_id"
                                                                hide_label="true" @change="tripChanged(trip)" class="trip-location-select" :has_error="errors.has('saved_stop_id')"/>

                                            <div v-else>
                                                {{ trip.end_day ? trip.end_day : trip.stopping_point }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix col-sm-12 mb-2" v-if="!trip.start_day && !trip.end_day && edit_mode">
                                        <div v-if="editing_trip && trip.id === current_row.id">
                                            <div class="row mb-1">
                                                <div class="col-sm-6 pr-1">
                                                    <button class="btn btn-block btn-danger" @click="cancelTripEdits()">
                                                        Cancel
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 pl-1">
                                                    <button class="btn btn-block btn-primary" @click="updateTrip()">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-else class="float-right">
                                            <button class="btn btn-sm ml-2 btn-primary float-right"
                                                    @click="editTrip(trip, index)"><i class="fal fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger float-right" style="width: 32px;"
                                                    @click="deleteTrip(trip)"><i class="fal fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div><!--END trip in trips-->
                        </draggable>
                    </div><!-- if trip_count -->

                    <!--Edit Mode-->
                    <div class="clearfix" v-show="edit_mode">
                        <transition name="fade5s">
                            <button v-if="!showAddNewTrip && unlock_add_trips || odometers_set"
                                    :class="{ 'btn btn-primary float-right mt-2': true, 'btn-sm': trip_count > 0 }"
                                    @click="showAddNewTrip = !showAddNewTrip">
                                <i class="fas fa-plus"></i> <span v-show="!trip_count">Add Trip</span>
                            </button>


                            <button v-else class="btn btn-danger btn-sm mt-2 float-right" style="width: 30.25px; border-radius: 50%;" @click="showAddNewTrip = !showAddNewTrip">
                                <i class="fas fa-times"></i>
                            </button>
                        </transition>
                    </div>

                    <transition name="fade5s">
                        <div v-if="showAddNewTrip && edit_mode" class="mt-2 clearfix"
                             style="border: 1px dashed #ced4da; border-radius: 5px; overflow: hidden;">
                            <div class="row" style="border-bottom: 1px dashed #ced4da;">
                                <div class="col-sm-8 pr-0">

                                    <!--CONTRACT USE-->
                                    <section v-if="getCompanySelection('use_stop_contract')">
                                        <contract-select :saved_stop_id="selected_stop_id"
                                                         class="business-purpose"
                                                         v-model="business_purpose"
                                                         :has_error="errors.has('business_purpose')"/>
                                    </section>

                                    <!--NON-CONTRACT USE-->
                                    <section v-else>
                                        <input type="text" class="form-control business-purpose"
                                               style="border-right: 1px dashed #ced4da;" placeholder="Business Purpose" v-model="business_purpose">
                                    </section>



                                </div>
                                <div class="col-sm-4 pl-0">
                                    <span class="d-block text-right" style="padding: 6px 12px;">mi/km</span>
                                </div>
                            </div>

                            <div class="row pt-3 pr-3 pl-3">
                                <div class="col-sm-1 pb-3 text-center pr-0">
                                    <i class="fa fa-map-marker pt-2" style="color: rgba(66,66,66,.5);"></i>
                                </div>

                                <div class="col-sm-11">
                                    <driver-stop-select :caller_id="my_caller_id" :disabled="disable_trips"
                                                        v-model="selected_stop_id"
                                                        hide_label="true"
                                                        :has_error="errors.has('saved_stop_id')"/>

                                    <button class="btn btn-sm btn-block btn-primary mb-2" @click.prevent="addNewTrip()">Add</button>
                                </div>
                            </div>
                        </div>
                    </transition>

                </div><!--col-sm-6-->
            </div>
        </div>

        <loading-partial v-else />
    </div>
</template>

<script>
    import {
        ContractSelect,
        DriverStopSelect,
        LoadingPartial,
        GoogleMap
    } from "../partials";
    import DailyTripsMap from "./DailyTripsMap";
    import moment from 'moment';
    import draggable from 'vuedraggable';
    import {Errors} from "../../utilities";
    import {EventBus} from "../../event-bus.js";
    import {mapGetters} from 'vuex';

    export default {

        props: ['daily_mileage_id', 'trip_date', 'disable_trips', 'edit_mode', 'company_id', 'odometers_set', 'unlock_add_trips'],

        components: {
            moment,
            draggable,
            ContractSelect,
            DriverStopSelect,
            DailyTripsMap,
            LoadingPartial,
            GoogleMap
        },

        data() {
            return {
                my_caller_id: 'dailyTrips',
                trips: [],
                originalTrips: null,
                trip_change_alert: '',
                recalculate_alert: 'Please wait while distances are recalculated',
                show_recalculate_msg: false,
                show_completion_msg: false,
                trip_count: 0,
                modalActive: false,
                current_row: {},
                original_row: {},
                selected_stop_id: -1,
                business_purpose: null,  // for new trip entry
                mileage_adjustment: 0,  // for new trip entry
                errors: new Errors(),
                move_actions: false,
                showAddNewTrip: false,

                // driverStops: null,
                editing_trip: false,
                tripEdited: false,
                // editedTrip: null,
                // display_tooltip: false,
                // new_mileage: null,

                loading: false,

                // Default Google Map
                zoom: null,
                mapCenter: {},


                /**
                 * Contract use variables
                 */


            };
        },

        created() {
            this.getTrips();

            Common.listen('trips-clear-errors', this.clearErrors);
            Common.listen(this.my_caller_id + 'trip-changed', this.tripChanged);
            Common.listen(this.my_caller_id + '-new-google-map-route-selected', this.updateCurrentRowMileage);
        },

        mounted() {
            this.zoom = 3;
            if (this.getSessionCountryId == 1) {
                this.mapCenter = {
                    lat: 37.0902,
                    lng: -95.7129
                };
            } else {
                this.mapCenter = {
                    lat: 56.1304,
                    lng: -106.3468
                };
            }
        },

        watch: {
            daily_mileage_id: function (val) {
                this.daily_mileage_id = val;
                this.show_completion_msg = false;
                this.getTrips();
            },

            'trip.business_purpose': {
                handler: function(t) {
                    this.errors.clear('business_purpose');
                }
            },

            selected_stop_id: function () {
                this.show_completion_msg = false;
                this.errors.clear('saved_stop_id');
            },

            business_purpose: function () {
                this.errors.clear('business_purpose');
            },

            mileage_adjustment (val) {
                console.log('watch: ',val)
            },

            trip_count (val) {
                EventBus.$emit('trip-count-updated', val);
            },
        },

        computed: {
            ...mapGetters([
                'getSessionCountryId',
                'getCompanySelection'
            ]),

            checkEditMode: function() { // for sorting
                if (!this.edit_mode == true || this.editing_trip == true) {
                    return true;
                } else {
                    return false;
                }
            },
        },

        methods: {
            trip_mileage_adjusted (trip_mileage_adjusted) {
                return (parseFloat(trip_mileage_adjusted)).toFixed(1);
            },

            adjusted_mileage(trip) {
                if (isNaN(parseFloat(trip.mileage_adjusted))) {
                    trip.mileage_adjusted = 0;
                }
                return (parseFloat(trip.mileage_original) + parseFloat(trip.mileage_adjusted)).toFixed(1);
            },

            updateCurrentRowMileage(mileage) {
                this.current_row.mileage_adjusted = (parseFloat(mileage) - parseFloat(this.current_row.mileage_original)).toFixed(1);
            },

            removeSuccessMessage() {
                let self = this;
                setTimeout(function() {
                    self.show_completion_msg = false;
                }, 2000);
            },

            passesEditingRequirements(tripId) {
                if (this.editing_trip && tripId === this.current_row.id) {
                    return true;
                } else {
                    return false;
                }
            },

            clearErrors() {
                this.errors.clear();
            },

            getTrips() {
                // console.log('in getTrips() with daily_mileage_id of ' + this.daily_mileage_id);
                this.loading = true;
                if (this.daily_mileage_id > 0) {
                    // console.log('getDailyTrips for ' + this.daily_mileage_id)
                    axios.post('/getDailyTrips', {
                        'daily_mileage_id': this.daily_mileage_id,
                    }).then(response => {
                        this.trip_count = response.data.trip_count;
                        if (this.trip_count > 0) {
                            this.trips = response.data.trips;
                            this.originalTrips = _.cloneDeep(this.trips);
                        }
                        this.loading = false;
                    });
                } else {
                    this.trip_count = 0;
                    this.trips = null;
                    this.loading = false;
                }
            },

            flashConfirm(msg) {
                let confirmed = confirm(msg);
                return confirmed === true ? true : false;
            },

            editTrip(row, index) {
                if (this.editing_trip === true) {
                    if (this.flashConfirm('A trip is currently being edited, would you like to edit this trip instead?')) {
                        this.editing_trip = true;
                        this.original_row = JSON.parse(JSON.stringify(row));
                        this.current_row = row;
                        this.adjustPanelHeight(index);
                    }
                } else {
                    this.editing_trip = true;
                    this.original_row = JSON.parse(JSON.stringify(row));
                    this.current_row = row;
                    this.adjustPanelHeight(index);
                }
                // this.errors.clear('saved_stop_id');
                // this.errors.clear('business_purpose');
                // this.modalActive = true;
            },

            adjustPanelHeight(index) {
                var panels = document.getElementsByClassName("panel");
                panels[index].style.maxHeight = (panels[index].scrollHeight + 44) + "px";
            },

            addNewTrip() {
                this.show_completion_msg = false;
                this.show_recalculate_msg = true;
                var newTrip = {};
                if (this.trip_count == 0 && !this.getCompanySelection('use_company_contract')) {
                    // this.business_purpose = 'STARTING DAY';
                    this.event = 'start';
                } else {
                    this.event = 'stopped';
                }
                newTrip.daily_mileage_id = this.daily_mileage_id;
                newTrip.sequence_number = this.trip_count + 1;
                newTrip.saved_stop_id = this.selected_stop_id;
                newTrip.event = this.event;
                newTrip.business_purpose = this.business_purpose;
                newTrip.use_stop_contract = this.getCompanySelection('use_stop_contract');

                this.show_recalculate_msg = true;
                axios.post('/insertNewTrip', newTrip).then(
                    response => {
                        // console.log('response from insertNewTrip:')
                        // console.log(response.data)
                        // clear form for new trip
                        this.showAddNewTrip = false;
                        this.selected_stop_id = -1;
                        this.business_purpose = null;
                        this.getTrips();
                        this.show_recalculate_msg = false;
                        this.trip_change_alert = 'Trip added successfully';
                        this.show_completion_msg = true;
                        this.removeSuccessMessage();
                        Common.fire('mileage-changed');
                    },
                    error => {
                        this.errors.errors = error.response.data;
                        this.show_recalculate_msg = false;
                    }
                );

            },

            deleteTrip(row) {
                if (this.flashConfirm('Are you sure you want to delete this trip?') == true) {
                    this.original_row = JSON.parse(JSON.stringify(row));
                    this.current_row = row;

                    var deleteData = {
                        'id': this.current_row.id,
                        'daily_mileage_id': this.current_row.daily_mileage_id,
                        'sequence_number': this.current_row.sequence_number
                    };

                    this.show_recalculate_msg = true;
                    axios.post('/deleteTrip', deleteData).then(
                        response => {
                            // console.log('in deleteTrip response:')
                            // console.log(response.data)
                            this.message = 'Trip was deleted';
                            this.getTrips();
                            this.modalActive = false;
                            this.trip_change_alert = 'Trip deleted successfully.';
                            this.show_completion_msg = true;
                            this.show_recalculate_msg = false;
                            this.removeSuccessMessage();
                            Common.fire('mileage-changed');
                        },
                        error => {
                            this.errors = error.response.data;
                            this.modalActive = false;
                        });
                }
            },

            updateTrip() {
                var updated = {
                    'id': this.current_row.id,
                    'saved_stop_id': this.current_row.saved_stop_id,
                    'business_purpose': this.current_row.business_purpose,
                    'mileage_original': this.current_row.mileage_original,
                    'mileage_adjusted': this.current_row.mileage_adjusted,
                    'adjustment_comment': this.current_row.adjustment_comment,
                    'use_stop_contract': this.getCompanySelection('use_stop_contract')
                };


                // console.log(updated);

                // console.log('original: ',this.original_row.business_purpose,'updated: ',updated.business_purpose,'current: ',this.current_row.business_purpose)

                axios.post('/updateTrip', updated).then(response => {
                        this.editing_trip = false;
                        // this.closeModal();
                        this.trip_change_alert = 'Trip was updated successfully';
                        this.getTrips();
                        Common.fire('mileage-changed');
                        this.show_recalculate_msg = false;
                        this.show_completion_msg = true;
                        this.removeSuccessMessage();
                    }, error => {
                        this.errors.errors = error.response.data;
                    });
            },

            cancelTripEdits() {
                this.getTrips();
                this.new_mileage = null;
                this.mileage_adjustment = 0;
                this.editing_trip = false;
            },

            closeModal() {
                this.modalActive = false;
            },

            cancelEdit() {
                this.trip = this.original_row;
                this.edited_trip_id = null;
            },

            checkMove(data) {
                this.drag_from = data.draggedContext.index + 1;
                this.drag_to = data.draggedContext.futureIndex + 1;
            },

            onEnd(event) {
                let trips = document.getElementsByClassName('accordion');
                trips[event.newIndex].classList.add('trip-moved');
                this.move_actions = true; // show move action buttons
            },

            saveTripOrder() {
                this.trip_change_alert = 'Please wait while distances are recalculated';
                this.show_recalculate_msg = true;
                this.move_actions = false;
                this.removeTripMovedClass();
                this.recalculateTrips(); // order + distance if indexes are different
            },

            resetTripOrder() {
                this.removeTripMovedClass();
                this.move_actions = false;
                this.trips = this.originalTrips;
                this.trip_change_alert = 'Trip moves canceled successfully.';
                this.show_completion_msg = true;
                this.removeSuccessMessage();
            },

            removeTripMovedClass() {
                let trips = document.getElementsByClassName('accordion');
                for (let tripIndex = 0; tripIndex < trips.length; tripIndex++) {
                    trips[tripIndex].classList.remove('trip-moved');
                }
            },

            recalculateTrips() {
                console.log('recalculate trips');
                var drag_arr = [];
                var order_arr = [];

                if (this.drag_from == this.drag_to) {
                    // console.log('Do nothing with drag')

                } else if (this.drag_from < this.drag_to) {

                    var s1 = this.drag_to - 1;
                    drag_arr.push({from: this.drag_to, to: this.drag_from});
                    if (this.drag_to < this.trip_count) {
                        var s2 = this.drag_to + 1;
                        drag_arr.push({from: this.drag_from, to: s2});
                    }
                    if (this.drag_from > 1) {
                        var s3 = this.drag_from - 1;
                        var s4 = this.drag_from + 1;
                        drag_arr.push({from: s3, to: s4});
                    } else {  // moving from 1st place
                        drag_arr.push({from: null, to: 2});
                    }

                    // now order:
                    var j;
                    for (var i = this.drag_from + 1; i <= this.drag_to; i++) {
                        j = i - 1;
                        order_arr.push({from: i, to: j});
                    }
                    j++;
                    order_arr.push({from: this.drag_from, to: j});

                } else {

                    drag_arr.push({from: this.drag_from, to: this.drag_to});
                    if (this.drag_to == 1) {
                        drag_arr.push({from: null, to: this.drag_from});
                    } else {
                        var s1 = this.drag_to - 1;
                        drag_arr.push({from: s1, to: this.drag_from});
                    }
                    if (this.drag_from < this.trip_count) {
                        var s2 = this.drag_from - 1;
                        var s3 = this.drag_from + 1;
                        drag_arr.push({from: s2, to: s3});
                    }

                    // now order:
                    order_arr.push({from: this.drag_from, to: this.drag_to});
                    for (var i = this.drag_to; i < this.drag_from; i++) {
                        var j = i + 1;
                        order_arr.push({from: i, to: j});
                    }
                }

                if (drag_arr.length) {
                    var data = {
                        daily_mileage_id: this.daily_mileage_id,
                        drag_data: drag_arr,
                        sort_data: order_arr
                    };

                    axios.post('/recalculateTrips', data).then(
                        response => {
                            this.getTrips();
                            this.show_recalculate_msg = false;
                            this.show_completion_msg = true;
                            this.trip_change_alert = 'Trips recalculation was completed';
                            this.removeSuccessMessage();
                            Common.fire('mileage-changed');
                        });
                }

            },

            togglePanel(index) { // Accordions & Panels
                // the index of trip.id is same of current_row.id (i.e. current trip id)
                if (this.editing_trip === true && this.current_row.id === this.trips[index].id) {
                    if (this.flashConfirm('Are you finished editing this trip?')) {
                        this.editing_trip = false;
                        this.performTogglePanel(index);
                    }
                } else {
                    this.performTogglePanel(index);
                }
            },

            performTogglePanel(index) {
                var accordions = document.getElementsByClassName("accordion");
                var panels = document.getElementsByClassName("panel");
                // Accordions
                /*for (let i = 0; i < accordions.length; i++) { // remove active class on siblings
                    if (accordions[i].classList.contains('active-accordion')) {
                        accordions[i].classList.remove('active-accordion');
                    }
                }*/
                accordions[index].classList.toggle("active-accordion");
                // Panels
                /*for (let j = 0; j < panels.length; j++) { // close panel siblings
                    if (panels[j].style.maxHeight) {
                        panels[j].style.maxHeight = null;
                    }
                }*/
                if (panels[index].style.maxHeight) {
                    panels[index].style.maxHeight = null;
                } else {
                    panels[index].style.maxHeight = panels[index].scrollHeight + "px";
                }
            },
        }

    };

</script>

<style lang="css">
    /* Trips */
    .business-purpose {
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        /*border-right: 0;*/
        /*border-color: #c0c8d7;*/
        border-color: #ced4da;
    }

    .trip .business-purpose, .trip-location-select select {
        background: rgba(5,36,96,.13);
    }

    .business-miles {
        border-radius: 0;
        border: 0;
        border-color: #c0c8d7;
    }

    .form-control.business-purpose:focus, .form-control.business-miles:focus {
        /*border-color: #c0c8d7;*/
        border-color: #ced4da;
        box-shadow: none;
    }

    iframe {
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
    }

    .starting-point-border-bottom {
        border-bottom: 1px dashed #ced4da;
    }

    .trip-moved {
        background: rgba(5,36,96,.2) !important;
    }

    #dailyTrips .mileage-adjustment {
        background: rgba(5,36,96,.13); border: 0;
    }

    #dailyTrips .mileage-adjustment::placeholder {
        font-size: 14px;
    }
</style>



