<template lang="html">
    <div>
        <google-map class="daily-trips-map"
                    :initial_zoom="initial_zoom"
                    :editing_route="editing_trip"
                    :editing_route_mileage="editing_route_mileage"
                    :caller_id="my_caller_id"
                    :stops="locations"/>
        <!--<p>* Still need to find a way to save selected route.</p>-->
    </div>
</template>

<script>
    import { GoogleMap } from "../partials";

    export default {
        props: ['caller_id', 'trips', 'selectedTrip', 'company_id', 'editing_trip'], // props

        components: {
            GoogleMap
        }, // components

        data() {
            return {
                my_caller_id: 'DailyTripsMap',
                // Google Map Defaults
                initial_zoom: 7, // 1 = far, 14 = close

                // Country Defaults
                country_id: null,
                us_coordinates: { latitude: 40, longitude: -101 }, // Set default country coordinates
                canada_coordinates: { latitude: 60.7, longitude: -112 }, // Set default country coordinates

                // Trip Defaults
                all_locations: [], // store all trip coordinates
                locations: [], // array to manipulate stops
                editing_route_mileage: 0,
            };
        }, // data

        created() {
            // console.log('// DailyTripsMap')
            // console.log('caller_id: ',this.caller_id)
            // console.log('trips: ',this.trips)
            // console.log('selectedTrip: ',this.selectedTrip)
            // console.log('company_id: ',this.company_id)
            // console.log('editing_trip: ',this.editing_trip)
        },

        mounted() {
            // Get Company country_id from this.country_id
            axios.get('/getCompany/' + this.company_id).then(response => {
                this.country_id = response.data.company.profile.country_id; // set country_id
            });

            this.getTrips(); // sets data to pass to GoogleMap

            Common.listen(this.my_caller_id + '-new-google-map-route-selected', this.newGoogleMapRouteSelected);
        }, // mounted

        computed: {

        }, // computed

        watch: {
            trips: function(val) {
                this.getTrips();
            },

            selectedTrip: function(val) {
                this.locations = []; // clear locations
                let starting_point = { latitude: val.starting_point_lat, longitude: val.starting_point_lng }; // set starting point
                let stopping_point = { latitude: val.stopping_point_lat, longitude: val.stopping_point_lng }; // set stopping point
                this.locations.push( starting_point, stopping_point ); // update locations & map
                this.editing_route_mileage = (parseFloat(val.mileage_original) + parseFloat(val.mileage_adjusted)).toFixed(1);
            },

            editing_trip: function(val) {
                if (!val) { // not editing
                    this.locations = this.all_locations; // set locations & map back to all locations
                }
            },
        }, // watch

        methods: {
            getTrips() {
                if (this.trips && this.trips.length > 0) { // if trips
                    // console.log('trips in DailyTripsMap: ',this.trips)
                    this.all_locations = []; // reset
                    this.locations = []; // reset
                    this.trips.forEach(trip => {
                        this.all_locations.push({ latitude: trip.saved_stop.latitude, longitude: trip.saved_stop.longitude });
                        this.locations.push({ latitude: trip.saved_stop.latitude, longitude: trip.saved_stop.longitude });
                    });
                } else { // show country
                    if (this.country_id === 1) { // is US
                        this.locations.push( this.us_coordinates ); // US
                    } else {
                        this.locations.push( this.canada_coordinates ); // Canada
                    }
                    this.initial_zoom = 3; // zoom out
                }
            },

            newGoogleMapRouteSelected(mileage) {
                Common.fire(this.caller_id + '-new-google-map-route-selected', mileage);
            },
        }, // methods
    }
</script>

<style lang="scss">
    .daily-trips-map {
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
        overflow: hidden;

        #map-canvas {
            height: 500px !important;
        }

        .gm-style-iw + div > img { // remove the 'x'
            display: none !important;
        }

        .gm-style-iw + div + img { // clickable img full width
            width: 100% !important;
        }

        .infowWindowContent {
            &:after {
                content: '\f00d';
                font-family: 'Font Awesome 5 Pro';
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .infowWindowContent.active {
            color: green;
            font-weight: bold;

            &:after {
                content: '\f058';
            }
        }
    }
</style>