/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="depreciationReport">
        <h2>Depreciation Report</h2>

        <div class="mb-4">
            As an employee of {{company_name}} you are receiving Vehicle Reimbursements governed by the IRS FAVR Plan.
            The IRS FAVR Plan regulations require that the depreciation amount used in the calculation of your Vehicle
            Reimbursement be communicated annually -- see amounts below.
            The IRS FAVR Plan allows for non-taxable reimbursements where substantiated; as such you are not permitted
            to claim vehicle expenses twice and therefore it is deemed you have elected to exclude your automobile from
            the Modified Accelerated Cost Recovery System under sub section 168 (f)(1). Where you are leasing your
            vehicle you may not compute the deductible business expenses of the automobile using the actual expenses for
            the lease period. Should you have any questions please consult with your tax accountant.
        </div>

        <div class="columns">
            <div class="column is-3">
                <year-select :caller_id="caller_id"
                             :start_year="start_year"
                             :end_year="end_year"
                             v-model="selected_year"
                             :hide_label="true"
                             :direction="'desc'">
                </year-select>
            </div>
        </div>

        <div v-if="depreciation && selected_year > 0" class="table-responsive table-responsive-bordered mb-4">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Depreciation Amount in {{selected_year}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="row in depreciation">
                        <td>{{row.month | displayMonth }}</td>
                        <td>{{row.vehicle_depreciation}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total in {{selected_year}}</strong></td>
                        <td><strong>{{depreciation_total | formatNumber}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import {YearSelect} from "../partials";
    import moment from 'moment';
    import {mapGetters} from 'vuex';

    export default {

        components: {YearSelect},

        data() {
            return {
                caller_id: 'DepreciationReport',
                selected_year: null,
                start_year: null,
                end_year: null,
                depreciation: null,
                depreciation_total: 0
            };
        },

        watch: {
            selected_year: function (val) {
                if (val > 0) {
                    this.depreciation_values();
                }
            }
        },

        computed: {
            ...mapGetters([
                'getCompanyName'
            ])
        },


        created() {
            this.company_name = this.getCompanyName;
            this.reimbursement_years();
        },

        methods: {
            reimbursement_years() {
                axios.post('/getDriverReimbursementYearSpan').then(response => {
                    this.start_year = response.data.startYear;
                    this.end_year = response.data.endYear;
                    if (this.end_year > 0) {
                        this.selected_year = this.end_year;
                        this.depreciation_values();
                    }
                });
            },

            depreciation_values() {
                axios.post('/getDepreciationValues', {'year': this.selected_year}).then(response => {
                    this.depreciation = response.data.depreciation;
                    this.depreciation_total = response.data.total;
                    // console.log('depreciation:');
                    // console.log(this.depreciation);
                });
            },

        },

        filters: {
            displayMonth(n) {
                return moment().month(n - 1).format('MMMM');
            },

            formatNumber(n) {
                return n == Math.round(n) ? Number(n).toLocaleString('en') + '.00' : Number(n).toLocaleString('en');
            }
        }

    };
</script>

<style lang="css">

</style>
