<template lang="html">
    <div id="destinationAddressesView">

        <div>
            <h3 class="float-left mr-1"><i class="far fa-road"></i> Destination Addresses</h3>
            <a class="btn btn-primary btn-sm float-right" @click.prevent="openViewAddress(newAddress)"><i class="fal fa-plus"></i> Add New</a>
        </div>

        <div class="clearfix"></div>

        <div class="row mt-3 mb-3">
            <div class="col-md-6">
                <div class="form-group position-relative mb-1">
                    <label>Search (address name, street, city):</label>
                    <input type="text" class="form-control search-param-input pr-5" v-model="search_param"
                           @keydown.enter="getDestinationAddresses"
                           @keydown.esc="clearSearchAndGetDestinationAddresses">

                    <button v-if="show_clear_search" class="btn search-param-button position-absolute p-0" style="top: 36px; height: 32px; width: 32px; right: 3px;"
                            @click="clearSearchAndGetDestinationAddresses"><i class="fas fa-times"></i>
                    </button>
                </div>

                <div class="control text-right">
                    <label class="checkbox" style="font-size: 14px;">
                        <input type="checkbox" v-model="full_screen" @click="getDestinationAddresses"> Show all stops
                    </label>
                </div>
            </div>

            <div class="col-md-6 pl-lg-0 pl-md-0">
                <label class="d-block screen-sm-and-below-d-none" style="opacity: 0;">Search</label>
                <button class="btn search-param-button btn-primary screen-sm-and-below-d-block" style="height: 38px;"
                        @click="getDestinationAddresses">Search
                </button>
            </div>
        </div>


        <div v-if="full_screen" class="table-responsive table-responsive-bordered mb-4">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>{{ stateLabel }}</th>
                    <th>{{ zipLabel }}</th>
                    <th>Action</th>
                </tr>
                </thead>

                <!--TODO: make this a dropdown or at least sortable-->
                <tbody>
                <tr v-for="address in destinationAddresses">
                    <td>{{ address.name }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.state_province}}</td>
                    <td>{{ address.zip_postal }}</td>
                    <td><a class="button is-small btn-secondary" @click.prevent="openViewAddress(address)">View / Rename</a></td>
                </tr>
                </tbody>

                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><a class="btn btn-primary btn-block btn-sm" @click.prevent="openViewAddress(newAddress)">Add New</a></td>
                </tr>
            </table>
        </div>

        <pagination-partial v-else :dataSet="destinationAddresses" :data_size="data_size" :page_size="page_size"
                            :columns_labels="columns_labels" :actions="actions" :caller_id="caller_id"/>

        <destination-address :address="currentAddress"/>
    </div>
</template>

<script>
    import {DestinationAddress, PaginationPartial} from "../partials";
    import {mapGetters} from 'vuex';

    export default {

        components: {DestinationAddress, PaginationPartial},

        data() {

            return {
                caller_id: 'DestinationAddresses',
                currentAddress: null,
                newAddress: {
                    'id': -1,
                    'name': null,
                    'address': null,
                    'city': null,
                    'state_province': -1,
                    'zip_postal': null,
                    'country_id': -1,
                    'latitude': 0,
                    'longitude': 0
                },

                // search clear
                show_clear_search: false,

                // pagination
                destinationAddresses: null, // objects to be paginated
                pagination_page: 1,
                data_size: 0,
                page_size: 10,
                search_param: '',
                columns_labels: [], // defined in created()
                actions: [
                    {'action': 'view', 'label': 'View / Rename', 'condition': true}
                ],
                full_screen: false // view paginated or full data set
            };
        },

        created() {
            Common.listen('address-updated', this.getDestinationAddresses);
            Common.listen(this.caller_id + '-pagination-page-changed', this.paginationPageChanged);
            Common.listen(this.caller_id + '-perform-action', this.performAction);
            this.getDestinationAddresses();
            this.newAddress.country_id = this.getCountryId;
            this.newAddress.country = this.newAddress.country_id == 1 ? 'United States' : 'Canada';
            this.newAddress.latitude = this.lat;
            this.newAddress.longitude = this.long;
            this.columns_labels = [
                {'column': 'name', 'label': 'Name'},
                {'column': 'address', 'label': 'Street'},
                {'column': 'city', 'label': 'City'},
                {'column': 'state', 'label': this.stateLabel},
                {'column': 'zip_postal', 'label': this.zipLabel}
            ];
        },

        watch: {
            currentAddress: function (val) {
                //console.log('the currentAddress is');
                //console.log(val);
            },

            search_param(val) {
                if (val != '') {
                    this.show_clear_search = true;
                } else {
                    this.show_clear_search = false;
                }
            },
        },

        computed: {
            ...mapGetters([
                'getCountryId',
                'getCompanySelection'
            ]),

            country: function () {
                return this.getCountryId == 1 ? 'United States' : 'Canada';
            },

            stateLabel: function () {
                return (this.getCountryId == 1) ? 'State' : 'Province';
            },

            zipLabel: function () {
                return (this.getCountryId == 1) ? 'Zip' : 'Postal Code';
            },

            long: function () {
                if (this.newAddress.country_id == 1) {
                    return -101.9189634;
                } else {
                    return -82.5184875;
                }
            },

            lat: function () {
                if (this.newAddress.country_id == 1) {
                    return 40.4343546;
                } else {
                    return 50.7184034;
                }
            },
        },

        methods: {
            clearSearchAndGetDestinationAddresses() {
                this.search_param = '';
                this.getDestinationAddresses();
            },

            getDestinationAddresses() {

                let obj = {
                    'search_param': this.search_param,
                    'pagination_page': this.pagination_page,
                    'page_size': this.page_size,
                    'full_screen': this.full_screen,
                    'use_stop_contract': this.getCompanySelection('use_stop_contract')
                };

                axios.post('/getDestinationAddresses', obj).then(response => {

                    if (response.data.message == 'success') {
                        this.destinationAddresses = response.data.destinationAddresses;
                        this.data_size = response.data.data_size;
                    } else {
                        // console.log('Could not retrieve DestinationAddress data: ' + response.data.message)
                    }
                });
            },

//                axios.get('').then(response => {
//                    this.destinationAddresses = response.data.destinationAddresses;
//                })


            openViewAddress(address) {
                this.currentAddress = address;
                this.currentAddress.state_label = this.stateLabel; // to display proper label

                $('#driverDestinationPartial').addClass('is-active');
            },

            paginationPageChanged(page) {
                // console.log('page changed to ' + page)
                this.pagination_page = page;
                this.getDestinationAddresses();
            },

            performAction(data) {
                let id = data.id;
                let action = data.action;
                let destinationAddress = null;

                // console.log('i should do ' + action + ' with ' + id)

                switch (action) {
                    case 'view':
                        for (let index in this.destinationAddresses) {
                            // console.log('checking ' + this.destinationAddresses[index].id)
                            if (this.destinationAddresses[index].id == id) {
                                destinationAddress = this.destinationAddresses[index];
                            }
                        }
                        this.openViewAddress(destinationAddress);
                }
            }

        }
    };
</script>

<style lang="css">
    #destinationAddressesView .column.button-column {
        text-align: center;
        padding-top: 2.4rem;
    }

    #destinationAddressesView .column.button-column button {
        margin: auto;
        margin-right: 10%;
    }

    #destinationAddressesView .checkbox-column {
        padding-top: 2.4rem;
    }

    #destinationAddressesView .checkbox-column .control {
        padding-left: 2rem;
    }

    #destinationAddressesView .checkbox-column input[type=checkbox] {
        width: 1.4rem;
        height: 1.4rem;
        top: -.3rem;
        left: -.6rem;
    }
</style>