/**
Requires:
address object, OR address_id
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverLocationTile" class="tile is-6 is-child box">
        <p class="title">Driver Location</p>

        <div v-if="loaded">
            <div class="row m-0 mb-3">
                <div class="col text-left p-0">City:</div>
                <div class="col text-right p-0">{{ localAddress.city }}</div>
            </div>

            <div class="row m-0 mb-3">
                <div class="col text-left p-0">{{ state_province_label }}:</div>
                <div class="col text-right p-0" v-if="localAddress.state_province.name">
                    {{ localAddress.state_province.name }}
                </div>
            </div>

            <div class="row m-0 mb-3">
                <div class="col text-left p-0">Country:</div>
                <div class="col text-right p-0">{{ country }}</div>
            </div>

            <div class="row m-0 mb-3">
                <div class="col text-left p-0">{{ zip_postal_label }}:</div>
                <div class="col text-right p-0">{{ localAddress.zip_postal }}</div>
            </div>

            <div class="row m-0 mb-3">
                <div class="col text-left p-0">Time Zone:</div>
                <div class="col text-right p-0">{{ getDriverTimeZone.name }}</div>
            </div>
        </div>

        <div v-else>
            <loading-partial/>
        </div>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {LoadingPartial} from "../partials";

    export default {

        components: {LoadingPartial},

        data() {
            return {
                loaded: false,
                address: null,
                localAddress: null,

                state_province_label: null,
                zip_postal_label: null,
                country: null,
                timeZone: null
            };
        },

        created() {
            axios.get('/getUserAddress/' + this.getUserId + '/' + this.getUserType).then(response => {
             // console.log('ADDRESS');
             // console.log(response.data.address);
                this.address = response.data.address;
                this.localAddress = JSON.parse(JSON.stringify(this.address));
                this.computeCountrySpecific();
                this.loaded = true;
            });
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getDriverTimeZone'
            ])
        },

        watch: {
            address: function (val) {
            }
        },

        methods: {
            computeCountrySpecific() {
                if (this.localAddress.country_id == 1) {
                    this.state_province_label = "State";
                    this.zip_postal_label = "Zip Code";
                    this.country = "United States";
                } else {
                    this.state_province_label = "Province";
                    this.zip_postal_label = "Postal Code";
                    this.country = "Canada";
                }
            },

//        zip_postal_label: function () {
//            if (this.localAddress.country_id == 1) {
//                return "US"
//            } else {
//                return "Canada"
//            }
//        }


        }


    };
</script>

<style lang="css">

</style>