/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverInsuranceTile" :class="{ 'box': embedded != true, '': embedded == true }">
        <section>
            <div class="row">
                <div class="col-sm-6 title">Insurance</div>
                <div class="col-sm-6 text-right">
                    <button v-if="has_modal" class="btn fa fa-plus" @click="modal_active = true"></button>
                </div>
            </div>
        </section>

        <section v-if="!has_modal">
            <p>Drag your latest insurance image file here, or click to open a file dialog.</p>

            <dropzone :class="'driver-upload'"
                      class="mb-3"
                      id="insuranceDropzone"
                      url="/uploadDriverInsuranceDocument"
                      @vdropzone-success="showSuccess"
                      :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                      :max-file-size-in-m-b="max_file_size"
                      :language="langSettings">
                <input type="hidden" name="csrf-token" :value="csrfToken">
            </dropzone>

            <p v-if="latest_insurance_file">Uploaded: <a :href="latest_insurance_file" target="_blank">{{ latest_file_name }}</a></p>
        </section>

        <!--davery-->
        <div v-else>
            <div class="columns">
                <div class="column">
                    <strong>Latest insurance file:</strong>&nbsp; <a :href="latest_insurance_file" target="_blank"
                                                                     v-if="latest_insurance_file">{{ getPrettyFilename(latest_file_name) }}</a>
                    <span v-else>{{ latest_file_name }}</span>
                </div>
            </div>

            <div id="newInsuranceModal" :class="{'modal':true, 'is-active': modal_active}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add New Insurance</p>
                        <button class="delete"
                                aria-label="close"
                                :disabled="uploading"
                                @click="closeModal"></button>
                    </header>
                    <section class="modal-card-body">
                        <insurance-minimums/>
                        <br>
                        <p>
                            <span style="color: red; font-weight: bold;">Important:</span>&nbsp;
                            Before submitting proof of insurance, you are required to:
                        </p>
                        <br>
                        <div style="padding-left: 1rem;">
                            <span style="color: red;">Circle</span>&nbsp; the following criteria on the policy before
                            scanning:
                            <br>
                            <ol style="margin-left: 1rem;">
                                <li>Your name</li>
                                <li>Make, model and year of vehicle</li>
                                <li>Policy term ("From" and "To" dates)</li>
                                <li>Coverage amounts as required by <span
                                        v-if="getCompanyName">{{ getCompanyName }}</span> above
                                </li>
                            </ol>
                        </div>
                        <br>

                        <p>These documents will not be accepted should there be any omissions of the above mentioned
                            criteria.</p>
                        <br>

                        <p>Please scan and create a PDF document of your policy, and enter here. If for any reason you have
                            problems uploading your policy,
                            email to Doug Little at <a href="mailto:dlittle@cardataconsultants.com">dlittle@cardataconsultants.com</a>
                            or fax the document to 708-575-1999.</p>
                        <br>

                        <p>Drag your latest insurance image file here, or click to open a file dialog.</p>
                        <br>

                        <dropzone :class="'driver-upload'"
                                  id="insuranceDropzone"
                                  url="/uploadDriverInsuranceDocument"
                                  @vdropzone-success="showSuccess"
                                  @vdropzone-sending="uploading = true"
                                  @vdropzone-error="uploading = false"
                                  :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                                  :max-file-size-in-m-b="max_file_size"
                                  :language="langSettings">
                            <input type="hidden" name="csrf-token" :value="csrfToken">
                        </dropzone>

                        <div v-if="upload_successful" class="text-center">
                            <p>Success!</p>
                        </div>

                    </section>
                    <section class="modal-card-foot">
                        <button class="btn btn-secondary"
                                :disabled="uploading"
                                @click="closeModal">Close Window</button>
                    </section>
                </div>
            </div>
        </div>
        <!--davery-->
    </div>
</template>

<script>

    import Dropzone from 'vue2-dropzone';
    import {InsuranceMinimums} from "../company";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';
    import Months from '../../models/Months.js';

    export default {

        components: {Dropzone, InsuranceMinimums},

        props: ['embedded', 'registration', 'has_modal'],

        data() {
            return {
                callerId: 'DriverInsurance',
                latest_insurance_file: null,
                latest_file_name: '',
                modal_active: false,
                csrfToken: document.head.querySelector('meta[name=csrf-token]').content,
                upload_successful: false,
                max_file_size: 10,
                // turned true while a file is being uploaded
                uploading: false,

                // deal with the case where there is an upload error, but the server response cannot be parsed
                langSettings: {
                    dictResponseError: 'An error occurred in your upload. Please ensure the file that you are trying to upload is less than 10MB in size, and is an image, pdf, or MS Word document.'
                },

                months: Months,
            };
        },

        created() {
            this.findLatestInsuranceFile();

            axios.get('/getConfigValue/filesystems.license_insurance_max_file_size').then(response => {
                this.max_file_size = response.data;
            });
        },

        mounted() {
            /*EventBus.$on('openUploadInsuranceModal', () => {
                console.log('hit openUploadInsuranceModal');
                this.modal_active = true;
                this.$forceUpdate();
            });*/
            if (this.getSubView == 'openUploadInsuranceModal') {
                this.modal_active = true;
            }
        },


        watch: {
            modal_active(val) {
                // console.log('modal_active: ',val);
                this.modal_active = val;
            },
            getView(val) {
                // console.log('watching view: ',val)
            },
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyName',
                'getCompanyId',
                'getView',
                'getSubView'
            ])
        },

        methods: {
            findLatestInsuranceFile() {
                // console.log(this.getUserId);

                axios.get('/getDriverDocuments/insurance/' + this.getUserId).then(response => {
                    console.log('back from getDriverDocuments - Insurance here');
                    console.log(response.data);

                    if (response.data.files.length > 0) {
                        this.latest_insurance_file = 'storage/docs/' + this.getCompanyId + '/insurance/' + response.data.latest_file_name;
                        // fire an event telling people we have insurance on file
                        Common.fire('insurance-on-file');
                    } else {
                        this.latest_insurance_file = null
                    }

                    this.latest_file_name = response.data.latest_file_name;
                });

            },

            showSuccess() {
                this.uploading = false;
                this.upload_successful = true;

                // insert driver record into insurance table
                /*axios.get('/insertDriverInsurancesRecord/' + this.getUserId).then(response => {
                    if (response.data.message === 'success') {*/
                // notify approver for this company
                axios.post('/notifyApproverOfNewInsuranceDocument/' + this.getCompanyId).then(response => {

                });
                /*}
                });*/

            },

            closeModal() {
                if ( this.upload_successful ) {
                    this.findLatestInsuranceFile();
                    this.upload_successful = false;
                    Common.fire('saved', {from: this.callerId});
                }

                this.modal_active = false;
            },

            getPrettyFilename(name) {
                if (Common.isEmpty(name)) {
                    return '';
                }
                /**
                 * Parts will be of the form:
                 * [user_id, Y, m, d.pdf]
                 */
                let parts = name.split('-');

                return this.months.find(m => {
                    return m.id == parts[2]
                }).name + ' ' + parts[1];
            }
        }
    };

</script>

<style lang="css">
    #driverInsuranceTile .driver-upload {
        /*border: .1rem solid lightblue;*/
        border: .1rem dashed #ced4da;
        border-radius: 5px;
    }
</style>
