/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverDashboard" class="">
        <!--<div class="card-body">-->

        <h3 class="mb-3"><i class="fal fa-tachometer-alt"></i> Dashboard</h3>

        <div class="row mb-5">
            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <driver-action-tile style="display:none"/>
                <strong class="mb-2 d-block">Driver Tasks</strong>
                <div class="box fusion-tile" style="padding-top: 5px; padding-bottom: 5px;">
                    <pending-tasks/>
                </div>
            </div>

            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <strong class="mb-2 d-block">{{ current_year }} Reimbursement</strong>
                <div class="box fusion-tile reimbursement-chart position-relative">
                    <div style="width: 50%; top: 15px; right: 20px; z-index: 9" class="position-absolute text-right">
                        <label for="reimbursement_ytd" class="mr-3" :style="[reimbursement_monthly ? {opacity: '.3'} : {}]">
                            <input type="checkbox" v-model="reimbursement_ytd" id="reimbursement_ytd"> YTD
                        </label>

                        <label for="reimbursement_monthly" :style="[reimbursement_ytd ? {opacity: '.3'} : {}]" style="text-transform: uppercase;">
                            <input type="checkbox" v-model="reimbursement_monthly" id="reimbursement_monthly"> {{ previous_month_abbreviated }}
                        </label>
                    </div>

                    <div v-show="reimbursement_ytd">
                        <div v-show="fixed_reimbursement > 0 && variable_reimbursement > 0" @click="goToMonthlyReimbursement">
                            <ChartsJs chart_type="doughnut"
                                      :labels="ytd_reimbursement_labels"
                                      :total="ytd_reimbursement_total"
                                      :values="total_reimbursement"
                                      canvas_id="reimbursement"
                                      :chart_color="['rgba(5,36,96,1)', 'rgba(5,36,96,.5)']"/>
                        </div>

                        <div v-show="!reimbursement_loading && fixed_reimbursement <= 0 && variable_reimbursement <= 0" style="height: 216px; text-align: center;">
                            <p style="padding-top: 95px;">No data available.</p>
                        </div>
                    </div>

                    <div v-show="reimbursement_monthly">
                        <ChartsJs v-if="previous_month_reimbursement > 0"
                                  chart_type="doughnut"
                                  :labels="monthly_reimbursement_labels"
                                  :total="previous_month_reimbursement_total"
                                  :values="[previous_month_fixed_reimbursement,previous_month_variable_reimbursement]"
                                  canvas_id="previous_month_reimbursement"
                                  :chart_color="['rgba(145,8,17,1)', 'rgba(145,8,17,.5)']"/>

                        <div v-else style="height: 216px; text-align: center;">
                            <p style="padding-top: 95px;">No data available.</p>
                        </div>
                    </div>

                    <loading-partial v-show="reimbursement_loading"/>
                </div>
            </div>

            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <strong class="mb-2 d-block">{{ current_year }} Mileage</strong>
                <div class="box fusion-tile mileage-chart position-relative">
                    <div style="width: 50%; top: 15px; right: 20px; z-index: 50" class="position-absolute text-right">
                        <label for="mileage_ytd" class="mr-3" :style="[mileage_monthly ? {opacity: '.3'} : {}]">
                            <input type="checkbox" v-model="mileage_ytd" id="mileage_ytd"> YTD
                        </label>

                        <label for="mileage_monthly" :style="[mileage_ytd ? {opacity: '.3'} : {}]">
                            <input type="checkbox" v-model="mileage_monthly" id="mileage_monthly"> Monthly
                        </label>
                    </div>

                    <div v-show="mileage_ytd">
                        <div v-show="business_mileage > 0 && personal_mileage > 0" @click="goToMonthlyMileage">
                            <ChartsJs chart_type="doughnut"
                                      :labels="ytd_mileage_labels"
                                      :total="ytd_mileage_total"
                                      :values="total_mileage"
                                      canvas_id="mileage"
                                      :chart_color="['rgba(66,66,66,1)', 'rgba(66,66,66,.66)']"/>
                        </div>

                        <div v-show="!mileage_loading && business_mileage <= 0 && personal_mileage <= 0" style="height: 216px; text-align: center;">
                            <p style="padding-top: 95px;">No data available.</p>
                        </div>
                    </div>

                    <div v-show="mileage_monthly">
                        <ChartsJs v-if="monthly_business_miles.length && monthly_personal_miles.length"
                                  chart_type="line"
                                  :labels="['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']"
                                  canvas_id="monthly_mileage"
                                  :values="[monthly_business_miles,monthly_personal_miles]"
                                  :chart_color="[]"/>

                        <div v-else style="height: 216px; text-align: center;">
                            <p style="padding-top: 95px;">No data available.</p>
                        </div>

                    </div>

                    <loading-partial v-show="mileage_loading"/>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <strong class="mb-2 d-block">Contact CarData Support</strong>
                <div class="box fusion-tile">
                    <contact-widget/>
                </div>
            </div>

            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <strong class="mb-2 d-block">Important Dates</strong>

                <div class="box fusion-tile">
                    <div v-show="getDriverMileageLockDay > 0" :class="{ 'important-dates': true, 'mb-3 date-border-bottom': getDriverPaymentDate > 0, 'pb-0': getDriverPaymentDate == 0 }">
                        <div class="d-inline-block text-center important-dates__date">
                            <div class="important-dates__month">{{ current_month }}</div>
                            <div class="important-dates__day">{{ getDriverMileageLockDay }}</div>
                        </div>
                        <div class="d-inline-block important-dates__text">Lock Date</div>
                    </div>

                    <div class="mt-3 pb-0 important-dates" v-show="getDriverPaymentDate > 0">
                        <div class="d-inline-block text-center important-dates__date">
                            <div class="important-dates__month">{{ current_month }}</div>
                            <div class="important-dates__day">{{ getDriverPaymentDate }}</div>
                        </div>
                        <div class="d-inline-block important-dates__text">Deposit Date</div>
                    </div>

                    <div v-show="!getDriverMileageLockDay && !getDriverPaymentDate">
                        <!--<loading-partial/>-->
                        <p>No Dates</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mt-3 mb-3 pr-3 pl-3">
                <strong class="mb-2 d-block">Reimbursement Profile</strong>
                <div class="box fusion-tile p-0">
                    <div v-if="!fixedReimbursementProfileLoaded || !variableReimbursementProfileLoaded">
                        <loading-partial/>
                    </div>

                    <div v-else>
                        <ul class="list-group list-group-flush" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                            <li v-if="fixedReimbursementProfile" class="list-group-item">
                                <div class="row">
                                    <div class="col-8"><strong>Fixed rate per month:</strong></div>
                                    <div class="col-4 text-right">$ {{ fixedReimbursementProfile.fixedReimbursement }}</div>
                                </div>
                            </li>

                            <li class="list-group-item"  v-if="variableReimbursementProfile">
                                <div class="row">
                                    <div class="col-8"><strong>Variable Rate per {{ mile_km }}:</strong></div>
                                    <div class="col-4 text-right">{{ variableReimbursementProfile.variableReimbursement }} ¢</div>
                                </div>
                            </li>
                        </ul>

                        <fuel-map/>
                    </div>
                </div>
            </div>

        <!--</div> card-body-->
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import {DriverActionTile, PendingTasks, ChartsJs, ContactWidget, FuelMap} from "./index";
    import {LoadingPartial} from "../partials";

    export default {

        components: {
            DriverActionTile,
            PendingTasks,
            ChartsJs,
            ContactWidget,
            FuelMap,
            LoadingPartial,
        },

        data() {
            return {
                // current_year: 2017,
                current_year: moment().format('YYYY'),
                current_month: moment(moment().month() + 1, 'month').format('MMM'),
                previous_month_full_text: moment(moment().month(), 'month').subtract(1, 'month').format('MMMM'),
                previous_month_abbreviated: moment(moment().month(), 'month').subtract(1, 'month').format('MMM'),

                // totals for reimbursement & mileage
                totalsComplete: false,

                // reimbursement checkboxes
                reimbursement_ytd: true,
                reimbursement_monthly: false,
                // reimbursement
                reimbursement_loading: true,
                fixed_reimbursement: 0,
                variable_reimbursement: 0,
                total_reimbursement: [],
                ytd_reimbursement_total: null,
                ytd_reimbursement_labels: [],
                monthly_reimbursement_labels: [],
                previous_month_reimbursement: null,
                previous_month_fixed_reimbursement: null,
                previous_month_reimbursement_total: null,
                previous_month_variable_reimbursement: null,

                // reimbursement checkboxes
                mileage_ytd: true,
                mileage_monthly: false,
                // mileage
                mileage_loading: true,
                business_mileage: 0,
                personal_mileage: 0,
                total_mileage: [],
                monthly_business_miles: [],
                monthly_personal_miles: [],
                mileage_labels: ['Business'],
                ytd_mileage_labels: [],
                ytd_mileage_total: null,

                // dates
                // driver_mileage_lock_month: null,
                // driver_mileage_lock_day: null,
                // mileage_approval_end_month: null,
                // mileage_approval_end_day: null,
                // driver_payment_month: null,
                // driver_payment_day: null,

                // reimbursement profile
                fixedReimbursementProfileLoaded: false,
                fixedReimbursementProfile: null,
                variableReimbursementProfileLoaded: false,
                variableReimbursementProfile: null,
            }
        },

        created() {
            axios.get('/checkIfCommuterDriver/' + this.getUserId ).then(response => {
                if (response.data.commuter == "Daily Commuter") {
                    this.getCommuterMileage();
                } else {
                    this.getRegularMileage();
                }
            });

            axios.get('/getMyFixedReimbursementData').then( response => {
                this.fixedReimbursementProfile = response.data.fixedReimbursementData;
                this.fixedReimbursementProfileLoaded = true;
            });

            axios.get('/getMyVariableReimbursementData').then( response => {
                this.variableReimbursementProfile = response.data.variableReimbursementData;
                this.variableReimbursementProfileLoaded = true;
            });

            // Reimbursement
            this.getReimbursement();
        },

        mounted() {
            // console.log(Common.isEmpty(this.total_reimbursement))
        },

        watch: {
            reimbursement_ytd(val) {
                this.reimbursement_monthly = val === false ? true : false;
            },

            reimbursement_monthly(val) {
                this.reimbursement_ytd = val === false ? true : false;
            },

            mileage_ytd(val) {
                this.mileage_monthly = val === false ? true : false;
            },

            mileage_monthly(val) {
                this.mileage_ytd = val === false ? true : false;
            },
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getDriverMileageLockDay',
                'getDriverPaymentDate',
                'getMileageApprovalEndDay',
                'getCompanyPlan',
                'getCountryId'
            ]),

            mile_km: function() {
                if (this.getCountryId == 1) {
                    return "mile";
                } else {
                    return "km";
                }
            },

            mile_km_abbreviation: function() {
                if (this.getCountryId == 1) {
                    return "mi.";
                } else {
                    return "kl.";
                }
            },
        },

        methods: {
            getCommuterMileage() {
                axios.all([
                    axios.get('/getMileageByMonthForDriver/' + this.getUserId + '/' + this.current_year + '/' + 'business'),
                    axios.get('/getMileageByMonthForDriver/' + this.getUserId + '/' + this.current_year + '/' + 'commuter')
                ]).then(axios.spread((response1, response2) => {
                    // this.mileage_labels.push( 'Commuter' );
                    // buiness_mileage
                    this.business_mileage = this.convertMonthlyMileage(response1.data.monthlyMileage);
                    this.total_mileage.push( this.business_mileage );
                    // commuter_mileage
                    this.personal_mileage = this.convertMonthlyMileage(response2.data.monthlyMileage);
                    this.total_mileage.push( this.personal_mileage );
                    // labels
                    let business_label = `Business ${Common.localeString(this.business_mileage.toString())}${this.mile_km_abbreviation}`;
                    let personal_label = `Commuter ${Common.localeString(this.personal_mileage.toString())}${this.mile_km_abbreviation}`;
                    this.ytd_mileage_labels.push(business_label,personal_label);
                    // total
                    let ytd_mileage_total = Common.localeString(parseInt(this.business_mileage) + parseInt(this.personal_mileage)).toString();
                    this.ytd_mileage_total = ytd_mileage_total + this.mile_km_abbreviation;

                    this.setMonthToMonthMileage(response1.data.monthlyMileage, response2.data.monthlyMileage);

                    this.mileage_loading = false;
                }));
            },

            getRegularMileage() {
                axios.all([
                    axios.get('/getMileageByMonthForDriver/' + this.getUserId + '/' + this.current_year + '/' + 'business'),
                    axios.get('/getMileageByMonthForDriver/' + this.getUserId + '/' + this.current_year + '/' + 'personal'),
                ]).then(axios.spread((response1, response2, response3) => {
                    // console.log('biz: ',response1,'personal: ',response2);
                    this.mileage_labels.push( 'Personal' );
                    // buiness_mileage
                    this.business_mileage = this.convertMonthlyMileage(response1.data.monthlyMileage);
                    this.total_mileage.push( this.business_mileage );
                    // personal_mileage
                    this.personal_mileage = this.convertMonthlyMileage(response2.data.monthlyMileage);
                    this.total_mileage.push( this.personal_mileage );
                    // labels
                    let business_label = `Business ${Common.localeString(this.business_mileage.toString())}${this.mile_km_abbreviation}`;
                    let personal_label = `Personal ${Common.localeString(this.personal_mileage.toString())}${this.mile_km_abbreviation}`;
                    this.ytd_mileage_labels.push(business_label,personal_label);
                    // total
                    let ytd_mileage_total = Common.localeString(parseInt(this.business_mileage) + parseInt(this.personal_mileage)).toString();
                    this.ytd_mileage_total = ytd_mileage_total + this.mile_km_abbreviation;

                    this.setMonthToMonthMileage(response1.data.monthlyMileage, response2.data.monthlyMileage);

                    this.mileage_loading = false;
                }));
            },

            setMonthToMonthMileage(data1, data2) {
                // month-to-month mileage chart data
                data1.map(miles => {
                    if (miles.mileage < 0) miles.mileage = 0;
                    this.monthly_business_miles.push(miles.mileage);
                });
                data2.map(miles => {
                    if (miles.mileage < 0) miles.mileage = 0;
                    this.monthly_personal_miles.push(miles.mileage);
                });
            },

            getReimbursement() {
                let requestDriverReimbursement = {
                    user_id: this.getUserId,
                    year: this.current_year
                };
                // YTD reimbursement
                axios.post('/getReimbursement', requestDriverReimbursement).then(response => {
                    // console.log('getReimbursement: ',response.data.reimbursement) // davery
                    this.fixed_reimbursement = parseFloat(response.data.reimbursement[13].fixed.replace(",", ""));
                    this.variable_reimbursement = parseFloat(response.data.reimbursement[13].variable.replace(",", ""));
                    this.total_reimbursement.push( this.fixed_reimbursement, this.variable_reimbursement );
                    // labels
                    let fixed_label = 'Fixed $' + Common.localeString(this.fixed_reimbursement.toFixed(2));
                    let variable_label = 'Variable $' + Common.localeString(this.variable_reimbursement.toFixed(2));
                    this.ytd_reimbursement_labels.push(fixed_label,variable_label);
                    // total
                    let ytd_reimbursement_total = (parseFloat(this.fixed_reimbursement) + parseFloat(this.variable_reimbursement)).toFixed(2);
                    this.ytd_reimbursement_total = '$' + Common.localeString(ytd_reimbursement_total);

                    let previous_months_reimbursement = Object.entries(response.data.reimbursement).filter(reimbursement => {
                        return reimbursement[1].month === this.previous_month_full_text;
                    });

                    // previous month reimbursement
                    this.previous_month_reimbursement = previous_months_reimbursement[0][1];
                    this.previous_month_fixed_reimbursement = parseFloat(this.previous_month_reimbursement.fixed);
                    this.previous_month_variable_reimbursement = parseFloat(this.previous_month_reimbursement.variable);
                    // labels
                    let monthly_fixed_label = 'Fixed $' + this.previous_month_fixed_reimbursement.toFixed(2);
                    let monthly_variable_label = 'Variable $' + this.previous_month_variable_reimbursement.toFixed(2);
                    this.monthly_reimbursement_labels.push(monthly_fixed_label,monthly_variable_label);
                    // total
                    let previous_month_reimbursement_total = (parseFloat(this.previous_month_fixed_reimbursement) + parseFloat(this.previous_month_variable_reimbursement)).toFixed(2);
                    this.previous_month_reimbursement_total = '$' + Common.localeString(previous_month_reimbursement_total);

                    this.reimbursement_loading = false;
                });
            },

            navigateTo(page) {
                Common.setView(page, null);
            },

            goToMonthlyReimbursement() {
                Common.setView('monthlyReimbursement', null);
            },

            goToMonthlyMileage() {
                Common.setView('mileageHistory', null);
            },

            convertMonthlyMileage(data) {
                // filter mileage > 0 & return the sum
                return data.filter(info=>info.mileage>0).reduce((sum,m)=>sum+parseInt(m.mileage),0);
            },
        }
    };

</script>

<style lang="scss">
    /*#driverDashboard .box {
        height: 100%;
    }*/

    #driverDashboard .reimbursement-chart, #driverDashboard .mileage-chart {
        &:hover {
            cursor: pointer;
        }
    }

    #driverDashboard #fuelMap.box {
        border: 0;
    }

    #driverDashboard #fuelMap .columns {
        display: none;
    }

    #driverDashboard #fuelMap #googleMapArea #map-canvas {
        min-height: 300px !important;
    }

    .important-dates {
        padding-bottom: 16px;

        &:last-child {
            border: 0;
        }

        .important-dates__date {
            width: 45px; height: 50px; border-radius: 5px; border: 1px solid #052460; margin-right: 10px;

            .important-dates__month {
                background: #052460; color: #fff; height: 22.5px; text-transform: uppercase; font-size: 12px; letter-spacing: .05rem; line-height: 21px;
            }

            .important-dates__day {
                height: 27.5px; line-height: 24px;
            }
        }

        .important-dates__text {
            vertical-align: top; margin-top: 4px; font-size: 24px;
        }

        .date-border-bottom {
            border-bottom: 1px solid rgba(206,212,218,.8);
        }
    }
</style>
