/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverLicenseTile" :class="{ 'box': embedded != true, '': embedded == true }">
        <section>
            <div class="row">
                <div class="col-sm-6 title">License</div>
                <div class="col-sm-6 text-right">
                    <button v-if="has_modal" class="btn fa fa-plus" @click="modal_active = true"></button>
                </div>
            </div>
        </section>

        <div v-if="!has_modal">
            <p>Drag your latest license image file here, or click to open a file dialog.</p>

            <dropzone :class="'driver-upload'"
                      class="mb-4"
                      id="licenseDropzone"
                      url="/uploadDriverLicenseDocument"
                      @vdropzone-success="showSuccess"
                      :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                      :max-file-size-in-m-b="max_file_size"
                      :language="langSettings">
                <input type="hidden" name="csrf-token" :value="csrfToken">
            </dropzone>

            <p v-if="latest_license_file">Uploaded: <a :href="latest_license_file" target="_blank">{{ latest_file_name
                }}</a></p>

            <div v-if="upload_successful" class="text-center">
                <p>Success!</p>
                <button class="btn btn-secondary" @click="closeAfterSuccess">Close Window</button>
            </div>
        </div>

        <div v-else>
            <div class="columns">
                <div class="column">
                    <strong>Latest license file:</strong>&nbsp; <a :href="latest_license_file" target="_blank"
                                                                   v-if="latest_license_file">{{ latest_file_name }}</a>
                    <span v-else>{{ latest_file_name }}</span>
                </div>
            </div>

            <div id="newLicenseModal" :class="{'modal':true, 'is-active': modal_active}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add New License</p>
                        <button class="delete" aria-label="close" @click="modal_active = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Drag your latest license image file here, or click to open a file dialog.</p>
                        <br>

                        <dropzone :class="'driver-upload'"
                                  id="licenseDropzone"
                                  url="/uploadDriverLicenseDocument"
                                  @vdropzone-success="showSuccess"
                                  :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                                  :max-file-size-in-m-b="max_file_size"
                                  :language="langSettings">
                            <input type="hidden" name="csrf-token" :value="csrfToken">
                        </dropzone>

                        <div v-if="upload_successful" class="text-center">
                            <p>Success!</p>
                            <button class="btn btn-secondary" @click="closeAfterSuccess">Close Window</button>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Dropzone from 'vue2-dropzone';
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';

    export default {

        components: {Dropzone},

        props: ['embedded', 'registration', 'has_modal'],

        data() {
            return {
                callerId: 'DriverLicense',
                latest_license_file: null,
                latest_file_name: '',
                modal_active: false,
                csrfToken: document.head.querySelector('meta[name=csrf-token]').content,
                upload_successful: false,
                max_file_size: 10,


                // deal with the case where there is an upload error, but the server response cannot be parsed
                langSettings: {
                    dictResponseError: 'An error occured in your upload. Please ensure the file that you are trying to upload is less than 10MB in size, and is an image, pdf, or MS Word document.'
                }
            };
        },

        created() {
            this.findLatestLicenseFile();

            axios.get('/getConfigValue/filesystems.license_insurance_max_file_size').then(response => {
                this.max_file_size = response.data;
                // console.log(this.max_file_size)
            });
        },

        watch: {
            modal_active(val) {
                // console.log('modal_active: ',val);
                this.modal_active = val;
            },
            getView(val) {
                // console.log('watching view: ',val)
            },
            getSubView(val) {
                // console.log('watching sub-view: ',val)
            },
        },

        mounted() {
            if(this.getSubView == 'openUploadLicenseModal') {
                this.modal_active = true;
            }
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getView',
                'getSubView'
            ])
        },

        methods: {
            findLatestLicenseFile() {

                axios.get('/getDriverDocuments/license/' + this.getUserId).then(response => {
                    console.log('back from getDriverDocuments - license here');
                    // console.log(response.data);

                    if ( response.data.files.length > 0 ) {
                        this.latest_license_file = 'storage/' + response.data.files[Object.keys(response.data.files).length - 1];
                        // fire an event telling people we have license on file
                        Common.fire('license-on-file');
                    } else {
                        this.latest_license_file = null
                    }

                    this.latest_file_name = response.data.latest_file_name;
                }).catch(e => {
                    console.log(e);
                });

            },

            showSuccess() {
                this.upload_successful = true;
            },

            closeAfterSuccess() {
                this.findLatestLicenseFile();
                this.upload_successful = false;
                this.modal_active = false;
                Common.fire('saved', {from: this.callerId});
            }
        },
    };

</script>

<style lang="css">
    #driverLicenseTile .driver-upload {
        /*border: .1rem solid lightblue;*/
        border: .1rem dashed #ced4da;
        border-radius: 5px;
    }
</style>