/**
Requires:
a 'user' object

Optional:

Getters:

Setters:

Listeners:

Emitters:
'saved' - tells the registration parent that the driver information was successfully completed
and passes a validated user, and a validated address object to the parent
Notes:

*/
<template lang="html">
    <div id="driverInformationPartial">
        <h2>Driver Information</h2>

        <div :class="{'form-group': true, 'has-error':errors.has('first_name')}">
            <label>First Name</label>
            <input type="text" class="form-control" v-model="localUser.first_name" @keydown="wasAltered">
            <span v-show="errors.has('first_name')" class="help-block">{{ errors.get('first_name') }}</span>
        </div>

        <div :class="{'form-group': true, 'has-error':errors.has('last_name')}">
            <label>Last Name</label>
            <input type="text" class="form-control" v-model="localUser.last_name" @keydown="wasAltered">
            <span v-show="errors.has('last_name')" class="help-block"> {{ errors.get('last_name') }}</span>
        </div>

        <div :class="{'form-group': true, 'has-error':errors.has('email')}">
            <label>Email</label>
            <input type="text" class="form-control" v-model="localUser.email" @keydown="wasAltered">
            <span v-show="errors.has('email')" class="help-block">{{ errors.get('email') }}</span>
        </div>

        <div :class="{'form-group': true, 'has-error':errors.has('street')}">
            <label>Street</label>
            <input type="text" class="form-control" v-model="localAddress.street" @keydown="wasAltered">
            <span v-show="errors.has('street')" class="help-block">{{ errors.get('street') }}</span>
        </div>

        <div :class="{'form-group': true, 'has-error':errors.has('street2')}">
            <label>Street 2</label>
            <input type="text" class="form-control" v-model="localAddress.street2" @keydown="wasAltered">
            <span v-show="errors.has('street2')" class="help-block">{{ errors.get('street2') }}</span>
        </div>


        <div class="columns">
            <div class="column">
                <div :class="{'form-group': true, 'has-error':errors.has('city')}">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" v-model="localAddress.city"
                           @keydown="wasAltered">
                    <span v-show="errors.has('city')" class="help-block">{{ errors.get('city') }}</span>
                </div>
            </div>

            <!-- TODO : need to bind two different regex one for can one for us -->

            <div class="column">
                <div :class="{'form-group':true, 'has-error':errors.has('zip_postal') }">
                    <label>{{ zip_postal_label }}</label>
                    <input name="zip_postal" type="text" class="form-control" v-model="localAddress.zip_postal"
                           @keydown="wasAltered">
                    <span v-show="errors.has('zip_postal')" class="help-block">Invalid {{ zip_postal_label }}</span>
                </div>
            </div>


        </div>

        <!-- TODO: fix this validation problem -->
        <div :class="{'form-group':true, 'has-error':errors.has('state_province_id')}">
            <state-select v-if="this.localAddress.country_id == 1"
                          v-model="localAddress.state_province_id"/>
            <province-select v-else
                             v-model="localAddress.state_province_id"/>
            <span v-show="errors.has('state_province_id')"
                  class="help-block">{{ errors.get('state_province_id') }}</span>
        </div>

        <a class="btn btn-primary" @click="saveChanges">Save</a>


    </div>
</template>

<script>
    import {ProvinceSelect, StateSelect} from "../partials";
    import {Errors} from "../../utilities/index";

    export default {

        props: ['user', 'address'],

        components: {ProvinceSelect, StateSelect},

        data() {
            return {
                callerId: 'DriverInformation',
                localUser: null,
                localAddress: null,
                errors: new Errors,
            };
        },

        created() {
            this.localUser = this.user;
            this.localAddress = this.address;
        },

        mounted() {
            Common.listen('state-changed', this.wasAltered);
            Common.listen('province-changed', this.wasAltered);
        },

        computed: {
            zip_postal_label: function () {
                if (this.localAddress.country_id === 1) {
                    return 'Zip Code';
                } else {
                    return 'Postal Code';
                }
            }
        },

        watch: {

            // validation
            'localUser.first_name': {
                handler: function (val) {
                    if (val.search(/^[a-zA-Z -]+$/) === -1) {
                        this.errors.add('first_name', ['Invalid first name']);
                    } else {
                        this.errors.clear('first_name');
                    }
                }
            },

            'localUser.last_name': {
                handler: function (val) {
                    if (val.search(/^[a-zA-Z -]+$/) === -1) {
                        this.errors.add('last_name', ['Invalid last name']);
                    } else {
                        this.errors.clear('last_name');
                    }
                }
            },

            'localUser.email': {
                handler: function (val) {
                    if (val.search(/^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/) === -1) {
                        this.errors.add('email', ['Invalid email']);
                    } else {
                        this.errors.clear('email');
                    }
                }
            },

            'localAddress.street': {
                handler: function (val) {
                    if (val.search(/^(([1-9][0-9]*, )?([1-9][0-9]* ))?([A-Z]*[a-z]* )*([A-Z]*[a-z]*) *$/) === -1) {
                        this.errors.add('street', ['Invalid street']);
                    } else {
                        this.errors.clear('street');
                    }
                }
            },

            'localAddress.street2': {
                handler: function (val) {
                    if (Common.isEmpty(val)) {
                        return;
                    }
                    if (val.search(/^(([1-9][0-9]*, )?([1-9][0-9]* ))?([A-Z]*[a-z]* )*([A-Z]*[a-z]*) *$/) === -1) {
                        this.errors.add('street2', ['Invalid street 2']);
                    } else {
                        this.errors.clear('street2');
                    }
                }

            },

            'localAddress.city': {
                handler: function (val) {
                    if (val.search(/^[a-zA-Z -]+$/) === -1) {
                        this.errors.add('city', ['Invalid street 2']);
                    } else {
                        this.errors.clear('city');
                    }
                }
            },

            'localAddress.zip_postal': {
                handler: function (val) {
                    if (this.localAddress.country_id === 1) {
                        //validate zip code
                        if (val.search(/^[0-9]{5}(-[0-9]{4})?$/) === -1) {
                            this.errors.add('zip_postal', ['Invalid zip code']);
                        } else {
                            this.errors.clear('zip_postal');
                        }
                    } else {
                        //validate postal code
                        if (val.search(/^[ABCEGHJKLMNPRSTVXY][0-9][ABCEGHJKLMNPRSTVWXYZ] ?[0-9][ABCEGHJKLMNPRSTVWXYZ][0-9]$/) === -1) {
                            this.errors.add('zip_postal', ['Invalid postal code']);
                        } else {
                            this.errors.clear('zip_postal');
                        }
                    }
                }
            },

            'localAddress.state_province_id': {
                handler: function (val) {
                    if (val > 0) {
                        this.errors.clear('state_province_id');
                    } else {
                        this.errors.add('state_province_id', ['Please select one']);
                    }
                },
                deep: true,
            },
        },

        methods: {

            wasAltered() {
                Common.fire('form-altered', {from: this.callerId});
            },

            saveChanges() {

                axios.post('/updateDriverAddress', this.localAddress).then(response => {
                    // console.log(response);
                })
                    .catch(errors => {
                        this.errors.errors = errors.response.data;
                    });

                axios.post('/updateDriverNameAndEmail', this.localUser).then(response => {
                    // console.log(response);
                })
                    .catch(errors => {
                        this.errors.errors = errors.response.data;
                    });

                //the module has been completed
                this.completed = true;

                //send the saved data to the registration view
                Common.fire('saved', {from: this.callerId, user: this.localUser, address: this.localAddress});

            },
        }
    };


</script>

<style lang="css">
    #driverInformationPartial {
        padding: 0rem;
    }

    .form-group {

    }
</style>