/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div>

        <driver-insurance-tile :driverData="driverData" :embedded="true"/>

        <!--<h2>Insurance</h2>-->
        <!--<br>-->

        <!--<div class="box">-->
        <!--CarData requires a copy of your Vehicle Insurance Policy Coverage.-->
        <!--<br>-->
        <!--Before submitting proof of insurance you are using to CIRCLE the following on your document:-->
        <!--<ul>-->
        <!--<li>Your name</li>-->
        <!--<li>Make, model and year of vehicle </li>-->
        <!--<li>Policy term ("From" and "To" dates)</li>-->
        <!--<li>Proof of Business Use Insurance</li>-->
        <!--<li>Coverage Amounts for {{ user.driver_profile.companyName }}  (these are listed under minimum insurance requirements below)</li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--If you are unable to upload your proof of insurance at the moment, please scan and email a PDF document to-->
        <!--{{ name_placeholder }} at {{ email_placeholder }} or fax the document(s) to {{ fax_placeholder }}-->

        <!--</div>-->

        <!--<br>-->

        <!--<div class="columns">-->

        <!--<div class="column is-6">-->

        <!--&lt;!&ndash; set this up to actually save files &ndash;&gt;-->
        <!--<dropzone ref="myVueDropzone" id="dropzone" url="https://httpbin.org/post"-->
        <!--v-on:vdropzone-success="showSuccess"-->
        <!--:max-number-of-files="1">-->
        <!--</dropzone>-->

        <!--</div>-->

        <!--<div class="column is-6">-->
        <!--<div class="box">-->
        <!--&lt;!&ndash;Minimum Insurance Requirements&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="columns"  v-for="requirement in companyInsuranceRequirements" v-if="requirement['using']">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="column is-9">&ndash;&gt;-->
        <!--&lt;!&ndash;{{ requirement['name'] }}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div id="amount" class="column is-3">&ndash;&gt;-->
        <!--&lt;!&ndash;{{ requirement['amount'] }}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<insurance-minimums :company_id="user.driverProfile.company_id"></insurance-minimums>-->


        <!--</div>-->
        <!--</div>-->


        <!--</div>-->
        <!--<a class="btn btn-primary" @click.prevent="saveChanges">Save</a>-->

    </div>


</template>

<script>

    import Dropzone from 'vue2-dropzone';
    import {DriverInsuranceTile} from "./index";

    export default {

        components: {Dropzone, DriverInsuranceTile},

        props: ['user', 'driverData'],

        data() {
            return {

                callerId: 'DriverInsurance',

            };
        },

        created() {

//        axios.get('/getDriverData').then(response => {
//            if (typeof response.data.message !== 'undefined' && response.data.message == 'No data') {
////                $('#driverProfileView').find('.column').removeClass('is-loading');
////                $('#driverProfileView').find('.button').removeClass('is-loading');
//            }
//            else {
//                this.driverData = response.data.driverData;
//            }
//        });
////        axios.get('/getCompanyInsuranceRequirements/' + this.user.driver_profile.company_id).then(response => {
////           // console.log(response.data.companyInsuranceRequirements);
////            //for each requirement from server, we update requirements locally
////            for ( const req in response.data.companyInsuranceRequirements ) {
////                this.companyInsuranceRequirements[req]['amount'] = response.data.companyInsuranceRequirements[req];
////                //if a specific requirement has an amount of 0, it is NOT using by the company
////                if ( response.data.companyInsuranceRequirements[req] != 0 ) {
////                    this.companyInsuranceRequirements[req]['using'] = true;
////                }
////
////            }
////
////           // console.log(this.companyInsuranceRequirements);
////        });
////
////        this.localInsurance = this.insurance;

        },

        methods: {
//        showSuccess() {
//           // console.log('A file was successfully uploaded');
//        },

            saveChanges() {
                Common.fire('saved', {from: this.callerId});
            },
        }


    };
</script>

<style scoped lang="css">
    #amount {
        text-align: right;
    }

</style>