/**
Requires:
- caller_id: communicate with parent (driver profile)

Optional:
- embedded: boolean. if true, no box class is added to the tile
Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverInfoTile" :class="{'box': !embedded}">
        <div class="row" v-if="getUserFullName">
            <div v-if="user_icon" class="col-sm-4 order-sm-2 registering-user-icon">
                <i class="fas fa-user"></i>
            </div>

            <div :class="{ 'col-sm-8 order-sm-1': user_icon, 'col-sm-12': !user_icon }">
                <p class="title">Driver Information</p>

                <div class="row mb-3">
                    <div class="col-sm-4">Name:</div>
                    <div class="col-sm-8">{{ getUserFullName }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">Division:</div>
                    <div class="col-sm-8">{{ getDriverDivision.division_name }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">Employee #:</div>
                    <div class="col-sm-8">{{ getDriverEmployeeNumber }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">Professional Email:</div>
                    <div class="col-sm-8">
                        {{ getUserEmail }}
                        <edit-email-modal :caller_id="caller_id"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">Personal Email:</div>
                    <div class="col-sm-8">
                        <span v-if="getUserPersonalEmail != null && getUserPersonalEmail != ''">
                            {{ getUserPersonalEmail }}
                        </span>

                        <em v-else style="opacity: .6;">Add personal email</em>

                        <edit-email-modal :caller_id="caller_id" :is_personal_email="true"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-4">Start Date:</div>
                    <div class="col-sm-8">{{ getDriverStartDate }}</div>
                </div>
                <div class="row mb-3" v-if="getDriverStopDate">
                    <div class="col-sm-4">Stop Date:</div>
                    <div class="col-sm-8">{{ getDriverStopDate }}</div>
                </div>

                <div class="row mb-3" v-if="!hide_password_change_button">
                    <div class="col-sm-12">
                        Change Password <change-password />
                    </div>
                </div>
            </div>
        </div>

        <div v-else style="width: 100">
            <a class="btn is-loading" style="margin: auto"></a>
        </div>
    </div>
</template>

<script>
    import {EditEmailModal} from "../partials/index";
    import {ChangePassword} from "../user/index";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';

    export default {

        components: {EditEmailModal, ChangePassword},

        props: ['caller_id', 'hide_password_change_button', 'embedded', 'user_icon'],

        data() {
            return {};
        },

        created() {
            Common.listen(this.caller_id + '-email-updated', this.emailUpdated);
        },

        computed: {
            ...mapGetters([
                'getUserFullName',
                'getUserEmail',
                'getUserPersonalEmail',
                'getDriverStartDate',
                'getDriverStopDate',
                'getDriverEmployeeNumber',
                'getDriverDivision'
            ])
        },

        methods: {
            openEditEmail() {
                $('#editEmailModal').addClass('is-active');
            },

            emailUpdated(email) {
                // console.log('i should have ' + this.getUserEmail + ' but i have ' + email);
                this.$store.commit('updateUserEmail', email);
                this.$forceUpdate();
            },
        }
    };

</script>

<style lang="scss">
    #driverInfoTile {
        .registering-user-icon {
            i {
                color: rgba(5, 36, 96, .5);
                font-size: 20rem;
            }
        }
    }

    @media screen and (max-width: 576px) {
        #driverInfoTile {
            .registering-user-icon {
                margin-bottom: 20px;
                text-align: center !important;
            }
        }
    }
</style>