/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverPersonalVehicleTile" class="box">

        <p class="title">Personal Vehicle</p>

        <div class="row">
            <div class="col-3">
                Year:<br>
                Make:<br>
                Model:
            </div>

            <div class="col">
                <span v-if="personalVehicle && personalVehicle !== -1">
                    {{ personalVehicle.year }}<br>
                    {{ personal_vehicle_name }}<br>
                    {{ personalVehicle.model.name }}
                </span>

                <span v-else-if="personalVehicle === -1">
                    Unable to locate<br>a personal vehicle.
                </span>

                <span v-else>
                    <a class="btn is-loading"></a>
                </span>
            </div>

            <div class="col">
                <a class="btn btn-secondary" @click.prevent="listPersonalVehicles">List / Add</a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {

        data() {
            return {
                personalVehicle: null
            };
        },

        created() {
        },

        mounted() {
            axios.get('/getUserPersonalVehicle/' + this.getUserId).then(response => {
                if (response.data.message == 'success') {
                    this.personalVehicle = response.data.personalVehicle
                } else {
                    this.personalVehicle = -1;
                }
            })
        },

        computed: {
            ...mapGetters([
                'getUserId'
            ]),

            personal_vehicle_name: function () {
                return Common.isEmpty(this.personalVehicle) ? '' : this.personalVehicle.make.name
            }
        },

        methods: {
            listPersonalVehicles() {
                Common.setView('personalVehicles', null);
            },
        }
    };

</script>

<style lang="css">

</style>