/**
blah   bla
*/
<template lang="html">
    <div id="driverProfileView">
        <h3><i class="fal fa-user"></i> Driver Profile</h3>

        <div class="columns is-multiline">

            <div class="column is-6">
                <!-- DRIVER INFO -->
                <driver-info-tile :caller_id="caller_id"/>
            </div>
            <div class="column is-6">
                <!-- ADDRESS -->
                <address-tile/>
                <!--<driver-address-tile/>-->
            </div>

            <!--<div class="column is-6">
                &lt;!&ndash; PERSONAL VEHICLES &ndash;&gt;
                <driver-personal-vehicle-tile/>
            </div>-->

            <!--<div class="column is-6" v-if="getImpersonatorId < 0">
                &lt;!&ndash; BANKING &ndash;&gt;
                <driver-banking-tile/>
            </div>-->

            <div class="column is-6"
                 v-if="getCompanySelection('use_company_license_module')">
                <!-- DRIVERS LICENSE -->
                <driver-license-tile has_modal="true"/>
            </div>

            <div class="column is-6"
                 v-if="getCompanySelection('use_company_insurance_module')">
                <!-- INSURANCE -->
                <driver-insurance-tile has_modal="true"/>
            </div>

            <div class="column is-6"
                 v-if="getCompanyPlan == 'FAVR' && getImpersonatorId < 0">
                <!-- ANNUAL DECLARATION TILE -->
                <annual-declaration-tile/>

            </div>

        </div>

    </div>
</template>

<script>
    import {
        AnnualDeclarationTile,
        DriverBankingTile,
        DriverInfoTile,
        DriverLicenseTile,
        DriverInsuranceTile,
        DriverAddressTile
    } from "./index";
    import {AddEditAddressModal, AddressTile, DriverBanking} from "../partials";
    import {mapGetters} from 'vuex';

    export default {

        components: {
            DriverInfoTile, AddressTile,
            AddEditAddressModal, AnnualDeclarationTile,
            DriverLicenseTile, DriverInsuranceTile, DriverBanking,
            DriverBankingTile, DriverAddressTile
        },


        data() {
            return {
                caller_id: 'DriverProfile'
            };
        },
        created() {
         // console.log('dp created');
        },

        mounted() {
            // driverData
            console.log(this.getUserAddress); // davery
            //Common.listen(this.caller_id + '-address-updated', this.driverUpdated);
            //Common.listen(this.caller_id + '-banking-updated', this.driverUpdated);
         // console.log('dp mounted');
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getImpersonatorId',
                'getCompanyPlan',
                'getUserAddress',
                'getCompanySelection'
            ])
        },

        methods: {}
    };
</script>

<style lang="css">
    #driverProfileView #personalVehicleSection td {
        font-weight: 100;
    }

    #driverProfileView #personalVehicleSection tr.active-vehicle td {
        font-weight: bold;
    }

    #driverProfileView a.is-loading {
        background-color: red;
        width: 100px;
        border-radius: 10px;
    }

    #driverProfileView .column > div {
        width: 100%;
        height: 100%;
    }

    #driverProfileView .column > .box {
        /*border: .1rem solid lightblue;*/
    }
</style>