/**
Requires:

Optional:
embedded - a boolean value determining whether or not the class of box is applied to the tile
header_title - a boolean value determining whether or not to display an h2 title
Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverBankingTile" :class="{'box': !embedded}">
        <p v-if="!header_title" class="title mb-4">Banking</p>
        <h2 v-else class="mb-4">Banking Information</h2>

        <div v-if="loaded && mode === 'edit'">
            <!-- US Banking -->
            <div class="table-responsive table-responsive-bordered mb-3" v-if="getCountryId === 1">
                <table class="table table-striped table-bordered mb-0">
                    <tr>
                        <td style="width: 50%;"><strong>Account Number:</strong></td>
                        <td style="width: 50%;">{{ banking.account_number.substring(0,10) }}</td>
                    </tr>

                    <tr>
                        <td style="width: 50%;"><strong>Routing Number:</strong></td>
                        <td style="width: 50%;">{{ banking.routing_number.substring(0,10) }}</td>
                    </tr>

                    <tr>
                        <td style="width: 50%;"><strong>Account Type:</strong></td>
                        <td style="width: 50%;">{{ account_type }}</td>
                    </tr>
                </table>
            </div>

            <!-- CAN Banking -->
            <table v-else>
                <tr>
                    <td style="width: 50%;"><strong>Account Number:</strong></td>
                    <td style="width: 50%;">{{ banking.account_number }}</td>
                </tr>

                <tr>
                    <td style="width: 50%;"><strong>Branch (Transit) Number:</strong></td>
                    <td style="width: 50%;">{{ banking.branch_number }}</td>
                </tr>

                <tr>
                    <td style="width: 50%;"><strong>Institution Number:</strong></td>
                    <td style="width: 50%;">{{ banking.institution_number }}</td>
                </tr>
            </table>
            <br>
            <div class="columns">
                <div class="column">
                    <a v-if="!getImpersonatorId || getImpersonatorId === -1"
                       :class="{ 'btn btn-primary mb-3 float-right': true, 'btn-danger': edit_bank_info }"
                       @click.prevent="edit_bank_info = !edit_bank_info">
                       <!--@click.prevent="openEditBanking">-->
                        {{ edit_bank_info ? 'Cancel' : 'Add New' }}
                    </a>
                </div>
            </div>
        </div>

        <!--<div v-else-if="loaded && mode == 'add'">
            <div class="columns">
                <div class="column is-8">
                    <strong>You currently have no banking information on file.</strong>
                </div>
                <div class="column" v-if="!getImpersonatorId || getImpersonatorId === -1">
                    <a v-if="!getImpersonatorId || getImpersonatorId === -1"
                       class="btn btn-secondary"
                       @click.prevent="openEditBanking">Add Banking</a>
                </div>
            </div>
        </div>-->

        <loading-partial v-show="!loaded"/>

        <driver-banking v-if="getImpersonatorId === -1 && mode == 'add' || edit_bank_info" :caller_id="caller_id"/>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {DriverBanking, LoadingPartial} from '../partials';

    export default {

        components: {DriverBanking, LoadingPartial},

        props: ['embedded', 'header_title'],

        data() {
            return {
                caller_id: 'driverBankingTile',
                loaded: false,
                banking: null,
                mode: null,
                edit_bank_info: false,
            }
        },

        computed: {
            ...mapGetters([
                'getCountryId',
                'getImpersonatorId'
            ]),

            account_type: function () {
                return _.startCase(this.banking.account_type)
            }
        },

        created() {
            axios.get('/getDriverBanking/' + this.getCountryId + '/' + true).then(response => {

                if (Common.isEmpty(response.data.banking)) {
                    this.mode = 'add'
                } else {
                    this.banking = response.data.banking
                    this.mode = 'edit'
                    Common.fire(this.caller_id + '-banking-updated'); // davery
                }
                this.loaded = true
            })
        },

        mounted() {
            Common.listen(this.caller_id + '-banking-updated', this.updateBanking)
        },

        methods: {
            openEditBanking() {
                $('#driverBankingPartial').addClass('is-active')
            },

            updateBanking() {
                this.loaded = false
                this.mode = 'edit'
                this.edit_bank_info = false;
                axios.get('/getDriverBanking/' + this.getCountryId + '/' + true).then(response => {
                    // console.log('updatebanking')
                    // console.log(response.data);
                    this.banking = response.data.banking
                    this.loaded = true
                })
            }
        }
    }

</script>

<style lang="css">

</style>