/**
Requires:
user object
personalVehicle object

Optional:

Getters:

Setters:

Listeners:
make, model, trim, year changed

Emitters:
saved changes

Notes:
needs loading screen
needs redirect

*/
<template lang="html">

    <div id="driverVehicle">
        <!-- FAVR -->
        <div v-if="service_plan == 'FAVR'">
            <br>
            <p class="title">Business Vehicle Declaration for IRS FAVR Plan</p>
            <br>
            <p>By IRS rule you must again declare your business vehicle on an annual basis at the beginning of the year,
                or when you join the program, and when you change vehicles.</p>
            <br>
            <p><strong>Enter the vehicle you use for business purposes.</strong></p>
            <br>
            <div class="columns">
                <div class="column is-6">
                    <year-select :start_year="2007"
                                 :callerId="callerId"
                                 v-model="localPersonalVehicle.year"
                                 :direction="'back'"
                                 :initial_year="-1"/>

                </div>
                <div v-if="favr_factors.minimum_year != null && favr_factors.minimum_year != 0" class="column is-6">
                    <div :class="{'alert alert-success': localPersonalVehicle.year >= favr_factors.minimum_year,
                                  'alert alert-danger':  localPersonalVehicle.year < favr_factors.minimum_year}">
                        Minimum Year: {{ favr_factors.minimum_year }}
                        <p v-if="localPersonalVehicle.year < favr_factors.minimum_year">
                            This vehicle does not qualify for the non-taxable FAVR program. Some taxable income may
                            apply.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- OTHER -->
        <div v-else>
            <p class="title">Business Vehicle Declaration</p>

            <p><strong>Enter the vehicle you use for business purposes.</strong></p>

            <div :class="{'form-group': true, 'has-error':errors.has('year')}">
                <year-select :start_year="2007"
                             :callerId="callerId"
                             v-model="localPersonalVehicle.year"
                             :direction="'back'"
                             :initial_year="-1"/>
                <span v-show="errors.has('year')" class="help-block">You must select a year</span>
            </div>

            <div :class="{'form-group': true, 'has-error':errors.has('make_id')}">
                <vehicle-make-select v-model="localPersonalVehicle.make_id"
                             :session_year_id="localPersonalVehicle.year"/>
                <span v-show="errors.has('make_id')" class="help-block">You must select a make</span>
            </div>

            <div :class="{'form-group': true, 'has-error':errors.has('model_id')}">
                <vehicle-model-select v-model="localPersonalVehicle.model_id"
                                      :session_make_id="localPersonalVehicle.make_id"
                                      :session_year_id="localPersonalVehicle.year"/>
                <span v-show="errors.has('model_id')" class="help-block">You must select a model</span>
            </div>

            <div :class="{'form-group': true, 'has-error':errors.has('trim')}">
                <vehicle-trim-select :session_model_id="localPersonalVehicle.model_id"
                                     v-model="localPersonalVehicle.trim_id"
                                     :session_year_id="localPersonalVehicle.year"/>
                <span v-show="errors.has('trim')" class="help-block">Invalid Trim</span>
            </div>

            <div :class="{'form-group':true, 'has-error':errors.has('odometer') }">
                <label>Odometer</label>
                <input type="text" class="form-control" v-model="localPersonalVehicle.odometer">
                <span v-show="errors.has('odometer')" class="help-block">{{ errors.get('odometer') }}</span>
            </div>

        </div>

        <a class="btn btn-primary" :disabled="errors.any()" @click.prevent="saveChanges">Save</a>

    </div>

</template>

<script>
    import {VehicleMakeSelect, VehicleModelSelect, VehicleTrimSelect, YearSelect} from "../partials";
    import {Errors} from "../../utilities/index";

    export default {

        props: ['user', 'personalVehicle', 'service_plan', 'favr_factors'],

        components: {VehicleMakeSelect, VehicleModelSelect, VehicleTrimSelect, YearSelect},

        data() {
            return {
                callerId: 'DriverVehicle',
                localPersonalVehicle: null,
                localUser: null,
                errors: new Errors,
                completed: false,
            };
        },

        created() {
            this.localUser = this.user;
            this.localPersonalVehicle = this.personalVehicle;
        },

        mounted() {
            Common.listen('make-changed', this.makeChanged);
            Common.listen('model-changed', this.modelChanged);
            Common.listen(this.callerId + 'year-changed', this.yearChanged);
            Common.listen('trim-changed', this.trimChanged);
        },

        watch: {
            // validation
            'localPersonalVehicle.year': {
                handler: function (val) {
                    if (val <= 0) {
                        this.errors.add('year', ['Please select a year']);
                    } else {
                        this.errors.clear('year');
                    }
                }
            },

            'localPersonalVehicle.make_id': {
                handler: function (val) {
                    // console.log('here');
                    if (val <= 0) {
                        this.errors.add('make_id', ['Please select a make']);
                    } else {
                        this.errors.clear('make_id');
                    }
                },
                deep: true
            },

            'localPersonalVehicle.model_id': {
                handler: function (val) {
                    if (val <= 0) {
                        this.errors.add('model_id', ['Please select a model']);
                    } else {
                        this.errors.clear('model_id');
                    }
                }
            },

            'localPersonalVehicle.trim': {
                handler: function (val) {
                    if (val.search(/^[a-zA-Z0-9 -.]*$/) === -1) {
                        this.errors.add('trim', ['Invalid Trim']);
                    } else {
                        this.errors.clear('trim');
                    }
                }
            },


        },

        methods: {
            yearChanged(year) {
                this.localPersonalVehicle.year = year;
                this.wasAltered();
            },

            makeChanged(make) {
                this.localPersonalVehicle.make_id = make;
                this.wasAltered();
            },

            modelChanged(model) {
                this.localPersonalVehicle.model_id = model;
                this.wasAltered();
            },

            trimChanged(trim) {
                this.localPersonalVehicle.trim_id = trim;
                this.wasAltered();
            },

            wasAltered() {
                Common.fire('form-altered', {from: this.callerId});
            },

            saveChanges() {
                axios.post('/insertPersonalVehicle', this.personalVehicle).then(response => {
                    // console.log(response);
                })
                    .catch().then(errors => {
                    this.errors.errors = errors.response.data;
                });

                //the module has been completed
                this.completed = true;

                //send the saved data to the registration view
                Common.fire('saved', {
                    from: this.callerId,
                    user: this.localUser,
                    personalVehicle: this.localPersonalVehicle
                });
            },
        }

    };
</script>

<style lang="css">

</style>