<template lang="html">
    <div id="driverPortal" class="box">
        <!--MENU VIEWS-->
        <reimbursement-menu v-if="getView === 'reimbursementMenu'" />
        <vehicles-menu v-if="getView === 'vehiclesMenu'" />
        <mileage-menu v-if="getView === 'mileageMenu'" />

        <!-- INDIVIDUAL VIEWS -->
        <driver-dashboard v-if="getView === 'driverDashboard'"/>
        <mileage-entry-view v-if="getView === 'mileageEntry'"/>
        <mileage-history v-if="getView === 'mileageHistory'"/>
        <destination-addresses v-if="getView === 'destinationAddresses'"/>
        <monthly-reimbursement v-if="getView === 'monthlyReimbursement'"/>
        <car-policy v-if="getView === 'carPolicy'"/>
        <driver-profile v-if="getView === 'driverProfile'"/>
        <personal-vehicles v-if="getView === 'personalVehicles'"/>
        <personal-vehicle v-if="getView === 'personalVehicle'"/>
        <personal-vehicle-favr v-if="getView === 'personalVehicleFAVR'"/>
        <fuel-map v-if="getView === 'fuelMap'"/>
        <depreciation-report v-if="getView === 'depreciationReport'"/>
        <reimbursement-profile v-if="getView === 'reimbursementProfile'"/>
        <driver-banking-tile v-if="getView === 'bankingInformation'" :embedded="true" :header_title="true"/>


        <store-state v-if="getView === 'storeState'"/>
    </div>
</template>

<script>
    import styleFixer from '../../styleFixer';
    import {
        DriverBankingTile,
        DepreciationReport,
        DestinationAddresses,
        DriverDashboard,
        DriverProfile,
        FuelMap,
        MileageEntryView,
        MileageHistory,
        MonthlyReimbursement,
        PersonalVehicle,
        PersonalVehicleFavr,
        PersonalVehicles,
        ReimbursementProfile,
        ReimbursementMenu,
        VehiclesMenu,
        MileageMenu
    } from "./index";
    import {StoreState, DriverInfo} from "../partials";
    import {CarPolicy} from "../company";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {
            DriverBankingTile, DriverDashboard, MileageEntryView, MileageHistory, DestinationAddresses, MonthlyReimbursement,
            CarPolicy, DriverProfile, FuelMap, PersonalVehicles, StoreState,
            PersonalVehicle, PersonalVehicleFavr, ReimbursementProfile, DepreciationReport, ReimbursementMenu, VehiclesMenu, MileageMenu
        },

        data() {
            return {
                show_driver_info: false,
                styleFixer: new styleFixer('driver'),
            };
        },

        created() {
            /**
             * Get initial values from server and save to store
             * TODO: this may be a good candidate for a function in Common
             */
            let init_tag = $('meta[name=init]');
            let initial_values = init_tag.attr('content');

            if (initial_values !== 'empty') {
                Common.processInitialValues(JSON.parse(initial_values));
            }

            // remove inital data from the DOM
            init_tag.attr('content', 'empty');
        },


        mounted() {
            // the profile link is not in a vue component, so
            // we need a listener outside of Vue
            $("#profileLink.driver-profile").click(() => {
                console.log('driver profile clicked!');
                Common.setView('driverProfile', null);
            });
            EventBus.$on('close-driver-info', () => {
                console.log('closing');
                this.show_driver_info = false;
            });

            // this.styleFixer.fixMainContentHeight();
            // this.styleFixer.fixPortalHeight();

        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUsername',
                'getUserFullName',
                'getView',
                'getSubView',
                'getUserType',
                'getDriverProfile',
                'getImpersonatorId'
            ])
        },

        methods: {}
    };
</script>

<style lang="css">
    /*#mileageEntryView, #mileageHistoryView, #destinationAddressesView,
    #monthlyReimbursementView, #carPolicyView {
        border: 0.1rem solid rgb(211, 224, 233);
        border-radius: 1rem;
        padding: 1rem;
    }*/
</style>
