/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div>
        <div class="columns">
            <div class="column">
                <driver-license-tile :driverData="driverData" :embedded="true"/>
            </div>
            <div class="column">
                CarData requires a copy your driver's license.
                <br>
                A digital photo, or scanned copy in PDF format is acceptable.
                <br>
                If you are unable to upload your license at the moment, please send the proof of license to
                {{ name_placeholder }} by email at {{ email_placeholder }} or by fax at {{ fax_placeholder }}
            </div>

            <!--<br>-->

            <!--<div class="columns">-->

            <!--<div class="column is-6">-->

            <!--&lt;!&ndash; set this up to actually save files &ndash;&gt;-->
            <!--<dropzone ref="myVueDropzone" id="dropzone" url="https://httpbin.org/post"-->
            <!--v-on:vdropzone-success="showSuccess"-->
            <!--:max-number-of-files="2">-->
            <!--</dropzone>-->

            <!--</div>-->

            <!--<div class="column is-6">-->
            <!--<div class="box">-->
            <!--You may upload a maximum of two files (one for the front and one for the back of your license).-->
            <!--<br>-->
            <!--<br>-->
            <!--A single document containing both sides is also acceptable.-->
            <!--</div>-->
            <!--</div>-->

        </div>
        <!--</div>-->
    </div>
</template>

<script>

    import Dropzone from 'vue2-dropzone';
    import {DriverLicenseTile} from "./index";


    export default {
        components: {Dropzone, DriverLicenseTile},

        props: ['license', 'driverData'],

        data() {
            return {

                callerId: 'DriverLicense',

                name_placeholder: 'NAME PLACEHOLDER',
                email_placeholder: 'xxx@yyy.zzz',
                fax_placeholder: '999-999-9999',

                has_errors: null,

                completed: false,

            };
        },

        created() {

        },

        methods: {
            showSuccess() {
                // console.log('A file was successfully uploaded');
            },

            saveChanges() {
                Common.fire('saved', {from: this.callerId});
            },

        },


    };
</script>

<style lang="css">

</style>