/**
Requires:
- driverData: object generated from parent

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverAddressTile" class="box">
        <p class="title">Address</p>
        <div v-if="driverData">
            <div class="columns">
                <div class="column is-3">Street:</div>
                <div class="column">{{ combined_streets }}</div>
            </div>
            <div class="columns">
                <div class="column is-3">City:</div>
                <div class="column">{{ driverData.city }}</div>
            </div>
            <div class="columns">
                <div class="column is-3">{{ stateLabel }}:</div>
                <div class="column">{{ state }}</div>
            </div>
            <div class="columns">
                <div class="column is-3">Country:</div>
                <div class="column">{{ country }}</div>
            </div>
            <div class="columns">
                <div class="column is-3">{{ zipLabel }}:</div>
                <div class="column">{{ driverData.zip_postal }}</div>
            </div>
            <div class="columns">
                <div class="column">
                    <a class="btn btn-secondary" @click.prevent="openEditAddress">Edit Address</a>
                </div>
            </div>
        </div>
        <div v-else>
            <a class="btn is-loading"></a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {

        props: ['driverData', 'caller_id'],

        data() {
            return {
                current_address: null,
                edited_address: null
            }
        },

        created() {
            // console.log(this.driverData)
         },

        mounted() {
            axios.get('/getUserAddress/' + this.getUserId + '/' + this.getUserType).then(response => {
             // console.log(response.data.address);
            });
        },

        watch: {
            driverData: function (val) { }
        },

        computed: {
            ...mapGetters([
                'getCountryId',
                'getUserId',
                'getUserType',
            ]),

            country: function () {

                if (this.getCountryId === 1) {
                    return 'United States';
                } else {
                    return 'Canada';
                }
            },

            stateLabel: function () {
                if (this.getCountryId === 1) {
                    return 'State';
                } else {
                    return 'Province';
                }
            },

            state: function() {
                if (this.address.stateProvince) {
                    return this.address.stateProvince.name
                }
            },

            zipLabel: function () {
                if (this.getCountryId === 1) {
                    return 'Zip';
                } else {
                    return 'Postal Code';
                }
            },

            combined_streets: function() {
                if ( Common.isEmpty(this.address.street2) ) {
                    return this.address.street;
                } else {
                    return this.address.street + this.address.street2;
                }
            }
        },

        methods: {
            openEditAddress() {
                $('#driverAddressPartial').addClass('is-active');
            }
        }
    }

</script>

<style lang="css">

</style>