/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverActionTile" class="box">
        <button class="btn btn-secondary"
                @click="navigateTo('mileageEntry')">Enter Mileage
        </button>

        <button class="btn btn-secondary"
                @click="navigateTo('monthlyReimbursement')">View Reimbursement
        </button>

        <button class="btn btn-secondary"
                @click="navigateTo('personalVehicles')">View Personal Vehicles
        </button>
    </div>
</template>

<script>
    /** imports */

    export default {

        props: [],

        components: {},

        data() {
            return {};
        },

        created() {
        },

        mounted() {
        },

        computed: {},

        watch: {},

        methods: {
            navigateTo($view) {
                Common.setView($view, null);
            }
        }
    };
</script>

<style lang="css">
#driverActionTile button {
    float: left;
    margin-right: 1rem;
    margin-bottom: .5rem;
}
</style>