/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="driverInformationTile"><!--v-if="getImpersonatorId > 0 || true"-->
        <span v-if="!show_driver_info" id="infoIcon"
              class="fa fa-info"
              @click="show_driver_info = !show_driver_info"></span>

        <span v-if="!show_driver_info">{{ getUserFullName }}</span>

        <div class="card" v-if="show_driver_info">
            <header class="card-header">
                <p class="card-header-title">
                    Driver Information
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="delete has-text-info"
                           aria-hidden="true"
                           @click="show_driver_info = !show_driver_info"></i>
                    </span>
                </a>
            </header>

            <div class="card-content">
                <div class="content text-left">
                    Driver Id: {{ getUserId }}<br>
                    Username: {{ getUsername }}<br>
                    Street Light: {{ getDriverStreetLightId }}<br>
                    Start / Stop: {{ start_date }} - {{ getDriverStopDate }}
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" @click.prevent="editDriver">Edit Driver</a>
            </footer>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {

        props: ['caller_id'],

        data() {
            return {
                show_driver_info: true
            };
        },

        created() {
        },

        mounted() {
          console.log('trying to log me');
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUsername',
                'getUserEmail',
                'getImpersonatorId',
                'getDriverStreetLightId',
                'getDriverStartDate',
                'getDriverStopDate'
            ]),

            start_date: function () {
                let date = new Date(this.getDriverStartDate + ' 0:0:0'); // if no zeros will return day before
                let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                return months[date.getMonth()] + ' ' + date.getFullYear();
            }
        },

        methods: {

            editDriver() {
                Common.setSession('search_user_email', this.getUserEmail);
                window.location = '/stopImpersonating';
            }
        }
    }

</script>

<style lang="css">
    #driverInformationTile {
        min-width: 30rem;
        position: absolute;
        display: inline-block;
        z-index: 8;
        border: 1px solid red;
        padding: 1rem;
        right: 2%;
    }

    #driverInformationTile #infoIcon {
        padding: 5px 7px;
        background-color: orange;
        border-radius: 5px 6px;
        cursor: pointer;
    }
</style>