/**
Requires:
a vehicle profile object

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="fixedReimbursementTile" class="tile is-6 is-child box">
        <p class="title">Fixed Reimbursement</p>

        <section v-if="loaded == true">

            <div v-if="getCompanyPlan != null">
                <div class="alert alert-info" align="center">
                <!--todo: fixedReimbursement is NOT an object!-->
                    <span class="reimbursement-display">
                        Fixed Rate per Month: $ {{ fixedReimbursementData.fixedReimbursement }}
                    </span>
                </div>


                <!-- Displayed iff. share details -->
                <section v-if="show_reimbursement_details == true">
                    <!--All non-FAVR plans-->
                    <table v-if="getCompanyPlan != 'FAVR'">

                        <tr>
                            <td class="left">Depreciation:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.depreciation.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">{{ tax_label }}</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.tax.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">Finance Cost:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.financeCost.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">Insurance Premiums:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.insurance.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">License & Registration:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.feeRenewal.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">Total Fixed Costs:</td>
                            <td class="table-row-sum">
                                <span style="float:left">$</span>
                                <span style="float:right"> {{ total_fixed_costs }} </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="left">Business Use Percent:</td>
                            <td>
                                <span style="float:left">x</span>
                                <span style="float:right"> {{ fixedReimbursementData.fixedReimbursementDetails.business_use_percent }} %</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="left">Total Fixed Costs Adjusted:</td>
                            <td class="table-row-sum">
                                <span style="float:left">$</span>
                                <span style="float:right"> {{ fixedReimbursementData.fixed_reimbursement }} </span>
                            </td>
                        </tr>

                    </table>

                    <!--Plan FAVR-->
                    <table v-else>
                        <tr>
                            <td class="left">Depreciation:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.depreciation.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">{{ tax_label }}</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.tax.amount_adj) }} </td>
                        </tr>

                        <tr v-if="getCountryId == 2">
                            <td class="left">Finance Cost:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.financeCost.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">Insurance Premiums:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.insurance.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">License & Registration:</td>
                            <td class="right"> {{ twoDecimalPlaces(fixedReimbursementData.fixedReimbursementDetails.feeRenewal.amount_adj) }} </td>
                        </tr>

                        <tr>
                            <td class="left">Total Fixed Costs:</td>
                            <td class="table-row-sum">
                                <span style="float:left">$</span>
                                <span style="float:right"> {{ total_fixed_costs }} </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="left">Business Use Percent:</td>
                            <td>
                                <span style="float:left">x</span>
                                <span style="float:right"> {{ fixedReimbursementData.fixedReimbursementDetails.business_use_percent }} %</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="left">Total Fixed Costs Adjusted:</td>
                            <td class="table-row-sum">
                                <span style="float:left">$</span>
                                <span style="float:right"> {{ fixedReimbursementData.fixedReimbursement }} </span>
                            </td>
                        </tr>

                    </table>
                </section>
            </div>
        </section>

        <section v-else>
            <loading-partial/>
        </section>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {LoadingPartial} from "../partials";

export default {

  props: ['show_reimbursement_details'],

  components: {LoadingPartial},

  data() {
    return {
      loaded: false,
    }
  },

  created() {

      axios.get('/getMyFixedReimbursementData').then( response => {
        this.fixedReimbursementData = response.data.fixedReimbursementData;
        this.loaded = true;
      })

  },

  computed: {
    ...mapGetters([
      'getUserId',
      'getCompanyPlan',
      'getCountryId'
    ]),

      total_fixed_costs: function() {
        return this.twoDecimalPlaces( (this.fixedReimbursementData.fixedReimbursement / ( parseFloat(this.fixedReimbursementData.fixedReimbursementDetails.business_use_percent) / 100 ) ) );
      },

    tax_label: function () {
      if (this.getCountryId == 1) {
        return "Sales & Personal Property Tax:"
      } else {
        return "Sales Tax"
      }
    },
  },

    methods: {

      twoDecimalPlaces(n) {
          return parseFloat(n).toFixed(2)
        }

    },
}
</script>

<style lang="css">

</style>