/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="fuelMap" class="tile is-12 is-child box">
        <div class="columns">
            <div class="column is-6">
                <p class="title">Fuel Map - {{ title }}</p>
            </div>
            <div class="column is-6">
                <button class="btn btn-secondary" style="width: 100%;"
                        @click="show.today = !show.today">{{ button_text }}</button>
            </div>
        </div>
        <!--<p class="small">CHANGE $today to actual date in driver controller (or date -1 depending on time)</p>-->
        <!--<div class="box">-->
            <div id="googleMapArea">
                <div id="legend">
                    <!--<p class="title">Legend</p>-->
                </div>
                <div id="map-canvas" style="padding: 2px; min-height: 400px;"></div>
            </div>
        <!--</div>-->
    </div>
</template>


<script>

    import * as VueGoogleMaps from 'vue2-google-maps';
    import Vue from 'vue';
    import moment from 'moment';
    import {mapGetters} from 'vuex';

    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyB4cVyUmAOKJC0foRNHAjROST06W7U8Iow',
            v: 3.28,
            libraries: 'places'
        }
    });

export default {

    props: [],

    components: {},

    data() {
        return{
            show: {
                today: true,
            },

            averageFuelMarkers: [],
            currentFuelMarkers: [],

            previous_month: new moment().subtract(1, 'months').format('MMMM'),

            center: {}, //{lat: 40.1587027, lng: -105.063178}, // must be the home address {lat: 40.1587027, lng: -105.063178}
            map: null,
            zoom: 10,
            height: '300',
            width: '500',

            icons: {
                greenPump: {
                    name: 'Fuel City in Your Territory',
                    icon: '/img/green_pump_small.png'
                },
                greyPump: {
                    name: 'CarData Fuel City',
                    icon: '/img/grey_pump_small.png'
                },
                home: {
                    name: 'Your Address',
                    icon: '/img/red_home_small.png'
                }
            },
        }
    },

    created() {
        //get today's fuel data
        axios.get('/getFuelCitiesAndPrices/').then(
            response => {
                this.center = {lat: parseFloat(response.data.homeCoordinates.latitude), lng: parseFloat(response.data.homeCoordinates.longitude)};
                this.mountMap();
                this.makeMarkers(response.data.fuelCities);
                this.renderMap();

                //next grab the average fuel data
                axios.get('/getFuelCitiesAndPrices/true/').then(
                    response => {
                        this.makeMarkers(response.data.fuelCities, true);
                    }
                );
            }
        );
    },

    computed: {
        ...mapGetters([
            'getCountryId'
        ]),

        title: function() {
            if (this.show.today) {
                return "Today's Prices";
            } else {
                return "Average Prices for " + this.previous_month;
            }
        },

        button_text: function() {
            if (this.show.today) {
                return "Show Average Fuel Prices";
            } else {
                return "Show Today's Fuel Prices"
            }
        }
    },

    watch: {
        'show': {
            handler: function() {
                this.renderMap();
            },
            deep: true
        }
    },

    methods: {

        mountMap() {

            let mapOptions = {
                center: this.center,
                zoom: this.zoom,
//                MapTypeStyle: {stylers: [{visibility: 'off'}]},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            this.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            //this.map.set('styles', myStyle);

            let legend = document.getElementById('legend');
            for (const key in this.icons) {
                let item = this.icons[key];
                let name = item.name;
                let icon = item.icon;
                let div = document.createElement('div');
                div.innerHTML = '<img src="' + icon + '"> ' + name;
                legend.appendChild(div);
            }

            this.map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);


            //set the home marker at center
            let homeMarker = new google.maps.Marker({
                position: this.center,
                map: null,
                icon: this.icons.home.icon,
            });

            homeMarker.setMap(this.map);
        },

        renderMap() {
            this.clearMarkers();

            if (this.show.today == true) {
               // console.log('set current markers');
                this.setMarkers(this.currentFuelMarkers, this.map);
            } else {
                this.setMarkers(this.averageFuelMarkers, this.map);
            }
        },

        setMarkers(markers, map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
                markers[i].set('labelClass', 'fuel-label');
            }
        },

        // Removes the markers from the map, but keeps them in the arrays.
        clearMarkers() {
            this.setMarkers(this.averageFuelMarkers, null);
            this.setMarkers(this.currentFuelMarkers, null);
        },

        makeMarkers(cities, average = null) {

            for (const index in cities) {
                let city = cities[index];

                var fuelIcon = {
                    url: '',
//                    scaledSize: new google.maps.Size(40,52),
//                    labelOrigin: new google.maps.Point(20,11),
//                    anchor: new google.maps.Point(10,-10),
                };

                var labelIcon = {
                    url: '/img/label_test.png',
                    anchor: new google.maps.Point(-8,48),
                };

                if (this.getCountryId == 2) { // adjust for Canadian prices
                    city.price = parseFloat(city.price).toFixed(1);
                }

                var label = {
                    color: 'black',
//                    fontFamily: 'Arial Narrow, Arial, sans-serif',
//                    fontSize: '14px',
//                    fontWeight: 'bold',
                    text: '$' + city.price,
                };

                if (city.driver_territory == 0 || city.driver_territory == false || city.driver_territory == null) {
                    fuelIcon.url = this.icons.greyPump.icon;
                } else {
                    fuelIcon.url = this.icons.greenPump.icon;
                }

                if (average != null) {

                    let fuelMarker = new google.maps.Marker({
                        position: {lat: city.latitude, lng: city.longitude},
                        map: null,
                        icon: fuelIcon,
                    });

                    let labelMarker = new google.maps.Marker({
                        position: {lat: city.latitude, lng: city.longitude},
                        map: null,
                        label: label,
                        icon: labelIcon,
                    });

                    this.averageFuelMarkers.push(fuelMarker);
                    this.averageFuelMarkers.push(labelMarker);

                } else {
                    let fuelMarker = new google.maps.Marker({
                        position: {lat: city.latitude, lng: city.longitude},
                        map: null,
                        icon: fuelIcon,
                    });

                    let labelMarker = new google.maps.Marker({
                        position: {lat: city.latitude, lng: city.longitude},
                        map: null,
                        label: label,
                        icon: labelIcon,
                    });

                    this.currentFuelMarkers.push(fuelMarker);
                    this.currentFuelMarkers.push(labelMarker)
                }
            }
        },
    }
}
</script>

<style lang="css">
    #legend {
        background: #fff;
        line-height: 30px;
        padding: 10px;
        margin: 10px;
    }

    #googleMapArea {
        border-radius: 5px;
        border: 1px solid #ced4da;
        overflow: hidden;
    }
</style>