<template lang="html">
    <div id="insurancePendingTask">
        <div class="box pending-task p-2" v-for="task in tasks" v-if="task.found"
             style
             :style="[task.critical ? {borderColor:'#810911'} : {borderColor:'#ffc107'}]">
            <i :class="[ 'fas mr-1', task.critical ? 'fa-exclamation-triangle' : 'fa-exclamation-circle' ]" :style="[task.critical ? {color:'#810911'} : {color:'#ffc107'}]"></i>

            <span>{{ task.header }}</span>

            <button v-if="task.button"
                    class="btn btn-primary btn-block mt-2 btn-sm"
                    :disabled="getImpersonatorId > 0"
                    @click="redirectToPageAndSetView(task.view, task.modal)">
                <span>{{ task.button_text }}</span>
            </button>
        </div>
    </div>
</template>

<script>
    /* =================================================== *
     * TODO: write open modals logic & insurance in review *
     * =================================================== */

    import {EventBus} from "../../event-bus.js";
    import {mapGetters} from 'vuex';
    // import Common from '../../utilities/Common';

    export default {
        props: ['caller_id'], // props

        data() {
            return {
                all_tasks_complete: true,
                tasks: {
                    insufficient: {
                        id: 8,
                        found: false,
                        critical: true,
                        header: 'Insufficient Insurance',
                        button: true,
                        button_text: 'Upload Insurance',
                        view: 'driverProfile',
                        modal: 'openUploadInsuranceModal',
                    },
                    awaiting: {
                        id: 16,
                        found: false,
                        critical: true,
                        header: 'Awaiting Insurance',
                        button: true,
                        button_text: 'Upload Insurance',
                        view: 'driverProfile',
                        modal: 'openUploadInsuranceModal',
                    },
                    expired: {
                        id: 64,
                        found: false,
                        critical: true,
                        header: 'Insurance Expired',
                        button: true,
                        button_text: 'Upload Insurance',
                        view: 'driverProfile',
                        modal: 'openUploadInsuranceModal',
                    },
                    compliance: {
                        id: 8192,
                        found: false,
                        critical: true,
                        header: 'No Insurance Compliance',
                        button: true,
                        button_text: 'Upload Insurance',
                        view: 'driverProfile',
                        modal: 'openUploadInsuranceModal',
                    },
                    in_grace_period: {
                        id: 262144,
                        found: false,
                        critical: false,
                        header: 'No Insurance - In Grace Period',
                        button: true,
                        button_text: 'Upload Insurance',
                        view: 'driverProfile',
                        modal: 'openUploadInsuranceModal',
                    },
                    in_review: {
                        id: 777,
                        found: false, /* TODO: Needs to architect'ed */
                        critical: false,
                        header: 'TODO: Insurance in Review',
                        button: false,
                    },
                }
            };
        }, // data

        mounted() {
            EventBus.$emit(this.caller_id + '-loaded', 'insurance');

            for (let taskIndex in this.tasks) { // Loop over tasks & check if getDriverStreetLightId = task.id
                if ((this.getDriverStreetLightId & this.tasks[taskIndex].id) > 0) {
                    this.tasks[taskIndex].found = true; // if found set task.found to true
                }
            }

            /*
            * If any task.found = true (task needs to be completed)
            * tasks_found = false & will notify parent to show pending tasks for insurance
            * to show pending tasks for insurance
            */
            if (this.tasks_complete) {
                EventBus.$emit(this.caller_id + '-completed', 'insurance');
            } else {
                // console.log('::InsurancePendingTask.vue > No insurance pending tasks')
            }
        }, // mounted

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getDriverStreetLightId',
            ]),

            /**
            * Loop through tasks, & if task.found has been set to true in mounted
            * via the Bitwise comparison of getDriverStreetLightId & task.id
            * return false - tasks are NOT complete
            * otherwise return true - tasks ARE complete
            */
            tasks_complete () {
                for (let taskCompleteIndex in this.tasks) { // loop over tasks & return if any are true
                    if(this.tasks[taskCompleteIndex].found) { this.all_tasks_complete = false }
                }
                return this.all_tasks_complete;
            }
        }, // computed

        methods: {
            redirectToPageAndSetView(view, modal) {
                if (!modal) modal = null;
                Common.setView(view, modal);
            },
        }, // methods
    }
</script>

<style lang="scss">
 #insurancePendingTask {
     font-size: 14px;
 }
</style>