<template lang="html">
    <div id="licensePendingTask">
        <div class="box pending-task p-2" v-for="task in tasks" v-if="task.found"
             :style="[task.critical ? {borderColor:'#810911'} : {borderColor:'#ffc107'}]">
            <i :class="[ 'fas mr-1', task.critical ? 'fa-exclamation-triangle' : 'fa-exclamation-circle' ]" :style="[task.critical ? {color:'#810911'} : {color:'#ffc107'}]"></i>

            <span>{{ task.header }}</span>

            <button v-if="task.button"
                    class="btn btn-primary btn-block mt-2 btn-sm"
                    :disabled="getImpersonatorId > 0"
                    @click="redirectToPageAndSetView(task.view, task.modal)">
                <span>{{ task.button_text }}</span>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';

    export default {
        props: ['caller_id'], // props

        data() {
            return {
                all_tasks_complete: true,
                tasks: {
                    required: {
                        id: 4096,
                        found: false,
                        critical: true,
                        header: 'Driver License Required',
                        button: true,
                        button_text: 'Upload License',
                        view: 'driverProfile',
                        modal: 'openUploadLicenseModal',
                    },
                    awaiting: {
                        id: 8388608,
                        found: false,
                        critical: true,
                        header: 'Awaiting Driver License',
                        button: true,
                        button_text: 'Upload License',
                        view: 'driverProfile',
                        modal: 'openUploadLicenseModal',
                    },
                    in_review: {
                        id: 777,
                        found: false, /* TODO: Needs to architect'ed */
                        critical: false,
                        header: 'TODO: License in Review',
                        button: false,
                    },
                }
            };
        }, // data

        mounted() {
            EventBus.$emit(this.caller_id + '-loaded', 'license');

            for (let taskIndex in this.tasks) { // Loop over tasks & check if getDriverStreetLightId = task.id
                if ((this.getDriverStreetLightId & this.tasks[taskIndex].id) > 0) {
                    this.tasks[taskIndex].found = true; // if found set to true
                }
            }

            if (this.tasks_complete) {
                // console.log('tasks_complete');
                EventBus.$emit(this.caller_id + '-completed', 'license');
            }
        }, // mounted

        computed: {
            ...mapGetters([
                'getDriverStreetLightId',
                'getImpersonatorId',
            ]),

            tasks_complete () {
                for (let taskCompleteIndex in this.tasks) { // loop over tasks & return if any are true
                    // console.log('hit',this.tasks[taskCompleteIndex][0])
                    if(this.tasks[taskCompleteIndex].found) { this.all_tasks_complete = false }
                }
                return this.all_tasks_complete;
            },
        }, // computed

        methods: {
            redirectToPageAndSetView(view, modal) {
                // console.log('hit: ',view,modal);
                if (!modal) modal = null;
                Common.setView(view, modal);
            },
        }, // methods
    }
</script>

<style>

</style>