<template lang="html">
    <div id="mileageMessagePartial">

        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Instructions and Messages
                        </p>
                        <a href="#" id="iconLink" class="card-header-icon" aria-label="more options" @click.prevent="show_messages = !show_messages" style="color: #000;">
                            <span class="icon">
                                <!-- showing the hider for now -->
                                <i v-if="true" :class="{'fa':true, 'fa-angle-down': !show_messages, 'fa-angle-up': show_messages}" aria-hidden="true"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content"  v-if="show_messages">
                        <div class="content">
                            <ul>
                                <li type="square" style='margin-left: 20px; margin-bottom: 5px'>Mileage entries close on the
                                    {{this.formatted_lock_day}} of each month at <strong>Midnight {{ time_zone_name }} ({{
                                        time_zone_short_name}}).</strong></li>
                                <li v-if="edit_mode" type="square" style='margin-left: 20px; margin-bottom: 5px;'>Accurate business mileage
                                    and odometer readings are required.
                                </li>
                                <li v-if="edit_mode" type="square" style='margin-left: 20px; margin-bottom: 5px;'>Per IRS Rules commute
                                    mileage is not considered business mileage.
                                </li>
                                <li v-if="edit_mode" type="square" style='margin-left: 20px; margin-bottom: 5px;'>Questionable or inaccurate
                                    submissions may be subject to investigation.
                                </li>
                                <li v-if="edit_mode && quaker_driver" type="square"
                                    style='margin-left: 20px; margin-bottom: 5px; background-color: red;'><strong>Consistent with Quaker's
                                    Travel and Entertainment Policy, the failure to input accurate mileage amounts may result in
                                    disciplinary action, up to and including termination.</strong></li>
                                <li v-if="!commuter" type=circle style='margin-left: 20px; margin-bottom: 5px'>Personal mileage is a
                                    calculation based on odometer readings and business mileage.
                                </li>
                                <li v-if="commuter" type=circle style='margin-left: 20px; margin-bottom: 5px'>Business mileage is a
                                    calculation based on odometer readings and commuter mileage.
                                </li>
                                <li type=circle style='margin-left: 20px; margin-bottom: 5px'>Negative values of personal mileage receive a
                                    warning message. The negative number is displayed in red to find easily and make your corrections.
                                </li>
                                <li type=circle style='margin-left: 20px; margin-bottom: 5px'>Previous day ending odometer and current day
                                    starting odometer that have a difference of > 1,000 are treated as a different vehicle.
                                </li>
                                <li type="square" style='margin-left: 20px; margin-bottom: 5px'><strong>Data is automatically saved when
                                    moving cursor to another field.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <footer class="card-footer" v-if="false">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        props: ['formatted_lock_day', 'miroute', 'edit_mode', 'time_zone_name', 'time_zone_short_name', 'commuter', 'quaker_driver'],

        data() {
            return {
                show_messages: false
            };
        }
    };
</script>

<style lang="css">
#mileageMessagePartial a#iconLink, #mileageMessagePartial a#iconLink:hover {
    text-decoration: none;
}
</style>