/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="mileageHistoryView">

        <h3><i class="far fa-road"></i> Monthly Mileage Summary</h3>

        <div class="text-right">
            <a class="btn btn-primary" @click.prevent="todayEntry()">View Today</a>
        </div>

        <div class="columns">
            <div v-if="selected_year > 0" class="column is-half">
                <year-select :start_year="start_year"
                             :end_year="end_year"
                             :direction="'desc'"/>
            </div>
            <div v-if="selected_month > 0 && selected_year > 0" class="column">
                <month-select :display="'long'"
                              :disabled_future_months="true"/>
            </div>
        </div>

        <!-- Bootstrap Table START -->
        <div class="table-responsive table-responsive-bordered mt-5 mb-5">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th v-if="!miroute">Destination</th>
                        <th v-if="!miroute">Purpose</th>
                        <th class="text-right">Starting Odometer</th>
                        <th class="text-right">Ending Odometer</th>
                        <th class="text-right" v-if="commuter">Commuter Mileage</th>
                        <th class="text-right">Business Mileage</th>
                        <th class="text-right" v-if="!commuter">Personal Mileage</th>
                        <th class="text-right" v-if="miroute">Trips</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in mileage" @click.prevent="dailyMileageLink(row)">
                        <td v-if="isFutureDate(row.date_value)">{{row.date_value  | dateFormat}}</td>
                        <td v-else>{{row.date_value  | dateFormat}}</td>

                        <td v-if="!miroute">
                            {{row.destination}}
                        </td>

                        <td v-if="!miroute">
                            {{row.business_purpose}}
                        </td>

                        <td class="text-right" align="right">{{row.starting_odometer > 0 ? row.starting_odometer.toLocaleString() : ''}}</td>


                        <td class="text-right" align="right">{{row.ending_odometer > 0 ? row.ending_odometer.toLocaleString() : ''}}</td>

                        <td class="text-right" v-if="commuter" align="right">{{row.commuter_mileage > 0 ? row.commuter_mileage.toLocaleString() : ''}}</td>

                        <td class="text-right" align="right">{{row.business_mileage > 0 ? row.business_mileage.toLocaleString() : ''}}</td>

                        <td class="text-right" align="right" v-if="!commuter">
                            {{row.personal_mileage > 0 ? row.personal_mileage.toLocaleString() : ''}}
                        </td>

                        <td class="text-right" align="right" v-if="miroute">{{row.trips}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Bootstrap Table END -->

        <div v-if="Object.keys(mileage).length" class="row" style="margin-top: 50px;">

            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item" style="border-color: #e4e4e4;"> Personal mileage is a calculation based on odometer
                        readings and business mileage.
                    </li>
                    <li class="list-group-item" style="border-color: #e4e4e4;"> Previous day ending odometer and current day starting
                        odometer that have a difference of >1,000 are treated as a different vehicle.
                    </li>
                    <li class="list-group-item" v-if="miroute" style="border-color: #e4e4e4;"> To view or edit your current month's
                        details please click on the date you want to change or number of trips.
                    </li>
                </ul>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr v-if="mileage_per_vehicle.length">
                                    <th style="color: #000;">Difference in Odometer Readings</th>
                                    <th style="color: #000; text-align: center" class="biz-mileage">Business Mileage</th>
                                    <th style="color: #000; text-align: right" class="personal-mileage">Personal Mileage</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="row in mileage_per_vehicle">
                                    <!--<td style="border-bottom: 0">{{ row.ending }} - {{ row.starting }} = {{ (row.ending - row.starting) }}</td>-->
                                    <td style="border-bottom: 0">{{ row.ending.toLocaleString() }} - {{ row.starting.toLocaleString() }} = {{ (row.ending - row.starting).toLocaleString() }}</td>
                                    <td style="text-align: center; border: 0;">{{ row.business.toLocaleString() }}</td>
                                    <td style="text-align: right;  border: 0;">{{ row.personal.toLocaleString() }}</td>
                                </tr>
                                <tr>
                                    <td style="border:0"></td>
                                    <td style="text-align: center; border: 0; border-top: 1px dashed #ccc;">{{ total_business.toLocaleString() }}</td>
                                    <td style="text-align: right; border: 0; border-top: 1px dashed #ccc;">{{ total_personal.toLocaleString() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="row" v-if="mileage_per_vehicle.length">
                        <div align="left" class="col-xs-4"><strong>Difference in Odometer Readings</strong></div>
                        <div align="center" class="col-xs-4 biz-mileage"><strong>Business Mileage</strong></div>
                        <div align="right" class="col-xs-4 personal-mileage"><strong>Personal Mileage</strong></div>
                    </div>-->

                    <!--<div v-for="row in mileage_per_vehicle">
                        <div class="row">
                            <div class="col-xs-4"
                                 align="left">{{ row.ending }} - {{ row.starting }} = {{ (row.ending - row.starting) }}
                            </div>
                            <div class="col-xs-4" align="center">{{ row.business }} <hr></div>
                            <div class="col-xs-4" align="right">{{ row.personal }} <hr></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4" align="center">{{ total_business }}</div>
                        <div class="col-xs-4" align="right">{{ total_personal }}</div>
                    </div>-->
                </div>
            </div>
        </div>
















        <!-- <div class="columns">
            <div class="column is-2">Date</div>
            <div class="column is-2" v-if="!miroute">Destination</div>
            <div class="column is-2" v-if="!miroute">Purpose</div>
            <div align="right" class="column is-2">Starting Odometer</div>
            <div align="right" class="column is-2">Ending Odometer</div>
            <div v-if="commuter">
                <div align="right" class="column is-1">Commuter Mileage</div>
            </div>
            <div align="right" class="column is-1">Business Mileage</div>
            <div v-if="!commuter">
                <div align="right" class="column is-1">Personal Mileage</div>
            </div>
            <div align="right" class="column is-1" v-if="miroute">Trips</div>
        </div>

        <div v-for="row in mileage" @click="selectRow">

            <div class="columns">
                <div class="column is-2">
                    <div v-if="isFutureDate(row.date_value)">{{row.date_value | dateFormat}}</div>
                    <div v-else><a @click.prevent="dailyMileageLink(row)">{{row.date_value | dateFormat}}</a></div>
                </div>

                <div class="column is-2" v-if="!miroute">
                    {{row.destination}}
                </div>

                <div class="column is-2" v-if="!miroute">
                    {{row.business_purpose}}
                </div>

                <div class="column is-2">
                    <div align="right">{{row.starting_odometer > 0 ? row.starting_odometer.toLocaleString() : ''}}</div>
                </div>


                <div class="column is-2">
                    <div align="right">{{row.ending_odometer > 0 ? row.ending_odometer.toLocaleString() : ''}}</div>
                </div>

                <div v-if="commuter" class="column is-1">
                    <div align="right">{{row.commuter_mileage > 0 ? row.commuter_mileage.toLocaleString() : ''}}</div>
                </div>

                <div class="column is-1">
                    <div align="right">{{row.business_mileage > 0 ? row.business_mileage.toLocaleString() : ''}}</div>
                </div>

                <div align="right" v-if="!commuter" class="column is-1">
                    {{row.personal_mileage > 0 ? row.personal_mileage.toLocaleString() : ''}}
                </div>

                <div align="right" class="column is-1" v-if="miroute">{{row.trips}}</div>
            </div>

        </div> -->

        <!-- <div v-if="Object.keys(mileage).length" class="columns">
        
            <div class="column">
                <ul>
                    <li type="square" style='margin-left: 20px;'> Personal mileage is a calculation based on odometer
                        readings and business mileage.
                    </li>
                    <li type="square" style='margin-left: 20px;'> Previous day ending odometer and current day starting
                        odometer that have a difference of >1,000 are treated as a different vehicle.
                    </li>
                    <li v-if="miroute" type="square" style='margin-left: 20px;'> To view or edit your current month's
                        details please click on the date you want to change or number of trips.
                    </li>
                </ul>
            </div>
        
            <div class="column">
                <div class="columns" v-if="mileage_per_vehicle.length">
                    <div align="right" class="column"><strong>Difference in Odometer Readings</strong></div>
                    <div align="right" class="column"><strong>- Business Mileage</strong></div>
                    <div align="right" class="column"><strong>= Personal Mileage</strong></div>
                </div>
                <div v-for="row in mileage_per_vehicle">
                    <div class="columns">
                        <div class="column"
                             align="right">{{ row.ending }} - {{ row.starting }} = {{ (row.ending - row.starting) }}
                        </div>
                        <div class="column" align="right">{{ row.business }}</div>
                        <div class="column" align="right">{{ row.personal }}</div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column" align="right">
                        ------------------------
                    </div>
                    <div class="column" align="right">
                        ------------------------
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column" align="right">{{ total_business }}</div>
                    <div class="column" align="right">{{ total_personal }}</div>
                </div>
            </div>
        </div> -->

    </div>
</template>


<script>
    import {MonthSelect, YearSelect} from "../partials";
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';
    // import Common from '../../utilities/Common';

    export default {

        components: {moment, MonthSelect, YearSelect},

        data() {
            return {
                caller_id: 'MileageHistory',
                start_year: 2008,
                end_year: 2017,
                selected_month: -1,
                selected_year: -1,
                selected_date: null,
                source_type: 'driver',
                mileage: [],
                miroute: false,
                commuter: false,
                edit_mode: false,
                mileage_per_vehicle: [],
                total_business: null,
                total_personal: null,
                future_date: true
            };
        },

        created() {

            EventBus.$on('year-changed',(val) => {
                this.selected_year = val;
            });
            if (this.selected_year == -1 && this.selected_month == -1) {
                this.setYearAndMonth();
            }
            this.getMileage();
            this.updateUser();
        },

        mounted() {

            EventBus.$on('year-changed', () => {
                this.selected_year = this.getSessionYear;
                let current_month = moment().month()+1;
                if( this.getSessionYear == moment().year() && this.getSessionMonth > current_month ) {
                    Common.storeCommit('updateSessionMonth',current_month);
                    this.selected_month = current_month;
                }
                this.getMileage();
            });

            EventBus.$on('month-changed', () => {
                this.selected_month = this.getSessionMonth;
                this.getMileage();
            });

            if (this.user) {
                this.updateUser();
            }
            this.updateSelectedDate();
            this.accessToForm();
            this.findingProblems(); // no business mileage, negative personal mileage
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyId',
                'getDriverMileageEntryMethod',
                'getDriverMileageLockDay',
                'getDriverStartDate',
                'getDriverStopDate',
                'getSessionYear',
                'getSessionMonth',
                'getSessionDay'
            ]),

            quaker_driver: function () {
                return this.getCompanyId == 36 ? true : false;
            },

            todays_date: function () {
                return moment().format('YYYY-MM-DD');
            },



            formatted_lock_day: function () {
                let suffix = '';
                switch (this.getDriverMileageLockDay) {
                    case 1:
                        suffix = "st";
                        break;
                    case 2:
                        suffix = "nd";
                        break;
                    case 3:
                        suffix = "rd";
                        break;
                    default:
                        suffix = "th";
                        break;
                }
                return this.getDriverMileageLockDay + suffix;
            }

        },

        filters: {
            dateFormat: function (value) {
                var array = value.split('-');
                return moment().year(array[0]).month(array[1]-1).date(array[2]).format("ddd, MMM Do, YYYY");
            }

        },

        methods: {
            todayEntry() { // davery
                Common.setView('mileageEntry', null);
                Common.fire('switch-mileageEntry-subpage');
            },

            isFutureDate(date) {
                return moment().isSameOrBefore(date);
            },

            setYearAndMonth() {
             // console.log('DEB: setYearAndMonth()...');
                if( this.getSessionYear > 0 && this.getSessionMonth > 0  ) {
                 // console.log('Found store year and month');
                    this.selected_year = this.getSessionYear;
                    this.selected_month = this.getSessionMonth;
                } else {
                    this.selected_year = this.getDefaultYear();
                    this.selected_month = this.getDefaultMonth();
                 // console.log('set default year ' + this.selected_yea + ' and month ' + this.selected_month);
                    Common.storeCommit('updateSessionYear', this.selected_year);
                    Common.storeCommit('updateSessionMonth', this.selected_month);
                    Common.storeCommit('updateSessionDay', 1);
                }
            },

            getDefaultYear() {
                if (moment().date() <= this.getDriverMileageLockDay) {
                    return (moment().month() == 0) ? (moment().year()) - 1 : moment().year();
                } else {
                    return moment().year();
                }
            },

            getDefaultMonth() {
                if (moment().date() <= this.getDriverMileageLockDay) {
                    return moment().month() == 0 ? 12 : moment().month();
                } else {
                    return moment().month() + 1;
                }
            },

            dateFromReimbursement(yearMonth) {
                this.get_year = yearMonth.year;
                this.get_month = yearMonth.month;
            },

            updateUser() {
                let date = moment.now();
                this.start_year = this.getDriverStartDate.substring(0, 4);
                this.end_year = typeof this.getDriverStopDate !== 'undefined' && this.getDriverStopDate !== null ? this.getDriverStopDate.substring(0, 4) : moment(date).format('YYYY');

                this.miroute = this.getDriverMileageEntryMethod == 'Mi-Route' ? true : false;
                this.commuter = this.getDriverMileageEntryMethod == 'Daily Commuter' ? true : false;
            },

            findingProblems() {
                let business_mileage_found = false;
                for (let i = 0; i < this.mileage.length; i++) {
                    if (this.mileage[i].business_mileage != null && this.mileage[i].business_mileage != 0) {
                        business_mileage_found = true;
                        break;
                    }
                }
                if (!business_mileage_found && false) {
                    alert('Total Business Mileage is zero, please review your entries, and enter your business mileage into the business mileage field for reimbursement.\nIf you do not have business mileage for the month, no action is required.');
                }
            },

            getMileage() {
                console.log('Get Mileage for ' + this.selected_year + '/' + this.selected_month);
                if (this.selected_year > 0 && this.selected_month > 0) {
                    axios.post('/getMileage', {
                        'month': this.selected_month,
                        'year': this.selected_year
                    }).then(response => {
                        this.mileage = response.data.mileage;
                        console.log(this.mileage);
                        this.updateSelectedDate();
                        this.accessToForm();
                        this.getMileageDataPerVehicle();
                    });
                } else {
                }
            },

            dailyMileageLink(row) {

                let date_arr = row.date_value.split('-');
                Common.storeCommit('updateSessionYear',date_arr[0]);
                Common.storeCommit('updateSessionMonth',date_arr[1]);
                Common.storeCommit('updateSessionDay',date_arr[2]);

             // console.log('getDriverMileageEntryMethod', this.getDriverMileageEntryMethod);
                switch( this.getDriverMileageEntryMethod  ) {
                    case 'Daily Log':
                     // console.log('switch to Daily');
                        Common.setView('mileageEntry', 'showDailyMileageEntry');
                        break;

                    case 'Mi-Route':
                     // console.log('switch to Mi-Route');
                        Common.setView('mileageEntry', 'showMiRouteMileageEntry');
                        break;

                    case 'Daily Commuter':
                     // console.log('switch to Commuter');
                        Common.setView('mileageEntry', 'showDailyMileageEntry');
                        break;

                    default:
                     // console.log('Where to go?');
                }
             // console.log('After view?');

            },

            getMileageDataPerVehicle: function () {
                axios.post('/getMileagePerVehicle', {
                    'user_id': this.getUserId,
                    'month': this.selected_month,
                    'year': this.selected_year
                }).then(response => {
                    this.mileage_per_vehicle = response.data.mileage;
                    this.total_business = 0;
                    this.total_personal = 0;
                    for (let i = 0; i < this.mileage_per_vehicle.length; i++) {
                        this.total_business += this.mileage_per_vehicle[i].business;
                        this.total_personal += this.mileage_per_vehicle[i].personal;
                    }
                });
            },

            /*selectRow() {
                $('table').find('tr').removeClass('is-selected');
                $(event.path[1]).addClass('is-selected');
            },*/

            updateSelectedDate() {
                // moment is 0 based, select-month is 1 based
                let month = this.selected_month - 1;
                this.selected_date = moment([this.selected_year, month, 1]).format('YYYY-MM-DD');
            },


            accessToForm() { // can we edit form: current month + precious month if we are before lock date
                let today = moment();

                let month = today.month() + 1;    // month starts from 0 :-(
                let year = today.year();


                if (this.selected_month == month && this.selected_year == year) {
                    this.edit_mode = true;
                } else if ((this.selected_month == (month - 1) && this.selected_year == year ||
                        this.selected_month == 12 && month == 1 && this.selected_year == (year - 1)
                    ) && today.date() <= this.getDriverMileageLockDay) {
                    this.edit_mode = true;
                } else {
                    this.edit_mode = false;
                }
            },

            updateMileageValues(row) {      // updates if possible all mileages and odometers. Update monthly and personal mileage
                let mileage = {};

                mileage.user_id = this.getUserId;
                mileage.trip_date = moment([this.selected_year, this.selected_month - 1, row.date.split(" ")[1]]).format('YYYY-MM-DD');

                mileage.destination = row.destination;
                mileage.business_purpose = row.business_purpose;
                mileage.starting_odometer = row.starting_odometer;
                mileage.ending_odometer = row.ending_odometer;

                if (!this.commuter) {
                    mileage.business_mileage = row.business_mileage;
                    if (row.ending_odometer > row.starting_odometer) {
                        mileage.personal_mileage = Math.max(0, row.ending_odometer - row.starting_odometer - row.business_mileage);
                    } else {
                        mileage.personal_mileage = 0;
                    }
                    mileage.commuter_mileage = 0;
                    row.personal_mileage = mileage.personal_mileage;
                } else {
                    mileage.commuter_mileage = row.commuter_mileage;
                    if (row.ending_odometer > row.starting_odometer) {
                        mileage.business_mileage = Math.max(0, row.ending_odometer - row.starting_odometer - row.commuter_mileage);
                    } else {
                        mileage.business_mileage = 0;
                    }
                    row.business_mileage = mileage.business_mileage;
                    mileage.personal_mileage = 0;
                }

                axios.post('/updateDailyMileage', mileage).then(
                    response => {
                        // nothing to do, we do not refresh page
                    }
                );
            },

            updateMileageText(row) {            // creates or updates only destination or and business purpose. No need to update monthly and personal mileages
                let mileage = {};
                mileage.user_id = this.getUserId;
                mileage.trip_date = moment([this.selected_year, this.selected_month, row.date.split(" ")[1]], "YYYY-MM-DD").format('YYYY-MM-DD');
                mileage.destination = row.destination;
                mileage.business_purpose = row.business_purpose;
                mileage.business_mileage = row.business_mileage; // mandatory for trips;

                axios.post('/updateDailyMileageWithText', mileage).then(
                    response => {
                    },
                    error => {
                    }
                );
            },
        },
    };

</script>


<style lang="css">
    #mileageHistoryView table tbody tr:hover {
        cursor: pointer;
    }
    .biz-mileage {
        position: relative;
    }
    .biz-mileage:before {
        content: "-";
        display: block;
        left: -2px;
        position: absolute;
    }

    .personal-mileage {
        position: relative;
    }
    .personal-mileage:before {
        content: "=";
        display: block;
        left: -2px;
        position: absolute;
    }
</style>
