<template lang="html">
<div id="mileagePerVehiclePartial">
<h2>HELLO? {{test}}</h2>
</div>
</template>

<script>
    export default {

        props: ["user_id","selected_year","selected_month"],

        data() {
            return {
                test:'123',
                year: 0,
                month: 0,
                selected_user_id: -1
            }
        },

        mounted() {
            this.year = this.selected_year;
            this.month = this.selected_month;
            this.test = 'ABC u=' + this.user_id + " y=" + this.selected_year + " m=" + this.selected_month;
            this.getMileageData();
        },

        methods: {
            getMileageData: function() {
                axios.post('/getMileagePerVehicle', {
                    'user_id': this.user_id,
                    'year': this.year,
                    'month': this.month
                }).then(response => {

                })
            }
        },
    }


</script>

<style lang="css">

</style>