/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="mileageEntryView">

        <div class="columns">
            <div class="column is-6">
                <h3><i class="far fa-road"></i> {{ page_title }}</h3>
            </div>
        </div>
        <!--<br>-->

        <!--<div class="columns">-->
            <div v-if="revealPage"><!--class="column"-->
                <!--<div class="columns">-->
                    <!--<div class="column">-->

                        <daily-mileage-entry-page v-if="displayShowDailyMileageEntry"/>

                        <monthly-mileage-entry-page v-if="displayShowMonthlyMileageEntry"/>

                        <mi-route-mileage-entry-page v-if="displayShowMiRouteMileageEntry"/>

                        <destination-addresses v-if="displayDestinationAddresses"/>

                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="column" v-else><p>loading...</p></div>
        <!--</div>-->

    </div>
</template>

<script>

    import {
        DailyMileageEntryPage,
        DestinationAddresses,
        MiRouteMileageEntryPage,
        MonthlyMileageEntryPage
    } from "./index";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {DailyMileageEntryPage, MiRouteMileageEntryPage, MonthlyMileageEntryPage, DestinationAddresses},

        data() {
            return {
                caller_id: 'mileageEntry',
                revealPage: false,
                displayShowDailyMileageEntry: false,
                displayShowMonthlyMileageEntry: false,
                displayShowMiRouteMileageEntry: false,
                displayDestinationAddresses: false,
                miroute: false
            };
        },

        created() {

        },

        mounted() {
            Common.listen('switch-mileageEntry-subpage', this.switchSubpage);
            Common.listen('date-from-link', this.dateChanged);
            console.log('MileageEntryView: mounted, mileage entry method:' + this.getDriverMileageEntryMethod);
            this.miroute = this.getDriverMileageEntryMethod === 'Mi-Route';
            EventBus.$on('subView-changed', ()=>{
                this.switchSubpage(this.getSubView);
            });
            this.switchSubpage(this.getSubView);
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getDriverMileageEntryMethod',
                'getSubView',
                'getSessionYear',
                'getSessionMonth'
            ]),

            page_title: function () {
                if (this.displayShowDailyMileageEntry) {
                    return 'Daily Mileage Entry';
                } else if (this.displayShowMonthlyMileageEntry) {
                    return 'Monthly Mileage Entry';
                } else if (this.displayShowMiRouteMileageEntry) {
                    return 'Mi-Route Daily Entry';
                } else {
                    return 'Mileage Entry'; // unknown type here
                }
            }
        },

        watch: {

        },

        methods: {
            switchSubpage(subpage) {

             console.log('MileageEntryView: switchSubpage subpage: ' + subpage);

                switch (subpage) {

                    case null:
                    case 'null':
                    case '':
                        console.log('MileageEntryView: switch case null, miroute: ' + this.miroute);
                        if (this.miroute) {
                            this.showMirouteMileageEntry();
                        } else {
                            this.showDailyMileageEntry();
                        }
                        break;

                    case 'showDailyMileageEntry':
                        this.showDailyMileageEntry();
                        break;

                    case 'showMonthlyMileageEntry':
                        this.showMonthlyMileageEntry();
                        break;

                    case 'showMiRouteMileageEntry':
                        this.showMirouteMileageEntry();
                        break;
                }
            },

            showDailyMileageEntry() {
                this.displayShowDailyMileageEntry = true;
                this.displayShowMonthlyMileageEntry = false;
                this.displayShowMiRouteMileageEntry = false;
                this.revealPage = true;
            },

            showMonthlyMileageEntry() {
                this.displayShowDailyMileageEntry = false;
                this.displayShowMonthlyMileageEntry = true;
                this.displayShowMiRouteMileageEntry = false;
                this.revealPage = true;
            },

            showMirouteMileageEntry() {
                this.displayShowDailyMileageEntry = false;
                this.displayShowMonthlyMileageEntry = false;
                this.displayShowMiRouteMileageEntry = true;
                this.revealPage = true;
            },
        }
    };
</script>

<style lang="css">

</style>



