/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="mileageEntryView">
        <h2>MileageEntry</h2>

        <div class="columns">
            <div class="column">
                <month-select :display="'long'"
                              :selected_month="selected_month"
                              :caller_id="caller_id"/>
            </div>
            <div class="column">
                <day-select :selected_day="selected_day"
                            :selected_month="selected_month"
                            :selected_year="selected_year"
                            :caller_id="caller_id"/>
            </div>
            <div class="column">
                <year-select :start_year="start_year"
                             :end_year="end_year"
                             :selected_year="selected_year"
                             :caller_id="caller_id"/>
            </div>
        </div>

        <br>

        <driver-mileage-message
                :time_zone_name="user.time_zone.name"
                :time_zone_short_name="user.time_zone.short_name"
                :country="'US'"
                :formatted_lock_day="formatted_lock_day"
                :miroute="miroute"
                :edit_mode="edit_mode"
                :commuter="commuter"
                :quaker_driver="quaker_driver"/>

        <br>

        <div class="columns">
            <div class="column">
                <a class="btn left-button float-left" @click.prevent="decrementDay">
                    <span class="fa fa-arrow-circle-left fa-3x"></span>
                </a>
            </div>
            <div class="column is-10 text-center" v-if="tripData">

                <div v-if="selected_date_formatted" class="text-center h3">{{ selected_date_formatted }}</div>

                <div class="columns" v-if="tripData.last_odometer">
                    <div class="column">Last odometer entered on {{tripData.last_date}}</div>
                    <div class="column">{{tripData.last_odometer}}</div>
                </div>

                <div class="columns">
                    <div class="column" style="float: right;">Starting Odometer</div>
                    <div class="column" style="float: left;">
                        <input type="number"
                               v-if="edit_mode"
                               v-model.number="starting_odometer"
                               @change="calculatePersonal">
                        <div v-if=" ! edit_mode">{{ starting_odometer }}</div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">Ending Odometer</div>
                    <div class="column">
                        <input type="number"
                               v-if="edit_mode"
                               v-model.number="ending_odometer"
                               @change="calculatePersonal">
                        <div v-if=" ! edit_mode">{{ ending_odometer }}</div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">Destination</div>
                    <div class="column">
                        <textarea v-if="edit_mode" v-model="destination"></textarea>
                        <div v-if=" ! edit_mode">{{ destination }}</div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">Business Purpose</div>
                    <div class="column">
                        <textarea v-if="edit_mode" v-model="business_purpose"></textarea>
                        <div v-if=" ! edit_mode">{{ business_purpose }}</div>
                    </div>
                </div>


                <div v-if=" mileage_entry_method != 'Daily Commuter'">

                    <div class="columns">
                        <div class="column">Business Mileage</div>
                        <div class="column">
                            <input type="number"
                                   v-if="edit_mode"
                                   v-model.number="business_mileage"
                                   @change="calculatePersonal">
                            <div v-if=" ! edit_mode">{{ business_mileage }}</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">Personal Mileage</div>
                        <div class="column">
                            <div v-if="business_mileage">{{personal_mileage}}</div>
                        </div>
                    </div>

                </div>
                <div v-else>

                    <div class="columns">
                        <div class="column">Commuter Mileage</div>
                        <div class="column">
                            <input type="number"
                                   v-if="edit_mode"
                                   v-model.number="commuter_mileage"
                                   @change="calculateBusiness">
                            <div v-if=" ! edit_mode">{{ commuter_mileage }}</div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">Business Mileage</div>
                        <div class="column">
                            <div v-if="business_mileage">{{business_mileage}}</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="column">
                <a class="btn right-button float-right" @click.prevent="incrementDay"
                   :disabled="todays_date == selected_date">
                    <span class="fa fa-arrow-circle-right fa-3x"></span>
                </a>
            </div>
        </div>


        <div class="columns">
            <div class="column is-2">
                <div v-if="edit_mode">
                    <a class="btn btn-secondary" @click.prevent="updateMileage()">Update Mileage</a>
                    <span v-if="message" class="label label-success"><h3>Mileage updated</h3></span>
                </div>
            </div>
            <div class="column is-2">
                <div v-if="tripData">
                    <a class="btn btn-secondary" @click.prevent="monthlyMileage()">View Monthly Mileage Summary</a>
                </div>
            </div>
        </div>


        <!--<div class="box">
            <h2>Google Map here, NOT wired up yet</h2>
            <google-map/>
        </div>-->
    </div>

</template>

<script>
    import moment from 'moment';
    import {DriverMileageMessage} from "./index"; // driver
    import {DaySelect, GoogleMap, MonthSelect, YearSelect} from "../partials";

    export default {

        props: ['user'],

        components: {moment, DaySelect, DriverMileageMessage, GoogleMap, MonthSelect, YearSelect},

        data() {
            return {
                caller_id: 'MileageEntry',
                start_year: 2008,
                end_year: 2017,
                selected_year: moment().year(),
                selected_month: moment().month(),
                selected_day: moment().date(),
                selected_date: moment().date("YYYY-MM-DD"),
                last_date: null,
                last_odometer: null,
                tripData: null,
                shortDate: null,

                edit_mode: false,
                message: null,
                mileage_entry_method: null,
                miroute: false,
                commuter: false,

                starting_odometer: null,
                ending_odometer: null,
                destination: null,
                business_purpose: null,
                business_mileage: null,
                personal_mileage: null,
                gap_mileage: null

            };
        },

        created() {
            Common.listen(this.caller_id + 'month-changed', this.monthChanged);
            Common.listen(this.caller_id + 'day-changed', this.dayChanged);
            Common.listen(this.caller_id + '-year-changed', this.yearChanged);

            this.mileage_entry_method = this.user.mileage_entry_method;

            this.start_year = this.user.created_at.substring(0, 4);
            this.end_year = typeof this.user.deleted_at !== 'undefined' && this.user.deleted_at !== null ? this.user.deleted_at.substring(0, 4) : moment().year();

            this.setInitialDate();
            this.selected_month = moment().month() + 1;  // getMonth() starts with 0
            this.selected_year = moment().year();
            this.selected_day = moment().date();
            this.updateSelectedDate();
        },

        computed: {
            todays_date: function () {
                return moment().format('YYYY-MM-DD');
            },

            formatted_lock_day: function () {
                var suffix = '';
                switch (this.user.driver_lock_day) {
                    case 1:
                        suffix = "st";
                        break;
                    case 2:
                        suffix = "nd";
                        break;
                    case 3:
                        suffix = "rd";
                        break;
                    default:
                        suffix = "th";
                        break;
                }
                return this.user.driver_lock_day + suffix;
            },

            quaker_driver: function () {
                return this.user.driver_profile.company_id == 36 ? true : false;
            },

        },

        methods: {

            setInitialDate() {

                axios.post('/getSessionValues', {'keys': ['session_year_id', 'session_month_id', 'session_day_id']}).then(response => {

                    this.selected_year = response.data.session_year_id;
                    this.selected_month = response.data.session_month_id;
                    this.selected_day = response.data.session_day_id;

                    if (this.selected_day == -1) {                 // get current date
                        this.selected_month = moment().month() + 1;
                        this.selected_year = moment().year();
                        this.selected_day = moment().date();
                        axios.post('/setMultipleSessionValues',
                            [{'key': 'session_year_id', 'value': this.selected_year},
                                {'key': 'selected_month', 'value': this.selected_month},
                                {'key': 'selected_day', 'value': this.selected_day}
                            ]);
                    }
                    this.updateSelectedDate();
                });
            },


            yearChanged(year) {
                if (this.selected_year != year) {
                    this.selected_year = year;
                    this.updateSelectedDate();
                }
            },

            monthChanged(month) {
                if (this.selected_month != month) {
                    this.selected_month = month;
                    this.updateSelectedDate();
                }
            },

            dayChanged(day) {
                if (this.selected_day != day) {
                    this.selected_day = day;
                    this.updateSelectedDate();
                }
            },

            updateSelectedDate() {
                // moment is 0 based, select-month is 1 based
                var month = this.selected_month - 1;

                this.message = null;
                this.selected_date = moment([this.selected_year, month, this.selected_day]).format('YYYY-MM-DD');
                this.selected_date_formatted = moment([this.selected_year, month, this.selected_day]).format('dddd MMMM Do, YYYY');
                this.getTrips();
            },

            incrementDay() {
                if (this.todays_date != this.selected_date) {
                    var month = this.selected_month - 1;
                    var old_month = this.selected_month;
                    var old_year = this.selected_year;
                    var new_date = moment([this.selected_year, month, this.selected_day]).add(1, 'd');
                    this.selected_day = new_date.format('D');
                    this.selected_month = new_date.format('M');
                    this.selected_year = new_date.format('YYYY');
                    this.updateSelectedDate();
                    if (this.selected_month != old_month) {
                        axios.post('/setSession', {
                            'key': 'session_month_id',
                            'value': this.selected_month
                        }).then(response => {
                            if (old_year != this.selected_year) {
                                axios.post('/setSession', {'key': 'session_year_id', 'value': this.selected_year});
                            }
                        });
                    }
                }
            },

            decrementDay() {
                var month = this.selected_month - 1;
                var old_month = this.selected_month;
                var old_year = this.selected_year;
                var new_date = moment([this.selected_year, month, this.selected_day]).subtract(1, 'd');
                this.selected_day = new_date.format('D');
                this.selected_month = new_date.format('M');
                this.selected_year = new_date.format('YYYY');
                this.updateSelectedDate();
                if (this.selected_month != old_month) {
                    axios.post('/setSession', {
                        'key': 'session_month_id',
                        'value': this.selected_month
                    }).then(response => {
                        if (old_year != this.selected_year) {
                            axios.post('/setSession', {'key': 'session_year_id', 'value': this.selected_year});
                        }
                    });
                }
            },

            getTrips() {
                axios.post('/getDailyTrips', {
                    'user_id': this.user.id,
                    'date': this.selected_date
                }).then(response => {

                    this.tripData = response.data.tripData;

                    this.starting_odometer = this.tripData.start_odometer;
                    this.ending_odometer = this.tripData.end_odometer;
                    this.destination = this.tripData.destination;
                    this.business_purpose = this.tripData.business_purpose;
                    this.business_mileage = this.tripData.business_mileage;
                    if (this.mileage_entry_method == 'Daily Commuter') {
                        this.commuter_mileage = this.tripData.commuter_mileage;
                        this.commuter = true;
                    }
                    this.calculatePersonal();

                    this.shortDate = moment(this.selected_date).format('ddd Do'); // displayed on form entry

                    this.accessToForm();
                });
            },

            accessToForm() { // can we edit form: current month + precious month if we are before lock date
                var today = moment();

                var year = today.year();
                var month = today.month() + 1;    // month starts from 0 :-(

                if (this.selected_month == month && this.selected_year == year) {
                    this.edit_mode = true;
                } else if ((this.selected_month == (month - 1) && this.selected_year == year ||
                        this.selected_month == 12 && month == 1 && this.selected_year == (year - 1)
                    ) && today.date() <= this.user.mileage_lock_day) {
                    this.edit_mode = true;
                } else {
                    this.edit_mode = false;
                }
            },

            monthlyMileage() {
                Common.setView('mileageHistory', null);
            },

            calculatePersonal() {
                this.personal_mileage = 0;
                if (this.tripData != null) {
                    /* requested from Sterling on Aug 23rd
                    if (this.tripData.last_odometer > 0
                        && this.starting_odometer > 0
                        && this.starting_odometer >= this.tripData.last_odometer
                        && Math.abs(this.starting_odometer - this.tripData.last_odometer) < 1000) {
                        this.personal_mileage += this.starting_odometer - this.tripData.last_odometer

                    }
                    */
                    if (this.starting_odometer > 0
                        && this.ending_odometer > 0
                        && Math.abs(this.ending_odometer - this.starting_odometer) < 1000) {
                        this.personal_mileage += this.ending_odometer - this.starting_odometer - this.business_mileage;
                    }
                }
            },

            calculateBusiness() {
                this.business_mileage = 0;
                if (this.starting_odometer > 0
                    && this.ending_odometer > 0
                    && Math.abs(this.ending_odometer - this.starting_odometer) < 1000) {
                    this.business_mileage += this.ending_odometer - this.starting_odometer - this.commuter_mileage;
                }
            },

            calculateGapMileage() {
                if (this.last_odometer > 0 && this.starting_odometer > 0 && Math.abs(this.last_odometer - this.starting_odometer) < 1000) {
                    this.gap_mileage = this.starting_odometer - this.last_odometer;
                }
            },

            updateMileage() {

                var mileage = {};
                mileage.user_id = this.user.id;
                mileage.trip_date = this.selected_date;
                mileage.destination = this.destination;
                mileage.business_purpose = this.business_purpose;
                mileage.starting_odometer = this.starting_odometer;
                mileage.ending_odometer = this.ending_odometer;
                mileage.business_mileage = this.business_mileage;
                mileage.commuter_mileage = this.commuter_mileage;
                mileage.personal_mileage = this.commuter_mileage;
                mileage.gap_mileage = this.gap_mileage;

                axios.post('/updateDailyMileage', mileage).then(
                    response => {
                        this.message = 'Mileage was updated';
                        this.getTrips();
                    },
                    error => {
                        this.errors = error.response.data;
                    }
                );

            },

            checkInput() {
                alert('blah');
            }

        }
    };
</script>

<style lang="css">
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        text-align: right;
    }

    .notification {
        padding: 1.25rem 1.25rem;
    }
</style>