/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="dailyMileageEntryPage">

        <div class="row mb-4">
            <div class="col-sm-12">
                <a v-if="dailyMileage" class="btn btn-primary float-left" @click.prevent="todayEntry()">View Today</a>
                <a v-if="dailyMileage" class="btn btn-primary float-right" @click.prevent="monthlyMileage()">View
                    Monthly Mileage</a>
            </div>
        </div>

        <!-- Instructions & Messages -->
        <driver-mileage-message :time_zone_name="getDriverTimeZone.name"
                                :time_zone_short_name="getDriverTimeZone.short_name"
                                :formatted_lock_day="formatted_lock_day"
                                :miroute="miroute"
                                :edit_mode="edit_mode"
                                :commuter="commuter"
                                :quaker_driver="quaker_driver"
                                class="mb-3"/>

        <!-- TODO: IMPLEMENT DATE PICKER IN DAILY SCROLL
        <div class="row">
            <div class="col-sm-4 m-auto mt-5 mb-5">
                <p>Vue Bootstrap DateTimePicker</p>
                <vue-bootstrap-date-picker v-model="date_picker_value" :config="date_picker_options"/>
            </div>
        </div>-->

        <!-- Day Switcher -->
        <daily-scroll-component class="mb-3"/>

        <div v-if="disable_trips == true && edit_mode"
             class="alert alert-danger mb-3">
            Trips can be added after entering a starting
            <span v-if="dailyMileage.trip_date != today">and ending</span>
            odometer
        </div>

        <!-- Mileage Entry Box -->
        <div v-if="dailyMileage">
            <div class="box mb-4">
                <table class="table trip-summary-table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">
                            <span style="font-size: 12px;">{{ last_date }}</span> <br>
                            Last Entered
                        </th>
                        <th scope="col">Starting Odometer</th>
                        <th scope="col">Ending Odometer</th>
                        <th v-if="trip_count > 1" scope="col">Business</th>
                        <th v-if="dailyMileage.personal_mileage && dailyMileage.ending_odometer > 0 && last_ending_odometer > 0"
                            scope="col">Personal
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td :class="{ 'pt19': edit_mode }">{{ lastDailyMileage.ending_odometer }}</td>
                        <td>
                            <form-input :type="'number'"
                                        v-if="edit_mode"
                                        v-model.number="dailyMileage.starting_odometer"
                                        :field_name="'starting_odometer'"
                                        @change="calculatePersonal"
                                        :has_error="errors.has('starting_odometer')"
                                        :get_error="errors.get('starting_odometer')">
                            </form-input>

                            <div v-if="!edit_mode">{{ dailyMileage.starting_odometer }}</div>
                        </td>
                        <td>
                            <form-input :type="'number'"
                                        v-if="edit_mode"
                                        v-model.number="dailyMileage.ending_odometer"
                                        :field_name="'ending_odometer'"
                                        @change="calculatePersonal">
                            </form-input>

                            <div v-if="!edit_mode">{{ dailyMileage.ending_odometer }}</div>
                        </td>

                        <!-- MILEAGE -->
                        <td v-show="trip_count > 1" :class="{ 'pt19': edit_mode }">
                            <div v-if="trip_count > 1">{{dailyMileage.business_mileage}}</div>
                            <div v-else>0</div>
                        </td>
                        <td v-if="both_odometers_set" :class="{ 'pt19': edit_mode }">
                            <div v-if="dailyMileage.personal_mileage && dailyMileage.ending_odometer != 0 && dailyMileage.ending_odometer != null">
                                {{dailyMileage.personal_mileage}}
                            </div>
                            <div v-else>0</div>
                        </td>
                        <td>
                            <div v-if="edit_mode">
                                <a @click.prevent="checkOdometerValue()">
                                    <button :class="{ 'btn btn-secondary': true, 'btn-primary': !unlock_add_trips && !both_odometers_set, 'btn-success': ending_odometer_changed || starting_odometer_changed }"
                                            :disabled="(unlock_add_trips && !starting_odometer_changed && !ending_odometer_changed) || (!unlock_add_trips && !required_odometers_changed)">
                                        <i v-show="!unlock_add_trips && !both_odometers_set"
                                           class="fal fa-plus"></i>
                                        <span v-if="unlock_add_trips">Update Odometer</span>
                                        <span v-else>Add Trips</span>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="alert alert-success" v-show="msg_updated">Daily Mileage has been updated</div>

            <!-- Daily Trips -->
            <!---->
            <DailyTrips v-if="unlock_add_trips"
                        :daily_mileage_id="dailyMileage.id"
                        :disable_trips="disable_trips" :edit_mode="edit_mode" :company_id="getCompanyId"
                        :both_odometers_set="both_odometers_set" :unlock_add_trips="unlock_add_trips"/>
        </div>

        <!--<div class="box">
            <h2>Google Map here, NOT wired up yet</h2>
            <google-map/>
        </div>-->

        <modal :caller_id="caller_id" :modal_id="modal_id" :title="modal_title" :body="modal_body"/>

        <div id="endPreviousDayModal" :class="{'modal': true, 'is-active': show_end_previous_day_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title mb-0">End Previous Day</p>
                    <button class="delete" @click="closeEndingModal()"></button>
                </header>
                <section class="modal-card-body">
                    You must end your previous day from {{ last_date }}.<br><br>

                    <div class="form-group">
                        <label>Starting Odometer:</label> {{ lastDailyMileage.starting_odometer }}.
                    </div>

                    <div class="form-group">
                        <label for="lastEndingOdometerInput">Ending Odometer:</label>
                        <input type="text" id="lastEndingOdometerInput" class="form-control" v-model="endingPreviousOdometer">
                    </div>
                </section>
                <footer class="modal-card-foot d-block">
                    <button class="btn btn-danger float-left" @click="closeEndingModal()">Cancel</button>
                    <button class="btn btn-primary float-right" @click="endingModalAction()">Submit</button>
                </footer>
            </div>
        </div>
    </div>

</template>

<script>
    import {DriverMileageMessage, DailyTrips} from "./index"; // driver
    import {DailyScrollComponent, FormInput, GoogleMap, Modal} from "../partials";
    import moment from 'moment';
    import draggable from 'vuedraggable';
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';

    export default {

        components: {
            moment,
            draggable,
            DailyScrollComponent,
            DailyTrips,
            DriverMileageMessage,
            EventBus,
            FormInput,
            GoogleMap,
            Modal,
            VueBootstrapDatePicker
        },

        data() {
            return {
                errors: new Errors(),
                caller_id: 'MiRouteMileageEntryPage',

                dailyMileage: {id : -1, user_id: -1, trip_date: moment().format("YYYY-MM-DD"), last_state: 'start_day', starting_odometer: null, ending_odometer: null},
                lastDailyMileage: {id : -1, user_id: -1, trip_date: '', last_state: 'start_day', starting_odometer: null, ending_odometer: null},

                start_year: 2008,
                end_year: moment().format("YYYY"),
                today: moment().format("YYYY-MM-DD"),

                first_available_date: null,
                last_available_date: null,
                last_date: null,
                last_odometer: null,
                shortDate: null,
                sequence_number: 1, // default sequence number for first trip

                edit_mode: false,
                disable_buttons: 'disabled',
                msg_updated: false,
                disable_trips: true,
                miroute: false,
                commuter: false,

                personal_mileage: 0,

                // modal
                modal_id: '',
                modal_title: '',
                modal_body: '',

                date_picker_value: moment().format("YYYY-MM-DD"),
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                },

                trip_count: 0, // when == 2, show business_mileage

                last_starting_odometer: null, // if set, has been SAVED
                last_ending_odometer: null, // if set, has been SAVED
                show_end_previous_day_modal: false,
                endingPreviousOdometer: null

            };
        },

        mounted() {
            Common.listen('mileage-changed', this.getDataForSelectedDate);
            EventBus.$on('date-changed', this.getDataForSelectedDate);
            EventBus.$on(this.caller_id + '-modal-closed', this.processModalAction);
            EventBus.$on('trip-count-updated', (val) => {
                this.trip_count = val;
            }); // update trip_count to show business_mileage

            console.log('MiRouteMileageEntryPage: mounted');

            this.dailyMileage.user_id = this.getUserId;
            this.lastDailyMileage.user_id = this.getUserId;

            this.start_year = this.getDriverStartDate.substring(0, 4);
            this.end_year = typeof this.getDriverStopDate !== 'undefined' && this.getDriverStopDate !== null ? this.getDriverStopDate.substring(0, 4) : moment().year();

            this.first_available_date = moment().date() <= this.getDriverMileageLockDay ?
                moment().subtract(1, 'months').startOf('month').format("YYYY-MM-DD") :
                moment().startOf('month').format("YYYY-MM-DD");
            this.last_available_date = moment().format("YYYY-MM-DD");

            this.getDataForSelectedDate();
            this.accessToForm();
        },

        watch: {
            modal_id(val) {
                // console.log('modal_id changed: ',val)
                this.modal_id = val;
            },

            date_picker_value(val) {
                console.log('date changed: ' + val);
            },
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyId',
                'getDriverStartDate',
                'getDriverStopDate',
                'getDriverMileageLockDay',
                'getDriverTimeZone',
                'getSessionYear',
                'getSessionMonth',
                'getSessionDay'
            ]),

            formatted_lock_day: function () {
                return this.getDriverMileageLockDay + Common.daySuffix(this.getDriverMileageLockDay);
            },

            quaker_driver: function () {
                return this.getCompanyId == 36 ? true : false;
            },

            starting_odometer_changed: function () {
                return this.dailyMileage.starting_odometer != this.last_starting_odometer;
            },

            ending_odometer_changed: function () {
                return this.dailyMileage.ending_odometer != this.last_ending_odometer;
            },

            starting_odometer_set: function () {
                return this.dailyMileage && this.dailyMileage.starting_odometer > 0 && this.last_starting_odometer > 0;
            },

            ending_odometer_set: function () {
                return this.dailyMileage && this.dailyMileage.ending_odometer > 0 && this.last_ending_odometer > 0;
            },

            both_odometers_set: function () {
                return this.starting_odometer_set && this.ending_odometer_set;
            },

            both_odometers_changed: function () {
                return this.starting_odometer_changed && this.ending_odometer_changed;
            },

            required_odometers_changed: function () {
                if (this.dailyMileage['trip_date'] == this.today) {
                    return this.starting_odometer_changed;
                } else {
                    return this.both_odometers_changed;
                }
            },

            unlock_add_trips: function () {
                if (this.dailyMileage['trip_date'] == this.today) {
                    return this.starting_odometer_set;
                } else {
                    return this.both_odometers_set;
                }
            },

            end_previous_day: function () {
                return this.lastDailyMileage && this.lastDailyMileage['last_state'] == 'end_previous_day';
            },

            disable_add_update_button: function () {
                if (!this.unlock_add_trips)
                    return true;
                else
                    return this.required_odometers_changed;
            }
        },

        methods: {
            processModalAction(modal) {
                if (modal.modal_action) {
                    console.log('hit', modal.modal_id);
                    if (modal.modal_id == 'confirmStartLessThanLastEntered'
                        || modal.modal_id == 'confirmStartThousandOverLastEntered'
                        || modal.modal_id == 'confirmEndLessThanStart'
                        || modal.modal_id == 'confirmEndThousandOverStart') {
                        this.updateMiRouteOdometer();
                    }
                    /*switch (modal.modal_id) {
                        case 'confirmMileageOverOneThousand':
                            this.updateMiRouteOdometer();
                            break;
                        case 'confirmStartLessThanLastEntered':
                            this.updateMiRouteOdometer();
                            break;
                    }*/
                } else { // No action > Reset modal data
                    this.modal_id = '';
                    this.modal_title = '';
                    this.modal_body = '';
                }
            },

            getDataForSelectedDate() {
                this.trip_count = 0; // reset trip_count
                // moment is 0 based, select-month is 1 based
                this.errors.clear('saved_stop_id');
                this.errors.clear('business_purpose');
                Common.fire('trips-clear-errors');

                if (this.getSessionYear > 0 && this.getSessionDay > 0) {
                    this.dailyMileage = { // davery
                        user_id: this.getUserId,
                        id: -1,
                        trip_date: moment().format("YYYY-MM-DD"),
                        starting_odometer: null,
                        ending_odometer: null,
                        business_mileage: null,
                        personal_mileage: null,
                    };

                    this.getDailyMileageData();
                    this.msg_updated = false;
                }
            },

            getDailyMileageData() {
                let myDate = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]);
                // console.log('getting daily mileage for ' + myDate.format('YYYY-MM-DD'));
                axios.post('/getDailyMileageData', {
                    'user_id': this.getUserId,
                    'date': myDate.format('YYYY-MM-DD')
                }).then(response => {
                    console.log('currentDailyMileage ', response.data['currentDailyMileage']);
                    console.log('lastDailyMileage', response.data['lastDailyMileage']);

                    this.dailyMileage = response.data['currentDailyMileage'];
                    this.lastDailyMileage = response.data['lastDailyMileage'];


                    this.last_odometer = this.lastDailyMileage['ending_odometer'];
                    this.last_date = response.data['last_date_formatted'];

                    this.last_starting_odometer = this.dailyMileage['starting_odometer'];
                    this.last_ending_odometer = this.dailyMileage['ending_odometer'];

                    if (this.dailyMileage['business_mileage'] == null) this.dailyMileage['business_mileage'] = 0;
                    this.calculatePersonal();
                    this.shortDate = myDate.format('ddd Do'); // displayed on form entry
                    // this.accessToForm();
                });
            },

            todayEntry() {
                let session_year_id = moment().year();
                let session_month_id = moment().month() + 1;
                let session_day_id = moment().date();
                Common.storeCommit('updateSessionYear', session_year_id);
                Common.storeCommit('updateSessionMonth', session_month_id);
                Common.storeCommit('updateSessionDay', session_day_id);
                // this.edit_mode = true;
                // this.getDataForSelectedDate();
            },


            accessToForm() { // can we edit form: current month + previous month if we are before lock date
                let today = moment();
                let year = today.year();
                let month = today.month() + 1;    // month starts from 0 :-(

                // rules based on lock dates
                if (this.getSessionMonth == month && this.getSessionYear == year) {
                    this.edit_mode = true;
                } else if ((this.getSessionMonth == (month - 1) && this.getSessionYear == year ||
                        this.getSessionMonth == 12 && month == 1 && this.getSessionYear == (year - 1)
                    ) && today.date() <= this.getDriverMileageLockDay) {
                    this.edit_mode = true;
                } else {
                    this.edit_mode = false;
                }
                this.disable_buttons = (this.edit_mode) ? null : 'disabled';
            },

            monthlyMileage() {
                Common.setView('mileageHistory', null);
            },

            calculatePersonal() {
                this.disable_trips = this.dailyMileage.starting_odometer > 0 ? false : true;
                this.personal_mileage = 0;

                this.dailyMileage.personal_mileage = this.dailyMileage.ending_odometer - this.dailyMileage.starting_odometer - this.dailyMileage.business_mileage;
            },

            checkOdometerValue() {
                console.log('VUE checkOdometerValue dailyMileage', this.dailyMileage);
                // starting < last_odometer (Last Entered)
                if (this.end_previous_day && this.required_odometers_changed) {
                    this.modal_id = 'endPreviousDay';
                    this.modal_title = 'End Previous Day';
                    this.modal_body = "You must end your day from " + this.last_date;
                    this.show_end_previous_day_modal = true;
                }
                else if (this.last_odometer > 0 && this.dailyMileage.starting_odometer < this.last_odometer) {
                    // set & show modal
                    this.modal_id = 'confirmStartLessThanLastEntered';
                    this.modal_title = 'Confirm';
                    this.modal_body = 'Starting Odometer is less than your Last Entered Odometer Reading, would you like to continue anyways?';
                    EventBus.$emit(this.caller_id + '-show-modal'); // $emit show modal
                    // starting is 1000 over last_odometer (Last Entered)
                } else if (this.dailyMileage.starting_odometer > 0
                    && this.last_odometer > 0
                    && Math.abs(this.dailyMileage.starting_odometer - this.last_odometer) > 1000) {
                    // set & show modal
                    this.modal_id = 'confirmStartThousandOverLastEntered';
                    this.modal_title = 'Confirm';
                    this.modal_body = 'Starting Odometer is 1000 miles over your Last Entered Odometer Reading, would you like to continue anyways?';
                    EventBus.$emit(this.caller_id + '-show-modal'); // $emit show modal
                    // ending < starting
                } else if (this.dailyMileage.ending_odometer > 0 && this.dailyMileage.ending_odometer != null && this.dailyMileage.ending_odometer < this.dailyMileage.starting_odometer) {
                    // set & show modal
                    this.modal_id = 'confirmEndLessThanStart';
                    this.modal_title = 'Confirm';
                    this.modal_body = 'Ending Odometer is less than your Starting Odometer, would you like to continue anyways?';
                    EventBus.$emit(this.caller_id + '-show-modal'); // $emit show modal
                    // check if value over 1000
                } else if (this.dailyMileage.starting_odometer > 0
                    && this.dailyMileage.ending_odometer > 0
                    && Math.abs(this.dailyMileage.ending_odometer - this.dailyMileage.starting_odometer) > 1000) {
                    // set & show modal
                    this.modal_id = 'confirmEndThousandOverStart';
                    this.modal_title = 'Confirm';
                    this.modal_body = 'Daily Mileage is 1000 miles over your Starting Odometer, would you like to continue anyways?';
                    EventBus.$emit(this.caller_id + '-show-modal'); // $emit show modal
                } else {
                    // console.log('updateMiRouteOdometer()')
                    this.updateMiRouteOdometer();
                }
            },

            updateMiRouteOdometer() {
                console.log('VUE updateMiRouteOdometer dailyMileage', this.dailyMileage);
                // console.log('dailyMileage before updateMiRouteOdometer(): ',this.dailyMileage) // davery
                axios.post('/updateMiRouteOdometer', this.dailyMileage).then(
                    response => {
                        this.getDailyMileageData();
                        this.msg_updated = true;
                        setTimeout(() => {
                            this.msg_updated = false;
                        }, 2500);
                    })
                    .catch(errors => {
                        this.errors.errors = errors.response.data;
                        //this.$forceUpdate();
                    });
                this.$forceUpdate();
            },

            closeEndingModal() {
                this.endingPreviousOdometer = null;
                this.show_end_previous_day_modal = false;
            },

            endingModalAction() {
                console.log('ending odometer and id:', this.endingPreviousOdometer, this.lastDailyMileage['id']);
                axios.post('/endPreviousDay', {
                    ending_odometer: this.endingPreviousOdometer,
                    daily_mileage_id: this.lastDailyMileage['id']
                }).then(response => {
                    this.lastDailyMileage.ending_odometer = this.endingPreviousOdometer;
                    this.lastDailyMileage.last_state = 'day_ended';
                    this.endingPreviousOdometer = null;
                    this.closeEndingModal();
                    this.$forceUpdate();

                    // now resubmit mileage
                    this.checkOdometerValue();
                });
            }
        }
    };

</script>

<style lang="css">

    input[type="number"] {
        -moz-appearance: textfield;
        text-align: right;
    }

    .pt19 {
        padding-top: 19px !important;
    }
</style>