/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="monthlyReimbursementView">
        <h3><i class="fal fa-usd-circle"></i> Monthly Reimbursement</h3>


        <div class="columns">
            <div class="column is-3">
                <year-select :caller_id="caller_id"
                             :start_year="start_year"
                             :end_year="end_year"
                             :direction="'desc'">
                </year-select>
            </div>
        </div>

        <div v-if="show_table">

            <div class="alert alert-warning" v-if="WM_note">
                {{WM_note}}
            </div>

            <!--<table class="table is-striped is-narrow fusion-table">-->
            <div class="table-responsive table-responsive-bordered mb-4">

                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr class="table-header-title">
                        <!--<th :colspan="collspan">-->
                        <th colspan="100%" class="p-4">
                            <div align="center">{{ displayYear }} Monthly Reimbursement</div>
                        </th>
                    </tr>
                    <tr>
                        <th>Month</th>
                        <th class="text-right">Fixed Reimbursement</th>
                        <th v-if="favr" class="text-right">Adjustment</th>
                        <th v-if="favr" class="text-right">Fixed Paid</th>
                        <th v-if="commuter_mileage" class="text-right">Commuter Mileage</th>
                        <th class="text-right">Business Mileage</th>
                        <th class="text-right">c/Mile</th>
                        <th class="text-right">Variable Reimbursement</th>
                        <th class="text-right">Total</th>
                        <th v-if="direct_pay">Direct Pay Date</th>
                        <th v-if="favr" class="text-center">Status</th>
                        <th v-if="favr" class="text-right">Depreciation</th>
                        <th v-if="show_tax_limit" class="text-right">W2 Non-taxable Limit</th>
                        <th v-if="show_tax_limit" class="text-right">Taxable Reimbursement</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="row in reimbursement" @click="selectRow">
                        <td>{{ row.month }}</td>
                        <td class="text-right">
                            {{ row.fixed }}
                            <div v-if="row.impact_on_reimbursement">
                                <a @click.prevent="displayFAVRImpact(row)"><img src="/img/info.jpg"></a>
                            </div>
                        </td>
                        <td v-if="commuter_mileage" class="text-right">{{ row.commuter_mileage }}</td>
                        <td v-if="favr" class="text-right">{{ row.adjustment }}</td>
                        <td v-if="favr" class="text-right">{{ row.fixed_paid }}</td>
                        <td class="text-right">
                            <div v-if="row.show_link">
                                <a @click.prevent="monthlyMileage(row)">{{ row.mileage }}</a>
                            </div>
                            <div v-else>{{ row.mileage }}</div>
                        </td>
                        <td class="text-right">{{ row.centPerMile ? cent_per_mile_formatted(row.centPerMile) : '' }}</td>
                        <td class="text-right">{{ row.variable }}</td>
                        <td class="text-right">{{ row.total }}</td>

                        <td v-if="direct_pay">{{ row.direct_pay_date }}</td>

                        <td v-if="favr">
                            <div v-if="row.color == 'red'">
                                <a @click.prevent="displayFAVRStatus(row)"><div class="driver-status-tile-light --red m-auto"></div></a>
                            </div>
                            <div v-if="row.color == 'yellow'">
                                <a @click.prevent="displayFAVRStatus(row)"><div class="driver-status-tile-light --yellow m-auto"></div></a>
                            </div>
                            <div v-if="row.color == 'green'"><div class="driver-status-tile-light --green m-auto"></div></div>
                        </td>

                        <td v-if="favr" class="text-right">{{ row.depreciation }}</td>
                        <td v-if="show_tax_limit" class="text-right">{{ row.tax_limit }}</td>
                        <td v-if="show_tax_limit" class="text-right">{{ row.taxable_reimbursement }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div v-if="favr">
                <div class="row">
                    <div class="m-auto" style="width: 540px;">
                        <strong class="d-block text-center mb-1">Compliance Status</strong>
                        <div v-if="show_red_ball">
                            <div class="driver-status-tile-light --red float-left"></div> Reimbursement not paid. No insurance compliance.
                        </div>
                        <div class="clearfix mb-1"></div>
                        <div class="driver-status-tile-light --yellow float-left"></div> One or more FAVR compliance is missing. Click to see explanations.
                        <div class="clearfix mb-1"></div>
                        <div class="driver-status-tile-light --green float-left"></div> All FAVR compliances are fine.
                    </div>
                </div>
                <br>
            </div>

        </div>

        <div id="favrStatusModal" :class="{'modal':true, 'is-active': modal_favr_status}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">FAVR Compliance Information</p>
                    <button class="delete" aria-label="close" @click="modal_favr_status = false"></button>
                </header>
                <section class="modal-card-body">
                    <table>
                        <thead>
                        <tr>
                            <td width="40%"><strong>Driver Status</strong></td>
                            <td width="60%"><strong>Impact On Reimbursement</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in status_arr">
                            <td width="40%">
                                <div class="text">{{ item.status }}</div>
                            </td>
                            <td width="40%">
                                <div class="text">{{ item.impact }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </section>
            </div>
        </div>

        <div id="favrImpactModal" :class="{'modal':true, 'is-active': modal_favr_impact}">
            <div class="modal-background"></div>
            <div class="modal-card" style="width:60%">
                <header class="modal-card-head">
                    <p class="modal-card-title">Impact on Fixed Reimbursement</p>
                    <button class="delete" aria-label="close" @click="modal_favr_impact = false"></button>
                </header>
                <section class="modal-card-body">
                    <table>
                        <thead>
                        <tr>
                            <td width="20%"><strong>Reason</strong></td>
                            <td width="40%"><strong>Old</strong></td>
                            <td width="40%"><strong>New</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in impact_arr">
                            <td>{{item.name}}</td>
                            <td>{{item.old}}</td>
                            <td>{{item.new}}</td>
                        </tr>
                        </tbody>
                    </table>

                </section>
            </div>
        </div>

         <show-quarterly-tax  v-if="use_quarterly_tax_adjustment" />


        <br><br>
    </div>
</template>

<script>
    import {YearSelect} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import ShowQuarterlyTax from "../tax/GetTaxAdjustment.vue";

    export default {

        components: {YearSelect, ShowQuarterlyTax},

        data() {
            return {
                caller_id: 'MonthlyReimbursement',
                favr: false,
                direct_pay: false,
                commuter_mileage: false,
                show_tax_limit: false,
                collspan: 6,
                reimbursement: [],
                displayYear: null,
                years: [],
                start_year: null,
                end_year: null,
                WM_note: null,
                show_red_ball: null,
                modal_favr_status: false,
                modal_favr_impact: false,
                driver_status: null,
                impact_on_reimbursement: null,
                status_arr: [],
                impact_arr: [],
                no_reimb_without_insurance: 0,
                company_name: null,
                mileage_lock_all_day: null,
                message: null
            };
        },

        computed: {
            ...mapGetters([
                'getCompanyId',
                'getCompanyPlan',
                'getDriverMileageEntryMethod',
                'getDriverMileageLockDay',
                'getCompanyName',
                'getCompanySelection',
                'getSessionYear'
            ]),
            show_table: function () {
                return (this.getSessionYear > 0 && !Common.isEmpty(this.reimbursement)) ? true : false;
            },
            use_quarterly_tax_adjustment: function () {
                return this.getCompanySelection('use_quarterly_tax_adjustment');
            }

        },

        created() {
        },

        mounted() {
            EventBus.$on('year-changed', this.getReimbursement);
            this.reimbursement_years();

            this.favr = this.getCompanyPlan == 'FAVR' ? true : false;

            this.commuter_mileage = this.getDriverMileageEntryMethod == 'Daily Commuter' ? true : false;
            this.show_tax_limit = this.getCompanySelection('reports_display_monthly_tax_limit');
            this.no_reimb_without_insurance = 0;
            this.company_name = this.getCompanyName;
            this.mileage_lock_all_day = this.getDriverMileageLockDay;

            axios.get('/getCompanyPaymentDates/' + this.getCompanyId).then(response => {
                this.direct_pay = response.data.driver_payment_day;
            });
            if (this.favr) {
                this.collspan = this.collspan + 4;
            }
            if (this.direct_pay) {
                this.collspan = this.collspan + 1;
            }
            if (this.show_tax_limit) {
                this.collspan = this.collspan + 2;
            }

            this.getReimbursement();
        },

        methods: {
            cent_per_mile_formatted(val) { // davery
                return parseFloat(val).toFixed(2);
            },

            getReimbursement() {
                if (this.getSessionYear > 0) {
                 // console.log('getting reimbursement for year ' + this.getSessionYear);
                    axios.post('/getReimbursement', {'year': this.getSessionYear}).then(response => {
                        this.reimbursement = response.data.reimbursement;
                        this.WM_note = response.data.WM_note;
                        this.show_red_ball = response.data.show_red_ball;
                        if (this.getSessionYear > 0) {
                            this.displayYear = this.getSessionYear;
                        }
                        // console.log('reimbursement')
                        // console.log(this.reimbursement)
                    });
                }
            },

            selectRow() {
                $('table').find('tr').removeClass('is-selected');
                $(event.path[1]).addClass('is-selected');
            },

            reimbursement_years() {
                axios.post('/getDriverReimbursementYearSpan').then(response => {
                    this.start_year = response.data.startYear;
                    this.end_year = response.data.endYear;
                    /*if (this.end_year > 0) {
                        Common.storeCommit('updateSessionYear', this.end_year);
                        EventBus.$emit('year-changed');
                    }*/
                });
            },

            monthlyMileage(row) {
                Common.storeCommit('updateSessionMonth', row.month_id);
                Common.setView('mileageHistory', null);
            },

            displayFAVRImpact(row) {
                // console.log('call getChangesInDriverProfile for profiles: old=' + row.last_driver_profile_id + ' new=' + row.driver_profile_id)
                axios.post('/getChangesInDriverProfile',
                    {
                        'driver_profile_old': row.last_driver_profile_id,
                        'driver_profile_new': row.driver_profile_id
                    }).then(response => {
                        // console.log('changes')
                        // console.log(response.data)
                        this.impact_arr = response.data.changes;
                        this.modal_favr_impact = true;
                    }
                );

            },

            displayFAVRStatus(row) {
                axios.post('/getFavrReimbursementStatus',
                    {
                        'fixed_status': row.fixed_status,
                        'company_id': this.getCompanyId,
                        'company_name': this.company_name,
                        'mileage_lock_all_day': this.mileage_lock_all_day,
                        'no_reimb_without_insurance': this.no_reimb_without_insurance,
                        'within_grace_period': row.within_grace_period
                    }).then(response => {
                    this.driver_status = response.data.driver_status;
                    this.status_arr = response.data.status_arr;
                    this.modal_favr_status = true;
                });
            }
        },


    };
</script>

<style lang="css">
    .text {
        white-space: pre-wrap;
    }

</style>
