/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="mileageMonthlyEntry">

        <div class="columns">
            <div v-if="selected_year > 0" class="column is-half">
                <year-select :start_year="start_year"
                             :end_year="end_year"
                             :direction="'desc'"/>
            </div>
            <div v-if="selected_month > 0 && selected_year > 0" class="column">
                <month-select :display="'long'"
                              :disabled_future_months="true"/>
            </div>
        </div>

        <br>

        <driver-mileage-message :time_zone_name="getDriverTimeZone.name"
                                :time_zone_short_name="getDriverTimeZone.short_name"
                                :formatted_lock_day="formatted_lock_day"
                                :miroute="miroute"
                                :edit_mode="edit_mode"
                                :commuter="commuter"
                                :quaker_driver="quaker_driver"/>

        <br>

        <!--davery-->
        <div class="table-responsive table-responsive-bordered mt-5 mb-5" v-if="mileage">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th v-if="!miroute">Destination</th>
                    <th v-if="!miroute">Purpose</th>
                    <th>Starting Odometer</th>
                    <th>Ending Odometer</th>
                    <th v-if="commuter">Commuter Mileage</th>
                    <th>Business Mileage</th>
                    <th v-if="!commuter">Personal Mileage</th>
                    <th v-if="miroute">Trips</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="row in mileage" @click="selectRow">
                    <td>
                        <div v-if="rowDisabled(row)">{{row.date_value | dateFormat}}</div>
                        <div v-else><a :disabled="rowDisabled(row)" @click.prevent="dailyMileageLink(row)">{{row.date_value
                            | dateFormat }}</a></div>
                    </td>

                    <td v-if="!miroute">
                        <div v-if="history">{{row.destination}}</div>
                        <div v-else>
                            <input v-model="row.destination" class="form-control form-control-sm mb-0"
                                   @change="updateMileageText(row)" :disabled="rowDisabled(row)">
                        </div>
                    </td>

                    <td v-if="!miroute">
                        <div v-if="history">{{row.business_purpose}}</div>
                        <div v-else>
                            <input v-model="row.business_purpose" :disabled="rowDisabled(row)" class="form-control form-control-sm mb-0"
                                   @change="updateMileageText(row)">
                        </div>
                    </td>

                    <td class="text-right">
                        <div v-if="history">{{row.starting_odometer}}</div>
                        <div v-else>
                            <input type="number" class="form-control form-control-sm mb-0"
                                   v-model="row.starting_odometer" :disabled="rowDisabled(row)"
                                   @change="updateMileageValues(row)">
                        </div>
                    </td>

                    <td class="text-right">
                        <div v-if="history">{{row.ending_odometer}}</div>
                        <div v-else>
                            <input type="number" class="form-control form-control-sm mb-0"
                                   v-model.number="row.ending_odometer" :disabled="rowDisabled(row)"
                                   @change="updateMileageValues(row)">
                        </div>
                    </td>

                    <td class="text-right" v-if="commuter">
                        <div v-if="history">{{row.commuter_mileage}}</div>
                        <div v-else>
                            <input type="number" class="form-control form-control-sm mb-0"
                                   v-model.number="row.commuter_mileage" :disabled="rowDisabled(row)"
                                   @change="updateMileageValues(row)">
                        </div>
                    </td>

                    <td class="text-right">
                        <div v-if="history">{{row.commuter_mileage}}</div>
                        <div v-else>
                            <input type="number" class="form-control form-control-sm mb-0"
                                   v-model.number="row.business_mileage" :disabled="rowDisabled(row) || commuter"
                                   @change="updateMileageValues(row)">
                        </div>
                    </td>

                    <td class="text-right" align="right" v-if="!commuter">
                        {{ formatted_personal_mileage(row) }}
                    </td>

                    <td class="text-right" align="right" v-if="miroute">{{row.trips}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--davery-->


        <!--<div class="columns" v-if="mileage">
            <div class="column is-1 bold">Date</div>
            <div class="column is-2" v-if="!miroute">Destination</div>
            <div class="column is-2" v-if="!miroute">Purpose</div>
            <div align="right" class="column is-2">Starting Odometer</div>
            <div align="right" class="column is-2">Ending Odometer</div>
            <div v-if="commuter">
                <div align="right" class="column is-2">Commuter Mileage</div>
            </div>
            <div align="right" class="column is-2">Business Mileage</div>
            <div v-if="!commuter">
                <div align="right" class="column is-1">Personal Mileage</div>
            </div>
            <div align="right" class="column is-1" v-if="miroute">Trips</div>
        </div>

        <div v-for="row in mileage" @click="selectRow">
            <div class="columns">
                <div class="column is-1">
                    <div v-if="rowDisabled(row)">{{row.date_value | dateFormat}}</div>
                    <div v-else><a :disabled="rowDisabled(row)" @click.prevent="dailyMileageLink(row)">{{row.date_value | dateFormat }}</a></div>
                </div>

                <div class="column is-2" v-if="!miroute">
                    <div v-if="history">{{row.destination}}</div>
                    <div v-else>
                        <input v-model="row.destination"
                           @change="updateMileageText(row)" :disabled="rowDisabled(row)">
                    </div>
                </div>

                <div class="column is-2" v-if="!miroute">
                    <div v-if="history">{{row.business_purpose}}</div>
                    <div v-else>
                        <input v-model="row.business_purpose" :disabled="rowDisabled(row)"
                           @change="updateMileageText(row)">
                    </div>
                </div>

                <div class="column is-2">
                    <div v-if="history">{{row.starting_odometer}}</div>
                    <div v-else>
                    <input type="number"
                           v-model="row.starting_odometer" :disabled="rowDisabled(row)"
                           @change="updateMileageValues(row)">
                    </div>
                </div>

                <div class="column is-2">
                    <div v-if="history">{{row.ending_odometer}}</div>
                    <div v-else>
                    <input type="number"
                           v-model.number="row.ending_odometer" :disabled="rowDisabled(row)"
                           @change="updateMileageValues(row)">
                    </div>
                </div>

                <div v-if="commuter" class="column is-2">
                    <div v-if="history">{{row.commuter_mileage}}</div>
                    <div v-else>
                    <input type="number"
                           v-model.number="row.commuter_mileage" :disabled="rowDisabled(row)"
                           @change="updateMileageValues(row)">
                    </div>
                </div>

                <div class="column is-2">
                    <div v-if="history">{{row.commuter_mileage}}</div>
                    <div v-else>
                    <input type="number"
                           v-model.number="row.business_mileage" :disabled="rowDisabled(row) || commuter"
                           @change="updateMileageValues(row)">
                    </div>
                </div>

                <div align="right" v-if="!commuter" class="column is-1">
                    {{ formatted_personal_mileage(row) }}
                </div>

                <div align="right" class="column is-1" v-if="miroute">{{row.trips}}</div>
            </div>

        </div>-->

        <!--
        <div v-if="mileage && !miroute">
            <br>
            <button class="btn btn-primary" @click="updateEntireMonthMileage()">Update Mileage</button>
            <br>
        </div>
        -->

        <div v-if="Object.keys(mileage).length > 0" class="columns">

            <div class="column">
                <ul>
                    <li type="square" style='margin-left: 20px;'> Personal mileage is a calculation based on odometer
                        readings and business mileage.
                    </li>
                    <li type="square" style='margin-left: 20px;'> Previous day ending odometer and current day starting
                        odometer that have a difference of >1,000 are treated as a different vehicle.
                    </li>
                    <li v-if="miroute" type="square" style='margin-left: 20px;'> To view or edit your current month's
                        details please click on the date you want to change or number of trips.
                    </li>
                </ul>
            </div>

            <div class="column">
                <div class="columns" v-if="mileage_per_vehicle.length > 0">
                    <div align="right" class="column"><strong>Difference in Odometer Readings</strong></div>
                    <div align="right" class="column"><strong>- Business Mileage</strong></div>
                    <div align="right" class="column"><strong>= Personal Mileage</strong></div>
                </div>
                <div v-for="row in mileage_per_vehicle">
                    <div class="columns">
                        <div class="column"
                             align="right">{{ row.ending }} - {{ row.starting }} = {{ (row.ending - row.starting) }}
                        </div>
                        <div class="column" align="right">{{ row.business }}</div>
                        <div class="column" align="right">{{ row.personal }}</div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <hr>
                    </div>
                    <div class="column">
                        <hr>
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column" align="right">{{ total_business }}</div>
                    <div class="column" align="right">{{ total_personal }}</div>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
    import {MonthSelect, YearSelect} from "../partials";
    import {DriverMileageMessage} from "./index"; // driver
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus.js';

    export default {

        props: ['driverTimeZone'],

        components: {moment, DriverMileageMessage, MonthSelect, YearSelect},

        data() {
            return {
                caller_id: 'MileageHistory',
                start_year: 2008,
                end_year: moment().year(),
                selected_month: -1,
                selected_year: -1,
                selected_date: null,
                source_type: 'driver',
                mileage: [],
                miroute: false,
                commuter: false,
                edit_mode: false,
                mileage_per_vehicle: [],
                total_business: null,
                total_personal: null,
                last_available_date: moment().format("YYYY-MM-DD"),
                history: true

            }
        },

        watch: {
            user: function (val) {
                this.updateUser()
            },
        },


        created() {

            // get year and month from session
            if (this.selected_year == -1 && this.selected_month == -1) {
                this.setYearAndMonth();
            }
            this.before_lock = moment().date() <= this.getDriverMileageLockDay ? true : false
            this.miroute = this.getDriverMileageEntryMethod == 'Mi-Route' ? true : false
            this.commuter = this.getDriverMileageEntryMethod == 'Daily Commuter' ? true : false

            this.isHistory();
        },

        mounted() {


            EventBus.$on('year-changed', () => {
                this.selected_year = this.getSessionYear;
                let current_month = moment().month()+1;
                if( this.getSessionYear == moment().year() && this.getSessionMonth > current_month ) {
                    Common.storeCommit('updateSessionMonth',current_month);
                    this.selected_month = current_month;
                }
                this.isHistory();
                this.getMileage();
            });

            EventBus.$on('month-changed', () => {
                this.selected_month = this.getSessionMonth;
                this.isHistory();
                this.getMileage();
            });

            if (this.user) {
                this.updateUser()
            }
            this.accessToForm()
            this.findingProblems() // no business mileage, negative personal mileage
        },

        filters: {
            dateFormat: function (value) {
                var array = value.split('-');
                return moment().year(array[0]).month(array[1]-1).date(array[2]).format("ddd, MMM Do, YYYY");
            }
        },


        methods: {

            formatted_personal_mileage(row) {
                if (_.isNil(row.starting_odometer) && !_.isNil(row.ending_odometer) ||
                    !_.isNil(row.starting_odometer) && _.isNil(row.ending_odometer)) {
                    return 'N/A'
                } else if (row.personal_mileage > 0) {
                    return row.personal_mileage.toLocaleString()
                } else {
                    return ''
                }
            },

            rowDisabled(row) {   // disable row if date is greater than current date
                return moment().isBefore(row['date_value']) ? 'disabled' : null
            },

            setYearAndMonth() {

                if(this.isInteger(this.getSessionYear)) {
                    this.selected_year = this.getSessionYear;
                } else {
                    this.selected_year = this.getDefaultYear();
                    Common.storeCommit('updateSessionYear',this.selected_year);
                }
                if(this.isInteger(this.getSessionMonth)) {
                    this.selected_month = this.getSessionMonth;
                } else {
                    this.selected_month = this.getDefaultMonth();
                    Common.storeCommit('updateSessionMonth',this.selected_month);
                }
                Common.storeCommit('updateSessionDay',1);

                this.getMileage();

            },

            getDefaultYear() {
                if (moment().date() <= this.getDriverMileageLockDay) {
                    return (moment().month() == 0) ? (moment().year()) - 1 : moment().year()
                } else {
                    return moment().year()
                }
            },

            getDefaultMonth() {
                if (moment().date() <= this.getDriverMileageLockDay) {
                    return moment().month() == 0 ? 12 : moment().month()
                } else {
                    return moment().month() + 1
                }
            },

            dateFromReimbursement(yearMonth) {

                //console.log('dateFromReimbursement ' + yearMonth.year + '-' + yearMonth.month);
                this.get_year = yearMonth.year
                this.get_month = yearMonth.month
                //console.log('this.get_year='+this.get_year+' this.get_month='+this.get_month);
            },

            updateUser() {

                this.start_year = this.getDriverStartDate.substring(0, 4)
                this.end_year = typeof this.getDriverStopDate !== 'undefined' && this.getDriverStopDate !== null ? this.getDriverStopDate.substring(0, 4) : moment().year()

            },

            isHistory(){
                 let date = moment().date(1);
                 if( moment().day > this.getDriverMileageLockDay ) {
                     date = moment().subtract(1,'months');
                 } else {
                     date = moment().subtract(2,'months');
                 }
                 let selected_date = moment().year(this.getSessionYear).month(this.getSessionMonth-1).day(1);
                 this.history = moment(date).isSameOrAfter(selected_date);
            },

            findingProblems() {

                var business_mileage_found = false
                for (var i = 0; i < this.mileage.length; i++) {
                    if (this.mileage[i].business_mileage != null && this.mileage[i].business_mileage != 0) {
                        business_mileage_found = true
                        break
                    }
                }
                if (!business_mileage_found && false) {
                    alert('Total Business Mileage is zero, please review your entries, and enter your business mileage into the business mileage field for reimbursement.\nIf you do not have business mileage for the month, no action is required.')
                }
            },

            getMileage() {

                if (this.selected_year > 0 && this.selected_month > 0) {
                    axios.post('/getMileage', {
                        'month': this.selected_month,
                        'year': this.selected_year
                    }).then(response => {
                        this.mileage = response.data.mileage
                     // console.log('Mileage summary for ' + this.selected_month + '/' + this.selected_year);
                     // console.log(this.mileage);
                        // this.accessToForm();
                        this.getMileageDataPerVehicle()
                    })
                }
            },

            dailyMileageLink(row) {
                Common.setView('mileageEntry', null);
            },

            getMileageDataPerVehicle: function () {
                //console.log('get mileage per vehicle....');
                axios.post('/getMileagePerVehicle', {
                    'user_id': this.getUserId,
                    'month': this.selected_month,
                    'year': this.selected_year
                }).then(response => {
                    this.mileage_per_vehicle = response.data.mileage
                    this.total_business = 0
                    this.total_personal = 0
                    for (var i = 0; i < this.mileage_per_vehicle.length; i++) {
                        this.total_business += this.mileage_per_vehicle[i].business
                        this.total_personal += this.mileage_per_vehicle[i].personal
                    }
                })
            },

            selectRow() {
                // $('table').find('tr').removeClass('is-selected')
                // $(event.path[1]).addClass('is-selected')
            },

            accessToForm() { // can we edit form: current month + precious month if we are before lock date

                var today = moment()

                var month = today.month() + 1    // month starts from 0 :-(
                var year = today.year()

                if (this.selected_month == month && this.selected_year == year) {
                    this.edit_mode = true
                } else if ((this.selected_month == (month - 1) && this.selected_year == year ||
                        this.selected_month == 12 && month == 1 && this.selected_year == (year - 1)
                    ) && today.date() <= this.getDriverMileageLockDay) {
                    this.edit_mode = true
                } else {
                    this.edit_mode = false
                }
            },

            updateMileageValues(row) {      // updates if possible all mileages and odometers. Update monthly and personal mileage

                var mileage = {}
                //console.log('update mileage values called ...');
                mileage.user_id = this.getUserId
                mileage.trip_date = moment([this.selected_year, this.selected_month - 1, row.date.split(" ")[1]]).format('YYYY-MM-DD')

                mileage.destination = row.destination
                mileage.business_purpose = row.business_purpose
                mileage.starting_odometer = row.starting_odometer
                mileage.ending_odometer = row.ending_odometer

                if (!this.commuter) {
                    mileage.business_mileage = row.business_mileage
                    if (row.ending_odometer > 0 && row.starting_odometer > 0 && row.ending_odometer > row.starting_odometer) {
                        mileage.personal_mileage = Math.max(0, row.ending_odometer - row.starting_odometer - row.business_mileage)
                    } else {
                        mileage.personal_mileage = 0
                    }
                    mileage.commuter_mileage = 0
                    row.personal_mileage = mileage.personal_mileage
                } else {
                    mileage.commuter_mileage = row.commuter_mileage
                    if (row.ending_odometer > row.starting_odometer) {
                        mileage.business_mileage = Math.max(0, row.ending_odometer - row.starting_odometer - row.commuter_mileage)
                    } else {
                        mileage.business_mileage = 0
                    }
                    row.business_mileage = mileage.business_mileage
                    //console.log('set business mileage to ' + row.business_mileage);
                    mileage.personal_mileage = 0
                }

                axios.post('/updateDailyMileage', mileage).then(
                    response => {
                        if (!this.commuter) {
                            this.getMileageDataPerVehicle()
                        }
                    },
                    error => {
                        //console.log('errors from update?');
                    }
                )
            },

            updateMileageText(row) {            // creates or updates only destination or and business purpose. No need to update monthly and personal mileages

                var mileage = {}
                mileage.user_id = this.getUserId
                mileage.trip_date = moment([this.selected_year, this.selected_month, row.date.split(" ")[1]], "YYYY-MM-DD").format('YYYY-MM-DD')
                mileage.destination = row.destination
                mileage.business_purpose = row.business_purpose
                mileage.business_mileage = row.business_mileage // mandatory for trips;

                axios.post('/updateDailyMileageWithText', mileage).then(
                    response => {
                    },
                    error => {
                    }
                )
            },

            isInteger(str) {
                var n = Math.floor(Number(str));
                return n !== Infinity && String(n) === str && n >= 1;
            },

            updateEntireMonthMileage() {
                // nothing to do, as when clicked on this button, we left last field, so this record was automatically updated in database.
            },

            weHaveData(o) {
                if (o.business_mileage != null && o.business_mileage != '' ||
                    o.ending_odometer != null && o.ending_odometer != '' ||
                    o.starting_odometer != null && o.starting_odometer != '' ||
                    o.business_purpose != null && o.business_purpose != '' ||
                    o.destination != null && o.destination != '' ||
                    o.commuter_mileage != null && o.commuter_mileage != '')
                    return true
                else
                    return false
            },

        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyId',
                'getDriverMileageLockDay',
                'getDriverStartDate',
                'getDriverStopDate',
                'getDriverMileageEntryMethod',
                'getDriverTimeZone',
                'getSessionYear',
                'getSessionMonth',
                'getSessionDay'
            ]),

            quaker_driver: function () {
                return this.getCompanyId == 36 ? true : false
            },

            todays_date: function () {
                return moment().format('YYYY-MM-DD')
            },

            formatted_lock_day: function () {
                var suffix = ''
                switch (this.getDriverMileageLockDay) {
                    case 1:
                        suffix = "st"
                        break
                    case 2:
                        suffix = "nd"
                        break
                    case 3:
                        suffix = "rd"
                        break
                    default:
                        suffix = "th"
                        break
                }
                return this.getMileageDriverLockDay + suffix
            }

        },

    }

</script>


<style lang="scss" scoped>

</style>