<template lang="html">
    <div id="noCompliancePendingTask">
        <div class="box pending-task p-2" v-for="task in tasks" v-if="task.found"
             style
             :style="[task.critical ? {borderColor:'#810911'} : {borderColor:'#ffc107'}]">
            <i :class="[ 'fas mr-1', task.critical ? 'fa-exclamation-triangle' : 'fa-exclamation-circle' ]" :style="[task.critical ? {color:'#810911'} : {color:'#ffc107'}]"></i>

            <span>{{ task.header }}</span>

            <button v-if="task.button"
                    class="btn btn-primary btn-block mt-2 btn-sm"
                    :disabled="getImpersonatorId > 0"
                    @click="redirectToPageAndSetView(task.view, task.modal)">
                <span>{{ task.button_text }}</span>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';

    export default {
        props: ['caller_id'], // props

        components: {

        }, // components

        data() {
            return {
                all_tasks_complete: true,
                tasks: {
                    vehicleAge: {
                        id: 32768,
                        found: false,
                        critical: false,
                        header: 'No Vehicle Age Compliance',
                        button: true,
                        button_text: 'Link to Personal Vehicle Page',
                        view: 'personalVehicles',
                    },
                    odometer: {
                        id: 65536,
                        found: false,
                        critical: false,
                        header: 'No Odometer Compliance',
                        button: true,
                        button_text: 'Link to Personal Vehicle Page',
                        view: 'personalVehicles',
                    },
                    depreciation: {
                        id: 131072,
                        found: false,
                        critical: false,
                        header: 'No Depreciation Compliance',
                        button: true,
                        button_text: 'Link to Personal Vehicle Page',
                        view: 'personalVehicles',
                    },
                },
            };
        }, // data

        mounted() {
            EventBus.$emit(this.caller_id + '-loaded', 'compliance');

            for (let taskIndex in this.tasks) { // Loop over tasks & check if getDriverStreetLightId = task.id
                if ((this.getDriverStreetLightId & this.tasks[taskIndex].id) > 0) {
                    // console.log('found task')
                    this.tasks[taskIndex].found = true; // if found set to true
                } else {
                    /*console.log('no compliance: ',(this.getDriverStreetLightId & this.tasks[taskIndex].id) > 0);
                    console.log('didn\'t find no compliance task');*/
                }
            }

            if (this.tasks_complete) {
                EventBus.$emit(this.caller_id + '-completed', 'compliance');
            } else {
                // console.log('::NoCompliance.vue > 0 "no compliance" pending tasks')
            }
        }, // mounted

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getDriverStreetLightId',
            ]),

            tasks_complete () {
                for (let taskCompleteIndex in this.tasks) { // loop over tasks & return if any are true
                    if(this.tasks[taskCompleteIndex].found) { this.all_tasks_complete = false }
                }
                return this.all_tasks_complete;
            }
        }, // computed

        watch: {

        }, // watch

        methods: {
            redirectToPageAndSetView(view, modal) {
                // console.log('hit redirectToPageAndSetView: ',view,modal);
                if (!modal) modal = null;
                Common.setView(view, modal);
            },
        }, // methods
    }
</script>

<style>

</style>