/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
Component for driver portal, showing them tasks that need to be done

*/
<template lang="html">
    <div id="pendingTasks">

        <!--THE LOADING SPINNER-->
        <section v-show="!loaded">
            <loading-partial/>
        </section>

        <!--PENDING TASKS-->
        <transition name="fade5s">
            <car-policy-pending-task v-if="tasks.carPolicy.used"
                                     v-show="!tasks.carPolicy.completed && loaded"
                                     :caller_id="caller_id"/>
        </transition>

        <!--davery - removed after talk with Rory, should do nothing more than look at the street_light_status-->
        <!--<transition name="fade5s">
            <annual-declaration-pending-task v-if="tasks.annualDeclaration.used"
                                             v-show="!tasks.annualDeclaration.completed && loaded"
                                             :caller_id="caller_id"/>
        </transition>-->

        <!--Vehicle too old-->
        <transition name="fade5s">
            <vehicle-too-old-pending-task v-if="tasks.vehicleTooOld.used"
                                          v-show="!tasks.vehicleTooOld.completed && loaded"
                                          :caller_id="caller_id"/>
        </transition>

        <!--Upload Driver Insurance Pending Task-->
        <transition name="fade5s">
            <insurance-pending-task v-if="tasks.insurance.used"
                                    v-show="!tasks.insurance.completed && loaded"
                                    :caller_id="caller_id"/>
        </transition>

        <!--Declaration Pending Task-->
        <transition name="fade5s">
            <declaration-pending-task v-if="tasks.declaration.used"
                                      v-show="!tasks.declaration.completed && loaded"
                                      :caller_id="caller_id"/>
        </transition>

        <!--No Compliance Pending Task-->
        <transition name="fade5s">
            <no-compliance-pending-task v-if="tasks.compliance.used"
                                        v-show="!tasks.compliance.completed && loaded"
                                        :caller_id="caller_id"/>
        </transition>

        <!--No Business Pending Task-->
        <transition name="fade5s">
            <no-business-pending-task v-if="tasks.business.used"
                                      v-show="!tasks.business.completed && loaded"
                                      :caller_id="caller_id"/>
        </transition>

        <transition name="fade5s">
            <no-banking-pending-task v-if="tasks.banking.used"
                                     v-show="!tasks.banking.completed && loaded"
                                     :caller_id="caller_id"/>
        </transition>

        <!--Upload Driver License Pending Task-->
        <transition name="fade5s">
            <license-pending-task v-if="tasks.license.used"
                                  v-show="!tasks.license.completed && loaded"
                                  :caller_id="caller_id"/>
        </transition>

        <div v-show="loaded && all_completed">
            <i class="fas fa-check-circle" style="color: #558055"></i> No pending tasks.
        </div>

    </div>
</template>

<script>
    import {LoadingPartial} from "../partials";
    import {
        AnnualDeclarationPendingTask,
        CarPolicyPendingTask,
        StatusIndicator,
        VehicleTooOldPendingTask,
        InsurancePendingTask,
        DeclarationPendingTask,
        NoCompliancePendingTask,
        NoBusinessPendingTask,
        NoBankingPendingTask,
        LicensePendingTask} from "./index";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus.js";

    export default {

        components: {
            LoadingPartial,
            CarPolicyPendingTask,
            AnnualDeclarationPendingTask,
            StatusIndicator,
            VehicleTooOldPendingTask,
            InsurancePendingTask,
            DeclarationPendingTask,
            NoCompliancePendingTask,
            NoBusinessPendingTask,
            NoBankingPendingTask,
            LicensePendingTask
        },

        data() {
            return {
                caller_id: 'PendingTasks',
                all_tasks_complete: false,
                plan: null,

                //At first assume all are used. in mounted we determine what is used and what is not.
                tasks: {
                    carPolicy: {
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    /*annualDeclaration: {
                        completed: false,
                        loaded: false,
                        used: false,
                    },*/
                    vehicleTooOld: {
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    insurance: { // 8-16 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    declaration: { // 8-17 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    compliance: { // 8-20 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    business: { // 8-20 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    banking: { // 8-21 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    },
                    license: { // 8-21 - davery
                        completed: false,
                        loaded: false,
                        used: false,
                    }
                },

            };
        },

        created() { // (2.) Check if loaded & completed
            //listen to events from bottom level of pending tasks to determine whether component is loaded or not
            EventBus.$on(this.caller_id + '-loaded', task => { // task is the tasks.name defined in the obj above
                // console.log(task,' - has loaded');
                this.updateLoaded(task);
            } );

            EventBus.$on(this.caller_id + '-completed', task => {
                this.updateCompleted(task);
            } );
        },

        mounted() { // (1.) Check plan

            // determine which tasks are used and which are not
            if (this.enforce_car_policy_acceptance) {
                this.tasks.carPolicy.used = true;
            }

            if (this.getCompanyPlan === 'FAVR') {
                this.plan = 'FAVR';
                // this.tasks.annualDeclaration.used = true; // getting the plan
                this.tasks.declaration.used = true; // replaced annualDeclaration & utilizes street_light_status
                this.tasks.insurance.used = true;
                this.tasks.compliance.used = true;
                this.tasks.business.used = true;
                this.tasks.banking.used = true;
            }

            if (this.getCompanyPlan === '463') {
                this.plan = '463';
                // this.tasks.vehicleTooOld.used = this.getCompanyPlan === '463';
                this.tasks.vehicleTooOld.used = true;
                this.tasks.insurance.used = true;
                this.tasks.declaration.used = true;
                this.tasks.license.used = true;
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getCompanyPlan',
                'getCompanySelection',
            ]),

            enforce_car_policy_acceptance: function () {
                return this.getCompanySelection('enforce_car_policy_acceptance');
            },

            /**
             * Are all the used tasks loaded?
             * @returns {boolean}
             */
            loaded: function() { // (4.) loaded is reactive, will update every time tasks updates & will return true if condition met
                if (!this.tasks) { return false; }
                for (let i in this.tasks) {
                    if (this.tasks[i].used && !this.tasks[i].loaded) {
                        return false
                    }
                }
                return true;
            },

            /**
             * Are all the used tasks completed?
             * @returns {boolean}
             */
            all_completed: function() {
                for (let j in this.tasks) {
                    if (this.tasks[j].used && !this.tasks[j].completed) {
                        return false
                    }
                }
                return true;
            }
        },

        methods: { // (3.) Set task.name.loaded & completed after EventBus.$on
            updateLoaded(name) {
                // console.log('loaded =',name);
                // console.log(name,':',this.tasks[name]);
                this.tasks[name].loaded = true;
            },

            updateCompleted(name) {
                // console.log('completed =',name);
                this.tasks[name].completed = true;
            }
        }
    };
</script>

<style lang="scss">
    #pendingTasks {
        .pending-task {
            margin: 15px 0;

            > &:first-child {
                margin-top: 0 !important;
            }

            > &:last-child {
                margin-bottom: 0 !important;
            }
        }
        /*overflow-y: auto !important;*/
        /*#insurancePendingTask {*/
            /*div.box.pending-task {
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }*/
        /*}*/
    }
</style>