<template lang='html'>
    <div id="personalVehicles">
        <template v-if="mode === 'list'">
            <h3><i class="fal fa-car"></i> Personal Vehicles</h3>
            <br>
            <section v-if="loaded && personal_vehicles">
                <div class="table-responsive table-responsive-bordered mb-3">
                    <table class="table table-striped table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Trim</th>
                            <th class="text-right">Starting Odometer</th>
                            <th class="text-right">Ending Odometer</th>
                            <th v-if="getCompanyPlan !== 'Canada' && getCompanyPlan !== '463'" class="text-right">Vehicle Cost</th>
                            <th>Added</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="vehicle in personal_vehicles">
                            <td>{{ vehicle.year }}</td>
                            <td>{{ vehicle.make }}</td>
                            <td>{{ vehicle.model }}</td>
                            <td>{{ vehicle.trim }}</td>
                            <td class="text-right">{{ vehicle.odometer }}</td>
                            <td class="text-right">{{ vehicle.old_vehicle_odometer }}</td>
                            <td v-if="getCompanyPlan !== 'Canada' && getCompanyPlan !== '463'" class="text-right">{{ vehicle.vehicle_cost }}</td>
                            <td>{{ vehicle.created_at }}</td>
                            <td v-if="vehicle.deleted_at == null && accessToEdit(vehicle)">
                                <button class="btn btn-primary btn-sm btn-block" @click.prevent="openPersonalVehicle(vehicle)">Edit
                                </button>
                            </td>
                            <td v-else>
                                <button class="btn btn-secondary btn-sm btn-block"
                                        @click.prevent="openPersonalVehicle(vehicle)">View
                                </button>
                            </td>
                        </tr>
                        <!--<tr v-if="getImpersonatorId < 0">
                            <td colspan="3">
                                <button class="btn btn-secondary" @click.prevent="openPersonalVehicle()">Add New
                                    Vehicle</button>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>

                <div class="row m-0" v-if="getImpersonatorId < 0">
                    <div class="col p-0">
                        <button class="btn btn-primary btn-sm float-right" @click.prevent="openPersonalVehicle()"><i class="fal fa-plus"></i> Add New Vehicle</button>
                    </div>
                </div>
            </section>


            <section v-else>
                <button class="btn is-loading"></button>
            </section>
        </template>

        <personal-vehicle v-if="selected_vehicle && mode === 'personal'" :vehicle="selected_vehicle" :caller_id="caller_id"/>

        <personal-vehicle-favr v-if="selected_vehicle && mode === 'favr'" :vehicle="selected_vehicle" :caller_id="caller_id"/>

    </div>
</template>


<script>
    import {PersonalVehicleFavr, PersonalVehicle} from "./index";
    import {mapGetters} from 'vuex';
    import Vehicle from '../../models/Vehicle';

    export default {

        components: {PersonalVehicle, PersonalVehicleFavr},

        data() {
            return {
                loaded: null,
                caller_id: 'PersonalVehiclesList',
                favr: false,
                personal_vehicles: [],
                editOrView: null,
                selected_vehicle: null,
                mode: 'list'
            };
        },

        created() {
            this.getPersonalVehicles();

//            this.newVehicle = {
//                id: -1
//            };
            this.favr = this.getCompanyPlan === 'FAVR' ? true : false;
        },

        mounted() {
            Common.listen(this.caller_id + '-back-to-list', () => {
                this.mode = 'list';
            });

            Common.listen(this.caller_id + '-personal-vehicles-updated', () => {
                this.getPersonalVehicles();
            });

            Common.setSubView('List');
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyPlan',
                'getImpersonatorId'
            ])
        },

        watch: {
          mode: function (val) {
           // console.log('setting subview to ' + val);
              let subview = val === 'favr' || val === 'personal' ? 'edit' : val;
              Common.setSubView(_.upperFirst(subview));
          }
        },

        methods: {
            getPersonalVehicles() {
                this.loaded = false;
                axios.get('/getPersonalVehicles/' + this.getUserId).then(response => {
                    this.personal_vehicles = response.data.vehicles;
                    this.loaded = true;
                });
            },

            openPersonalVehicle(vehicle) {
                if (Common.isEmpty(vehicle)) {
                    Common.storeCommit('updateSessionYear', -1);
                    this.selected_vehicle = new Vehicle;
                } else {
                    Common.storeCommit('updateSessionYear', vehicle.year);
                    this.selected_vehicle = vehicle;
                }

                // let PersonalVehicle know to get new session value
                if (this.favr) {
                    this.mode = 'favr';
                } else {
                    this.mode = 'personal';
                }

            },

            accessToEdit(row) {
                return row.deleted_at == null && (this.getImpersonatorId > 0 || row.make_id == null || row.model_id == null);
                // vehicle.deleted_at == null && ( impersonate === 1 || missing_make_or_model
            }
        }
    };
</script>

<style lang='css'>

</style>