<template lang='html'>

    <div id="personalVehicleFAVR">

        <!-- only display the title if we are not in the registration wizard -->
        <section id="personalVehicleTitle">
            <h2 v-if="!registration">Business Vehicle Declaration for IRS FAVR Plan</h2>
            <p v-else>Declaration for IRS FAVR Plan</p>
        </section>

        <section id="favrExplanationSection">
            <p>By IRS rule you must again declare your business vehicle on an annual basis at the beginning of the year,
            or when you join the program, and when you change vehicles.</p>
        <hr>
            <p style="padding-bottom: 1rem;"><strong>Enter the vehicle you use for business purposes.</strong></p>
        </section>


        <div class="columns" :class="{ 'mb-0': favrParameters }">
            <div class="column is-4">
                <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('year')}">
                    <vehicle-year-select v-model="personalVehicle.year"
                                         v-if="personalVehicle"
                                         :disabled="permissions.read_only || permissions.make_disabled"/>
                    <span class="help-block" v-if="personalVehicleErrors.has('year')">{{ personalVehicleErrors.get('year') }}</span>
                </div>
            </div>
            <div class="column is-2" v-if="favrParameters" style="margin-top: 40px;">Minimum Year: {{ favrParameters.minimum_year }}</div>
        </div>

        <div v-if="favrParameters && (personalVehicle.year < favrParameters.minimum_year)" class="alert alert-danger">
            This vehicle is older than the minimum year, and does not qualify for the non-taxable FAVR program. Some taxable income may apply.
        </div>

        <div class="columns">
            <div class="column is-6">
                <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('make_id')}">
                    <vehicle-make-select v-if="personalVehicle"
                                         v-model="personalVehicle.make_id"
                                         :disabled="permissions.read_only || permissions.make_disabled || personalVehicle.year < 0"/>
                    <span class="help-block" v-if="personalVehicleErrors.has('make_id')">{{ personalVehicleErrors.get('make_id') }}</span>
                </div>
            </div>

            <div class="column is-6">
                <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('model_id')}">
                    <vehicle-model-select v-if="personalVehicle"
                                          :session_make_id="personalVehicle.make_id"
                                          :session_year_id="personalVehicle.year"
                                          v-model="personalVehicle.model_id"
                                          :disabled="permissions.read_only || permissions.model_disabled || personalVehicle.make_id < 0">
                    </vehicle-model-select>
                    <span class="help-block" v-if="personalVehicleErrors.has('model_id')">{{ personalVehicleErrors.get('model_id') }}</span>
                </div>
            </div>
        </div>

        <div v-if="notes">
            <div class="box">Original Driver Entry: {{notes}}</div>
        </div>

        <div class="columns">
            <div class="column is-6 pb-0">
                <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('trim_id')}">
                    <vehicle-trim-select v-model="personalVehicle.trim_id"
                                         :session_make_id="personalVehicle.make_id"
                                         :session_model_id="personalVehicle.model_id"
                                         :session_year_id="personalVehicle.year"
                                         :disabled="permissions.read_only || permissions.trim_disabled || personalVehicle.model_id < 0"/>
                    <span class="help-block" v-if="personalVehicleErrors.has('trim_id')">{{ personalVehicleErrors.get('trim_id') }}</span>
                </div>
            </div>

            <div class="column field is-6 pb-0">
                <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('odometer')}">
                    <label for="odometer">Current Odometer:</label>
                    <input class="form-control"
                           v-if="personalVehicle"
                           :disabled="permissions.read_only || permissions.odometer_disabled"
                           v-model="personalVehicle.odometer"
                           type="text" id="odometer">
                    <span style="font-size: 14px; color: #bbbbbb;">Original Driver Entry: {{notes}}</span>
                    <span class="help-block" v-if="personalVehicleErrors.has('odometer')">{{ personalVehicleErrors.get('odometer') }}</span>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <p>If declaring a new vehicle, enter the purchase price. If declaring a used vehicle, enter the retail price when new.</p>
        </div>


        <div class="columns">
            <div class="column field is-4 mb-0">
                <div :class="{ 'form-group mb-0':true, 'has-error':personalVehicleErrors.has('vehicle_cost') }">
                    <label for="vehicle_cost">Vehicle Cost:</label>
                    <input class="form-control"
                           v-if="personalVehicle"
                           :disabled="permissions.read_only || permissions.vehicle_cost_disabled"
                           v-model="personalVehicle.vehicle_cost" type="text" id="vehicle_cost">
                    <span class="help-block" v-if="personalVehicleErrors.has('vehicle_cost')">{{ personalVehicleErrors.get('vehicle_cost') }}</span>
                </div>
            </div>
            <div class="column is-2" v-if="favrParameters" style="margin-top: 40px;">Minimum Cost: ${{ favrParameters.minimum_vehicle_cost_formatted }}</div>

        </div>

        <div v-if="favrParameters && getImpersonatorId < 0 && personalVehicle.vehicle_cost < favrParameters.minimum_vehicle_cost" class="alert alert-danger">
            This vehicle does not qualify for the non-taxable FAVR program. Some taxable income may apply.
        </div>

        <div>
            <p v-if="favrParameters"> The minimum cost of an employee's personal vehicle must be at least 90% of the Standard Automobile Cost
                (${{ favrParameters.minimum_vehicle_cost / 0.9 | twoDecimalPlaces }}), to meet
                IRS FAVR requirements. </p>
        </div>


        <div v-if="vehicle_count > 0">
            <h2>Old Vehicle</h2>
            <div class="columns">
                <div class="column">
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('old_vehicle_odometer')}">
                        <label for="old_vehicle_odometer">Ending Odometer From Your Old Vehicle</label>
                        <input class="form-control"
                               v-if="personalVehicle"
                               :disabled="permissions.read_only || permissions.old_odometer_disabled"
                               v-model="personalVehicle.old_vehicle_odometer"
                               type="text" id="old_vehicle_odometer">
                        <span class="help-block"
                              v-if="personalVehicleErrors.has('old_vehicle_odometer')">{{ personalVehicleErrors.get('old_vehicle_odometer') }}</span>
                    </div>
                </div>

                <div class="column">&nbsp;</div>
                <div class="column">&nbsp;</div>

            </div>
        </div>

        <hr>

        <div v-if="personalVehicle">

            <!-- DEPRECIATION --->

            <div class="mb-4">
                <strong>Depreciation:</strong><br>
                <div class="row">
                    <div class="col-sm-6">
                        Have you deducted depreciation for the above vehicle on your personal income tax (Form 1040)?
                    </div>
                    <div class="col-sm-6">
                        <label for="one">
                            <input type="radio" id="one" value="1" v-model="depreciation"
                                   :disabled="permissions.read_only || permissions.depreciation_disabled"> Yes
                        </label>

                        <label for="two">
                            <input type="radio" id="two" value="0" v-model="depreciation" class="ml-5"
                                   :disabled="permissions.read_only || permissions.depreciation_disabled"> No
                        </label>
                    </div>
                </div>
            </div>

            <div v-show="depreciation == 1" class="mt-3">
                <div class="columns">
                    <div class="column is-4">Select the method used:<br></div>
                </div>

                <div class="columns mb-4">
                    <div class="column is-6 pb-0">
                        <div :class="{'form-group mb-0':true, 'alert alert-danger':personalVehicleErrors.has('depreciation_method')}">
                            <label for="depreciation_1">
                                <input type="radio"
                                       id="depreciation_1"
                                       value="1"
                                       v-model="personalVehicle.depreciation_method"
                                       :disabled="permissions.read_only || permissions.depreciation_disabled"> Straight-Line Depreciation
                            </label>
                            <br>

                            <label for="depreciation_2">
                                <input type="radio"
                                       id="depreciation_2"
                                       value="2"
                                       v-model="personalVehicle.depreciation_method"
                                       :disabled="permissions.read_only || permissions.depreciation_disabled"> Additional Depreciation in the first year (IRS Section 179 Deduction)
                            </label>
                            <br>

                            <label for="depreciation_3">
                                <input type="radio"
                                       id="depreciation_3"
                                       value="3"
                                       v-model="personalVehicle.depreciation_method"
                                       :disabled="permissions.read_only || permissions.depreciation_disabled"> ACRS (Accelerated Cost Recovery System)
                            </label>
                            <br>

                            <label for="depreciation_4">
                                <input type="radio"
                                       id="depreciation_4"
                                       value="4"
                                       v-model="personalVehicle.depreciation_method"
                                       :disabled="permissions.read_only || permissions.depreciation_disabled"> MACRS (Modified Cost Recovery System)
                            </label>

                            <span v-if="personalVehicleErrors.has('depreciation_method')">{{ personalVehicleErrors.get('depreciation_method') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="personalVehicle.depreciation_method > 1" class="alert alert-danger">
                You may not use this vehicle for non taxable FAVR reimbursement.
            </div>

            <div class="columns mt-4" v-if="!registration">
                <div class="column is-2 is-offset-1" v-if="personalVehicle && personalVehicle.id > 0">
                    <button class="btn btn-secondary"
                            v-if="!permissions.read_only && !permissions.update_disabled"
                            @click.prevent="updatePersonalVehicle()">Update</button>
                </div>
                <div class="column is-2 is-offset-1" v-else>
                    <button class="btn btn-secondary"
                            v-if="!permissions.read_only && !permissions.insert_disabled"
                            @click.prevent="insertPersonalVehicle()">Add New Vehicle</button>
                </div>

                <div class="column is-3 is-offset-5">
                    <button class="btn btn-primary" @click="backToList">Return to Vehicle List</button>
                </div>

            </div>
        </div>

        <!-- we are in registration -->
        <div v-if="registration">
            <div id="actionButtons" >
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-success" style="float: right"
                                @click="confirmVehicleInformationForRegistration()"
                                :disabled="permissions.read_only">Confirm and Continue</button>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-secondary"
                                @click="resetVehicle();"
                                :disabled="permissions.read_only">Reset Vehicle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {
        VehicleMakeSelect,
        VehicleModelSelect,
        VehicleTrimSelect,
        VehicleYearSelect
    } from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import Errors from '../../utilities/Errors';
    import Vehicle from '../../models/Vehicle';

    export default {

        props: ['registration', 'vehicle', 'caller_id'],

        components: {VehicleMakeSelect, VehicleYearSelect, VehicleModelSelect, VehicleTrimSelect},

        data() {
            return {
                loaded: false,
                year_has_been_set: false,
                my_caller_id: 'PersonalVehicleFAVR',
                personalVehicle: null,
                previousPersonalVehicle: null,
                vehicle_count: 0,
                personalVehicleErrors: new Errors,
                favrParameters: null,
                // depreciation: 0, // davery
                depreciation: null, // davery

                notes: null,

                permissions: {
                    year_disabled: true,
                    make_disabled: true,
                    model_disabled: true,
                    trim_disabled: true,
                    odometer_disabled: true,
                    old_odometer_disabled: true,
                    vehicle_cost_disabled: true,
                    depreciation_disabled: true,
                    update_disabled: true,
                    insert_disabled: true,
                    read_only: true,
                },
            };
        },

        created() {
            axios.get('/getVehicleFavrParameters/' + this.getUserId).then( response => {
                this.favrParameters = response.data.favrParameters;
                this.loaded = true;
            })
        },

        mounted() {
            this.countPersonalVehicles();

            // since we can no longer v-model on year, we have to wait for an event and grab it from the store
            EventBus.$on('year-changed', () => {
                this.personalVehicle.year = this.getSessionYear;
            })
        },

        watch: {
            /**
             *  Watch the vehicle prop immediately.
             *
             *  If a vehicle is provided, clone it and set proper permissions
             *
             *  Else we are a driver adding a new vehicle
             *
             */
            'vehicle': {
                handler: function(vehicle) {
                    if ( !Common.isEmpty(vehicle) ) {
                        this.personalVehicle = _.cloneDeep(vehicle);
                    } else {
                        this.personalVehicle = new Vehicle;
                    }

                    // this.depreciation = this.personalVehicle.depreciation > 1 ? 1 : 0; // davery
                    this.depreciation = this.personalVehicle.depreciation > 1 ? 1 : null; // davery


                 // console.log(this.personalVehicle.year);

                    this.setFieldPermissions();
                },
                immediate: true,
            },

            'personalVehicle': {
                handler: function() {
                    // only if there are errors present, validate and clear them as we update the personal vehicle
                    if ( this.personalVehicleErrors.any() ) {
                        this.validatePersonalVehicle();
                    }

                    if ( this.registration && !_.isEqual(this.vehicle, this.personalVehicle)) {
                        EventBus.$emit('personal-vehicle-changed');
                    }
                },
                deep: true,
            },

            // whenever make_id changes, reset the model and trim
            'personalVehicle.make_id': {
                handler: function() {
                    this.personalVehicle.model_id = -1;
                    this.personalVehicle.trim_id = -1;
                }
            },

            // whenever model_id changes, reset the trim
            'personalVehicle.model_id': {
                handler: function() {
                    this.personalVehicle.trim_id = -1;
                }
            },

            // reset depreciation method if required
            depreciation: function (val) {
                if (val == 0) {
                    this.personalVehicle.depreciation_method = 0;
                }
            }
        },

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getSessionYear',
                'getPersonalVehicle',
                'getUserId'
            ]),

            end_year: function () {
                return new Date().getFullYear() + 1;
            },

            start_year: function () {
                return new Date().getFullYear() - 50;
            },

        },

        filters: {
            twoDecimalPlaces(n) {
                // will also add commas
                return parseFloat(n).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
            }
        },

        methods: {

            setFieldPermissions() {
                /**
                 * let the registering driver do it all
                 */
                if (this.registration) {
                    for (let permission in this.permissions){
                        this.permissions[permission] = false;
                    }
                    return;
                }


                // driver adds a new vehicle
                if (this.getImpersonatorId < 0 && (this.personalVehicle.id === -1 || this.personalVehicle.id === undefined)) {
                    this.permissions.year_disabled = false;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = false;
                    this.permissions.old_odometer_disabled = false;
                    this.permissions.vehicle_cost_disabled = false;
                    this.permissions.depreciation_disabled = false;
                    this.permissions.update_disabled = true;
                    this.permissions.insert_disabled = false;
                    this.permissions.read_only = false;

                    // it is not an active vehicle
                } else if (this.personalVehicle.deleted_at != null) {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = true;
                    this.permissions.read_only = true;

                    // super can edit active vehicle
                } else if (this.getImpersonatorId > 0) {
                    this.permissions.year_disabled = false;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = false;
                    this.permissions.old_odometer_disabled = false;
                    this.permissions.vehicle_cost_disabled = false;
                    this.permissions.depreciation_disabled = false;
                    this.permissions.update_disabled = false;
                    this.permissions.insert_disabled = true;
                    this.permissions.read_only = false;


                    // driver can correct make & model & trim in the case of bad data in the previous system
                } else if (this.getImpersonatorId < 0 && (this.personalVehicle.make_id == null || this.personalVehicle.model_id == null)) {
                    this.permissions.year_disabled = true;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = true;
                    this.permissions.old_odometer_disabled = true;
                    this.permissions.vehicle_cost_disabled = true;
                    this.permissions.depreciation_disabled = true;
                    this.permissions.update_disabled = false;
                    this.permissions.insert_disabled = true;
                    this.permissions.read_only = false;

                    // default disable everything
                } else {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = true;
                    this.permissions.read_only = true;
                }
            },

            countPersonalVehicles() {
                axios.get('/countPersonalVehicles').then(response => {
                    this.vehicle_count = response.data.countPersonalVehicles;
                    if (this.vehicle_count > 1) {
                        axios.get('/getPreviousPersonalVehicle').then(response => {
                            this.previousPersonalVehicle = response.data.vehicle;
                        });
                    }
                });
            },

            backToList() {
                Common.fire(this.caller_id + '-back-to-list');
            },

            /**
             *  This method is only called during the registration process.
             *
             *  It will perform front end validation, and if the vehicle is valid, push it into the store
             *  and to the db.
             */
            confirmVehicleInformationForRegistration() {
                // validate
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }

                let url = (this.vehicle_count > 0 ? '/updatePersonalVehicle/' : '/insertPersonalVehicle/') + true;

                /**
                 * Insert or update the vehicle in the db
                 * Once you have the id, update the local personal vehicle
                 * Commit that vehicle to the store and then tell the parent the driver has confirmed the vehicle
                 * We do the vehicle confirmation last so that the comparison between the store value
                 * and the local personal vehicle matches. Otherwise the id's will be different and it will not show
                 * completed. Finally update the vehicle count so that next time we update the same record, and don't
                 * create a new record entirely.
                 */
                axios.post(url, this.personalVehicle).then(
                    response => {
                        this.personalVehicle.id = response.data.personalVehicle.id;
                        Common.storeCommit('updatePersonalVehicle', this.personalVehicle).then( () => {
                            EventBus.$emit('driver-personal-vehicle-confirmed');
                            this.vehicle_count = this.vehicle_count > 0 ? this.vehicle_count : 1;
                        });

                        axios.post('/completeDriverRegistrationModule', {
                            module_column_name: 'vehicle_completed'
                        }).catch( errors => {
                            alert(errors);
                        });
                    },
                    error => {
                        this.personalVehicleErrors = error.response.data;
                    }
                );
            },

            insertPersonalVehicle() {
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }
                axios.post('/insertPersonalVehicle', this.personalVehicle).then(
                    response => {
                        Common.fire(this.caller_id + '-personal-vehicles-updated');
                        this.backToList();
                    },
                    error => {
                        this.personalVehicleErrors.errors = error.response.data;
                    }
                );
            },

            updatePersonalVehicle() {
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }
                axios.post('/updatePersonalVehicle', this.personalVehicle).then(
                    response => {
                        Common.fire(this.caller_id + '-personal-vehicles-updated');
                        this.backToList();
                    },
                    error => {
                        this.personalVehicleErrors.errors = error.response.data;
                    }
                );

            },

            resetVehicle() {
                if (this.registration) {
                    Common.storeCommit('updateSessionYear', -1);
                    this.personalVehicle = new Vehicle;
                    this.personalVehicleErrors.clear();
                }
            },

            validatePersonalVehicle() {

                // year
                if (this.personalVehicle.year < 1 ) {
                    this.personalVehicleErrors.add('year', ['Please select a vehicle year']);
                } else {
                    this.personalVehicleErrors.clear('year');
                }

                // make
                if (this.personalVehicle.make_id < 1 ) {
                    this.personalVehicleErrors.add('make_id', ['Please select a vehicle make']);
                } else {
                    this.personalVehicleErrors.clear('make_id');
                }

                // model
                if (this.personalVehicle.model_id < 1 ) {
                    this.personalVehicleErrors.add('model_id', ['Please select a vehicle model']);
                } else {
                    this.personalVehicleErrors.clear('model_id');
                }

                // odometer
                if ( Common.isEmpty(this.personalVehicle.odometer) ) {
                    this.personalVehicleErrors.add('odometer', ['You must supply an odometer']);
                } else {
                    this.personalVehicleErrors.clear('odometer');
                }

                // old odometer
                if ( !Common.isEmpty(this.previousPersonalVehicle) ) {
                    if ( Common.isEmpty(this.personalVehicle.old_vehicle_odometer)) {
                        this.personalVehicleErrors.add('old_vehicle_odometer', ['You must supply an odometer for your previous vehicle']);
                    } else {
                        this.personalVehicleErrors.clear('old_vehicle_odometer');
                    }
                } else {
                    // clear the old vehicle errors if we don't have the old vehicle... just in case
                    this.personalVehicleErrors.clear('old_vehicle_odometer');
                }

                // vehicle cost
                if ( Common.isEmpty(this.personalVehicle.vehicle_cost) || this.personalVehicle.vehicle_cost < 1 ) {
                    this.personalVehicleErrors.add('vehicle_cost', ['Vehicle cost must be greater than 0']);
                } else {
                    this.personalVehicleErrors.clear('vehicle_cost');
                }

                /**
                 * If depreciation == 1, that means the driver has deducted the above on their income tax,
                 * and must select a depreciation method
                 */
                if ( this.depreciation == 1 && Common.isEmpty(this.personalVehicle.depreciation_method) ) {
                    this.personalVehicleErrors.add('depreciation_method', ['You must select a past depreciation method']);
                } else {
                    this.personalVehicleErrors.clear('depreciation_method');
                }

                this.$forceUpdate();
            },



        }
    };
</script>

<style lang='css'>
    #personalVehicleFavr #actionButtons {
        padding-top: 3rem;
    }
</style>