<template lang='html'>

    <div id="personalVehicle">
        <div v-if="personalVehicle">

            <!-- only display the title section if we are not in the registration wizard -->
            <section id="personalVehicleTitle" v-if="!registration">
                <h3><i class="fal fa-car"></i> Personal Vehicle</h3>
                <br>
            </section>

            <div class="columns">

                <!-- Year -->
                <div class="column">
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('year')}">
                        <vehicle-year-select v-model="personalVehicle.year"
                                             :disabled="permissions.read_only || permissions.make_disabled"/>
                        <span class="help-block" v-if="personalVehicleErrors.has('year')">{{ personalVehicleErrors.get('year') }}</span>
                    </div>
                </div>

                <!-- Make -->
                <div class="column">
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('make_id')}">
                        <vehicle-make-select v-if="personalVehicle"
                                     v-model="personalVehicle.make_id"
                                     :disabled="permissions.read_only || permissions.make_disabled || personalVehicle.year < 0"/>
                        <span class="help-block" v-if="personalVehicleErrors.has('make_id')">{{ personalVehicleErrors.get('make_id') }}</span>
                    </div>
                </div>

                <!-- Model --->
                <div class="column">
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('model_id')}">
                        <vehicle-model-select v-if="personalVehicle"
                                      :session_year_id="personalVehicle.year"
                                      :session_make_id="personalVehicle.make_id"
                                      v-model="personalVehicle.model_id"
                                      :disabled="permissions.read_only || permissions.model_disabled || personalVehicle.make_id < 0"/>
                        <span class="help-block" v-if="personalVehicleErrors.has('model_id')">{{ personalVehicleErrors.get('model_id') }}</span>
                    </div>
                </div>

            </div>

            <div class="columns">

                <div class="column is-8">
                    <!--- Trim --->
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('trim_id')}">
                        <vehicle-trim-select v-if="personalVehicle"
                                     v-model="personalVehicle.trim_id"
                                     :session_make_id="personalVehicle.make_id"
                                     :session_model_id="personalVehicle.model_id"
                                     :session_year_id="personalVehicle.year"
                                     :disabled="permissions.read_only || permissions.trim_disabled || personalVehicle.model_id < 0"/>
                        <span class="help-block" v-if="personalVehicleErrors.has('trim_id')">{{ personalVehicleErrors.get('trim_id') }}</span>
                    </div>
                </div>

                <!-- Odometer -->
                <div class="column field">
                    <label><strong>Odometer</strong></label>
                    <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('odometer')}">
                        <vue-numeric v-if="personalVehicle"
                                     v-model="personalVehicle.odometer"
                                     class="form-control vue-input"
                                     separator=","
                                     :disabled="permissions.read_only || permissions.odometer_disabled"
                                     @keyup="personalVehicleErrors.clear('odometer')"/>
                        <span class="help-block" v-if="personalVehicleErrors.has('odometer')"> {{ personalVehicleErrors.get('odometer') }}</span>
                    </div>
                </div>

            </div>

            <p v-if="note" v-html="note"></p>

            <div v-show="personalVehicle && previousPersonalVehicle">
                <h2>Old Vehicle</h2>
                <br>
                <div class="columns">
                    <div class="column is-4">

                        <div :class="{'form-group':true, 'has-error':personalVehicleErrors.has('old_vehicle_odometer')}">
                            <label>Ending Odometer From Your Old Vehicle</label>
                            <input class="form-control"
                                   v-if="personalVehicle"
                                   :disabled="permissions.read_only || permissions.old_odometer_disabled"
                                   v-model="personalVehicle.old_vehicle_odometer"
                                   type="text">
                            <span class="help-block" v-if="personalVehicleErrors.has('old_vehicle_odometer')">{{ personalVehicleErrors.get('old_vehicle_odometer') }}</span>
                        </div>
                    </div>

                    <div class="column is-8">
                        <div v-if="previousPersonalVehicle" class="form-group">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control"
                                   :value="previousPersonalVehicle.year + ' ' + previousPersonalVehicle.make + ' ' + previousPersonalVehicle.model + ' ' + previousPersonalVehicle.trim"
                                   disabled>
                        </div>
                    </div>

                </div>
            </div>

            <!-- we are not in registration -->
            <div v-if="!registration">
                <div class="columns">
                    <div class="column is-2" v-if="personalVehicle">
                        <div v-if="!permissions.update_disabled && permissions.insert_disabled">
                            <a class="btn btn-secondary" @click.prevent="updatePersonalVehicle()">
                                Update
                            </a>
                        </div>
                        <div v-if="!permissions.insert_disabled && permissions.update_disabled">
                            <button class="btn btn-success" @click.prevent="insertPersonalVehicle()">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="column is-3 is-offset-7">
                        <button :class="{ 'btn float-right': true, 'btn-secondary': permissions.read_only, 'btn-danger': !permissions.read_only }" @click="backToList()">
                            {{ permissions.read_only ? 'Back to Vehicle List' : 'Cancel' }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- we are in registration -->
            <div v-if="registration">
                <div id="actionButtons" >
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-block btn-success" style="float: right"
                                    @click="confirmVehicleInformationForRegistration()"
                                    :disabled="permissions.read_only">Confirm and Continue</button>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-block btn-secondary"
                                    @click="resetVehicle()"
                                    :disabled="permissions.read_only">Reset Vehicle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {
        VehicleYearSelect,
        VehicleMakeSelect,
        VehicleModelSelect,
        VehicleTrimSelect} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import Errors from '../../utilities/Errors';
    import Vehicle from '../../models/Vehicle';
    import VueNumeric from 'vue-numeric';
    export default {

        props: ['registration', 'vehicle', 'caller_id'],

        components: {VehicleYearSelect, VehicleMakeSelect, VehicleModelSelect, VehicleTrimSelect, VueNumeric},

        data() {
            return {
                my_caller_id: 'PersonalVehicle',
                personalVehicle: null,
                previousPersonalVehicle: null,
                vehicle_count: 0,
                personalVehicleErrors: new Errors,

                permissions: {
                    year_disabled: true,
                    make_disabled: true,
                    model_disabled: true,
                    trim_disabled: true,
                    odometer_disabled: true,
                    old_odometer_disabled: true,
                    update_disabled: true,
                    insert_disabled: true,
                    read_only: true,
                },
            };
        },

        filter: {
            comma_every_three_numbers (val) {
                console.log(val)
            },
        },

        created() {

        },

        mounted() {
            this.countPersonalVehicles();

            // since we can no longer v-model on year, we have to wait for an event and grab it from the store
            EventBus.$on('year-changed', () => {
                this.personalVehicle.year = this.getSessionYear;
            })
        },

        watch: {
            /**
             *  Watch the vehicle prop immediately.
             *
             *  If a vehicle is provided, clone it and set proper permissions
             *
             *  Else we are a driver adding a new vehicle
             *
             */
            'vehicle': {
                handler: function(vehicle) {
                    if ( !Common.isEmpty(vehicle) ) {
                        this.personalVehicle = _.cloneDeep(vehicle);
                    } else {
                        this.personalVehicle = new Vehicle;
                    }

                    Common.storeCommit('updateSessionYear', this.personalVehicle.year);

                    this.setFieldPermissions();
                },
                immediate: true,
            },

            'personalVehicle': {
                handler: function() {
                    // only if there are errors present, validate and clear them as we update the personal vehicle
                    if ( this.personalVehicleErrors.any() ) {
                        this.validatePersonalVehicle();
                    }

                    if ( this.registration && !_.isEqual(this.vehicle, this.personalVehicle)) {
                        EventBus.$emit('personal-vehicle-changed');
                    }
                },
                deep: true,
            },

            // whenever make_id changes, reset the model and trim
            'personalVehicle.make_id': {
                handler: function() {
                    this.personalVehicle.model_id = -1;
                    this.personalVehicle.trim_id = -1;
                }
            },

            // whenever model_id changes, reset the trim
            'personalVehicle.model_id': {
                handler: function() {
                    this.personalVehicle.trim_id = -1;
                }
            },
        },

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getSessionYear',
                'getPersonalVehicle',
            ]),

            showOldVehicle: function () {
                return (this.impersonate && this.vehicleCount > 1 || this.getImpersonatorId < 0 && this.vehicleCount >= 1) ? true : false;
            },

            note: function () {
                var text = null;
                if (this.personalVehicle.note != null && (this.original_make_id == null || this.original_model_id == null)) {
                    text = "NOTE: Make and Model drop-downs could not be determined based on driver original data: <strong>" + this.personalVehicle.note + "</strong><br>";
                    if (this.personalVehicle.deleted_at == null) {
                        text = text + "You can correct it by choosing proper vehicle make and model.<br>" +
                            "It will <strong>not</strong> change your driver status<br><br>";
                    } else {
                        text = text + "<br>";
                    }
                }
                return text;
            },
        },


        methods: {

            setFieldPermissions() {
                /**
                 * let the registering driver do it all
                 */
                if (this.registration) {
                    for (let permission in this.permissions){
                        this.permissions[permission] = false;
                    }
                    return;
                }

                // driver adds a new vehicle
                if (this.getImpersonatorId < 0 && (this.personalVehicle.id === -1 || this.personalVehicle.id === undefined)) {
                    this.permissions.insert_disabled = false;
                    this.permissions.update_disabled = true;
                    this.permissions.year_disabled = false;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = false;
                    this.permissions.old_odometer_disabled = false;
                    this.permissions.read_only = false;

                    // it is not an active vehicle
                } else if (this.personalVehicle.deleted_at != null) {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = true;
                    this.permissions.read_only = true;

                    // super can edit active vehicle
                } else if (this.getImpersonatorId > 0) {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = false;
                    this.permissions.year_disabled = false;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = false;
                    this.permissions.old_odometer_disabled = false;
                    this.read_only = false;


                    // driver can correct make & model & trim in the case of bad data in the previous system
                } else if (this.getImpersonatorId < 0 && (this.personalVehicle.make_id == null || this.personalVehicle.model_id == null)) {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = false;
                    this.permissions.year_disabled = true;
                    this.permissions.make_disabled = false;
                    this.permissions.model_disabled = false;
                    this.permissions.trim_disabled = false;
                    this.permissions.odometer_disabled = true;
                    this.permissions.old_odometer_disabled = true;
                    this.permissions.read_only = false;

                    // default disable everything
                } else {
                    this.permissions.insert_disabled = true;
                    this.permissions.update_disabled = true;
                    this.permissions.read_only = true;
                }
            },

            countPersonalVehicles() {
                axios.get('/countPersonalVehicles').then(response => {
                    this.vehicle_count = response.data.countPersonalVehicles;
                    // if (this.vehicle_count > 0) { // if there is 1 previous car
                    if (this.vehicle_count > 1) {
                        axios.get('/getPreviousPersonalVehicle').then(response => {
                            this.previousPersonalVehicle = response.data.vehicle;
                            console.log('previousPersonalVehicle: ',this.previousPersonalVehicle); // davery
                        });
                    }
                });
            },

            backToList() {
                Common.fire(this.caller_id + '-back-to-list');
            },

            /**
             *  This method is only called during the registration process.
             *
             *  It will perform front end validation, and if the vehicle is valid, push it into the store
             *  and to the db.
             */
            confirmVehicleInformationForRegistration() {
                // validate
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }

                let url = (this.vehicle_count > 0 ? '/updatePersonalVehicle/' : '/insertPersonalVehicle/') + true;

                /**
                 * Insert or update the vehicle in the db
                 * Once you have the id, update the local personal vehicle
                 * Commit that vehicle to the store and then tell the parent the driver has confirmed the vehicle
                 * We do the vehicle confirmation last so that the comparison between the store value
                 * and the local personal vehicle matches. Otherwise the id's will be different and it will not show
                 * completed. Finally update the vehicle count so that next time we update the same record, and don't
                 * create a new record entirely.
                 */
                axios.post(url, this.personalVehicle).then(
                    response => {
                        this.personalVehicle.id = response.data.personalVehicle.id;
                        Common.storeCommit('updatePersonalVehicle', this.personalVehicle).then( () => {
                            EventBus.$emit('driver-personal-vehicle-confirmed');
                            this.vehicle_count = this.vehicle_count > 0 ? this.vehicle_count : 1;
                        });

                        axios.post('/completeDriverRegistrationModule', {
                            module_column_name: 'vehicle_completed'
                        }).catch( errors => {
                            alert(errors);
                        });

                    },
                    error => {
                        this.personalVehicleErrors = error.response.data;
                    }
                );



            },

            insertPersonalVehicle() {
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }
                axios.post('/insertPersonalVehicle', this.personalVehicle).then(
                    response => {
                        Common.fire(this.caller_id + '-personal-vehicles-updated');
                        this.backToList();
                    },
                    error => {
                        this.personalVehicleErrors.errors = error.response.data;
                    }
                );
            },

            updatePersonalVehicle() {
                this.validatePersonalVehicle();

                if ( this.personalVehicleErrors.any() ) {
                    return;
                }
                axios.post('/updatePersonalVehicle', this.personalVehicle).then(
                    response => {
                        Common.fire(this.caller_id + '-personal-vehicles-updated');
                        this.backToList();
                    },
                    error => {
                        this.personalVehicleErrors = error.response.data;
                    }
                );
            },

            resetVehicle() {
                if (this.registration) {
                    Common.storeCommit('updateSessionYear', -1);
                    this.personalVehicle = new Vehicle;
                    this.personalVehicleErrors.clear();
                }
            },

            validatePersonalVehicle() {

                // year
                if (this.personalVehicle.year < 1 ) {
                    this.personalVehicleErrors.add('year', ['Please select a vehicle year']);
                } else {
                    this.personalVehicleErrors.clear('year');
                }

                // make
                if (this.personalVehicle.make_id < 1 ) {
                    this.personalVehicleErrors.add('make_id', ['Please select a vehicle make']);
                } else {
                    this.personalVehicleErrors.clear('make_id');
                }

                // model
                if (this.personalVehicle.model_id < 1 ) {
                    this.personalVehicleErrors.add('model_id', ['Please select a vehicle model']);
                } else {
                    this.personalVehicleErrors.clear('model_id');
                }

                // odometer
                if ( Common.isEmpty(this.personalVehicle.odometer) || this.personalVehicle.odometer < 1 ) {
                    this.personalVehicleErrors.add('odometer', ['Odometer must be greater than 0']);
                } else {
                    this.personalVehicleErrors.clear('odometer');
                }

                // old odometer
                if ( !Common.isEmpty(this.previousPersonalVehicle) ) {
                    if ( Common.isEmpty(this.personalVehicle.old_vehicle_odometer)) {
                        this.personalVehicleErrors.add('old_vehicle_odometer', ['You must supply an odometer for your previous vehicle']);
                    } else {
                        this.personalVehicleErrors.clear('old_vehicle_odometer');
                    }
                } else {
                    // clear the old vehicle errors if we don't have the old vehicle... just in case
                    this.personalVehicleErrors.clear('old_vehicle_odometer');
                }

                this.$forceUpdate();
            }


        }
    };
</script>

<style lang='css'>

</style>