/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reimbursementProfile">
        <h2>Reimbursement Profile</h2>

        <div class="columns">
            <div class="column grid">
                <vehicle-profile-tile/>
            </div>
            <div class="column grid">
                <driver-location-tile/>
            </div>
        </div>
        <div class="columns">
            <div class="column grid">
                <fixed-reimbursement-tile
                        :show_reimbursement_details="show_reimbursement_details"/>
            </div>
            <div class="column grid">
                <variable-reimbursement-tile
                        :show_reimbursement_details="show_reimbursement_details"/>
            </div>
        </div>

        <div class="columns">
            <div class="column grid">
                <fuel-map/>
            </div>
        </div>
    </div>
</template>

<script>

    import {
        DriverLocationTile,
        FixedReimbursementTile,
        FuelMap,
        VariableReimbursementTile,
        VehicleProfileTile
    } from "./index";
    import {mapGetters} from 'vuex';


    export default {

        components: {
            DriverLocationTile,
            FixedReimbursementTile,
            FuelMap,
            VariableReimbursementTile,
            VehicleProfileTile,
        },

        data() {
            return {
                show_reimbursement_details: false,
            };
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getHighestAuthenticatedUserType',
                'getCompanySelection'
            ])
        },

        created() {
            this.determineViewPermissions();


        },

        methods: {
            determineViewPermissions() {
                switch (this.getCompanySelection('can_view_reimbursement_details')) {
                    case ('All Users') :
                        this.show_reimbursement_details = true;
                        break;
                    case ('Super') :
                        this.show_reimbursement_details = this.getHighestAuthenticatedUserType == 'super';
                        break;
                    case ('Administrators'):
                        this.show_reimbursement_details = this.getHighestAuthenticatedUserType == 'super' || this.getHighestAuthenticatedUserType == 'administrator';
                        break;
                    default:
                        this.show_reimbursement_details = false;
                        break;
                }
            }
        }
    };
</script>

<style lang="css">

    #disclaimer {
        font-size: 10px;
        text-align: center;
    }

    .left {
        text-align: left;
        width: 50%;
    }

    .right {
        text-align: right;
        width: 50%;
    }

    .table-row-sum {
        border-top: 1px solid #111111;
    }

    .reimbursement-display {
        font-weight: bold;
        font-size: 20px;
    }

    #reimbursementProfile .column.grid {
        display: inline-flex;
    }

    #reimbursementProfile .column.grid > div {
        width: 100%;
    }

    /*#reimbursementProfile .column.grid > .box {
        border: .1rem solid lightblue;
    }*/

</style>