/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverNotesWidget">
        <div v-if="notes" v-for="note in notes">
            {{ note.title }}
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {

        data() {
            return {
                notes: null
            };
        },

        created() {
            axios.get('/getDriverNotes/' + this.getSessionDriverId).then(response => {
                this.notes = response.data.notes;
            });
        },

        computed: {
            ...mapGetters([
                'getSessionDriverId'
            ])
        },

        methods: {}
    };

</script>

<style lang="css">

</style>