<template lang="html">
    <div id="statusIndicator">
        <div class="clearfix position-relative">
            <div class="float-md-right">
                <div :class="{ 'text-center mr-3': true, 'float-left': hoverable }">
                    <div :class="driverStatusLight"  @mouseover="alertActive = true" @mouseleave="alertActive = false"></div>

                    <div v-if="!hoverable" class="table-responsive table-responsive-bordered mb-1">
                        <table class="table table-bordered mb-0">
                            <tbody>
                            <tr v-for="row in getDriverStreetLightArray">
                                <td v-show="row.id !== 2" style="text-align: center; vertical-align: middle;">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </td>
                                <td v-html="row.description">
                                    <!--{{ row.description }}-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="float-left text-right-sm" v-if="!hide_driver_name">
                    <strong>Driver Name:</strong><br>
                    {{ getUserFullName }}
                </div>
            </div>
        </div>

        <transition name="fade5s">
            <div v-show="alertActive && hoverable" :class="alertColor" class="mb-0 mt-2 position-absolute status-indicator__status" role="alert">
                <span style="font-weight: bold;">Current Status:</span>
                <br>
                <ul>
                    <li v-for="(row, index) in getDriverStreetLightArray"
                        v-html="row.description"
                        :class="{ 'driver-status-item mb-3 pb-3': getDriverStreetLightArray.length > 1 && index !== getDriverStreetLightArray.length - 1 }"
                    ></li>
                        <!--{{ row.description }}-->
                        <!--<hr v-show="index != getDriverStreetLightArray.length - 1">-->
                </ul>
            </div>
        </transition>
    </div>
</template>

<script>
    // imports here
    import {mapGetters} from 'vuex';

    export default {
        props: ['force_hoverable'],

        components: {

        }, // components

        data() {
            return {
                alertActive: false,
                color: null,
            };
        }, // data

        mounted() {
            // console.log('getUserType: ',this.getUserType);
            // console.log('getDriverStreetLightArray: ',this.getDriverStreetLightArray);
            // console.log('getEditedUser: ',this.getEditedUser);
            // console.log('this.getDriverProfile: ',this.getDriverProfile);
            this.getDriverStreetLightData();

        }, // mounted

        computed: {
            ...mapGetters([
                'getView',
                'getUserType',
                'getEditedUser',
                'getUserFullName',
                'getDriverProfile',
                'getImpersonatorId',
                'getDriverStreetLightArray',
            ]),

            hide_driver_name () {
                let hide_driver_name;
                if (this.getUserType === 'driver') {
                    hide_driver_name = true;
                } else {
                    switch (this.getView) {
                        /*case 'driverDashboard':
                            hide_driver_name = true;
                            break;*/
                        default:
                            hide_driver_name = true;
                            break;
                    }
                }
                return hide_driver_name;
            },

            hoverable () {
                if (this.force_hoverable) return true;
                let hoverable;
                if (this.getUserType === 'driver') {
                    hoverable = true;
                } else {
                    switch (this.getView) {
                        /*case 'driverDashboard':
                            hoverable = false;
                            break;*/
                        default:
                            hoverable = false;
                            break;
                    }
                }
                return hoverable;
            },

            driverStatusLight () {
                return {
                    'driver-status-tile-light': true,
                    '--green': this.color === 'Green',
                    '--yellow': this.color === 'Yellow',
                    '--blue': this.color === 'Blue',
                    '--red': this.color === 'Red',
                    '--hover': this.hoverable,
                    // 'float-left': !this.hoverable,
                }
            },

            alertColor: function() {
                return {
                    'alert': true,
                    'alert-success': this.color === 'Green',
                    'alert-warning': this.color === 'Yellow',
                    'alert-danger': this.color === 'Red'
                }
            },
        }, // computed

        watch: {
            /**
             * Watch the edited user in the store, and update the street light data
             * this is faster than reloading whole pages.
             */
            'getEditedUser': {
                handler: function(val) {
                    if (!Common.isEmpty(val)) {
                        this.getDriverStreetLightData();
                    }
                },
                deep: true,
            }
        }, // watch

        methods: {

            getDriverStreetLightData() {
                if (!Common.isEmpty(this.getEditedUser)) {
                    axios.get('getDriverStreetLightData/' + this.getEditedUser.id).then( response => {
                        Common.storeCommit('updateDriverStreetLightArray', response.data ).then(() => {
                            this.checkDriverStreetLightStatus();
                        });
                    });
                } else {
                    this.checkDriverStreetLightStatus();
                }
            },

            checkDriverStreetLightStatus() {
                let status_color = '';
                if (this.getUserType === 'driver') {
                    if (this.getDriverProfile.street_light_id % 2 !== 0) {
                        if (this.getDriverProfile.street_light_id === 33
                            || this.getDriverProfile.street_light_id === 513
                            || this.getDriverProfile.street_light_id === 545
                            || this.getDriverProfile.street_light_id === 1049089
                            || this.getDriverProfile.street_light_id === 1049121) {
                            status_color = 'Red';
                        } else {
                            status_color = 'Yellow';
                        }
                    } else {
                        console.log('this.getDriverStreetLightArray: ',this.getDriverStreetLightArray)
                        this.getDriverStreetLightArray.forEach(status => {
                            if (status.color === 'Red') {
                                status_color = 'Red';
                            }
                        });
                    }
                } else if (!Common.isEmpty(this.getEditedUser)) {
                    // console.log(this.getEditedUser)
                    if (this.getEditedUser.driver_profile.street_light_id % 2 !== 0) {
                        if (this.getEditedUser.driver_profile.street_light_id === 33
                            || this.getEditedUser.driver_profile.street_light_id === 513
                            || this.getEditedUser.driver_profile.street_light_id === 545
                            || this.getEditedUser.driver_profile.street_light_id === 1049089
                            || this.getEditedUser.driver_profile.street_light_id === 1049121) {
                            status_color = 'Red';
                        } else {
                            status_color = 'Yellow';
                        }
                    } else {
                        // console.log('looking @ driver street light: ',this.getDriverStreetLightArray[0])

                        this.getDriverStreetLightArray.forEach(status => {
                            if (status.color === 'Red') {
                                status_color = 'Red';
                            }
                        });
                    }
                }

                if (this.getImpersonatorId > 0) { // super
                    //
                }
                this.color = status_color !== '' ? status_color : 'Green';
            },
        }, // methods
    }
</script>

<style>
    .status-indicator__status {
        max-width: 320px;
        right: 15px;
        word-wrap: break-word;
        z-index: 150;
    }
    .driver-status-item {
        border-bottom: 1px solid #ccc;
    }
</style>