/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="variableReimbursementTile" class="tile is-6 is-child box">
        <p class="title">Variable Reimbursement</p>
        <div v-if="loaded == true">
            <div class="alert alert-info" align="center">
                <span class="reimbursement-display">
                    Variable Rate per {{ mile_km }}: {{ variableReimbursementData.variableReimbursementDetails.centsPerMile.amount_adj }} ¢
                </span>
            </div>

            <section v-if="show_reimbursement_details == true">

                <table>

                    <tr>
                        <td class="left">Fuel Price per {{ mile_km }}: </td>
                        <td>
                            <span style="float:left">¢</span>
                            <span style="float:right">{{ twoDecimalPlaces(variableReimbursementData.variableReimbursementDetails.fuelPrice.amount) }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="left">Maintenance and Tires {{ mile_km }}: </td>
                        <td class="right">{{ twoDecimalPlaces(variableReimbursementData.variableReimbursementDetails.maintenance.amount_adj) }}</td>
                    </tr>

                    <tr>
                        <td class="left">Repairs per {{ mile_km }}: </td>
                        <td class="right">{{ twoDecimalPlaces(variableReimbursementData.variableReimbursementDetails.repair.amount_adj) }}</td>
                    </tr>

                    <tr>
                        <td class="left">Total Variable Costs:</td>
                        <td class="table-row-sum">
                            <span style="float:left">¢</span>
                            <span style="float:right">{{ variableReimbursementData.variableReimbursementDetails.centsPerMile.amount_adj }}</span>
                        </td>
                    </tr>

                </table>
            </section>
        </div>

        <loading-partial v-show="!loaded"/>

    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {LoadingPartial} from "../partials";

export default {

    props: ['show_reimbursement_details'],

    components: {LoadingPartial},

    data() {
        return{
            loaded: false,
            variableReimbursementDetails: null,
        }
    },

    created() {
        axios.get('/getMyVariableReimbursementData').then( response => {
            this.variableReimbursementData = response.data.variableReimbursementData;
            this.loaded = true;
        })
    },

    computed: {
      ...mapGetters([
        'getCompanyPlan',
        'getCountryId'
      ]),

        mile_km: function() {
            if (this.getCountryId == 1) {
                return "mile";
            } else {
                return "km";
            }
        },
    },

    methods: {

        twoDecimalPlaces(n) {
            return parseFloat(n).toFixed(2)
        }

    },
}
</script>

<style lang="css">

</style>