<template lang="html">
    <div id="vehicleTooOldPendingTask">
        <div class="box pending-task p-2" style="border-color:#810911">
            <i class="fas fa-exclamation-triangle mr-1" style="color:#810911"></i>

            <span style="font-size: 14px;">Action Required - Please Update Vehicle</span>

            <button class="btn btn-primary btn-block mt-2 btn-sm"
                    :disabled="getImpersonatorId > 0"
                    @click="linkToPersonalVehiclePage()">
                <span>Link to Personal Vehicle Page</span>
            </button>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import {EventBus} from "../../event-bus.js";

    export default {
        props: ['caller_id'], // props

        components: {

        }, // components

        data() {
            return {

            };
        }, // data

        mounted() {
            EventBus.$emit(this.caller_id + '-loaded', 'vehicleTooOld');

            if ((this.getDriverStreetLightId & 4) === 0) {
                EventBus.$emit(this.caller_id + '-completed', 'vehicleTooOld');
            } else {
                // console.log('::VehicleTooOldPendingTask.vue > No vehicleTooOld')
            }
        }, // mounted

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getDriverStreetLightId',
            ])
        }, // computed

        watch: {

        }, // watch

        methods: {
            linkToPersonalVehiclePage() {
                Common.setView('personalVehicles');
            },
        }, // methods
    }
</script>

<style>

</style>