/**
Requires:
vehicle_profile_id OR vehicleProfile object
mileageBand object as defined by laravel's relationships
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div id="vehicleProfileTile" class="tile is-6 is-child box">
        <p class="title">Vehicle Profile</p>

        <div v-if="loaded">
            <table>
                <tr>
                    <td class="left">Year:</td>
                    <td class="right">{{ localVehicleProfile.vehicle.year }}</td>
                </tr>
                <tr>
                    <td class="left">Vehicle:</td>
                    <td class="right">{{ localVehicleProfile.vehicle.name }}</td>
                </tr>


                <tr>
                    <td class="left">Category:</td>
                    <td class="right">{{ localVehicleProfile.vehicle.category.name }}</td>
                </tr>


                <tr>
                    <td class="left">Retention in Years:</td>
                    <td class="right">{{ localVehicleProfile.retention }}</td>
                </tr>

                <tr>
                    <td class="left">Trade-In Mileage:</td>
                    <td class="right">{{ trade_in_mileage }}</td>
                </tr>

                <tr>
                    <td class="left">Annual Mileage Band:</td>
                    <td class="right">{{ annual_mileage }}</td>
                </tr>

                <tr>
                    <td class="left">Business Use Percent:</td>
                    <td class="right">{{ localVehicleProfile.business_use_percent }}%</td>
                </tr>
            </table>
            <br>
            <p id="disclaimer">
                This vehicle has been set by your employer as a way to standardize reimbursements. You do not have to
                drive this vehicle, but it is what your reimbursement is based upon.
            </p>
        </div>

        <div v-else>
            <loading-partial/>
        </div>

    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {LoadingPartial} from "../partials";

export default {

  components: { LoadingPartial },

  data() {
    return {
      vehicle_profile_id: -1,
      localVehicleProfile: null,
      mileage_band_id: -1,
      mileageBand: null,
      loaded: null,
    }
  },

  created() {
    axios.post('/getDriverAttributes', {
      user_id: this.getUserId,
      attributes: ['mileage_band_id', 'vehicle_profile_id']
    }).then(response => {
      this.vehicle_profile_id = response.data.vehicle_profile_id
      this.mileage_band_id = response.data.mileage_band_id
    })
  },

  computed: {
    ...mapGetters([
      'getUserId'
    ]),

    trade_in_mileage: function () {
      if (this.mileageBand) {
        return ( this.mileageBand.mileage_start * this.localVehicleProfile.retention ) + ' - ' + ( this.mileageBand.mileage_end * this.localVehicleProfile.retention )
      } else {
        return '';
      }
    },

    annual_mileage: function () {
      if (this.mileageBand) {
        return this.mileageBand.mileage_start + ' - ' + this.mileageBand.mileage_end
      }
    },
  },

  watch: {
    vehicle_profile_id: {
      handler: function(val) {
        if (val > 0) {
          axios.get('/getVehicleProfile/' + val).then(response => {
            this.localVehicleProfile = response.data.vehicleProfile
            this.loaded = this.checkLoaded()
          })
        }
      },
      immediate: true,
    },

    mileage_band_id: {
      handler: function(val) {
        if (val > 0) {
          axios.get('/getMileageBand/' + this.mileage_band_id).then(response => {
            this.mileageBand = response.data
            this.loaded = this.checkLoaded()
          })
        }
      },
      immediate: true,
    }
  },

  methods: {
    checkLoaded() {
      return this.mileage_band_id > 0 && this.vehicle_profile_id > 0 && this.localVehicleProfile
    }
  }
}
</script>


<style lang="css">

</style>