/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="cRAStandardMileageRates" class="box" style="min-height: 800px;">
        <h2>CRA Standard Mileage Rates</h2>
        <div class="row">
            <div class="col-2 offset-10">
                <small>Data found: {{displayReportDataCRA.length}}</small>
            </div>
        </div>
        <div class="table-responsive table-responsive-bordered mt-3 mb-5">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr class="primary-table-header">
                    <th>Effective Date</th>
                    <th>Until Date</th>
                    <th>Below 5000</th>
                    <th>Above 5000</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="data in displayReportDataCRA">
                    <td>January {{ data.start_year}}</td>
                    <td v-if="data.end_year != 0">December {{ data.end_year}}</td>
                    <td v-if="data.end_year == 0">Now</td>
                    <td>&dollar; {{ data.below }}</td>
                    <td>&dollar; {{ data.above }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>


<script>
    import {mapGetters} from 'vuex';


    export default {

        props: [],

        components: {},

        data() {
            return {
                displayReportDataCRA: []
            };
        },

        created() {
        },

        mounted() {
            this.getReportData();
        },

        destroyed() {

        },
        computed: {
            ...mapGetters([
                'getMenu',
            ])
        },
        watch: {},

        filters: {},

        methods: {
            setView(view) {
                Common.setView(view, null)
            },
            getReportData() {
                axios.get('/getStandardMileageRate/2').then(response => {
                    for(let index in response.data){
                        this.displayReportDataCRA.push({start_year: response.data[index].year , start_month: "January", end_month: "December", end_year: 0, below: response.data[index].above_5000, above: response.data[index].above_5000 });
                        if (index > 0){
                            this.displayReportDataCRA[index-1].end_year = response.data[index].year;
                        }
                    }
                    // Reverse the data!
                    this.displayReportDataCRA.reverse();
                });
            }
        }
    }

</script>


<style lang="css">


</style>