/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driversWithoutReimbursement" class="box" style="min-height: 800px;">
        <h2>Drivers Without Reimbursement</h2>
    </div>
</template>


<script>
    import {mapGetters} from 'vuex';


    export default {

        props: [],

        components: {},

        data() {
            return {
                displayItems: null,
            };
        },

        created() {
        },

        mounted() {

        },

        destroyed() {

        },
        computed: {
            ...mapGetters([
                'getMenu',
            ])
        },
        watch: {},

        filters: {},

        methods: {
            setView(view) {
                Common.setView(view, null)
            }
        }
    }

</script>


<style lang="css">


</style>