/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="fuelPricesView">
        <div class="row">
            <div class="col-6">
                <h2>Fuel Prices</h2>
            </div>
        </div>

        <!--SELECTS-->
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <country-select v-model="country_id"/>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div v-show="country_id == -1">
                    <label>State or Province</label>
                    <select class="form-control form-control-sm" disabled>
                        Select a state or province
                    </select>
                </div>
                <state-select v-model="state_province_id" v-show="country_id == 1"/>
                <province-select v-model="state_province_id" v-show="country_id == 2"/>
            </div>
            <div class="col-lg-4 col-sm-12">
                <fuel-city-select v-model="fuelCity.id"
                                  :caller_id="caller_id"
                                  :country_id="country_id"
                                  :emit_object="true"
                                  :emit_map_center="true"
                                  :state_province_id="state_province_id"
                                  :disabled="country_id == -1"></fuel-city-select>
            </div>

        </div>

        <!--FUEL MAP-->
        <gmap-map v-if="show_map"
                  style="width: 100%; height: 300px;"
                  :center="mapCenter"
                  :zoom="zoom"
                  class="mb-4">

            <!--Fuel icons-->
            <gmap-marker v-for="(marker, index, key) in fuelMarkers"
                         :key="key"
                         :position="marker.position"
                         :icon="marker.icon"
                         :clickable="false"
                         :draggable="false"></gmap-marker>
            <!--fuel labels-->
            <gmap-marker v-for="(marker, index, key) in labelMarkers"
                         :key="key"
                         :position="marker.position"
                         :icon="marker.icon"
                         :label="marker.label"
                         :clickable="false"
                         :draggable="false"></gmap-marker>
        </gmap-map>


        <!--FUEL PRICES-->
        <section>
            <table v-if="true" class="table table-striped table-hover fusion-table ">
                <thead >
                    <tr class="primary-table-header">
                        <th colspan="3" >{{ table_title }}</th>
                    </tr>
                    <tr class="secondary-table-header">
                        <th>Date</th>
                        <th>Number of Data Points</th>
                        <th class="text-right">Average Price {{ price_units }}</th>
                    </tr>
                </thead>
                <tbody v-if="fuelData && fuelData.length > 0 && !loading_fuel_data">
                    <tr v-for="(row, index) in fuelData" :class="{'table-danger': selected_row == index}" @click="selectRow(index)">
                        <td>{{ formattedDate(row) }}</td>
                        <td>{{ row | count_filter }}</td>
                        <td class="text-right" v-if="country_id == 1">{{ row | us_price_filter }}</td>
                        <td class="text-right" v-else>{{ row | ca_price_filter }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section v-show="loading_fuel_data">
            <loading-partial/>
        </section>
    </div>
</template>

<script>
    import {GoogleMap} from "../partials/index"; // partials
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import Months from '../../models/Months';
    import {
        CountrySelect,
        StateSelect,
        ProvinceSelect,
        FuelCitySelect,
        LoadingPartial
    } from "../partials/index";

    export default {
        props: [],

        components: {LoadingPartial, FuelCitySelect, GoogleMap, StateSelect, ProvinceSelect, CountrySelect},

        data() {
            return {
                caller_id: 'fuelPrices',
                country_id: -1,
                state_province_id: -1,
                fuelCity: {id: -1},

                months: Months,

                /** FUEL DATA */
                fuelData: null,
                cityPrices: null,
                loading_fuel_data: false,

                /** TABLE */
                selected_row: 0,


                /** MAP */
                // initial map zoom
                zoom: 3,
                // initialized to center of north america
                mapCenter: {
                    lat: 37.0902,
                    lng: -95.7129
                },

                fuelMarkers: [],
                labelMarkers: [],

                icons: {
                    greenPump: {
                        name: 'Fuel City in Your Territory',
                        icon: '/img/green_pump_small.png'
                    },
                    greyPump: {
                        name: 'CarData Fuel City',
                        icon: '/img/grey_pump_small.png'
                    },
                },
            };
        },

        created() {

        },

        mounted() {
            /**
             * When the fuel city is updated, we check the emitted object to see
             * if it is necessary to set the state province. if someone clicked the
             * fuel city before updating the state province this is the case
             */
            EventBus.$on(this.caller_id + '-fuel-city-object', this.updateFuelCity);
            EventBus.$on(this.caller_id + '-map-center-object', this.updateMapCenter);
        },

        beforeDestroy() {
            EventBus.$off(this.caller_id + '-fuel-city-object', this.updateFuelCity);
            EventBus.$off(this.caller_id + '-map-center-object', this.updateMapCenter);
        },

        computed: {
            ...mapGetters([

            ]),

            table_title: function() {
                if (!this.fuelData && !this.loading_fuel_data) {
                    return 'Select a territory above';
                } else if (this.loading_fuel_data) {
                    return 'Calculating...'
                } else if (this.fuelData.length == 0) {
                    return 'No records found';
                }
                return this.fuelData[0].name;
            },

            table_sub_title: function() {
                return '';
            },

            disable_generate_report: function() {
                return false;
            },

            show_map: function() {
                return true;
            },

            price_units: function() {
                return this.country_id == 1 ? '($/gal)' : '(¢/litre)';
            },

            formatted_date: function(row) {
            }
        },

        filters: {
            count_filter(row) {
                return row.count;
            },

            us_price_filter(row) {
                return Common.roundNumber(row.price, 2);
            },

            ca_price_filter(row) {
                return Common.roundNumber(row.price, 1);
            },
        },

        watch: {
            /**
             * When country or state/province changes reset the fuel city id
             * @param val
             */
            country_id: function(val) {
                if (val && val != -1) {
                    this.state_province_id = -1;
                    this.fuelCity = {id: -1};
                    this.fuelData = null;
                    this.zoom = 3;
                    if (val == 1) {
                        this.mapCenter = {
                            lat: 37.0902,
                            lng: -95.7129
                        };
                    } else {
                        this.mapCenter = {
                            lat: 56.1304,
                            lng: -106.3468
                        };
                    }
                    this.fuelMarkers = [];
                    this.labelMarkers = [];
                }
            },

            state_province_id: function(val) {
                if (val && val != -1) {
                    this.getHistoricalFuelData();
                    if (this.fuelCity && this.fuelCity.id != -1 && this.fuelCity.state_province_id != val) {
                        this.fuelCity = {id: -1};
                    }
                }
            },

        },

        methods: {

            updateFuelCity(fuelCity) {
                this.fuelCity = _.cloneDeep(fuelCity);
                this.updateStateProvince(fuelCity);
                this.getHistoricalFuelData();
                this.mapCenter = {lat: fuelCity.latitude, lng: fuelCity.longitude};
                this.zoom = 11;
            },

            updateStateProvince(fuelCity) {
                if (fuelCity.state_province_id != this.state_province_id) {
                    this.state_province_id = fuelCity.state_province_id;
                    this.zoom = 7;
                }
            },

            updateMapCenter(mapCenter) {
                this.mapCenter = mapCenter;
                this.zoom = 7;
            },

            getHistoricalFuelData() {
                // dont grab it if we got it
                this.fuelData = null;
                this.loading_fuel_data = true;
                if ( this.fuelCity && this.fuelCity.state_province_id != this.state_province_id ) {
                    this.fuelCity.id = -1;
                }
                let url = '/getHistoricalFuelData/' + this.country_id + '/' + this.state_province_id + (this.fuelCity.id > 0 ? '/' + this.fuelCity.id : '');
                axios.get(url).then(
                    response => {
                        this.fuelData = response.data.fuelData;
                        this.selected_row = 0;
                        this.cityPrices = response.data.cityPrices;
                        this.generateMarkers();
                        this.loading_fuel_data = false;
                    }
                );
            },

            generateMarkers(cityPrices) {
                this.fuelMarkers = [];
                this.labelMarkers = [];
                for (const index in this.cityPrices) {
                    let city = this.cityPrices[index];

                    if ( city.year != this.fuelData[this.selected_row].year || city.month != this.fuelData[this.selected_row].month) {
                        continue;
                    }

                    let fuelIcon = {
                        url: '',
                    };

                    let labelIcon = {
                        url: '/img/label_test.png',
                        anchor: new google.maps.Point(-8,48),
                    };

                    let label = {
                        color: 'black',
                        text: '$' + Common.roundNumber(city.price, 3)
                    };

                    if (this.fuelCity && this.fuelCity.id == city.id) {
                        fuelIcon.url = this.icons.greenPump.icon;
                    } else {
                        fuelIcon.url = this.icons.greyPump.icon;
                    }

                    let fuelMarker = new google.maps.Marker({
                        position: {lat: parseFloat(city.latitude), lng: parseFloat(city.longitude)},
                        map: null,
                        icon: fuelIcon,
                    });

                    let labelMarker = new google.maps.Marker({
                        position: {lat: parseFloat(city.latitude), lng: parseFloat(city.longitude)},
                        map: null,
                        label: label,
                        icon: labelIcon,
                    });

                    this.fuelMarkers.push(fuelMarker);
                    this.labelMarkers.push(labelMarker);
                }
            },

            selectRow(index) {
                this.selected_row = index;
                this.generateMarkers()
            },

            formattedDate(row) {
                return this.months.find( (m) => { return m.id == row.month }).name + ' ' + row.year;
            }
        }
    };
</script>

<style lang="css">

</style>