/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="iRSStandardMileageRates" class="box" style="min-height: 800px;">
        <h2>IRS Standard Mileage Rates</h2>
        <div class="row">
            <div class="col-2 offset-10">
                <small>Data found: {{displayReportData.length}}</small>
            </div>
        </div>
        <div class="table-responsive table-responsive-bordered mt-3 mb-5">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr class="primary-table-header">
                    <th>Effective Date</th>
                    <th>Until Date</th>
                    <th>Rate Value</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="data in displayReportData">
                    <td>{{ data.start_month}} {{ data.start_year}}</td>
                    <td v-if="data.end_year != 0">{{ data.end_month}} {{ data.end_year}}</td>
                    <td v-if="data.end_year == 0">Now</td>
                    <td>{{ data.rate }} &#162;</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>


<script>
    import {mapGetters} from 'vuex';


    export default {

        props: [],

        components: {},

        data() {
            return {
                displayReportData: []
            };
        },

        created() {
        },

        mounted() {
            this.getReportData();
        },

        destroyed() {

        },
        computed: {
            ...mapGetters([
                'getMenu',
            ])
        },
        watch: {},

        filters: {},

        methods: {
            setView(view) {
                Common.setView(view, null)
            },
            getReportData() {
                let dataMap = new Map();
                let previousRate = null;
                axios.get('/getStandardMileageRate/1').then(response => {
                    let data = response.data;
                    for (let index in data) {
                        // Check if this year exists so that we do not make another key containing the same year
                        if (dataMap.has(data[index].year)) {
                            // Check if the current year stored in out map contains the same rate as our current data piece
                            if (!dataMap.get(data[index].year).has(data[index].rate) && data[index].rate != previousRate) {
                                dataMap.get(data[index].year).set(data[index].rate, data[index].month);
                                previousRate = data[index].rate;
                                this.displayReportData.push({
                                    start_year: data[index].year,
                                    start_month: this.getMonth(data[index].month),
                                    end_month: "Current",
                                    end_year: 0,
                                    rate: data[index].rate
                                });
                                // Verify that our data is not empty
                                if (this.displayReportData.length > 1) {
                                    this.displayReportData[this.displayReportData.length - 2].end_month = this.getLastMonth(data[index].month);
                                    this.displayReportData[this.displayReportData.length - 2].end_year = data[index].year;
                                }
                            }
                            // This check the rate in that the year happens to be different while the rate is still the same.
                        } else if (previousRate != data[index].rate) {
                            let tempMap = new Map();
                            tempMap.set(data[index].rate, data[index].month); // inset this into
                            dataMap.set(data[index].year, dataMap);
                            previousRate = data[index].rate;
                            this.displayReportData.push({
                                start_year: data[index].year,
                                start_month: this.getMonth(data[index].month),
                                end_month: "Current",
                                end_year: 0,
                                rate: data[index].rate
                            });
                            // Verify that our data is not empty before we update the end year and month with the previous data set we pushed
                            if (this.displayReportData.length > 1) {
                                this.displayReportData[this.displayReportData.length - 2].end_month = this.getLastMonth(data[index].month);
                                this.displayReportData[this.displayReportData.length - 2].end_year = data[index].year;
                            }
                        }
                    }
                    // Reverse the data so that it will dispaly properly
                    this.displayReportData.reverse();
                });
            },
            getMonth(month_number) {
                switch (month_number) {
                    case 1:
                        return "January";
                        break;
                    case 2:
                        return "February";
                        break;
                    case 3:
                        return "March";
                        break;
                    case 4:
                        return "April";
                        break;
                    case 5:
                        return "May";
                        break;
                    case 6:
                        return "June";
                        break;
                    case 7:
                        return "July";
                        break;
                    case 8:
                        return "August";
                        break;
                    case 9:
                        return "September";
                        break;
                    case 10:
                        return "October";
                        break;
                    case 11:
                        return "November";
                        break;
                    case 12:
                        return "December";
                        break;
                    default:
                        console.log(" Wrong Value Current!",month_number )
                        return 'blank';
                }
            },
            getLastMonth(month_number) {
                switch (month_number) {
                    case 2:
                        return "January";
                        break;
                    case 3:
                        return "February";
                        break;
                    case 4:
                        return "March";
                        break;
                    case 5:
                        return "April";
                        break;
                    case 6:
                        return "May";
                        break;
                    case 7:
                        return "June";
                        break;
                    case 8:
                        return "July";
                        break;
                    case 9:
                        return "August";
                        break;
                    case 10:
                        return "September";
                        break;
                    case 11:
                        return "October";
                        break;
                    case 12:
                        return "November";
                        break;
                    case 1:
                        return "December";
                        break;
                    default:
                        console.log(" Wrong Value Last!", month_number )
                        return 'blank';
                        break;

                }
            }
        }
    }
</script>


<style lang="css">


</style>