<template lang="html">
    <div id="quarterlyTaxAdjustment">
        <h3>Quarterly Tax Adjustment</h3>
        <br>

        <div v-if="getSessionCompanyId > 0 && adjustments" class="row">
            <div class="col" style="padding-top: 40px;">
                <input type="checkbox" id="checkbox" v-model="checked">&nbsp;&nbsp;
                <label for="checkbox">Ignore 5000 Mile Compliance</label>
            </div>
        </div>

        <div v-if="message" class="alert alert-warning">{{message}}</div>

        <div v-if="adjustments">Found {{found_rows}} records</div>

        <div v-if="getSessionCompanyId > 0 && adjustments" class="table-responsive table-responsive-bordered mb-4">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr>
                    <th valign="centre" colspan="3">Driver</th>
                    <th></th>
                    <th valign="left" :colspan="tax_calculation_colspan">Tax Calculation</th>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Empl. #</th>
                    <th>Division</th>
                    <th>Mileage</th>
                    <th>Reimbursement</th>
                    <th>Non-Taxable Limit</th>
                    <th>Taxable Income</th>
                    <th v-if="compliance_5000_found">5000 Miles Taxable</th>
                    <th v-if="compliance_5000_found">Total Taxable Income</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in adjustments" >
                    <td>{{row.last_name}}</td>
                    <td>{{row.first_name}}</td>
                    <td>{{row.employee_number}}</td>
                    <td>{{row.division}}</td>
                    <td>{{row.mileage}}</td>
                    <td>{{row.reimbursement}}</td>
                    <td>{{row.limit}}</td>
                    <td>{{row.taxable}}</td>
                    <td v-if="compliance_5000_found">{{row.taxable5000}}</td>
                    <td v-if="compliance_5000_found && row.total_taxable > 0">{{row.total_taxable}}</td>
                </tr>
                <tr v-if="totals">
                    <th>TOTALS</th>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td><strong>{{totals.mileage}}</strong></td>
                    <td><strong>{{totals.reimbursement}}</strong></td>
                    <td><strong>{{totals.limit}}</strong></td>
                    <td><strong>{{totals.taxable}}</strong></td>
                    <td v-if="compliance_5000_found"><strong>{{totals.taxable5000}}</strong></td>
                    <td v-if="compliance_5000_found"><strong>{{totals.total_taxable}}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<img :src="'/images/loading_icon.gif'" alt="">-->
        <loading-partial v-show="loading"/>
        <!--<div v-if="loading" class="loading">&nbsp;</div>-->

    </div>
</template>

<script>

    import {YearSelect, QuarterSelect, LoadingPartial} from "../partials/index";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {YearSelect, QuarterSelect, LoadingPartial},

        data() {
            return {
                caller_id: 'QuarterlyTaxAdjustment',
                start_year: null,
                end_year: null,
                adjustments: null,
                totals: null,
                found_rows: 0,
                compliance_5000_found: false,
                message: '',
                tax_calculation_colspan:4,
                checked: false,
                loading: false
            }
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getCompanyPlan',
                'getCountryId',
                'getSessionYear',
                'getDriverMileageEntryMethod',
                'getSessionQuarter'
            ])
        },

        created() {
        },

        mounted() {
            // set here to update company list in CompanySelect
            Common.storeCommit('updateCompanyUsesQuarterlyTaxAdjustment',true);
            //EventBus.$emit('reset-companies'); davery

            EventBus.$on('year-changed', this.year_changed);
            EventBus.$on('company-changed', this.company_changed);
            EventBus.$on('division-changed', this.division_changed);

            EventBus.$on('quarter-changed', () => {
                console.log('quarter changed ' + this.getSessionQuarter);
                this.resetAll();
                this.display_message();
                if( this.getSessionQuarter !== -1) {
                    this.get_report_data();
                } else {
                    this.adjustments = null;
                    this.totals = null;
                }
            });
            this.display_message();
            this.get_report_data();

        },

        beforeDestroy() {
            Common.storeCommit('updateCompanyUsesQuarterlyTaxAdjustment',false);
            //EventBus.$emit('reset-companies'); davery
        },

        watch: {
            checked: function () {
                this.get_report_data();
            }
        },


        methods: {

            display_message(){
                let msg = '';
                if( this.getSessionCompanyId == -1 ) {
                    msg = 'Please select a company above.';
                } else {
                    if (this.getSessionYear == -1) {
                        msg += 'Please select a year.'
                    }
                    if (this.getSessionQuarter == -1) {
                        msg += 'Please select a quarter.'
                    }
                }
                this.message = msg;
            },

            year_changed(){
             // console.log('Year Changed ....' + this.getSessionYear);
                this.display_message();
                this.get_report_data();
            },

            company_changed() {
                console.log('Company Changed ....' + this.getSessionCompanyId);
                this.display_message();
                this.get_report_data();
            },

            division_changed(){
             // console.log('Division Changed ....' + this.getDSessionDivisionId);
                this.display_message();
                this.get_report_data();
            },

            get_report_data() {
                if( this.getSessionCompanyId > 0 && this.getSessionQuarter &&  this.getSessionQuarter != -1) {
                    axios.post('/getCompanyReimbursementYearSpan', {'company_id': this.getSessionCompanyId}).then(response => {
                        this.start_year = response.data.startYear;
                        this.end_year = response.data.endYear;
                     // console.log('FOUND REIMBURSEMENT YEARS FOR ' + this.getSessionCompanyId + " : " + this.start_year + ' - ' + this.end_year);

                        this.getTaxAdjustmentReport();
                    });
                }
            },

            getTaxAdjustmentReport() {
                this.resetAll();
                this.loading = true;

                let data = {
                    'company_id': this.getSessionCompanyId,
                    'division_id': this.getSessionDivisionId,
                    'year': this.getSessionYear,
                    'selected_quarter': this.getSessionQuarter,
                    'mileage_entry_type': this.getDriverMileageEntryMethod,
                    'ignore_5000_miles': this.checked
                };
                console.log("Calling getTaxAdjustmentReport for company=" + this.getSessionCompanyId +
                    ', year=' + this.getSessionYear + ' division=' + this.getSessionDivisionId + ' and quarter=' + this.getSessionQuarter);
                axios.post('/getCompanyOneQuarterTax', data).then(response => {
                    console.log(response.data);
                    this.adjustments = response.data.results;
                    this.totals = response.data.totals;
                    this.message = response.data.message;

                    this.found_rows = this.adjustments != null ? this.adjustments.length : null;
                    this.compliance_5000_found = response.data.compliance_5000_found;
                    if( this.compliance_5000_found) {
                        this.tax_calculation_colspan = 6;
                    } else {
                        this.tax_calculation_colspan = 4;
                    }
                    this.loading = false;
                });
            },

            resetAll() {
                this.adjustments = null;
                this.totals = 0;
                this.found_rows = 0;
                this.compliance_5000_found = false;
            }
        }
    }

</script>

<style lang="css">

</style>

