/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reportSession" class="row">
        <div class="col" v-for="select in selectList">
            <div class="form-group">
                <label> {{ select.parameter | prettyParameterFilter | titleCaseFilter }}</label>
                <select class="form-control form-control-sm" v-model="parameters[select.parameter]" @change="getData()">
                    <option value="-1" disabled>Select a {{ select.parameter | prettyParameterFilter }}</option>
                    <option v-for="option in select.options" :value="option.value">
                        {{ option.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import months from '../../models/Months';

    // /**
    //  * Tokens for cancelling the ajax request
    //  */
    // const CancelToken = axios.CancelToken;
    // const source = CancelToken.source();

    export default {
        props: [],

        components: {},

        data() {
            return {
                selectList: null,
                selectedValues: null,

                /**
                 * These parameters are used to hold the selection values
                 * before we force the state to update.
                 *
                 * I did not want to put data data to the store!
                 */
                parameters: {
                    company_id: null,
                    division_id: null,
                    year: null,
                    month: null
                },
                months: months,

                /**
                 * For cancel tokens
                 */
                getting_data: false,
                activeCancelToken: null,
                tokenSource: null

            };
        },

        beforeCreate() {

        },

        created() {
            this.getParametersFromStore();
            this.populateDefaultSelects();
            this.getData();
        },

        mounted() {

        },

        filters: {
            prettyParameterFilter(val) {
                switch(val) {
                    case 'company_id':
                        return 'company';
                    case 'division_id':
                        return 'division';
                    case 'year':
                        return 'year';
                    case 'month':
                        return 'month';
                }
            },

            titleCaseFilter(val) {
                return val.toLowerCase().replace( /\b./g, function(a){ return a.toUpperCase(); } )
            }

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionYear',
                'getSessionMonth',
                'getView',
                'getSessionCompanyName',
                'getSessionDivisionName',
            ])
        },

        watch: {
            getView: {
                handler: function() {
                    this.getData();
                },
                immediate: true,
            },

            getSessionCompanyId: function(val) {
                Common.getCompanyReportLabels(val).then( x => {
                    Common.storeCommit('updateCompanyReportLabels', x);
                })
            }
        },

        methods: {
            /**
             * This function is called in order to populate all of the selects
             * required in the report session.
             *
             * It fires two events:
             *  - loading-report-parameters (with a boolean payload)
             *         if (true)
             *              this tells the child it is getting new report parameters from the server
             *              and validating new selections
             *         else (false)
             *              tells the child we have completed loading parameters
             *  - report-parameters-set
             *         this tells the child that new parameters are set, and to call the server for a new report
             *
             */
            getData() {
                if (this.tokenSource) {
                    this.tokenSource.cancel('request-cancelled');
                }

                this.activeCancelToken = axios.CancelToken;
                this.tokenSource = this.activeCancelToken.source();

                EventBus.$emit('loading-report-parameters', true);

                axios({
                    method: 'post',
                    url: '/getReportSessionData',
                    data: this.parameters,
                    cancelToken: this.tokenSource.token
                }).then( response => {
                    this.selectList = response.data.selectList;
                    for (let i in this.selectList) {
                        let func = this.getUpdateSessionFunctionName(this.selectList[i].parameter);
                        Common.simpleCommit(func, this.selectList[i].value);
                        this.parameters[this.selectList[i].parameter] = this.selectList[i].value;
                    }
                    for (let i in response.data.otherSessionValues) {
                        let func = this.getUpdateSessionFunctionName(i);
                        Common.simpleCommit(func, response.data.otherSessionValues[i]);
                    }
                    EventBus.$emit('loading-report-parameters', false);
                    EventBus.$emit('report-parameters-set', this.parameters);
                }).catch( errors => {
                    if (!axios.isCancel(errors)) {
                        /**
                         * We did not cancel the request, and something bad happened
                         * Don't let it hang loading
                         */
                        EventBus.$emit('loading-report-parameters', false);
                    } else {
                        console.log(errors);
                    }
                });


            },

            /**
             * This updates the local
             */
            getParametersFromStore() {
                this.parameters.view = this.getView;
                this.parameters.company_id = this.getSessionCompanyId;
                this.parameters.division_id = this.getSessionDivisionId;
                this.parameters.year = this.getSessionYear;
                this.parameters.month = this.getSessionMonth;
            },

            /**
             * When the view is changed we want the data to show up immediately
             * Thus the selects are initially populated with single values (what was in the store)
             * until a full list is gathered from the server via getData()
             */
            populateDefaultSelects() {
                switch(this.getView) {
                    case 'fixedVariable':
                        this.selectList = {
                            company_id: {
                                parameter: 'company_id',
                                value: this.getSessionCompanyId,
                                options: [
                                    {
                                    name: this.getSessionCompanyName,
                                    value: this.getSessionCompanyId,
                                    }
                                ],
                            },
                            division_id: {
                                parameter: 'division_id',
                                value: this.getSessionDivisionId,
                                options: [
                                    {
                                        name: this.getSessionDivisionName,
                                        value: this.getSessionDivisionId
                                    }
                                ]
                            },
                            year: {
                                parameter: 'year',
                                value: this.getSessionYear,
                                options: [
                                    {
                                        name: this.getSessionYear,
                                        value: this.getSessionYear
                                    }
                                ],
                            },
                            month: {
                                parameter: 'month',
                                value: this.getSessionMonth,
                                options: [
                                    {
                                        name: this.months.find( m => { return m.id == this.getSessionMonth}).name,
                                        value: this.getSessionMonth
                                    }
                                ]
                            }
                    };
                    break;
                }
            },


            /**
             * The following function takes a parameter ex. company_id or year
             * and returns the following:
             *  'updateSessionCompanyId', or
             *  'updateSessionYear',
             *  etc...
             *
             *  It requires that the parameter passed exclude any session prefix.
             *
             *
             * @param parameter
             * @returns {string}
             */
            getUpdateSessionFunctionName(parameter) {
                let func = parameter.split('_');
                return 'updateSession' + func.map(x => Common.capitalizeFirstLetter(x)).reduce((accumulator, current_value) => accumulator + current_value);
            }
        }
    };
</script>

<style lang="css">

</style>