/**
Requires:
    (String) caller_id -  the name of the parent page

    The following are used to show the action buttons:
    (boolean) show_excel_button - determines whether or not to show the generate excel button
    (boolean) show_pdf_button - determines whether or not to show the generate pdf button
    (boolean) show_print_button - determines whether or not to show the print this page button
    (boolean) show_save_button - determines whether or not to show the save button

    The following are used to enable/disable the action buttons, these should be used to disable them
    when an action is occurring (ex. if a user clicks save, disable save until the server returns a response)
    (boolean) excel_disabled - determines whether or not to disable the excel button
    (boolean) pdf_disabled - determines whether or not to disable the pdf button
    (boolean) print_disabled - determines whether or not to disable the print button
    (boolean) save_disabled - determines whether or not to disable the save button

Optional:

Getters:

Setters:

Listeners:
    caller_id + '-action-complete' - listens to the parent for confirmation an action was completed
        this event is expected to have a boolean payload
            - true: action completed successfully
            - false: action failed

Emitters:

    EventBus.$emit(this.caller_id + '-action', action);
        - called whenever an action button is clicked to alert the parent to perform said action
        - (String) action is the payload and is one of
            - 'save'
            - 'generate-pdf'
            - 'generate-excel'
            - 'print'


Notes:

*/
<template lang="html">
    <div id="reportActions">

        <button v-if="show_save_button"
                class="btn btn-success float-right mb-2 mt-3"
                :disabled="save_disabled || action_in_progress"
                @click="performAction('save')">
            Save
        </button>

        <button v-if="show_excel_button"
                class="btn btn-primary float-right mb-2 mt-3 mr-2"
                :disabled="excel_disabled || action_in_progress"
                @click="performAction('generate-excel')">
            Generate Excel
        </button>

        <button v-if="show_pdf_button"
                class="btn btn-primary float-right mb-2 mt-3 mr-2"
                :disabled="pdf_disabled || action_in_progress"
                @click="performAction('generate-pdf')">
            Generate PDF
        </button>

        <button v-if="show_print_button"
                class="btn btn-primary float-right mb-2 mt-3 mr-2"
                :disabled="print_disabled || action_in_progress"
                onClick="window.print()">
                <!--@click="performAction('print')">-->
            Print
        </button>

        <transition name="fade10s">
            <button :class="action_result_button_class + ' float-right mb-2 mt-3 mr-3'" v-if="action_result != null">
                {{ action_result_message }}
            </button>
        </transition>



        <div v-show="action_in_progress">
            <loading-partial/>
        </div>

    </div>
</template>

<script>
    import {LoadingPartial} from '../partials';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'caller_id',
            'show_excel_button', 'show_pdf_button', 'show_save_button', 'show_print_button',
            'excel_disabled',    'pdf_disabled',    'save_disabled',    'print_disabled',
        ],

        components: {LoadingPartial},

        data() {
            return {
                /**
                 * Boolean used to display an action result message.
                 * Is toggled true and false within the method displayActionResult
                 *  true means success
                 *  false means failure
                 *  null is default setting
                 */
                action_result: null,
                action_in_progress: null,

            };
        },

        created() {

        },

        mounted() {
            /**
             * Register all event listeners
             */
            EventBus.$on(this.caller_id + '-action-complete', this.displayActionResult)
        },

        beforeDestroy() {
            EventBus.$off(this.caller_id + '-action-complete', this.displayActionResult)
        },

        computed: {
            action_result_button_class: function() {
                return 'btn btn-' + (this.action_result ? 'success' : 'danger');
            },

            action_result_message: function() {
                return this.action_result ? 'Success' : 'Failed'
            }
        },

        watch: {

        },

        methods: {
            /**
             * This method is called whenever the parent has completed an action
             * It is triggered by:
             *      EventBus.$on(this.caller_id + '-action-complete', this.displayActionResult)
             *
             * @param bool
             */
            displayActionResult(bool) {
                this.action_in_progress = false;
                this.action_result = bool;
                let self = this;
                setTimeout(function() {
                    self.action_result = null;
                }, 1200);
            },

            /**
             * This method emits an event to the parent
             * @param action
             */
            performAction(action) {
                this.action_in_progress = true;
                EventBus.$emit(this.caller_id + '-action', action);
            }

        }
    };
</script>

<style lang="css">

</style>