/* Bootstrap Overrides */
.dropdown-menu li .row {
    display: -webkit-box;
}
/* Dropdown Link Menu */
.dropdown .menu-label {
    padding-left: 15px;
}

.dropdown-item {
    /*border-bottom: 1px solid #ccc;*/
    font-size: 13px;
    padding: 8px 15px;
}

.dropdown-item:hover {
    background: rgba(66,66,66,0);
    text-decoration: underline;

}

.dropdown-menu {
    padding: 0;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.4);


    /*li {
        .dropdown-item {
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .dropdown-item {
        &:last-child {
            border-bottom: 0;
        }
    }*/
}



// Button Styles
.word-wrap {
    white-space: normal; // so text will wrap
}

.btn-primary {
    background-color: rgba(5,36,96,.9) !important;
    border-color: rgba(5,36,96,.9) !important;
    color: #fff !important;

    &:hover, &:focus, &:active {
        background-color: rgba(5,36,96,1) !important;
        border-color: rgba(5,36,96,.9) !important;
    }

    &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba(5,36,96,0.5) !important;
    }
}

.btn-danger {
    background-color: rgba(145,8,17,.9) !important;
    border-color: rgba(145,8,17,.9) !important;

    &:hover, &:focus, &:active {
        background-color: rgba(145,8,17,1) !important;
        border-color: rgba(145,8,17,.9) !important;
    }

    &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba(145,8,17,0.5) !important;
    }
}

.btn-outline-danger {
    color: #910811;
    background-color: transparent;
    background-image: none;
    border-color: #910811 !important;

    &:hover, &:active {
        background-color: rgba(145,8,17,1) !important;
        color: #fff;
    }

    &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba(145,8,17,0.5) !important;
    }
}

a.btn-secondary {
    &:not([href]):not([tabindex]) {
        color: #fff;
    }
}


// Error Styles
.has-error input, .has-error textarea, .has-error select, input.has-error, textarea.has-error, select.has-error {
    border-color: rgba(145,8,17,1) !important;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(145,8,17,0.5) !important;
    }

}

.help-block strong, span.help-block, .help-block label, .has-error strong, span.has-error, .has-error label{
    color: rgba(145,8,17,1) !important;
}

// Disabled Style
:disabled, label:hover .disabled {
    cursor: not-allowed !important;
}

// Alert Box Overrides
.alert-warning {
    background-color: yellow;
    border: 0;
    color: #000;
}

// Pagination
.pagination {
    justify-content: center;
    margin: 0;

    a {
        height: 39px;

        &:hover {
            background-color: #ddd;
        }
    }

    a.active {
        background-color: rgba(5,36,96,.9);
        color: #fff !important;
    }
}

/* Accordion */
.accordion {
    background-color: rgba(0, 0, 0, 0.03);
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none !important;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\f067';
    font-family: 'font awesome 5 pro';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-accordion:after {
    content: "\f068";
}

.active-accordion, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.active-accordion .accordion-trip-mileage {
    /*opacity: 0;*/
    display: none;
}

.panel {
    background-color: white;
    border-bottom: 1px solid #ced4da;
    //max-height: 500px; // using this prevents panels from working
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-last {
    border-bottom: 0;
}

// Responsive Styles
@media all and (max-width:480px) {
    .screen-sm-d-block {
        display: block;
        width: 100%;
    }
}

@media all and (max-width:767px) {
    .screen-sm-and-below-d-none {
        display: none !important;
    }

    .screen-sm-and-below-d-block {
        display: block;
        width: 100%;
    }
}

/**
MAKE EVERYTHING SMALLER - 2018-09-07
 */
.form-control {
    @extend .form-control-sm
}
