.box {
    box-shadow: none;
    border: 1px solid #ced4da;
    overflow: hidden;

    &.unlocked {
        border-color: rgba(5,36,96,.9) !important;
        box-shadow: 0 0 0 0.2rem rgba(5,36,96,0.5) !important;
    }

    &.has-error {
        border-color: rgba(145,8,17,0.9) !important;
        box-shadow: 0 0 0 0.2rem rgba(145,8,17,0.5) !important;
    }
}