//Over writing the table head used in bulma. Delete if this is causing you any issues with your tableheader
.col-xs-4 .link-column a:hover {
  font-weight: bold;
}

.col-xs-4 .link-column {
  border: 1px solid #aaa;
  border-radius: 25px;
  display: inline-block;
}

.tab-main-menu > li > a {
  border-top: 3px solid #fff;
  padding: 10.5px 11px 2.5px;
  margin-top: 11px;
}

.menu-view-category-header {
  min-width: 250px;
}

.menu-view-category-header-text {
  padding: 10px;
  border-radius: 25px 25px 0 0;
  color: white;
  text-align: center;
}

.menu-tab-style {
  //margin-left: 5px;
  //margin-right: 5px;
  border-radius: 15px 15px 0px 0px;
}

//Dropdown Menu Styling
.dropdown-row-width-common {
  min-width: 585px;
}

.dropdown-position-common {
  right: 19px;
  z-index: 1000;
  position: absolute;
}

.dropdown-position-styling-common {
  padding: 30px;
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

.menu-label-font-size {
  font-size: 1em;
}

#mainNav {
  padding: .2rem;
}

#mainNav #stopImpersonatingButton {
  background-color: $driver-dark;
}

.submenuView {
  & > .nav {
    z-index: 1;
  }
}

#mainnavDropdown {
  z-index: 2;
}

/*.submenuView {
  padding: 1rem;
}*/

.submenuView > ul a.active {
  background-color: #3097D1;
  color: #ffffff;
}

#driverPortal, #managerPortal, #administratorPortal, #superPortal {
  min-height: 30rem;
}

.rounded-action-btn-30px {
  border-radius: 50%;
  height: 30px;
  line-height: 28px;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  width: 30px;
}

/* davery */

header.site-nav {
  #role-selector {
    background: rgba(5, 36, 96, .5);
    border-radius: 50%;
    height: 30px;
    margin: -15px auto 0;
    width: 30px;
    position: relative;
    text-align: center;
  }

  #role-selector:after {
    background: transparent;
    border: 0px solid rgba(5, 36, 96, .0);
    border-radius: 50%;
    display: block;
    height: 40px;
    position: absolute;
    top: -5px;
    width: 40px;
    content: "";
    left: -5px;
    transition: border .6s ease;
  }

  #role-selector:hover:after {
    border: 5px solid rgba(5, 36, 96, .3);
  }

  #current-role {
    position: absolute;
    top: 30px;
    left: -25%;
  }

  #role-selector:hover #current-role {
    opacity: 0;
  }

  .role {
    position: absolute;
    top: 15px;
    left: -50%;
    opacity: 0;
    transition: all .4s ease;
    width: 0;
  }

  .role a {
    color: #052460;
    background: transparent;
    transition: background .4s ease;
    padding: 1px 3px;
  }

  #admin {
    top: -30px;
    left: -100px;
    z-index: 1;
    width: 230px;
  }

  #role-selector:hover {
    background: #052460;
    cursor: pointer;
  }

  #role-selector:hover .role {
    /*background: #f00;*/
    /*text-decoration: !important;*/
    opacity: 1;
  }

  #role-selector:hover .role a {
    text-decoration: none !important;
  }

  .role a:hover {
    color: rgba(5, 36, 96, 1);
    background: #ddd;
  }

  #role-selector:hover #manager {
    left: -100px;
    width: 100px;
  }

  #role-selector:hover #admin {
    top: 33px;
  }

  #role-selector:hover #driver {
    left: 30px;
    width: 100px;
  }
}

// To make Google Autocomplete dropdown visible
.pac-container {
  z-index: 1051 !important;
}

// Pending Tasks
.pending-task {
  font-size: 14px;
}

/** ADDING THIS STUFF HERE FOR NOW  --------------------------------------------------------------------------------- */

span.inactive-select-check {
  font-size: smaller;
  margin-top: 2px;

  span.inactive-check-label {
    display: inline-block;
    position: relative;
    top: -2px;
  }
}

.is-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Flash Messages */
#flashMessage {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 300;
  transform: translate(-50%, 0);
}

.column .link-column {
  border: 1px solid #aaa;
  border-radius: 25px;
  //background-color: #6495ed;s
  padding: 20px;
  display: inline-block;
  //color: black;
  //font-weight:bold;
}

.column .link-column a:hover {
  font-weight: bold;
}

/** END ADDING STUFF ------------------------------------------------------------------------------------------------ */
