.driver-status-tile-light {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 1px 5px 3px 1px;
    vertical-align: middle;
}

.driver-status-tile-light.--green {
    background-color: #33ff33;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3), inset 0px 0px 10px 3px rgba(26,128,26,.9);
}

.driver-status-tile-light.--red {
    background-color: #f00;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3), inset 0px 0px 10px 3px rgba(128,0,0,.9);
}

.driver-status-tile-light.--yellow {
    background-color: #ffff00;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3), inset 0px 0px 10px 3px rgba(251,194,35,.9);
}

.driver-status-tile-light.--blue {
    background-color: rgba(5, 36, 96, .4);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3), inset 0px 0px 10px 3px rgba(5, 36, 96,.9);
}

.driver-status-tile-light.--hover {
    &:hover {
        cursor: pointer;
    }
}