// this is an override from bootstrap
/*select.form-control:not([size]):not([multiple]), input.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px) !important;
}*/

label, input[type=radio], input[type=checkbox] {
    &:hover {
        cursor: pointer;
    }
}

#superSessionForm {
  width: 100%;
}

label {
    font-weight: bold;
}

// Custom Checkboxes
.custom-checkbox {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        font-family: "Font Awesome 5 Pro";
        top: -50%;
        left: -50%;
        width: 24px;
        height: 24px;
        background: #ccc;
        text-align: center;
        line-height: 23px;
        color: #fff;
        border-radius: 2px;
        font-size: 16px;
        transition: background .3s ease;
    }

    &:hover {
        cursor: pointer;

        &:before {
            background: #bbb;
        }
    }
}


.custom-checkbox.--no {
    &:before {
        //display: none;
        content: '\f00d';
        background: red;
    }
}

.custom-checkbox.--yes {
    &:before {
        //display: none;
        content: '\f00c';
        background: green;
        line-height: 24px;
    }
}
