/* Header */

//.dropdown-item.active {
    //background: rgba(5,36,96,.2);
//    background: #e4e4e4;
//    color: #7a7a7a;
//}

#notifications-dropdown {
    .dropdown-toggle {

        &:after {
            display: none;
        }
    }
}

.role-switcher {
    .btn {
        color: #052460;
        background: #fff;
        margin: 0 2.5px;
        outline: none;
        &.active {
            color: #fff;
        }
    }
    .driver-role {
        &.active {
            //background: #052460 !important;
            background: #05600e !important;
        }
        &:hover {
            background: rgba(5,96,14,.5);
            color: #fff;
        }
    }
    .manager-role {
        &.active {
            background: #910811 !important;
        }
        &:hover {
            background: rgba(145,9,17,.5);
            color: #fff;
        }
    }
    .admin-role {
        &.active {
            //background: #424242 !important;
            background: rgba(5,36,96,.5) !important;
        }
        &:hover {
            //background: rgba(66,66,66,.5);
            background: rgba(5,36,96,.2) !important;
            color: #052460;
        }
    }
}

#notifications {
    .fa-bell {
        color: rgba(66,66,66,.5);
        vertical-align: unset;
        z-index: 999;
    }

    #notification-menu {
        width: 400px;
        top: 24px !important;
        left: -383px !important;
        transform: none !important;
        will-change: unset !important;
        //overflow-y: scroll;
        overflow: hidden;
        max-height: 90vh;
        min-height: 150px;
    }

    .dropdown-tab-content {
        overflow-y: scroll;
        max-height: 100vh;
    }

    .number {
        position: absolute;
        top: -5px;
        left: -16px;
        /*padding: 1px 1px 1px 1px;*/
        background-color: red;
        color: white;
        font-family: arial;
        font-weight: bold;
        font-size: 9px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px silver;
        z-index: 1;
        height: 22px;
        width: 22px;
    }

    .dropdown-toggle::after {
        display: none;
    }
    
    .nav-item {
        color: #ccc;
        &.active {
            color: #052460;
        }
    }
}

.user-menu {
    > a {
        color: #052460 !important;
    }
}


/* Main Menu */
.cd-main-menu {
    height: fit-content;
}

.cd-main-menu .dropdown-menu {
    border-radius: 0 0 .25rem .25rem;
}

.cd-main-menu li {
    padding: 0;
}

.cd-main-menu > li > a {
    border-top: 3px solid #fff;
    //color: #7a7a7a;
    padding: 11.5px 20px 13.5px;
}

.cd-main-menu li a:hover {
    //background: rgba(66,66,66,.1);
    background: #e4e4e4;
}

.cd-main-menu > li > a.active {
    /*background: rgba(5, 36, 96, .1);*/
    //background: #dadee7;
    //background: #e4e4e4;
}

.is-driver .cd-main-menu > li > a.active {
    background: rgba(5,96,14,.15);
    border-top: 3px solid #05600e;
    color: #05600e;
}
.is-manager .cd-main-menu > li > a.active {
    background: rgba(145,9,17,.15);
    border-top: 3px solid #910811;
    color: #910811;
}
.is-administrator .cd-main-menu > li > a.active {
    //background: rgba(66,66,66,.15);
    background: rgba(5,36,96,.15);
    //border-top: 3px solid #424242;
    border-top: 3px solid #052460;
    //color: #424242;
    color: #052460;
}
.is-super .cd-main-menu > li > a.active {
    background: rgba(5,36,96,.15);
    border-top: 3px solid #052460;
    color: #052460;
}

// Submenus
.is-driver .dropdown-item.active {
    background: rgba(5,96,14,.15);
    color: #05600e;
}

.is-manager .dropdown-item.active {
    background: rgba(145,9,17,.15);
    color: #910811;
}

.is-administrator .dropdown-item.active {
    background: rgba(66,66,66,.15);
    color: #424242;
}

.is-super .dropdown-item.active {
    background: rgba(5,36,96,.15);
    color: #052460;
}

.fusion-by-cardata {
    bottom: 3px;
    left: 15px;
    position: absolute;
    z-index: 11;

    h6 {
        margin-bottom: -8px;
    }

    span {
        font-size: 12px;
    }

    img {
        width: 80px;
    }
}
