/* Main Content */
body {
    background: #fff;
}

.is-driver {
    .site-header {
        border-bottom: 1px solid #05600e;
        border-top: 1px solid #DADEE7;
        border-left: 1px solid #DADEE7;
        border-right: 1px solid #DADEE7;

    }
    #main-content {
        //background: rgba(5,96,14,.15) url("/img/driver-green-bg.jpg") repeat-x;
        background: rgba(5,96,14,.15);
        padding: 0 !important;
    }
} // .is-driver

.is-manager {
    .site-header {
        border-bottom: 1px solid #910811;
        border-top: 1px solid #DADEE7;
        border-left: 1px solid #DADEE7;
        border-right: 1px solid #DADEE7;
    }
    #main-content {
        //background: #efdadc url("/img/manager-bg.jpg") repeat-x;
        background: #efdadc;
        padding: 0 !important;
    }
} // .is-manager

.is-administrator {
    .site-header {
        border-bottom: 1px solid #424242;
        border-top: 1px solid #DADEE7;
        border-left: 1px solid #DADEE7;
        border-right: 1px solid #DADEE7;
    }
    #main-content {
        //background: #dadee7 url("/img/driver-bg.jpg") repeat-x;
        background: #dadee7;
        padding: 0 !important;
    }
} // is-administrator

.is-super {
    .site-header {
        border-bottom: 1px solid #052460;
        border-top: 1px solid #DADEE7;
        border-left: 1px solid #DADEE7;
        border-right: 1px solid #DADEE7;
    }
    #main-content {
        //background: #dadee7 url("/img/super-bg.jpg") repeat-x;
        background: #dadee7;
        padding: 0 !important;
    }
} // is-super
