
.menu-view-category-header {
  width:100%;
}

.menu-view-category-header-text {
  padding: 10px;
  border-radius: 25px 25px 0 0;
  color: white;
  text-align: center;
}

.link-column-style {
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  border-radius: 25px;
  height: 100%;
}
.link-text:hover{
  font-weight: bold;
}

.menu-height{
  min-height: 800px;
}

.link-label-margin-top {
  margin-top:50px;
}

.link-label-column-width {
  width:100%;
}

.link-column-padding {
  padding:20px;
}


// Bootstrap Override

//.row-eq-height {
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//  flex-wrap: wrap;
//}


//.row-eq-height > [class*="col-"] {
//  padding-top: 15px;
//  padding-bottom: 15px;
//  background-color: #eee;
//  background-color: rgba(86, 61, 124, .15);
//  border: 1px solid #ddd;
//  border: 1px solid rgba(86, 61, 124, .2);
//}