/**
Values that need to be overridden in bootstrap or bulma
 */

.panel .panel-heading, .panel label {
  font-size: 1.6rem;
}

.box h2 {
  font-size: 3.2rem;
}

a {
  color: #3097D1;
}


.tabs {

  &.is-boxed {
    a {
      font-size: 16px;
      border-radius: 7px 7px 0 0;
    }
  }
}