#predefinedStopsView {

  .search-param-button {
    margin-top: -9px;
    margin-left: 10px;
  }

  .search-param-input {
    /*display: inline-block;
    padding: 0.85rem;
    margin-top: -0.5rem;*/
  }

  .columns {

    &
    .header {

      .column {
        text-align: center;
        font-weight: bold;
        background-color: #00b89c;
        margin: .5rem;

        &
        :hover {
          cursor: pointer;
        }

      }
    }

    .stop-row {

      &
      :hover {
        background-color: #bbe;
        cursor: pointer;
      }

      &
      .active-row {
        color: red;
      }

    }

    .footer {
      border: .1rem solid #00b89c;
      padding: .2rem;
    }

  }

  .table-label {
    margin-bottom: 0;
  }

  .actions button {
    margin-left: .2rem;
  }

}