/**
 The following stylesheet is used to set the styling so that pages can be
 printed in a nicely presented way.
 */
@media print {

  // hide the url, page number, and date
  @page {
    margin: 0;
  }

  // give the main block some padding
  html {
    height: auto !important;
    padding-top: 1cm !important;
    padding-bottom: 1cm !important;
    //border: 1px solid green;
  }

  // max the size of the body
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    background: none;
    height: auto !important;
    //border: 1px solid blue;
  }

  #fusionHeader {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    max-width: none !important;
    width: 100% !important;
    border: none;
  }

  #app {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    max-width: none !important;
    width: 100% !important;
    //border: 1px solid black;
  }

  #main-content {
    margin: 0 !important;
    padding-right: 0 !important;
    max-width: none !important;
    width: 100% !important;

    //border: 1px solid red;
  }

  // alterations to the header
  #fusionHeader {

    // only display the logo, no menu items or login info, remove margin and padding
    div {
      margin: 0;
      padding: 0;
      max-width: none !important;
      width: 100%;

      div:not(#companyLogo) {
        display: none;
      }
    }
  }

  // any html tagged printable will have display: none overridden
  #printable {
    display: block !important;
  }

  // user session components
  #superSession, #administratorSession {
    // remove the border, adjust font size, remove margin and padding
    border: none;
    font-size: 14px;
    padding: 0;
    margin: 0;

    // ensure the selects and inputs are standard height, with bold font
    div {
      input, select {
        font-weight: bold;
        font-size: 14px;
        height: 28px;
      }

      // remove the parameter "include inactive" as we are not interacting with a printed page
      .inactive-select-check {
        display: none;
      }

    }

  }

  // portals, where our main page content lives
  #superPortal, #administratorPortal, #managerPortal, #driverPortal {
    // remove the border and both left/right paddings
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    height: auto !important;
  }

  // for our tables
  .table-responsive, .table-responsive-bordered, .table-striped, .table-bordered, .table-hover {
    // remove the rounded edges and the border
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    background: none !important;


    // remove all backgrounds within the table
    table * {
      background: none !important;
      border: none !important;
      color: black !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    // beneath the header put a solid black line, hide any overflow
    table thead {
      border-bottom: 2px solid black !important;
      overflow: hidden !important;
    }

    // ensure width is autosized
    table thead tr {
      width: auto !important;
    }

    // insert an appropriate single border style
    table, tr, td {
      border-bottom: 1px solid #aaaaaa !important;
    }

    // add left and right padding to the rows and headers, align vertically
    th, td {
      vertical-align: middle !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    // elements interior to th and tr
    th * {
      overflow-wrap: break-word !important;
    }

    // set the font size and autosize the width
    tr * {
      // auto size the width
      width: auto !important;
      font-size: 12px !important;
    }

    // hide interactive input-group-prepends
    .input-group-prepend {
      display: none !important;
    }

    // remove any input borders (these are inputs inside of the table)
    input {
      width: 100% !important;
      color: black !important;
      font-size: 12px !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    .totals-row {
      border-top: 2px solid black !important;
      border-bottom: 2px solid black !important;
    }

  }

  // remove the report action buttons
  #reportActions {
    display: none;
  }

  // force alignment to center of all elements with class printable-align-center
  .printable-align-center {
    width: 100% !important;
    text-align: center !important;
  }

  // hide all elements with the class not-printable
  .not-printable {
    display: none !important;
  }

}