#rateSelector .v-autocomplete-list {
  background: #fff;
  height: 250px;
  overflow-y: scroll;
  width: 100%;
  z-index: 9999;
}

#rateSelector .v-autocomplete-list div {
  padding: 5px 10px;
}

#rateSelector .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item.v-autocomplete-item-active {
  color: #fff !important;
  background-color: #052460 !important;
}

#rateSelector body {
  background: #ddd;
  height: 100%;
  color: #052460;
}

#rateSelector .header {
  height: 60px;
  padding: 0 2px 0 15px;
}

#rateSelector #logo {
  width: 200px;
}

#rateSelector .options-btn {
  outline: none !important;
  box-shadow: none !important;
}

#rateSelector .download-icon {
  position: relative;
}

#rateSelector .download-icon .fa-file-o {
  color: #000;
}

#rateSelector .download-icon:hover .fa-file-o:before {
  content: '\f15b';
}

#rateSelector .download-icon.--pdf:hover .fa-file-o {
  color: #910811;
}

#rateSelector .download-icon.--excel:hover .fa-file-o {
  color: #052460;
}

#rateSelector .download-icon.--pdf:hover .fa-download, .download-icon.--excel:hover .fa-download {
  color: #fff;
}

#rateSelector .download-icon-text {
  position: absolute;
  top: -4px;
  font-size: 8px;
  color: #fff;
  line-height: 8px;
  padding: 1px 2px;
  transform: translateX(-50%);
  border-radius: 2px;
}

#rateSelector .download-icon.--pdf .download-icon-text {
  background: #910811;
}

#rateSelector .download-icon.--pdf .fa-download {
  color: #910811;
}

#rateSelector .download-icon.--excel .download-icon-text {
  transition: background .3s ease;
  background: #052460;
}

#rateSelector .download-icon.--excel .fa-download {
  color: #052460;
}

#rateSelector .download-icon .fa-download {
  bottom: -2px;
  position: absolute;
  right: 1px;
}

#rateSelector .fa-gear, .fa-spin {
  color: #052460;
}

#rateSelector .sidebar {
  padding: 0 30px 0 15px;
  position: relative;
}

#rateSelector .sidebar:after {
  content: '';
  height: 600px;
  width: 2px;
  background: #bbb;
  border-right: 1px solid #eee;
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
}

#rateSelector .content {
  padding: 0 15px 0 30px;
}

#rateSelector .vehicle-list .list-group-item {
  //background: #ddd;
}

#rateSelector .vehicle-list .list-group-item.activeLink {
  background: #052460 !important;
}

#rateSelector .vehicle-list .list-group-item div {
  //color: #052460;
  display: block;
  padding: .75rem 1.25rem;
  text-decoration: none;
  transition: background .3s ease;
}

#rateSelector .vehicle-list .list-group-item div:hover {
  background: rgba(5, 36, 96, 0.1);
  cursor: pointer;
}

#rateSelector .cra-wrap {
  max-width: 50px;
}

#rateSelector .options-modal-btn {
  background: #052460;
}

#rateSelector .options-modal-btn:hover {
  background: rgba(5, 36, 96, .8);
}

#rateSelector .options-gear {
  color: #052460;
}

#rateSelector .options-gear:hover {
  color: rgba(5, 36, 96, .8);
}

#rateSelector .options-modal-btn-active {
  background: #910811;
}

#rateSelector .options-modal-btn-active:hover {
  background: rgba(145, 8, 17, .8);
}

/* Bootstrap Overrides */
#rateSelector .modal-body {
  padding: 0;
}

#rateSelector .modal-body .nav-tabs .nav-item {
  text-align: center;
  width: 20%;
}

#rateSelector .modal-body .tab-content {
  padding: 1rem;
}

#rateSelector .btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}

#rateSelector #accordion .card-header {
  padding: 0;
}

#rateSelector #accordion .card-header h5 {
  padding: 0;
}

#rateSelector #accordion .card-header button.btn {
  padding: .75rem 1.25rem;
  text-align: left;
  position: relative;
}

#rateSelector #accordion .card-header button.btn:after {
  transform: rotate(0deg);
  content: '\f107';
  font-family: FontAwesome;
  position: absolute;
  top: 8px;
  right: 15px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

#rateSelector #accordion  .adjustment-accordion {
  width: 100%;
}

#rateSelector .btn-link {
  background-color: #ddd;
  color: #000;
  font-weight: bold;
}

#rateSelector .btn-link.focus, .btn-link:focus, .btn-link:hover {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}

/* JS Added Classes */
#rateSelector .activeLink {
  background: #052460;
  color: #fff !important;
}

#rateSelector .activeLink:hover {
  background: #052460 !important;
  color: #fff !important;
}

#rateSelector .opacity5 {
  opacity: .5 !important;
}

#rateSelector .rotateAccordionArrowUp:after {
  transform: rotate(-180deg) !important;
}

/* Media Queries */
@media screen and (max-width: 420px) {
  #logo {
    margin-top: 5px;
    width: 125px;
  }
}

@media screen and (max-width: 575px) {
  .sidebar:after {
    display: none !important;
  }

  .vehicle-list {
    height: 300px;
    overflow-y: scroll;
  }

  iframe {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    padding: 0 15px;
  }

  .content {
    padding: 0 15px;
  }

  .content-title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
}

@media screen and (max-width: 800px) {
  .content-title {
    font-size: 1rem;
    font-weight: bold;
  }
}
