/* Tables */


.tbody-style tr td {
    font-size: 11px;
    vertical-align: middle !important;
}
.table-responsive-bordered {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 5px;
}

//table tbody tr:nth-of-type(odd) {
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

//table tbody tr:hover {
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
    //cursor: pointer;
}

.table-striped th {
    border-right: 1px solid #dee2e6 !important;
}

.table tr.table-header-title {
    background: rgba(0, 0, 0, .1);

    &:hover {
        background: rgba(0, 0, 0, .1);
    }
}

// Custom styling for double header tables
.table thead .secondary-table-header {
    background-color: grey;
    color: white;
    font-size: 12px;
}

.table thead .secondary-table-header th:hover {
    cursor: pointer;
    text-decoration: underline;
}
.table thead .primary-table-header th {
    color: white;
}

.table thead .secondary-table-header th {
    color: white;
    vertical-align: middle !important;
}

.table thead .primary-table-header {
    background-color: rgba(5, 36, 96, 0.9);
    border-color: rgba(5, 36, 96, 0.9);
    color: white;
}

table.fusion-table {
    /* Bootstrap Table */
    /*thead {
        tr {
            background: #052460;

            &:hover {
                background: #052460;
            }

            &:nth-of-type(1):hover {
                background-color: #052460;
            }

            th {
                color: #fff;
                padding: 5px 10px;
                text-align: center;

                &:first-child {
                    border-radius: 4px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 4px 0 0;
                }

                &:nth-of-type(1) {
                    text-align: left !important;
                }

                &:last-child {
                    text-align: right !important;
                }
            }
        }
    }

    tbody {
        tr {
            &:nth-of-type(even) {
                background-color: rgba(5, 36, 96, .2);
            }

            &:hover {
                background-color: rgba(5, 36, 96, .3);
                cursor: pointer;

                td {
                    //color: #fff;

                    a.button {
                        color: #fff;
                    }
                }
            }

            td {
                line-height: 25px;
                padding: 10px;
                text-align: center;

                &:nth-of-type(1) {
                    text-align: left !important;
                }

                &:last-child {
                    text-align: right !important;
                }

                a {
                    color: #052460;
                }
            }
        }

        tr.table-danger {
            background-color: rgba(245,198,203,.5);

            td {
                background-color: rgba(245,198,203,.5);
            }

            &:hover {
                background-color: rgba(245,198,203,1);

                td {
                    background-color: rgba(245,198,203,1);
                    color: #721c24;
                }
            }
        }
    }*/
}