.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 98%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section.tabordion-section {
  display: block;
}

.tabordion section.tabordion-section label.tabordion-label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.0em;
  font-weight: bold;
  padding: 5px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section.tabordion-section article.tabordion-article {
  display: none;
  left: 230px;
  min-width: 79%;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0;
}

.tabordion section.tabordion-section article.tabordion-article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label.tabordion-label {
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article.tabordion-article {
  display: block;
}


@media (max-width: 533px) {

  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }

  .tabordion section.tabordion-section label.tabordion-label {
    font-size: 1em;
    width: 160px;
  }

  .tabordion section.tabordion-section article.tabordion-article {
    left: 200px;
    min-width: 270px;
  }

  .tabordion section.tabordion-section article.tabordion-article:after {
    /*background-color: #ccc;*/
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;
  }

}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    /*width: 70%;*/
  }
}

