.fade5s-enter-active, .fade5s-leave-active {
    transition: opacity .5s;
}
.fade5s-enter, .fade5s-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade10s-enter-active, .fade10s-leave-active {
    transition: opacity .5s;
}
.fade10s-enter, .fade10s-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}