/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    This component is meant to be used at the bottom of the
    master payment notice page.
    Calling it will trigger generation of the ach of eft tile

*/
<template lang="html">
    <div id="achEftGenerationPartial" class="box">
        <div id="paymentProperties" v-if="paymentErrors">

            <div class="row">
                <div class="col-3">
                    <label>Effective Entry Date</label>
                    <input type="text"
                           name="effective_entry_date"
                           :class="{'form-control': true, 'has-error': paymentErrors.has('effective_entry_date')}"
                           v-model="paymentProperties.effective_entry_date">
                </div>

                <div class="col-3">
                    <!-- ACH -->
                    <section v-show="file_type == 'Ach'">
                        <label>File ID Modifier</label>
                        <input type="text"
                               name="file_id_modifier"
                               class="form-control"
                               @input="paymentErrors.clear('file_id_modifier')"
                               v-model="paymentProperties.file_id_modifier">

                        <span class="help-block" v-if="paymentErrors.has('file_id_modifier')">Invalid modifier</span>
                    </section>
                    <!-- EFT -->
                    <section v-show="file_type == 'Eft'">
                        <label>File Creation #</label>
                        <input type="text"
                               name="file_creation_number"
                               class="form-control"
                               @input="paymentErrors.clear('file_creation_number')"
                               v-model="paymentProperties.file_creation_number">

                        <span class="help-block" v-if="paymentErrors.has('file_creation_number')">Invalid creation #</span>
                    </section>
                </div>

                <div class="col-3">
                    <section v-show="file_type == 'Ach'">
                        <label>Type</label>
                        <select name="type"
                                class="form-control"
                                v-model="paymentProperties.type"
                                @change="paymentErrors.clear('type')">
                            <option value="-1" disabled>Please select...</option>
                            <option value="payment">Payment</option>
                            <option value="prenote">Prenote</option>
                        </select>
                        <span class="help-block" v-if="paymentErrors.has('type')">Invalid type</span>
                    </section>
                </div>

                <div class="col-3 text-center">
                    <loading-partial v-show="generating_file"/>
                </div>
            </div>

            <button class="btn btn-primary float-right"
                    @click="generateFile()"
                    :disabled="generating_file">
                Generate {{ file_type | upperCase }} File
            </button>
        </div>

    </div>
</template>

<script>
    import Errors from '../../utilities/Errors';
    import moment from 'moment'
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "./LoadingPartial";

    export default {
        props: [],

        components: {LoadingPartial, VueBootstrapDatePicker},

        data() {
            return {
                /**
                 * Part of what is sent tot the server
                 */
                paymentProperties: {
                    effective_entry_date: moment().add(1, 'days').format('YYYY-MM-DD'),
                    file_id_modifier: 'A',
                    file_creation_number: '27',
                    type: 'payment',
                },

                /**
                 * The date picker options
                 */
                datePickerOptions: {
                    format: 'YYYY-MM-DD',
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'top'
                    },
                    useCurrent: false,
                },

                /**
                 * Generating file is used to show the loading partial and disable the button
                 * It is set to true when the button is pressed,
                 * then waits for the parent to send back an event that the download is complete to
                 * reenable the button
                 */
                generating_file: false,

                paymentErrors: new Errors
            };
        },

        created() {

        },

        /**
         * Register and turn off event listeners.
         * These look to the parent which will say (HEY I GENERATED THE FILE BRO)
         */
        mounted() {
            EventBus.$on('file-generated', this.completeFileGeneration);
        },

        beforeDestroy() {
            EventBus.$off('file-generated', this.completeFileGeneration)
        },

        computed: {
            ...mapGetters([
                'getSessionCountryId'
            ]),

            file_type: function() {
                return this.getSessionCountryId == 1 ? 'Ach' : 'Eft';
            },

        },

        filters: {
            upperCase: function(val) {
                return val.toUpperCase();
            }
        },

        watch: {

        },

        methods: {
            /**
             * This function just tells the parent (master payment notice)
             * to generate and download the file
             */
            generateFile() {
                this.generating_file = true;
                EventBus.$emit('generate-payment-file', this.paymentProperties);
            },

            completeFileGeneration() {
                this.generating_file = false;
            }
        }
    };
</script>

<style lang="css">

</style>