/**
Requires:
caller_id
Optional:
manager_id required if using it for a managers address

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addEditAddressModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ add_edit_label }} Address</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>
            <section class="modal-card-body">

                <section v-if="address">

                    <div :class="{'form-group': true, 'has-error':addressErrors.has('address.street')}">
                        <label>Street</label>
                        <input type="text" v-model="address.street" class="form-control">
                        <span class="help-block" v-if="addressErrors.has('address.street')">{{ addressErrors.get('address.street') }}</span>
                    </div>

                    <div :class="{'form-group': true, 'has-error':addressErrors.has('address.street2')}">
                        <label>Street 2</label>
                        <input type="text" v-model="address.street2" class="form-control">
                        <span class="help-block" v-if="addressErrors.has('address.street2')">{{ addressErrors.get('address.street2') }}</span>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div :class="{'form-group': true, 'has-error':addressErrors.has('address.city')}">
                                <label>City</label>
                                <input type="text" v-model="address.city" class="form-control">
                                <span class="help-block" v-if="addressErrors.has('address.city')">{{ addressErrors.get('address.city') }}</span>
                            </div>
                        </div>
                        <div class="column">
                            <div :class="{'form-group': true, 'has-error':addressErrors.has('address.zip_postal')}">
                                <label>{{ zipLabel }}</label>
                                <input type="text" v-model="address.zip_postal" class="form-control">
                                <span class="help-block" v-if="addressErrors.has('address.zip_postal')">{{ addressErrors.get('address.zip_postal') }}</span>
                            </div>
                        </div>
                    </div>

                    <div v-if="mode === 'add'"
                         :class="{'form-group': true, 'has-error':addressErrors.has('address.country_id')}">
                        <country-select v-model="address.country_id"/>
                        <span class="help-block" v-if="addressErrors.has('address.country_id')">{{ addressErrors.get('address.country_id') }}</span>
                    </div>

                    <div :class="{'form-group':true, 'has-error':addressErrors.has('address.state_province_id')}">
                        <state-select v-if="address.country_id == 1"
                                      v-model="address.state_province_id"/>
                        <province-select v-else v-model="address.state_province_id"/>
                        <span class="help-block" v-if="addressErrors.has('address.state_province_id')">{{ addressErrors.get('address.state_province_id') }}</span>
                    </div>
                </section>
                <!--<section v-else>-->
                    <!--<button class="btn is-loading"></button>-->
                <!--</section>-->
            </section>

            
            <footer class="modal-card-foot">
                <a class="btn btn-success" @click.prevent="saveChanges">Save changes</a>
                <a class="btn" @click.prevent="revertChanges">Cancel</a>
            </footer>
        </div>
    </div>
</template>

<script>
    import {CountrySelect, ProvinceSelect, StateSelect} from "./index";
    import {Address} from "../../models";
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';

    export default {
        props: ['caller_id', 'manager_id'],

        components: {CountrySelect, ProvinceSelect, StateSelect},

        data() {
            return {
                address: null,
                addressErrors: new Errors,
                mode: 'edit',
            };
        },

        created() {

        },

        mounted() {
            this.address = _.cloneDeep(this.getUserAddress);
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getUserAddress'
            ]),

            zipLabel: function () {
                if (this.address.country_id === 1) {
                    return 'Zip';
                } else {
                    return 'Postal Code';
                }
            },

            add_edit_label: function () {
                return this.mode === 'edit' ? 'Edit' : 'Add';
            }
        },

        watch: {

            /**
             * Watch caller_id to determine type of axios request
             * then fetch address and clone
             *
             * TODO: what is this and why do we care about the manager id?
             */
            /*manager_id: {
                handler: function (val) {
                    //let url = val == null ? '/getUserAddress' : '/getManagerAddress/' + val;



                        if (Common.isEmpty(response.data.address)) {
                            this.mode = 'add';
                            this.address = new Address;
                            this.address = new Address;
                        } else {
                            this.mode = 'edit';
                            this.address = _.cloneDeep(response.data.address);
                            this.address = _.cloneDeep(response.data.address);
                        }

                        this.loaded = true;

                },
                immediate: true,
            },*/
        },

        methods: {
            closeModal() {
                $('#addEditAddressModal').removeClass('is-active');
            },

            revertChanges() {
                this.addressErrors.clear();
                this.address = JSON.parse(JSON.stringify(this.address));
                this.closeModal();
                Common.fire('revert-state'); // listen in Province/State selects
            },

            saveChanges() {

                this.address.state_province_id = parseInt(this.address.state_province_id);

                let url = Common.isEmpty(this.manager_id) ? '/addDriverAddress' : '/addManagerAddress';

                if (this.mode === 'edit') {
                    url = Common.isEmpty(this.manager_id) ? '/updateDriverAddress' : '/updateManagerAddress';
                }

                axios.post(url, {address: this.address, manager_id: this.manager_id}).then(
                    response => {
                        this.closeModal();
//                        let me = this;
//                        setTimeout(function () {
//                            Common.fire(me.caller_id + '-address-updated');
//                        }, 1000);

                        this.$store.commit('updateDriverProfile', response.data.driverProfile);
                        this.$store.commit('updateUserAddress', response.data.address);


                    },

                    addressErrors => {
                     // console.log('here with errors');
                     // console.log(addressErrors);

                        this.addressErrors.errors = addressErrors.response.data;
                        // console.log("ERRORS FROM driver address: ");
                        // console.log(this.addressErrors.errors);

                        //this.errors = error.response.data;
                    }
                );
            },


            updateStateOrProvince(state_province_id) {
                this.address.state_province_id = state_province_id;
            }
        }
    };
</script>

<style lang="css">
    #addEditAddressModal {
        padding: 2rem;
    }
</style>