/**
Requires:
    a user_id in the store

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addNewAddressModal">
        <button class="btn btn-secondary btn-block" @click="show_modal = true" :disabled="disabled">
            Add New Address
        </button>


        <div v-if="show_modal" :class="{'modal':true, 'is-active':show_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title mb-0">Add Address</p>
                    <button class="delete" @click="revertChangesAndClose"></button>
                </header>
                <section class="modal-card-body">


                    <!-- autocomplete input -->

                    <div style="height: 2.5rem;" :class="{'form-group':true, 'has-error': addressErrors.any()}">
                        <vue-google-autocomplete
                                ref="autocomplete_input"
                                id="map"
                                classname="form-control"
                                placeholder="Start typing your address"
                                @inputChange="addressErrors.clear()"
                                @placechanged="parseAddressData"
                                />

                        <span class="help-block" v-if="addressErrors.any()">{{ addressErrors.get('all') }}</span>
                    </div>

                </section>

                <footer class="modal-card-foot d-block">
                    <!--<a class="btn btn-success" :disabled="!new_address || invalid_address" @click.prevent="saveChanges">Save Address</a>-->
                    <button class="btn float-left" @click="revertChangesAndClose()">Cancel</button>
                    <button class="btn btn-success float-right" :disabled="save_address_disabled" @click.prevent="saveChanges">Save Address</button>
                </footer>
            </div>
a       </div>
    </div>
</template>

<script>
    import {GoogleMap} from "./index";
    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    import {Errors} from "../../utilities/index";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import Common from '../../utilities/Common.js';

    export default {
        props: ['disabled'],

        components: {GoogleMap, VueGoogleAutocomplete},

        data() {
            return {
                defaultAddress: {latitude: 37.0902, longitude: 95.7129},
                address: null,
                invalid_address: true,
                addressErrors: new Errors,
                show_modal: false,
                save_address_disabled: true,
            };
        },

        created() {
            this.address = this.defaultAddress;
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getUserAddress'
            ]),

            new_address: function() {
                return !_.isEqual(this.address, this.defaultAddress);
            }
        },

        watch: {

        },

        methods: {

            parseAddressData(data) {
             // console.log('changed',data);
                this.save_address_disabled = false;
                axios.post('/parseGoogleAddressData', data).then( response => {
                    this.address = response.data.address;
                    this.invalid_address = false;
                }).catch( errors => {
                    this.addressErrors.add('all', ['Unable to process, please note CarData only accepts American and Canadian addresses.']);
                    this.$forceUpdate();
                    this.invalid_address = true;
                });
            },

            revertChangesAndClose() {
                this.address = this.defaultAddress;
                this.addressErrors.clear();
                this.$refs.autocomplete_input.clear();
                this.show_modal = false;

            },

            saveChanges() {
                this.show_modal = false;
                // Common.storeCommit('updateUserAddress', this.address);
                // EventBus.$emit('address-updated');
                // Common.fire('address-updated', this.address);
                EventBus.$emit('address-updated', this.address);
                this.address = this.defaultAddress;
                this.addressErrors.clear();
                this.$refs.autocomplete_input.clear();
            },




        }
    }
</script>

<style lang="css">
    .pac-container {
        z-index: 1051 !important;
    }
</style>
