/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div :class="{'modal':true, 'is-active':show_me}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add New Note</p>
                <button class="delete" aria-label="close" @click="show_me = false"></button>
            </header>
            <section class="modal-card-body">

                <div class="columns">
                    <div :class="{'column form-group':true, 'has-error': AddNoteModal_errors.has('my_company_id')}">
                        <company-select/>
                        <span class="help-block"
                              v-if="AddNoteModal_errors.has('my_company_id')">{{ AddNoteModal_errors.get('my_company_id') }}</span>
                    </div>

                    <div class="column">
                        <driver-select v-if="getSessionCompanyId > 0"/>
                    </div>
                </div>

                <div class="columns">
                    <div :class="{'column is-6 form-group':true, 'has-error': AddNoteModal_errors.has('note_category')}">
                        <note-category-select :caller_id="caller_id" v-model="my_category_id"/>
                        <span class="help-block" v-if="AddNoteModal_errors.has('note_category')">{{ AddNoteModal_errors.get('note_category') }}</span>
                    </div>
                </div>

                <div :class="{'form-group':true, 'has-error':AddNoteModal_errors.has('note_title')}">
                    <label>Note Title:</label>
                    <input type="text" v-model="note_title" class="form-control">
                    <span class="help-block" v-if="AddNoteModal_errors.has('note_title')">{{ AddNoteModal_errors.get('note_title') }}</span>
                </div>

                <div :class="{'form-group':true, 'has-error':AddNoteModal_errors.has('note_text')}">
                    <label>Note Text:</label>
                    <textarea rows="4" cols="30" v-model="note_text" class="form-control"></textarea>
                    <span class="help-block" v-if="AddNoteModal_errors.has('note_text')">{{ AddNoteModal_errors.get('note_text') }}</span>
                </div>

                <div class="columns note-modifiers form-group">
                    <div class="column text-center">
                        <label class="checkbox">
                            <input type="checkbox" v-model="use_company">
                            Attach to company?
                        </label>
                    </div>

                    <div class="column text-center">
                        <label class="checkbox">
                            <input type="checkbox" v-model="use_driver">
                            Attach to driver?</a>
                        </label>
                    </div>
                </div>


            </section>
            <footer class="modal-card-foot">
                <button class="btn btn-success" @click="addNote">Add this note</button>
                <button class="btn" @click="show_me = false">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import {CompanySelect, DriverSelect, NoteCategorySelect} from "./index"; // partials
    import {Errors} from "../../utilities";
    import {Note} from "../../models";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['caller_id', 'preferred_category'],

        components: {CompanySelect, DriverSelect, NoteCategorySelect},

        data() {
            return {
                show_me: false,
                my_caller_id: 'AddNoteModal',
                AddNoteModal_errors: new Errors(),
                my_category_id: -1,
                use_company: false,
                use_driver: false,
                note: Note,
                note_title: '',
                note_text: '',
            };
        },

        created() {
        },

        mounted() {
            Common.listen('show-add-note', this.showMe);

            EventBus.$on('company-changed', () => {
                this.AddNoteModal_errors.clear();
            });

            EventBus.$on('driver-changed', () => {
                if (this.getSessionDriverId > 0) {
                    this.my_category_id = 3;
                }
            });

            switch (this.preferred_category) {
                case 'general':
                    this.my_category_id = 1;
                    break;
                case 'company':
                    this.my_category_id = 2;
                    this.use_company = true;
                    break;
                case 'driver':
                    this.my_category_id = 3;
                    this.use_driver = true;
                    break;
                case 'vehicle':
                    this.my_category_id = 4;
                    break;
            }

            this.note.user_id = this.getUserId;
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionCompanyId',
                'getSessionDriverId'
            ])
        },

        watch: {

            use_company: function (val) {
                if (val && this.getSessionCompanyId < 1) {
                    this.AddNoteModal_errors.add('my_company_id', ['Please select a company']);
                }
            },

            note_text: function (val) {
                if (!Common.isEmpty(val)) {
                    this.AddNoteModal_errors.clear('note_text');
                }
            },

            note_title: function (val) {
                if (!Common.isEmpty(val)) {
                    this.AddNoteModal_errors.clear('note_title');
                }
            },

            my_category_id: function (val) {
                if (val > 0) {
                    this.AddNoteModal_errors.clear('note_category');
                }
            }

        },

        methods: {
            showMe(caller_id) {
                if (caller_id == this.caller_id) {
                    this.show_me = true;
                }
            },

            addNote() {
                this.note.content = this.note_text;
                if (Common.isEmpty(this.note_text)) {
                    this.AddNoteModal_errors.add('note_text', ["You haven't added any content to your note"]);
                    this.$forceUpdate();
                }

                this.note.title = this.note_title;
                if (Common.isEmpty(this.note_title)) {
                    this.AddNoteModal_errors.add('note_title', ["Please give your note a title"]);
                    this.$forceUpdate();
                }

                if (this.my_category_id == -1) {
                    this.AddNoteModal_errors.add('note_category', ['Please select a note category']);
                    this.$forceUpdate();
                } else {
                    this.note.category_id = this.my_category_id;
                }

                if (this.use_company) {
                    this.note.company_id = this.getSessionCompanyId;
                }

                if (this.use_driver) {
                    this.note.driver_id = this.getSessionDriverId;
                }

                if (!this.AddNoteModal_errors.any()) {
                    console.log('adding this note', this.note);
                    // console.log(this.note);

                    axios.post('/addNewNote', this.note).then(response => {
                        if (response.data.success) {
                            let confirmed = confirm('Your note has been successfully added');
                            if (confirmed) {
                                this.show_me = false;
                                EventBus.$emit('reload-notes');
                            }
                        } else {
                            // ?
                            // console.log(response.data)
                        }
                    });
                }
                else {
                    // console.log('Clear errors please');
                }
            }
        }
    };

</script>

<style lang="css">

</style>