/**
Requires:
- manager_id

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
To disable the add/edit feature, pass disable_add_edit prop

*/
<template lang="html">
    <div id="addressTile" class="box">
        <div class="row">
            <div class="col-sm-6 title">
                Address
            </div>
            <div class="col-sm-6">
                <add-new-address-modal :disabled="only_street2_adjusted"/>
            </div>
        </div>

        <div v-if="loaded">

            <div v-if="getUserAddress">

                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row mb-3">
                                <div class="col-lg-3">Street:</div>
                                <div class="col-lg-9">{{ getUserAddress.street }}</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-3">Street 2:</div>
                                <div class="col-lg-9">
                                    <input class="form-control m-0 street2" v-model="getUserAddress.street2"
                                           style="border: 0; padding: 0; box-shadow: none;" placeholder="Add unit or apt #">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-3">City:</div>
                                <div class="col-lg-9">{{ getUserAddress.city }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">{{ state_province_label }}:</div>
                                <div class="col-lg-9">{{ state_province_name }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">Country:</div>
                                <div class="col-lg-9">{{ country }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">{{ zip_postal_label }}:</div>
                                <div class="col-lg-9">{{ getUserAddress.zip_postal }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col" style="margin-bottom: -1.5rem;">
                        <div v-if="display_map && driverLocation.lat">
                            <!-- Used over google-map(above) for ease of use -->
                            <gmap-map style="width: 100%; height: 300px;"
                                      :center="driverLocation"
                                      :zoom="zoom"
                                      class="mb-4">

                                <gmap-marker :position="driverLocation"
                                             :clickable="false"
                                             :draggable="false"/>
                            </gmap-map>
                        </div>

                        <div v-else>
                            <loading-partial caption_text="Loading Map" style="padding-top:100%; transform: translateY(-50%);"/>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" v-if="newAddress">
                    <div class="col-sm-6">
                        <button v-if="!only_street2_adjusted" class="btn btn-block btn-danger" @click="cancelSetNewAddress()">Cancel</button>
                        <button v-if="only_street2_adjusted" class="btn btn-block btn-danger" @click="resetOnlyStreetTwoAdjusted()">Cancel street adjusted</button>
                    </div>

                    <div class="col-sm-6">
                        <button class="btn btn-block btn-primary" @click="processNewAddress()">Save</button>
                    </div>

                </div>

                <div v-if="alert_message" class="alert alert-success col-12 mt-3 mb-0 pt-2 pr-3 pl-3 pb-2" role="alert">
                    <span>{{ alert_message }}</span>
                </div>
            </div>

            <div v-else-if="!disable_add_edit">
                <strong>We have no address for you on file</strong>
            </div>
        </div>

        <div v-else>
            <loading-partial/>
        </div>
    </div><!-- addressTile -->
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {AddNewAddressModal, LoadingPartial} from "./index";
    import {mapGetters} from 'vuex';
    import { GoogleMap } from 'vue2-google-maps';

    export default {

        components: {AddNewAddressModal, GoogleMap, LoadingPartial},

        props: ['manager_id', 'disable_add_edit'],

        data() {
            return {
                caller_id: 'addressTile',
                loaded: null,
                zoom: 11,
                display_map: null,
                driverLocation: {
                    lat: null,
                    lng: null
                },
                originalDriverLocation: null,
                originalAddress: null,
                newAddress: null,
                alert_message: null,
                original_street2: null,
                only_street2_adjusted: false,
            };
        },

        created() {

        },

        mounted() {
            console.log('getUserAddress: ',this.getUserAddress);
            // Customize button: remove text which is in button by component default
            // & add classes to match other buttons on page
            let addNewAddressModalBtn = $('#addNewAddressModal').find('button.btn-secondary');
            $(addNewAddressModalBtn).removeClass('btn-secondary btn-block').addClass('fa fa-edit float-right').html('');

            // update address $emit from AddNewAddressModal
            EventBus.$on('address-updated', newAddress => {
                this.setNewAddress(newAddress);
            });

            // uses getUserAddress to init address & map view
            this.getAddress();
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getCountryId',
                'getUserAddress'
            ]),

            country: function () {

                if (this.getCountryId === 1) {
                    return 'United States';
                } else {
                    return 'Canada';
                }
            },

            state_province_label: function () {
                if (this.getCountryId === 1) {
                    return 'State';
                } else {
                    return 'Province';
                }
            },

            state_province_name: function () {
                if (this.getUserAddress.state_province) {
                    return this.getUserAddress.state_province.name;
                }
            },

            zip_postal_label: function () {
                if (this.getCountryId === 1) {
                    return 'Zip';
                } else {
                    return 'Postal Code';
                }
            },

            add_edit_label: function () {
                if ( !Common.isEmpty(this.getUserAddress) ) {
                    return 'Edit';
                }
                return 'Add';
            }
        },

        watch: {
            'getUserAddress.street2'() {
                // accounts for when getUserAddress.street2 is undefined
                // & is changed w/out changing the address
                if (this.getUserAddress.street2 != undefined && _.isEmpty(this.newAddress) && !this.only_street2_adjusted && _.isEmpty(this.originalAddress)) {
                    this.only_street2_adjusted = true;
                    this.newAddress = this.getUserAddress;
                }
            },
        },

        methods: {
            resetOnlyStreetTwoAdjusted() {
                this.resetNewAndOriginalAddressesBackToNull(); // reset new & original Address
                this.getUserAddress.street2 = this.original_street2; // reset street2
                // wait a few sec. so  the watch doesn't see it as false
                // & set only_street2_adjusted back to true
                let self = this;
                setTimeout(()=>{
                    self.only_street2_adjusted = false;
                }, 500);
            },

            setNewAddress(newAddress) {
                this.only_street2_adjusted = false; // reset - no longer valid
                this.newAddress = newAddress; // newAddress passed from AddNewAddressModal
                this.originalAddress = _.cloneDeep(this.getUserAddress); // clone original
                this.$store.commit('updateUserAddress', newAddress); // update state
                this.display_map = false; // just in case it doesn't load right away
                this.getAddress(); // reset user view
            },

            cancelSetNewAddress() {
                // reset getUserAddress to originalAddress
                this.$store.commit('updateUserAddress', this.originalAddress); // update state
                this.driverLocation = this.originalDriverLocation; // reset to original
                this.getAddress(); // reset user view address & map
                this.resetNewAndOriginalAddressesBackToNull();
            },

            resetNewAndOriginalAddressesBackToNull() { // set everything back to null
                this.newAddress = null; // reset
                // wait a few sec. so the watch doesn't see it as empty/null
                // & set originalAddress back to null
                let self = this;
                setTimeout(()=>{
                    self.originalAddress = null; // reset
                }, 500);
            },

            getAddress() {
                // user's address has lat & long
                if (this.getUserAddress.latitude != null && this.getUserAddress.longitude != null) {
                    // set driverLocation from state getUserAddress lat & long
                    this.driverLocation = {lat: this.getUserAddress.latitude, lng: this.getUserAddress.longitude};
                // user's address has map_lat & map_long
                } else if (this.getUserAddress.map_latitude != null && this.getUserAddress.map_longitude != null) {
                    // set driverLocation from state getUserAddress map_lat & map_long
                    this.driverLocation = {lat: this.getUserAddress.map_latitude, lng: this.getUserAddress.map_longitude};
                } else { // user's address has neither lat & long nor map_lat & map_long
                    this.getGoogleGeoCodeAddress(); // init driverLocation for Google map
                }
                this.original_street2 = _.cloneDeep(this.getUserAddress.street2); // clone original
                this.display_map = true; // show map
                this.loaded = true; // loaded
            },

            /**
             * Check if user is a driver or manager
             * & set request url & object to be passed
             */
            processNewAddress() {
                // get & set street2 as it's not apart of the new address passed from AddNewAddressModal
                if (this.getUserAddress.street2) { // set if not null
                    this.newAddress.street2 = this.getUserAddress.street2;
                }

                // set axios request url based on getUserType
                let addressObject = { address: this.newAddress, user_id: this.getUserId };
                let url = this.getUserType === 'driver' ? '/updateDriverAddress' : '/updateManagerAddress';

                this.saveNewAddress(url, addressObject);
            },

            saveNewAddress(url, newAddress) {
                // Update address in database
                axios.post(url, newAddress)
                    .then(response => {
                        // Update state from the response
                        this.$store.commit('updateDriverProfile', response.data.driverProfile);
                        this.$store.commit('updateUserAddress', response.data.address);

                        this.resetNewAndOriginalAddressesBackToNull(); // reset init'ed data props

                        this.only_street2_adjusted = false; // reset

                        this.alert_message = 'Address saved successfully'; // address saved msg
                        let self = this;
                        setTimeout(()=>{ // wait a few
                            self.alert_message = null; // reset to not show
                        }, 1000);
                    },
                );
            },

            // Used when a user doesn't have a lat & long nor a map_lat & map_long
            getGoogleGeoCodeAddress() { // get lat & long, init driverLocation for Google map
                axios.get('/getUserAddress/'+this.getUserId+'/'+this.getUserType).then(response => {
                    this.driverLocation = { // set it
                        lat: response.data.address.map_latitude,
                        lng: response.data.address.map_longitude
                    };
                    this.originalDriverLocation = _.cloneDeep(this.driverLocation); // clone it
                });
            },
        }
    };

</script>

<style lang="scss">
    #addressTile {
        .street2::placeholder {
            color: #212529;
            font-style: italic;
            opacity: .6;
        }
    }
</style>