/**
Requires

Emits
    selected administrator id

Sets
    selected administrator id in session

Only makes call for administrators on load and if company changes.
**/
<template lang="html">
    <div class="form-group" id="administratorSelectPartial">
        <label>Administrators
            <small>{{ administrators_count }}</small>
        </label>

        <select name="administratorSelect" id="administratorSelect"
                :value="getSessionAdministratorId"
                @change="administratorChanged($event.target.value)" :class="{'form-control': true, 'active': active_class}">
            <option value="-1" :selected="getSessionAdministratorId == -1">{{ allow_all_none ? 'Select One' : 'All' }}</option>
            <option v-if="allow_all_none" value="-2" :selected="getSessionAdministratorId == -2">All</option>
            <option v-for="administrator in administrators"
                    v-if="showInactive(administrator.deleted_at)"
                    :value="administrator.id"
                    :selected="getSessionAdministratorId == administrator.id"
                    :class="{'inactive-administrator': administrator.deleted_at}">{{ administrator.last_name + ', ' + administrator.first_name }}</option>
        </select>

        <!-- include inactive toggle -->
        <span v-if="!hide_inactive" class="float-right inactive-select-check">
            <input type="checkbox"
                   v-model="include_inactive_administrators" @change="updateAdministratorsCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span></span>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'value', 'caller_id', 'active_class', 'set_session', 'allow_all_none', 'emit_object', 'hide_inactive',
            'from_session',
        ],

        data() {
            return {
                administrators: [],
                administrator: {id: -1, first_name: '', last_name: '', inactive: false},
                include_inactive_administrators: true,
                administrators_count: 0
            }
        },

        created() {
        },

        mounted() {
            EventBus.$on('company-changed', () => {
                this.getAdministrators();
            });

            EventBus.$on('reset-administrators', this.getAdministrators);

            this.getAdministrators();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionAdministratorId',
                'getImpersonatorId',
                'getUserId',
                'getActiveRole',
                'getView'
            ])
        },

        methods: {
            getAdministrators() {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getAdministrators/' + this.getSessionCompanyId + '/' + this.from_session).then(response => {
                        this.administrators = response.data.administrators;
                        this.administrators_count = this.administratorsCount();
                    });
                } else {
                    this.administrators = [];
                    this.administrators_count = 0;
                }

                this.administratorChanged(-1);
            },

            administratorChanged(val) {
                Common.storeCommit('updateSessionAdministratorId', val);
                EventBus.$emit('administrator-changed');

                if (this.getImpersonatorId > 0 && val > 0) {
                    // already impersonating, now switch to this manager
                    Common.storeCommit('updateSessionRole', 'administrator');
                    let administrator = this.administrators.find(a => a.id == val);

                    console.log('uid mapped: ' + administrator.user_id);
                    axios.post('/linkToUser', {
                        current_user_id: this.getUserId,
                        target_user_id: administrator.user_id,
                        current_active_role: this.getActiveRole,
                        current_page: this.getView,
                        target_active_role: 'administrator',
                        from_session: this.from_session
                    }).then(response => {
                        window.location = '/';
                    });
                    return;
                }



                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-administrator', this.administrators.find(administrator => administrator.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let administrator = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-administrator', administrator);
                        EventBus.$emit(this.caller_id + '-all-administrators-array', this.administrators);
                    }
                }
            },

            showInactive(deleted_at) {
                if (this.include_inactive_administrators) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },

            administratorsCount() {
                if (this.include_inactive_administrators) {
                    return this.administrators.length;
                }

                var countArray = this.administrators.filter(function (administrator) {
                    return administrator.deleted_at === null;
                });
                return countArray.length;
            },

            updateAdministratorsCount() {
                this.administrators_count = this.administratorsCount()
            }
        }
    }
</script>

<style lang="css">
    #administratorSelectPartial select.active {
        border: .2rem solid darkgreen;
    }
    #administratorSelectPartial select option.inactive-administrator {
        color: red;
    }
</style>