/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group">
        <label for="bankSelect">Processing Bank</label>

        <select id="bankSelect"
                class="form-control"
                :disabled="disabled"
                @change="$emit('input', banks.find( (b) => b.id == $event.target.value) )">
            <option :selected="value == null" value="null" disabled>Select a bank...</option>
            <option v-for="(bank, key) in banks"
                    v-show="bank.country_id == getSessionCountryId"
                    :value="bank.id"
                    :selected="value ? bank.id == value.id : false"
                    :class="{'inactive-bank': !bank.status}">
                    {{ bank.bank_name }}
            </option>
        </select>
        <small v-if="value && value.active_since" class="float-right">
            Active Since {{ value.active_since }}
        </small>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['value', 'disabled'],

        components: {},

        data() {
            return {
                banks: [],
            };
        },

        created() {
            axios.get('/getAllBanks').then( response => {
                this.banks = response.data.banks;
            })
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCountryId'
            ])
        },

        watch: {

        },

        methods: {}
    };
</script>

<style lang="css">
    #bankSelect .inactive-bank {
        color: red;
    }

</style>