/**
Requires:
- user_type
- company_name

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="breadcrumbs" class="box">
        <div class="columns">
            <div class="column">
                {{ user_type_display }}
                <span v-if="getView">{{ ' > ' + viewing_page }}</span>
                <span v-if="getSubView">{{ ' > ' + showFriendlySubView() }}</span>
            </div>

            <div v-if="getUserType === 'driver'" class="column is-6">
                <driver-street-light-status/>
            </div>

            <div class="column text-right">
                <span v-if="getUserType === 'driver' && getImpersonatorId > 0"
                      class="fa fa-info"
                      @click="show_driver_info = true"></span>
                {{ getUserFullName }}
                <span v-if="getCompanyName != ''">: {{ getCompanyName }}</span>
                <br>

                <driver-information-tile v-if="show_driver_info"
                                         :caller_id="caller_id"/>

            </div>
        </div>
    </div>
</template>


<script>
    import {DriverStreetLightStatus} from "./index"; // partials
    import {mapGetters} from 'vuex';

    export default {

        components: {
            DriverStreetLightStatus
        },

        data() {
            return {
                caller_id: 'breadcrumbs',
                show_driver_info: false
            };
        },

        created() {
        },

        mounted() {
            Common.listen(this.caller_id + '-close-driver-info', this.closeDriverInfo);
        },


        computed: {
            ...mapGetters([
                'getMenu',
                'getView',
                'getSubView',
                'getUserType',
                'getUserFullName',
                'getCompanyName',
                'getSessionCompanyId',
                'getImpersonatorId'
            ]),

            user_type_display: function () {
                return _.upperFirst(this.getUserType);
            },

            viewing_page: function () {
                return this.findPageName(this.getMenu);
            }
        },

        methods: {

            closeDriverInfo() {
                this.show_driver_info = false;
            },

            findPageName(menu) {
                if (menu) {
                    let links = menu;
                    for (let category in links) {
                        for (let item in links[category]['data']) {
                            if (links[category]['data'][item]['id'] === this.getView) {
                                return links[category]['data'][item]['name'];
                            }
                        }
                    }
                }
            },

            showFriendlySubView() {
             // console.log('finding friendly of ' + this.getSubView);
                let last_word = '';
                let word = this.getSubView;
                let combined_and_spaced_word = '';
                let pair = [];
                let success = true;
                let count = 1;

                while (success) {
                    pair = Common.splitWordOnUppercase(word);
                 // console.log('checking pair', pair);
                    if (Common.isEmpty(pair) || pair === false) {
                        combined_and_spaced_word = word;
                        success = false;
                    } else {
                        count++;

                        if (Common.isEmpty(pair[0])) {
                            combined_and_spaced_word += _.toLower(pair[1]);
                            success = false;
                        } else {
                            combined_and_spaced_word += _.toLower(pair[0]) + ' ';
                            word = pair[1];
                            last_word = word;
                        }
                        // safety precaution against infinite loop
                        if (count == 4) {
                            return combined_and_spaced_word;
                        }
                    }
                }

                combined_and_spaced_word = combined_and_spaced_word.split(" ").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ");

                return combined_and_spaced_word;
            }
        }
    };
</script>

<style lang="css">
    #breadcrumbs .fa.fa-info {
        display: inline-block;
        background-color: #3097d1;
        color: white;
        padding: .2rem .4rem;
        border-radius: 0.4rem;
        font-size: small;
    }

</style>