/**
Requires:
    country:            1-US, 2-Canada
    year:               vehicle year
    service_plan:       reimbursement plan
    caller_id:
    selected_capital_cost: from parent
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/

<template lang="html">
<div class="form-group" name="CapitalCostSelect" id="CapitalCostSelect">
    <label for="capitalCostSelect" v-if="show_label">Capital Cost</label>
    <select name="capitalCostSelect"
            class="form-control"
            :value="value"
            @change="$emit('input',$event.target.value)"
            :disabled="disabled"
            id="capitalCostSelect">
        <option v-for="cost in capital_cost_options"
                :value="cost.value"
                :selected="value == cost.value">
            <span>{{ cost.text }}</span>
        </option>
    </select>
</div>
</template>

<script>

export default {

    props: ['country','year','service_plan','value','caller_id','disabled', 'hide_default_option', 'show_label'],

    data() {
        return {
            capital_cost_options: [],
            capital_cost: -1
        }
    },

    created() {
        this.set_capital_cost_options();
//        this.capital_cost = this.selected_capital_cost;
    },

    watch: {
        year: function(val){
            this.set_capital_cost_options();
        },

        service_plan: function() {
            this.set_capital_cost_options();
        }
    },


    methods: {

        set_capital_cost_options(){
            if( this.country == 2 ) { //canada
                if( this.year <= 2010) {
                    this.capital_cost_options =  [
                        { value: 'msrp', text: 'MSRP'},
                        { value: 'invoice', text: 'Invoice'},
                        { value: 'blue_book', text: 'Blue Book'}];
                } else {
                    this.capital_cost_options =  [
                        { value: 'msrp', text: 'MSRP'},
                        { value: 'invoice', text: 'Invoice'}];
                }
            } else {        // US
                if( this.service_plan =='FAVR' ) {
                    this.capital_cost_options =  [
                        { value: 'invoice', text: 'Invoice'}];    } else {
                    this.capital_cost_options =  [
                        { value: 'msrp', text: 'MSRP'},
                        { value: 'invoice', text: 'Invoice'},
                        { value: 'blue_book', text: 'Blue Book'}];
                }
            }

            if ( !this.hide_default_option ) {
                this.capital_cost_options.splice(0,0, {value: -1, text: 'Please Select'})
            }
        },

//        capitalCostChanged() {
//            Common.fire(this.caller_id + '-capital-cost-profile-changed', this.capital_cost);
//        }

    }
}
</script>

<style lang="css">

</style>



