/**
Requires:
caller id
year                - vehicle year

Optional:
favr                - optional to select only FAVR vehicles.
hide_label            - hide label from above select drop-down
initial_vehicle_id
disabled
hide_default_option - optional prop hides the Please Select Vehicle option
emit_object - if true, will fire an event with the whole vehicle as payload

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="categoryVehiclePartials" class="form-group">

        <label for="categoryVehicleSelect" v-if="!hide_label">Vehicle</label>

        <select name="CategoryVehicleSelect" id="categoryVehicleSelect" class="form-control"
                :value="value"
                @change="emitVehicle($event.target.value)"
                :disabled="disabled">

            <option v-if="!hide_default_option"
                    value="-1"
                    :selected="value == -1">Please Select Vehicle [{{value}}]
            </option>

            <option v-for="vehicle in vehicles"
                    :value="vehicle.id"
                    :disabled="vehicle.disabled"
                    :selected="value == vehicle.id"
                    :class="vehicle.class">{{ vehicle.name }}
            </option>

        </select>

    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {

        props: [
            'caller_id', 'value', 'initial_year_id', 'initial_favr', 'hide_label', 'disabled', 'hide_default_option',
            'emit_object'
        ],

        data() {
            return {
                vehicles: [],
                data: [],                // raw vehicle row data from database. we have to break by categories, make them inactive, bold with bigger fonts. Vehicle names have to be shifted to right by 4 spaces.
                session_year_id: -1,
                session_favr: 0,
                last_year_id: -1,
            }
        },

        created() {

            if (!Common.isEmpty(this.initial_year_id)) {
                this.session_year_id = this.initial_year_id;
                //console.log('Found year = ' + this.session_year_id);
            };

            if (!Common.isEmpty(this.initial_favr)) {
                this.session_favr = this.initial_favr;
            };

            this.getVehicles();
        },

        mounted() {
            Common.listen('vehicle-year-changed', this.yearChanged);
        },

        watch: {
            initial_year_id: function(val) {
                this.session_year_id = val;
                this.getVehicles();
            },

            initial_favr: function(val) {
                this.session_favr = val;
                this.getVehicles();
            }

        },

        methods: {

            yearChanged(year) {
                console.log('year changed from ' + this.last_year_id + ' -> ' + year);
                if( this.last_year_id != year ) {
                    this.last_year_id = year;
                    this.getVehicles();
                }
            },

            getVehicles(){
                if (this.session_year_id > 0) {
                    axios.post('/getVehiclesByCategories', {
                        'year': this.session_year_id,
                        'favr': this.session_favr
                    }).then(response => {
                        //console.log('response from getVehiclesByCategories');
                        //console.log(response.data);
                        this.vehicles = response.data.vehicles;
                    }).catch(error => {
                        //console.log("something went wrong");
                        //console.log(error)
                    });

                }
            },

            emitVehicle(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
                if (this.emit_object) {
                    for (const v in this.vehicles) {
                        if (this.vehicles[v].id == val) {
                            EventBus.$emit(this.caller_id + '-vehicle-object', this.vehicles[v])
                        }
                    }
                }
            }
        }
    }
</script>

<style lang="css">
    .bold {
        font-weight: bold;
        font-size: larger
    }

    .shift {
        margin-left: 20px;
    }
</style>



