/**
Requires:
    label: a label for the component (string)
    caller_id: parent page

Optional:

Getters:

Setters:

Listeners:

Emitters:
    this.caller_id + '-city-select-changed', city

    the city here is an object consisting of id, name, and state_province (abbreviation)

Notes:
    This partial is not set up to work with v-model, the input field is  ONLY for searching and displaying, and what
    we want to emit is an object containing BOTH the name and the id
*/

<template>
    <div id="cityAutocomplete">
        <label>{{label}}: </label>
        <input class="form-control" type="text" v-model="city_name" @input="findCities(city_name, country_id)" list="cities-list">
        <datalist id="cities-list">
            <option v-for="city in cities" :value="displayCityName(city)">
            </option>
        </datalist>
    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'country_id', 'label'],
        data () {
            return {
                city_name: '',
                cities: null,
                city: null,
            }
        },

        watch: {
            'city': {
                handler: function(city) {
                    Common.fire(this.caller_id + '-city-select-changed', city);
                },
                deep: true,
            }
        },

        methods: {

            findCities(input, country_id = null) {
                let url = '/findCities/' + input;
                if (country_id != null) {
                    url += '/' + country_id;
                }
                axios.post(url).then(response => {
                    this.cities = response.data.cities;
                });
            },

            displayCityName(city) {
                if (this.city_name == city.name + ', ' + city.state_province) {
                    this.city = city;
                }

                return city.name + ', ' + city.state_province;
            },
        }
    }
</script>

<style lang="css">

</style>