<template lang="html">
    <div id="planSelectPartial" class="form-group">

        <label :class="{'hidden':hideLabel}">Plan:</label>

        <select name="companyPlanSelect" id="companyPlanSelect" class="form-control"
                :value="value"
                @change="$emit('input', $event.target.value)"
                :disabled="disabled">
            <option value="null" :selected="value == null">Select plan...</option>
            <option v-for="plan in plans" :value="plan.name"
                    :selected="value == plan.name">{{ plan.name }}</option>

        </select>

    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'hideLabel', 'value', 'disabled'],

        data() {
            return {
                plan_id: -1,
                plans: null
            }
        },

        created() {
            axios.get('/getCompanyPlanValues').then(response => {
                this.plans = response.data.plans;
            });
        },

        methods: {
//            planChanged() {
//                Common.fire(this.caller_id + '-plan-changed', this.plan_id);
//            }
        }
    }
</script>

<style lang="css">
    #planSelectPartial .hidden {
        display: none;
    }
</style>