/**
Requires:
caller_id:
Caller identification of the parent page

Optional:

Getters:

Setters:

Listeners:

Emitters:
[caller_id]company-changed
Informs parent page that the company was changed providing company_id

Notes:

*/
<template lang="html">
    <div class="form-group" id="companySelectPartial">
        <label v-if="!hide_label" for="companySelect">Company
            <!--<small v-if="!disabled">{{ company_count }}</small>-->
        </label>

        <span v-if="!disabled && !hide_inactive && inactive_position == 'top'" class="float-right inactive-select-check" style="margin-top: 5px;">
            <input type="checkbox"
                   v-model="include_inactive_companies"
                   @change="updateCompanyCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span>
        </span>

        <select name="companySelect" id="companySelect" class="form-control"
                @change="updateCompany($event.target.value)" :value="getSessionCompanyId" :disabled="disabled">
            <option :value="-1" :selected="getSessionCompanyId === -1">Select company...</option>
            <option v-for="company in companies" :value="company.id" v-if="showInactive(company.active)"
                    :selected="getSessionCompanyId == company.id" :class="{'inactive-company': company.active == 0}">{{
                company.name }}
            </option>
        </select>

        <span v-if="!disabled && !hide_inactive && inactive_position !== 'top' && inactive_position !== 'none'" class="float-right inactive-select-check">
            <input type="checkbox"
                   v-model="include_inactive_companies"
                   @change="updateCompanyCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span>
        </span>
        <!--<div class="text-center">-->
            <!--<input type="checkbox"-->
            <!--v-model="include_inactive_companies"-->
            <!--@change="updateCompanyCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span>-->
        <!--</div>-->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'caller_id', 'hide_label', 'hide_inactive', 'country_id', 'from_session', 'inactive_position'
        ],

        data() {
            return {
                companies: [],
                company_count: 0,
                active_company_count: 0,
                inactive_company_count: 0,
                include_inactive_companies: true
            };
        },

        created() {
        },

        mounted() {
            // used by companies view to force refresh of company list!!!
            EventBus.$on('company-created', (company_id) => {
                this.updateSessionCompanies();
                this.updateCompany(company_id);
            });

            // used by companies view to force refresh of company list!!!
            EventBus.$on('company-inactivated', () => {
                this.updateSessionCompanies();
                this.updateCompany(-1);
            });

            // used by companies view to force refresh of company list!!!
            EventBus.$on('company-reactivated', (company_id) => {
                this.updateSessionCompanies();
                this.updateCompany(company_id);
            });

            EventBus.$on('reset-companies', (val) => {
                console.log('company select reset event', val);
                Common.storeCommit('updateSessionCompanyId', val ? val : -1);

                // inform listeners

                EventBus.$emit('company-changed');
                this.getCompanies(); // causes refiltering
            });

            this.getCompanies();
            this.getCompanyCountry(this.getSessionCompanyId);
        },

        computed: {
            ...mapGetters([
                'getHighestAuthenticatedUserType',
                'getSessionCompanyId',
                'getSessionCompanies',
                'getUserType',
                'getPaymentResponsibilityCardata',
                'getCompanyHasPredefinedStops',
                'getCompanyCountryFilter',
                'getCompanyUsesQuarterlyTaxAdjustment',
                'getView',
                'getSubView',
                'getCompanyUsesMiroute',
                'getCompanyUsesInsuranceModuleFilter'
            ]),

            disabled: function () {
                return (this.getUserType !== 'super' && this.getImpersonatorId < 1)
                    || (this.getUserType === 'administrator')
                    || (this.getHighestAuthenticatedUserType === 'administrator');
            }
        },

        methods: {
            updateCompany(val) {
                console.log('updateCompany in CompanySelect:', val);
                console.log('this.getSessionCompanyId:', this.getSessionCompanyId);
                if (val != this.getSessionCompanyId && typeof val !== 'undefined') {
                    Common.storeCommit('updateSessionCompanyId', val);
                    if (val > 0) { // davery - added to prevent errors if val < 0
                        Common.storeCommit('updateCompanyPlan', this.getSessionCompanies.find(c => {
                            return c.id == val;
                        }).service_plan);
                    }

                    let name = val > 0 ? $('option:selected', $('#companySelect')).text().trim() : '';
                    let country_id = this.getCompanyCountry(val);
                    // console.log(name);
                    Common.storeCommit('updateSessionCompanyName', name);
                    if (val > 0) { // davery - added to prevent error when inactivating a company
                        axios.get('/getCompanySelections/' + val).then(response => {
                            Common.storeCommit('updateCompanySelections', response.data);
                        });
                        axios.get('/getCompanyReportLabels/' + val).then(response => {
                            Common.storeCommit('updateCompanyReportLabels', response.data);
                        })
                    }
                }

                // inform subscribers that the company has changed
                // and to pull the new value from store
                EventBus.$emit('company-changed');

                // also set this as company name for super (to show in breadcrumbs
                if (this.getUserType === 'super') {
                    Common.storeCommit('updateCompanyName', $('option:selected', '#companySelect').text().trim());
                }

                this.getCompanyStartStopYears();

            },

            showInactive(active) {
                if (this.include_inactive_companies || active == 1) {
                    return true;
                }

                return false;
            },

            companyCount() {
                if (this.include_inactive_companies) {
                    return this.inactive_company_count + this.active_company_count;
                }
                else {
                    return this.active_company_count;
                }
            },

            updateCompanyCount() {
                this.company_count = this.companyCount();
            },


            getCompanies() {
                this.companies = this.getSessionCompanies;
                //console.log('companies', this.companies);
                if (this.companies.length === 0) {
                    return;
                }

                if (this.getPaymentResponsibilityCardata) {
                    this.companies = this.companies.filter(c => c.payment_responsibility == 'CarData');
                }
                if (this.getCompanyHasPredefinedStops) {
                    this.companies = this.companies.filter(c => c.company_has_predefined_stops === 1);
                }
                if (this.getCompanyUsesQuarterlyTaxAdjustment) {
                    this.companies = this.companies.filter(c => c.use_quarterly_tax_adjustment === 1);
                }
                if (this.getCompanyUsesMiroute) {
                    this.companies = this.companies.filter(c => c.uses_miroute_filter === 1);
                }
                if (this.getCompanyUsesInsuranceModuleFilter) {
                    console.log('filtering by uses insurance module');
                    this.companies = this.companies.filter(c => c.use_company_insurance_module === 1);
                }

                let ccfilter = this.getCompanyCountryFilter;
                if (ccfilter > 0) {
                    this.companies = this.companies.filter(c => c.country_id === ccfilter);
                }


                this.company_count = this.companies.length;

                let acc = 0;
                let icc = 0;
                //console.log(this.companies);
                //console.log(typeof this.companies);

                if (typeof this.companies === 'string') {
                    JSON.parse(this.companies);
                }

                this.companies.map(function (c) {
                    if (c.active == 1) {
                        acc += 1;
                    } else {
                        icc += 1;
                    }
                });
                this.active_company_count = acc;
                this.inactive_company_count = icc;
                //console.log('active ' + this.active_company_count + ' acc ' + acc);
                //console.log('inactive ' + this.inactive_company_count + ' icc ' + icc);
                this.updateCompanyCount();
            },

            getCompanyCountry(company_id) {
                let companies = _.cloneDeep(this.getSessionCompanies);
                let selectedCompany = companies.filter(c => c.id == company_id)[0];
                let selected_country_id = Common.isEmpty(selectedCompany) ? -1 : selectedCompany.country_id;
                Common.storeCommit('updateSessionCountryId', selected_country_id);
            },

            updateSessionCompanies() {
                axios.get('/getCompanies/' + null + '/' + true).then(response => {
                    this.companies = response.data.companies;
                    this.active_company_count = response.data.active_company_count;
                    this.inactive_company_count = response.data.inactive_company_count;
                    Common.checkCommit('updateSessionCompanies', response.data.companies);
                });
            },

            getCompanyStartStopYears() {
                console.log("Calling getCompanyStartStopYears... ");
                if (this.getSessionCompanyId > 0) {
                    axios.post('/getCompanyStartStopYears', {
                            'company_id': this.getSessionCompanyId
                        }
                    ).then(response => {
                        console.log('Returned from getCompanyStartStopYears');
                        console.log(response.data);
                        Common.storeCommit('updateCompanyStartYear', response.data.company_start_year);
                        Common.storeCommit('updateCompanyStopYear', response.data.company_stop_year);
                    });
                }
            },

        }
    };
</script>

<style lang="css">
    #companySelectPartial select option.inactive-company {
        color: red;
    }
</style>