/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="companyIndustrySelectPartial">
        <label :class="{'hidden': hideLabel}">Company Industry:</label>

        <select name="companyIndustrySelect" id="companyIndustrySelect" class="form-control"
                @change="industryChanged($event.target.value)" :value="value" :disabled="disabled">
            <option value="-1" :selected="value == -1">Select industry</option>
            <option v-if="industries.length" v-for="industry in industries" :value="industry.id"
                    :selected="value == industry.id">{{ industry.name }}
            </option>
        </select>
    </div>
</template>

<script>

    export default {

        props: ['caller_id', 'company_id', 'value', 'disabled', 'hideLabel'],

        data() {
            return {
                industries: [],
            };
        },

        created() {
            axios.get('/getCompanyIndustries').then(response => {
                this.industries = response.data.industries;

                if (!Common.isEmpty(response.data.company_industry_id)) {
                    this.industry_id = response.data.company_industry_id;
                }
            });
        },

        methods: {
            industryChanged(value) {
                Common.fire(this.caller_id + '-company-industry-changed', value);
                this.$emit('input', value);
            }
        }
    };

</script>

<style lang="css">
    #companyIndustrySelectPartial .hidden {
        display: none;
    }
</style>