/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
    Specific company year select utilising only start and stop years

    The select is disabled while we are populating the list of years
*/
<template lang="html">
    <div class="form-group" id="companyYearSelect">

        <label for="yearSelect">Year</label>

        <select name="yearSelect"
                id="yearSelect"
                class="form-control"
                :value="getSessionYear"
                @change="updateSessionYear($event.target.value)"
                :disabled="getting_years || getSessionCompanyId == -1">
            <option value="-1" :selected="getSessionYear == -1 || getSessionCompanyId == -1">{{ default_option_text }}</option>
            <option v-for="year in years"
                    :value="year"
                    :selected="getSessionYear == year">
                <span>{{ year }}</span>
            </option>
        </select>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {},

        data() {
            return {
                years: [],

                default_direction: 'desc',
                getting_years: false,

            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getCompanyStartYear',
                'getCompanyStopYear',
                'getSessionCompanyId',
                'getSessionYear'
            ]),

            default_option_text: function() {
                return this.getting_years && this.getSessionCompanyId > 0 ? 'Loading Company Years...' : 'Select a year'
            }
        },

        watch: {
            'getSessionCompanyId': {
                handler: function(val) {
                    this.getCompanyStartStopYears();
                },
                immediate: true,
            }
        },

        methods: {
            /**
             * Whenever the company changes get the new company start stop years.
             *
             * @param previously_selected_year
             */
            getCompanyStartStopYears() {
                this.getting_years = true;
                this.updateSessionYear(-1);
                console.log("Calling getCompanyStartStopYears... ")
                if( this.getSessionCompanyId > 0 ) {
                    axios.post('/getCompanyStartStopYears', {
                        'company_id': this.getSessionCompanyId }
                    ).then(response => {
                        Common.storeCommit('updateCompanyStartYear', response.data.company_start_year);
                        Common.storeCommit('updateCompanyStopYear', response.data.company_stop_year);
                        this.populateYearsArray(response.data.company_start_year, response.data.company_stop_year);
                        this.getting_years = false;
                    })
                }
            },

            populateYearsArray(start_year, end_year) {
                this.years = [];

                if (this.default_direction === 'asc') {
                    for (let i = start_year; i <= end_year; i++) {
                        this.years.push(i);
                    }
                }
                else {
                    for (let i = end_year; i >= start_year; i--) {
                        this.years.push(i);
                    }
                }
            },

            updateSessionYear(year) {
                Common.storeCommit('updateSessionYear', year);
            },
        }
    };
</script>

<style lang="css">

</style>