/**----------------------------------------------------------------------------
Requires:


Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

-----------------------------------------------------------------------------*/
<template lang="html">
    <div id="companyNotes">
        <loading-partial v-if="loading"/>
        <div v-else-if="notes && notes.length > 0">
            <div v-for="note in notes" class="panel panel-default">
                <div class="panel-heading">{{ note.title }}</div>
                <div class="panel-body"  v-html="splitSentences(note.content)">
                    <!--{{ splitSentences(note.content) }}-->
                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        {{ note.user.username }}
                    </div>
                    <div class="pull-right">
                        {{ getNoteDate(note.created_at) }}
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div v-else>
            <p>There are no notes for this company.</p>
        </div>
    </div>
</template>

<script>
    /** IMPORTS **/
    import {LoadingPartial} from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import moment from 'moment';

    export default {
        props: [],

        components: {LoadingPartial},

        data() {
            return {
                notes: null,
                loading: true
            };
        },

        created() {

        },

        mounted() {
            EventBus.$on('reload-notes', () => {
                this.getCompanyNotes();
            });
            this.getCompanyNotes();
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionCompanyId'
            ])
        },

        watch: {},

        methods: {
            getCompanyNotes() {
                axios.get('/getCompanyNotes/' + this.getSessionCompanyId, + '/' + this.getUserId).then(response => {
                    this.notes = response.data.notes;
                    this.loading = false;
                });
            },

            getNoteDate(date) {
                return moment(date).format('MMM Do, YYYY');
            },

            /**
             * Original notes are one long string of text. This splits
             * out every sentence after a period followed by any whitespace.
             *
             * @param content
             * @returns {*}
             */
            splitSentences(content) {
                return content.replace(/\.\s/g, ".<br><br>");
            }
        }
    };
</script>

<style lang="scss">
#companyNotes {
    max-height: 645px;
    overflow-y: scroll;
    .panel {
        max-height: 100%;
    }

    .panel-heading {
        font-size: 1rem;
    }

    .panel-body {
        padding: 1rem .5rem;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
    }

    .panel-footer {
        font-style: italic;
        font-weight: lighter;
        font-size: smaller;
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}
</style>