<template lang="html">
    <div id="companyDefaultPayDateInput">
        <label for="pay_date">Default Pay Date</label>
        <input type="text"
               id="pay_date"
               class="form-control"
               :value="default_pay_date"
               disabled>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        data() {
            return {
                default_pay_date: 0,
            };
        },

        mounted() {
            this.getCompanyDirectPayDate();
            EventBus.$on('company-changed', this.getCompanyDirectPayDate);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ]),
        },

        methods: {
            getCompanyDirectPayDate() {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getCompanyDates/' + this.getSessionCompanyId).then(response => {
                        if (response.data.dates.direct_pay_day) {
                            this.default_pay_date = response.data.dates.direct_pay_day;
                        } else {
                            this.default_pay_date = 0;
                        }
                    });
                }
            },
        },
    }
</script>