/**
    This component requires a saved stop id to gather contracts
    It is currently used only on the DailyTrips.vue
    A trip from the driver is grabbed, and that trip has its contract in place of business purpose
    The destinations (selected from the driver stop)

    There is a gross hacky solution for the daily trips page to force free form field if there are no contracts assigned
*/
<template lang="html">
    <div id="ContractSelect" :class="{'form-group': true, 'has-error': has_error}">
        <select v-if="contracts.length > 0" name="contractSelect" class="form-control form-control-sm"
                :value="value" @change="contractChanged($event.target.value)"
                :disabled="disabled || !contracts || contracts.length == 0">
            <option value="" selected disabled hidden>Select Contract</option>
            <option v-for="contract in contracts" :value="contract"
                    :selected="value == contract">
                {{contract}}
            </option>
        </select>

        <input v-if="no_contracts_found"
               :disabled="disabled || !contracts"
               class="form-control form-control-sm"
               type="text"
               placeholder="Enter a 4 digit contract number"
               :value="value"
               @input="contractChanged($event.target.value)">
        <span v-if="has_error" class="help-block">{{no_contracts_found ? 'Invalid contract, contracts must be 4 digits' : 'Please select a contract'}}</span>

    </div>
</template>

<script>
    export default {
        props: ['value', 'saved_stop_id', 'disabled', 'has_error'],

        data () {
            return {
                contracts: [],
                no_contracts_found: false,
            }
        },

        created() {

        },

        watch: {
            'saved_stop_id': {
                handler: function(val) {
                    if (Common.isEmpty(val)) return;
                    this.getContracts(val);
                },
                immediate: true,
            }
        },

        methods: {
            contractChanged(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },

            getContracts(saved_stop_id) {
                this.contracts = [];
                this.no_contracts_found = false;
                axios.get('/getContractsForSavedStop/' + saved_stop_id).then( response => {
                    this.contracts = response.data.contracts;
                    if (!this.contracts.find(x => x == 9400) && this.contracts.length > 0) this.contracts += 9400;
                    if (this.contracts.length == 0) { this.no_contracts_found = true;}
                }).catch(errors => {
                    console.log(errors);
                    this.contracts = []; // set to default if an error occurs
                })
            }
        }
    }
</script>

<style lang="css">

</style>