/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="countySelectPartial">
        <label v-if="!hide_label">County:</label>
        <select name="countySelect" id="countySelect" class="form-control"
                :value="value" @change="countyChanged($event.target.value)">
            <option value="-1" :selected="value == -1">Select County</option>
            <option v-for="county in counties" :value="county.id"
                    :selected="value == county.id">{{ county.name }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {

        props: ['value', 'state_id', 'caller_id', 'hide_label'],

        data() {
            return {
                counties: []
            }
        },

        created() {
            axios.get('/getCounties/'+this.state_id).then(response => {
                this.counties = response.data.counties;
            });
        },

        methods: {
            countyChanged(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
            }
        },
    }
</script>

<style lang="css">

</style>



