<template lang="html">
    <div id="countrySelectPartial" class="form-group">
        <label for="countrySelect" v-if="!hide_label">Country</label>

        <select name="countrySelect" id="countrySelect" class="form-control form-control-sm"
                :value="value" @change="countryChanged($event.target.value)"
                :disabled="disabled">
            <option :value="-1" :selected="value == -1" v-if="!hide_default_option" disabled>Select country...</option>
            <option v-for="country in countries" :value="country.id"
                    :selected="value == country.id">
                <span v-if="display == 'long'" v-text="country.name"></span>
                <span v-else v-text="country.short_name"></span>
            </option>

        </select>
    </div>
</template>

<script>
    export default {
        props: ['value', 'caller_id', 'hide_label', 'display', 'hide_default_option', 'disabled'],

        data () {
            return {
                countries: null
            }
        },

        created() {
            axios.get('/getCountries').then(response => {
                this.countries = response.data.countries;
            });
        },

        methods: {
            countryChanged(val) {
                axios.post('/setSession', {key: 'session_country_id', value: val});
                this.$emit('input', val); // do not remove, this connects v-model in forms
            }
        }
    }
</script>

<style lang="css">

</style>