/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="dailyScroll"><!--class="box"-->
        <div class="row">
            <div class="col-sm-2">
                <a :class="{'btn right-button float-left':true, 'disabled': selected_date <= date_to_stop_decrement}"
                   @click.prevent="decrementDay" :disabled="selected_date <= date_to_stop_decrement">
                    <span class="fa fa-angle-double-left fa-3x"></span>
                </a>
            </div>
            <div v-if="selected_date_formatted" class="col-sm-8 text-center">
                <h3 class="mt-3"><i class="fal fa-calendar-alt" style="vertical-align: unset;"></i> {{ selected_date_formatted }}</h3>
            </div>
            <div class="col-sm-2">
                <a :class="{'btn right-button float-right':true, 'disabled': selected_date >= current_date}"
                   @click.prevent="incrementDay"
                   :disabled="selected_date >= current_date">
                    <span class="fa fa-angle-double-right fa-3x"></span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    /** imports */
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {moment},

        data() {
            let today = new Date();
            return {
                current_year: today.getFullYear(),
                current_month: today.getMonth(),
                current_day: today.getDate(),
                current_date: moment(today).format('YYYY-MM-DD'),
                selected_date: moment(today).format("YYYY-MM-DD") // begin on current day
            };
        },

        created() {
        },

        mounted() {
            this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format("YYYY-MM-DD"); // remove timestamp
        },

        computed: {
            ...mapGetters([
                'getSessionYear',
                'getSessionMonth',
                'getSessionDay',
                'getDriverMileageLockDay'
            ]),

            first_of_month: function () {
                let firstDay = new Date(this.current_year, this.current_month, 1);
                return moment(firstDay).format('YYYY-MM-DD');
            },

            first_of_previous_month: function () {
                let firstDay = new Date(this.current_year, this.current_month, 1);
                return moment(firstDay).subtract(1, 'M').format('YYYY-MM-DD');
            },

            date_to_stop_decrement: function () {
                return this.current_day <= this.getDriverMileageLockDay ? this.first_of_previous_month : this.first_of_month;
            },

            selected_date_formatted: function () {
                // display in banner area
                return moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format('dddd MMMM Do, YYYY'); // remove timestamp
            }
        },

        watch: {
            getSessionYear: function (val) {
                console.log('year updated ' + val);
                this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format("YYYY-MM-DD");
            },

            getSessionMonth: function (val) {
                console.log('month updated ' + val);
                this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format("YYYY-MM-DD");
            },

            getSessionDay: function (val) {
                console.log('day updated ' + val);
                this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format("YYYY-MM-DD");
            }
        },

        methods: {
            incrementDay(event) {
                if (this.selected_date < this.current_date) {
                    let month_for_moment = this.getSessionMonth - 1; // moment starts at 0
                    let new_date = moment([this.getSessionYear, month_for_moment, this.getSessionDay]).add(1, 'd');
                    Common.storeCommit('updateSessionYear', new_date.format('YYYY'));
                    Common.storeCommit('updateSessionMonth', new_date.add(1, 'm').format('M'));
                    Common.storeCommit('updateSessionDay', new_date.format('D'));
                    this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format('YYYY-MM-DD');
                    EventBus.$emit('date-changed');
                }
            },

            decrementDay() {

                if (this.selected_date > this.date_to_stop_decrement) {
                    let month_for_moment = this.getSessionMonth - 1; // moment starts at 0
                    let new_date = moment([this.getSessionYear, month_for_moment, this.getSessionDay]).subtract(1, 'd');
                    Common.storeCommit('updateSessionYear', new_date.format('YYYY'));
                    Common.storeCommit('updateSessionMonth', new_date.add(1, 'm').format('M'));
                    Common.storeCommit('updateSessionDay', new_date.format('D'));
                    this.selected_date = moment([this.getSessionYear, this.getSessionMonth - 1, this.getSessionDay]).format('YYYY-MM-DD');
                    EventBus.$emit('date-changed');
                }
            },
        }
    };
</script>

<style lang="css">
    #dailyScroll {
        clear: both;
        float: none;
        /*margin-bottom: 4rem;*/
    }

    #dailyScroll .column {
        padding: 0;
    }

    #dailyScroll a, #dailyScroll a:hover {
        text-decoration: none;
        border: none;
    }

    #dailyScroll a.disabled {
        color: #8eb4cb;
    }

    #dailyScroll a.left-button {
        top: 1.5rem;
        right: -8rem;
    }

    #dailyScroll a.right-button {
        top: 1.5rem;
        left: -8rem;
    }
</style>