<template lang="html">

    <div class="form-group" id="daySelectionPartial">

        <label :class="{'hidden': hideLabel}">Day:</label>

        <select name="daySelect" id="daySelect" class="form-control"
                v-model="day_id"
                @change="dayChanged">
            <option value="-1" :selected="day_id == -1">Select day...</option>
            <option v-for="day in days" :value="day"
                    :selected="day_id == day">{{ day }}
            </option>

        </select>

    </div>

</template>

<script>
    export default {
        props: ['selected_day', 'selected_year', 'selected_month', 'hideLabel', 'caller_id'],

        data() {
            return {
                day_id: -1,
                days: [],
                my_selected_year: this.selected_year,
                my_selected_month: this.selected_month
            }
        },

        created() {
            this.initializeDays();
            this.day_id = this.selected_day
        },

        watch: {
            selected_year: function (val) {
                this.my_selected_year = val;
                this.initializeDays();
            },

            selected_month: function (val) {
                this.my_selected_month = val;
                this.initializeDays();
            },

            selected_day: function (val) {
                this.day_id = val;
            }
        },

        methods: {
            initializeDays() {
                var lastDay = new Date(this.selected_year, this.selected_month, 0).getDate();
                for (var i = 1; i <= lastDay; i++) {
                    this.days.push(i);
                }
            },

            dayChanged() {
                Common.fire(this.caller_id + 'day-changed', this.day_id);
            }
        }
    }
</script>

<style lang="css">

</style>