<template lang="html">
    <div id="driverDestinationPartial" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title mb-0" v-if="address">{{ title }}</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>


            <section v-if="address" class="modal-card-body" @input="errors.clear('duplicate'); errors.clear('country')">

                <div class="columns">

                    <div v-if="address.id == -1" class="column is-6">
                        <div :class="{'form-group':true, 'has-error': errors.has('street_number')}">
                            <vue-google-autocomplete
                                    ref="destinationAddressInput"
                                    id="map"
                                    classname="form-control"
                                    placeholder="Start typing your address"
                                    @placechanged="getAddressData"
                            />

                            <span class="help-block" v-if="errors.has('street_number')">{{ errors.get('street_number') }}</span>
                        </div>

                        <div :class="{'form-group':true, 'has-error': errors.has('name')}">
                            <input type="text" class="form-control" :placeholder="name_placeholder" v-model="new_name" @input="errors.clear('name')">
                            <span class="help-block" v-if="errors.has('name')">{{ errors.get('name') }}</span>
                        </div>

                        <div v-if="super_user">
                            <!--Stop Number - optional - replaced by contract if use contract stops-->
                            <div :class="{'form-group':true, 'has-error': errors.has('contract_numbers')}">
                                <input type="text"
                                       class="form-control"
                                       :placeholder="stop_number_placeholder"
                                       @input="errors.clear('contract_numbers')"
                                       v-model="new_stop_number">
                                <span class="help-block" v-if="errors.has('contract_numbers')">{{ errors.get('contract_numbers') }}</span>

                            </div>

                            <!--Division Select No Session-->
                            <!--TODO FOR NOW ASSIGN TO ALL DIVISIONS IF USING STOP CONTRACTS SO HIDE IT-->
                            <section id="divisonSection" v-show="!use_stop_contract">
                                <division-select-no-session :caller_id="my_caller_id"
                                                            :session_company_id="getSessionCompanyId"
                                                            v-model="division_id"
                                                            hide_label="true"
                                                            allow_all="true"
                                                            emit_object="true"/>
                                <!--Selected Divisions-->
                                <div v-if="selected_divisions.length" class="" style="height: 14px; line-height: 14px; margin-bottom: 5px;">
                                    <a href="#" @click.prevent="clearAllDivisions()" class="small">Clear All</a>
                                </div>
                                <div v-if="selected_divisions.length" :class="{'box pt-2 pr-2 pl-2 pb-0 mb-3': true, 'help-block': errors.has('divisions')}" style="overflow-y: scroll; max-height: 200px;">
                                <span v-for="(value, key) in selected_divisions" class="tag btn-secondary mb-2">
                                    {{ value.name }}
                                    <button class="delete is-small" @click.prevent="removeDivision(value)"></button>
                                </span>
                                </div>
                                <span class="help-block mb-2 d-block" v-if="errors.has('divisions')" style="margin-top: -15px;">{{ errors.get('divisions') }}</span>
                            </section>

                            <!--DUPLICATE STOP ERRROS-->
                            <section show="use_stop_contract">
                                <div class="alert alert-danger" v-if="errors.has('duplicate')">
                                    {{errors.get('duplicate')}}
                                </div>
                            </section>
                            <div class="alert alert-danger" v-if="errors.has('country')">
                                {{errors.get('country')}}
                            </div>

                            <!--Active-->
                            <div :class="{'form-group':true, 'has-error': errors.has('active')}">
                                <label for="stop_active">
                                    <input type="checkbox" id="stop_active" v-model="stop_active" @input="errors.clear('active')">
                                    {{ stop_active ? 'Active' : 'Inactive' }}
                                </label>
                                <span class="help-block" v-if="errors.has('active')">{{ errors.get('active') }}</span>
                            </div>
                        </div>
                    </div><!--super_user-->

                    <div v-else class="column is-6">
                        <div class="columns">
                            <div class="column is-4">Destination Name:</div>
                            <div class="column form-group">
                                <input name="name" class="form-control" v-model="new_name"></div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">Street:</div>
                            <div class="column">{{ editedAddress.address }}</div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">Apt / Suite:</div>
                            <div class="column form-group">
                                <input name="name" class="form-control" v-model="editedAddress.street2"></div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">City:</div>
                            <div class="column">{{ editedAddress.city }}</div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">{{editedAddress.state_label}}</div>
                            <div class="column">{{editedAddress.state_province}}</div>
                        </div>

                        <div class="columns">
                            <div class="column is-4">Zip/Postal Code</div>
                            <div class="column">{{ editedAddress.zip_postal }}</div>
                        </div>
                    </div>

                    <div class="column">
                        <!--<google-map :initial_width="100" :initial_zoom="initial_zoom"
                                    :stops="[editedAddress]"/>-->
                        <!-- Map -->

                        <!-- Used over google-map(above) for ease of use -->
                        <gmap-map v-if="driverLocation"  style="width: 100%; height: 300px;"
                                  :center="driverLocation"
                                  :zoom="initial_zoom"
                                  class="mb-4">
                                  <!--:options="{styles: mapStyles.styles}"-->

                            <gmap-marker :position="driverLocation"
                                         :clickable="false"
                                         :draggable="false"></gmap-marker>
                        </gmap-map>
                    </div>
                </div>

            </section>


            <footer class="modal-card-foot text-right" >
                <div style="width: 100%;" class="float-right">
                    <button v-if="address && address.id != -1" class="btn btn-primary" @click.prevent="saveChanges" style="margin-right: 1rem;" :disabled="new_name == address.name || new_name == ''">Save changes</button>
                    <button v-else class="btn btn-primary" @click.prevent="addAddress" style="margin-right: 1rem;"
                           :disabled="disable_insert">Insert</button>
                    <button class="btn" @click.prevent="revertChanges">Cancel</button>
                </div>

            </footer>

        </div>
    </div>
</template>

<script>
    import {GoogleMap, DivisionSelectNoSession} from "../partials";
    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    import {EventBus} from "../../event-bus";
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';

    export default {
        props: ['address', 'super_user', 'use_stop_contract'],

        components: { GoogleMap, VueGoogleAutocomplete, DivisionSelectNoSession },

        data() {
            return {
                my_caller_id: 'destination-address',

                editedAddress: null,
                errors: new Errors(),
                searchAddress: null,
                initial_zoom: 3, // suggestion to google-map
                new_name: null,
                new_stop_number: null,
                bogus: null,

                // Google Map
                driverLocation: {
                    lat: null,
                    lng: null
                },

                stop_active: 1,
                division_id: -1,
                selected_divisions: [],
            };
        },

        mounted() {
            EventBus.$on(this.my_caller_id +'-full-division', obj => {
                if (obj) { // make sure there's an object passed through
                    this.errors.clear('divisions'); // reset errors

                    if (obj.length) {
                        this.selected_divisions = [];
                        obj.map(division=> {
                            this.selected_divisions.push({id: division.id, name: division.name});
                        });
                    } else { // for single object
                        // selected_divisions array not empty && item found
                        if (!Common.isEmpty(this.selected_divisions) && this.selected_divisions.find(item => item.id === obj.id)) {
                            return // do nothing
                        } else { // item not found in selected_divisions
                            this.selected_divisions.push({ id: obj.id, name: obj.name }); // add to selected_divisions
                            this.edited_stop.divisions.push({ id: obj.id, name: obj.name }); // add to edited_stop.divisions
                            // console.log(this.edited_stop.divisions)
                        }
                    }
                } else { // if no object(s) empty selected_divisions array
                    this.selected_divisions = [];
                }
            });
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionCompanyId',
                'getSessionCompanyId',
            ]),

            title: function () {
                // console.log('this gets called: ' + 'computed.title')
                return this.editedAddress.id > 0 ? 'View Destination' : this.super_user ? 'Add Predefined Stop' : 'Add New Destination';
            },

            long: function () {
                // console.log('this gets called: ' + 'computed.long')
                if (this.editedAddress.country_id == 1) {
                    return -101.9189634;
                } else {
                    return -82.5184875;
                }
            },

            lat: function () {
                // console.log('this gets called: ' + 'computed.lat')
                if (this.editedAddress.country_id == 1) {
                    return 40.4343546;
                } else {
                    return 50.7184034;
                }
            },

            stop_number_placeholder: function() {
                return this.use_stop_contract ? 'Contract Number(s) - 9400 is applied automatically' : 'Stop Number'
            },

            disable_insert: function () {
                // console.log('this gets called: ' + 'computed.disable_insert')
                return Common.isEmpty(this.new_name);
            },
            name_placeholder() {
                return this.super_user ? 'Stop Name' : 'Location Name';
            }
        },

        watch: {
            address: function (val) {
                // console.log('this gets called: ' + 'watch.address')
                if (val.id > 0) {
                    this.initial_zoom = 14;
                } else {
                    this.initial_zoom = 3;
                }
                this.editedAddress = JSON.parse(JSON.stringify(this.address));
                this.new_name = this.address.name;
                this.new_stop_number = this.address.stop_number;
                this.driverLocation.lat = this.editedAddress.latitude;
                this.driverLocation.lng = this.editedAddress.longitude;
                //console.log('set new_name to ' + this.new_name);
            },
            initial_zoom: function (val) {
                this.initial_zoom = val;
            },
        },

        methods: {
            removeDivision(item) {
                let newDivisions = this.selected_divisions.filter(division => {
                    return division.id != item.id
                });
                this.selected_divisions = newDivisions;
            },

            clearAllDivisions() {
                this.selected_divisions = []; // davery
                EventBus.$emit('clear-division-select-no-session');
            },

            closeModal() {
                this.errors.clear();
                // console.log('this gets called: ' + 'closeModal')
                this.editedAddress = null;
                this.getAddressData(this.address); // davery
                this.initial_zoom = 3; // davery
                if (this.editedAddress.id < 0) { // davery
                    this.$refs.destinationAddressInput.clear(); // davery
                    this.new_name = null; // davery
                    this.new_stop_number = null; // davery
                    this.selected_divisions = []; // davery
                    EventBus.$emit('clear-division-select-no-session');
                }
                $('#driverDestinationPartial').removeClass('is-active');
                this.mode = 'show';
            },

            revertChanges() {
                // console.log('this gets called: ' + 'revert changes')
                this.editedAddress = JSON.parse(JSON.stringify(this.address));
                this.closeModal();
            },

            saveChanges() {
                // console.log('this gets called: ' + 'saveChanges')
                this.editedAddress.name = this.new_name;
                axios.post('/renameDestinationAddress', this.editedAddress).then(
                    response => {
                        this.closeModal();
                        this.editedAddress = null;
                        Common.fire('address-updated');
                    },

                    error => {

                        this.errors = error.response.data;
                    }
                );
            },

            addAddress() {
                // console.log('this gets called: ' + 'addAddress');
                this.editedAddress.name = this.new_name;
                this.editedAddress.user_id = this.getUserId;
                if (this.super_user) { // davery
                    this.editedAddress.is_super = true; // davery
                    this.editedAddress.company_id = this.getSessionCompanyId; // davery
                    this.editedAddress.stop_number = this.new_stop_number; // davery
                    this.editedAddress.active = this.stop_active; // davery
                    this.editedAddress.divisions = this.selected_divisions; // davery
                }
                this.editedAddress.use_stop_contract = this.use_stop_contract;
                axios.post('/addDestinationAddress', this.editedAddress).then(response => {
                    // console.log(response.data)
                    // console.log(response.data[0].success)
                    if (response.data[0].success) {
                        // console.log('Success!')
                        this.closeModal();
                        Common.fire('address-updated');
                    } else {
                        let message = {
                            'street_number': ['Please provide a valid street number.'],
                            'name': ['Please provide a name for this location.'],
                            'divisions': ['Please select division(s) for this location.'],
                            'contract_numbers' : ['Contract numbers must be comma separated, and 4 characters (ex. 2233). A maximum of 5 are permitted'],
                            'duplicate': ['Duplicate stop. This address has already been entered as a company stop'],
                            'country': ['Address must be within the United States or Canada']
                            // 'active': ['Please select active or inactive for this location.'],
                        };

                        response.data[1].forEach(error => {
                            this.errors.add(error, message[error]);
                        });

                        this.$forceUpdate();
                    }
                });
            },

            getAddressData(data) {
                // console.log('this gets called: ' + 'getAddressData')
                // console.log('somehow this gets called?')
                this.errors.clear('street_number');
                this.initial_zoom = 14;
                this.editedAddress = data;
                this.driverLocation.lat = this.editedAddress.latitude;
                this.driverLocation.lng = this.editedAddress.longitude;
            }
        }
    };

</script>

<style lang="css">
    #driverDestinationPartial {
        padding: 2rem;
    }

    .errors {
        color: red;
    }

    #map {
        /*height: 100%;*/
        /*width: 100%;*/
        /*float: left;*/
        /*flex-grow: 1;*/
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #driverDestinationPartial .modal-card {
        min-width: 60%;
    }

</style>