<template lang="html">
    <div class="form-group" id="divisionSelectPartial">
        <label v-if="!hide_label">Divisions
            <small>{{ this.divisions.length }}</small>
        </label>

        <select name="divisionSelect" id="divisionSelect" class="form-control is-loading"
                @change="updateDivision($event.target.value)" :value="getSessionDivisionId" :disabled="disabled">
            <!-- <option value="-3" :selected="value == -3">None</option> -->
            <!-- TODO: activate when we decide to use None -->
            <option value="-1" :selected="getSessionDivisionId == -1">Select a division</option>
            <option v-if="allow_all_none" value="-2" :selected="getSessionDivisionId == -2">All</option>
            <option v-for="division in divisions" :value="division.id"
                    :selected="getSessionDivisionId == division.id">{{ division.name }}
            </option>
        </select>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'caller_id', 'session_manager_id', 'hide_label', 'allow_all_none', 'emit_object',
            'super_session', 'from_session', 'disabled'
        ],

        data() {
            return {
                // divisions associated with current company in session
                divisions: [],
            };
        },

        created() {
        },

        mounted() {

            EventBus.$on('company-changed', () => {
                this.updateDivisions();
            });

            EventBus.$on('reset-divisions', this.updateDivisions);

            // upon creation get current divisions for company in session
            if (this.getSessionCompanyId > 0) {
                axios.get('/getDivisions/' + this.getSessionCompanyId + '/' + this.from_session).then(response => {
                    this.divisions = response.data.divisions;
                });
            }
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getImpersonatorId',
                'getImpersonatorRole'
            ])
        },

        watch: {
            session_manager_id: function (val) {
                this.updateDivisions();
            },
        },

        methods: {

            updateDivision(val) {
                Common.storeCommit('updateSessionDivisionId', val);
                let name = ''
                for (let d in this.divisions) {
                    if (this.divisions[d].id == val) {
                        name = this.divisions[d].name;
                    }
                }
                this.$emit('input', val); // do not remove, this connects v-model in forms
                if ( this.emit_object ) {
                    EventBus.$emit(this.caller_id + '-full-division', val == -2 ? {id: -2, name: 'All'} : this.divisions.find( x => { return x.id == val} ) );
                }
                Common.storeCommit('updateSessionDivisionName', name);
                EventBus.$emit('division-changed');
            },

            /**
             * Update divisions.
             * Reset session_division_id only if company or manager changed
             * @param companyChanged
             */
            updateDivisions(val) {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getDivisions/' + this.getSessionCompanyId).then(response => {
                        this.divisions = response.data.divisions;
                        let division_id = !Common.isEmpty(val) ? val : -1;
                        Common.storeCommit('updateSessionDivisionId', division_id);
                        EventBus.$emit('division-changed');
                    });
                } else {
                    this.divisions = [];
                }
            }
        }
    };
</script>

<style lang="css">

</style>