/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="divisionSelectNoSession">
        <label v-if="!hide_label">Divisions
            <small>{{ this.divisions.length }}</small>
        </label>

        <select name="divisionSelect" id="divisionSelect" class="form-control is-loading"
                @change="updateDivision($event.target.value)" :value="value" :disabled="disabled">
            <!-- <option value="-3" :selected="value == -3">None</option> -->
            <!-- TODO: activate when we decide to use None -->
            <option value="-1" :selected="value == -1">Select a division</option>
            <option v-if="allow_all" value="-2" :selected="value == -2">All</option>
            <option v-for="division in divisions" :value="division.id"
                    :selected="value == division.id">{{ division.name }}
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id', 'value', 'hide_label', 'allow_all', 'emit_object', 'disabled'],

        components: {},

        data() {
            return {
                divisions: [],
            };
        },

        created() {

        },

        mounted() {
            // reset select when modal closed - davery
            EventBus.$on('clear-division-select-no-session', () => {
                this.value == -1;
                this.$forceUpdate();
            });
            this.getDivisions();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ])
        },

        watch: {
            getSessionCompanyId: function () { // needed to update company divisions - davery
                this.getDivisions();
            }
        },

        methods: {
            createAllDivisionsObject() { // davery
                let divisions = [];
                this.divisions.map(division=> {
                    divisions.push(division);
                });
                return divisions;
            },

            getDivisions() {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getDivisions/' + this.getSessionCompanyId).then(response => {
                        this.divisions = response.data.divisions;
                    });
                } else {
                    this.divisions = [];
                }
            },

            updateDivision(val) {
                if ( this.emit_object ) {
                    if (this.caller_id != 'destination-address' && this.caller_id != 'saved-stop-modal') { // caller_id is NOT destination-address
                        EventBus.$emit(this.caller_id + '-full-division', val == -2 ? {id: -2, name: 'All'} : this.divisions.find( x => { return x.id == val} ) );
                    } else { // caller_id is destination-address, pass all divisions as an array using createAllDivisionsObject, not a text value as above
                        EventBus.$emit(this.caller_id + '-full-division', val == -2 ? this.createAllDivisionsObject() : this.divisions.find( x => { return x.id == val} ) );
                    }
                } else {
                    this.$emit('input', val); // do not remove, this connects v-model in forms
                }
            },

        }
    };
</script>

<style lang="css">

</style>