<template lang="html">
    <div v-if="!getImpersonatorId || getImpersonatorId === -1">
        <form @input="validate()">
            <div v-if="loaded">
                <!-- US Banking -->
                <div v-if="getCountryId == 1" class="row">
                    <div class="col-sm-3">
                        <img style="height: 204px" align="middle" src="/img/sample_check.gif">

                        <div class="mt-4 mb-3">
                            <label class="mb-0">Account Number</label>
                            <p class="sub-content">Can vary in length from 6 to 17 digits, located in the
                                center</p>
                        </div>

                        <div class="mb-3">
                            <label class="mb-0">Routing Number</label>
                            <p class="sub-content">9 digit number located on the left </p>
                        </div>

                        <div class="mb-3">
                            <label class="mb-0">Check Number</label>
                            <p class="sub-content">Do not enter this number </p>
                        </div>

                        <div class="mb-3">
                            <p>Contact your financial institution to confirm your Routing
                                Number and Account Number</p>
                        </div>
                    </div>

                    <!-- User Input -->
                    <div class="col-sm-9">
                        <div v-if="loaded">
                            <div class="columns">
                                <div class="column mb-3">
                                    <form-input v-model="form.data.account_number" :type="'text'"
                                                :field_name="'account_number'" :label="'Account Number'">
                                        :has_error="form.errors.has('account_number')"
                                        :get_error="form.errors.get('account_number')">
                                    </form-input>

                                    <form-input v-model="form.data.routing_number" :type="'text'"
                                                :field_name="'routing_number'" :label="'Routing Number'">
                                        :has_error="form.errors.has('routing_number')"
                                        :get_error="'Invalid Routing Number'">
                                    </form-input>

                                    <label>Account Type:</label>
                                    <br>
                                    <select v-model="form.data.account_type" class="form-control"
                                            @change="validate()">
                                        <option :value="''">Please Select One</option>
                                        <option :value="'savings'">Savings</option>
                                        <option :value="'checking'">Checking</option>
                                    </select>
                                    <span class="help-block" v-if="form.errors.has('account_type')">{{ form.errors.get('account_type') }}</span>
                                </div>

                                <!--davery-->
                                <div class="column mb-3">
                                    <form-input v-model="form.data.confirm_account_number" :type="'text'"
                                                :field_name="'confirm_account_number'"
                                                :label="'Confirm Account Number'">
                                        :has_error="form.errors.has('confirm_account_number')"
                                        :get_error="form.errors.get('confirm_account_number')">
                                    </form-input>

                                    <form-input v-model="form.data.confirm_routing_number" :type="'text'"
                                                :field_name="'confirm_routing_number'"
                                                :label="'Confirm Routing Number'">
                                        :has_error="form.errors.has('confirm_routing_number')"
                                        :get_error="'Invalid Routing Number'">
                                    </form-input>
                                </div>
                                <!--davery-->

                                <!-- US CHECKBOX -->
                                <div class="column">
                                    <div :class="{'alert alert-success':true, 'alert alert-info': !valid_input}">
                                        <table>
                                            <tr>
                                                <td colspan="2"><strong>Account Number</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.us.account_number.length"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">6-17 digits, numbers and hyphens(-)</p></td>
                                            </tr>
                                            <tr><!--davery-->
                                                <td><span
                                                        v-if="bankingErrors.us.confirm_account_number && !bankingErrors.us.confirm_account_number.match"
                                                        class="fa fa-check"
                                                        style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Match</p></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"><strong>Routing Number</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.us.routing_number.length"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">9 Digit Number</p></td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.us.routing_number.first_two_digits"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">First two digits must be in the range 01-12,
                                                    21-32, or 61-72</p></td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.us.routing_number.check_digit"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Valid Check Digit</p></td>
                                            </tr>
                                            <tr><!--davery-->
                                                <td><span
                                                        v-if="bankingErrors.us.confirm_routing_number && !bankingErrors.us.confirm_routing_number.match"
                                                        class="fa fa-check"
                                                        style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Match</p></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"><strong>Account Type</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.us.account_type.empty"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Account Type Selected</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p id="disclaimer">
                            <span style="font-weight:bold">CarData will deposit your reimbursement to the bank account listed above</span>,
                            and is not responsible for confirming this information.
                            Please use the sample check and descriptions provided to help locate your bank account
                            information.
                            Contact your banking institution for verification that you are using the correct
                            information.
                        </p>
                        <br>
                    </div>
                </div>


                <!-- Can Banking -->
                <div v-if="getCountryId == 2" class="row">
                    <div class="col-sm-3">
                        <img src="/img/sample_cheque.gif">

                        <div class="mt-4 mb-3">
                            <label>Branch (Transit) Number</label>
                            <p class="sub-content">The first 4 digits of this 5 digit sequence located on the
                                left </p>
                        </div>

                        <div class="mb-3">
                            <label>Financial Institution Number</label>
                            <p class="sub-content">The 3 digit number to the right of the Branch number </p>
                        </div>

                        <div class="mb-3">
                            <label>Account Number</label>
                            <p class="sub-content">The final 6-7 digit sequence on the right, composed of
                                numbers and hyphens(-) </p>
                        </div>
                    </div>

                    <!-- User Input -->
                    <div class="col-sm-9">
                        <div v-if="loaded">
                            <div class="columns">
                                <div class="column mb-3">
                                    <form-input v-model="form.data.account_number" :type="'text'"
                                                :field_name="'account_number'" :label="'Account Number'">
                                        :has_error="form.errors.has('account_number')"
                                        :get_error="form.errors.get('account_number')">
                                    </form-input>

                                    <form-input v-model="form.data.branch_number" :type="'text'"
                                                :field_name="'branch_number'" :label="'Branch (Transit) Number'">
                                        :has_error="form.errors.has('branch_number')"
                                        :get_error="form.errors.get('branch_number')">
                                    </form-input>

                                    <form-input v-model="form.data.institution_number" :type="'text'"
                                                :field_name="'institution_number'" :label="'Institution Number'">
                                        :has_error="form.errors.has('institution_number')"
                                        :get_error="form.errors.get('institution_number')">
                                    </form-input>
                                </div>

                                <!--davery-->
                                <div class="column mb-3">
                                    <form-input v-model="form.data.confirm_account_number" :type="'text'"
                                                :field_name="'confirm_account_number'"
                                                :label="'Confirm Account Number'">
                                        :has_error="form.errors.has('confirm_account_number')"
                                        :get_error="form.errors.get('confirm_account_number')">
                                    </form-input>

                                    <form-input v-model="form.data.confirm_branch_number" :type="'text'"
                                                :field_name="'confirm_branch_number'"
                                                :label="'Confirm Branch (Transit) Number'">
                                        :has_error="form.errors.has('confirm_branch_number')"
                                        :get_error="form.errors.get('confirm_branch_number')">
                                    </form-input>

                                    <form-input v-model="form.data.confirm_institution_number" :type="'text'"
                                                :field_name="'confirm_institution_number'"
                                                :label="'Confirm Institution Number'">
                                        :has_error="form.errors.has('confirm_institution_number')"
                                        :get_error="form.errors.get('confirm_institution_number')">
                                    </form-input>
                                </div>
                                <!--davery-->

                                <!-- CANADA CHECKBOX -->
                                <div class="column">
                                    <div :class="{'alert alert-success':true, 'alert alert-info': !valid_input}">
                                        <table>
                                            <tr>
                                                <td colspan="2">Account Number</td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.can.account_number.length"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">5-12 Digit Number, composed of numbers and
                                                    hyphens(-)</p></td>
                                            </tr>
                                            <tr><!--davery-->
                                                <td><span
                                                        v-if="bankingErrors.can.confirm_account_number && !bankingErrors.can.confirm_account_number.match"
                                                        class="fa fa-check"
                                                        style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Match</p></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Branch Number</td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.can.branch_number.length"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">5 Digit Number</p></td>
                                            </tr>
                                            <tr><!--davery-->
                                                <td><span
                                                        v-if="bankingErrors.can.confirm_branch_number && !bankingErrors.can.confirm_branch_number.match"
                                                        class="fa fa-check"
                                                        style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Match</p></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Institution Number</td>
                                            </tr>
                                            <tr>
                                                <td><span v-if="!bankingErrors.can.institution_number.length"
                                                          class="fa fa-check"
                                                          style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">3 Digit Number</p></td>
                                            </tr>
                                            <tr><!--davery-->
                                                <td><span
                                                        v-if="bankingErrors.can.confirm_institution_number && !bankingErrors.can.confirm_institution_number.match"
                                                        class="fa fa-check"
                                                        style="color:green"></span>
                                                    <span v-else
                                                          class="fa fa-times"
                                                          style="color:red"></span>
                                                </td>
                                                <td><p class="small">Match</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-success mb-3 float-right"
                @click="saveChanges"
                :disabled="!valid_input">
            Save
        </button>
    </div><!--davery-->
</template>

<script>
    import {FormInput} from "./index";
    import {Form} from "../../utilities";
    import {mapGetters} from 'vuex';

    export default {
        props: ['embedded', 'caller_id'],

        components: {FormInput},

        data() {
            return {
                mode: null,
                loaded: false,

                banking: {
                    user_id: this.getUserId,
                    country_id: this.getCountryId,
                    account_number: '',
                    routing_number: '',
                    account_type: '',
                    institution_number: '',
                    branch_number: '',
                    // davery
                    confirm_account_number: null,
                    confirm_routing_number: null,
                    confirm_account_type: null,
                    confirm_institution_number: null,
                    confirm_branch_number: null,
                },

                form: null,

                bankingErrors: {
                    us: {
                        account_number: {
                            length: false,
                        },
                        routing_number: {
                            length: false,
                            first_two_digits: false,
                            check_digit: false,
                        },
                        account_type: {
                            empty: false,
                        },
                        // davery
                        confirm_account_number: {
                            match: false,
                        },
                        confirm_routing_number: {
                            match: false,
                        },
                    },
                    can: {
                        account_number: {
                            length: false,
                        },
                        branch_number: {
                            length: false,
                        },
                        institution_number: {
                            length: false,
                        },
                        // davery
                        confirm_account_number: {
                            match: false,
                        },
                        confirm_branch_number: {
                            match: false,
                        },
                        confirm_institution_number: {
                            match: false,
                        }
                    }
                },

                valid_input: false,
            };
        },

        created() {
            this.banking.country_id = this.getCountryId;
            this.banking.user_id = this.getUserId;
            axios.get('/getDriverBanking/' + this.getCountryId).then(response => {
                if (!Common.isEmpty(response.data.banking)) {
                    this.mode = 'edit';
                    this.banking = _.cloneDeep(response.data.banking);
                } else {
                    this.mode = 'add';
                }
                this.form = new Form(this.banking);
                this.validate();
                this.loaded = true;
            });
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCountryId',
                'getImpersonatorId'
            ])
        },

        methods: {
            closeModal() {
                $('#driverBankingPartial').removeClass('is-active');
            },

            revertChanges() {
                $('#driverBankingPartial').find('.form-group').removeClass('has-error');
                delete this.form;
                this.form = new Form(this.banking);
                this.validate();
                this.$forceUpdate();
            },

            validate() {
                //US VALIDATION

                if (this.getCountryId == 1) {

                    //ROUTING NUMBER
                    //check length
                    if (this.form.data.routing_number.search(/^\d{9}$/) == -1) {
                        this.bankingErrors.us.routing_number.length = true;
                    } else {
                        this.bankingErrors.us.routing_number.length = false;
                    }

                    //check first two digits
                    var first_two_digits = this.form.data.routing_number.substring(0, 2);
                    if (first_two_digits >= 1 && first_two_digits <= 12
                        || first_two_digits >= 21 && first_two_digits <= 32
                        || first_two_digits >= 61 && first_two_digits <= 72) {
                        this.bankingErrors.us.routing_number.first_two_digits = false;
                    } else {
                        this.bankingErrors.us.routing_number.first_two_digits = true;
                    }

                    //check digit
                    var routing_mod = (this.form.data.routing_number.charAt(0)
                        * 3 + this.form.data.routing_number.charAt(1)
                        * 7 + this.form.data.routing_number.charAt(2)
                        * 1 + this.form.data.routing_number.charAt(3)
                        * 3 + this.form.data.routing_number.charAt(4)
                        * 7 + this.form.data.routing_number.charAt(5)
                        * 1 + this.form.data.routing_number.charAt(6)
                        * 3 + this.form.data.routing_number.charAt(7)
                        * 7 + this.form.data.routing_number.charAt(8)
                        * 1) % 10;

                    if (routing_mod != 0 || Common.isEmpty(this.form.data.routing_number)) {
                        this.bankingErrors.us.routing_number.check_digit = true;
                    } else if (routing_mod == 0 && this.form.data.routing_number.length == 9) {
                        this.bankingErrors.us.routing_number.check_digit = false;
                    }
                    // davery - check match
                    if (this.form.data.routing_number !== this.form.data.confirm_routing_number) {
                        this.bankingErrors.us.confirm_routing_number.match = true;
                    } else {
                        this.bankingErrors.us.confirm_routing_number.match = false;
                    }

                    //ACCOUNT NUMBER
                    //check length
                    if (this.form.data.account_number.search(/^[0-9-]{7,17}$/) == -1) {
                        this.bankingErrors.us.account_number.length = true;
                    } else {
                        this.bankingErrors.us.account_number.length = false;
                    }
                    // davery - check match
                    if (this.form.data.account_number !== this.form.data.confirm_account_number) {
                        this.bankingErrors.us.confirm_account_number.match = true;
                    } else {
                        this.bankingErrors.us.confirm_account_number.match = false;
                    }

                    //ACCOUNT TYPE
                    //check empty
                    if (this.form.data.account_type != 'checking' && this.form.data.account_type != 'savings') {
                        this.bankingErrors.us.account_type.empty = true;
                    } else {
                        this.bankingErrors.us.account_type.empty = false;
                    }

                    for (const key in this.bankingErrors.us) {
                        for (const error_key in this.bankingErrors.us[key]) {
                            if (this.bankingErrors.us[key][error_key] == true) {
                                this.valid_input = false;
                                return null;
                            }
                        }
                    }
                    this.valid_input = true;
                    return null;

                } else {
                    //CANADIAN VALIDATION
                    //BRANCH NUMBER
                    //check length
                    if (this.form.data.branch_number.search(/^\d{5}$/) == -1) {
                        this.bankingErrors.can.branch_number.length = true;
                    } else {
                        this.bankingErrors.can.branch_number.length = false;
                    }
                    // davery - check match
                    if (this.form.data.branch_number !== this.form.data.confirm_branch_number) {
                        this.bankingErrors.can.confirm_branch_number.match = true;
                    } else {
                        this.bankingErrors.can.confirm_branch_number.match = false;
                    }

                    //INSTITUTION NUMBER
                    //check length
                    if (this.form.data.institution_number.search(/^\d{3}$/) == -1) {
                        this.bankingErrors.can.institution_number.length = true;
                    } else {
                        this.bankingErrors.can.institution_number.length = false;
                    }
                    // davery - check match
                    if (this.form.data.institution_number !== this.form.data.confirm_institution_number) {
                        this.bankingErrors.can.confirm_institution_number.match = true;
                    } else {
                        this.bankingErrors.can.confirm_institution_number.match = false;
                    }

                    //ACCOUNT NUMBER
                    //check length
                    if (this.form.data.account_number.search(/^[0-9-]{5,12}$/) == -1) {
                        this.bankingErrors.can.account_number.length = true;
                    } else {
                        this.bankingErrors.can.account_number.length = false;
                    }
                    // davery - check match
                    if (this.form.data.account_number !== this.form.data.confirm_account_number) {
                        this.bankingErrors.can.confirm_account_number.match = true;
                    } else {
                        this.bankingErrors.can.confirm_account_number.match = false;
                    }

                    for (const key in this.bankingErrors.can) {
                        for (const error_key in this.bankingErrors.can[key]) {
                            if (this.bankingErrors.can[key][error_key] == true) {
                                this.valid_input = false;
                                return null;
                            }
                        }
                    }
                    // console.log('validating input?');
                    this.valid_input = true;
                }
            },

            saveChanges(mode) {
                if (!this.valid_input) {
                    return null;
                }

                delete this.banking;
                this.banking = _.cloneDeep(this.form.data);

                if (this.mode == 'edit') {
                    this.form['put']('/updateDriverBanking')
                        .then(data => {
                            this.closeModal();
                            Common.fire(this.caller_id + '-banking-updated');
                            this.form.data = _.cloneDeep(this.banking);
                            this.$forceUpdate();
                        })
                        .catch(errors => {
                            this.form.errors.errors = errors;
                            this.$forceUpdate();
                        });
                } else if (this.mode == 'add') {
                    this.form['post']('/addDriverBanking')
                        .then(data => {
                            this.closeModal();
                            Common.fire(this.caller_id + '-banking-updated');
                            this.form.data = _.cloneDeep(this.banking);
                            this.$forceUpdate();
                            this.mode = 'edit';
                        })
                        .catch(errors => {
                            this.form.errors.errors = errors;
                            this.$forceUpdate();
                        });
                }
            },

            clearError(event) {
                if (!Common.isEmpty(event.target) && !Common.isEmpty(event.target.name)) {
                    this.form.errors.clear(event.target.name);
                }
                else {
                    this.form.errors.clear(event); // this will be that name in this case
                }
                this.$forceUpdate();
            },
        }
    };
</script>

<style lang="css">
    #driverBankingPartial {
        /*padding: 2rem;*/
    }

    #driverBankingPartial #disclaimer {
        font-size: 10px;
        text-align: center;
    }

    #driverBankingPartial .sub-title {
        font-size: 14px;
        text-align: left;
        font-weight: bold;
    }

    #driverBankingPartial .sub-content {
        font-size: 12px;
    }

    #driverBankingPartial div {
        margin: auto;
    }


</style>