/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="driverSelectNoSession">
        <label for="driverSelect">Drivers
            <small>{{ drivers_count }}</small>
        </label>

        <select name="driverSelect" id="driverSelect" :value="value"
                @change="driverChanged($event.target.value)" class="form-control"
                :disabled="disabled">
            <option value="-1" :selected="value == -1">Select a driver</option>
            <option value="-2" :selected="value == -2" v-if="allow_all">All</option>
            <option v-for="driver in drivers" :value="driver.id"
                    v-if="showInactive(driver.deleted_at)"
                    :selected="value == driver.id"
                    :class="{'inactive-driver': driver.active != 1}">{{ driver.last_name + ', ' + driver.first_name }}
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['value', 'caller_id', 'allow_all', 'disabled', 'emit_object', 'disabled'],

        components: {},

        data() {
            return {
                drivers: [],
                driver: {id: -1, first_name: '', last_name: '', deleted_at: false},
                drivers_count: 0,
                active_drivers_count: 0,
                inactive_drivers_count: 0
            };
        },

        created() {

        },

        mounted() {
            this.getDrivers();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ])
        },

        watch: {

        },

        methods: {

            getDrivers() {
                let url = '/getDrivers';

                if (this.getSessionCompanyId < 1) {
                    return;
                }
                axios.post(url, {
                    company_id: this.getSessionCompanyId,
                    include_inactive: this.include_inactive_drivers
                }).then(response => {
                    this.drivers = response.data.drivers;
                    this.active_drivers_count = response.data.active_drivers_count;
                    this.inactive_drivers_count = response.data.inactive_drivers_count;
                    this.drivers_count = this.driversCount();
                });



            },

            driverChanged(val) {
                console.log('driver changed');

                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-driver', this.drivers.find(driver => driver.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let driver = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-driver', driver);
                    }
                } else {
                    this.$emit('input', val); // do not remove, this connects v-model in forms
                }

            },

            showInactive(deleted_at) {
                if (this.include_inactive_drivers) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },

            driversCount() {
                if (this.include_inactive_drivers) {
                    return this.inactive_drivers_count + this.active_drivers_count;
                }
                else {
                    return this.active_drivers_count;
                }
            },

            updateDriversCount() {
                this.drivers_count = this.driversCount();
            }
        }
    };
</script>

<style lang="css">
    #driverSelectNoSession select.active {
        border: .2rem solid darkgreen;
    }

    #driverSelectNoSession select option.inactive-driver {
        color: red;
    }
</style>