/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverDebug" v-if="getUserType === 'driver'">

        <!-- NAME/LABEL -->
        <span v-if="!display_driver_info" id="infoIcon"
              @click="display_driver_info = !display_driver_info">
            <i class="fas fa-info"></i>
            <span v-if="!display_driver_info">{{ getUserFullName }}</span>
        </span>

        <!-- INFO AREA -->
        <div class="card" v-if="display_driver_info" style="min-width: 200px;">
            <div class="card-header">
                <p class="card-header-title">
                    {{ getUserFullName }}&nbsp;&nbsp;<span v-if="driver_terminated">(terminated)</span>
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="delete has-text-info"
                           aria-hidden="true"
                           @click="display_driver_info = !display_driver_info"></i>
                    </span>
                </a>
            </div>

            <div class="card-content">
                <div class="content text-left">
                    Driver Id: {{ getUserId }}<br>
                    Username: {{ getUsername }}<br>
                    Street Light: {{ getDriverStreetLightId }}<br>
                    Start / Stop: {{ start_date }} - {{ getDriverStopDate }}
                </div>
            </div>

            <footer class="card-footer">
                <a class="card-footer-item" @click.prevent="editDriver">Edit Driver</a>
            </footer>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {},

        data() {
            return {
                display_driver_info: false
            };
        },

        created() {
        },

        mounted() {
            // console.log('lights:', this.getDriverStreetLightId, this.getDriverStreetLightArray);
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getUserEmail',
                'getUsername',
                'getUserFullName',
                'getDriverStreetLightId',
                'getDriverStreetLightArray',
                'getDriverStartDate',
                'getDriverStopDate'
            ]),

            start_date: function () {
                let date = new Date(this.getDriverStartDate + ' 0:0:0'); // if no zeros will return day before
                let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                return months[date.getMonth()] + ' ' + date.getFullYear();
            },

            driver_terminated: function () {
                let terminated = false;
                this.getDriverStreetLightArray.map(a => {
                    terminated = terminated || a.id === 512;
                });
                return terminated;
            }
        },

        watch: {},

        methods: {
            editDriver() {
                Common.storeCommit('updateSearchUserEmail', this.getUserEmail);
                window.location = '/stopImpersonating';
            }
        }
    };
</script>

<style lang="css">
    #driverDebug {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        z-index: 11;
    }

    #driverDebug {
        cursor: pointer;
    }

    #driverDebug #infoIcon i {
        background-color: orange;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
    }
</style>