/**
Requires:
 This required getEditEditedUser to be populated in the store.
 This also requires the store to contain session companies
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    next license review date and next insurance review date are only shown if those values are not null

*/
<template lang="html">
    <div id="driverDocumentLinks">
        <div class="row">
            <div class="col-lg-6 col-sm-12" id="insuranceSection" v-show="getCompanySelection('use_company_insurance_module')">
                <h5>Driver Insurance</h5>
                <div class="row">
                    <div class="col-3">
                        <insurance-review-status v-if="loaded.insurance" :insuranceReview="insuranceReview"/>
                    </div>
                    <div class="col-9" v-if="getEditedUser.driver_profile.next_insurance_review_date">
                        <strong>Date of next review:</strong>
                        {{ getEditedUser.driver_profile.next_insurance_review_date }}
                    </div>
                </div>

                <loading-partial v-show="!loaded.insurance" style="width: 75%; height: 75%;"/>
            </div>
            <div class="col-lg-6 col-sm-12" id="licenseSection" v-show="getCompanySelection('use_company_license_module')">
                <h5>Driver License</h5>
                <div class="row">
                    <div class="col-3">
                        <license-review-status v-if="loaded.license" :licenseReview="licenseReview"/>
                    </div>
                    <div class="col-9">
                        <strong>Date of next review:</strong>
                        {{ getEditedUser.driver_profile.next_license_review_date }}
                    </div>
                </div>

                <loading-partial v-show="!loaded.license" style="width: 75%; height: 75%;"/>
            </div>

        </div>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {
        InsuranceReviewStatus,
        LicenseReviewStatus,
        LoadingPartial
    } from "./index";

    export default {
        props: [],

        components: {LoadingPartial, InsuranceReviewStatus, LicenseReviewStatus},

        data() {
            return {
                loaded: {
                    insurance: false,
                    license: false,
                },
                insuranceReview: null,
                licenseReview: null,
            };
        },

        created() {

        },

        mounted() {
            /**
             * TODO change this to get ACTIVE insurance review, and get the active one
             */

            if ( this.getCompanySelection('use_company_insurance_module') && this.getEditedUser ) {
                // determine if a review exists or what the status would be
                axios.get('/getMostRecentInsuranceReview/' + this.getEditedUser.id).then( response => {
                    this.loaded.insurance = true;
                    this.insuranceReview = response.data.insuranceReview;
                })
            }

            if ( this.getCompanySelection('use_company_license_module') && this.getEditedUser ) {
                // determine if a review exists or what the status would be
                axios.get('/getMostRecentLicenseReview/' + this.getEditedUser.id).then( response => {
                    this.loaded.license = true;
                    this.licenseReview = response.data.licenseReview;
                })
            }

        },

        computed: {
            ...mapGetters([
                'getCompanySelection',
                'getSessionCompanyId',
                'getEditedUser',
            ]),

        },

        watch: {

        },

        methods: {

        }
    };
</script>

<style lang="css">

</style>