/**
Requires


Optional
session_manager_id, allow_all_none, set_session

Emits
selected driver id

Sets
selected driver id in session

Only makes call for drivers on load or if company, division or manager changes.

Notes
allow_all_none gives functionality to select ALL drivers at one time

**/
<template lang="html">
    <div class="form-group" id="driverSelectPartial">
        <label>Drivers
            <small>{{ drivers_count }}</small>
        </label>


        <select v-if="allow_all_none || allow_all_none_ach_eft" name="driverSelect" id="driverSelect" :value="getSessionDriverId"
                @change="driverChanged($event.target.value)" :class="{'form-control': true, 'active': active_class}"
                :disabled="disabled">
            <!-- <option value="-3" :selected="value == -3">None</option> -->
            <!-- TODO: activate when we decide to use None -->
            <option value="-1" :selected="getSessionDriverId == -1">Select a driver</option>
            <option value="-2" :selected="getSessionDriverId == -2">All</option>
            <option v-for="driver in drivers" :value="driver.id"
                    v-if="showInactive(driver.deleted_at)"
                    :selected="getSessionDriverId == driver.id"
                    :class="{'inactive-driver': driver.active != 1}">{{ driver.last_name + ', ' + driver.first_name }}
            </option>
        </select>

        <select v-else name="driverSelect" id="driverSelect" :value="getSessionDriverId"
                @change="driverChanged($event.target.value)" :class="{'form-control': true, 'active': active_class}"
                :disabled="disabled">
            <option value="-1" :selected="getSessionDriverId == -1">All</option>
            <option v-for="driver in drivers" :value="driver.id"
                    v-if="showInactive(driver.deleted_at)"
                    :selected="getSessionDriverId == driver.id"
                    :class="{'inactive-driver': driver.active != 1}">{{ driver.last_name + ', ' + driver.first_name }}
            </option>
        </select>

        <span v-if="!hide_inactive" class="float-right inactive-select-check">
            <input type="checkbox"
                   v-model="include_inactive_drivers" @change="updateDriversCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span>
        </span>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'session_manager_id', 'caller_id', 'active_class',
            'allow_all_none', 'hide_inactive', 'emit_object', 'disabled', 'has_banking',
            'super_session', 'from_session'
        ],

        data() {
            return {
                drivers: [],
                driver: {id: -1, first_name: '', last_name: '', deleted_at: false},
                include_inactive_drivers: true,
                drivers_count: 0,
                active_drivers_count: 0,
                inactive_drivers_count: 0,
                allow_all_none_ach_eft: true,
            };
        },

        created() {
        },

        mounted() {
            if (this.getSessionCompanyId > 0) {
                this.getDrivers();
            }

            // davery - need to have no driver in session when loading
            if (this.getView === 'manualAchEftFilesPage') {
                Common.storeCommit('updateSessionDriverId', -1);
            }
            // davery - need to reset id if all drivers are removed
            EventBus.$on('remove-all-drivers-ach-eft', () => {
                Common.storeCommit('updateSessionDriverId', -1);
            });
            EventBus.$on('all-drivers-removed-in-manualAchEftFilesPage', () => {
                Common.storeCommit('updateSessionDriverId', -1);
            });

            Common.listen(this.caller_id + '-reset-drivers', () => {
                Common.storeCommit('updateSessionDriverId', -1);
                EventBus.$emit('driver-changed', this.drivers);
            });

            EventBus.$on('company-changed', () => {
                if (this.getSessionCompanyId > 0) {
                    this.getDrivers();
                } else {
                    this.drivers = [];
                    this.drivers_count = 0;
                    this.active_drivers_count = 0;
                    this.inactive_drivers_count = 0;
                }
            });

            EventBus.$on('division-changed', () => {
                if (this.getSessionCompanyId > 0) {
                    this.getDrivers();
                }
            });

            EventBus.$on('reset-drivers', () => {
                // console.log('calling reset-drivers in driverselect');
                Common.storeCommit('updateSessionDriverId', -1);
            });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
                'getImpersonatorId',
                'getUserId',
                'getActiveRole',
                'getView'
            ])
        },

        watch: {

            session_manager_id: function (val) {
                if (!Common.isEmpty(val) && this.getSessionCompanyId > 0) {
                    this.getDrivers();
                }
            }
        },


        methods: {
            getDrivers() {
                // ole.log('calling get drivers in driverselect');
                // console.log('manager id', this.session_manager_id);
                let url = (!this.has_banking && this.getView != 'manualAchEftFilesPage') ? '/getDrivers' : '/getDriversWhoHaveBanking';

                if (this.getSessionCompanyId < 1) {
                    return;
                }
                axios.post(url, {
                    company_id: this.getSessionCompanyId,
                    division_id: this.getSessionDivisionId,
                    manager_id: this.session_manager_id,
                    include_inactive: this.include_inactive_drivers,
                    from_session: this.from_session
                }).then(response => {
                    this.drivers = response.data.drivers;
                    this.active_drivers_count = response.data.active_drivers_count;
                    this.inactive_drivers_count = response.data.inactive_drivers_count;
                    this.drivers_count = this.driversCount();

                    if ( !this.drivers.find( d => { return d.id == this.getSessionDriverId })) {
                        this.driverChanged(-1);
                    }
                });



            },

            driverChanged(val) {
                if ( this.getSessionDriverId == val) { return; }

                // console.log('driver id ' + val);
                // console.log('DRIVER CHANGED UPDATING SESSION DRIVER ID ' + val);
                Common.storeCommit('updateSessionDriverId', val);

                if (this.getImpersonatorId > 0 && val > 0) {
                    // already impersonating, now switch to this driver
                    Common.storeCommit('updateSessionRole', 'driver');
                    axios.post('/linkToUser', {
                        current_user_id: this.getUserId,
                        target_user_id: val,
                        current_active_role: this.getActiveRole,
                        current_page: this.getView,
                        target_active_role: 'driver',
                        from_session: this.from_session
                    }).then(response => {
                        window.location = '/';
                    });
                    return;
                }

                // TODO: what is this?
                // TODO: this emits a driver object, not just the id. on the parent page (eg. manual ach & eft) when a
                // TODO: driver is selected, their full name, username, and bank account type needs to be displayed
                // TODO: by having the option of emitting an object, the page works much faster
                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-driver', this.drivers.find(driver => driver.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let driver = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-driver', driver);
                        EventBus.$emit(this.caller_id + '-all-drivers-array', this.drivers);
                    }
                } else {
                    // console.log('in else emitting driver-changed');
                    EventBus.$emit('driver-changed');
                }

                // console.log('emitting driver changed');
                EventBus.$emit('driver-changed');

                // davery - updated to $emit based on view not
                if (this.getView === 'manualAchEftFilesPage') {
                    if (val > 0) {
                        EventBus.$emit('ManualAchEftFilesPage-full-driver', this.drivers.find(driver => driver.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let driver = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit('ManualAchEftFilesPage-full-driver', driver);
                        EventBus.$emit('ManualAchEftFilesPage-all-drivers-array', this.drivers);
                    }
                }
            },

            showInactive(deleted_at) {
                if (this.include_inactive_drivers) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },

            driversCount() {
                if (this.include_inactive_drivers) {
                    return this.inactive_drivers_count + this.active_drivers_count;
                }
                else {
                    return this.active_drivers_count;
                }
            },

            updateDriversCount() {
                this.drivers_count = this.driversCount();
            }
        }
    };
</script>

<style lang="css">
    #driverSelectPartial select.active {
        border: .2rem solid darkgreen;
    }

    #driverSelectPartial select option.inactive-driver {
        color: red;
    }
</style>
