<template lang="html">
    <div id="driverInfo" :class="{'modal':true, 'is-active':showDriver}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Driver Info</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <div v-if="driver">
                    <div class="columns">
                        <div class="column">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control"
                                       :value="driver.first_name + ' ' + driver.last_name"
                                       disabled>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" :value="driver.email" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" :value="driver.company" disabled>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Division</label>
                                <input type="text" class="form-control" :value="driver.division" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <label>Job Title</label>
                            <input type="text" class="form-control" :value="driver.job_title" disabled>
                        </div>
                        <div class="column">
                            <label>Cost Center</label>
                            <input type="text" class="form-control" :value="driver.cost_center" disabled>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a class="btn btn-secondary" @click.prevent="closeModal">Close</a>
            </footer>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        data() {
            return {
                driver: null,
                showDriver: false
            }
        },

        created() {
            Common.listen('show-driver-info', this.showDriverInfo);
        },

        methods: {
            showDriverInfo() {
                this.getDriverInfo(this.getSessionDriverId); // sets this.driver
                this.showDriver = true;
            },

            closeModal() {
                this.showDriver = false;
                this.driver = null;
            },

            getDriverInfo() {
                axios.get('getDriverInfo/' + this.getSessionDriverId).then(response => {
                    this.driver = response.data.driver_info;
                });
            }
        }
    }
</script>

<style lang="css">

</style>