/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="driverNotesModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Notes for {{ driver_name }}</p>
                <button class="delete" aria-label="close" @click="closeDriverNotesModal"></button>
            </header>
            <section class="modal-card-body">
                <div class="card" v-if="driverNotes" v-for="note in driverNotes" :key="note.id">

                    <header class="card-header">
                        <p class="card-header-title">
                            {{ note.title }}
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ note.content }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <!--<a href="#" class="card-footer-item">Save</a>-->
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="btn btn-success">Save changes</button>
                <button class="btn" @click="closeDriverNotesModal">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id', 'driver_name', 'is_active'],

        data() {
            return {
                driverNotes: null
            }
        },

        created() {
            EventBus.$on('driver-changed', () => {

            });
            axios.get('/getNotesForDriver/' + this.getSessionDriverId).then(response => {
             // console.log('getting notes');
             // console.log(response);
                this.driverNotes = response.data.driverNotes;
            });
        },

        computed: {
            ...mapGetters([
                'getSessionDriverId'
            ])
        },

        watch: {},

        methods: {
            closeDriverNotesModal() {
                $('#driverNotesModal').removeClass('is-active');
            }
        }
    }
</script>

<style lang="css">
    #driverNotesModal .modal-card-body {
        height: 500px;
        overflow-y: scroll;
    }

    #driverNotesModal .modal-card-body .card {
        margin-bottom: 2rem;
    }
</style>