/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div :class="{'form-group': true, 'has-error': has_error}" id="driverStopSelectPartial">

        <label v-if="!hide_label">Driver Stops</label>

        <select name="driverStopsSelect" id="driverStopsSelect" class="form-control pt-2 pb-2"
            :value="value" :disabled="disabled" @change="$emit('input',$event.target.value)" style="height: auto;">
            <option value="-1" :selected="value == -1" disabled hidden>Select Driver Stop</option>
            <option v-for="driverStop in driverStops" :value="driverStop.id" :selected="value == driverStop.id">{{ driverStop.name }}</option>
        </select>

        <span v-if="has_error" class="help-block">Please select a stop</span>
    </div>
</template>

<script>
export default {

    props: ['caller_id', 'value', 'disabled', 'hide_label', 'has_error'],

    data() {
        return {
            driverStops: null
        }
    },

    created() {
        axios.get('/getDriverStops').then( response => {
            this.driverStops = response.data.driver_stops;
        })
    },

    methods: {
        changeDetected(event) {
            // console.log('change');
            // Common.fire(this.caller_id + 'trip-changed', event.target.value);
            // $emit('input',$event.target.value)
        }
    }
}
</script>

<style lang="css">

</style>



