<template lang="html">
    <div id="driverAddressPartial" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Address</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <div v-for="text in message"  :class="message_class">{{text}}</div>
                <div :class="{'form-group':true, 'has-error':errors.street}">
                    <label>Street</label>
                    <input type="text" v-model="submittedAddress.street" class="form-control">
                    <span class="help-block" v-for="error in errors.street">{{ error }}</span>
                </div>

                <div :class="{'form-group':true, 'has-error':errors.street2}">
                    <label>Street 2</label>
                    <input type="text" v-model="submittedAddress.street2" class="form-control">
                    <span class="help-block" v-for="error in errors.street2">{{ error }}</span>
                </div>

                <div class="columns">
                    <div class="column">
                        <div :class="{'form-group':true, 'has-error':errors.city}">
                            <label>City</label>
                            <input type="text" v-model="submittedAddress.city" class="form-control">
                            <span class="help-block" v-for="error in errors.city">{{ error }}</span>
                        </div>
                    </div>
                    <div class="column">
                        <div :class="{'form-group':true, 'has-error':errors.zip_postal}">
                            <label>{{ zipLabel }}</label>
                            <input type="text" v-model="submittedAddress.zip_postal" class="form-control">
                            <span class="help-block" v-for="error in errors.zip_postal">{{ error }}</span>
                        </div>
                    </div>
                </div>

                <div :class="{'form-group':true, 'has-error':errors.state_province_id}">
                    <state-select v-if="submittedAddress.country_id == 1" v-model="submittedAddress.state_province_id"/>
                    <province-select v-else v-model="submittedAddress.state_province_id"/>
                    <span class="help-block" v-for="error in errors.state_province_id">{{ error }}</span>
                </div>


            </section>

            <footer class="modal-card-foot">
                <a class="btn btn-primary" @click.prevent="saveChanges">Save changes</a>
                <a class="btn" @click.prevent="revertChanges">Cancel</a>
            </footer>
        </div>
    </div>
</template>

<script>
    import {ProvinceSelect, StateSelect} from "./index";

    export default {
        props: ['caller_id'],

        components: {ProvinceSelect, StateSelect},

        data() {
            return {
                address: {},
                submittedAddress: {},
                errors: [],
                message: null,
                message_class: 'alert alert-danger'
            }
        },

        created() {
            axios.get('/getAddress').then(response => {
                this.address = JSON.parse(JSON.stringify(response.data.address));
                this.submittedAddress = JSON.parse(JSON.stringify(response.data.address));
            });
        },

        computed: {
            zipLabel: function () {
                if (this.address.country_id == 1) {
                    return 'Zip';
                } else {
                    return 'Postal Code';
                }
            }

        },

        methods: {
            closeModal() {
                $('#driverAddressPartial').removeClass('is-active');
            },

            revertChanges() {
                $('#driverAddressPartial').find('.form-group').removeClass('has-error');
                this.errors = [];
                this.submittedAddress = JSON.parse(JSON.stringify(this.address));
                Common.fire('revert-state'); // listen in Province/State selects
            },

            saveChanges() {

                this.submittedAddress.state_province_id = parseInt(this.submittedAddress.state_province_id);
                axios.post('/updateDriverAddress', this.submittedAddress).then(
                    response => {
                        var res = response.data;
                       // console.log('response from updateDriverAddress ...');
                       // console.log(response.data);
                        this.errors = res.messages;

                        if( !res.error ) {
                            this.closeModal();
                            Common.fire(this.caller_id + '-address-updated');
                        } else {
                            this.errors = res.messages;
                            //Common.setView('driverProfile');
                        }

                    },

                    error => {
                        this.errors = error.response.data;
                        //Common.setView('driverProfile');
                    }
                );
            },


            updateStateOrProvince(state_province_id) {
                this.submittedAddress.state_province_id = state_province_id;
            }
        }
    }
</script>

<style lang="css">
    #driverAddressPartial {
        padding: 2rem;
    }
</style>