/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <!-- TODO: DELETE THIS COMPONENT AS IT HAS BEEN REPLACED BY STATUS INDICATOR COMPONENT -->
    <div id="driverStreetLightStatus">
        <div v-for="row in getDriverStreetLightArray" :class="status_class(row.color)" v-html="row.description"></div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {

  data() {
    return {
    }
  },

  created() {
  },

  computed: {
    ...mapGetters([
      'getUserId',
        'getDriverStreetLightArray'
    ]),


  },

  methods: {
    status_class(color) {
      if (color === 'Green') {
        return 'column alert alert-success'
      } else if (color === 'Yellow') {
        return 'column alert alert-warning'
      } else {
        return 'column alert alert-danger'
      }
    },
  }

}
</script>

<style lang="css">

</style>
