<template lang="html">
    <div :id="menu_id" style="display:block;">
        <!--class="nav justify-content-center cd-main-menu"-->

        <div class="row justify-content-end" style = "margin-top:50px;">
            <div class="" v-if="userIs('driver')"
                 style="background-color: #406517; border-radius: 15px 15px 0 0; color: white; margin-left: 3px; margin-right: 3px;">
                <a class="active nav-link" :id="dashboard_link"
                   :class="{'btn disabled': getDriverStreetLightId === 1}"
                   @click.prevent="updateActiveLink(dashboard_link)"
                   style="display: block; padding: 6px .5rem 0px .5rem; text-align: center;">
                    Dashboard
                </a>
            </div>

            <ul
                    style="margin: 0px;"
                    v-for="category in displayItems"
                    v-if="category.name && checkCategoryPermission(category.name)"
            >
                <li class=""
                    @mouseover="showDropdownFunction(category.name)"
                    @mouseleave="showDropdown = false">
                    <a class=" menu-tab-style nav-link" id="navbarDropdown" role="button"
                       data-hover="dropdown"
                       aria-haspopup="true" aria-expanded="false"
                       :class="{'btn disabled': getDriverStreetLightId === 1}"
                       @click.prevent="goToMenuPage(category.name)"
                       v-bind:style="{'background-color': category.color, 'color':textColor}"
                       style="min-width: 110px; margin-top: 0; margin-bottom: 0rem; margin-left: 3px; margin-right: 3px; padding: 6px .5rem 0px .5rem; text-align: center;"
                    >
                        {{ category.name }}
                    </a>
                </li>
            </ul>
            <div class="" v-if="userIs('driver')"
                 style="background-color: #FF8C00; border-radius: 15px 15px 0 0; color: white; margin-left: 3px; margin-right: 3px;">
                <a class="active nav-link" :id="dashboard_link"
                   :class="{'btn disabled': getDriverStreetLightId === 1}"
                   @click.prevent="updateActiveLink('driverProfile')"
                   style="display: block; padding: 6px .5rem 0px .5rem; text-align: center;">
                    View Profile
                </a>
            </div>
        </div>
        <div class="row justify-content-center dropdown dropdown-row-width-common">
            <div
                    @mouseover="showDropdownFunction(category.name)"
                    @mouseleave="showDropdown = false"
                    v-for="category in displayItems"
                    v-show=" showDropdown && activeTab==category.name"
                    v-if="category.name && checkCategoryPermission(category.name)"
                    v-bind:style="{'background-color': category.color, 'color':textColor}"
                    class="row dropdown-row-width-common dropdown-position-common dropdown-position-styling-common justify-content-center">
                <div v-for="linkItem in category.data" class="column-xs-4" style="padding: 10px;">
                    <p><b>{{ linkItem.label }}</b></p>
                    <hr>
                    <ul>
                        <li v-for="link in linkItem.items">
                            <a href="" :id="link.id + 'Link'" class="dropdown-item"
                               v-if="!link.divider"
                               :class="{'btn disabled': getDriverStreetLightId === 1}"
                               @click.prevent="updateActiveLink(link.id)"
                               v-bind:style="{'color':textColor}">
                                {{link.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                displayItems: null,
                linkInfo: null,
                showDropdown: false,
                activeTab: '',
                textColor: 'white'
            }
        },

        created() {
        },

        mounted() {
            // listen when external pages are active to reflect correctly in menu
            this.createMegaMenuData();
            Common.listen('fix-menu', this.fixActive);
            Common.listen('update-unread-notifications', this.updateUnreadNotifications);

            this.linkInfo = this.getMenu;

            // call this initially or you won't get default page
            let me = this;
            setTimeout(function () {
                me.updateView({page: me.getView, subpage: me.getSubView});
            }, 300);

        },

        computed: {
            ...mapGetters([
                'getUserType',
                'getCompanyName',
                'getDriverMileageEntryMethod',
                'getDriverStreetLightId',
                'getCompanyPlan',
                'getCompanySelection',
                'getHighestAuthenticatedUserType',
                'getIsVehicleProfileApprover',
                'getIsPaymentProcessor',
                'getIsBankMaintainer',
                'getHasAllPermissions',
                'getView',
                'getSubView',
                'getMenu',
                'getCompanyId'
            ]),

            user_type_display: function () {
                return _.upperFirst(this.getUserType);
            },

            dashboard_link: function () {
                return this.getUserType + 'DashboardLink';
            },

            menu_id: function () {
                return this.getUserType + 'Submenu';
            },

            profile_name: function () {
                return this.getUserType + 'Profile';
            },

            profile_link: function () {
                return this.getUserType + 'ProfileLink';
            }
        },


        watch: {
            getView: function (newVal, oldVal) {
                console.log('getView changed in menu', newVal, oldVal);
                if (newVal === 'mileageHistory') {
                    this.fixActive('mileageEntry');
                } else {
                    this.fixActive(newVal);
                }
            }
        },

        methods: {
            getColorTab(name) {
                switch (name) {
                    case 'Tools':
                        return "#406517";
                        break;
                    case 'Reports':
                        return "#AF0000";
                        break;
                    case 'Payments':
                        return "#DD8C00";
                        break;
                    case 'Miscellaneous':
                        return "#2A487E";
                        break;
                    case 'Mileage':
                        return "#0076ba";
                        break;
                    case 'Reimbursement':
                        return "#8000b0";
                        break;
                    case 'Vehicles':
                        return "#cfaf00";
                        break;
                    default:
                        return "#234C32";
                        break;
                }
            },
            showDropdownFunction(category_name) {
                this.activeTab = category_name;
                this.showDropdown = true;
            },

            updateView(viewInfo) {

                if (!Common.isEmpty(this.linkInfo)) {
                    // make sure this is a valid page for this user (when switching between user types)

                    // it's possible that there was no view info on first load
                    if (Common.isEmpty(viewInfo)) {
                        viewInfo = {page: null, subpage: null};
                    }

                    if (!Common.validLink(viewInfo.page, this.linkInfo)) {
                        viewInfo.page = this.linkInfo[0].defaultPage;
                        viewInfo.subpage = null;
                    }

                    Common.setView(viewInfo.page, viewInfo.subpage);
                    this.fixActive(viewInfo.page);
                    //Common.logDuration('Updated the view from store');
                }

            },

            // inform Portal that this page is now active
            updateActiveLink(linkId) {
                if (this.getDriverStreetLightId === 1) {
                    return;
                }
                this.updateView({page: linkId, subpage: null});
                this.showDropdown = false;
            },

            // fix the active styling for this link and parent category
            fixActive(linkId) {
                // console.log('fixing link', linkId);
                $('ul', '.submenuView').find('li').removeClass('active');
                $('ul', '.submenuView').find('a').removeClass('active'); // dropdown links

                let linkStr = 'a#' + linkId + 'Link';
                // console.log('link string: ', $(linkStr));
                $(linkStr).closest('ul').siblings('a').addClass('active');
                $(linkStr).addClass('active'); // dropdown links
            },

            correctCarPolicyLink(linkInfo) {
                let vm = this;
                for (var index in linkInfo) {
                    for (var item in linkInfo[index].data) {
                        if (linkInfo[index].data[item].id == 'carPolicy') {
                            linkInfo[index].data[item].name = vm.getCompanyName + ' Car Policy';
                            return linkInfo; // short circuit here
                        }
                    }
                }
                return linkInfo;
            },

            checkCategoryPermission(category) {
                if (this.$store.state.company_selections) {
                    switch (category) {
                        case 'Mileage':
                            if (this.userIs('driver')) {
                                return this.getCompanySelection('use_company_mileage_module') == 1;
                            }
                            else return true;
                            break;
                        default:
                            return true;
                    }
                } else {
                    return true; // TODO: should this really be true? Certainly for super
                }
            },

            checkLinkPermission(link_id) {
                if (link_id === 'destinationAddresses' && this.userIs('driver')) {
                    return this.getDriverMileageEntryMethod === 'Mi-Route';
                }
                else if (link_id === 'depreciationReport') {
                    return this.getCompanyPlan === 'FAVR';
                }
                else if (link_id === 'reimbursementProfile') {
                    /**
                     * user_types_that_can_view_reimbursement_profile
                     *   = 'All Users' or
                     *   = 'Administrators' or
                     *   = 'Super'
                     */

                    switch (this.getCompanySelection('can_view_reimbursement_profile')) {
                        case ('All Users'):
                            return true;
                        case ('Super'):
                            return this.getHighestAuthenticatedUserType == 'super';
                        case ('Administrators'):
                            return this.getHighestAuthenticatedUserType == 'administrator' || this.getHighestAuthenticatedUserType == 'super';
                        default:
                            return false;
                    }
                }

                else if (link_id === 'vehicleProfileApprovals') {
                    return this.getIsVehicleProfileApprover || this.getHasAllPermissions;
                }
                else if (link_id === 'manualAchEftFilesPage') {
                    return this.getIsPaymentProcessor || this.getHasAllPermissions;
                }
                else if (link_id === 'bankInformation') {
                    return this.getIsBankMaintainer || this.getHasAllPermissions;
                }
                else if (link_id === 'administratorAddEditUser') {
                    return this.getCompanySelection('account_management_responsibility') === 'Client';
                }
                else if (link_id === 'payFile') {
                    /**
                     * Pay file is only available for supers and admins from pulte
                     */
                    return this.getHighestAuthenticatedUserType === 'super'
                        || (this.getHighestAuthenticatedUserType === 'administrator' && this.getCompanyId == 57);
                }
                else {
                    return true;
                }
            },

            userIs(type) {
                return Common.stricmp(this.getUserType, type);
            },
            goToMenuPage(contentName) {
                console.log(contentName.toLowerCase() + 'Menu is the menu selected');
                Common.setView(contentName.toLowerCase() + 'Menu', null);
                this.showDropdown = false;
            },
            // Provides the data for displayItems
            createMegaMenuData() {
                let start = new Date();
                this.displayItems = [];

                let menuCategories = this.getMenu;
                let tempItem = null;
                let tempCategory = [];

                for (let category in menuCategories) {
                    // console.log('category, menuCategories[category]', category, menuCategories[category]);
                    for (let item in menuCategories[category].data) {

                        // If label exists
                        if (menuCategories[category].data[item].label) {

                            // if the label has been set previously push the item and clear with next label
                            if (tempItem != null) {
                                tempCategory.push(tempItem);
                                tempItem = null;
                            }

                            // initalize since there is no value in tempItem
                            tempItem = {label: menuCategories[category].data[item].label, items: []};
                        } else if (tempItem != null) {

                            // Push the nav menu items into tempItem under items
                            tempItem.items.push(menuCategories[category].data[item]);
                        }
                    } // End of inner loop

                    tempCategory.push(tempItem);
                    tempItem = null;


                    this.displayItems.push({
                        data: tempCategory,
                        name: menuCategories[category].name,
                        icon: menuCategories[category].menuIcon,
                        defaultPage: menuCategories[category].defaultPage,
                        color: this.getColorTab(menuCategories[category].name)
                    });
                    tempCategory = [];
                } // End of outer loop
                //alert(Common.getTimeRunning(start));
            }
        }
    };
</script>

<style lang="css">
    /*#dropdownSubmenu .dropdown-backdrop {
        z-index: 1;
    }

    #dropdownSubmenu .dropdown {
        float: left;
        margin-right: 1rem;
    }

    #dropdownSubmenu .dashboard-link {
        margin-right: 1rem;
    }

    #dropdownSubmenu ul.dropdown-menu {
        width: auto;
    }

    #dropdownSubmenu ul.dropdown-menu .menu-label {
        margin-left: .4rem;
        margin-bottom: 0;
    }

    #dropdownSubmenu ul.dropdown-menu hr {
        margin: .5rem 0;
    }

    #dropdownSubmenu ul.dropdown-menu li a:hover {
        background-color: #3273dc;
        color: white;
    }

    #dropdownSubmenu .btn.disabled {
        color: white;
        background-color: lightgrey;
        cursor: not-allowed;
        pointer-events: all;
    }*/
</style>
