<template lang="html">
    <div>
        <div :style="companyLogoStyle" v-if="logo_exists"></div>
        <!--<img src="/images/waste_mng_logo.jpg" alt="">-->
        <h2 v-else>{{ getCompanyName }}</h2>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props: [], // props

        components: {}, // components

        data() {
            return {
                logo_exists: false
            };
        }, // data

        mounted() {
            this.getCompanyLogoExists();
        }, // mounted

        computed: {
            ...mapGetters([
                'getCompanyId',
                'getCompanyName',
                'getCompanySlug'
            ]),

            companyLogoStyle: function () {
                return {
                    'background-image': 'url(storage/company_logos/' + this.getCompanySlug + '.jpg)',
                    'display': 'block',
                    'height': '40px',
                    'background-repeat': 'no-repeat',
                    'background-size': 'contain'
                };
            }
        }, // computed

        watch: {}, // watch

        methods: {
            getCompanyLogoExists: function () {
                axios.get('/getCompanyLogoExists/' + this.getCompanySlug).then(response => {
                    this.logo_exists = response.data.logo_exists;
                });
            }
        }, // methods
    };
</script>

<style>

</style>