4/**
Requires:
caller_id: of parent page
this allows you to edit displayed email on the parent when email is updated
Optional:
is_personal_email: if this boolean is true, this modal will work for the personal email NOT the work email

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="editEmailModal" style="display: inline-block;">

        <button class="btn fal fa-plus rounded-action-btn-30px ml-2" v-if="add_or_edit == 'Add'" @click="show_modal = !show_modal"></button>
        <button class="btn fal fa-pencil rounded-action-btn-30px ml-2" v-if="add_or_edit == 'Edit'" @click="show_modal = !show_modal"></button>

        <!--<button class="btn btn-sm btn-secondary word-wrap"-->
                <!--@click="show_modal = !show_modal">-->
            <!--{{ add_or_edit }} {{ is_personal_email ? 'Personal' : 'Work' }} Email-->
        <!--</button>-->


        <div :class="{'modal':true, 'is-active':show_modal}">

            <div class="modal-background"></div>

            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ add_or_edit }} {{ is_personal_email ? 'Personal' : 'Professional' }}
                        Email</p>
                    <button class="delete" @click.prevent="closeModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="form-group" v-if="add_or_edit == 'Edit'">
                        <label>Current Email:</label>

                        <input type="text"
                               name="email"
                               class="form-control"
                               v-model="email"
                               :disabled="true">
                    </div>

                    <div :class="{'form-group': true, 'has-error':emailErrors.has('email')}">
                        <label>Email:</label>

                        <input type="text"
                               name="email"
                               class="form-control"
                               v-model="submitted_email">

                        <span class="help-block" v-if="emailErrors.has('email')">{{ emailErrors.get('email') }}</span>
                    </div>


                </section>

                <footer class="modal-card-foot">
                    <button class="btn btn-success" @click.prevent="saveChanges">Save changes</button>
                    <button class="btn btn-danger ml-3" @click.prevent="revertChanges">Cancel</button>
                </footer>
            </div>


        </div>
    </div>

</template>

<script>
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        // boolean, remember
        props: ['caller_id', 'is_personal_email'],

        components: {},

        data() {
            return {
                show_modal: false,
                email: '',
                submitted_email: '',
                emailErrors: new Errors,

            };
        },

        created() {
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getUserEmail',
                'getUserPersonalEmail'
            ]),

            add_or_edit: function () {
                return Common.isEmpty(this.email) ? 'Add' : 'Edit';
            }


        },

        watch: {
            // email validation
            submitted_email: {
                handler: function (val) {

                    if (val.search(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/) == -1) {
                        this.emailErrors.add('email', ['Invalid Email']);
                    } else {
                        this.emailErrors.clear('email');
                    }
                }
            },

            is_personal_email: {
                handler: function (val) {
                    // if we are interested in the personal email
                    if (val) {
                        this.email = JSON.parse(JSON.stringify(this.getUserPersonalEmail));
                        this.submitted_email = this.email;
                    } else {
                        this.email = JSON.parse(JSON.stringify(this.getUserEmail));
                        this.submitted_email = this.email;
                    }
                },
                immediate: true,
            }
        },

        methods: {
            revertChanges() {
                this.closeModal();
                if (this.is_personal_email) {
                    this.email = JSON.parse(JSON.stringify(this.getUserPersonalEmail));
                    this.submitted_email = this.email;
                } else {
                    this.email = JSON.parse(JSON.stringify(this.getUserEmail));
                    this.submitted_email = this.email;
                }


            },

            saveChanges() {
                let url = this.is_personal_email ? '/updatePersonalEmail' : '/updateEmail';
                let setter = this.is_personal_email ? 'updateUserPersonalEmail' : 'updateUserEmail';


                axios.post(url, {email: this.submitted_email}).then(response => {
                        this.closeModal();
                        this.email = this.submitted_email;
                        Common.storeCommit(setter, this.submitted_email);
                    },
                    error => {
                        this.emailErrors.errors = error.response.data;
                    });
            },

            closeModal() {
                this.show_modal = false;
            },

        }
    };
</script>

<style lang="css">

</style>