/**
Requires:
    caller_id - from the parent page

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    When the parent submits a form and receives errors, this modal will pop open to alert them that the
    submission was bad:

    Parent submits form
    Parent receives errors object
    Parent fires event caller_id-errors-submitting
    This modal captures the event
    errors object on this modal is updated
    modal pops open

    To see an example of how its used look into the catch block of the saveProfile() method in CompanyProfile.vue


*/
<template lang="html">
    <div id="errorsModal">
        <div :class="{'modal':true, 'is-active':show_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Something went wrong...</p>
                    <button class="delete" aria-label="close" @click="show_modal = false"></button>
                </header>
                <section class="modal-card-body">
                    <p class="title">There were errors in your submission</p>
                    <div class="content">
                        <ol v-if="errors">
                            <li v-for="error in errors"> {{ error[0] }} </li>
                        </ol>
                    </div>
                    <strong v-if="errors">Please correct the errors and try again</strong>
                    <strong v-else>Please contact IT support.</strong>
                </section>
                <footer class="modal-card-foot">
                    <button class="btn" @click="show_modal = false">Close</button>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';

export default {

    props: ['caller_id'],

    components: {},

    data() {
        return{
            show_modal: false,
            errors: null,
        }
    },

    created() {
        Common.listen(this.caller_id + '-errors-submitting', this.showModal)
    },

    mounted() {
        EventBus.$on(this.caller_id + '-error', this.showModal);
    },

    destroyed() {
        EventBus.$off(this.caller_id + '-error', this.showModal);
    },

    watch: {

    },

    methods: {
        showModal(errors) {
            this.errors = errors;
            this.show_modal = true;
        }
    }
}
</script>

<style lang="css">

</style>