/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div :class="{'form-group': true, 'has-error': has_error }">
        <label v-if="label" :for="field_name" class="label">{{ label }}:</label>

        <input :type="getType" :id="field_name" :name="field_name" class="form-control"
               :value="value" :disabled="disabled" :placeholder="placeholder" @input="$emit('input', $event.target.value)">

        <span class="help-block"
              v-if="has_error">{{ get_error }}</span>
    </div>
</template>

<script>

    export default {

        props: ['value', 'type', 'field_name', 'label', 'has_error', 'get_error', 'disabled', 'placeholder'],

        data() {
            return {}
        },

        created() {

        },

        computed: {
            getType: function () {
                return Common.isEmpty(this.type) ? 'text' : this.type;
            }
        },

        methods: {}
    }

</script>

<style lang="css">

</style>