/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group">
        <label for="selected_fuel_year">Fuel Year</label>
        <select class="form-control form-control-sm" v-model="selected_fuel_year" id="selected_fuel_year">
            <option v-for="(value, key) in fuelYears" :value="value" :key="key">{{ value }}</option>
        </select>
    </div>
</template>

<script>
    export default {

        props: ['value'],

        components: {},

        data() {
            return{
                selected_fuel_year: null,
                fuelYears: [],
            }
        },

        created: function() {
            this.getFuelYears();
        },

        mounted() {

        },

        destroyed() {

        },

        watch: {
            selected_fuel_year: function (year) {
                this.$emit('input', year);
            },

            'value': {
                handler: function(val) {
                    this.selected_fuel_year = val;
                },
                immediate: true,
            }
        },

        methods: {
            getFuelYears: function () {
                let self = this;
                axios.get('/getFuelYears').then(function (response) {
                    self.fuelYears = response.data.fuelYears;
                });
            }
        }
    }
</script>

<style lang="css">

</style>
