/**
Requires:
    value - a v-model on this component from the parent. month id (1 through 12)

Optional:
    display - 'short' results in months displayed with abbreviations
    hide_default_option - removes the Select month... option
    year - the year for which you want fuel months

Getters:

Setters:

Listeners:

Emitters:

Notes:
    If a year is passed in, this component will display fuel months available for that year.
    If no year is passed in it simply displays months 1 through 12

    Do not change the v-models and the values. This component is used in many places as a straight
    month select for use with v-model as opposed to session. -Frank

*/

<template lang='html'>

    <div class="form-group" id="fuelMonthSelectPartial">

        <label for="fuelMonthSelect" v-if="!hide_label">Fuel Month</label>
        <select name="fuelMonthSelect" id="fuelMonthSelect" class="form-control form-control-sm"
                :value="value"
                @change="monthChanged($event.target.value)"
                :disabled="disabled">
            <option v-if="!hide_default_option" value="-1" :selected="value == -1">Select month...</option>
            <option v-for="month in months" :value="month.id"
                    :selected="value == month.id">
                <span v-if="display === 'short'">{{ month.short_name }}</span>
                <span v-else>{{ month.name }}</span>

            </option>

        </select>

    </div>

</template>

<script>

    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus"
    import Months from '../../models/Months';

    export default {

        props: ['value', 'year', 'display', 'hide_label', 'disabled', 'hide_default_option'],

        components: {moment},

        data() {
            return {
                months: null,
                allMonths: Months,
                current_year: moment().year(),
                current_month: moment().month() + 1,
            };
        },

        created() {
        },

        mounted() {
            this.getMonths();
        },

        computed: {
            ...mapGetters([
                'getSessionYear',
                'getSessionMonth'
            ])
        },

        watch: {
            year: function (val) {
                this.getMonths();
            }
        },

        methods: {
            monthChanged(val) {
                Common.storeCommit('updateSessionMonth', val);
                EventBus.$emit('month-changed');
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },

            getMonths() {
                if (this.year && this.current_year == this.year) {
                    this.months = this.allMonths.filter( month => month.id <= this.current_month);
                } else {
                    this.months = this.allMonths;
                }
            }

        },

    };
</script>

<style lang='css'>

</style>