/**
Requires:
    country_id
Optional:
    emit_object
    v-model

    IF emit_object is being used, caller_id IS REQUIRED

    emit_map_center will emit an object containing the average lat long for the state province selected. required state_province_id and caller_id
Getters:

Setters:

Listeners:

Emitters:
EventBus.$emit(this.caller_id + '-fuel-city-object', this.fuelCities[state_province][city]);
EventBus.$emit(this.caller_id + '-map-center-object', mapCenter);

Notes:

    This component is set to work with a classic v-model, or as a multi-select emitting fuelCity objects

    To use it as a multiple select, register a listener on the parent
        Common.listen(caller_id + '-fuel-city-object', yourFunction);
    Omit the v-model, but pass in the props emit_object = true and a country_id
*/
<template lang="html">
    <div class="form-group" id="fuelCitySelect">
        <label for="forFuelCitySelect" v-if="!hide_label">Fuel City</label>

        <select name="fuelCitySelect" class="form-control form-control-sm" :disabled="disabled"
                @change="updateFuelCity($event.target.value)" :value="value" id="forFuelCitySelect">

            <option value="-1" :selected="value == -1">Select a city</option>
            <optgroup v-for="(stateProvince, state_province_name, index) in fuelCities" :label="state_province_name">
                <option v-for="city in stateProvince" :value="city.id"
                        :selected="value == city.id">{{ city.name }}
                </option>
            </optgroup>
        </select>
    </div>
</template>

<script>

    import {EventBus} from "../../event-bus";
    export default {

        props: ['country_id', 'value', 'caller_id', 'hide_label', 'emit_object', 'state_province_id', 'emit_map_center', 'disabled'],

        components: {},

        data() {
            return{
                fuelCities: [],
                fuelCitiesCopy: [],
                selectedFuelCities: [],
            }
        },

        created() {


        },

        mounted() {
console.log("MOUNTED FUEL CITY");
        },

        destroyed() {

        },

        watch: {
            'country_id': {
                handler: function(val) {
                    if (val) {
                        this.getFuelCities(val);
                    }
                },
                immediate: true,
            },

            'state_province_id': {
                handler: function(val) {
                    if (val) {
                        this.filterByStateProvince();
                    }
                },
                immediate: true,
            }

        },

        methods: {

            getFuelCities(country_id) {
                axios.get('/getFuelCities/' + country_id).then( response => {
                    this.fuelCities = response.data.fuelCities;
                    this.fuelCitiesCopy = _.cloneDeep(this.fuelCities);
                    this.selectedFuelCities = [];
                })
            },

            updateFuelCity(val) {
                if (this.emit_object === true) {
                    for (const state_province in this.fuelCities) {
                        for (const city in this.fuelCities[state_province]) {
                            if (val == this.fuelCities[state_province][city].id) {
                                Common.fire(this.caller_id + '-fuel-city-object', this.fuelCities[state_province][city]);
                                EventBus.$emit(this.caller_id + '-fuel-city-object', this.fuelCities[state_province][city]);
                                return;
                            }
                        }
                    }
                }
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },

            filterByStateProvince() {
                for( let state_province in this.fuelCitiesCopy) {
                    if ( this.fuelCitiesCopy[state_province][0].state_province_id == this.state_province_id) {
                        this.fuelCities = {};
                        this.fuelCities[state_province] = _.cloneDeep(this.fuelCitiesCopy[state_province]);
                        if (this.emit_map_center) {
                            this.getMapCenter(state_province);
                        }
                        return;
                    }
                }
                this.fuelCities = _.cloneDeep(this.fuelCitiesCopy);
            },

            getMapCenter(state_province) {
                let mapCenter = {
                    lat: 37.0902,
                    lng: -95.7129
                };
                mapCenter.lat = this.fuelCities[state_province].reduce( function(sum, city) { return sum + parseFloat(city.latitude)}, 0) / this.fuelCities[state_province].length;
                mapCenter.lng = this.fuelCities[state_province].reduce( function(sum, city) { return sum + parseFloat(city.longitude)}, 0) / this.fuelCities[state_province].length;
                EventBus.$emit(this.caller_id + '-map-center-object', mapCenter);
            }

        }
    }
</script>

<style lang="css">

</style>