<template lang="html">
    <div class="form-group position-relative mb-1" id="fusionSearch">
        <label for="fusionSearchInput">{{ label }}</label>

        <input type="text"
               id="fusionSearchInput"
               class="form-control search-param-input pr-5"
               v-model="search_param"
               :placeholder="placeholder"
               @input="checkValue"
               @keydown.enter="commenceSearch"
               @keydown.esc="clearSearch">

        <span style="font-size: 12px;" class="float-right">ENTER to search - ESC to clear</span>

        <button v-if="search_param"
                class="btn search-param-button position-absolute p-0"
                @click="clearSearch">
            <i class="fas fa-times"></i>
        </button>

        <button v-if="!search_param"
                class="btn search-param-button search-icon position-absolute p-0">
            <i class="fas fa-search"></i>
        </button>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';

    export default {
        props: ['label', 'placeholder'],

        data() {
            return {
                search_param: ''
            };
        },

        methods: {
            commenceSearch() {
                if (!this.search_param) return;
                EventBus.$emit('fusion-search', this.search_param); // emit value
            },
            clearSearch() {
                this.search_param = ''; // reset search
                EventBus.$emit('fusion-search', this.search_param); // emit value
            },
            checkValue() {
                if (this.search_param === '') {
                    this.clearSearch();
                }
            },
        },
    }
</script>

<style lang="scss">
    #fusionSearchInput::placeholder {
        color: #ced4da;
    }
    #fusionSearch {
        .search-param-button {
            top: 36px;
            height: 32px;
            right: 3px;
            width: 32px;
        }
        .search-icon {
            background-color: transparent !important;
            color: #ced4da;

            &:hover {
                cursor: default !important;
            }

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
</style>