<template lang="html">
    <div id="fusionCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div v-if="items" :class="{ 'carousel-item': true, 'active': index === 1 }" v-for="(item, index) in items">
                <slot :item="item">
                    <!--Custom Content-->
                </slot>
            </div>
        </div>

        <a class="carousel-control-prev btn btn-sm btn-primary" style="width: fit-content;" href="#fusionCarouselControls" role="button" data-slide="prev"
           @click.prevent="previousSlide">
            <span style="color: #000;">
                <i class="fa fa-arrow-left"></i>
            </span>
        </a>

        <a class="carousel-control-next btn btn-sm btn-primary" style="width: fit-content;" href="#fusionCarouselControls" role="button" data-slide="next"
           @click.prevent="nextSlide">
            <span style="color: #000;">
                <i class="fa fa-arrow-right"></i>
            </span>
        </a>
    </div>
</template>

<script>
    // imports here

    export default {
        props: ['items', 'caller_id'], // props

        components: {

        }, // components

        data() {
            return {
                carousel: null
            };
        }, // data

        mounted() {
            this.carousel = document.getElementById('fusionCarousel');
            $(this.carousel).carousel({ interval: 0 });
        }, // mounted

        computed: {

        }, // computed

        watch: {

        }, // watch

        methods: {
            previousSlide: function() {
                $(this.carousel).carousel('prev');
                Common.fire(this.caller_id + '-previous-item');
            },

            nextSlide: function() {
                $(this.carousel).carousel('next');
                Common.fire(this.caller_id + '-next-item');
            },
        }, // methods
    }
</script>

<style>

</style>