<template lang='html'>

    <div class="form-group" id="last12MonthsSelectionPartial">

        <label v-show="!hide_label">Date Last Used:</label>
        <select name="yearSelect" id="yearSelect" class="form-control" @change="updateDate"
                v-model="selected_year_month" :disabled="disabled">
            <option value="-1" :selected="year_id == -1">{{ default_option_text }}</option>
            <option v-for="date in dateSelection" :value="year"
                    :selected="selected_year_month == date">
                <span>{{ year }}</span>
            </option>
        </select>

    </div>


</template>

<script>
    export default {

        props: ['initial_year_month', 'direction', 'disabled', 'hide_label'],

        data() {
            return {
                dateSelection: [],
                selected_year_month: ''
            }
        },

        created(){
            this.initializeDateSelection();
            this.selected_year_month = this.initial_year_month;
        },

        methods: {
            initializeDateSelection(){
                var myDate = new Date();
                myDate.setDate(28);
                var Months = [null,'Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Nov','Dec'];
                var YYYYMM = [];
                var strDate = myDate.toISOString();
                YYYYMM[strDate.slice(0,7)] = strDate.slice(0,7);
                for( var i=1; i<12; i++ ) {
                    myDate.setMonth(myDate.getMonth()-1);
                    strDate = myDate.toISOString();
                    YYYYMM[strDate.slice(0,7)] = strDate.slice(0,4) + ' ' + parseInt(strDate.slice(5,7));
                }

                this.dateSelection = YYYYMM;
            },

            updateDate(){
                Event.fire('YYYY-MM-changed',this.selected_year_month);
            }
        }
    }
</script>

<style lang='css'>

</style>