/**
Requires:
an insuranceReview object from the parent

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="licenseReviewStatus">

        <div class="row">
            <div class="col-6">
                <div class="position-relative">
                    <button :class="button_class" @mouseover="alert_active = true"
                            @mouseleave="alert_active = false"
                            style="height: 42px; width: 42px; border-radius: 50%;">
                        <i :class="icon_class" style="vertical-align: unset"></i>
                    </button>
                </div>

                <transition name="fade5s">
                    <div v-if="alert_active" :class="alert_class" class="mb-0 mt-2 position-absolute" role="alert"
                         style="max-width: 320px; z-index: 10; word-wrap: break-word;">
                        {{ approval_status }}
                    </div>
                </transition>
            </div>
            <div class="col-6">
                <button v-if="licenseReview" class="btn btn-primary" @click="linkToLicenseApprovals()">
                    Link to License Page
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {
        props: ['licenseReview'],

        components: {},

        data() {
            return {
                button_class:  null,
                icon_class: null,
                alert_class: null,
                approval_status: null,
                alert_active: false,
            };
        },

        created() {

        },

        mounted() {
        },

        computed: {
        },

        watch: {
            'vehicleProfileApproval': {
                handler: function(m) {
                    // calculate the style options
                    this.selectClass();
                },
                deep: true,
                immediate: true,
            }

        },

        methods: {
            selectClass() {
                if ( Common.isEmpty(this.licenseReview) ) {
                    this.button_class = 'btn p-0 btn-warning';
                    this.icon_class = 'fas fa-exclamation-triangle';
                    this.alert_class = 'alert alert-warning';
                    this.approval_status = 'No license documents have been submitted';
                } else if (this.licenseReview.approved == 1) {
                    this.button_class = 'btn p-0 btn-success';
                    this.icon_class = 'fas fa-check';
                    this.alert_class = 'alert alert-success';
                    this.approval_status = 'Approved';
                } else if (this.licenseReview.approved == 0) {
                    this.button_class = 'btn p-0 btn-danger';
                    this.icon_class = 'fas fa-times';
                    this.alert_class = 'alert alert-danger';
                    this.approval_status = 'Rejected ' + this.insuranceReview.comment;
                } else if (this.licenseReview.approved == null) {
                    this.button_class = 'btn p-0 btn-secondary';
                    this.icon_class = 'fas fa-clock';
                    this.alert_class = 'alert alert-info';
                    this.approval_status = 'Awaiting Approval';
                }
            },

            linkToLicenseApprovals() {
                Common.setView('licenseApproval')
            }
        }
    };
</script>

<style lang="css">

</style>