/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="loadingPartial" class="text-center">
        <hollow-dots-spinner
                :animation-duration="1500"
                :size="60"
                :color="'#052460'"
                class="m-auto"
        />
        <br>
        <span v-if="caption_text" style="color:#052460">
            {{ caption_text }}
        </span>
    </div>
</template>

<script>
    /** imports */
    import {HollowDotsSpinner} from 'epic-spinners';

    export default {

        props: ['caption_text'],

        components: {HollowDotsSpinner},

        data() {
            return {

            };
        },

        created() {
        },

        mounted() {

        },

        computed: {

        },

        watch: {

        },

        methods: {}
    };
</script>

<style lang="css">
    #loadingPartial {

    }
    /*#loadingPartial {
        height: 135px;
        width: 195px;
        margin-left: auto;
        margin-right: auto;
        background-image: url('/images/loading_icon.gif');
        background-size: contain;
        background-repeat: no-repeat;
    }*/
</style>