/**
Requires
session_company_id

Emits
selected manager id

Sets
selected manager id in session

Only makes call for managers on load and if company changes.
**/
<template lang="html">
    <div class="form-group" id="managerSelectPartial">

        <label v-if="!hide_label">Managers
            <small>{{ managers_count }}</small>
        </label>

        <!-- include inactive toggle -->


        <select v-if="allow_all_none" name="managerSelect" id="managerSelect"
                :value="getSessionManagerId"
                @change="managerChanged($event.target.value)" :class="{'form-control': true, 'active': active_class}">
            <!-- <option value="-3" :selected="value == -3">None</option> -->
            <!-- TODO: activate when we decide to use None -->
            <option value="-1" :selected="getSessionManagerId == -1">{{ default_select_option }}</option>
            <option value="-2" :selected="getSessionManagerId == -2">All</option>
            <option v-for="manager in managers"
                    v-if="showInactive(manager.deleted_at)"
                    :value="manager.id"
                    :selected="getSessionManagerId == manager.id"
                    :class="{'inactive-manager': manager.deleted_at}">{{ manager.last_name + ', ' + manager.first_name
                }}
            </option>
        </select>

        <select v-else name="managerSelect" id="managerSelect"
                :value="getSessionManagerId"
                @change="managerChanged($event.target.value)" :class="{'form-control': true, 'active': active_class}">
            <option value="-1" :selected="getSessionManagerId == -1">{{ default_select_option }}</option>
            <option v-for="manager in managers"
                    v-if="showInactive(manager.deleted_at)"
                    :value="manager.id"
                    :selected="getSessionManagerId == manager.id"
                    :class="{'inactive-manager': manager.deleted_at}">{{ manager.last_name + ', ' + manager.first_name
                }}
            </option>
        </select>

        <span class="float-right inactive-select-check" v-if="!hide_inactive">
            <input type="checkbox"
                   v-model="include_inactive_managers"
                   @change="updateManagersCount">&nbsp;&nbsp;<span class="inactive-check-label">Include inactive</span></span>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [
            'value', 'caller_id', 'hide_label', 'active_class',
            'allow_all_none', 'set_session', 'emit_object', 'hide_inactive', 'from_session'
        ],

        data() {
            return {
                managers: [],
                manager: {id: -1, first_name: '', last_name: '', deleted_at: false},
                include_inactive_managers: true,
                managers_count: 0
            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('company-changed', () => {
                this.getManagers();
            });

            this.getManagers();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionManagerId',
                'getImpersonatorId',
                'getUserId',
                'getView',
                'getActiveRole'
            ]),

            default_select_option: function () {
                return this.getSessionCompanyId < 0 ? 'You must select a company' : 'Select a manager';
            }
        },

        methods: {
            getManagers() {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getManagers/' + this.getSessionCompanyId + '/' + this.from_session).then(response => {
                        this.managers = response.data.managers;
                        this.managers_count = this.managersCount();
                    });
                } else {
                    this.managers = [];
                    this.managers_count = 0;
                }

                this.managerChanged(-1);
            },

            managerChanged(val) {
                Common.storeCommit('updateSessionManagerId', val);
                EventBus.$emit('manager-changed');

                if (this.getImpersonatorId > 0 && val > 0) {
                    // already impersonating, now switch to this manager
                    Common.storeCommit('updateSessionRole', 'manager');
                    let manager = this.managers.find(m => m.id == val);

                    console.log('uid mapped: ' + manager.user_id);
                    axios.post('/linkToUser', {
                        current_user_id: this.getUserId,
                        target_user_id: manager.user_id,
                        current_active_role: this.getActiveRole,
                        current_page: this.getView,
                        target_active_role: 'manager',
                        from_session: this.from_session
                    }).then(response => {
                        window.location = '/';
                    });
                    return;
                }

                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-manager', this.managers.find(manager => manager.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let manager = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-manager', manager);
                        EventBus.$emit(this.caller_id + '-all-managers-array', this.managers);
                    }
                }

            },

            showInactive(deleted_at) {
                if (this.include_inactive_managers) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },

            managersCount() {
                if (this.include_inactive_managers) {
                    return this.managers.length;
                }

                var countArray = this.managers.filter(function (manager) {
                    return manager.deleted_at === null;
                });
                return countArray.length;
            },

            updateManagersCount() {
                this.managers_count = this.managersCount();
            }
        }
    };
</script>

<style lang="css">
    #managerSelectPartial select.active {
        border: .2rem solid darkgreen;
    }

    #managerSelectPartial select option.inactive-manager {
        color: red;
    }
</style>