/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="managerSelectNoSession">
        <label v-if="!hide_label" for="managerSelect">Managers
            <small>{{ managers_count }}</small>
        </label>

        <!-- include inactive toggle -->


        <select name="managerSelect" id="managerSelect"
                :value="value"
                :disabled="disabled"
                title="Select managers to assign. Note that managers assigned to all drivers are disabled, and cannot be double assigned."
                @change="managerChanged($event.target.value)" class="form-control">
            <option value="-1" :selected="value == -1">Select a manager</option>
            <option v-if="allow_all" value="-2" :selected="value == -2">All</option>
            <option v-for="manager in managers"
                    v-if="showInactive(manager.deleted_at)"
                    :value="manager.manager_id"
                    :selected="value == manager.manager_id"
                    :class="{'inactive-manager': manager.deleted_at}"
                    :disabled="manager.assigned_drivers == 'all'">
                {{ manager.last_name + ', ' + manager.first_name }}
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['value', 'caller_id', 'allow_all', 'emit_object', 'hide_label', 'disabled'],

        components: {},

        data() {
            return {
                managers: [],
                manager: {manager_id: -1, first_name: '', last_name: '', deleted_at: false},
                include_inactive_managers: true,
                managers_count: 0
            };
        },

        created() {

        },

        mounted() {
            this.getManagers();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ])
        },

        watch: {

        },

        methods: {
            getManagers() {
                if (this.getSessionCompanyId > 0) {
                    axios.get('/getManagers/' + this.getSessionCompanyId).then(response => {
                        this.managers = response.data.managers;
                        this.managers_count = this.managersCount();
                    });
                } else {
                    this.managers = [];
                    this.managers_count = 0;
                }

                this.managerChanged(-1);
            },

            managerChanged(val) {

                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-manager', this.managers.find(manager => manager.manager_id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let manager = {manager_id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-manager', manager);
                        EventBus.$emit(this.caller_id + '-all-managers-array', this.managers);
                    }
                } else {
                    this.$emit('input', val); // do not remove, this connects v-model in forms
                }

            },

            showInactive(deleted_at) {
                if (this.include_inactive_managers) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },

            managersCount() {
                if (this.include_inactive_managers) {
                    return this.managers.length;
                }

                var countArray = this.managers.filter(function (manager) {
                    return manager.deleted_at === null;
                });
                return countArray.length;
            },

            updateManagersCount() {
                this.managers_count = this.managersCount();
            }
        }
    };
</script>

<style lang="css">
    #managerSelectNoSession select.active {
        border: .2rem solid darkgreen;
    }

    #managerSelectNoSession select option.inactive-manager {
        color: red;
    }
</style>