/**
Requires:
    caller_id

Optional:

Getters:
    getMileageBands

Setters:
    mileage_band_id

Listeners:

Emitters:
    mileage-band-changed

Notes:

*/
<template lang="html">
    <div class="form-group" id="mileageBandPartial">
        <label v-if="!hide_label">Mileage Band:</label>
        <select name="mileageBandSelect" class="form-control form-control-sm"
                @change="mileageBandChanged($event.target.value)" :value="value" :disabled="disabled">
            <option value="-1" :selected="value == -1" disabled>Select mileage band</option>
            <option v-for="band in mileageBands" :value="band.id"
                    :selected="value == band.id">{{ mileageBandName(band) }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'value', 'initial_id', 'hide_label', 'disabled'],

        data() {
            return {
                mileageBands: null,
                mileage_band_id: -1
            }
        },

        created() {
            axios.get('/getMileageBands').then(response => {
                this.mileageBands = response.data.mileageBands;
                if (this.initial_id) {
                    this.mileage_band_id = this.initial_id;
                    this.mileageBandChanged(this.mileage_band_id);
                }
            });
        },

        methods: {
            mileageBandName(band) {
                if (band.mileage_end == 0) {
                    return band.mileage_start + '+';
                } else {
                    return band.mileage_start + ' - ' + band.mileage_end;
                }
            },

            mileageBandChanged(val) {
                let myVal = !Common.isEmpty(val) ? val : this.value;
                this.$emit('input', myVal);
            }
        }
    }
</script>

<style lang="css">

</style>