<template lang="html">
    <div id="mileageEntrySelectPartial" class="form-group">

        <label :class="{'hidden':hideLabel}">Mileage Entry:</label>

        <select name="mileageEntrySelect" id="mileageEntrySelect" class="form-control"
                :value="value"
                @change="$emit('input', $event.target.value)"
                :disabled="disabled">
            <option value="-1" :selected="value == -1">Select entry method...</option>
            <option v-for="entry in mileage_entries" :value="entry.name"
                    :selected="value == entry.name">{{ entry.name }}</option>

        </select>

    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'hideLabel', 'value', 'disabled'],

        data() {
            return {
                entry_id: -1,
                mileage_entries: null
            }
        },

        created() {
            axios.get('/getCompanyMileageEntryValues').then(response => {
                this.mileage_entries = response.data.mileage_entries;
            });
        },

        methods: {

        }
    }
</script>

<style lang="css">
#mileageEntrySelectPartial .hidden {
    display: none;
}
</style>