/**
Requires:
    All props:
        - caller_id - for event to open and close
        - id - also for event to open and close
        - title - title of the modal
        - body - whatever body you want to render
        - style - dunno what to do with this, maybe we have different classes used based on style?
Optional:

Getters:

Setters:

Listeners:
    EventBus.$on(this.caller_id + '-show-modal-' + this.id, this.showModal);

Emitters:



Notes:

*/
<template lang="html">
    <!--<div :id="modal_id" :class="{'modal': true, 'is-active': show_modal}">-->
    <div :class="{'modal': true, 'is-active': show_modal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title mb-0">{{ title }}</p>
                <button class="delete" @click="closeModal()"></button>
            </header>
            <section class="modal-card-body">
                {{ body }}
            </section>
            <footer class="modal-card-foot d-block">
                <button class="btn btn-danger float-left" @click="closeModal()">Cancel</button>
                <button class="btn btn-primary float-right" @click="modalAction()">Submit</button>
            </footer>
        </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id', 'modal_id', 'title', 'body', 'modal_class'],

        components: {},

        data() {
            return {
                show_modal: false,
                // modal_action: false,
                modal_status: { 'modal_id': null, 'modal_action': false },
            };
        },

        created() {

        },

        mounted() {
            // console.log('listening: ',this.caller_id + '-show-modal')
            // EventBus.$on(this.caller_id + '-show-modal-' + this.modal_id, this.showModal);
            EventBus.$on(this.caller_id + '-show-modal', this.showModal);
        },

        beforeDestroy() {
            // EventBus.$off(this.caller_id + '-show-modal-' + this.modal_id, this.showModal);
            EventBus.$off(this.caller_id + '-show-modal', this.showModal);
        },

        computed: {
            ...mapGetters([

            ])
        },

        watch: {

        },

        methods: {
            showModal() {

                 console.log('body: ',this.body);
                this.show_modal = true;
                this.modal_status.modal_action = false;
            },

            closeModal() {
                this.show_modal = false;
                this.modal_status.modal_id = this.modal_id;
                EventBus.$emit(this.caller_id + '-modal-closed', this.modal_status);
            },

            modalAction() {
                this.show_modal = false;
                this.modal_status.modal_id = this.modal_id;
                this.modal_status.modal_action = true;
                EventBus.$emit(this.caller_id + '-modal-closed', this.modal_status);
            },
        }
    };
</script>

<style lang="css">

</style>