/**
Requires:
selected_month, caller_id

Optional:
display, hide_label, selected_year, disabled_future_months

Getters:

Setters:

Listeners:

selected_month
selected_year

Emitters:

month-changed

Notes:

To disable future months pass in disabled_future_months = true, and selected_year as props

*/

<template lang='html'>

    <div class="form-group" id="monthSelectionPartial">

        <label v-if="!hide_label">Month:</label>

        <select name="monthSelect" id="monthSelect" class="form-control"
                :value="getSessionMonth"
                @change="monthChanged($event.target.value)"
                :disabled="disabled">
            <option value="-1" :selected="getSessionMonth == -1" disabled>Select month...</option>
            <option v-for="month in months" :value="month.id"
                    :selected="getSessionMonth == month['id']">
                <span v-if="display === 'short'">{{ month.short_name }}</span>
                <span v-else>{{ month.name }}</span>

            </option>

        </select>

    </div>

</template>

<script>

    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus"
    import Months from '../../models/Months';

    export default {

        props: ['display', 'hide_label', 'caller_id', 'disabled_future_months', 'disabled_present_month', 'session_override_value', 'disabled'],

        components: {moment},

        data() {
            return {
                months: null,
                allMonths: Months,
                current_year: moment().year(),
                current_month: moment().month() + 1,
            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('year-changed', () => {
                this.getMonths();
            });
console.log("getSessionMonth",this.getSessionMonth );
            if (Common.isEmpty(this.getSessionMonth)) {
                Common.storeCommit('updateSessionMonth', moment().month() + 1);
                EventBus.$emit('month-changed');
            }else{
                Common.storeCommit('updateSessionMonth', moment().month());
            }
            this.getMonths();
        },

        computed: {
            ...mapGetters([
                'getSessionYear',
                'getSessionMonth'
            ])
        },

        watch: {
            selected_year: function (val) {
                this.getMonths();
            },
            getSessionMonth: function (val) {
               console.log("new value for month", val);
            },
        },

        methods: {
            monthChanged(val) {
                Common.storeCommit('updateSessionMonth', val);
                EventBus.$emit('month-changed');
            },

            getMonths() {
                if (this.current_year == this.getSessionYear && this.disabled_future_months && !this.disabled_present_month) {
                    this.months = this.allMonths.filter( month => month.id <= this.current_month);

                } else if (this.current_year == this.getSessionYear && this.disabled_future_months && this.disabled_present_month) {
                    this.months = this.allMonths.filter( month => month.id < this.current_month);
                } else {
                    this.months = this.allMonths;
                }
                // TODO: note this was changed to speed things up, month kept populating late for me
//                    axios.get('/getMonths/' + this.disabled_future_months + '/' + this.disabled_present_month).then(response => {
//                        this.months = response.data.months;
//                    });
//                } else {
//                    axios.get('/getMonths').then(response => {
//                        this.months = response.data.months;
//                    });
//                }

            }

        },

    };
</script>

<style lang='css'>

</style>