/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="notesWidget">
        <div id="myNotesNav" :class="{'sidenav':true, 'expanded':expanded}">
            <a href="javascript:void(0)" class="closebtn" @click.prevent="closeNav"><span
                    class="fa fa-angle-double-left"></span></a>
            <a @click.prevent="showAddNote">Add Note</a>
            <a @click.prevent="showMyNotes">Show My Notes</a>
        </div>

        <!-- Use any element to open the sidenav -->
        <button @click="openNav" id="openNavButton" class="btn btn-primary"><span class="fa fa-commenting-o"></span></button>

        <!--<add-note-modal :user_id="user_id" :caller_id="caller_id"></add-note-modal>-->
    </div>
</template>

<script>

    //import AddNoteModal from './AddNoteModal.vue';

    export default {

       // components: { AddNoteModal },

        props: ['user_id'],

        data() {
            return {
                caller_id: 'NotesWidget',
                expanded: false
            }
        },

        methods: {
            openNav() {
                this.expanded = true;
            },

            closeNav() {
                this.expanded = false;
            },

            showAddNote() {
                Common.fire('show-add-note', this.caller_id);
                this.closeNav();
            },

            showMyNotes() {
               // console.log('showing notes');
            }
        }
    }

</script>

<style lang="css">
    /* The side navigation menu */
    #notesWidget #myNotesNav {
        width: 0;
        z-index: 101;
    }

    #notesWidget #myNotesNav.expanded {
        width: 250px;
    }

    #notesWidget #openNavButton {
        position: fixed;
        left: 0;
        top: 10rem;
    }

    #notesWidget .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 2rem;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    #notesWidget .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    #notesWidget .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    #notesWidget .sidenav .closebtn {
        position: absolute;
        top: 45px;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #notesWidget #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        #notesWidget .sidenav {
            padding-top: 15px;
        }

        #notesWidget .sidenav a {
            font-size: 18px;
        }
    }
</style>