<template lang="html">
    <div id="noteCategorySelectPartial" class="form-group">

        <label>Note Category</label>

        <select name="noteCategorySelect" id="noteCategorySelect" class="form-control"
                :value="value"
                @change="categoryChanged($event.target.value)">
            <option disabled
                    value="-1"
                    :selected="value == -1">Select category...
            </option>
            <option v-for="category in noteCategories"
                    :value="category.id"
                    :selected="category.id == value">
                <span>{{ category.title }}</span>
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'value', 'refresh'],

        data() {
            return {
                noteCategories: null
            }
        },

        watch: {
            refresh: function (val) {
                this.getNoteCategories();
            }
        },

        created() {
            this.getNoteCategories();
        },

        methods: {

            getNoteCategories() {
                axios.get('/getNoteCategories').then(response => {
                    this.noteCategories = response.data.note_categories;
                });
            },

            categoryChanged(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
            }
        }
    }
</script>

<style lang="css">

</style>