/**
Requires:
notification - a notification object passed in from the parent.
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="sendNotificationModal" :class="{'modal': true, 'is-active': show_send_modal == true}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Send Notification</p>
                <button class="delete" @click="closeSendModal()"></button>
            </header>
            <section class="modal-card-body">

                <section class="nav-buttons">
                    <button v-if="step == 1" @click="step ++"
                            class="btn btn-secondary float-right" :disabled="step == 2 || recipient_type < 1 || sent || sending">Next</button>
                    <button v-if="step == 2" @click="step--" class="btn btn-secondary float-left" :disabled="step == 1">Back</button>
                </section>

                <section class="instructions">

                    <p class="title">{{ display_instructions }}</p>

                </section>

                <!--SELECT USER TYPE-->
                <section v-if="step == 1" class="step-1">

                    <div class="row">

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" :selected="recipient_type == 1"
                                       type="radio" value="1" id="driver" v-model="recipient_type">
                                <label class="form-check-label" for="driver">
                                    Driver
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" :selected="recipient_type == 2"
                                       type="radio" value="2" id="manager" v-model="recipient_type">
                                <label class="form-check-label" for="manager">
                                    Manager
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" :selected="recipient_type == 3"
                                       type="radio" value="3" id="administrator" v-model="recipient_type">
                                <label class="form-check-label" for="administrator">
                                    Administrator
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" :selected="recipient_type == 4"
                                       type="radio" value="4" id="super" v-model="recipient_type">
                                <label class="form-check-label" for="super">
                                    Super
                                </label>
                            </div>
                        </div>

                        <div class="col">
                            <div :class="{'form-group': true, 'has-error': notification.errors.has('note')}">
                                <label>Note</label>
                                <textarea placeholder="Add a custom note to this notification" class="form-control"
                                          v-model="notification.note">
                                    </textarea>
                                <span class="help-block" v-if="notification.errors.has('note')">{{ notification.errors.get('note') }}</span>
                            </div>

                        </div>

                    </div>



                </section>

                <!--SELECT USERS-->
                <section v-if="step == 2" class="step-2">

                    <!--SENDING TO A SINGLE USER-->
                    <section v-if="recipient_group == 1">
                        <label class="label" for="searchParameter">Search for User (name, email, or username)</label>
                        <input type="text" id="searchParameter" name="searchParameter" class="form-control"
                               v-model="search_parameter">
                    </section>

                    <!--SENDING TO MANY USERS-->
                    <section v-else>
                        <div class="row">
                            <div v-if="recipient_type != 4" class="col">
                                <company-select/>
                            </div>
                            <div class="col">
                                <driver-select v-if="recipient_type == 1"
                                               :allow_all_none="true"
                                               :hide_inactive="true"
                                               :emit_object="true"
                                               :caller_id="my_caller_id"/>
                                <manager-select v-if="recipient_type == 2"
                                                :allow_all_none="true"
                                                :hide_inactive="true"
                                                :emit_object="true"
                                                :caller_id="my_caller_id"/>
                                <administrator-select v-if="recipient_type == 3"
                                                      :hide_inactive="true"
                                                      :allow_all_none="true"
                                                      :emit_object="true"
                                                      :caller_id="my_caller_id"/>
                                <super-select v-if="recipient_type == 4"
                                              :hide_inactive="true"
                                              :allow_all_none="true"
                                              :emit_object="true"
                                              :caller_id="my_caller_id"/>
                            </div>
                        </div>
                    </section>

                    <label class="label">Recipients</label>
                    <button class="btn float-right" @click="clearRecipients" style="margin: 1rem;">Remove All</button>

                    <div class="box">
                        <span v-for="recipient in selectedRecipients" class="tag btn-secondary">
                            {{ recipient.last_name }}, {{ recipient.first_name }}
                            <button class="delete is-small" @click.prevent="removeRecipient(recipient.id)"></button>
                        </span>
                    </div>

                </section>


            </section>
            <footer class="modal-card-foot">
                <button class="btn btn-success" @click="sendNotification()" :disabled="send_disabled">Send</button>
                <button class="btn" @click.prevent="closeSendModal()">Cancel</button>

                <h2 v-if="sending"> sending... debug</h2>
                <h2 v-if="sent">sent success... debug</h2>
            </footer>
        </div>
    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {CompanySelect, DriverSelect, ManagerSelect, AdministratorSelect, SuperSelect} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['notification'],

        components: {CompanySelect, DriverSelect, ManagerSelect, AdministratorSelect, SuperSelect},

        data() {
            return {
                my_caller_id: 'NotificationSendModal',
                show_send_modal: false,

                step: 1,

                // 1 = single user, 2 = many users
                recipient_group: -1,

                // 1 = driver, 2 = manager, 3 = administrator, 4 = super
                recipient_type: -1,

                search_parameter: '',

                selectedRecipients: [],

                sending: false,
                sent: false,

            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('show-send-notification-modal', () => { this.show_send_modal = true; });

            // driver events
            EventBus.$on(this.my_caller_id + '-full-driver', (driver) => { this.addRecipient(driver) });
            EventBus.$on(this.my_caller_id + '-all-drivers-array', (drivers) => { this.addManyRecipients(drivers) } );

            // manager events
            EventBus.$on(this.my_caller_id + '-full-manager', (manager) => { this.addRecipient(manager) });
            EventBus.$on(this.my_caller_id + '-all-managers-array', (managers) => { this.addManyRecipients(managers) } );

            // admin events
            EventBus.$on(this.my_caller_id + '-full-administrator', (administrator) => { this.addRecipient(administrator) });
            EventBus.$on(this.my_caller_id + '-all-administrators-array', (administrators) => { this.addManyRecipients(administrators) } );

            // super events
            EventBus.$on(this.my_caller_id + '-full-super', (superUser) => { this.addRecipient(superUser) });
            EventBus.$on(this.my_caller_id + '-all-supers-array', (superUsers) => { this.addManyRecipients(superUsers) } );
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getSessionDivisionId',
                'getSessionDivisionName',
                'getSessionDriverId',
            ]),

            send_disabled() {
                return this.selectedRecipients.length == 0 || this.sent || this.sending;
            },

            display_recipient_group() {
                if (this.recipient_group == 1) {
                    return 'Single User';
                } else if (this.recipient_group == 2) {
                    return 'Many Users';
                } else {
                    return '-';
                }
            },

            display_recipient_type() {

                if (this.recipient_type == 1) {
                    return 'driver';
                } else if (this.recipient_type == 2) {
                    return 'manager';
                } else if (this.recipient_type == 3) {
                    return 'administrator';
                } else if (this.recipient_type == 4) {
                    return 'super';
                } else {
                    return '-';
                }
            },

            display_instructions() {
                switch(this.step) {
                    case 1:
                        return 'Select User Type';
                    case 2:
                        return 'Select ' + (this.display_recipient_type[0].toUpperCase() + this.display_recipient_type.slice(1)) + ( this.recipient_group == 1 ? '' : 's');
                }
            },


            list_of_recipients() {
                let company_selected = this.getSessionCompanyId > 0;
                let division_selected = this.getSessionDivisionId > 0;
                let driver_selected = this.getSessionDriverId > 0;

                if (!company_selected) {
                    return "You haven't selected any drivers to send notifications to";
                } else if (company_selected && !division_selected && !driver_selected) {
                    return "You have selected all drivers for " + this.getSessionCompanyName;
                } else if (company_selected && division_selected && !driver_selected) {
                    return "You have selected all drivers for " + this.getSessionCompanyName + " in the " + this.getSessionDivisionName + ' division';
                } else if (driver_selected) {
                    return "You have selected driver " + this.getSessionDriverId;
                }
            },
        },

        watch: {
            'notification.note': {
                handler: function(val) {
                    if (!val) { return }
                    if ( val.length > 50 ) {
                        this.notification.errors.add('note', ['Notes can have a maximum of 50 characters']);
                    } else {
                        this.notification.errors.clear('note');
                    }
                },
                deep: true,
            }
        },

        methods: {

            closeSendModal() {
                this.show_send_modal = false;
                this.step = 1;
                this.recipient_type = -1;
                this.recipient_group = -1;
                this.search_parameter = '';
                this.selectedRecipients = [];
            },

            addManyRecipients(allRecipients) {
                this.selectedRecipients = allRecipients.filter( r => Common.isEmpty( r.deleted_at ) );
            },

            addRecipient(recipient) {
                // check if the recipient is already selected
                for (let r in this.selectedRecipients) {
                    if (this.selectedRecipients[r].id == recipient.id) {
                        return;
                    }
                }

                this.selectedRecipients.push(recipient);
            },

            removeRecipient(id) {
                for ( let r in this.selectedRecipients ) {
                    if (this.selectedRecipients[r].id == id) {
                        this.selectedRecipients.splice(r,1);
                    }
                }
            },

            clearRecipients() {
                this.selectedRecipients = [];
            },

            sendNotification() {
                this.sending = true;
                axios.post('/sendNotificationFromNotificationsView', {
                    notification: this.notification,
                    // send in only the user_ids (if user_id is not present, send in id which will be user_id)
                    recipients: this.selectedRecipients.map( r => Common.isEmpty(r.user_id) ? r.id : r.user_id)
                }).then( response => {
                    console.log(response.data);
                    this.sent = true;
                    this.sending = false;
                }).catch( errors => {

                    this.sent = false;
                    this.sending = false;

                });

            },
        },
    }

</script>

<style lang="css">

    #sendNotificationModal .selected-options .col {
        float: none;
        margin: 0 auto;
    }

    #sendNotificationModal .nav-buttons {
        margin: 1rem;
    }

</style>