/**
Requires:
    notification: notification object with included pivot object
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">

    <div v-if="notification != null" id="notificationDropdownItem">
        <div class="row m-0 pt-2">
            <div class="col">
                <strong>Title:</strong>
                {{ notification.title }}
            </div>
        </div>

        <div class="row m-0 pt-2 pb-2">

            <div class="col-sm-4" v-show="notification.icon">
                <span v-if="notification.icon == null"> No Img</span>
                <!--TODO: have this icon fill the area-->
                <i v-else :class="notification.icon" style=""></i>
            </div>

            <div :class="[ notification.icon ? 'col-sm-8' : 'col-sm-12' ]">

                <strong>Content:</strong>
                <br>
                {{ notification.content }}

                <section v-if="viewInfo != null && viewInfo != {}">

                    <button class="btn btn-secondary btn-sm mt-1 float-right"
                            @click="switchPage()">
                        {{ viewInfo.button_title }}
                    </button>

                </section>

            </div>

        </div>
    </div>

    <div v-else>
        <button class="btn is-loading"></button>
    </div>

</template>

<script>
export default {

    props: ['notification'],

    components: {},

    data() {
        return{
            viewInfo: null,

        }
    },

    created() {

    },

    mounted() {

    },

    destroyed() {

    },

    watch: {
        'notification': {
            handler: function(n) {
                this.viewInfo = JSON.parse(n.link);
            },
            immediate: true,
        }
    },


    methods: {
        switchPage() {
            // set the view, alert the breadcrumbs, set session and hide the dropdown
            Common.setView(this.viewInfo.page, this.viewInfo.subpage);
            
            // once to hide it, once to bring it back
            $('#notification-menu').toggle();
        }

    }
}
</script>

<style lang="css">
    #notificationDropdownItem {
        padding: 5px;
        border-bottom: 1px solid lightgrey;
    }
</style>