/**
Requires:
        Nada!
Optional:

Getters:
    getNotifications - no params
Setters:
    markAllNotificationsRead - no params
Listeners:
    'notifications-dropdown-closed' - triggers function markAllRead

Emitters:
    'notifications-dropdown-closed' - used in only this component to deal with the scope issue of the jQuery

Notes:

*/
<template lang="html">

    <div id="notifications">

        <div id="notifications-dropdown" class="dropdown">

            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button"
               aria-haspopup="true" aria-expanded="false" @click="open()" data-toggle="dropdown">
                <div style="position: absolute;">
                    <span class="fa fa-bell"></span>
                    <span v-if="unread_count > 0" class="number">{{ unread_count }}</span>
                </div>
            </a>

            <div class="dropdown-menu" id="notification-menu" aria-labelledby="navbarDropdown">
                <form onsubmit="return false">
                <ul class="nav nav-tabs justify-content-end" id="notification-tabs">
                    <li class="nav-item" v-for="tab in tabs" :class="{'active': tab.active}">
                        <a class="nav-link"  @click.prevent="makeTabActive(tab.name)">
                            <span class="icon is-small"><i :class="'fa fa-' + tab.icon"></i></span>
                            <span v-text="tab.name"></span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" v-show="display_tab_content == 'Unread'">
                        <ul class="dropdown-tab-content">
                            <li v-for="notification in unreadNotifications">
                                <notification-dropdown-item :notification="notification"/>
                            </li>
                            <li v-if="!unread_count" class="p-4">You're all caught up!</li>
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane fade show active" v-show="display_tab_content == 'Read'">
                        <ul class="dropdown-tab-content">
                            <li v-for="notification in readNotifications">
                                <notification-dropdown-item :notification="notification"/>
                            </li>
                        </ul>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>

</template>

<script>

    import {NotificationTabs} from "../../models";
    import {NotificationDropdownItem} from "./index";

export default {

    props: [],

    components: {NotificationDropdownItem},

    data() {
        return{
            tabs: NotificationTabs,
            unread_count: 0,
            unreadNotifications: null,
            readNotifications: null,
            // default to displaying the unread notifications
            display_tab_content: 'Unread',
            notification_interval: 120000,
            interval_id: null
        }
    },

    created() {
        $(document).click( function () {
            // console.log(event.target);
        });

        Common.listen('notifications-dropdown-closed', this.markAllRead);

        // get the config value for notification interval
        axios.get('/getConfigValue/app.notification_interval').then(response => {
            this.notification_interval = response.data;
        });
    },

    watch: {
        notification_interval: function (val) {
            this.setNotificationInterval();
        }
    },

    mounted() {
        // get the notifications from the server
        this.getNotifications();

        this.setNotificationInterval();


        /**
         * This jQuery code ensures that once the notification dropdown is closed,
         * all items in the unread category will be marked as read, and then
         * the notification count will be cleared
         *
         * Unfortunately no vue methods or data is accessible wiwthin the function, but I can
         * somehow fire events...
         */
        $('#notifications-dropdown').on('hide.bs.dropdown', function() {
            Common.fire('notifications-dropdown-closed');
        });
    },

    methods: {
        open() {
            this.unread_count = 0;
        },

        makeTabActive(name) {
            this.tabs.filter(tab => {
                if (tab.name == name) {
                    tab.active = true;
                    this.display_tab_content = name;
                } else {
                    tab.active = false;
                }
            });
        },

        getNotifications() {
            axios.get('/getNotifications').then( response => {
                this.unreadNotifications = response.data.unreadNotifications;
                this.readNotifications = response.data.readNotifications;
                this.unread_count = response.data.unread_count;
            });
        },

        // when the dropdown has been closed, all previously read notifications will be marked as unread
        markAllRead() {
            axios.post('/markNotificationsRead').then( response => {
                this.getNotifications();
            });
        },

        setNotificationInterval() {
            let me = this; // this component

            if (!Common.isEmpty(me.interval_id)) {
                clearInterval(me.interval_id);
            }

            let interval = me.notification_interval > 0 ? me.notification_interval : 120000;

            // set timer to gather any new or updated notifications from the server
            me.interval_id = setInterval(function () {
                me.getNotifications();
            }, interval);
        }

    }
}
</script>

<style lang="css">

</style>