/**
Requires


Emits
the id of the selected page
ex. select Insurance Approval
returned insuranceApproval

Sets
selected manager id in session

Only makes call for managers on load and if company changes.
**/
<template>
    <div class="form-group">
        <label for="page-select">{{ title }}</label>
        <select id="page-select" class="form-control" :disabled="disabled"
                v-model="selected_page" @change="$emit('input',$event.target.value)">
            <option value="-1" :selected="selected_page == null || selected_page == -1" disabled>Select one...</option>
            <optgroup v-if="pageList" v-for="(category, key) in pageList" :key="key" :label="key">
                <option v-for="(page, key) in category" :key="key" :value="page.id"
                        :selected="selected_page == page.id">{{ page.name }}</option>
            </optgroup>
        </select>
    </div>
</template>

<script>

    import {EventBus} from "../../event-bus";

    export default {
        components: {},

        props: ['value', 'title', 'disabled', 'emit_object', 'caller_id'],

        data() {
            return {
                pageList: null,
                selected_page: null,
            }
        },

        created() {
            axios.get('/getPageListByCategory').then( response => {
                console.log(response.data);
                this.pageList = response.data;
            })
        },

        watch: {
            value: {
                handler: function (val) {
                    this.selected_page = val;
                },
                immediate: true,
            },

            selected_page: {
                handler: function(val) {
                    if (!this.emit_object) {
                        return
                    }

                    let button_title = null;

                    if ( !Common.isEmpty(val) ) {
                        for (let category in this.pageList) {
                            let broken = false;
                            for (let page in this.pageList[category]) {
                                if (this.pageList[category][page].id == val ) {
                                    button_title = this.pageList[category][page].name;
                                    broken = true;
                                    break;
                                }
                                if (broken) { break }
                            }
                        }
                    }

                    EventBus.$emit(this.caller_id + '-page-selected', {
                        page: val,
                        button_title: button_title,
                        subpage: null,
                    })
                }
            }
        },
    }
</script>

<style scoped>

</style>