/**
Requires:
- dataSet: data obtained from backend
- this is transformed to dataArray, as the watcher will create an observer object we can't use directly here
- data_size: total size of un-paginated data, used to determine number of pages
- page_size: desired number of objects in one paginated page
- caller_id: for direct communication with parent
- columns_labels: name of fields in dataSet, along with column header display value for that column

Optional:
- actions: any actions desired on individual object, component to carry out that action to be invoked by parent

Getters:

Setters:

Listeners:

Emitters:
- [caller_id]-pagination-page-changed: inform parent of the new page to be used in the search
- [caller_id]-perform-action: inform parent of id of item and action to perform on it

Notes:
- dataArray must contain 'id' attribute for parent to refer to individual item

*/
<template lang="html">
    <div id="paginationPartial" class="box">

        <template v-if="dataSet && dataSet.length">
            <!-- PROGRESS LABEL -->
            <div v-if="dataArray && dataArray.length" class="columns table-label">
                <div class="column text-left">
                    <small><em>Displaying page {{ current }} of {{ end }}</em></small>
                </div>
            </div>

            <!-- PAGINATION BUTTONS -->
            <div v-if="dataArray" class="">
                <div v-if="end > 1" class="columns">
                    <div class="column">
                        <button class="btn" @click="gotoFirstPage">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    </div>

                    <div class="column">
                        <button class="btn" @click="gotoPreviousPage">
                            <i class="fas fa-angle-left"></i>
                        </button>
                    </div>

                    <div class="column is-8 text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li v-if="pages" class="page-item" v-for="n in pages"
                                    @click="goToPage(n)">
                                    <a :class="{ 'page-link':true, 'active': n == current }" @click="goToPage(n)">{{ n }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="column text-right">
                        <button class="btn" @click="gotoNextPage">
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>

                    <div class="column text-right">
                        <button class="btn" @click="gotoLastPage">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>

                <!-- Bootstrap Table START -->
                <div class="table-responsive table-responsive-bordered mb-4">
                    <table class="table table-striped table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th v-for="item in columns_labels">
                                    {{ item['label'] }}
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="obj in dataArray" :class="{'active-row': obj.deleted_at}">
                                <td v-for="item in columns_labels" class="">
                                    <span v-if="item.column == 'deleted_at' && !obj[item.column]" class="fa fa-check"
                                          style="color: green;"></span>
                                    <span v-else-if="item.column == 'deleted_at' && obj[item.column]" class="fa fa-ban"
                                          style="color: red;"></span>
                                    <span v-else>{{ obj[item.column] }}</span>
                                </td>
                                <td v-if="actions" class="actions">
                                    <button v-if="actions && action.condition && displayAction(obj, action.condition)"
                                            v-for="action in actions"
                                            :class="['btn btn-sm btn-block', obj.trips <= 0 ? 'btn-secondary' : 'btn-primary']"
                                            @click="performAction(action.action, obj.id)">
                                        {{ obj.trips <= 0 ? 'Edit' : 'View' }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Bootstrap Table END -->


                <!-- COLUMN LABELS -->
                <!--<div class="columns header">
                    <div v-for="item in columns_labels" class="column">{{ item['label'] }}</div>
                    <div v-if="actions" class="column">Actions</div>
                </div>-->

                <!-- DATA ROWS -->
                <!--<div class="columns stop-row" v-for="obj in dataArray" :class="{'active-row': obj.deleted_at}">
                    <div class="column" v-for="item in columns_labels">
                    <span v-if="item.column == 'deleted_at' && !obj[item.column]" class="fa fa-check"
                          style="color: green;"></span>
                        <span v-else-if="item.column == 'deleted_at' && obj[item.column]" class="fa fa-ban"
                              style="color: red;"></span>
                        <span v-else>{{ obj[item.column] }}</span>
                    </div>
                    <div v-if="actions" class="column text-center actions">
                        <button v-if="actions && action.condition && displayAction(obj, action.condition)"
                                v-for="action in actions"
                                :class="{'button': true, 'btn-primary': action.action == 'edit', 'btn-secondary': action.action == 'view'}"
                                @click="performAction(action.action, obj.id)">
                            {{ action.label }}
                        </button>
                    </div>
                </div>-->

                <!-- PAGINATION BUTTONS -->
                <div v-if="end > 1" class="columns">
                    <div class="column">
                        <button class="btn" @click="gotoFirstPage">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                    </div>

                    <div class="column">
                        <button class="btn" @click="gotoPreviousPage">
                            <i class="fas fa-angle-left"></i>
                        </button>
                    </div>

                    <div class="column is-8 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li v-if="pages" class="page-item" v-for="n in pages"
                                    @click="goToPage(n)">
                                    <a :class="{ 'page-link':true, 'active': n == current }" @click="goToPage(n)">{{ n }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="column text-right">
                        <button class="btn" @click="gotoNextPage">
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>

                    <div class="column text-right">
                        <button class="btn" @click="gotoLastPage">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </template>

    </div>
</template>

<script>

    export default {

        props: ['caller_id', 'dataSet', 'data_size', 'columns_labels', 'page_size', 'actions'],

        data() {
            return {
                start: 1,
                current: 1,
                dataArray: [],
                pages: null
            };
        },

        created() {

        },

        mounted() {
          this.processDataSet(this.dataSet);
        },

        watch: {
            dataSet: function (val) {
             // console.log('in dataSet watch', val);
                this.processDataSet(val);
            },
            data_size: function (val) {
            },
            page_size: function (val) {
            },
            columns_labels: function (val) {
            },
            actions: function (val) {
             // console.log('got actions in watch');
             // console.log(this.actions);
            }
        },

        computed: {
            end: function () {
                let val = Math.floor(this.data_size / this.use_page_size) + 1;
                if (this.current > val) {
                    this.current = val;
                }
                return val;
            },

            use_page_size: function () {
                if (!Common.isEmpty(this.page_size) && this.page_size > 0) {
                    return this.page_size;
                } else {
                    return 20;
                }
            }
        },

        methods: {
            processDataSet(set) {
                this.dataArray = [];
                for (let o in set) {
                    this.dataArray.push(set[o]);
                }
                this.setPages();
            },

            setPages() {
                this.pages = [];
                let last_page = 0;
                if (this.end < 19) {
                    last_page = this.end;
                    for (let x = 1; x <= last_page; x++) {
                        this.pages.push(x);
                    }
                } else {
                    let start_count = this.current - 9;
                    if (start_count < 1) {
                        start_count = 1;
                    }
                    let end_count = this.current + 9;
                    if (end_count < 19) {
                        end_count = 19;
                    }
                    if (end_count > this.end) {
                        end_count = this.end;
                        start_count = this.end - 18;
                    }
                    for (let x = start_count; x <= end_count; x++) {
                        this.pages.push(x);
                    }
                }
            },

            // Navigation methods
            gotoFirstPage() {
                this.current = 1;
                Common.fire(this.caller_id + '-pagination-page-changed', this.current);
            },

            gotoLastPage() {
                this.current = this.end;
                Common.fire(this.caller_id + '-pagination-page-changed', this.current);
            },

            gotoNextPage() {
                this.current += 1;
                Common.fire(this.caller_id + '-pagination-page-changed', this.current);
            },

            gotoPreviousPage() {
                this.current -= 1;
                Common.fire(this.caller_id + '-pagination-page-changed', this.current);
            },

            goToPage(n) {
                this.current = n;
                Common.fire(this.caller_id + '-pagination-page-changed', n);
            },

            // table methods
            performAction(action, id) {
                // console.log('PAG got ' + action + ' and ' + id);
                // component is 'blind', so will just tell parent the action desired and the id of the object
                Common.fire(this.caller_id + '-perform-action', {'action': action, 'id': id});
            },

            displayAction(dataObj, condition) {
                // console.log('in display action');
                let compVal = dataObj[condition.field];
                let retVal = false;

                if (condition) {
                    // condition was set to true, always display
                    return true;
                }
                switch (condition.operator) {
                    case '==':
                        retVal = compVal == condition.value;
                        break;
                    case '>':
                        retVal = compVal > condition.value;
                        break;
                    case '>=':
                        retVal = compVal >= condition.value;
                        break;
                    case '<':
                        retVal = compVal < condition.value;
                        break;
                    case '<=':
                        retVal = compVal <= condition.value;
                        break;
                    case '!=':
                        retVal = compVal != condition.value;
                        break;
                }

                return retVal;
            }
        }
    };

</script>

<style lang="css">

</style>