/**
Requires:
    province_id

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="postalCodeSelectPartial">
        <label v-if="!hide_label">Postal Code:</label>

        <select name="postalSelect" id="postalSelect" class="form-control"
                @change="updatePostal($event.target.value)" :value="value">
            <option value="-1" :selected="value == -1"></option>
            <option v-for="postal in postalcodes" :value="postal.postal_code"
                    :selected="value == postal.postal_code">{{ postal.postal_code }} {{postal.city_name}}
            </option>
        </select>
    </div>
</template>

<script>
    export default {

        props: ['value', 'province_id', 'caller_id', 'hide_label', 'emit_object'],

        data() {
            return {
                postalcodes: []
            }
        },

        created() {
            this.getPostal();
        },

        watch: {
            province_id: function (val) {
                this.getPostal();
            }
        },

        methods: {
            getPostal() {
                if( this.value.length >= 3) {
                    axios.get('/getPostalCodes/' + this.province_id + '/' + this.value ).then(response => {
                        this.postalcodes = response.data.postalcodes;
                       // console.log(response.data);
                    });
                }
            },

            updatePostal(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
                if (this.emit_object) {
                    for (const p in this.postalcodes) {
                        if (this.postalcodes[p].postal_code == val) {
                            EventBus.$emit(this.caller_id + '-zip-postal-code-object', this.postalcodes[p]);
                        }
                    }
                }
            }
        }
    }
</script>

<style lang="css">

</style>