/**
Requires:
    a list of proposed vehicles
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="proposedVehicleProfileSelect">
        <label v-if="!hide_label">Proposed Vehicle</label>
        <select name="proposedVehicleSelect" id="proposedVehicleSelect" class="form-control"
                @change="$emit('input', $event.target.value); emitToEventBus();">
            <option value="-1"
                    :selected="value == -1">Select a Proposed Vehicle...
            </option>

            <option v-for="(vp, key) in proposedVehicleProfiles"
                    :value="vp.id"
                    :selected="value == vp.id"
                    :class="approvalClass(vp.approval)">{{ vp | vehicle_profile_name_filter }}
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['proposedVehicleProfiles', 'value', 'hide_label'],

        components: {},

        data() {
            return {
                data: null,
            };
        },

        created() {

        },


        mounted() {
            EventBus.$on('proposed-vehicle-profiles-changed', () => this.$forceUpdate());
        },

        computed: {
            ...mapGetters([

            ])
        },

        filters: {
            vehicle_profile_name_filter: function (vp) {
                return vp.vehicle.year + ' ' + vp.vehicle.name + ' ' + vp.name_postfix;
            },
        },

        watch: {

        },

        methods: {
            emitToEventBus() {
                /**
                 * In the mapping status component, vue is not always picking up on the fact that mapping has changed.
                 * To circumvent this, we force fire an event.
                 */
                EventBus.$emit('mapping-changed');
            },

            approvalClass(approval) {
                if (approval && approval.approved == 1) {
                    return 'vehicle-profile-approved';
                } else if (approval && approval.approved == null ) {
                    return 'vehicle-profile-awaiting-approval';
                } else if (approval && approval.approved == 0 ) {
                    return 'vehicle-profile-unapproved';
                } else {
                    return 'vehicle-profile-not-submitted';
                }

            }
        }
    };
</script>

<style lang="css">
    #proposedVehicleProfileSelect .vehicle-profile-approved {
        color: green;
    }

    #proposedVehicleProfileSelect .vehicle-profile-awaiting-approval {
        color: #3498db;
    }

    #proposedVehicleProfileSelect .vehicle-profile-not-submitted {
        color: #ffcf25;
    }

    #proposedVehicleProfileSelect .vehicle-profile-unapproved {
        color: red;
    }

</style>