<template lang="html">
    <div class="form-group" id="provinceMultipleSelectPartial">
        <label>Provinces:</label>
        <select name="provincesSelect" id="provincesSelect" class="form-control"
                @change="provincesChanged" v-model="selected_provinces" multiple>
            <option value="-1">All</option>
            <option v-if="provinces" v-for="province in provinces" :value="province.id">{{ province.name }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['caller_id'],

        data() {
            return {
                provinces: [],
                selected_provinces: []
            }
        },

        created() {
            axios.get('/getStatesProvinces/2').then(response => {
                this.provinces = response.data.provinces;
            });
        },

        methods: {
            provincesChanged() {
                Common.fire(this.caller_id + 'states-changed', this.selected_provinces);
            }
        }
    }
</script>

<style lang="css">

</style>