<template lang="html">
    <div class="form-group" id="provinceSelectPartial">
        <label for="provinceSelect" v-if="!hide_label">Province:</label>

        <select name="provinceSelect" id="provinceSelect" class="form-control form-control-sm"
                @change="updateProvince($event.target.value)" :value="value"
                :disabled="disabled">
            <option value="-1" :selected="value == -1">All</option>
            <option v-for="province in provinces" :value="province.id"
                    :selected="value == province.id">{{ province.name }}
            </option>
        </select>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {

        props: ['value', 'caller_id', 'hide_label', 'emit_object', 'disabled'],

        data() {
            return {
                provinces: []
            }
        },

        created() {
            axios.get('/getStatesProvinces/2').then(response => {
                this.provinces = response.data.provinces;
            });
        },

        methods: {
            updateProvince(val) {
                if (this.emit_object === true) {
                    for (const province in this.provinces) {
                        if (val == this.provinces[province].id) {
                            Common.fire(this.caller_id + '-state-object', this.provinces[province]);
                            EventBus.$emit(this.caller_id + '-province-object', this.provinces[province]);
                            return;
                        }
                    }
                }
                axios.post('/setSession', {key: 'session_province_id', value: this.session_province_id});
                this.$emit('input', val); // do not remove, this connects v-model in forms

                // ToDo: move to store
                EventBus.$emit('state-province-changed', val); // davery
            }
        }
    }
</script>

<style lang="css">

</style>