<template lang="html">
    <div class="form-group" id="quarterSelectPartial">

        <label for="quarterSelect" v-if="!hide_label">Quarter:</label>

        <select name="quarterSelect" id="quarterSelect" class="form-control"
                @change="updateQuarter($event.target.value)" :value="getSessionQuarter">
            <option value="-1" :selected="getSessionQuarter == -1">Select Quarter</option>
            <option v-for="quarter in quarters" :value="quarter"
                    :selected="getSessionQuarter == quarter">{{quarter}}
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['value', 'caller_id', 'hide_label', 'emit_object'],

        data() {
            return {
                quarters: []
            }
        },

        created() {
        },

        mounted() {
            console.log(this.getSessionCompanyId)
            this.getQuarters();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionYear',
                'getSessionQuarter'
            ])
        },


        methods: {

            getQuarters() {
             // console.log("Calling getQuarterDefinition for company " + this.getSessionCompanyId + ' and year ' + this.getSessionYear );
                let data = {'company_id': this.getSessionCompanyId, 'year': this.getSessionYear};
                axios.post('/getQuarterDefinition', data).then(response => {
                    this.quarters = response.data.quarters;
                });
            },

            updateQuarter(val) {
                console.log('saving val to store ' + val);
                Common.storeCommit('updateSessionQuarter', val);
                EventBus.$emit('quarter-changed');
            }
        }
    }
</script>

<style lang="css">

</style>
