/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
        <div id="reportsMenu" class="box menu-height">
            <!--Page Title Start-->
            <div class="row" style="text-align:center;">
                <h2>Reports Menu <i v-bind:class="'far fa-' + menuIcon"></i></h2>
            </div>
            <!--Page Title End-->
            <div class="row justify-content-center" v-if="displayItems">
                <!--Menu Category (Each a different label) Start-->
                <div v-for="linkLabel in displayItems" class="col-lg-4 link-label-margin-top">
                    <div class="link-column link-column-style">
                        <!--Label Header Start-->
                        <div class="link-label-column-width">
                            <p class="menu-label menu-label-font-size menu-view-category-header-text"
                               :style="{'background-color':displayColor}">
                                <b>{{ linkLabel.label }}</b>
                            </p>
                        </div>
                        <!--Label Header End-->
                        <!--Link Column Start-->
                        <div class="link-column-padding">
                            <ul>
                                <li v-for="link in linkLabel.items">
                                    <a class="link-text"
                                       @click.prevent="setView(link.id)"
                                       v-if="!link.divider">
                                        <i v-bind:class="'far fa-' + linkLabel.icon"></i>
                                        {{link.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--Link Column End-->
                    </div>
                    <!--Menu Category (Each a different label) End-->
                </div>
            </div>
        </div>


</template>


<script>
    import {mapGetters} from 'vuex';


    export default {

        props: [],

        components: {},

        data() {
            return {
                displayItems: null,
                displayColor: '#AF0000',
                menuIcon: null
            };
        },

        created() {
        },

        mounted() {
            let tempData = Common.createMenuPageDataRev(this.getMenu, "Reports");
            this.displayItems = tempData[0];
            this.menuIcon = tempData[1];
        },

        destroyed() {

        },
        computed: {
            ...mapGetters([
                'getMenu',
            ])
        },
        watch: {},

        filters: {},

        methods: {
            setView(view) {
                Common.setView(view, null)
            }
        }
    }

</script>


<style lang="css">


</style>