/**
Requires:
    country,
    year,
    selected_resale_condition
    caller_id
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div name="resaleConditionSelect" id="resaleConditionSelect" class="from-group">
        <label for="forResaleConditionSelect" v-if="show_label">Resale Condition</label>
        <select class="form-control"
            :value="value"
            @change="$emit('input',$event.target.value)"
            :disabled="disabled" id="forResaleConditionSelect">

            <option v-if="!hide_default_option"
                    value="-1"
                    :selected="value == -1">Please Select Resale Condition
            </option>

            <option v-for="condition in resale_condition_options"
                    :value="condition.id"
                    :selected="value == condition.id"
                    :class="condition.class">{{ condition.name }}
            </option>

        </select>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
export default {

    props: ['caller_id','emit_loaded_event','country','year','value','caller_id','disabled','emit_object','hide_default_option','show_label'],

    data() {
        return {
            resale_conditions: [],
            resale_condition_options: [],
            resale_condition: -1
        }
    },

    created() {
        this.getResaleConditions();
    },

    watch: {
        'year': {
            handler: function() {
                this.setResaleConditions();
            },
            immediate: true,
        }
    },

    methods: {
        getResaleConditions(){
            axios.get('/getResaleConditions').then(response =>{
                this.resale_conditions = response.data.resale_conditions;
                this.setResaleConditions();
                EventBus.$emit(this.caller_id + '-resale-conditions-loaded');
            });
        },

        setResaleConditions() {

            this.resale_condition_options = [];

            for( var i=1; i<=8; i++) {
                if( this.year >= 2014 ) {
                    if( i == 1 || i == 6 ) {                        // skip -excellent
                        continue;
                    }
                    var name = i == 4 ? 'Lending' : this.resale_conditions[i];
                } else if( this.year >= 2011 ||
                    this.year >= 2009 && this.country == 2 ) {
                    if( i == 1 || i == 6 ) {
                        continue;
                    }
                    var name = i == 4 ? 'Wholesale/Lending' : this.resale_conditions[i];
                } else {
                    var name = this.resale_conditions[i];
                }

                this.resale_condition_options.push({'id': i, 'name': this.resale_conditions[i]});

            }
        },

//        resaleConditionChanged() {
//            Common.fire(this.caller_id + '-resale-condition-changed', this.resale_condition);
//        }
    }

}
</script>

<style lang="css">

</style>



