/**
Requires:

Optional:
    - value if you want to use v-model (this is the v-model on the parent)
    - hide_label
    - hide_default_option (hides the please select option)
Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="retentionSelect">
        <label for="retSel" v-if="!hide_label">Retention</label>

        <select name="retSel" id="retSel" class="form-control form-control-sm"
                @change="updateRetention($event.target.value)" :value="value">
            <option v-if="!hide_default_option"
                    value="-1"
                    :selected="value == -1">
                All
            </option>
            <option v-for="year in retentionYears"
                    :value="year"
                    :selected="value == year">{{ year }} Years
            </option>
        </select>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['value', 'hide_label', 'hide_default_option'],

        components: {},

        data() {
            return {
                retentionYears: [2, 3, 4, 5, 6]
            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([

            ])
        },

        watch: {

        },

        methods: {
            updateRetention(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },
        }
    };
</script>

<style lang="css">

</style>