<template lang="html">
    <div>
        <label for="task_name">Task Name</label>
        <select class="form-control" id="task_name" v-model="selected_task">
            <option v-for="(name, index) in task_names" :value="name.name">{{ index === 0 ? name.value : name.name }}</option>
        </select>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';

    export default {
        data() {
            return {
                selected_task: null,
                task_names: [],
            };
        }, // data

        created() {
            axios.get('/getScheduledTaskNames').then(response => { // get values from db
                this.task_names = response.data.names; // assign response to var
                // set text for 1st option as it's not set in the data returned from the request
                this.task_names[0].value = 'Select a Task';
                this.selected_task = this.task_names[0].name; // set default option selected
            });
        }, // created

        watch: {
            'selected_task': function(val) { // when v-model changed
                // if (!val) return; // if val is null or empty string
                EventBus.$emit('scheduled-task-changed', val); // emit selected value
            }
        },
    }
</script>

<style>

</style>