<template lang="html">
    <div id="taskStatusSelect">
        <label for="task_status">Status</label>
        <select v-model="selected_status" class="form-control" id="task_status">
            <option value="">Select a Status</option>
            <option value="Completed">Completed</option>
            <option value="Failed">Failed</option>
            <option value="Started">Started</option>
            <option value="Running">Running</option>
            <option value="Stopped">Stopped</option>
        </select>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';

    export default {
        data() {
            return {
                selected_status: '',
            };
        }, // data

        mounted() {

        }, // mounted

        computed: {

        }, // computed

        watch: {
            'selected_status': function(val) {
                // if (val === '') return;
                EventBus.$emit('scheduled-task-status-changed', val);
            }
        }, // watch

        methods: {

        }, // methods
    }
</script>

<style>

</style>