/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="position-relative" id="searchPartial">
        <i :class="{ 'fas fa-search': true, 'active': search_visible }" @click="searchBarVisible"></i>

        <div :class="{ 'mb-3 search-bar': true, 'active': search_visible }" id="searchPartialInputWrapper">
            <input type="text" placeholder="search" class="form-control" id="searchInput"
                   style="border-color: #ced4da; box-shadow: none;"
                   v-model="search_parameter" @keyup.enter="doSearch" @keyup.escape="clearAndCloseSearch">
        </div>
    </div>

</template>

<script>
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';

    export default {
        props: [],

        components: {},

        data() {
            return {
                'search_parameter': '',
                search_visible: false,
            };
        },

        created() {
        },

        mounted() {
            let self = this;
            $('body').click(function () {
                // check if #searchInput is not focused, close it if not
                let input = document.getElementById('searchInput');
                if (!$(input).is(':focus')) {
                    self.clearAndCloseSearch();
                }
            });
        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView'
            ]),
        },

        watch: {},

        methods: {
            doSearch: function () {
                /**
                 * Commit the new search parameter to the store, and set the view
                 * The old event listener has been unregistered to stop undesired
                 * triggering of search
                 */
                Common.storeCommit('updateSessionCompanyId', -1)
                    .then(() => {
                        Common.storeCommit('updateSearchParameter', this.search_parameter).then(r => {
                            Common.setView('users', 'list');
                            EventBus.$emit('search-parameter-changed', this.search_parameter);
                        });
                    });
            },

            searchBarVisible(event) {
                this.search_visible = !this.search_visible;
                event.target.nextElementSibling.children[0].focus();
            },

            clearAndCloseSearch() {
                this.search_parameter = '';
                this.search_visible = false;
            },
        }
    };
</script>

<style lang="css">
    #searchPartial .fa-search {
        cursor: pointer;
    }

    #searchPartial .fa-search {
        font-size: 20px;
        opacity: 1;
        transition: opacity 1s ease;
    }

    #searchPartial .fa-search.active {
        opacity: 0 !important;
    }

    #searchPartialInputWrapper {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: width .3s ease;
        width: 0;
        z-index: 15;
    }

    #searchPartialInputWrapper.active {
        opacity: 1 !important;
        width: 250px !important;
    }
</style>