<template lang="html">
    <div id="sideNavigation">
        <div id="mySidenav" :class="{'sidenav':true, 'expanded':expanded}">
            <a href="javascript:void(0)" class="closebtn" @click.prevent="closeNav"><span
                    class="fa fa-angle-double-left"></span></a>
            <a @click.prevent="showAddUser">Add User</a>
            <a @click.prevent="showAddCompany">Add Company</a>
            <a @click.prevent="showAddVehicleProfile">Add Vehicle Profile</a>
        </div>

        <!-- Use any element to open the sidenav -->
        <button @click="openNav" id="openNavButton" class="btn btn-success"><span class="fa fa-navicon"></span></button>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                expanded: false
            }
        },

        methods: {
            openNav() {
                this.expanded = true;
            },

            closeNav() {
                this.expanded = false;
            },

            showAddUser() {
                this.closeNav();
                Common.setView('users', 'add');
            },

            showAddVehicleProfile() {
                this.closeNav();
                Common.setView('vehicleProfiles', 'addVehicleProfile');
            },

            showAddCompany() {
                this.closeNav();
                Common.setView('companies', 'addCompany');
            }
        }
    }

</script>

<style lang="css">
    /* The side navigation menu */
    #sideNavigation #mySidenav {
        width: 0;
        z-index: 101;
    }

    #sideNavigation #mySidenav.expanded {
        width: 250px;
    }

    #sideNavigation #openNavButton {
        position: fixed;
        left: 0;
    }

    #sideNavigation .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    #sideNavigation .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    #sideNavigation .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    #sideNavigation .sidenav .closebtn {
        position: absolute;
        top: 45px;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #sideNavigation #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        #sideNavigation .sidenav {
            padding-top: 15px;
        }

        #sideNavigation .sidenav a {
            font-size: 18px;
        }
    }
</style>