/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
- hide/show sidebar for quick access

*/
<template lang="html">
    <div id="sidebar">
        <div id="innerNav" :class="{'sidenav':true, 'expanded':expanded}">
            <a href="javascript:void(0)" class="closebtn" @click.prevent="closeNav"><span
                    class="fa fa-angle-double-left"></span></a>

            <sidebar-shortcuts/>
            <sidebar-notes/>
        </div>

        <!-- Use any element to open the sidenav -->
        <button @click="openNav" id="openNavButton" class="btn btn-success"><span
                class="fa fa-angle-double-right"></span></button>


    </div>
</template>

<script>
    import {SidebarNotes, SidebarShortcuts} from "./index";

    export default {
        components: {SidebarShortcuts, SidebarNotes},

        data() {
            return {
                expanded: false
            };
        },

        created() {
            Common.listen('close-sidebar', this.closeNav);
        },

        methods: {
            openNav() {
                this.expanded = true;
            },

            closeNav() {
                this.expanded = false;
            }
        }
    };

</script>

<style lang="css">
    /* The side navigation menu */
    #sidebar {
        position: fixed;
        left: 0;
        height: 100%;
        padding: 0;
        width: 0;
        z-index: 11;
    }

    #sidebar #innerNav {
        width: 0px;
        z-index: 101;
    }

    #sidebar #innerNav #sidebarShortcuts {
        visibility: hidden;
        margin-bottom: 3rem;
    }

    #sidebar #innerNav.expanded {
        width: 250px;
        border: .1rem solid #3273dc;
        border-radius: .7rem;
    }

    #sidebar #innerNav.expanded #sidebarShortcuts {
        visibility: visible;
    }

    #sidebar #openNavButton {
        position: fixed;
        left: 0;
        top: 50%;
        color: #fff;
        background-color: #3273dc;
        padding: .1rem;
        padding-top: .8rem;
    }

    #sidebar .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: absolute; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #eeeeee; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    #sidebar .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    #sidebar .sidenav a:hover, .offcanvas a:focus {
        color: #3273dc;
    }

    /* Position and style the close button (top right corner) */
    #sidebar .sidenav .closebtn {
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 36px;
        margin-left: 50px;
        color: #3273dc;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #sidebar #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        #sidebar .sidenav {
            padding-top: 15px;
        }

        #sidebar .sidenav a {
            font-size: 18px;
        }
    }
</style>