/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="sidebarNotes">
        <p class="has-text-weight-semibold has-text-info" style="font-size: xx-large;"><u>Notes</u></p>

        <ul style="margin-left: 1rem;">
            <li>
                <a @click.prevent="showAddNote">Add Note</a>
            </li>

            <li>
                <a @click.prevent="showMyNotes">Show My Notes</a>
            </li>
        </ul>

        <add-note-modal :caller_id="caller_id"/>
    </div>
</template>

<script>

    import {AddNoteModal} from "./index";

    export default {

        components: { AddNoteModal },

        data() {
            return {
                caller_id: 'SidebarNotes'
            }
        },

        created() {

        },

        methods: {
            showAddNote() {
                Common.fire('show-add-note', this.caller_id);
                Common.fire('close-sidebar');
            },

            showMyNotes() {
               // console.log('showing notes');
                Common.fire('close-sidebar');
            }
        }
    }

</script>

<style lang="css">

</style>