/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="sidebarShortcuts">
        <p class="has-text-weight-semibold has-text-info" style="font-size: xx-large;"><u>Shortcuts</u></p>

        <ul style="margin-left: 1rem;">
            <li>
                <a @click.prevent="addUser">Add User</a>
            </li>

            <li>
                <a @click.prevent="addCompany">Add Company</a>
            </li>
        </ul>
    </div>
</template>

<script>

    export default {

        data() {
            return {}
        },

        created() {

        },

        methods: {
            addUser() {
                Common.setView('users', 'add');
                Common.fire('close-sidebar');
            },

            addCompany() {
                Common.setView('companies', 'add');
                Common.fire('close-sidebar');
            }
        }
    }

</script>

<style lang="css">

</style>