<template lang="html">
    <table id="sortedTable">
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}

                <span :class="{'fa': true, 'fa-angle-up': sortOrders[key] > 0, 'fa-angle-down': sortOrders[key] < 0}">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                <span v-if="key=='actions'" v-html="entry[key]" @click.prevent="showDriverInfo"></span>
                <span v-else>{{entry[key]}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</template>


<script>
    export default {
        props: ['data', 'columns', 'filterKey'],

        data() {
            var sortOrders = {};
            this.columns.forEach(function (key) {
                sortOrders[key] = 1;
            });
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },

        computed: {
            filteredData: function () {
                let sortKey = this.sortKey;
                let filterKey = this.filterKey && _.lowerCase(this.filterKey);
                let order = this.sortOrders[sortKey] || 1;
                let data = this.data;
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return !Common.isEmpty(_.toLower(String(row[key])).indexOf(filterKey));
                        });
                    });
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey];
                        b = b[sortKey];
                        return (a === b ? 0 : a > b ? 1 : -1) * order;
                    })
                }
                return data;
            }
        },

        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        },

        methods: {
            sortBy: function (key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1;
            },

            showDriverInfo(event) {

                var pathIndex = $(event.path[0])[0].tagName === 'A' ? 0 : 1; // we occasionally get the child <span> and not the <a> elemant

                var driver_id = $(event.path[pathIndex]).attr('data-user-id');
                Common.fire('show-driver-info', driver_id);
            }
        }
    }
</script>

<style lang="css">
    table#sortedTable {
        border: 2px solid #42b983;
        border-radius: 3px;
        background-color: #fff;
    }

    table#sortedTable th {
        background-color: #42b983;
        color: rgba(255, 255, 255, 0.66);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>