<template lang="html">
    <div class="form-group" id="stateMultipleSelectPartial">
        <label>States:</label>
        <select name="statesSelect" id="statesSelect" class="form-control"
                @change="statesChanged" v-model="selected_states" multiple>
            <option value="">All</option>
            <option v-for="state in states" :value="state.id">{{ state.name }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['caller_id'],

        data() {
            return {
                states: [],
                selected_states: []
            }
        },

        created() {
            axios.get('/getStatesProvinces/1').then(response => {
                this.states = response.data.states;
            });
        },

        methods: {
            statesChanged() {
                Common.fire(this.caller_id + 'states-changed', this.selected_states);
            }
        }
    }
</script>

<style lang="css">

</style>