<template lang="html">
    <div class="form-group" id="stateSelectPartial">
        <label for="stateSelect" v-if="!hide_label">State</label>

        <select name="stateSelect" id="stateSelect" class="form-control form-control-sm"
                @change="updateState($event.target.value)" :value="value"
                :disabled="disabled">
            <option value="-1" :selected="value == -1">All</option>
            <option v-for="state in states" :value="state.id"
                    :selected="value == state.id">{{ state.name }}
            </option>
        </select>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {

        props: ['value', 'caller_id', 'hide_label', 'emit_object', 'disabled'],

        data() {
            return {
                states: []
            }
        },

        created() {
            axios.get('/getStatesProvinces/1').then(response => {
                this.states = response.data.states;
            });
        },

        methods: {
            updateState(val) {
                if (this.emit_object === true) {
                    for (const state in this.states) {
                        if (val == this.states[state].id) {
                            Common.fire(this.caller_id + '-state-object', this.states[state]);
                            EventBus.$emit(this.caller_id + '-state-object', this.states[state]);
                            return;
                        }
                    }
                }
                axios.post('/setSession', {key: 'session_state_id', value: this.session_state_id});
                this.$emit('input', val); // do not remove, this connects v-model in forms

                // ToDo: move to store
                EventBus.$emit('state-province-changed', val); // davery
            },
        }
    }
</script>

<style lang="css">

</style>