/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="storeState">
        <h2>Store State</h2>

        <div class="box">
            <h4>System Values</h4>

            <div class="fusionDisplayBlock">
                <span id="view" v-text="$store.state['view']"></span><br>
                <label for="view">view</label>
            </div>

            <div class="fusionDisplayBlock">
                <span id="subView" v-text="$store.state['subView']"></span><br>
                <label for="subView">subView</label>
            </div>

            <div class="fusionDisplayBlock">
                <span id="start_time" v-text="$store.state['start_time']"></span><br>
                <label for="start_time">start_time</label>
            </div>

            <div style="clear: both; float: none;">&nbsp;</div>

            <h4>All Users</h4>

            <div class="fusionDisplayBlock">
                <span id="start_time" v-text="$store.state['start_time']"></span><br>
                <label for="start_time">start_time</label>
            </div>

            <div style="clear: both; float: none;">&nbsp;</div>

        </div>


        <div class="fusionDisplayBlock" v-for="(key, index) in $store.state">
            <span :id="index" v-text="$store.state[index]"></span><br>
            <label :for="index">{{ index }}</label>
        </div>


        <!--<div class="fusionDisplayBlock">
            <span id="userId" v-text="getUserId"></span><br>
            <label for="userId">UserId</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="username" v-text="getUsername"></span><br>
            <label for="username">Username</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="usertype" v-text="getUserType"></span><br>
            <label for="usertype">User Type</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="userFullName" v-text="getUserFullName"></span><br>
            <label for="userFullName">Full Name</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="userEmail" v-text="getUserEmail"></span><br>
            <label for="userEmail">User Email</label>
        </div>

        <div style="clear: both; float: none;">&nbsp;</div>

        <div class="fusionDisplayBlock">
            <span id="isDriver" v-text="getIsDriver"></span><br>
            <label for="isDriver">Is Driver</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="isManager" v-text="getIsManager"></span><br>
            <label for="isManager">Is Manager</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="isAdministrator" v-text="getIsAdministrator"></span><br>
            <label for="isAdministrator">Is Administrator</label>
        </div>

        <div class="fusionDisplayBlock">
            <span id="isSuper" v-text="getIsSuper"></span><br>
            <label for="isSuper">Is Super</label>
        </div>-->

        <div style="clear: both; float: none;">&nbsp;</div>
        {{ $store.state }}
    </div>
</template>

<script>
    /** imports */
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {},

        data() {
            return {};
        },

        created() {
        },

        mounted() {
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUsername',
                'getUserType',
                'getUserFullName',
                'getUserEmail',
                'getIsDriver',
                'getIsManager',
                'getIsAdministrator',
                'getIsSuper'
            ])
        },

        watch: {},

        methods: {}
    };
</script>

<style lang="css">
    #storeState .fusionDisplayBlock {
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        float: left;
    }

    #storeState .fusionDisplayBlock span {
        text-decoration: underline;
        font-weight: bold;
    }

    #storeState .fusionDisplayBlock label {
        font-style: italic;
        font-size: x-small;
        display: block;
        margin-top: -5px;
        color: #999;
    }
</style>