/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="superSelectPartial">
        <label v-if="!hide_label">Super Users
            <small>{{ superUsers.length }}</small>
        </label>

        <select name="superSelect" id="superSelect" class="form-control" :value="value" @change="superChanged($event.target.value)">
            <option value="-1" :selected="selected_super_id == -1">Select Super User...</option>
            <option v-if="allow_all_none" value="-2" :selected="selected_super_id == -2">All</option>
            <option v-for="user in superUsers" :value="user.id" :selected="selected_super_id == user.id">{{
                user.first_name + ' ' + user.last_name }}
            </option>
        </select>
    </div>
</template>

<script>

    import {EventBus} from "../../event-bus";

    export default {

        props: ['value', 'caller_id', 'hide_label', 'allow_all_none', 'emit_object', 'hide_inactive'],

        data() {
            return {
                selected_super_id: -1,
                superUsers: []
            }
        },

        created() {
            axios.get('/getSuperUsers').then(response => {
                this.superUsers = response.data.superUsers;
            });
        },

        methods: {
            superChanged(val) {
                Common.setSession('session_super_id', val);
                this.$emit('input', val); // do not remove, this connects v-model in forms

                if (this.emit_object) {
                    if (val > 0) {
                        EventBus.$emit(this.caller_id + '-full-super', this.superUsers.find(superUser => superUser.id == val));
                    } else if (val < -1) {
                        // -3 is none, -2 is all
                        let driver = {id: val, first_name: val == -3 ? 'None' : 'All', last_name: ''};
                        EventBus.$emit(this.caller_id + '-full-super', val);
                        EventBus.$emit(this.caller_id + '-all-supers-array', this.superUsers);
                    }
                }
            }
        }
    }

</script>

<style lang="css">

</style>