<template lang="html">
    <div class="form-group" id="territoryTypePartial">
        <label for="territoryTypeSelect">Territory Type</label>
        <select name="territoryTypeSelect" id="territoryTypeSelect" class="form-control form-control-sm"
                :disabled="disabled"
                @change="$emit('input', $event.target.value)">
            <option v-if="!hide_default_option"
                    value="-1"
                    :selected="value == -1">Select territory type</option>
            <option v-if="territoryTypes.length" v-for="type in territoryTypes" :value="type.id"
                    :selected="value == type.id">{{ type.name }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['caller_id', 'value', 'country_id', 'hide_default_option', 'disabled'],

        data() {
            return {
                territoryTypes: [],
                territory_type_id: -1
            }
        },

        created() {
            axios.get('/getTerritoryTypes').then(response => {
                this.territoryTypes = response.data.territoryTypes;
            });
        },

        watch: {
            country_id: {
                handler: function(val) {
                    if (this.country_id === 2) {
                        for (const tType in this.territoryTypes) {
                            if (this.territoryTypes[tType].name === 'Home State') {
                                this.territoryTypes[tType].name = 'Home Province';
                            } else if (this.territoryTypes[tType].name === 'Multi State') {
                                this.territoryTypes[tType].name = 'Multi Province';
                            }
                        }
                    }
                },
                immediate: true,
            }
        },

        methods: {
            territoryTypeChanged() {
                Common.fire(this.caller_id + 'territory-type-changed', this.territory_type_id);
            }
        }
    }
</script>

<style lang="css">

</style>