/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div class="form-group" id="timeZoneSelectPartial">
        <label>Time Zone:</label>

        <select name="timeZoneSelect" id="timeZoneSelect" class="form-control"
                @change="timeZoneChanged" v-model="time_zone_id">
            <option value="-1" :selected="time_zone_id == -1">Select Time Zone</option>
            <option v-if="timezones.length" v-for="zone in timezones" :value="zone.id"
                    :selected="time_zone_id == zone.id">{{ zone.name }} ({{ zone.short_name }})</option>
        </select>
    </div>
</template>

<script>

    export default {

        props: ['caller_id'],

        data() {
            return {
                timezones: [],
                time_zone_id: -1
            }
        },

        created() {
            axios.get('/getTimeZones').then(response => {
                this.timezones = response.data.timezones;
            });
        },

        methods: {
            timeZoneChanged() {
                Common.fire(this.caller_id + '-time-zone-changed', this.time_zone_id);
            }
        }
    }

</script>

<style lang="css">

</style>