/**
Requires:
- caller_id: who is my parent?
- hideLabel: dynamically show/hide label

Optional:

Getters:

Setters:

Listeners:

Emitters:
- caller_id-user-type-changed: new user type was selected

Notes:

*/
<template lang="html">
    <div id="userTypeSelectPartial" class="form-group">
        <label v-if="!hideLabel">User Type:</label>

        <select name="userTypeSelect" id="userTypeSelect" class="form-control" :value="value"
                @change="userTypeChanged($event.target.value)">
            <option :value="-1" :selected="value == -1">Select user type...</option>
            <option v-if="user && type.id < 4 || (user && type.id == 4 && user.userType == 'super')"
                    v-for="type in userTypes" :value="type.id" :selected="value == type.id">{{ type.name }}
            </option>
        </select>

    </div>
</template>

<script>

    export default {

        props: ['hideLabel', 'value', 'set_session'],

        data() {
            return {
                userTypes: null,
                user: null // signed in user
            }
        },

        created() {
            Common.getMe(1)
                .then(data => {
                    this.user = data;
                })
                .catch(e => {

                });

            axios.get('/getUserTypes').then(response => {
                this.userTypes = response.data.userTypes;
            });
        },

        methods: {
            userTypeChanged(val) {
                if (this.set_session) {
                    axios.post('/setSession', {key: 'session_user_type_id', value: val});
                }
                this.$emit('input', val); // do not remove, this connects v-model in forms
            }
        }
    }

</script>

<style lang="css">

</style>