/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    FOR USE ON THE EDIT USER PAGE ONLY RN

*/
<template lang="html">
    <div id="userSelectPartial">
        <label for="userSelect">User</label>

        <select name="userSelect" id="userSelect" class="form-control"
                v-model="selected_user_id"
                :value="getEditedUser.id" :disabled="false">
            <option :value="-1" :selected="!selected_user_id || selected_user_id == -1" disabled>Select a user to edit...</option>
            <option v-for="user in users" v-show="includeThisUser(user)" :value="user.id" :selected="getEditedUser.id == user.id">
                {{ user | userNameFilter }} &nbsp; : &nbsp; ( {{ user | userTypeFilter }})
                <!--&nbsp; {{ user.email }}-->


            </option>
        </select>

        <div v-if="getView == 'loginHistory'" class="row">
            <div class="col-sm-4 text-right">
                <input type="checkbox"
                       id="driverCheckbox"
                       v-model="include.drivers"
                       @change="filterUsers()">
                <label for="driverCheckbox" class="inactive-check-label mb-0" style="font-size: 13px; font-weight:normal;">
                    Drivers
                </label>
            </div>

            <div class="col-sm-4 text-right">
                <input type="checkbox"
                       id="managerCheckbox"
                       v-model="include.managers"
                       @change="filterUsers()">
                <label for="managerCheckbox" class="inactive-check-label mb-0" style="font-size: 13px; font-weight:normal;">
                    Managers
                </label>
            </div>

            <div class="col-sm-4 text-right">
                <input type="checkbox"
                       id="administratorCheckbox"
                       v-model="include.administrators"
                       @change="filterUsers()">
                <label for="administratorCheckbox" class="inactive-check-label mb-0" style="font-size: 13px; font-weight:normal;">
                    Administrators
                </label>
            </div>
        </div>
<!--Comment out to remove bu left code in just incase there is some sort of conflict-->
        <!--<div v-else class="row">-->
            <!--<div class="col-lg-3 offset-lg-3 col-sm-12">-->
                <!--&lt;!&ndash;<span class="float-right inactive-select-check">&ndash;&gt;-->

                            <!--&lt;!&ndash;<input type="checkbox"&ndash;&gt;-->
                                   <!--&lt;!&ndash;id="driverCheckbox"&ndash;&gt;-->
                                   <!--&lt;!&ndash;v-model="include.drivers"&ndash;&gt;-->
                                   <!--&lt;!&ndash;@change="filterUsers()">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label for="driverCheckbox" class="inactive-check-label">&ndash;&gt;-->
                                <!--&lt;!&ndash;Drivers&ndash;&gt;-->
                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-sm-12">-->
                <!--&lt;!&ndash;<span class="float-right inactive-select-check">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="checkbox"&ndash;&gt;-->
                               <!--&lt;!&ndash;id="managerCheckbox"&ndash;&gt;-->
                               <!--&lt;!&ndash;v-model="include.managers"&ndash;&gt;-->
                               <!--&lt;!&ndash;@change="filterUsers()">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="managerCheckbox" class="inactive-check-label">&ndash;&gt;-->
                            <!--&lt;!&ndash;Managers&ndash;&gt;-->
                        <!--&lt;!&ndash;</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-sm-12">-->
                <!--&lt;!&ndash;<span class="float-right inactive-select-check">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox"&ndash;&gt;-->
                           <!--&lt;!&ndash;id="administratorCheckbox"&ndash;&gt;-->
                           <!--&lt;!&ndash;v-model="include.administrators"&ndash;&gt;-->
                           <!--&lt;!&ndash;@change="filterUsers()">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label for="administratorCheckbox" class="inactive-check-label">&ndash;&gt;-->
                        <!--&lt;!&ndash;Administrators&ndash;&gt;-->
                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

        <!--<div v-if="selected_user_id > -1 && users.length > 0 && display_modal_at_change" id="" :class="{'modal': true, 'is-active': show_confirmation_modal == true}">-->
            <!--<div class="modal-background"></div>-->
            <!--<div class="modal-card">-->
                <!--<header class="modal-card-head">-->
                    <!--<p class="modal-card-title">Switch Edited User</p>-->
                    <!--<button class="delete" @click="userChangeCancelled()"></button>-->
                <!--</header>-->
                <!--<section class="modal-card-body">-->
                    <!--<h5>-->
                        <!--Are you sure you want to switch to {{ users.find( u => { return u.id == selected_user_id } ) | userNameFilter }}?-->
                    <!--</h5>-->
                    <!--<p>-->
                        <!--&lt;!&ndash;Any edits made to {{ getEditedUser | userNameFilter }} will be discarded.&ndash;&gt;-->
                    <!--</p>-->
                <!--</section>-->
                <!--<footer class="modal-card-foot">-->
                    <!--<button class="btn" @click="userChangeCancelled()">Cancel</button>-->
                    <!--<button class="btn btn-primary" @click="userChangeConfirmed()">Switch User</button>-->
                <!--</footer>-->
            <!--</div>-->
        <!--</div>-->


    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "./LoadingPartial";

    export default {
        props: ['display_modal_at_change', 'from_session'],

        components: {LoadingPartial},

        data() {
            return {
                users: [],
                include: {
                    drivers: true,
                    managers: true,
                    administrators: true,
                },
                show_confirmation_modal: false,
                selected_user_id: -1,
                selected_company_id: -1,
            };
        },

        created() {

        },

        mounted() {
            // EventBus.$on('edit-user-page-company-changed', this.companyChanged); // davery original
            EventBus.$on('company-changed', this.companyChanged); // davery - added
            EventBus.$on('reload-defaults-add-edit-user', this.resetSelectedUser);

            this.selected_user_id = this.getEditedUser && this.getEditedUser.id > 0 ? this.getEditedUser.id : -1;
            console.log('userSelect mounted, set user id to ' + this.selected_user_id, this.getEditedUser);
            this.getUsers(this.getSessionCompanyId);
        },

        beforeDestroy() {
            EventBus.$off('edit-user-page-company-changed', this.companyChanged);
            EventBus.$off('reload-defaults-add-edit-user', this.resetSelectedUser);

        },

        computed: {
            ...mapGetters([
                'getView',
                'getEditedUser',
                'getSessionCompanyId',
                'getActiveRole',
            ])
        },

        filters: {
            userNameFilter: function(user) {
                return user.last_name + ', ' + user.first_name;
            },

            userTypeFilter: function(user) {
                let user_type = '';
                user_type += user.is_driver ?
                    (user.active_driver ? 'active ' : 'inactive ')
                    + 'driver - ' : '';
                user_type += user.is_manager ?
                    (user.active_manager ? 'active ' : 'inactive ')
                    + 'manager - ' : '';
                user_type += user.is_administrator ?
                    (user.active_administrator ? 'active ' : 'inactive ')
                    + 'administrator - ' : '';

                return user_type.substring(0, user_type.length - 2);
            }
        },

        watch: {

            /**
             * when a new user is selected, if it differs from the user being edited,
             * confirm the user change
             * @param val
             */
            selected_user_id: function(new_val, old_val) {
                if (new_val != this.getEditedUser.id && new_val != -1) {
                    this.changeUser();
                }
            }

        },

        methods: {
            resetSelectedUser() {
                this.selected_user_id = -1;
            },

            companyChanged() { // davery - new
                if (this.getSessionCompanyId >= 0) {
                    console.log('user select company changed', this.getSessionCompanyId);
                    this.selected_user_id = -1;
                    this.getUsers(this.getSessionCompanyId).then(() => {
                        this.selected_user_id = this.users[0].id;
                        EventBus.$emit('user-select-user-changed', this.selected_user_id);
                    });
                }
            },

            /* davery - original
            companyChanged(id) {
                if (id)
                    console.log('user select company changed', id);
                this.selected_user_id = -1;
                this.getUsers(id).then( () => {
                    this.selected_user_id = this.users[0].id;
                    EventBus.$emit('user-select-user-changed', this.selected_user_id);
                });
            },*/

            includeThisUser(user) {
                return (user.is_driver && this.include.drivers)
                    || (user.is_manager && this.include.managers)
                    || (user.is_administrator && this.include.administrators)
            },

            filterUsers() {

            },

            // confirmUserChange() {
            //     this.show_confirmation_modal = true;
            // },

            getUsers(company_id) {
                console.log('hit getUsers')
                return new Promise(resolve => {
                    let url = '';
                    if (this.from_session) {
                        console.log('from_session')
                        url = '/getUsers/' + company_id + '/' + this.from_session;
                    } else {
                        console.log('NOT from_session')
                        url = (this.getActiveRole === 'administrator' ? '/getUsersAdministrator/' : '/getUsers/') + company_id;
                    }
                    axios.get(url).then( response => {
                        this.users = response.data;
                        resolve();
                    });
                });
            },

            changeUser() {
                EventBus.$emit('user-select-user-changed', this.selected_user_id);
                // this.show_confirmation_modal = false;
            },

            userChangeCancelled() {
                this.selected_user_id = this.getEditedUser && this.getEditedUser.id ? this.getEditedUser.id : -1;
                this.show_confirmation_modal = false;
            }


        }
    };
</script>

<style lang="css">

    #userSelectPartial option:after {
        background-color:red;
    }

</style>