/**
Requires:

Optional:
    ascending - prop to list select options in ascending order. as this is optional
                the default is (null ~~ false) and options are displayed in descending
                order.
Getters:

Setters:

Listeners:

Emitters:

Notes:
    THIS COMPONENT IS FOR USE WITH V-MODEL ONLY.
    IT DOES NOT SET SESSION.
    IT DOES NOT CARE ABOUT THE STORE.
*/
<template lang='html'>
    <div class="form-group" id="vehicleYearSelect">

        <label for="selecter">Vehicle Year</label>

        <select name="vehicleYearSelect"
                id="selecter"
                class="form-control"
                :value="value"
                @change="$emit('input', $event.target.value)"
                :disabled="disabled">
            <option v-if="!hide_default_option"
                    value="-1"
                    :selected="value == -1">{{ default_option_text }}</option>
            <option v-for="year in years"
                    :value="year"
                    :selected="value == year">
                <span>{{ year }}</span>
            </option>
        </select>

    </div>
</template>


<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['value', 'ascending', 'hide_default_option', 'disabled'],

        data() {
            return {
                years: [],
                default_option_text: 'Select Year',
                year: -1,
                default_start_year: 2007,
                default_end_year: new Date().getFullYear(),
            };
        },

        beforeCreate() {
            axios.get('/getVehiclesYearRange').then( response => {
                for (let i = response.data.min_year; i <= response.data.max_year; i++) {
                    (this.ascending) ? this.years.push(i) : this.years.unshift(i);
                }
            })
        },

        created() {
        },

        mounted() {

        },

        computed: {
            ...mapGetters([

            ])
        },


        watch: {

        },


        methods: {

        }
    };

</script>

<style lang='css'>

</style>