/**
Data:
- makes: array
- session_make_id: int

Inputs:
- initial_make_id (optional)

Listeners:
- update-make-value: set session_make_id to sent value

Methods:
- updateMake: set session_make_id in session, alert VehicleModelSelect a new make has
been selected.

- newMake: accept integer value, set as session_make_id, call updateMake.

Notes:
If initial_make_id is set, use as session_make_id. If not, check backend for
a session value.
*/
<template lang="html">
    <div id="vehicleMakePartial" class="form-group">
        <label v-show="!hide_label">Make</label>

        <select name="VehicleMakeSelect" id="vehicleMakeSelect" :disabled="disabled"
                class="form-control" @change="updateMake($event.target.value)" :value="value">
            <option value="-1" :selected="value == -1">Please select vehicle make</option>
            <option v-for="make in makes" :value="make.id"
                    :selected="value == make.id">{{ make.name }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {

        props: ['value', 'disabled', 'hide_label'],

        data() {
            return {
                makes: []
            }
        },

        created() {
            axios.get('/getVehicleMakes').then(response => {
                this.makes = response.data.makes;
            });
        },

        methods: {
            updateMake(val) {
                Common.setSession('session_make_id', val);
                this.$emit('input', val); // do not remove, this connects v-model in forms // notification for parent page
            }
        }
    }
</script>

<style lang="css">

</style>