/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="vehiclePartials" class="form-group"></div>
        <label>Vehicle</label>
</template>

<script>

export default {

    props: ['caller_id','year'],

    data() {
        return {
            vehicles: [],
            session_vehicle_id: -1
        }
    },

    created() {

    },

    methods: {

    }
}
</script>

<style lang="css">

</style>



