/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="vehicleProfileCardContent" class="card-body">
            <div class="table-responsive" v-if="vehicleProfile.id > 1">
                <table class="table-sm">
                    <tr>
                        <td :colspan="vehicleProfile.name_postfix ? 2 : 3">
                            <strong>Vehicle</strong>
                        </td>
                        <td v-if="vehicleProfile.name_postfix">
                            <strong>Postfix</strong>
                        </td>
                        <td :colspan="vehicleProfile.name_postfix ? 2 : 3">
                            <strong>Category</strong>
                        </td>

                    </tr>

                    <tr>
                        <td :colspan="vehicleProfile.name_postfix ? 2 : 3">
                            {{ vehicleProfile.vehicle.year + ' ' + vehicleProfile.vehicle.name + trim_formatted }}
                        </td>
                        <td v-if="vehicleProfile.name_postfix">
                            {{ vehicleProfile.name_postfix }}
                        </td>
                        <td :colspan="vehicleProfile.name_postfix ? 2 : 3">
                            {{ vehicle_category_formatted }}
                        </td>

                    </tr>
                    <tr>
                        <td colspan="1">
                            <strong>Capital Cost</strong>
                        </td>
                        <td colspan="2">
                            <strong>Resale Condition</strong>
                        </td>
                        <td colspan="2">
                            <strong>Max Age</strong>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="1">
                            {{ capital_cost_formatted }}
                        </td>
                        <td colspan="2">
                            {{ resale_condition_formatted }}
                        </td>
                        <td colspan="2">
                            {{ vehicleProfile.max_vehicle_age + ' Years' }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>BUP</strong>
                        </td>
                        <td>
                            <strong>Retention</strong>
                        </td>
                        <td v-if="vehicleProfile.preset_fixed > 0">
                            <strong>Preset Fixed</strong>
                        </td>
                        <td v-if="vehicleProfile.preset_variable > 0">
                            <strong>Preset Variable</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ vehicleProfile.business_use_percent }}
                        </td>
                        <td>
                            {{ vehicleProfile.retention + ' Years'}}
                        </td>
                        <td v-if="vehicleProfile.preset_fixed > 0">
                            ${{ vehicleProfile.preset_fixed }}
                        </td>
                        <td v-if="vehicleProfile.preset_variable > 0">
                            {{ vehicleProfile.preset_variable }}&cent;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Adjustments</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {{ formatted_adjustments_list }}
                        </td>
                    </tr>
                    <tr v-if="vehicleProfile.note && vehicleProfile.note.title">
                        <td>
                            <strong>Note</strong>
                        </td>
                    </tr>
                    <tr v-if="vehicleProfile.note && vehicleProfile.note.title">
                        <td colspan="4">
                            {{ vehicleProfile.note.content }}
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['vehicleProfile'],

        components: {},

        data() {
            return {

            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([

            ]),

            capital_cost_formatted() {
                return Common.formatCapitalCost(this.vehicleProfile.capital_cost);
            },

            resale_condition_formatted() {
                return Common.getResaleCondition(this.vehicleProfile.resale_condition_id);
            },

            vehicle_category_formatted() {
                return this.vehicleProfile.vehicle.category.name;
            },

            trim_formatted() {
                return this.vehicleProfile.vehicle.rank ? ' trim level [' + this.vehicleProfile.vehicle.rank + ']' : '';
            },

            formatted_adjustments_list() {
                let formatted_list = '';
                for(let key in this.vehicleProfile ) {
                    if ( key.search('adj') != -1) {
                        // adjustment is present
                        if (this.vehicleProfile[key] != 0 && typeof(this.vehicleProfile[key]) == 'number') {
                            let name = key.substring(0, key.length - 4);

                            name = ( name.split('_').map( word => word.charAt(0).toUpperCase() + word.slice(1) ) ).join(' ');

                            let unit = '%';
                            if ( key.search('fixed') == 1) {
                                unit = '$'
                            } else if ( key.search('variable') == 1 ) {
                                unit = '¢'
                            }

                            formatted_list += name + ' ' + this.vehicleProfile[key] + unit + ', ';
                        }
                    }
                }

                return formatted_list.length > 1 ? formatted_list.substring(0, formatted_list.length - 2) : 'None'
            },
        },

        watch: {

        },

        methods: {}
    };
</script>

<style lang="css">

</style>