<template lang="html">
    <div id="vehicleModelPartial" class="form-group">
        <label v-show="!hide_label">Model</label>

        <select name="VehicleModelSelect" id="vehicleModelSelect" :disabled="disabled"
                class="form-control" @change="updateModel($event.target.value)" :value="value">
            <option value="-1" :selected="value == -1">Please Select Model</option>
            <option v-for="model in models" :value="model.id"
                    :selected="value == model.id">{{ model.name }}
            </option>
        </select>
    </div>
</template>


<script>
    export default {
        props: ['value', 'session_year_id', 'session_make_id', 'disabled', 'hide_label'],

        data() {
            return {
                models: []
            }
        },

        created() {
            this.getModels();
        },

        watch: {
            value: function (val) {

            },

            session_make_id: function (val) {
                this.getModels();
            },

            session_year_id: function (val) {
                this.getModels();
            }
        },

        methods: {
            // internal action, set session value here
            updateModel(val) {
                Common.setSession('session_model_id', val);
                this.$emit('input', val); // do not remove, this connects v-model in forms
            },

            getModels(){
                if( this.session_year_id > 0 && this.session_make_id > 0 ) {
                    axios.post('/getVehicleModels',{
                        'make_id': this.session_make_id,
                        'year_id': this.session_year_id
                    }).then(response => {
                        this.models = response.data.models;
                    });
                }
            }
        }
    }
</script>

<style lang="css">

</style>