/**
Requires:
caller_id: parent page

Optional:
emit_object - will fire an event with the whole vehicle profile as the payload
                (use a regular v-model but initialize with v-model="someVehicleProfileObject" where someVehicleProfileObject = { id: -1 } )
disabled - disables the select
awaiting_approval - if true, the select grabs only awaiting_approval vehicle profiles

Getters:

Setters:

Listeners:

Emitters:
[caller_id]-vehicle-profile-changed

Notes:

*/
<template lang="html">
    <div id="vehicleProfilesSelect" name="vehicleProfilesSelect" class="form-group">
        <label>Vehicle Profiles
            <small>{{ vehicle_profiles_count }}</small>
        </label>

        <select v-if="!awaiting_approval" name="vehicleProfiles" id="vehicleProfiles" class="form-control" :disabled="disabled || getting_vehicle_profiles"
                :value="getSessionVehicleProfileId" @change="updateSessionVehicleProfile($event)"><!--emit_object ? value.id : value-->

            <option :value="-1" :selected="getSessionVehicleProfileId == -1">
                {{ default_option_text }}
            </option>
            <option v-for="profile in vehicleProfiles" :value="profile.id"
                    v-if="showInactive(profile.deleted_at)"
                    :selected="getSessionVehicleProfileId == profile.id"
                    :class="{'inactive-vehicle-profile': profile.deleted_at}">
                {{ profile.vehicle.year + ' ' +
                profile.vehicle.name + ' ' + profile.name_postfix }}
            </option>
        </select>

        <select v-else name="vehicleProfiles" id="vehicleProfilesProposed" class="form-control" :disabled="disabled || getting_vehicle_profiles"
                :value="proposedVehicleProfile" @change="updateSessionVehicleProfile($event)"><!--emit_object ? value.id : value-->

            <option :value="-1" :selected="proposedVehicleProfile.id == -1">
                {{ default_option_text }}
            </option>
            <option v-for="profile in vehicleProfiles" :value="profile.id"
                    v-if="showInactive(profile.deleted_at)"
                    :selected="proposedVehicleProfile.id == profile.id"
                    :class="{'inactive-vehicle-profile': profile.deleted_at}">
                {{ profile.vehicle.year + ' ' +
                profile.vehicle.name + ' ' + profile.name_postfix }}
            </option>
        </select>

        <label class="float-right" v-if="!hide_inactive" for="include_inactive">
            <input v-if="from_session" type="checkbox" id="include_inactive" v-model="include_inactive_vehicle_profiles" @change="vehicleProfilesCount">&nbsp;&nbsp;Include inactive</label>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['caller_id', 'value', 'emit_object', 'disabled', 'awaiting_approval', 'hide_inactive', 'from_session'],

        data() {
            return {
                vehicle_profile_id: -1,
                vehicleProfiles: null,
                vehicle_profiles_count: 0,
                active_vehicle_profiles_count: 0,
                inactive_vehicle_profiles_count: 0,
                include_inactive_vehicle_profiles: false,
                proposedVehicleProfile: {id: -1},
                getting_vehicle_profiles: false,
            };
        },

        created() {
            EventBus.$on('company-changed', () => {
                console.log('hit company-changed');
                this.getVehicleProfiles();
            });

            this.getVehicleProfiles();
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionVehicleProfileId',
            ]),

            default_option_text: function() {
                return this.getting_vehicle_profiles ? 'Loading...' : 'Select a vehicle profile...';
            }

        },

        mounted() {
            // this forces the list to be refreshed whenever a vehicleProfile is added, edited, or deleted
            EventBus.$on('vehicle-profile-updated', this.getVehicleProfiles);
        },

        beforeDestroy() {
            EventBus.$off('vehicle-profile-updated', this.getVehicleProfiles);
        },

        methods: {
            updateSessionVehicleProfile(event) {
                if (this.awaiting_approval) {
                    EventBus.$emit('selected-proposed-vehicle-profile-changed', event.target.value);
                } else {
                    Common.storeCommit('updateSessionVehicleProfileId', event.target.value);
                    console.log('updateSessionVehicleProfileId', this.getSessionVehicleProfileId);
                    EventBus.$emit('session-vehicle-profile-changed'); // davery
                }
                // this.emit_object ? this.$emit('input', this.vehicleProfiles.find(vp => { return vp.id === event.target.value; } ) ) : this.$emit('input', event.target.value);
            },

            getVehicleProfiles() {
                this.getting_vehicle_profiles = true;
                let url = this.awaiting_approval ? '/getVehicleProfilesAwaitingApproval/' : '/getVehicleProfiles/';
                axios.get(url + this.getSessionCompanyId).then(response => {
                    this.vehicleProfiles = response.data.vehicleProfiles;
                    this.active_vehicle_profiles_count = response.data.active_count;
                    this.inactive_vehicle_profiles_count = response.data.inactive_count;
                    this.vehicleProfilesCount();
                    this.getting_vehicle_profiles = false;
                });
            },

            vehicleProfilesCount() {
                if (this.include_inactive_vehicle_profiles) {
                    this.vehicle_profiles_count = this.inactive_vehicle_profiles_count + this.active_vehicle_profiles_count;
                }
                else {
                    this.vehicle_profiles_count = this.active_vehicle_profiles_count;
                }
                Common.fire(this.caller_id + '-vehicle-active-changed', this.include_inactive_vehicle_profiles);
            },

            showInactive(deleted_at) {
                if (this.include_inactive_vehicle_profiles) {
                    return true;
                }

                if (deleted_at === null) {
                    return true;
                }

                return false;
            },
        }
    };

</script>


<style lang="css">
    #vehicleProfilesSelect select option.inactive-vehicle-profile {
        color: red;
    }
</style>