/**
Requires:
a vehicleProfile object from the parent
these follow the database structure of the vehicle_profile_mappings table.
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
    If vehicleProfileApproval = null, it is assumed the vehicle profile is awaiting
    approval.

*/
<template lang="html">
    <div id="vehicleProfileStatus">
        <div class="position-relative">
            <button :class="button_class" @mouseover="alert_active = true"
                    @mouseleave="alert_active = false"
                    style="height: 42px; width: 42px; border-radius: 50%;">
                <i :class="icon_class" style="vertical-align: unset"></i>
            </button>
        </div>

        <transition name="fade5s">
            <div v-if="alert_active" :class="alert_class" class="mb-0 mt-2 position-absolute" role="alert"
                 style="max-width: 320px; z-index: 10; word-wrap: break-word;">
                {{ approval_status }}
                <br>
                {{ vehicleProfileApproval ? vehicleProfileApproval.note : null}}
            </div>
        </transition>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {
        props: ['vehicleProfileApproval'],

        components: {},

        data() {
            return {
                button_class:  null,
                icon_class: null,
                alert_class: null,
                approval_status: null,
                alert_active: false,

            };
        },

        created() {

        },

        mounted() {
            EventBus.$on('vehicle-profile-approval-changed', () => this.selectClass());
        },

        computed: {
        },

        watch: {
            'vehicleProfileApproval': {
                handler: function(m) {
                    // calculate the style options
                    this.selectClass();
                },
                deep: true,
                immediate: true,
            }

        },

        methods: {
            selectClass() {
                if ( Common.isEmpty(this.vehicleProfileApproval) ) {
                    this.button_class = 'btn p-0 btn-warning';
                    this.icon_class = 'fas fa-exclamation-triangle';
                    this.alert_class = 'alert alert-warning';
                    this.approval_status = 'This vehicle profile has not been submitted for approval';
                } else if (this.vehicleProfileApproval.approved == 1) {
                    this.button_class = 'btn p-0 btn-success';
                    this.icon_class = 'fas fa-check';
                    this.alert_class = 'alert alert-success';
                    this.approval_status = 'Approved';
                } else if (this.vehicleProfileApproval.approved == 0) {
                    this.button_class = 'btn p-0 btn-danger';
                    this.icon_class = 'fas fa-times';
                    this.alert_class = 'alert alert-danger';
                    this.approval_status = 'Rejected';
                } else if (this.vehicleProfileApproval.approved == null) {
                    this.button_class = 'btn p-0 btn-secondary';
                    this.icon_class = 'fas fa-clock';
                    this.alert_class = 'alert alert-info';
                    this.approval_status = 'Awaiting Approval';
                }
            }
        }
    };
</script>

<style lang="css">

</style>