<template lang="html">
    <div id="vehicleTrimPartial" class="form-group">
        <label v-show="!hide_label">Trim</label>

        <select name="VehicleTrimSelect" id="vehicleTrimSelect" :disabled="disabled"
                class="form-control" @change="updateTrim($event.target.value)" :value="value">
            <option value="-1" :selected="value == -1">Please Select Trim (optional)</option>
            <option v-for="trim in trims" :value="trim.id"
                    :selected="value == trim.id">{{ trim.name }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {

        props: ['value', 'session_make_id', 'session_model_id', 'session_year_id', 'disabled', 'hide_label'],

        data() {
            return {
                trims: []
            }
        },

        created() {
            this.newTrimSelection();
        },

        watch: {
            session_make_id: function (val) {
                this.trims = [];
            },

            session_model_id: function (val) {
                this.newTrimSelection();
            },

            session_year_id: function (val) {
                this.newTrimSelection();
            }
        },

        methods: {
            updateTrim(trim_id){
                Common.setSession('session_trip_id', trim_id);
                this.$emit('input', trim_id);
            },

            newTrimSelection(){
             console.log('new trim function');
                if (this.session_model_id > 0 && this.session_year_id > 0) {
                 console.log('about tot post');
                    axios.post('/getVehicleTrims', {
                        'year_id': this.session_year_id,
                        'model_id': this.session_model_id
                    }).then(response => {
                        this.trims = response.data.trims;
                    });
                } else {
                    this.trims = [];
                }
            }
        },

    }
</script>
