/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="vehicleProfileApprovalCard">

        <status-indicator :status="status.message"
                          :color="status.color"
                          :hide_driver_name="true"
                          class="float-right"/>
            <vehicle-profile-card-content :vehicleProfile="vehicleProfile"/>

                <div :class="{'form-group': true, 'has-error': errors.has('reason')}">
                    <label>Reason</label>
                    <textarea class="form-control"
                              @input="errors.clear('reason')"
                              placeholder="Type a reason..."
                              v-model="reason"></textarea>
                    <span class="has-error" v-if="errors.has('reason')">{{ errors.get('reason') }}</span>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary float-right"
                                @click="validateConfirm('approve')">
                            Approve
                        </button>

                        <button class="btn btn-danger float-right" style="margin-right: 1rem;"
                                @click="validateConfirm('reject')">
                            Reject
                        </button>


                    </div>
                </div>


        <!--ACTION CONFIRMATION-->
        <div id="confirmationModal" v-if="action" :class="{'modal':true, 'is-active':show_confirmation_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Are you sure you want to {{ action }}?</p>
                    <button class="delete" @click.prevent="show_confirmation_modal = false"></button>
                </header>
                <section class="modal-card-body confirmation-modal-body">
                    <h4>
                        {{ vehicleProfile.vehicle.year + ' ' + vehicleProfile.vehicle.name + ' ' +
                        vehicleProfile.name_postfix }}
                    </h4>
                </section>
                <footer class="modal-card-foot">
                    <a :class="modal_action_button_class" @click="submit(action)">Confirm</a>
                    <a class="btn btn-secondary" @click="show_confirmaton_modal = false">Cancel</a>
                </footer>
            </div>
        </div>


    </div>

</template>


<script>
    import {StatusIndicator} from '../driver';
    import {VehicleProfileCardContent} from './';
    import Errors from '../../utilities/Errors.js';
    import {EventBus} from "../../event-bus";

export default {

    props: ['caller_id', 'vehicleProfile'],

    components: {StatusIndicator, VehicleProfileCardContent},

    data() {
        return {
            reason: '',
            errors: new Errors,
            show_confirmation_modal: false,
            action: null,
            approved: null,
        }
    },

    created() {

    },

    computed: {
        header_button_class() {
            if (this.approved == null) {
                return 'btn btn-secondary';
            } else if (this.approved == 0) {
                return 'btn btn-danger';
            } else {
                return 'btn btn-primary';
            }
        },

        capital_cost_formatted() {
            return Common.formatCapitalCost(this.vehicleProfile.capital_cost);
        },

        resale_condition_formatted() {
            return Common.getResaleCondition(this.vehicleProfile.resale_condition_id);
        },

        vehicle_category_formatted() {
            return this.vehicleProfile.vehicle.category.name;
        },

        trim_formatted() {
            return this.vehicleProfile.vehicle.rank ? ' trim level [' + this.vehicleProfile.vehicle.rank + ']' : '';
        },

        formatted_adjustments_list() {
            let formatted_list = '';
            for(let key in this.vehicleProfile ) {
                if ( key.search('adj') != -1) {
                    // adjustment is present
                    if (this.vehicleProfile[key] != 0 && typeof(this.vehicleProfile[key]) == 'number') {
                        let name = key.substring(0, key.length - 4);

                        name = ( name.split('_').map( word => word.charAt(0).toUpperCase() + word.slice(1) ) ).join(' ');

                        let unit = '%';
                        if ( key.search('fixed') == 1) {
                            unit = '$'
                        } else if ( key.search('variable') == 1 ) {
                            unit = '¢'
                        }

                        formatted_list += name + ' ' + this.vehicleProfile[key] + unit + ', ';
                    }
                }
            }

            return formatted_list.length > 1 ? formatted_list.substring(0, formatted_list.length - 2) : 'None'
        },

        modal_title() {
            return this.action.charAt(0).toUpperCase() + this.action.slice(1);
        },

        verb() {
            return this.action == 'reject' ? 'rejecting' : 'approving';
        },

        modal_action_button_class() {
            return this.action == 'reject' ? 'btn btn-danger' : 'btn btn-primary';
        },

        status: function() {
            if (this.vehicleProfile.approval.approved) {
                return {
                    color: 'Green',
                    message: 'Approved',
                }
            } else if (this.vehicleProfile.approval.approved === 0) {
                return {
                    color: 'Red',
                    message: 'Rejected'
                }
            } else {
                return {
                    color: 'Yellow',
                    message: 'Awaiting Approval'
                }
            }
        }
    },

    mounted() {

    },

    destroyed() {

    },

    watch: {

    },

    methods: {
        selectVehicleProfile() {
            EventBus.$emit(this.caller_id + '-toggle-vehicle-selected', this.vehicleProfile.id);
        },

        validateConfirm(action) {
            this.action = action;
            //validate
            if (this.reason.length > 250) {
                this.errors.add('reason', ['Reason can be a maximum of 250 characters'])
            } else if (action == 'reject' && Common.isEmpty(this.reason)) {
                this.errors.add('reason', ['You have to supply a reason for rejection'])
            }

            if (this.errors.any()){
                this.$forceUpdate();
                return;
            }

            this.show_confirmation_modal = true;
        },

        submit(action) {
            this.show_confirmation_modal = false;

            let url = action == 'approve' ? '/approveVehicleProfile' : '/rejectVehicleProfile';
            // console.log(this.approvedVehicleProfileIds);
            axios.post(url, {
                    vehicle_profile_id: this.vehicleProfile.id,
                    note: this.reason,
            }).then(response => {
                this.vehicleProfile.approval.approved = action == 'approve' ? 1 : 0;
                this.collapseCard();
                EventBus.$emit(this.caller_id + '-' + action + '-vehicle-profile', this.vehicleProfile.id);
            }).catch(error => {
                // noone should ever get here
                alert(error.response);
            });
        },

        collapseCard() {
            $('#collapse-' + this.vehicleProfile.id).collapse('toggle');
        }
    },
}
</script>

<style lang="css">

    #vehicleProfileApprovalCard .confirmation-modal-body {
        height: 150px;
    }

</style>