/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="widgetSelectPartial" class="form-group">
        <label v-if="!hide_label">Widgets:</label>

        <select name="widgetSelect" id="widgetSelect" class="form-control"
                :value="value" @change="$emit('input', $event.target.value)">
            <option value="-1" :selected="value == -1">Select widget...</option>
            <option v-for="widget in widgets" :value="widget.id"
                    :selected="value == widget.id">{{ widget.name }}
            </option>
        </select>
    </div>
</template>

<script>

    export default {

        props: ['caller_id', 'value', 'hide_label'],

        data() {
            return {
                widgets: null
            }
        },

        created() {
            axios.get('/getWidgets').then(response => {
                this.widgets = response.data.widgets;
            });
            this.widgets = [
                {id: 202, name: 'A red widget', icon_id: 1876, color: 'red', destroy_date: '2017-12-25', description: 'Used for dangerous stuff', is_super_cool: true},
                {id: 777, name: 'A blue widget', icon_id: 45, color: 'blue', destroy_date: '2025-01-01', description: 'Calm and soothing', is_super_cool: true},
                {id: 1017, name: 'A yellow widget', icon_id: 43, color: 'yellow', destroy_date: '2018-07-16', description: 'Who cares?', is_super_cool: false}
            ];
        },

        methods: {
            widgetChanged(val) {
                // perform other actions first here
                this.$emit('input', val); // do not remove, this connects v-model in forms
            }
        }
    }

</script>

<style lang="css">

</style>