<template lang='html'>
    <div class="form-group" id="yearSelectionPartial">

        <label for="yearSelect" v-show="!hide_label">Year:</label>

        <select name="yearSelect"
                id="yearSelect"
                class="form-control"
                :value="getSessionYear"
                @change="yearChanged($event.target.value)"
                :disabled="disabled">
            <option v-if="all_years == false" value="-1" :selected="getSessionYear == -1" disabled>{{ default_option_text }}</option>
            <option v-if="all_years == true" value="-1" :selected="getSessionYear == -1" >All Years</option>
            <option v-for="year in years"
                    :value="year"
                    :selected="getSessionYear == year">
                <span>{{ year }}</span>
            </option>
        </select>

    </div>
</template>


<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['start_year', 'end_year', 'direction', 'disabled', 'hide_label', 'caller_id', 'session_override_value', 'allow_all'],

        data() {
            return {
                years: [],
                default_option_text: 'Select Year',
                year_id: -1,
                default_start_year: 2007,
                default_end_year: new Date().getFullYear(),
                default_direction: 'desc',
                all_years: false
            };
        },

        created() {
        },

        mounted() {
            // Common.listen('set-selected-year', this.setSelected); // ??

            // set default values to values sent in by parent
            // this.default_start_year = this.start_year ? this.start_year : this.default_start_year;
            this.default_end_year = this.end_year ? this.end_year : this.default_end_year;
            this.default_direction = this.direction ? this.direction : this.default_direction;
            this.all_years = this.allow_all ? true : false;

            if (Common.isEmpty(this.getSessionYear)) {
                //console.log('there was no year');
//                this.yearChanged(moment().year());
            }
            else {
                //console.log('year is', this.getSessionYear);
            }

            this.initialize_years();
        },

        computed: {
            ...mapGetters([
                'getActiveManagerId',
                'getCompanyId',
                'getSessionYear',
                'getSessionMonth',
                'getCompanyStartYear',
                'getCompanyStopYear'
            ])
        },


        watch: {

            start_year: function (val) {
                this.default_start_year = val;
                this.initialize_years();
            },

            getCompanyStartYear: function (val) {
                console.log("Detected Start Year " + val);
                this.default_start_year = val;
                this.initialize_years();
            },

            getCompanyStopYear: function (val) {
                this.default_stop_year = val;
                this.initialize_years();
            },



        },


        methods: {

            setSelected(year) {
                this.year_id = year;
            },

            yearChanged(year) {
                Common.storeCommit('updateSessionYear', year);
                this.$emit('input', year);
                EventBus.$emit('year-changed');
            },

            initialize_years() {
                console.log('initializing years, start/stop ' + this.getCompanyStartYear + '/' + this.getCompanyStopYear);
                this.default_start_year = this.getCompanyStartYear ? this.getCompanyStartYear : this.default_start_year;
                this.default_end_year = this.getCompanyStopYear ? this.getCompanyStopYear : this.default_end_year;
                this.years = [];

                if (this.default_direction === 'asc') {
                    for (let i = this.default_start_year; i <= this.default_end_year; i++) {
                        this.years.push(i);
                    }
                }
                else {
                    for (let i = this.default_end_year; i >= this.default_start_year; i--) {
                        this.years.push(i);
                    }
                }
            }
        }
    };

</script>

<style lang='css'>

</style>