/**
Requires:
 - state_id
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/

<template lang="html">
    <div class="form-group" id="zipCodeSelectPartial">
        <label for="zipSelect" v-if="!hide_label">Zip Code</label>

        <select name="zipSelect" id="zipSelect" class="form-control form-control-sm"
                @change="updateZip($event.target.value)" :value="value">
            <option value="-1" :selected="value == -1"></option>
            <option v-for="zip in zipcodes" :value="zip.zip_code"
                    :selected="value == zip.zip_code">{{ zip.zip_code }} {{zip.city_name}}
            </option>
        </select>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    export default {

        props: ['value', 'state_id', 'caller_id', 'hide_label', 'emit_object'],

        data() {
            return {
                zipcodes: []
            }
        },

        created() {
            this.getZip();
        },

        watch: {
            state_id: function (val) {
                this.getZip();
            }
        },


        methods: {

            getZip() {
                axios.get('/getZipCodes/' + this.state_id + '/').then(response => {
                    this.zipcodes = response.data.zipcodes;
                });
            },

            updateZip(val) {
                this.$emit('input', val); // do not remove, this connects v-model in forms
                if (this.emit_object) {
                    for (const z in this.zipcodes) {
                        if (this.zipcodes[z].zip_code == val) {
                            EventBus.$emit(this.caller_id + '-zip-postal-code-object', this.zipcodes[z]);
                        }
                    }
                }
            }
        }
    }
</script>

<style lang="css">

</style>