/**
Requires:
manager_id
assigned_drivers - enum: (all, some, none)
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="managerDriverTile" class="box">
        <p class="title">Your Drivers</p>
        <div v-if="getManagerDrivers.length">
            <div>
                <ul>
                    <li v-for="driver in getManagerDrivers">{{ driver.first_name + ' ' + driver.last_name }}</li>
                </ul>
            </div>
        </div>

        <div v-else>
            <div>
                <strong>
                    You have no assigned drivers
                </strong>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {

        props: ['manager_id', 'assigned_drivers'],

        components: {},

        data() {
            return {
                drivers: null,
                loaded: null,
            };
        },

        created() {
            // console.log(this.drivers);
        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getManagerDrivers'
            ])
        },

        watch: {
            'manager_id': {
                handler: function (id) {
                    if (id != null && id != -1) {
                        axios.get('/getMyDrivers/' + id).then(response => {
                            this.drivers = Common.isEmpty(response.data.drivers) ? null : response.data.drivers;
                            this.loaded = true;
                        });
                    }
                },
                immediate: true,
            }

        },

        methods: {}
    };
</script>

<style lang="css">

</style>