<template lang="html">
    <div id="managerApprovalStatus">
        <h2>Manager Approval Status</h2>
        <br>

        <div v-if="passes_required_selections">
            <div class="alert alert-warning" role="alert">
                Please select a company.
            </div>
        </div>

        <p v-if="!found_results">No Results.</p>

        <loading-partial v-if="loading"/>

        <div v-if="message" :class="message_class">{{message}}</div>

        <br>

        <div v-if="data" class="table-responsive  table-responsive-bordered mb-4">
            <table class="table table-striped table-bordered table-hover mb-0">
                <thead>
                <tr class = "primary-table-header">
                    <th></th>
                    <th>Last</th>
                    <th>First</th>
                    <th>Description</th>
                    <th>User Type</th>
                    <th>Override</th>
                    <th>Date Approved</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="row in data">
                    <td>
                        <div v-if="show_checkbox(row)">
                            <input type="checkbox" :id="row.user_id" :value="row.admin_or_manager_id"
                                   v-model="checkedIds">
                        </div>
                    </td>
                    <td>{{row.last_name}}</td>
                    <td>{{row.first_name}}</td>
                    <td>{{row.description}}</td>
                    <td v-if="row.type === 'Manager'">
                        <div><a href="#" @click.prevent="switchToMileageApproval(row)">{{row.type}}</a></div>
                    </td>
                    <td v-else>
                        <div>{{row.type}}</div>
                    </td>

                    <td><span
                            v-if="row.over_last_name !== null">{{row.over_last_name + ', ' + row.over_first_name}}</span>
                    </td>
                    <td>{{ formatted_approved_date(row) }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <br><br>

        <div v-if="found_missing_approvals && administrator_id > 0 && data != null ">
            <div v-if="all_managers_approved">
                <a class="btn btn-secondary" @click.prevent="approveAdministrator()">Approve </a>
            </div>
            <div v-else>
                <a class="btn btn-secondary" @click.prevent="approveManager()">Override</a>
            </div>
        </div>

    </div><!--#managerApprovalStatus-->
</template>

<script>
    import moment from 'moment';
    import LoadingPartial from '../partials/LoadingPartial';
    // import {YearSelect, MonthSelect, CompanySelect} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {
            LoadingPartial // MonthSelect, YearSelect, CompanySelect
        },

        data() {
            return {
                caller_id: 'ManagerApprovalStatus',
                start_year: 2007,
                check_year: true,

                // from server
                data: null, // content of the table
                found_results: true,
                all_managers_approved: false,
                found_missing_approvals: false,
                admin_approved: false,
                admin_approval_date: null,
                company_mileage: null,
                company_dates: null,
                administrator_id: -1,

                checkedIds: [], // results
                message: null,
                message_class: null,
                loading: false,
            };
        },

        created() {

        },

        mounted() {
            EventBus.$on('company-changed', () => {
                    this.data = null;
                    this.getManagerApprovalStatus();
            });

            EventBus.$on('year-changed', () => {
                this.data = null;
                this.getManagerApprovalStatus();
            });

            EventBus.$on('month-changed', () => {
                this.data = null;
                this.getManagerApprovalStatus();
            });

            if (this.getIsAdministrator) {
                this.administrator_id = this.getActiveAdministratorId;
            }

            this.getManagerApprovalStatus();
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getActiveAdministratorId',
                'getSessionCompanyId',
                'getSessionYear',
                'getSessionMonth'
            ]),

            passes_required_selections() {
                return this.getSessionCompanyId >= 0 ? false : true;
            },
        },

        watch: {
            data(val) {
                this.data = val;
            },

            found_results(val) {
                this.found_results = val;
            },
        },

        methods: {
            approveAdministrator() {
                // console.log("Approve Administrator: ");
                // console.log('administrator_id = ' + this.administrator_id);

                if (this.checkedIds.length) {
                    axios.post('/postAdministratorApproval', {
                        'approval_id': this.approval_id,
                        'administrator_id': this.administrator_id
                    }).then(() => {
                        // ignore response
                        this.getManagerApprovalStatus();
                    });
                }
            },

            approveManager() {
                // console.log("Approve manager: ");
                // console.log(this.checkedIds);
                // console.log('admin_id = ' + this.administrator_id);

                if (this.checkedIds.length) {
                    axios.post('/postManagerApprovalStatus', {
                        'approval_id': this.approval_id,
                        'administrator_id': this.administrator_id,
                        'managers_arr': this.checkedIds
                    }).then(() => {
                        this.getManagerApprovalStatus();
                    });
                } else {
                    this.message = 'Nothing to be approved. Please select checkboxes';
                }

            },

            formatted_approved_date(row) {
                return Common.isEmpty(row.approved) ? " " : moment(row.approved).format("MMM Do, YYYY");
            },

            /**
             * if not approved display checkbox for manager records.
             * for approver recods, display only if all managers are approved and only for logged administrator
             *
             * @param row
             */
            show_checkbox(row) {
                if (row.type === 'Manager') {
                    return Common.isEmpty(row.approved);
                } else {
                    return this.all_managers_approved && row.admin_or_manager_id == this.administrator_id && Common.isEmpty(row.approved);
                }
            },

            getManagerApprovalStatus() {
                this.found_results = true; // reset
                this.loading = true;

                this.message = null;
                // was showing results every time a user came to the page because it's getting results based on store
                if (this.getSessionCompanyId > 0 && this.getSessionYear > 0 && this.getSessionMonth > 0) {

                    let admin_id = (this.getIsAdministrator) ? this.getUserId : null;
                    let obj = {
                        'company_id': this.getSessionCompanyId,
                        'year': this.getSessionYear,
                        'month': this.getSessionMonth,
                        'check_year': this.check_year,
                        'admin_id': admin_id
                    };

                    console.log('getting manager approval status with', obj);

                    axios.post('/getManagerApprovalStatus', obj).then(response => {
                        console.log('response: ',response)
                        if (!this.data) {
                            this.found_results = false; // set if no results
                            this.loading = false; // reset
                        }

                        if (!Common.isEmpty(response.data.approval_id)) {

                            this.start_year = response.data.first_year;
                            if (this.getSessionYear < this.start_year) {
                                this.getSessionYear = this.start_year;
                            }

                            this.approval_id = response.data.approval_id;
                            this.company_mileage = response.data.company_mileage;
                            this.company_dates = response.data.company_dates;
                            this.data = response.data.data;
                            this.found_results = true; // set if results
                            this.loading = false; // reset
                            this.all_managers_approved = response.data.all_managers_approved;

                            this.admin_approved_id = response.data.admin_approved_id;
                            this.admin_approval_date = response.data.admin_approval_date;

                            this.check_year = false;

                            this.found_missing_approvals = response.data.found_missing_approvals;

                            if (this.getIsAdministrator) {
                                this.generateMessage();
                            }
                        } else {
                            // this.found_results = false; // set if no results
                            if (!Common.isEmpty(response.data.company_mileage)) {
                                this.company_mileage = response.data.company_mileage;
                                this.generateMessage();
                            }
                        }

                    });
                }

                setTimeout(()=> {
                    this.loading = false;
                }, 1000);
            },

            checkAdmins(item, index) {
                if (item.type === 'Admin Approver' && this.getUserId == item.admin_or_manager_id) {
                    // console.log(item.last_name);
                }
            },

            generateMessage() {

                this.message_class = "alert alert-warning";
                let instructions_needed = false;
                let next_month = this.getSessionMonth < 12 ? this.getSessionMonth : 0;
                // we want next month and retarded moment() counts months from 0, to get January from December
                // we do above mapping.

                // console.log('compare months ' + this.getSessionMonth + ' with ' + moment().month() + 'and year ' + this.getSessionYear + ' with ' +  moment().year());
                if (this.getSessionYear == moment().year() && this.getSessionMonth == moment().month() ||
                    this.getSessionYear == (moment().year() - 1) && this.getSessionMonth == 12 && moment().month() == 0) {

                    // console.log('generate message based on ');
                    // console.log(this.company_mileage);

                    if (moment().date() == this.company_dates.mileage_approval_end_day) {
                        this.message_class = "alert alert-success";
                        this.message = 'This payment was processed on ' +
                            moment({
                                y: this.getSessionYear,
                                M: next_month,
                                d: this.company_dates.mileage_approval_end_day
                            }).format('dddd,  MMMM Do, YYYY');
                    } else if (moment().date() <= this.company_dates.mileage_lock_driver_day) {
                        this.message = 'This report is not available until ' +
                            moment({
                                y: this.getSessionYear,
                                M: next_month,
                                d: (this.company_dates.mileage_lock_driver_day + 1)
                            }).format("MMMM Do")
                            + ' - last date for override/approval is on the ' +
                            moment({
                                y: this.getSessionYear,
                                M: next_month,
                                d: (this.company_dates.mileage_lock_all_day + 1)
                            }).format("MMMM Do") + '.';

                    } else if (moment().day() > this.company_dates.mileage_lock_driver_day &&
                        moment().day() <= this.company_dates.mileage_lock_all_day) {
                        instructions_needed = true;
                        this.message = "Please override/approve until the " +
                            moment({
                                y: this.getSessionYear,
                                M: next_month,
                                d: (this.company_dates.mileage_lock_all_day + 1)
                            }).format("MMMM Do") + ' for ' +
                            moment().subtract('1', 'month').format('MMMM') + ' reimbursement.';

                    } else if (moment().date == (this.company_dates.mileage_lock_driver_day + 1)) {
                        instructions_needed = true;
                        this.message = 'Today is the last day for Approval ' +
                            ' for ' + moment().subtract('1', 'month').format('MMMM') + ' reimbursement.';

                    }


                    if (instructions_needed) {
                        this.message = this.message + '<br>' +
                            '<ul><li>To override Managers, select them from check-box lit and click Override</li>' +
                            '<li>To approve the payment yourself, selected your entry check-box and click Approve.' +
                            ' This is only possible following approval from all Managers.</li>' +
                            '</ul>';
                    }
                }
            },

            switchToMileageApproval(row) {
                Common.setSession('admin_page', 'mileageApproval');
                Common.setSession('admin_year', this.getSessionYear);
                Common.setSession('admin_month', this.getSessionMonth);
                axios.post('/linkToUser', {
                    current_user_id: this.getUserId,
                    target_user_id: row.admin_or_manager_id,
                    current_active_role: this.getActiveRole,
                    current_page: this.getView
                }).then(response => {
                    window.location = '/';
                });
            },

        },
    };
</script>

<style lang="css">

</style>