/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="managerDivisionTile" class="box">

        <p class="title">Your Divisions</p>
        <div v-if="loaded == true">
            <div v-if="divisions">
                <ul>
                    <li v-for="division in divisions">{{ division.name }}</li>
                </ul>
            </div>
            <div v-else>
                <strong>
                    You have no assigned divisions
                </strong>
            </div>
        </div>
        <div v-else>
            <button class="btn is-loading"></button>
        </div>

    </div>
</template>

<script>

import {mapGetters} from 'vuex'

export default {

    props: [],

    components: {},

    data() {
        return{
            divisions: null,
            loaded: null,
        }
    },

    created() {
        // TODO: this is not correct, we only want the divisions for the manager's drivers
        axios.get('/getDivisions/' + this.getCompanyId).then( response => {
            this.divisions = Common.isEmpty(response.data.divisions) ? null : response.data.divisions;
            this.loaded = true;
        });
    },

    computed: {
        ...mapGetters([
            'getCompanyId'
        ])
    },

    mounted() {

    },

    destroyed() {

    },

    watch: {

    },

    methods: {

    }
}
</script>

<style lang="css">

</style>