/**
Requires:
user - standard user object
profile - a standard manager profile object
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="managerProfileView" class="box">
        <h2>Manager Profile</h2>

        <!-- TOP ROW -->
        <div class="columns is-multiline">

            <div class="column is-6">
                <!-- DRIVER INFO -->
                <manager-info-tile/>
            </div>

            <!--v-if="false"-->
            <div class="column is-6">
                <!-- ADDRESS -->
                <address-tile/>
            </div>

            <div class="column is-6">
                <!-- MANAGER DRIVER -->
                <manager-driver-tile/>
            </div>

            <div class="column is-6">
                <!-- MANAGER DRIVER -->
                <manager-division-tile/>
            </div>

        </div>

        <!-- MODAL FOR ADDRESS EDIT -->
        <add-edit-address-modal :caller_id="caller_id"/>


    </div>
</template>

<script>
    import {AddEditAddressModal, AddressTile, DriverSelect} from "../partials";
    import {ManagerInfoTile, ManagerDriverTile, ManagerDivisionTile} from "./index";
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {
            AddEditAddressModal,
            AddressTile,
            DriverSelect,
            ManagerInfoTile,
            ManagerDriverTile,
            ManagerDivisionTile
        },

        data() {
            return {
                caller_id: 'mangerProfileView',
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getUserAddress'
            ])
        },

        watch: {},

        methods: {}
    };
</script>

<style lang="css">

    #managerProfileView a.is-loading {
        background-color: red;
        width: 100px;
        border-radius: 10px;
    }

    #managerProfileView .column > div {
        width: 100%;
        height: 100%;
    }

    #managerProfileView .column > .box {
        border: .1rem solid lightblue;
    }

</style>


<!--<template lang="html">-->
<!--<div id="managerProfile">-->
<!--<div class="columns">-->
<!--<div class="column">-->
<!--<div class="form-group">-->
<!--<label>Name</label>-->
<!--<input type="text" class="form-control" :value="user.first_name + ' ' + user.last_name" disabled>-->
<!--</div>-->
<!--</div>-->
<!--<div class="column">-->
<!--<div class="form-group">-->
<!--<label>Company</label>-->
<!--<input type="text" class="form-control" :value="profile.company_name" disabled>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="columns">-->
<!--<div class="column">-->
<!--<div class="form-group">-->
<!--<label>Email</label>-->
<!--<input type="text" class="form-control" :value="user.email" :disabled="!editMode">-->
<!--</div>-->
<!--</div>-->
<!--<div class="column">-->
<!--<driver-select :session_company_id="profile.company_id" :session_manager_id="profile.manager_id"></driver-select>-->
<!--</div>-->
<!--</div>-->

<!--<div class="columns">-->
<!--<div :class="{'column':true, 'is-3 is-offset-9':editMode, 'is-2 is-offset-10':!editMode}">-->
<!--<button class="btn btn-secondary float-right" v-if="!editMode" @click="editMode = true">Edit</button>-->
<!--<div v-else>-->
<!--<button class="btn btn-primary float-left" @click="saveChanges">Save</button>-->
<!--<button class="btn is-danger float-right" @click="editMode = false">Cancel</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</template>-->


<!--<script>-->
<!--export default {-->
<!--props: ['user', 'profile'],-->

<!--data() {-->
<!--return {-->
<!--editMode: false-->
<!--}-->
<!--},-->

<!--created() {-->

<!--},-->

<!--watch: {-->
<!--profile: function (val) {-->

<!--}-->
<!--},-->

<!--methods: {-->
<!--saveChanges() {-->
<!--this.editMode = false;-->
<!--// TODO: save stuff-->
<!--}-->
<!--}-->

<!--}-->
<!--</script>-->

<!--<style lang="css">-->

<!--</style>-->