/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
- This component is used by the maanger to set common values in "session" (kept in store). It will remain on the page
like the menu or breadcrumbs. Used by manager to switch drivers when linking.
*/
<template lang="html">
    <div id="managerSession" class="box" v-if="display_session">
        <div class="row">
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('driver')">
                <driver-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('division')">
                <division-select :from_session="true"/>
            </div>

            <!--<div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('month_select')">
                <month-select
                    :display="'long'"
                    :disabled_future_months="true"
                    :disabled_present_month="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('year_select')">
                <year-select/>
            </div>-->
        </div>
    </div>
</template>


<script>
    /** imports */
    import {
        DivisionSelect,
        DriverSelect,
        MonthSelect,
        YearSelect,
    } from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {
            DivisionSelect,
            DriverSelect,
            MonthSelect,
            YearSelect,
        },

        data() {
            return {};
        },

        created() {
        },

        mounted() {

            EventBus.$on('division-changed', () => {

            });

            EventBus.$on('driver-changed', () => {

            });
        },

        computed: {
            ...mapGetters([
                'getImpersonatorId',
                'getImpersonatorRole',
                'getView',
                'getSubView',
                'getUserType',
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId',
                'getSessionCompanyId',
                'getSessionCompanies'
            ]),

            /**
             * don't show session component on these views
             * @returns {*}
             */
            hidden_view: function () {
                return Common.in_array(this.getView, []);
            },

            display_session: function () {
                return this.getImpersonatorId > 0 && this.getImpersonatorRole == 'manager';
            },

            valid_selects: function () {
                let selects = [];
                if (this.display_session) {
                    switch (this.getView) {

                        default:
                            selects = ['division', 'driver'];
                            break;
                    }
                }
                return selects;
            },

            column_widths: function () {
                let column_widths = '';
                if (this.display_session) {
                    switch (this.getView) {
                        case 'users':
                            switch (this.getSubView) {
                                /*case 'add':
                                    selects = ['company'];
                                    break;*/
                                case 'edit':
                                    column_widths = 'col-sm-6';
                                    break;
                                /*default:
                                    column_widths = 'col-sm-2';
                                    break;*/
                            }
                            break;
                        case 'masterPaymentNotice':
                            column_widths = 'col-sm-2';
                            break;
                        case 'prorateReimbursement':
                            column_widths = 'col-sm-3';
                            break;
                        case 'annualTaxAdjustment':
                            column_widths = 'col-sm-4';
                            break;
                        case 'manualAchEftFilesPage':
                            column_widths = 'col-12';
                            break;
                        default:
                            column_widths = 'col-sm-2';
                            break;
                    }
                }
                return column_widths;
            },
        },

        watch: {

        },

        methods: {
            in_array(val, arr) {
                return Common.in_array(val, arr);
            },

            showSelect(type) {
                return Common.in_array(type, this.valid_selects);
            },

            companyAction(action) {
                EventBus.$emit(action + '-company');
            }
        }
    };
</script>

<style lang="css">
    #superSession select {
        height: 39px;
    }

    #superSession .column {
        padding-bottom: 0;
    }

    #superSession .reactivate-company {
        color: red !important;
    }
</style>