/**
Requires:
- managerProfile: object passed from parent

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="managerInfoTile" class="box">
        <p class="title">Manager</p>
        <div>

            <div class="columns">
                <div class="column is-3">Name:</div>
                <div class="column">{{ getUserFullName }}</div>
            </div>

            <div class="columns">
                <div class="column is-3">Manager #:</div>
                <div class="column">{{ getActiveManagerProfile.manager_id }}</div>
            </div>

            <div class="columns">
                <div class="column is-3">Work Email:</div>
                <div class="column">
                    <div class="columns">
                        <div class="column is-8">
                            {{ getUserEmail }}
                        </div>
                        <div class="column">
                            <edit-email-modal :caller_id="caller_id"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3">Personal Email:</div>
                <div class="column">
                    <div class="columns">
                        <div class="column is-8">
                            {{ getUserPersonalEmail }}
                        </div>
                        <div class="column">
                            <edit-email-modal :caller_id="caller_id" :is_personal_email="true"/>
                        </div>
                    </div>
                </div>
            </div>

            <change-password/>

        </div>

    </div>
</template>

<script>
    import {ChangePassword} from "../user/index";
    import {EditEmailModal} from "../partials/index";
    import {mapGetters} from 'vuex';

    export default {

        components: {ChangePassword, EditEmailModal},

        props: [],

        data() {
            return {
                caller_id: 'managerInfoTile',
                email: null,
            }
        },

        created() {
            Common.listen(this.caller_id + '-email-updated', this.emailUpdated);
        },

        watch: {
            user: {
                handler: function(val) {
                    if (val != null) {
                        this.email = this.user.email;
                    }
                },
                immediate: true,
            },

        },

        computed: {
            ...mapGetters([
                'getUserFullName',
                'getUserEmail',
                'getUserPersonalEmail',
                'getActiveManagerProfile'
            ])
        },

        methods: {

            emailUpdated(email) {
                this.email = email;
            }

        }
    }

</script>

<style lang="css">

</style>