<template lang='html'>
    <div id="managerPortal" class="box">
        <div v-if="true" style="position: absolute; top: 135px; right: 35px; font-weight: bold; color: red;">{{ getUserId }}:&nbsp;{{ getUsername }}</div>
        <div id="managerProfileSwitch" class="columns">
            <!--Commented out because this company name was showing in my menuview. If needed uncomment as this is only cosmetic-->
            <!--<div class="column is-half">-->
                <!--<h2>{{ getCompanyName }}</h2>-->
            <!--</div>-->

            <div class="column" v-if="multiple_profiles">

                <a class="btn is-large btn-primary" id="switchProfileButton" @click.prevent="switchActiveProfile">Switch
                    to {{ getInactiveCompanyName }}</a>
            </div>
        </div>
        <!--MENU VIEWS-->
        <tools-menu v-if="getView === 'toolsMenu'" />
        <reports-menu v-if="getView === 'reportsMenu'" />
        <miscellaneous-menu v-if="getView === 'miscellaneousMenu'" />

        <!-- INDIVIDUAL VIEWS -->
        <mileage-approval v-if="getView === 'mileageApproval'"
                          :manager_id="getActiveManagerId"
                          :company_id="getCompanyId"/>
        <link-to-driver v-if="getView === 'linkToDriver'" :company_id="getCompanyId"
                        :manager_id="getActiveManagerId"/>
        <view-tutorials v-if="getView === 'viewTutorials'"/>
        <car-policy v-if="getView === 'carPolicy'"/>
        <reimbursement-totals v-if="getView === 'reimbursementTotals'"
                              :manager_id="getActiveManagerId"/>
        <fuel-prices v-if="getView === 'fuelPrices'"/>
        <vehicle-report v-if="getView === 'vehicleReport'"/>
        <traffic-light v-if="getView === 'trafficLight'"/>

        <manager-profile v-if="getView === 'managerProfile'"/>

        <store-state v-if="getView === 'storeState'"/>
        <!-- DRIVER INFO MO -->
        <driver-info/>

    </div>
</template>

<script>
    import styleFixer from '../../styleFixer';
    import {
        ReimbursementTotals,
        ViewTutorials,
        MileageApproval,
        VehicleReport,
        TrafficLight,
        ManagerProfile,
        ToolsMenu,
        ReportsMenu,
        MiscellaneousMenu
    } from "./index";
    import {DriverInfo, StoreState} from "../partials";
    import {CarPolicy} from "../company";
    import {ChangePassword, LinkToDriver} from "../user";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {FuelPrices} from "../reports";

    export default {

        components: {
            CarPolicy, LinkToDriver, MileageApproval, ViewTutorials,
            ReimbursementTotals, FuelPrices, VehicleReport, StoreState,
            TrafficLight, ChangePassword, ManagerProfile, DriverInfo, ToolsMenu,
            ReportsMenu, MiscellaneousMenu
        },

        data() {
            return {
                styleFixer: new styleFixer('manager')
            };
        },

        created() {
            /**
             * Get initial values from server and save to store
             * TODO: this may be a good candidate for a function in Common
             */
            let init_tag = $('meta[name=init]');
            let initial_values = init_tag.attr('content');

            // console.log('initial_values', initial_values);

            if (initial_values !== 'empty') {
                Common.processInitialValues(JSON.parse(initial_values));
            }

            // remove inital data from the DOM
            init_tag.attr('content', 'empty');
        },

        mounted() {
            // the profile link is not in a vue component, so
            // we need a listener outside of Vue
            $('#profileLink.manager-profile').click(() => {
                console.log('manager profile clicked!');
                Common.setView('managerProfile', null);
            });

            // this.styleFixer.fixMainContentHeight();
            // this.styleFixer.fixPortalHeight();

        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getUserId',
                'getUsername',
                'getUserType',
                'getUserFullName',
                'getActiveManagerProfile',
                'getInactiveManagerProfile',
                'getActiveManagerId',
                'getInactiveManagerId',
                'getCompanyId',
                'getInactiveCompanyId',
                'getCompanyName',
                'getInactiveCompanyName'
            ]),

            multiple_profiles: function () {
                return !Common.isEmpty(this.getInactiveManagerId);
            }
        },

        methods: {
            switchActiveProfile() {
                let inactive_company_id = this.getInactiveCompanyId;
                let inactive_company_name = this.getInactiveCompanyName;
                let inactive_manager_id = this.getInactiveManagerId;
                let inactiveProfile = this.getInactiveManagerProfile;

                Common.checkCommit('updateInactiveCompanyId', this.getCompanyId);
                Common.checkCommit('updateInactiveCompanyName', this.getCompanyName);
                Common.checkCommit('updateInactiveManagerId', this.getActiveManagerId);
                Common.checkCommit('updateInactiveManagerProfile', this.getActiveManagerProfile);

                Common.checkCommit('updateCompanyId', inactive_company_id);
                Common.checkCommit('updateCompanyName', inactive_company_name);
                Common.checkCommit('updateActiveManagerId', inactive_manager_id);
                Common.checkCommit('updateActiveManagerProfile', inactiveProfile);

                EventBus.$emit('company-changed');
            }
        }
    };


</script>

<style lang='css'>
    #managerPortal #switchProfileButton {
        margin-top: 25px;
    }
</style>