/**
Requires:
manager_id

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
Skeleton for mileage approval page done.
Need to discuss report functionality, and how we want this page to interact in the larger project
*/

<template lang="html">

    <div id="mileageApprovalView">

        <h2>Mileage Approval</h2>

        <br>

        <div class="box">

            <div class="columns">
                <div class="column is-4">
                    <year-select :caller_id="caller_id" :start_year="from_year"/>
                </div>
                <div class="column is-4">
                    <month-select :caller_id="caller_id"
                                  :display="'long'"
                                  :disabled_future_months="true"
                                  :disabled_present_month="true"/>
                </div>
            </div>

            <ul v-if="loaded">
                <div v-if="warning_message" class="alert alert-warning">{{ warning_message}}</div>
                <div v-if="approval_message" :class="message_class">{{approval_message}}</div>
                <div v-if="payment_message" class="alert alert-success">{{payment_message}}</div>
                <div v-if="reimbursement && !drivers" class="alert alert-warning">No Drivers were assigned on this month</div>
            </ul>
            <ul v-else>
                <li>loading...</li>
            </ul>

        </div>

        <div v-if="reimbursement" class="box">

            <div class="table-responsive">
                <table class="table table-condensed .table-striped">
                    <thead>
                    <tr>
                        <th colspan="5">Driver</th>
                        <th colspan="5">Reimbursement</th>
                        <th colspan="2">Driver Dates</th>
                    </tr>
                    <tr>
                        <th>Last</th>
                        <th>First</th>
                        <th>Empl #</th>
                        <th>Division</th>
                        <th>Business Unit</th>
                        <th class="text-right">Fixed</th>
                        <th class="text-right" v-if="!commuter_mileage">Personal</th>
                        <th class="text-right" v-if="commuter_mileage">Commuter</th>
                        <th class="text-right">Mileage</th>
                        <th class="text-right">Variable</th>
                        <th class="text-right">Total</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="row in reimbursement">
                        <td>{{row.last_name}}</td>
                        <td>{{row.first_name}}</td>
                        <td>{{row.employee_number}}</td>
                        <td>{{row.division}}</td>
                        <td>{{row.cost_center}}</td>
                        <td class="text-right">{{row.fixed_paid}}</td>
                        <td class="text-right" v-if="!commuter_mileage">{{ row.personal_mileage }}</td>
                        <td class="text-right" v-if="commuter_mileage">{{ row.commuter_mileage }}</td>
                        <td class="text-right">
                            <div v-if="row.last_name !== 'TOTALS'">
                                <a href="#" @click.prevent="switchToDriverMileage(row)">{{row.mileage}}</a>
                            </div>
                            <div v-else>{{row.mileage}}</div>
                        </td>
                        <td class="text-right">{{row.variable}}</td>
                        <td class="text-right">
                            <div v-if="row.last_name !== 'TOTALS'">
                                <a href="#" @click.prevent="switchToDriverReimbursement(row)">{{row.total}}</a>
                            </div>
                            <div v-else>{{row.total}}</div>
                        </td>
                        <td>{{row.created_at}}</td>
                        <td>{{row.deleted_at}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="show_approve_button">
                <button @click.prevent="approveMileage()" type="btn" class="btn btn-primary">Approve Mileage</button>
            </div>

        </div>

    </div>

</template>

<script>
    import {MonthSelect, YearSelect} from "../partials";
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {moment, MonthSelect, YearSelect},

        data() {
            return {

                //company data
                driver_lock_day: null,
                lock_all_day: null,
                approval_end_day: null,
                companyMileageDates: {
                    mileage_lock_all_day: null,
                    driver_lock_date: null,
                    approval_end_date: null,
                    next_month: null
                },
                approval_day: null, // from monthly_approval table

                initial_data: true,     // check if we have initial data

                drivers: null,
                commuter_mileage: false,

                approval_message: null,
                message_class: null,
                direct_pay_day: false,  // flag to display payment_message
                payment_message: null,

                loaded: false,
                caller_id: "MileageApproval",
                report_type: null,

                created: false,
                reimbursement: null,
                show_approve_button: false,

                from_year: 2007,    // select lower values for selecting month and year
                from_month: 1,
                warning_message: null

            };
        },

        created() {
            this.company_id = this.getCompanyId;
        },

        mounted() {
            EventBus.$on('year-changed', () => {
                this.warning_message = null;
                this.getDataForMileageApproval(false);
            });

            EventBus.$on('month-changed', () => {
                this.loaded = true;
                this.getDataForMileageApproval(false);
            });

            this.getDataForMileageApproval(true);
        },

        computed: {
            ...mapGetters([
                'getActiveManagerId',
                'getCompanyId',
                'getSessionYear',
                'getSessionMonth',
                'getUserFullName',
                'getUserId',
                'getView',
                'getActiveRole'
            ])
        },

        watch: {},


        methods: {

            getDataForMileageApproval( ) {

                // default of store month is the current month. We have to be 1 month back
                if( this.getSessionYear == moment().year() && (this.getSessionMonth - 1) == moment().month() ){
                 // console.log("Adjust month");
                    if( this.getSessionMonth == 1 ) {
                        Common.storeCommit('updateSessionYear', moment().year - 1);
                        Common.storeCommit('updateSessionMonth', 12);
                    } else {
                        Common.storeCommit('updateSessionMonth', this.getSessionMonth - 1);
                    }
                }

                this.approval_message = null;

                if (this.getSessionMonth > 0) {

                    this.drivers = null;
                    this.reimbursement = null;

                    // console.log('getAllDataForMileageApproval y=' + this.getSessionYear + ' m=' + this.getSessionMonth);
                    axios.post('/getAllDataForMileageApproval', {
                        'company_id': this.getCompanyId, 'manager_id': this.getActiveManagerId,
                        'year': this.getSessionYear, 'month': this.getSessionMonth
                    }).then(response => {

                        //console.log('RESPONSE', response.data);
                        //console.log('to get warning message compare session month ' + this.getSessionMonth + ' with ' + response.data.first_approval_month)

                        this.from_year = response.data.first_approval_year;
                        if( this.getSessionYear == this.from_year && this.getSessionMonth < response.data.first_approval_month) {
                            var mm = response.data.first_approval_month-1;
                            this.warning_message = 'First Approva Record was found in ' +
                                response.data.first_approval_year + ' ' +
                                moment().month(mm).format('MMMM');

                            Common.storeCommit('updateSessionMonth',response.data.first_approval_month);

                            this.payment_message = null;
                        } else {
                            this.warning_message = null;
                        }


                        if (response.data.before_first_approval == null) {

                            this.drivers = !Common.isEmpty(response.data.drivers) ? response.data.drivers.drivers : null;
                            this.direct_pay_day = !Common.isEmpty(response.data.company_dates) ? response.data.company_dates.direct_pay_day : -1;
                            this.approval = response.data.approval;
                            this.status = response.data.approval.status;

                            this.driver_lock_day = response.data.company_dates.mileage_lock_driver_day;
                            this.lock_all_day = response.data.company_dates.mileage_lock_all_day;
                            this.approval_end_day = response.data.company_dates.mileage_approval_end_day;
                            this.commuter_mileage = response.data.mileage_entry_method === 'Daily Commuter';

                            this.setCompanyMileageDates();  // convert selected year, month and days from database into dates.
                            this.generatedMessages(response.data.approval.processed_date);
                            this.getReimbursementForDrivers();

                            this.initial_data = false;
                            this.loaded = true;
                        } else {
                            this.getReimbursementForDrivers(); // it will give just table header
                        }

                    });

                }
            },

            getApprovedStatus() {
                axios.post('/getApprovedStatus', {
                    'company_id': this.company_id, 'manager_id': this.manager_id,
                    'year': this.getSessionYear, 'month': this.getSessionMonth
                }).then(response => {
                    // console.log('approval status for ' + this.getSessionYear + '/' + this.getSessionMonth + ' = ' );
                    // console.log(response.data);
                    this.approval = response.data.approval;
                    this.processed_date = this.approval.processed_date;
                    this.loaded = true;
                });
            },

            setCompanyMileageDates() {
                // console.log('setCompanyMileageDates ... m=' + this.getSessionMonth + ' c=' + this.company_id);
                if (this.getSessionMonth > 0 && this.company_id > 0) {

                    var mm = this.getSessionMonth - 1; //stupid moment counting months from 0 !!!!

                    this.companyMileageDates.driver_lock_date =
                        moment().year(this.getSessionYear).month(mm).date(this.driver_lock_day).add(1,'M');

                    this.companyMileageDates.approval_all_lock_date =
                        moment().year(this.getSessionYear).month(mm).date(this.lock_all_day).add(1,'M');

                    this.companyMileageDates.approval_end_date =
                        moment().year(this.getSessionYear).month(mm).date(this.approval_end_day).add(1,'M');

                    this.companyMileageDates.first_of_month =
                        moment().year(this.getSessionYear).month(mm).date(1).add(1,'M');
                }
            },

            approveMileage() {
             // console.log('approve for id ' + this.approval.approval_id + ' this.manager_id ' + this.getActiveManagerId + ' at ' + moment().format("hh:mm:ss"));
                axios.post('/postManagerApproval', {
                    'manager_id': this.getActiveManagerId, 'approval_id': this.approval.approval_id
                }).then(response => {
                    // console.log('Approved by Manager' );

                    this.message_class = 'alert alert-success';
                    this.approval_message = this.getUserFullName + ' approved the payment on ' +
                        moment().format("dddd, MMMM Do, YYYY");
                });
            },

            generatedMessages(processed_date) {

                // console.log('generatedMessages for ' + processed_date);

                this.approval_message = null;
                this.payment_message = null;
                this.approval_day = null;

                if (this.status) { // approved
                    this.message_class = 'alert alert-success';
                    if (this.approval.user_type == 'admin') {
                        this.approval_message = 'The Admin Approver ' + this.approval.admin_name + ' overrode ' +
                            this.approval.manager_name + ' and approved on ' +
                            moment(this.approval.approval_date, "YYYY-MM-DD HH:mm:ss").format("dddd, MMMM Do, YYYY");
                    } else {
                        this.approval_message = this.approval.manager_name + ' approved the payment on ' +
                            moment(this.approval.approval_date, "YYYY-MM-DD HH:mm:ss").format("dddd, MMMM Do, YYYY");
                    }

                } else { // not approved: 1. current month before lock day, 2. current month after lock day,
                    // 3. previous months. Note: approvals are always next month.

                    this.show_approve_button = false;
                    this.message_class = 'alert alert-danger';

                    if (moment({year: this.getSessionYear, month: this.getSessionMonth - 1, date: 1})
                        > moment().startOf('month')) {
                    }

                    // we are approving always after 1 month, so 'current' month is the previous month
                    let current_month = moment().subtract(1,'M').day(1);

                    if( this.getSessionYear < current_month.year() || this.getSessionYear == current_month.year() && (this.getSessionMonth - 1) < current_month.month()) {
                        this.approval_message = this.approval.manager_name +
                            ' did not approve the payment by the deadline of ' +
                            moment(this.companyMileageDates.approval_end_date).format("dddd, MMMM Do, YYYY");
                    }
                    else  { // we are in current month
                        if (moment().date() <= this.driver_lock_day) {  // before driver lock day. Nothing to approve.
                            this.message_class = 'alert alert-success';
                            this.approval_message = 'Approval will be available after ' +
                                moment(this.companyMileageDates.driver_lock_date).format("dddd, MMMM Do, YYYY") + ".";
                        }
                        else {
                            if (moment().date() <= this.approval_end_day) {    // after lock day and before lock all.
                                this.approval_message = this.approval.manager_name + ' has not approved the payment yet.';
                                if (moment().date() == this.approval_end_day) {
                                    this.approval_message = this.approval_message + ' Deadline for approval is today!';
                                } else {
                                    let days = this.approval_end_day - moment().date();
                                    let ss = days > 1 ? 's' : '';
                                    this.approval_message = this.approval_message + ' Deadline approaching in ' +  days  + ' day' + ss +'.';
                                }

                                this.show_approve_button = true;

                            } else {    // to late. we missed approval time
                                this.approval_message = this.approval.manager_name +
                                    ' did not approve the payment by the deadline of ' +
                                    moment(this.companyMileageDates.approval_end_date).format("dddd, MMMM Do, YYYY");
                            }
                        }
                    }
                }

                // payment message
                if (this.direct_pay && processed_date) {
                    this.payment_message = 'This payment was processed on ' +
                        moment(processed_date).format("dddd, MMMM Do, YYYY");
                }

            },

            getReimbursementForDrivers() {

                this.reimbursement = null;

                if (this.drivers) {

                    //console.log('getReimbursementForDrivers(' + this.company_id + ', ' + this.getSessionYear + ', ' + this.getSessionMonth + ' drivers:');
                    var drivers_id = [];
                    for (var i = 0; i < this.drivers.length; i++) {
                        drivers_id[i] = this.drivers[i].id;
                    }
                    axios.post('/getReimbursementForDrivers', {
                        'company_id': this.getCompanyId,
                        'year': this.getSessionYear,
                        'month': this.getSessionMonth,
                        'users_arr': drivers_id
                    }).then(response => {
                        //console.log(response.data);
                        this.reimbursement = response.data.reimbursement;
                    });
                }
            },

            switchToDriverMileage(row) {

                // console.log('about to impersonate and go to mileage');
                Common.setSession('driverView', 'mileageEntry').then( () => {
                    Common.setSession('driverSubView', 'showMonthlyMileageEntry').then( () => {
                        Common.setSession('driverYear', this.getSessionYear).then( () => {
                            Common.setSession('driverMonth', this.getSessionMonth).then( () => {
                                axios.post('/linkToUser', {
                                    current_user_id: this.getUserId,
                                    target_user_id: row.user_id,
                                    current_active_role: this.getActiveRole,
                                    current_page: this.getView,
                                    target_active_role: 'driver',
                                    from_session: true
                                }).then(response => {
                                    window.location = '/';
                                });
                            })
                        })
                    })
                })
            },

            switchToDriverReimbursement(row) {
                // console.log('about to impersonate and go to reimbursement');
                Common.setSession('driverView', 'monthlyReimbursement').then( () => {
                    Common.setSession('driverYear', this.getSessionYear).then( () => {

                        console.log("current user: " + this.getUserId + ' target user: ' + row.user_id + ' curr role: ' + this.getActiveRole );

                        axios.post('/linkToUser', {
                            current_user_id: this.getUserId,
                            target_user_id: row.user_id,
                            current_active_role: this.getActiveRole,
                            current_page: this.getView,
                            target_active_role: 'driver',
                            from_session: true
                        }).then(response => {
                            window.location = '/';
                        });
                    })
                })
            }
        },


    };
</script>

<style lang="css">

    .h3 {
        font-weight: bold;
        font-size: 14px;
    }

</style>