<template lang='html'>

    <div id="reimbursementTotalsView">

        <h2>Reimbursement Totals</h2>

        <div class="columns">
            <div class="column">
                <p>Date Fr\om</p>
                <div class="columns" style="width: 80%;">
                    <div class="column">
                        <month-select v-model="start_month"
                                      :selected_year="start_year"
                                      :display="'long'"
                                      :session_override_value="'session_start_month'"/>
                    </div>
                    <div class="column">
                        <year-select v-model="start_year" :session_override_value="'session_start_year'"/>
                    </div>
                </div>
            </div>
            <div class="column">
                <p>Date Ending</p>
                <div class="columns" style="width: 80%;">
                    <div class="column">
                        <month-select v-model="end_month"
                                      :selected_year="end_year"
                                      :display="'long'"
                                      :session_override_value="'session_end_month'"/>
                    </div>
                    <div class="column">
                        <year-select v-model="end_year" :session_override_value="'session_end_year'"/>
                    </div>
                </div>
            </div>
            <div class="column"><a class="btn btn-secondary" @click.prevent="searchRecords">Search Records</a></div>
        </div>

        <sorted-table :data="gridData"
                      :columns="gridColumns"
                      :filter-key="searchQuery"/>
    </div>

</template>

<script>
    import {SortedTable, MonthSelect, YearSelect} from "../partials";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';

    export default {
        props: ['manager_id'],

        components: {moment, SortedTable, MonthSelect, YearSelect},

        data() {
            return {
                // selects values
                start_month: -1,
                start_year: -1,
                end_month: -1,
                end_year: -1,

                drivers: [],
                noDrivers: false,

                gridData: [],
                gridColumns: ['first', 'last', 'vehicle profile', 'start date', 'stop date', 'active', 'light', 'explanation', 'fixed reimbursement', 'business mileage', 'variable reimbursement', 'total reimbursement', 'personal mileage'],
                searchQuery: ''
            };
        },

        created() {
            axios.post('/getSessionValues', {keys: ['session_start_year', 'session_end_year', 'session_start_month', 'session_end_month']}).then(response => {
                // set to current year and month if not in session
                this.start_year = response.data.session_start_year > 0 ? response.data.session_start_year : moment().year();
                this.end_year = response.data.session_end_year > 0 ? response.data.session_end_year : moment().year();
                this.start_month = response.data.session_start_month > 0 ? response.data.session_start_month : moment().month() + 1;
                this.end_month = response.data.session_end_month > 0 ? response.data.session_end_month : moment().month() + 1;
            });

            axios.get('/getMyDrivers/' + this.manager_id).then(response => {
                this.drivers = response.data.drivers;
                this.transformDrivers();
            });
        },

        watch: {
            manager_id: function (val) {
                axios.get('/getMyDrivers/' + this.manager_id).then(response => {
                    this.drivers = response.data.drivers;
                });
            }
        },

        methods: {

            searchRecords() {
                axios.post('/getReimbursementForTimePeriod', {
                    'start_year': this.start_year,
                    'start_month': this.start_month,
                    'end_year': this.end_year,
                    'end_month': this.end_month,
                    'driver_ids': this.getDriverIds()
                }).then(response => {

                });
            },

            getDriverIds() {
                var driverIds = [];
                this.drivers.forEach(function (dr) {
                    driverIds.push(dr.id);
                });
                return driverIds;
            },

            transformDrivers() {
                // transform data for grid
                var data = [];
                this.drivers.forEach(function (dr) {
                    data.push({
                        first: dr.first_name,
                        last: dr.last_name,
                        //'employee #': dr.driverProfile.employee_number,
                        //'division': dr.driverProfile.division.name,
                        //'business unit': dr.driverProfile.cost_center,
                        //'title': dr.driverProfile.job_title,
                        'start date': dr.driverProfile.start_date,
                        'stop date': dr.driverProfile.stop_date
                    });
                });
                this.gridData = data;
                if (this.drivers.length === 0) {
                    this.noDrivers = true;
                }
            }
        }
    };
</script>

<style lang='css'>
    #reimbursementTotalsView .button.btn-secondary {
        top: 3rem;
    }
</style>