/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="registrationDriverBanking">
        <driver-banking-tile :embedded="true"/>

        <div id="actionButtons" >
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-block btn-success" style="float: right"
                            @click="confirmBankingInformationForRegistration()"
                            :disabled="!banking_added">Confirm and Continue</button>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {DriverBankingTile} from '../driver/index.js';
    import {EventBus} from '../../event-bus';
export default {

    props: [],

    components: {DriverBankingTile},

    data() {
        return{
            banking_added: false,
        }
    },

    created() {

    },

    mounted() {
        Common.listen('driverBankingTile' + '-banking-updated', this.bankingAdded);

    },

    destroyed() {

    },

    watch: {

    },

    methods: {
        bankingAdded() {
            this.banking_added = true;
        },

        confirmBankingInformationForRegistration() {
            EventBus.$emit('driver-banking-confirmed');
            axios.post('/completeDriverRegistrationModule', {
                module_column_name: 'banking_completed'
            }).catch( errors => {
                alert(errors);
            });
        }

    }
}
</script>

<style lang="css">

    #registrationDriverBanking {
        height: 100%;
    }

</style>