/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="registrationDriverVehicle">
        <p class="title">Personal Vehicle</p>

            <personal-vehicle-favr v-if="company_plan == 'FAVR'" :registration="true" :vehicle="vehicle"/>
            <!--<personal-vehicle-favr v-if="getCompanyPlan != 'FAVR'" :registration="true"/>-->
            <personal-vehicle v-else :registration="true" :vehicle="vehicle"/>

    </div>
</template>

<script>
    import {
        PersonalVehicleFavr,
        PersonalVehicle,
    } from '../driver/index';

    import {mapGetters} from 'vuex';

export default {

    props: [],

    components: {PersonalVehicleFavr, PersonalVehicle},

    data() {
        return{
            company_plan: null,
            vehicle: null,
        }
    },

    created() {

    },

    mounted() {
        this.company_plan = this.getCompanyPlan;
    },

    computed: {
        ...mapGetters([
            'getCompanyPlan',
            'getPersonalVehicle',
        ])
    },

    watch: {

        getPersonalVehicle: {
            handler: function(val) {
                if (!Common.isEmpty(val)) {
                    this.vehicle = _.cloneDeep(val);
                }
            },
            deep: true,
            immediate: true,

        },

    },

    methods: {



    }
}
</script>

<style lang="css">

    #registrationDriverVehicle {
        height: 100%;
    }

</style>