/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="registrationDriverLicense">
        <driver-license-tile :embedded="true" :registration="true"/>

        <div id="actionButtons" >
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-block btn-success" style="float: right"
                            @click="confirmLicenseInformationForRegistration()"
                            :disabled="!license_uploaded">Confirm and Continue</button>
                </div>

                <div class="col-sm-4">
                    <!--davery-->
                    <button class="btn btn-secondary" @click="skipDriverLicenseUpload()">Skip & Upload Later</button>
                </div>

                <div class="col-sm-4"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {DriverLicenseTile} from '../driver/index.js';
export default {

    props: [],

    components: {DriverLicenseTile},

    data() {
        return{
            license_uploaded: false,
        }
    },

    created() {

    },

    mounted() {
        Common.listen('license-on-file', () => {
            this.license_uploaded = true;
        });
    },

    destroyed() {

    },

    watch: {

    },

    methods: {

        confirmLicenseInformationForRegistration() {
            EventBus.$emit('driver-license-confirmed');
            axios.post('/completeDriverRegistrationModule', {
                module_column_name: 'license_completed'
            }).catch( errors => {
                alert(errors);
            });
        },

        skipDriverLicenseUpload() {
            EventBus.$emit('driver-license-confirmed');
            axios.post('/completeDriverRegistrationModule', {
                module_column_name: 'license_completed'
            }).catch( errors => {
                alert(errors);
            });
        }
    }
}
</script>

<style lang="css">

    #registrationDriverLicense {
        height: 100%;
    }

</style>