/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="registrationDriverInsurance">
        <div class="row">
            <div class="col-sm-6">
                <driver-insurance-tile :embedded="true" :registration="true"/>
            </div>

            <div class="col-sm-6">
                <insurance-minimums/>

                <p>
                    <span style="color: red; font-weight: bold;">Important:</span>&nbsp;
                    Before submitting proof of insurance, you are required to:
                </p>
                <br>
                <div style="padding-left: 1rem;">
                    <span style="color: red;">Circle</span>&nbsp; the following criteria on the policy before
                    scanning:
                    <br>
                    <ol style="margin-left: 1rem;">
                        <li>Your name</li>
                        <li>Make, model and year of vehicle</li>
                        <li>Policy term ("From" and "To" dates)</li>
                        <li>Coverage amounts as required by <span
                                v-if="getCompanyName">{{ getCompanyName }}</span> above
                        </li>
                    </ol>
                </div>
                <br>

                <p>These documents will not be accepted should there be any omissions of the above mentioned
                    criteria.</p>
                <br>

                <p>Please scan and create a PDF document of your policy, and enter here. If for any reason you have
                    problems uploading your policy,
                    email to Doug Little at <a href="mailto:dlittle@cardataconsultants.com">dlittle@cardataconsultants.com</a>
                    or fax the document to 708-575-1999.</p>
                <br>
            </div>
        </div>

        <div id="actionButtons">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-block btn-success" style="float: right"
                            :disabled="!insurance_uploaded"
                            @click="confirmInsuranceInformationForRegistration()">Confirm and Continue
                    </button>
                </div>

                <div class="col-sm-4">
                    <!--davery-->
                    <button class="btn btn-secondary" @click="skipDriverInsuranceUpload()">Skip & Upload Later</button>
                </div>

                <div class="col-sm-4"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import {DriverInsuranceTile} from '../driver/index.js';
    import {InsuranceMinimums} from "../company";
    import {EventBus} from '../../event-bus';
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {DriverInsuranceTile, InsuranceMinimums},

        data() {
            return {
                insurance_uploaded: false,
            }
        },

        created() {

        },

        computed: {
            ...mapGetters([
                'getCompanyName',
            ])
        },

        mounted() {
            Common.listen('insurance-on-file', () => {
                this.insurance_uploaded = true;
            });
        },

        destroyed() {

        },

        watch: {},

        methods: {

            confirmInsuranceInformationForRegistration() {
                EventBus.$emit('driver-insurance-confirmed');
                axios.post('/completeDriverRegistrationModule', {
                    module_column_name: 'insurance_completed'
                }).catch(errors => {
                    alert(errors);
                });
            },

            skipDriverInsuranceUpload() {
                EventBus.$emit('driver-insurance-confirmed');
                axios.post('/completeDriverRegistrationModule', {
                    module_column_name: 'insurance_completed'
                }).catch(errors => {
                    alert(errors);
                });
            },
        }
    }
</script>

<style lang="css">

    #registrationDriverInsurance {
        height: 100%;
    }


</style>