/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
*/
<template lang="html">
    <div id="registrationView">
        <div class="box view">
            <h2 class="page-title">Driver Registration</h2>
            <section v-show="loaded && !impersonating">

                <div class="row">

                    <!-- column for registration wizard's menu -->
                    <div class="col-lg-2 col-sm-12">

                        <button :class="buttonClasses('driver_information')"
                                @click="switchSubpage('driver_information')">
                                Driver Information
                        </button>

                        <button :class="buttonClasses('driver_address')"
                                @click="switchSubpage('driver_address')"
                                :disabled="!subpages.driver_information.completed">
                                Address
                        </button>

                        <button v-show="subpages['driver_vehicle']['using']"
                                :class="buttonClasses('driver_vehicle')"
                                @click="switchSubpage('driver_vehicle')"
                                :disabled="!subpages.driver_address.completed">
                                Vehicle
                        </button>

                        <button v-show="subpages['driver_banking']['using']"
                                :class="buttonClasses('driver_banking')"
                                @click="switchSubpage('driver_banking')"
                                :disabled="!subpages.driver_vehicle.completed">
                                Banking Info
                        </button>

                        <button v-show="subpages['driver_insurance']['using']"
                                :class="buttonClasses('driver_insurance')"
                                @click="switchSubpage('driver_insurance')"
                                :disabled="!subpages.driver_banking.using && !subpages.driver_vehicle.completed || subpages.driver_banking.using && !subpages.driver_banking.completed">
                                Insurance
                        </button>

                        <button v-show="subpages['driver_license']['using']"
                                :class="buttonClasses('driver_license')"
                                @click="switchSubpage('driver_license')"
                                :disabled="subpages.driver_insurance.using && !subpages.driver_insurance.completed || subpages.driver_banking.using && !subpages.driver_banking.completed || !subpages.driver_vehicle.completed">
                                License
                        </button>

                        <button :class="buttonClasses('finish')"
                                :disabled="!registration_complete"
                                @click.prevent="onFinish">
                            Finish
                        </button>

                    </div>

                    <!--- column for sub pages -->
                    <div class="col-lg-10 col-sm-12">
                        <div id="registrationContentBox" class="box">

                            <registration-driver-information v-show="subpages['driver_information']['selected']"/>

                            <registration-driver-address v-show="subpages['driver_address']['selected']"/>

                            <registration-driver-vehicle v-show="subpages['driver_vehicle']['selected']"/>

                            <registration-driver-insurance v-show="subpages['driver_insurance']['selected']"/>

                            <registration-driver-license v-show="subpages['driver_license']['selected']"/>

                            <registration-driver-banking v-show="subpages['driver_banking']['selected']"/>

                        </div>
                    </div>
                </div>
            </section>

            <loading-partial v-show="!loaded && !impersonating"/>

            <div v-if="impersonating">
                <p>
                    Driver is currently in registration with yellow light status.
                    You cannot complete or modify registration for this driver.
                    If another profile is available a link will be present at the top of the page.
                    Otherwise return to your profile.
                </p>
            </div>

        </div>



        <!-- instructions modal -->
        <div v-if="!impersonating"
            :class="{'modal':true, 'is-active':show_instructions_modal}">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Welcome to CarData Fusion</p>
                        <button class="delete" @click.prevent="show_instructions_modal = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Please complete your registration to get started with CarData Fusion.</p>
                        <p>The list of forms to be completed are displayed in the navigation panel on the left.</p>
                        <p>Failure to complete registration may result in red light status, meaning you will not be eligible for reimbursement.</p>
                        <p>Information you leave incomplete can be updated from inside CarData Fusion at any time.</p>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="btn btn-secondary" @click.prevent="show_instructions_modal = false">Continue</button>
                    </footer>
                </div>
        </div>

        <!-- confirmation modal -->
        <div :class="{'modal':true, 'is-active':show_confirmation_modal}">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Continue to Driver Portal</p>
                        <button class="delete" @click.prevent="closeModal"></button>
                    </header>
                    <section v-if="wizard_is_complete == true" class="modal-card-body">
                        <p style="color: green">You have completed all registration modules</p>
                        <p>Click confirm to complete registration. Your information can be updated at any time from
                            within CarData Fusion.</p>
                    </section>
                    <section v-else class="modal-card-body">
                        <p style="color: red">
                            You have the following incomplete registration modules:
                            <ul class="list-group">
                                <li class="list-group-item" v-if="!subpages.driver_information.completed">Driver Information</li>
                                <li class="list-group-item" v-if="!subpages.driver_address.completed">Address</li>
                                <li class="list-group-item" v-if="!subpages.driver_vehicle.completed">Vehicle</li>
                                <li class="list-group-item" v-if="!subpages.driver_banking.completed">Banking</li>
                                <li class="list-group-item" v-if="!subpages.driver_insurance.completed">Insurance</li>
                                <li class="list-group-item" v-if="!subpages.driver_license.completed">License</li>
                            </ul>
                        </p>

                        <p>Click confirm to complete registration. Your information can be updated at any time from
                            within CarData Fusion.</p>
                    </section>
                    <footer class="modal-card-foot">

                        <a class="btn btn-primary mr-2" @click.prevent="driverConfirmSubmit" :disabled="submitting_confirmation">Confirm</a>
                        <a class="btn btn-secondary" @click.prevent="closeModal">Cancel</a>
                        <loading-partial v-show="submitting_confirmation" style="width: 50%;"/>
                    </footer>
                </div>
        </div>


    </div>

</template>

<script>

    import {
        RegistrationDriverAddress,
        RegistrationDriverVehicle,
        RegistrationDriverInformation,
        RegistrationDriverInsurance,
        RegistrationDriverLicense,
        RegistrationDriverBanking,
    } from "./index";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import LoadingPartial from "../partials/LoadingPartial";

    export default {

        components: {
            LoadingPartial,
            RegistrationDriverAddress,
            RegistrationDriverVehicle,
            RegistrationDriverInformation,
            RegistrationDriverInsurance,
            RegistrationDriverLicense,
            RegistrationDriverBanking,
        },

        data() {
            return {
                loaded: false,
                impersonating: false,

                companyModuleOptions: null,

                submitting_confirmation: false,

                /**
                 *  using: whether or not the driver will use the subpage, determined by loadModules()
                 *  completed: has this section been completed
                 *  selected: is it currently selected
                 */
                subpages: {
                    driver_information: {using: true, completed: false, selected: true},
                    driver_address: {using: true, completed: false, selected: false},
                    driver_vehicle: {using: true, completed: false, selected: false},
                    driver_banking: {using: false, completed: false, selected: false},
                    driver_insurance: {using: false, completed: false, selected: false},
                    driver_license: {using: false, completed: false, selected: false},
                },

                // displays the initial instructions modal
                show_instructions_modal: true,

                // when finish is clicked, this displays the confirmation modal
                show_confirmation_modal: false,

                //set to true when all active subpages have completed status of true
                wizard_is_complete: false
            };
        },


        created() {

            /**
             * Get initial values from server and save to store
             * TODO: this may be a good candidate for a function in Common
             */
            let init_tag = $('meta[name=init]');
            let initial_values = init_tag.attr('content');

            if (initial_values !== 'empty') {
                Common.processInitialValues(JSON.parse(initial_values));
            }

            // remove inital data from the DOM
            init_tag.attr('content', 'empty');
        },

        mounted() {
            this.companyModuleOptions = this.getDriverProfile.company.options;
            this.impersonating = this.getImpersonatorId > 1 ? true : false;

            axios.get('/getDriverRegistrationCompletion/' + this.getDriverProfile.user_id).then( response => {
                this.loadModules(response.data);
            });

            // register event listeners
            EventBus.$on('driver-information-confirmed', () => {
                this.subpages['driver_information']['completed'] = true;
                this.switchSubpage('driver_information', true);
            });

            EventBus.$on('driver-address-confirmed', () => {
                this.subpages['driver_address']['completed'] = true;
                this.switchSubpage('driver_address', true);
            });

            // if they go and change their address  after confirming, update completed status
            EventBus.$on('driver-address-changed', () => {
                this.subpages['driver_address']['completed'] = false;
            });

            EventBus.$on('driver-personal-vehicle-confirmed', () => {
                this.subpages['driver_vehicle']['completed'] = true;
                this.switchSubpage('driver_vehicle', true);
            });

            // if they go and change their personal vehicle after confirming, update completed status
            EventBus.$on('personal-vehicle-changed', () => {
                this.subpages['driver_vehicle']['completed'] = false;
            });

            EventBus.$on('driver-insurance-confirmed', () => {
                this.subpages['driver_insurance']['completed'] = true;
                this.switchSubpage('driver_insurance', true);
            });

            EventBus.$on('driver-license-confirmed', () => {
                this.subpages['driver_license']['completed'] = true;
                this.switchSubpage('driver_license', true);
            });

            EventBus.$on('driver-banking-confirmed', () => {
                this.subpages['driver_banking']['completed'] = true;
                this.switchSubpage('driver_banking', true);
            });

        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getSessionCompanyId',
                'getDriverProfile',
                'getCompanyPlan',
                'getImpersonatorId'
            ]),

            registration_complete: function() {
                for ( let module in this.subpages ) {
                    switch(module) {
                        case 'driver_insurance':
                        case 'driver_license':
                            if (this.getCompanyPlan == 'FAVR') {
                                continue;
                            } else {
                                if (this.subpages[module].using && !this.subpages[module].completed) {
                                    return false;
                                }
                            }
                            break;
                        default:
                            if (this.subpages[module].using && !this.subpages[module].completed) {
                                return false;
                            }
                            break;
                    }
                }
                return true;
            }
        },



        methods: {

            /**
             * Determines which modules the driver must fill out, and sets the buttons to be displayed
             *
             */
            loadModules(data = null) {

                // first check data
                if (data) {

                    for(let i in data) {
                        switch(i) {
                            case 'information_completed':
                                this.subpages['driver_information']['completed'] = data[i] == true ? true : false;
                                break;
                            case 'address_completed':
                                this.subpages['driver_address']['completed'] = data[i] == true ? true : false;
                                break;
                            case 'vehicle_completed':
                                this.subpages['driver_vehicle']['completed'] = data[i] == true ? true : false;
                                break;
                            case 'insurance_completed':
                                this.subpages['driver_insurance']['completed'] = data[i] == true ? true : false;
                                break;
                            case 'license_completed':
                                this.subpages['driver_license']['completed'] = data[i] == true ? true : false;
                                break;
                            case 'banking_completed':
                                this.subpages['driver_banking']['completed'] = data[i] == true ? true : false;
                                break;
                        }
                    }
                }


                // then fix data based on what the company is using, if we are not using banking for example force it completed
                if (this.companyModuleOptions['use_company_insurance_module'] == 1) {
                    this.subpages['driver_insurance']['using'] = true;
                } else {
                    this.subpages['driver_insurance']['completed'] = true;
                }

                if (this.companyModuleOptions['use_company_license_module'] == 1) {
                    // console.log('here');
                    this.subpages['driver_license']['using'] = true;
                } else {
                    this.subpages['driver_license']['completed'] = true;
                }

                if (this.companyModuleOptions['use_company_financials_module'] == 1) {
                    this.subpages['driver_banking']['using'] = true;
                } else {
                    this.subpages['driver_banking']['completed'] = true;
                }


                this.loaded = true;

                // switch subpage will determine the correct one, as long as we tell it we start with driver information
                if (!this.subpages.driver_information.completed) {
                    this.switchSubpage('driver_information');
                } else {
                    this.switchSubpage('driver_information', true);
                }
            },

            /**
             * Update the completed status of a given subpage, when it is altered
             */
            updateCompleted(data) {

                this.wizard_is_complete = false;

                if (data['from'] == 'DriverInformation') {

                    this.subpages['driver_information']['completed'] = false;

                } else if (data['from'] == 'DriverVehicle') {

                    this.subpages['driver_vehicle']['completed'] = false;

                } else if (data['from'] == 'DriverInsurance') {

                    this.subpages['driver_insurance']['completed'] = false;

                } else if (data['from'] == 'DriverLicense') {

                    this.subpages['driver_license']['completed'] = false;

                } else if (data['from'] == 'DriverBanking') {

                    this.subpages['driver_banking']['completed'] = false;

                }

            },

            /**
             * Will switch to a new subpage, called after submit is clicked on each subpage
             * Checks the completed status of each subpage, if all completed set wizard_is_complete to true
             *
             * @param selected: the newly selected page
             * @param redirect: whether we are forcing redirect or not (boolean), optional
             */
            switchSubpage(selected, redirect = null) {

                // we are forcing redirect (in this case selected is self, and we switch to some non complete subpage)
                if (redirect) {

                    /**
                     * look through subpages for one that is incomplete and not currently selected
                     * if we find one, make it selected, and unselect the former selected page, return the function
                     * if we reach the end of the loop, all pages completed
                     */
                    for (const page in this.subpages) {
                        if (!this.subpages[page]['selected'] && !this.subpages[page]['completed']) {
                            this.subpages[selected]['selected'] = false;
                            this.subpages[page]['selected'] = true;
                            return;
                        }
                    }

                    //if here all subpages completed
                    this.wizard_is_complete = true;

                } else {

                    //switching pages without forced redirect, selected is the new page
                    for (const page in this.subpages) {
                        this.subpages[page]['selected'] = (selected == page);
                    }
                }
            },

            /**
             * Render the menu buttons based upon the status of the module
             *
             * @param name: the button name
             * @returns a class to render the button
             */
            buttonClasses(name) {
                if (name == 'finish' && !this.wizard_is_complete) {
                    return 'btn btn-primary menu-button';
                } else if (name == 'finish' && this.wizard_is_complete) {
                    $('#finishBox .incrementer').focus();
                    return 'btn btn-primary is-focused menu-button';
                } else if (this.subpages[name]['completed']) {
                    return 'btn btn-success menu-button';
                } else if (this.subpages[name]['selected']) {
//                    if (this.subpages[name]['completed']) {
//                        return 'button btn-secondary is-focused'
//                    } else {
//                        return 'button btn-secondary is-focused';
//                    }
                    return 'btn btn-secondary menu-button';
                } else {
                    return 'btn is-light menu-button';
                }
            },


            // TODO: Implement submit functionality ie. create or update records based upon existence via the mother-function
            onFinish() {
                this.show_confirmation_modal = true;

            },

            showStatusModal() {
                this.show_confirmation_modal = true;
            },

            closeModal() {
                this.show_confirmation_modal = false;
            },

            driverConfirmSubmit() {
                this.submitting_confirmation = true;

                axios.post('/completeDriverRegistration', {
                    user_id: this.getDriverProfile.user_id,
                    modules: this.subpages,
                }).then( response => {
                    // this.show_confirmation_modal = false;
                    // this.submitting_confirmation = false;
                    Common.setView('driverDashboard');
                    window.location = '/';
                });
            }

        }


    };

</script>

<style lang="css">

    #registrationView .menu-button {
        width: 100%;
        display: block;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    #registrationView {

    }

    #registrationView .page-title {
        margin-bottom: 2rem;
    }

    #registrationView #registrationContentBox {
        /*height: 100%;*/
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    /*#registrationView #actionButtons {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1rem;
    }*/

    #registrationView #actionButtons button{

    }

</style>

