<template lang="html">
    <div id="registrationDriverAddress">
        <p class="title">Address</p>
        <div id="inputSection">
            <div class="columns" v-if="address">
                <div class="column">
                    <div class="columns">
                        <div class="column">Street:</div>
                        <div class="column">{{ address.street }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">Street 2:</div>
                        <div class="column">
                            <input class="form-control" v-model="address.street2">
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">City:</div>
                        <div class="column">{{ address.city }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">{{ state_province_label }}:</div>
                        <div class="column">{{ state_province_name }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">Country:</div>
                        <div class="column">{{ country }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">{{ zip_postal_label }}:</div>
                        <div class="column">{{ address.zip_postal }}</div>
                    </div>
                </div>


                <div class="column">
                    <gmap-map v-if="show_map"
                              style="width: 100%; height: 300px;"
                              :center="{lat: address.latitude, lng: address.longitude}"
                              :zoom="11"
                              class="mb-4">

                        <gmap-marker :position="{lat: address.latitude, lng: address.longitude}"
                                     :clickable="false"
                                     :draggable="false"></gmap-marker>
                    </gmap-map>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-sm-4">
                <button class="btn btn-success btn-block" style="float: right"
                        @click="confirmAddressInformationForRegistration()">Confirm and Continue</button>
            </div>

            <div class="col-sm-4">
                <button v-show="this.address_changed" class="btn btn-secondary btn-block" @click="getAddress()">Reset Address</button>
            </div>

            <div class="col-sm-4">
                <add-new-address-modal/><!-- renamed for use with more components -->
                <!--<registration-add-address-modal/>-->
            </div>
        </div>
    </div>
</template>

<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    import {GoogleMap, AddNewAddressModal} from "../partials/index"; // partials
    import {RegistrationGoogleMap} from './index';
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus'

    export default {
        props: [],

        components: {GoogleMap, VueGoogleAutocomplete, AddNewAddressModal, RegistrationGoogleMap},

        data() {
            return {
                address: null,
                // street2: null,
                errors: new Errors(),
                address_changed: false, // keep track of address change for showing Reset Address button
            };
        },

        created() {

        },

        mounted() {
            this.getAddress();
            // this.address_changed = false;

            // get lng/lat if required
            if ( Common.isEmpty(this.address.latitude) || Common.isEmpty(this.address.longitude) ) {
             // console.log('getting lat long for zip postal');
                axios.get('/getGeoDataFromZipPostal/' + this.address.country_id + '/' + this.address.zip_postal).then( response => {
                    this.address.latitude = response.data.latitude;
                    this.address.longitude = response.data.longitude;
                    Common.storeCommit('updateUserAddress', this.address);
                })
            }

            EventBus.$on('address-updated', newAddress => {
                this.address_changed = true; // davery
                this.address = newAddress; // davery

                // this.getAddress(); // here before
                // EventBus.$emit('force-map-update'); // was already commented out
            });

        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUserType',
                'getCountryId',
                'getUserAddress'
            ]),

            show_map: function() {
                if (this.address && (this.address.latitude && this.address.longitude)) {
                    this.address.latitude = parseFloat(this.address.latitude);
                    this.address.longitude = parseFloat(this.address.longitude);
                    this.$forceUpdate();
                    return true;
                }
                return false;
            },

            country: function () {

                if (this.address.country_id === 1) {
                    return 'United States';
                } else {
                    return 'Canada';
                }
            },
            state_province_label: function () {
                if (this.getCountryId === 1) {
                    return 'State';
                } else {
                    return 'Province';
                }
            },

            state_province_name: function () {
                if (this.address.state_province) {
                    return this.address.state_province.name;
                }
            },

            zip_postal_label: function () {
                if (this.getCountryId === 1) {
                    return 'Zip';
                } else {
                    return 'Postal Code';
                }
            },

        },

        watch: {
            'address': {
                handler: function() {
                    // tell the parent the address has changed
                    EventBus.$emit('driver-address-changed');
                },
                deep: true,
            },

            'street2': {
                handler: function() {
                    // tell the parent the address has changed
                    EventBus.$emit('driver-address-changed');
                },
            },
        },

        methods: {

            getAddress() {
                this.address_changed = false;
                this.address = _.cloneDeep(this.getUserAddress);
            },

            confirmAddressInformationForRegistration() {
                if (!this.address.street2) {
                    this.address.street2 = null;
                }
                let updateAddress = {
                    user_id: this.getUserId,
                    registration: true,
                    address: this.address,
                };
                Common.storeCommit('updateUserAddress', this.address).then( () => {
                    EventBus.$emit('driver-address-confirmed');
                });
                // removed davery 7-27-18 - incorrect usage
                // axios.post('/updateDriverAddress/true', {address: this.address}).then( response => {
                axios.post('/updateDriverAddress', updateAddress).then( response => {
                    axios.post('/completeDriverRegistrationModule', {
                        module_column_name: 'address_completed'
                    }).catch( errors => {
                        alert(errors);
                    });
                })

            }

        }


    }

</script>

<style lang="css">
    #registrationDriverAddress {
        height: 100%
    }

    #registrationDriverAddress #map {
        height: 100%;
        width: 100%;
        float: left;
        flex-grow: 1;
    }

</style>