/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="registrationDriverInformation">
        <driver-info-tile :hide_password_change_button="true" :embedded="true" user_icon="true"/>

        <div class="row pt-2">
            <div class="col-sm-4">
                <button class="btn btn-success btn-block" style="float: right"
                        @click="confirmDriverInformationForRegistration()">Confirm and Continue</button>
            </div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</template>

<script>
    import {DriverInfoTile} from '../driver/index.js';
    import {EventBus} from '../../event-bus';
export default {

    props: [],

    components: {DriverInfoTile},

    data() {
        return{

        }
    },

    created() {

    },

    mounted() {

    },

    destroyed() {

    },

    watch: {

    },

    methods: {

        confirmDriverInformationForRegistration() {
            axios.post('/completeDriverRegistrationModule', {
                module_column_name: 'information_completed'
            }).catch( errors => {
                alert(errors);
            });
            EventBus.$emit('driver-information-confirmed');
        }

    }
}
</script>

<style lang="css">
    #registrationInformationBanking {
        height: 100%;
    }
</style>