/**
Requires:
- mode: is this add or edit functionality
- caller_id: who is my parent page

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

TODO NEEDS REFACTORING REW-1106

*/
<template lang="html">
    <div id="addEditUserPage">

        <loading-partial v-show="!loaded"/>

        <transition name="fade5s">

            <!--company must be supplied to add a user-->
            <section v-if="getSessionCompanyId > 1 && loaded">

                <form @submit.prevent="" @keydown="clearError($event)">

                    <!-- PROFILE CHECKBOXES -->
                    <div :class="{
                            'box position-relative': true,
                            'unlocked': !profile_selections_locked,
                            'has-error': profile_types_errors
                            }"
                         style="padding-top: 30px;"
                    >
                        <!--TODO: Work on styling-->
                        <button class="btn btn-sm btn-secondary user-search-btn"
                                title="Unlock this section to add user profiles. Remember for changes to take effect you must click update user at the bottom right corner of the page"
                                :disabled="getLockAllInput"
                                id="addUserButton" @click="toggleProfileSelectionLock()">
                            <i v-if="profile_selections_locked" class="fas fa-lock"></i>
                            <i v-else class="fas fa-lock-open"></i>
                        </button>

                        <!--DEACTIVATION & REACTIVATION-->
                        <div class="position-absolute" style="top: 2px; right: 0;">
                            <!--<div class="col-lg-2 offset-lg-8 col-sm-6">-->
                            <div>
                                <label for="reactivateUserModal" v-if="showReactivateUser()">
                                    <span style="font-size: 14px;">Reactivate Profiles</span>
                                    <!--davery-->
                                    <button class="btn btn-danger btn-sm rounded-action-btn-30px"
                                            :title="{'Reactivate Profiles ': true, 'Switch to edit mode and unlock the profiles in order to reactivate': getLockAllInput || profile_selections_locked}"
                                            :disabled="getLockAllInput || !profile_selections_locked"
                                            @click="openReactivateUserModal(getEditedUser.id)"
                                            style="width: 24px; height: 24px; line-height: 23px;"
                                    >
                                        <i class="fal fa-times"></i>
                                    </button>
                                    <!--davery-->
                                    <deactivate-user-modal external_button_click="true"/>
                                    <!--<reactivate-user-modal id="reactivateUserModal"
                                                           class="float-right"
                                                           :caller_id="caller_id"
                                                           :user_id="getEditedUser.id"/>-->
                                </label>
                            </div>

                            <!--<div class="col-lg-2 offset-lg-8 col-sm-6">-->
                            <label for="deactivateUserModal" v-if="showDeactivateUser()">
                                <span style="font-size: 14px;">Deactivate Profiles</span>
                                <!--davery-->
                                <button class="btn btn-danger btn-sm rounded-action-btn-30px"
                                        :title="{'Deactivate Profiles ': true, 'Switch to edit mode and unlock the profiles in order to deactivate': getLockAllInput || profile_selections_locked}"
                                        @click="openDeactivateUserModal(getEditedUser.id)"
                                        style="width: 24px; height: 24px; line-height: 23px;"
                                >
                                    <i class="fal fa-times"></i>
                                </button>
                                <!--davery-->
                                <deactivate-user-modal external_button_click="true"/>
                                <!--id="deactivateUserModal"
                                class="float-right"
                                :caller_id="caller_id"
                                :user_id="getEditedUser.id"-->
                            </label>
                        </div>

                        <div class="col-lg-8 offset-lg-2 col-sm-12">
                            <div class="row">
                                <div class="col-3" v-if="getSessionCompanyId != 41">
                                    <!-- DRIVER PROFILE -->
                                    <div class="text-center">
                                        <label class="checkbox"
                                               :disabled="profile_selections_locked || (getEditedUser.is_driver && mode === 'edit')">
                                            <input type="checkbox" v-model="user.is_driver"
                                                   :disabled="profile_selections_locked || (getEditedUser.is_driver && mode === 'edit')">
                                            Driver Profile
                                        </label>
                                    </div>
                                </div>

                                <div class="col-3" v-if="getSessionCompanyId != 41">
                                    <!-- MANAGER PROFILE -->
                                    <div class="text-center">
                                        <label class="checkbox"
                                               :disabled="profile_selections_locked || (getEditedUser.is_manager && mode === 'edit')">
                                            <input type="checkbox" v-model="user.is_manager"
                                                   :disabled="profile_selections_locked || (getEditedUser.is_manager && mode === 'edit')">
                                            Manager Profile
                                        </label>
                                    </div>
                                </div>

                                <div class="col-3" v-if="getSessionCompanyId != 41">
                                    <!-- ADMINISTRATOR PROFILE -->
                                    <div class="text-center">
                                        <label class="checkbox"
                                               :disabled="profile_selections_locked || (getEditedUser.is_administrator && mode === 'edit')">
                                            <input type="checkbox" v-model="user.is_administrator"
                                                   :disabled="profile_selections_locked || (getEditedUser.is_administrator && mode === 'edit')">
                                            Administrator Profile
                                        </label>
                                    </div>
                                </div>

                                <div class="col-3" v-if="getSessionCompanyId == 41">
                                    <!-- SUPER PROFILE -->
                                    <div class="text-center">
                                        <label class="checkbox"
                                               :disabled="profile_selections_locked || getSessionCompanyId != 41 || (getEditedUser.is_super && mode === 'edit')">
                                            <input type="checkbox" v-model="user.is_super"
                                                   :disabled="profile_selections_locked || (getEditedUser.is_super && mode === 'edit')">
                                            Super Profile
                                        </label>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end col -->

                        <span class="help-block"
                              v-if="profile_types_errors">
                            At least one role is required for a user
                        </span>
                    </div>

                    <!--USER GENERAL SETTINGS-->
                    <div class="row">
                        <div class="col-12">

                        </div>

                    </div>
                    <div class="fusion-accordion" id="accordion0">
                        <div class="card">
                            <div class="card-header position-relative" id="headingZero">
                                <h5 class="mb-0">
                                    General
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <form-input v-model="user.first_name"
                                                    :type="'text'"
                                                    :field_name="'first_name'"
                                                    :label="'First Name'"
                                                    :disabled="getLockAllInput"
                                                    :has_error="errors.has('first_name')"
                                                    :get_error="errors.get('first_name')"/>
                                    </div>

                                    <div class="col-lg-3 col-sm-12">
                                        <form-input v-model="user.last_name"
                                                    :type="'text'"
                                                    :field_name="'last_name'"
                                                    :label="'Last Name'"
                                                    :disabled="getLockAllInput"
                                                    :has_error="errors.has('last_name')"
                                                    :get_error="errors.get('last_name')"/>
                                    </div>

                                    <div class="col-lg-3 col-sm-12">
                                        <form-input v-model="user.email"
                                                    :type="'email'"
                                                    :field_name="'email'"
                                                    :label="'Email'"
                                                    :disabled="getLockAllInput"
                                                    :has_error="errors.has('email')"
                                                    :get_error="errors.get('email')"/>
                                    </div>

                                    <div class="col-lg-3 col-sm-12">
                                        <form-input v-model="user.personal_email"
                                                    :type="'personal_email'"
                                                    :field_name="'personal_email'"
                                                    :label="'Personal Email'"
                                                    :disabled="getLockAllInput"
                                                    :has_error="errors.has('personal_email')"
                                                    :get_error="errors.get('personal_email')"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- DRIVER PROFILE -->
                                    <div style="width: 120px; height: 145px" class="col-sm-auto"
                                         v-if="getSessionCompanyId != 41" v-show="showProfileIcon('driver')">
                                        <!--<div v-show="user.is_driver"-->
                                        <div
                                                :disabled="profile_selections_locked || (getEditedUser.is_driver && mode === 'edit')"
                                                class="container container-style"
                                                v-bind:class="getProfileStyle('driver')"
                                                @click="changeProfileStatusModal(getEditedUser, getLockAllInput)">
                                            <div class="d-flex align-items-end justify-content-center container-icon-style">
                                                <i class="far fa-user-alt"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center container-text-style">
                                                <p>Driver</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- MANAGER PROFILE -->
                                    <div style="width: 120px; height: 145px" class="col-sm-auto"
                                         v-if="getSessionCompanyId != 41" v-show="showProfileIcon('manager')">
                                        <div
                                                :disabled="profile_selections_locked || (getEditedUser.is_manager && mode === 'edit')"
                                                class="container container-style"
                                                v-bind:class="getProfileStyle('manager')"
                                                @click="changeProfileStatusModal(getEditedUser, getLockAllInput)">
                                            <div class="d-flex align-items-end justify-content-center container-icon-style">
                                                <i class="far fa-user-alt"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center container-text-style">
                                                <p>Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ADMINISTRATOR PROFILE -->
                                    <div style="width: 120px; height: 145px" class="col-sm-auto"
                                         v-if="getSessionCompanyId != 41" v-show="showProfileIcon('administrator')">
                                        <div
                                                :disabled="profile_selections_locked || (getEditedUser.is_administrator && mode === 'edit')"
                                                class="container container-style"
                                                v-bind:class="getProfileStyle('administrator')"
                                                @click="changeProfileStatusModal(getEditedUser, getLockAllInput)">
                                            <div class="d-flex align-items-end justify-content-center container-icon-style">
                                                <i class="far fa-user-alt"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center container-text-style">
                                                <p>Administrator</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ADD PROFILE -->
                                    <div style="width: 120px; height: 145px" class="col-sm-auto"
                                         v-if="getSessionCompanyId != 41" v-show="showProfileIcon('add')">
                                        <!--:disabled="profile_selections_locked || (getEditedUser.is_administrator && mode === 'edit')"-->
                                        <div class="container container-style"
                                             v-bind:class="getProfileStyle('add')">
                                            <div class="d-flex align-items-end justify-content-center container-icon-style">
                                                <!--<i class="far fa-user-alt"></i>-->
                                                <i class="far fa-plus-circle"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center container-text-style">
                                                <p>Add Profile</p>
                                            </div>
                                        </div>
                                    </div>
                                    <change-user-status-modal/>
                                </div><!-- end row -->
                            </div>
                        </div>
                    </div>

                    <!--Full Screen-->
                    <label class="checkbox float-right">
                        <input type="checkbox" v-model="show_full_screen">
                        Show Full Screen
                    </label>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-12">

                            <!--DRIVER-->
                            <div class="fusion-accordion" id="accordion1" v-if="showSection('Driver Profile')">
                                <div class="card">
                                    <div class="card-header position-relative" id="headingOne" data-toggle="collapse"
                                         data-target="#collapse1"
                                         aria-expanded="true" aria-controls="collapse1">
                                        <h5 class="mb-0">
                                            Driver Profile
                                        </h5>
                                        <i class="fas fa-angle-down position-absolute"
                                           style="font-size: 20px; right: 20px; top: 13px;"></i>
                                    </div>

                                    <div id="collapse1" class="collapse hide show" aria-labelledby="headingOne"
                                         data-parent="#accordion1">
                                        <div class="card-body" aria-expanded="true">
                                            <add-edit-driver-profile :caller_id="my_caller_id"
                                                                     :mode="mode"
                                                                     :driverFormData="user.driver"
                                                                     :formErrors="errors.errors"
                                                                     v-model="user.driver"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--MANAGER-->
                            <div class="fusion-accordion" id="accordion2" v-if="showSection('Manager Profile')">
                                <div class="card">
                                    <div class="card-header" id="headingTwo" data-toggle="collapse"
                                         data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                        <h5 class="mb-0">
                                            Manager Profile
                                        </h5>
                                        <i class="fas fa-angle-down position-absolute"
                                           style="font-size: 20px; right: 20px; top: 13px;"></i>
                                    </div>

                                    <div id="collapse2" class="collapse hide show" aria-labelledby="headingOne"
                                         data-parent="#accordion2">
                                        <div class="card-body">
                                            <add-edit-manager-profile :caller_id="my_caller_id"
                                                                      :mode="mode"
                                                                      :managerFormData="user.manager"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--ADMINISTRATOR-->
                            <div class="fusion-accordion" id="accordion3" v-if="showSection('Administrator Profile')">
                                <div class="card">
                                    <div class="card-header" id="headingThree" data-toggle="collapse"
                                         data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                        <h5 class="mb-0">
                                            Administrator Profile
                                        </h5>
                                        <i class="fas fa-angle-down position-absolute"
                                           style="font-size: 20px; right: 20px; top: 13px;"></i>
                                    </div>

                                    <div id="collapse3" class="collapse hide show" aria-labelledby="headingThree"
                                         data-parent="#accordion3">
                                        <div class="card-body">
                                            <add-edit-administrator-profile :caller_id="my_caller_id"
                                                                            :mode="mode"
                                                                            :administratorFormData="user.administrator"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--SUPER-->
                            <div class="accordion4" v-if="showSection('Super Profile')">
                                <div class="card">
                                    <div class="card-header" id="heading4" data-toggle="collapse"
                                         data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                        <h5 class="mb-0">
                                            Super Profile
                                        </h5>
                                    </div>

                                    <div id="collapse4" class="collapse hide show" aria-labelledby="heading4"
                                         data-parent="#accordion4">
                                        <div class="card-body">
                                            <add-edit-super-profile :caller_id="my_caller_id"
                                                                    :mode="mode"
                                                                    :superFormData="user.super"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- col-12 -->
                    </div><!-- row -->


                    <div class="row">
                        <!--GENERATE NEW USERNAME FOR EDITED USERS-->

                        <div class="col-lg-3 offset-lg-4 col-sm-6">
                            <transition name="fade5s">
                                <div class="alert alert-danger" v-if="name_changed">
                                    <h5>You have changed this user's name</h5>

                                    <label class="checkbox">
                                        <input type="checkbox"
                                               v-model="user.generate_new_username"
                                               :disabled="getLockAllInput">
                                        Generate new username?
                                    </label>
                                </div>
                            </transition>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="email_checkbox"
                                   title="The welcome email contains a link for the user to generate a new password. If for some reason you must manually reset a password, leave all fields the same, select this and click update user.">
                                <input id="email_checkbox"
                                       type="checkbox"
                                       v-model="user.send_welcome_email"
                                       :disabled="getLockAllInput">
                                Send Welcome Email?
                            </label>
                        </div>
                        <div class="col">
                            <button @click="onSubmit"
                                    :disabled="(!user.is_driver && !user.is_manager && !user.is_administrator && !user.is_super) || getLockAllInput"
                                    class="btn btn-primary float-right">
                                {{ submitText }}
                            </button>
                        </div>


                    </div>
                </form>

                <!--POWER TO THE PEOPLE BABAYY-->
                <power-to-the-people v-if="mode === 'edit' && this.user.is_driver"/>
            </section>


        </transition>


        <transition name="fade5s">
            <section v-if="getSessionCompanyId < 1 || !getSessionCompanyId">

                <h5>
                    <em>
                        Please select a company above
                    </em>
                </h5>

            </section>
        </transition>

        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {UserModel} from "../../models/User";
    import {
        AddEditAdministratorProfile,
        AddEditDriverProfile,
        AddEditManagerProfile,
        AddEditSuperProfile,
        PowerToThePeople
    } from "../super";
    import {ChangeUserStatusModal, DeactivateUserModal, ReactivateUserModal} from "./";
    import {CompanySelect, ErrorsModal, FormInput} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "../partials/LoadingPartial";

    export default {

        props: ['mode', 'caller_id'],

        components: {
            PowerToThePeople,
            DeactivateUserModal,
            ReactivateUserModal,
            LoadingPartial,
            ErrorsModal,
            CompanySelect,
            AddEditDriverProfile,
            AddEditManagerProfile,
            AddEditAdministratorProfile,
            AddEditSuperProfile,
            FormInput,
            ChangeUserStatusModal
        },

        data() {
            return {
                loaded: false,
                user: null,
                my_caller_id: 'AddEditUserPage',
                update_successful: false,
                success_message: '',
                selected_user_type: -1,
                session_driver_id: null,
                show_full_screen: true,
                profile_selections_locked: true,
                errors: new Errors,
            };
        },

        created() {
            this.loadDefaults();
        },

        mounted() {
            // listens to forms from AddEdit**ProfileSubpages
            Common.listen('form-changed', this.updateForm);

            // Edited User Changed
            EventBus.$on('user-select-user-changed', this.userChanged);

            // force the component to reload defaults
            EventBus.$on('reload-defaults-add-edit-user', this.loadDefaults);

            // reload the user when a reactivation or a deactivation has occurred
            // EventBus.$on('user-reactivated', this.userChanged);
            // EventBus.$on('user-deactivated', this.userChanged);
            EventBus.$on('user-deactivated', this.updateDeactivatedUser);
            EventBus.$on('user-reactivated', this.updateReactivatedUser);


            EventBus.$on('discard-user-edits', this.getEditedUserData);

            //we have some user we are editing
            if (this.getEditedUser && this.mode === 'edit') {
                this.getEditedUserData();
            }
        },

        beforeDestroy() {
            console.log('removing editedUser from addedit user page');
            Common.storeCommit('updateEditedUser', {});
            EventBus.$off('user-select-user-changed', this.userChanged);
            EventBus.$off('reload-defaults-add-edit-user', this.loadDefaults);
            EventBus.$off('user-deactivated', this.updateDeactivatedUser);
            EventBus.$off('user-reactivated', this.updateReactivatedUser);
            EventBus.$off('discard-user-edits', this.getEditedUserData)


        },

        computed: {
            ...mapGetters([
                'getUserId', // super user doing the editing
                'getEditedUser', // user being created
                'getSessionCompanyId',
                'getSessionCountryId', // select the country based on selected company
                'getSessionDriverId',
                'getLockAllInput'
            ]),

            submitText: function () {
                return this.mode == 'edit' ? 'Update User' : 'Create User';
            },

            valid_country: function () {
                return this.user.address.country_id == 1 || this.user.address.country_id == 2;
            },

            profile_types_errors: function () {
                return !this.user.is_driver
                    && !this.user.is_manager
                    && !this.user.is_administrator
                    && !this.user.is_super;
            },

            name_changed: function () {
                if (this.mode !== 'edit' || !this.getEditedUser) {
                    return false;
                }
                return this.user.first_name != this.getEditedUser.first_name || this.user.last_name != this.getEditedUser.last_name
            }
        },

        watch: {

            getSessionDriverId: function () {

            },

            /**
             * Collapses or shows all sections when the Show Fullscreen checkbox is toggled
             */
            show_full_screen: {
                handler: function (val) {
                    for (let i = 1; i <= 4; i++) {
                        $('#collapse' + i).collapse(val ? 'show' : 'hide')
                    }
                },
                immediate: true,
            },

            //we clear address errors in the case where a user enters good data
            'user.driver.address': {
                handler: function (address) {
                    for (const field in address) {
                        if (this.user.driver.address[field] != -1 && this.user.driver.address[field] != '' && this.user.driver.address[field] != null) {
                            this.errors.clear(field);
                        }
                    }
                },
                deep: true,
            },

            'user.driver.driverProfile': {
                handler: function (driverProfile) {
                    for (const field in driverProfile) {
                        if (this.user.driver.driverProfile[field] != -1 && this.user.driver.driverProfile[field] != '' && this.user.driver.driverProfile[field] != null) {
                            this.errors.clear(field);
                        }
                    }
                },
                deep: true,
            },

            /**
             * When the company is changed, update the user's company
             */
            'getSessionCompanyId': {
                handler: function (new_val, old_val) {
                    if (new_val != old_val) {
                        EventBus.$emit('edit-user-page-company-changed', new_val);
                        this.user.company_id = new_val;
                        axios.get('/getCompanyCountry/' + new_val).then(response => {
                            this.user.driver.address.country_id = response.data.country_id;
                            console.log('watch sessioncompid', response.data);
                            this.user.driver.address.state_province_id = -1
                        })


                        /**
                         * If the mode is edit, go back to loading.
                         */
                        this.loaded = this.mode != 'edit';


                        /**
                         * When the company is NOT CarData, set is_super to false.
                         * When the company IS CarData, the user cannot be a driver, manager or admin.
                         * This will prevent any stray data kicking around in the super object from being unintetionally
                         * inserted and giving a non-cardata user super powers
                         */
                        if (new_val != 41) {
                            this.user.is_super = false;
                        } else {
                            this.user.is_driver = false;
                            this.user.is_manager = false;
                            this.user.is_administrator = false;
                        }
                    }
                },
            }

        },

        methods: {
            changeProfileStatusModal(user_info, getLockAllInput) {
                if (!getLockAllInput) {
                    EventBus.$emit('openChangeUserStatusModal', user_info);
                }
            },
            getProfileStyle(profile) {
                switch (profile) {
                    case 'driver':
                        return {
                            'active-profile': this.showProfileStatus('driver'),
                            'inactive-profile': !this.showProfileStatus('driver'),
                            'fusion-tile': !this.getLockAllInput,
                            'unlocked-style': !this.getLockAllInput
                        };
                    case 'manager':
                        return {
                            'active-profile': this.showProfileStatus('manager'),
                            'inactive-profile': !this.showProfileStatus('manager'),
                            'fusion-tile': !this.getLockAllInput,
                            'unlocked-style': !this.getLockAllInput
                        };
                    case 'administrator':
                        return {
                            'active-profile': this.showProfileStatus('administrator'),
                            'inactive-profile': !this.showProfileStatus('administrator'),
                            'fusion-tile': !this.getLockAllInput,
                            'unlocked-style': !this.getLockAllInput
                        };
                    default:
                        return {
                            'fusion-tile': !this.getLockAllInput,
                            'unlocked-style': !this.getLockAllInput
                        };

                }
            },
            showProfileStatus(profile) {
                switch (profile) {
                    case 'driver':
                        return this.user.driver.driverProfile.active;
                    case 'manager':
                        return this.user.manager.managerProfile.active;
                    case 'administrator':
                        return this.user.administrator.administratorProfile.active;
                }
            },
            showProfileIcon(profile) {
                switch (profile) {
                    case 'driver':
                        return this.user.is_driver;
                    case 'manager':
                        return this.user.is_manager;
                    case 'administrator':
                        return this.user.is_administrator;
                    case 'add':
                        return !this.getLockAllInput;
                    default:
                        return !this.getLockAllInput;
                }

            },
            openDeactivateUserModal(user_id) {
                EventBus.$emit('openDeactivateUserModal', user_id);
            },

            openReactivateUserModal(user_id) {
                EventBus.$emit('openReactivateUserModal', user_id);
            },
            loadDefaults() {
                this.user = new UserModel;
                this.user.company_id = this.getSessionCompanyId;
                this.user.driver.address.country_id = this.getSessionCountryId;

                this.user.driver.driverProfile.editing_user_id = this.getUserId;

                this.loaded = true;
            },

            /**
             * This method will check whether changes have been made to the user
             * TODO in the session selectors, we need watchers to check on the view and  subview, if it is
             * TODO 'users' 'add' or 'users' 'edit' we must reset the ones who aren't selected when it is changed
             */
            confirmEditedUserChanged(id) {
                if (Common.isEmpty(id)) {
                    return;
                }
                alert('confirm edited user changed');
            },

            userChanged(user_id, show_loading_icon = true) {
                console.log('user_changed', user_id);
                if (show_loading_icon) {
                    this.loaded = false;
                }
                Common.getMe(0, user_id).then(data => {
                    Promise.all([
                        Common.storeCommit('updateEditedUser', data.user),
                        Common.storeCommit('updateSessionCompanyId', data.user.company.id),
                        Common.storeCommit('updateSessionCompanyName', data.user.company.name),
                    ]).then(r => {
                        this.getEditedUserData();
                        this.loaded = true;
                    })
                });

            },

            // Get an edited user's data
            getEditedUserData() {
                console.log('GETTING EDITED USER DATA');

                this.user.username = this.getEditedUser.username;
                this.user.email = this.getEditedUser.email;
                this.user.first_name = this.getEditedUser.first_name;
                this.user.last_name = this.getEditedUser.last_name;
                this.user.is_driver = this.getEditedUser.is_driver;
                this.user.is_manager = this.getEditedUser.is_manager;
                this.user.is_administrator = this.getEditedUser.is_administrator;
                this.user.is_super = this.getEditedUser.is_super;
                this.user.id = this.getEditedUser.id;
                this.user.company_id = this.getSessionCompanyId;

                if (this.getEditedUser.is_driver) {
                    console.log(' ' + this.getEditedUser.driver_profile.start_date);

                    this.user.driver.driverProfile = this.getEditedUser.driver_profile;
                    // this.user.driver.driverProfile.start_date = moment(this.getEditedUser.driver_profile.start_date);
                    // this.user.driver.driverProfile.stop_date = moment(this.getEditedUser.driver_profile.stop_date);
                    console.log('updating address');
                    this.user.driver.address = this.getEditedUser.address;

                    // some weird type conversion error after multiple updates
                    if (this.user.driver.driverProfile.territory_list == "0" || this.user.driver.driverProfile.territory_list == 0) {
                        this.user.driver.driverProfile.territory_list = {};
                    }

                    /**
                     * get all managers for the given driver, these will be in the form
                     * managers = { manager_id: { manager_id, first_name, }, ... }
                     *
                     * user_id is passed as user_id is the real driver id, not the driver_profiles.id
                     * primary key
                     */
                    axios.get('/getDriverManagers/' + this.user.driver.driverProfile.user_id).then(response => {
                        this.user.driver.driverManager = response.data.managers;
                    });

                    /**
                     * Update the store with driver street light array
                     * WE MUST reset this to null afterwards
                     */
                    axios.get('getDriverStreetLightData/' + this.user.driver.driverProfile.user_id).then(response => {
                        Common.storeCommit('updateDriverStreetLightArray', response.data);
                    });

                    this.user.company_id = this.getEditedUser.driver_profile.company_id;
                }

                if (this.getEditedUser.is_manager) {
                    this.user.manager.managerProfile = this.getEditedUser.manager_profiles[0];  //TODO: if suddenly broken, SEE IF 's' REMOVED!!!

                    /**
                     * get all drivers for the given manager, these will be in the form
                     * drivers = [ {id, driverProfile...}, {id, driverProfile...}, ... ]
                     * convert to {id_x: 'last_name, first_name', id_y: 'last_name, first_name', ...}
                     */
                    if (this.getEditedUser.manager_profiles[0]['assigned_drivers'] === 'some') {

                        axios.get('/getMyDrivers/' + this.user.manager.managerProfile.manager_id).then(response => {
                            let assignedDrivers = {};
                            for (let i in response.data.drivers) {
                                assignedDrivers[response.data.drivers[i].id] = response.data.drivers[i];
                            }
                            this.user.manager.managerDriver = assignedDrivers;
                        });
                    } else if (this.getEditedUser.manager_profiles[0]['assigned_drivers'] == 'all') {
                        this.user.manager.managerDriver[-2] = {first_name: 'All', last_name: '', id: -2};
                    }
                }

                if (this.getEditedUser.is_administrator) {
                    this.user.administrator.administratorProfile = this.getEditedUser.administrator_profiles[0];
                    this.user.administrator.divisions = null;

                    /**
                     * get all divisions for the given administrator, these will be in the form
                     * divisions =
                     * convert to
                     */
                    if (this.getEditedUser.administrator_profiles[0]['assigned_divisions'] === 'some') {
                        axios.get('/getMyDivisions/' + this.user.administrator.administratorProfile.administrator_id).then(response => {
                            let assignedDivisions = {};
                            for (let i in response.data.divisions) {
                                assignedDivisions[response.data.divisions[i].id] = response.data.divisions[i];
                            }
                            this.user.administrator.administratorDivision = assignedDivisions;
                        });
                    } else if (this.getEditedUser.administrator_profiles[0]['assigned_divisions'] === 'all') {
                        this.user.administrator.administratorDivision[-2] = {name: 'All', id: -2};
                    }
                }

                if (this.getEditedUser.is_super) {

                }
            },


            // Selection methods
            toggleProfileSelectionLock() {
                this.profile_selections_locked = !this.profile_selections_locked;
            },

            //Form Methods
            updateForm(response) {
                console.log('UPDATING THE FORM');
                this.errors = response.errors;
                switch (response.name) {
                    case 'Driver':
                        this.user.driver = response.data;
                        console.log('this.user.driver', this.user.driver);
                        break;
                    case 'Manager':
                        this.user.manager = response.data;
                        break;
                    case 'Administrator':
                        this.user.administrator = response.data;
                        break;
                    case 'Super':
                        this.user.super = response.data;
                        break;
                }
            },


            //General Page Methods

            /**
             * This method is called to create or update a given user
             *
             */
            onSubmit() {
                console.log('the user driver', this.user.driver.driverProfile);

                let url = this.mode == 'edit' ? '/updateUser' : '/createUser';

                axios.post(url, this.user).then(response => {

                    /**
                     * If we are creating a user, grab the id from response, as we didn't have one before!
                     * This is needed for the getMe call made by the userChanged method
                     *
                     * Also lock all input, and switch to the show user page
                     */
                    if (this.mode != 'edit') {
                        this.user.id = response.data.user_id;
                        Common.storeCommit('updateLockAllInput', true);
                        Common.setSubView('edit');
                    }


                    this.success_message = response.data.message;
                    this.update_successful = true;
                    alert(this.success_message);
                    // in the background reload the users data
                    // we do this because manually update and parsing what to update the store with is a hassle
                    // the data already appears on the front end, so now we just leave it as is but
                    // ensure the object structure updates properly behind the scenes
                    this.userChanged(this.user.id, false);

                    /**
                     * This is just nice for the user experience, relock the profile selections
                     * Let em know they did stuff
                     */
                    this.profile_selections_locked = true;

                }).catch(errors => {
                    this.errors.errors = errors.response.data;
                    EventBus.$emit('errors', this.errors.errors);
                    this.$forceUpdate();

                    // Pass the errors to the errors modal
                    Common.fire(this.caller_id + '-errors-submitting', errors.response.data);

                    // when the modal is closed scroll to the errors
                    // this.$nextTick(function () {
                    //     let y_pos = this.$el.querySelector(".help-block").offsetTop;
                    //     window.scrollTo(0, y_pos - 100);
                    // });
                });
            },

            clearError(event) {
                if (!Common.isEmpty(event.target) && !Common.isEmpty(event.target.name)) {
                    this.errors.clear(event.target.name);
                }
                else {
                    this.errors.clear(event); // this will be that name in this case
                }
                EventBus.$emit('errors', this.errors.errors);
                this.$forceUpdate();
            },

            resetForm() {
                this.user = new User;
                Common.fire('form-reset');
            },

            returnToUsers() {
                Common.setView('users', null);
            },

            discardEdits() {
                // reset data for add or edit
                this.resetForm();
            },

            showSection(name) {
                switch (name) {
                    case 'Driver Profile':
                        return this.user.is_driver;
                        break;
                    case 'Manager Profile':
                        return this.user.is_manager;
                        break;
                    case 'Administrator Profile':
                        return this.user.is_administrator;
                        break;
                    case 'Super Profile':
                        return this.user.is_super;
                        break;
                    default:
                        return true;
                }
            },

            showDeactivateUser() {
                // do not show it for add user
                if (this.mode !== 'edit') {
                    return false;
                }

                // check the various profiles
                if (this.getEditedUser) {
                    for (let i in this.getEditedUser.administrator_profiles) {
                        if (this.getEditedUser.administrator_profiles[i].active) {
                            return true;
                        }
                    }

                    for (let i in this.getEditedUser.manager_profiles) {
                        if (this.getEditedUser.manager_profiles[i].active) {
                            return true;
                        }
                    }

                    if (this.getEditedUser.driver_profile && this.getEditedUser.driver_profile.active) {
                        return true;
                    }
                }
                return false;
            },

            showReactivateUser() {
                // do not show it for add user
                if (this.mode !== 'edit') {
                    return false;
                }

                // check the various profiles
                if (this.getEditedUser) {
                    for (let i in this.getEditedUser.administrator_profiles) {
                        if (!this.getEditedUser.administrator_profiles[i].active) {
                            return true;
                        }
                    }

                    for (let i in this.getEditedUser.manager_profiles) {
                        if (!this.getEditedUser.manager_profiles[i].active) {
                            return true;
                        }
                    }

                    if (this.getEditedUser.driver_profile && !this.getEditedUser.driver_profile.active) {
                        return true;
                    }
                }

                return false;
            },

            updateDeactivatedUser(data) {

                let user = this.getEditedUser;

                for (const type in data.toDeactivate) {
                    if (!Common.isEmpty(data.toDeactivate[type])) {
                        switch (type) {
                            case 'driver_ids':
                                user.driver_profile.active = 0;
                                user.driver_profile.street_light_id = data.status.reduce((accumulator, status) => {
                                    return accumulator + status;
                                });
                                break;

                            // for manager and admin grab the correct profile based on manager id
                            case 'manager_ids':
                                // this is a shallow copy
                                for (let i in data.toDeactivate[type]) {
                                    let managerProfile = user.manager_profiles.find((m) => {
                                        return data.toDeactivate[type][i] == m.manager_id;
                                    });
                                    if (!Common.isEmpty(managerProfile)) {
                                        managerProfile.active = 0;
                                    }
                                }

                                break;
                            case 'administrator_ids':
                                // this is a shallow copy
                                for (let i in data.toDeactivate[type]) {
                                    let administratorProfile = user.administrator_profiles.find((a) => {
                                        return data.toDeactivate[type][i] == a.administrator_id;
                                    });
                                    if (!Common.isEmpty(administratorProfile)) {
                                        administratorProfile.active = 0;
                                    }
                                }
                                break;
                        }
                    }
                }
                // finally commit the new user to the store, and parse it
                Common.storeCommit('updateEditedUser', user).then(() => {
                    this.getEditedUserData();
                })

            },
            updateReactivatedUser(data) {

                let user = this.getEditedUser;

                for (const type in data.toReactivate) {
                    if (!Common.isEmpty(data.toReactivate[type])) {
                        switch (type) {
                            case 'driver_ids':
                                user.driver_profile.active = 1;
                                user.driver_profile.street_light_id = 1;
                                break;

                            // for manager and admin grab the correct profile based on manager id
                            case 'manager_ids':
                                // this is a shallow copy
                                for (let i in data.toReactivate[type]) {
                                    let managerProfile = user.manager_profiles.find((m) => {
                                        return data.toReactivate[type][i] == m.manager_id;
                                    });
                                    if (!Common.isEmpty(managerProfile)) {
                                        managerProfile.active = 1;
                                    }
                                }

                                break;
                            case 'administrator_ids':
                                // this is a shallow copy
                                for (let i in data.toReactivate[type]) {
                                    let administratorProfile = user.administrator_profiles.find((a) => {
                                        return data.toReactivate[type][i] == a.administrator_id;
                                    });
                                    if (!Common.isEmpty(administratorProfile)) {
                                        administratorProfile.active = 1;
                                    }
                                }
                                break;
                        }
                    }
                }
                // finally commit the new user to the store, and parse it
                Common.storeCommit('updateEditedUser', user).then(() => {
                    this.getEditedUserData();
                })
            }
        }
    };

</script>

<style lang="scss">

    #addEditUserPage {
        .fusion-accordion {
            margin-bottom: 15px;
        }

        .card {
            overflow: hidden;
        }

        .card-header {
            background: #052460;
            color: #fff;

            &:hover {
                cursor: pointer;
            }
        }

        .card-header[aria-expanded] {
            i {
                transition: all .3s;
            }
        }

        .card-header[aria-expanded=true] {
            i {
                transform: rotate(180deg);
            }
        }

        .card-body {
            background: #dadee7;
            /*background: rgba(5, 36, 96, .1);*/
        }

        #insuranceReviewStatus {
            .col-6 {
                max-width: 100% !important;

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
        .container-style {
            width: 100px;
            border-radius: 25px;
            border: solid;
            background-color: white;
            height: 125px;

        }
        .container-icon-style {
            height: 80px;

        }
        .container-icon-style i {
            font-size: 75px;
            margin-top: -10px; // Temp
        }
        .container-text-style {
            padding-top: 20px;
            height: 20px;
            font-weight: bold;
            color: black;
            font-size: 12px;
        }
        .active-profile {
            background-color: rgba(51, 255, 51, 0.3);
        }
        .inactive-profile {
            background-color: rgba(145, 9, 17, 0.3)
        }
        .unlocked-style {
            cursor: pointer;
        }
    }

</style>