<template lang="html">
    <div id="changeUserStatusModal" v-if="user_id > 0">
        <div :class="{'modal':true, 'is-active':show_modal}">
            <div class="modal-background"></div>
            <div class="modal-card" style="width: 800px;">
                <header class="modal-card-head">
                    <div class="modal-card-title mb-0">
                        <p>Change User Status</p>
                        <div style="font-size: 14px;">
                            <i class="fas fa-user"></i>
                            {{ user_name }}
                        </div>
                    </div>
                    <button class="delete" aria-label="close" @click="cancelStatuses()"></button>
                </header>

                <section class="modal-card-body">

                    <!--render the deactivation content only if loaded-->
                    <div id="modalCardContent">

                        <div class="table-responsive table-responsive-bordered mb-4">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                <tr>
                                    <th>Profile Type</th>
                                    <th>Company</th>
                                    <th>Status</th>
                                    <th>Start Day</th>
                                    <th>Stop Day</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Driver</th>
                                    <th>{{getEditedUser.company.name}}</th>
                                    <th>
                                        <button type="button" v-on:click="switchStatus('driver')"
                                                v-bind:class="this.getButtonStatus('driver')">
                                            {{this.getUserStatus('driver')}}
                                        </button>
                                    </th>
                                    <th>{{this.getCorrectDate(getEditedUser.driver_profile.start_date)}}</th>
                                    <th>
                                        <div>
                                            <vue-bootstrap-date-picker
                                                    class="form-control"
                                                    v-model="getEditedUser.driver_profile.stop_date"
                                                    :disabled="getLockAllInput"
                                                    :config="date_picker_options"
                                                    :placeholder="'Service Not Available'"/>
                                        </div>
                                        <!--<span class="help-block">{{ localForm.errors.get('start_date') }}</span>-->
                                    </th>
                                    <!--<th>{{this.getCorrectDate(getEditedUser.driver_profile.stop_date)}}</th>-->
                                </tr>
                                <tr>
                                <tr>
                                    <transition name="fade5s">
                                        <td colspan="4"
                                            v-show="toDeactivate.driver_ids.includes(getEditedUser.driver_profile.user_id)">
                                            <label>Reasons:</label>
                                            <div :class="{'box pb-1': true, 'alert alert-danger': errors.has('status')}">
                                                <div class="row">
                                                    <div class="col-sm-6 mb-2">
                                                        <input type="checkbox"
                                                               :class="{'custom-checkbox mr-2': true, '--yes':status.includes('256')}"
                                                               id="disability" value="256" v-model="status"
                                                               :disabled="!toDeactivate.driver_ids.includes(getEditedUser.driver_profile.user_id)">
                                                        <label for="disability"
                                                               v-model="status">Disability</label>
                                                    </div>

                                                    <div class="col-sm-6 mb-2">
                                                        <input type="checkbox"
                                                               :class="{'custom-checkbox mr-2': true, '--yes':status.includes('128')}"
                                                               id="on_leave" value="128" v-model="status"
                                                               :disabled="!toDeactivate.driver_ids.includes(getEditedUser.driver_profile.user_id)">
                                                        <label for="on_leave">On Leave</label>
                                                    </div>

                                                    <div class="col-sm-6 mb-2">
                                                        <input type="checkbox"
                                                               :class="{'custom-checkbox mr-2': true, '--yes':status.includes('512')}"
                                                               id="terminated" value="512" v-model="status"
                                                               :disabled="!toDeactivate.driver_ids.includes(getEditedUser.driver_profile.user_id)">
                                                        <label for="terminated">Terminated</label>
                                                    </div>

                                                    <div class="col-sm-6 mb-2">
                                                        <input type="checkbox"
                                                               :class="{'custom-checkbox mr-2': true, '--yes':status.includes('32')}"
                                                               id="no_reimbursement" value="32" v-model="status"
                                                               :disabled="!toDeactivate.driver_ids.includes(getEditedUser.driver_profile.user_id)">
                                                        <label for="no_reimbursement">No Reimbursement</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="help-block" v-if="errors.has('status')">{{ errors.get('status') }}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </transition>
                                </tr>
                                <tr v-if="getEditedUser.is_manager">
                                    <th>Manager</th>
                                    <th>{{getEditedUser.company.name}}</th>
                                    <th>
                                        <button type="button" v-on:click="switchStatus('manager')"
                                                v-bind:class="this.getButtonStatus('manager')">
                                            {{this.getUserStatus('manager')}}
                                        </button>
                                    </th>
                                    <th>
                                        {{this.getCorrectDate(getEditedUser.manager_profiles[getEditedUser.manager_profiles.length
                                        -1].start_date)}}
                                    </th>
                                    <th>

                                        {{this.getCorrectDate(getEditedUser.manager_profiles[getEditedUser.manager_profiles.length
                                        -1].stop_date)}}
                                    </th>
                                </tr>
                                <tr v-if="getEditedUser.is_administrator">
                                    <th>Administrator</th>
                                    <th>{{getEditedUser.company.name}}</th>
                                    <th>
                                        <button type="button" v-on:click="switchStatus('administrator')"
                                                v-bind:class="this.getButtonStatus('administrator')">
                                            {{this.getUserStatus('administrator')}}
                                        </button>
                                    </th>
                                    <th>{{this.getCorrectDate(getEditedUser.administrator_profiles.start_date)}}
                                    </th>
                                    <th>{{this.getCorrectDate(getEditedUser.administrator_profiles.stop_date)}}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div><!--responsive-table-->
                    </div>
                    <!--if the data is not loaded, render a loading button instead of the modalCardContent div-->
                </section>
                <div class="modal-footer" style="background-color: white;">
                    <button class="btn btn-primary"
                            v-on:click="updateStatuses()">
                        Save & Close
                    </button>
                    <button class="btn btn-secondary"
                            @click="cancelStatuses()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {Errors} from "../../utilities";
    import {LoadingPartial} from "../partials";
    import {mapGetters} from 'vuex';
    import {AddEditUserPage} from './index';

    export default {

        props: ['external_button_click'],

        components: {LoadingPartial, AddEditUserPage},

        data() {
            return {
                user_id: null,
                general_user_info: null,
                user_name: null,
                show_modal: false,
                loaded: false,
                deactivate_disabled: true,
                status: [],
                errors: new Errors,
                driverStatus: null,
                adminStatus: null,
                managerStatus: null,
                profiles: null,
                deactivating: false,
                toDeactivate: {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                },
                // Contains all necessary ID's for the controller to update the desired users
                toReactivate: {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                },
                // Contains all necessary ID's for the controller to update the desired users
                reactivating: false,
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    icons: {
                        date: "fas fa-calendar",
                    },
                },
            };
        },

        created() {

        },

        mounted() {

            EventBus.$on('openChangeUserStatusModal', user_info => {
                this.user_id = user_info.id;
                this.general_user_info = user_info;
                this.setStatuses();
                this.user_name = " " + this.general_user_info.first_name + " " + this.general_user_info.last_name;
                this.show_modal = true;
            });

        },

        beforeDestroy() {
            // unregister event listeners
            EventBus.$off('openChangeUserStatusModal');
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getUserFullName', // for displaying in modal
                'getEditedUser', // for displaying in modal
                'getLockAllInput'
            ]),
        },

        watch: {
            show_modal: {
                handler: function (val) {
                },
                immediate: true,
            },

            // if we are deleting a driver profile, status must be given
            status: function (val) {
                if (val.length < 1 && this.toDeactivate.driver_ids.length) {
                    this.errors.add('status', ['A status is required']);
                } else {
                    this.errors.clear('status');
                }
            },

            // if we are not deleting a driver profile, clear any associated status errors
            'toDeactivate.driver_ids': {
                handler: function (arr) {
                    if (arr.length == 0) {
                        this.errors.clear('status');
                    }
                },
                deep: true,
            }


        },

        methods: {

            // Stores activation status so that we can revert to default values if user changes their mind.
            setStatuses() {
                if (this.general_user_info.is_driver) {
                    this.driverStatus = this.general_user_info.driver_profile.active;
                }
                if (this.general_user_info.is_manager) {
                    this.managerStatus = this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active;
                }
                if (this.general_user_info.is_administrator) {
                    this.adminStatus = this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active;
                }
            },

            // Clear all the fields if the exit or cancel button is made. This will reset everything or reset to origional values if warrented.
            cancelStatuses() {
                if (this.general_user_info.is_driver) {
                    this.driverStatus = this.general_user_info.driver_profile.active;
                }
                if (this.general_user_info.is_manager) {
                    this.managerStatus = this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active;
                }
                if (this.general_user_info.is_administrator) {
                    this.adminStatus = this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active;
                }
                this.status = []; // reset
                this.toDeactivate = {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                };
                this.toReactivate = {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                };
                this.show_modal = false; // hide modal
            },
            // update toDeactivate array to place in user
            updateToDeactivate(type, id) {
                if (this.toDeactivate[type].includes(id)) {
                    this.toDeactivate[type].splice(this.toDeactivate[type].indexOf(id), 1);
                } else {
                    this.toDeactivate[type].push(id);
                }
            },
            // update toReactivate array to place in user
            updateToReactivate(type, id) {
                // this.select_all = false;
                if (this.toReactivate[type].includes(id)) {
                    this.toReactivate[type].splice(this.toReactivate[type].indexOf(id), 1);
                } else {
                    this.toReactivate[type].push(id);
                }
            },
            // When user clicks Save & Close
            updateStatuses() {
                // If driver profile exists
                if (this.general_user_info.is_driver) {
                    // Check data has been updated
                    if (this.general_user_info.driver_profile.active != this.driverStatus) {
                        // Profile changed form activate to deactivate
                        if (this.driverStatus == false) {
                            // Check box needs to be set before user can be updated
                            if (this.errors.has('status')) {
                                return;
                            }
                        }
                    }
                    this.general_user_info.driver_profile.active = this.driverStatus; //sets the new status of the driver profile
                }
                // If manager profile exists
                if (this.general_user_info.is_manager) {
                    this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active = this.managerStatus;
                }
                // If admin profile exists
                if (this.general_user_info.is_administrator) {
                    this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active = this.adminStatus;
                }
                this.reactivateUser();
                this.deactivateUser();
                this.show_modal = false; // hide modal

            },
            // Note* updateToDeactivate or updateToReactivate must accept only the following ID's  (user_id, manager_id or administrator_id) to work correctly
            switchStatus(profileType) {
                switch (profileType) {
                    case 'driver':
                        this.driverStatus = (this.driverStatus + 1) % 2; // change from true to false or false to true

                        // If user is deactivated & if user was not origionally deactivated when user opened the modal.
                        if (this.driverStatus == false && this.driverStatus != this.general_user_info.driver_profile.active) {
                            this.errors.add('status', ['A status is required']);
                            this.updateToDeactivate('driver_ids', this.general_user_info.driver_profile.user_id);
                        }

                        // If user is deactivated & if user was origionally deactivated when user opened the modal.
                        else if (this.driverStatus == false && this.driverStatus == this.general_user_info.driver_profile.active) {
                            this.toDeactivate.driver_ids = [];
                            this.toReactivate.driver_ids = [];
                            this.status = []; // reset
                        }

                        // If user is activated & if user was not origionally activated when user opened the modal.
                        else if (this.driverStatus == true && this.driverStatus != this.general_user_info.driver_profile.active) {
                            this.updateToReactivate('driver_ids', this.general_user_info.driver_profile.user_id);
                        }

                        // If user is activated & if user was origionally activated when user opened the modal.
                        else if (this.driverStatus == true && this.driverStatus == this.general_user_info.driver_profile.active) {

                            // Remove any origionally activated or deactivated profile ids placed
                            this.toReactivate.driver_ids = [];
                            this.toDeactivate.driver_ids = [];

                            // Reset the status sicne the error for the deactivate check boxes are no longer needed
                            this.status = []; // reset
                        }
                        break;
                    case 'manager':
                        this.managerStatus = (this.managerStatus + 1) % 2; // change from true to false or false to true

                        // If user is deactivated & if user was not origionally deactivated when user opened the modal.
                        if (this.managerStatus == false && this.managerStatus != this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active) {
                            this.updateToDeactivate('manager_ids', this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].manager_id);
                        }
                        // If user is deactivated & if user was origionally deactivated when user opened the modal.
                        else if (this.managerStatus == false && this.managerStatus == this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active) {

                            // Remove any origionally activated or deactivated profile ids placed
                            this.toDeactivate.manager_ids = [];
                            this.toReactivate.manager_ids = [];
                        }

                        // If user is activated & if user was not origionally activated when user opened the modal.
                        else if (this.managerStatus == true && this.managerStatus != this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active) {
                            this.updateToReactivate('manager_ids', this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].manager_id);
                        }

                        // If user is activated & if user was origionaly activated when user opened the modal.
                        else if (this.managerStatus == true && this.managerStatus == this.general_user_info.manager_profiles[this.general_user_info.manager_profiles.length - 1].active) {

                            // Remove any origionally activated or deactivated profile ids placed
                            this.toReactivate.manager_ids = [];
                            this.toDeactivate.manager_ids = [];
                        }
                        break;
                    case 'administrator':
                        this.adminStatus = (this.adminStatus + 1) % 2; // change from true to false or false to true

                        // If user is deactivated & if user was not origionally deactivated when user opened the modal.
                        if (this.adminStatus == false && this.adminStatus != this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active) {
                            this.updateToDeactivate('administrator_ids', this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].administrator_id);
                        }

                        // If user is deactivated & if user was origionally deactivated when user opened the modal.
                        else if (this.adminStatus == false && this.adminStatus == this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active) {

                            // Remove any origionally activated or deactivated profile ids placed
                            this.toDeactivate.administrator_ids = [];
                            this.toReactivate.administrator_ids = [];
                        }

                        // If user is activated & if user was not origionally activated when user opened the modal.
                        else if (this.adminStatus == true && this.adminStatus != this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active) {
                            this.updateToReactivate('administrator_ids', this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].administrator_id);
                        }

                        // If user is activated & if user was origionaly activated when user opened the modal.
                        else if (this.adminStatus == true && this.adminStatus == this.general_user_info.administrator_profiles[this.general_user_info.administrator_profiles.length - 1].active) {

                            // Remove any origionally activated or deactivated profile ids placed
                            this.toReactivate.administrator_ids = [];
                            this.toDeactivate.administrator_ids = [];
                        }
                        break;
                    default:
                        break;
                }
            },
            getButtonStatus(profileType) {
                switch (profileType) {
                    case 'driver':
                        if (this.driverStatus == 0) {
                            return "btnModal btn btn-danger";
                        } else {
                            return "btnModal btn btn-success";
                        }
                    case 'manager':
                        if (this.managerStatus == 0) {
                            return "btnModal btn btn-danger";
                        } else {
                            return "btnModal btn btn-success";
                        }
                    case 'administrator':
                        if (this.adminStatus == 0) {
                            return "btnModal btn btn-danger";
                        } else {
                            return "btnModal btn btn-success";
                        }
                    default:
                        return date;
                }
            },
            getCorrectDate(date) {
                switch (date) {
                    case null:
                        return "N/A";
                    default:
                        return date;
                }
            },
            getUserStatus(status) {
                switch (status) {
                    case 'driver':
                        if (this.driverStatus == 0) {
                            return "Inactive";
                        } else {
                            return "Active";
                        }
                    case 'manager':
                        if (this.managerStatus == 0) {
                            return "Inactive";
                        } else {
                            return "Active";
                        }
                    case 'administrator':
                        if (this.adminStatus == 0) {
                            return "Inactive";
                        } else {
                            return "Active";
                        }
                    default:
                        return null;
                }
            },
            deactivateUser() {
                if (this.toDeactivate.driver_ids.length && this.status.length < 1) {
                    this.errors.add('status', ['A status is required']);
                    this.$forceUpdate();
                    return;
                }
                this.deactivating = true;
                let data = {
                    user_id: this.getEditedUser.id,
                    toDeactivate: this.toDeactivate,
                    status: this.status,
                };
                axios.post('/deactivateUser', data).then(response => {
                    // this is for the edit user page and the show user page, tells them to update their user
                    EventBus.$emit('user-deactivated', data);
                    // close modal
                    this.show_modal = false;
                    this.deactivating = false;
                });
            },
            reactivateUser() {
                this.reactivating = true;
                let data = {
                    user_id: this.user_id,
                    toReactivate: this.toReactivate,
                };
                axios.post('/reactivateUser', data).then(response => {
                    EventBus.$emit('user-reactivated', data);
                    // close modal
                    this.show_modal = false;
                    this.reactivating = false;
                });
            },
        }
    };
</script>
<style lang="css">
    #deactivateUserModal .modal-card-head {
        text-align: left;
    }
</style>