/**
Requires:

Optional:
impersonateProp - if this is supplied, great no need to hit the server.
else, whatever, we go get it no big deal.
- impersonateProp will be an id or null

Getters:

Setters:

Listeners:

Emitters:

Notes:
This is a completely isolated partial.

To use it, drop the component where you want the Change Password button to appear. Clicking the button
will open a modal allowing the user to edit their password.

You do not need to worry about the user type, who will view it, nothing. Simply
drop the component onto the parent page and expect to see a button if you are
the user, and nothing if you are impersonating the user.

*/
<template lang="html">
    <div id="changePassword" style="display: inline-block;">

        <div v-if="getImpersonatorId < 0">

            <button class="btn fa fa-edit" @click="show_modal = !show_modal"></button>

            <!--<button class="btn btn-secondary" style="width: 80%;"
                    @click="show_modal = !show_modal">
                Change Password
            </button>-->


            <div :class="{'modal':true, 'is-active':show_modal}">

                <div class="modal-background"></div>

                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Change Password</p>
                        <button class="delete" aria-label="close" @click="show_modal = false"></button>
                    </header>

                    <section class="modal-card-body">

                        <div class="columns">

                            <!-- PASSWORD INPUTS -->
                            <div class="column is-6" style="margin: auto">

                                <!-- OLD PASSWORD -->

                                <div :class="{'form-group':true, 'has-error': passwordErrors.has('old_password')}">
                                    <label>Current Password: </label>
                                    <input v-model="pw.old_password"
                                           type="password"
                                           class="form-control"></input>
                                    <span class="help-block"
                                          v-if="passwordErrors.has('old_password')">{{ passwordErrors.get('old_password') }}</span>
                                </div>

                                <!-- NEW PASSWORD -->
                                <div :class="{'form-group':true, 'has-error': passwordErrors.has('new_password')}">
                                    <label>New Password: </label>
                                    <input v-model="pw.new_password"
                                           type="password"
                                           class="form-control"></input>
                                    <span class="help-block"
                                          v-if="passwordErrors.has('new_password')">{{ passwordErrors.get('new_password') }}</span>
                                </div>

                                <!-- CONFIRM NEW PASSWORD -->
                                <div :class="{'form-group':true, 'has-error': passwordErrors.has('new_password_confirmation')}">
                                    <label>Confirm New Password: </label>
                                    <input v-model="pw.new_password_confirmation"
                                           type="password"
                                           class="form-control"></input>
                                    <span class="help-block"
                                          v-if="passwordErrors.has('new_password_confirmation')">{{ passwordErrors.get('new_password_confirmation') }}</span>
                                </div>

                            </div>

                            <!-- CRITERIA CHECKBOX -->
                            <div class="column is-6" style="margin: auto;">

                                <div :class="{'alert alert-success':true, 'alert alert-info': passwordErrors.any()}">
                                    <table>
                                        <tr>
                                            <td colspan="2"><strong>Password Checklist</strong></td>
                                        </tr>
                                        <tr>
                                            <td><span v-if="!passwordErrors.has('passwords_mismatch')"
                                                      class="fa fa-check"
                                                      style="color:green"></span>
                                                <span v-else
                                                      class="fa fa-times"
                                                      style="color:red"></span>
                                            </td>
                                            <td><p class="small">Passwords Match</p></td>
                                        </tr>
                                        <tr>
                                            <td><span v-if="!passwordErrors.has('password_length')"
                                                      class="fa fa-check"
                                                      style="color:green"></span>
                                                <span v-else
                                                      class="fa fa-times"
                                                      style="color:red"></span>
                                            </td>
                                            <td><p class="small">At least 6 characters</p></td>
                                        </tr>
                                        <tr>
                                            <td><span v-if="!passwordErrors.has('password_number_or_symbol')"
                                                      class="fa fa-check"
                                                      style="color:green"></span>
                                                <span v-else
                                                      class="fa fa-times"
                                                      style="color:red"></span>
                                            </td>
                                            <td><p class="small">At least one number or symbol ( $@!%*#?& )</p></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                            <!-- WE SHOULD NEVER HIT THIS BLOCK, ONLY IF INVALID USER -->
                            <div v-if="passwordErrors.has('invalid_user')" class="alert alert-danger">
                                <span class="help-block">{{ passwordErrors.get('invalid_user') }}</span>
                            </div>

                        </div>


                    </section>

                    <footer class="modal-card-foot">
                        <button class="btn btn-success"
                                @click="updatePassword"
                                :disabled="passwordErrors.any() > 0">Update Password
                        </button>
                        <button class="btn" @click="show_modal = false">Cancel</button>
                    </footer>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';

    export default {

        props: ['impersonateProp'],

        components: {},

        data() {
            return {
                impersonating: false, // TODO implement with store
                show_modal: false,
                passwordErrors: new Errors,

                pw: {
                    old_password: '',
                    new_password: '',
                    new_password_confirmation: '',
                }
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getImpersonatorId'
            ])
        },

        watch: {

            // Determine whether to show the component (button) based on whether user is being impersonated
            impersonateProp: {
                handler: function (val) {
                    // console.log('here');
                    if (val == null) {
                        Common.getSession('impersonate').then(data => {
                            this.impersonating = data > 0 ? true : false;
                        });
                    } else {
                        this.impersonating = val > 0 ? true : false;
                    }
                },
                immediate: true,
            },

            //create an errors object iff. user is not being impersonated
//        impersonating: {
//            handler: function (val) {
//                this.passwordErrors = val == false ? new Errors : null;
//            },
//            immediate: true,
//        },

            // validation

            // clear the error that the old password was incorrect, when they start entering the old password
            'pw.old_password': {
                handler: function () {
                    this.passwordErrors.clear('old_password');
                }
            },

            'pw.new_password': {
                handler: function () {
                    // matching
                    if (this.pw.new_password !== this.pw.new_password_confirmation) {
                        this.passwordErrors.add('passwords_mismatch', 'The passwords do not match');
                    } else {
                        this.passwordErrors.clear('passwords_mismatch');
                    }

                    //length, symbol or number
                    if (this.pw.new_password.search(/^((?=.*\d)|(?=.*[$@$!%*#?&]))[a-zA-Z0-9$@$!%*#?&]*$/) == -1) {
                        this.passwordErrors.add('password_number_or_symbol', 'You must include at least one number or symbol ( $@$!%*#?& ) ');
                    } else {
                        this.passwordErrors.clear('password_number_or_symbol');
                    }

                    if (this.pw.new_password.length < 6) {
                        this.passwordErrors.add('password_length', 'The password must be at least 6 characters');
                    } else {
                        this.passwordErrors.clear('password_length');
                    }
                },
                deep: true,
                immediate: true,
            },

            'pw.new_password_confirmation': {
                handler: function () {
                    // matching
                    if (this.pw.new_password !== this.pw.new_password_confirmation) {
                        this.passwordErrors.add('passwords_mismatch', 'The passwords do not match');
                    } else {
                        this.passwordErrors.clear('passwords_mismatch');
                    }
                },
                deep: true,
                immediate: true,
            }
        },

        methods: {
            updatePassword() {
                axios.post('/updatePassword', this.pw).then(response => {
                        this.show_modal = false;
                        alert('Password successfully updated');
                    },
                    errors => {
                        this.passwordErrors.errors = errors.response.data;
                    });
            }
        }
    };
</script>

<style lang="css">

</style>