/**
Requires:
user_id
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
To use this partial, drop the component where you want the Deactivate User button to appear, and
pass in the user_id. Clicking the button displayed on the parent page
will open a modal allowing the super user to proceed with deactivation.

There is a watch on show_modal to determine when to fetch data from the database
If the user_id is not null, and show_modal = true, data will be retrieved from the database by an axios call

*/
<template lang="html">

    <div id="deactivateUserModal">
        <!--Removed as button needs to reside outside of modal in order to pass in the user_id
            especially in the for loop on the ShowUserPage - davery-->
        <!--<button v-if="!external_button_click" class="btn btn-danger btn-sm deactivate-user" @click="show_modal = !show_modal">
            <i class="fal fa-times"></i>
        </button>-->

        <div :class="{'modal':true, 'is-active':show_modal}">

            <div class="modal-background"></div>

            <div class="modal-card">
                <header class="modal-card-head">
                    <div class="modal-card-title mb-0">
                        <p>Deactivate User</p>
                        <div style="font-size: 14px;">
                            <i class="fas fa-user"></i>
                            {{ user_name }}
                        </div>
                    </div>
                    <button class="delete" aria-label="close" @click="closeModalAndResetVariables()"></button>
                </header>

                <section class="modal-card-body">

                    <!--render the deactivation content only if loaded-->
                    <div v-if="loaded" id="modalCardContent">
                        <!-- DEACTIVATE ALL -->
                        <small>*Only active profiles are shown</small>

                        <div class="table-responsive table-responsive-bordered mb-4">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Profile Type</th>
                                        <th>Company</th>
                                        <th style="width: 17%;" class="text-center">
                                            <label class="switch float-right" @click="select_all = !select_all">
                                                <!--<span class="float-right">Select All</span>-->
                                            </label>
                                            <input type="checkbox"
                                                   :class="{'custom-checkbox': true, '--yes':select_all}"
                                                   v-model="select_all">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="profiles && profiles.driver">
                                        <td><strong>Driver</strong></td>
                                        <td>{{ profiles.driver.company_name }}</td>
                                        <td class="text-center">
                                            <label class="switch">
                                                <input type="checkbox"
                                                       :value="profiles.driver.id"
                                                       :class="{'custom-checkbox': true, '--yes':toDeactivate.driver_ids.includes(profiles.driver.id)}"
                                                       @change="event => { updateToDeactivate('driver_ids', event.target.value ) }">
                                            </label>
                                        </td>
                                    </tr>

                                    <tr v-if="profiles && profiles.driver">
                                        <transition name="fade5s">
                                            <td colspan="4" v-show="toDeactivate.driver_ids.includes(profiles.driver.id)">
                                                <label>Reasons:</label>
                                                <div :class="{'box pb-1': true, 'alert alert-danger': errors.has('status')}">
                                                    <div class="row">
                                                        <div class="col-sm-6 mb-2">
                                                            <input type="checkbox"
                                                                   :class="{'custom-checkbox mr-2': true, '--yes':status.includes('256')}"
                                                                   id="disability" value="256" v-model="status" :disabled="!toDeactivate.driver_ids.includes(profiles.driver.id)">
                                                            <label for="disability"
                                                                   v-model="status">Disability</label>
                                                        </div>

                                                        <div class="col-sm-6 mb-2">
                                                            <input type="checkbox"
                                                                   :class="{'custom-checkbox mr-2': true, '--yes':status.includes('128')}"
                                                                   id="on_leave" value="128" v-model="status" :disabled="!toDeactivate.driver_ids.includes(profiles.driver.id)">
                                                            <label for="on_leave">On Leave</label>
                                                        </div>

                                                        <div class="col-sm-6 mb-2">
                                                            <input type="checkbox"
                                                                   :class="{'custom-checkbox mr-2': true, '--yes':status.includes('512')}"
                                                                   id="terminated" value="512" v-model="status" :disabled="!toDeactivate.driver_ids.includes(profiles.driver.id)">
                                                            <label for="terminated">Terminated</label>
                                                        </div>

                                                        <div class="col-sm-6 mb-2">
                                                            <input type="checkbox"
                                                                   :class="{'custom-checkbox mr-2': true, '--yes':status.includes('32')}"
                                                                   id="no_reimbursement" value="32" v-model="status" :disabled="!toDeactivate.driver_ids.includes(profiles.driver.id)">
                                                            <label for="no_reimbursement">No Reimbursement</label>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="help-block" v-if="errors.has('status')">{{ errors.get('status') }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </transition>
                                    </tr>

                                    <tr v-if="profiles && profiles.managers.length">
                                        <template v-for="manager in profiles.managers">
                                            <td>
                                                <strong>Manager</strong>
                                            </td>
                                            <td>
                                                {{ manager.company_name }}
                                            </td>
                                            <td class="text-center">
                                                <label class="switch">
                                                    <input type="checkbox"
                                                           :value="manager.id"
                                                           :class="{'custom-checkbox': true, '--yes':toDeactivate.manager_ids.includes(manager.id)}"
                                                           :checked="toDeactivate.manager_ids.includes(manager.id)"
                                                           @change="event => { updateToDeactivate('manager_ids', event.target.value ) }">
                                                </label>
                                            </td>
                                        </template>
                                    </tr>

                                    <tr v-if="profiles && profiles.administrators.length">
                                        <template v-for="administrator in profiles.administrators">
                                            <td><strong>Administrator</strong></td>
                                            <td>{{ administrator.company_name }}</td>
                                            <td class="text-center">
                                                <label class="switch">
                                                    <input type="checkbox"
                                                           :value="administrator.id"
                                                           :class="{'custom-checkbox': true, '--yes':toDeactivate.administrator_ids.includes(administrator.id)}"
                                                           :checked="toDeactivate.administrator_ids.includes(administrator.id)"
                                                           @change="event => { updateToDeactivate('administrator_ids', event.target.value ) }">
                                                </label>
                                            </td>
                                        </template>
                                    </tr>

                                    <tr v-if="profiles && profiles.super">
                                        <td><strong>Super</strong></td>
                                        <td>{{ profiles.super.company_name }}</td>
                                        <td class="text-center">
                                            <label class="switch">
                                                <input type="checkbox"
                                                       :value="profiles.super.id"
                                                       :class="{'custom-checkbox': true, '--yes':toDeactivate.super_ids.includes(profiles.super.id)}"
                                                       :checked="toDeactivate.super_ids.includes(profiles.super.id)"
                                                       @change="event => { updateToDeactivate('super_ids', event.target.value ) }">
                                            </label>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div><!--responsive-table-->
                    </div>
                    <!--if the data is not loaded, render a loading button instead of the modalCardContent div-->
                    <loading-partial v-show="!loaded"/>


                </section>

                <footer class="modal-card-foot">
                    <button class="btn btn-success"
                            @click="deactivateUser"
                            :disabled="errors.any() || none_selected || deactivating">Deactivate
                    </button>
                    <button class="btn"
                            @click="closeModalAndResetVariables()"
                            style="margin-left: 1rem;">Cancel</button>
                </footer>

            </div>
        </div>


    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {Errors} from "../../utilities";
    import {LoadingPartial} from "../partials";
    import {mapGetters} from 'vuex';

    export default {

        props: ['external_button_click'],
        // 'user_id', // removed as it should be passed in on btn click - davery

        components: {LoadingPartial},

        data() {
            return {
                user_id: null,
                user_name: null,
                show_modal: false,
                loaded: false,
                deactivate_disabled: true,
                select_all: false,
                status: [],
                errors: new Errors,

                toDeactivate: {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                },

                profiles: null,

                deactivating: false,
            };
        },

        created() {

        },

        mounted() {
            console.log('profiles: ',this.profiles); // davery
            // console.log('DeactivateUserModal: ',this.user_id); // davery
            /*axios.get('/getUser/' + this.user_id).then(response => {
                console.log('response: ',response.data);
            });*/

            // davery
            EventBus.$on('openDeactivateUserModal', user_id => {
                this.user_id = user_id; // set user_id right away for use
                this.show_modal = true;
                // this.user_id = user_id;

                // AJAX call for user_id
                axios.get('/getUser/' + user_id).then(response => {
                    // console.log('response: ',response.data);
                    this.user_name = response.data.user.first_name + ' ' + response.data.user.last_name;
                });
            });
            // davery
        },

        beforeDestroy() {
            // unregister event listeners
            EventBus.$off('openDeactivateUserModal');
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getUserFullName', // for displaying in modal
            ]),

            manager_label: function () {
                return this.profiles.managers.length > 1 ? "Managers" : "Manager";
            },

            administrator_label: function () {
                return this.profiles.administrators.length > 1 ? "Administrators" : "Administrator";
            },

            none_selected: function() {
                return (
                    Common.isEmpty(this.toDeactivate.driver_ids)
                    && Common.isEmpty(this.toDeactivate.manager_ids)
                    && Common.isEmpty(this.toDeactivate.administrator_ids)
                    && Common.isEmpty(this.toDeactivate.super_ids)
                )
            }

        },

        watch: {
            show_modal: {
                handler: function (val) {
                    if (val && !Common.isEmpty(this.user_id)) {
                        this.getUserDataForDeactivation(this.user_id);
                    }
                },
                immediate: true,
            },

            select_all: function (val) {
                if (val == true) {
                    this.selectAll();
                } else {
                    this.toDeactivate = {
                        driver_ids: [],
                        manager_ids: [],
                        administrator_ids: [],
                        super_ids: [],
                    };
                }
            },

            // validation

            // if we are deleting a driver profile, status must be given
            status: function (val) {
                if (val.length < 1 && this.toDeactivate.driver_ids.length) {
                    this.errors.add('status', ['A status is required']);
                } else {
                    this.errors.clear('status');
                }
            },

            // if we are not deleting a driver profile, clear any associated status errors
            'toDeactivate.driver_ids': {
                handler: function (arr) {
                    if (arr.length == 0) {
                        this.errors.clear('status');
                    }
                },
                deep: true,
            }


        },

        methods: {
            closeModalAndResetVariables() {
                this.show_modal = false; // hide modal
                this.select_all = false; // reset
                this.status = []; // reset
                this.user_name = null; // reset
                // reset to empty to clear errors
                this.toDeactivate = {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                };
                this.profiles = null; // reset
            },

            getUserDataForDeactivation() {/*user_id*/
                // stub out
                console.log('getUserDataForDeactivation user_id: ',this.user_id); // davery
                axios.get('getUserDataForDeactivation/' + this.user_id).then(response => {
                    this.profiles = response.data;
                    this.loaded = true;
                });

            },


            deactivateUser() {
                if (this.toDeactivate.driver_ids.length && this.status.length < 1) {
                    this.errors.add('status', ['A status is required']);
                    console.log('adding to status');
                    this.$forceUpdate();
                    return;
                }

                this.deactivating = true;

                let r = confirm('Are you sure you want to deactivate?');

                if (r == true) {

                    let data = {
                        user_id: this.user_id,
                        toDeactivate: this.toDeactivate,
                        status: this.status,
                    };
                    // console.log('confirmed');

                    axios.post('/deactivateUser', data).then(response => {

                        // this is for the edit user page and the show user page, tells them to update their user
                        EventBus.$emit('user-deactivated', data);


                        // close modal
                        this.show_modal = false;
                        this.deactivating = false;
                    });


                } else {
                    this.deactivating = false;
                }

            },

            selectAll() {
                console.log('selectAll'); // davery
                if (this.profiles.driver != null) {
                    if (!this.toDeactivate.driver_ids.includes(this.profiles.driver.id)) {
                        this.toDeactivate.driver_ids.push(this.profiles.driver.id);
                    }
                }


                if (this.profiles.managers.length) {
                    // console.log('managers');
                    for (let i = 0; i < this.profiles.managers.length; i++) {
                        if (!this.toDeactivate.manager_ids.includes(this.profiles.managers[i].id)) {
                            this.toDeactivate.manager_ids.push(this.profiles.managers[i].id);
                        }
                    }
                }

                if (this.profiles.administrators.length) {
                    // console.log('here');
                    for (let i = 0; i < this.profiles.administrators.length; i++) {
                        if (!this.toDeactivate.administrator_ids.includes(this.profiles.administrators[i].id)) {
                            this.toDeactivate.administrator_ids.push(this.profiles.administrators[i].id);
                        }
                    }
                }

                if (this.profiles.super != null) {
                    if (!this.toDeactivate.super_ids.includes(this.profiles.super.id)) {
                        this.toDeactivate.super_ids.push(this.profiles.super.id);
                    }
                }
            },

            updateToDeactivate(type, id) {
                this.select_all = false;
                id = Number(id);
                if (this.toDeactivate[type].includes(id)) {
                    this.toDeactivate[type].splice(this.toDeactivate[type].indexOf(id), 1);
                } else {
                    this.toDeactivate[type].push(id);
                }
                // console.log(this.toDeactivate);
            }

        }
    };
</script>

<style lang="css">
    #deactivateUserModal .modal-card-head {
        text-align: left;
    }
</style>