<template lang='html'>

    <div id="linkToDriverView">

        <h2>Link To User</h2>

        <div class="columns">
            <div class="column is-half form-group">
                <company-select/>
            </div>
            <div class="column form-group">
                <user-type-select v-if="session_user_type_id" v-model="session_user_type_id"/>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half form-group">
                <division-select/>
            </div>
        </div>

        <driver-select v-if="session_user_type_id == 1"/>

        <manager-select v-if="session_user_type_id == 2"/>

        <administrator-select v-if="session_user_type_id == 3"/>

        <div v-if="user">
            Impersonate {{user.first_name + ' ' + user.last_name }}?
            <a :href="'/users/' + user.id + '/impersonate'" class="btn btn-secondary">Yes</a>
        </div>

    </div>

</template>

<script>
    import {
        AdministratorSelect,
        CompanySelect,
        DivisionSelect,
        DriverSelect,
        ManagerSelect,
        UserTypeSelect
    } from "../partials";
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';

    export default {

        components: {AdministratorSelect, CompanySelect, DivisionSelect, DriverSelect, ManagerSelect, UserTypeSelect},

        data() {
            return {
                session_user_type_id: null,
                user: null,
                selected_driver_id: -1,
                selected_manager_id: -1,
                selected_administrator_id: -1
            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('company-changed', () => {
                // anything?
            });

            EventBus.$on('division-changed', () => {
                // anything?
            });

            EventBus.$on('driver-changed', () => {
                this.selected_driver_id = this.getSessionDriverId;
            });

            EventBus.$on('manager-changed', () => {
                this.selected_manager_id = this.getSessionManagerId;
            });

            EventBus.$on('administrator-changed', () => {
                this.selected_administrator_id = this.getSessionAdministratorId;
            });

            Common.getSession('session_user_type_id').then(data => {
                this.session_user_type_id = data;
            });
        },

        computed: {
            ...mapGetters([
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId'
            ])
        },

        watch: {

            selected_driver_id: function (val) {
                //this.driverChanged(val);
                this.userChanged(val);
            },

            selected_manager_id: function (val) {
                this.userChanged(val);
            },

            selected_administrator_id: function (val) {
                this.userChanged(val);
            }
        },

        methods: {
            driverChanged() {
                axios.get('/getDriver/' + driver_id).then(response => {
                    this.driver = response.data.driver;
                });
            },

            updateUserType() {

            },

            userChanged(user_id) {
                Common.getMe(0, user_id, this.session_user_type_id).then(data => {
                    this.user = data.user;
                });
            }
        }

    };
</script>

<style lang='css'>

</style>