<template lang='html'>

    <div id="linkToDriverView">

        <h2>Link To Driver</h2>

        <driver-select :session_manager_id="getActiveManagerId"
                       :caller_id="caller_id"/>

        <div v-if="driver">
            Link to {{driver.first_name + ' ' + driver.last_name }}?
            <button class="btn btn-secondary" @click="impersonate()">Yes</button>
        </div>

    </div>


</template>

<script>
    import {DriverSelect} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['manager_id'],

        components: {DriverSelect},

        data() {
            return {
                caller_id: 'LinkToDriver',
                my_manager_id: this.manager_id,
                driver: null
            };
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getActiveRole',
                'getImpersonatorId',
                'getImpersonatorRole',
                'getImpersonatorUsername',
                'getImpersonatorPage',
                'getView',
                'getActiveManagerId',
                'getSessionDriverId'
            ])
        },

        created() {
            EventBus.$on('company-changed', () => {

            });

            EventBus.$on('driver-changed', this.driverChanged);
        },

        methods: {
            driverChanged() {
             // console.log('gettingdriver ' + this.getSessionDriverId);
                axios.get('/getDriver/' + this.getSessionDriverId).then(response => {
                    this.driver = response.data.driver;
                });
            },

            impersonate() {
                let self = this;
                Common.storeCommit('updateSessionUserId', this.driver.id).then( () => {
                    Common.storeCommit('updateSessionRole', 'driver').then( () => {
                        axios.post('/linkToUser', {
                            current_user_id: self.getUserId,
                            target_user_id: self.driver.id,
                            current_active_role: self.getActiveRole,
                            current_page: self.getView,
                            target_active_role: 'driver'
                        }).then(response => {
                            window.location = '/';
                        });
                    })
                })

            }
        }

    };
</script>

<style lang='css'>

</style>