<template lang='html'>

    <div id="loginHistory">

        <h2>Login History</h2>

        <div v-if="passes_required_selections | !from_date || !to_date">
            <div class="alert alert-warning" role="alert">
                {{ passes_required_selections ? 'Please select a company.' : !from_date ? 'Please select a From Date.' : 'Please select a To Date.' }}
            </div>
        </div>

        <!--<div class="row">
            <div class="col-lg-2 col-sm-12">
                <label class="label">From Date:</label>
                <vue-bootstrap-date-picker v-model="from_date" :config="date_picker_options"/>
            </div>
            <div class="col-lg-2 col-sm-12">
                <label class="label">To Date:</label>
                <vue-bootstrap-date-picker v-model="to_date" :config="date_picker_options"/>
            </div>
            <div class="col-lg-2 col-sm-12" valign="bottom">
                <button class="btn btn-secondary" @click="getLoginHistoryData">Generate Report</button>
            </div>
        </div>-->

        <br/>

        <div v-if="rows != null">
            <button class="btn btn-primary float-right mb-3"
                    @click="generateExcel()"
                    :disabled=" !rows || rows.length < 1 || generating_excel ">
                Generate Excel
            </button>

            <div class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                <thead>
                <tr class="table-header-title">
                    <!--<th :colspan="collspan">-->
                    <th class="p-4" :colspan="colspan" >
                        <div align="center">Login History</div>
                    </th>
                </tr>
                <tr>
                    <th>Date Time</th>
                    <th v-if="getSessionCompanyId == -1">Company</th>
                    <th>Division</th>
                    <th>Driver Name</th>
                    <th>Login Type</th>
                    <th>Accces</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="row in rows">
                    <td>{{ row.date_time }}</td>
                    <td v-if="getSessionCompanyId == -1">{{ row.company}}</td>
                    <td>{{ row.division}}</td>
                    <td>{{ row.last_name}} {{row.first_name}}</td>
                    <td>{{ row.login_type}}</td>
                    <td>{{ row.access}}</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div><!--if rows-->

        <loading-partial v-show="generating_excel"></loading-partial>


    </div>

</template>

<script>
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import LoadingPartial from "../partials/LoadingPartial";



    export default {

        components: {LoadingPartial, VueBootstrapDatePicker},

        data() {
            return {
                from_date: null,
                to_date: null,
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                },
                colspan:6,
                rows: null,
                generating_excel: false
            };
        },

        created() {
        },

        mounted() {
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var firstDay = new Date(y, m, 1);
            // this.from_date = moment(firstDay).format("YYYY-MM-DD");

            EventBus.$on('company-changed', () => {
                this.colspan = ( this.getSessionCompanyId > 0 ) ? 5 : 6
            });
            EventBus.$on('user-select-user-changed', (user_id) => {
                // console.log('user_id: ',user_id)
                Common.storeCommit('updateSessionDriverId', user_id);
                this.getLoginHistoryData();
            });
            EventBus.$on('from-date-changed', (val) => {
                this.from_date = val;
                this.getLoginHistoryData();
            });
            EventBus.$on('to-date-changed', (val) => {
                this.to_date = val;
                this.getLoginHistoryData();
            });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
                'getSessionFromDate',
                'getSessionToDate',
            ]),

            passes_required_selections() {
                return this.getSessionCompanyId >= 0 ? false : true;
            },
        },

        watch: {
        },

        methods: {
            getLoginHistoryData(type){
                if(!Common.isEmpty(this.from_date) && !Common.isEmpty(this.to_date)) {
                    this.rows = null;
                    console.log("We have dates for history from [" +type+ '] ' + this.from_date + ' to ' + this.to_date + ' C=' +
                        this.getSessionCompanyId + ' DI=' +
                        this.getSessionDivisionId + ' DR=' + this.getSessionDriverId);

                    axios.post('/getLoginHistory', {
                        'company_id': this.getSessionCompanyId,
                        'division_id': this.getSessionDivisionId,
                        'driver_id': this.getSessionDriverId,
                        'from_date': this.from_date,
                        'to_date': this.to_date
                    }).then(response => {
                        this.rows = response.data.records
                    });
                }
            },

            generateExcel() {
                let url = '/generateLoginHistoryExcel';
                this.generating_excel = true;

                axios.post(url, {
                    rows: this.rows,
                    company_id: this.getSessionCompanyId,
                    division_id: this.getSessionDivisionId,
                    from_date: this.from_date,
                    to_date: this.to_date
                }).then(response => {
                    let file_path = 'storage/tmp/' + response.data.filename;
                    let a = document.createElement('A');
                    a.href = file_path;
                    a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);

                }).catch(errors => {
                    console.log('Errors')
                });
                this.generating_excel = false;

            },

        }

    };
</script>

<style lang='css'>

</style>