/**
Requires:
user_id
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
To use this partial, drop the component where you want the Reactivate User button to appear, and
pass in the user_id. Clicking the button displayed on the parent page
will open a modal allowing the super user to proceed with deactivation.

There is a watch on show_modal to determine when to fetch data from the database
If the user_id is not null, and show_modal = true, data will be retrieved from the database by an axios call

*/
<template lang="html">

    <div id="deactivateUserModal">
        <button class="btn btn-primary btn-sm deactivate-user" @click="show_modal = !show_modal">
            <i class="fal fa-power-off"></i>
        </button>

        <div :class="{'modal':true, 'is-active':show_modal}">

            <div class="modal-background"></div>

            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Reactivate User</p>
                    <button class="delete" aria-label="close" @click="show_modal = false"></button>
                </header>

                <section class="modal-card-body">

                    <!--render the deactivation content only if loaded-->
                    <div v-if="loaded" id="modalCardContent">
                        <!-- DEACTIVATE ALL -->
                        <small>*Only inactive profiles are shown</small>


                        <table class="table">
                            <thead>
                            <tr>
                                <th>Profile Type</th>
                                <th>Company</th>
                                <th style="width: 17%;" class="text-center">
                                    <label class="switch float-right" @click="select_all = !select_all">
                                        <span class="float-right">Select All</span>
                                    </label>
                                    <input type="checkbox"
                                           :class="{'custom-checkbox': true, '--yes':select_all}"
                                           v-model="select_all">

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="profiles.driver">
                                <td><strong>Driver</strong></td>
                                <td>{{ profiles.driver.company_name }}</td>
                                <td class="text-center">
                                    <label class="switch">
                                        <input type="checkbox"
                                               :value="profiles.driver.id"
                                               :class="{'custom-checkbox': true, '--yes':toReactivate.driver_ids.includes(profiles.driver.id)}"
                                               @change="event => { updateToReactivate('driver_ids', event.target.value ) }">
                                    </label>
                                </td>
                            </tr>

                            <tr v-if="profiles.managers.length" v-for="manager in profiles.managers">
                                <td>
                                    <strong>Manager</strong>
                                </td>
                                <td>
                                    {{ manager.company_name }}
                                </td>
                                <td class="text-center">
                                    <label class="switch">
                                        <input type="checkbox"
                                               :value="manager.id"
                                               :class="{'custom-checkbox': true, '--yes':toReactivate.manager_ids.includes(manager.id)}"
                                               :checked="toReactivate.manager_ids.includes(manager.id)"
                                               @change="event => { updateToReactivate('manager_ids', event.target.value ) }">
                                    </label>
                                </td>
                            </tr>

                            <tr v-if="profiles.administrators.length" v-for="administrator in profiles.administrators">
                                <td><strong>Administrator</strong></td>
                                <td>{{ administrator.company_name }}</td>
                                <td class="text-center">
                                    <label class="switch">
                                        <input type="checkbox"
                                               :value="administrator.id"
                                               :class="{'custom-checkbox': true, '--yes':toReactivate.administrator_ids.includes(administrator.id)}"
                                               :checked="toReactivate.administrator_ids.includes(administrator.id)"
                                               @change="event => { updateToReactivate('administrator_ids', event.target.value ) }">
                                    </label>
                                </td>
                            </tr>

                            <tr v-if="profiles.super">
                                <td><strong>Super</strong></td>
                                <td>{{ profiles.super.company_name }}</td>
                                <td class="text-center">
                                    <label class="switch">
                                        <input type="checkbox"
                                               :value="profiles.super.id"
                                               :class="{'custom-checkbox': true, '--yes':toReactivate.super_ids.includes(profiles.super.id)}"
                                               :checked="toReactivate.super_ids.includes(profiles.super.id)"
                                               @change="event => { updateToReactivate('super_ids', event.target.value ) }">
                                    </label>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--if the data is not loaded, render a loading button instead of the modalCardContent div-->
                    <loading-partial v-show="!loaded"/>


                </section>

                <footer class="modal-card-foot">
                    <button class="btn btn-success"
                            @click="reactivateUser"
                            :disabled="errors.any() || none_selected || reactivating">Reactivate
                    </button>
                    <button class="btn"
                            @click="show_modal = false"
                            style="margin-left: 1rem;">Cancel</button>
                </footer>

            </div>
        </div>


    </div>
</template>
<script>

    import {EventBus} from '../../event-bus';
    import {Errors} from "../../utilities";
    import {LoadingPartial} from "../partials";

    export default {

        props: ['user_id'],

        components: {LoadingPartial},

        data() {
            return {
                show_modal: false,
                loaded: false,
                deactivate_disabled: true,
                select_all: false,
                errors: new Errors,

                toReactivate: {
                    driver_ids: [],
                    manager_ids: [],
                    administrator_ids: [],
                    super_ids: [],
                },

                profiles: null,

                reactivating: false,
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            manager_label: function () {
                return this.profiles.managers.length > 1 ? "Managers" : "Manager";
            },

            administrator_label: function () {
                return this.profiles.administrators.length > 1 ? "Administrators" : "Administrator";
            },

            none_selected: function() {
                return (
                    Common.isEmpty(this.toReactivate.driver_ids)
                    && Common.isEmpty(this.toReactivate.manager_ids)
                    && Common.isEmpty(this.toReactivate.administrator_ids)
                    && Common.isEmpty(this.toReactivate.super_ids)
                )
            }

        },

        watch: {
            show_modal: {
                handler: function (val) {
                    if (val && !Common.isEmpty(this.user_id)) {
                        this.getUserDataForDeactivation(this.user_id);
                    }
                },
                immediate: true,
            },

            select_all: function (val) {
                if (val == true) {
                    this.selectAll();
                } else {
                    this.toReactivate = {
                        driver_ids: [],
                        manager_ids: [],
                        administrator_ids: [],
                        super_ids: [],
                    };
                }
            },

            // validation


        },

        methods: {

            getUserDataForDeactivation(user_id) {
                // stub out

                axios.get('getUserDataForReactivation/' + user_id).then(response => {
                    this.profiles = response.data;
                    this.loaded = true;
                });

            },


            reactivateUser() {

                this.reactivating = true;

                let r = confirm('Are you sure you want to reactivate?');

                if (r == true) {

                    let data = {
                        user_id: this.user_id,
                        toReactivate: this.toReactivate,
                    };
                    // console.log('confirmed');

                    axios.post('/reactivateUser', data).then( response => {


                        EventBus.$emit('user-reactivated', data);


                        // close modal
                        this.show_modal = false;
                        this.reactivating = false;
                    });


                } else {

                }

            },

            selectAll() {
                if (this.profiles.driver != null) {
                    if (!this.toReactivate.driver_ids.includes(this.profiles.driver.id)) {
                        this.toReactivate.driver_ids.push(this.profiles.driver.id);
                    }
                }


                if (this.profiles.managers.length) {
                    // console.log('managers');
                    for (let i = 0; i < this.profiles.managers.length; i++) {
                        if (!this.toReactivate.manager_ids.includes(this.profiles.managers[i].id)) {
                            this.toReactivate.manager_ids.push(this.profiles.managers[i].id);
                        }
                    }
                }

                if (this.profiles.administrators.length) {
                    // console.log('here');
                    for (let i = 0; i < this.profiles.administrators.length; i++) {
                        if (!this.toReactivate.administrator_ids.includes(this.profiles.administrators[i].id)) {
                            this.toReactivate.administrator_ids.push(this.profiles.administrators[i].id);
                        }
                    }
                }

                if (this.profiles.super != null) {
                    if (!this.toReactivate.super_ids.includes(this.profiles.super.id)) {
                        this.toReactivate.super_ids.push(this.profiles.super.id);
                    }
                }
            },

            updateToReactivate(type, id) {
                this.select_all = false;
                id = Number(id);
                if (this.toReactivate[type].includes(id)) {
                    this.toReactivate[type].splice(this.toReactivate[type].indexOf(id), 1);
                } else {
                    this.toReactivate[type].push(id);
                }
            }

        }
    };
</script>

<style lang="css">
    #deactivateUserModal .modal-card-head {
        text-align: left;
    }

</style>