/**
Requires:
- caller_id: who is my parent page

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="showUserPage">
        <div class="row">
            <div class="col-6">
                <label class="label" for="searchParameter">Search (username, first name, last name,
                    email):</label>
            </div>
        </div><!-- label row -->

        <div class="row">
            <div class="col-6">
                <input type="text" id="searchParameter" name="searchParameter" class="form-control"
                       v-model="search_parameter">
            </div><!-- search box -->
            <div class="col-6">
                <button class="btn btn-secondary btn-sm user-search-btn" @click="searchNow">Search</button>
                <button class="btn btn-default btn-sm user-search-btn" @click="resetAll">Reset Search</button>

                <label class="form-check-label" style="display: inline-block; float: right; margin-top: 3px;">
                    <input class="form-check-input" type="checkbox" v-model="include_inactive">
                    Include inactive users
                </label>
            </div>
        </div><!-- search box row -->

        <br>

        <div class="row box" v-if="user_selected">
            <div class="col text-center">
                <a :href="'/users/' + getEditedUser.id + '/impersonate'">
                    <button class="btn btn-outline-info">
                        Link to {{ getEditedUser.first_name + ' ' + getEditedUser.last_name }}
                    </button>
                </a>
            </div>

            <div class="col text-center">
                <deactivate-user-modal :user_id="getEditedUser.id"/>
            </div>

            <div class="col text-center">
                <button class="btn btn-outline-info" @click="editUser">Edit User</button>
            </div>

            <div v-if="user_selected && getEditedUser.is_driver" class="col text-center">
                <button class="btn btn-outline-info" @click="showDriverNotes">Show Driver Notes</button>
            </div>


            <div v-if="user_selected && getEditedUser.is_driver" class="col text-center">
                <button class="btn btn-outline-info" @click="addNote">Add Note</button>
            </div>
        </div>


        <div class="table-responsive table-responsive-bordered">
            <table class="table table-striped table-bordered table-hover mb-0" v-if="users">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Driver</th>
                    <th>Manager</th>
                    <th>Admin</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="person in users" @click="showPerson(person)" :class="{'table-danger': person.deleted_at}">
                    <td>{{ person.id }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.last_name}}</td>
                    <td>{{ person.first_name}}</td>
                    <td>{{ person.email}}</td>
                    <td>
                                <span v-if="person.is_driver == 1 && person.street_light_id == 1" class="fa fa-exclamation"
                                      :style="{'color': person.active_driver ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                    </td>
                    <td>
                            <span v-if="person.is_manager == 1" class="fa fa-check"
                                  :style="{'color': person.active_manager ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                    </td>
                    <td>
                        <span v-if="person.is_administrator == 1" class="fa fa-check"
                              :style="{'color': person.active_administrator ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!--region USER DISPLAY AREA -->
        <div v-if="user_selected" id="userDisplayArea">

            <h2>{{ full_user_name }}</h2>
            <br>

            <article v-if="getEditedUser.is_driver" class="message btn-secondary">
                <div class="message-header">
                    <p>Info</p>
                    <button class="btn" @click="notes_showing = !notes_showing"><span
                            :class="{'fa':true, 'fa-plus-square':!notes_showing, 'fa-minus-square':notes_showing}"></span>
                    </button>
                </div>
                <div class="message-body" v-if="notes_showing">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>,
                    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
                    gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>,
                    in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id
                    porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
            </article>

            <div v-if="getEditedUser.is_driver" class="box">
                <p class="title">Driver Profile</p>

                <div class="fusionDisplayBlock" v-for="(item, key, index) in getEditedUser.driver_profile" :key="index">
                    <span :id="'driverProfile'+item" v-text="item"></span><br>
                    <label for="'driverProfile'+item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>
            <div v-if="getEditedUser.is_manager" v-for="profile in getEditedUser.manager_profiles" class="box">
                <p class="title">Manager Id {{ profile.manager_id }}</p>

                <div class="fusionDisplayBlock" v-for="(item, key, index) in profile" :key="index">
                    <span :id="'managerProfile'+profile.manager_id+item" v-text="item"></span><br>
                    <label for="'managerProfile'+profile.manager_id+item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>
            <div v-if="getEditedUser.is_administrator" class="box">
                <h3>Administrator Profile</h3><br>

                <pre>count: {{ getEditedUser.administrator_profiles.length }}</pre>
            </div>
            <div v-if="getEditedUser.is_super" class="box">
                <h3>Super Profile</h3><br>

                <pre>id: {{ getEditedUser.super_profile.id }}</pre>
            </div>
            <div class="box" v-if="user_selected">
                <h3>All User Info</h3><br>
                <pre>
                    {{ getEditedUser }}
                </pre>
            </div>
        </div>
        <!--endregion-->

        <!--<show-driver-notes-widget :driver_id="selected_user_id"
                                  v-if="selected_user_id > 0"/>-->

        <!--<add-driver-note-widget :caller_id="my_caller_id"
                                :driver_name="full_user_name"
                                :driver_id="selected_user_id"
                                :company_id="user.driverProfile.company_id"
                                v-if="selected_user_id > 0"/>-->

        <!--<driver-notes-modal v-if="user" :caller_id="my_caller_id" :driver_name="user.first_name + ' ' + user.last_name"
                            :driver_id="user.id"/>-->

    </div>
</template>

<script>
    import {AddDriverNoteWidget, ShowDriverNotesWidget} from "../driver";
    import {
        AdministratorSelect,
        CompanySelect,
        DivisionSelect,
        DriverNotesModal,
        DriverSelect,
        ManagerSelect
    } from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {DeactivateUserModal} from "./index"; // user

    export default {

        components: {
            AdministratorSelect,
            CompanySelect,
            AddDriverNoteWidget,
            ShowDriverNotesWidget,
            DeactivateUserModal,
            DivisionSelect,
            DriverNotesModal,
            DriverSelect,
            ManagerSelect
        },

        props: ['caller_id'],

        data() {
            return {
                my_caller_id: 'ShowUserPage',
                users: null,
                selected_user_id: -1, // users.id of the user to display
                selected_user_type_id: -1,

                search_parameter: '',
                include_inactive: true,
                last_order: 'asc',
                last_sort: '',
                last_search_parameter_time: -1,
                last_timer_id: 0,

                notes_showing: false,

                // dont duplicate same search
                last_search: ''
            };
        },

        created() {
        },

        mounted() {
            Common.listen(this.my_caller_id + '-reset', this.resetAll);

            EventBus.$on('company-changed', this.companyChanged);

            EventBus.$on('driver-changed', this.driverChanged);

            EventBus.$on('manager-changed', this.managerChanged);

            EventBus.$on('administrator-changed', this.administratorChanged);

            if (this.getView === 'users') {
                if (this.getSessionCompanyId > 0) {
                    this.findUser();
                }

                Common.getSession('search_user_email').then(data => {
                    if (!Common.isEmpty(data)) {
                        this.resetAll();
                        this.search_parameter = data;
                    }
                });
            }
        },

        beforeDestroy() {
            EventBus.$off('company-changed', this.companyChanged);

            EventBus.$off('driver-changed', this.driverChanged);

            EventBus.$off('manager-changed', this.managerChanged);

            EventBus.$off('administrator-changed', this.administratorChanged);
        },

        computed: {

            ...mapGetters([
                'getView',
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId',
                'getEditedUser'
            ]),

            full_user_name: function () {
                if (!Common.isEmpty(this.getEditedUser)) {
                    return this.getEditedUser.first_name + ' ' + this.getEditedUser.last_name;
                } else {
                    return '';
                }
            },

            valid_selected_user_id: function () {
                return !Common.isEmpty(this.selected_user_id);
            },

            valid_selected_user_type_id: function (val) {
                return !Common.isEmpty(this.selected_user_type_id);
            },

            user_selected: function () {
                return !Common.isEmpty(this.getEditedUser);
            }
        },


        watch: {

            // set timeout so we don't try to search on each keystroke
            search_parameter: function (val) {
                let me = this;
                clearTimeout(this.last_timer_id);
                this.last_timer_id = setTimeout(function () {
                    // console.log('now searching...');
                    me.findUser();
                }, 1500);
            },

            include_inactive: function (val) {
                this.findUser();
            },
        },

        methods: {

            driverChanged() {
                // console.log('driver-changed in showuserpage');
                // console.log('got new driver ' + this.getSessionDriverId);
                this.selected_user_type_id = 1;
                this.selected_user_id = this.getSessionDriverId;
                this.search_parameter = null;
                this.findUser();
            },

            managerChanged() {
                this.selected_user_type_id = 2;
                this.selected_user_id = this.getSessionManagerId;
                this.search_parameter = null;
                this.findUser();
            },

            administratorChanged() {
                this.selected_user_type_id = 3;
                this.selected_user_id = this.getSessionAdministratorId;
                this.search_parameter = null;
                this.findUser();
            },

            findUser() {
                if (this.getView !== 'users') {
                    return;
                }
                let obj = {
                    'company_id': this.getSessionCompanyId,
                    'division_id': this.getSessionDivisionId,
                    'search_parameter': !Common.isEmpty(this.search_parameter) && this.search_parameter.length > 2 ? this.search_parameter : null,
                    'user_id': this.valid_selected_user_id ? this.selected_user_id : null,
                    //'user_type': this.valid_selected_user_type_id ? this.selected_user_type_id : null,
                    'include_inactive': this.include_inactive
                };

                let json_obj = JSON.stringify(obj);
                // console.log(obj);

                /**
                 * Must have one of these conditions:
                 * - search parameter
                 * - user and user type
                 * - company is selected
                 *
                 * Also, must not match the last search with same parameters
                 */
                if (
                    json_obj !== this.last_search &&
                    (!Common.isEmpty(obj.search_parameter) || !Common.isEmpty(obj.user_id) || obj.company_id > 0)
                ) {
                    this.last_search = json_obj;
                    // console.log('calling /findUser with');
                    // console.log(this.$data);
                    axios.post('/findUser', obj).then(response => {
                        // console.log('in findUser');
                        // console.log(obj);
                        this.users = response.data;
                        // console.log('and response', response.data);
                        if (this.users && this.users.length === 1) {
                            this.showPerson(this.users[0]);
                        }
                    });
                }
            },

            searchNow() {
                clearTimeout(this.last_timer_id);
                this.findUser();
            },

            showPerson(person) {
                console.log('in showPerson', person);

                this.selected_user_id = person.id;
                this.users = [person];
                // console.log('in showPerson', person);

                Common.getMe(0, person.id).then(data => {
                    // console.log('GET ME IN SHOW USER');
                    // console.log(data);
                    Common.storeCommit('updateEditedUser', data.user);

                    // TODO next line breaks because multiple people have the same email of their manager
                    this.search_parameter = this.getEditedUser.email;
                });
            },

            companyChanged() {
                this.resetAll();
                this.findUser();
            },

            // TODO: why do i need this?
            determineManagerId() {
                if (!this.getEditedUser.managerProfiles.length) {
                    return this.search_manager_id;
                }
                if (this.getSessionCompanyId === this.getEditedUser.managerProfiles[0].company_id) {
                    return this.getEditedUser.managerProfiles[0].manager_id;
                } else {
                    return this.getEditedUser.managerProfiles[1].manager_id;
                }
            },

            // TODO: why do i need this?
            determineAdministratorId() {
                if (!this.getEditedUser.administratorProfiles.length) {
                    return this.search_administrator_id;
                }
                if (this.getSessionCompanyId === this.getEditedUser.administratorProfiles[0].company.id) {
                    return this.getEditedUser.administratorProfiles[0].administrator_id;
                } else {
                    return this.getEditedUser.administratorProfiles[1].administrator_id;
                }
            },


            sortBy(type) {
                if (type === this.last_sort) {
                    this.last_order = this.last_order === 'asc' ? 'desc' : 'asc';
                } else {
                    this.last_order = 'asc';
                }
                this.users.sort(Common.compareValues(type, this.last_order));

                this.last_sort = type;
            },

            resetAll() {
                // console.log('resetting all');
                this.selected_user_id = -1;
                this.session_manager_id = -1;
                Common.setSession('session_manager_id', -1);
                this.session_administrator_id = -1;
                Common.setSession('session_administrator_id', -1);
                this.search_parameter = '';
                this.users = null;
                Common.storeCommit('updateEditedUser', {});
                this.selected_user_type_id = -1;
                Common.setSession('search_user_email', -1);
                Common.fire(this.my_caller_id + '-reset-drivers');
            },

            editUser() {
                Common.setSubView('edit');
            },

            resolveUserId($id, $user_type) {
                //// console.log('calling resolve');
                axios.get('/resolveUserId/' + $id + '/' + $user_type).then(response => {
                    //// console.log(response.data);
                    this.selected_user_id = response.data.user_id;
                });
            },

            addNote() {
                Common.fire('show-add-note', this.my_caller_id);
            },

            showDriverNotes() {
                $('#driverNotesModal').addClass('is-active');
            }
        }
    };

</script>

<style lang="css">
    #showUserPage .user-columns {
        border: .1rem solid #00b89c;
    }

    #showUserPage .columns.header .column {
        text-align: center;
        font-weight: bold;
        background-color: #00b89c;
        margin: .5rem;
    }

    #showUserPage .columns.header .column:hover {
        cursor: pointer;
    }

    #showUserPage .columns.person-row:hover {
        background-color: #bbe;
        cursor: pointer;
    }

    #showUserPage .columns.person-row.active-row {
        color: red;
    }

    #showUserPage h3 {
        font-weight: bold;
        color: darkblue;
    }

    #showUserPage #userSelectsArea {
        border: .1rem solid purple;
        font-size: small;
    }

    #showUserPage #userSelectsArea .columns {
        margin-bottom: 0rem;
    }

    #showUserPage #userSelectsArea select {
        height: 39px;
    }

    #showUserPage .fusionDisplayBlock {
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        float: left;
    }

    #showUserPage .fusionDisplayBlock span {
        text-decoration: underline;
        font-weight: bold;
    }

    #showUserPage .fusionDisplayBlock label {
        font-style: italic;
        font-size: x-small;
        display: block;
        margin-top: -5px;
        color: #999;
    }

    #showUserPage .user-search-btn {
        float: left;
        margin-right: 10px;
    }

    #showUserPage #searchParameter {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        /*background-image: url('searchicon.png');*/
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }


    #showUserPage #searchParameter:focus {
        width: 100%;
    }
</style>