/**

NOTES

TODO NEEDS REFACTORING REW-1106

*/
<template lang="html">
    <div id="showUserPage">
        <div class="row">
            <!--<div class="col-10 text-center">-->
                <!--<button class="btn btn-default btn-sm user-search-btn" @click="resetAll">Reset Search</button>-->
            <!--</div>-->
            <div class="col-2 offset-10">
                <small>Users found: {{ user_count }}</small>
            </div>
        </div><!--.row-->

        <div v-if="getSessionCompanyId < 0 && (!users || !users.length)">
            <br>
            <p>Please select a company from the dropdown above.</p>
        </div>

        <loading-partial v-else-if="loading" caption_text="Getting users"/>

        <div v-else class="table-responsive table-responsive-bordered">
            <table id="userSortTable" class="table table-striped table-bordered table-hover mb-0" v-if="users">
                <thead>
                <tr class = "primary-table-header">
                    <th @click="sortByNumber('id')">User ID</th>
                    <th @click="sortByWord('username')">Username</th>
                    <th @click="sortByWord('last_name')">Last Name</th>
                    <th @click="sortByWord('first_name')">First Name</th>
                    <th @click="sortByWord('email')">Email</th>
                    <th @click="sortByNumber('is_driver')" class="text-center">Driver</th>
                    <th @click="sortByNumber('is_manager')" class="text-center">Manager</th>
                    <th @click="sortByNumber('is_administrator')" class="text-center">Admin</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="person in users"
                    :class="{'table-text-danger': person.deleted_at || !userHasActiveProfile(person), 'table-text-new-driver': userTextIsYellow(person)}">
                    <td @click="showUserAtRow(person)"
                        title="Click to see user details"
                    >{{ person.id }}</td>
                    <td @click="showUserAtRow(person)"
                        title="Click to see user details"
                    >{{ person.username }}</td>
                    <td @click="showUserAtRow(person)"
                        title="Click to see user details">{{ person.last_name}}</td>
                    <td @click="showUserAtRow(person)"
                        title="Click to see user details">{{ person.first_name}}</td>
                    <td @click="showUserAtRow(person)"
                        title="Click to see user details">{{ person.email}}</td>
                    <td class="text-center" @click="showUserAtRow(person)">
                                <span v-if="parseInt(person.is_driver) == 1 && parseInt(person.street_light_id) != 1 "
                                      :class="[ 'fas', parseInt(person.active_driver) ? 'fa-check' : 'fa-times']"
                                      :style="{'color': parseInt(person.active_driver) ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                        <span v-if="parseInt(person.is_driver) == 1 && parseInt(person.street_light_id) == 1"
                              :class="[ 'fas', parseInt(person.active_driver) ? 'fa-exclamation' : 'fa-times']"
                              :style="{'color': parseInt(person.active_driver) ? 'Gold ' : 'red', 'font-size': 'x-large'}"></span>
                    </td>
                    <td class="text-center"
                        @click="showUserAtRow(person)"
                        title="Click to see user details">
                            <span v-if="parseInt(person.is_manager) == 1"
                                  :class="[ 'fas', parseInt(person.active_manager) ? 'fa-check' : 'fa-times']"
                                  :style="{'color': parseInt(person.active_manager) ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                    </td>
                    <td class="text-center"
                        @click="showUserAtRow(person)"
                        title="Click to see user details">
                        <span v-if="parseInt(person.is_administrator) == 1"
                              :class="[ 'fas', parseInt(person.active_administrator) ? 'fa-check' : 'fa-times']"
                              :style="{'color': parseInt(person.active_administrator) ? 'darkgreen' : 'red', 'font-size': 'x-large'}"></span>
                    </td>

                    <td style="width: 125px;">
                        <div class="actions">
                            <button class="link-to-user btn btn-primary btn-sm float-left"
                                    title="Link to this user"
                                    @click="linkToUserRow(person)">
                                <i class="fal fa-link"></i>
                            </button>
                            <button class="edit-user btn btn-primary btn-sm float-left"
                                    title="Edit this user"
                                    @click="editUserAtRow(person)">
                                <i class="fal fa-pencil"></i>
                            </button>
                            <!--davery-->
                            <button class="btn btn-danger btn-sm deactivate-user"
                                    @click="openDeactivateUserModal(person.id)">
                                <i class="fal fa-times"></i>
                            </button>
                            <!--davery-->
                            <!--:user_id="person.id"-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Modal Outside & button is in for loop -->
        <deactivate-user-modal external_button_click="true"/>
        <!--v-if="userHasActiveProfile(person)"-->
    </div>
</template>

<script>
    import {AddDriverNoteWidget, ShowDriverNotesWidget} from "../driver";
    import {
        AdministratorSelect,
        CompanySelect,
        DivisionSelect,
        DriverNotesModal,
        DriverSelect,
        ManagerSelect,
        LoadingPartial
    } from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import DeactivateUserModal from "./DeactivateUserModal.vue"; // user

    export default {

        components: {
            AdministratorSelect,
            CompanySelect,
            AddDriverNoteWidget,
            ShowDriverNotesWidget,
            DeactivateUserModal,
            DivisionSelect,
            DriverNotesModal,
            DriverSelect,
            ManagerSelect,
            LoadingPartial
        },

        props: ['caller_id'],

        data() {
            return {
                my_caller_id: 'ShowUserPage',
                users: null,
                original_users: null,
                selected_user_id: -1, // users.id of the user to display
                selected_user_type_id: -1,

                include_inactive: true,
                last_order: 'asc',
                last_sort: '',
                last_timer_id: 0,

                notes_showing: false,

                // dont duplicate same search
                last_search: '',

                search_parameter: '',

                // go automatically to edit when selected "edit" from driver debug
                go_to_edit: false,

                sorts: {
                    id: 1,
                    username: 0,
                    first_name: 0,
                    last_name: 0,
                    email: 0,
                    is_driver: 0,
                    is_manager: 0,
                    is_administrator: 0
                },

                loading: this.getSessionCompanyId > 0
            };
        },

        created() {
            console.log('created');
        },

        mounted() {
            /**
             * When the component is mounted check the store for a search parameter.
             * If one exists, execute the search function.
             * This is here to allow a user to "search from anywhere":
             *  - user hits search bar
             *  - store is updated with parameter
             *  - view is set o 'users' and subview to 'show'
             *  - this component is mounted
             *  - this component sees a parameter exists and executes a search
             */
            if (!Common.isEmpty(this.getSearchParameter)) {
                console.log('search parameter detected in mounted', this.getSearchParameter);
                this.searchParameterChanged(this.getSearchParameter);
            }

            Common.listen(this.my_caller_id + '-reset', this.resetAll);

            EventBus.$on('company-changed', this.companyChanged);

            EventBus.$on('driver-changed', this.driverChanged);

            EventBus.$on('manager-changed', this.managerChanged);

            EventBus.$on('administrator-changed', this.administratorChanged);

            EventBus.$on('division-changed', this.division_changed);

            EventBus.$on('search-parameter-changed', this.searchParameterChanged);

            EventBus.$on('user-deactivated', this.updateDeactivatedUser);

            this.findUserOrByEmail();
        },

        beforeDestroy() {
            // unregister event listeners
            EventBus.$off('company-changed', this.companyChanged);
            EventBus.$off('driver-changed', this.driverChanged);
            EventBus.$off('manager-changed', this.managerChanged);
            EventBus.$off('administrator-changed', this.administratorChanged);
            EventBus.$off('search-parameter-changed', this.searchParameterChanged);
            EventBus.$off('user-deactivated', this.updateDeactivatedUser);


            // commit an empty search param to the store
            Common.storeCommit('updateSearchParameter', '');
        },

        computed: {

            ...mapGetters([
                'getView',
                'getUserId',
                'getActiveRole',
                'getSubView',
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId',
                'getEditedUser',
                'getSearchUserEmail',
                'getSearchParameter',
            ]),

            use_search_user_email: function () {
                let use = !Common.isEmpty(this.getSearchUserEmail) ? true : false;
                return use;
            },

            full_user_name: function () {
                if (!Common.isEmpty(this.getEditedUser)) {
                    return this.getEditedUser.first_name + ' ' + this.getEditedUser.last_name;
                } else {
                    return '';
                }
            },

            valid_selected_user_id: function () {
                return !Common.isEmpty(this.selected_user_id);
            },

            valid_selected_user_type_id: function (val) {
                return !Common.isEmpty(this.selected_user_type_id);
            },

            user_selected: function () {
                return !Common.isEmpty(this.getEditedUser);
            },

            user_count: function () {
                return this.users ? this.users.length : 0;
            }
        },


        watch: {

            include_inactive: function (val) {
                this.findUserOrByEmail();
            },

            use_search_user_email: function (val) {
                console.log('Computed would know search_user_email ' + val);
            }
        },

        methods: {
            userTextIsYellow(person){
                if(person.street_light_id != 1){
                    return false;
                }
                else if( parseInt(person.is_manager) == 1 && parseInt(person.active_manager) == 1 ){
                    return false;
                }
                else if( parseInt(person.is_administrator) == 1 && parseInt(person.active_administrator) == 1 ){
                    return false;
                }else{
                    return true;
                }


            },
            openDeactivateUserModal(user_id) {
                EventBus.$emit('openDeactivateUserModal', user_id);
            },

            sortByNumber(col) {
                console.log('calling sortByNumber');
                if (!this.sorts[col]) {
                    this.users.sort(function (a, b) {
                        return a[col] - b[col];
                    });
                } else {
                    this.users.sort(function (a, b) {
                        return b[col] - a[col];
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

            sortByWord(col) {
                console.log('calling sortByWord');
                if (!this.sorts[col]) {
                    this.users.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA < wordB) {
                            return -1;
                        }
                        if (wordA > wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                } else {
                    this.users.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA > wordB) {
                            return -1;
                        }
                        if (wordA < wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

            findUser() {
                this.loading = true;

                // stop the infinite looping!
                if (this.getView !== 'users') {
                    console.log(this.getView);
                    return;
                }

                console.log('something called findUser');

                let obj = {
                    'company_id': this.getSessionCompanyId,
                    'search_parameter': this.search_parameter
                };


                // only used to test on search equality, not passed to server
                let json_obj = JSON.stringify(obj);

                /**
                 * Must have one of these conditions:
                 * - user and user type
                 * - company is selected
                 * - search parameter
                 *
                 * Also, must not match the last search with same parameters
                 */
                console.log('new object', !_.isEqual(json_obj, this.last_search));
                console.log('user_id ' + (!Common.isEmpty(obj.user_id)));
                console.log('company_id ' + (obj.company_id > 0));
                console.log('search param ' + !Common.isEmpty(this.search_parameter));
                if (
                    !_.isEqual(json_obj, this.last_search) &&
                    (!Common.isEmpty(obj.user_id) || obj.company_id > 0 || !Common.isEmpty(this.search_parameter))
                ) {
                    this.last_search = json_obj;
                    console.log('calling /findUser with', obj);

                    axios.post('/findUser', obj).then(response => {
                        this.loading = false;
                        // now clear search parameter
                        this.search_parameter = '';

                        // console.log('in findUser');
                        // console.log(obj);
                        this.users = response.data;
                        // console.log('users found', this.users);
                        this.original_users = _.cloneDeep(this.users);
                        // console.log('and response', response.data);
                        if (this.users && this.users.length === 1) {
                            if (this.go_to_edit) {

                            }
                            this.showPerson(this.users[0]);
                        }
                    });
                }
            },

            searchNow() {
                clearTimeout(this.last_timer_id);
                this.findUserOrByEmail();
            },

            showPerson(person) {
                console.log('in showPerson', person);

                this.selected_user_id = person.id;
                this.users = [person];

                Common.getMe(0, person.id).then(data => {
                    console.log('GET ME IN SHOW USER');
                    console.log(data.user);
                    this.updateSessionValues(data.user);

                    if (this.go_to_edit) {
                        this.go_to_edit = false;
                        Common.setSubView('edit');
                    }
                });
            },

            updateSessionValues(user) {
                console.log('updating edited user from show user page', user);
                Common.storeCommit('updateEditedUser', user);
                Common.storeCommit('updateSessionCompanyId', user.company.id);
                Common.storeCommit('updateSessionCompanyName', user.company.name);
            },

            companyChanged() {
                this.resetAll();
                this.findUserOrByEmail();
            },

            division_changed() {
                console.log('division changed', this.getSessionDivisionId);
                let division_id = this.getSessionDivisionId;
                this.users = _.cloneDeep(this.original_users);
                if (division_id > 0) {
                    this.users = this.users.filter(u => {
                        console.log('user', (u.division_id === null || u.division_id === division_id));
                        return (u.division_id === null || u.division_id == division_id);
                    });
                    console.log('orig', this.original_users.length, 'users', this.users.length);
                }
            },

            driverChanged() {

                // console.log('driver-changed in showuserpage');
                // console.log('got new driver ' + this.getSessionDriverId);
                this.selected_user_type_id = 1;
                this.selected_user_id = this.getSessionDriverId;
                // Common.storeCommit('updateEditedUser', {});
                //this.findUserOrByEmail();
                let driver_id = this.getSessionDriverId;
                this.users = _.cloneDeep(this.original_users);
                if (driver_id > 0) {
                    this.users = this.users.filter(u => {
                        return u.id == driver_id;
                    });
                    //console.log('orig', this.original_users.length, 'users', this.users.length);
                } else if (this.getSessionDivisionId > 0) {
                    console.log('should be calling division');
                    this.division_changed();
                }
            },

            managerChanged() {
                this.selected_user_type_id = 2;
                this.selected_user_id = this.getSessionManagerId;
                // Common.storeCommit('updateEditedUser', {});
                //this.findUserOrByEmail();

                let manager_id = this.getSessionManagerId;
                this.users = _.cloneDeep(this.original_users);
                if (manager_id > 0) {
                    this.users = this.users.filter(u => {
                        return u.manager_id == manager_id;
                    });
                    //console.log('orig', this.original_users.length, 'users', this.users.length);
                } else if (this.getSessionDivisionId > 0) {
                    console.log('should be calling division');
                    this.division_changed();
                }
            },

            administratorChanged() {
                this.selected_user_type_id = 3;
                this.selected_user_id = this.getSessionAdministratorId;
                // Common.storeCommit('updateEditedUser', {});
                //this.findUserOrByEmail();

                let administrator_id = this.getSessionAdministratorId;
                this.users = _.cloneDeep(this.original_users);
                if (administrator_id > 0) {
                    this.users = this.users.filter(u => {
                        return u.administrator_id == administrator_id;
                    });
                    //console.log('orig', this.original_users.length, 'users', this.users.length);
                } else if (this.getSessionDivisionId > 0) {
                    console.log('should be calling division');
                    this.division_changed();
                }
            },

            searchParameterChanged(parameter) {
                console.log('ShowUserPage searchParameterChanged to ' + parameter);
                this.resetAll();
                this.search_parameter = parameter;
                //Common.storeCommit('updateSessionCompanyId', -1);
                this.findUser();
            },


            // TODO: why do i need this?
            determineManagerId() {
                if (!this.getEditedUser.managerProfiles.length) {
                    return this.search_manager_id;
                }
                if (this.getSessionCompanyId === this.getEditedUser.managerProfiles[0].company_id) {
                    return this.getEditedUser.managerProfiles[0].manager_id;
                } else {
                    return this.getEditedUser.managerProfiles[1].manager_id;
                }
            },

            // TODO: why do i need this?
            determineAdministratorId() {
                if (!this.getEditedUser.administratorProfiles.length) {
                    return this.search_administrator_id;
                }
                if (this.getSessionCompanyId === this.getEditedUser.administratorProfiles[0].company.id) {
                    return this.getEditedUser.administratorProfiles[0].administrator_id;
                } else {
                    return this.getEditedUser.administratorProfiles[1].administrator_id;
                }
            },


            sortBy(type) {
                if (type === this.last_sort) {
                    this.last_order = this.last_order === 'asc' ? 'desc' : 'asc';
                } else {
                    this.last_order = 'asc';
                }
                this.users.sort(Common.compareValues(type, this.last_order));

                this.last_sort = type;
            },

            resetAll() {
                //console.log('resetting all');
                this.selected_user_id = -1;
                this.session_manager_id = -1;
                Common.setSession('session_manager_id', -1);
                this.session_administrator_id = -1;
                Common.setSession('session_administrator_id', -1);
                this.users = null;
                // Common.storeCommit('updateEditedUser', {});
                this.selected_user_type_id = -1;
                Common.setSession('search_user_email', -1);
                /*EventBus.$emit('reset-companies');*/
                Common.fire(this.my_caller_id + '-reset-drivers');
                // EventBus.$emit('reset-companies');
                // EventBus.$emit('reset-divisions');
                // EventBus.$emit('reset-drivers');
                // EventBus.$emit('reset-managers');
                // EventBus.$emit('reset-administrators');

                if (this.getSessionCompanyId == -1) {
                    this.original_users = null;
                }
            },

            editUser() {
                Common.setSubView('edit');
            },

            showUserAtRow(person) {
                this.go_to_edit = true;

                Common.storeCommit('updateLockAllInput', true).then( () => {
                    Common.getMe(0, person.id).then(data => {
                        this.updateSessionValues(data.user);

                        this.users = [person];

                        if (this.go_to_edit) {
                            this.go_to_edit = false;
                            Common.setSubView('edit');
                        }
                    });
                });
            },


            editUserAtRow(person) {
                this.go_to_edit = true;

                Common.storeCommit('updateLockAllInput', false);

                Common.getMe(0, person.id).then(data => {
                    this.updateSessionValues(data.user);

                    this.users = [person];

                    if (this.go_to_edit) {
                        this.go_to_edit = false;
                        Common.setSubView('edit');
                    }
                });
            },

            resolveUserId($id, $user_type) {
                //// console.log('calling resolve');
                axios.get('/resolveUserId/' + $id + '/' + $user_type).then(response => {
                    //// console.log(response.data);
                    this.selected_user_id = response.data.user_id;
                });
            },

            addNote() {
                Common.fire('show-add-note', this.my_caller_id);
            },

            showDriverNotes() {
                $('#driverNotesModal').addClass('is-active');
            },

            findUserOrByEmail() {
                if (this.use_search_user_email) {
                    this.findUserByEmail();
                } else {
                    this.findUser();
                }
            },

            findUserByEmail() {
                let email = this.getSearchUserEmail;
                Common.storeCommit('updateSearchUserEmail', '');
                axios.get('/findUserByEmail/' + email).then(response => {
                    console.log('Found user by email', response.data.user);
                    this.selected_user_id = response.data.user.id;
                    this.go_to_edit = true;
                    this.findUser();
                });
            },

            linkToUser() {
                console.log('in linkToUser with user type ' + this.selected_user_type_id);
                switch (this.selected_user_type_id) {
                    case 1:
                        Common.storeCommit('updateSessionRole', 'driver');
                        Common.storeCommit('updateSessionDriverId', this.getEditedUser.id);
                        break;
                    case 2:
                        Common.storeCommit('updateSessionRole', 'manager');
                        Common.storeCommit('updateSessionManagerId', this.getEditedUser.id);
                        break;
                    case 3:
                        Common.storeCommit('updateSessionRole', 'administrator');
                        Common.storeCommit('updateSessionAdministratorId', this.getEditedUser.id);
                        break;
                    /*case 4:
                        Common.storeCommit('updateSessionRole', 'super');
                        break;*/
                }
                axios.post('/linkToUser', {
                    current_user_id: this.getUserId,
                    target_user_id: this.getEditedUser.id,
                    current_active_role: this.getActiveRole,
                    current_page: this.getView
                }).then(response => {
                    window.location = '/';
                });
            },

            linkToUserRow(person) {
                let role = this.getUserRole(person);
                let self = this;
                Common.storeCommit('updateSessionRole', role)
                    .then(() => {
                        console.log('ShowUser: setting session_user_id', person.id);
                        Common.storeCommit('updateSessionUserId', person.id)
                            .then(() => {
                                axios.post('/linkToUser', {
                                    current_user_id: self.getUserId,
                                    target_user_id: person.id,
                                    current_active_role: self.getActiveRole,
                                    current_page: self.getView

                                }).then(response => {
                                    window.location = '/';
                                });
                            });
                    });
            },

            getUserRole(person) {
                return person.is_driver ? 'driver' : person.is_administrator ? 'administrator' : 'manager';
            },

            userHasActiveProfile(person) {
                return person.active_administrator
                    || person.active_manager
                    || person.active_driver;
            },

            updateDeactivatedUser(data) {
                // this will be a shallow copy, so we modify it directly
                let person = this.users.find((u) => {
                    return u.id == data.user_id;
                });

                for (const type in data.toDeactivate) {
                    if (!Common.isEmpty(data.toDeactivate[type])) {
                        let active_role = 'active_' + type.split('_')[0];
                        person[active_role] = 0;
                    }
                }

            }
        }
    };

</script>

<style lang="css">
    #userSortTable .table-text-danger {
          /*color: #721c24;*/
          color: #f00;
      }

    #userSortTable .table-text-new-driver {
        /*color: #721c24;*/
        color: goldenrod;
    }

    #showUserPage .user-columns {
        border: .1rem solid #00b89c;
    }

    #showUserPage .columns.header .column {
        text-align: center;
        font-weight: bold;
        background-color: #00b89c;
        margin: .5rem;
    }

    #showUserPage .columns.header .column:hover {
        cursor: pointer;
    }

    #showUserPage td:hover {
        cursor: pointer;
    }

    #showUserPage h3 {
        font-weight: bold;
        color: darkblue;
    }

    #showUserPage #userSelectsArea .columns {
        margin-bottom: 0rem;
    }

    #showUserPage #userSelectsArea select {
        height: 39px;
    }

    #showUserPage .fusionDisplayBlock {
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        float: left;
    }

    #showUserPage .fusionDisplayBlock span {
        text-decoration: underline;
        font-weight: bold;
    }

    #showUserPage .fusionDisplayBlock label {
        font-style: italic;
        font-size: x-small;
        display: block;
        margin-top: -5px;
        color: #999;
    }

    #showUserPage .user-search-btn {
        float: left;
        margin-right: 10px;
    }

    #showUserPage #searchParameter {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        /*background-image: url('searchicon.png');*/
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    #showUserPage #searchParameter:focus {
        width: 100%;
    }

    #showUserPage #userSortTable thead th:hover {
        cursor: n-resize;
    }

    #showUserPage .actions {
        width: 100px;
    }

    #showUserPage .link-to-user, #showUserPage .edit-user, #showUserPage .deactivate-user {
        border-radius: 50%;
        float: left;
        height: 30px;
        margin-right: 5px;
        padding: 0;
        text-align: center;
        width: 30px;
    }

    #showUserPage .deactivate-user {
        margin-right: 0;
    }
</style>