/**
Requires:

Optional:

Getters:

Setters:

Listeners:
- caller_id-user-type-changed: new user type was selected

Emitters:

Notes:


TODO NEEDS REFACTORING REW-1106

*/
<template lang="html">
    <div id="usersView" class="" v-if="page_title">
        <!-- TITLE AREA -->
        <div class="row m-0">
            <h2 class="float-left mr-1 mb-4">{{ page_title }} </h2>
        </div>

        <!-- SUB-VIEWS -->
        <show-user-page v-if="mode === 'list'" :caller_id="caller_id"/>
        <add-edit-user-page v-if="mode === 'add' || mode === 'edit' || mode === 'show'" :mode="mode"
                            :caller_id="caller_id"/>
    </div>
</template>


<script>

    import {AddEditUserPage, ShowUserPage} from ".";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['modeProp'],


        components: {ShowUserPage, AddEditUserPage},

        data() {
            return {
                caller_id: 'UsersView',
                mode: 'list', // the default view
                displayEditUserButton: false,
                displayAddUserButton: false,
                displayCancelButton: true,
                subpage_loaded: false
            };
        },

        // UserView
        created() {
        },

        mounted() {
            console.log('UsersView mounted', this.modeProp);

            // if (this.modeProp) {
            //     this.editUser();
            // }

            EventBus.$on('subView-changed', () => {
                this.switchSubpage(this.getSubView);
            });

            Common.listen('switch-users-subpage', this.switchSubpage);


            if (this.modeProp) {
                Common.storeCommit('updateSubView', this.modeProp);
            }
            else
                this.switchSubpage(this.getSubView);
        },

        beforeDestroy() {
            EventBus.$off('subView-changed');
        },

        computed: {
            ...mapGetters([
                'getSubView',
                'getEditedUser',
                'getLockAllInput'
            ]),

            page_title: function () {
                switch (this.mode) {
                    case 'add':
                        return 'Add User';
                    case 'edit':
                        return 'Edit User';
                    case 'show':
                        return 'Show User';
                    case 'list':
                        return 'Company Users List';
                }
            },

            user_selected: function () {
                return !Common.isEmpty(this.getEditedUser);
            }
        },

        watch: {
            getSubView: function (val) {
                this.switchSubpage(val);
            },

            modeProp: function (val) {
                Common.storeCommit('updateSubView', val);
            }
        },

        methods: {
            switchToUserPage() {
                Common.getMe(0, person.id).then(data => {
                    console.log('GET ME IN SHOW USER');
                    console.log(data.user);
                    this.updateSessionValues(data.user);
                    Common.setSubView('edit');
                });
            },

            updateSessionValues(user) {
                console.log('updating edited user from show user page', user);
                Common.storeCommit('updateEditedUser', user);
                Common.storeCommit('updateSessionCompanyId', -1);
                Common.storeCommit('updateSessionCompanyName', user.company.name);
            },

            switchSubpage(subpage) {
                console.log('got this subpage in swtich: ' + subpage);
                switch (subpage) {
                    case null:
                    case '':
                    case 'null':
                    case 'list':
                        this.mode = 'list';
                        break;
                    case 'add':
                        this.mode = 'add';
                        break;
                    case 'edit':
                        this.mode = 'edit';
                        Common.storeCommit('updateLockAllInput', false);
                        break;
                    case 'show':
                        this.mode = 'show';
                        Common.storeCommit('updateLockAllInput', true);
                        break;
                }
            },

            editUser() {
                //console.log('you clicked editUser');
                Common.setSubView('edit');
                this.mode = 'edit';
            },

            addUser() {
                Common.setSubView('add');
                this.mode = 'add';
            },

            cancelAddorEditUser() {
                Common.setSubView('show');
                this.mode = 'show';
                Common.fire('AddEditUserPage-discard-edits', true);
            },

            hideCancelButton(hide_me) {
                this.displayCancelButton = !hide_me;
            },
        },
    };

</script>

<style lang="css">
    #usersView .user-search-btn {
        float: left;
        margin-right: 10px;
    }
</style>