/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addCompanyPage">

        <hr class="m-0 mb-3">

        <div class="row">

            <div class="col-lg-6 col-sm-12">
                <div :class="{'form-group': true, 'has-error':errors.has('name')}">
                    <label for="name" class="label">Company Name:</label>

                    <input type="text" id="name" name="name" class="form-control" v-model="company.name">

                    <span class="help-block" v-if="errors.has('name')">{{ errors.get('name') }}</span>
                </div>
            </div>

           <!-- COUNTRY -->
                <div class="col-lg-4 col-sm-8">
                    <div :class="{'form-group': true, 'has-error': errors.has('country_id')}">

                        <country-select v-model="company.country_id"
                                        :display="'long'"/>

                        <span class="help-block" v-if="errors.has('country_id')">{{ errors.get('country_id') }}</span>
                    </div>
                </div>

            <div class="col-lg-2 col-sm-4">
                <div :class="{'form-group': true, 'has-error': errors.has('is_demo_company')}">
                    <label>
                        <input id="checkbox" type="checkbox" v-model="company.is_demo_company">
                        Demo Company?
                    </label>
                    <span class="help-block"
                          v-if="errors.has('is_demo_company')">{{ errors.get('is_demo_company') }}</span>
                </div>

                <button class="btn btn-secondary float-right"
                        @click="createCompany"
                        :disabled="errors.has('country_id') || errors.has('name') ">Create Company</button>

            </div>
        </div>

    </div>
</template>

<script>

    import {Errors} from "../../utilities";
    import {Company} from "../../models/Company";
    import {EventBus} from '../../event-bus'
    import {CountrySelect} from "../partials";

    export default {

        props: [],

        components: {CountrySelect},

        data() {
            return {
                company: null,
                errors: null,
            };

        },

        created() {
            this.company = new Company('add-company-page');
            this.errors = new Errors;
        },

        /*
        * Here watch is concerned only with front-end validation
        * Uses inline regex
        */
        watch: {
            //name validation
            'company.name': {
                handler: function (name) {
                    this.errors.clear('name');
                },
                deep: true,
            },

            'company.country_id': {
                handler: function (id) {
                        this.errors.clear('country_id');
                },
                deep: true,
            },

            'company.is_demo_company': {
                handler: function (is_demo) {
                    this.errors.clear('is_demo_company');
                },
                deep: true,
            }
        },

        methods: {
            createCompany() {
                //axios request
                axios.post('/companies', this.company).then(response => {
                    //get company id with response and pass the new id to parent
                    EventBus.$emit('company-created', response.data.company_id);
                })
                    .catch(errors => {
                        console.log(errors);
                        this.errors.errors = errors.response.data;
                    });
            },

        },
    };
</script>

<style lang="css">
    #addCompanyPage #checkbox {
        transform: scale(2.5);
        /*width: 50%;*/
        width: 70px;
        float: right;
        margin-top: 9px;
    }

</style>