/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addEditVehicleProfilePage">

        <section v-show="loaded">

                <!--Only show this section if the mode is not add. It contains info about existing vehicle profiles-->
                <section v-if="mode !== 'add'">

                    <div class="row">
                        <!--the vehicle profile name-->
                        <div class="col-lg-8 col-sm-12">
                            <p class="title"> {{ vehicle_profile_name }}</p>
                        </div>

                        <!--driver count and modal / button-->
                        <div class="col-lg-4 col-sm-12">
                            <div class="text-right" v-if="mode !== 'add'">
                                <button @click="show_modal = !show_modal"
                                        class="btn btn-primary mb-3"
                                        :disabled="vehicleProfile.driver_count == 0">
                                    <i class="fas fa-user"></i> {{ driver_count_message }}
                                </button>
                            </div>


                            <div :class="{'modal':true, 'is-active':show_modal == true}">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title"> Drivers </p>
                                        <button class="delete" @click="show_modal = false"></button>
                                    </header>
                                    <div class="modal-card-body" v-if="show_modal == true">
                                        <ul>
                                            <li v-for="(driver, index) in vehicleProfile.driver_profiles">
                                                {{ index }}. {{ driver | driverInfoFilter }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-card-foot">
                                        <button class="btn btn-danger" @click="show_modal = false">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end driver count modal and button-->
                </section>


            <!--General Profile Settings-->
            <div id="accordion1" class="fusion-accordion">
                <div class="card">
                    <div class="card-header position-relative" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        <h5 class="mb-0">
                            General Profile Settings
                        </h5>
                        <i class="fas fa-angle-down position-absolute" style="font-size: 20px; right: 20px; top: 13px;"></i>
                    </div>

                    <div id="collapse1" class="collapse hide show" aria-labelledby="headingOne" data-parent="#accordion1">
                        <div class="card-body" aria-expanded="true">
                            <!-- ROW 1 -->
                            <div class="columns">

                                <!-- VEHICLE YEAR -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error': vehicleProfile.errors.has('vehicleProfile.vehicle_year')}">
                                        <vehicle-year-select v-model="vehicleProfile.vehicle_year"
                                                             @input="vehicleProfile.validate('vehicle_year')"
                                                             :disabled="read_only"/>
                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.vehicle_year')">{{ vehicleProfile.errors.get('vehicleProfile.vehicle_year') }}</span>
                                    </div>
                                </div>

                                <!-- BASE VEHICLE -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error': vehicleProfile.errors.has('vehicleProfile.vehicle_id')}">
                                        <label>Base Vehicle:</label>
                                        <category-vehicle-select v-model="vehicleProfile.vehicle_id"
                                                                 @input="vehicleProfile.validate('vehicle_id')"
                                                                 :initial_year_id="vehicleProfile.vehicle_year"
                                                                 :initial_favr="0"
                                                                 :hide_label="true"
                                                                 :disabled="read_only"/>
                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.vehicle_id')">{{ vehicleProfile.errors.get('vehicleProfile.vehicle_id') }}</span>
                                    </div>
                                </div>


                                <!-- VEHICLE POSTFIX -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.name_postfix')}">
                                        <label>Profile Name Postfix:</label>

                                        <input type="text" id="postfix" name="postfix" class="form-control"
                                               v-model="vehicleProfile.name_postfix"
                                               @input="vehicleProfile.validate('name_postfix')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.name_postfix')">{{ vehicleProfile.errors.get('vehicleProfile.name_postfix') }}</span>
                                    </div>
                                </div>
                            </div>


                            <!-- ROW 2 -->
                            <div class="columns">

                                <div class="col-md-6">

                                    <div :class="{'form-group': true, 'has-error': vehicleProfile.errors.has('vehicleProfile.capital_cost')}">
                                        <label>Capital Cost:</label>
                                        <capital-cost-select
                                                v-model="vehicleProfile.capital_cost"
                                                @input="vehicleProfile.validate('capital_cost')"
                                                :field-name="'capital_cost'"
                                                :country="vehicleProfile.company_country"
                                                :year="vehicleProfile.vehicle.year"
                                                :service_plan="vehicleProfile.company_service_plan"
                                                :disabled="read_only">
                                        </capital-cost-select>
                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.capital_cost')">{{ vehicleProfile.errors.get('vehicleProfile.capital_cost') }}</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div :class="{'form-group': true, 'has-error': vehicleProfile.errors.has('vehicleProfile.resale_condition_id')}">
                                        <label>Resale Condition:</label>
                                        <resale-condition-select
                                                v-model="vehicleProfile.resale_condition_id"
                                                @input="vehicleProfile.validate('resale_condition_id')"
                                                :country="vehicleProfile.company_country"
                                                :year="vehicleProfile.vehicle_year"
                                                :disabled="read_only">
                                        </resale-condition-select>
                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.resale_condition_id')">{{ vehicleProfile.errors.get('vehicleProfile.resale_condition_id')}}</span>
                                    </div>
                                </div>
                            </div>


                            <!-- ROW 3 -->
                            <div class="columns">
                                <!-- RETENTION -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.retention')}">
                                        <label>Retention:</label>

                                        <input type="text"
                                               name="name"
                                               class="form-control"
                                               v-model="vehicleProfile.retention"
                                               @input="vehicleProfile.validate('retention')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.retention')">{{ vehicleProfile.errors.get('vehicleProfile.retention') }}</span>
                                    </div>
                                </div>

                                <!-- MAXIMUM VEHICLE AGE -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.max_vehicle_age')}">
                                        <label>Maximum Vehicle Age:</label>

                                        <input type="text"
                                               name="name"
                                               class="form-control"
                                               v-model="vehicleProfile.max_vehicle_age"
                                               @input="vehicleProfile.validate('max_vehicle_age')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.max_vehicle_age')">{{ vehicleProfile.errors.get('vehicleProfile.max_vehicle_age') }}</span>
                                    </div>
                                </div>

                                <!-- BUSINESS USE PERCENT -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.business_use_percent')}">
                                        <label>Business Use Percent:</label>

                                        <input type="text"
                                               name="name"
                                               class="form-control"
                                               v-model="vehicleProfile.business_use_percent"
                                               @input="vehicleProfile.validate('business_use_percent')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.business_use_percent')">{{ vehicleProfile.errors.get('vehicleProfile.business_use_percent') }}</span>
                                    </div>
                                </div>

                            </div>


                            <!-- ROW 4 -->
                            <div class="columns" v-show="getActiveRole !== 'administrator'">

                                <!-- CALCULATE FIXED -->
                                <div class="col-md-6">
                                    <label class="checkbox form-group" :disabled="read_only">
                                        <input type="checkbox"
                                               v-model="vehicleProfile.calculate_fixed"
                                               :disabled="read_only">
                                        Use Calculated Fixed
                                    </label>
                                </div>

                                <!-- CALCULATE VARIABLE -->
                                <div class="col-md-6">
                                    <label class="checkbox form-group" :disabled="read_only">
                                        <input type="checkbox"
                                               v-model="vehicleProfile.calculate_variable"
                                               :disabled="read_only">
                                        Use Calculated Variable
                                    </label>
                                </div>

                            </div>

                            <!-- ROW 4 -->
                            <!--Preset fixed and variable rates are NOT to be shown to administrators-->
                            <div class="columns" v-show="getActiveRole !== 'administrator'">

                                <!-- PRESET FIXED -->
                                <div class="col-md-6">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.preset_fixed')}">
                                        <label class="label">Fixed Reimbursement ($/mile):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_fixed"
                                               class="form-control"
                                               v-model="vehicleProfile.preset_fixed"
                                               :disabled="vehicleProfile.calculate_fixed == true || read_only"
                                               @input="vehicleProfile.validate('preset_fixed')">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.preset_fixed')">{{ vehicleProfile.errors.get('vehicleProfile.preset_fixed') }}</span>
                                    </div>
                                </div>

                                <!-- PRESET VARIABLE -->
                                <div class="col-md-6">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.preset_variable')}">
                                        <label class="label">Variable Reimbursement (¢/mile):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_variable"
                                               class="form-control"
                                               v-model="vehicleProfile.preset_variable"
                                               @input="vehicleProfile.validate('preset_variable')"
                                               :disabled="vehicleProfile.calculate_variable == true || read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.preset_variable')">{{ vehicleProfile.errors.get('vehicleProfile.preset_variable') }}</span>
                                    </div>
                                </div>

                                <div class="column is-3"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Fixed Relative Adjustment Factors-->
            <!--Adjustment factors are NOT to be shown to administrators-->
            <div v-show="getActiveRole !== 'administrator'" id="accordion2" class="fusion-accordion">
                <div class="card">
                    <div class="card-header position-relative" id="headingTwo" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        <h5 class="mb-0">
                            Fixed Relative Adjustment Factors
                        </h5>
                        <i class="fas fa-angle-down position-absolute" style="font-size: 20px; right: 20px; top: 13px;"></i>
                    </div>

                    <div id="collapse2" class="collapse hide show" aria-labelledby="headingTwo" data-parent="#accordion2">
                        <div class="card-body" aria-expanded="true">
                            <div class="columns" v-show="getActiveRole !== 'administrator'">

                                <!-- CAPITAL COST ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.capital_cost_adj')}">
                                        <label class="label">Capital Cost (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_fixed"
                                               class="form-control"
                                               v-model="vehicleProfile.capital_cost_adj"
                                               @input="vehicleProfile.validate('capital_cost_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.capital_cost_adj')">{{ vehicleProfile.errors.get('vehicleProfile.capital_cost_adj') }}</span>
                                    </div>
                                </div>

                                <!-- CAPITAL COST TAX ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.capital_cost_tax_adj')}">
                                        <label class="label">Capital Cost Tax (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_fixed"
                                               class="form-control"
                                               v-model="vehicleProfile.capital_cost_tax_adj"
                                               @input="vehicleProfile.validate('capital_cost_tax_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.capital_cost_tax_adj')">{{ vehicleProfile.errors.get('vehicleProfile.capital_cost_tax_adj') }}</span>
                                    </div>
                                </div>

                                <!-- RESALE VALUE ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.resale_value_adj')}">
                                        <label class="label">Resale Value (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_fixed"
                                               class="form-control"
                                               v-model="vehicleProfile.resale_value_adj"
                                               @input="vehicleProfile.validate('resale_value_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.resale_value_adj')">{{ vehicleProfile.errors.get('vehicleProfile.resale_value_adj') }}</span>
                                    </div>
                                </div>

                                <!-- MONTHLY PAYMENT ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.monthly_payment_adj')}">
                                        <label class="label">Monthly Payment (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="preset_fixed"
                                               class="form-control"
                                               v-model="vehicleProfile.monthly_payment_adj"
                                               @input="vehicleProfile.validate('monthly_payment_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.monthly_payment_adj')">{{ vehicleProfile.errors.get('vehicleProfile.monthly_payment_adj') }}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="columns" v-show="getActiveRole !== 'administrator'">

                                <!-- DEPRECIATION ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.depreciation_adj')}">
                                        <label class="label">Depreciation (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="depreciation_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.depreciation_adj"
                                               @input="vehicleProfile.validate('depreciation_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.depreciation_adj')">{{ vehicleProfile.errors.get('vehicleProfile.depreciation_adj') }}</span>
                                    </div>
                                </div>

                                <!-- FINANCE COST ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.finance_cost_adj')}">
                                        <label class="label">Finance Cost (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="finance_cost_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.finance_cost_adj"
                                               @input="vehicleProfile.validate('finance_cost_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.finance_cost_adj')">{{ vehicleProfile.errors.get('vehicleProfile.finance_cost_adj') }}</span>
                                    </div>
                                </div>

                                <!-- INSURANCE ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.insurance_adj')}">
                                        <label class="label">Insurance (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="insurance_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.insurance_adj"
                                               @input="vehicleProfile.validate('insurance_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.insurance_adj')">{{ vehicleProfile.errors.get('vehicleProfile.insurance_adj') }}</span>
                                    </div>
                                </div>

                                <!-- FEE/RENEWAL ADJ -->
                                <div class="col-md-3">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.fee_renewal_adj')}">
                                        <label class="label">Fee/Renewal (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="fee_renewal_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.fee_renewal_adj"
                                               @input="vehicleProfile.validate('fee_renewal_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.fee_renewal_adj')">{{ vehicleProfile.errors.get('vehicleProfile.fee_renewal_adj') }}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Variable Relative Adjustment Factors-->
            <div id="accordion3" class="fusion-accordion">
                <div class="card">
                    <div class="card-header position-relative" id="headingThree" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        <h5 class="mb-0">
                            Variable Relative Adjustment Factors
                        </h5>
                        <i class="fas fa-angle-down position-absolute" style="font-size: 20px; right: 20px; top: 13px;"></i>
                    </div>

                    <div id="collapse3" class="collapse hide show" aria-labelledby="headingThree" data-parent="#accordion2">
                        <div class="card-body" aria-expanded="true">
                            <variable-relative-adjustments
                                    :variableAdjustmentsProp="vehicleProfile.variableAdjustments"
                                    :read_only="read_only"/>

                            <!-- VARIABLE ADJUSTMENT FACTORS -->
                            <div class="columns" v-show="getActiveRole !== 'administrator'">

                                <div class="col-md-3">

                                    <!-- FUEL ECONOMY -->
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.fuel_economy_adj')}">
                                        <label>Fuel Economy (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="fuel_economy_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.fuel_economy_adj"
                                               @input="vehicleProfile.validate('fuel_economy_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.fuel_economy_adj')">{{ vehicleProfile.errors.get('vehicleProfile.fuel_economy_adj') }}</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <!-- FUEL PRICE -->
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.fuel_price_adj')}">
                                        <label>Fuel Price (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="fuel_price_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.fuel_price_adj"
                                               @input="vehicleProfile.validate('fuel_price_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.fuel_price_adj')">{{ vehicleProfile.errors.get('vehicleProfile.fuel_price_adj') }}</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <!-- MAINTENANCE -->
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.maintenance_adj')}">
                                        <label>Maintenance (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="maintenance_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.maintenance_adj"
                                               @input="vehicleProfile.validate('maintenance_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.maintenance_adj')">{{ vehicleProfile.errors.get('vehicleProfile.maintenance_adj') }}</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <!-- REPAIRS -->
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.repair_adj')}">
                                        <label>Repairs (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="repair_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.repair_adj"
                                               @input="vehicleProfile.validate('repair_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.repair_adj')">{{ vehicleProfile.errors.get('vehicleProfile.repair_adj') }}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Absolute Adjustment Factors-->
            <!--Adjustment Factors are NOT to be shown to administrators-->
            <div  v-show="(vehicleProfile.calculate_fixed == true || vehicleProfile.calculate_variable == true) && getActiveRole !== 'administrator'" id="accordion4" class="fusion-accordion">
                <div class="card">
                    <div class="card-header position-relative" id="headingFour" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <h5 class="mb-0">
                            Absolute Adjustment Factors
                        </h5>
                        <i class="fas fa-angle-down position-absolute" style="font-size: 20px; right: 20px; top: 13px;"></i>
                    </div>

                    <div id="collapse4" class="collapse hide show" aria-labelledby="headingFour" data-parent="#accordion2">
                        <div class="card-body" aria-expanded="true">
                            <div class="columns" v-if="vehicleProfile.calculate_fixed == true">

                                <!-- FIXED ADJUSTMNET -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.fixed_adj')}">
                                        <label>Fixed Adjustment (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="fixed_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.fixed_adj"
                                               @input="vehicleProfile.validate('fixed_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.fixed_adj')">{{ vehicleProfile.errors.get('vehicleProfile.fixed_adj') }}</span>
                                    </div>
                                </div>

                                <!-- REASON FOR FIXED ADJUSTMENT -->
                                <div class="col-md-8">

                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.fixed_adj_text')}">
                                        <label>Reason:</label>

                                        <input type="text"
                                               name="fixed_adj_text"
                                               class="form-control"
                                               v-model="vehicleProfile.fixed_adj_text"
                                               @input="vehicleProfile.validate('fixed_adj_text')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.fixed_adj_text')">{{ vehicleProfile.errors.get('vehicleProfile.fixed_adj_text') }}</span>
                                    </div>

                                </div>
                            </div>


                            <div class="columns" v-if="vehicleProfile.calculate_variable == true">

                                <!-- VARIABLE ADJUSTMENT -->
                                <div class="col-md-4">
                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.variable_adj')}">
                                        <label>Variable Adjustment (%):</label>

                                        <input type="number"
                                               step="0.01"
                                               name="variable_adj"
                                               class="form-control"
                                               v-model="vehicleProfile.variable_adj"
                                               @input="vehicleProfile.validate('variable_adj')"
                                               :disabled="read_only">

                                        <span class="help-block" v-if="vehicleProfile.errors.has('vehicleProfile.variable_adj')">{{ vehicleProfile.errors.get('vehicleProfile.variable_adj') }}</span>
                                    </div>
                                </div>

                                <!-- VARIABLE ADJUSTMENT REASON -->
                                <div class="col-md-8">

                                    <div :class="{'form-group': true, 'has-error':vehicleProfile.errors.has('vehicleProfile.variable_adj_text')}">
                                        <label>Reason:</label>

                                        <input type="text"
                                               name="variable_adj_text"
                                               class="form-control"
                                               v-model="vehicleProfile.variable_adj_text"
                                               @input="vehicleProfile.validate('variable_adj_text')"
                                               :disabled="read_only">

                                        <span class="help-block"
                                              v-if="vehicleProfile.errors.has('vehicleProfile.variable_adj_text')">{{ vehicleProfile.errors.get('vehicleProfile.variable_adj_text') }}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--davery-->


            <!--NOTES -->
            <div class="text-right" v-show="getActiveRole !== 'administrator'">
                <button :class="{'btn mb-2': true, 'btn-secondary': show_notes_section, 'btn-primary': !show_notes_section}"
                        @click="show_notes_section = !show_notes_section">
                    <span v-if="show_notes_section">
                        <i class="fal fa-minus"></i>
                    </span>
                    <span v-else>
                        <i class="fal fa-plus"></i>
                    </span>
                     Note
                </button>
            </div>

            <div class="columns m-0 pt-3 mb-3" v-if="show_notes_section && vehicleProfile.note" style="background: lightgrey; border-radius: 4px;" v-show="getActiveRole !== 'administrator'">
                <div class="col-lg-6 col-sm-12">
                    <div :class="{'form-group': true, 'has-error':false}">
                        <label>Title</label>

                        <input type="text"
                               name="variable_adj_text"
                               class="form-control"
                               v-model="vehicleProfile.note.title"
                               :disabled="read_only">

                        <span class="help-block"
                              v-if="false">{{  }}</span>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <div :class="{'form-group': true, 'has-error':false}">
                        <label>Content</label>

                        <input type="text"
                               name="variable_adj_text"
                               class="form-control"
                               v-model="vehicleProfile.note.content"
                               :disabled="read_only">

                        <span class="help-block"
                              v-if="false">{{  }}</span>
                    </div>
                </div>

            </div>

            <hr>

            <!-- BUTTONS -->
            <div class="row" v-if="!proposed && !read_only">

                <!--<div class="col-4 offset-4">-->
                    <!--<button class="btn btn-secondary"-->
                            <!--@click="resetData"> {{ reset_label }}-->
                    <!--</button>-->

                <!--</div>-->

                <div class="col-4 offset-8">
                    <button class="btn btn-success float-right"
                            @click="submitVehicleProfile"
                            :disabled="false"> {{ submit_label }}
                    </button>
                </div>
            </div>
        </section>


    </div>
</template>

<script>
    import {CapitalCostSelect, CategoryVehicleSelect, ResaleConditionSelect} from "../partials";
    import {VariableRelativeAdjustments} from "./index"; // company
    import {VehicleYearSelect} from "../partials";
    import {VehicleProfile} from '../../models';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['mode', 'vehicleProfileProp', 'proposed', 'read_only'],

        components: {CapitalCostSelect, CategoryVehicleSelect, ResaleConditionSelect, VariableRelativeAdjustments, VehicleYearSelect},

        data() {
            return {
                vehicleProfile: new VehicleProfile(),

                vehicle_min_year: -1,
                vehicle_max_year: -1,
                vehicle_year: -1,

                variableAdjustmentIds: [],
                loaded: false,

                // driver count modal
                show_modal: false,

                // new note data
                show_notes_section: false,
            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('save-proposed-vehicle-profile', () => this.submitVehicleProfile() );
            Common.listen('variable-adjustment-ids-changed', this.updateVariableAdjustmentIds);
            console.log(this.vehicleProfileProp);
        },

        beforeDestroy(){
            // remove listeners so we don't have lingering calls later!
            EventBus.$off( 'save-proposed-vehicle-profile')
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getActiveRole',
            ]),

            /**
             *  The name of the vehicle profile damnit!
             */
            vehicle_profile_name: function() {
                let title = 'Loading...';
                if (this.vehicleProfile && this.vehicleProfile.id > 1) {
                    title = this.vehicleProfile.vehicle.year + ' ' + this.vehicleProfile.vehicle.name + ' ' + this.vehicleProfile.name_postfix
                }
                return title;
            },

            /**
             * Used in the driver count modal and button
             */
            driver_count_message: function() {
                return 'There ' + (this.vehicleProfile.driver_count == 1 ? 'is' : 'are') + ' ' + this.vehicleProfile.driver_count + ' driver' + (this.vehicleProfile.driver_count != 1 ? 's' : '' ) + ' assigned to this vehicle profile';
            },

            reset_label: function () {
                return this.mode == 'add' ? 'Reset' : 'Reset Changes';
            },

            submit_label: function () {
                return (this.mode == 'add' ? 'Add' : 'Save') + ' Vehicle Profile';
            }
        },

        filters: {
            driverInfoFilter: function(driver) {
                return driver.user.last_name + ', ' + driver.user.first_name
                    + ' - ' + ( driver.active == 1 ? 'Active' : 'Inactive' )
                    + ' - User Id ' + driver.user.id;
            }
        },

        watch: {
            /**
             * Whenever the prop changes, alter the data
             * DO NOT CHANGE THE FORMAT OF THIS WATCHER
             */
            'vehicleProfileProp': {
                handler: function (val) {
                    console.log('watch vehicleProfileProp', val);
                    this.resetData();
                },
                immediate: true,
            },

            /**
             * When show the notes section is toggled we clear out the old data
             * We do not add notes before the vehicle profile is saved as it might
             * not yet have an id to link it to!
             */
            show_notes_section: function(val) {
                if (val) {
                    if (!this.vehicleProfile.note) {
                        this.vehicleProfile.note = {
                            title: null,
                            content: null,
                        }
                    }
                }
            },
        },

        methods: {

            submitVehicleProfile() {
                this.vehicleProfile.company_id = this.getSessionCompanyId;

                this.vehicleProfile.approved_date = null;
                this.vehicleProfile.approved_by = null;

                this.vehicleProfile.proposed = this.proposed ? 1 : 0;

                //determine request
                let url = this.mode === 'edit' ? '/updateVehicleProfile' : '/addVehicleProfile';

                // determine the flash message to display
                let msg = 'Vehicle Profile ';
                msg += (this.mode == 'edit') ? 'Updated Successfully' : 'Added Successfully';

                let data = {
                    vehicleProfile: this.vehicleProfile,
                    variableAdjustmentIds: this.variableAdjustmentIds,
                    note: this.vehicleProfile.note
                };

                //axios request
                axios.post(url, data).then(response => {
                    if (!this.proposed) {
                        //get vehicle_profile_id with response and pass the new id to parent
                        EventBus.$emit('vehicle-profile-updated', response.data.vehicle_profile_id);
                        //tell parent to switch subpage to show
                        EventBus.$emit('company-vehicle-profile-action', 'show');
                    } else {
                        // send an event to the parent stating the save was successful and pass the saved profile
                        EventBus.$emit('proposed-vehicle-profile-saved-successfully', response.data.vehicle_profile_id);
                    }

                    // flash the message
                    this.flash(msg, 'success');

                }).catch(errors => {
                    this.vehicleProfile.errors.errors = errors.response.data;
                });
            },

            updateVariableAdjustmentIds(ids) {
                this.variableAdjustmentIds = ids;
            },


            /**
             * Clone vehicleProfileProp
             * Clear vehicleProfile.errors
             */
            resetData() {
                this.loaded = false;
                this.vehicleProfile = new VehicleProfile(this.vehicleProfileProp);
                this.vehicleProfile.vehicle_year = this.vehicleProfileProp.vehicle.year;
                this.vehicleProfile.errors.clear();
                this.loaded = true;
            },

        }
    };
</script>

<style lang="scss">

    // don't allow the modal to cover the whole page height. make it reasonable
    #addEditVehicleProfilePage .modal-card {
        max-height: 75vh;

    }

</style>