/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="annualReviews">
        <h2>Annual Reviews</h2>

        <section v-if="getSessionCompanyId > 1">

        <transition name="fade5s">
            <section v-if="loaded_existing_files">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-sm-12">
                        <ul>
                            <li v-for="file in files">
                                <button v-if="getActiveRole === 'super'"
                                        class="btn btn-danger btn-sm deactivate-user"
                                        @click="deleteFile(file)">
                                    <i class="fal fa-times"></i>
                                </button>
                                <a  href="#" target="_blank"
                                    :disabled="false"
                                    @click.prevent="selectFile(file)">
                                    {{ file }}
                                </a>
                                <i v-if="selected_file && selected_file == file" class="fas fa-arrow-left"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <button v-if="getActiveRole === 'super'"
                                class="btn btn-primary"
                                @click="show_modal = true">
                            Upload Annual Review
                        </button>
                    </div>
                </div>
            </section>
        </transition>

        <!--upload modal-->
        <div id="newFileModal" :class="{'modal':true, 'is-active': show_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Upload Excel</p>
                    <button class="delete" aria-label="close" @click="show_modal = false"></button>
                </header>
                <section class="modal-card-body">
                    <p>Please enter the appropriate year and then drag the file for upload</p>
                    <div :class="{'form-control': true, 'has-error': !valid_year}">
                        <year-select v-model="year"/>
                        <span class="help-block" v-if="!valid_year">Invalid year</span>
                    </div>


                    <dropzone v-show="getActiveRole === 'super' && valid_year"
                              :class="'driver-upload'"
                              id="licenseDropzone"
                              :url="upload_url"
                              @vdropzone-success="showSuccess()"
                              :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                              :max-file-size-in-m-b="max_file_size"
                              :language="langSettings"
                              ref="dropzone"
                              :accepted-file-types="'.pdf'">
                        <input type="hidden" name="csrf-token" :value="csrfToken">
                    </dropzone>


                    <div v-if="upload_successful" class="text-center">
                        <p>Success!</p>
                        <button class="btn btn-secondary" @click="closeAfterSuccess()">Close Window</button>
                    </div>

                </section>
                <footer class="modal-card-foot">
                    <!--<button class="btn btn-danger" @click="removeFiles()">Remove File</button>-->
                    <button class="btn" @click="show_modal = false">Close</button>
                </footer>
            </div>
        </div>


        <!--PDF VIEWER-->
        <transition name="fade5s">
            <section v-if="selected_file" style="margin-top: 2rem;">
                <div class="row"
                     style="background: #aaa; position: relative; padding: 1rem;">
                    <div class="col p-0 text-center">
                        <button v-if="num_pages > 1"
                                :disabled="current_page == 1"
                                :class="{ 'btn btn-sm btn-secondary mr-2': true, 'opacity3': current_page == 1 }"
                                @click="previousPage()">
                            <i class="fas fa-angle-left" style="vertical-align: unset"></i>
                        </button>
                        <span style="color: #fff;"><!--<span style="font-size: 14px;">Document</span>--> {{ current_page }} / {{ num_pages }}</span>
                        <button v-if="num_pages > 1"
                                :disabled="current_page === num_pages"
                                :class="{ 'btn btn-sm btn-secondary ml-2': true, 'opacity3': current_page === num_pages }"
                                @click="nextPage()">
                            <i class="fas fa-angle-right" style="vertical-align: unset"></i>
                        </button>
                    </div>

                    <div class="col p-0 text-right">
                        <button class="btn btn-secondary btn-sm" @click="downloadFile(selected_file)">
                            Download
                        </button>
                    </div>

                    <div class="col p-0 text-right">
                        <button class="btn btn-secondary btn-sm"
                                @click="pdfWidth !== 10 ? pdfWidth -= 10 : pdfWidth = 10">
                            <i class="fas fa-minus" style="vertical-align: unset"></i>
                        </button>

                        <button class="btn btn-secondary btn-sm" @click="pdfWidth = 100">
                            {{ pdfWidth }}%
                        </button>

                        <button class="btn btn-secondary btn-sm" @click="pdfWidth += 10">
                            <i class="fas fa-plus" style="vertical-align: unset"></i>
                        </button>
                    </div>
                </div>

                <div class="row"
                     style="background: #aaa; position: relative; padding: 1rem;">
                    <div class="col p0 text-center">
                        <div :style="{ height: pdfHeight * (pdfWidth/100) + 'px' }"
                             :class="{ 'pr-3 pb-2 pl-3': true, 'scroll-y': num_pages > 1 || pdfWidth > 100, 'scroll-x': pdfWidth > 100 }">

                            <div style="margin: 0 auto;"
                                 :style="{ width: pdfWidth + '%' }">

                                <!--<p v-if="pdf_loading">Loading...</p>-->

                                <pdf v-for="i in num_pages"
                                     :key="i"
                                     :src="'/storage/tmp/' + selected_file"
                                     :page="current_page"
                                     :rotate="pdfRotation"
                                     @loaded="pdfLoaded"
                                     :style="{'height': pdfHeight + 'px'}"
                                     class="pt-2 pb-2">
                                </pdf>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </transition>

        <transition name="fade5s">
            <section v-if="loaded_existing_files && (!files || files.length == 0)">
                <div class="row"
                     style="background: #aaa; position: relative; padding: 1rem; margin-top: 2rem;">
                    <em style="color: white;">No files have been uploaded yet</em>

                </div>
            </section>
        </transition>


        <div id="deleteFileModal" :class="{'modal': true, 'is-active': show_delete_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Are you sure?</p>
                    <button class="delete" @click="cancelDelete()" :disabled="deleting_file"></button>
                </header>
                <section class="modal-card-body">
                    Clicking delete will permanently delete {{ file_to_delete }}
                    from CarData Fusion.
                </section>
                <footer class="modal-card-foot">
                    <button class="btn" @click="cancelDelete()" :disabled="deleting_file">Cancel</button>
                    <button class="btn btn-danger" @click="confirmDelete()" :disabled="deleting_file">Delete</button>
                </footer>
            </div>
        </div>



        <loading-partial v-show="!loaded_existing_files"/>

        </section>

        <section v-else>

            <em>Please select a company</em>

        </section>
    </div>
</template>

<script>
    import moment from 'moment';
    import pdf from 'vue-pdf';
    import Dropzone from 'vue2-dropzone';
    import {LoadingPartial, YearSelect} from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {Dropzone, LoadingPartial, YearSelect, pdf},

        data() {
            return {
                files: null,
                loaded_existing_files: false,
                selected_file: false,
                year: moment().format('YYYY'),

                // modals
                show_modal: false,
                show_delete_modal: false,
                file_to_delete: null,
                deleting_file: false,

                // dropzone
                csrfToken: document.head.querySelector('meta[name=csrf-token]').content,
                upload_successful: false,
                max_file_size: 10,

                // deal with the case where there is an upload error, but the server response cannot be parsed
                langSettings: {
                    dictResponseError: 'An error occurred in your upload. Please ensure the file that you are trying to upload is less than 10MB in size, and is an image, pdf, or MS Word document.'
                },

                // PDF
                pdf_loading: false,
                current_page: 1,
                url: null,
                num_pages: null,
                loadingTask: null,
                // PDF defaults
                pdfRotation: 0,
                pdfWidth: 100,
                pdfHeight: 0,
            };
        },

        created() {
        },

        mounted() {
            this.getExistingFiles()
                .then(() => {
                    this.file_to_delete = null;
                    this.show_delete_modal = false;
                    this.deleting_file = false;
                })
                .catch(err => {
                    console.log('AnnualReviews: could not get files, company_id = ',err);
                });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getActiveRole'
            ]),

            upload_url: function() {
                return '/uploadAnnualReview/' + this.getSessionCompanyId + '/' + this.year;
            },

            valid_year: function() {
                let date = moment(this.year, 'YYYY', true);
                return date.isValid();
            },
        },

        watch: {
            upload_url: {
                handler: function(val) {
                    console.log('refs', this.$refs);
                    this.$refs.dropzone.setOption('url', val);
                },
            },

            'getSessionCompanyId': function() {
                this.loaded_existing_files = false;
                this.selected_file = null;
                this.files = [];
                this.getExistingFiles().then(() => {
                    this.file_to_delete = null;
                    this.show_delete_modal = false;
                    this.deleting_file = false;
                })
                    .catch(err => {
                        console.log('AnnualReviews: could not get files, company_id = ',err);
                    });
            },

            valid_year: function(val) {
                this.enableDropzone(val);
            },

            // pdf loading task
            'loadingTask': {
                handler: function (val) {
                    this.pdf_loading = true;
                    if (val != null) {
                        this.loadingTask.then(pdf => {
                            this.num_pages = pdf.numPages;
                            this.pdf_loading = false;
                            this.pdfRotation = 0;
                            this.pdfWidth = 100;
                        });
                    }
                },
                deep: true,
            },
        },

        methods: {
            /** EXISTING FILES */
            getExistingFiles() {
                return new Promise((resolve, reject) => {
                    if (this.getSessionCompanyId < 1) {
                        reject(-1);
                    } else {
                        axios.get('/getAnnualReviews/' + this.getSessionCompanyId).then( response => {
                            this.files = response.data.files;
                            this.loaded_existing_files = true;
                            if( this.files && this.files.length > 0) {
                                this.selectFile(this.files[0]);
                            } else {
                                this.selected_file = null;
                                this.files = [];
                            }
                            resolve();
                        });
                    }
                })
            },


            deleteFile(file) {
                this.file_to_delete = file;
                this.show_delete_modal = true;
            },

            confirmDelete() {
                this.deleting_file = true;
                axios.post('/deleteAnnualReview', {
                    filename: this.file_to_delete,
                    company_id: this.getSessionCompanyId
                }).then( response => {
                    this.getExistingFiles().then(() => {
                        this.file_to_delete = null;
                        this.show_delete_modal = false;
                        this.deleting_file = false;
                    })
                        .catch(err => {
                            console.log('AnnualReviews: could not get files, company_id = ',err);
                        });
                }).catch( errors => {
                    alert(errors);
                    this.file_to_delete = null;
                    this.show_delete_modal = false;
                    this.deleting_file = false;
                })
            },

            cancelDelete() {
                this.show_delete_modal = false;
                this.file_to_delete = null;
            },

            selectFile(file) {
                this.selected_file = file;
                this.loadingTask = pdf.createLoadingTask('/storage/tmp/' + file);
                this.current_page = 1;
            },

            enableDropzone(bool) {
                if (bool) {
                    this.$refs.dropzone.enable();
                } else {
                    this.$refs.dropzone.disable();
                    this.$refs.dropzone.removeAllFiles(true);
                }
            },

            downloadFile(filename) {
                let path_to_file = '/storage/tmp/' + filename;
                let a = document.createElement('A');
                a.href = path_to_file;
                a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            },

            /** FILE UPLOAD */
            closeAfterSuccess() {
                // TODO FIND LATEST FILE UPLOADED IF APPLICABLE
                this.selected_file = null;
                this.show_modal = false;
                this.removeFiles();
                this.getExistingFiles().then(() => {
                    this.file_to_delete = null;
                    this.show_delete_modal = false;
                    this.deleting_file = false;
                })
                    .catch(err => {
                        console.log('AnnualReviews: could not get files, company_id = ',err);
                    });
            },

            // used to remove files from the vuejs dropzone
            removeFiles() {
                this.$refs.dropzone.removeAllFiles(true);
                this.upload_successful = false;
            },

            showSuccess() {
                this.upload_successful = true
            },


            /** PDFS */
            pdfLoaded() { // after pdf loads, set this.pdfHeight
                const self = this;
                setTimeout(function() {
                    self.setPdfHeight()
                }, 300);
            },

            setPdfHeight() {
                let getPdfPageHeight = document.getElementsByTagName('canvas')[0].style.height.split('px');
                let pdfPageHeight = parseInt(getPdfPageHeight[0]);
                this.pdfHeight = pdfPageHeight + 48;
            },

            nextPage() {
                if ( this.current_page < this.num_pages ) {
                    this.current_page++;
                }
            },

            previousPage() {
                if ( this.current_page != 1 ) {
                    this.current_page--;
                }
            }
        }
    };
</script>

<style lang="css">

</style>