<template lang="html">
    <div id="carPolicyView">
        <h3><i class="fal fa-usd-circle"></i> {{ getCompanyName }} Car Policy</h3>
        <br>

        <div v-if="loaded">

            <div class="columns">
                <!-- Vehicle -->
                <div v-if="companyModuleOptions.enforce_vehicle_age == 1" class="column grid">
                    <div class="box">
                        <p class="title">Vehicle</p>
                        <p v-if="companyModuleOptions.service_plan == 'FAVR'">
                            Your Vehicle must meet the following IRS FAVR rules and regulations:
                            <!--<span class="fa fa-info" @click="openFAVR"></span>-->
                        </p>

                        <ul style="list-style-type: square; margin-left: 30px;">
                            <li>
                                Vehicle Age must meet minimum age requirements: Vehicle Model year must be
                                {{ new Date().getFullYear() - max_vehicle_age }}
                                or newer.
                            </li>
                            <li v-if="companyModuleOptions.enforce_vehicle_age == 1">Odometer
                                of your vehicle must be entered when starting the program.
                            </li>
                            <li v-if="companyModuleOptions.enforce_vehicle_age == 1">Vehicle
                                Cost must meet the minimum requirement displayed.
                            </li>
                            <li v-if="companyModuleOptions.enforce_vehicle_age == 1">The
                                Straight-Line Depreciation Method is the only acceptable method used on your personal
                                income taxes for the vehicle you enter into this program.
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Mileage -->
                <div v-if="true" class="column grid">
                    <div class="box">
                        <p class="title">IRS Minimum Business Mileage Requirement</p>
                        <br>
                        Minimum of 5,000 business miles per year, adjusted for the number of active months on the
                        program.
                    </div>
                </div>
            </div>

            <div class="columns">
                <!-- Insurance -->
                <div class="column grid">
                    <div class="box">
                        <insurance-minimums/>
                    </div>
                </div>
                <!-- Documents -->
                <div class="column grid">
                    <div class="box">
                        <policy-documents :car_policy_accepted="driverData.car_policy_accepted"/>
                    </div>
                </div>
            </div>

            <div class="columns">
                <!-- Important Dates -->
                <div class="column grid">
                    <div class="box">
                        <mileage-dates/>
                    </div>
                </div>

                <div class="column grid">
                    <div class="box">
                        <payment-schedule/>
                    </div>
                </div>
            </div>

        </div>
        <div v-else>
            <loading-partial/>
        </div>

    </div>
</template>

<script>
    import {InsuranceMinimums, MileageDates, PaymentSchedule, PolicyDocuments} from "./index"; // company
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";

    export default {

        components: {InsuranceMinimums, PolicyDocuments, MileageDates, PaymentSchedule, LoadingPartial},

        data() {
            return {
                caller_id: 'carPolicyView',

                loaded: false,
                companyPolicy: null,
                driverData: null,
                companyModuleOptions: null,

                max_vehicle_age: null,
            };
        },

        created() {
        },

        mounted() {
            axios.get('/getDriverData').then(response => {

                if (typeof response.data.message !== 'undefined' && response.data.message == 'No data') {
                    // console.log('something went wrong...')
                }
                else {
                    this.driverData = response.data.driverData;
                    // console.log(this.driverData)

                    if (this.getCompanyId > 0) {
                        axios.get('/getCompanyModuleOptions/' + this.getCompanyId).then(response => {
                            this.companyModuleOptions = response.data.companyModuleOptions;

                            axios.get('/getDriverVehicleProfile').then(response => {
                                this.max_vehicle_age = response.data.vehicle.max_vehicle_age;
                                this.loaded = true;
                            });
                            this.loaded = true;
                        });
                    }
                }
            });
        },

        computed: {
            ...mapGetters([
                'getCompanyName',
                'getCompanyId',
                'getCompanyPlan',
                'getCompanySelection',
                'getUserType',
            ])
        }

    };
</script>

<style lang="css">


    #carPolicyView .column.grid {
        display: inline-flex;
    }

    #carPolicyView .column.grid > div {
        width: 100%;
    }

    /*#carPolicyView .column.grid > .box {
        border: .1rem solid lightblue;
    }*/

    #carPolicyView .table-title.is-right {
        text-align: right;
        font-weight: bold;
    }

    #carPolicyView .table-title.is-left {
        text-align: left;
        font-weight: bold;
    }

</style>