/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyOptions" ref="companyOptions">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.use_cardata_online"
                                   :disabled="input_disabled">
                            Use CarData Online
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.driver_can_edit_profile"
                                   :disabled="input_disabled">
                            Driver Can Edit Profile
                        </label>
                    </div>
                </div>
                <br>

                <div :class="{'form-group row': true, 'has-error': optionsErrors.has('service_plan')}">
                    <label class="label col-sm-6">Company Plan:</label>

                    <div class="col-sm">
                        <company-plan-select v-model="editedOptions.service_plan"
                                             :hideLabel="1"
                                             :disabled="input_disabled"/>
                        <span class="help-block" v-if="optionsErrors.has('service_plan')">{{ optionsErrors.get('service_plan') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error': optionsErrors.has('can_view_reimbursement_profile')}">
                    <label class="label col-sm-6">Reimbursement Profile Visibility</label>

                    <div class="col-sm">
                        <select type="select" class="form-control"
                                v-model="editedOptions.can_view_reimbursement_profile"
                                :disabled="input_disabled">
                            <option value="null">Please select one...</option>
                            <option value="All Users">All Users</option>
                            <option value="Administrators">Administrators & Supers</option>
                            <option value="Super">Super</option>
                        </select>
                        <span class="help-block" v-if="optionsErrors.has('can_view_reimbursement_profile')">{{ optionsErrors.get('can_view_reimbursement_profile') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error': optionsErrors.has('can_view_reimbursement_details')}">
                    <label class="label col-sm-6">Reimbursement Details Visibility</label>

                    <div class="col-sm">
                        <select class="form-control"
                                v-model="editedOptions.can_view_reimbursement_details"
                                :disabled="input_disabled">
                            <option value="null">Please select one...</option>
                            <option value="All Users">All Users</option>
                            <option value="Administrators">Administrators & Supers</option>
                            <option value="Super">Super</option>
                        </select>
                        <span class="help-block" v-if="optionsErrors.has('can_view_reimbursement_details')">{{ optionsErrors.get('can_view_reimbursement_details') }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="border-left: 2px solid #dddddd;">
                <h5>Dates</h5>

                <div :class="{'form-group row': true, 'has-error':optionsErrors.has('launch_date')}">
                    <label class="label col-sm-6">Launch Date:</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="editedOptions.launch_date"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"
                                                   :placeholder="'Select a launch date...'"/>

                        <span class="help-block" v-if="optionsErrors.has('launch_date')">{{ optionsErrors.get('launch_date') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':optionsErrors.has('driver_passwords_date')}">
                    <label class="label col-sm-6">Driver Passwords Date:</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="editedOptions.driver_passwords_date"
                                                   :config="datePickerOptions"
                                                   :disabled="input_disabled"
                                                   :placeholder="'Select a passwords date...'"/>
                        <span class="help-block" v-if="optionsErrors.has('driver_passwords_date')">{{ optionsErrors.get('driver_passwords_date') }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.use_start_stop_dates"
                                   :disabled="input_disabled">
                            Use Start / Stop Dates
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.use_insurance_dates"
                                   :disabled="input_disabled">
                            Use Insurance Dates
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.use_drivers_license_dates"
                                   :disabled="input_disabled">
                            Use Drivers License Dates
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0 mb-1">

        <div class="row" style="padding-top: 1rem;">
            <div class="col-sm-6">
                <h5>Reports</h5>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.reports_display_manager_id"
                                   :disabled="input_disabled">
                            Display Manager ID
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedOptions.reports_display_job_title"
                                   :disabled="input_disabled">
                            Display Job Title
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Options
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div><!-- end buttons -->
        </div>


        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import {Errors} from '../../utilities';
    import {LoadingPartial, CompanyPlanSelect, ErrorsModal} from '../partials';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['options', 'company_id', 'mode'],

        components: {LoadingPartial, CompanyPlanSelect, VueBootstrapDatePicker, ErrorsModal},

        data() {
            return {
                caller_id: 'CompanyOptions',
                editedOptions: null,
                optionsErrors: new Errors,
                updating_options: false,
            };
        },

        created() {

        },

        mounted() {
            if (this.options) {

            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getActiveRole'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedOptions, this.options);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },

        watch: {
            //Clone the prop for changes
            'options': {
                handler: function (options) {
                    if (options != null) {
                        this.cancelChanges();
                    }
                },
                immediate: true,
                deep: true
            },


            //VALIDATION

            'editedOptions.service_plan': {
                handler: function (val) {
                    // console.log(val);
                    if (!Common.isEmpty(val)) {
                        this.optionsErrors.clear('service_plan');
                    } else {
                        this.optionsErrors.add('service_plan', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedOptions.launch_date': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.optionsErrors.clear('launch_date');
                    } else {
                        this.optionsErrors.add('launch_date', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedOptions.driver_passwords_date': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.optionsErrors.clear('driver_passwords_date');
                    } else {
                        this.optionsErrors.add('driver_passwords_date', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedOptions.can_view_reimbursement_profile': {
                handler: function (val) {
                    if (val != null && this.editedOptions.can_view_reimbursement_details == null) {
                        this.optionsErrors.add('can_view_reimbursement_profile', ['Please select one']);
                        this.optionsErrors.add('can_view_reimbursement_details', ['Please select one']);
                    } else {
                        this.optionsErrors.clear('can_view_reimbursement_profile');
                        this.optionsErrors.clear('can_view_reimbursement_details');
                    }

                    if (val == 'Administrators') {
                        // console.log('here')
                        if (this.editedOptions.can_view_reimbursement_details == 'All Users') {
                            this.optionsErrors.add('can_view_reimbursement_profile', ['Conflicting Permissions']);
                            this.optionsErrors.add('can_view_reimbursement_details', ['Conflicting Permissions']);
                        } else {
                            this.optionsErrors.clear('can_view_reimbursement_profile');
                            this.optionsErrors.clear('can_view_reimbursement_details');
                        }
                    } else if (val == 'Super') {
                        if (this.editedOptions.can_view_reimbursement_details != 'Super') {
                            this.optionsErrors.add('can_view_reimbursement_profile', ['Conflicting Permissions']);
                            this.optionsErrors.add('can_view_reimbursement_details', ['Conflicting Permissions']);
                        } else {
                            this.optionsErrors.clear('can_view_reimbursement_profile');
                            this.optionsErrors.clear('can_view_reimbursement_details');
                        }
                    } else {
                        this.optionsErrors.clear('can_view_reimbursement_profile');
                        this.optionsErrors.clear('can_view_reimbursement_details');
                    }
                },
                deep: true,
            },

            'editedOptions.can_view_reimbursement_details': {
                handler: function (val) {
                    if (val == 'Administrators') {
                        if (this.editedOptions.can_view_reimbursement_profile == 'Super') {
                            this.optionsErrors.add('can_view_reimbursement_profile', ['Conflicting Permissions']);
                            this.optionsErrors.add('can_view_reimbursement_details', ['Conflicting Permissions']);
                        } else {
                            this.optionsErrors.clear('can_view_reimbursement_profile');
                            this.optionsErrors.clear('can_view_reimbursement_details');
                        }
                    } else if (val == 'Super') {
                        if (this.editedOptions.can_view_reimbursement_profile == null) {
                            this.optionsErrors.add('can_view_reimbursement_profile', ['Conflicting Permissions']);
                            this.optionsErrors.add('can_view_reimbursement_details', ['Conflicting Permissions']);
                        } else {
                            this.optionsErrors.clear('can_view_reimbursement_profile');
                            this.optionsErrors.clear('can_view_reimbursement_details');
                        }
                    } else {
                        if (val != this.editedOptions.can_view_reimbursement_profile) {
                            this.optionsErrors.add('can_view_reimbursement_profile', ['Conflicting Permissions']);
                            this.optionsErrors.add('can_view_reimbursement_details', ['Conflicting Permissions']);
                        } else {
                            this.optionsErrors.clear('can_view_reimbursement_profile');
                            this.optionsErrors.clear('can_view_reimbursement_details');
                        }
                    }
                },
                deep: true,
            },


        },

        methods: {

            /**
             * clone options
             * Clear optionsErrors
             * TODO: ??
             */
            cancelChanges() {
                this.editedOptions = _.cloneDeep(this.options);
                this.optionsErrors.clear();
                this.$forceUpdate();
                // console.log('RESET OPTIONS');
            },

            /**
             * update company profile table
             * catch and update optionsErrors if they exist
             */
            submitChanges() {
                this.updating_options = true;
                let data = {options: this.editedOptions};
                axios.post('/updateCompanyOptions/' + this.getSessionCompanyId, data).then(response => {
                    // console.log('company options successfully updated:');
                    // console.log(this.editedOptions);
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    this.updating_options = false;
                })
                    .catch(optionsErrors => {
                        this.optionsErrors.errors = optionsErrors.response.data;

                        // Here the specific errors are passed into ErrorsModal via the event
                        Common.fire(this.caller_id + '-errors-submitting', this.optionsErrors.errors);

                        // scroll to the position of the first error
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_options = false;

                    });

            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }

        }
    };
</script>

<style lang="css">

</style>