/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <!--TODO: history and bank, don't show bank for admins-->
    <div id="companyFinancials" ref="companyFinancials">
        <div :class="{'col-lg-6 col-sm-12': true}">

        </div>

        <!-- GENERAL FINANCIAL SETTINGS -->
        <h5>General</h5>

        <div class="row">

            <!-- PAYMENT RESPONSIBILITY -->
            <div class="col-lg-6 col-sm-12">
                <div :class="{'form-group': true, 'has-error':financialsErrors.has('payment_responsibility')}">
                    <label class="label">Payment Responsibility:</label>
                    <select v-model="financials.payment_responsibility"
                            class="form-control"
                            :disabled="input_disabled">
                        <option :value="null">Select one...</option>
                        <option>CarData</option>
                        <option>Client</option>
                    </select>
                    <span class="help-block" v-if="financialsErrors.has('payment_responsibility')">{{ financialsErrors.get('payment_responsibility') }}</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12" v-if="financials.payment_responsibility === 'CarData'">
                <bank-select v-model="financials.processingBank"
                             :class="{'has-error': financialsErrors.has('processing_bank')}"
                             :disabled="input_disabled"/>
                <span class="help-block" v-if="financialsErrors.has('processing_bank')">{{ financialsErrors.get('processing_bank') }}</span>
            </div>
        </div>

        <!-- CHECKBOXES -->
        <div class="row" style="margin-top: 1rem;">

            <div class="col-lg-4 col-sm-12">
                <label class="checkbox" :disabled="input_disabled">
                    <input type="checkbox" v-model="financials.use_advance_payment"
                           :disabled="input_disabled">
                    Use Advance Payment
                </label>
            </div>

            <div class="col-lg-4 col-sm-12">
                <label class="checkbox" :disabled="input_disabled">
                    <input type="checkbox" v-model="financials.override_fixed_rates"
                           :disabled="input_disabled">
                    Override Fixed Rates
                </label>
            </div>

            <div class="col-lg-4 col-sm-12">
                <label class="checkbox" :disabled="input_disabled">
                    <input type="checkbox" v-model="financials.override_variable_rates"
                           :disabled="input_disabled">
                    Override Variable Rates
                </label>
            </div>
        </div>

        <hr class="m-0 mb-1">

        <!-- DATES -->
        <h5>Dates</h5>

        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <div :class="{'form-group': true, 'has-error':financialsErrors.has('direct_pay_day')}">
                    <label class="label">Direct Pay Day:</label>

                    <input type="number"
                           name="direct_pay_day"
                           step="1"
                           class="form-control"
                           v-model="financials.direct_pay_day"
                           :disabled="input_disabled">

                    <span class="help-block" v-if="financialsErrors.has('direct_pay_day')">{{ financialsErrors.get('direct_pay_day') }}</span>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div :class="{'form-group': true, 'has-error':financialsErrors.has('pay_file_day')}">
                    <label class="label">Pay File Day:</label>

                    <input type="number"
                           name="pay_file_day"
                           step="1"
                           class="form-control"
                           v-model="financials.pay_file_day"
                           :disabled="input_disabled">

                    <span class="help-block" v-if="financialsErrors.has('pay_file_day')">{{ financialsErrors.get('pay_file_day') }}</span>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div :class="{'form-group': true, 'has-error':financialsErrors.has('no_reimbursement_notification_day')}">
                    <label class="label">No Reimbursement Notification Day:</label>

                    <input type="number" name="no_reimbursement_notification_day"
                           step="1" class="form-control"
                           v-model="financials.no_reimbursement_notification_day"
                           :disabled="input_disabled">

                    <span class="help-block" v-if="financialsErrors.has('no_reimbursement_notification_day')">{{ financialsErrors.get('no_reimbursement_notification_day') }}</span>
                </div>
            </div>

        </div>

        <transition name="fade5s">
            <section>

                <hr class="m-0 mb-1">

                <!-- FEES -->
                <h5>Fees</h5>

                <div class="row">

                    <div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':financialsErrors.has('file_fee')}">
                            <label class="label">Direct Pay File Fee:</label>

                            <input type="number" name="direct_pay_file_fee" class="form-control"
                                   v-model="financials.currentFees.file.amount"
                                   :disabled="input_disabled || financials.payment_responsibility != 'CarData'">

                            <span class="help-block" v-if="financialsErrors.has('file_fee')">{{ financialsErrors.get('file_fee') }}</span>
                        </div>
                        <div :class="{'form-group': true, 'has-error': financialsErrors.has('file_fee_starting')}">
                            <label>Valid Starting</label>
                            <vue-bootstrap-date-picker v-model="financials.currentFees.file.from_date"
                                                       :disabled="input_disabled || financials.payment_responsibility != 'CarData'"
                                                       :config="datePickerOptions"/>
                            <span class="help-block" v-if="financialsErrors.has('file_fee_starting')">{{ financialsErrors.get('file_fee_starting') }}</span>
                        </div>

                        <fee-history style="margin-top: 1rem;" :fee="'file'"
                                     :disabled="input_disabled"/>

                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':financialsErrors.has('driver_fee')}">
                            <label class="label">Direct Pay Driver Fee:</label>

                            <input type="number" name="direct_pay_driver_fee" class="form-control"
                                   v-model="financials.currentFees.driver.amount"
                                   :disabled="input_disabled || financials.payment_responsibility != 'CarData'">

                            <span class="help-block" v-if="financialsErrors.has('driver_fee')">{{ financialsErrors.get('driver_fee') }}</span>
                        </div>
                        <div :class="{'form-group': true, 'has-error': financialsErrors.has('driver_fee_starting')}">
                            <label>Valid Starting</label>
                            <vue-bootstrap-date-picker v-model="financials.currentFees.driver.from_date"
                                                       :disabled="input_disabled || financials.payment_responsibility != 'CarData'"
                                                       :config="datePickerOptions"/>
                            <span class="help-block" v-if="financialsErrors.has('driver_fee_starting')">{{ financialsErrors.get('driver_fee_starting') }}</span>
                        </div>

                        <fee-history style="margin-top: 1rem;" :fee="'driver'"
                                     :disabled="input_disabled"/>

                    </div>

                    <!--<div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':financialsErrors.has('invoice_fee')}">
                            <label class="label">Invoice Per Driver Fee:</label>

                            <input type="number"
                                   name="per_driver_fee"
                                   class="form-control"
                                   v-model="financials.currentFees.invoice.amount"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="financialsErrors.has('invoice_fee')">{{ financialsErrors.get('invoice_fee') }}</span>
                        </div>
                        <div :class="{'form-group': true, 'has-error': financialsErrors.has('invoice_fee_starting')}">
                            <label>Valid Starting</label>
                            <vue-bootstrap-date-picker v-model="financials.currentFees.invoice.from_date"
                                                       :disabled="input_disabled"
                                                       :config="datePickerOptions"/>
                            <span class="help-block" v-if="financialsErrors.has('invoice_fee_starting')">{{ financialsErrors.get('invoice_fee_starting') }}</span>
                        </div>

                        <fee-history style="margin-top: 1rem;" :fee="'invoice'"
                                     :disabled="input_disabled"/>

                    </div>-->

                </div>

            </section>
        </transition>

        <hr class="m-0 mb-1">


        <!-- SAVE AND RESET -->
        <div class="row">

            <div class="col-6">
                <loading-partial v-show="updating_financials"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success float-right" style="margin-left: 1rem;"
                        v-if="getActiveRole === 'super'"
                        @click="saveFinancials()"
                        :disabled="financialsErrors.any() || input_disabled || updating_financials">
                    Save Financials
                </button>

                <button class="btn btn-secondary float-right"
                        v-if="getActiveRole === 'super'"
                        @click="resetData()"
                        title="Cancel will reverse any unsaved changes"
                        :disabled="input_disabled || updating_financials || cancel_disabled">
                    Cancel
                </button>

            </div>

        </div>

        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import {Errors} from "../../utilities";
    import {CompanyTaxQuarters, FeeHistory} from '../company'
    import {BankSelect, ErrorsModal, LoadingPartial} from "../partials";
    import {mapGetters} from 'vuex';

    export default {

        props: ['financialsProp', 'company_id', 'mode'],

        components: {CompanyTaxQuarters, FeeHistory, BankSelect, ErrorsModal, LoadingPartial, VueBootstrapDatePicker},

        data() {
            return {
                caller_id: 'CompanyFinancials',
                financials: null,
                financialsErrors: new Errors,
                updating_financials: false,

                datePickerOptions: {
                    format: 'YYYY-MM-01',
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'top'
                    },
                    useCurrent: false,
                },
            };
        },

        created() {

        },

        mounted() {
            Common.listen('fees-deleted', this.getUpdatedFees);
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getActiveRole'
            ]),

            input_disabled: function() {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function() {
                return _.isEqual(this.financials, this.financialsProp);
            }
        },

        watch: {
            //Clone the prop for changes
            'financialsProp': {
                handler: function (financials) {
                    if (financials != null) {
                        this.resetData();
                    }
                },
                immediate: true,
                deep: true
            },


            //VALIDATION

            'financials.payment_responsibility': {
                handler: function (val) {
                    // console.log(val);
                    if (!Common.isEmpty(val)) {
                        this.financialsErrors.clear('payment_responsibility');
                    } else {
                        this.financialsErrors.add('payment_responsibility', ['Please select one']);
                    }
                    this.financials.invocing_interval = null;
                },
                deep: true,
            },

            'financials.processingBank': {
                handler: function (val) {

                    console.log('this', val)
                    console.log('prop', this.financialsProp.processingBank);
                    // this ensures that if bank is switched but then returned to the active date will show
                    if (val && val.id == this.financialsProp.processingBank.id && !val.active_since) {
                        this.financials.processingBank = _.cloneDeep(this.financialsProp.processingBank)
                    }

                    if (this.financials.payment_responsibility == 'CarData') {
                        if (!Common.isEmpty(val)) {
                            this.financialsErrors.clear('processing_bank');
                        } else {
                            this.financialsErrors.add('processing_bank', ['Please select one']);
                        }
                    } else {
                        this.financialsErrors.clear('processing_bank');
                    }
                },
                deep: true,
            },

            'financials.direct_pay_day': {
                handler: function (val) {
                    this.financials.direct_pay_day = parseInt(val);
                    if (0 <= val && val <= 28) {
                        this.financialsErrors.clear('direct_pay_day');
                    } else {
                        this.financialsErrors.add('direct_pay_day', ['Invalid day']);
                    }
                },
                deep: true,
            },

            'financials.pay_file_day': {
                handler: function (val) {
                    this.financials.pay_file_day = parseInt(val);
                    if (0 <= val && val <= 28) {
                        this.financialsErrors.clear('pay_file_day');
                    } else {
                        this.financialsErrors.add('pay_file_day', ['Invalid day']);
                    }
                },
                deep: true,
            },

            'financials.no_reimbursement_notification_day': {
                handler: function (val) {
                    this.financials.no_reimbursement_notification_day = parseInt(val);
                    if (0 <= val && val <= 28) {
                        this.financialsErrors.clear('no_reimbursement_notification_day');
                    } else {
                        this.financialsErrors.add('no_reimbursement_notification_day', ['Invalid day']);
                    }
                },
                deep: true,
            },

            'financials.currentFees.file.amount': {
                handler: function (val) {
                    if (!isNaN(val) && 0 <= val && val <= 999) {
                        this.financialsErrors.clear('file_fee');
                    } else {
                        this.financialsErrors.add('file_fee', ['Invalid pay file fee']);
                    }
                },
                deep: true,
            },

            'financials.currentFees.driver.amount': {
                handler: function (val) {
                    if (!isNaN(val) && 0 <= val && val <= 999) {
                        this.financialsErrors.clear('driver_fee');
                    } else {
                        this.financialsErrors.add('driver_fee', ['Invalid direct pay driver fee']);
                    }
                },
                deep: true,
            },

            'financials.currentFees.invoice.amount': {
                handler: function (val) {
                    if (!isNaN(val) && 0 <= val && val <= 999) {
                        this.financialsErrors.clear('invoice_fee');
                    } else {
                        this.financialsErrors.add('invoice_fee', ['Invalid per driver fee']);
                    }
                },
                deep: true,
            },

            'financials.currentFees.file.from_date': {
                handler: function (val) {
                    this.financialsErrors.clear('file_fee_starting');
                },
                deep: true,
            },

            'financials.currentFees.driver.from_date': {
                handler: function (val) {
                    this.financialsErrors.clear('driver_fee_starting');
                },
                deep: true,
            },

            'financials.currentFees.invoice.from_date': {
                handler: function (val) {
                    this.financialsErrors.clear('invoice_fee_starting');
                },
                deep: true,
            },

        },

        methods: {

            /**
             * clone financialsProp
             * Clear financialsErrors
             * TODO: ??
             */
            resetData() {
                this.financials = _.cloneDeep(this.financialsProp);
                if (!this.financials.processingBank) {
                    this.financials.processingBank = null;
                }
                this.financialsErrors.clear();
                this.$forceUpdate();
                // console.log('RESET FINANCIALS');
            },

            /**
             * update company financials table
             * catch and update financialsErrors if they exist
             * Note! this is deliberately using the shallow copies, don't deep copy it will break!
             */
            saveFinancials() {
                this.updating_financials = true;
                let data = {financials: this.financials};

                axios.post('/updateCompanyFinancials/' + this.getSessionCompanyId, data).then(response => {

                    // tell the fee history components to refresh themselves
                    Common.fire('update-company-fee-history');

                    // get the new processing bank if it changed (will have an active since value)
                    axios.get('/getProcessingBank/' + this.getSessionCompanyId).then( response => {
                        this.financials.processingBank = response.data.processingBank;

                        // update both the current fee and fee history (all fees)
                        // these may be new fees and have id's etc...
                        this.getUpdatedFees().then( (fees) => {
                            Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                        });

                    });
                    this.updating_financials = false;

                })
                    .catch(financialsErrors => {
                        this.financialsErrors.errors = financialsErrors.response.data;

                        // tell the errors modal what the errors are
                        Common.fire(this.caller_id + '-errors-submitting', financialsErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_financials = false;
                    });

            },

            getUpdatedFees() {
                console.log('Getting fees...');
                return new Promise( resolve => {
                    axios.get('/getAllCompanyFees/' + this.getSessionCompanyId).then( response => {
                        console.log('got these fees', response.data);
                        this.financials.currentFees = response.data.currentFees;
                        this.financials.allFees = response.data.allFees;
                        resolve(response.data)
                    });
                })
            }

        }
    };
</script>

<style lang="css">

</style>