/**
Requires:
company profile - object as profileProp
company id - int as company_id
Optional:
user <!--TODO: switch to permissions, or utilize user permissions-->
Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyProfile" ref="companyProfile">
        <div class="row" v-if="editedProfile" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('street')}">
                            <label for="street" class="label">Street:</label>

                            <input type="text" id="street" name="street" class="form-control"
                                   v-model="editedProfile.street"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="profileErrors.has('street')">{{ profileErrors.get('street') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('street2')}">
                            <label for="street2" class="label">Street 2:</label>

                            <input type="text" id="street2" name="street2" class="form-control"
                                   v-model="editedProfile.street2"
                                   :disabled="input_disabled">

                            <span class="help-block"
                                  v-if="profileErrors.has('street2')">{{ profileErrors.get('street2') }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('city')}">
                            <label for="city" class="label">City:</label>

                            <input type="text" id="city" name="city" class="form-control" v-model="editedProfile.city"
                                   :disabled="input_disabled">

                            <span class="help-block"
                                  v-if="profileErrors.has('city')">{{ profileErrors.get('city') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('zip_postal')}">
                            <label for="zip_postal" class="label">{{ zip_postal_label }}</label>

                            <input type="text" id="zip_postal" name="zip_postal" class="form-control"
                                   v-model="editedProfile.zip_postal" :disabled="input_disabled">

                            <span class="help-block" v-if="profileErrors.has('zip_postal')">{{ profileErrors.get('zip_postal') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error': profileErrors.has('state_province_id')}">

                            <div v-if="editedProfile.country_id != 1 && editedProfile.country_id != 2">
                                <em>Please select a country</em>
                            </div>

                            <div v-else>
                                <state-select v-if="editedProfile.country_id == 1"
                                              :disabled="input_disabled"
                                              v-model="editedProfile.state_province_id"/>
                                <province-select v-else-if="editedProfile.country_id == 2"
                                                 :disabled="input_disabled"
                                                 v-model="editedProfile.state_province_id"/>
                            </div>

                            <span class="help-block" v-if="profileErrors.has('state_province_id')">{{ profileErrors.get('state_province_id') }}</span>
                        </div>
                    </div>
                </div>

                <hr class="m-0 mb-1">

                <div :class="{'form-group row': true, 'has-error':profileErrors.has('website')}">
                    <label for="website" class="label col-sm-6">Website:</label>

                    <div class="col-sm">
                        <input type="text" id="website" name="website" class="form-control"
                               v-model="editedProfile.website"
                               :disabled="input_disabled">

                        <span class="help-block"
                              v-if="profileErrors.has('website')">{{ profileErrors.get('website') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error': profileErrors.has('industry_id')}">
                    <label class="label col-sm-6">Company Industry:</label>

                    <div class="col-sm">
                        <company-industry-select v-model="editedProfile.industry_id" :hideLabel="1"
                                                 :disabled="input_disabled"/>

                        <span class="help-block" v-if="profileErrors.has('industry_id')">{{ profileErrors.get('industry_id') }}</span>
                    </div>
                </div>

                <hr class="m-0 mb-1">

                <h5>Coordinators</h5>
                <br>

                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('company_coordinator_id')}">
                            <company-coordinator-select v-model="coordinators.company_coordinator_id"
                                                        :company_id="getSessionCompanyId"
                                                        :responsibility="'Client'"
                                                        :label="getSessionCompanyName + ' Coordinator'"
                                                        :disabled="input_disabled"/>

                            <span class="help-block" v-if="profileErrors.has('company_coordinator_id')">{{ profileErrors.get('company_coordinator_id') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('company_coordinator_phone')}">
                            <label for="company_coordinator_phone" class="label">Coordinator Phone:</label>

                            <input type="text"
                                   id="company_coordinator_phone"
                                   name="company_coordinator_phone"
                                   class="form-control"
                                   :disabled="input_disabled"
                                   v-model="coordinators.company_coordinator_phone">

                            <span class="help-block" v-if="profileErrors.has('company_coordinator_phone')">{{ profileErrors.get('company_coordinator_phone') }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('cardata_coordinator_id')}">
                            <company-coordinator-select v-model="coordinators.cardata_coordinator_id"
                                                        :company_id="getSessionCompanyId"
                                                        :responsibility="'CarData'"
                                                        :label="'CarData Coordinator'"
                                                        :disabled="input_disabled"/>

                            <span class="help-block" v-if="profileErrors.has('cardata_coordinator_id')">{{ profileErrors.get('cardata_coordinator_id') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':profileErrors.has('cardata_coordinator_phone')}">
                            <label for="cardata_coordinator_phone" class="label">Coordinator Phone:</label>

                            <input type="text"
                                   id="cardata_coordinator_phone"
                                   name="cardata_coordinator_phone"
                                   class="form-control"
                                   v-model="coordinators.cardata_coordinator_phone"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="profileErrors.has('cardata_coordinator_phone')">{{ profileErrors.get('cardata_coordinator_phone') }}</span>
                        </div>
                    </div>
                </div>

                <hr class="m-0 mb-1">

                <h5>Client Service</h5>
                <br>

                <div :class="{'form-group row': true, 'has-error':profileErrors.has('service_associate_id')}">
                    <label class="label col-sm-6">Service Associate:</label>

                    <div class="col-sm">
                        <company-coordinator-select v-model="coordinators.service_associate_id"
                                                    :company_id="getSessionCompanyId"
                                                    :responsibility="'CarData'"
                                                    :hideLabel="1"
                                                    :disabled="input_disabled"/>

                        <span class="help-block" v-if="profileErrors.has('service_associate_id')">{{ profileErrors.get('service_associate_id') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':profileErrors.has('account_executive_id')}">
                    <label class="label col-sm-6">Account Executive:</label>

                    <div class="col-sm">
                        <company-coordinator-select v-model="coordinators.account_executive_id"
                                                    :company_id="getSessionCompanyId"
                                                    :responsibility="'CarData'"
                                                    :hideLabel="1"
                                                    :disabled="input_disabled"/>

                        <span class="help-block" v-if="profileErrors.has('account_executive_id')">{{ profileErrors.get('account_executive_id') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="border-left: 2px solid #dddddd;">
                <div class="row">
                    <div class="col-sm">
                        <h5>Notes</h5>
                    </div>
                    <div class="col-sm text-right">
                        <button class="btn btn-sm btn-primary add-note-btn" @click="showAddNote">Add Note</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <company-notes />
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 3rem;">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Profile
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>

        <add-note-modal :caller_id="caller_id" :preferred_category="'company'"></add-note-modal>
    </div>
</template>

<script>
    import {Errors} from "../../utilities/index";
    import {CompanyProfile} from "../../models/Company";
    import {
        CompanyIndustrySelect,
        CountrySelect,
        ErrorsModal,
        LoadingPartial,
        CompanyNotes,
        ProvinceSelect,
        StateSelect,
        AddNoteModal
    } from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {CompanyCoordinatorSelect} from "./index";

    export default {

        props: ['profile', 'coordinatorsProp', 'mode'],

        components: {
            LoadingPartial,
            CompanyIndustrySelect,
            CompanyCoordinatorSelect,
            CountrySelect,
            ErrorsModal,
            ProvinceSelect,
            StateSelect,
            CompanyNotes,
            AddNoteModal
        },

        data() {
            return {
                caller_id: 'CompanyProfile',
                editedProfile: null,
                coordinators: null,
                profileErrors: new Errors,
                name: '',
                updating_profile: false,
            };
        },

        created() {

        },

        mounted() {
            console.log('CompanyProfile: mounted');
            Common.listen('save-all-EditCompanyPage', this.saveProfile);


            this.name = this.getSessionCompanyName;

            if (this.profile) {
                this.editedProfile = _.cloneDeep(this.profile);
            }

            if (this.coordinatorsProp) {
                this.coordinators = _.cloneDeep(this.coordinatorsProp);
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getActiveRole',
                'getUserId'
            ]),

            zip_postal_label: function () {
                if (this.editedProfile.country_id === 1) {
                    return 'Zip Code:';
                } else if (this.editedProfile.country_id === 2) {
                    return 'Postal Code:';
                } else {
                    return 'Zip or Postal:';
                }
            },

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedProfile, this.profile) && _.isEqual(this.coordinators, this.coordinatorsProp);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },


        watch: {
            //Clone the prop for changes
            'profile': {
                handler: function (profile) {
                    if (profile != null) {
                        this.cancelChanges();
                    }
                },
                immediate: true,
                deep: true
            },

            'coordinatorsProp': {
                handler: function (coordinators) {
                    if (coordinators != null) {
                        this.resetCoordinatorsData();
                    }
                },
                immediate: true,
                deep: true
            },


            /*
             * Here watch is concerned only with front-end validation
             * Uses inline regex
             */
            'editedProfile.website': {
                handler: function (val) {
                    if (!val) {
                        return;
                    }
                    if (val.search(/^(((https)?(http)?:\/\/)?www.([a-z0-9]+-?[a-z0-9]*\.)([a-z. a-z ]+)\/?)?$/) === -1) {
                        this.profileErrors.add('website', ['Invalid Website']);
                    } else {
                        this.profileErrors.clear('website');
                    }
                },
                deep: true,
            },

            'editedProfile.street': {
                handler: function () {
                    if (this.editedProfile.street.search(/^[1-90-9 \-]+ +[a-zA-Z0-9#\-'\.,_() ]*$/) === -1) {
                        this.profileErrors.add('street', ['Invalid Street']);
                    } else {
                        this.profileErrors.clear('street');
                    }
                },
                deep: true,
            },

            'editedProfile.street2': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.editedProfile.street2.search(/^[a-zA-Z0-9#\-'\.,_() ]*$/) === -1) {
                            this.profileErrors.add('street2', ['Invalid Street2']);
                        } else {
                            this.profileErrors.clear('street2');
                        }
                    }
                },
                deep: true,
            },

            'editedProfile.city': {
                handler: function () {
                    if (this.editedProfile.city.search(/^[a-zA-Z0-9] ?[a-zA-Z0-9 ,\-'.*]*$/) === -1) {
                        this.profileErrors.add('city', ['Invalid City']);
                    } else {
                        this.profileErrors.clear('city');
                    }
                },
                deep: true,
            },
            // TODO: CREATE DIFF REGEX FOR EACH DIFF COUNTRY
            'editedProfile.zip_postal': {
                handler: function () {

                    if (this.editedProfile.country_id == 1) {
                        if (this.editedProfile.zip_postal.search(/^\d{5}$/) === -1) {
                            this.profileErrors.add('zip_postal', ['Invalid Zip Code. If 4 digits prepend 0']);
                        } else {
                            this.profileErrors.clear('zip_postal');
                        }
                    } else {
                        if (this.editedProfile.zip_postal.search(/^[a-zA-Z][0-9][a-zA-Z] ?[0-9][a-zA-Z][0-9]$/) === -1) {
                            this.profileErrors.add('zip_postal', ['Invalid Postal Code']);
                        } else {
                            this.profileErrors.clear('zip_postal');
                        }
                    }

                },
                deep: true,
            },

            'editedProfile.state_province_id': {
                handler: function (val) {
                    if (val > 0) {
                        this.profileErrors.clear('state_province_id');
                    } else {
                        this.profileErrors.add('state_province_id', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedProfile.country_id': {
                handler: function (val) {
                    if (val > 0) {
                        this.profileErrors.clear('country_id');
                    } else {
                        this.profileErrors.add('country_id', ['Please select one']);
                    }
                },
                deep: true,
            },

            'coordinators.company_coordinator_phone': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.coordinators.company_coordinator_phone.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                            this.profileErrors.add('company_coordinator_phone', ['Invalid Phone Number']);
                        } else {
                            this.profileErrors.clear('company_coordinator_phone');
                        }
                    }
                },
                deep: true,
            },

            'coordinators.cardata_coordinator_id': {
                handler: function (val) {
                    if (val > 0) {
                        this.profileErrors.clear('cardata_coordinator_id');
                    } else {
                        this.profileErrors.add('cardata_coordinator_id', ['Please select one']);
                    }
                },
                deep: true,
            },

            'coordinators.cardata_coordinator_phone': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.coordinators.cardata_coordinator_phone.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                            this.profileErrors.add('cardata_coordinator_phone', ['Invalid Phone Number']);
                        } else {
                            this.profileErrors.clear('cardata_coordinator_phone');
                        }
                    }
                },
                deep: true,
            },

        },

        methods: {
            /**
             * clone profile
             * Clear profileErrors
             * TODO: ??
             */
            cancelChanges() {
                this.resetProfileData();
                this.resetCoordinatorsData();
                this.profileErrors.clear();
            },

            /**
             * clone profile
             * Clear profileErrors
             * TODO: ??
             */
            resetProfileData() {
                this.editedProfile = _.cloneDeep(this.profile);
            },

            /**
             * clone profile
             * Clear profileErrors
             * TODO: ??
             */
            resetCoordinatorsData() {
                console.log('RESETTING COORD DATA');
                console.log(this.coordinatorsProp);
                this.coordinators = _.cloneDeep(this.coordinatorsProp);
            },


            /**
             * update company profile table
             * catch and update profileErrors if they exist
             * TODO: switch subpage??
             */
            submitChanges() {
                let data = {profile: this.editedProfile, coordinators: this.coordinators};

                this.updating_profile = true;

                axios.post('/updateCompanyProfile/' + this.getSessionCompanyId, data).then(response => {
                    // console.log('company profile successfully updated:');
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    Common.storeCommit('updateSessionCountryId', this.editedProfile.country_id);
                    this.updating_profile = false;
                    EventBus.$emit('reload-company-prop');
                })
                    .catch(profileErrors => {

                        this.profileErrors.errors = profileErrors.response.data;

                        // Pass the errors to the errors modal
                        Common.fire(this.caller_id + '-errors-submitting', this.profileErrors.errors);

                        // when the modal is closed scroll to the errors
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });

                        this.updating_profile = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            },

            showAddNote() {
              Common.fire('show-add-note', this.caller_id);
            }
        }
    };
</script>

<style lang="css">
    #companyProfile .label {
        text-align: left;
    }

    #companyProfile .mb-1 {
        margin-bottom: 1.25rem !important;
    }

    #companyProfile .add-note-btn {
        margin-top: -5px;
        font-size: small;
    }
</style>