/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyVehicles" ref="companyVehicles">
        <div class="row">
            <div class="col-sm-6">
                <!-- VEHICLE RESPONSIBILITY -->
                <div v-if="editedVehicles"
                     :class="{'form-group row': true, 'has-error':vehiclesErrors.has('vehicle_responsibility')}">
                    <label class="label col-sm-6">Vehicle Responsibility:</label>

                    <div class="col-sm">
                        <select v-model="editedVehicles.vehicle_responsibility"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                            <option>Declined</option>
                        </select>
                        <span class="help-block" v-if="vehiclesErrors.has('vehicle_responsibility')">{{ invoicingErrors.get('vehicle_responsibility') }}</span>
                    </div>
                </div>

                <!-- ENFORCE VEHICLE AGE -->
                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled" v-if="editedVehicles">
                            <input type="checkbox" v-model="editedVehicles.enforce_vehicle_age"
                                   :disabled="input_disabled">
                            Enforce Vehicle Age
                        </label>
                    </div>
                </div>

                <!-- ENFORCE CAR POLICY ACCEPTANCE -->
                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled" v-if="editedVehicles">
                            <input type="checkbox" v-model="editedVehicles.enforce_car_policy_acceptance"
                                   :disabled="input_disabled">
                            Enforce Car Policy Acceptance
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Vehicles
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {Errors} from "../../utilities";
    import {EventBus} from "../../event-bus";

    export default {

        props: ['company_id', 'mode', 'vehicles', 'caller_id'],

        components: {},

        data() {
            return {
                vehiclesErrors: new Errors,
                editedVehicles: null
            };
        },

        created() {
        },

        mounted() {
            console.log('vehicles: ', this.vehicles);
            if (this.vehicles) {
                this.editedVehicles = _.cloneDeep(this.vehicles);
            }
        },

        computed: {
            input_disabled: function () {
                return 'show' == this.mode;
            },

            changes_detected: function () {
                return !_.isEqual(this.editedVehicles, this.vehicles);
            }
        },

        watch: {
            vehicles: function (val) {
                console.log('vehicles: ', val);
                this.editedVehicles = _.cloneDeep(val);
            },

            editedVehicles: function (val) {
                console.log('edited vehicles changed');
            }
        },

        methods: {
            checkFromDate() {
                if (this.from_date_formatted != '') {
                    this.from_date_changed = this.from_date_formatted != moment(new Date(this.editedInvoicing.latest_fee.from_date)).format("MMM YYYY");
                }
            },

            cancelChanges() {
                this.editedVehicles = _.cloneDeep(this.vehicles);
                this.invoicingErrors.clear();
            },

            submitChanges() {
                let obj = {
                    company_id: this.company_id,
                    vehicle_responsibility: this.editedVehicles.vehicle_responsibility,
                    enforce_vehicle_age: this.editedVehicles.enforce_vehicle_age,
                    enforce_car_policy_acceptance: this.editedVehicles.enforce_car_policy_acceptance,
                    car_policy_pdf: this.editedVehicles.car_policy_pdf // TODO
                };
                console.log('submitting invoicing', obj);
                axios.post('/updateCompanyVehicles', obj)
                    .then(response => {
                        EventBus.$emit('reload-company-prop');
                        // the next line is required to work around a bug in WebKit (Chrome / Safari)
                        //location.href = "#";
                        //location.href = "#companyVehicles";
                    })
                    .catch(vehiclesErrors => {
                        this.vehiclesErrors.errors = vehiclesErrors.response.data;
                        let y_pos = this.$el.querySelector(".help-block").offsetTop;
                        window.scrollTo(0, y_pos - 100);

                        // tell the errors modal what the errors are
                        //Common.fire(this.caller_id + '-errors-submitting', invoicingErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos);
                        });
                        // this.updating_financials = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }
        }
    };
</script>

<style lang="css">

</style>