<!-- region MODULE_DOCUMENTATION -->
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

<!-- endregion -->

<template lang="html">
    <div id="companyAdministration" ref="companyAdministration">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="col-sm">
                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('management')}">
                    <label class="label col-sm-6">Management:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.management"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('management')">{{ administrationErrors.get('management') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('driver_calls_and_emails')}">
                    <label class="label col-sm-6">Driver Calls and Emails:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.driver_calls_and_emails"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('driver_calls_and_emails')">{{ administrationErrors.get('driver_calls_and_emails') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('driver_changes')}">
                    <label class="label col-sm-6">Driver Changes:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.driver_changes"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('driver_changes')">{{ administrationErrors.get('driver_changes') }}</span>
                    </div>
                </div>

            </div>


            <div class="col-sm">

                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('account_maintenance')}">
                    <label class="label col-sm-6">Account Maintenance:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.account_maintenance"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('account_maintenance')">{{ administrationErrors.get('account_maintenance') }}</span>
                    </div>
                </div>
                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('monthly_report_review')}">
                    <label class="label col-sm-6">Monthly Report Review:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.monthly_report_review"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('monthly_report_review')">{{ administrationErrors.get('monthly_report_review') }}</span>
                    </div>
                </div>
                <div :class="{'form-group row': true, 'has-error':administrationErrors.has('traffic_light_status')}">
                    <label class="label col-sm-6">Traffic Light Status:</label>

                    <div class="col-sm">
                        <select v-model="editedAdministration.traffic_light_status"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="administrationErrors.has('traffic_light_status')">{{ administrationErrors.get('traffic_light_status') }}</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode !== 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Administration
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /** IMPORTS **/
    import {Errors} from '../../utilities';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['administration', 'company_id', 'mode'],

        components: {

        },

        data() {
            return {
                caller_id: 'CompanyAdministration',
                editedAdministration: null,
                administrationErrors: new Errors,
                updating_administration: false,
            };
        },

        created() {

        },

        mounted() {
            if (this.administration) {
                this.resetAdministration();
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getActiveRole'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedAdministration, this.administration);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },

        watch: {
            administration: {
                handler: function (mileage) {
                    if (mileage != null) {
                        this.resetAdministration();
                    }
                },
                immediate: true,
                deep: true
            },

            'editedAdministration.management': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('management');
                    } else {
                        this.administrationErrors.add('management', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedAdministration.driver_calls_and_emails': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('driver_calls_and_emails');
                    } else {
                        this.administrationErrors.add('driver_calls_and_emails', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedAdministration.driver_changes': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('driver_changes');
                    } else {
                        this.administrationErrors.add('driver_changes', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedAdministration.account_maintenance': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('account_maintenance');
                    } else {
                        this.administrationErrors.add('account_maintenance', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedAdministration.monthly_report_review': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('monthly_report_review');
                    } else {
                        this.administrationErrors.add('monthly_report_review', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedAdministration.traffic_light_status': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.administrationErrors.clear('traffic_light_status');
                    } else {
                        this.administrationErrors.add('traffic_light_status', ['Please select one']);
                    }
                },
                deep: true,
            }
        },

        methods: {
            resetAdministration() {
                this.editedAdministration = _.cloneDeep(this.administration);
                this.administrationErrors.clear();
            },

            /**
             * update company administration table
             * catch and update administrationErrors if they exist
             */
            submitChanges() {
                this.updating_administration = true;
                let data = {administration: this.editedAdministration};

                axios.post('/updateCompanyAdministration/' + this.company_id, data).then(response => {
                    EventBus.$emit('reload-company-prop');
                })
                    .catch(administrationErrors => {
                        this.administrationErrors.errors = administrationErrors.response.data;

                        // tell the errors modal what the errors are
                        Common.fire(this.caller_id + '-errors-submitting', administrationErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_administration = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            },

            cancelChanges() {
                this.resetAdministration();
            },
        }
    };
</script>

<style lang="scss">

</style>