/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    Will listen to the save event and update the quarters

    When a new quarter definition is added, it starts the next year.

    Only one quarter definition can be coming down the pipe at a given time.
*/
<template lang="html">
    <div id="companyTaxQuarters">
        <transition name="fade5s">
            <div class="box" v-if="quartersHistory">
                <strong>Quarter Definition</strong>

                <!--The add new quarters button-->
                <button v-if="mode === 'edit'"
                        class="btn btn-success btn-sm float-right rounded-action-btn-30px"
                        @click="show_modal = true"
                        :disabled="add_quarter_disabled"
                        :title="'Add new quarter definition' + (add_quarter_disabled ? '. Only one new definition can be queued at a given time' : '')">
                    <!--@click="companyAction('inactivate')"-->
                    <i class="fal fa-plus"></i>
                </button>


                <!-- "Table" Titles -->
                <table>
                    <tr>
                        <th colspan="1">&nbsp;</th>
                        <th colspan="1">Q1</th>
                        <th colspan="1">Q2</th>
                        <th colspan="1">Q3</th>
                        <th colspan="1">Q4</th>
                        <th colspan="2">Valid Until</th>
                        <th colspan="2">Created On</th>
                        <th colspan="1"></th>
                    </tr>

                    <!--Rows for all quarter definitions-->
                    <tr v-for="(quarters, index) in quartersHistory">
                        <td colspan="1">
                            <i class="fas fa-arrow-right" v-if="quarters.active"></i>
                        </td>
                        <td colspan="1">{{ getMonthName(quarters.q1) }}</td>
                        <td colspan="1">{{ getMonthName(quarters.q2) }}</td>
                        <td colspan="1">{{ getMonthName(quarters.q3) }}</td>
                        <td colspan="1">{{ getMonthName(quarters.q4) }}</td>
                        <td colspan="2">{{ quarters.valid_until_year ? quarters.valid_until_year : '-' }}</td>
                        <td colspan="2">{{ quarters.created_at | ymdFilter}}</td>
                        <td colspan="1">
                            <button v-if="quarters.deleteable && mode === 'edit'"
                                    class="btn btn-danger rounded-action-btn-30px float-right"
                                    aria-label="delete"
                                    title="Delete this quarter definition"
                                    @click.once="deleteQuarterDefinition(quarters)"
                                    :disabled="saving">
                                <i class="fal fa-times"></i>
                            </button>
                        </td>
                    </tr>

                </table>

            </div>
        </transition>


        <!--The modal for adding a new quarter definition-->
        <div id="addNewQuartersDefinitionModal" :class="{'modal': true, 'is-active': show_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">New Quarter Definition</p>
                    <button class="delete" @click="show_modal = false" :disabled="saving"></button>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-3" v-for="i in [1,2,3,4]">
                            <label>
                                Q{{i}}
                            </label>
                            <!--Here I use fuel month select because the standard month select keeps getting changed
                                and uses the session which I do not want. I want to v-model.-->
                            <div :class="{'has-error': errors.has(i)}">
                                <fuel-month-select v-model="newQuarterDefinition[i]"
                                                   :hide_default_option="true"/>
                                <span v-if="errors.has(i)" class="help-block">
                                    {{ errors.get(i) }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--The duplicate definition error-->
                    <div class="has-error" v-if="errors.has('duplicate')">
                        <span class="help-block">{{ errors.get('duplicate') }}</span>
                    </div>

                </section>
                <footer class="modal-card-foot">
                    <button class="btn" @click="show_modal = false" :disabled="saving">Cancel</button>
                    <button class="btn btn-success" @click="save()" :disabled="saving" style="margin-left: 1rem;">Save</button>
                </footer>
            </div>
        </div><!-- end modal -->

    </div>
</template>

<script>
    import moment from 'moment';
    import Months from '../../models/Months';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {Errors} from '../../utilities';
    import {FuelMonthSelect} from "../partials";

    export default {
        props: ['mode'],

        components: {FuelMonthSelect},

        data() {
            return {
                newQuarterDefinition: {
                    1: 1,
                    2: 4,
                    3: 7,
                    4: 10
                },
                months: Months,
                quartersHistory: null,
                errors: new Errors,
                show_modal: false,
                saving: false,
            };
        },

        created() {
            this.getCompanyTaxQuarters();
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ]),

            /**
             * This computed property tells you whether or not adding a new quarter definition is disabled.
             * It is based on having only one new quarter definition queued up for the future.
             * Therefore it can check if we are disabling add by seeing if the active quarter definition
             * has 'valid_until_year' not null. If its not null there is a new definition coming down the pipe
             */
            add_quarter_disabled: function() {
                let activeQuarter = this.quartersHistory.find(q => q.active);
                return activeQuarter && activeQuarter.valid_until_year;
            }
        },

        filters: {
            ymdFilter: function(val) {
                return moment(val).format('YYYY-MM-DD');
            }
        },

        watch: {
            /**
             * validation
             * Whenever a new month is selected, clear the associated error for the quarter
             */
            'newQuarterDefinition.1': function() {
                this.errors.clear(1);
                this.errors.clear('duplicate');
            },
            'newQuarterDefinition.2': function() {
                this.errors.clear(2);
                this.errors.clear('duplicate');
            },
            'newQuarterDefinition.3': function() {
                this.errors.clear(3);
                this.errors.clear('duplicate');
            },
            'newQuarterDefinition.4': function() {
                this.errors.clear(4);
                this.errors.clear('duplicate');
            }
        },

        methods: {
            /**
             * Gets the company tax quarters and then selects the active definition
             */
            getCompanyTaxQuarters() {
                axios.get('/getCompanyQuarterHistory/' + this.getSessionCompanyId).then( response => {
                    this.quartersHistory = response.data.quartersHistory;
                    this.selectActiveDefinition();
                });
            },

            /**
             * Determines which quarter definition is currently active
             * While looping, we also mark those which are deleteable
             */
            selectActiveDefinition() {
                let current_year = moment(new Date()).format('YYYY');
                let selected_a_definition = false;

                /**
                 * Loop through the array backwards. the first definition with a valid until as null
                 * or valid until a year greater than today will be the active definition.
                 *
                 * Once a definition has been selected, selected_a_definition is set to true.
                 * All subsequent definitions are deletable
                 */
                for (let i = this.quartersHistory.length - 1; i >= 0; i--) {
                    if (!selected_a_definition) {
                        if ( this.quartersHistory[i].valid_until_year == null || this.quartersHistory[i].valid_until_year > current_year) {
                            this.quartersHistory[i].active = true;
                            selected_a_definition = true;
                        }
                    } else {
                        // we have selected a definition, so all the rest are set to deletable
                        this.quartersHistory[i].deleteable = true;
                    }

                }
            },

            /**
             *  Deletes a quarter definition, man
             *  Reloads the existing quarters
             *  Selects the active one
             */
            deleteQuarterDefinition(q) {
                this.saving = true;
                axios.post('/deleteCompanyQuarterDefinition', {
                    quarters: q,
                    company_id: this.getSessionCompanyId
                }).then( response => {
                    this.getCompanyTaxQuarters();
                    this.saving = false;
                }).catch( errors => {
                    alert('Something went wrong. Please contact CarData IT Support.')
                    this.saving = false;
                })
            },

            /**
             * From a month_id returns the month's long name
             */
            getMonthName(month_id) {
                return this.months.find(m => { return m.id == month_id}).short_name;
            },

            /**
             * Tries to save the new quarter definition to the DB.
             * If it is successful it reloads the quarter definitions.
             * Else it shows the errors on screen.
             */
            save() {
                this.saving = true;
                // try to update the new quarters
                axios.post('/createNewQuarterDefinition', {
                    newQuarterDefinition: this.newQuarterDefinition,
                    company_id: this.getSessionCompanyId
                }).then( response => {
                    // it was successful, so reload the data and history
                    this.getCompanyTaxQuarters();
                    // we are no longer in the process of saving, reenable the buttons
                    this.saving = false;
                    // close the modal
                    this.show_modal = false;
                }).catch( errors => {
                    /**
                     * Check if a nicely formatted error was returned.
                     * If it was display it. This error we produced on purpose.
                     * Otherwise something way weird happened so alert.
                     */
                    if ( 1 <= _.keys(errors.response.data).length && _.keys(errors.response.data).length <=4 ) {
                        this.errors.errors = errors.response.data;
                    } else {
                        alert('Something went wrong. Please contact CarData IT Support.');
                    }
                    // we are no longer in the process of saving, reenable the buttons
                    this.saving = false;
                });
            }
        }
    };
</script>

<style lang="css">

    #addNewQuartersDefinitionModal .modal-card {
        width: 80%;
    }

</style>