/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyTax">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled">
                            <input type="checkbox" v-model="editedTaxes.use_quarterly_tax_adjustment"
                                   :disabled="input_disabled">
                            Use Quarterly Tax Adjustment
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled">
                            <input type="checkbox" v-model="editedTaxes.reports_display_monthly_tax_limit"
                                   :disabled="input_disabled">
                            Reports Display Monthly Tax Limit
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <company-tax-quarters :mode="mode" v-show="editedTaxes.use_quarterly_tax_adjustment"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Taxes
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>




        <!-- SAVE AND RESET -->
        <!--<div class="row" v-if="editedTaxes">
            <div class="col-6">
                <loading-partial v-show="updating_taxes"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success float-right" style="margin-left: 1rem;"
                        v-if="getActiveRole === 'super'"
                        @click="saveTaxes()"
                        :disabled="taxErrors.any() || input_disabled || updating_taxes">
                    Save Taxes
                </button>

                <button class="btn btn-secondary float-right"
                        v-if="getActiveRole === 'super'"
                        @click="resetData()"
                        title="Cancel will reverse any unsaved changes"
                        :disabled="input_disabled || updating_taxes || cancel_disabled">
                    Cancel
                </button>

            </div>
        </div>-->


        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>
    </div>
</template>

<script>
    import {Errors} from '../../utilities';
    import {ErrorsModal, LoadingPartial} from '../partials';
    import {CompanyTaxQuarters} from './index';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['taxes', 'company_id', 'mode'],

        components: {CompanyTaxQuarters, ErrorsModal, LoadingPartial},

        data() {
            return {
                caller_id: 'CompanyTax',
                editedTaxes: null,
                taxErrors: new Errors,
                updating_taxes: false,

                /**
                 * FORCE DATE PICKER TO OPEN UPWARDS
                 */
                datePickerOptions: {
                    format: 'YYYY-MM-DD',
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'top'
                    },
                    useCurrent: false,
                },
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getActiveRole'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            changes_detected: function () {
                return !this.cancel_disabled; //!_.isEqual(this.editedPayments, this.invoicing) || this.driver_from_date_changed || this.file_from_date_changed;
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedTaxes, this.taxes);
            }
        },

        watch: {

            //Clone the prop for changes
            'taxes': {
                handler: function (taxes) {
                    if (taxes != null) {
                        this.cancelChanges();
                    }
                },
                immediate: true,
                deep: true
            },


            //VALIDATION
            'editedTaxes.reports_display_monthly_tax_limit': {
                handler: function (val) {
                    this.taxErrors.clear();
                    if (!val) return;

                    if (this.editedTaxes.use_quarterly_tax_adjustment) {
                        this.editedTaxes.use_quarterly_tax_adjustment = false;
                    }

                },
                deep: true,
            },

            'editedTaxes.use_quarterly_tax_adjustment': {
                handler: function (val) {
                    this.taxErrors.clear();
                    if (!val) return;

                    if (this.editedTaxes.reports_display_monthly_tax_limit) {
                        this.editedTaxes.reports_display_monthly_tax_limit = false;
                    }

                },
                deep: true,
            },

        },

        methods: {

            /**
             * Reset taxes and coordinators
             * Clear tax errors
             */
            cancelChanges() {
                this.editedTaxes = _.cloneDeep(this.taxes);
                this.taxErrors.clear();
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            /**
             * update company taxes table
             * catch and update taxErrors if they exist
             */
            submitChanges() {
                this.updating_taxes = true;
                let data = {taxes: this.editedTaxes};

                axios.post('/updateCompanyTaxes/' + this.company_id, data).then(response => {
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    this.updating_taxes = false;
                }).catch(taxErrors => {
                    this.taxErrors.errors = taxErrors.response.data;

                    // tell the errors modal what the errors are
                    Common.fire(this.caller_id + '-errors-submitting', taxErrors.response.data);

                    // scroll to the first error when the modal closes
                    this.$nextTick(function () {
                        let y_pos = this.$el.querySelector(".help-block").offsetTop;
                        window.scrollTo(0, y_pos - 100);
                    });
                    this.updating_taxes = false;
                });

            }

        }
    };
</script>

<style lang="css">

</style>