/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyInsurance" ref="companyInsurance">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div :class="{'form-group row': true, 'has-error':insuranceErrors.has('insurance_responsibility')}">
                    <label class="label col-sm-6">Insurance Responsibility:</label>

                    <div class="col-sm">
                        <select v-model="editedInsurance.insurance_responsibility"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="insuranceErrors.has('insurance_responsibility')">{{ insuranceErrors.get('insurance_responsibility') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':insuranceErrors.has('insurance_review_interval')}">
                    <label class="label col-sm-6">Review Interval:</label>

                    <div class="col-sm">
                        <select v-model="editedInsurance.insurance_review_interval"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option value="Annually">Annually</option>
                            <option value="On_Renewal">On Renewal</option>
                        </select>
                        <span class="help-block" v-if="insuranceErrors.has('insurance_review_interval')">{{ insuranceErrors.get('insurance_review_interval') }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':insuranceErrors.has('insurance_coordinator_id')}">
                            <company-coordinator-select v-model="coordinators.insurance_coordinator_id"
                                                        :company_id="this.company_id"
                                                        :responsibility="editedInsurance.insurance_responsibility"
                                                        :label="'Insurance Coordinator'"
                                                        :disabled="input_disabled"/>

                            <span class="help-block" v-if="insuranceErrors.has('insurance_coordinator_id')">{{ insuranceErrors.get('insurance_coordinator_id') }}</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':insuranceErrors.has('insurance_coordinator_phone')}">
                            <label class="label">Coordinator<br>Phone:</label>

                            <input type="text"
                                   name="insurance_coordinator_phone"
                                   class="form-control"
                                   v-model="coordinators.insurance_coordinator_phone"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="insuranceErrors.has('insurance_coordinator_phone')">{{ insuranceErrors.get('insurance_coordinator_phone') }}</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':insuranceErrors.has('insurance_fax_number')}">
                            <label class="label">Insurance Fax Number:</label>

                            <input type="text"
                                   name="insurance_fax_number"
                                   class="form-control"
                                   v-model="editedInsurance.insurance_fax_number"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="insuranceErrors.has('insurance_fax_number')">{{ insuranceErrors.get('insurance_fax_number') }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedInsurance.notify_insurance_expiry"
                                   :disabled="input_disabled">
                            Notify Insurance Expiry
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="false">
                            <input type="checkbox" v-model="editedInsurance.remove_reimbursement_without_insurance"
                                   :disabled="input_disabled">
                            Remove Reimbursement Without Insurance
                        </label>
                    </div>
                </div>

                <br><br>
                <div :class="{'form-group row': true, 'has-error':insuranceErrors.has('initial_insurance_grace_end_date')}">
                    <label class="label col-sm-6">Initial Insurance Grace End Date:</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="editedInsurance.initial_insurance_grace_end_date"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"
                                                   :placeholder="'Select an insurance grace end date...'"/>
                        <span class="help-block" v-if="insuranceErrors.has('initial_insurance_grace_end_date')">{{ insuranceErrors.get('initial_insurance_grace_end_date') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':insuranceErrors.has('new_driver_insurance_grace_days')}">
                    <label class="label col-sm-6">New Driver Insurance Grace Days:</label>

                    <div class="col-sm">
                        <input type="number"
                               name="new_driver_insurance_grace_days"
                               class="form-control"
                               v-model="editedInsurance.new_driver_insurance_grace_days"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="insuranceErrors.has('new_driver_insurance_grace_days')">{{ insuranceErrors.get('new_driver_insurance_grace_days') }}</span>
                    </div>
                </div>
            </div><!-- end input col -->

            <div class="col-sm-6" style="border-left: 2px solid #ddd;">
                <h5>
                    Minimums
                    <small class="float-right">*Use 0 for coverage NOT required</small>
                </h5>

                <br><br>

                <!-- bodily injury -->
                <div v-if="getSessionCountryId == 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Bodily Liability</strong>
                        </div>
                        <div class="col-sm-3">per person</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('direct_pay_day')}">
                                <input type="number"
                                       name="bodily_liability_per_person"
                                       class="form-control"
                                       v-model="editedInsurance.bodily_liability_per_person"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('bodily_liability_per_person')">{{ insuranceErrors.get('bodily_liability_per_person') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 offset-sm-6">per accident</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('direct_pay_day')}">
                                <input type="number"
                                       name="bodily_liability_per_accident"
                                       class="form-control"
                                       v-model="editedInsurance.bodily_liability_per_accident"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('bodily_liability_per_accident')">{{ insuranceErrors.get('bodily_liability_per_accident') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- uninsured/underinsured -->
                <div v-if="getSessionCountryId == 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Uninsured / Unnderinsured</strong>
                        </div>
                        <div class="col-sm-3">per person</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('uninsured_per_person')}">
                                <input type="number"
                                       name="uninsured_per_person"
                                       class="form-control"
                                       v-model="editedInsurance.uninsured_per_person"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('uninsured_per_person')">{{ insuranceErrors.get('uninsured_per_person') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 offset-sm-6">per accident</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('uninsured_per_accident')}">
                                <input type="number"
                                       name="uninsured_per_accident"
                                       class="form-control"
                                       v-model="editedInsurance.uninsured_per_accident"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('uninsured_per_accident')">{{ insuranceErrors.get('uninsured_per_accident') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PROPERTY DAMAGE -->
                <div v-if="getSessionCountryId == 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Property Damage</strong>
                        </div>
                        <div class="col-sm-3 offset-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('property_damage')}">
                                <input type="number"
                                       name="property_damage"
                                       class="form-control"
                                       v-model="editedInsurance.property_damage"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('property_damage')">{{ insuranceErrors.get('property_damage') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEDICAL -->
                <div v-if="getSessionCountryId == 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Medical</strong>
                        </div>
                        <div class="col-sm-3 offset-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('medical')}">
                                <input type="number"
                                       name="medical"
                                       class="form-control"
                                       v-model="editedInsurance.medical"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('medical')">{{ insuranceErrors.get('medical') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PL/PD -->
                <div v-if="getSessionCountryId == 2">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Public Liability / Public Damage</strong>
                        </div>
                        <div class="col-sm-3 offset-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('public_liability')}">
                                <input type="number"
                                       name="public_liability"
                                       class="form-control"
                                       v-model="editedInsurance.public_liability"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('public_liability')">{{ insuranceErrors.get('public_liability') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DEDUCTIBLE -->
                <div v-if="getSessionCountryId == 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Deductible</strong>
                        </div>
                        <div class="col-sm-3 offset-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('deductible')}">
                                <input type="number"
                                       name="deductible"
                                       class="form-control"
                                       v-model="editedInsurance.deductible"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('deductible')">{{ insuranceErrors.get('deductible') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COMPREHENSIVE -->
                <div v-if="getSessionCountryId == 2">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Deductible</strong>
                        </div>
                        <div class="col-sm-3">comprehensive</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('comprehensive_deductible')}">
                                <input type="number"
                                       name="comprehensive_deductible"
                                       class="form-control"
                                       v-model="editedInsurance.comprehensive_deductible"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('comprehensive_deductible')">{{ insuranceErrors.get('comprehensive_deductible') }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- COLLISION -->
                    <div class="row">
                        <div class="col-sm-3 offset-sm-6">collision</div>
                        <div class="col-sm-3">
                            <div :class="{'form-group': true, 'has-error':insuranceErrors.has('collision_deductible')}">
                                <input type="number"
                                       name="collision_deductible"
                                       class="form-control"
                                       v-model="editedInsurance.collision_deductible"
                                       :disabled="input_disabled">
                                <span class="help-block" v-if="insuranceErrors.has('collision_deductible')">{{ insuranceErrors.get('collision_deductible') }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled">
                            <input type="checkbox" v-model="editedInsurance.business_use"
                                   :disabled="input_disabled">
                            Business Use Required
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="col-sm-6"> </div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Insurance
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SAVE AND RESET -->
        <!--<div class="row">

            <div class="col-6">
                <loading-partial v-show="updating_insurance"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success float-right" style="margin-left: 1rem;"
                        v-if="getActiveRole === 'super'"
                        @click="saveInsurance()"
                        :disabled="insuranceErrors.any() || input_disabled || updating_insurance">
                    Save Insurance
                </button>

                <button class="btn btn-secondary float-right"
                        v-if="getActiveRole === 'super'"
                        @click="resetData()"
                        title="Cancel will reverse any unsaved changes"
                        :disabled="input_disabled || updating_insurance || cancel_disabled">
                    Cancel
                </button>

            </div>

        </div>-->

        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {Errors} from "../../utilities/index";
    import {ErrorsModal, LoadingPartial} from "../partials";
    import {CompanyCoordinatorSelect} from "./index"; // company
    import {EventBus} from "../../event-bus";

    export default {

        props: ['insurance', 'coordinatorsProp', 'company_id', 'mode'],

        components: {CompanyCoordinatorSelect, ErrorsModal, LoadingPartial},

        data() {
            return {
                caller_id: 'CompanyInsurance',
                editedInsurance: null,
                coordinators: null,
                insuranceErrors: new Errors,
                updating_insurance: false
            };
        },

        created() {

        },

        mounted() {
            if (this.insurance) {
                this.resetInsuranceData();
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getCompanyPlan',
                'getActiveRole',
                'getSessionCountryId'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedInsurance, this.insurance);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },

        watch: {
            getSessionCountryId: function (val) {

            },

            //Clone the prop for changes
            'insurance': {
                handler: function (insurance) {
                    if (insurance != null) {
                        this.resetInsuranceData();
                    }
                },
                immediate: true,
                deep: true
            },

            'coordinatorsProp': {
                handler: function (coordinators) {
                    if (coordinators != null) {
                        this.resetCoordinatorsData();
                    }
                },
                immediate: true,
                deep: true
            },

            //VALIDATION
            'editedInsurance.insurance_responsibility': {
                handler: function (val) {
                    // console.log(val);
                    if (!Common.isEmpty(val)) {
                        this.insuranceErrors.clear('insurance_responsibility');
                    } else {
                        this.insuranceErrors.add('insurance_responsibility', ['Please select one']);
                    }

                    this.editedInsurance.invoicing_interval = null;

                },
                deep: true,
            },

            'editedInsurance.invoicing_interval': {
                handler: function (val) {
                    if (this.editedInsurance.insurance_responsibility == 'CarData') {
                        if (!Common.isEmpty(val)) {
                            this.insuranceErrors.clear('invoicing_interval');
                        } else {
                            this.insuranceErrors.add('invoicing_interval', ['Please select one']);
                        }
                    } else {
                        this.insuranceErrors.clear('invoicing_interval');
                    }
                },
                deep: true,
            },

            'coordinators.insurance_coordinator_id': {
                handler: function (val) {
                    //TODO: DETERMINE WHAT CONDITION THIS NEEDS
                    if (val > 0) {
                        this.insuranceErrors.clear('insurance_coordinator_id');
                    } else {
                        this.insuranceErrors.add('insurance_coordinator_id', ['Please select one']);
                    }
                },
                deep: true,
            },

            'editedInsurance.insurance_coordinator_phone': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.coordinators.insurance_coordinator_phone.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                            this.insuranceErrors.add('insurance_coordinator_phone', ['Invalid Phone Number']);
                        } else {
                            this.insuranceErrors.clear('insurance_coordinator_phone');
                        }
                    }
                },
                deep: true,
            },

            'editedInsurance.insurance_fax_number': {
                handler: function () {
                    if (this.editedInsurance.insurance_fax_number.search(/^(1)? ?([0-9]{3})? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                        this.insuranceErrors.add('insurance_fax_number', ['Invalid fax number']);
                    } else {
                        this.insuranceErrors.clear('insurance_fax_number');
                    }
                },
            },

            'editedInsurance.initial_insurance_grace_end_date': {
                handler: function (val) {
                    if (Common.isEmpty(val) && val != '' && val != null) {
                        this.insuranceErrors.add('initial_insurance_grace_end_date', ['Select a date']);
                    } else {
                        this.insuranceErrors.clear('initial_insurance_grace_end_date');
                    }
                },
                deep: true
            },

            'editedInsurance.new_driver_insurance_grace_days': {
                handler: function (val) {
                    if (0 <= val && val <= 365) {
                        this.insuranceErrors.clear('new_driver_insurance_grace_days');
                    } else {
                        this.insuranceErrors.add('new_driver_insurance_grace_days', ['Select a number between 0 and 365']);
                    }
                },
                deep: true,
            },

            'editedInsurance.bodily_liability_per_person': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('bodily_liability_per_person');
                    } else {
                        this.insuranceErrors.add('bodily_liability_per_person', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.bodily_liability_per_accident': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('bodily_liability_per_accident');
                    } else {
                        this.insuranceErrors.add('bodily_liability_per_accident', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.uninsured_per_person': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('uninsured_per_person');
                    } else {
                        this.insuranceErrors.add('uninsured_per_person', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.uninsured_per_accident': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('uninsured_per_accident');
                    } else {
                        this.insuranceErrors.add('uninsured_per_accident', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.property_damage': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('property_damage');
                    } else {
                        this.insuranceErrors.add('property_damage', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.medical': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('medical');
                    } else {
                        this.insuranceErrors.add('medical', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.public_liability': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('public_liability');
                    } else {
                        this.insuranceErrors.add('public_liability', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.deductible': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('deductible');
                    } else {
                        this.insuranceErrors.add('deductible', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.comprehensive_deductible': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('comprehensive_deductible');
                    } else {
                        this.insuranceErrors.add('comprehensive_deductible', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

            'editedInsurance.collision_deductible': {
                handler: function (val) {
                    if (0 <= val) {
                        this.insuranceErrors.clear('collision_deductible');
                    } else {
                        this.insuranceErrors.add('collision_deductible', ['Select an amount greater than or equal to 0']);
                    }
                },
                deep: true,
            },

        },

        methods: {

            /**
             * Reset insurance and coordinators
             * Clear insuranceErrors
             * TODO: ??
             */
            cancelChanges() {
                this.resetInsuranceData();
                this.resetCoordinatorsData();
                this.insuranceErrors.clear();
            },

            /**
             * clone insuranceProp
             * Clear insuranceErrors
             * TODO: ??
             */
            resetInsuranceData() {
                this.editedInsurance = _.cloneDeep(this.insurance);
                // console.log('RESET INSURANCE DATA');

                /**
                 * If the company is not FAVR, force insurance review interval to be On_Renewal - REW 520
                 */
                if (this.getCompanyPlan !== 'FAVR') {
                    this.editedInsurance.insurance_review_interval = 'On_Renewal';
                }

            },

            /**
             * clone coordinatorsProp
             * Clear insuranceErrors
             * TODO: ??
             */
            resetCoordinatorsData() {
                this.coordinators = _.cloneDeep(this.coordinatorsProp);
                // console.log('RESET COORDINATORS DATA - INSURANCE');
            },

            /**
             * update company insurance table
             * catch and update insuranceErrors if they exist
             * TODO: switch subpage??
             */
            submitChanges() {
                this.updating_insurance = true;
                let data = {insurance: this.editedInsurance, coordinators: this.coordinators};

                axios.post('/updateCompanyInsurance/' + this.company_id, data).then(response => {
                    // console.log('company insurance successfully updated:');
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    this.updating_insurance = false;
                })
                    .catch(insuranceErrors => {
                        this.insuranceErrors.errors = insuranceErrors.response.data;

                        // tell the errors modal what the errors are
                        Common.fire(this.caller_id + '-errors-submitting', insuranceErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_insurance = false;
                    });

            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }

        }
    };
</script>

<style lang="css">
    #companyInsurance #insuranceMinimums .row:not(:last-child) {
        margin-bottom: -1.5rem;
    }

    #insuranceMinimumsPartial #insuranceRows .box {
        padding: .25rem;
    }

</style>