/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyLicense">
        <div class="row">
            <div class="col-sm-6">
                <div v-if="editedLicense"
                     :class="{'form-group row': true, 'has-error':licenseErrors.has('license_responsibility')}">
                    <label class="label col-sm-6">License Responsibility:</label>

                    <div class="col-sm">
                        <select v-model="editedLicense.license_responsibility"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="licenseErrors.has('license_responsibility')">{{ licenseErrors.get('license_responsibility') }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled">
                            <input type="checkbox" v-model="editedLicense.notify_license_expiry"
                                   :disabled="input_disabled">
                            Notify License Expiry
                        </label>
                    </div>
                </div>

                <div class="row">
                    <!-- INSURANCE COORDINATOR -->
                    <div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':licenseErrors.has('license_coordinator_id')}">
                            <company-coordinator-select v-model="coordinators.license_coordinator_id"
                                                        :company_id="this.company_id"
                                                        :responsibility="editedLicense.license_responsibility"
                                                        :label="'License Coordinator'"
                                                        :disabled="input_disabled"/>

                            <span class="help-block" v-if="licenseErrors.has('license_coordinator_id')">{{ licenseErrors.get('license_coordinator_id') }}</span>
                        </div>
                    </div>

                    <!-- COORDINATOR PHONE -->
                    <div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':licenseErrors.has('license_coordinator_phone')}">
                            <label class="label">Coordinator<br>Phone:</label>

                            <input type="text"
                                   name="license_coordinator_phone"
                                   class="form-control"
                                   v-model="coordinators.license_coordinator_phone"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="licenseErrors.has('license_coordinator_phone')">{{ licenseErrors.get('license_coordinator_phone') }}</span>
                        </div>
                    </div>

                    <!-- LICENSE FAX NUMBER-->
                    <div class="col-lg-4 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':licenseErrors.has('license_fax_number')}">
                            <label class="label">License Fax Number:</label>

                            <input type="text"
                                   name="license_fax_number"
                                   class="form-control"
                                   v-model="editedLicense.license_fax_number"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="licenseErrors.has('license_fax_number')">{{ licenseErrors.get('license_fax_number') }}</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-6" style="border-left: 2px solid #ddd;">
                <div :class="{'form-group row': true, 'has-error':licenseErrors.has('initial_license_enforcement_date')}">
                    <label class="label col-sm-6">Initial License Enforcement Date:</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="editedLicense.initial_license_enforcement_date"
                                                   :config="datePickerOptions"
                                                   :disabled="input_disabled"
                                                   :placeholder="'Select an initial license enforcement date...'"/>

                        <span class="help-block" v-if="licenseErrors.has('initial_license_enforcement_date')">{{ licenseErrors.get('initial_license_enforcement_date') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':licenseErrors.has('new_driver_license_grace_days')}">
                    <label class="label col-sm-6">New Driver License Grace Days:</label>

                    <div class="col-sm">
                        <input type="number" name="new_driver_license_grace_days" class="form-control"
                               v-model="editedLicense.new_driver_license_grace_days"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="licenseErrors.has('new_driver_license_grace_days')">{{ licenseErrors.get('new_driver_license_grace_days') }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':licenseErrors.has('license_review_day')}">
                            <label class="label">License Renewal Day:</label>

                            <input type="number" name="license_review_day" class="form-control"
                                   v-model="editedLicense.license_review_day"
                                   :disabled="input_disabled">

                            <span class="help-block" v-if="licenseErrors.has('license_review_day')">{{ licenseErrors.get('license_review_day') }}</span>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div :class="{'form-group': true, 'has-error':licenseErrors.has('license_review_month')}">
                            <month-select v-model="editedLicense.license_review_month"
                                          :display="'long'"
                                          :disabled="input_disabled"/>

                            <span class="help-block" v-if="licenseErrors.has('license_review_month')">{{ licenseErrors.get('license_review_month') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2rem;">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit License
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SAVE AND RESET -->
        <!--<div class="row">

            <div class="col-6">
                <loading-partial v-show="updating_license"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success float-right" style="margin-left: 1rem;"
                        v-if="getActiveRole === 'super'"
                        @click="saveLicense()"
                        :disabled="licenseErrors.any() || input_disabled || updating_license">
                    Save License
                </button>

                <button class="btn btn-secondary float-right"
                        v-if="getActiveRole === 'super'"
                        @click="resetData()"
                        title="Cancel will reverse any unsaved changes"
                        :disabled="input_disabled || updating_license || cancel_disabled">
                    Cancel
                </button>

            </div>

        </div>-->

        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <!--<errors-modal :caller_id="caller_id"/>-->
    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {ErrorsModal, MonthSelect, LoadingPartial} from "../partials";
    import {CompanyCoordinatorSelect} from "./index"; // company
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['license', 'coordinatorsProp', 'company_id', 'mode'],

        components: {CompanyCoordinatorSelect, ErrorsModal, MonthSelect, LoadingPartial},

        data() {
            return {
                caller_id: 'CompanyLicense',
                editedLicense: null,
                coordinators: null,
                licenseErrors: new Errors,
                updating_license: false,

                /**
                 * Force datepicker to open upward to fit
                 */
                datePickerOptions: {
                    format: 'YYYY-MM-DD',
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'top'
                    },
                    useCurrent: false,
                },
            };
        },

        created() {

        },

        mounted() {
            console.log('license: ', this.license);
            if (this.license) {
                this.editedLicense = _.cloneDeep(this.license);
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getActiveRole'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedLicense, this.license);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },

        watch: {

            //Clone the prop for changes
            'license': {
                handler: function (license) {
                    if (license != null) {
                        this.resetLicenseData();
                    }
                },
                immediate: true,
                deep: true
            },

            //Clone the prop for changes
            'coordinatorsProp': {
                handler: function (coordinators) {
                    if (coordinators != null) {
                        this.resetCoordinatorsData();
                    }
                },
                immediate: true,
                deep: true
            },

            //VALIDATION

            'editedLicense.license_responsibility': {
                handler: function (val) {
                    // console.log(val);
                    if (!Common.isEmpty(val)) {
                        this.licenseErrors.clear('license_responsibility');
                    } else {
                        this.licenseErrors.add('license_responsibility', ['Please select one']);
                    }
                },
                deep: true,
            },

            'coordinators.license_coordinator_id': {
                handler: function (val) {
                    //TODO: DETERMINE WHAT CONDITION THIS NEEDS
                    if (val > 0) {
                        this.licenseErrors.clear('license_coordinator_id');
                    } else {
                        this.licenseErrors.add('license_coordinator_id', ['Please select one']);
                    }
                },
                deep: true,
            },

            'coordinators.license_coordinator_phone': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.coordinators.license_coordinator_phone.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                            this.licenseErrors.add('license_coordinator_phone', ['Invalid Phone Number']);
                        } else {
                            this.licenseErrors.clear('license_coordinator_phone');
                        }
                    }
                },
                deep: true,
            },

            'editedLicense.license_fax_number': {
                handler: function () {
                    if (this.editedLicense.license_fax_number.search(/^(1)? ?-?([0-9]{3})? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                        this.licenseErrors.add('license_fax_number', ['Invalid fax number']);
                    } else {
                        this.licenseErrors.clear('license_fax_number');
                    }
                },
                deep: true,
            },


            //Reformat dates / validate
            'editedLicense.initial_license_enforcement_date': {
                handler: function (val) {
                    if (Common.isEmpty(val) && val !== '' && val != null) {
                        this.licenseErrors.add('initial_license_enforcement_date', ['Select a date']);
                    } else {
                        this.licenseErrors.clear('initial_license_enforcement_date');
                    }
                },
                deep: true
            },

            'editedLicense.new_driver_license_grace_days': {
                handler: function (val) {
                    if (0 <= val && val <= 365) {
                        this.licenseErrors.clear('new_driver_license_grace_days');
                    } else {
                        this.licenseErrors.add('new_driver_license_grace_days', ['Select a number between 0 and 365']);
                    }
                },
                deep: true,
            },


            'editedLicense.license_review_day': {
                handler: function (val) {
                    if (0 <= val && val <= 365) {
                        this.licenseErrors.clear('license_review_day');
                    } else {
                        this.licenseErrors.add('license_review_day', ['Select a number between 0 and 365']);
                    }
                },
                deep: true,
            },

//        'license.license_review_month': {
//            handler: function(val) {
//               // console.log(this.license.license_review_month);
//                if ( -1 <= val && val <= 12 ) {
//                    this.licenseErrors.clear('license_review_month');
//                } else {
//                    this.licenseErrors.add('license_review_month', ['Select a month']);
//                }
//            },
//            deep: true,
//        },


        },

        methods: {
            /**
             * Reset license and coordinator data
             * Clear licenseErrors
             * TODO: ??
             */
            cancelChanges() {
                this.resetCoordinatorsData();
                this.resetLicenseData();
                this.licenseErrors.clear();
            },

            /**
             * clone license prop
             * TODO: ??
             */
            resetLicenseData() {
                this.editedLicense = _.cloneDeep(this.license);
            },

            /**
             * clone coordinatorsProp
             * Clear licenseErrors
             * TODO: ??
             */
            resetCoordinatorsData() {
                this.coordinators = _.cloneDeep(this.coordinatorsProp);
            },

            /**
             * update company license table
             * catch and update licenseErrors if they exist
             * TODO: switch subpage??
             */
            submitChanges() {
                this.updating_license = true;
                let data = {license: this.editedLicense, coordinators: this.coordinators};

                axios.post('/updateCompanyLicense/' + this.company_id, data).then(response => {
                    // console.log('company license successfully updated:');
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    this.updating_license = false;
                })
                    .catch(licenseErrors => {
                        this.licenseErrors.errors = licenseErrors.response.data;

                        // tell the errors modal what the errors are
                        Common.fire(this.caller_id + '-errors-submitting', licenseErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_license = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }

        }
    };
</script>

<style lang="css">

</style>