/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyContacts">
        <button class="btn btn-secondary float-right mb-3"
                @click="addContact"
                :disabled="input_disabled">

            <i class="fal fa-plus"></i> Add Contact
        </button>

        <div class="clearfix"></div>

        <div class="row" v-for="contacts in chunkedContacts">
            <div class="col-lg-6 col-sm-12"
                 v-for="contact in contacts"
                 v-if="!deleted_contact_ids.includes(contact.id)"
                 :disabled="input_disabled">
                <div class="">
                    <company-contact-card :contactProp="contact" :disabled="input_disabled"/>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-6">
                <loading-partial v-show="updating_contacts"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success float-right" style="margin-left: 1rem;"
                        v-if="getActiveRole === 'super'"
                        @click="saveContacts()"
                        :disabled="contactsErrors.any() || input_disabled || updating_contacts">
                    Save Contacts
                </button>

                <button class="btn btn-secondary float-right"
                        v-if="getActiveRole === 'super'"
                        @click="resetData()"
                        title="Cancel will reverse any unsaved changes"
                        :disabled="input_disabled || updating_contacts || cancel_disabled">
                    Cancel
                </button>

            </div>

        </div>

        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>
    import {CompanyContact} from "../../models/Company/index";
    import {CompanyContactCard} from "./index";
    import {Errors} from "../../utilities/index";
    import {LoadingPartial, ErrorsModal} from "../partials";
    import {mapGetters} from 'vuex';

    export default {

        props: ['company_id', 'contactsProp', 'mode'],

        components: {LoadingPartial, CompanyContactCard, ErrorsModal},

        data() {
            return {
                caller_id: 'CompanyContacts',
                contactsErrors: new Errors,
                contacts: null,
                deleted_contact_ids: [],
                updating_contacts: false,
            };
        },

        created() {


        },

        mounted() {
            Common.listen('company-contact-changed', this.updateContact);
            Common.listen('delete-contact', this.deleteContact);
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getActiveRole'
            ]),

            chunkedContacts() {
                return _.chunk(this.contacts, 2);
            },

            input_disabled: function() {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function() {
                return _.isEqual(this.contacts, this.contactsProp);
            }
        },

        watch: {
            //Clone the prop for changes
            'contactsProp': {
                handler: function (contacts) {
                    if (contacts != null) {
                        this.resetData();
                    }
                },
                immediate: true,
                deep: true
            },

        },

        methods: {
            /**
             * clone contactsProp
             * Clear contactsErrors
             * TODO: ??
             */
            resetData() {
                this.deleted_contact_ids = [];
                this.contacts = _.cloneDeep(this.contactsProp);
                this.contactsErrors.clear();
                // console.log('RESET CONTACTS');
            },

            addContact() {
                this.contacts.push(new CompanyContact(this.company_id));
                // give the contact an id so we can associate it with errors
                this.contacts.slice(-1)[0].id = this.contacts.length == 1 ? 1 : this.contacts.slice(-2)[0].id + 1;
            },


            deleteContact(contact_id) {
                this.deleted_contact_ids.push(contact_id);
            },

            updateContact(contact) {
                for (let c in this.contacts) {
                    this.contacts[c] = this.contacts[c].id == contact.id ? contact : this.contacts[c];
                }
            },

            saveContacts() {
                this.updating_contacts = true;

                //filter out those not being displayed
                this.contacts = this.contacts.filter(contact => !this.deleted_contact_ids.includes(contact.id));
                this.deleted_contact_ids = [];

                let data = {contacts: this.contacts};

                //push the remaining to the server for a check
                axios.post('/updateCompanyContacts/' + this.company_id, data).then(response => {
                    // console.log('company contacts successfully updated:');
                    // console.log(this.contacts);
                    Common.fire('company-updated', {caller_id: this.caller_id, data: {contacts: response.data.contacts}});
                    this.updating_contacts = false;
                })
                /**
                 *   Here I must update a number of subcomponents with errors.
                 *   If I see an error for fax number, for example, I need to determine
                 *   which component (which contact that error belongs to).
                 *
                 *   To do this I grab the data that the server deemed invalid,
                 *   and update the entire collection of contact objects in contacts
                 *   Then the local watch triggers the front end validation to display the error
                 *   message.
                 */
                    .catch(contactErrors => {
                        // console.log(contactErrors.response);
                        this.contacts = JSON.parse(contactErrors.response.config.data).contacts;
                        // console.log('errors');
                        // console.log(this.contacts);
                        this.$forceUpdate();

                        // Here the specific errors are passed into ErrorsModal via the event
                        Common.fire(this.caller_id + '-errors-submitting', contactErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_contacts = false;
                    });

            },

        }
    };
</script>

<style lang="css">


</style>