/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyPayments" ref="companyPayments">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div v-if="editedPayments"
                     :class="{'form-group row': true, 'has-error':paymentsErrors.has('payment_responsibility')}">
                    <label class="label col-sm-6">Payment Responsibility:</label>


                    <div class="col-sm">
                        <select v-model="editedPayments.payment_responsibility"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>CarData</option>
                            <option>Client</option>
                        </select>
                        <span class="help-block" v-if="paymentsErrors.has('payment_responsibility')">{{ paymentsErrors.get('payment_responsibility') }}</span>
                    </div>
                </div>

                <div v-if="editedPayments && editedPayments.direct_pay_driver_fee"
                     :class="{'form-group row': true, 'has-error':paymentsErrors.has('direct_pay_driver_fee')}">
                    <label class="label col-sm-6">Direct Pay Per Driver Fee:</label>

                    <div class="col-sm">
                        <input type="number"
                               name="direct_pay_driver_fee"
                               class="form-control"
                               v-model="editedPayments.direct_pay_driver_fee"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="paymentsErrors.has('direct_pay_driver_fee')">{{ paymentsErrors.get('direct_pay_driver_fee') }}</span>
                    </div>
                </div>

                <div v-if="editedPayments && (editedPayments.latest_driver_fee || editedPayments.direct_pay_driver_fee > 0)"
                     :class="{'form-group row': true, 'has-error': paymentsErrors.has('driver_fee_starting')}">
                    <label class="col-sm-6">Valid Starting</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker v-model="driver_from_date_formatted"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"/>
                        <span class="help-block" v-if="paymentsErrors.has('driver_fee_starting')">{{ paymentsErrors.get('driver_fee_starting') }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="border-left: 1px solid #dddddd;">
                <div class="row" style="padding-bottom: 1rem;">
                    <div v-if="editedPayments && editedPayments.driver_fees && editedPayments.driver_fees.length > 0"
                         class="col-sm  table-responsive table-responsive-bordered mt-3" style="border: none; margin-top: 0 !important;">
                        <table id="userSortTable" class="table table-striped table-bordered table-sm table-hover mb-0">
                            <thead style="border: 1px solid #dddddd;">
                            <tr>
                                <th>Per-Driver Fee</th>
                                <th>Since</th>
                                <th>To</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="fee in editedPayments.driver_fees">
                                <td>{{ fee.amount }}</td>
                                <td>{{ fee.from_date }}</td>
                                <td>{{ fee.to_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0 mb-1">

        <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div v-if="editedPayments && editedPayments.direct_pay_file_fee"
                     :class="{'form-group row': true, 'has-error':paymentsErrors.has('direct_pay_file_fee')}">
                    <label class="label col-sm-6">Direct Pay File Fee:</label>

                    <div class="col-sm">
                        <input type="number"
                               name="direct_pay_file_fee"
                               class="form-control"
                               v-model="editedPayments.direct_pay_file_fee"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="paymentsErrors.has('direct_pay_file_fee')">{{ paymentsErrors.get('direct_pay_file_fee') }}</span>
                    </div>
                </div>

                <div v-if="editedPayments && editedPayments.latest_file_fee"
                     :class="{'form-group row': true, 'has-error': paymentsErrors.has('file_fee_starting')}">
                    <label class="col-sm-6">Valid Starting</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker v-model="file_from_date_formatted"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"/>
                        <span class="help-block" v-if="paymentsErrors.has('file_fee_starting')">{{ paymentsErrors.get('file_fee_starting') }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="border-left: 1px solid #dddddd;">
                <div class="row">
                    <div v-if="editedPayments && editedPayments.file_fees && editedPayments.file_fees.length > 0"
                         class="col-sm table-responsive table-responsive-bordered mt-3" style="border: none; margin-top: 0 !important;">
                        <table id="fileFeesTable" class="table table-striped table-bordered table-sm table-hover mb-0">
                            <thead style="border: 1px solid #dddddd;">
                            <tr>
                                <th>File Fee</th>
                                <th>Since</th>
                                <th>To</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="fee in editedPayments.file_fees">
                                <td>{{ fee.amount }}</td>
                                <td>{{ fee.from_date }}</td>
                                <td>{{ fee.to_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 3rem;">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Payments
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {Errors} from "../../utilities";
    import moment from 'moment';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['company_id', 'mode', 'payments', 'caller_id'],

        components: {},

        data() {
            return {
                paymentsErrors: new Errors,
                editedPayments: null,
                datePickerOptions: {
                    format: 'MMM YYYY',
                },
                driver_from_date_formatted: '',
                file_from_date_formatted: '',
                driver_from_date_changed: false,
                file_from_date_changed: false
            };
        },

        created() {
        },

        mounted() {
            console.log('payments: ', this.payments);
            if (this.payments) {
                this.editedPayments = _.cloneDeep(this.payments);

                this.getUpdatedFees()
                    .then(data => {

                    });
            }
        },

        computed: {
            input_disabled: function () {
                return 'show' == this.mode;
            },

            changes_detected: function () {
                return !_.isEqual(this.editedPayments, this.payments) || this.driver_from_date_changed || this.file_from_date_changed;
            }
        },

        watch: {
            payments: function (val) {
                console.log('payments: ', val);
                this.editedPayments = _.cloneDeep(val);
                this.getUpdatedFees()
                    .then(data => {

                    });
            },

            driver_from_date_formatted: function (val) {
                console.log('driver from date changed');
                this.checkDriverFromDate();
                this.$forceUpdate();
            },

            file_from_date_formatted: function (val) {
                console.log('file from date changed');
                this.checkFileFromDate();
                this.$forceUpdate();
            },

            editedPayments: function (val) {
                console.log('edited payments changed');
            },

            'editedPayments.latest_driver_fee': {
                handler: function (val) {
                    console.log('latest driver fee changed in watch');
                },
                deep: true
            },

            'editedPayments.latest_file_fee': {
                handler: function (val) {
                    console.log('latest file fee changed in watch');
                },
                deep: true
            }
        },

        methods: {
            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            getUpdatedFees() {
                let self = this;
                return new Promise(resolve => {
                    axios.get('/getAllCompanyFees/' + self.company_id).then(response => {
                        //this.financials.currentFees = response.data.currentFees;
                        //console.log('payments response allFees', response.data.allFees);
                        self.editedPayments.driver_fees = response.data.allFees.filter(fee => {
                            if (fee.fee == 'driver' && fee.to_date == null) {
                                self.editedPayments.latest_driver_fee = fee;
                                self.driver_from_date_formatted = moment(new Date(fee.from_date)).add(1, 'months').format("MMM YYYY");
                            }
                            return fee.fee == 'driver';
                        });
                        self.editedPayments.file_fees = response.data.allFees.filter(fee => {
                            //console.log('filter fee', fee);
                            if (fee.fee == 'file' && fee.to_date == null) {
                                self.editedPayments.latest_file_fee = fee;
                                self.file_from_date_formatted = moment(new Date(fee.from_date)).add(1, 'months').format("MMM YYYY");
                            }
                            return fee.fee == 'file';
                        });

                        this.$forceUpdate();
                        resolve();
                    });
                });
            },

            cancelChanges() {
                this.editedPayments = _.cloneDeep(this.payments);
                this.getUpdatedFees()
                    .then(data => {
                        this.paymentsErrors.clear();
                    });
            },

            submitChanges() {
                let obj = {
                    company_id: this.company_id,
                    payment_responsibility: this.editedPayments.payment_responsibility,
                    direct_pay_driver_fee: this.editedPayments.direct_pay_driver_fee,
                    direct_pay_file_fee: this.editedPayments.direct_pay_file_fee,
                    driver_from_date: this.driver_from_date_formatted != '' ? moment(new Date(this.driver_from_date_formatted)).format('YYYY-MM-01') : '',
                    file_from_date: this.file_from_date_formatted != '' ? moment(new Date(this.file_from_date_formatted)).format('YYYY-MM-01') : ''
                };

                console.log('submitting payments', obj);
                axios.post('/updateCompanyPayments', obj)
                    .then(response => {
                        EventBus.$emit('reload-company-prop');
                        // the next line is required to work around a bug in WebKit (Chrome / Safari)
                        //location.href = "#";
                        //location.href = "#companyPayments";
                    })
                    .catch(paymentsErrors => {
                        console.log('got paymentsErrors', paymentsErrors.response.data);
                        this.paymentsErrors.errors = paymentsErrors.response.data;
                        let y_pos = this.$el.querySelector(".help-block").offsetTop;
                        window.scrollTo(0, y_pos - 100);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos);
                        });
                        // this.updating_financials = false;
                    });
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            },

            checkDriverFromDate() {
                if (this.driver_from_date_formatted != '') {
                    this.driver_from_date_changed = this.driver_from_date_formatted != moment(new Date(this.editedPayments.latest_driver_fee.from_date)).format("MMM YYYY");
                }
            },

            checkFileFromDate() {
                let self = this;
                if (self.file_from_date_formatted != '') {
                    self.file_from_date_changed = self.file_from_date_formatted != moment(new Date(self.editedPayments.latest_file_fee.from_date)).format("MMM YYYY");
                }
            }
        }
    };
</script>

<style lang="css">

</style>