/**
Requires:
    responsibility - either 'CarData' or 'Client'
    company_id
    value - v-model in the parent on this component
Optional:

Getters:
    getPotentialCoordinators - gets the list of potential coordinators

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyCoordinatorSelect">

        <label :class="{'hidden': hideLabel}">{{ label + ':'}}</label>
            <select name="coordinatorSelect" id="coordinatorSelect" class="form-control"
                    :value="value"
                    @change="$emit('input', $event.target.value)"
                    :disabled="disabled">
                <option value="-1" :selected="value == -1">Select coordinator...</option>
                <option v-if="loaded && coordinators" v-for="coordinator in coordinators.supers" :value="coordinator.id"
                        :selected="value == coordinator.id">
                    <span>{{ coordinator.last_name + ', ' + coordinator.first_name + ' (Super)'}}</span>
                </option>
                <option v-if="loaded && coordinators" v-for="coordinator in coordinators.administrators" :value="coordinator.id"
                        :selected="value == coordinator.id">
                    <span>{{ coordinator.last_name + ', ' + coordinator.first_name + ' (Administrator)'}}</span>
                </option>

            </select>

    </div>
</template>

<script>
export default {

    props: ['value', 'responsibility', 'company_id', 'label', 'disabled', 'hideLabel'],

    components: {},

    data() {
        return{
            coordinators: {supers: null, administrators: null},
            loaded: false,
        }
    },

    created() {

    },

    mounted() {

    },

    destroyed() {

    },

    computed: {
        combined() {
            return {responsibility: this.responsibility, company_id: this.company_id};
        }
    },

    watch: {

        combined: {
            handler: function(value) {
                this.loaded = false;

                if (!Common.isEmpty(value.company_id) && !Common.isEmpty(value.responsibility) ) {
                    console.log('getting potential coords')
                    axios.post('/getPotentialCoordinators', value).then(response => {
                        this.coordinators = response.data.coordinators;
                        this.loaded = true;
                    }).catch(coordinatorErrors => {
                       // console.log(coordinatorErrors.response.data);
                    });
                }

            },
            immediate: true,
        },

    },

    methods: {

    }
}
</script>

<style lang="css">
    #companyCoordinatorSelect #loading {
        width: 100%;
    }

    #companyCoordinatorSelect .hidden {
        display: none;
    }

</style>