/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyInvoicing" class="success-scroll-invoicing" ref="companyInvoicing">
        <div class="row">
            <div class="col-sm-6">
                <!-- INVOICING INTERVAL -->
                <div v-if="editedInvoicing"
                     :class="{'form-group row': true, 'has-error':invoicingErrors.has('invoicing_interval')}">
                    <label class="label col-sm-6">Invoicing Interval:</label>


                    <div class="col-sm">
                        <select v-model="editedInvoicing.invoicing_interval"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>Annually</option>
                            <option>Monthly</option>
                        </select>
                        <span class="help-block" v-if="invoicingErrors.has('invoicing_interval')">{{ invoicingErrors.get('invoicing_interval') }}</span>
                    </div>
                </div>


                <!-- DRIVER FEE -->
                <div v-if="editedInvoicing && editedInvoicing.per_driver_fee"
                     :class="{'form-group row': true, 'has-error':invoicingErrors.has('per_driver_fee')}">
                    <label class="label col-sm-6">Invoice Per Driver Fee:</label>

                    <div class="col-sm">
                        <input type="number"
                               name="per_driver_fee"
                               class="form-control"
                               v-model="editedInvoicing.per_driver_fee"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="invoicingErrors.has('per_driver_fee')">{{ invoicingErrors.get('per_driver_fee') }}</span>
                    </div>
                </div>

                <div v-if="editedInvoicing && (editedInvoicing.latest_fee || editedInvoicing.per_driver_fee > 0)"
                     :class="{'form-group row': true, 'has-error': invoicingErrors.has('invoice_fee_starting')}">
                    <label class="label col-sm-6">Valid Starting</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker v-model="from_date_formatted"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"/>
                        <span class="help-block" v-if="invoicingErrors.has('invoice_fee_starting')">{{ invoicingErrors.get('invoice_fee_starting') }}</span>
                    </div>
                </div>
            </div>


            <div class="col-sm-6" style="border-left: 2px solid #dddddd;">

                <div v-if="editedInvoicing && editedInvoicing.invoice_fees && editedInvoicing.invoice_fees.length > 0"
                     class="table-responsive table-responsive-bordered">
                    <table id="invoiceFeeHistoryTable" class="table table-striped table-bordered table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Driver Fee History</th>
                            <th>Since</th>
                            <th>To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="fee in editedInvoicing.invoice_fees">
                            <td>{{ fee.amount }}</td>
                            <td>{{ fee.from_date }}</td>
                            <td>{{ fee.to_date }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'">


                    <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                            style="margin-left: 1rem;" @click="submitChanges">
                        <span v-if="changes_detected">Save Changes</span>
                        <span v-else>No Changes Detected</span>
                    </button>

                    <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                            @click="cancelChanges"
                            style="margin-left: 1rem;">
                        Cancel Changes
                    </button>

                    <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                            style="margin-left: 1rem;">
                        Stop Editing
                    </button>

                    <div class="clearfix"></div>

                </div>
                <div class="text-right si-show" v-else>


                    <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                            style="margin-left: 1rem;" @click="submitChanges">
                        <span v-if="changes_detected">Save Changes</span>
                        <span v-else>No Changes Detected</span>
                    </button>-->

                    <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                        Edit Invoicing
                    </button>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {Errors} from "../../utilities";
    import moment from 'moment';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['company_id', 'mode', 'invoicing', 'caller_id'],

        components: {},

        data() {
            return {
                invoicingErrors: new Errors,
                editedInvoicing: null,
                datePickerOptions: {
                    format: 'MMM YYYY',
                },
                from_date_formatted: '',
                original_date_formatted: '',
                from_date_changed: false
            };
        },

        created() {
        },

        mounted() {
            console.log('invoicing: ', this.invoicing);
            if (this.invoicing) {
                this.editedInvoicing = _.cloneDeep(this.invoicing);

                this.getUpdatedFees()
                    .then(data => {

                    });
            }
        },

        computed: {
            input_disabled: function () {
                return 'show' == this.mode;
            },

            changes_detected: function () {
                return !_.isEqual(this.editedInvoicing, this.invoicing) || this.from_date_changed;
            }
        },

        watch: {
            invoicing: function (val) {
                console.log('invoicing: ', val);
                this.editedInvoicing = _.cloneDeep(val);
                this.getUpdatedFees()
                    .then(data => {

                    });
            },

            from_date_formatted: function (val) {
                console.log('from date changed');
                this.checkFromDate();
                this.$forceUpdate();
            },

            editedInvoicing: function (val) {
                console.log('edited invoicing changed');
            },

            'editedInvoicing.latest_fee': {
                handler: function (val) {
                    console.log('latest_fee changed');

                    //console.log('comparing dates', this.from_date_formatted, moment(val.from_date).format('MMM YYYY'));

                },
                deep: true,
            }
        },

        methods: {
            getUpdatedFees() {
                let self = this;
                return new Promise(resolve => {
                    axios.get('/getAllCompanyFees/' + self.company_id).then(response => {
                        //this.financials.currentFees = response.data.currentFees;
                        console.log('response allFees', response.data.allFees);
                        self.editedInvoicing.invoice_fees = response.data.allFees.filter(fee => {
                            console.log('filter fee', fee);
                            if (fee.fee == 'invoice' && fee.to_date == null) {
                                self.editedInvoicing.latest_fee = fee;
                                self.from_date_formatted = moment(new Date(fee.from_date)).add(1, 'months').format("MMM YYYY");
                            }
                            return fee.fee == 'invoice';
                        });
                        console.log('now fees = ', self.editedInvoicing.invoice_fees);
                        this.$forceUpdate();
                        resolve();
                    });
                });
            },

            checkFromDate() {
                if (this.from_date_formatted != '') {
                    this.from_date_changed = this.from_date_formatted != moment(new Date(this.editedInvoicing.latest_fee.from_date)).format("MMM YYYY");
                }
            },

            cancelChanges() {
                this.editedInvoicing = _.cloneDeep(this.invoicing);
                this.getUpdatedFees()
                    .then(data => {
                        this.invoicingErrors.clear();
                    });
            },

            submitChanges() {
                let obj = {
                    company_id: this.company_id,
                    invoicing_interval: this.editedInvoicing.invoicing_interval,
                    per_driver_fee: this.editedInvoicing.per_driver_fee,
                    from_date: this.from_date_formatted != '' ? moment(new Date(this.from_date_formatted)).format('YYYY-MM-01') : ''
                };
                console.log('submitting invoicing', obj);
                axios.post('/updateCompanyInvoicing', obj)
                    .then(response => {
                        EventBus.$emit('reload-company-prop');
                        // the next line is required to work around a bug in WebKit (Chrome / Safari)
                        //location.href = "#";
                        //location.href = "#companyInvoicing";
                    })
                    .catch(invoicingErrors => {
                        this.invoicingErrors.errors = invoicingErrors.response.data;
                        let y_pos = this.$el.querySelector(".help-block").offsetTop;
                        window.scrollTo(0, y_pos - 100);

                        // tell the errors modal what the errors are
                        //Common.fire(this.caller_id + '-errors-submitting', invoicingErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos);
                        });
                        // this.updating_financials = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }
        }
    };
</script>

<style lang="css">
#invoiceFeeHistoryTable {
    line-height: 1;
}
</style>