/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/

<template lang="html">
    <div id="companiesView">

        <!-- TITLE AREA -->
        <div class="row">
            <div class="col-sm">
                <h2 v-if="mode != null && mode !== ''">
                    <span v-if="mode === 'show'">Show</span>
                    <span v-if="mode === 'add'">Add</span>
                    <span v-if="mode === 'edit'">Edit</span>
                    <span v-if="mode === 'inactivate'">Inactivate</span>
                    <span v-if="mode === 'reactivate'">Reactivate</span>
                    Company
                </h2>
                <h2 v-else>
                    Companies {{ mode }}
                </h2>
            </div>
            <div class="col-sm">
                <company-select :inactive_position="'top'" />
            </div>
            <!-- COMPANY SUBPAGE NAVIGATION BUTTONS -->
            <div class="col-sm">

                <div class="row" v-if="mode === 'show'">


                </div>

                <div v-else class="float-right">
                    <button v-if="company && company.active && loaded"
                            class="inactivate-company btn btn-danger btn-sm float-left rounded-action-btn-30px"
                            :disabled="getSessionCompanyId == -1"
                            @click="switchSubpage('inactivate')"
                            title="Inactivate Company">
                        <i class="fal fa-power-off"></i>
                    </button>

                    <button v-else-if="company && !company.active && loaded" class="reactivate-company btn btn-success btn-sm float-left rounded-action-btn-30px"
                            :disabled="getSessionCompanyId == -1"
                            @click="switchSubpage('reactivate')"
                            title="Reactivate Company">
                        <i class="fal fa-power-off"></i>
                    </button>

                    <button v-if="loaded && mode == 'edit'" class="btn is-danger float-left"
                            @click="switchSubpage('show')">Cancel
                    </button>
                </div>

            </div>


        </div>


        <div v-if="loaded || mode === 'add'">

            <add-company-page v-if="mode === 'add'"/>

            <edit-company-page v-if="mode === 'edit' || mode === 'show'"
                               :mode="mode"
                               :company="company"/>

            <reactivate-company-page
                    v-if="mode === 'reactivate' && company.active === 0"/>

            <inactivate-company-page v-if="mode === 'inactivate'"/>

        </div>


        <div v-else-if="loaded === null">
            <p>Please select a company above.</p>
        </div>

        <!--company_id is -1, we aren't 'loading' anything yet -->
        <loading-partial v-show="!loaded && this.getSessionCompanyId > 0"/>



        <br>
        <!-- bottom of page cancel -->
        <div v-if="mode !== 'show'" class="columns">
            <div class="column is-8"></div>
            <div class="column is-4">
                <button class="btn is-danger float-right"
                        @click="switchSubpage('show')">Cancel
                </button>
            </div>
        </div>


    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "../../event-bus";
import {
  AddCompanyPage,
  EditCompanyPage,
  InactivateCompanyPage,
  ReactivateCompanyPage
} from "./index";
import { LoadingPartial, CompanySelect } from "../partials";

export default {
  components: {
    LoadingPartial,
    AddCompanyPage,
    EditCompanyPage,
    InactivateCompanyPage,
    ReactivateCompanyPage,
      CompanySelect
  },

  data() {
    return {
      caller_id: "CompaniesView",
      mode: "show",
      loaded: null,
      company: null
      // company_is_active: 1
    };
  },

  created() {
    if (Common.isEmpty(this.getSubView)) {
      this.mode = "show";
      this.switchSubpage("show");
    } else {
      this.switchSubpage(this.getSubView);
    }
  },

  mounted() {
    /*EventBus.$on('company-inactivated', () => {
                this.company_is_active = 0;
            });

            EventBus.$on('company-reactivated', () => {
                this.company_is_active = 1;
            });*/
    EventBus.$on("add-new-company", () => {
      this.switchSubpage("add");
    });
    EventBus.$on("edit-company", () => {
      this.switchSubpage("edit");
    });
    EventBus.$on("cancel-edit-company", () => {
      this.switchSubpage("show");
    });
    EventBus.$on("inactivate-company", () => {
      this.switchSubpage("inactivate");
    });
    EventBus.$on("reactivate-company", () => {
      this.switchSubpage("reactivate");
    });
    Common.listen("switch-companies-subpage", this.switchSubpage);
    EventBus.$on("company-created", this.companyCreated);
    EventBus.$on("company-inactivated", this.companyInactivated);
    EventBus.$on("company-reactivated", this.companyReactivated);
    Common.listen("company-updated", this.companyUpdated);

    EventBus.$on("reload-company-prop", () => {
      this.getCompany();
    });

    if (this.getSessionCompanyId > 0) {
      this.getCompany();
    }
  },

  computed: {
    ...mapGetters([
      "getSubView",
      "getSessionCompanyId",
      "getSessionCompanyName",
      "getSessionCompanies"
    ])
  },

  destroyed() {
    //TODO: set session values to defaults
    // console.log('here now');
    Common.fire(this.caller_id + "-reset-companies");
  },

  watch: {
    /**
     * Whenever a new company is selected, get the new company yo
     */
    getSessionCompanyId: function() {
      this.getCompany();
    }
  },

  methods: {
    companyAction(action) {
      EventBus.$emit(action + "-company");
    },

    getCompany() {
      console.log("getting company, ", this.getSessionCompanyId);
      // console.log('CompaniesView got new company ' + this.getSessionCompanyId);
      if (this.getSessionCompanyId > 0) {
        this.loaded = false;
        // console.log('starting to get company');
        let start = new Date().getTime();
        axios.get("/getCompany/" + this.getSessionCompanyId).then(response => {
          console.log(
            "CompaniesView: response from /getCompany",
            response.data
          );
          let end = new Date().getTime();
          let time = end - start;
          // console.log('got company in ' + time);
          this.company = response.data.company;

          // if the newly selected company has been inactivated, switch the subpage to show
          if (!Common.isEmpty(this.company.deleted_at)) {
            this.switchSubpage("show");
          }

          this.loaded = true;
          // console.log(this.company);
        });
      } else {
        this.loaded = null;
      }
    },

    /**
     * Set the new subpage value in session (in case of user refresh)
     * Set the mode to subpage
     *
     * The viewInfo takes care of the breadcrumbs
     */
    switchSubpage(subpage) {
      if (Common.isEmpty(subpage)) {
        console.log("YES IT IS EMPTY");
        subpage = "show";
      }
      Common.storeCommit("view", { view: "companies", subView: subpage });
      console.log("about to set mode to " + subpage);
      this.mode = !Common.isEmpty(subpage) ? subpage : "show";
    },

    /**
     * New company created. We alter the local company_id, which triggers the watch
     * The new company_id is set in session, and the new company object is grabbed, and passed to
     * all of the subpages
     *
     * @param new_company_id
     */
    companyCreated(new_company_id) {
      // set us to loading again
      this.loaded = false;
      // switch the subpage, once its loaded it will set loaded = true
      this.switchSubpage("edit");
    },

    /**
     * Company deactivated. We alter the local company_id, which triggers the watch and the new company_id is
     * set in session.
     *
     */
    companyInactivated() {
      this.loaded = null;
      Common.setSession("session_company_id", -1);
      this.switchSubpage("show");
    },

    /**
     * Company Reactivated. Local company_id is switched to -1, triggering a watch with no
     * axios request, then set to the reactivated company's company_id triggering the watch
     * fetching the reactivated company data.
     *
     * @param company_id
     */
    companyReactivated(company_id) {
      // Common.setSession('session_company_id', company_id);
      // this.switchSubpage('show');
      this.loaded = false;
      axios.get("/getCompany/" + company_id).then(response => {
        this.company = response.data.company;
        this.loaded = true;
        console.log("updaing company id");
        Common.storeCommit("updateSessionCompanyId", company_id);
        EventBus.$emit("company-changed");
        this.switchSubpage("show");
      });
    },

    /**
     * Existing company updated. We update the local company, and the effects trickle down to all
     * other subpages
     *
     *
     * @param request = {caller_id: 'foo',  data: obj}
     *
     *   ex.
     *      request = {caller_id: 'CompanyProfile', data: { profile: (obj)profile, coordinators: (obj)coordinators} }
     *
     *   NOTE: special case for ALL
     *      all will fire an event to each subpage, telling them to save
     */
    companyUpdated(request) {
      console.log("COMPANY UPDATED");
      switch (request.caller_id) {
        case "CompanyProfile":
          this.company.profile = request.data.profile;
          this.company.coordinators = request.data.coordinators;
          // console.log('companies view company obj updated');
          break;
        case "CompanyOptions":
          this.company.options = request.data.options;
          // console.log('companies view company obj updated');
          break;
        case "CompanyContacts":
          this.company.contacts = request.data.contacts;
          // console.log('companies view company obj updated');
          break;
        case "CompanyInsurance":
          this.company.insurance = request.data.insurance;
          this.company.coordinators = request.data.coordinators;
          // console.log('companies view company obj updated');
          break;
        case "CompanyLicense":
          this.company.license = request.data.license;
          this.company.coordinators = request.data.coordinators;
          // console.log('companies view company obj updated');
          break;
        case "CompanyMileage":
          this.company.mileage = request.data.mileage;
          this.company.coordinators = request.data.coordinators;
          // console.log('companies view company obj updated');
          break;
        case "CompanyTaxes":
          this.company.taxes = request.data.taxes;
          break;
      }
    }
  }
};
</script>

<style lang="scss">
#companiesView {
  .fusion-accordion {
    margin-bottom: 30px;
  }

  .card {
    overflow: hidden;
  }

  .card-header {
    background: #052460;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .card-header[aria-expanded] {
    i {
      transition: all 0.3s;
    }
  }

  .card-header[aria-expanded="true"] {
    i {
      transform: rotate(180deg);
    }
  }

  .card-body {
    background: #dadee7;
    /*background: rgba(5, 36, 96, .1);*/
  }
}
</style>
