/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyDates" ref="companyDates">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('mileage_reminder_day')}">
                    <label class="label col-sm-6">Mileage Reminder Day:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.mileage_reminder_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('mileage_reminder_day')">{{ dateErrors.get('mileage_reminder_day') }}</span>
                    </div>
                </div>


                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('second_mileage_reminder_day')}">
                    <label class="label col-sm-6">Second Mileage Reminder Day:</label>

                    <div class="col-sm-3">
                        <input type="number"
                               class="form-control"
                               v-model="editedDates.second_mileage_reminder_day"
                               :disabled="input_disabled"">
                        <!--<select v-model="editedDates.second_mileage_reminder_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>-->

                        <span class="help-block" v-if="dateErrors.has('second_mileage_reminder_day')">{{ dateErrors.get('second_mileage_reminder_day') }}</span>
                    </div>
                </div>

                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('mileage_lock_driver_day')}">
                    <label class="label col-sm-6">Mileage Lock, Driver:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.mileage_lock_driver_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('mileage_lock_driver_day')">{{ dateErrors.get('mileage_lock_driver_day') }}</span>
                    </div>
                </div>

                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('mileage_lock_all_day')}">
                    <label class="label col-sm-6">Mileage Lock, All:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.mileage_lock_all_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('mileage_lock_all_day')">{{ dateErrors.get('mileage_lock_all_day') }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('mileage_approval_end_day')}">
                    <label class="label col-sm-6">Approval End Day:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.mileage_approval_end_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('mileage_approval_end_day')">{{ dateErrors.get('mileage_approval_end_day') }}</span>
                    </div>
                </div>

                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('pay_file_day')}">
                    <label class="label col-sm-6">Pay File Day:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.pay_file_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('pay_file_day')">{{ dateErrors.get('pay_file_day') }}</span>
                    </div>
                </div>

                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('direct_pay_day')}">
                    <label class="label col-sm-6">Direct Pay Day:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.direct_pay_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('direct_pay_day')">{{ dateErrors.get('direct_pay_day') }}</span>
                    </div>
                </div>

                <div v-if="editedDates"
                     :class="{'form-group row': true, 'has-error':dateErrors.has('no_reimbursement_notification_day')}">
                    <label class="label col-sm-6">Drivers Without Reimbursement Reminder:</label>

                    <div class="col-sm-2">
                        <select v-model="editedDates.no_reimbursement_notification_day"
                                class="form-control"
                                :disabled="input_disabled">
                            <option v-for="i in date_range" :value="i">{{ i }}</option>
                        </select>

                        <span class="help-block" v-if="dateErrors.has('no_reimbursement_notification_day')">{{ dateErrors.get('no_reimbursement_notification_day') }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Dates
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {Errors} from "../../utilities";
    import moment from 'moment';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['company_id', 'mode', 'dates', 'caller_id'],

        components: {},

        data() {
            return {
                dateErrors: new Errors,
                editedDates: null
            };
        },

        created() {
        },

        mounted() {
            console.log('dates: ', this.invoicing);
            if (this.dates) {
                console.log('companyDates: mounted dates', this.dates);
                this.editedDates = _.cloneDeep(this.dates);
                console.log(this.editedDates);
            }
        },

        computed: {
            input_disabled: function () {
                return 'show' == this.mode;
            },

            changes_detected: function () {
                return !_.isEqual(this.editedDates, this.dates);
            },

            date_range: function () {
                return _.range(0, 32, 1);
            }
        },

        watch: {
            dates: function (val) {
                console.log('dates: ', val);
                this.editedDates = _.cloneDeep(val);
            }
        },

        methods: {

            cancelChanges() {
                this.editedDates = _.cloneDeep(this.dates);
            },

            submitChanges() {
                let obj = {
                    company_id: this.company_id,
                    dates: this.editedDates
                };
                console.log('submitting dates', obj);
                axios.post('/updateCompanyDates', obj)
                    .then(response => {
                        EventBus.$emit('reload-company-prop');
                        // the next line is required to work around a bug in WebKit (Chrome / Safari)
                        //location.href = "#";
                        //location.href = "#companyDates";
                    })
                    .catch(dateErrors => {
                        this.dateErrors.errors = dateErrors.response.data;
                        let y_pos = this.$el.querySelector(".help-block").offsetTop;
                        window.scrollTo(0, y_pos - 100);

                        // tell the errors modal what the errors are
                        //Common.fire(this.caller_id + '-errors-submitting', invoicingErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos);
                        });
                        // this.updating_financials = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }
        }
    };
</script>

<style lang="css">

</style>