/**
Requires:
    contactProp - a company contact object
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyContactCard" class="card mb-3">

        <div class="card-header" style="padding: 0px;">
            <button :class="header_button_class" style="width: 100%; height: 100%; text-align: left;" data-toggle="collapse" :data-target="['#' + 'collapse-' + contact.id]" aria-expanded="false" :aria-controls="['collapse-' + contact.id]">
                <span>{{ contact.title + ' ' + contact.first_name + ' ' + contact.last_name }}</span>
                <i class="fas fa-plus" style="position: absolute; right: 12px; top: 13px; font-size: 12px;"></i>
            </button>
        </div>

        <div :id="['collapse-' + contact.id]" class="collapse" aria-labelledby="companyContactCardHeading" data-parent="#accordion" aria-expanded="false">
            <div class="card-body pb-2 position-relative" style="padding-top: 30px;">
                <!-- FORM GOES HERE -->
                <button class="btn btn-danger rounded-action-btn-30px position-absolute"
                        aria-label="delete"
                        style="top: 5px; right: 0; width: 24px; height: 24px; line-height: 22px;"
                        title="Delete Contact"
                        @click="deleteContact" :disabled="disabled">
                    <i class="fal fa-times"></i>
                </button>

                <!-- ROW 1 -->
                <div class="row">

                    <!-- FIRST NAME -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('first_name')}">
                            <label class="label">First Name:</label>

                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   v-model="contact.first_name"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('first_name')">{{ contactErrors.get('first_name') }}</span>
                        </div>
                    </div>


                    <!-- LAST NAME -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('last_name')}">
                            <label class="label">Last Name:</label>

                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   v-model="contact.last_name"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('last_name')">{{ contactErrors.get('last_name') }}</span>
                        </div>
                    </div>

                </div>

                <!-- ROW 2 -->
                <div class="row">

                    <!-- TITLE -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('title')}">
                            <label class="label">Title:</label>

                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   v-model="contact.title"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('title')">{{ contactErrors.get('title') }}</span>
                        </div>
                    </div>


                    <!-- TYPE -->
                    <!-- MILEAGE BAND AUDIT METHOD -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('type')}">
                            <label class="label">Type:</label>
                            <select class="form-control"
                                    v-model="contact.type"
                                    :disabled="disabled">
                                <option :value="-1">Select one...</option>
                                <option>Executive</option>
                                <option>Administrator</option>
                                <option>Contact</option>
                            </select>
                            <span class="help-block" v-if="contactErrors.has('type')">{{ contactErrors.get('type') }}</span>
                        </div>
                    </div>
                </div> <!-- END ROW -->


                <!-- ROW 3 -->
                <div class="row">


                    <!-- EMAIL -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('email')}">
                            <label class="label">Email:</label>

                            <input type="text"
                                   name="email"
                                   class="form-control"
                                   v-model="contact.email"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('email')">{{ contactErrors.get('email') }}</span>
                        </div>
                    </div>


                    <!-- PHONE -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('phone_number')}">
                            <label class="label">Phone:</label>

                            <input type="text"
                                   name="phone_number"
                                   class="form-control"
                                   v-model="contact.phone_number"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('phone_number')">{{ contactErrors.get('phone_number') }}</span>
                        </div>
                    </div>

                </div>

                <!-- ROW 4 -->
                <div class="row">

                    <!-- CELL -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('mobile_number')}">
                            <label class="label">Mobile:</label>

                            <input type="text"
                                   name="mobile_number"
                                   class="form-control"
                                   v-model="contact.mobile_number"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('mobile_number')">{{ contactErrors.get('mobile_number') }}</span>
                        </div>
                    </div>


                    <!-- FAX -->
                    <div class="col-lg-6 col-sm-12">
                        <div :class="{'form-group': true, 'has-error':contactErrors.has('fax_number')}">
                            <label class="label">Fax:</label>

                            <input type="text"
                                   name="fax_number"
                                   class="form-control"
                                   v-model="contact.fax_number"
                                   :disabled="disabled">

                            <span class="help-block" v-if="contactErrors.has('fax_number')">{{ contactErrors.get('fax_number') }}</span>
                        </div>
                    </div>
                </div> <!-- END ROW -->

            </div> <!-- END MESSAGE BODY -->
        </div>
    </div>

</template>


<script>
    import {Errors} from "../../utilities/index";

    export default {

    props: ['contactProp', 'disabled'],

    components: {},

    data() {
        return{
            contactErrors: new Errors,
            contact: null,
            display_contact: false,
        }
    },

    created() {

    },

    mounted() {

    },

    destroyed() {

    },

    computed: {
        header_button_class() {
            if ( this.contactProp.unsubmitted ) {
                return 'btn btn-secondary';
            } else {
                return 'btn btn-primary';
            }
        },
    },

    watch: {
        'contactProp': {
            handler: function(contact) {
                if (contact != null) {
                    this.resetData();
                }
            },
            immediate: true,
            deep: true,
        },

        'contact': {
            handler: function(contact) {
                Common.fire('company-contact-changed', contact);
            },
            deep: true,
        },

        'contact.first_name': {
            handler: function() {
                if (this.contact.first_name.search(/^[a-zA-Z,\- ]+$/) === -1) {
                    this.contactErrors.add('first_name', ['Invalid Name']);
                } else {
                    this.contactErrors.clear('first_name');
                }
            },
            deep: true,
        },

        'contact.last_name': {
            handler: function() {
                if (this.contact.last_name.search(/^[a-zA-Z,\- ]+$/) === -1) {
                    this.contactErrors.add('last_name', ['Invalid Name']);
                } else {
                    this.contactErrors.clear('last_name');
                }
            },
            deep: true,
        },

        'contact.title': {
            handler: function() {
                if (this.contact.title.search(/^[a-zA-Z0-9.,\- ]+$/) === -1) {
                    this.contactErrors.add('title', ['Invalid Title']);
                } else {
                    this.contactErrors.clear('title');
                }
            },
            deep: true,
        },

        'contact.type': {
            handler: function() {
                if ( this.contact.type != 'Executive'
                        && this.contact.type != 'Administrator'
                        && this.contact.type != 'Contact') {

                    this.contactErrors.add('type', ['Invalid Type']);

                } else {
                    this.contactErrors.clear('type');
                }
            },
            deep: true,
        },

        'contact.email': {
            handler: function() {
                if (this.contact.email.search(/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9.]+$/) === -1) {
                    this.contactErrors.add('email', ['Invalid Email']);
                } else {
                    this.contactErrors.clear('email');
                }
            },
            deep: true,
        },

        'contact.phone_number': {
            handler: function() {
                this.validatePhoneMobileFax();
                /**
                 * Check if mobile is entered, if mobile is entered allow phone blank
                 */

            },
            deep: true,
        },

        'contact.mobile_number': {
            handler: function() {
                this.validatePhoneMobileFax();
                /**
                 * Check if phone is entered. if phone has no errors, allow mobile blank
                 */
                if ( !this.contactErrors.has('phone_number')
                    && this.contact.phone_number
                    && Common.isEmpty(this.contact.mobile_number )
                ) {
                    this.contactErrors.clear('mobile_number');
                    return;
                }


                if (this.contact.mobile_number.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                    this.contactErrors.add('mobile_number', ['Invalid Mobile Number']);
                } else {
                    this.contactErrors.clear('mobile_number');
                }
            },
            deep: true,
        },

        'contact.fax_number': {
            handler: function() {
                this.validatePhoneMobileFax();
            },
            deep: true,
        },

    },

    methods: {
        /**
         * clone contactProp
         * Clear contactErrors
         * TODO: ??
         */
        resetData() {
            this.contact = _.cloneDeep(this.contactProp);
            this.contactErrors.clear();
           // console.log('RESET CONTACT id: ' + this.contact.id);
        },

        deleteContact() {
            if (confirm("Are you sure you want to delete this contact?")) {
                Common.fire('delete-contact', this.contact.id);
            }

        },

        validatePhoneMobileFax() {
            /**
             * FAX
             * If its empty, clear any errors, it is not a required field.
             * Else try to validate, and if its bad add errors, otherwise clear errors
             */
            if (Common.isEmpty(this.contact.fax_number)) {
                this.contactErrors.clear('fax_number');
            } else if (this.contact.fax_number.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                this.contactErrors.add('fax_number', ['Invalid Fax Number']);
            } else {
                this.contactErrors.clear('fax_number');
            }


            /**
             * PHONE NUMBER
             * If there is input, we validate it
             */
            if (this.contact.phone_number && this.contact.phone_number.length > 0) {
                if (this.contact.phone_number.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                    this.contactErrors.add('phone_number', ['Invalid Phone Number']);
                } else {
                    this.contactErrors.clear('phone_number');
                }
            }

            /**
             * MOBILE NUMBER
             * If there is input, we validate it
             */
            if (this.contact.mobile_number && this.contact.mobile_number.length > 0) {
                if (this.contact.mobile_number.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                    this.contactErrors.add('mobile_number', ['Invalid Phone Number']);
                } else {
                    this.contactErrors.clear('mobile_number');
                }
            }

            /**
             * One of mobile or phone must be present
             */
            if ( Common.isEmpty(this.contact.mobile_number) && Common.isEmpty(this.contact.phone_number)) {
                this.contactErrors.add('phone_number', ['A phone or mobile number is required']);
                this.contactErrors.add('mobile_number', ['A phone or mobile number is required']);
            }

            /**
             * If one of mobile or phone is present, and the other is empty, clear the empty one's errors
             */
            if (Common.isEmpty(this.contact.mobile_number)
                && !Common.isEmpty(this.contact.phone_number)) {
                this.contactErrors.clear('mobile_number')
            }

            if (Common.isEmpty(this.contact.phone_number)
                && !Common.isEmpty(this.contact.mobile_number)) {
                this.contactErrors.clear('phone_number');
            }


        }

    }
    }
</script>

<style lang="scss">
    #companyContacts {
        .card-header button[aria-expanded=true] {
            > i {
                /*transform: rotate(180deg);*/
                &:before {
                    content: '\f068';
                }
            }
        }
        .card-header {
            > button {
                min-height: 39px;

                .rounded-action-btn-30px {
                    margin-right: 15px !important;
                    width: 24px;
                    height: 24px;
                    line-height: 20px;
                }
            }
        }
    }
</style>