/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="companyMileage" ref="companyMileage">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-6">
                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('mileage_entry_method')}">
                    <label class="label col-sm-6">Mileage Entry</label>

                    <div class="col-sm">
                        <mileage-entry-select v-model="editedMileage.mileage_entry_method"
                                              :hideLabel="1"
                                              :disabled="input_disabled"/>

                        <span class="help-block" v-if="mileageErrors.has('mileage_entry_method')">{{ mileageErrors.get('mileage_entry_method') }}</span>
                    </div>
                </div>

                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('mileage_band_audit_method')}">
                    <label class="label col-sm-6">Mileage Band Audit Method:</label>

                    <div class="col-sm">
                        <select v-model="editedMileage.mileage_band_audit_method"
                                class="form-control"
                                :disabled="input_disabled">
                            <option :value="null">Select one...</option>
                            <option>Business to Annual</option>
                            <option>Business Mileage</option>
                        </select>
                        <span class="help-block" v-if="mileageErrors.has('mileage_band_audit_method')">{{ mileageErrors.get('mileage_band_audit_method') }}</span>
                    </div>
                </div>


            </div>

            <div class="col-sm-6" style="border-left: 2px solid #dddddd;">
                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('new_driver_mileage_grace_days')}">
                    <label class="label col-sm-6">New Driver Mileage Grace Days:</label>

                    <div class="col-sm">
                        <input type="number"
                               name="new_driver_mileage_grace_days"
                               class="form-control"
                               v-model="editedMileage.new_driver_mileage_grace_days"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="mileageErrors.has('new_driver_mileage_grace_days')">{{ mileageErrors.get('new_driver_mileage_grace_days') }}</span>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm">
                        <label class="checkbox" :disabled="input_disabled">
                            <input type="checkbox" v-model="editedMileage.client_views_mileage_band_audit"
                                   :disabled="input_disabled">
                            Client Views Mileage Band Audit
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0 mb-1" v-if="editedMileage.mileage_entry_method == 'Mi-Route'">

        <div class="row" v-if="editedMileage.mileage_entry_method == 'Mi-Route'" style="margin-top: 1rem;">
            <div class="col-sm-6">
                <h5>Mi-Route</h5>

                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('miroute_coordinator_id')}">
                    <label class="label col-sm-6">Mi-Route Coordinator:</label>

                    <div class="col-sm">
                        <company-coordinator-select v-model="coordinators.miroute_coordinator_id"
                                                    :company_id="this.company_id"
                                                    :responsibility="'CarData'"
                                                    :hideLabel="1"
                                                    :disabled="input_disabled"/>

                        <span class="help-block" v-if="mileageErrors.has('miroute_coordinator_id')">{{ mileageErrors.get('miroute_coordinator_id') }}</span>
                    </div>
                </div>


                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('miroute_coordinator_phone')}">
                    <label class="label col-sm-6">Coordinator Phone:</label>

                    <div class="col-sm">
                        <input type="text"
                               name="miroute_coordinator_phone"
                               class="form-control"
                               v-model="coordinators.miroute_coordinator_phone"
                               :disabled="input_disabled">

                        <span class="help-block" v-if="mileageErrors.has('miroute_coordinator_phone')">{{ mileageErrors.get('miroute_coordinator_phone') }}</span>
                    </div>
                </div>


                <div :class="{'form-group row': true, 'has-error':mileageErrors.has('miroute_transition_date')}">
                    <label class="label col-sm-6">Mi-Route Transition Date:</label>

                    <div class="col-sm">
                        <vue-bootstrap-date-picker v-model="editedMileage.miroute_transition_date"
                                                   :placeholder="'Select a Mi-Route transition date...'"
                                                   :disabled="input_disabled"
                                                   :config="datePickerOptions"/>
                        <span class="help-block" v-if="mileageErrors.has('miroute_transition_date')">{{ mileageErrors.get('miroute_transition_date') }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="text-right no-show" v-if="mode != 'show'" style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" v-if="changes_detected"
                                @click="cancelChanges"
                                style="margin-left: 1rem;">
                            Cancel Changes
                        </button>

                        <button class="btn btn-sm btn-secondary float-right" @click="cancelEdit"
                                style="margin-left: 1rem;">
                            Stop Editing
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="text-right si-show" v-else style="position: relative; height: 100%;">
                    <div style="position: absolute; bottom: 0; right: 1rem;">

                        <!--<button :class="{'btn btn-sm float-right': true, 'btn-primary': changes_detected, 'btn-secondary': !changes_detected}"
                                style="margin-left: 1rem;" @click="submitChanges">
                            <span v-if="changes_detected">Save Changes</span>
                            <span v-else>No Changes Detected</span>
                        </button>-->

                        <button class="btn btn-sm btn-primary float-right" @click="triggerEdit">
                            Edit Mileage
                        </button>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div><!-- end buttons -->
        </div>


        <!--This modal is only displayed on bad submission to server.-->
        <!--It lists out all errors, and asks the user to correct them-->
        <errors-modal :caller_id="caller_id"/>
    </div>
</template>

<script>
    import moment from 'moment';
    import {Errors} from '../../utilities';
    import {ErrorsModal, MileageEntrySelect, LoadingPartial} from '../partials';
    import {CompanyCoordinatorSelect} from './index';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['mileage', 'coordinatorsProp', 'company_id', 'mode'],

        components: {CompanyCoordinatorSelect, ErrorsModal, MileageEntrySelect, LoadingPartial},

        data() {
            return {
                caller_id: 'CompanyMileage',
                editedMileage: null,
                coordinators: null,
                mileageErrors: new Errors,
                updating_mileage: false,

                /**
                 * FORCE DATE PICKER TO OPEN UPWARDS
                 */
                datePickerOptions: {
                    format: 'YYYY-MM-DD',
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'top'
                    },
                    useCurrent: false,
                },
            };
        },

        created() {

        },

        mounted() {
            if (this.mileage) {
                this.resetMileageData();
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getActiveRole'
            ]),

            input_disabled: function () {
                return this.mode !== 'edit' || this.getActiveRole !== 'super';
            },

            cancel_disabled: function () {
                return _.isEqual(this.editedMileage, this.mileage);
            },

            changes_detected: function () {
                return !this.cancel_disabled;
            }
        },

        watch: {

            //Clone the prop for changes
            'mileage': {
                handler: function (mileage) {
                    if (mileage != null) {
                        this.resetMileageData();
                    }
                },
                immediate: true,
                deep: true
            },

            'coordinatorsProp': {
                handler: function (coordinators) {
                    if (coordinators != null) {
                        this.resetCoordinatorsData();
                    }
                },
                immediate: true,
                deep: true
            },


            //VALIDATION

            'editedMileage.mileage_entry_method': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.mileageErrors.clear('mileage_entry_method');
                    } else {
                        this.mileageErrors.add('mileage_entry_method', ['Please select one']);
                    }

                    if (val != 'Mi-Route') {
                        this.mileageErrors.clear('miroute_coordinator_phone');
                        this.mileageErrors.clear('miroute_coordinator_id');
                    }

                },
                deep: true,
            },

            'editedMileage.mileage_band_audit_method': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        this.mileageErrors.clear('mileage_band_audit_method');
                    } else {
                        this.mileageErrors.add('mileage_band_audit_method', ['Please select one']);
                    }
                },
                deep: true,
            },

            'coordinators.miroute_coordinator_id': {
                handler: function (val) {
                    //TODO: DETERMINE WHAT CONDITION THIS NEEDS
                    //required iff mileage entry method is miroute
                    if (this.editedMileage.mileage_entry_method == 'Mi-Route') {
                        if (val > 0) {
                            this.mileageErrors.clear('miroute_coordinator_id');
                        } else {
                            this.mileageErrors.add('miroute_coordinator_id', ['Please select one']);
                        }
                    }

                },
                deep: true,
            },


            'coordinators.miroute_coordinator_phone': {
                handler: function (val) {
                    if (!Common.isEmpty(val)) {
                        if (this.coordinators.miroute_coordinator_phone.search(/^1?-? ?[0-9]{3} ?-?[0-9]{3} ?-?[0-9]{4}$/) === -1) {
                            this.mileageErrors.add('miroute_coordinator_phone', ['Invalid Phone Number']);
                        } else {
                            this.mileageErrors.clear('miroute_coordinator_phone');
                        }
                    }
                },
                deep: true,
            }
        },

        methods: {

            /**
             * Reset mileage and coordinators
             * Clear mileageErrors
             * TODO: ??
             */
            cancelChanges() {
                this.resetMileageData();
                this.resetCoordinatorsData();
                this.mileageErrors.clear();
            },

            /**
             * clone mileage
             * Clear mileageErrors
             * TODO: ??
             */
            resetMileageData() {
                this.editedMileage = _.cloneDeep(this.mileage);
            },

            /**
             * clone coordinatorsProp
             * Clear insuranceErrors
             * TODO: ??
             */
            resetCoordinatorsData() {
                this.coordinators = _.cloneDeep(this.coordinatorsProp);
            },

            /**
             * update company mileage table
             * catch and update mileageErrors if they exist
             */
            submitChanges() {
                this.updating_mileage = true;
                let data = {mileage: this.editedMileage, coordinators: this.coordinators};

                axios.post('/updateCompanyMileage/' + this.company_id, data).then(response => {
                    // console.log('company mileage successfully updated:');
                    Common.fire('company-updated', {caller_id: this.caller_id, data: data});
                    this.updating_mileage = false;
                })
                    .catch(mileageErrors => {
                        this.mileageErrors.errors = mileageErrors.response.data;

                        // tell the errors modal what the errors are
                        Common.fire(this.caller_id + '-errors-submitting', mileageErrors.response.data);

                        // scroll to the first error when the modal closes
                        this.$nextTick(function () {
                            let y_pos = this.$el.querySelector(".help-block").offsetTop;
                            window.scrollTo(0, y_pos - 100);
                        });
                        this.updating_mileage = false;
                    });
            },

            triggerEdit() {
                EventBus.$emit('edit-company');
            },

            cancelEdit() {
                EventBus.$emit('cancel-edit-company');
            }

        }
    };
</script>

<style lang="css">

</style>