<template lang="html">
    <div id="divisionsView" class="box">
        <div class="columns">
            <div class="column is-6">
                <h2>Divisions</h2>
            </div>
        </div>

        <show-divisions-page v-if="displayShowDivisionsPage"/>

        <assign-drivers-page v-if="displayAssignDriversPage"/>
    </div>
</template>

<script>
    import {AssignDriversPage, ShowDivisionsPage} from "./index"; // company

    export default {
        components: {ShowDivisionsPage, AssignDriversPage},

        data() {
            return {
                displayShowDivisionsPage: false,
                displayAssignDriversPage: false
            };
        },

        created() {
            Common.listen('switch-divisions-subpage', this.switchSubview);
            this.switchSubview();
        },

        methods: {
            switchSubview(subpage) {
             // console.log('divisionsView thinks subview is ' + subpage);
                subpage = typeof subpage === 'undefined' ? null : subpage;

                switch (subpage) {
                    case null:
                    case '':
                    case 'showDivisions':
                        this.showDivisions();
                        break;
                    case 'assignDrivers':
                        this.assignDrivers();
                        break;
                }
            },

            showDivisions() {
                //Common.setView('divisions', 'showDivisions');
                this.displayShowDivisionsPage = true;
                this.displayAssignDriversPage = false;
            },


            assignDrivers() {
                //Common.setView('divisions', 'assignDrivers');
                this.displayShowDivisionsPage = false;
                this.displayAssignDriversPage = true;
            }
        }
    };
</script>

<style lang="css">

</style>