<!-- region MODULE_DOCUMENTATION -->

Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
The edit company page is responsible for just that: editing companies.

Each company "module" has its own separate vue file for editing (Ex CompanyOptions.vue)

This is because the amount of forms is so large, and the data is all stored in a single table.

The exception is the company module options, so those are edited HERE ON THIS PAGE.

There is a lock which makes the use xx module toggleable.

<!-- endregion -->

<template lang="html">
    <div id="editCompanyPage">
        <!--COMPANY MODULE SELECTIONS-->
        <div :class="{'box': true, 'unlocked': !modules_locked}" v-if="!show_tabs && mode === 'edit'">
            <!--<button class="btn btn-sm btn-secondary user-search-btn float-left"
                    id="addUserButton" @click="toggleModuleLock()"
                    :disabled="module_lock_disabled"
                    :title="module_lock_disabled ? 'You must be in edit mode to unlock the modules' : ''">
                <i v-if="modules_locked" class="fas fa-lock"></i>
                <i v-else class="fas fa-lock-open"></i>
            </button>-->


            <div class="col-sm lock-row">


                <h3 class="toggle-button-h3">Modules Used:</h3>

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_mileage_module,
                    'btn-default': !company.options.use_company_mileage_module}"
                        @click="company.options.use_company_mileage_module = !company.options.use_company_mileage_module">
                    Mileage
                </button>

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_vehicles_module,
                    'btn-default': !company.options.use_company_vehicles_module}"
                        @click="company.options.use_company_vehicles_module = !company.options.use_company_vehicles_module">
                    Vehicles
                </button>

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_insurance_module,
                    'btn-default': !company.options.use_company_insurance_module}"
                        @click="company.options.use_company_insurance_module = !company.options.use_company_insurance_module">
                    Insurance
                </button>

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_license_module,
                    'btn-default': !company.options.use_company_license_module}"
                        @click="company.options.use_company_license_module = !company.options.use_company_license_module">
                    License
                </button>

                <!--<button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_tax_module,
                    'btn-default': !company.options.use_company_tax_module}"
                        @click="company.options.use_company_tax_module = !company.options.use_company_tax_module">
                    Tax
                </button>-->

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_payments_module,
                    'btn-default': !company.options.use_company_payments_module}"
                        @click="company.options.use_company_payments_module = !company.options.use_company_payments_module">
                    Payments
                </button>

                <button :class="{
                    'btn btn-sm module-toggle': true,
                    'btn-primary': company.options.use_company_invoicing_module,
                    'btn-default': !company.options.use_company_invoicing_module}"
                        @click="company.options.use_company_invoicing_module = !company.options.use_company_invoicing_module">
                    Invoicing
                </button>

            </div><!-- end col -->
        </div>

        <div class="row button-row">
            <div class="col-sm text-right">
                <button v-if="!show_tabs" class="btn btn-sm btn-default" @click="show_full_screen = !show_full_screen">
                    <span v-if="show_full_screen">Collapse View</span>
                    <span v-else>Show Full Screen</span>
                </button>

                <button class="btn btn-sm btn-default" @click="show_tabs = !show_tabs" v-if="implement_tabs">
                    <span v-if="show_tabs">Show Accordions</span>
                    <span v-else>Show Tabs</span>
                </button>
            </div>
        </div>

        <div class="clearfix"></div>

        <div v-if="show_tabs" class="tab-area">
            <!-- TAB TOGGLES -->
            <div class="row box">
                <div class="col-sm">
                    <span class="title title-tabs">Modules Used:</span>

                    <ul class="tab-toggles inline">
                        <li v-for="tab in tabs" v-if="tab.includeToggle">
                            <label>
                                <input type="checkbox" v-model="tab.showTab">
                                {{ tab.name }}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tabordion" style="min-height: 900px;">
                <section id="section0" class="tabordion-section" v-if="tabs[0].showTab">
                    <input type="radio" name="sections" id="option0" checked>
                    <label for="option0" class="tabordion-label">Profile</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative"
                                 aria-expanded="true">
                                <h5 class="mb-0">
                                    Company Profile
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-profile :profile="company.profile"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"/>
                            </div>

                        </div>
                    </article>
                </section>


                <section id="section1" class="tabordion-section" v-if="tabs[1].showTab">
                    <input type="radio" name="sections" id="option1">
                    <label class="tabordion-label" for="option1">Options</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Options
                                </h5>
                            </div>


                            <div class="card-body" aria-expanded="true">
                                <company-options :options="company.options"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>

                        </div>
                    </article>
                </section>

                <section id="section2" class="tabordion-section" v-if="tabs[2].showTab">
                    <input type="radio" name="sections" id="option2">
                    <label class="tabordion-label" for="option2">Setup and Dates</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Setup and Dates
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-dates :dates="company.dates"
                                               :mode="mode"
                                               :caller_id="caller_id"
                                               :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>


                <section id="section3" class="tabordion-section" v-if="tabs[3].showTab">
                    <input type="radio" name="sections" id="option3">
                    <label class="tabordion-label" for="option3">Administration</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Outsource or In-House Administration
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-administration :administration="company.administration"
                                                        :mode="mode"
                                                        :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section4" class="tabordion-section" v-if="tabs[4].showTab">
                    <input type="radio" name="sections" id="option4">
                    <label class="tabordion-label" for="option4">Contacts</label>
                    <article class="tabordion-article">
                        <h2>Contacts</h2>
                        <p>Contact stuff</p>
                    </article>
                </section>

                <section id="section5" class="tabordion-section" v-if="tabs[5].showTab">
                    <input type="radio" name="sections" id="option5">
                    <label class="tabordion-label" for="option5">Mileage</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Mileage
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-mileage :mileage="company.mileage"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section6" class="tabordion-section" v-if="tabs[6].showTab">
                    <input type="radio" name="sections" id="option6">
                    <label class="tabordion-label" for="option6">Vehicles</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Vehicles
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-vehicles :vehicles="company.vehicles"
                                                  :mode="mode"
                                                  :caller_id="caller_id"
                                                  :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section7" class="tabordion-section" v-if="tabs[7].showTab">
                    <input type="radio" name="sections" id="option7">
                    <label class="tabordion-label" for="option7">Insurance</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Insurance
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-insurance :insurance="company.insurance"
                                                   :coordinatorsProp="company.coordinators"
                                                   :mode="mode"
                                                   :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section8" class="tabordion-section" v-if="tabs[8].showTab">
                    <input type="radio" name="sections" id="option8">
                    <label class="tabordion-label" for="option8">License</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    License
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-license :license="company.license"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section9" class="tabordion-section" v-if="tabs[9].showTab">
                    <input type="radio" name="sections" id="option9">
                    <label class="tabordion-label" for="option9">Taxes</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Taxes
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-tax :taxes="company.taxes"
                                             :mode="mode"
                                             :caller_id="caller_id"
                                             :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section10" class="tabordion-section" v-if="tabs[10].showTab">
                    <input type="radio" name="sections" id="option10">
                    <label class="tabordion-label" for="option10">Payments</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Payments
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-payments :payments="company.payments"
                                                  :mode="mode"
                                                  :caller_id="caller_id"
                                                  :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="section11" class="tabordion-section" v-if="tabs[11].showTab">
                    <input type="radio" name="sections" id="option11">
                    <label class="tabordion-label" for="option11">Invoicing</label>
                    <article class="tabordion-article">
                        <div class="card">
                            <div class="card-header position-relative" aria-expanded="true">
                                <h5 class="mb-0">
                                    Invoicing
                                </h5>
                            </div>

                            <div class="card-body" aria-expanded="true">
                                <company-invoicing :invoicing="company.invoicing"
                                                   :mode="mode"
                                                   :caller_id="caller_id"
                                                   :company_id="company.id"/>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-xl-12 col-lg-12">
                <div id="accordion1" class="fusion-accordion">
                    <div class="card">
                        <div class="card-header position-relative" id="heading1" data-toggle="collapse"
                             data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <h5 class="mb-0">
                                Company Profile
                            </h5>

                            <button class="edit-company btn btn-primary btn-sm float-left rounded-action-btn-30px"
                                    @click="callEditCompany"><i class="fal fa-pencil"></i></button>

                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse1" class="collapse hide show" aria-labelledby="heading1"
                             data-parent="#accordion1">
                            <div class="card-body" aria-expanded="true">
                                <company-profile :profile="company.profile"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion2" class="fusion-accordion">
                    <div class="card">
                        <div class="card-header position-relative" id="heading2" data-toggle="collapse"
                             data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <h5 class="mb-0">
                                Options
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse2" class="collapse hide show" aria-labelledby="heading2"
                             data-parent="#accordion2">
                            <div class="card-body" aria-expanded="true">
                                <company-options :options="company.options"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion3" class="fusion-accordion">
                    <div class="card">
                        <div class="card-header position-relative" id="heading3" data-toggle="collapse"
                             data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <h5 class="mb-0">
                                Setup and Dates
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse3" class="collapse hide show" aria-labelledby="heading3"
                             data-parent="#accordion3">
                            <div class="card-body" aria-expanded="true">
                                <company-dates :dates="company.dates"
                                               :mode="mode"
                                               :caller_id="caller_id"
                                               :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion4" class="fusion-accordion">
                    <div class="card">
                        <div class="card-header position-relative" id="heading4" data-toggle="collapse"
                             data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <h5 class="mb-0">
                                Outsource or In-House Administration
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse4" class="collapse hide show" aria-labelledby="heading4"
                             data-parent="#accordion4">
                            <div class="card-body" aria-expanded="true">
                                <company-administration :administration="company.administration"
                                                        :mode="mode"
                                                        :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion5" class="fusion-accordion" v-if="showSection('Mileage')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading5" data-toggle="collapse"
                             data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <h5 class="mb-0">
                                Mileage
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse5" class="collapse hide show" aria-labelledby="heading5"
                             data-parent="#accordion5">
                            <div class="card-body" aria-expanded="true">
                                <company-mileage :mileage="company.mileage"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion6" class="fusion-accordion" v-if="showSection('Vehicles')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading6" data-toggle="collapse"
                             data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            <h5 class="mb-0">
                                Vehicles
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse6" class="collapse hide show" aria-labelledby="heading6"
                             data-parent="#accordion6">
                            <div class="card-body" aria-expanded="true">
                                <company-vehicles :vehicles="company.vehicles"
                                                  :mode="mode"
                                                  :caller_id="caller_id"
                                                  :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion7" class="fusion-accordion" v-if="showSection('Insurance')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading7" data-toggle="collapse"
                             data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            <h5 class="mb-0">
                                Insurance
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse7" class="collapse hide show" aria-labelledby="heading7"
                             data-parent="#accordion7">
                            <div class="card-body" aria-expanded="true">
                                <company-insurance :insurance="company.insurance"
                                                   :coordinatorsProp="company.coordinators"
                                                   :mode="mode"
                                                   :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion8" class="fusion-accordion" v-if="showSection('License')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading8" data-toggle="collapse"
                             data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            <h5 class="mb-0">
                                License
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse8" class="collapse hide show" aria-labelledby="heading8"
                             data-parent="#accordion8">
                            <div class="card-body" aria-expanded="true">
                                <company-license :license="company.license"
                                                 :coordinatorsProp="company.coordinators"
                                                 :mode="mode"
                                                 :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion9" class="fusion-accordion" v-if="showSection('Tax')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading9" data-toggle="collapse"
                             data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                            <h5 class="mb-0">
                                Taxes
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse9" class="collapse hide show" aria-labelledby="heading9"
                             data-parent="#accordion9">
                            <div class="card-body" aria-expanded="true">
                                <company-tax :taxes="company.taxes"
                                             :mode="mode"
                                             :caller_id="caller_id"
                                             :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion10" class="fusion-accordion" v-if="showSection('Payments')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading10" data-toggle="collapse"
                             data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                            <h5 class="mb-0">
                                Payments
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse10" class="collapse hide show" aria-labelledby="heading10"
                             data-parent="#accordion10">
                            <div class="card-body" aria-expanded="true">
                                <company-payments :payments="company.payments"
                                                  :mode="mode"
                                                  :caller_id="caller_id"
                                                  :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion11" class="fusion-accordion" v-if="showSection('Invoicing')">
                    <div class="card">
                        <div class="card-header position-relative" id="heading11" data-toggle="collapse"
                             data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            <h5 class="mb-0">
                                Invoicing
                            </h5>
                            <i class="fas fa-angle-down position-absolute"
                               style="font-size: 20px; right: 20px; top: 13px;"></i>
                        </div>

                        <div id="collapse11" class="collapse hide show" aria-labelledby="heading11"
                             data-parent="#accordion11">
                            <div class="card-body" aria-expanded="true">
                                <company-invoicing :invoicing="company.invoicing"
                                                   :mode="mode"
                                                   :caller_id="caller_id"
                                                   :company_id="company.id"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {
        CompanyAdministration,
        CompanyContacts,
        CompanyDates,
        CompanyInsurance,
        CompanyInvoicing,
        CompanyPayments,
        CompanyLicense,
        CompanyMileage,
        CompanyOptions,
        CompanyProfile,
        CompanyTax,
        CompanyVehicles
    } from "./index"; // company
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['company', 'mode'],

        components: {
            CompanyProfile, CompanyOptions, CompanyContacts, CompanyInsurance,
            CompanyInvoicing, CompanyLicense, CompanyMileage, CompanyTax, CompanyDates, CompanyPayments,
            CompanyVehicles, CompanyAdministration
        },

        data() {
            return {
                caller_id: 'EditCompanyPage',
                show_full_screen: true,
                implement_tabs: true, // show tab functionality at all (only set here manually by developer)
                show_tabs: false, // show tabs if user selects on page
                modules_locked: true,
                use_company_tax_module: true,
                tabs: [
                    {name: 'Company Profile', icon: "", active: true, includeToggle: false, showTab: true},
                    {name: "Options", icon: "cog", active: true, includeToggle: false, showTab: true},
                    {name: "Setup and Dates", icon: "calendar", active: false, includeToggle: false, showTab: true},
                    {name: "Administration", icon: "", active: false, includeToggle: false, showTab: true},
                    {name: "Contacts", icon: "users", active: false, includeToggle: false, showTab: true},
                    {
                        name: "Mileage",
                        icon: "road",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_mileage_module
                    },
                    {
                        name: "Vehicles",
                        icon: "car",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_vehicles_module
                    },
                    {
                        name: "Insurance",
                        icon: "life-bouy",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_insurance_module
                    },
                    {
                        name: "License",
                        icon: "id-card-o",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_license_module
                    },
                    {
                        name: "Taxes",
                        icon: "",
                        active: false,
                        includeToggle: false,
                        showTab: true
                    },
                    {
                        name: "Payments",
                        icon: "money",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_payments_module
                    },
                    {
                        name: "Invoicing",
                        icon: "",
                        active: false,
                        includeToggle: true,
                        showTab: this.company.options.use_company_invoicing_module
                    }
                ]
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getCompanySelection',
                'getSessionCompanyName',
                'getActiveRole'
            ]),

            module_lock_disabled: function () {
                return this.getActiveRole !== 'super' || this.mode !== 'edit';
            },

        },

        watch: {
            /**
             * Collapses or shows all sections when the Show Fullscreen checkbox is toggled
             */
            show_full_screen: {
                handler: function (val) {
                    for (let i = 1; i <= 11; i++) {
                        $('#collapse' + i).collapse(val ? 'show' : 'hide');
                    }
                },
                immediate: true,
            },

            'company': {
                handler: function (company) {
                    console.log('company in edit: ', company);
                },
                deep: true,
                immediate: true,
            },

            'company.options.use_company_insurance_module': {
                handler: function (val) {
                    axios.post('/updateCompanyModuleOptions/' + this.company.id, {
                        options: this.company.options
                    });
                },
                deep: true,
            },
            'company.options.use_company_invoicing_module': {
                handler: function (val) {
                    axios.post('/updateCompanyModuleOptions/' + this.company.id, {
                        options: this.company.options
                    });
                },
                deep: true,
            },
            'company.options.use_company_license_module': {
                handler: function (val) {
                    axios.post('/updateCompanyModuleOptions/' + this.company.id, {
                        options: this.company.options
                    });
                },
                deep: true,
            },
            'company.options.use_company_mileage_module': {
                handler: function (val) {
                    axios.post('/updateCompanyModuleOptions/' + this.company.id, {
                        options: this.company.options
                    });
                },
                deep: true,
            },
            'company.options.use_company_vehicles_module': {
                handler: function (val) {
                    axios.post('/updateCompanyModuleOptions/' + this.company.id, {
                        options: this.company.options
                    });
                },
                deep: true,
            },


        },

        methods: {
            callEditCompany() {
                EventBus.$emit('edit-company');
            },

            /**
             * Determines which sections to show based on company selections
             * @param name
             * @returns {boolean}
             */
            showSection(name) {
                switch (name) {
                    case 'Options':
                        return true;
                        break;
                    case 'Contacts':
                        return true;
                        break;
                    case 'Insurance':
                        return this.company.options.use_company_insurance_module == true;
                        break;
                    case 'License':
                        return this.company.options.use_company_license_module == true;
                        break;
                    case 'Mileage':
                        return this.company.options.use_company_mileage_module == true;
                        break;
                    case 'Tax':
                        return this.use_company_tax_module;
                        break;
                    case 'Invoicing':
                        return this.company.options.use_company_invoicing_module == true;
                        break;
                    case 'Payments':
                        return this.company.options.use_company_payments_module;
                        break;
                    case 'Vehicles':
                        return this.company.options.use_company_vehicles_module == true;
                        break;
                    default:
                        return true;
                }
            },

            toggleModuleLock() {
                this.modules_locked = !this.modules_locked;
            },

            testShow(name) {

                switch (name) {
                    case "Mileage":
                        return this.company.options.use_company_mileage_module;
                        break;
                    case "Vehicles":
                        return this.company.options.use_company_vehicles_module;
                        break;
                    case "Insurance":
                        return this.company.options.use_company_insurance_module;
                        break;
                    case "License":
                        return this.company.options.use_company_license_module;
                        break;
                    case "Taxes":
                        return this.use_company_tax_module; // this.company.options.use_company_tax_module;
                        break;
                    case "Payments":
                        return this.company.options.use_company_payments_module;
                        break;
                    case "Invoicing":
                        return this.company.options.use_company_invoicing_module;
                        break;
                    default:
                        return true;
                        break;
                }
            },

            /*toggleTab(name) {
                this.tabs.map(function (tab) {
                    if (tab.name === name) {
                        tab.showTab = !tab.showTab;
                    }
                });

                switch (name) {
                    case "Vehicles":
                        this.company.options.use_company_vehicles_module = !this.company.options.use_company_vehicles_module;
                        break;
                    case "Taxes":
                        this.use_company_tax_module = !this.use_company_tax_module;
                        //this.company.options.use_company_tax_module = !this.company.options.use_company_tax_module;
                        break;
                    case "Payments":
                        this.company.options.use_company_payments_module = !this.company.options.use_company_payments_module;
                        break;
                    case "Invoicing":
                        this.company.options.use_company_invoicing_module = !this.company.options.use_company_invoicing_module;
                        break;
                    case "Mileage":
                        this.company.options.use_company_mileage_module = !this.company.options.use_company_mileage_module;
                        break;
                    case "Insurance":
                        this.company.options.use_company_insurance_module = !this.company.options.use_company_insurance_module;
                        break;
                    case "License":
                        this.company.options.use_company_license_module = !this.company.options.use_company_license_module;
                        break;
                }
            },*/

            makeTabActive(name) {
                this.tabs.filter(tab => {
                    tab.active = tab.name == name;
                });
            },
        }
    };
</script>

<style lang="scss">
    #editCompanyPage {
        .toggle-button-h3 {
            display: inline-block;
            margin-right: 2rem;
        }

        .module-toggle {
            margin-right: 1rem;
            margin-top: -7px;
        }

        .tab-area {
            .box {
                padding: .5rem 1.25rem 0;
            }

            .tabordion section article:after {
                background-color: inherit;
            }
        }

        .card {
            border: 1px solid rgba(5, 36, 96, 0.9) !important;;
            box-shadow: none;
        }

        .card.secondary {
            border: 1px solid #6c757d !important;
        }

        .card-header {
            box-shadow: none;
        }

        .card-body {
            background: #fefefe; // maybe white?
        }

        #accordion8 .card, #accordion11 .card {
            overflow: visible !important;
        }

        .lock-row > .text-center {
            float: left;
            margin-right: 1rem;
            word-wrap: break-word;
            display: flex;
            width: 130px;
        }

        .button-row {
            margin-top: 1rem;
            margin-bottom: 1rem;

            .btn {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        ul.tab-toggles {
            display: inline-flex;

            li {
                margin: 5px;
            }
        }

        .tabs {
            display: inline-block;
            width: 100%;

            ul {
                display: inline;
                width: 100%;

                li {
                    display: inline-block;
                    float: left;
                    margin-top: 2px;
                    border: 1px solid #cfcdff7a;
                }
            }
        }
    }
</style>