/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

 FOR USE IN THE COMPANY FINANCIALS VUE

*/
<template lang="html">
    <div id="feeHistory">
        <transition name="fade5s">
            <div class="box" v-show="feeHistory && (Object.keys(feeHistory).length > 0 || feeHistory.length > 0)">
                <strong> {{ title }} </strong>
                <table>
                    <tr>
                        <th colspan="1"></th>
                        <th colspan="3">Amount</th>
                        <th colspan="3">From</th>
                        <th colspan="3">To</th>
                        <th colspan="2"></th>
                    </tr>

                    <!--Rows for all fee history-->
                    <tr v-for="(fee, index) in feeHistory">
                        <td colspan="1">
                            <i class="fas fa-arrow-right" v-if="fee.active"></i>
                        </td>
                        <td colspan="3">{{ fee.amount }}</td>
                        <td colspan="3">{{ fee.from_date | date_filter}}</td>
                        <td colspan="3">{{ fee.to_date | date_filter}} </td>
                        <td colspan="2">
                            <button v-if="dateAGreaterThanDateB(fee.from_date, today)"
                                    class="btn btn-danger rounded-action-btn-30px float-right"
                                    aria-label="delete"
                                    @click="deleteFee(fee)"
                                    title="Delete this fee"
                                    :disabled="disabled || getting_fees">
                                <i class="fal fa-times"></i>
                            </button>
                        </td>
                    </tr>

                </table>

            </div>
        </transition>

        <!--<loading-partial v-show="getting_fees"/>-->

        <div v-if="getting_fees === null">
            <em>Loading history...</em>
        </div>

        <div v-else-if="getting_fees === false && (!feeHistory || (Object.keys(feeHistory).length == 0 || feeHistory.length == 0))">
            <em>No history on file</em>
        </div>

    </div>
</template>

<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "../partials/LoadingPartial";

    export default {
        props: ['fee', 'disabled'],

        components: {LoadingPartial},

        data() {
            return {
                getting_fees: null,
                feeHistory: [],
                today: moment().format('Y-M-D'),
            };
        },

        created() {

        },

        mounted() {
            this.getFees();
            Common.listen('update-company-fee-history', this.getFees);
        },

        beforeDestroy() {
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ]),

            title: function(val) {
                return this.fee.charAt(0).toUpperCase() + this.fee.substr(1) + ' Fee History';
            }

        },

        filters: {
            date_filter: function(val) {
                return moment(val).isValid() ? moment(val).format('MMM Y') : '-';
            }
        },

        watch: {

        },

        methods: {
            getFees() {
                this.getting_fees = true;
                axios.get('/getCompanyFeeHistory/' + this.getSessionCompanyId + '/' + this.fee).then( response => {
                    this.feeHistory = response.data;
                    this.getting_fees = false;
                    // fees are sorted descending. the first one for which today is greater than the from date is active
                    for (let i  in this.feeHistory) {
                        if ( moment(this.today).isAfter(this.feeHistory[i].from_date) || this.today == this.feeHistory[i].from_date ) {
                            this.feeHistory[i].active = true;
                            break;
                        }
                    }
                })
            },

            deleteFee(fee) {
                axios.post('/deleteCompanyFee', fee).then( response => {
                    Common.fire('fees-deleted');
                    this.getFees();
                });
            },

            dateAGreaterThanDateB(dateA, dateB) {
                return moment(dateA).isAfter(dateB);
            }

        }
    };
</script>

<style lang="css">

</style>