/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="importPreDefinedStops">

        <!--upload section-->
        <section id="pageHeader" style="margin-bottom: 2rem; margin-top: 2rem;">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h5>You are importing stops for {{ getSessionCompanyName }}</h5>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Document uploaded must be in <strong>CSV format</strong> (Comma delimited)
                        </li>
                        <li class="list-group-item">
                            <strong>Store ID</strong> is not required
                        </li>
                        <li class="list-group-item">
                            <strong>Longitude</strong> and <strong>Latitude</strong> will be system provided
                        </li>
                        <li class="list-group-item">
                            If <strong>Start Date</strong> is not provided, the stop will be assigned a start date of {{todays_date}}
                        </li>
                        <li class="list-group-item" v-if="getCompanySelection('use_stop_contract')">
                            A maximum of 5 <strong>Contract Numbers</strong> are allowed per stop
                        </li>
                    </ul>

                </div>
                <div class="col-lg-4 col-sm-12">
                        <h5>Drag your completed template here, or click to open a file dialog.</h5>

                        <dropzone :class="'driver-upload'"
                                  id="licenseDropzone"
                                  :url="upload_url"
                                  @vdropzone-error="showError"
                                  @vdropzone-success="processSuccessfulUpload"
                                  :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                                  :max-file-size-in-m-b="max_file_size"
                                  :language="langSettings"
                                  ref="dropzone"
                                  :accepted-file-types="'.csv'">
                            <input type="hidden" name="csrf-token" :value="csrfToken">
                        </dropzone>

                </div>

                <div class="col-lg-4 col-sm-12">
                    <h5 align="right">Download Template</h5>
                    <ul class="float-right">
                        <li v-for="(file, key) in files">
                            <a href="#" @click.prevent="downloadTemplate(file)" v-if="showTemplateDownload(key)">
                                {{ key | prettyFilename}}
                            </a>
                        </li>
                    </ul>

                    <br>

                    <transition name="fade5s">
                        <!--Section to submit the upload-->
                        <div v-if="fileData && !fileErrors" style="margin-top: 2rem;">
                            <h5 align="right">
                                {{ !file_applied ? 'File has no errors present' : 'File has been applied'}}
                            </h5>
                            <button class="btn btn-success float-right"
                                    :disabled="applying_file || file_applied"
                                    @click="applyFile">
                                Apply {{ filename }}
                            </button>

                            <loading-partial v-show="applying_file"/>

                        </div>
                    </transition>

                </div>

            </div>

        </section>

        <!--results section-->
        <section id="resultsSection">

            <transition name="fadeInOnly">
                <table v-if="fileData" class="table table-striped table-hover table-sm fusion-table">
                    <thead>
                        <tr>
                            <th v-if="filename">{{filename}}</th>
                        </tr>
                        <tr>
                            <th v-for="(item, key) in fileData[0]">
                                {{item}}
                            </th>
                            <th>Errors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--note how index here will start at 0, even though we are row 1-->
                        <tr v-for="(row, index) in fileData.slice(1)"
                            :class="{'table-danger': fileErrors && fileErrors[index + 1]}">
                            <td v-for="(item, key) in row">
                                {{item}}
                            </td>
                            <td>
                                <!--we add 1 to index, because header is a row-->
                                <span v-for="(error, key, error_index) in getErrorsAtRow(index + 1)">
                                    <strong v-if="error_index == 0">{{ error }}</strong>
                                    <strong v-else>, {{ error }}</strong>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </transition>

            <transition name="fadeInOnly">
                <div v-if="!fileData">
                    <h5>Please upload a file...</h5>
                </div>
            </transition>


        </section>



        <div id="" :class="{'modal': true, 'is-active': show_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        {{ show_modal_error ? 'Something went wrong...' : 'Success!'}}
                    </p>
                    <button class="delete" @click="closeModal()"></button>
                </header>
                <section class="modal-card-body">

                    <section v-if="show_modal_error">
                        <p>There was an error during the file upload. Please make sure it is a valid .csv file.</p>
                        <p>If the problem persists please contact CarData IT support.</p>
                    </section>

                    <section v-if="show_modal_results && results">

                        <div>
                            <p>Upload completed with the following results:</p>
                            <ul>
                                <li>{{ stops_added }}</li>
                                <li>{{ stops_updated }}</li>
                                <li>{{ stops_skipped }}</li>
                                <li>{{ contracts_added }}</li>
                            </ul>
                        </div>

                        <div v-if="results.badRecords.length > 0">
                            <p>The following records could not be inserted:</p>
                            <ul>
                                <li v-for="record in results.badRecord">
                                    <pre>{{record}}</pre>
                                </li>
                            </ul>

                        </div>
                    </section>

                </section>
                <footer class="modal-card-foot">
                    <button class="btn btn-danger" @click="closeModal()">Close</button>
                </footer>
            </div>
        </div>

    </div>
</template>

<script>
    import moment from 'moment';
    import Dropzone from 'vue2-dropzone'
    import {
        LoadingPartial
    } from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {Dropzone, LoadingPartial},

        data() {
            return {
                /**
                 * These are the templates
                 */
                files: null,


                /**
                 * Dropzone related variables
                 */
                csrfToken: document.head.querySelector('meta[name=csrf-token]').content,
                upload_successful: false,
                max_file_size: 10,

                // deal with the case where there is an upload error, but the server response cannot be parsed
                langSettings: {
                    dictResponseError: 'An error occurred in your upload. Please ensure the file that you are trying to upload is less than 10MB in size, and is an image, pdf, or MS Word document.'
                },


                /**
                 * Show modal displays the modal
                 *  - show modal error displays the error section
                 *  - show modal results displays the results section
                 */
                show_modal: false,
                show_modal_error: false,
                show_modal_results: false,
                results: null,

                /**
                 * File Data is used to display the file's data on the front end!
                 */
                fileData: null,
                fileErrors: null,
                filename: null,

                // this variable is set to true when the file is being applied
                applying_file: false,
                file_applied: false,

            };
        },

        created() {
            axios.get('/getTemplates/pre-defined-stops').then( response => {
                console.log(response.data);
                this.files = response.data.files;
            }).catch( errors => {
                if (errors.response.status == 500) {
                    this.flash(errors.response.data, 'error');
                }
            })
        },

        mounted() {

        },

        filters: {
            /**
             * Based on the key returns a nice name for the download link
             */
            prettyFilename(type) {
                let name = 'Import Pre-Defined Stops ';
                switch(type) {
                    case 'us_template':
                        return name + '- US';
                    case 'ca_template' :
                        return name + '- CA';
                    case 'us_contract_template':
                        return name + ' With Contracts - US';
                    case 'ca_contract_template':
                        return name + ' With Contracts - CA';
                }
            }
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyName',
                'getSessionCompanyId',
                'getCompanySelection',
                'getSessionCountryId'
            ]),

            todays_date: function() {
                return moment().format('MMMM Do, YYYY');
            },

            upload_url: function() {
                return '/uploadPreDefinedStops/' + this.getSessionCompanyId + '/' + this.getCompanySelection('use_stop_contract');
            },

            results_content: function() {
                if (this.getCompanySelection('use_stop_contract')) {

                } else {

                }
            },

            stops_added: function() {
                let stop = this.results.added > 1 || this.results.added == 0 ? 'stops' : 'stop';
                return this.results.added + ' ' + stop + ' added';
            },

            stops_updated: function() {
                let stop = this.results.updated > 1 || this.results.updated == 0 ? 'stops' : 'stop';
                return this.results.updated + ' ' + stop + ' updated';
            },

            stops_skipped: function() {
                let stop = this.results.skipped > 1 || this.results.skipped == 0 ? 'stops' : 'stop';
                return this.results.skipped + ' ' + stop + ' skipped';
            },

            contracts_added: function() {
                let contract = this.results.contracts_added > 1 || this.results.contracts_added == 0 ? 'contracts' : 'contract';
                return this.results.contracts_added + ' ' + contract + ' added';
            },




        },

        watch: {

            /**
             * When the company switches, dump all file related data
             * After dropzone has been created, it will not listen to a new url being selected
             *  this forces it to listen.
             */
            getSessionCompanyId: function(val) {
                this.fileData = null;
                this.filename = null;
                this.fileErrors = null;
            },

            upload_url: {
                handler: function(val) {
                    this.$refs.dropzone.setOption('url', val);
                },
            }

        },

        methods: {
            /**
             * This method is called when an anchor for a template is clicked upon
             * @param filename
             */
            downloadTemplate(filename) {
                let path_to_file = '/storage/tmp/' + filename;
                let a = document.createElement('A');
                a.href = path_to_file;
                a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            },

            /**
             * Based on the file's key (type) we determine whether or not to show it.
             * @param type
             * @returns {*}
             */
            showTemplateDownload(type) {
                switch(type) {
                    case 'us_template':
                        return this.getSessionCountryId == 1 && !this.getCompanySelection('use_stop_contract');
                    case 'ca_template' :
                        return this.getSessionCountryId == 2 && !this.getCompanySelection('use_stop_contract');
                    case 'us_contract_template':
                        return this.getSessionCountryId == 1 && this.getCompanySelection('use_stop_contract');
                    case 'ca_contract_template':
                        return this.getSessionCountryId == 2 && this.getCompanySelection('use_stop_contract');
                }
            },

            /**
             * This function is called after a successful upload to the dropzone
             * It is triggered by the @vdropzone-success event.
             * The response is in there, but needs to be objectified
             *
             * @param response
             */
            processSuccessfulUpload(response) {
                let data = JSON.parse(response.xhr.response);
                this.file_applied = false;

                this.fileErrors = data.errors;
                this.fileData = data.fileData;
                this.filename = data.filename;

                this.$refs.dropzone.removeAllFiles(true);
            },

            /**
             * Displays an error we did not expect, in the case of a bad upload, or a 500 during processing.
             *
             * @param response
             */
            showError(response) {
                console.log(response);
                this.show_modal = true;
                this.show_modal_error = true;
                this.$refs.dropzone.removeAllFiles(true);
            },

            closeModal() {
                this.show_modal = false;
                this.show_modal_results = false;
                this.show_modal_error = false;
            },

            /**
             * Ugly, am rushing through this...
             *
             * @param index
             * @returns {*}
             */
            getErrorsAtRow(index) {
                if (!this.fileErrors) return null;

                if (this.fileErrors.hasOwnProperty(index)) return this.fileErrors[index];

            },

            applyFile() {
                if (!this.filename || !this.fileData) return;

                this.applying_file = true;

                axios.post('/addPreDefinedStopsFromFile', {
                    filename: this.filename,
                    use_stop_contract: this.getCompanySelection('use_stop_contract'),
                    company_id: this.getSessionCompanyId
                }).then( response => {
                    this.show_modal = true;
                    this.show_modal_results = true;
                    this.applying_file = false;
                    this.file_applied = true;
                    this.results = response.data;
                }).catch( errors => {
                    this.showError(errors);
                    this.file_applied = true;
                    this.applying_file = false;
                })
            }


        }
    };
</script>

<style lang="css">

</style>