/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="inactivateVehicleProfilePage">
        <p class="title"> {{ vehicleProfile.vehicle.year + ' ' + vehicleProfile.vehicle.name + ' ' + vehicleProfile.name_postfix }}</p>

            <p>
                <strong>If you inactivate this profile, you will no longer be able to assign drivers to it.</strong>
                <br>
                You can reactivate this profile at <strong>any</strong> time.
                <br>
            </p>


            <button class="btn btn-danger"
                    @click="inactivate"
                    :disabled="inactivating">Inactivate</button>

        <loading-partial v-show="inactivating" align="center"/>
    </div>
</template>

<script>
    import {LoadingPartial} from '../partials';
    import {EventBus} from "../../event-bus";

    export default {

    props: ['vehicleProfile'],

    components: {LoadingPartial},

    data() {
        return{
            loaded: false,
            inactivating: false,
        }
    },

    watch: {
        watch: {
            vehicleProfile: {
                handler: function (vp) {
                    this.loaded = vp == null ? false : true;
                },
                deep: true,
                immediate: true
            },
        },

    },

    methods: {
        inactivate() {
            /**
             * Set inactivating to disable the button and show the loading icon
             */
            this.inactivating = true;
            axios.post('inactivateVehicleProfile/' + this.vehicleProfile.id).then( response => {

                /**
                 * Tell the select that the vehicle profile has been updated
                 */
                EventBus.$emit('vehicle-profile-updated');

                /**
                 * Flash a success message
                 */
                this.flash('Vehicle Profile Inactivation Successful', 'success');

                /**
                 * Alert parent that a vehicle profile was updated. Since the previously selected
                 * vehicle profile was inactivated, we pass a vehicle profile id of -1.
                 * Then the parent reverts to default settings
                 */
                Common.storeCommit('updateSessionVehicleProfileId', -1).then( () => {
                    EventBus.$emit('company-vehicle-profile-action', 'show');
                    this.inactivating = false;
                });

            });
        }

    }
}
</script>

<style lang="css">

</style>