/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="inactivateCompanyPage">



        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h6>Are you sure you want to inactivate {{ getSessionCompanyName }}?</h6>

                <p>
                    By inactivating {{ getSessionCompanyName }} you will set all drivers, managers and administrators
                    in {{ getSessionCompanyName }} to 'Inactive'.
                </p>

                <h6>This inactivation can be reversed at any time.</h6>

                <p>
                    To reactivate {{ getSessionCompanyName }} check off include inactive beneath the company dropdown.
                    Then select {{ getSessionCompanyName }} and click the button "Reactivate Company" when it appears.
                </p>
            </div>

            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-danger float-right"
                        @click="inactivateCompany"
                        :disabled="inactivating">
                    Inactivate
                </button>

                <loading-partial v-show="inactivating"/>
            </div>
        </div>



    </div>

</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import {LoadingPartial} from "../partials";

    export default {

        components: {LoadingPartial},

        data() {
            return {
                inactivating: false,
            };
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCompanyName',
            ])
        },

        methods: {
            inactivateCompany() {
                this.inactivating = true;
                axios.post('/inactivateCompany', {company_id: this.getSessionCompanyId}).then(response => {
                    // console.log(response.data);
                    //alert parent company deleted
                    EventBus.$emit('company-inactivated');
                });
            }

        }
    };
</script>

<style lang="css">

</style>