/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="insuranceMinimumsPartial">
        <p class="title">Minimum Insurance Requirements:</p>

        <div class="table-responsive table-responsive-bordered mb-3" v-if="insurance">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr v-if="getCountryId == 1 && insurance.business_use">
                        <td>
                            <strong class="d-block">Business Use Required</strong>
                        </td>
                    </tr>

                    <tr v-if="getCountryId == 1 && insurance.bodily_liability_per_person > 0 && insurance.bodily_liability_per_accident > 0">
                        <td>
                            <strong class="d-block">Bodily Injury Liability</strong>
                            <span class="d-block">per person</span>
                            <span class="d-block">per accident</span>
                        </td>
                        <td>
                            <strong class="d-block" style="opacity: 0;">Bodily Injury Liability</strong>
                            <span class="d-block">{{ insurance.bodily_liability_per_person | currency }}</span>
                            <span class="d-block">{{ insurance.bodily_liability_per_accident | currency }}</span>
                        </td>
                    </tr>

                    <tr v-if="getCountryId == 1 && insurance.property_damage > 0">
                        <td>
                            <strong class="d-block">Property Damage</strong>
                        </td>
                        <td>
                            <span class="d-block">{{ insurance.property_damage | currency }}</span>
                        </td>
                    </tr>

                    <tr v-if="getCountryId == 1 && insurance.uninsured_per_person > 0 && insurance.uninsured_per_accident > 0">
                        <td>
                            <strong class="d-block">Uninsured / Underinsured</strong>
                            <span class="d-block">per person</span>
                            <span class="d-block">per accident</span>
                        </td>
                        <td>
                            <strong class="d-block" style="opacity: 0;">Bodily Injury Liability</strong>
                            <span class="d-block">{{ insurance.uninsured_per_person | currency }}</span>
                            <span class="d-block">{{ insurance.uninsured_per_accident | currency }}</span>
                        </td>
                    </tr>

                    <tr v-if="getCountryId == 1 && insurance.medical > 0">
                        <td>
                            <strong class="d-block">Medical</strong>
                        </td>
                        <td>
                            <span class="d-block">{{ insurance.medical | currency }}</span>
                        </td>
                    </tr>

                    <tr v-if="getCountryId == 2 && insurance.public_liability > 0">
                        <td>
                            <strong class="d-block">Public Liability, Public Damage</strong>
                        </td>
                        <td>
                            <span class="d-block">{{ insurance.public_liability | currency }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--<hr>-->

        <!--<div v-if="insurance" id="insuranceRows">-->
            <!--<div v-if="getCountryId == 1" :style="[insurance.bodily_liability_per_person > 0 && insurance.bodily_liability_per_accident, { 'border-bottom':'1px solid rgba(0,0,0,.15)', 'padding-bottom':'15px', 'margin-bottom':'15px' }]">
                <strong class="mb-2 d-block">Bodily Injury Liability</strong>

                <div class="row">
                    <div class="col-sm-6">per person</div>
                    <div class="col-sm-6">{{ insurance.bodily_liability_per_person | currency }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-6">per accident</div>
                    <div class="col-sm-6">{{ insurance.bodily_liability_per_accident | currency }}</div>
                </div>
            </div>-->


            <!--<div id="propertyArea" v-if="getCountryId == 1 && insurance.property_damage > 0" :style="[ insurance.property_damage > 0, { 'border-bottom':'1px solid rgba(0,0,0,.15)', 'padding-bottom':'15px', 'margin-bottom':'15px' }]">
                <div class="row">
                    <strong class="col-sm-6">Property Damage</strong>
                    <div class="col-sm-6">{{ insurance.property_damage | currency }}</div>
                </div>
            </div>-->

            <!--<div v-if="getCountryId == 1 && insurance.uninsured_per_person > 0 && insurance.uninsured_per_accident > 0" style="border-bottom:1px solid rgba(0,0,0,.15); padding-bottom:15px; margin-bottom:15px;">
                <strong class="mb-2 d-block">Uninsured / Underinsured</strong>

                <div class="row">
                    <div class="col-sm-6">per person</div>
                    <div class="col-sm-6">{{ insurance.uninsured_per_person | currency }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-6">per accident</div>
                    <div class="col-sm-6">{{ insurance.uninsured_per_accident | currency }}</div>
                </div>
            </div>-->

            <!--<div id="medicalArea" v-if="getCountryId == 1 && insurance.medical > 0">
                <div class="row">
                    <strong class="col-sm-6">Medical</strong>
                    <div class="col-sm-6">{{ insurance.medical | currency }}</div>
                </div>
            </div>-->

            <!--<div id="piplArea" v-if="getCountryId == 2 && insurance.public_liability > 0">
                <div class="row">
                    <strong class="col-sm-6">Public Liability, Public Damage</strong>
                    <div class="col-sm-6">{{ insurance.public_liability | currency }}</div>
                </div>
            </div>-->

            <!--<hr>-->

        <!--</div>-->

        <loading-partial v-show="!insurance"/>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import { LoadingPartial } from "../partials";

//import VueCurrencyFilter from 'vue-currency-filter';

export default {

  components: { LoadingPartial },

  data() {
    return {
      insurance: null
    }
  },

  created() {
    this.getInsuranceMinimums()
  },

  computed: {
    ...mapGetters([
      'getCompanyId',
      'getCountryId'
    ])
  },

  methods: {
    getInsuranceMinimums() {
        console.log('getinsuranceminimums');
      axios.get('/getInsuranceMinimums/' + this.getCompanyId).then(response => {
        this.insurance = response.data;
        console.log(this.insurance);
      })
    }
  }
}

</script>

<style lang="css">
    #insuranceMinimumsPartial #insuranceRows .columns:not(:last-child) {
        margin-bottom: -1.5rem;
    }

    #insuranceMinimumsPartial #insuranceRows .box {
        padding: .25rem;
    }
</style>