/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="mileageDates">
        <p class="title">Mileage Dates</p>
        <div v-if="loaded == true">
            <table>
                <tr>
                    <td class="table-title is-left">Event</td>
                    <td class="table-title is-right">Day of the Month</td>
                </tr>
                <tr v-if="getImpersonatorId > 0 || getActiveRole !== 'driver'">
                    <td class="left">Mileage Reminder</td>
                    <td class="right">{{ mileageDates.mileage_reminder_day }}</td>
                </tr>
                <tr v-if="getImpersonatorId > 0 || getActiveRole !== 'driver'">
                    <td class="left">Second Mileage Reminder</td>
                    <td class="right">{{ mileageDates.second_mileage_reminder_day }}</td>
                </tr>
                <tr>
                    <td class="left">Mileage Entry Lock Date {{ driver }}</td>
                    <td class="right">{{ mileageDates.mileage_lock_driver_day }}</td>
                </tr>
                <tr v-if="getImpersonatorId > 0 || getActiveRole !== 'driver'">
                    <td class="left">Mileage Entry Lock Date - Admin/Manager</td>
                    <td class="right">{{ mileageDates.mileage_lock_all_day }}</td>
                </tr>
                <tr v-if="getImpersonatorId > 0 || getActiveRole !== 'driver'">
                    <td class="left">Approval Cutoff</td>
                    <td class="right">{{ mileageDates.mileage_approval_end_day }}</td>
                </tr>
            </table>
        </div>

        <div v-else>
            <loading-partial/>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import { LoadingPartial } from "../partials";

export default {

  components: { LoadingPartial },

  data() {
    return {
      loaded: false,
      mileageDates: null,
    }
  },

  created() {
    axios.get('/getCompanyMileageDates/' + this.getCompanyId).then(response => {
      this.mileageDates = response.data.companyMileageDates
      this.loaded = true
    })
  },

  computed: {
    ...mapGetters([
      'getCompanyId',
      'getImpersonatorId',
      'getActiveRole'
    ]),

    driver: function () {
      return this.getImpersonatorId > 0 ? ' - Driver' : ''
    }
  }
}
</script>

<style lang="css">

</style>