<template lang="html">
    <div id="demoDriversPage" class="box">
        <div class="columns">
            <div class="column is-6">
                <h2>Mi-Route Testing Drivers</h2>
            </div>
        </div>

        <div v-if="waiting"><loading-partial/></div>

        <div class="col-lg-2 col-sm-12" valign="bottom">
            <button class="btn btn-secondary" @click="getDemoDrivers">Generate Report</button>
            <br/><br/>
        </div>

        <div v-if="rows != null">
            Found {{records_found}} driver{{s}}
            <div class="table-responsive table-responsive-bordered mb-4">

                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr class = "primary-table-header">
                        <th colspan="4">Mi-Route Testing Drivers</th>
                        <th colspan="2">Assigment date</th>
                    </tr>
                    <tr class = "secondary-table-header">
                        <th @click="sortByWord('company')" >Company</th>
                        <th @click="sortByWord('division')" >Division</th>
                        <th @click="sortByWord('last_name')" >Last Name</th>
                        <th @click="sortByWord('first_name')" >First Name</th>
                        <th @click="sortByWord('end_of_demo')" >Year</th>
                        <th @click="sortByWord('entry_type')" >Month</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in rows">
                        <td>{{row.company}}</td>
                        <td>{{row.division}}</td>
                        <td>{{row.last_name}}</td>
                        <td>{{row.first_name}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";

    export default {
        components: {LoadingPartial},

        data() {
            return {
                rows: null,
                found: 0,
                waiting: false,
                s: '',
                sorts: { last_name:1, first_name:0, company:0, division:0, end_of_demo:0, entry_type:0 },
            };
        },

        created() {
        },

        mounted() {

            //Common.storeCommit('updateCompanyUsesMiroute', true);
            //EventBus.$emit('reset-companies');

            EventBus.$on('company-changed', () => {
                this.rows = null;
            });
            EventBus.$on('division-changed', () => {
                this.rows = null;
            });
        },

        beforeDestroy() {
            //Common.storeCommit('updateCompanyUsesMiroute', false);
            // back to select all companies
            //EventBus.$emit('reset-companies');
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
            ])
        },


        methods: {
            getDemoDrivers(){
                this.waiting = true
                this.rows = null;
                this.found = null;
                axios.post('/getDemoDrivers', {
                    'company_id': this.getSessionCompanyId,
                    'division_id': this.getSessionDivisionId,
                }).then(response => {
                    this.waiting = false
                    this.rows = response.data.rows
                    this.records_found = response.data.found
                    this.s = this.records_found > 1 ? 's' : '';
                    console.log(response.data)
                });

            },

            sortByNumber(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        return a[col] - b[col];
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        return b[col] - a[col];
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

            sortByWord(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA < wordB) {
                            return -1;
                        }
                        if (wordA > wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA > wordB) {
                            return -1;
                        }
                        if (wordA < wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

        },

    };
</script>

<style lang="css">

</style>