/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="paymentSchedule">
        <p class="title">Payment Schedule - {{ year_id }} </p>
        <div v-if="loaded == true">

            <div v-if="info_available === true" class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Last Day for Changes to Bank Account</th>
                        <th>Payment Deposit Day</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="date in dates">
                        <td class="p-1">{{ date.month | monthReformat }}</td>
                        <td class="p-1">{{ date.banking_lock_date | dayReformat}}</td>
                        <td class="p-1">{{ date.driver_payment_date | dayReformat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <strong v-else>Sorry, this information isn't available yet</strong>
        </div>

        <div v-else>
            <loading-partial/>
        </div>
    </div>
</template>

<script>
    import {MonthSelect, LoadingPartial} from "../partials";
    import moment from 'moment';
    import {mapGetters} from 'vuex';

    export default {

        components: {MonthSelect, LoadingPartial},

        data() {
            return {
                loaded: false,
                show_schedule: false,
                info_available: null,
                mileageDates: null,
                year_id: -1,
                dates: null,

                banking_lock_date: null,
                driver_payment_date: null,
            };
        },

        created() {
            this.year_id = moment().year();
            this.getData();
        },

        computed: {
            ...mapGetters([
                'getCompanyId'
            ])
        },

        methods: {
            getData() {
                if (this.year_id != -1) {
                    axios.get('/getCompanyPaymentDates/' + this.getCompanyId + '/' + false + '/' + this.year_id).then(response => {
                        if (response.data.companyPaymentDates == null) {
                            this.info_available = false;
                            return;
                        }
                        this.dates = response.data.companyPaymentDates;
                        this.info_available = !Common.isEmpty(this.dates);
                        this.loaded = true;
                    });
                }
            }
        },

        filters: {
            dayReformat(date) {
                return date.split('-').slice(-1)[0];
            },

            monthReformat(n) {
                return moment().month(n - 1).format("MMMM");
            }


        }

    };
</script>

<style lang="css">
    .table-title.is-right {
        text-align: right;
        font-weight: bold;
    }

    .table-title.is-left {
        text-align: left;
        font-weight: bold;
    }

    #paymentSchedule .column {
        padding: 0 0 0 0;
    }


</style>