/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<!-- TODO: Determine how to gather first car polcy, none else -->
<template lang="html">
    <div id="policyDocuments">
        <p class="title">Policy Documents</p>
        <div v-if="loaded">
            <div class="columns" v-if="carPolicyDocuments.length">
                <div class="column">
                    <strong>Car Policy</strong>
                    <br>
                    <div v-if="carPolicyDocuments != null" v-for="document in carPolicyDocuments">
                        <a v-if="carPolicyDocuments"
                           :href="'storage/' + document.url"
                           target="_blank">{{ document.filename }}</a>
                    </div>
                    <br>
                    <br>
                    <strong>Related Documents</strong>

                    <div v-if="relatedDocuments != null" v-for="document in relatedDocuments">
                        <a v-if="carPolicyDocuments"
                           :href="'storage/' + document.url"
                           target="_blank">{{ document.filename }}</a>
                    </div>
                </div>
            </div>
            <div v-else class="alert alert-warning">
                There are no car policy documents for {{ getCompanyName }}
            </div>

            <div v-if="carPolicyDocuments.length && getCompanySelection('enforce_car_policy_acceptance') && accepted"
                 :class="{'alert alert-success':true, 'alert alert-info': !accepted}">

                <div class="columns">

                    <div class="column is-8">
                        <!-- In this section, car policy acceptance is loaded and not being changed on the server -->
                        <section v-if="loaded_acceptance">

                            <div v-if="car_policy_accepted == true">
                                way to go, {{ getImpersonatorId > 0 ? ' driver ' : ' you ' }} accepted the car policy
                            </div>

                        </section>

                        <!-- Here we are sending a request to the server to update acceptance -->
                        <section v-else>
                            <button class="btn is-loading" style="width: 100%;"></button>
                        </section>

                    </div>

                    <div v-if="getImpersonatorId < 1"
                         class="column is-4">
                        <input type="checkbox"
                               class="form-control"
                               v-model="accepted"
                               :disabled="accepted == true"
                               @click="acceptCarPolicy">
                    </div>

                </div>
            </div>
        </div>

        <div v-else>
            <loading-partial/>
        </div>

        <!-- POLICY MODAL -->
        <div :class="{'modal':true, 'is-active':show_modal}">
            <div class="modal-background"></div>
            <div class="modal-card" style="width: 80%;">
                <header class="modal-card-head">
                    <p class="modal-card-title"></p>
                    <button class="delete" aria-label="close" @click="show_modal = false"></button>
                </header>

                <section id="policyModal" name="policyModal" class="modal-card-body" style="overflow-x: hidden;">

                    <pdf v-for="i in num_pages"
                         :key="i"
                         :src="url"
                         :page="i"></pdf>

                </section>

                <footer class="modal-card-foot">
                    <button class="btn btn-success"
                            @click="acceptCarPolicy"
                            :disabled="!policy_read || getImpersonatorId > 0">
                        Accept Car Policy
                    </button>
                </footer>
            </div><!-- .model-card -->
        </div><!-- .modal -->

    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {LoadingPartial} from "../partials";
    import {EventBus} from "../../event-bus.js";
    import pdf from 'vue-pdf';

    export default {

        props: ['car_policy_accepted'],

        components: {LoadingPartial, pdf},

        data() {
            return {
                loaded: false,
                loaded_acceptance: true,
                accepted: null,

                // From CarPolicyPendingTask
                carPolicyDocuments: null,
                relatedDocuments: null,

                policy_read: false,

                // policy modal
                show_modal: false,

                // PDF
                url: null,
                num_pages: null,
                loadingTask: null,
            }
        },

        beforeCreate() {

        },

        created() {
        },

        mounted() {
            if (this.getSubView === 'openModalCarPolicy') {
                this.show_modal = true;
                Common.setSubView(null);
            }


            // showCarPolicyAcceptanceModal in store boolean

            axios.get('/getCarPolicyDocuments/' + this.getCompanyId).then(response => {
                this.carPolicyDocuments = response.data.carPolicyDocuments
                // console.log(this.carPolicyDocuments)
                this.relatedDocuments = response.data.relatedDocuments

                if (!Common.isEmpty(this.carPolicyDocuments[0])) {
                    this.url = 'storage/' + this.carPolicyDocuments[0].url;
                    this.loadingTask = pdf.createLoadingTask(this.url);
                }

                this.loaded = true;
            })
        },

        computed: {
            ...mapGetters([
                'getSubView',
                'getCompanyId',
                'getCompanyName',
                'getImpersonatorId',
                'getCompanySelection'
            ])
        },

        watch: {
            car_policy_accepted: {
                handler: function (val) {
                    this.accepted = val
                    // console.log('car policy accepted ' + val)
                },
                immediate: true,
            },

            'loadingTask': {
                handler: function (val) {
                    if (val != null) {
                        this.loadingTask.then(pdf => {
                            this.num_pages = pdf.numPages
                        })

                    }
                },
                deep: true,
            },

            /**
             * Once modal is shown, we bind the jquery event listener.
             * We then are able to check if the user has scrolled the entire document
             *
             * @param val
             */
            show_modal: function (val) {
                if (val == true) {
                    let self = this
                    $('#policyModal').on("scroll", function () {
                        if (($('#policyModal')[0].scrollHeight - $('#policyModal').scrollTop()) < $('#policyModal').height() + 50) {
                            self.policy_read = true
                        }
                    })
                }
            },
        },

        methods: {
            acceptCarPolicy() {
                this.loaded_acceptance = false
                this.car_policy_accepted = true;
                axios.post('/acceptCarPolicy').then(response => {
                    this.loaded_acceptance = true
                    this.show_modal = false
                    alert(response.data.message)
                });
            },
        }

    }
</script>

<style lang="css">

</style>