/**
Requires:

Optional:

Getters:

Setters:

Listeners:
- [caller_id]-pagination-page-changed: call to backend for next data grouping
- [caller_id]-perform-action: perform action (view, edit, etc.) triggered in pagination

Emitters:

Notes:

*/
<template lang="html">
    <div id="predefinedStopsView">
        <h2 class="float-left">
            {{ title }}
        </h2>

        <!--Add a single stop-->
        <button v-show="getSessionCompanyId > 0"
                :disabled="mode !== 'view'"
                class="btn btn-primary rounded-action-btn-30px float-right mr-0"
                :title="'Add a single stop'"
                @click="openViewAddress(newAddress)">
            <i class="fal fa-plus"></i>
        </button>

        <!--Add many stops, switch to import page-->
        <button v-show="getSessionCompanyId > 0 && mode === 'view'"
                class="btn btn-success rounded-action-btn-30px float-right mr-1"
                :title="'Import Pre-Defined Stops'"
                @click="showImportPreDefinedStops()">
            <i class="fal fa-upload"></i>
        </button>

        <button v-show="getSessionCompanyId > 0 && mode === 'import'"
                class="btn btn-danger rounded-action-btn-30px float-right mr-1"
                :title="'Cancel Import'"
                @click="cancelImportPreDefinedStops()">
            <i class="fal fa-ban"></i>
        </button>

        <div class="clearfix"></div>

        <div class="alert alert-warning" v-if="getSessionCompanyId < 0">
            Please select a company.
        </div>

        <div class="alert alert-success" v-if="alert_message">
            {{ alert_message }}
        </div>

        <!--The regular view-->
        <section v-show="mode === 'view'" id="viewSection">
            <div v-if="waiting && getSessionCompanyId > 0"><loading-partial/></div>
            <br/>
            <div v-if="found_records == 0 && getSessionCompanyId > 0" class="alert alert-warning" role="alert">No records found</div>
            <br/>

            <div class="row mb-2" v-if="getSessionCompanyId > 0 && predefinedStops && found_records > 0">
                <!--<div class="col-2 col-offset-10 field">-->
                <div class="col-sm-6 col-offset-10 field">
                    <label class="checkbox">
                        <input type="checkbox" v-model="full_screen" @click="getCompanyPredefinedStops">
                        Show all stops
                    </label>
                </div>

                <div v-if="found_records > 0" class="col-sm-6">
                    <button class="btn btn-primary float-right"
                            @click="generateExcel()"
                            :disabled="generating_excel ">
                        Generate Excel
                    </button>
                </div>
            </div>

            <div v-if="full_screen && found_records > 0" class="box">
                <div v-if="predefinedStops && getSessionCompanyId > 0 && found_records > 0" class="columns table-label">
                    <div class="column text-left">
                        <small><em>Displaying {{ predefinedStops.length }} stops</em></small>
                    </div>
                </div>

                <div class="table-responsive table-responsive-bordered mb-4">
                    <table class="table table-striped table-bordered table-hover mb-0">
                        <thead>
                        <tr class = "primary-table-header" >
                            <th v-for="item in columns_labels"
                                @click="sortBy(item['column'])">
                                {{ item['label'] }}
                            </th>
                            <th class = "secondary-table-header">
                                Actions
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="obj in predefinedStops" :class="{'active-row': obj.deleted_at}">
                            <td v-for="item in columns_labels" class="">
                                        <span v-if="item.column == 'deleted_at' && !obj[item.column]" class="fa fa-check"
                                              style="color: green;"></span>
                                <span v-else-if="item.column == 'deleted_at' && obj[item.column]" class="fa fa-ban"
                                      style="color: red;"></span>
                                <span v-else>{{ obj[item.column] }}</span>
                            </td>
                            <td v-if="actions" class="actions">
                                <button v-if="actions && action.condition && displayAction(obj, action.condition)"
                                        v-for="action in actions"
                                        :class="['btn btn-sm btn-block', obj.trips <= 0 ? 'btn-secondary' : 'btn-primary']"
                                        @click="performAction(action.action, obj.id)">
                                    {{ obj.trips <= 0 ? 'Edit' : 'View' }}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--if full_screen .box-->

            <pagination-partial v-else-if="predefinedStops && found_records > 0" :dataSet="predefinedStops" :data_size="data_size" :page_size="page_size"
                                :columns_labels="columns_labels" :actions="actions" :caller_id="caller_id"/>

            <saved-stop-modal :caller_id="caller_id" :show_stop_modal="show_stop_modal"
                              :stop_id="stop_id" :action="action" :allDivisions="divisions"
                              :use_stop_contract="getCompanySelection('use_stop_contract')"/>

            <!-- Add pre-defined stop - davery -->
            <destination-address :address="currentAddress"
                                 super_user="true"
                                 :use_stop_contract="getCompanySelection('use_stop_contract')"/>
        </section>

        <!--the import view-->
        <section id="importSection" v-if="mode === 'import'">
            <import-pre-defined-stops/>
        </section>


    </div>
</template>

<script>
    import {ImportPreDefinedStops, SavedStopModal} from "./index"; // company
    import {PaginationPartial, FusionSearch, DestinationAddress, LoadingPartial} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {
            ImportPreDefinedStops,
            SavedStopModal,
            PaginationPartial,
            FusionSearch,
            DestinationAddress,
            LoadingPartial
        },

        data() {
            return {
                /**
                 * Mode has been added to differentiate between the standard view,
                 * and the import page
                 *
                 * will either be 'view' or 'import'
                 */
                mode: 'view',

                caller_id: 'PredefinedStopsView',
                companies: null,
                divisions: null,
                state_province_id: -1,
                predefinedStops: null,
                original_stops: null,
                show_stop_modal: false,
                stop_id: -1,
                action: '',
                generating_excel: false,
                waiting: false,
                found_records: -1,

                // pagination needs
                pagination_page: 1,
                data_size: 0,
                page_size: 10,
                search_param: '',
                columns_labels: [
                    {'column': 'stop_number', 'label': 'Stop #'},
                    {'column': 'name', 'label': 'Name'},
                    {'column': 'street', 'label': 'Address'},
                    {'column': 'city', 'label': 'City'},
                    {'column': 'state', 'label': 'State'},
                    {'column': 'divisions', 'label': 'Divisions'},
                    {'column': 'driver_count', 'label': 'Drivers'},
                    {'column': 'trips', 'label': 'Trips'},
                    {'column': 'deleted_at', 'label': 'Active'}],
                actions: [
                    {
                        'action': 'edit',
                        'label': 'View',
                        'condition': {'field': 'driver_count', 'operator': '==', 'value': 0}
                    }
                ],
                full_screen: false, // view paginated or full data set

                // davery
                currentAddress: null,
                newAddress: {
                    'id': -1,
                    'name': null,
                    'address': null,
                    'city': null,
                    'state_province': -1,
                    'zip_postal': null,
                    'country_id': -1,
                    'latitude': 0,
                    'longitude': 0
                },

                // davery
                alert_message: null,
            };
        },

        created() {
        },

        mounted() {
            this.getCompanyPredefinedStops();

            Common.listen(this.caller_id + '-pagination-page-changed', this.paginationPageChanged);
            Common.listen(this.caller_id + '-perform-action', this.performAction);
            Common.listen(this.caller_id + '-hide-stop-modal', this.hideStopModal);
            Common.listen(this.caller_id + '-deleted-stop', () => {
                this.hideStopModal();
                this.alert_message = 'Stop deleted successfully';
                setTimeout(() => {
                    this.alert_message = null;
                }, 1800);
                this.getCompanyPredefinedStops();
            });

            Common.listen('address-updated', () => {
                this.hideStopModal();
                this.alert_message = 'Stop added successfully';
                setTimeout(() => {
                    this.alert_message = null;
                }, 1800);
                this.getCompanyPredefinedStops();
            });

            // Super Session
            EventBus.$on('state-province-changed', (val) => {
                this.state_province_id = val;
                this.predefinedStops = {};
                this.data_size = 0;
                this.pagination_page = 1;
                this.getCompanyPredefinedStops();
            });

            EventBus.$on('fusion-search', term => {
                this.search_param = term;
                this.getCompanyPredefinedStops();
            });

            EventBus.$on('company-changed', () => {
                this.predefinedStops = {};
                this.data_size = 0;
                this.divisions = null;
                EventBus.$emit('reset-divisions');
                this.state_province_id = -1;
                if (this.getSessionCompanyId > 0) {
                    this.getCompanySavedStopDivisions();
                }
            });

            EventBus.$on('division-changed', () => {
                this.predefinedStops = {};
                this.data_size = 0;
                this.pagination_page = 1;
                this.getCompanyPredefinedStops();
            });

            Common.storeCommit('updateCompanyHasPredefinedStops', true);
            EventBus.$emit('reset-companies');

            this.getCompanySavedStopDivisions();
            //this.getCompanyPredefinedStops();
            this.doSessionCountryId(); // davery
        },

        beforeDestroy() {
         // console.log('calling beforeDestroy in pdsv');
            Common.storeCommit('updateCompanyHasPredefinedStops', 0);
            EventBus.$emit('reset-companies');
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCountryId',
                'getSessionDivisionId',
                'getCompanySelection'
            ]),

            title: function() {
              let title = 'Pre-defined Stops';
              if (this.mode === 'import') {
                  return 'Import ' + title;
              }

              return title;
            },

            long: function () {
                if (this.newAddress.country_id == 1) {
                    return -101.9189634;
                } else {
                    return -82.5184875;
                }
            },

            lat: function () {
                if (this.newAddress.country_id == 1) {
                    return 40.4343546;
                } else {
                    return 50.7184034;
                }
            },
        },

        watch: {
            /*state_province_id: function (val) {
                this.predefinedStops = {};
                this.data_size = 0;
                this.pagination_page = 1;
                this.search_param = '';
                if (this.getSessionCompanyId > 0) {
                    this.getCompanyPredefinedStops();
                }
            }*/
            getSessionCountryId: function (val) {
                // console.log('getSessionCountryId: ',this.getSessionCountryId)
                this.doSessionCountryId();
            },
        },


        methods: {
            // davery
            doSessionCountryId() {
                if (this.getSessionCountryId < 0) return;

                this.newAddress.country_id = this.getSessionCountryId;
                this.newAddress.country = this.newAddress.country_id == 1 ? 'United States' : 'Canada';
                if (this.getSessionCountryId == 1) {
                    this.newAddress.longitude = -101.9189634;
                } else {
                    this.newAddress.longitude = -82.5184875;
                }
                if (this.getSessionCountryId == 1) {
                    this.newAddress.latitude = 40.4343546;
                } else {
                    this.newAddress.latitude = 50.7184034;
                }

                this.$forceUpdate();
            },

            openViewAddress(address) {
                this.doSessionCountryId();
                this.currentAddress = address;

                $('#driverDestinationPartial').addClass('is-active');
            },

            getCompanyPredefinedStops() {
                if (!Common.isEmpty(this.getSessionCompanyId)) {
                    let obj = {
                        'company_id': this.getSessionCompanyId, 'division_id': this.getSessionDivisionId,
                        'state_province_id': this.state_province_id, 'search_param': this.search_param,
                        'pagination_page': this.pagination_page, 'page_size': this.page_size,
                        'use_stop_contract': this.getCompanySelection('use_stop_contract')
                    };

                    obj.full_screen = this.full_screen;
                    this.waiting = true;
                    this.found_records = -1
                    axios.post('/getCompanyPredefinedStops', obj).then(response => {
                        console.log('search response: ',response.data); // davery
                        if (response.data.message === 'success') {
                            this.predefinedStops = response.data.predefinedStops;
                            this.original_stops = _.cloneDeep(this.predefinedStops);
                            this.data_size = response.data.data_size;

                            this.getPredefinedStopsPage();

                            this.found_records = response.data.data_size;
                            console.log("Found " + response.data.data_size + " records");
                            this.waiting = false;
                        } else {
                            // console.log('Unable to retrieve PredefinedStops data');
                        }
                    });
                }
                else {
                    // console.log('you have no company selected');
                }
            },

            paginationPageChanged(page) {
                this.pagination_page = page;
                this.getPredefinedStopsPage();
            },

            getPredefinedStopsPage(){
                var from = (this.pagination_page - 1 )*this.page_size;
                var to =  this.pagination_page * this.page_size;
                if( to > this.found_records) {
                    to = this.found_records;
                }
                this.predefinedStops = this.original_stops.slice(from,to);
            },

            getCompanySavedStopDivisions() {
             // console.log('here');
                axios.get('/getCompanySavedStopDivisions/' + this.getSessionCompanyId).then(response => {
                    this.divisions = response.data.divisions; // cannot use davery
                });
            },

            performAction(data) {
                this.stop_id = data.id;
                this.action = data.action;

                // console.log('i should do ' + this.action + ' with ' + this.stop_id);

                this.show_stop_modal = true;
            },

            hideStopModal() {
                this.show_stop_modal = false;
            },

            displayAction(dataObj, condition) {
                let compVal = dataObj[condition.field];
                let retVal = false;
                switch (condition.operator) {
                    case '==':
                        retVal = compVal == condition.value;
                        break;
                    case '>':
                        retVal = compVal > condition.value;
                        break;
                    case '>=':
                        retVal = compVal >= condition.value;
                        break;
                    case '<':
                        retVal = compVal < condition.value;
                        break;
                    case '<=':
                        retVal = compVal <= condition.value;
                        break;
                    case '!=':
                        retVal = compVal != condition.value;
                        break;
                }

                return retVal;
            },

            generateExcel() {
                let url = '/generatePredefinedStopsExcel';
                this.generating_excel = true;

                console.log(this.predefinedStops)
                axios.post(url, {
                    rows: this.original_stops,
                    company_id: this.getSessionCompanyId,
                    division_id: this.getSessionDivisionId,
                    from_date: this.from_date,
                    to_date: this.to_date
                }).then(response => {
                    let file_path = 'storage/tmp/' + response.data.filename;
                    let a = document.createElement('A');
                    a.href = file_path;
                    a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);

                }).catch(errors => {
                    console.log('Errors')
                });
                this.generating_excel = false;

            },

            showImportPreDefinedStops() {
                this.mode = 'import';
            },

            cancelImportPreDefinedStops() {
                this.mode = 'view';
            }


        }
    };

</script>

<style lang="scss" scoped>

</style>