/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reactivateCompanyPage">



        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h6>Are you sure you want to reactivate {{ getSessionCompanyName }}?</h6>

                <p>
                    By reactivating {{ getSessionCompanyName }} you will set all drivers, managers, administrators who
                    were affected by the inactivation back to 'Active'.
                </p>

                <h6>This reactivation can be reversed at any time.</h6>

                <p>
                    To inactivate {{ getSessionCompanyName }} select {{ getSessionCompanyName }}
                    from the company dropdown and click the button "Inactivate Company" when it appears.
                </p>
            </div>

            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-primary float-right"
                        @click="reactivateCompany"
                        :disabled="reactivating">
                    Reactivate
                </button>

                <loading-partial v-show="reactivating"/>
            </div>
        </div>



    </div>

</template>
<script>

    import {LoadingPartial} from "../partials";
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';

export default {

    components: {LoadingPartial},

    data() {
        return{
            reactivating: false,
        }
    },

    computed: {
        ...mapGetters([
            'getSessionCompanyId',
            'getSessionCompanyName'
        ])
    },

    methods: {
        reactivateCompany() {
            this.reactivating = true;
            axios.post('/reactivateCompany/' + this.getSessionCompanyId).then( response => {
               // console.log(response.data);
                //alert parent company reactivated
                EventBus.$emit('company-reactivated', this.getSessionCompanyId);
                this.reactivating = false;
            })
        }

    }
}
</script>

<style lang="css">

</style>