/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reactivateVehicleProfilePage">
        <div v-if="loaded == true">
            <p class="title"> {{ vehicleProfile.vehicle.year + ' ' + vehicleProfile.vehicle.name + ' ' + vehicleProfile.name_postfix }}</p>

            <p>
                <strong>Reactivating this vehicle profile will NOT reassign previously assigned drivers.</strong>
                <br>
            </p>


            <button class="btn btn-secondary"
                    @click="reactivate"
                    :disabled="reactivating">Reactivate</button>
        </div>

        <loading-partial v-show="reactivating" align="center"/>
    </div>
</template>

<script>
import {LoadingPartial} from "../partials";
import {EventBus} from "../../event-bus";

export default {

    props: ['vehicleProfile'],

    components: {LoadingPartial},

    data() {
        return{
            loaded: false,
            reactivating: false,
        }
    },

    watch: {
        'vehicleProfile': {
            handler: function (vp) {
                this.loaded = vp == null ? false : true;
            },
            deep: true,
            immediate: true
        },

    },

    methods: {
        reactivate() {
            /**
             * Set reactivating to disable the button and show the loading icon
             */
            this.reactivating = true;
            axios.post('reactivateVehicleProfile/' + this.vehicleProfile.id).then(response => {

                /**
                 * Tell the select that the vehicle profile has been updated
                 */
                EventBus.$emit('vehicle-profile-updated');

                /**
                 * Flash a success message
                 */
                this.flash('Vehicle Profile Updated Successfully', 'success');

                /**
                 * Alert parent that a vehicle profile was updated. Since the previously selected
                 * vehicle profile was reactivated, we pass the new id.
                 * Then the parent gets that profile and we fire an event to set the subpage to show
                 */
                Common.storeCommit('updateSessionVehicleProfileId', response.data.new_vehicle_profile_id).then( () => {
                    EventBus.$emit('company-vehicle-profile-action', 'show');
                    this.reactivating = false;
                });
            });
        }
    }
}
</script>

<style lang="css">

</style>