/**
For editing/re-naming a pre-defined saved stop

Requires:
- stop_id
- action: view (only name can be updated, drivers already assigned), or edit (full edit)
- is_active: parent will show or hide with this attribute
- allDivisions: all possible divisions for company

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div :class="{'modal':true, 'is-active': is_active}" id="savedStopModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" v-if="edited_stop">
                <p class="modal-card-title mb-0">
                    <!--<span v-if="mode === 'edit'" class="d-block mb-2" style="font-size: 14px;">Editing Stop:</span>-->
                    {{ edited_stop.name }}


                </p>
                <button class="delete" aria-label="close" @click="hideModal"></button>
            </header>


            <section class="modal-card-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div v-if="alertMessage" :class="['alert', alertMessageType === 'success' ? 'alert-success' : 'alert-danger',
                                    alertMessage ? 'show' : 'hide']" role="alert">
                            {{ alert_message }}
                        </div>

                        <div class="clearfix"></div>

                        <section v-if="edited_stop && this.selectedDivisions">

                            <div class="row">

                                <div class="col-6">
                                    <!--COMPANY NAME IMMUTABLE-->
                                    <div :class="{ 'form-group': true, 'has-error': errors.has('name') }">
                                        <label class="label" for="companyNameInput">Company</label>
                                        <input id="companyNameInput" type="text" class="form-control" v-model="company_name" :disabled="true">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <!--ACTIVE STATUS-->
                                    <div class="form-group text-center">
                                        <label class="label">
                                            Active
                                        </label>
                                        <label class="checkbox" v-if="mode == 'edit'">
                                            <input type="checkbox" v-model="edited_stop.active" :disabled="input_disabled">
                                        </label>
                                        <i v-else :class="['fas', edited_stop.active ? 'fa-check' : 'fa-times']"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <!--STOP NAME-->
                                    <div :class="{ 'form-group': true, 'has-error': errors.has('name') }">
                                        <label class="label" for="stopNameInput">Stop Name</label>
                                        <input id="stopNameInput" type="text" class="form-control" v-model="edited_stop.name" :disabled="input_disabled || edited_stop.trip_count > 0">
                                        <span class="help-block" v-if="errors.has('name')">{{ errors.get('name') }}</span>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12">
                                    <!--STOP NUMBER-->
                                    <div v-if="!use_stop_contract" :class="{ 'form-group': true, 'has-error': errors.has('stop_number') }">
                                        <label class="label">{{ stop_number_or_contracts_label }}</label>
                                        <input type="text" class="form-control" v-model="edited_stop.stop_number" :disabled="input_disabled">
                                        <span class="help-block" v-if="errors.has('stop_number')">{{ errors.get('stop_number') }}</span>
                                    </div>
                                    <!--CONTRACTS-->
                                    <div v-if="use_stop_contract" :class="{ 'form-group': true, 'has-error': errors.has('contract_numbers') }">
                                        <label class="label">{{ stop_number_or_contracts_label }}</label>
                                        <input type="text" class="form-control" v-model="edited_stop.contract_numbers" :disabled="input_disabled" @input="errors.clear('contract_number')">
                                        <span class="help-block" v-if="errors.has('contract_numbers')">{{ errors.get('contract_numbers') }}</span>
                                    </div>
                                    <div v-if="use_stop_contract && edited_stop.inactive_contract_numbers.length > 0" :class="{ 'form-group': true}">
                                        <label class="label">Inactive Contracts</label>
                                        <input type="text" class="form-control" v-model="edited_stop.inactive_contract_numbers" disabled>
                                    </div>

                                </div>
                            </div>

                            <!--DIVISIONS-->
                            <div v-if="!use_stop_contract">
                                <div v-if="mode === 'edit'" class="form-group row">
                                    <div class="col-lg-6 col-sm-12" style="padding-left: 0;">
                                        <!--Division Select No Session-->
                                        <label class="label" for="divisionSelect">Divisions</label>
                                        <division-select-no-session id="divisionSelect"
                                                                    :caller_id="my_caller_id"
                                                                    v-model="division_id"
                                                                    hide_label="true"
                                                                    allow_all="true"
                                                                    emit_object="true"
                                                                    :class="{'has-error': errors.has('divisions')}"/>
                                        <span class="help-block mb-2 d-block" v-if="errors.has('divisions')" style="margin-top: -15px;">{{ errors.get('divisions') }}</span>

                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <!--Selected Divisions-->
                                        <div v-if="selected_divisions.length" style="height: 14px; line-height: 14px; margin-bottom: 5px;">
                                            <a href="#" @click.prevent="clearAllDivisions()" class="small">Clear All</a>
                                        </div>
                                        <div v-if="selected_divisions.length"
                                             :class="{'box pt-2 pr-2 pl-2 pb-0 mb-3': true, 'help-block': errors.has('divisions')}"
                                             style="overflow-y: scroll; max-height: 100px;">
                                            <span v-for="(value, key) in selected_divisions" class="tag btn-secondary mb-2">
                                                {{ value.name }}
                                                <button class="delete is-small" @click.prevent="removeDivision(value)"></button>
                                             </span>
                                        </div>
                                    </div>
                                </div>


                                <!--Display during view-->
                                <div v-else class="form-group">
                                    <label class="label" for="divisionsList">Divisions</label>
                                    <input id="divisionsList" type="text"
                                           class="form-control" v-model="formatted_divisions_list"
                                           :disabled="true">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <!--STREET-->
                                    <div class="form-group">
                                        <label class="label" for="streetInput">Street</label>
                                        <input id="streetInput" type="text"
                                               title="You cannot edit this stop's street"
                                               class="form-control" v-model="edited_stop.street" disabled>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!--STREET2-->
                                    <div class="form-group">
                                        <label class="label" for="street2Input">Street 2</label>
                                        <input id="street2Input" type="text"
                                               class="form-control" v-model="edited_stop.street2"
                                               :disabled="input_disabled || edited_stop.trip_count > 0">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <!--CITY-->
                                    <div class="form-group">
                                        <label class="label" for="cityInput">City</label>
                                        <input id="cityInput" type="text"
                                               title="You cannot edit this stop's city"
                                               class="form-control" v-model="edited_stop.city" disabled>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!--STATE/PROVINCE-->
                                    <div class="form-group">
                                        <label class="label" for="stateProvinceInput">{{ edited_stop.country_id == 1 ? 'State' : 'Province' }}</label>
                                        <input id="stateProvinceInput" type="text"
                                               :title="'You cannot edit the ' + (edited_stop.country_id == 1) ? 'state' : 'province'"
                                               class="form-control" v-model="state_province_name" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!--ZIP/POSTAL-->
                                    <div class="form-group">
                                        <label class="label" for="zipPostalInput">{{ edited_stop.country_id == 1 ? 'Zip' : 'Postal' }} Code</label>
                                        <input id="zipPostalInput" type="text"
                                               :title="'You cannot edit the ' + (edited_stop.country_id == 1) ? 'state' : 'province'"
                                               class="form-control" v-model="edited_stop.zip_postal" disabled>
                                    </div>
                                </div>
                            </div>


                        </section>


                    </div>


                    <div class="col-lg-6 col-sm-12">

                            <!-- Used over google-map(above) for ease of use -->
                            <gmap-map v-if="driverLocation.lat && driverLocation.lng"
                                      style="width: 100%; height: 97%;"
                                      :center="driverLocation"
                                      :zoom="initial_zoom"
                                      class="mb-4">

                                    <gmap-marker :position="driverLocation"
                                                 :clickable="false"
                                                 :draggable="false"></gmap-marker>
                            </gmap-map>

                    </div>

                </div>

            </section>
            <footer class="modal-card-foot text-right">
                <div class="float-right" style="width: 100%;">
                    <button v-if="mode == 'show'"
                            class="btn btn-primary"
                            title="Edit Stop"
                            @click="mode = 'edit'">
                        Edit Stop
                    </button>

                    <button v-else :disabled="disabled" class="btn btn-success" @click="saveChanges">Save changes</button>

                    <button v-if="edited_stop && edited_stop.trip_count == 0"
                            class="btn btn-danger"
                            style="margin-left: 1rem;"
                            title="Delete Stop"
                            @click="deleteStop()">
                        Delete Stop
                    </button>

                    <button v-if="mode == 'edit'"
                            class="btn is-danger"
                            style="margin-left: 1rem;"
                            @click="cancelEditPredefinedStop()">Cancel</button>

                    <button v-else
                            class="btn"
                            style="margin-left: 1rem;"
                            @click="hideModal">Close</button>
                </div>


            </footer>
        </div>
    </div>
</template>

<script>
    import { GoogleMap, DivisionSelectNoSession } from "../partials";
    import {EventBus} from '../../event-bus';
    import { Errors } from "../../utilities";

    export default {

        props: ['stop_id', 'action', 'show_stop_modal', 'caller_id', 'allDivisions', 'use_stop_contract'],

        components: { GoogleMap, DivisionSelectNoSession },

        data() {
            return {
                my_caller_id: 'saved-stop-modal',
                is_active: false,
                original_stop: null,
                edited_stop: null,
                selectedDivisions: null,

                mode: 'show', // options: show or edit
                disabled: true,
                company_name: '',
                state_province_name: '',

                errors: new Errors,
                alertMessage: false,
                alert_message: '',
                alertMessageType: '',

                // Google Map
                initial_zoom: 14,
                driverLocation: {
                    lat: null,
                    lng: null
                },

                division_id: -1,
                selected_divisions: [],
            }
        },

        created() {
            if (!Common.isEmpty(this.stop_id)) {
                this.getSavedStop()
            }

            this.is_active = this.show_stop_modal
        },

        mounted() {

            $('.btn-danger').tooltip();




            EventBus.$on(this.my_caller_id + '-full-division', obj => {
                if (obj) { // make sure there's an object passed through
                    this.errors.clear('divisions'); // reset errors

                    if (obj.length) {
                        this.selected_divisions = [];
                        this.edited_stop.divisions = [];

                        // Loop over allDivisions & if match push into this.edited_stop.divisions
                        obj.map(division=> {
                            this.edited_stop.divisions.push({id: division.id, name: division.name});
                        });

                    } else { // for single object

                        // selected_divisions array not empty && item found
                        if (!Common.isEmpty(this.selected_divisions) && this.selected_divisions.find(item => item.id === obj.id)) {
                            return // do nothing
                        } else { // item not found in selected_divisions
                            this.selected_divisions = [];
                            this.edited_stop.divisions.push({ id: obj.id, name: obj.name });

                        }
                    }
                } else { // if no object(s) empty selected_divisions array
                    this.selected_divisions = [];
                }
            });
        },

        watch: {
            show_stop_modal: function (val) {
                this.is_active = val;
            },

            stop_id: function (val) {
                this.getSavedStop();
            },

            allDivisions: function (val) {
                this.populateSelectedDivisions()
            },

            'edited_stop': {
                handler: function(val) {
                    // only run the first time
                    if (val.id > 0 && Common.isEmpty(this.selected_divisions)) {
                        console.log('edited_stop watch - update selected_divisions');
                        this.getAndSetSelectedDivisions();
                    }

                    this.errors.clear();

                    // validate name is not empty
                    // if (Common.isEmpty(val.stop_number)) {
                    //     this.errors.add('stop_number', ['You must supply a stop number for this location']);
                    // }
                    if (Common.isEmpty(val.name)) {
                        this.errors.add('name', ['You must supply a name for this stop']);
                    }
                    if (Common.isEmpty(val.divisions)) {
                        this.errors.add('divisions', ['Please select division(s) for this stop.']);
                    }

                    let active_changed = val.active != this.original_stop.active;

                    let stop_number_changed = val.stop_number != this.original_stop.stop_number;

                    let name_changed = val.name != this.original_stop.name;
                    // using computed values
                    let street_changed = this.edited_street2 != this.original_street2;

                    let contract_numbers_changed = val.contract_numbers != this.original_stop.contract_numbers;
                    // check if divisions have changed
                    let divisions_changed = !_.isEqual(val.divisions, this.original_stop.divisions);

                    this.disabled = contract_numbers_changed || stop_number_changed || name_changed || street_changed || active_changed || divisions_changed ? false : true;

                    if (this.errors.any()) this.disabled = true;

                    this.driverLocation.lat = val.latitude; // set lat
                    this.driverLocation.lng = val.longitude; // set lng

                },
                deep: true,
            },
        },

        computed: {

            edited_street2: function() {
                return this.edited_stop.street2 === null || this.edited_stop.street2 === '' ? "" : this.edited_stop.street2
            },

            original_street2: function() {
                return this.original_stop.street2 === null || this.original_stop.street2 === '' ? "" : this.original_stop.street2
            },

            stop_number_or_contracts_label: function() {
                return this.use_stop_contract ? 'Contract(s)' : 'Stop #';
            },

            input_disabled: function() {
                return this.mode !== 'edit';
            },

            formatted_divisions_list: function() {
                let l = '';
                let count = 0;
                for(let i in this.edited_stop.divisions) {
                    l += (count == 0 ? '' : ', ') + this.edited_stop.divisions[i].name;
                    count++;
                }
                return l;
            },

        },

        methods: {
            showTooltip(event) {
                $(event.target).tooltip('show');
            },

            deleteStop() {
                if (confirm('Are you sure you would like to delete this stop?')) {
                    axios.post('/deletePredefinedStop', this.edited_stop).then(response => {
                        this.hideModal();
                        Common.fire(this.caller_id + '-deleted-stop')
                    });
                }
            },

            // for each edited_stop.division push default selected divisions
            getAndSetSelectedDivisions() {
                this.edited_stop.divisions.forEach(edit_stop_division => {
                    this.selected_divisions.push({id: edit_stop_division.id, name: edit_stop_division.name});
                });
            },

            clearAllDivisions() {
                this.edited_stop.divisions = []; // empty editing stop
                this.selected_divisions = []; // davery
                EventBus.$emit('clear-division-select-no-session');
            },

            removeDivision(item) {
                this.selected_divisions = []; // reset
                // map over edited_stop.divisions & find indexOf item.id
                let indexEditedStopDivisions = this.edited_stop.divisions.map((division) => { return division.id; }).indexOf(item.id);
                this.edited_stop.divisions.splice(indexEditedStopDivisions, 1); // remove it from divisions array
            },

            getSavedStop() {
                axios.get('/getCompanyPredefinedStop/' + this.stop_id + '/' + this.use_stop_contract).then(response => {
                    console.log('getSavedStop response: ',response)
                    this.original_stop = response.data.stop
                    this.divisions = response.data.divisions;
                    console.log('getSavedStop original_stop: ',this.original_stop)
                    // console.log('got saved stop: ', this.original_stop)
                    this.original_stop.contract_numbers = this.formatContracts(this.original_stop.contracts, true);
                    this.original_stop.inactive_contract_numbers = this.formatContracts(this.original_stop.contracts, false);
                    this.getCompanyName(this.original_stop.company_id)
                    this.getStateProvince(this.original_stop.state_province_id)

                    this.resetStop()
                })
            },

            hideModal() {
                this.is_active = false
                this.resetStop()
                this.alertMessage = false
                this.alert_message = ''
                this.alertMessageType = ''
                Common.fire(this.caller_id + '-hide-stop-modal')
            },

            resetStop() {
                this.edited_stop = _.cloneDeep(this.original_stop)
                this.populateSelectedDivisions()
            },

            populateSelectedDivisions() {
                this.selectedDivisions = [];

                // check for divisions already assigned
                if (this.edited_stop) {
                    for (let d in this.divisions) {
                        this.selectedDivisions.push(this.edited_stop.divisions[d].id)
                    }
                }
            },

            divisionsChanged() {
                // console.log(this.selectedDivisions);
            },

            saveChanges() {
                if (!this.errors.any()){

                    /**
                     * If using stop contracts get the confirmation done
                     */
                    if (this.use_stop_contract) {
                        if (!this.validateContracts()) {
                            this.$forceUpdate();
                            return;
                        }

                        let confirmation_message = this.determineStopContractActions();

                        if (confirmation_message.length > 0) {
                            if (!confirm(confirmation_message)) {
                                this.edited_stop.contract_numbers = this.original_stop.contract_numbers;
                                return;
                            }
                        }

                    }

                    this.edited_stop.use_stop_contract = this.use_stop_contract;

                    // update parameters in SavedStop object
                    axios.post('/updatePredefinedStop', this.edited_stop).then(response => {

                        // if (response.data.message === 'success') {
                        if (response.data[0].success) {
                            // scroll to for alert & message
                            $('.modal-card-body').animate({ scrollTop: 0 }, 'slow');
                            this.alertMessageType = 'success';
                            this.alertMessage = true;
                            this.alert_message = 'Stop Updated Successfully';
                            this.mode = 'show';
                            this.disabled = true;
                            this.original_stop = _.cloneDeep(this.edited_stop);
                            setTimeout(()=> { // reset alert
                                this.alertMessageType = '';
                                this.alertMessage = false;
                                this.alert_message = '';
                            }, 1800);
                        } else {
                            // wrap all of this w/ if (stop_used) { //code } else { //code }
                            let message = {
                                'street_number': ['Please provide a valid street number.'],
                                'name': ['Please provide a name for this stop.'],
                                'divisions': ['Please select division(s) for this stop.'],
                                'active': ['Please select active or inactive for this location.'],
                            };

                            response.data[1].forEach(error => {
                                this.errors.add(error, message[error]);
                            });

                            console.log('error');
                            this.alertMessageType = 'fail';
                            this.alert_message = 'Errors';
                            this.alertMessage = true;
                        }
                    }).catch(errors => {
                        // console.log('error: ',errors);
                        this.alertMessageType = 'fail';
                        this.alert_message = errors;
                        this.alertMessage = true;
                    });
                }
            },

            getCompanyName(company_id) {
                axios.get('/getCompanyName/' + company_id).then(response => {
                    this.company_name = response.data.company_name;
                })
            },

            getStateProvince(state_province_id) {
                axios.get('/getStateProvince/' + state_province_id).then(response => {
                    this.state_province_name = response.data.stateProvince.name;
                })
            },

            cancelEditPredefinedStop() {
                this.selected_divisions = []; // reset
                this.mode = 'show';
                this.disabled = true;
                this.edited_stop = _.cloneDeep(this.original_stop)
            },

            /**
             * Formats our nice collection of contracts into a list for display and editing
             */
            formatContracts(contracts, active) {
                if (!this.use_stop_contract) return null;
                return contracts.filter(x => {return active ? !x.deleted_at : x.deleted_at;}).map(x => {return x.contract_id;}).join(',');
            },

            validateContracts() {
                let contract_numbers = this.edited_stop.contract_numbers.replace(',',' ').split(' ');
                contract_numbers = contract_numbers.filter((x) => x.length > 0);
                for(let i in contract_numbers) {
                    if (contract_numbers[i].search(/^\d{4}$/) == -1) {
                        this.errors.add('contract_numbers', ['Contract numbers must be 4 digits and comma separated (ex. 1234,2332)'])
                        return false;
                    } else if ( (new Set(contract_numbers).size) !== contract_numbers.length) {
                        this.errors.add('contract_numbers', ['Duplicate contract']);
                        return false;
                    } else {
                        this.errors.clear('contract_numbers');
                    }
                }

                return true;
            },

            /**
             * Returns a pretty string message for stop unassignment confirmation
             * This will also add the data to our stop so we know which numbers to unassign.
             */
            determineStopContractActions() {
                this.edited_stop.contract_numbers.replace(/\s/g,'');
                let new_contract_numbers = this.edited_stop.contract_numbers.split(',');
                new_contract_numbers = new_contract_numbers.filter((x) => x.length > 0);

                let old_contract_numbers = this.original_stop.contract_numbers.split(',');
                old_contract_numbers = old_contract_numbers.filter((x) => x.length > 0);

                let contracts_to_inactivate = old_contract_numbers.filter((x) => !new_contract_numbers.includes(x) && x != 9400);
                this.edited_stop.contracts_to_inactivate = contracts_to_inactivate;

                let contracts_to_activate= new_contract_numbers.filter((x) => !old_contract_numbers.includes(x));
                this.edited_stop.contracts_to_activate = contracts_to_activate;

                if (contracts_to_inactivate.length > 0) {
                    return 'The following contract numbers will be made inactive for this stop:\n' + contracts_to_inactivate.join(', ');
                }
                return '';
            }
        }
    }

</script>

<style lang="css" scoped>
    button[data-toggle="tooltip"]:focus {
        display: none;
    }

    #savedStopModal .modal-card {
        min-width: 60%;
    }

    #savedStopModal .no-border td,th,tr {
        border: none !important;
    }

    #savedStopModal .form-group {
        margin: 0;
    }

    #savedStopModal .label {
        margin-bottom: 0;
        margin-top: 0.25rem;
        font-size: 1rem;
    }

    #savedStopModal .disabled-list {
        background-color: #fff;
    }
</style>