<template lang="html">
    <div id="showCompanyPage" class="box">

        <div v-if="loaded">
            <div class="box" v-if="true">
                <p class="title">Profile</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.profile" :key="index">
                    <span :id="'profile' + item" v-text="item"></span><br>
                    <label :for="'profile' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">Financials</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.financials" :key="index">
                    <span :id="'financials' + item" v-text="item"></span><br>
                    <label :for="'financials' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">Insurance</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.insurance" :key="index">
                    <span :id="'insurance' + item" v-text="item"></span><br>
                    <label :for="'insurance' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">License</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.license" :key="index">
                    <span :id="'license' + item" v-text="item"></span><br>
                    <label :for="'license' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">Mileage</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.mileage" :key="index">
                    <span :id="'mileage' + item" v-text="item"></span><br>
                    <label :for="'mileage' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">Options</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.options" :key="index">
                    <span :id="'options' + item" v-text="item"></span><br>
                    <label :for="'options' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>

            <div class="box">
                <p class="title">Coordinator</p>
                <div class="fusionDisplayBlock" v-for="(item, key, index) in company.coordinators" :key="index">
                    <span :id="'coordinators' + item" v-text="item"></span><br>
                    <label :for="'coordinators' + item">{{ key }}</label>
                </div>
                <div style="clear: both; float: none;">&nbsp;</div>
            </div>
        </div>
        <div v-else>
            <p>
                Please select a company above.
            </p>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {

        props: ['company'],

        components: {moment},

        data() {
            return {
                loaded: false,
            }
        },

        created() {
           // console.log('created show company page');
        },

        destroyed() {
           // console.log('destroyed show company page');
        },

        watch: {
            'company': {
                handler: function(company) {
                    this.loaded = company !== null;
                },
                deep: true,
                immediate: true,
            }
        },

        methods: {

        },
    }
</script>

<style lang="css">
    #showCompanyPage .fusionDisplayBlock {
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        float: left;
    }

    #showCompanyPage .fusionDisplayBlock span {
        text-decoration: underline;
        font-weight: bold;
    }

    #showCompanyPage .fusionDisplayBlock label {
        font-style: italic;
        font-size: x-small;
        display: block;
        margin-top: -5px;
        color: #999;
    }
</style>