<template lang="html">
    <div id="showCompaniesPage">

        <br>

        <!-- COMPANY SELECT -->
        <div class="columns">
            <div class="column is-6">
                <div class="form-group">
                    <company-select/>
                </div>
            </div>
        </div>

        <!-- MAIN COMPANY PROFILE INFO -->
        <div v-if="company" class="box">

            <div class="box" style="padding: 2rem; border: 1px solid blue;">
                <pre>{{ company.profile }}</pre>

                <ul>
                    <li>
                        <label>website (string)</label> {{ company.profile.website }}
                    </li>
                    <li>
                        <label>industry (string)</label> Construction
                    </li>
                    <li>
                        <label>address</label>
                        <ul style="margin-left: 20px;">
                            <li>
                                <label>street (string)</label> {{ company.profile.street }}
                            </li>
                            <li>
                                <label>street2 (string)</label> {{ company.profile.street2 ? company.profile.street2 :
                                'Suite 307' }}
                            </li>
                            <li>
                                <label>City (string)</label> {{ company.profile.city }}
                            </li>
                            <li>
                                <label>State (string)</label> Colorado
                            </li>
                            <li>
                                <label>Zip/Postal (string)</label> {{ company.profile.zip_postal }}
                            </li>
                            <li>
                                <label>Country (string)</label> {{ company.profile.country_id == 1 ? 'US' : 'CA' }}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label>TimeZone (string)</label> Eastern Standard Time (or EST)
                    </li>
                </ul>
            </div>


            <div class="columns">

                <div class="column" v-for="tab in tabs" v-if="tab.includeToggle">
                    <label>Use {{ tab_name }} module:</label>
                    <a @click.prevent="toggleTab(tab.name)">
                        <img src="/img/traffic_light_green.jpg" alt="" class="traffic_light" v-if="tab.showTab">
                        <img src="/img/traffic_light_red.jpg" alt="" class="traffic_light" v-else>
                    </a>
                </div>
            </div>
        </div>

        <!-- TABS HERE -->
        <div class="tabs is-centered is-large is-boxed">
            <ul>
                <li v-for="tab in tabs" :class="{'is-active': tab.active}" v-if="testShow(tab.name)">
                    <a @click="makeTabActive(tab.name)">
                        <span class="icon is-small"><i :class="'fa fa-' + tab.icon"></i></span>
                        <span v-text="tab.name"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- TAB CONTENT -->
        <div class="content-box box" v-if="company">

            <!-- OPTIONS -->
            <div v-if="tabs[0].active">
                <div class="box" style="padding: 2rem; border: 1px solid blue;">
                    <pre>{{ company.options }}</pre>
                </div>
            </div>

            <!-- CONTACTS -->
            <div v-if="tabs[1].active">
                contacts
            </div>

            <!-- FINANCIALS -->
            <div v-if="tabs[2].active">
                <div class="box" style="padding: 2rem; border: 1px solid blue;">{{ company.financials }}</div>
            </div>

            <!-- MILEAGE -->
            <div v-if="tabs[3].active">
                <div class="box" style="padding: 2rem; border: 1px solid blue;">{{ company.mileage }}</div>
            </div>

            <!-- INSURANCE -->
            <div v-if="tabs[4].active">
                <div class="box" style="padding: 2rem; border: 1px solid blue;">{{ company.insurance }}</div>
            </div>

            <!-- LICENSE -->
            <div v-if="tabs[5].active">
                <div class="box" style="padding: 2rem; border: 1px solid blue;">{{ company.license }}</div>
            </div>


        </div>
    </div>
</template>

<script>
import { CompanySelect } from "../partials";
import moment from "moment";
import { mapGetters } from "vuex";
import { EventBus } from "../../event-bus";

export default {
  props: ["user"],

  components: { moment, CompanySelect },

  data() {
    return {
      caller_id: "ShowCompaniesPage",
      company: null,
      tabs: [
        { name: "Options", icon: "gears", active: true, includeToggle: false },
        {
          name: "Contacts",
          icon: "users",
          active: false,
          includeToggle: false
        },
        {
          name: "Financials",
          icon: "money",
          active: false,
          includeToggle: true,
          showTab: !Common.isEmpty(this.company)
            ? this.company.financials.use_company_financials_module
            : false
        },
        {
          name: "Mileage",
          icon: "road",
          active: false,
          includeToggle: true,
          showTab: !Common.isEmpty(this.company)
            ? this.company.mileage.use_company_mileage_module
            : false
        },
        {
          name: "Insurance",
          icon: "life-bouy",
          active: false,
          includeToggle: true,
          showTab: !Common.isEmpty(this.company)
            ? this.company.insurance.use_company_insurance_module
            : false
        },
        {
          name: "License",
          icon: "id-card-o",
          active: false,
          includeToggle: true,
          showTab: !Common.isEmpty(this.company)
            ? this.company.license.use_company_license_module
            : false
        }
      ]
    };
  },

  created() {},

  mounted() {
    EventBus.$on("company-changed", () => {
      if (this.getSessionCompanyId > 0) {
        axios.get("/getCompany/" + this.getSessionCompanyId).then(response => {
          this.company = response.data.company;

          // alert the parent
          Common.fire("CompaniesView-company-loaded", this.getSessionCompanyId);
        });
      } else {
        this.company = null;

        // alert the parent
        Common.fire("CompaniesView-company-loaded", null);
      }
    });
  },

  computed: {
    ...mapGetters(["getSessionCompanyId"])
  },

  watch: {
    user: function(val) {
      //console.log('user');
      //console.log(val);
    },

    company: function(val) {
      //console.log('Company Watch');
      //console.log(val);

      if (!Common.isEmpty(val)) {
        this.tabs.map(function(tab) {
          switch (tab.name) {
            case "Financials":
              tab.showTab = val.options.use_company_financials_module;
              break;
            case "Mileage":
              tab.showTab = val.options.use_company_mileage_module;
              break;
            case "Insurance":
              tab.showTab = val.options.use_company_insurance_module;
              break;
            case "License":
              tab.showTab = val.options.use_company_license_module;
              break;
          }
        });
      }
    }
  },

  methods: {
    makeTabActive(name) {
      this.tabs.filter(tab => {
        tab.active = tab.name == name;
      });
    },

    // use this to set delete_me on company
    updateActiveStatus() {
      if (this.activeCheck) {
        this.company.deleted_at = null;
      } else {
        this.company.deleted_at = moment().format("YYYY-MM-DD HH:mm:ss");
      }
    },

    toggleTab(name) {
      this.tabs.map(function(tab) {
        if (tab.name === name) {
          tab.showTab = !tab.showTab;
        }
      });

      switch (name) {
        case "Financials":
          this.company.options.use_company_financials_module = !this.company
            .options.use_company_financials_module;
          break;
        case "Mileage":
          this.company.options.use_company_mileage_module = !this.company
            .options.use_company_mileage_module;
          break;
        case "Insurance":
          this.company.options.use_company_insurance_module = !this.company
            .options.use_company_insurance_module;
          break;
        case "License":
          this.company.options.use_company_license_module = !this.company
            .options.use_company_license_module;
          break;
      }
    },

    testShow(name) {
      if (Common.isEmpty(this.company)) {
        return name === "Settings";
      }
      switch (name) {
        case "Financials":
          return this.company.options.use_company_financials_module;
          break;
        case "Mileage":
          return this.company.options.use_company_mileage_module;
          break;
        case "Insurance":
          return this.company.options.use_company_insurance_module;
          break;
        case "License":
          return this.company.options.use_company_license_module;
          break;
        default:
          return true;
          break;
      }
    }
  }
};
</script>

<style lang="css">
#showCompaniesPage .form-group input {
  display: inline-block;
  width: auto;
}

#showCompaniesPage input[type="checkbox"] {
  width: 20px;
  height: 20px;
  left: -1rem;
  top: -0.3rem;
}

.vue-display {
  display: inline-block;
  margin-right: 2rem;
}

.vue-display input[type="text"] {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  float: left;
}

.vue-display.spacer input[type="text"] {
  border-bottom: 1px solid transparent;
}

.vue-display label {
  float: left;
  clear: left;
  font-style: italic;
  color: darkgreen;
  font-weight: normal;
  font-size: small;
}

#showCompaniesPage .traffic_light {
  width: 20px;
}
</style>