<template lang="html">
    <div id="showDivisionsPage">

        <div class="box">
            <div class="columns">
                <div class="column is-6"  v-if="division">
                    <div class="form-group">
                        <label for="divisionNameField">Name</label>
                        <input type="text" class="form-control"
                               ref="divisionNameField"
                               id="divisionNameField"
                               name="divisionName"
                               v-model="edited_division_name"
                               :disabled="!editMode">
                    </div>
                </div>
                <div class="column is-6" style="padding-top: 28px;" v-else>
                    Please select a company and division above.
                </div>
                <div class="column">
                    <div class="columns" style="padding-top: 28px;"><!--v-if="!editMode"-->

                        <div class="column text-center" v-if="!editMode && division">
                            <button class="btn is-danger" @click="inactivateDivision">Inactivate Division</button>
                        </div>

                        <div class="column text-center" v-if="!editMode && division">
                            <button id="editDivisionButton" class="btn is-warning" @click="editDivisionName">Edit Division Name
                            </button>
                        </div>

                        <div class="column text-center" v-if="editMode && division">
                            <button class="btn btn-primary" @click="saveDivisionName">Save Name Change</button>
                        </div>

                        <div class="column text-center" v-if="editMode && division">
                            <button class="btn" @click="discardNameChange">Discard Name Change</button>
                        </div>

                        <div class="column text-center" v-if="getSessionCompanyId > 0">
                            <button class="btn btn-secondary" @click="showAddModal = true">Create New Division</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="columns" v-else>
            <div class="column is-2">
                <button class="btn btn-secondary">Save</button>
            </div>
            <div class="column is-2">
                <button class="btn is-danger">Cancel</button>
            </div>
        </div>-->

        <div id="addDivisionModal" :class="{'modal': true, 'is-active':showAddModal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add New Division</p>
                    <button class="delete" @click="closeAddModal"></button>
                </header>
                <section class="modal-card-body">
                    <div v-if="addDivisionSuccess">
                        <p v-text="addDivisionSuccessMessage"></p>
                    </div>
                    <div v-else :class="{'form-group':true, 'has-error': divisionNamingError}">
                        <label>Division Name:</label>
                        <input type="text" class="form-control" v-model="newDivisionName">
                        <span class="help-block" v-if="divisionNamingError">You must name the division</span>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div v-if="addDivisionSuccess">
                        <button class="btn btn-secondary" @click="closeAddModal">
                            Close
                        </button>
                    </div>
                    <div v-else>
                        <a class="btn btn-primary" @click.prevent="saveNewDivision">Save changes</a>
                        <a class="btn" @click.prevent="closeAddModal">Cancel</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {},

        data() {
            return {
                caller_id: 'DivisionsView',
                division: null,
                edited_division_name: null,
                showAddModal: false,
                divisionNamingError: false,
                newDivisionName: '',
                addDivisionSuccess: false,
                addDivisionSuccessMessage: '',
                editMode: false,
                refresh_divisions: false
            };
        },

        created() {
        },

        mounted() {
         // console.log('divisions page has been mounted');

            EventBus.$on('company-changed', () => {
                this.division = null;
            });

            EventBus.$on('division-changed', () => {
                if (this.getSessionDivisionId > 0) {
                    axios.get('/getDivision/' + this.getSessionDivisionId).then(response => {
                        this.division = response.data.division;
                        this.edited_division_name = this.division.name;
                    });
                } else {
                    this.division = null;
                }
            });
        },

        computed: {
            ...mapGetters([
                'getUserType',
                'getSessionCompanyId',
                'getSessionDivisionId'
            ])
        },

        methods: {

            divisionsChanged() {
                if (!this.refresh_divisions) {
                    // refresh was caused externally to this component
                    Common.fire(this.caller_id + '-reset-divisions');
                    this.division = null;
                } else {
                    // refresh was prompted by this component after adding a new division
                    this.refresh_divisions = false;
                }
            },

            saveNewDivision() {
                if (Common.isEmpty(this.newDivisionName)) {
                    this.divisionNamingError = true;
                }
                else {
                    var newDivision = {
                        name: this.newDivisionName,
                        company_id: this.getSessionCompanyId
                    };

                    axios.post('/saveDivision', newDivision).then(response => {
                        this.addDivisionSuccessMessage = response.data.message;
                        this.addDivisionSuccess = true;

                        EventBus.$emit('reset-divisions', response.data.session_division_id);
                    });
                }
            },

            closeAddModal() {
                this.showAddModal = false;
                this.newDivisionName = '';
                this.divisionNamingError = false;
                this.addDivisionSuccess = false;
                this.addDivisionSuccessMessage = '';
            },

            assignDrivers() {
                Common.setView('divisions', 'assignDrivers');
            },


            editDivisionName() {
                this.editMode = true;

                // use timeout, because button click will take focus back too quickly
                var me = this;
                setTimeout(function () {
                    me.$refs.divisionNameField.focus();
                }, 200);
            },

            discardNameChange() {
                this.editMode = false;
                this.edited_division_name = this.division.name;
            },

            saveDivisionName() {
                this.division.name = this.edited_division_name;
                axios.post('/updateDivision/' + this.getSessionDivisionId + '/' + this.edited_division_name).then(response => {
                    this.refresh_divisions = true; // to keep session_division_id from being reset
                    EventBus.$emit('reset-divisions');
                });
                this.editMode = false;
                // TODO: some flash message
            },

            inactivateDivision() {
                // TODO: this needs more to it. Are there drivers assigned?
                axios.get('/inactivateDivision/' + this.getSessionDivisionId).then(response => {
                 // console.log(response.data.message);
                    EventBus.$emit('reset-divisions');
                });
            }
        },
    };
</script>

<style lang="css">

</style>