/**
Requires:
    An array of variableAdjustment objects

Optional:

Getters:

Setters:

Listeners:

Emitters:
    variable-adjustment-ids-changed passes an object of the variableAdjustmentIds to the parent component

Notes:

*/
<template lang="html">
    <div id="variableRelativeAdjustmentFactors">
        <div class="columns mb-4">
            <div class="col-md-6 mb-3">
                <div class="box">
                    <strong>Driving Conditions</strong>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.snow_tires.selected"
                               :disabled="read_only">
                        Snow Tires (suggested +20% to Maintenance)
                    </label>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.rough_road.selected"
                               :disabled="read_only">
                        Rough Road (suggested +30% to maintenance)
                    </label>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.cold_weather_repairs.selected"
                               :disabled="read_only">
                        Cold Weather (suggested +25% to maintenance)
                    </label>
                    <br>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <strong>Fuel Factors</strong>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.premium_fuel.selected"
                               :disabled="read_only">
                        Premium Fuel (suggested +15% to fuel price)
                    </label>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.cargo_weight.selected"
                               :disabled="read_only">
                        Cargo Weight (suggested +10% to fuel cost)
                    </label>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.cold_weather_fuel.selected"
                               :disabled="read_only">
                        Cold Weather (suggested +10% to fuel cost)
                    </label>
                    <br>
                    <label class="checkbox" :disabled="read_only">
                        <input type="checkbox"
                               v-model="variableAdjustments.remote_area.selected"
                               :disabled="read_only">
                        Remote Area (suggested +5% to fuel cost)
                    </label>
                    <br>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    props: ['variableAdjustmentsProp', 'read_only'],

    components: {},

    data() {
        return {
            variableAdjustments: {
                snow_tires: {selected: false, id: 1},
                rough_road: {selected: false, id: 2},
                cold_weather_repairs: {selected: false, id: 3},
                premium_fuel: {selected: false, id: 4},
                cold_weather_fuel: {selected: false, id: 5},
                cargo_weight: {selected: false, id: 6},
                remote_area: {selected: false, id: 7},
            },

            variableAdjustmentIds: [],
        }
    },

    watch: {
        /**
        * For each adjustment object in the variable adjustments prop, we set the local adjustment to selected
        * if the ids match.
        */
        'variableAdjustmentsProp': {
            handler: function (adjs) {
               // console.log(adjs);
                for( const i in adjs ) {
                    for ( const j in this.variableAdjustments) {
                        if (adjs[i].id == this.variableAdjustments[j].id) {
                            this.variableAdjustments[j].selected = true;
                        }
                    }
                }
                this.updateVariableAdjustmentIds();
            },
            deep: true,
            immediate: true,
        },

        /**
        * Whenever the local variableAdjustments object changes (ie. something is selected or unselected) we push all
        * selected ids into the variableAdjustmentIds array and pass it to the parent
        */
        'variableAdjustments': {
            handler: function() {
                this.updateVariableAdjustmentIds();
            },
            deep: true,
        }
    },

    methods: {
        updateVariableAdjustmentIds() {
            this.variableAdjustmentIds = [];
            for (const j in this.variableAdjustments) {
                if (this.variableAdjustments[j].selected == true) {
                    this.variableAdjustmentIds.push(this.variableAdjustments[j].id);
                }
            }
            Common.fire('variable-adjustment-ids-changed', this.variableAdjustmentIds);
        }
    }
}
</script>

<style lang="css">

</style>