/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
*/
<template lang="html">
    <div id="vehicleProfilesView">

        <!--
            title is a computed property
            On the same line we have the title, and the  top of the page cancel button
        -->
        <div class="row">
            <div class="col-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-6">
                <!--
                    Only display the button if we are in the midst of an action
                    We check this by seeing if there is a vehicle profile, and the mode is NOT show
                -->
                <button v-if="mode !== 'show' && vehicleProfile"
                        class="btn is-danger float-right"
                        @click="cancel">
                    Cancel
                </button>
            </div>
        </div>

        <!--If no profile is selected, and the mode IS NOT 'add', tell the user to select a profile-->
        <transition name="fade5s">
            <section v-if="getSessionVehicleProfileId < 1 && mode !== 'add'">
                <em>Please select a vehicle profile...</em>
            </section>
        </transition>

        <!--
            SUBPAGES
            These are the action pages that are rendered based on which action buttons in the super/administrator session are clicked
        -->
        <div v-if="loaded == true && getSessionCompanyId > 0 && vehicleProfile">

            <!-- CLONE IS A SPECIAL CASE OF ADD (FIELDS ARE PREPOPULATED) -->
            <add-edit-vehicle-profile-page v-if="mode === 'add' || mode === 'edit' || mode === 'clone' || mode === 'show'"
                                           :vehicleProfileProp="vehicleProfile"
                                           :read_only="mode === 'show'"
                                           :mode="mode"/>

            <reactivate-vehicle-profile-page
                    v-if="mode === 'restore' && getSessionCompanyId > 0 && vehicleProfile.deleted_at != null"
                    :vehicleProfile="vehicleProfile"/>

            <inactivate-vehicle-profile-page v-if="mode === 'delete' && getSessionCompanyId > 0"
                                             :vehicleProfile="vehicleProfile"/>

        </div>

        <!--
            This is the loading icon. We show it when loaded is false AND we HAVE a company id
            We do not want to show it when loaded is false but company id is -1
            at that point there can be no vehicle profile, so the page hasn't been "loaded" but it is also
            not in the process of loading the selected vehicle profile.
        -->
        <div v-show="loaded == false && getSessionCompanyId != -1" align="center">
            <loading-partial/>
        </div>


        <!-- CANCEL BUTTON BOTTOM OF PAGE -->
        <div v-if="mode !== 'show'" class="row">
            <div class="col-6 offset-6">
                <button class="btn is-danger float-right"
                        @click="switchSubpage('show')">
                    Cancel
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    import {VehicleProfile} from "../../models";
    import {
        AddEditVehicleProfilePage,
        InactivateVehicleProfilePage,
        ReactivateVehicleProfilePage,
    } from "./index"; // company
    import {CompanySelect, VehicleProfileSelect, LoadingPartial} from "../partials";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {
            CompanySelect, AddEditVehicleProfilePage,
            ReactivateVehicleProfilePage, InactivateVehicleProfilePage, VehicleProfileSelect, LoadingPartial
        },

        data() {
            return {
                mode: 'show',
                loaded: null,
                vehicleProfile: new VehicleProfile,
                previous_vehicle_profile_id: null,
            };
        },

        created() {

        },

        mounted() {
            /**
             * These lines are to handle a page refresh
             * First get the mode.
             * Then we get the value from the store when the component is mounted
             * if it is greater than 0, grab the profile
             */
            this.mode = this.getSubView ? this.getSubView : 'show';
            if (this.getSessionVehicleProfileId > 0) {
                this.getVehicleProfile();
            }

            /**
             * Register the event listener which will respond to actions taken in the SuperSession component
             */
            EventBus.$on('company-vehicle-profile-action', this.switchSubpage);

        },

        beforeDestroy() {
            /**
             * The event which listens to the super session MUST be turned off
             * Otherwise when the page is switched it will keep doing some strange and crazy bidnezz
             */
            EventBus.$off('company-vehicle-profile-action', this.switchSubpage);

            /**
             * Set the session vehicle profile id to -1
             * We gotta clean up our garbage!
             */
            Common.storeCommit('updateSessionVehicleProfileId', -1);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionVehicleProfileId',
                'getSubView',
                'getView'
            ]),

            /**
             * Simple computed property for the page (subview) title
             */
            title: function() {
                let title = 'Vehicle Profile';
                if ( this.mode !== 'show' && this.mode != null) {
                    return Common.capitalizeFirstLetter(this.mode) + ' ' + title;
                } else {
                    return title;
                }
            }
        },

        watch: {

            getSessionVehicleProfileId: function (newVal, oldVal) {
                console.log('watch vp id in view', this.getSessionVehicleProfileId);
                this.previous_vehicle_profile_id = oldVal;
                this.getVehicleProfile();
            },

            mode: function (mode) {
                // console.log(mode); // davery
                if (mode === 'add') {
                    this.vehicleProfile = new VehicleProfile;
                    this.loaded = true;
                } else if (mode === 'show' && this.getSessionVehicleProfileId == -1) {
                    this.vehicleProfile = null;
                }
            }
        },

        methods: {
            /**
             * Set the new subpage value in session (in case of user refresh)
             * Set the mode to subpage
             */
            switchSubpage(subpage) {
                Common.setView('vehicleProfiles', subpage);
                this.mode = subpage;
            },

            getVehicleProfile() {

                if (this.getSessionVehicleProfileId > 0) {

                    this.loaded = false;

                    axios.get('/getVehicleProfile/' + this.getSessionVehicleProfileId + '/' + true + '/' + true).then(response => {

                        /**
                         * This is to handle some bad data / weird loading times.
                         * DO NOT change this to strict comparison
                         * It MUST be loose, otherwise it will always reset the session due to a type (str, int) comparison
                         */
                        if (response.data.vehicleProfile.company_id != this.getSessionCompanyId) {
                            this.vehicleProfile = null;
                            Common.setSession('session_vehicle_profile_id', -1);
                        }

                        this.vehicleProfile = response.data.vehicleProfile;

                        /**
                         * This event is imperative for SessionCompanyVehicleProfileActions.vue to function
                         * correctly. It alerts that component as to the status of the new vehicle profile
                         */
                        let active_status = this.vehicleProfile.deleted_at == null ? true : false;
                        EventBus.$emit('vehicle-profile-active-status', {
                            active: active_status,
                            driver_count: this.vehicleProfile.driver_count
                        });

                        // render all the page content
                        this.loaded = true;
                    });
                } else {
                    console.log('in the else');
                    this.loaded = null;
                    this.vehicleProfile = null;
                }
            },

            cancel() {
                /**
                 * DO NOT CHANGE THIS LOGIC!!!
                 *
                 * IF THE SESSION VEHICLE PROFILE ID IS -1, THEN WE ARE IN ADD MODE.
                 * WE CANNOT BE HERE IN SHOW MODE, BECAUSE NO CANCEL BUTTON IS AVAILABLE.
                 *
                 * IF WE ARE IN FACT IN ADD MODE, WE SET THE VEHICLE PROFILE ID BACK TO THE OLD VEHICLE PROFILE ID
                 * THIS TRIGGERS THE WATCHER TO GET THE VEHICLE PROFILE.
                 * WE SET THE MODE BACK TO SHOW.
                 * THE GETTER WILL ENSURE IT MATCHES THE CORRECT COMPANY.
                 *
                 */
                if ( this.getSessionVehicleProfileId == -1) {
                    // ADD MODE
                    Common.storeCommit('updateSessionVehicleProfileId', this.previous_vehicle_profile_id);

                } else {
                    /**
                     * EDIT MODE
                     * FORCE THE SWITCH
                     */
                    this.getVehicleProfile();
                }
                this.switchSubpage('show');
            },

        }
    };

</script>


<style lang="scss">
    #vehicleProfilesView label.status-radio, #vehicleProfilesView label.fixed-radio, #vehicleProfilesView label.variable-radio {
        margin-left: 1.2rem;
        margin-right: 2rem;
    }

    #vehicleProfilesView {
        .fusion-accordion {
            margin-bottom: 30px;
        }

        .card {
            overflow: hidden;
            border: 1px solid #052460;
            box-shadow: none;
        }

        .card-header {
            background: #052460;
            color: #fff;
            box-shadow: none;

            &:hover {
                cursor: pointer;
            }
        }

        .card-header[aria-expanded] {
            i {
                transition: all .3s;
            }
        }

        .card-header[aria-expanded=true] {
            i {
                transform: rotate(180deg);
            }
        }

        .card-body {
            background: #dadee7;
            /*background: rgba(5, 36, 96, .1);*/
        }
    }
</style>