/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="fixedVariable">
        <h2>Fixed & Variable</h2>
        <br>

        <div v-if="loading">
            <loading-partial/>
        </div>

        <div v-if="passes_required_selections && !loading">
            <div class="alert alert-warning" role="alert">
                Please select a company.
            </div>
        </div>

        <div v-if="rows != null">

            <p>Only drivers with a Green traffic light before <strong>{{formatted_lock_all}}</strong> appear in the
                Fixed & Variable Reimbursement Report.</p><br>

            Found {{records_found}} drivers
            <div class="table-responsive table-responsive-bordered mb-4">

                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class="primary-table-header">
                            <th class="p-4" :colspan="reimbursement_colspan">
                                <div>Driver</div>
                            </th>
                            <th class="p-4" colspan="6">
                                <div align="center">{{year_month_name}} Reimbursement</div>
                            </th>
                        </tr>
                        <tr class="secondary-table-header">
                            <th @click="Common.sortByWord('last_name', rows)" class="text-left">Last</th>
                            <th @click="Common.sortByWord('first_name', rows)" class="text-left">First</th>
                            <th @click="Common.sortByWord('employee_number', rows)" class="text-left">Emp. #</th>
                            <th @click="Common.sortByWord('division', rows)" class="text-left ">{{Common.getReportLabel('Division')}}</th>
                            <th @click="Common.sortByWord('cost_center', rows)" class="text-left ">{{Common.getReportLabel('Business Unit')}}</th>
                            <th @click="Common.sortByWord('vehicle_profile', rows)" class="text-left">Vehicle Profile</th>
                            <th @click="Common.sortByNumber('fixed_reimbursement', rows)" class="text-right ">Fixed</th>
                            <th v-if="getSessionCompanyId == 54" @click="Common.sortByNumber('fixed_status', rows)" class="text-left " >Status</th>
                            <th @click="Common.sortByNumber('business_mileage', rows)" class="text-right ">{{month_name}} Mileage</th>
                            <th @click="Common.sortByNumber('variable_reimbursement', rows)" class="text-right">{{ cents_per_unit_computed }}</th>
                            <th @click="Common.sortByNumber('variable', rows)" class="text-right ">Variable</th>
                            <th @click="Common.sortByNumber('total', rows)" class="text-right">Total</th>
                        </tr>
                    </thead>

                    <tbody class = "tbody-style" >
                    <tr v-for="row in rows">
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.first_name }}</td>
                        <td>{{ row.employee_number }}</td>
                        <td>{{ row.division }}</td>
                        <td>{{ row.cost_center }}</td>
                        <td class="text-left">{{ row.vehicle_profile }}</td>
                        <td class="text-right">{{ row.fixed_reimbursement | formatPrice }}</td>
                        <td v-if="getSessionCompanyId == 54 ">
                            <div v-if="row.fixed_status == 2" class='driver-status-tile-light --green'></div>
                            <div v-else class='driver-status-tile-light --blue'></div>
                        </td>
                        <td class="text-right">{{ row.business_mileage | formatMileage }}</td>
                        <td class="text-right">{{ row.variable_reimbursement | formatPrice }}</td>
                        <td class="text-right">{{ row.variable | formatPrice }}</td>
                        <td class="text-right">{{ row.total | formatPrice }}</td>
                    </tr>
                    <tr v-if="this.totals != null" class="totals-row">
                        <td align="right" class="font-weight-bold">TOTALS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold text-right">{{ totals.fixed_total | formatPrice }}</td>
                        <td v-if="getSessionCompanyId == 54"></td>
                        <td class="font-weight-bold text-right">{{ totals.mileage_total | formatMileage }}</td>
                        <td></td>
                        <td class="font-weight-bold text-right">{{ totals.variable_total | formatPrice }}</td>
                        <td class="font-weight-bold text-right">{{ totals.total_total | formatPrice }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <report-actions
                :caller_id="caller_id"
                :show_excel_button="rows && !loading && getSessionCompanyId > 0"
                :show_print_button="rows && !loading && getSessionCompanyId > 0"
                :action_in_progress="action_in_progress"/>

        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {ReportActions} from '../reports'
    import {Months} from "../../models";
    import {
        ErrorsModal,
        LoadingPartial
    } from "../partials";

    export default {
        props: [],

        components: {ErrorsModal, LoadingPartial, ReportActions},

        data() {
            return {
                caller_id: "ReimbursementList",
                from_year: -1,    // calculate it
                to_year: -1,
                from_month: 1,
                text: null,
                changed: false,
                rows: null,
                totals: null,
                amounts: null,
                amount_summary: null,
                records_found: 0,
                messages: null,
                reimbursement_colspan: 5,
                formatted_lock_all: null,
                loading: false,

                months: Months,

                action_in_progress: false,
            };
        },

        created() {

        },

        mounted() {
            // loading the parameters used for the report
            EventBus.$on('loading-report-parameters', this.loadingReport);
            // once all parameters are set, get the data
            EventBus.$on('report-parameters-set', this.getReimbursementData);
            // listen for an action (Ex. generate excel) from ReportActions.vue
            EventBus.$on(this.caller_id + '-action', this.performAction);
        },

        beforeDestroy() {
            /**
             * Turn off event listeners
             */
            EventBus.$off('loading-report-parameters', this.loadingReport);
            EventBus.$off('report-parameters-set', this.getReimbursementData);
            EventBus.$off(this.caller_id + '-action', this.performAction);
        },

        filters: {
            formatPrice(value) {
                let val = (value / 1).toFixed(2);
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            formatMileage(value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getSessionDivisionId',
                'getSessionYear',
                'getSessionMonth',
                'getSessionCountryId',
                'getUserId',
                'getIsSuper',
                'getIsAdministrator',
                'getIsManager',
                'getIsDriver',
                'getActiveAdministratorId',
                'getHighestAuthenticatedUserType'
            ]),

            passes_required_selections() {
                return this.getSessionCompanyId >= 0 ? false : true;
            },

            year_month_name: function () {
                return this.getSessionMonth > 0 && this.getSessionYear > 0 ?
                    this.getSessionYear + ' ' + this.months[this.getSessionMonth - 1].name : null;
            },
            month_name: function () {
                return this.getSessionMonth > 0 ? this.months[this.getSessionMonth - 1].name : null;
            },

            cents_per_unit_computed: function() {
                return '¢/' + (this.getSessionCountryId == 1 ? 'mile' : 'km' )
            }
        },

        watch: {},

        methods: {

            // getReimbursementData(parameters) {
            getReimbursementData() {

                this.resetReport();
                this.loading = true;

                let user_type = this.getHighestAuthenticatedUserType;

                let param1 = {
                    'user_type': user_type,
                    'user_id': this.getUserId,
                    'administrator_id': this.getActiveAdministratorId,
                    'company_id': this.getSessionCompanyId,
                    'division_id': this.getSessionDivisionId,
                    'year': this.getSessionYear,
                    'month': this.getSessionMonth
                };
                let mergedParameters = _.merge({}, param1);

                console.log('merged params', mergedParameters);
                axios.post('/getReimbursementData', mergedParameters).then(response => {
                    this.loading = false;

                    //this.text += ' GOT IT?';
                    this.rows = response.data.rows;
                    this.totals = response.data.totals;
                    this.records_found = response.data.records_found;
                    this.formatted_lock_all = response.data.formatted_lock_all;
                    if (this.getSessionCompanyId == 54) {
                        this.reimbursement_colspan = 7;
                    } else {
                        this.reimbursement_colspan = 6;
                    }
                }).catch( errors => {
                    this.loading = false;
                });
            },

            selectRow() {

            },

            loadingReport(bool) {
                this.loading = bool;
                this.resetReport();
            },

            resetReport() {
                this.rows = null;
                this.totals = null;
                this.amounts = null;
                this.records_found = 0;
            },


            /** Report Actions -------------------------------------------------------------------------------------- */

            /**
             * This method is triggered by the event listener
             *      EventBus.$on(this.caller_id + '-action', this.performAction);
             * The event is fired from ReportActions.vue
             *
             * @param action
             */
            performAction(action) {
                let func = null;
                switch(action) {
                    case 'generate-excel':
                        func = this.generateExcel;
                        break;
                }

                this.action_in_progress = true;
                func().then( (result) => {
                    this.action_in_progress = false;
                    EventBus.$emit(this.caller_id + '-action-complete', true);
                    console.log(func + ' completed with status ' + result);
                }).catch( (e) => {
                    this.action_in_progress = false;
                    EventBus.$emit(this.caller_id + '-action-complete', false);
                    console.log(e.error);
                    EventBus.$emit(this.caller_id + '-error', e);
                });
            },

            /**
             * Generates an excel file and downloads it
             */
            generateExcel() {
                return new Promise((resolve, reject) => {
                    axios({
                        method: 'post',
                        url: '/generateExcel',
                        data: this.formatDataForExcel(),
                        responseType: 'blob'
                    }).then(response => {
                        Common.downloadFileResponse(response.data, 'fixed_and_variable_reimbursement.xls', 'application/vnd.ms-excel');
                        resolve(response.status);
                    }).catch(error => {
                        reject({
                            error: error,
                            message: 'Error generating excel file. Please contact CarData IT support.'
                        });
                    });
                });
            },

            formatDataForExcel() {
                let data = {};
                // category headings
                data.categoryHeadings = [
                    {title: 'Driver', column_span: 6},
                    {title: 'Reimbursement', column_span: this.getSessionCompanyId == 54 ? 6 : 5}
                ];

                // column headings
                data.columnHeadings = [
                    {title: 'Last Name', column_alignment: 'left', key_on_row: 'last_name'},
                    {title: 'First Name', column_alignment: 'left', key_on_row: 'first_name'},
                    {title: 'Emp. #', column_alignment: 'left', key_on_row: 'employee_number'},
                    {title: Common.getReportLabel('Division'), column_alignment: 'left', key_on_row: 'division'},
                    {title: Common.getReportLabel('Business Unit'), column_alignment: 'left', key_on_row: 'cost_center'},
                    {title: 'Vehicle Profile', column_alignment: 'left', key_on_row: 'vehicle_profile'},
                    {title: 'Fixed', column_alignment: 'right', key_on_row: 'fixed_reimbursement', precision: 2, comma_separated: true},
                    ];

                if (this.getSessionCompanyId == 54) {
                    data.columnHeadings.push({
                        title: 'Status', column_alignment: 'left', key_on_row: 'color_of_status'}
                    );

                    this.rows.forEach( r => r['color_of_status'] = r.fixed_status == 2 ? 'Green' : 'Blue');
                }

                data.columnHeadings.push(
                    {title: this.month_name + ' Mileage', column_alignment: 'right', key_on_row: 'business_mileage', precision: 0, comma_separated: true},
                    {title: this.cents_per_unit_computed, column_alignment: 'right', key_on_row: 'variable_reimbursement'},
                    {title: 'Variable', column_alignment: 'right', key_on_row: 'variable', precision: 2, comma_separated: true},
                    {title: 'Total', column_alignment: 'right', key_on_row: 'total', precision: 2, comma_separated: true}
                );

                // the data rows
                data.rows = this.rows;

                data.totals = [];
                data.totals.push(
                    {key_on_row: 'fixed_reimbursement', amount: this.totals.fixed_total},
                    {key_on_row: 'business_mileage', amount: this.totals.mileage_total},
                    {key_on_row: 'variable', amount: this.totals.variable_total},
                    {key_on_row: 'total', amount: this.totals.total_total}
                );

                // the report description
                data.reportDescription = {
                    'Report Name': 'Fixed and Variable Reimbursement',
                    'Creation Date': null,
                    'Company': this.getSessionCompanyName,
                    'Division': Common.isEmpty(this.getSessionDivisionName) ? 'All' : this.getSessionDivisionName,
                    'Year': this.getSessionYear,
                    'Month': Common.getMonthName(this.getSessionMonth)
                };

                return data;
            }



        }
    };
</script>

<style lang="css">

</style>

