/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="generateReimbursement">
        <!-- <h2>Generate Reimbursement</h2> -->
        <h2>Testing scheduled task: migration to MiRoute</h2>

        <div v-if="waiting"><loading-partial/></div>

        <!---
        <button v-if="getSessionYear > 0 && getSessionMonth > 0" class="btn btn-secondary" @click="generateReimbursement">Generate Reimbursement</button>
        --->

        <button class="btn btn-secondary" @click="testRun">Run this task</button>

        <div v-if="failure" class="alert alert-warning">
            {{failure}}
        </div>
            <br>
        <div v-if="show_table">
            <table class="table is-striped is-narrow">
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Fixed</th>
                    <th>Adjustment</th>
                    <th>Fix Paid</th>
                    <th>C/M</th>
                    <th>In Grace</th>
                    <th>Taxable</th>
                </tr>
                <tr v-for="row in results">
                    <td>{{row.last_name}}</td>
                    <td>{{row.first_name}}</td>
                    <td>{{row.fixed}}</td>
                    <td>{{row.adjustment.toFixed(2)}}</td>
                    <td>{{row.fixed_paid.toFixed(2)}}</td>
                    <td>{{row.cents_per_mile}}</td>
                    <td>{{row.within_grace_period}}</td>
                    <td>{{row.taxable_amount}}</td>
                </tr>
            </table>
        </div>

        <div v-if="results">
            <br>Inserted: {{inserted}} Updated: {{updated}}
        </div>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import moment from 'moment';
    import {LoadingPartial} from "../partials"



    export default {

        props: [],

        components: {LoadingPartial},

        data() {
            return {
                results: null,
                show_table: false,
                failure: null,
                run_it: true,
                inserted: 0,
                updated: 0,
                waiting: false,
            }
        },
        created() {
        },

        mounted() {
            EventBus.$on('company-changed', () => {
                this.results = false
            });
            EventBus.$on('driver-changed', () => {
                this.results = false
            });

        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getSessionDivisionId',
                'getSessionDriverId',
                'getSessionYear',
                'getSessionMonth',
            ]),
        },


        methods: {

            testRun(){
                var script = 'miRouteTransitionDate'
                var task_id = 130
                axios.get('testRun').then(response => {
                    console.log(response.data);
                });
            },

            generateReimbursement() {
                if( this.getSessionYear > 0 && this.getSessionMonth > 0 ) {
                    this.results = false
                    this.waiting = true
                    console.log('Run reimbursement for ' + this.getSessionCompanyName +
                        ' [' + this.getSessionCompanyId + ']  UserId = ' + this.getSessionDriverId + ' '
                        + ' Division ID = ' + this.getSessionDivisionId  + ' '
                        + ' ' + this.getSessionYear + '/' + this.getSessionMonth );


                    axios.get('/getGenerateReimbursement/' + this.getSessionYear + '/' + this.getSessionMonth + '/' + this.getSessionCompanyId + '/' + this.getSessionDriverId
                    ).then(response => {
                        this.waiting = false
                        console.log(response.data.count);
                        this.results = true;
                        this.inserted = response.data.count.inserted
                        this.updated = response.data.count.updated
                        console.log("==================== DONE ==========================")

                    });

                 }
            }
        },
    }

</script>

<style lang="css">

</style>



