/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

Getting the payment data is triggered by watchers on session values.
This is cleaner than directly using the event bus as we can
 1 immediately compare the old value to the new val and prevent researching
 2 Not have to turn off the event listeners, or declare an extra NAMED function to do so

*/
<template lang="html">
    <div id="masterPaymentNotice">
        <h2>Master Payment Notice</h2>
        <br>

        <div v-if="!passes_required_selections">
            <div class="alert alert-warning" role="alert">
                <ol>
                    <li v-if="getSessionCompanyId < 1">Please select a company</li>
                    <li v-if="getSessionYear < 1">Please select a year</li>
                    <li v-if="getSessionMonth < 1">Please select a month</li>
                </ol>
            </div>
        </div>

        <!--Section Approval Information-->
        <!--<section id="approvalSection" v-if="approvalRecord && !waiting">-->
        <!--HIDE THIS UNTIL FUSION2.0-->
        <section id="approvalSection" v-if="false">
            <p v-show="approversWhoHaventApproved && approversWhoHaventApproved.length < 1">
                <strong><span class="has-error">Payment was approved by all Administrators and Managers</span></strong>
            </p>


            <strong v-if="approversWhoHaventApproved && approversWhoHaventApproved.length > 0">
                The following approvers did not approve this payment
            </strong>
            <section id="approvalTable">
                <table class="table-sm" v-if="approversWhoHaventApproved && approversWhoHaventApproved.length > 0">
                    <tbody>
                    <tr v-for="a in approversWhoHaventApproved">
                        <td>
                            <strong>
                                <span class="has-error">{{ a.role }}</span>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <span class="has-error">{{ a.name }}</span>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <span class="has-error">{{ a.username }}</span>
                            </strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>


        </section>

        <!--Processing history-->
        <section v-if="approvalRecord && !waiting">
            <p v-show="approvalRecord.approval_date">
                <strong>Payment was processed on {{ approvalRecord.approval_date | formatPrettyDate }}</strong>
            </p>
            <p v-show="!approvalRecord.approval_date">
                <span class="has-error">
                    <strong>
                        This payment has not been processed yet
                    </strong>
                </span>
            </p>

        </section>

        <!--<button class="btn btn-secondary" @click="getMasterPayments">Generate Report</button>-->

        <div v-if="getSessionCompanyId > 0 && waiting"><loading-partial/></div>

        <div v-if="getSessionCompanyId > 0 && records_found > 0">
            Found {{records_found}} drivers
        </div>
        <div class="alert alert-warning" v-if=" rows != null && records_found == 0 ">
            No drivers found
        </div>
        <div v-if="rows != null && records_found > 0">
            <div class="table-responsive table-responsive-bordered">

                <table class="table table-striped table-bordered table-hover table-sm mb-0" style="table-layout: fixed;">
                    <thead>
                    <tr class = "primary-table-header">
                        <th class="p-4" :colspan="tableHeaderColumnSpans.driver" >
                            <div>Driver</div>
                        </th>
                        <th class="p-4" :colspan="tableHeaderColumnSpans.reimbursement" >
                            <div align="center">Reimbursement</div>
                        </th>
                        <th class="p-4" :colspan="tableHeaderColumnSpans.dates">
                            <div align="center">Driver Dates</div>
                        </th>
                        <th class="p-4" :colspan="tableHeaderColumnSpans.tax" v-if="Object.keys(columnTitles).includes('non_taxable_limit')">
                            <div align="center">Tax</div>
                        </th>
                    </tr>
                    <tr class = "secondary-table-header">
                        <th v-for="(title, key) in columnTitles"
                            class="text-center"
                            @click="sortTable(key)">
                            {{ title }}

                            <i v-if="sorts && sorts[key] != null"
                               :class="{'fas fa-arrow-up': sorts[key] === false, 'fas fa-arrow-down': sorts[key] === true}">
                            </i>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in rows">
                        <td v-for="(title, key) in columnTitles"
                            :class="getColumnClass(key)">
                            <a href="#"
                               v-if="isLinkableColumn(key)"
                               @click.prevent="linkFromTable(row, key)"
                               :title="key === 'total_reimbursement' ? 'Link to the monthly reimbursement page' : 'Link to the monthly mileage summary page'">
                                {{ row[key] | prettyFilter}}
                            </a>
                            <span v-else>
                                {{ row[key] | prettyFilter}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-left" style="border: 0;">TOTALS</td>
                        <td v-for="(title, key, index) in columnTitles" style="border: 0;"
                            v-if="index > 0"
                            class="font-weight-bold text-right">
                            {{ totals[key] | prettyFilter}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div v-if="records_found > 0" class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
                <div class="col-12">
                    The payment will be processed 3 business days following the payment to CarData Consultants.
                </div>
            </div>


            <div v-if="amounts && amounts.length > 0 " class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr class="font-weight-bold">
                        <th>Item</th>
                        <th>Details</th>
                        <th>Total</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="a in amounts">
                        <td>{{a.item}}</td>
                        <td>{{a.details}}</td>
                        <td>{{a.amount | formatPrice}}</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>{{amount_summary.item}}</td>
                        <td>{{amount_summary.details}}</td>
                        <td>{{amount_summary.amount | formatPrice }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="getIsSuper && records_found > 0 && messages.bank_info != null">
                <span class='font-weight-bold'>Processing Bank:</span> {{messages.bank_info}}<br/>
            </div>

        </div>

        <!--Generate ACH, EFT and Excel-->
        <section>
            <div class="row">
                <div class="col-8">
                    <ach-eft-generation-partial v-if="show_generate_file_section"/>
                </div>
                <div class="col-4">
                    <loading-partial v-show="generating_excel"/>
                    <button class="btn btn-primary float-right"
                            @click="generateExcel"
                            v-if="!waiting"
                            :disabled="waiting || generating_excel">
                        Generate Excel
                    </button>
                </div>

            </div>
        </section>


    </div>
</template>

<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {Months} from "../../models";
    import {AchEftGenerationPartial, LoadingPartial} from "../partials"

    export default {
        props: [],

        components: {AchEftGenerationPartial, LoadingPartial},

        data() {
            return {
                caller_id: "MasterPaymentNotice",
                from_year: 2007,    // calculate it
                from_month: 1,
                text: null,
                changed: false,
                columnTitles: {},
                rows: null,
                totals: null,
                amounts: null,
                amount_summary: null,
                records_found: 0,
                messages: null,
                waiting: null,
                approvalRecord: null,
                approversWhoHaventApproved: null,
                months: Months,
                generating_excel: false,
                tableHeaderColumnSpans: {
                    driver: 0,
                    reimbursement: 0,
                    dates: 0,
                    tax: 0
                },

                sorts: null,
                sorting: false,
            };
        },

        created() {

        },

        mounted() {
            this.getMasterPayments();


            /**
             * Event listens to the one fired from AchEftGenerationPartial
             * It will trigger file generation
             */
            EventBus.$on('generate-payment-file', this.generateAchEft);
        },

        beforeDestroy() {
            /**
             * Turn off old events
             *
             * TODO make the other events use named functions and turn em off
             */
            EventBus.$off('generate-payment-file', this.generateAchEft);
        },

        filters: {

            prettyFilter(val) {
                if (val == 'N/A' || val == 'n/a') {
                    return '';
                }

                if (typeof(val) == 'number') {
                    let x = (val/1).toFixed(2)
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                } else {
                    return val;
                }
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2)
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            formatMileage(value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

            formatPrettyDate(value) {
                return moment(value).format('dddd MMMM Do, YYYY')
            },

            formatNonApproverListItem(a) {
                return a.role + ' ' + a.name + ' - ' + a.username + ' did not approve this payment';
            }
        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionManagerId',
                'getSessionCompanyName',
                'getSessionDivisionId',
                'getSessionYear',
                'getSessionMonth',
                'getUserId',
                'getIsSuper',
                'getIsAdministrator',
                'getIsManager',
                'getIsDriver',
                'getActiveAdministratorId',
                'getSessionCountryId',
                'getView'

            ]),
            month_name: function(){
                return this.getSessionMonth > 0 ? this.months[this.getSessionMonth-1].name : null;
            },

            /**
             * Minimum requirements to search.
             * If this is not passed, a warning message is shown
             */
            passes_required_selections() {
                return this.getSessionCompanyId > 0
                    && this.getSessionYear > 0
                    && this.getSessionMonth > 0
            },

            /**
             * Whether or not to show the generate ACH and EFT section
             * @returns {boolean}
             */
            show_generate_file_section: function() {
                /**
                 * If we haven't got data from the server, definitely do not show it
                 * or if we have an approval record, but the file has already been generated successfully we hide
                 * the section
                 */
                if (!this.approvalRecord || this.approvalRecord.approval_date) {
                    return false;
                }

                if (!this.amounts || this.amounts.length < 1 ) {
                    return false;
                }

                return true;
            },


        },

        watch: {

            /**
             * The following watchers will grab data
             * and generate the report
             */
            getSessionCompanyId: {
                handler: function(new_val, old_val) {
                    if (new_val != old_val && new_val != -1) {
                        if( this.rows ) this.rows = null;
                        this.getMasterPayments();
                    }
                },
                immediate: true,
            },
            getSessionDivisionId: {
                handler: function(new_val, old_val) {
                    if (new_val != old_val && new_val != -1) {
                        if( this.rows ) this.rows = null;
                        this.getMasterPayments();
                    }
                },
                immediate: true,
            },
            getSessionYear: {
                handler: function(new_val, old_val) {
                    if (new_val != old_val && new_val != -1 && !Common.isEmpty(this.getSessionMonth)) {
                        if( this.rows ) this.rows = null;
                        this.getMasterPayments();
                    }
                },
                immediate: true,
            },
            getSessionMonth: {
                handler: function(new_val, old_val) {
                    if (new_val != old_val && new_val != -1 && !Common.isEmpty(this.getSessionYear)) {
                        if( this.rows ) this.rows = null;
                        this.getMasterPayments();
                    }
                },
                immediate: true,
            }
        },

        methods: {
            /**
             * Invoked to get all the data!!!
             */
            getMasterPayments(){
                this.waiting = true
                this.columnTitles = {};
                console.log("Calling getMasterPayments... ")
                // this.text = "Get data for C=" + this.getSessionCompanyId + " DIV="  + this.getSessionDivisionId + " Y=" + this.getSessionYear + ' M=' + this.getSessionMonth;
                if( this.getSessionCompanyId > 0 ) {
                    //this.text += 'Calling ....';
                    this.rows = null
                    this.totals = null
                    this.amounts = null
                    this.records_found = 0
                    var user_type = null

                    if( this.getIsSuper ) user_type = 'super'
                    else if( this.getIsAdministrator ) user_type = 'administrator'
                    else if( this.getIsManager ) user_type = 'manager'
                    else if( this.getIsDriver) user_type = 'driver'

                    axios.post('/getMasterPaymentData', {
                        'company_id': this.getSessionCompanyId,
                        'division_id': this.getSessionDivisionId,
                        'year': this.getSessionYear,
                        'month': this.getSessionMonth,
                        'user_type': user_type,
                        'user_id': this.getUserId,
                        'administrator_id': this.getActiveAdministratorId,
                        'manager_id': this.getSessionManagerId,
                    }
                    ).then(response => {
                        // console.log(response.data);
                        this.waiting = false
                        // this.columnTitles = _.filter(response.data.columnTitles, (t) => { return !_.isEmpty(t)});
                        for(let i in response.data.columnTitles) {
                            if (response.data.columnTitles[i]) this.columnTitles[i] = response.data.columnTitles[i];
                        }

                        this.getColumnSpans();

                        this.rows = response.data.rows
                        this.totals = response.data.totals
                        this.amounts = response.data.amounts
                        this.amount_summary = response.data.amount_summary
                        this.records_found = response.data.records_found
                        this.messages = response.data.messages
                        this.approvalRecord = response.data.approvalRecord
                        this.approversWhoHaventApproved = response.data.approversWhoHaventApproved

                        /**
                         * Create the default sorting object
                         * note that true is sorted descending, false is ascending, null is none
                         */
                        this.sorts = {}
                        for (let key in this.columnTitles) {
                            this.sorts[key] = key == 'last_name' ? true : null;
                        }
                    });
                } else {
                    console.log('ERRORS');
                    console.log(this.amount_summary);
                    //this.text += 'No company yet';
                }
            },

            /**
             * Will determine whether to align a column left or right
             */
            getColumnClass(key) {
                let column_class = '';
                switch(key) {
                    case 'employee_number':
                    case 'cost-center':
                    case 'fixed_reimbursement':
                    case 'business_mileage':
                    case 'variable_reimbursement':
                    case 'total_reimbursement':
                    case 'start_date':
                    case 'stop_date':
                    case 'non_taxable_limit':
                    case 'taxable_reimbursement':
                    case 'direct_pay_driver_fee':
                    case 'reimbursement_with_per_driver_fee':
                        column_class = 'text-right';
                        break;
                    default:
                        column_class = 'text-left';
                        break;
                }
                return column_class;
            },

            /**
             * Will determine how far each header must stretch!
             * Not we will send this to the backend when generating excel
             */
            getColumnSpans() {
                let keys = Object.keys(this.columnTitles);
                let index_of_fixed = keys.indexOf('fixed_reimbursement');

                this.tableHeaderColumnSpans.driver = index_of_fixed;

                let index_of_start_date = keys.indexOf('start_date');
                this.tableHeaderColumnSpans.reimbursement = index_of_start_date - index_of_fixed;

                this.tableHeaderColumnSpans.dates = keys.includes('non_taxable_limit') ? 2 : keys.length - index_of_start_date;

                this.tableHeaderColumnSpans.tax = keys.includes('non_taxable_limit') ? 2 : 0;
            },

            /**
             * This function is invoked by an event sent from AchEftGenerationPartial.vue
             *
             * It will format a request payload, then send it to the server.
             *
             * Once a response has been received it will reenable the generate button by firing
             * an event to AchEftGenerationPartial.vue
             *
             * If the file was generated successfully, a timer is set and the tmp file is removed after 10 seconds.
             * While the timer is running the monthly approval record is updated to show that this file
             * has been generated and stop the generate ach/eft box from appearing anymore.
             *
             * @param paymentProperties
             */
            generateAchEft(paymentProperties) {
                let data = this.generateAchEftPayload(paymentProperties);

                console.log('Calling generateAch in MasterPaymentNotice');

                axios({
                    method: 'post',
                    url: '/generateAchEftFromMasterPaymentNotice',
                    data: data,
                    responseType: 'blob'
                }).then( response => {
                    let blob = new Blob([response.data], {type: 'text'});

                    if (window.navigator && window.navigator.msSaveOrOpenBlob) { // for IE
                        window.navigator.msSaveOrOpenBlob(blob, this.getSessionCountryId == 1 ? 'Ach.txt' : 'Eft.txt');
                    } else {
                        let downloadUrl = URL.createObjectURL(blob);
                        let a = document.createElement("a");
                        a.href = downloadUrl;
                        a.download = this.getSessionCountryId == 1 ? 'Ach.txt' : 'Eft.txt';
                        document.body.appendChild(a);
                        a.click();
                        this.generating_file = false;
                    }

                    // delete the file from tmp
                    setTimeout( () => {
                        axios.post('/deleteTemporaryFile', {filename: response.data.filename});
                    }, 10000);


                    /**
                     * Now we update monthly approval to show the file has been downloaded
                     * once that is done we can say file generation was completed
                     */
                    axios.post('/updateMonthlyApproval', {
                        company_id: this.getSessionCompanyId,
                        year: this.getSessionYear,
                        month: this.getSessionMonth
                    }).then( response => {
                        EventBus.$emit('file-generated');
                    }).catch( errors => {
                        alert('Error updating monthly approval record, please contact CarData IT Support.')
                        EventBus.$emit('file-generated');
                    })

                }).catch( errors => {
                    alert(errors.response.data);
                    EventBus.$emit('file-generated');
                })
            },

            /**
             * This function formulates the request payload required for us
             * to generate the payment file
             * @param paymentProperties
             */
            generateAchEftPayload(paymentProperties) {
                let payload = {
                    drivers: null,
                    paymentProperties: paymentProperties,
                    company_id: this.getSessionCompanyId,
                    file_type: this.getSessionCountryId == 1 ? 'ach' : 'eft'
                }

                /**
                 * Format the drivers so they are like so:
                 * drivers (array) [
                 *      (driver obj) {
                 *          payment: (double),
                 *          id: (int) note this is also the user_id
                 *      }
                 *      ...
                 *  ],
                 *
                 */
                payload.drivers = this.rows.map( r => {
                    return {
                        payment: r.total_reimbursement.toFixed(2),
                        id: r.id
                    }
                })

                return payload;
            },


            /**
             * This function will generate an excel file from the data
             * displayed in the master payment notice table
             */
            generateExcel() {
                this.generating_excel = true;

                axios({
                    method: 'post',
                    url: '/generateMasterPaymentNoticeExcel',
                    data: {
                        company_id: this.getSessionCompanyId,
                        tableHeaderColumnSpans: this.tableHeaderColumnSpans,
                        columnTitles: this.columnTitles,
                        rows: this.rows,
                        year: this.getSessionYear,
                        month: this.getSessionMonth,
                        totals: this.totals,
                        division_id: this.getSessionDivisionId,
                        manager_id: this.getSessionManagerId,
                        amounts: this.amounts,
                        amount_summary: this.amount_summary,
                    },
                    responseType: 'blob'
                }).then( response => {
                        let blob = new Blob([response.data], {type: 'text'});

                        if (window.navigator && window.navigator.msSaveOrOpenBlob) { // for IE
                            window.navigator.msSaveOrOpenBlob(blob, 'payment_notice.xls');
                        } else {
                            let downloadUrl = URL.createObjectURL(blob);
                            let a = document.createElement("a");
                            a.href = downloadUrl;
                            a.download = 'payment_notice.xls';
                            document.body.appendChild(a);
                            a.click();
                            this.generating_excel = false;
                        }
                }).catch( errors => {
                    this.generating_excel = false;
                    alert('Error generating excel file. Please contact CarData IT support.')
                })

            },

            /**
             * This function sorts the rows.
             * This function is called by the clicking on the column headers.
             * It requires the column title key to be passed as a parameter.
             * This is convenient because the data shares the same key ;)
             */
            sortTable(key) {
                /**
                 * Don't perform many sorts at the same time, and don't sort on no records...
                 */
                if ( this.sorting || this.rows.length < 1) {
                    return;
                }

                /**
                 * We are sorting... ONCE
                 */
                this.sorting = true;

                /**
                 * Default sort function does nill
                 */
                let sortFunc = function(x) { return x };

                /**
                 * Determine what we are sorting
                 * Try and determine it another way
                 * Please
                 * Show me the light
                 * If you tumble down this rabbit hole, you may
                 * not return for weeks, but when you do you'll have
                 * a bespoke sorting library in tow.
                 */
                let sort_type = 'number';
                switch(key) {
                    case 'last_name':
                    case 'first_name':
                    case 'employee_number':
                    case 'division':
                    case 'cost_center':
                    case 'vehicle_profile_postfix':
                        sort_type = 'string';
                        break;
                    case 'fixed_reimbursement':
                    case 'variable_reimbursement':
                    case 'total_reimbursement':
                    case 'non_taxable_limit':
                    case 'taxable_reimbursement':
                    case 'direct_pay_driver_fee':
                        sort_type = 'number';
                        break;
                    case 'start_date':
                    case 'stop_date':
                        sort_type = 'date';
                        break;
                    default:
                        sort_type = 'number';
                        break;
                }

                /**
                 * If we are sorting strings we must treat them differently than integers
                 */
                // if ( isNaN(Number(this.rows[0][key])) ) {
                if ( sort_type == 'string' ) {

                    console.log('sorting strings');

                    if (!this.sorts[key]) {
                        sortFunc = function(a,b) {
                            if (!a && !b) {
                                return 0;
                            } else if (!a && b) {
                                return 1;
                            } else if (a && !b) {
                                return -1
                            }

                            let wordA = String(a[key]).trim().toLowerCase();
                            let wordB = String(b[key]).trim().toLowerCase();

                            if (wordA < wordB) {
                                return -1;
                            }
                            if (wordA > wordB) {
                                return 1;
                            }
                            // words must be equal
                            return 0;
                        }
                    } else {
                        sortFunc = function(a,b) {
                            if (!a && !b) {
                                return 0;
                            } else if (!a && b) {
                                return 1;
                            } else if (a && !b) {
                                return -1
                            }

                            let wordA = String(a[key]).trim().toLowerCase();
                            let wordB = String(b[key]).trim().toLowerCase();

                            if (wordA > wordB) {
                                return -1;
                            }
                            if (wordA < wordB) {
                                return 1;
                            }
                            // words must be equal
                            return 0;
                        }
                    }

                // } else if ( this.rows.find( r => { return r[key] && r[key].search('-') > 0 }) ) {
                } else if ( sort_type == 'date' ) {
                    // sorting dates
                    if (!this.sorts[key]) {
                        sortFunc = function(a,b) {
                            if (!a && !b) {
                                return 0;
                            } else if (!a && b) {
                                return -1;
                            } else if (a && !b) {
                                return 1
                            }

                            let wordA = String(a[key]).trim().toLowerCase();
                            let wordB = String(b[key]).trim().toLowerCase();

                            if (wordA > wordB) {
                                return -1;
                            }
                            if (wordA < wordB) {
                                return 1;
                            }
                            // words must be equal
                            return 0;
                        }
                    } else {
                        sortFunc = function(a,b) {
                            if (!a && !b) {
                                return 0;
                            } else if (!a && b) {
                                return 1;
                            } else if (a && !b) {
                                return -1
                            }

                            let wordA = String(a[key]).trim().toLowerCase();
                            let wordB = String(b[key]).trim().toLowerCase();

                            if (wordA < wordB) {
                                return -1;
                            }
                            if (wordA > wordB) {
                                return 1;
                            }
                            // words must be equal
                            return 0;
                        }
                    }

                } else {

                    // sorting numbers
                    if (!this.sorts[key]) {
                        sortFunc = function(a,b) {
                            return b[key] - a[key];
                        }
                    } else {
                        sortFunc = function(a,b) {
                            return a[key] - b[key];
                        }
                    }
                }

                this.rows.sort( sortFunc );
                this.sorts[key] = this.sorts[key] ? false : true;
                for (let k in this.sorts ) {
                    if (k == key) continue;
                    this.sorts[k] = null;
                }
                this.sorting = false;

            },

            /**
             * Determines where the column in question
             * should display links to other pages
             * @param key
             */
            isLinkableColumn(key) {
                return key === 'business_mileage' || key === 'total_reimbursement';
            },

            linkFromTable(row, key) {
                let self = this;

                let viewData = {
                    view: key === 'total_reimbursement' ? 'monthlyReimbursement' : 'mileageEntry',
                    subView: key === 'total_reimbursement' ? null : 'showMonthlyMileageEntry'
                };

                /**
                 * Update the role, the user we are linking to, the view data, and then link to the user
                 * Finally refresh the page.
                 */
                Promise.all([
                    Common.storeCommit('updateSessionRole', 'driver'),
                    Common.storeCommit('updateSessionUserId', row.id),
                    Common.storeCommit('view', viewData),
                    axios.post('/linkToUser', {
                        current_user_id: self.getUserId,
                        target_user_id: row.id,
                        current_active_role: self.getActiveRole,
                        current_page: 'masterPaymentNotice'
                    })
                ]).then( () => {
                        window.location = '/';
                });
            },

        }
    };
</script>

<style lang="css">
    #masterPaymentNotice #approvalTable {
        max-height: 100px;
        overflow-y: scroll;
    }

    #masterPaymentNotice #approvalSection {
        margin-bottom: 2rem;
    }
</style>

