/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="prorateAdjustmentRerport">

        <h2>Prorate Adjustment Report</h2>
        <br/>

        <!--<button class="btn btn-secondary" @click="getProratedData">Generate Report</button>-->
        <!--<br/><br/>-->

        <div v-if="getSessionCompanyId < 0" class="alert alert-warning">
            Please select a company.
        </div>

        <div v-if="waiting && getSessionCompanyId > 0"><loading-partial/></div>

        <div v-if="rows.length > 0 ">
            <div class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class = "primary-table-header">
                            <th colspan="5" class="p-4 text-center">Driver Name</th>
                            <th colspan="6" class="p-4 text-center">Adjustments</th>
                        </tr>

                        <tr class = "secondary-table-header">
                            <th @click="sortByWord('last_name')">Last</th>
                            <th @click="sortByWord('first_name')">First</th>
                            <th @click="sortByWord('employee_number')">Employee #</th>
                            <th @click="sortByWord('division')">Division</th>
                            <th @click="sortByWord('business_unit')">Business Unit</th>
                            <th @click="sortByWord('adjusted_name')">Adjusted</th>
                            <th @click="sortByNumber('old_value')" class="text-right">Old</th>
                            <th @click="sortByNumber('new_value')" class="text-right">New</th>
                            <th @click="sortByWord('updated_date')">Date</th>
                            <th @click="sortByWord('updated_by')">Adjusted by</th>
                            <th>Notes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="row in rows">
                            <td>{{ row.last_name }}</td>
                            <td>{{ row.first_name }}</td>
                            <td>{{ row.employee_number }}</td>
                            <td>{{ row.division }}</td>
                            <td>{{ row.business_unit}}</td>
                            <td>{{ row.adjusted_name}}</td>
                            <td class="text-right">{{ row.old_value | formatPrice}}</td>
                            <td class="text-right">{{ row.new_value | formatPrice}}</td>
                            <td>{{ row.updated_date}}</td>
                            <td>{{ row.updated_by}}</td>
                            <td>{{ row.notes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-if="!waiting && !rows.length && getSessionCompanyId > 0">
            No results
        </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {MonthSelect, YearSelect, DivisionSelect} from "../partials";
    import {Months} from "../../models";
    import {LoadingPartial} from "../partials";

    export default {
        props: [],

        components: {MonthSelect, YearSelect, LoadingPartial},

        data() {
            return {
                caller_id: "ProrateReimbursement",
                from_year: 2007,    // calculate it
                from_month: 1,
                allowed: false,     // true, if prorate is allowed ( before approval end date next month )
                text: null,
                changed: false,
                rows:[],
                totals: null,
                records_found: 0,
                prorate: [],
                success: null,
                failure: null,
                errors: null,
                months: Months,
                waiting: false,

                sorts: { last_name:1, first_name:0, employee_number:0, division:0, business_unit:0, adjusted_name:0,
                    old_value:0, new_value:0, updated_date:0, updated_by:0 }
            };
        },

        created() {
        },

        mounted() {
            this.getProratedData();

            EventBus.$on('company-changed', () => {
                console.log('company-changed');
                this.rows = [];
                this.getProratedData();
            });
            EventBus.$on('division-changed', () => {
                this.rows = [];
                this.getProratedData();
            });
            EventBus.$on('year-changed', () => {
                this.rows = [];
                this.getProratedData();
            });
            EventBus.$on('month-changed', () => {
                this.rows = [];
                this.getProratedData();
            });
        },

        filters: {
            formatPrice(value) {
                let val = (value/1).toFixed(2)
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getCompanyPlan',
                'getSessionDivisionId',
                'getSessionYear',
                'getSessionMonth',
                'getUserId',
                'getIsAdministrator',
                'getIsSuper'
            ]),
            month_name: function(){
                return this.getSessionMonth > 0 ? this.months[this.getSessionMonth-1].name : null;
            }
        },

        watch: {
        },

        methods: {
            getProratedData(){
                console.log('Calling getProratedData for company ' + this.getSessionCompanyId)
                if( this.getSessionCompanyId > 0 ) {
                    this.totals = null
                    this.amounts = null
                    this.errors = null
                    this.waiting = true

                    this.rows = [];
                    var user_type = null

                    if( this.getIsSuper ) user_type = 'super'
                    else if( this.getIsAdministrator ) user_type = 'administrator'

                    axios.post('/getProrateAdjustments', {
                        'company_id': this.getSessionCompanyId,
                        'division_id': this.getSessionDivisionId,
                        'user_type': user_type,
                        'year': this.getSessionYear,
                        'month': this.getSessionMonth,
                        'user_id': this.getUserId}
                    ).then(response => {
                        this.waiting = false
                        this.rows  = response.data.rows
                        this.records_found = response.data.records_found
                        console.log('We are back. Found ' + this.records_found + ' records')
                        if( this.records_found == 0 ) {
                            this.failure = 'No records found'
                        }
                        console.log(response.data)
                    }).catch(errors => {
                        console.log("ERRORS:")
                        console.log(errors)});

                } else {
                    this.failure = 'Please select company'
                }
            },

            sortByNumber(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        return a[col] - b[col];
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        return b[col] - a[col];
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

            sortByWord(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA < wordB) {
                            return -1;
                        }
                        if (wordA > wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA > wordB) {
                            return -1;
                        }
                        if (wordA < wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

        }
    };
</script>

<style lang="css">

</style>

