/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="prorateReimbursement">

        <h2>{{year_month_name}} Prorate Reimbursement</h2>
        <br>

        <div v-if="waiting && getSessionCompanyId > 0">
            <loading-partial/>
        </div>

        {{ failure === '' }}
        <div v-if="failure" class="alert alert-warning">
            {{failure}}
            <ul v-if="errors">
                <li v-for="error in errors">
                    {{error[0]}}
                </li>
            </ul>
        </div>
        <div v-if="success" class="alert alert-success">
            {{success}}
        </div>

        <div v-if="rows">
            <div v-if="rows.length > 0" class="table-responsive table-responsive-bordered mb-4">

                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr class = "primary-table-header">
                        <th colspan="4" class="p-4 text-center">Driver Name</th>
                        <th colspan="2" class="p-4 text-center">Fixed Reimbursement</th>
                        <th colspan="3" class="p-4 text-center">Variable Reimbursement</th>
                    </tr>
                    <tr class = "secondary-table-header">
                        <th>Last</th>
                        <th>First</th>
                        <th>Employee #</th>
                        <th>Division</th>
                        <th class="text-right">Amount</th>
                        <th>Override Amount</th>
                        <th class="text-right">Amount</th>
                        <th>Override Amount</th>
                        <th>Notes</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr v-for="row in rows">
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.first_name }}</td>
                        <td>{{ row.employee_number }}</td>
                        <td>{{ row.division }}</td>
                        <td class="text-right">{{ row.fixed_reimbursement | formatPrice }}</td>
                        <td><input v-model="row.override_fixed" size="8"></td>
                        <td class="text-right">{{ row.variable | formatPrice }}</td>
                        <td><input v-model="row.override_variable" size="8"></td>
                        <td><input v-model="row.notes" size="20" maxsize="120"></td>
                    </tr>

                    <!--<tr v-if="this.totals != null">-->
                    <!--<td colspan="4" align="right" class="font-weight-bold">TOTALS</td>-->
                    <!--<td class="font-weight-bold">{{ totals.total_total | formatPrice }}</td>-->
                    <!--</tr>-->
                    </tbody>

                </table>

            </div>


            <div v-if="success" class="alert alert-success">
                {{success}}
            </div>

            <button v-if="rows && rows.length > 0" class="btn btn-secondary" @click="overrideReimbursement">Override</button>


        </div>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";
    import moment from 'moment';

    export default {
        props: [],

        components: {LoadingPartial},

        data() {
            return {
                caller_id: "ProrateReimbursement",
                text: null,
                changed: false,
                rows:[],
                totals: null,
                records_found: 0,
                prorate: [],
                success: null,
                failure: null,
                errors: null,
                waiting: false,
                year: null,
                month: null,
            };
        },

        created() {
        },

        mounted() {

            // prorate is always on last month
            this.year = moment().subtract(1, 'months').year();
            this.month = moment().subtract(1, 'months').month() + 1;

            this.changed = false;
            EventBus.$on('company-changed', () => {
                if (this.getSessionCompanyId > 0) {
                    this.changed = true;
                    this.getProrateReimbursementData(true);
                } else {
                    this.failure = 'Please select company';
                }
            });
            EventBus.$on('division-changed', () => {
                this.changed = true;
                this.getProrateReimbursementData(true);
            });
            EventBus.$on('year-changed', () => {
                this.changed = true;
                this.getProrateReimbursementData(true);
            });
            EventBus.$on('month-changed', () => {
                this.changed = true;
                this.getProrateReimbursementData(true);
            });

            if ( !this.changed) {
                this.getProrateReimbursementData(true);
            }

        },

        filters: {
            formatPrice(value) {
                let val = (value / 1).toFixed(2)
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getCompanyPlan',
                'getSessionDivisionId',
                'getSessionYear',
                'getSessionMonth',
                'getUserId',
                'getIsAdministrator',
                'getIsManager',
                'getIsDriver',
                'getIsSuper'
            ]),
            year_month_name: function () {
                return moment().subtract(1, 'months').format("YYYY MMMM")
            }
        },

        watch: {
            failure(val) {
                this.failure = val;
            }
        },

        methods: {
            getProrateReimbursementData(reset_success) {
                if (this.getSessionCompanyId > 0) {
                    this.waiting = true
                    if (reset_success) {
                        console.log('reseting message')
                        this.success = null
                    }
                    this.failure = null
                    this.totals = null
                    this.amounts = null
                    this.errors = null
                    this.rows = null

                    var user_type = null

                    if (this.getIsSuper) user_type = 'super'
                    else if (this.getIsAdministrator) user_type = 'administrator'

                    this.text += ' type = ' + user_type

                    axios.post('/getProrateReimbursementData', {
                            'company_id': this.getSessionCompanyId,
                            'division_id': this.getSessionDivisionId,
                            'user_type': user_type,
                            'user_id': this.getUserId
                        }
                    ).then(response => {
                        this.waiting = false;
                        this.rows = response.data.rows
                        this.records_found = response.data.records_found
                        this.service_plan = response.data.service_plan
                        if (this.records_found == 0) {
                            this.failure = 'No records found'
                        }
                    }).catch(errors => {
                        console.log(errors)
                    });

                } else {
                    this.failure = 'Please select company'
                }
            },

            overrideReimbursement() {

                this.failure = null
                this.errors = null
                this.success = null
                this.prorate = []
                var found_override = false;

                for (var i = 0; i < this.rows.length; i++) {

                    var item = this.rows[i];

                    if (item.override_fixed > 0 && item.override_variable > 0) {

                        found_override = true;
                        this.prorate.push({
                            user_id: item.id,
                            fix_amount: item.override_fixed,
                            var_amount: item.override_variable,
                            old_fix: item.fixed_reimbursement,
                            old_variable_reimbursement: item.variable_reimbursement,
                            old_var: item.variable,
                            vehicle_depreciation: item.vehicle_depreciation,
                            business_mileage: item.business_mileage,
                            notes: item.notes
                        })

                    } else if (item.override_fixed > 0) {

                        found_override = true;
                        this.prorate.push({
                            user_id: item.id,
                            fix_amount: item.override_fixed,
                            var_amount: null,
                            vehicle_depreciation: item.vehicle_depreciation,
                            old_fix: item.fixed_reimbursement,
                            notes: item.notes
                        })

                    } else if (item.override_variable > 0) {

                        found_override = true;
                        this.prorate.push({
                            user_id: item.id,
                            fix_amount: null,
                            var_amount: item.override_variable,
                            business_mileage: item.business_mileage,
                            old_variable_reimbursement: item.variable_reimbursement,
                            old_var: item.variable,
                            notes: item.notes
                        })
                    }
                }

                if (found_override) {

                    console.log('updateProrateReimbursement: u=' + this.getUserId + ' plan=' + this.getCompanyPlan + ' y=' + this.year + ' m=' + this.month)
                    axios.post('/updateProrateReimbursement', {
                            'user_id': this.getUserId,
                            'service_plan': this.getCompanyPlan,
                            'year': this.year,
                            'month': this.month,
                            'prorate': this.prorate
                        }
                    ).then(response => {
                        this.failure = response.data.failure;
                        this.success = response.data.success;
                        console.log(this.success)
                        if (this.success) {
                            console.log('get new data')
                            this.getProrateReimbursementData(false)
                        }
                    }).catch(errors => {
                        this.failure = 'Failed to update prorate:'
                        this.errors = errors.response.data;
                        window.scrollTo(0, -100);
                    });
                } else {

                }


            },

            selectRow() {

            }
        }
    };
</script>

<style lang="css">

</style>

