<template lang='html'>

    <div id="reimbursementDetails">
        <h2>Reimbursement Details for Driver</h2>

        <br>
        <div class="columns">
            <div class="column">
                <label class="label">Driver Profile ID:</label>
            </div>
            <div class="column">
                <input type="text" v-model="driver_id">
            </div>
            <div class="column">
                <a class="btn btn-secondary" @click.prevent="calculateReimbursementDetails()">Calculate Reimbursement Details</a>
            </div>
        </div>


    </div>

</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        data() {
            return {

            }
        },

        created() {
            EventBus.$on('driver-changed', () => {
                this.calculateReimbursementDetails();
            });
        },

        computed: {
            ...mapGetters([
                'getSessionDriverId'
            ])
        },

        methods: {
            calculateReimbursementDetails() {
                axios.get('/addReimbursementDetails/' + this.getSessionDriverId).then(response => {
                 // console.log(response.data);
                });
            }
        }

    }
</script>

<style lang='css'>

</style>