/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reimbursementTotals">
        <h2>Reimbursement Totals</h2>
        <br>

        <div v-if="passes_required_selections || !from_date || !to_date">
            <div class="alert alert-warning" role="alert">
                {{
                   passes_required_selections ? 'Please select a company.' :
                   !from_date ? 'Please select a From Date.'
                   : 'Please select a To Date.'
                }}
            </div>
        </div>

        <!--<div class="row">
            <div class="col-lg-2 col-sm-12">
                <label class="label">From Date:</label>
                <vue-bootstrap-date-picker v-model="from_date" :config="date_picker_options"/>
            </div>
            <div class="col-lg-2 col-sm-12">
                <label class="label">To Date:</label>
                <vue-bootstrap-date-picker  :config="date_picker_options"/>
            </div>
            <div class="col-lg-2 col-sm-12" valign="bottom">
                <button class="btn btn-secondary" @click="getReimbursementData">Generate Report</button>
            </div>
        </div>-->

        <div v-if="waiting"><loading-partial/></div>

        <div v-if="rows != null">

            <br><p>This report includes all active and inactive drivers for the periods</p><br>

            Found {{records_found}} drivers
            <div class="table-responsive table-responsive-bordered mb-4">

                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr class = "primary-table-header">
                        <!--<th :colspan="collspan">-->
                        <th class="p-4" colspan="8" >
                            <div>Driver</div>
                        </th>
                        <th class="p-4" colspan="5" >
                            <div align="center">Reimbursement</div>
                        </th>
                    </tr>
                    <tr class = "secondary-table-header">
                        <th @click="sortByWord('last_name')" class="text-center">Last</th>
                        <th @click="sortByWord('first_name')" class="text-center">First</th>
                        <th @click="sortByWord('employee_number')" class="text-center">Employee #</th>
                        <th @click="sortByWord('division')" class="text-center">Division</th>
                        <th @click="sortByWord('cost_center')" class="text-center">Business Unit</th>
                        <th @click="sortByWord('vehicle_profile')" class="text-center">Vehicle Profile</th>
                        <th @click="sortByWord('start_date')" class="text-center">Start Date</th>
                        <th @click="sortByWord('stop_date')" class="text-center">Stop Date</th>
                        <th @click="sortByNumber('fixed_reimbursement')" class="text-right">Fixed</th>
                        <th @click="sortByNumber('business_mileage')" class="text-right">{{month_name}} Mileage</th>
                        <th @click="sortByNumber('variable_reimbursement')" class="text-right">Variable</th>
                        <th @click="sortByNumber('total')" class="text-right">Total</th>
                        <th @click="sortByNumber('personal_mileage')" class="text-right">Personal Mileage</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="row in rows">
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.first_name }}</td>
                        <td>{{ row.employee_number }}</td>
                        <td>{{ row.division }}</td>
                        <td>{{ row.cost_center }}</td>
                        <td>{{ row.vehicle_profile }}</td>
                        <td>{{ row.start_date }}</td>
                        <td>{{ row.stop_date }}</td>
                        <td class="text-right">{{ row.fixed_reimbursement | formatPrice }}</td>
                        <td class="text-right">{{ row.business_mileage | formatMileage }}</td>
                        <td class="text-right">{{ row.variable_reimbursement | formatPrice }}</td>
                        <td class="text-right">{{ row.total | formatPrice }}</td>
                        <td class="text-right">{{ row.personal_mileage | formatMileage }}</td>
                    </tr>
                    <tr v-if="this.totals != null">
                        <td align="right" colspan="8" class="font-weight-bold">TOTALS</td>
                        <td class="font-weight-bold text-right">{{ totals.fixed_total | formatPrice }}</td>
                        <td class="font-weight-bold text-right">{{ totals.mileage_total | formatMileage }}</td>
                        <td class="font-weight-bold text-right">{{ totals.variable_total | formatPrice }}</td>
                        <td class="font-weight-bold text-right">{{ totals.total_total | formatPrice }}</td>
                        <td class="font-weight-bold text-right">{{ totals.personal_total | formatMileage }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {Months} from "../../models";
    import moment from 'moment';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import {LoadingPartial} from "../partials";



    export default {
        props: [],

        components: {VueBootstrapDatePicker, LoadingPartial},

        data() {
            return {
                caller_id: "ReimbursementTotals",
                from_date: null,
                to_date: null,
                from_year: 2007,    // calculate it
                from_month: 1,
                text: null,
                changed: false,
                rows: null,
                totals: null,
                amounts: null,
                amount_summary: null,
                records_found: 0,
                messages: null,
                months: Months,
                waiting: false,

                sorts : { last_name:1, first_name:0, employee_number:0, division:0, cost_center:0, vehicle_profile:0,
                    start_date:0, stop_date:0, fixed_reimbursement:0, variable_reimbursement:0, total:0,
                    personal_mileage:0 }


            };
        },

        created() {

        },

        mounted() {
            EventBus.$on('from-date-changed', val => {
                this.from_date = val;
            });
            EventBus.$on('to-date-changed', val => {
                this.to_date = val;
            });
            EventBus.$on('generate-report', () => {
                this.getReimbursementData();
            });
            /*var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var firstDay = new Date(y, m, 1);
            this.from_date = moment(firstDay).format("YYYY-MM-DD");*/
        },

        filters: {
            formatPrice(value) {
                let val = (value/1).toFixed(2)
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            formatMileage(value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        },

        computed: {
            ...mapGetters([
                'getSessionId',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getSessionDivisionId',
                'getUserId',
                'getIsSuper',
                'getIsAdministrator',
                'getIsManager',
                'getActiveAdministratorId'

            ]),

            passes_required_selections() {
                return this.getSessionCompanyId >= 0 ? false : true;
            },

            month_name: function(){
                return this.getSessionMonth > 0 ? this.months[this.getSessionMonth-1].name : null;
            },
        },

        watch: {
            getSessionCompanyId: function(){
                this.rows = null;
            },
            getSessionDivisionId: function(){
                this.rows = null;
            }
        },

        methods: {
            getReimbursementData(from){

                if( this.getSessionCompanyId > 0  ) {
                    this.rows = null
                    this.totals = null
                    this.amounts = null
                    this.records_found = 0
                    var user_type = null
                    this.waiting = true

                    if( this.getIsSuper ) user_type = 'super'
                    else if( this.getIsAdministrator ) user_type = 'administrator'
                    else if( this.getIsManager ) user_type = 'manager'


                    console.log('Calling for division: ' + this.getSessionDivisionId);

                    axios.post('/getReimbursementTotals', {
                        'company_id': this.getSessionCompanyId,
                        'division_id': this.getSessionDivisionId,
                        'from_date': this.from_date,
                        'to_date': this.to_date,
                        'user_type': user_type,
                        'user_id': this.getUserId,
                        'administrator_id': this.getActiveAdministratorId}
                    ).then(response => {
                        console.log(response.data)
                        this.waiting = false
                        //this.text += ' GOT IT?';
                        this.rows = response.data.rows
                        this.totals = response.data.totals
                        this.records_found = response.data.records_found
                    });
                } else {
                    console.log('ERRORS');
                    console.log(this.amount_summary);
                    //this.text += 'No company yet';
                }

            },

            selectRow(){

            },

            sortByNumber(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        return a[col] - b[col];
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        return b[col] - a[col];
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

            sortByWord(col) {
                if (!this.sorts[col]) {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA < wordB) {
                            return -1;
                        }
                        if (wordA > wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                } else {
                    this.rows.sort(function (a, b) {
                        let wordA = a[col].trim().toLowerCase();
                        let wordB = b[col].trim().toLowerCase();

                        if (wordA > wordB) {
                            return -1;
                        }
                        if (wordA < wordB) {
                            return 1;
                        }
                        // words must be equal
                        return 0;
                    });
                }
                this.sorts[col] = Math.abs(1 - this.sorts[col]);
            },

        }
    };
</script>

<style lang="css">

</style>

