/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="reimbursementCalculator">
        <h2>Reimbursement Calculator</h2>

        <hr class="mb-2">

        <section v-if="parameters" id="formSection">
            <!--this prevents cascading load effects, and lets user see data all at once-->
            <section v-show="loaded_initial_values">

            <!--davery-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="company_name">Company</label>
                        <input type="text" class="form-control form-control-sm" id="company_name" placeholder="Company Name"
                               v-model="parameters.company_name">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Plan</label>

                        <div class="form-check" v-if="parameters.country_id == 1">
                            <section style="margin-right: 2rem; display: inline;">
                                <input id="favrRadio"
                                       class="form-check-input"
                                       type="radio"
                                       :value="'FAVR'"
                                       v-model="parameters.service_plan">
                                <label for="favrRadio">
                                    FAVR
                                </label>
                            </section>

                            <section style="display: inline;">
                                <input id="463Radio"
                                       class="form-check-input"
                                       type="radio"
                                       :value="'463'"
                                       v-model="parameters.service_plan">
                                <label for="463Radio">
                                    463
                                </label>
                            </section>
                        </div>

                        <!--CANADA-->
                        <div class="form-check" v-if="parameters.country_id == 2">
                            <input id="canadaRadio"
                                   class="form-check-input"
                                   type="radio"
                                   :value="'Canada'"
                                   v-model="parameters.service_plan">
                            <label for="canadaRadio">
                                CRA
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="m-0 mb-1">

            <!--FUEL-->
            <section id="fuelSection">
                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Fuel:</span>

                <div class="row">
                    <div class="col-sm-6">
                        <fuel-year-select v-model="parameters.fuel_year"/>
                    </div>

                    <div class="col-sm-6">
                        <fuel-month-select :year="parameters.fuel_year"
                                           :hide_default_option="true"
                                           v-model="parameters.fuel_month_id"/>
                    </div>
                </div>
            </section>

            <hr class="m-0 mb-1">

            <!--LOCATION-->
            <section id="territorySection">
                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Territory:</span>

                <div class="row">
                    <div class="col-sm-6">
                        <country-select v-model="parameters.country_id"
                                        :display="'long'"/>
                    </div>

                    <div class="col-sm-6">
                        <state-select v-if="parameters.country_id == 1"
                                      v-model="parameters.state_province_id"/>
                        <province-select v-else-if="parameters.country_id == 2"
                                         v-model="parameters.state_province_id"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <zip-code-select v-if="parameters.country_id == 1"
                                         v-model="parameters.zip_postal_code"
                                         :state_id="parameters.state_province_id"
                                         :emit_object="true"
                                         :caller_id="caller_id"/>

                        <div class="form-group" v-if="parameters.country_id == 2">
                            <label for="postal_code">Postal Code</label>
                            <input id="postal_code"
                                   :class="{'form-control form-control-sm': true, 'has-error': calculatorErrors.has('zip_postal_code')}"
                                   v-model="parameters.zip_postal_code" @input="calculatorErrors.clear('zip_postal_code')">
                            <span class="has-error" v-if="calculatorErrors.has('zip_postal_code')">{{ calculatorErrors.get('zip_postal_code') }}</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <territory-type-select :country_id="parameters.country_id"
                                               :hide_default_option="true"
                                               v-model="parameters.territory_type_id"/>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" v-if="parameters.territory_type_id == 3 || parameters.territory_type_id == 4">
                        <fuel-city-select v-if="parameters.territory_type_id == 3"
                                          :country_id="parameters.country_id"
                                          :emit_object="true"
                                          :caller_id="caller_id"
                                          v-model="parameters.multicity"/>

                        <section v-if="parameters.territory_type_id == 4">
                            <state-select v-if="parameters.country_id == 1"
                                          :caller_id="caller_id"
                                          :emit_object="true"/>
                            <province-select v-if="parameters.country_id == 2"
                                             :caller_id="caller_id"
                                             :emit_object="true"/>
                        </section>
                    </div>

                    <div class="col-sm-6" v-if="parameters.territory_type_id == 3 || parameters.territory_type_id == 4">
                        <div :class="{'form-group': true, 'active has-error': calculatorErrors.has('territory_list')}">
                            <label>Selected {{ multi_territory_label }}</label>
                            <div class="box active p-1">
                                <div style="display: inline-block;">
                                <span v-for="territory_id in parameters.territory_list"
                                      class="tag btn-secondary"
                                      style="margin: 0.25rem;">
                                    {{ getSelectedTerritoryName(territory_id) }}
                                    <button class="delete is-small" @click.prevent="unassignTerritory(territory_id)"></button>
                                </span>
                                </div>
                                <span v-if="calculatorErrors.has('territory_list')" class="has-error">{{ calculatorErrors.get('territory_list') }}</span>
                            </div>
                        </div>
                    </div>
                </div><!--row-->
            </section>

            <hr class="m-0 mb-1">

            <section id="vehicleSection">
                <!--VEHICLE-->
                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Vehicle:</span>
                <div class="row">
                    <div class="col-sm-3">
                        <vehicle-year-select :country_id="parameters.country_id"
                                             :plan="parameters.service_plan"
                                             :hide_default_option="true"
                                             v-model="parameters.vehicle_year"/>
                    </div>
                    <div class="col-sm-6">
                        <category-vehicle-select v-model="parameters.vehicle_id"
                                                 @input="validateParameters()"
                                                 :class="{'has-error': calculatorErrors.has('vehicle_id')}"
                                                 :initial_year_id="parameters.vehicle_year"
                                                 :initial_favr="(parameters.service_plan == 'FAVR' ? 1 : 0)"
                                                 :hide_label="false"
                                                 :hide_default_option="false"
                                                 :emit_object="true"
                                                 :caller_id="caller_id"/>
                        <span v-if="calculatorErrors.has('vehicle_id')" class="has-error">{{ calculatorErrors.get('vehicle_id')}}</span>
                    </div>
                    <div class="col-sm-3">
                        <mileage-band-select v-model="parameters.mileage_band_id"
                                             @input="validateParameters()"
                                             :class="{'has-error': calculatorErrors.has('mileage_band_id')}"/>
                        <span v-if="calculatorErrors.has('mileage_band_id')" class="has-error">{{ calculatorErrors.get('mileage_band_id')}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <capital-cost-select v-model="parameters.capital_cost"
                                             :show_label="true"
                                             :hide_default_option="true"/>
                    </div>
                    <div class="col-sm-3">
                        <resale-condition-select v-model="parameters.resale_condition_id"
                                                 :caller_id="caller_id"
                                                 :emit_loaded_event="true"
                                                 :show_label="true"
                                                 :hide_default_option="true"/>
                    </div>
                    <div class="col-sm-3">
                        <retention-select v-model="parameters.retention"
                                          :hide_default_option="true"/>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="business_use_percent">Business Use Percent</label>
                            <input id="business_use_percent" type="number"
                                   :class="{'form-control form-control-sm': true, 'has-error': calculatorErrors.has('business_use_percent')}"
                                   v-model="parameters.business_use_percent">
                            <span class="has-error" v-if="calculatorErrors.has('business_use_percent')">{{ calculatorErrors.get('business_use_percent') }}</span>
                        </div>
                    </div>
                </div>
            </section>

                <button class="btn btn-primary float-right mb-4"
                        :disabled="calculating_reimbursement"
                        @click="calculateReimbursement()">Calculate</button>

                <div class="clearfix"></div>

            <div id="accordion1" class="fusion-accordion mt-1">
                <div class="card">
                    <div class="card-header position-relative" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        <h5 class="mb-0">
                            Adjustment Factors
                        </h5>
                        <i class="fas fa-angle-down position-absolute" style="font-size: 20px; right: 20px; top: 13px;"></i>
                    </div>

                    <div id="collapse1" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion1">
                        <div class="card-body" aria-expanded="false">

                            <section id="fixedRelativeAdjustmentSection">
                                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Fixed Relative Adjustment Factors:</span>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="capital_cost_adj">Capital Cost</label>
                                            <div class="input-group input-group-sm mb-3">
                                                <input id="capital_cost_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('capital_cost_adj')}"
                                                       v-model="parameters.capital_cost_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>

                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('capital_cost_adj')">{{ calculatorErrors.get('capital_cost_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="capital_cost_tax_adj">Capital Cost Tax</label>
                                            <div class="input-group input-group-sm mb3">
                                                <input id="capital_cost_tax_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('capital_cost_tax_adj')}"
                                                       v-model="parameters.capital_cost_tax_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('capital_cost_tax_adj')">{{ calculatorErrors.get('capital_cost_tax_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="resale_value_adj">Resale Value</label>
                                            <div class="input-group input-group-sm">
                                                <input id="resale_value_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('resale_value_adj')}"
                                                       v-model="parameters.resale_value_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('resale_value_adj')">{{ calculatorErrors.get('resale_value_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="depreciation_adj">Depreciation</label>
                                            <div class="input-group input-group-sm">
                                                <input id="depreciation_adj" type="number" disabled
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('depreciation_adj')}"
                                                       v-model="parameters.depreciation_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('depreciation_adj')">{{ calculatorErrors.get('depreciation_adj') }}</span>
                                        </div>
                                    </div>
                                </div><!--row-->

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="monthly_payment_adj">Monthly Payment</label>
                                            <div class="input-group input-group-sm">
                                                <input id="monthly_payment_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('monthly_payment_adj')}"
                                                       v-model="parameters.monthly_payment_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('monthly_payment_adj')">{{ calculatorErrors.get('monthly_payment_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="finance_cost_adj">Finance Cost</label>
                                            <div class="input-group input-group-sm">
                                                <input id="finance_cost_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('finance_cost_adj')}"
                                                       v-model="parameters.finance_cost_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('finance_cost_adj')">{{ calculatorErrors.get('finance_cost_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="insurance_adj">Insurance</label>
                                            <div class="input-group input-group-sm">
                                                <input id="insurance_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('insurance_adj')}"
                                                       v-model="parameters.insurance_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('insurance_adj')">{{ calculatorErrors.get('insurance_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="fee_renewal_adj">Fee / Renewal</label>
                                            <div class="input-group input-group-sm">
                                                <input id="fee_renewal_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('fee_renewal_adj')}"
                                                       v-model="parameters.fee_renewal_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('fee_renewal_adj')">{{ calculatorErrors.get('fee_renewal_adj') }}
                                            </span>
                                        </div>
                                    </div>
                                </div><!--row-->

                            </section><!--#fixedRelativeAdjustmentSection-->

                            <hr class="m-0 mb-1">

                            <section id="variableRelativeAdjustmentSection">
                                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Variable Relative Adjustment Factors:</span>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="fuel_economy_adj">Fuel Economy</label>
                                            <div class="input-group input-group-sm">
                                                <input id="fuel_economy_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('fuel_economy_adj')}"
                                                       v-model="parameters.fuel_economy_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('fuel_economy_adj')">{{ calculatorErrors.get('fuel_economy_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="fuel_price_adj">Fuel Price</label>
                                            <div class="input-group input-group-sm">
                                                <input id="fuel_price_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('fuel_price_adj')}"
                                                       v-model="parameters.fuel_price_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('fuel_price_adj')">{{ calculatorErrors.get('fuel_price_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="maintenance_adj">Maintenance</label>
                                            <div class="input-group input-group-sm">
                                                <input id="maintenance_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('maintenance_adj')}"
                                                       v-model="parameters.maintenance_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('maintenance_adj')">{{ calculatorErrors.get('maintenance_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="repair_adj">Repairs</label>
                                            <div class="input-group input-group-sm">
                                                <input id="repair_adj" type="number"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('repair_adj')}"
                                                       v-model="parameters.repair_adj">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('repair_adj')">{{ calculatorErrors.get('repair_adj') }}</span>
                                        </div>
                                    </div>
                                </div><!--row-->
                            </section><!--#variableRelativeAdjustmentSection-->

                            <hr class="m-0 mb-1">

                            <section id="absoluteAdjustmentSection">
                                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Absolute Adjustment Factors:</span>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="fixed_adj">Fixed Reimbursement</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input id="fixed_adj" type="number" step="0.01"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('fixed_adj')}"
                                                       v-model="parameters.fixed_adj">
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('fixed_adj')">{{ calculatorErrors.get('fixed_adj') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="variable_adj">Variable Reimbursement</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">&cent;</span>
                                                </div>
                                                <input id="variable_adj" type="number" step="0.01"
                                                       :class="{'form-control': true, 'has-error': calculatorErrors.has('variable_adj')}"
                                                       v-model="parameters.variable_adj">
                                            </div>
                                            <span class="has-error"
                                                  v-if="calculatorErrors.has('variable_adj')">{{ calculatorErrors.get('variable_adj') }}</span>
                                        </div>
                                    </div>
                                </div>




                            </section><!--#absoluteAdjustmentSection-->

                        </div><!--.card-body-->
                    </div><!--.collapse1-->
                </div><!--.card-->
            </div><!--.accordion-->


            <div class="row mt-4">
                <div class="col-4 offset-4">
                    <loading-partial class="text-center" v-show="calculating_reimbursement"/>
                </div>
                <div class="col-4 clearfix">
                    <button class="btn btn-primary float-right"
                            :disabled="calculating_reimbursement"
                            @click="calculateReimbursement()">Calculate</button>
                </div>
            </div>
            </section>


            <!--RESULTS-->



            <section id="resultsSection">
                <div class="box" v-if="results && !calculatorErrors.any()">
                    <table v-if="true" class="table-sm">
                        <tbody>

                            <tr>
                                <td>
                                    <!-- I want it in the table, and not in thead, sowhat? -->
                                    <h4>Fixed Reimbursement</h4>
                                </td>
                                <td></td> <!-- this column prevents the header from being aligned right -->
                            </tr>

                            <!--CAPITAL COST-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.capitalCost">
                                <td>Capital Cost</td>
                                <td>
                                    {{ selectedVehicle.name }}, {{ parameters.capital_cost | capital_cost_filter }}
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.capitalCost.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.capitalCost">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.capitalCost.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.capitalCost.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--RESALE VALUE-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.resaleValue">
                                <td>Resale Value</td>
                                <td>
                                    {{ selectedVehicle.name }}, {{ parameters.retention }} Years,
                                    {{ parameters.resale_condition_id | resale_condition_filter }},
                                    {{ parameters.zip_postal_code }}, {{ parameters.mileage_band_id | mileage_band_filter }}
                                    {{ parameters.country_id == 1 ? ' miles' : ' km' }}
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.resaleValue.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.resaleValue">
                                <td></td>
                                <td>{{ results.fixedReimbursementData.fixedReimbursementDetails.resaleValue.adjustment }}%</td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.resaleValue.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--TAX-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.tax">
                                <td>{{ results.fixedReimbursementData.fixedReimbursementDetails.tax.title }}</td>
                                <td>
                                    {{ tax_label }}
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.tax.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.tax">
                                <td></td>
                                <td>{{ results.fixedReimbursementData.fixedReimbursementDetails.tax.adjustment }}%</td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.tax.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--MONTHLY PAYMENT-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.monthlyPayment">
                                <td>Monthly Payment</td>
                                <td>
                                    Capital Cost, {{ parameters.stateProvince.name }}, {{ parameters.vehicle_year }},
                                    {{ parameters.retention }} Years
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.monthlyPayment.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.monthlyPayment">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.monthlyPayment.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.monthlyPayment.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--DEPRECIATION-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.depreciation">
                                <td>Depreciation</td>
                                <td>
                                    (Capital Cost - Resale Value) / (Retention * 12)
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.depreciation.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.depreciation">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.depreciation.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.depreciation.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--FINANCE COST-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.financeCost">
                                <td>Depreciation</td>
                                <td>
                                    Monthly Payment - Depreciation
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.financeCost.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.financeCost">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.financeCost.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.financeCost.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--INSURANCE-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.insurance">
                                <td>Insurance</td>
                                <td>
                                    {{ parameters.city_name }}, {{ parameters.vehicle_year }}
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.insurance.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.insurance">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.insurance.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.insurance.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--FEE/RENEWAL-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal">
                                <td>Fee/Renewal</td>
                                <td>
                                    {{ parameters.country_id == 1 ? parameters.county.name + ' County, ' : '' }} {{ parameters.vehicle_year }}, {{ parameters.retention }} Years
                                </td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal">
                                <td></td>
                                <td>
                                    {{ results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>
                            <!--FIXED REIMBURSEMENT-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursement">
                                <td>
                                    <strong>
                                        Fixed Reimbursement
                                    </strong>
                                </td>
                                <td>
                                    {{ fixed_reimbursement_label }}
                                </td>
                                <td>
                                    {{ total_fixed_before_bup_and_adjustment | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--BUP ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursement">
                                <td></td>
                                <td>
                                    Business Use Percent {{ parameters.business_use_percent }}%
                                </td>
                                <td>
                                    {{ total_fixed_with_bup_before_adjustment | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursement">
                                <td></td>
                                <td>
                                    ${{ results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursementWithBup.adjustment | two_decimal_filter }}
                                </td>
                                <td>
                                    <strong>
                                        {{ results.fixedReimbursementData.fixed_reimbursement | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <h4>Variable Reimbursement</h4>
                                </td>
                                <td></td>
                            </tr>

                            <!--FUEL ECONOMY-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.fuelEconomy">
                                <td>Fuel Economy</td>
                                <td>
                                    {{ selectedVehicle.name }}, {{ fuel_economy_label }}
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.fuelEconomy.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.fuelEconomy">
                                <td></td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.fuelEconomy.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.variableReimbursementData.variableReimbursementDetails.fuelEconomy.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>

                            <!--FUEL AVERAGE-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.fuelAverage">
                                <td>Fuel Average</td>
                                <td>
                                    {{ fuel_average_label }}
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.fuelAverage.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.fuelAverage">
                                <td></td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.fuelAverage.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.variableReimbursementData.variableReimbursementDetails.fuelAverage.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>

                            <!--FUEL-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.fuelPrice">
                                <td>Fuel</td>
                                <td>
                                    {{ fuel_label }}
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.fuelPrice.amount | two_decimal_filter }}
                                </td>
                            </tr>

                            <!--MAINTENANCE-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.maintenance">
                                <td>Maintenance</td>
                                <td>
                                    {{ maintenance_and_repairs_label }}
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.maintenance.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.maintenance">
                                <td></td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.maintenance.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.variableReimbursementData.variableReimbursementDetails.maintenance.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>

                            <!--REPAIRS-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.repair">
                                <td>Repairs</td>
                                <td>
                                    {{ maintenance_and_repairs_label }}
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.repair.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.repair">
                                <td></td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.repair.adjustment }}%
                                </td>
                                <td>
                                    <strong>
                                        {{ results.variableReimbursementData.variableReimbursementDetails.repair.amount_adj | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>

                            <!--VARIABLE REIMBURSEMENT-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.centsPerMile">
                                <td>
                                    <strong>
                                        Variable Reimbursement
                                    </strong>
                                </td>
                                <td>
                                    Fuel + Maintenance + Repairs
                                </td>
                                <td>
                                    {{ results.variableReimbursementData.variableReimbursementDetails.centsPerMile.amount | two_decimal_filter }}
                                </td>
                            </tr>
                            <!--ADJUSTMENT ROW-->
                            <tr v-if="results.variableReimbursementData.variableReimbursementDetails.centsPerMile">
                                <td></td>
                                <td>
                                    &cent;{{ results.variableReimbursementData.variableReimbursementDetails.centsPerMile.adjustment | two_decimal_filter }}
                                </td>
                                <td>
                                    <strong>
                                        {{ results.variableReimbursementData.variable_reimbursement | two_decimal_filter }}
                                    </strong>
                                </td>
                            </tr>


                        </tbody>
                    </table>



                    <div class="row" style="margin-top: 1rem;">
                        <div class="col-4 offset-4 text-center">
                            <loading-partial v-show="downloading_doc"/>
                        </div>
                        <div class="col-4 clearfix">
                            <button class="btn btn-primary float-right" @click="generateExcel()" :disabled="downloading_doc">
                                Generate Excel
                            </button>
                        </div>

                    </div>


                    <strong v-if="false" style="color: red;">
                        Errors in calculation!
                    </strong>
                </div>

                <!--<loading-partial v-show="calculating_reimbursement == true"/>-->

            </section>

        </section>


        <section v-show="!parameters || !loaded_initial_values">
            <loading-partial/>
        </section>


    </div>
</template>

<script>
    import Errors from '../../utilities/Errors'
    import Months from '../../models/Months';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {
        CapitalCostSelect,
        CategoryVehicleSelect,
        CountrySelect,
        FuelCitySelect,
        FuelMonthSelect,
        FuelYearSelect,
        LoadingPartial,
        PostalCodeInput,
        ProvinceSelect,
        ResaleConditionSelect,
        RetentionSelect,
        StateSelect,
        TerritoryTypeSelect,
        VehicleYearSelect,
        ZipCodeSelect,
    } from "../partials";
    import moment from 'moment';
    import MileageBandSelect from "../partials/MileageBandSelect";


    export default {
        props: [],

        components: {
            MileageBandSelect,
            CapitalCostSelect, CategoryVehicleSelect, CountrySelect, FuelCitySelect,
            FuelMonthSelect, FuelYearSelect, LoadingPartial, PostalCodeInput,
            ProvinceSelect, ResaleConditionSelect, RetentionSelect, StateSelect,
            VehicleYearSelect, TerritoryTypeSelect,
            ZipCodeSelect,
        },

        data() {
            return {
                caller_id: 'reimbursementCalculator',
                parameters: null,
                calculatorErrors: new Errors,
                months: Months,
                /** array containing all selected territory objects, as we need their names,
                 * but territory_list is just that: a list of ids only.
                 */
                selectedTerritoryObjects: [],

                // store the whole vehicle so we have a name and whatnot
                selectedVehicle: null,

                // results of calculation
                results: null,

                // initialized to null to hide the box. box only shows if calculating or prior results exist
                calculating_reimbursement: null,

                // only set to true if a calculation went bad!
                errors_in_calculation: null,

                loaded_initial_values: false,

                downloading_doc: false,
            };
        },

        created() {
            axios.get('/getReimbursementCalculatorSession/' + this.getUserId).then( response => {
                this.parameters = response.data;
                // in the case where the user had no prior session
                this.parameters.user_id = this.getUserId;

                // by default set current year to the most recent calendar year for which we have vehicles
                axios.get('/getVehiclesYearRange').then( response => {
                    this.parameters.vehicle_year = response.data.max_year;
                });

                // grab the vehicle if id is not -1
                if (this.parameters.vehicle_id >= 1) {
                    axios.get('/getVehicle/' + this.parameters.vehicle_id).then( response => {
                        this.selectedVehicle = response.data.vehicle;
                    });
                }

                // initialize fuel year and month if not set
                if (!this.parameters.fuel_month_id) {
                    this.parameters.fuel_year = moment().year();

                    // this is in fact the PREVIOUS MONTH
                    this.parameters.fuel_month_id = moment().month();

                    // if we are in january, the previous month with full fuel prices is dec last year
                    if (this.parameters.fuel_month_id == 0) {
                        this.parameters.fuel_year -= 1;
                        this.parameters.fuel_month_id = 12;
                    }
                }

                // we do not care about the id, it will cause an error when we save / create a session record
                delete this.parameters.id;

            })
        },

        mounted() {
            /**
             * These event listeners are used when the multicity/multistate/multiprovince territory is selected.
             * It listens for an event carrying an object as its payload, and then pushes the object's
             * id into the parameters.territory_list. The whole object is pushed into selectedTerritoryObjects
             * so that we can easily access its name
             */
            EventBus.$on(this.caller_id + '-fuel-city-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-state-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-province-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-vehicle-object', (v) => this.selectedVehicle = v);
            EventBus.$on(this.caller_id + '-zip-postal-code-object', (code) => this.parameters.city_name = code.city_name);
            EventBus.$on(this.caller_id + '-resale-conditions-loaded', () => this.loaded_initial_values = true);
        },

        computed: {
            ...mapGetters([
                'getUserId',
            ]),

            /**
             *  If multi-state, or multi-city is selected for territory, we have a container which displays
             *  all selected items. This computed property returns the label for that display
             */
            multi_territory_label: function() {
                if (this.parameters.territory_type_id == 3) {
                    return 'Cities';
                } else {
                    if (this.parameters.country_id == 1) {
                        return 'States';
                    } else if (this.parameters.country_id == 2) {
                        return 'Provinces';
                    }
                }
            },

            tax_label: function(tax) {
                if (tax.title == 'Property Tax') {
                    return this.parameters.stateProvince.name + ', ' + this.parameters.vehicle_year;
                } else {
                    // this is capital cost tax
                    let label = 'Capital Cost, ' + this.parameters.stateProvince.name + ', ';
                    if (this.parameters.country_id == 1) {
                        label += this.parameters.county.name + ' County, ';
                    }
                    label += this.parameters.vehicle_year + ', ' + this.parameters.retention + ' Years';
                    return label;

                }
            },

            total_fixed_before_bup_and_adjustment: function() {
                return this.results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursement.amount;
            },

            total_fixed_with_bup_before_adjustment: function() {
                return this.results.fixedReimbursementData.fixedReimbursementDetails.fixedReimbursementWithBup.amount;
            },

            fixed_reimbursement_label: function() {
                let label = '';
                if (this.results.fixedReimbursementData.fixedReimbursementDetails.tax) {
                    label += this.results.fixedReimbursementData.fixedReimbursementDetails.tax.title;
                }
                if (this.results.fixedReimbursementData.fixedReimbursementDetails.depreciation) {
                    label += ' + ' + this.results.fixedReimbursementData.fixedReimbursementDetails.depreciation.title;
                }
                if (this.results.fixedReimbursementData.fixedReimbursementDetails.financeCost) {
                    label += ' + ' + this.results.fixedReimbursementData.fixedReimbursementDetails.financeCost.title;
                }
                if (this.results.fixedReimbursementData.fixedReimbursementDetails.insurance) {
                    label += ' + ' + this.results.fixedReimbursementData.fixedReimbursementDetails.insurance.title;
                }
                if (this.results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal) {
                    label += ' + ' + this.results.fixedReimbursementData.fixedReimbursementDetails.feeRenewal.title;
                }
                return label;
            },

            fuel_economy_label: function() {
                return this.parameters.country_id == 1 ? 'mpg' : 'l/100km';
            },

            fuel_average_label: function() {
                return this.results.variableReimbursementData.variableReimbursementDetails.fuelAverage.geo_list
                    + ' - based on '
                    + this.results.variableReimbursementData.variableReimbursementDetails.fuelAverage.count
                    + ' records from ' + this.months[this.parameters.fuel_month_id - 1].name
                    + ' ' + this.parameters.fuel_year;
            },

            fuel_label: function() {
                return this.parameters.country_id == 1 ? 'Fuel Average / EPA Performance * 100' : 'Fuel Average * EPA Performance';
            },

            maintenance_and_repairs_label: function() {
                return this.parameters.stateProvince.name + ', ' + this.parameters.retention + ' Years';
            }

        },

        filters: {
            capital_cost_filter: function(val) {
                return Common.formatCapitalCost(val);
            },

            resale_condition_filter: function(val) {
                return Common.getResaleCondition(val);
            },

            mileage_band_filter: function(val) {
                return Common.getMileageBand(val);
            },

            two_decimal_filter: function(val) {
                return Common.addCommaSeparator(Common.roundNumber(val, 2));
            },

        },

        watch: {
            'parameters': {
                handler: function(val) {
                    if (this.results) {
                        this.results = null;
                    }
                },
                deep: true
            },

            'parameters.state_province_id': {
                handler: function(val) {
                    if (!val) {
                        return;
                    }
                    this.getStateProvince();
                    this.calculatorErrors.clear('zip_postal_code');
                },
                deep: true,
                immediate: true,
            },

            'parameters.zip_postal_code': {
                handler: function(val) {
                    if (!val || this.parameters.country_id != 1) {
                        return;
                    }
                    this.getCounty();
                },
                deep: true,
            },

            'parameters.country_id': {
                handler: function(val) {
                    if (val == 2) {
                        this.parameters.service_plan = 'Canada';
                        if (!Common.isValidPostalCode(this.parameters.zip_postal_code)) {
                            this.parameters.zip_postal_code = '';
                        }
                    }
                },
                deep: true,
            },

            /**
             * If we switch to home city or home state, clear the selected multi territories
             */
            'parameters.territory_type_id': {
                handler: function(val) {
                    if (val == 1 || val == 2) {
                        this.selectedTerritoryObjects = [];
                        this.parameters.territory_list = null;
                    }
                }
            }
        },

        methods: {

            /** DRIVER LOCATION FUNCTIONS */
            getStateProvince() {
                axios.get('/getStateProvince/' + this.parameters.state_province_id).then( response => {
                    this.parameters.stateProvince = response.data.stateProvince;
                })
            },

            getCounty() {
                axios.get('/getCounty/' + this.parameters.zip_postal_code).then( response => {
                    this.parameters.county = response.data;
                })
            },

            /** TERRITORY FUNCTIONS */
            getSelectedTerritoryName(id) {
                let obj = this.selectedTerritoryObjects.find(function(x) { return x.id == id });
                // multicity
                if (this.parameters.territory_type_id == 3) {
                    return obj.name + ', ' + obj.state_province_short_name;
                    // multistate/province
                } else if (this.parameters.territory_type_id == 4) {
                    return obj.name;
                }
            },
            
            assignTerritory(territory) {
                console.log('here');
                // initialize the territory list if it is null
                if (Common.isEmpty(this.parameters.territory_list)) {
                    this.parameters.territory_list = [];
                }
                this.parameters.territory_list.push(territory.id);
                this.selectedTerritoryObjects.push(territory);

            },

            unassignTerritory(id) {
                this.selectedTerritoryObjects.splice(this.selectedTerritoryObjects.findIndex(x => x.id == id), 1);
                this.parameters.territory_list.splice(this.parameters.territory_list.indexOf(id), 1);
            },



            /** ERROR HANDLING */

            /**
             * Validate all paramters and add errors to calculatorErrors if they arise
             */
            validateParameters() {
                for (const key in this.parameters) {
                    let value = this.parameters[key];
                    switch (key) {
                        case 'business_use_percent':
                            if ((0 < value && value <= 100) && value != null) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Business use percent must be between 1 and 100']);
                            }
                            break;
                        case 'capital_cost':
                            if (value == 'invoice' || value == 'msrp' || value == 'blue_book') {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Capital cost type is required']);
                            }
                            break;
                        case 'city':
                            if (!_.isEmpty(value)) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['A city is required']);
                            }
                            break;
                        case 'company_name':
                            //TODO: discuss company name errors
                            if (true) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key);
                            }
                            break;

                        case 'country_id':
                            if (1 <= value && value <= 2) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Please select a country']);
                            }
                            break;

                        case 'driver_name':
                            //TODO: discuss driver name errors
                            if (true) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key);
                            }
                            break;

                        case 'mileage_band_id':
                            if (1 <= value && value <= 11) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Please select a mileage band']);
                            }
                            break;

                        case 'month':
                            if (1 <= value && value <= 12) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['A month is required']);
                            }
                            break;

                        case 'multicity':
                            if (this.parameters.territory == 'multicity') {

                                if (!_.isEmpty(value)) {
                                    this.calculatorErrors.clear(key);
                                } else if (this.parameters.country_id < 1) {
                                    this.calculatorErrors.add(key, ['You must select a country']);
                                } else {
                                    this.calculatorErrors.add(key, ['Invalid multicity selection']);
                                }
                            }
                            break;

                        case 'multistate':
                            if (this.parameters.territory == 'multistate') {
                                if (!_.isEmpty(value)) {
                                    this.calculatorErrors.clear(key);
                                } else if (this.parameters.country_id < 1) {
                                    this.calculatorErrors.add(key, ['You must select a country']);
                                } else {
                                    this.calculatorErrors.add(key, ['Invalid multistate selection']);
                                }
                            }
                            break;

                        case 'service_plan':
                            if (['FAVR', '463', 'Consulting', 'Canada'].includes(value)) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['A plan is required']);
                            }
                            break;

                        case 'retention':
                            if (2 <= value && value <= 6) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Retention must be between 2 and 6 years']);
                            }
                            break;

                        case 'territory':
                            if (!_.isEmpty(value)) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Invalid territory selection']);
                            }
                            break;

                        case 'value_condition':
                            if (!_.isEmpty(value)) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Invalid value condition']);
                            }
                            break;

                        case 'vehicle_year':
                            if (value) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['A vehicle year is required']);
                            }
                            break;
                        case 'vehicle_id':
                            if (value > 1) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['A vehicle is required'])
                            }
                            break;
                        case 'zip_postal_code': {
                            if (this.parameters.country_id == 1) {
                                // USA
                                if (Common.isValidZipCode(value)) {
                                    this.calculatorErrors.clear(key);
                                } else {
                                    this.calculatorErrors.add(key, ['Invalid zip code'])
                                }
                            } else {
                                // CANADA
                                if (Common.isValidPostalCode(value, this.parameters.state_province_id)) {
                                    this.calculatorErrors.clear(key);
                                } else {
                                    this.calculatorErrors.add(key, ['Invalid postal code, are you sure it is in ' + this.parameters.stateProvince.name + '?'])
                                }

                            }
                            break;
                        }
                        case 'capital_cost_adj':
                        case 'capital_cost_tax_adj':
                        case 'depreciation_adj':
                        case 'fee_renewal_adj':
                        case 'finance_cost_adj':
                        case 'fuel_economy_adj':
                        case 'fuel_price_adj':
                        case 'insurance_adj':
                        case 'maintenance_adj':
                        case 'monthly_payment_adj':
                        case 'repair_adj':
                        case 'resale_value_adj':
                            if (-100 <= value && value <= 100 && value != null) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Value must be between -100 and 100']);
                            }
                            break;
                        case 'fixed_adj':
                        case 'variable_adj':
                            if (0 <= value && value <= 10000 && value != null) {
                                this.calculatorErrors.clear(key);
                            } else {
                                this.calculatorErrors.add(key, ['Value must be between 0 and 10000']);
                            }
                            break;
                    }
                }
                this.$forceUpdate();
            },

            /** CALCULATE REIMBURSEMENT */
            calculateReimbursement() {
                this.validateParameters();
                if (this.calculatorErrors.any() ) {
                    return;
                }

                this.calculating_reimbursement = true;

                /**
                 * I reuse the same function as the rate selector because I can.
                 */
                axios.post('calculateReimbursementForRateSelector', {
                    parameters: this.parameters,
                    validate: true,
                    from_reimbursement_calculator: true,
                }).then( response => {
                    this.calculating_reimbursement = false;
                    this.results = response.data;
                    $('html, body').animate({
                        scrollTop: $("#resultsSection").offset().top
                    }, 1000);
                }).catch( errors => {
                    this.calculatorErrors.errors = errors.response.data;
                    this.calculating_reimbursement = false;
                });

            },


            generateExcel() {
                this.downloading_doc = true;
                axios.post('/generateRateSelectorExcel', {
                    parameters: this.parameters,
                }).then( response => {
                    let path_to_file = '/storage/tmp/' + response.data.file_name;
                    let a = document.createElement('A');
                    a.href = path_to_file;
                    a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    this.downloading_doc = false;
                })
            }
            
        }
    };
</script>

<style lang="scss">
    #reimbursementCalculator {
        table tr td:last-child {
            text-align: right;
        }

        .card {
            border: 1px solid #052460;
            box-shadow: none;
            overflow: hidden;
        }
        .card-header {
            box-shadow: none;
            background: #052460;
            color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
        .card-header[aria-expanded] {
            i {
                transition: all .3s;
            }
        }
        .card-header[aria-expanded=true] {
            i {
                transform: rotate(180deg);
            }
        }
        .card-body {
            background: #dadee7;
        }
    }
</style>