/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="testingReimbursementDriverId">
        <h2>Testing Reimbursement - By Driver Id</h2>
        <br>
        <div class="columns">
            <div class="column is-2">Driver ID</div>
            <div class="column is-2"><input v-model="user_id"></div>
            <div class="column is-3">
                <button class="btm" @click.prevent="calculateFixedReimbursement()">Calculate Reimbursement</button>
            </div>
        </div>
        <br>
        <div v-for="(r, index) in details" class="columns">
            <div class="column">{{index}}</div>
            <div class="column">{{r.label}}</div>
            <div class="column">{{r.amount | numberFormat}}
            </div>
        </div>
        <br><br>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                user_id:0,
                drivers:[],
                details:[]
            }
        },
        created()
        {
        },

        filters: {
            numberFormat: function( value ) {
                var n = parseFloat(value);
                return n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
            }
        },

        methods: {


            calculateFixedReimbursement(){

             // console.log('calculateFixedReimbursement for ' + this.user_id);
                axios.get('/calculateFixedReimbursementForDriver/'+this.user_id).then(response => {
                    this.drivers = response.data.drivers
                 // console.log("==============================================");
                 // console.log(response.data);
                    this.details = response.data.fixed_reimbursement_details;
                 // console.log("==============================================");
                });

            }
        },
    }

</script>

<style lang="css">

</style>



