/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="testingReimbursementYears">
        <h2>Testing Reimbursement - By Year {{year}}</h2>

        <div v-for="row in drivers" class="columns">
            <div class="column">{{row.company}}</div>
            <div class="column">{{row.last_name}}</div>
            <div class="column">{{row.first_name}}</div>
            <div class="column">{{row.fix_reimbursement}}</div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                year: 2009,
                drivers:[]
            }
        },
        created()
        {
            this.driversWithYearProfile();
        },

        methods: {
            driversWithYearProfile(){
                axios.get('/getDriversWithYearProfile/' + this.year).then(response => {
                    this.drivers = response.data.drivers
                 // console.log("==============================================")
                 // console.log(response.data);

                });

            }
        },
    }

</script>

<style lang="css">

</style>



