/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="testingReimbursement">
        <h2>Testing Reimbursement - Calculator</h2>
        <br>
        <h4>Reimbursement Input</h4>
        <br>

        <div class="columns">
            <div class="column is-4">
                <div :class="{'form-group': true}">
                    <label>Plan</label><br>
                    <label for="plan_463">463</label><input type="radio" id="plan_463" value="463" v-model="plan">&nbsp;&nbsp;&nbsp;
                    <label for="plan_FAVR">FAVR</label><input type="radio" id="plan_FAVR" value="favr" v-model="plan">
                </div>
            </div>
            <div class="column is-4">
                <div :class="{'form-group': true}">
                    <label>Fuel Year:</label>
                    <input type="text" v-model="year" class="form-control">
                </div>
            </div>
            <div class="column is-4">
                <label>Fuel Month:</label>
                <month-select :caller_id="caller_id"
                              :display="'long'"
                              :hide_label="true"
                              :selected_year="year"
                              v-model="month"/>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div :class="{'form-group': true}">
                    <label>Country:</label>
                    <select v-model="address.country_id" class="form-control">
                        <option value="1">USA</option>
                        <option v-if="plan == '463'" value="2">Canada</option>
                    </select>
                </div>
            </div>
            <div class="column is-4">
                <state-select v-if="address.country_id == 1" v-model="address.state_province_id"
                              :caller_id="caller_id"/>
                <province-select v-if="address.country_id == 2" v-model="address.state_province_id"
                                 :caller_id="caller_id"/>
            </div>

            <div class="column is-4">
                <zip-code-select v-if="address.country_id == 1" v-model="address.zip_postal"
                                 :state_id="address.state_province_id" :caller_id="caller_id"/>
                <postal-code-select v-if="address.country_id == 2 && lengthOfPostal()" v-model="address.zip_postal"
                                    :province_id="address.state_province_id" :caller_id="caller_id"/>
                <div v-if="address.country_id == 2 && ! lengthOfPostal()">
                    <label for="postalCodeInputField">Postal Code:</label>
                    <input v-model="address.zip_postal" id="postalCodeInputField" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <mileage-band-select v-model="mileage_band_id" :caller_id="caller_id"/>
            </div>
            <div class="column is-4">
                <territory-type-select v-model="territory_type_id" :caller_id="caller_id"/>
            </div>
            <div v-if="territory_type_id > 2">
                <label for="stateOrCityIdsInputField">State or City IDs:</label>
                <input v-model="territory_list" id="stateOrCityIdsInputField" class="form-control"/>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Vehicle Year:</label>
                <year-select :start_year="start_vehicle_year" v-model="vehicle_profile.year" :hide_label="true"/>
            </div>
            <div class="column is-4">
                <label for="vehiclesSelectInput">Vehicles:</label>
                <select v-model="vehicle_profile.vehicle_id" id="vehiclesSelectInput" class="form-control">
                    <option v-for="vehicle in vehicles" :value="vehicle.id">
                        {{vehicle.year}} {{ vehicle.name }} {{ vehicleRank(vehicle.rank) }}
                    </option>
                </select>
            </div>
            <div class="column is-4">
                <label>Capital Cost:</label>
                <capital-cost-select v-model="vehicle_profile.capital_cost" :country="address.country"
                                     :year="vehicle_profile.year"
                                     :service_plan="plan" :caller_id="caller_id"/>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <label>Resale Condition:</label>
                <resale-condition-select v-model="vehicle_profile.resale_condition_id" :country="address.country"
                                         :year="vehicle_profile.year" :caller_id="caller_id"/>
            </div>
            <div class="column is-4">
                <label for="retentionSelectInput">Retention: (years)</label>
                <select v-model="vehicle_profile.retention" id="retentionSelectInput" class="form-control">
                    <option v-for="row in retentions">{{row}}</option>
                </select>
            </div>
            <div class="column is-4">
                <label for="bupInputField">Business Use Percentage</label>
                <input v-model="vehicle_profile.business_use_percent" id="bupInputField" class="form-control"/>
            </div>
        </div>

        <div class="columns">
            <div class="column is-3">
                <a class="btn btn-secondary" @click.prevent="calculateFixedReimbursement()">Calculate Fixed
                    Reimbursement</a>
            </div>
        </div>


        <div v-for="rec in fix_reimbursement" class="columns">
            <div class="column">{{rec.title}}</div>
            <div class="column">{{rec.label}}</div>
            <div class="column">{{rec.amount | numberFormat }}</div>
        </div>

        <hr>

        <div v-for="rec in var_reimbursement" class="columns">
            <div class="column">{{rec.title}}</div>
            <div class="column">{{rec.label}}</div>
            <div class="column">{{rec.amount | numberFormat }}</div>
        </div>


        <br><br>
    </div>
</template>

<script>

    import {
        StateSelect,
        ProvinceSelect,
        MonthSelect,
        MileageBandSelect,
        CapitalCostSelect,
        ResaleConditionSelect,
        ZipCodeSelect,
        PostalCodeSelect,
        TerritoryTypeSelect,
        YearSelect
    } from "../partials";

    export default {

        components: {
            ProvinceSelect, StateSelect, MonthSelect, MileageBandSelect, TerritoryTypeSelect,
            CapitalCostSelect, ZipCodeSelect, PostalCodeSelect, ResaleConditionSelect, YearSelect
        },

        data() {
            return {
                loaded: false,
                plan: '463',
                year: 2017,
                month: 1,
                mileage_band_id: 6,
                territory_type_id: 1,
                territory_list: '',
                address: {'state_province_id': 15, 'country_id': 1, 'zip_postal': 60060},
                profile_adj: {'capital_cost': 0},
                vehicle_profile: {
                    'year': 2017, 'vehicle_id': null, 'capital_cost': 'msrp', 'vehicle': {},
                    'resale_condition_id': 3, 'retention': 4, 'business_use_percent': 71.4,
                    'calculate_fixed': 1, 'preset_fixed': 500.00, 'calculate_variable': 1, 'preset_variable': 12.23,
                    'capital_cost_adj': 0, 'fuel_economy_adj': 0, 'maintenance_adj': 0, 'repair_adj': 0,
                    'depreciation_adj': 0, 'insurance_adj': 0, 'fuel_price_adj': 0, 'resale_value_adj': 0,
                    'capital_cost_tax_adj': 0, 'monthly_payment_adj': 0, 'finance_cost_adj': 0, 'fee_renewal_adj': 0,
                    'fuel_economy_adj': 0, 'fixed_adj': 0, 'variable_adj': 0
                },
                vehicles: null,
                retentions: [3, 4, 5, 6],
                vehicleAddress: null,
                caller_id: 'testReimbursement',
                start_vehicle_year: 2009,

                fix_reimbursement: null,
                var_reimbursement: null,
            };
        },

        created() {
         // console.log('get Vehicles');
            this.vehicle_profile.adj = this.profile_adj;
            this.getVehiclesFromYearAndPlan(this.year);
        },

        watch: {
            plan: function (val) {
             // console.log('plan was changed to ' + val);
                if (val == 'favr') {
                    if (this.address.country_id == 2) {
                        this.address.country_id = 1;
                    }

                    this.start_vehicle_year = 2013;
                    this.vehicle_profile.capital_cost = 'invoice';
                } else {
                    this.vehicle_profile.capital_cost = 'msrp';
                    this.start_vehicle_year = 2010;
                }
                this.address.zip_postal_code = null;
                this.getVehiclesFromYearAndPlan(this.vehicle_profile.year);
            },

            retention: function (val) {
                this.vehicle_profile.retention = val;
            },

            'address.country_id': {
                handler: function (val) {
                    this.address.zip_postal = '';
                    if (val == 2) {
                        this.start_vehicle_year = 2010;
                        if (this.vehicle_profile.year == 2009) this.vehicle_profile.year = 2010;
                        if (this.vehicle_profile.year == 2011) this.vehicle_profile.year = 2012;

                    } else {
                        this.start_vehicle_year = 2009;
                    }
                },
                deep: true
            },

            'address.state_province_id': {
                handler: function (val) {
                 // console.log('clearing zip');
                    this.address.zip_postal = '';
                 // console.log('done');
                },
                deep: true
            },

            'vehicle_profile.year': {
                handler: function (val) {
                    if (val == 2011 && this.address.country_id == 2) {
                        val = 2012;
                        this.vehicle_profile.year = val;
                    }
                    this.getVehiclesFromYearAndPlan(val);
                },
                deep: true
            },

            'vehicle_profile.vehicle_id': {
                handler: function (val) {
                    if (val > 0) {
                        this.getVehicle(val);
                    }
                }
            }
        },

        computed: {
            state_label: function () {
                return this.address.country_id == 1 ? 'State' : 'Province';
            },
            zip_label: function () {
                return this.address.country_id == 1 ? 'Zip Code' : 'Postal Code';
            },
        },

        filters: {
            numberFormat: function (value) {
                var n = parseFloat(value);
                return n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
            }
        },

        methods: {
            getVehiclesFromYearAndPlan(year) {
                this.vehicles = null;
             // console.log('/getVehiclesFromYearAndPlan/' + year + '/' + this.plan);
                axios.get('/getVehiclesFromYearAndPlan/' + this.vehicle_profile.year + '/' + this.plan).then(response => {
                    this.vehicles = response.data.vehicles;
                 // console.log(response.data);
                });
            },

            getVehicle(id) {
             // console.log('getVehicle for id = ' + id);
                axios.get('/getVehicle/' + id).then(response => {
                 // console.log(response.data.vehicle);
                    this.vehicle_profile.vehicle = response.data.vehicle;
                 // console.log('Now vehicle profile is ');
                 // console.log(this.vehicle_profile);

                });
            },

            calculateFixedReimbursement() {
                this.fix_reimbursement = [];
                this.var_reimbursement = [];
                let geo_data = {
                    'year': this.year, 'month': this.month, 'plan': this.plan,
                    'mileage_band_id': this.mileage_band_id, 'address': this.address,
                    'territory_type_id': this.territory_type_id, 'territory_list': this.territory_list
                };
                let reimb_data = {'geo_data': geo_data, 'vehicle_profile': this.vehicle_profile};
             // console.log('Data for Reimbursement');
             // console.log(reimb_data);

                axios.post('/calculateReimbursement', {'data': reimb_data}).then(response => {

                 // console.log(response.data);

                    this.fix_reimbursement = response.data.fixed_reimbursement_details;
                 // console.log('=============== FIX =====================');
                 // console.log(response.data.fixed_reimbursement_details);

                    this.var_reimbursement = response.data.variable_reimbursement_details;
                 // console.log('=============== VAR ====================');
                 // console.log(response.data.variable_reimbursement_details);
                });
            },

            vehicleRank(rank) {
                return rank > 0 ? '[' + rank + ']' : null;
            },

            lengthOfPostal() {
                let val = this.address.zip_postal;
                return val != null && val.length >= 3 ? true : false;
            }
        }

    };
</script>

<style lang="css">

</style>



