<template lang="html">
    <div id="annualTaxAdjustment">
        <h3>Summary of Quarterly Tax Adjustments</h3>
        <br>

        <!--<button class="btn btn-secondary" @click="get_report_data">Generate Report</button>-->

        <div v-if="waiting"><loading-partial/></div>

        <div v-if="adjustments && getSessionCompanyId >= 0">
            <div class="mb-3">This report includes all active and inactive drivers. Found {{found_rows}} records</div>

            <div class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr>
                        <th colspan="5">Driver</th>
                        <th colspan="5">Tax Calculation</th>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Empl. #</th>
                        <th>Division</th>
                        <th class="text-right">Mileage</th>
                        <th class="text-right">Fix Reimb.</th>
                        <th class="text-right">Var Reimb.</th>
                        <th class="text-right">Reimbursement</th>
                        <th class="text-right">Non-Taxable Limit</th>
                        <th class="text-right">Taxable Income</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in adjustments">
                        <td>{{row.last_name}}</td>
                        <td>{{row.first_name}}</td>
                        <td>{{row.employee_number}}</td>
                        <td>{{row.division}}</td>
                        <td class="text-right">{{row.mileage}}</td>
                        <td class="text-right">{{row.fixed_reimbursement | formatPrice}}</td>
                        <td class="text-right">{{row.variable_reimbursement | formatPrice}}</td>
                        <td class="text-right">{{row.reimbursement | formatPrice}}</td>
                        <td class="text-right">{{row.limit | formatPrice}}</td>
                        <td class="text-right">{{row.taxable | formatPrice}}</td>
                    </tr>
                    <tr v-if="totals">
                        <th>TOTALS</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="text-right">{{totals.mileage}}</th>
                        <th class="text-right">{{totals.fixed_reimbursement | formatPrice}}</th>
                        <th class="text-right">{{totals.variable_reimbursement | formatPrice}}</th>
                        <th class="text-right">{{totals.reimbursement | formatPrice}}</th>
                        <th class="text-right">{{totals.limit | formatPrice}}</th>
                        <th class="text-right">{{totals.taxable | formatPrice}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-else class="alert alert-warning" role="alert">
            Please select a company above.
        </div>

    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";


    export default {

        props: [],

        components: {LoadingPartial},

        data() {
            return {
                caller_id: 'AnnualTaxAdjustment',
                start_year: null,
                end_year: null,
                adjustments: null,
                totals: null,
                found_rows: 0,
                waiting: false,
            };
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionCountryId',
                'getSessionYear',
                'getDriverMileageEntryMethod'
            ])
        },


        created() {
        },

        mounted() {
            Common.storeCommit('updateCompanyUsesQuarterlyTaxAdjustment', true);
            this.get_report_data();
            // to selected only companies involved in taxes
            //EventBus.$emit('reset-companies');

            // all of this will be replaced by Generate Report button
            EventBus.$on('year-changed', this.get_report_data);
            EventBus.$on('company-changed', this.get_report_data);
            EventBus.$on('division-changed', this.get_report_data);
            //this.get_report_data();

        },

        filters: {
            formatPrice(value) {
                let val = (value/1).toFixed(2)
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            formatMileage(value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        },

        beforeDestroy() {
            Common.storeCommit('updateCompanyUsesQuarterlyTaxAdjustment', false);
            // back to select all companies
            //EventBus.$emit('reset-companies');
        },

        methods: {

            get_report_data() {
                if (this.getSessionCompanyId > 0 ) {
                    console.log('hit')
                    this.waiting = true
                    // console.log('FIND reimbursement years for company ' + this.getSessionCompanyId);
                    axios.post('/getCompanyReimbursementYearSpan', {'company_id': this.getSessionCompanyId}).then(response => {
                        this.waiting = false
                        this.start_year = response.data.startYear;
                        this.end_year = response.data.endYear;

                        this.getTaxAdjustmentReport();

                    });
                }
            },

            getTaxAdjustmentReport() {
                this.adjustments = null;
                this.totals = null;
                if( this.getSessionYear > 0 && this.getSessionCompanyId > 0 ) {
                    let data = {
                        'country_id': this.getSessionCountryId,
                        'company_id': this.getSessionCompanyId,
                        'division_id': this.getSessionDivisionId,
                        'year': this.getSessionYear,
                        'mileage_entry_type': this.getDriverMileageEntryMethod
                    };
                    axios.post('/getCompanyAnnualTax', data).then(response => {
                        this.adjustments = response.data.results;
                        this.totals = response.data.totals;
                        this.found_rows = this.adjustments.length;
                    });
                }
            }
        }
    };

</script>


<style lang="css">

</style>

