<template lang='html'>

    <div id="getTaxAdjustment">

        <span v-html="info_message"></span>

        <div class="alert alert-warning" v-if="message">{{message}}</div>

        <div v-if=tax_details>

            <div v-if="tax_details" class="table-responsive table-responsive-bordered mt-3 mb-4">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                        <th>Quarter</th>
                        <th class="text-right">Business Mileage</th>
                        <th class="text-right">Reimbursement</th>
                        <th class="text-right">Non-Taxable Limit</th>
                        <th class="text-right">Taxable Income</th>
                    </thead>
                    <tbody>

                    <tr v-for="(value,key) in tax_details">
                        <td>{{key}}</td>
                        <td class="text-right">{{value.mileage}}</td>
                        <td class="text-right">{{value.reimbursement}}</td>
                        <td class="text-right">{{value.non_taxable}}</td>
                        <td class="text-right">{{value.taxable}}</td>
                    </tr>

                    <tr v-for="(value,key) in tax_summary">
                        <th>{{key}}</th>
                        <th class="text-right">{{value.mileage}}</th>
                        <th class="text-right">{{value.reimbursement}}</th>
                        <th class="text-right">{{value.non_taxable}}</th>
                        <th class="text-right">{{value.taxable}}</th>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>


</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    // import GetTaxAdjustment from './GetTaxAdjustment.vue';


    export default {


        // components: {GetTaxAdjustment},

        data() {
            return {
                info_message: null,
                tax_details: null,
                tax_summary: null,
                message: null
            };
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getCompanyId',
                'getCompanyPlan',
                'getCountryId',
                'getSessionYear',
                'getDriverMileageEntryMethod'
            ]),
            usa_country_id: function() {
                return Constants.USA;
            },
            canada_country_id: function() {
                return Constants.CANADA;
            },
        },

        created() {
        },

        mounted() {
            EventBus.$on('year-changed', this.calculateTaxAdjustments);
            EventBus.$on('company-changed', this.calculateTaxAdjustments);
            this.calculateTaxAdjustments();
        },

        methods: {
            calculateTaxAdjustments() {
             // console.log('calling getQuarterlyTaxForDriver for C=' + this.getCompanyId + ' Y=' + this.getSessionYear);

                let data = {
                    'user_id': this.getUserId,
                    'company_id': this.getCompanyId,
                    'mileage_entry_type': this.getDriverMileageEntryMethod,
                    'year': this.getSessionYear,
                    'show_columns': [1,2,5,6,7],
                    'selected_quarter': -1,  // all quarters
                    'message': null

                };

             // console.log("Compare countries " + this.getCountryId + ' with ' + this.usa_country_id);


                let method = '';
                    if( this.getCountryId == this.usa_country_id) {
                    if( this.getCompanyPlan == '463') {
                        method = '/getDriverAllQuartersTax463';
                    } else if ( this.getCompanyPlan == 'FAVR') {
                        if( this.getCompanyId == Constants.WM_USA) {
                            method = '/getDriverAllQuartersTaxWM';
                        } else {
                            method = '/getDriverAllQuartersTaxFAVR';
                        }
                    }
                } else {
                    method = '/getDriverAllQuartersTaxCanada';
                }

                console.log("POST " + method);
                axios.post( method, data ).then(response => {

                    this.getInfoMessage(response.data);
                 // console.log(response.data);
                    this.tax_details = response.data.tax_details;
                    this.tax_summary = response.data.tax_summary;
                    this.message = response.data.messsage;
                    console.log('summary:',this.tax_summary);
                });
            },

            getInfoMessage(data) {
                if( this.getCountryId == this.usa_country_id ) {  // US
                    this.info_message = 'The IRS requires a test of your business mileage to the IRS rate.  Amounts above the IRS rate are deemed taxable. This is tabulated quarterly and each quarter is a stand alone period. Please review the report below for any amounts affecting your tax position.';
                } else {
                    this.info_message = 'The Canada Revenue Agency requires a test of your business mileage to the CRA rate.  Amounts above the CRA rate are deemed taxable. This is tabulated quarterly and each quarter is a stand alone period. Please review the report below for any amounts affecting your tax position.';
                }
                this.info_message = this.info_message + "<ul style='list-style-type:circle; margin-left: 20px;'><br><li>Since payments are made in arrears, the quarters are calculated as follows:</li></ul>";
                this.info_message = this.info_message + "<ul style='list-style-type:square; margin-left: 20px;'>";
                for( let i=0; i<data.quarter_month_info.length; i++){
                    this.info_message = this.info_message + '<li>' + data.quarter_month_info[i] + '</li>';
                }
                this.info_message = this.info_message + "</ul><br>";
                this.info_message = this.info_message + 'NOTE: Mileage from months where driver is not reimbursed are excluded from totals.';

            }
        }
    };
</script>

<style lang='css'>

</style>