/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="administratorAddManyDrivers">
        <h2>Add Many Drivers</h2>
        <section v-if="loaded">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <p>
                        The download link provides the add many drivers excel template.
                        In order to add many drivers, CarData needs specific information
                        regarding each user.
                    </p>
                        <ul>
                            <li>
                                1. First Name, Last Name, Email, Street, City, {{state_or_province}}, {{zip_or_postal}},
                                    and country are all required.
                            </li>

                            <br>

                            <li>
                                2. For addresses within the united states use US for country. For addresses within Canada
                                    use CA.
                            </li>

                            <br>

                            <li>

                                3. Division, Vehicle Profile, Annual Mileage and Territory are required and must be one of the following selections:
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>Divisions</strong>
                                            <ul>
                                                <li v-for="(division, key) in divisions">
                                                    {{ division.name }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-3">
                                            <strong>Vehicle Profiles</strong>
                                            <ul>
                                                <li v-for="(vehicleProfile, key) in vehicleProfiles">
                                                    {{ vehicleProfile }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-3">
                                            <strong>Annual Mileage</strong>
                                            <ul>
                                                <li v-for="(mileageBand, key) in mileageBands">
                                                    {{ mileageBand }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-3">
                                            <strong>Territory</strong>
                                            <ul>
                                                <li>Home City</li>
                                                <li>Home {{state_or_province}}</li>
                                                <li>Multi {{state_or_province}}</li>
                                            </ul>
                                        </div>
                                    </div>
                            </li>

                            <br>

                            <li>
                                5. If Multi {{state_or_province}} is selected, Territory List must be filled by
                                comma separated {{state_or_province}} abbreviations.
                                <em v-if="getSessionCountryId == 1">Ex. NY,IL,MI</em>
                                <em v-else>Ex. BC,AB,ON</em>
                            </li>
                        </ul>

                </div>
                <div class="col-lg-4 col-sm-12">
                    <h5>Template</h5>
                    <div v-if="getSessionCountryId == 1 && templateFiles">
                        <a :href="templateFiles.us_template" target="_blank"
                           @click.prevent="downloadTemplate(templateFiles.us_template)">
                            Download Excel Template - US</a>
                    </div>
                    <div v-else-if="getSessionCountryId == 2 && templateFiles">
                        <a :href="templateFiles.ca_template" target="_blank"
                           @click.prevent="downloadTemplate(templateFiles.ca_template)">
                            Download Excel Template - CA
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <loading-partial v-show="!loaded"/>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "../partials/LoadingPartial";

    export default {
        props: [],

        components: {LoadingPartial},

        data() {
            return {
                templateFiles: null,
                loaded: false,

                divisions: null,
                vehicleProfiles: null,
                mileageBands: null,
            };
        },

        created() {
            this.getCompanyData();
            this.getTemplates();
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCountryId',
                'getSessionCompanyId',
            ]),

            state_or_province: function() {
                return this.getSessionCountryId == 1 ? 'State' : 'Province';
            },

            zip_or_postal: function() {
                return (this.getSessionCountryId == 1 ? 'Zip' : 'Postal') + ' Code';
            },
        },

        watch: {

        },

        methods: {
            getTemplates() {
                axios.get('/getTemplates/' + 'add-many-drivers').then( response => {
                    this.templateFiles = response.data.files.length == 0 ? null : response.data.files;
                });
            },

            downloadTemplate(filename) {
                let path_to_file = '/storage/tmp/' + filename;
                let a = document.createElement('A');
                a.href = path_to_file;
                a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            },

            getCompanyData() {
                axios.get('/getDataForAdministratorAddManyDrivers/' + this.getSessionCompanyId).then( response => {
                    this.divisions = response.data.divisions;
                    this.vehicleProfiles = response.data.vehicleProfiles;
                    this.mileageBands = response.data.mileageBands;
                    this.loaded = true;
                })
            },

        }
    };
</script>

<style lang="css">

</style>