/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

This is the page that administrators use for viewing vehicle profiles.
It is different from the standard vehicle profiles view that the super sees.
There are no actions associated with it.


*/
<template lang="html">
    <div id="administratorVehicleProfiles">
        <h2>Vehicle Profiles</h2>

        <transition name="fade5s">
            <section v-show="selectedVehicleProfile && selectedVehicleProfile.id > 0">
                <!--Read only is set to true to disable any edits by the admin-->
                <add-edit-vehicle-profile-page :vehicleProfileProp="selectedVehicleProfile"
                                               :read_only="true"/>
            </section>
        </transition>

        <transition name="fade5s">
            <section v-if="!selectedVehicleProfile || selectedVehicleProfile.id < 1">
                <em>Please select a vehicle profile...</em>
            </section>
        </transition>

    </div>
</template>

<script>

    import {VehicleProfileSelect} from '../partials';
    import {AddEditVehicleProfilePage} from '../company';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {AddEditVehicleProfilePage, VehicleProfileSelect},

        data() {
            return {
                /**
                 * Create a fairly simple but empty vehicle profile object.
                 * Do not simply use id's or the add-edit-vehicle-profile-page will break
                 */
                selectedVehicleProfile: {
                    id: -1,
                    vehicle: {
                        year: -1,
                    }
                },
            };
        },

        created() {
            /**
             * Register the event listener to get the new vehicle profile when the select has changed
             */
            EventBus.$on('session-vehicle-profile-changed', this.getVehicleProfile);
        },

        beforeDestroy() {
            /**
             * TURN OFF the event listener to get the new vehicle profile when the select has changed
             */
            EventBus.$off('session-vehicle-profile-changed', this.getVehicleProfile);
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionVehicleProfileId'
            ])
        },

        watch: {
            selectedVehicleProfile: function (val) {
                console.log('watch selectedVehicleProfile in AdminVehicleProfiles', val);
            }
        },

        methods: {
            getVehicleProfile() {
                axios.get('/getVehicleProfile/' + this.getSessionVehicleProfileId)
                    .then( response => {
                        this.selectedVehicleProfile = _.cloneDeep(response.data.vehicleProfile);
                    });
            }
        }
    };
</script>

<style lang="css">

</style>