/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="administratorCompanyProfile">
        <section v-if="loaded">
            <edit-company-page :company="this.company"></edit-company-page>

        </section>

        <loading-partial v-show="!loaded"/>

    </div>
</template>

<script>
    import {LoadingPartial} from '../partials';
    import {EditCompanyPage} from '../company';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {EditCompanyPage, LoadingPartial},

        data() {
            return {
                loaded: false,
                company: null,
            };
        },

        created() {

        },

        mounted() {
            this.getCompany();
        },

        computed: {
            ...mapGetters([
                'getSubView',
                'getSessionCompanyId',
                'getSessionCompanyName',
                'getSessionCompanies'
            ])
        },

        watch: {

        },

        methods: {
            getCompany() {
                this.loaded = false;
                axios.get('/getCompany/' + this.getSessionCompanyId).then(response => {
                    this.company = response.data.company;
                    this.loaded = true;
                });
            }
        }
    };
</script>

<style lang="css">

</style>