<template lang="html">
    <div id="administratorProfile">
        <div class="columns">
            <div class="column">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" :value="user.first_name + ' ' + user.last_name" disabled>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" class="form-control" :value="profile.company_name" disabled>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" :value="user.email" :disabled="!editMode">
                </div>
            </div>
            <div class="column">
                <driver-select/>
            </div>
        </div>

        <div class="columns">
            <div :class="{'column':true, 'is-3 is-offset-9':editMode, 'is-2 is-offset-10':!editMode}">
                <button class="btn btn-secondary float-right" v-if="!editMode" @click="editMode = true">Edit</button>
                <div v-else>
                    <button class="btn btn-primary float-left" @click="saveChanges">Save</button>
                    <button class="btn is-danger float-right" @click="editMode = false">Cancel</button>
                </div>
            </div>
        </div>

        <change-password/>

    </div>
</template>


<script>
    import {DriverSelect} from "../partials";
    import {ChangePassword} from "../user";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {ChangePassword, DriverSelect},

        props: ['user', 'profile'],

        data() {
            return {
                editMode: false

            };
        },

        created() {
            // EventBus.$on('driver-changed', () => {
            //
            // });
        },

        watch: {
            profile: function (val) {

            }
        },

        methods: {
            saveChanges() {

                this.editMode = false;
                // TODO: save stuff
            }
        }

    };
</script>

<style lang="css">

</style>