/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="administratorReimbursementCalculator">
        <h2>Reimbursement Calculator</h2>

        <hr class="mb-2">


        <section v-show="loaded">
            <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Driver:</span>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="driver_name">Driver Name</label>
                        <input type="text" class="form-control form-control-sm" id="driver_name" placeholder="(Optional)"
                               v-model="parameters.driver_name">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="driver_name">Company</label>
                        <input type="text" class="form-control form-control-sm" id="company_name"
                               :value="getCompanyName" disabled>
                    </div>
                </div>


            </div>

            <hr class="m-0 mb-1">

            <!--LOCATION-->
            <section id="territorySection">
                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Territory:</span>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="country_name">Country</label>
                            <input type="text" class="form-control form-control-sm" id="country_name"
                                   :value="country_name" disabled>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div :class="{'form-group': true, 'active has-error': calculatorErrors.has('state_province_id')}">
                            <state-select v-if="parameters.country_id == 1"
                                          v-model="parameters.state_province_id"/>
                            <province-select v-else-if="parameters.country_id == 2"
                                             v-model="parameters.state_province_id"/>
                            <span class="help-block" v-if="calculatorErrors.has('state_province_id')">{{ calculatorErrors.get('state_province_id') }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div :class="{'form-group': true, 'active has-error': calculatorErrors.has('zip_postal')}">
                            <label for="zip_postal">{{ zip_postal_label }}</label>
                            <input type="text" class="form-control form-control-sm" id="zip_postal"
                                   v-model="parameters.zip_postal">
                            <span class="help-block" v-if="calculatorErrors.has('zip_postal')">{{ calculatorErrors.get('zip_postal') }}</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div :class="{'form-group': true, 'active has-error': calculatorErrors.has('territory_type_id')}">
                            <territory-type-select :country_id="parameters.country_id"
                                                   :hide_default_option="true"
                                                   v-model="parameters.territory_type_id"/>
                            <span class="help-block" v-if="calculatorErrors.has('territory_type_id')">{{ calculatorErrors.get('territory_type_id') }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" v-if="parameters.territory_type_id == 3 || parameters.territory_type_id == 4">
                        <fuel-city-select v-if="parameters.territory_type_id == 3"
                                          :country_id="parameters.country_id"
                                          :emit_object="true"
                                          :caller_id="caller_id"
                                          v-model="parameters.multicity"/>

                        <section v-if="parameters.territory_type_id == 4">
                            <state-select v-if="parameters.country_id == 1"
                                          :caller_id="caller_id"
                                          :emit_object="true"/>
                            <province-select v-if="parameters.country_id == 2"
                                             :caller_id="caller_id"
                                             :emit_object="true"/>
                        </section>
                    </div>

                    <div class="col-sm-6" v-if="parameters.territory_type_id == 3 || parameters.territory_type_id == 4">
                        <div :class="{'form-group': true, 'active has-error': calculatorErrors.has('territory_list')}">
                            <label>Selected {{ multi_territory_label }}</label>
                            <div class="box active p-1">
                                <div style="display: inline-block;">
                                <span v-for="territory_id in parameters.territory_list"
                                      class="tag btn-secondary"
                                      style="margin: 0.25rem;">
                                    {{ getSelectedTerritoryName(territory_id) }}
                                    <button class="delete is-small" @click.prevent="unassignTerritory(territory_id)"></button>
                                </span>
                                </div>
                                <span v-if="calculatorErrors.has('territory_list')" class="has-error">{{ calculatorErrors.get('territory_list') }}</span>
                            </div>
                        </div>
                    </div>
                </div><!--row-->
            </section>

            <hr class="m-0 mb-1">

            <!--VEHICLE-->
            <section id="vehicleSection">
                <span class="mb-2 d-block" style="font-size: 20px; font-weight: bold; color: #052460;">Vehicle:</span>

                <div class="row">
                    <div class="col-sm-6">
                        <div :class="{'form-group':true, 'has-error': calculatorErrors.has('vehicle_profile_id')}">
                            <vehicle-profile-select :session_company_id="getSessionCompanyId"
                                                    :caller_id="caller_id"
                                                    :hide_inactive="true"/>
                            <span class="help-block" v-if="calculatorErrors.has('vehicle_profile_id')">{{ calculatorErrors.get('vehicle_profile_id') }}</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div :class="{'form-group':true, 'has-error': calculatorErrors.has('mileage_band_id')}">
                            <mileage-band-select v-model="parameters.mileage_band_id"
                                                 :initial_id="6"
                                                 :caller_id="caller_id"/>
                            <span class="help-block" v-if="calculatorErrors.has('mileage_band_id')">{{ calculatorErrors.get('mileage_band_id') }}</span>
                        </div>
                    </div>
                </div>

            </section>

            <div class="row" style="margin-bottom: 1rem;">
                <div class="col-4 offset-4">
                    <loading-partial class="text-center" v-show="calculating_reimbursement"/>
                </div>
                <div class="col-4 clearfix">
                    <button class="btn btn-primary float-right"
                            :disabled="calculating_reimbursement"
                            @click="calculateReimbursement()">Calculate</button>
                </div>
            </div>
        </section>


        <transition name="fade5s">
            <section v-if="show_results">
                <div class="row">
                    <div class="col-4">
                        Mileage Band <br>
                        <h5>
                            {{ parameters.mileage_band_id | mileage_band_filter }}
                        </h5>
                    </div>
                    <div class="col-4">
                        Fixed Rate <br>
                        <h5>
                            ${{ fixed_rate | two_decimal_filter }}
                        </h5>
                    </div>
                    <div class="col-4">
                        Variable Rate <br>
                        <h5>
                            {{ variable_rate | two_decimal_filter }} {{ variable_rate_units }}
                        </h5>
                    </div>
                </div>

                <div>
                    <em>
                        {{ variable_rate_units }} calculation based on an average fuel cost of ${{ fuel_average | two_decimal_filter}} in
                        {{ previous_month_name }}, {{ previous_month_year }}
                    </em>
                </div>

                <div class="row" style="margin-top: 1rem;">
                    <div class="col-4 offset-4 text-center">
                        <loading-partial v-show="downloading_doc"/>
                    </div>
                    <div class="col-4 clearfix">
                        <button class="btn btn-primary float-right" @click="generateExcel()" :disabled="downloading_doc">
                            Generate Excel
                        </button>
                    </div>
                </div>
            </section>
        </transition>



        <loading-partial v-show="!loaded"/>

    </div>
</template>

<script>

    import {
        CountrySelect,
        StateSelect,
        ProvinceSelect,
        TerritoryTypeSelect,
        FuelCitySelect,
        VehicleProfileSelect,
        MileageBandSelect,
        LoadingPartial

    } from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import Errors from '../../utilities/Errors';
    import moment from 'moment';

    export default {
        props: [],

        components: {
            CountrySelect,
            StateSelect,
            ProvinceSelect,
            TerritoryTypeSelect,
            FuelCitySelect,
            VehicleProfileSelect,
            MileageBandSelect,
            LoadingPartial

        },

        data() {
            return {
                loaded: false,
                caller_id: 'administratorReimbursementCalculator',
                parameters: {
                    country_id : -1,
                    state_province_id: -1,
                    zip_postal: '',
                    territory_type_id: 1,
                    territory_list: [],
                    vehicle_profile_id: -1,
                    mileage_band_id: -1,
                    service_plan: '',
                    driver_name: '',
                },

                selectedTerritoryObjects: [],

                // results
                fixed_rate: 0,
                variable_rate: 0,
                fuel_average: 0,

                previous_month: moment().subtract(1, 'month').startOf('month'),

                calculatorErrors: new Errors,

                calculating_reimbursement: false,
                show_results: false,
                downloading_doc: false,
            };
        },

        created() {

        },

        mounted() {
            EventBus.$on(this.caller_id + '-fuel-city-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-state-object', this.assignTerritory);
            EventBus.$on(this.caller_id + '-province-object', this.assignTerritory);
            EventBus.$on('session-vehicle-profile-changed', () => {
                this.parameters.vehicle_profile_id = this.getSessionVehicleProfileId;
            });
        },

        computed: {
            ...mapGetters([
                'getCompanyName',
                'getSessionCompanies',
                'getSessionCompanyId',
                'getSessionCountryId',
                'getSessionVehicleProfileId'
            ]),

            zip_postal_label: function(val) {
                if (this.getSessionCountryId == 1) {
                    return 'Zip Code';
                } else if (this.getSessionCountryId == 2) {
                    return 'Postal Code';
                }
                return '';
            },

            country_name: function(val) {
                if (this.getSessionCountryId == 1) {
                    return 'United States';
                } else if (this.getSessionCountryId == 2) {
                    return 'Canada';
                }
                return '';
            },

            /**
             *  If multi-state, or multi-city is selected for territory, we have a container which displays
             *  all selected items. This computed property returns the label for that display
             */
            multi_territory_label: function() {
                if (this.parameters.territory_type_id == 3) {
                    return 'Cities';
                } else {
                    if (this.parameters.country_id == 1) {
                        return 'States';
                    } else if (this.parameters.country_id == 2) {
                        return 'Provinces';
                    }
                }
            },

            variable_rate_units: function() {
                return '¢/' + (this.parameters.country_id == 1 ? 'mile' : 'km');
            },

            previous_month_name: function() {
                return this.previous_month.format('MMMM')
            },

            previous_month_year: function() {
                return this.previous_month.format('YYYY');
            }
        },

        filters: {
            mileage_band_filter: function(val) {
                return Common.getMileageBand(val);
            },

            two_decimal_filter: function(val) {
                return Common.addCommaSeparator(Common.roundNumber(val, 2));
            },

        },

        watch: {
            getSessionCountryId: {
                handler: function(val) {
                    this.parameters.country_id = val;
                },
                immediate: true
            },

            getSessionCompanyId: {
                handler: function(val) {
                    if (val > 0) {
                        this.parameters.service_plan = this.getSessionCompanies.find( c => { return c.id == val }).service_plan;
                    }
                },
                immediate: true,
            },

            /**
             * After calculation, when parameters are changed clear out the old results
             */
            parameters: {
                handler: function(val) {
                    this.show_results = false;
                },
                deep: true
            },

            /**
             * Hokey way to determine if loaded but it works as mileage band is loaded last to default
             */
            'parameters.mileage_band_id': {
                handler: function(val) {
                    console.log()
                    if (val > 0) {
                        this.loaded = true;
                    }
                    this.calculatorErrors.clear('mileage_band_id');
                },
                deep: true,
                immediate: true,
            },


            // VALIDATION - simple so im doing it here
            'parameters.vehicle_profile_id': function() {
                this.calculatorErrors.clear('vehicle_profile_id');
            },

            'parameters.state_province_id': function() {
                this.calculatorErrors.clear('state_province_id');
            },

            'parameters.zip_postal': function() {
                this.calculatorErrors.clear('zip_postal');
            },

            'parameters.territory_type_id': function() {
                this.calculatorErrors.clear('territory_type_id');
            },

            'parameters.territory_list': function() {
                this.calculatorErrors.clear('territory_list');
            },


        },

        methods: {

            /** TERRITORY FUNCTIONS */
            getSelectedTerritoryName(id) {
                let obj = this.selectedTerritoryObjects.find(function(x) { return x.id == id });
                // multicity
                if (this.parameters.territory_type_id == 3) {
                    return obj.name + ', ' + obj.state_province_short_name;
                    // multistate/province
                } else if (this.parameters.territory_type_id == 4) {
                    return obj.name;
                }
            },

            assignTerritory(territory) {
                // initialize the territory list if it is null
                if (Common.isEmpty(this.parameters.territory_list)) {
                    this.parameters.territory_list = [];
                }
                this.parameters.territory_list.push(territory.id);
                this.selectedTerritoryObjects.push(territory);

            },

            unassignTerritory(id) {
                this.selectedTerritoryObjects.splice(this.selectedTerritoryObjects.findIndex(x => x.id == id), 1);
                this.parameters.territory_list.splice(this.parameters.territory_list.indexOf(id), 1);
            },


            /** REIMBURSEMENT */
            calculateReimbursement() {
                this.show_results = false;
                this.calculating_reimbursement = true;

                axios.post('calculateReimbursementForAdministrator', {
                    parameters: this.parameters
                }).then( response => {
                    this.fixed_rate = response.data.fixed_rate;
                    this.variable_rate = response.data.variable_rate;
                    this.fuel_average = response.data.fuel_average;
                    this.show_results = true;
                    this.calculating_reimbursement = false;
                }).catch( errors => {
                    this.calculatorErrors.errors = errors.response.data;
                    this.calculating_reimbursement = false;
                });
            },

            generateExcel() {
                this.downloading_doc = true;
                axios.post('/generateExcelForReimbursementCalculatorAdministrator', {
                    parameters: this.parameters,
                    company_name: this.getCompanyName,
                    fixed_rate: this.fixed_rate,
                    variable_rate: this.variable_rate,
                    fuel_string: '$' + this.fuel_average + ' in ' + this.previous_month_name + ', ' + this.previous_month_year,
                }).then( response => {
                    let path_to_file = '/storage/tmp/' + response.data.file_name;
                    let a = document.createElement('A');
                    a.href = path_to_file;
                    a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    this.downloading_doc = false;
                }).catch( errors => {
                    alert('Something went wrong... Please contact CarData IT Support');
                });
            }
        }
    };
</script>

<style lang="css">

</style>