/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="administratorAddEditUser">
        <!-- TITLE AREA -->
        <div class="row m-0">

            <h2 class="float-left mr-1 mb-4">{{ title }}</h2>


            <!-- ACTION BUTTONS -->
            <div class=""><!--col-6-->
                <button v-if="mode === 'edit'"
                        class="btn btn-sm btn-danger"
                        @click="switchSubpage('add')">Cancel
                </button>

            </div>
        </div>
        <add-edit-user-page v-if="mode === 'add' || mode === 'edit'" :mode="mode" :caller_id="caller_id"/>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {AddEditUserPage} from "../user";

    export default {
        props: [],

        components: {AddEditUserPage},

        data() {
            return {
                caller_id: 'administratorAddEditUser',
                mode: null
            };
        },

        created() {

        },

        mounted() {
            EventBus.$on('user-select-user-changed', this.userChanged);
            this.mode = this.getSubView;
            if (!this.mode) { this.mode = 'add'}
        },

        beforeDestroy() {
            EventBus.$off('user-select-user-changed', this.userChanged);
        },

        computed: {
            ...mapGetters([
                'getEditedUser',
                'getSubView',
            ]),

            title: function() {
                return (this.mode == 'add' ? 'Add' : 'Edit') + ' User'
            }
        },

        watch: {
            /**
             * when the edited user changes, switch the mode
             */
            getEditedUser: {
                handler: function(u) {
                    if (u.id) {
                        this.mode = 'edit';
                    } else {
                        this.mode = 'add';
                    }
                    Common.setSubView(this.mode);
                },
                deep: true,
            }
        },

        methods: {
            userChanged(user_id) {
                this.switchSubpage( (user_id > 0 ? 'edit' : 'add') );
                Common.setSubView(this.mode);
            },

            switchSubpage(subpage) {
                switch (subpage) {
                    case null:
                    case '':
                    case 'show':
                        this.mode = 'show';
                        break;
                    case 'add':
                        this.mode = 'add';
                        EventBus.$emit('reload-defaults-add-edit-user');
                        break;
                    case 'edit':
                        this.mode = 'edit';
                        break;
                }
            },

        }
    };
</script>

<style lang="css">

</style>