<template lang='html'>
    <div id="administratorPortal" class="box">
        <div v-if="true" style="position: absolute; top: 135px; right: 35px; font-weight: bold; color: red;">{{ getUserId }}:&nbsp;{{ getUsername }}</div>
        <div id="administratorProfileSwitch" class="columns">
            <div class="column is-half">
                <!--<h2>{{ getCompanyName }}</h2>-->
            </div>
            <div class="column" v-if="multiple_profiles">
                <a class="btn is-large btn-primary" id="switchProfileButton" @click.prevent="switchActiveProfile">Switch
                    to {{ getInactiveCompanyName }}</a>
            </div>
        </div>
        <!--MENU VIEWS-->
        <payments-menu v-if="getView === 'paymentsMenu'" />
        <tools-menu v-if="getView === 'toolsMenu'" />
        <reports-menu v-if="getView === 'reportsMenu'" />
        <miscellaneous-menu v-if="getView === 'miscellaneousMenu'" />
        <!-- INDIVIDUAL VIEWS -->
        <!--<company-profile v-if="getView === 'companyProfile'"/>--><!-- TODO: this is broken -->
        <link-to-driver v-if="getView === 'linkToDriver'" :company_id="getCompanyId"/>
        <administrator-add-many-drivers v-if="getView === 'administratorAddManyDrivers'"/>
        <administrator-reimbursement-calculator v-if="getView === 'administratorReimbursementCalculator'"/>
        <administrator-add-edit-user v-if="getView === 'administratorAddEditUser'"/>
        <administrator-company-profile v-if="getView === 'companyProfile'"/>
        <divisions-view v-if="getView === 'divisionsView'"/>
        <administrator-vehicle-profiles v-if="getView === 'administratorVehicleProfiles'"/>
        <fixed-variable v-if="getView === 'fixedVariable'"/>
        <reimbursement-totals v-if="getView === 'reimbursementTotals'"/>
        <annual-reviews v-if="getView === 'annualReviews'"/>
        <store-state v-if="getView === 'storeState'"/>
        <administrator-profile v-if="getView === 'administratorProfile'" :user="user"
                              :profile="profiles[activeProfile]"/>
<!--REPORTS-->
        <fuel-prices v-if="getView === 'fuelPrices'"></fuel-prices>
        <!-- PAYMENTS -->
        <master-payment-notice v-if="getView === 'masterPaymentNotice'"/>
        <prorate-reimbursement v-if="getView === 'prorateReimbursement'"/>
        <manager-approval-status v-if="getView === 'managerApprovalStatus'" :user="user"
                                 :user_type="getUserType"/>
        <pay-file v-if="getView === 'payFile'"/>
        <direct-deposit-payment-schedule-page
                v-if="getView === 'directDepositPaymentSchedule'"
                :user_type="getUserType"/>
    </div>
</template>

<script>
    import styleFixer from '../../styleFixer';
    import {AdministratorSelect, StoreState} from "../partials";
    import {LinkToDriver} from "../user";
    import {AnnualReviews, DivisionsView} from "../company";
    import {FixedVariable, MasterPaymentNotice, ProrateReimbursement} from "../reimbursement";
    import {ManagerApprovalStatus, ReimbursementTotals} from "../manager";
    import {
        AdministratorAddManyDrivers,
        AdministratorAddEditUser,
        AdministratorProfile,
        AdministratorCompanyProfile,
        AdministratorReimbursementCalculator,
        AdministratorVehicleProfiles,
        PaymentsMenu,
        ToolsMenu,
        ReportsMenu,
        MiscellaneousMenu
    } from "./index"; // administrator
    import {DirectDepositPaymentSchedulePage, PayFile} from "../super";
    import {mapGetters} from 'vuex';
    import {FuelPrices} from "../reports";

    export default {

        components: {
            AdministratorAddManyDrivers,
            AdministratorAddEditUser,
            AdministratorReimbursementCalculator,
            AdministratorSelect, LinkToDriver, AdministratorCompanyProfile, DivisionsView, AdministratorVehicleProfiles,
            AnnualReviews, FixedVariable, ReimbursementTotals, AdministratorProfile, StoreState,
            MasterPaymentNotice, ManagerApprovalStatus, DirectDepositPaymentSchedulePage, PayFile,
            ProrateReimbursement, PaymentsMenu, ToolsMenu, ReportsMenu, MiscellaneousMenu, FuelPrices
        },

        data() {
            return {
                styleFixer: new styleFixer('administrator')
            };
        },

        created() {
            /**
             * Get initial values from server and save to store
             * TODO: this may be a good candidate for a function in Common
             */
            let init_tag = $('meta[name=init]');
            let initial_values = init_tag.attr('content');

            if (initial_values !== 'empty') {
                Common.processInitialValues(JSON.parse(initial_values));
            }

            // remove inital data from the DOM
            init_tag.attr('content', 'empty');
        },

        mounted() {
            // the profile link is not in a vue component, so
            // we need a listener outside of Vue
            $('#profileLink.administrator-profile').click(() => {
                console.log('administrator profile clicked!');
                Common.setView('administratorProfile', null);
            });

            // this.styleFixer.fixMainContentHeight();
            // this.styleFixer.fixPortalHeight();
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getUsername',
                'getView',
                'getSubView',
                'getUserType',
                'getUserFullName',
                'getActiveAdministratorProfile',
                'getInactiveAdministratorProfile',
                'getActiveAdministratorId',
                'getInactiveAdministratorId',
                'getCompanyId',
                'getCompanyName',
                'getInactiveCompanyId',
                'getInactiveCompanyName'
            ]),

            multiple_profiles: function () {
                return !Common.isEmpty(this.getInactiveAdministratorId);
            }
        },

        methods: {
            switchActiveProfile() {
                let inactive_company_id = this.getInactiveCompanyId;
                let inactive_company_name = this.getInactiveCompanyName;
                let inactive_administrator_id = this.getInactiveAdministratorId;
                let inactiveProfile = this.getInactiveAdministratorProfile;

                Common.checkCommit('updateInactiveCompanyId', this.getCompanyId);
                Common.checkCommit('updateInactiveCompanyName', this.getCompanyName);
                Common.checkCommit('updateInactiveAdministratorId', this.getActiveAdministratorId);
                Common.checkCommit('updateInactiveAdministratorProfile', this.getActiveAdministratorProfile);

                Common.checkCommit('updateCompanyId', inactive_company_id);
                Common.checkCommit('updateCompanyName', inactive_company_name);
                Common.checkCommit('updateActiveAdministratorId', inactive_administrator_id);
                Common.checkCommit('updateActiveAdministratorProfile', inactiveProfile);

                EventBus.$emit('company-changed');
            }
        }
    };
</script>

<style lang='css'>
    #administratorPortal #switchProfileButton {
        margin-top: 25px;
    }
</style>
