/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
- This component is used by the administrator to set common values in "session" (kept in store). It will remain on the page
like the menu or breadcrumbs.
*/
<template lang="html">
    <div id="administratorSession" class="box" v-if="display_session">
        <div class="row">
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company')">
                <company-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company_actions')">
                <session-company-actions :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('vehicle_profile_select')">
                <vehicle-profile-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company_vehicle_profile_actions')">
                <session-company-vehicle-profile-actions :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('division')">
                <division-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('driver')">
                <driver-select :from_session="true"/>
            </div>
            <div class="col-12" v-if="showSelect('ach_eft_actions')">
                <session-ach-eft-actions :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('manager')">
                <manager-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('administrator')">
                <administrator-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? 'col-lg-6' : 'col-lg-6']" v-if="showSelect('user')">
                <user-select :display_modal_at_change="true" :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('month_select')">
                <month-select
                    :display="'long'"
                    :disabled_future_months="true"
                    :disabled_present_month="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('year_select')">
                <year-select/>
            </div>

            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']"
                 v-if="showSelect('generate_reports_action_btn')">
                <session-generate-reports-action-button from_session="true"/>
            </div>
        </div>
    </div>
</template>


<script>
    /** imports */
    import {
        CompanySelect,
        DivisionSelect,
        DriverSelect,
        ManagerSelect,
        AdministratorSelect,
        UserSelect,
        MonthSelect,
        VehicleProfileSelect,
        YearSelect,
    } from "../partials";
    import {
        SessionCompanyVehicleProfileActions,
        SessionGenerateReportsActionButton
    } from "../super";
    import {SessionCompanyActions, PaymentsMenu} from "./index"; // super
    import {SessionAchEftActions} from "./index"; // super
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {
            CompanySelect,
            DivisionSelect,
            DriverSelect,
            SessionGenerateReportsActionButton,
            ManagerSelect,
            AdministratorSelect,
            UserSelect,
            SessionCompanyActions,
            SessionAchEftActions,
            SessionCompanyVehicleProfileActions,
            MonthSelect,
            VehicleProfileSelect,
            YearSelect,
        },

        data() {
            return {

            };
        },

        created() {
        },

        mounted() {
            EventBus.$on('company-changed', () => {

            });

            EventBus.$on('division-changed', () => {

            });

            EventBus.$on('driver-changed', () => {
                if (this.getSessionDriverId > 0) {
                    EventBus.$emit('reset-managers');
                    EventBus.$emit('reset-administrators');
                }
            });

            EventBus.$on('manager-changed', () => {
                if (this.getSessionManagerId > 0) {
                    EventBus.$emit('reset-drivers');
                    EventBus.$emit('reset-administrators');
                }
            });

            EventBus.$on('administrator-changed', () => {
                if (this.getSessionAdministratorId > 0) {
                    EventBus.$emit('reset-drivers');
                    EventBus.$emit('reset-managers');
                }
            });
        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getUserType',
                'getImpersonatorId',
                'getImpersonatorRole',
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId',
                'getSessionCompanyId',
                'getSessionCompanies'
            ]),

            /**
             * don't show session component on these views
             * @returns {*}
             */
            hidden_view: function () {
                return Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals', 'masterTask', 'reimbursementCalculator']);
            },

            display_session: function () {
                if (this.getImpersonatorId > 0) {
                    return this.getImpersonatorRole == 'administrator' && !this.hidden_view;
                } else {
                    return this.getUserType == 'administrator' && !this.hidden_view;
                }
                // return (this.getHighestAuthenticatedUserType === 'super' || this.getHighestAuthenticatedUserType === 'administrator')
                //     && !Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals', 'masterTask', 'reimbursementCalculator']);
                // return (this.getUserType === 'super' || this.getImpersonatorId > 0) && !Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals']);
            },

            valid_selects: function () {
                let selects = [];
                if (this.display_session) {
                    switch (this.getView) {
                        case 'companies':
                            selects = ['company', 'company_actions'];
                            break;
                        case 'annualReviews':
                        case 'administratorReimbursementCalculator':
                        case 'addManyDrivers':
                        case 'companyProfile':
                            selects = ['company'];
                            break;
                        case 'preDefinedStops':
                            selects = ['company', 'division'];
                            break;
                        case 'users':
                            switch(this.getSubView) {
                                case 'add':
                                    selects = ['company'];
                                    break;
                                case 'edit':
                                    selects = ['company', 'user'];
                                    break;
                                default:
                                    selects = ['company', 'division', 'driver', 'manager', 'administrator'];
                                    break;
                            }
                            break;
                        case 'masterPaymentNotice':
                            selects = ['company', 'division', 'manager', 'year_select', 'month_select'];
                            break;
                        case 'administratorAddEditUser':
                            selects = ['user'];
                            break;
                        case 'administratorVehicleProfiles':
                            selects = ['company', 'vehicle_profile_select', 'company_vehicle_profile_actions'];
                            break;
                        case 'prorateReimbursement':
                            selects = ['company', 'division'];
                            break;
                        case 'annualTaxAdjustment':
                            selects = ['company', 'division', 'year_select'];
                            break;
                        case 'manualAchEftFilesPage':
                            selects = ['ach_eft_actions'];
                            break;
                        case 'fixedAndVariableDiscrepancies':
                            selects = ['company', 'division', 'year_select', 'month_select'];
                            break;
                        case 'payFile':
                            selects = ['company', 'year_select', 'month_select', 'generate_reports_action_btn'];
                            break;
                        default:
                            selects = ['company', 'division', 'driver', 'manager', 'administrator'];
                            break;
                    }
                }
                return selects;
            },

            column_widths: function () {
                let column_widths = '';
                if (this.display_session) {
                    switch (this.getView) {
                        case 'users':
                            switch(this.getSubView) {
                                /*case 'add':
                                    selects = ['company'];
                                    break;*/
                                case 'edit':
                                    column_widths = 'col-sm-6';
                                    break;
                                /*default:
                                    column_widths = 'col-sm-2';
                                    break;*/
                            }
                            break;
                        case 'masterPaymentNotice':
                            column_widths = 'col-sm-2';
                            break;
                        case 'prorateReimbursement':
                            column_widths = 'col-sm-3';
                            break;
                        case 'annualTaxAdjustment':
                            column_widths = 'col-sm-4';
                            break;
                        case 'manualAchEftFilesPage':
                            column_widths = 'col-12';
                            break;
                        case 'payFile':
                            column_widths = 'col-sm-4';
                            break;
                        default:
                            column_widths = 'col-sm-2';
                            break;
                    }
                }
                return column_widths;
            },
        },

        watch: {
            getSessionCompanyId: function (val) {
                if (this.display_session) {
                    console.log('company changed in select', val);
                    if (val > 0 && this.getImpersonatorId > 0) {
                        let company = this.getSessionCompanies.find(c => {
                            return c.id == val;
                        });

                        // set initial value for company actions
                        if (company.active) {
                            EventBus.$emit('company-reactivated');
                        } else {
                            EventBus.$emit('company-inactivated');
                        }
                    }
                }
            }
        },

        methods: {
            in_array(val, arr) {
                return Common.in_array(val, arr);
            },

            showSelect(type) {
                return Common.in_array(type, this.valid_selects);
            },

            companyAction(action) {
              EventBus.$emit(action + '-company');
            }
        }
    };
</script>

<style lang="css">
    #superSession select {
        height: 39px;
    }

    #superSession .column {
        padding-bottom: 0;
    }

    #superSession .reactivate-company {
        color: red !important;
    }
</style>