/**
Requires:
caller_id - from parent page
mode - Add or Edit
Optional:
driverFormData - data to prepopulate the form if available
Getters:

Setters:

Listeners:

Emitters:
formChanged

Notes:

*/
<template lang="html">
    <div id="addDriverProfile">

        <div class="row">
            <div class="col-6">
                <div v-if="mode === 'edit' && getEditedUser.is_driver">
                    <h5>Street Light</h5>
                    <!--<driver-street-light-status/>-->

                    <!--<div class="box mb-1">-->
                        <status-indicator/>
                    <!--</div>-->
                </div>
            </div>
            <div class="col-6">
                <driver-document-links v-if="mode === 'edit' && getEditedUser.is_driver"/>
            </div>
        </div>

        <hr class="m-0 mb-1">

        <form @keydown="clearLocalAndParentError($event)">

             <!--STREET ADDRESS-->
            <h5>Address</h5>
            <div class="row" style="clear: both">
                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.address.street"
                                :type="'text'"
                                :field_name="'street'"
                                :label="'Street'"
                                :has_error="localForm.errors.has('street')"
                                :get_error="localForm.errors.get('street')"
                                :disabled="(mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"/>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.address.street2" :type="'text'"
                                :field_name="'street2'" :label="'Street 2'"
                                :has_error="localForm.errors.has('street2')"
                                :get_error="localForm.errors.get('street2')"
                                :disabled="(mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"/>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.address.city" :type="'text'"
                                :field_name="'city'" :label="'City'"
                                :has_error="localForm.errors.has('city')"
                                :get_error="localForm.errors.get('city')"
                                :disabled="(mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"/>
                </div>

                <div class="col-lg-3 col-sm-12 is-6">
                    <div :class="{'form-group': true, 'has-error': localForm.errors.has('country_id')}">

                        <country-select :caller_id="my_caller_id"
                                        v-model="localForm.data.address.country_id"
                                        :display="'long'"
                                        :disabled="true"/>

                        <span class="help-block" v-if="localForm.errors.has('country_id')">{{ localForm.errors.get('country_id') }}</span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-sm-12">
                    <div :class="{'form-group': true, 'has-error': localForm.errors.has('state_province_id')}">
                        <div v-if="valid_country">
                            <state-select v-if="localForm.data.address.country_id == 1"
                                          v-model="localForm.data.address.state_province_id"
                                          :disabled="(mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"/>
                            <province-select v-else-if="localForm.data.address.country_id == 2"
                                             v-model="localForm.data.address.state_province_id"
                                             :disabled="(mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"/>
                        </div>
                        <div v-else>
                            <label>State or Province</label>
                            <select class="form-control" disabled>
                                <option selected="true">Select a country</option>
                            </select>
                        </div>



                        <span class="help-block" v-if="localForm.errors.has('state_province_id')">{{ localForm.errors.get('state_province_id') }}</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.address.zip_postal" :type="'text'"
                                :field_name="'zip_postal'" :label="zip_postal_label"
                                :disabled="(!valid_country || mode === 'edit' && getEditedUser.is_driver) || getLockAllInput"
                                :has_error="localForm.errors.has('zip_postal')"
                                :get_error="localForm.errors.get('zip_postal')"/>
                </div>
            </div>

            <hr class="m-0 mb-1">

            <h5>Employee Information</h5>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div :class="{'form-group':true, 'has-error': localForm.errors.has('division_id')}">

                        <division-select-no-session :caller_id="my_caller_id"
                                                    :session_company_id="localForm.data.driverProfile.company_id"
                                                    :disabled="getLockAllInput"
                                                    v-model="localForm.data.driverProfile.division_id"/>

                        <span class="help-block" v-if="localForm.errors.has('division_id')">{{ localForm.errors.get('division_id') }}</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.driverProfile.employee_number"
                                :type="'text'"
                                :field_name="'employee_number'"
                                :label="'Employee Number'"
                                :disabled="getLockAllInput"
                                :has_error="localForm.errors.has('employee_number')"
                                :get_error="localForm.errors.get('employee_number')"/>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.driverProfile.job_title" :type="'text'"
                                :field_name="'job_title'" :label="'Job Title'"
                                :disabled="getLockAllInput"
                                :has_error="localForm.errors.has('job_title')"
                                :get_error="localForm.errors.get('job_title')"/>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <form-input v-model="localForm.data.driverProfile.cost_center"
                                :type="'text'"
                                :field_name="'cost_center'"
                                :label="'Cost Center'"
                                :disabled="getLockAllInput"
                                :has_error="localForm.errors.has('cost_center')"
                                :get_error="localForm.errors.get('cost_center')"/>
                </div>
            </div>

            <hr class="m-0 mb-1">

            <h5>Program Information</h5>
            <div class="row">
                <!--VEHILE PROFILE-->
                <div class="col-lg-3 col-sm-12">

                    <div :class="{'form-group':true, 'has-error': localForm.errors.has('vehicle_profile_id')}">
                        <vehicle-profile-select :session_company_id="localForm.data.driverProfile.company_id"
                                                v-model="localForm.data.driverProfile.vehicle_profile_id"
                                                :disabled="getLockAllInput"
                                                :caller_id="my_caller_id"
                                                :hide_inactive="true"/>
                        <span class="help-block" v-if="localForm.errors.has('vehicle_profile_id')">{{ localForm.errors.get('vehicle_profile_id') }}</span>
                    </div>
                </div>

                <!--MILEAGE BAND-->
                <div class="col-lg-3 col-sm-12">
                    <div :class="{'form-group':true, 'has-error': localForm.errors.has('mileage_band_id')}">
                        <mileage-band-select :caller_id="my_caller_id"
                                             :disabled="getLockAllInput"
                                             v-model="localForm.data.driverProfile.mileage_band_id"/>
                        <span class="help-block" v-if="localForm.errors.has('mileage_band_id')">{{ localForm.errors.get('mileage_band_id') }}</span>
                    </div>
                </div>

                <!--TERRITORY-->
                <div class="col-lg-3 col-sm-12">

                    <div :class="{'form-group':true, 'has-error': localForm.errors.has('territory_type_id') }">
                        <territory-type-select :caller_id="my_caller_id"
                                               :country_id="getSessionCountryId"
                                               :disabled="getLockAllInput"
                                               v-model="localForm.data.driverProfile.territory_type_id"/>

                        <span class="help-block" v-if="localForm.errors.has('territory_type_id')">{{ localForm.errors.get('territory_type_id') }}</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <!-- Territory is multi city -->
                    <div v-if="localForm.data.driverProfile.territory_type_id == 3"
                         :class="{'form-group':true, 'has-error': localForm.errors.has('territory_list') }">
                        <fuel-city-select :country_id="getSessionCountryId"
                                          :disabled="getLockAllInput"
                                          :caller_id="my_caller_id"
                                          :emit_object="true"/>

                        <label>Assigned Cities</label>
                        <div :class="{'box': true, 'has-error': localForm.errors.has('territory_list')}" style="overflow-y: scroll; max-height: 200px;">
                            <span v-for="territory in localForm.data.driverProfile.territory_list" class="tag btn-secondary">
                                {{ territory.name }}, {{ territory.state_province_short_name }}
                            <button class="delete is-small"
                                    :disabled="getLockAllInput"
                                    @click.prevent="unassignTerritory(territory)"></button>
                            </span>
                        </div>
                    </div>
                    <div v-else-if="localForm.data.driverProfile.territory_type_id == 4"
                         :class="{'form-group':true, 'has-error': localForm.errors.has('territory_list') }">
                        <state-select v-if="getSessionCountryId == 1"
                                      :caller_id="my_caller_id"
                                      :emit_object="true"
                                      :disabled="getLockAllInput"/>
                        <province-select v-else-if="getSessionCountryId == 2"
                                         :caller_id="my_caller_id"
                                         :emit_object="true"
                                         :disabled="getLockAllInput"/>
                        <label v-if="getSessionCountryId == 1">Assigned States:</label>
                        <label v-else>Assigned Provinces:</label>
                        <div :class="{'box': true, 'has-error': localForm.errors.has('territory_list')}" style="overflow-y: scroll; max-height: 200px;">
                            <span v-for="state_province in localForm.data.driverProfile.territory_list"
                                  class="tag btn-secondary">
                                {{ state_province.name }}
                            <button class="delete is-small"
                                    @click.prevent="unassignTerritory(state_province)"
                                    :disabled="getLockAllInput"></button>
                            </span>
                        </div>
                    </div>
                    <span class="help-block" v-if="localForm.errors.has('territory_list')">{{ localForm.errors.get('territory_list') }}</span>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <manager-select-no-session v-model="selected_manager_id"
                                               :session_company_id="localForm.data.driverProfile.company_id"
                                               :hide_inactive="true"
                                               :emit_object="true"
                                               :allow_all="true"
                                               :caller_id="my_caller_id"
                                               :disabled="getLockAllInput"/>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <label class="label">Assigned Managers:</label>
                    <div :class="{'box': true, 'help-block': localForm.errors.has('assigned_managers')}" style="overflow-y: scroll; max-height: 200px;">
                        <span v-for="(value, key) in localForm.data.driverManager"
                              :title="value.assigned_drivers == 'all' ? 'Manager is assigned to all drivers, cannot be unassigned' : null"
                              :class="{'tag btn-secondary': true, 'tag btn-danger': value.assigned_drivers == 'all'}">
                            {{ value.last_name + ', ' + value.first_name }}
                        <button class="delete is-small"
                                @click.prevent="unassignManager(value)"
                                :disabled="(value.assigned_drivers == 'all') || getLockAllInput"></button>
                        </span>
                    </div>
                    <span class="help-block" v-if="localForm.errors.has('assigned_managers')">{{ localForm.errors.get('assigned_managers') }}</span>

                </div>

                <div class="col-lg-3 col-sm-12">
                    <div :class="{'form-group': true, 'has-error': localForm.errors.has('start_date')}">
                        <label class="label">Start Date:</label>

                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="localForm.data.driverProfile.start_date"
                                                   :disabled="getLockAllInput"
                                                   :config="date_picker_options"
                                                   :placeholder="'Select a start date...'"/>

                        <span class="help-block" v-if="localForm.errors.has('start_date')">{{ localForm.errors.get('start_date') }}</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <div :class="{'form-group': true, 'has-error': localForm.errors.has('stop_date')}">
                        <label class="label">Stop Date:</label>

                        <vue-bootstrap-date-picker class="form-control"
                                                   v-model="localForm.data.driverProfile.stop_date"
                                                   :disabled="getLockAllInput"
                                                   :config="date_picker_options"
                                                   :placeholder="'Select a stop date...'"/>

                        <span class="help-block" v-if="localForm.errors.has('stop_date')">{{ form.errors.get('stop_date') }}</span>
                    </div>
                </div>
            </div>
        </form>
        <!--<div class="row">-->
            <!--<div class="col-lg-3 offset-lg-9 col-sm-6 offset-sm-6">-->
                <!--<button class="btn btn-secondary" :disabled="mode == 'edit'" @click.prevent="resetLocalForm">Reset Driver-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>


<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {Form} from "../../utilities";
    import {DriverModel} from "../../models/User";
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import StatusIndicator from '../driver/StatusIndicator';
    import {
        CountrySelect,
        DivisionSelectNoSession,
        DriverDocumentLinks,
        DriverStreetLightStatus,
        FormInput,
        FuelCitySelect,
        ManagerSelectNoSession,
        MileageBandSelect,
        ProvinceSelect,
        StateSelect,
        TerritoryTypeSelect,
        VehicleProfileSelect
    } from "../partials";

    export default {
        props: ['caller_id', 'driverFormData', 'mode', 'formErrors'],

        components: {
            StatusIndicator,
            CountrySelect,
            VueBootstrapDatePicker,
            DivisionSelectNoSession,
            DriverDocumentLinks,
            DriverStreetLightStatus,
            FormInput,
            FuelCitySelect,
            ManagerSelectNoSession,
            MileageBandSelect,
            ProvinceSelect,
            StateSelect,
            TerritoryTypeSelect,
            VehicleProfileSelect
        },

        data() {
            return {
                my_caller_id: 'AddEditDriverProfile',
                localForm: null,
                selected_manager_id: -1,

                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    icons: {
                        date: "fas fa-calendar",
                    },
                },
            };
        },

        created() {
            this.localForm = new Form(new DriverModel);
            this.localForm.data = this.driverFormData;
            this.localForm.data.address.country_id = this.getSessionCountryId;
            this.getManagersAssignedToAllDrivers();
        },

        mounted() {
            EventBus.$on('session-vehicle-profile-changed', () => {
                this.localForm.data.driverProfile.vehicle_profile_id = parseInt(this.getSessionVehicleProfileId);
                this.$forceUpdate();
            });
            Common.listen('form-reset', this.resetLocalForm);
            EventBus.$on('errors', this.updateLocalErrors);
            EventBus.$on(this.my_caller_id + '-full-manager', this.assignManager);
            Common.listen(this.my_caller_id + '-city-select-changed', this.assignTerritory);
            Common.listen(this.my_caller_id + '-fuel-city-object', this.assignTerritory);
            Common.listen(this.my_caller_id + '-state-object', this.assignTerritory);

            Common.storeCommit('updateSessionVehicleProfileId', this.localForm.data.driverProfile.vehicle_profile_id);
        },

        beforeDestroy() {
            EventBus.$off('errors', this.updateLocalErrors);
            EventBus.$off(this.my_caller_id + '-full-manager', this.assignManager);
        },

        computed: {
            ...mapGetters([
                'getSessionCountryId',
                'getSessionCompanyId',
                'getEditedUser',
                'getDriverStreetLightArray',
                'getSessionVehicleProfileId',
                'getLockAllInput'
            ]),

            valid_country: function () {
                return this.getSessionCountryId == 1 || this.getSessionCountryId == 2;
            },

            zip_postal_label: function() {
                if ( this.localForm.data.address.country_id == 2 ) {
                    return 'Postal Code';
                } else if ( this.localForm.data.address.country_id == 1 ) {
                    return 'Zip Code';
                }
                return 'Zip or Postal Code'
            }
        },

        watch: {

            /**
             * Whenever the form is updated, get the country id and the company id.
             * This is kind of a hacky way to do it, but the user necessarily updates the form before submission,
             * so this ensures that the company id and country id are grabbed correctly, and we don't have to worry
             * about injecting the values on creation, or timing a watcher etc
             */
            'localForm': {
                handler: function (localForm) {
                    this.localForm.data.address.country_id = this.getSessionCountryId;
                    // update the company id whenever the form is changed
                    this.localForm.data.driverProfile.company_id = this.getSessionCompanyId;
                },
                deep: true
            },

            'localForm.data.driverProfile.territory_type_id': {
                handler: function () {
                    this.localForm.data.driverProfile.territory_list = {};
                }
            },

            /**
             * Reformat the data from date picker
             */
            'localForm.data.driverProfile.start_date': function(new_val, old_val) {
                if ( new_val !== old_val && moment().isValid(new_val) && new_val != null ) {
                    this.localForm.data.driverProfile.start_date = moment(new_val).format('YYYY-MM-DD');
                }
            },

            /**
             * Reformat the data from date picker
             */
            'localForm.data.driverProfile.stop_date': function(new_val, old_val) {
                if ( new_val !== old_val && moment().isValid(new_val) && new_val != null ) {
                    this.localForm.data.driverProfile.stop_date = moment(new_val).format('YYYY-MM-DD');
                }
            },

            'formErrors': {
                handler: function() {
                    this.$forceUpdate();
                },
                deep: true
            }
        },

        methods: {

            getManagersAssignedToAllDrivers() {
                axios.get('/getDriverManagers/-1/' + this.getSessionCompanyId).then( response => {
                    for (let manager in response.data.managers) {
                        this.assignManager(response.data.managers[manager]);
                    }
                })
            },

            assignTerritory(territory) {
                this.localForm.data.driverProfile.territory_list[territory.id] = territory;
                this.localForm.errors.clear('territory_list');
                // console.log(territory);
                this.$forceUpdate();
            },

            unassignTerritory(territory) {
                for (const t in this.localForm.data.driverProfile.territory_list) {
                    if (t == territory.id) {
                        delete this.localForm.data.driverProfile.territory_list[t];
                        this.localForm.errors.clear('territory_list');
                        this.$forceUpdate();
                    }
                }
            },

            assignManager(manager) {
               // console.log('trying to assign', manager);
                this.localForm.data.driverManager[manager.manager_id] = manager;
                this.localForm.errors.clear('assigned_managers');
                // console.log(territory);
                this.$forceUpdate();
            },

            unassignManager(manager) {
                for (const m in this.localForm.data.driverManager) {
                    if (this.localForm.data.driverManager[m] == manager) {
                        delete this.localForm.data.driverManager[m];
                        this.localForm.errors.clear('territory_list');
                        this.$forceUpdate();
                    }
                }
            },

            updateLocalErrors(errors) {
                console.log('updating errors');
                this.localForm.errors.errors = errors;
                this.$forceUpdate();
            },

            clearLocalAndParentError(event) {
                console.log('clearing local and partent error', event);
                if (!Common.isEmpty(event.target) && !Common.isEmpty(event.target.name)) {
                    this.localForm.errors.clear(event.target.name);
                }
                else {
                    this.localForm.errors.clear(event); // this will be that name in this case
                }
                Common.fire('errors', this.localForm.errors.errors);
                this.$forceUpdate();
            },

            resetLocalForm() {
                delete this.driver;
                delete this.localForm;
                this.driver = new (Driver);
                this.localForm = new Form(this.driver);
                Common.fire('form-changed', {
                    'name': 'Driver',
                    'data': this.localForm.data,
                    'errors': this.localForm.errors
                });
                this.$forceUpdate();
            },
        },
    };
</script>

<style lang="scss">
#addDriverProfile {
    #statusIndicator {
        .driver-status-tile-light {
            width: 42px;
            height: 42px;
            margin-bottom: 10px;
        }

        .float-md-right {
            float: none !important;
        }
    }
}

</style>






