/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/

<template lang="html">
    <div id="addManagerProfile">

        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <form-input v-model="localForm.data.managerProfile.manager_number" :type="'text'"
                            :field_name="'employee_number'" :label="'Manager Number'"
                            :disabled="getLockAllInput"
                            :has_error="localForm.errors.has('manager_number')"
                            :get_error="localForm.errors.get('manager_number')"/>
            </div>
            <div class="col-lg-3 col-sm-12">

                    <div :class="{'form-group': true, 'has-error': localForm.errors.has('approval_description') }">
                        <label for="approval_description" class="label">
                            Approval Description
                            <!--HOVERABLE ITEM FOR APPROVAL DESCRIPTION-->
                            <button class="btn btn-default"
                                    @mouseover="approval_description_hovered = true"
                                    @mouseleave="approval_description_hovered = false"
                                    style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;">
                                <i class="fas fa-info" style="vertical-align: unset;"></i>
                            </button>

                            <transition name="fade5s">
                                <div v-if="approval_description_hovered" class="alert alert-dark" role="alert"
                                     style="position: absolute; z-index: 1; font-weight: normal; white-space: nowrap;">
                                    This optional field may be used to succinctly describe the group of drivers the Manager is responsible for approving.
                                </div>
                            </transition>
                        </label>

                        <input v-model="localForm.data.managerProfile.approval_description"
                                type="text" id="approval_description" class="form-control"
                                :disabled="getLockAllInput">

                        <span class="help-block"
                              v-if="localForm.errors.has('approval_description')">{{ localForm.errors.get('approval_description') }}</span>
                    </div>

                </div>


            <div class="col-lg-3 col-sm-12">
                <driver-select-no-session v-model="selected_driver_id"
                                          :session_company_id="localForm.data.managerProfile.company_id"
                                          :caller_id="my_caller_id"
                                          :disabled="getLockAllInput"
                                          :allow_all="true"
                                          :emit_object="true"/>
            </div>
            <div class="col-lg-3 col-sm-12">
                <label class="label">Assigned Drivers:</label>
                <div class="box">
                    <span v-for="(value, key) in localForm.data.managerDriver" class="tag btn-secondary">
                        {{ value | driver_tag_label }}
                     <button class="delete is-small"
                             :disabled="getLockAllInput"
                             @click.prevent="unassignDriver(value)"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {mapGetters} from 'vuex';
    import {DriverSelectNoSession, FormInput} from "../partials";
    import {Form} from "../../utilities";
    import {ManagerModel} from "../../models/User";

    export default {
        props: ['caller_id', 'managerFormData', 'mode'],

        components: {DriverSelectNoSession, FormInput},

        data() {
            return {
                my_caller_id: 'AddEditManagerProfile',
                approval_description_hovered: false,
                localForm: null,
                selected_driver_id: -1
            };
        },

        created() {
            this.localForm = new Form(new ManagerModel);
            this.localForm.data = this.managerFormData;
            this.localForm.data.managerProfile.company_id = this.getSessionCompanyId;
        },

        mounted() {
            EventBus.$on(this.my_caller_id + '-full-driver', this.assignDriver);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getLockAllInput'
            ])
        },

        filters: {
            driver_tag_label: function(d) {
                return d.first_name == 'All' ? 'All' : d.last_name + ', ' + d.first_name;
            }
        },

        watch: {
            'localForm': {
                handler: function (localForm) {
                    // update the company id whenever the form is changed
                    this.localForm.data.managerProfile.company_id = this.getSessionCompanyId;
                    Common.fire('form-changed', {'name': 'Manager', 'data': localForm.data, 'errors': localForm.errors});
                    this.$forceUpdate();
                },
                deep: true
            },

            getSessionCompanyId: {
                handler: function() {
                    if ( !this.localForm ) { return; }
                    this.localForm.data.managerProfile.company_id = this.getSessionCompanyId;
                },
                immediate: true,
            }
        },


        methods: {

            /**
             * Note that in the two methods below, the driver.id is the user's id
             */
            assignDriver(driver) {
                /**
                 * if all drivers option is selected, clear out tags for all other drivers
                 * or if a new driver is added, and 'All' is present (id = -2) then remove it
                 */
                 if ( driver.first_name == 'All' || this.localForm.data.managerDriver.hasOwnProperty(-2) ) {
                    this.localForm.data.managerDriver = {};
                }

                this.localForm.data.managerDriver[driver.id] = driver;
                this.localForm.errors.clear('manager_driver');
                // console.log(territory);
                this.$forceUpdate();
            },

            unassignDriver(driver) {
                for (const d in this.localForm.data.managerDriver) {
                    if (d == driver.id) {
                        delete this.localForm.data.managerDriver[d];
                        this.localForm.errors.clear('manager_driver');
                        this.$forceUpdate();
                    }
                }
            },

        },

    };
</script>

<style lang="css">

</style>