/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addEditBankModal" :class="{'modal':true, 'is-active':show_modal}">

        <div class="modal-background"></div>

        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ title }}</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>
            <section class="modal-card-body">

                <section v-if="bank">
                    <div class="columns">
                        <div class="column">
                            <p><strong>Country</strong></p>
                            <label>
                            <input type="radio" id="us" value="1" v-model="bank.country_id" @change="bank.validate('country_id')">
                                US
                            </label>
                            <label>
                            <input type="radio" id="canada" value="2" v-model="bank.country_id" @change="bank.validate('country_id')">
                                Canada
                            </label>
                        </div>
                        <div class="column">

                            <div :class="{'form-group': true, 'has-error': bank.errors.has('bank_name')}">
                                <label>Bank Name</label>
                                <input type="text" id="bankName" class="form-control"
                                       v-model="bank.bank_name" @input="bank.validate('bank_name')">
                                <span class="help-block" v-if=" bank.errors.has('bank_name')">{{ bank.errors.get('bank_name') }}</span>
                            </div>

                        </div>
                    </div>

                    <!-- US -->
                    <section v-if="bank.country_id == 1">

                        <div class="columns">
                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('company_id')}">
                                    <label>Company ID</label>
                                    <input type="text" id="companyID" class="form-control"
                                           v-model="bank.company_id" @input="bank.validate('company_id')">
                                    <span class="help-block" v-if=" bank.errors.has('company_id')">{{ bank.errors.get('company_id') }}</span>
                                </div>
                            </div>

                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('company_name')}">
                                    <label>Company Name</label>
                                    <input type="text" id="companyName" class="form-control"
                                           v-model="bank.company_name" @input="bank.validate('company_name')">
                                    <span class="help-block" v-if=" bank.errors.has('company_name')">{{ bank.errors.get('company_name') }}</span>
                                </div>
                            </div>

                        </div>

                        <div class="columns">
                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('immediate_destination')}">
                                    <label>Immediate Destination</label>
                                    <input type="text" id="immediateDestination" class="form-control"
                                           v-model="bank.immediate_destination" @input="bank.validate('immediate_destination')">
                                    <span class="help-block" v-if=" bank.errors.has('immediate_destination')">{{ bank.errors.get('immediate_destination') }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('immediate_origin')}">
                                    <label>Immediate Origin</label>
                                    <input type="text" id="immediateOrigin" class="form-control"
                                           v-model="bank.immediate_origin" @input="bank.validate('immediate_origin')">
                                    <span class="help-block" v-if=" bank.errors.has('immediate_origin')">{{ bank.errors.get('immediate_origin') }}</span>
                                </div>
                            </div>

                        </div>

                        <div class="columns">


                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('immediate_origin_name')}">
                                    <label>Immediate Origin Name</label>
                                    <input type="text" id="immediateOriginName" class="form-control"
                                           v-model="bank.immediate_origin_name" @input="bank.validate('immediate_origin_name')">
                                    <span class="help-block" v-if=" bank.errors.has('immediate_origin_name')">{{ bank.errors.get('immediate_origin_name') }}</span>
                                </div>
                            </div>

                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('originating_dfi')}">
                                    <label>Originating DFI</label>
                                    <input type="text" id="originatingDFI" class="form-control"
                                           v-model="bank.originating_dfi" @input="bank.validate('originating_dfi')">
                                    <span class="help-block" v-if=" bank.errors.has('originating_dfi')">{{ bank.errors.get('originating_dfi') }}</span>
                                </div>
                            </div>

                        </div>

                    </section>

                    <!-- CANADA -->
                    <section v-if="bank.country_id == 2">
                        <div class="columns">
                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('originator_name')}">
                                    <label>Originator Name</label>
                                    <input type="text" id="originatorName" class="form-control"
                                           v-model="bank.originator_name" @input="bank.validate('originator_name')">
                                    <span class="help-block" v-if=" bank.errors.has('originator_name')">{{ bank.errors.get('originator_name') }}</span>
                                </div>
                            </div>

                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('originator_id')}">
                                    <label>Originator ID</label>
                                    <input type="text" id="originatorID" class="form-control"
                                           v-model="bank.originator_id" @input="bank.validate('originator_id')">
                                    <span class="help-block" v-if=" bank.errors.has('originator_id')">{{ bank.errors.get('originator_id') }}</span>
                                </div>
                            </div>

                        </div>

                        <div class="columns">
                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('transit_number')}">
                                    <label>Transit Number</label>
                                    <input type="text" id="transitNumber" class="form-control"
                                           v-model="bank.transit_number" @input="bank.validate('transit_number')">
                                    <span class="help-block" v-if=" bank.errors.has('transit_number')">{{ bank.errors.get('transit_number') }}</span>
                                </div>
                            </div>

                            <div class="column">
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('account_number')}">
                                    <label>Account Number</label>
                                    <input type="text" id="accountNumber" class="form-control"
                                           v-model="bank.account_number" @input="bank.validate('account_number')">
                                    <span class="help-block" v-if=" bank.errors.has('account_number')">{{ bank.errors.get('account_number') }}</span>
                                </div>
                            </div>

                        </div>

                    </section>

                    <!--Both countries-->
                    <section v-if="bank.country_id == 1 || bank.country_id == 2">
                        <div class="columns">
                            <div class="column">
                                <label>Status</label>
                                <div :class="{'form-group': true, 'has-error': bank.errors.has('status')}">
                                    <select type="select" class="form-control" v-model="bank.status" @change="bank.validate('status')">
                                        <option value="-1" disabled selected hidden>Select a status</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                    <span class="help-block" v-if="bank.errors.has('status')">{{ bank.errors.get('status') }}</span>
                                </div>
                            </div>
                        </div>
                    </section>


                    <!-- ELSE -->
                    <div v-else class="alert alert-warning">
                        <p class="title">Please select a country</p>
                    </div>

                </section>

            </section>

            <footer class="modal-card-foot">
                <button class="btn btn-success" @click.prevent="save(mode)">{{ save_button_label }}</button>
                <button class="btn btn-secondary" @click.prevent="revertChanges" style="margin-left: 1rem;">Cancel</button>
            </footer>
        </div>

    </div>

</template>

<script>

    import {EventBus} from "../../event-bus.js";

export default {

    props: [],

    components: {},

    data() {
        return{
            bank: null,
            bankBackup: null,
            show_modal: false,
            title: null,
            save_button_label: null,
            mode: null,
        }
    },

    created() {
        EventBus.$on('open-add-edit-bank-modal', (bank, mode) => {
            this.bank = bank;
            this.bankBackup = _.cloneDeep(this.bank);
            this.title = ( mode == 'edit' ? 'Edit' : 'Add' ) + ' Bank';
            this.save_button_label = ( mode == 'edit' ? 'Update' : 'Add' ) + ' Bank';
            this.mode = mode;
            this.show_modal = true;
        });

        EventBus.$on('bank-submission-successful', () => {
            this.show_modal = false;
        });
    },

    watch: {

    },

    methods: {
        revertChanges() {
            this.bank = _.cloneDeep(this.bankBackup);
        },

        save(mode) {
            console.log('mode', mode);
            this.bank.submit(mode);
        },

        closeModal() {
            this.show_modal = false;
        },
    }
}
</script>

<style lang="css">

</style>