/**
Requires:
- caller_id
- mode: Add or Edit
-
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addAdministratorProfile">
        <form @keydown="clearLocalAndParentError($event)">

            <div class="row">

                <div class="col-lg-6 col-sm-12">

                    <h5>Permissions</h5>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" v-model="localForm.data.administratorProfile.company_approver"
                                   :disabled="getLockAllInput"
                                   @change="">
                            Company Approver
                        </label>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" v-model="localForm.data.administratorProfile.is_limited"
                                   :disabled="getLockAllInput"
                                   @change="">
                            Limited
                        </label>
                    </div>

                    <hr class="m-0 mb-1">

                    <h5>Administrator Information</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <form-input v-model="localForm.data.administratorProfile.administrator_number"
                                        :disabled="getLockAllInput"
                                        :type="'text'"
                                        :field_name="'administrator_number'"
                                        :label="'Administrator Number'"
                                        :has_error="localForm.errors.has('administrator_number')"
                                        :get_error="localForm.errors.get('administrator_number')"/>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <form-input v-model="localForm.data.administratorProfile.administrator_phone"
                                        :disabled="getLockAllInput"
                                        :type="'text'"
                                        :field_name="'administrator_phone'"
                                        :label="'Administrator Phone'"
                                        :has_error="localForm.errors.has('administrator_phone')"
                                        :get_error="localForm.errors.get('administrator_phone')"/>
                        </div>
                    </div>

                    <hr class="m-0 mb-1">

                    <h5>Divisions</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div :class="{'form-group': true, 'has-error': localForm.errors.has('administrator.administratorDivision')}">
                                <division-select :session_company_id="localForm.data.administratorProfile.company_id"
                                                 :disabled="getLockAllInput"
                                                 :caller_id="my_caller_id"
                                                 :allow_all_none="true"
                                                 :emit_object="true"/>

                                <span class="help-block"
                                      v-if="localForm.errors.has('administrator.administratorDivision')">{{ localForm.errors.get('administrator.administratorDivision') }}</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label class="label">Assigned Divisions:</label>
                            <div class="box">
                            <span v-for="(value, key) in localForm.data.administratorDivision" class="tag btn-secondary">
                              {{ value | division_tag_label }}
                            <button class="delete is-small"
                                    :disabled="getLockAllInput"
                                    @click.prevent="unassignDivision(value)"></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>


                <!--COORDINATOR OPTIONS-->
                    <div class="col-lg-6 col-sm-12">
                        <h5>Coordinator Options</h5>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="localForm.data.administratorProfile.company_coordinator"
                                           :disabled="getLockAllInput"
                                           @change="">
                                    Company Coordinator
                                </label>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <form-input v-model="localForm.data.administratorProfile.company_coordinator_phone"
                                            :type="'text'"
                                            :field_name="'company_coordinator_phone'"
                                            :label="'Company Coordinator Phone'"
                                            :has_error="localForm.errors.has('company_coordinator_phone')"
                                            :get_error="localForm.errors.get('company_coordinator_phone')"
                                            :disabled="!localForm.data.administratorProfile.company_coordinator || getLockAllInput"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="localForm.data.administratorProfile.insurance_coordinator"
                                           :disabled="getLockAllInput"
                                           @change="">
                                    Insurance Coordinator
                                </label>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <form-input v-model="localForm.data.administratorProfile.insurance_coordinator_phone"
                                            :type="'text'"
                                            :field_name="'insurance_coordinator_phone'"
                                            :label="'Insurance Coordinator Phone'"
                                            :has_error="localForm.errors.has('insurance_coordinator_phone')"
                                            :get_error="localForm.errors.get('insurance_coordinator_phone')"
                                            :disabled="!localForm.data.administratorProfile.insurance_coordinator || getLockAllInput"/>
                            </div>
                        </div><!--row-->


                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="localForm.data.administratorProfile.license_coordinator"
                                           :disabled="getLockAllInput"
                                           @change="">
                                    License Coordinator
                                </label>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <form-input v-model="localForm.data.administratorProfile.license_coordinator_phone"
                                            :type="'text'"
                                            :field_name="'license_coordinator_phone'"
                                            :label="'License Coordinator Phone'"
                                            :has_error="localForm.errors.has('license_coordinator_phone')"
                                            :get_error="localForm.errors.get('license_coordinator_phone')"
                                            :disabled="!localForm.data.administratorProfile.license_coordinator || getLockAllInput"/>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="localForm.data.administratorProfile.miroute_coordinator"
                                           :disabled="getLockAllInput"
                                           @change="">
                                    Mi-ROUTE Coordinator
                                </label>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <form-input v-model="localForm.data.administratorProfile.miroute_coordinator_phone"
                                            :type="'text'"
                                            :field_name="'miroute_coordinator_phone'"
                                            :label="'Mi-ROUTE Coordinator Phone'"
                                            :has_error="localForm.errors.has('miroute_coordinator_phone')"
                                            :get_error="localForm.errors.get('miroute_coordinator_phone')"
                                            :disabled="!localForm.data.administratorProfile.miroute_coordinator || getLockAllInput"/>
                            </div>
                        </div>

                    </div><!--col-lg-6-->
                </div><!--row-->

        </form>
    </div>
</template>

<script>
    import {DivisionSelect, FormInput} from "../partials";
    import {Form} from "../../utilities";
    import {AdministratorModel} from "../../models/User";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id', 'administratorFormData', 'mode'],

        components: {DivisionSelect, FormInput},

        data() {
            return {
                my_caller_id: 'AddEditAdministratorProfile',
                localForm: new Form(new AdministratorModel),
            };
        },

        created() {
            this.localForm.data = this.administratorFormData;
            this.localForm.data.administratorProfile.company_id = this.getSessionCompanyId;
            // console.log(this.localForm.data);
        },

        mounted() {
            Common.listen('errors', this.updateLocalErrors);
            EventBus.$on(this.my_caller_id + '-full-division', this.assignDivision);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getLockAllInput'
            ]),
        },

        filters: {
            division_tag_label: function(d) {
                return d.name
            }
        },

        watch: {

            'localForm': {
                handler: function (localForm) {
                    Common.fire('form-changed', {
                        'name': 'Administrator',
                        'data': localForm.data,
                        'errors': localForm.errors
                    });
                },
                deep: true
            },

        },

        methods: {

            //DIVISION ASSIGNMENT

            assignDivision(division) {
                /**
                 * if all divisions option is selected, clear out tags for all other divisions
                 * or if a new division is added, and 'All' is present (id = -2) then remove it
                 */
                if ( division.name == 'All' || this.localForm.data.administratorDivision.hasOwnProperty(-2) ) {
                    this.localForm.data.administratorDivision = {};
                }

                this.localForm.data.administratorDivision[division.id] = division;
                this.localForm.errors.clear('administrator.administratorDivision');
                // console.log(territory);
                this.$forceUpdate();
            },

            unassignDivision(division) {
                for (const d in this.localForm.data.administratorDivision) {
                    if (d == division.id) {
                        delete this.localForm.data.administratorDivision[d];
                        this.localForm.errors.clear('administrator.administratorDivision');
                        this.$forceUpdate();
                    }
                }
            },


            //ERRORS AND VALIDATION

            updateLocalErrors(errors) {
                this.localForm.errors.errors = errors;
                this.$forceUpdate();
            },

            clearLocalAndParentError(event) {
                if (!Common.isEmpty(event.target) && !Common.isEmpty(event.target.name)) {
                    this.localForm.errors.clear(event.target.name);
                }
                else {
                    this.localForm.errors.clear(event); // this will be that name in this case
                }
                Common.fire('errors', this.localForm.errors.errors);
                this.$forceUpdate();
            },


        }
    };
</script>

<style lang="css">

</style>