/**
Requires:

Optional:

Getters:

Setters:

Listeners:
// SYNC PARENT AND CHILD ERRORS
Common.listen('errors', this.updateLocalErrors);
Emitters:
// SYNC PARENT AND CHILD ERRORS
Common.fire('errors', this.localForm.errors.errors);

// SYNC PARENT AND CHILD FORM
Common.fire('form-changed', {
'name': 'Administrator',
'data': localForm.data,
'errors': localForm.errors
});
Notes:

*/
<template lang="html">
    <div id="addEditSuperProfile">

        <form @keydown="clearLocalAndParentError($event)">

            <h5>Roles</h5>
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_account_executive"
                               @change="">
                        Account Executive
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_service_associate"
                               @change="">
                        Service Associate
                    </label>
                </div>
            </div>

            <h5>Responsibilities</h5>
            <div class="row">

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_insurance_processor"
                               @change="">
                        Insurance Processor
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_payment_processor"
                               @change="">
                        Payment Processor
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_vehicle_profile_approver"
                               @change="">
                        Vehicle Profile Approver
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_database_maintainer"
                               @change="">
                        Database Maintainer
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_bank_maintainer"
                               @change="">
                        Bank Maintainer
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_caa_maintainer"
                               @change="">
                        CAA Maintainer
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.is_tasks_maintainer"
                               @change="">
                        Scheduled Tasks Maintainer
                    </label>
                </div>

            </div>

            <h5>View Permissions</h5>
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.can_view_eft"
                               @change="">
                        Can View EFT
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.can_view_login_information"
                               @change="">
                        Can View Login Information
                    </label>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <label class="checkbox">
                        <input type="checkbox" v-model="localForm.data.superProfile.can_view_database_tables"
                               @change="">
                        Can View Database Tables
                    </label>
                </div>
            </div>

            <h5>
                Has All Permissions
                <span @mouseover="all_permission_description_hovered = true"
                      @mouseleave="all_permission_description_hovered = false">
                                        <button class="btn btn-default"
                                                style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;">
                                            <i class="fa fa-info" style="vertical-align: unset;"></i>
                                        </button>
                                    </span>

                <transition name="fade5s">
                    <div v-if="all_permission_description_hovered" class="alert alert-dark" role="alert"
                         style="position: absolute; z-index: 1; font-weight: normal; white-space: nowrap;">
                        Selecting has all permissions will give this user ALL permissions within the system.
                    </div>
                </transition>
            </h5>

            <label class="checkbox">
                <input type="checkbox" v-model="localForm.data.superProfile.has_all_permissions"
                       @change="updateHasAllPermissions(localForm.data.superProfile.has_all_permissions)">
                Has All Permissions
            </label>




        </form>

    </div>
</template>

<script>

    import {Form} from "../../utilities";
    import {SuperModel} from "../../models/User";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id', 'superFormData', 'mode'],

        components: {},

        data() {
            return {
                my_caller_id: 'AddEditSuperProfile',
                all_permission_description_hovered: false,
                localForm: null,

            };
        },

        created() {
            this.localForm = new Form(new SuperModel);
            this.localForm.data = this.superFormData;
            this.localForm.data.superProfile.company_id = this.getSessionCompanyId;
        },

        mounted() {
            Common.listen('errors', this.updateLocalErrors);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
            ])
        },

        watch: {
            'localForm': {
                handler: function (localForm) {
                    Common.fire('form-changed', {
                        'name': 'Administrator',
                        'data': localForm.data,
                        'errors': localForm.errors
                    });
                },
                deep: true
            },
        },

        methods: {

            updateHasAllPermissions(has_all) {
                for ( const p in  this.localForm.data.superProfile ) {
                    if ( p != 'is_account_executive' && p != 'is_service_associate' && (p.includes('can') || p.includes('is')) ) {
                        this.localForm.data.superProfile[p] = has_all;
                    }
                }
            },

            //ERRORS AND VALIDATION

            updateLocalErrors(errors) {
                this.localForm.errors.errors = errors;
                this.$forceUpdate();
            },

            clearLocalAndParentError(event) {
                if (!Common.isEmpty(event.target) && !Common.isEmpty(event.target.name)) {
                    this.localForm.errors.clear(event.target.name);
                }
                else {
                    this.localForm.errors.clear(event); // this will be that name in this case
                }
                Common.fire('errors', this.localForm.errors.errors);
                this.$forceUpdate();
            },
        }
    };
</script>

<style lang="css">

</style>