/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addManyDrivers">
        <h2>Add Many Drivers</h2>

        <section v-if="getSessionCompanyId > 0">

            <div class="row">
                <div class="col-lg-4 col-sm-12">

                    <button class="btn btn-primary" @click="show_modal = true" :disabled="adding_drivers">Upload Excel File</button>
                    <button v-if="selectedFile && !errors_present && !file_applied"
                            class="btn btn-danger"
                            style="margin-left: 1rem;"
                            @click="addManyDrivers"
                            :disabled="adding_drivers">Add Many Drivers</button>
                    <button v-if="selectedFile && file_applied"
                            class="btn btn-secondary"
                            style="margin-left: 1rem;"
                            @click="show_results_modal = true">View Results</button>

                    <loading-partial v-show="adding_drivers"/>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <h5>Uploaded Files</h5>
                    <transition name="fade5s">
                        <section v-if="loaded_existing_files">
                            <ul>
                                <li v-for="(file, key) in existingFiles">
                                    <a  :href="file" target="_blank"
                                        :disabled="adding_drivers"
                                        @click.prevent="selectFile(file)">
                                        {{ file.filename }}
                                    </a>
                                    {{ file.applied ? '(Applied)' : '' }}
                                    <i v-if="selectedFile && selectedFile.id == file.id" class="fas fa-arrow-left"></i>
                                </li>
                            </ul>
                        </section>
                    </transition>
                </div>


                <div class="col-lg-4 col-sm-12">
                    <div class="float-right">
                        <h5>Template</h5>
                        <div v-if="getSessionCountryId == 1 && templateFiles">
                            <a :href="templateFiles.us_template" target="_blank"
                               @click.prevent="downloadTemplate(templateFiles.us_template)">
                                Download Excel Template - US</a>
                        </div>
                        <div v-else-if="getSessionCountryId == 2 && templateFiles">
                            <a :href="templateFiles.ca_template" target="_blank"
                               @click.prevent="downloadTemplate(templateFiles.ca_template)">
                                Download Excel Template - CA
                            </a>
                        </div>
                    </div>

                </div>
            </div>


            <div id="newFileModal" :class="{'modal':true, 'is-active': show_modal}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Upload Excel</p>
                        <button class="delete" aria-label="close" @click="show_modal = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Drag your add many drivers excel document here, or click to open a file dialog.</p>
                        <br>

                        <dropzone :class="'driver-upload'"
                                  id="licenseDropzone"
                                  :url="uploadUrl"
                                  @vdropzone-success="showSuccess()"
                                  :headers="{ 'X-CSRF-TOKEN': csrfToken }"
                                  :max-file-size-in-m-b="max_file_size"
                                  :language="langSettings"
                                  ref="dropzone"
                                  :accepted-file-types="'.xls,.xlsx'">
                            <input type="hidden" name="csrf-token" :value="csrfToken">
                        </dropzone>

                        <div v-if="upload_successful" class="text-center">
                            <p>Success!</p>
                            <button class="btn btn-secondary" @click="closeAfterSuccess()">Close Window</button>
                        </div>

                    </section>
                    <footer class="modal-card-foot">
                        <!--<button class="btn btn-danger" @click="removeFiles()">Remove File</button>-->
                        <button class="btn" @click="show_modal = false">Close</button>
                    </footer>
                </div>
            </div>

            <div v-if="selectedFile && file_loaded">
                <table class="table table-sm table-striped table-hover fusion-table">
                    <thead>
                    <tr>
                        <!--first row of data is column titles, use the length dynamically for colspan-->
                        <th :colspan="selectedFile.data[0].length">
                            <h6>{{ getSessionCompanyName }} - {{ selectedFile.filename }}</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <h6>#</h6>
                        </th>
                        <th v-for="(column_title, index) in selectedFile.data[0]">
                            {{ column_title }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--first index is the headers explaning what each row is hence > 0-->
                    <tr v-for="(row, index) in selectedFile.data" v-if="index > 0"
                        :class="{'table-danger': selectedFile.errors[index] && !file_applied}">
                        <td>{{ index }}</td>
                        <td v-for="(value, index) in row">
                            {{ value }}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div v-if="warnings_present && !file_applied">
                    <div class="alert alert-warning">
                        <h5>Warnings</h5>
                        <div class="row">
                            <ul>
                                <li v-for="(warning, index) in selectedFile.warnings" style="margin-top: 1rem;">
                                    <h6>{{ getName(warning, index) }}</h6>
                                    <ul>
                                        <li v-for="(warning_message, index) in warning">
                                            &nbsp;- {{ warning_message }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div v-if="errors_present && !file_applied">
                    <div class="alert alert-danger">
                        <h5>Errors</h5>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12" v-for="chunk in chunkedErrors">
                                <ul>
                                    <li v-for="(error, index) in chunk" style="margin-top: 1rem;">
                                        <h6>{{ getName(error, index) }}</h6>
                                        <ul>
                                            <li v-for="(error_message, index) in error">
                                                &nbsp;- {{ error_message }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div v-else>
                <em>
                    {{ existingFiles && existingFiles.length > 0 ? 'Select an existing file...' : 'No files have been uploaded. Please upload a file' }}
                </em>

            </div>

            <!--results modal-->
            <div v-if="show_results_modal" id="" :class="{'modal': true, 'is-active': show_results_modal == true}">
                <div class="modal-background"></div>
                <div class="modal-card" style="width: 80%;">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Results - {{ selectedFile.filename }}</p>
                        <button class="delete" @click="show_results_modal = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="row">
                            <div class="col-6">
                                <h4>Inserted: {{ selectedFile.results.insert_count }} / {{ selectedFile.results.insert_count + selectedFile.results.error_count }} records</h4>
                            </div>
                            <div class="col-6">
                                <h4>Error Count: {{ selectedFile.results.error_count }}</h4>
                            </div>
                        </div>
                        <div v-if="selectedFile.results.error_count > 0" class="alert alert-danger">
                            <div v-for="(error, index) in selectedFile.results.errors">
                                <h5>Row {{ error.row_number }}</h5>
                                <h6>{{ error.error }}</h6>
                                <div>
                                    <span v-for="(value, key) in error.row_content">
                                        {{ key  + ': ' }} <strong>{{ value + ' ' }}</strong>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="btn" @click="show_results_modal = false">Cancel</button>
                    </footer>
                </div>
            </div>

            <loading-partial v-show="selectedFile && !file_loaded"/>

        </section>

        <section v-else>
            <h5>Please select a company...</h5>
        </section>

    </div>

</template>

<script>

    import Dropzone from 'vue2-dropzone'
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from "../partials";

    export default {
        props: [],

        components: {LoadingPartial, Dropzone},

        data() {
            return {
                templateFiles: null,
                existingFiles: null,
                loaded_existing_files: false,

                selectedFile: null,
                file_loaded: false,
                adding_drivers: false,


                // modals
                show_modal: false,
                show_results_modal: false,

                // dropzone
                csrfToken: document.head.querySelector('meta[name=csrf-token]').content,
                upload_successful: false,
                max_file_size: 10,

                // deal with the case where there is an upload error, but the server response cannot be parsed
                langSettings: {
                    dictResponseError: 'An error occurred in your upload. Please ensure the file that you are trying to upload is less than 10MB in size, and is an image, pdf, or MS Word document.'
                }
            };
        },

        created() {
            this.getTemplates();
            this.getExistingFiles();
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyName',
                'getSessionCompanyId',
                'getSessionCountryId',
            ]),

            uploadUrl: function() {
                return '/uploadAddManyDriversExcelDocument/' + this.getSessionCompanyId;
            },

            errors_present: function() {
                if (!this.selectedFile) { return; }
                return !_.isEmpty(this.selectedFile.errors);
            },

            warnings_present: function() {
                if (!this.selectedFile) { return; }
                return !_.isEmpty(this.selectedFile.warnings);
            },

            file_applied: function() {
                if (!this.selectedFile) { return; }
                return this.selectedFile.applied;
            },

            chunkedErrors: function() {
                let keys = Object.keys(this.selectedFile.errors);
                let chunk1 = {};
                let chunk2 = {};
                let length = keys.length;
                for(let i = 0; i < length; i++) {
                    if (i <= length/2) {
                        chunk1[ keys[i] ] = this.selectedFile.errors[ keys[i] ];
                    } else {
                        chunk2[ keys[i] ] = this.selectedFile.errors[ keys[i] ];
                    }
                }

                return [chunk1, chunk2];
            }
        },

        watch: {
            'getSessionCompanyId': function() {
                this.loaded_existing_files = false;
                this.getExistingFiles();
                this.selectedFile = null;
                this.file_loaded = false;
            }
        },

        methods: {

            /** TEMPLATES */
            getTemplates() {
                axios.get('/getTemplates/' + 'add-many-drivers').then( response => {
                    this.templateFiles = response.data.files.length == 0 ? null : response.data.files;
                });
            },

            downloadTemplate(filename) {
                let path_to_file = '/storage/tmp/' + filename;
                let a = document.createElement('A');
                a.href = path_to_file;
                a.download = path_to_file.substr(path_to_file.lastIndexOf('/') + 1);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            },


            /** EXISTING FILES */
            getExistingFiles() {
                return new Promise((resolve, reject) => {
                    if (this.getSessionCompanyId == -1) { reject(); }
                    axios.get('/getAddManyDriversFiles/' + this.getSessionCompanyId).then( response => {
                        this.existingFiles = response.data.existingFiles;
                        this.loaded_existing_files = true;
                        if (this.existingFiles) {
                            this.selectFile(this.existingFiles[0]);
                        }
                        resolve();
                    });
                })
            },

            selectFile(file) {
                this.selectedFile = file;
                this.file_loaded = true;
            },

            /** ERRORS */

            getName(error, index) {
                return this.selectedFile.data[index].first_name + ' ' + this.selectedFile.data[index].last_name;
            },

            /** FILE UPLOAD */
            closeAfterSuccess() {
                // TODO FIND LATEST FILE UPLOADED IF APPLICABLE
                this.selectedFile = null;
                this.upload_successful = false;
                this.show_modal = false;
                this.removeFiles();
                this.getExistingFiles();
            },

            removeFiles() {
                this.$refs.dropzone.removeAllFiles(true);
                this.upload_successful = false;
            },

            showSuccess() {
                this.upload_successful = true
            },


            /** ADD MANY DRIVERS */
            addManyDrivers() {
                this.adding_drivers = true;
                axios.post('/addManyDrivers', {
                    company_id: this.getSessionCompanyId,
                    file_id: this.selectedFile.id,
                }).then( response => {
                    this.getExistingFiles().then( () => {
                        this.show_results_modal = true;
                        this.adding_drivers = false;
                    });
                }).catch( errors => {
                    alert('Something went wrong...');
                    window.location.reload();
                })
            }
        },


    };
</script>

<style lang="css">

</style>