/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="addPostalCode">
        <h2>Add New Postal Code / Zip Code</h2>

        <div v-if="message" :class="alert_class">{{ message}}</div>

        <div class="columns">
            <div class="column">
                <form>
                    <div @input="request_geo_data = 1">
                        <br>

                        <div class="columns">
                            <div class="column is-2">Country:</div>
                            <div class="column is-4">
                                <country-select v-model="country_id" :caller_id="caller_id" :display="'long'"
                                               :hide_label="1">
                                </country-select>
                            </div>
                        </div>
                        <div v-if="country_id == 2" class="columns">
                            <div class="column is-2">Province:</div>
                            <div class="column is-4">
                                <province-select v-model="province_id" :caller_id="caller_id" :hide_label="1">
                                </province-select>
                            </div>
                        </div>
                        <div v-if="country_id == 1" class="columns">
                            <div class="column is-2">State:</div>
                            <div class="column is-4">
                                <state-select v-model="province_id" :caller_id="caller_id" :hide_label="1">
                                </state-select>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">City:</div>
                            <div class="column is-4"><input v-model="city_name" size="40"></div>
                        </div>
                        <div class="columns">
                            <div v-if="country_id == 2" class="column is-2">Postal Code:</div>
                            <div v-else class="column is-2">Zip Code:</div>
                            <div class="column is-4"><input v-model="postal_code" size="10"></div>
                        </div>
                        <div v-if="!request_geo_data" class="columns">
                            <div class="column is-2">Latitude:</div>
                            <div class="column is-4"><input v-model="latitude" size="40"></div>
                        </div>
                        <div v-if="!request_geo_data" class="columns">
                            <div class="column is-2">Longitude:</div>
                            <div class="column is-4"><input v-model="longitude" size="40"></div>
                        </div>
                    </div>
                    <div v-if="!request_geo_data && country_id == 1" class="columns">
                        <div class="column is-2">County:</div>
                        <div class="column is-4">
                            <county-select v-model="county_id" :state_id="province_id" :caller_id="caller_id"
                                          :hide_label="1">
                            </county-select>
                        </div>
                        <div v-if="found_county_id == null">
                            Search for <strong>{{county_name}}</strong>
                        </div>
                    </div>
                    <div v-if="request_geo_data" class="columns">
                        <div class="column is-2">
                            <button class="btn btn-primary" @click.prevent="requestGeoDataFromGoogle()">Request
                                Latitude/Longitude from Google
                            </button>
                        </div>
                    </div>
                    <div v-if="prevent_insert == 0 && !request_geo_data" class="columns">
                        <div class="column is-2">
                            <button class="btn btn-primary" @click.prevent="addPostalCode()">Add New Postal Code
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div v-if="stop" align="left">
                <google-map :stops="stop" :initial_zoom="zoom"/>
            </div>
        </div>
        <br>
        <br>
    </div>
</template>


<script>
    import {ProvinceSelect, StateSelect, CountrySelect, CountySelect, GoogleMap} from "../partials";

    export default {

        components: {ProvinceSelect, CountrySelect, StateSelect, CountySelect, GoogleMap},

        data() {
            return {
                country_id: 2,
                postal_code: null,
                city_name: null,
                county_id: -1,
                found_county_id: null,
                county_name: null,
                province_id: -1,
                latitude: null,
                longitude: null,
                request_geo_data: 1,
                prevent_insert: null,
                message: null,
                alert_class: null,

                stop: null,
                zoom: 11,

                caller_id: 'addPostalCode'
            };
        },

        methods: {

            requestGeoDataFromGoogle() {
                this.stop = null;
                var data = {
                    'zip_postal_code': this.postal_code.replace(/\s/g, '').toUpperCase(),
                    'city_name': this.city_name,
                    'state_province_id': this.province_id,
                    'country_id': this.country_id
                };
                axios.post('/getLngLatFromGoogle', data).then(
                    response => {
                        // console.log('getLngLatFromGoogle returns:');
                        // console.log(response.data);
                        this.latitude = response.data.latitude + 0;
                        this.longitude = response.data.longitude + 0;
                        this.city_name = response.data.city_name;
                        this.county_id = response.data.county_id;
                        if (this.county_id != null) {
                            this.found_county_id = 1; // do not display what we are searching for
                        }
                        this.county_name = response.data.county_name;
                        this.prevent_insert = response.data.prevent_insert;
                        // console.log('Prevent Insert = ' + this.prevent_insert);
                        this.message = response.data.message;
                        this.request_geo_data = 0;
                        this.alert_class = "alert alert-warning";

                        if (this.longitude != null && this.longitude != 0) {
                            // console.log('BUILD STOP');
                            this.stop = [{'latitude': this.latitude, 'longitude': this.longitude}];
                        }

                    },
                    error => {
                        // console.log('we have errors?');
                    }
                );

            },

            addPostalCode() {
                var data = {
                    'zip_postal_code': this.postal_code.replace(/\s/g, '').toUpperCase(),
                    'country_id': this.country_id,
                    'city_name': this.city_name,
                    'state_province_id': this.province_id,
                    'latitude': this.latitude,
                    'longitude': this.longitude,
                    'county_id': this.county_id,
                    'timezone_id': this.timezone_id
                };
                // console.log('data for addZipPostalCode:');
                // console.log(data);
                axios.post('/addZipPostalCode', data).then(
                    response => {
                        if (this.country_id == 1) {
                            this.message = 'Zip Code ' + this.postal_code + ' was added to database.';
                        } else {
                            this.message = 'Postal Code ' + this.postal_code + ' was added to database.';
                        }
                        this.alert_class = "alert alert-success";
                        this.prevent_insert = 1;
                    },
                    error => {
                        null;
                    }
                );
            },
        }
    };
</script>

<style lang="css">

</style>
