/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
<div id="apiManagement">
    <passport-clients></passport-clients>
    <passport-authorized-clients></passport-authorized-clients>
    <passport-personal-access-tokens></passport-personal-access-tokens>
</div>
</template>

<script>
    /** imports */

    export default {

        props: [],

        components: {},

        data() {
            return {};
        },

        created() {
        },

        mounted() {
        },

        computed: {},

        watch: {},

        methods: {}
    };
</script>

<style lang="css">

</style>