<!-- region MODULE_DOCUMENTATION -->
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

<!-- endregion -->

<template lang="html">
    <div id="auditsComponent">
        <div class="row">
            <div class="col-sm">
                <h2>Change Tracker</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="toUserSelect">To Whom:</label>

                    <input type="text" name="toUserSelect" id="toUserSelect" v-model="to_user">
                </div>

                <div class="form-group">
                    <label for="byUserSelect">By Whom:</label>

                    <input type="text" name="byUserSelect" id="byUserSelect" v-model="by_user">
                </div>

                <div class="row form-group">
                    <div class="col-sm-4">
                        <label for="companySelect">Company:</label>
                    </div>
                    <div class="col-sm form-group">
                        <company-select :hide_label="true" :inactive_position="'top'" />
                    </div>
                </div>
            </div>
        </div>


        <div v-if="audits">
            <ul>
                <li v-for="audit in audits">
                    {{ audit }}
                </li><br><br>
            </ul>
        </div>

        <table>

        </table>
        <div v-if="modified">
            <ul>
                <li v-for="modify in modified">
                    {{ modify }}
                </li><br><br>
            </ul>
        </div>
    </div>
</template>

<script>
    /** IMPORTS **/
    import {CompanySelect} from "../partials";

    export default {
        props: [],

        components: {CompanySelect},

        data() {
            return {
                audits: null,
                modified: null,
                to_user: null,
                by_user: null
            };
        },

        created() {

        },

        mounted() {
            axios.get('/getCompanyAudits').then(response => {
                this.audits = response.data.audits;
                this.modified = response.data.modified;
            });
        },

        destroyed() {

        },

        computed: {},

        watch: {},

        methods: {}
    };
</script>

<style lang="scss">

</style>