/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="bankInformation">

        <div class="columns">
            <div class="column">
                <h2>Bank Information</h2>
            </div>
            <div class="column">
                <button class="btn btn-success" id="addBankButton" @click="openBankModal('add')">Add Bank</button>
            </div>
        </div>

        <transition name="fade5s">
            <section v-if="loaded">

                <table v-if="true" class="table table-striped table-hover fusion-table">
                    <thead>
                        <tr class = "primary-table-header">
                            <th>Country</th>
                            <th>Bank Name</th>
                            <th>Status</th>
                            <th colspan="2" class="text-left">Clients</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(bank, key) in banks">
                            <td>{{ bank.country_id | countryFilter }}</td>
                            <td>{{ bank.bank_name }}</td>
                            <td>{{ bank.status | statusFilter }}</td>
                            <td>
                                <button @click="openClientListModal(bank)">
                                    {{ bank | activeClientCountFilter }}
                                </button>
                            </td>
                            <td><button class="btn btn-secondary" @click="openBankModal('edit', bank)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </transition>

        <loading-partial v-show="!loaded" caption_text="Loading bank information"/>

        <add-edit-bank-modal/>

        <!--Modal to display client list-->
        <div id="" :class="{'modal': true, 'is-active': show_client_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Title</p>
                    <button class="delete" @click="show_client_modal = false"></button>
                </header>
                <section class="modal-card-body">
                    <div v-if="selectedBank">
                        <div class="row">
                            <div class="col-6">
                                <h5>Active Clients</h5>
                                <ul class="client-list">
                                    <!--Get an array from a set (unique) of the bank's companies' names filtered then sorted by name-->
                                    <li v-for="company in Array.from(new Set(selectedBank.company.filter(c => {return !c.pivot.deleted_at;}).sort((a, b) => a.name.localeCompare(b.name)).map(x => {return x.name;})))">
                                        {{company}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h5><span class="help-block">Inactive Clients</span></h5>
                                <ul class="client-list">
                                    <li v-for="company in Array.from(new Set(selectedBank.company.filter(c => {return c.pivot.deleted_at;}).sort((a, b) => a.name.localeCompare(b.name)).map(x => {return x.name;})))"
                                        class="inactive-client">
                                        <span class="help-block">{{company}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="btn btn-danger float-right" @click="show_client_modal = false">Close</button>
                </footer>
            </div>
        </div>


    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    import {LoadingPartial} from '../partials';
    import {Bank} from "../../models";
    import {AddEditBankModal} from "./index"; // super
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {LoadingPartial, AddEditBankModal},

        data() {
            return {
                loaded: false,
                selectedBank: null,
                banks: null,
                show_client_modal: false,
            };
        },

        created() {
        },

        mounted() {
            this.getBanks();

            EventBus.$on('bank-submission-successful', (bank) => {
                this.updateBanks(bank);
            });
        },

        destroyed() {

        },

        watch: {},

        filters: {
            countryFilter(country_id) {
                return country_id == 1 ? 'US' : 'CAN';
            },

            statusFilter(status) {
                return status == 1 ? 'Active' : 'Inactive';
            },

            activeClientCountFilter(bank) {
                return bank.company.filter( c => !c.pivot.deleted_at).length
            }
        },

        methods: {
            getBanks() {
                this.loaded = false;
                axios.get('/getAllBanks').then(response => {
                    this.banks = response.data.banks;
                    this.loaded = true;
                });
            },

            /**
             * This function is used to open the edit/add bank modal
             *
             * @param mode
             * @param bankData
             */
            openBankModal(mode, bankData = null) {
                this.selectedBank = new Bank(bankData);
                EventBus.$emit('open-add-edit-bank-modal', this.selectedBank, mode);
            },

            /**
             * This function is used to open the client list bank modal
             *
             * @param bank
             */
            openClientListModal(bank) {
                this.selectedBank = bank;
                this.show_client_modal = true;
            },

            updateBanks(bank) {
                for (const b in this.banks) {
                    if (this.banks[b].id == bank.id) {
                        bank.client_count = this.banks[b].client_count;
                        this.banks[b] = bank;
                        this.$forceUpdate();
                        return;
                    }
                }
                bank.client_count = 0;
                this.banks.push(bank);
            }

        }
    };
</script>

<style lang="css">

    #bankInformation #table {
        text-align: center;
    }

    #bankInformation #tableTitle {
        text-align: center;
    }

    #bankInformation #addBankButton {
        float: right;
    }

    #bankInformation #loadingSection {
        text-align: center;
        padding: 5rem;
    }

    #bankInformation .client-list {
        height: 200px;
        overflow-y: scroll;
    }



</style>