<!-- region MODULE_DOCUMENTATION -->
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
    - named internal props targetString and authorString to not confuse with model author and target

<!-- endregion -->

<template lang="html">
    <div id="changeTracker">
        <h2>Change Tracker</h2>

        <div class="form">
            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="targetString" class="inline">To Whom</label>
                </div>

                <div class="col-sm-4">
                    <input type="text" id="targetString" class="form-control" v-model="targetString">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="authorString" class="inline">By Whom</label>
                </div>

                <div class="col-sm-4">
                    <input type="text" id="authorString" class="form-control" v-model="authorString">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="companySelect" class="inline">Company</label>
                </div>

                <div class="col-sm-4">
                    <company-select :hide_label="true" :inactive_position="'none'"/>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="fromDate" class="inline">From Date</label>
                </div>

                <div class="col-sm-4">
                    <vue-bootstrap-date-picker id="fromDate" v-model="from_date" :config="date_picker_options"
                                               :placeholder="datepicker_placeholder" :icons="{date: 'fas fa-calendar'}"/>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label for="toDate" class="inline">To Date</label>
                </div>

                <div class="col-sm-4">
                    <vue-bootstrap-date-picker id="toDate" v-model="to_date" :config="date_picker_options"
                                               :placeholder="datepicker_placeholder" :icons="{date: 'fas fa-calendar'}"/>
                </div>
            </div>

            <button class="btn btn-primary" @click="submitChanges" :disabled="submitting">Submit</button>
        </div>
    </div>
</template>

<script>
    /** IMPORTS **/
    import {CompanySelect} from "../partials";
    import moment from 'moment';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {
            CompanySelect,
            VueBootstrapDatePicker
        },

        data() {
            return {
                authorString: '',
                targetString: '',
                submitting: false,
                datepicker_placeholder: 'Select a Date',
                from_date: null,
                to_date: null,
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    icons: {
                        date: "fas fa-calendar",
                    }
                }
            };
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                "getSessionCompanyId",
                "getSessionCompanyName"
            ])
        },

        watch: {},

        methods: {
            submitChanges() {
                if (this.submitting) {
                    return;
                }

                this.submitting = true;
            }
        }
    };
</script>

<style lang="scss">

</style>