/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">


    <div id="directDepositPaymentSchedule">

        <h2 style="display:inline-block">
            Direct Deposit Payment Schedule
        </h2>
        <section v-if="getHighestAuthenticatedUserType == 'super'" style="display:inline-block" class="not-printable">
            <!--HOVERABLE ITEM FOR INFO AVAILABLE FOR SUPERS ONLY-->
            <button class="btn btn-default"
                    @mouseover="info_hovered = true"
                    @mouseleave="info_hovered = false"
                    style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;">
                <i class="fas fa-info" style="vertical-align: unset;"></i>
            </button>

            <transition name="fade5s">
                <div v-if="info_hovered" class="alert alert-dark" role="alert"
                     style="position: absolute; z-index: 1; font-weight: normal; max-width: 75%">
                    <ol>
                        <li>Payment date is based on the default payment day. If payment date is on weekend or bank
                            holiday, it is moved forward to the first business day
                        </li>
                        <li>The last bank update date is based on payment day - 3 days</li>
                        <li>Funds received by CarData is based on the payment date - 3 business days</li>
                        <li>Approval date is based on company approval end day + 1. If Approval date is on the weekend
                            or bank holiday, it is move forward to the first business date
                        </li>
                        <li>Holidays can be viewed & updated under Tools > Holidays.</li>
                    </ol>
                </div>
            </transition>
        </section>


        <div v-if="getSessionCompanyId < 0 || getSessionYear < 0">
            <div class="alert alert-warning" role="alert">
                {{ selection_warning_message }}
            </div>
        </div>


        <br>
        <div v-if="loaded_schedule && getSessionCompanyId > 0">

            <h6 class="text-center" style="margin: 1rem;">
                Funds received after the Deadline Date Payment is Due to CarData, will result in a $250.00 After Deadline Processing Fee to be added to the following month Payment Due to CarData. Funds received after the deadline may also result in a delay to the Driver Payment Value Date.
            </h6>

            <!-- SCHEDULE -->
            <div class="table-responsive table-responsive-bordered mt-3 mb-5">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr class = "primary-table-header">
                        <th class="text-center">Year</th>
                        <th class="text-center">Payment Month</th>
                        <th class="text-center">Last Date for Changes to Bank Information</th>
                        <th class="text-center">Approval to CarData</th>
                        <th class="text-center">Deadline Date Payment is Due to CarData</th>
                        <th class="text-center">Driver Payment Value Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="paymentDate in paymentDates">
                        <td>{{getSessionYear}}</td>
                        <td style="vertical-align: middle">{{ paymentDate.month | fullNameMonth}}</td>

                        <!--Banking Lock Date-->
                        <td>
                            <holiday-info v-if="paymentDate.bankingLockDateHoliday != null"
                                          :holiday="paymentDate.bankingLockDateHoliday"/>

                            <div :class="{'input-group input-group-sm': true, 'has-error':paymentScheduleErrors.has('banking_lock_date')}">
                                <div class="input-group-prepend">
                                    <span :class="{'pl-0 pr-0 input-group-text text-muted d-block': true, 'help-block font-weight-bold': isWeekend(paymentDate.banking_lock_date) }" style="width: 45px;">
                                        {{ paymentDate.banking_lock_date | dayOfWeek}}
                                    </span>
                                </div>

                                <input type="text"
                                       name="banking_lock_date"
                                       class="form-control printable-align-center"
                                       :disabled="getHighestAuthenticatedUserType != 'super'"
                                       v-model="paymentDate.banking_lock_date">

                                <span class="help-block" v-if="paymentScheduleErrors.has('banking_lock_date')">{{ paymentScheduleErrors.get('banking_lock_date') }}</span>
                            </div>
                        </td>

                        <!--Approval Date-->
                        <td>
                            <holiday-info v-if="paymentDate.approvedDateHoliday != null"
                                          :holiday="paymentDate.approvedDateHoliday"/>

                            <div :class="{'input-group input-group-sm': true, 'has-error':paymentScheduleErrors.has('approved_date')}">
                                <div class="input-group-prepend">
                                    <span :class="{'pl-0 pr-0 input-group-text text-muted d-block': true, 'help-block font-weight-bold': isWeekend(paymentDate.approved_date) }" style="width: 45px;">
                                        {{ paymentDate.approved_date | dayOfWeek}}
                                    </span>
                                </div>

                                <input type="text"
                                       name="approved_date"
                                       class="form-control printable-align-center"
                                       :disabled="getHighestAuthenticatedUserType != 'super'"
                                       v-model="paymentDate.approved_date">

                                <span class="help-block" v-if="paymentScheduleErrors.has('approved_date')">{{ paymentScheduleErrors.get('approved_date') }}</span>
                            </div>
                        </td>

                        <!--Payment Deadline-->
                        <td>
                            <holiday-info v-if="paymentDate.receivedDateHoliday != null"
                                          :holiday="paymentDate.receivedDateHoliday"/>

                            <div :class="{'input-group input-group-sm': true, 'has-error':paymentScheduleErrors.has('received_date')}">
                                <div class="input-group-prepend">
                                    <span :class="{'pl-0 pr-0 input-group-text text-muted d-block': true, 'help-block font-weight-bold': isWeekend(paymentDate.received_date) }" style="width: 45px;">
                                        {{ paymentDate.received_date | dayOfWeek}}
                                    </span>
                                </div>

                                <input type="text"
                                       name="received_date"
                                       class="form-control printable-align-center"
                                       :disabled="getHighestAuthenticatedUserType != 'super'"
                                       v-model="paymentDate.received_date">

                                <span class="help-block" v-if="paymentScheduleErrors.has('received_date')">{{ paymentScheduleErrors.get('received_date') }}</span>
                            </div>
                        </td>

                        <!--Driver Payment Date-->
                        <td>
                            <holiday-info v-if="paymentDate.driverPaymentDateHoliday != null"
                                          :holiday="paymentDate.driverPaymentDateHoliday"/>

                            <div :class="{'input-group input-group-sm': true, 'has-error':paymentScheduleErrors.has('driver_payment_date')}">
                                <div class="input-group-prepend">
                                    <span :class="{'pl-0 pr-0 input-group-text text-muted d-block': true, 'help-block font-weight-bold': isWeekend(paymentDate.driver_payment_date) }" style="width: 45px;">
                                        {{ paymentDate.driver_payment_date | dayOfWeek}}
                                    </span>
                                </div>

                                <input type="text"
                                       name="driver_payment_date"
                                       class="form-control printable-align-center"
                                       :disabled="getHighestAuthenticatedUserType != 'super'"
                                       v-model="paymentDate.driver_payment_date">

                                <span class="help-block" v-if="paymentScheduleErrors.has('driver_payment_date')">{{ paymentScheduleErrors.get('driver_payment_date') }}</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-show="getting_schedule">
            <loading-partial/>
        </div>


        <report-actions
            :caller_id="caller_id"
            :show_save_button="loaded_schedule && getSessionCompanyId > 0 && getHighestAuthenticatedUserType == 'super'"
            :save_disabled="paymentScheduleErrors.any()"
            :show_excel_button="loaded_schedule && getSessionCompanyId > 0"
            :excel_disabled="paymentScheduleErrors.any()"
            :show_print_button="loaded_schedule && getSessionCompanyId > 0"
            :action_in_progress="action_in_progress"/>

        <errors-modal :caller_id="caller_id"/>

    </div>
</template>

<script>

    import moment from 'moment';
    import {HolidayInfo} from "./index"; // super
    import {
        ErrorsModal,
        LoadingPartial
    } from "../partials";
    import {ReportActions} from '../reports';
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['user'],

        components: {ErrorsModal, HolidayInfo, LoadingPartial, ReportActions},

        data() {
            return {
                caller_id: 'DirectDepositPaymentSchedule',
                getting_schedule: false,
                loaded_schedule: false,
                no_records_found: false,
                action_in_progress: false,

                paymentDates: null,
                info_hovered: false,

                paymentScheduleErrors: new Errors,
            };
        },

        beforeCreate() {
            /**
             * On page load set session year to -1
             */
            Common.storeCommit('updateSessionYear', -1);
        },

        created() {
            console.log('created ....');
            if (this.getHighestAuthenticatedUserType == 'super') {
                Common.storeCommit('updatePaymentResponsibilityCardata', true).then( () => {
                    EventBus.$emit('reset-companies'); // causes refiltering of companies
                });
            }
        },

        mounted() {
            if (this.getSessionCompanyId > 0) this.getSchedule();

            /**
             * Register report action event listeners
             */
            EventBus.$on(this.caller_id + '-action', this.performAction);
        },

        beforeDestroy() {
            /**
             * Turn off report action event listeners
             */
            EventBus.$off(this.caller_id + '-action', this.performAction);



            /**
             * Only in the case of super alter this value to filter
             * the super session company select
             */
            if (this.getHighestAuthenticatedUserType == 'super') {
                Common.storeCommit('updatePaymentResponsibilityCardata', false);
                EventBus.$emit('reset-companies');
            }
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionYear',
                'getCompanyStartYear',
                'getCompanyStopYear',
                'getHighestAuthenticatedUserType'
            ]),

            selection_warning_message: function() {
                let message = 'Please select a ';
                if (Common.isEmpty(this.getSessionCompanyId)) {
                    message += 'company';
                    if (Common.isEmpty(this.getSessionYear)) {
                        return message + ' and a year';
                    }
                } else if (Common.isEmpty(this.getSessionYear)) {
                    return message + 'year';
                }
            }
        },

        watch: {

            'getSessionCompanyId': {
                handler: function(val) {
                    this.loaded_schedule = null;
                    this.paymentDates = null;
                },
                immediate: true,
            },

            'getSessionYear': {
                handler: function(val) {
                    if (!Common.isEmpty(val)) {
                        this.getSchedule();
                    }
                },
                immediate: true,
            },

        },

        methods: {
            /**
             * This method is called when parameters are set to get the schedule in question
             */
            getSchedule() {
                if (!Common.isEmpty(this.getSessionYear) && !Common.isEmpty(this.getSessionCompanyId)) {
                    this.getting_schedule = true;
                    this.paymentDates = null;
                    axios.get('/getCompanyPaymentDates/' + this.getSessionCompanyId + '/' + true + '/' + this.getSessionYear).then(response => {
                        this.paymentDates = response.data.companyPaymentDates;
                        this.loaded_schedule = true;
                        this.getting_schedule = false;
                    }).catch( errors => {
                        console.log(errors);
                        this.paymentDates = null;
                        this.loaded_schedule = null;
                        this.getting_schedule = false;
                    });
                }
            },

            /**
             * This method is triggered by the event listener
             *      EventBus.$on(this.caller_id + '-action', this.performAction);
             * The event is fired from ReportActions.vue
             *
             * @param action
             */
            performAction(action) {
                let func = null;
                switch(action) {
                    case 'save':
                        func = this.updateSchedule;
                        break;
                    case 'generate-excel':
                        func = this.generateExcel;
                        break;
                }

                this.action_in_progress = true;
                func().then( (result) => {
                    this.action_in_progress = false;
                    EventBus.$emit(this.caller_id + '-action-complete', true);
                    console.log(func + ' completed with status ' + result);
                }).catch( (e) => {
                    this.action_in_progress = false;
                    EventBus.$emit(this.caller_id + '-action-complete', false);
                    console.log(e.error);
                    EventBus.$emit(this.caller_id + '-error', e);
                });
            },

            updateSchedule() {
                return new Promise((resolve, reject) => {
                    axios.post('/updateCompanyPaymentDates', {
                        company_id: this.getSessionCompanyId,
                        companyPaymentDates: this.paymentDates,
                    }).then(response => {
                        resolve(response.status);
                    }).catch(error => {
                        reject({
                            error: error,
                            message: 'Error updating schedule. Please ensure all dates are valid and in Y-m-d format.'
                        });
                    });
                });
            },

            generateExcel() {
                return new Promise((resolve, reject) => {
                    axios({
                        method: 'get',
                        url: '/getDirectDepositPaymentScheduleExcel/' + this.getSessionCompanyId + '/' + this.getSessionYear,
                        responseType: 'blob'
                    }).then(response => {
                        Common.downloadFileResponse(response.data, 'payment_schedule.xls', 'application/vnd.ms-excel');
                        resolve(response.status);
                    }).catch(error => {
                        reject({
                            error: error,
                            message: 'Error generating excel file. Please contact CarData IT support.'
                        });
                    })
                });
            },

            isWeekend(date) {
                let day_of_week = moment(date).isoWeekday();
                return day_of_week == 7 || day_of_week == 6 ? true : false;
            },

        },


        filters: {
            dayOfWeek: function (val) {
                return moment(val).format('ddd');
            },

            fullNameMonth: function (val) {
                return moment().month(val - 1).format('MMMM');
            }
        }

    };
</script>

<style lang="css">
    #directDepositPaymentSchedule .columns {
        margin: auto;
    }

    #directDepositPaymentSchedule .text-danger {
        font-weight: bold;
    }

    #directDepositPaymentSchedule .column.is-2 {
        width: 20.8333333%;
    }

    #directDepositPaymentSchedule #columnTitle {
        text-align: center;
    }

    #directDepositPaymentSchedule ol {
        list-style-type: circle;
        padding-left: 1rem;
    }

    #directDepositPaymentSchedule th {
        background-color: rgba(5,36,96,.9) !important;
        border-color: rgba(5,36,96,.9) !important;
        color: white;
    }
</style>