/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:
    download-holidays-complete - tells the parent to switch the show/edit component for the newly downloaded
                                 data
Notes:

*/
<template lang="html">
    <div id="downloadHolidaysPage">

        <p class="title">Download Holidays</p>

        <div class="columns">

            <div class="column is-8">

                <p>
                    It appears that no <strong> {{ country_adjective }} </strong>  holiday information is in our
                    records for <strong> {{ year }} </strong>.
                </p>

            </div>

            <div class="column is-4">

                <button class="btn btn-success"
                        @click="downloadHolidayData"
                        :disabled="loaded == false">Download Holiday Info</button>

            </div>

        </div>

        <div v-if="loaded == false">
            <button class="btn is-loading" style="width: 100%;"></button>
        </div>

    </div>

</template>

<script>
export default {

    props: ['country_id', 'year'],

    components: {},

    data() {
        return{
            statesProvinces: null,
            holidays: {},
            loaded: null,

            percent_loaded: 0,
        }
    },

    created() {

    },

    mounted() {

    },

    destroyed() {

    },

    computed: {
        country_adjective: function() {
            return this.country_id == 1 ? 'American' : 'Canadian';
        }
    },

    watch: {

    },

    methods: {

        downloadHolidayData() {
            this.loaded = false;

            //get the list of states or provinces
            axios.get('/getStatesProvinces/' + this.country_id).then(response => {
                this.statesProvinces = this.country_id == 1 ? response.data.states : response.data.provinces;
                for (let i = 0; i < this.statesProvinces.length; i++) {

                    if (this.statesProvinces[i].name == 'Puerto Rico') {
                        continue;
                    }

                    let name = this.statesProvinces[i].name == 'Yukon Territory' ? 'Yukon' : this.statesProvinces[i].name;
                    let country = this.country_id == 1 ? 'usa' : 'can';
                    let URL = 'http://kayaposoft.com/enrico/json/v1.0/?action=getPublicHolidaysForYear&year=' + this.year + '&country=' + country + '&region=' + name;
                    let self = this;

                    //get the holiday data for the year
                    $.ajax({
                        async: false,
                        url: URL,
                        type: 'GET',
                        success: function (data) {
                            self.holidays[self.statesProvinces[i].name] = data
                        }
                    });
                }

                //push it into the database
                axios.post('/addHolidays', this.holidays).then( response => {
                    //tell the parent to switch mode to edit for the new data
                    Common.fire('download-holidays-complete', 'edit');
                })
                .catch( errors => {
                    alert(errors);
                    this.loaded = true;
                });
            });
        },
    }
}
</script>

<style lang="css">

</style>