/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="draftRateReport">
        <h2>Draft Rate Report<!-- <strong>tabled until further notice</strong>--></h2>

        <span>TBD</span>

        <!--<table v-if="true" class="table table-striped table-hover fusion-table">
            <thead>
            <tr>
                <th valign="left" colspan="2">Company</th>
                <th valign="center" colspan="4">Driver</th>
                <th valign="right" colspan="6">Reimbursement</th>
            </tr>
            <tr>
                <th>Company</th>
                <th>Division</th>
                <th>Name</th>
                <th>Employee Number</th>
                <th>Vehicle Profile (clickable?)</th>
                <th>Existing Rate</th>
                <th>CarData Rate</th>
                <th>Difference</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="x in [1,2]">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr v-if="true">
                <th>TOTALS</th>
            </tr>
            </tbody>
        </table>-->
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: [],

        components: {},

        data() {
            return {

            };
        },

        created() {

        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
            ])
        },

        watch: {

        },

        methods: {}
    };
</script>

<style lang="css">

</style>