/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="dynamicReportsView">
        <h2>Dynamic Reports</h2>
        <br>

        <!--<v-select multiple v-model="selectedColumns" :options="reportColumns" :checkboxed="true"></v-select>-->
        <br>

        <flash-message transition="slide"/>

        <div class="columns is-multiline">
            <div class="column is-3">
                <div class="box">
                    <h3>Report Type</h3>
                    <br>

                    <ul id="reportTypeList">
                        <li>
                            <button class="btn is-default" @click="getColumns('reimbursement')">Reimbursement
                                Report
                            </button>
                        </li>
                        <li>
                            <button class="btn is-default" @click="getColumns('user')">User Report</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column is-5">
                <div class="box">
                    <h3>Columns to Display</h3>
                    <br>
                    <p v-model="selectedColumns"></p>

                    <div>
                        <span v-for="(table, index) in reportColumns">
                                <div class="columns">
                                    <div class="column is-3">{{ index }}</div>
                                    <div class="column">
                                        <v-select multiple v-model="selectedColumns[index]"
                                                  :options="reportColumns[index]" :checkboxed="true"
                                                  @changed="keepTrack($event)"/>
                                    </div>
                                </div>

                        </span>
                    </div>

                    <!--<ul v-for="table in reportColumns">
                        <li v-for="col in reportColumns[table]">
                            {{ col }}
                        </li>
                    </ul>-->
                </div>
            </div>

            <div class="column is-4" v-if="requiredFilters.length > optionalFilters.length">
                <div class="box">
                    <h3>Required Filters</h3>
                    <br>
                    <span v-for="filter in requiredFilters">

                        <div v-if="filter=='company'" :class="{'has-error': errors.has('company')}">
                            <company-select/>
                            <span class="help-block" v-if="errors.has('company')">{{ errors.get('company') }}</span>
                        </div>
                        <span v-if="filter=='year'" :class="{'has-error': errors.has('year')}">
                            <year-select v-model="selected_year"/>
                            <span class="help-block" v-if="errors.has('year')">{{ errors.get('year') }}</span>
                        </span>
                        <span v-if="filter=='month'" :class="{'has-error': errors.has('month')}">
                            <month-select v-model="selected_month" :selected_year="2017"/>
                            <span class="help-block" v-if="errors.has('month')">{{ errors.get('month') }}</span>
                        </span>
                    </span>
                    {{ requiredFilters }}


                    <h3>Optional Filters</h3>
                    <br>
                    <span v-for="filter in optionalFilters">
                        <span v-if="filter=='division'">
                            <division-select/>
                        </span>
                        <span v-if="filter=='driver'">
                            <driver-select/>
                        </span>
                        <span v-if="filter=='user_type'">
                            <user-type-select/>
                        </span>
                    </span>
                    {{ optionalFilters }}
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-3 text-center">
                <button class="btn btn-secondary" @click="generateReport" :disabled="selected_report == ''">Generate
                    Report
                </button>
            </div>
            <div class="column">

            </div>
        </div>
    </div>
</template>

<script>
    import {CompanySelect, DivisionSelect, DriverSelect, MonthSelect, UserTypeSelect, YearSelect} from "../partials";
    import {Errors} from "../../utilities";
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        components: {CompanySelect, DivisionSelect, DriverSelect, MonthSelect, UserTypeSelect, YearSelect},

        data() {
            return {
                reportColumns: {},
                selectedColumns: [],
                requiredFilters: [],
                optionalFilters: [],
                selected_report: '',
                errors: new Errors,
                selected_year: -1,
                selected_month: -1
            };
        },

        created() {},

        mounted() {
            EventBus.$on('company-changed', () => {
                this.errors.clear('company');
            });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId'
            ])
        },

        watch: {

            selected_year: function (val) {
                if (val > 0) {
                    this.errors.clear('year');
                }
            },

            selected_month: function (val) {
                if (val > 0) {
                    this.errors.clear('month');
                }
            }
        },

        methods: {
            getColumns(report_type) {
                axios.get('/getAvailableReportColumns/' + report_type).then(response => {
                    this.reportColumns = response.data.columns;
                    this.requiredFilters = response.data.filters.required;
                    this.optionalFilters = response.data.filters.optional;
                    this.selected_report = report_type;
                });
            },

            generateReport() {
                let success = this.checkErrors();
                if (success) {
                 // console.log('company id: ' + this.getSessionCompanyId);
                 // console.log('generating with these columns');
                 // console.log(this.selectedColumns);

                    let data = $.extend({}, this.selectedColumns, {
                        company_id: this.getSessionCompanyId,
                        selected_year: this.selected_year,
                        selected_month: this.selected_month,
                        division_id: this.getSessionDivisionId,
                        driver_id: this.getSessionDriverId
                    });
                 // console.log(data);
                    axios.post('/dynamicReportReimbursement', data).then(response => {
                     // console.log('done');
                    });
                }
            },

            checkErrors() {
                let success = true;
                for (let f in this.requiredFilters) {
                 // console.log(this.requiredFilters[f]);
                    switch (this.requiredFilters[f]) {
                        case 'company':
                            if (this.getSessionCompanyId < 1) {
                                this.errors.add('company', ['unset']);
                                this.success = false;
                                this.flash('Please select a company', 'error', {timeout: 3000});
                            }
                            break;
                        case 'year':
                            if (this.selected_year < 1) {
                                this.errors.add('year', ['unset']);
                                this.success = false;
                                this.flash('Please select a year', 'error', {timeout: 3000});
                            }
                            break;
                        case 'month':
                            if (this.selected_month < 1) {
                                this.errors.add('month', ['unset']);
                                this.success = false;
                                this.flash('Please select a month', 'error', {timeout: 3000});
                            }
                            break;
                    }
                }
                this.$forceUpdate();
                return success;
            }
        }
    };

</script>

<style lang="scss">
    #dynamicReportsView .box {
        height: 100%;
    }

    #dynamicReportsView #reportTypeList li {
        margin-bottom: .25rem;
    }

    #dynamicReportsView #reportTypeList li button {
        width: 100%;
    }

    #dynamicReportsView flash-message {
        transition: all .3s ease;
        overflow: hidden;
    }

    #dynamicReportsView flash-message.v-enter, #dynamicReportsView flash-message.v-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
</style>