/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="editMasterTaskModal" :class="{'modal':true, 'is-active': is_active}">
        <div class="modal-background"></div>

        <div class="modal-card" v-if="editedTask">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ title }}</p>
                <button class="delete" @click.prevent="closeModal"></button>
            </header>

            <div class="modal-card-body">
                <flash-message transition="slide"/>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label for="taskNameInput">Task name</label>
                    </div>

                    <div class="col-sm">
                        <input type="text" class="form-control" id="taskNameInput" name="taskNameInput"
                               v-model="editedTask.name">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label for="taskScriptInput">Task script</label>
                    </div>

                    <div class="col-sm">
                        <input type="text" class="form-control" id="taskScriptInput" name="taskScriptInput"
                               v-model="editedTask.script">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label for="taskDescriptionInput">Task description</label>
                    </div>

                    <div class="col-sm">
                        <textarea class="form-control" rows="5" id="taskDescriptionInput" name="taskDescriptionInput"
                                  v-model="editedTask.description"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label for="intervalInput">Interval</label>
                    </div>

                    <div class="col-sm-2">
                        Recurring
                        <select name="intervalInput" id="intervalInput" v-model="editedTask.interval">
                            <option value="hourly">Hourly</option>
                            <option value="daily">Daily</option>
                            <option value="monthly">Monthly</option>
                            <option value="annually">Annually</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        Day(s):
                        <input type="text" class="form-control" name="daysInput" id="daysInput" placeholder="1,3,24" v-model="editedTask.day">
                    </div>

                    <div class="col-sm-2">
                        Hour:
                        <input type="number" class="form-control" max="23" name="hoursInput" id="hoursInput" v-model="editedTask.hour">
                    </div>

                    <div class="col-sm-2">
                        Minutes
                        <input type="number" class="form-control" name="minutesInput" id="minutesInput" max="59" v-model="editedTask.minute">
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-sm-3">
                    <label for="activeCheckbox">Active</label>
                    </div>

                    <div class="col-sm">
                        <input type="checkbox" id="activeCheckbox" name="activeCheckbox" v-model="taskActive" @change="activateTask">
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" @click="onSubmit">
                        <span v-if="changes_detected">Submit Changes</span>
                        <span v-else>Close</span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    /** imports */
    import VueTimePicker from 'vue-timepicker';
    import moment from 'moment';

    export default {

        props: ['caller_id', 'is_active', 'task_id'],

        components: {
            VueTimePicker
        },

        data() {
            return {
                originalTask: null,
                editedTask: null,
                taskActive: true
            };
        },

        created() {
        },

        mounted() {

        },

        computed: {
            title: function () {
                return "Edit task #" + this.task_id;
            },

            task_is_active: function () {
                return this.editedTask.deleted_at == null;
            },

            changes_detected: function () {
                return !_.isEqual(this.editedTask, this.originalTask);
            }
        },

        watch: {
            is_active: function (val) {

            },

            task_id: function (val) {
                if (val > 0) {
                    axios.post('/getMasterTask/' + val)
                        .then(response => {
                            console.log('Got this task', response.data.task);
                            this.originalTask = response.data.task;
                            this.editedTask = _.cloneDeep(this.originalTask);
                            this.taskActive = this.editedTask.deleted_at == null;
                        });
                }
            }
        },

        methods: {
            closeModal() {
                // throw away changes
                this.editedTask = null;
                Common.fire(this.caller_id + '-close-modal');
            },

            activateTask() {
                console.log('doing something with task', this.taskActive);
                if (this.taskActive) {
                    this.editedTask.deleted_at = null;
                } else {
                    this.editedTask.deleted_at = moment().format("YYYY-MM-DD HH:mm:ss");
                }
            },

            onSubmit() {
                console.log('submitting');
                this.flash('Blah blah', 'success', {timeout: 3000});
            }
        }
    };
</script>

<style lang="css">
    #editMasterTaskModal flash-message {
        transition: all .7s ease;
        overflow: hidden;
    }

    #editMasterTaskModal flash-message.v-enter, #editMasterTaskModal flash-message.v-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
</style>