/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="editHolidaysPage">
        <div class="columns">
            <div class="column is-6">
                <state-select v-if="country_id == 1" v-model="state_province_id"/>
                <province-select v-else v-model="state_province_id"/>
            </div>

            <!-- SPACING -->
            <div class="column is-3"></div>

            <!-- SAVE BUTTON IF A STATE/PROVINCE'S HOLIDAYS SELECTED -->
            <div class="column is-3">
                <button v-if="holidays != null"
                        class="btn btn-secondary"
                        :disabled="has_errors == true"
                        @click="updateHolidays">Save
                </button>
            </div>

        </div>

        <!-- HOLIDAYS -->
        <div v-if="loaded == true">
            <!-- COLUMN TITLES -->
            <div v-if="holidays != null" class="columns">
                <div class="column is-4">
                    <label>Date</label>
                </div>

                <div class="column is-4">
                    <label>Holiday Name</label>
                </div>

                <div class="column is-4">
                    <label>Note</label>
                </div>
            </div>

            <!-- LOOP THROUGH EACH HOLIDAY AND DISPLAY EDITABLE FIELDS -->
            <div v-for="holiday in holidays">
                <edit-holiday :holidayProp="holiday"/>
            </div>

            <br>

            <!-- SAVE BUTTON IF A STATE/PROVINCE'S HOLIDAYS SELECTED -->
            <div class="columns">
                <div class="column is-9"></div>
                <div class="column is-3">
                    <button v-if="holidays != null"
                            class="btn btn-secondary"
                            :disabled="has_errors == true"
                            @click="updateHolidays">Save
                    </button>
                </div>
            </div>
        </div>

        <div v-else>
            <button class="btn is-loading" style="width: 100%;"></button>
        </div>

    </div>
</template>

<script>
    import {ProvinceSelect, StateSelect} from "../partials";
    import {EditHoliday} from "./index"; // super

    export default {

        props: ['country_id', 'year', 'holidaysProp'],

        components: {EditHoliday, ProvinceSelect, StateSelect},

        data() {
            return {
                loaded: null,
                holidays: null,
                state_province_id: -1,
                has_errors: false,
            };
        },

        created() {

        },

        mounted() {
            Common.listen('child-has-errors', this.hasErrors);
        },

        destroyed() {

        },

        watch: {
            country_id: {
                handler: function () {
                    this.loaded = true;
                },
                immediate: true,
            },

            state_province_id: {
                handler: function () {
                    this.cloneHolidays();
                }
            }
        },

        methods: {

            cloneHolidays() {
                if (this.state_province_id != -1) {
                    let self = this;
                    this.holidays = _.pickBy(this.holidaysProp, function (holiday) {
                        return holiday.state_province_id == self.state_province_id;
                    });
                } else {
                    this.holidays = null;
                }
            },

            updateHolidays() {
                //tell child to update the database
                Common.fire('holidays-saved');
            },

            hasErrors(val) {
                this.has_errors = val;
            }
        }
    };
</script>

<style lang="css">

</style>