/**
Requires:
holidayProp - a holiday object ( Holiday.php / holidays table record )
Optional:

Getters:

Setters:

Listeners:
holidays-saved - prompts this component to update the database
Emitters:

Notes:

*/
<template lang="html">
    <div id="editHoliday">
        <div v-if="loaded == true" class="columns">
            <div class="column is-4">
                <div :class="{'form-group': true, 'has-error':holidayErrors.has('date')}">
                    <Datepicker v-model="date"
                                :format="'D MMM dd yyyy'"
                                :placeholder="'Select start date...'"
                                :input-class="'form-control'"/>

                    <span class="help-block" v-if="holidayErrors.has('date')">{{ holidayErrors.get('date') }}</span>
                </div>
            </div>
            <div class="column is-4">
                <div :class="{'form-group': true, 'has-error':holidayErrors.has('name')}">
                    <textarea class="form-control vresize" v-model="holiday.name"></textarea>
                    <span class="help-block" v-if="holidayErrors.has('name')">{{ holidayErrors.get('name') }}</span>
                </div>

            </div>

            <div class="column is-4">
                <div :class="{'form-group': true, 'has-error':holidayErrors.has('note')}">
                    <textarea class="form-control vresize" v-model="holiday.note"></textarea>
                    <span class="help-block" v-if="holidayErrors.has('note')">{{ holidayErrors.get('note') }}</span>
                </div>
            </div>
        </div>
        <div v-else>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import {Errors} from "../../utilities";

    export default {

        props: ['holidayProp'],

        components: {Datepicker},

        data() {
            return {
                date: new Date(),
                holiday: null,
                holidayErrors: new Errors,
                loaded: false,
            };
        },

        created() {

        },

        mounted() {
            Common.listen('holidays-saved', this.updateHoliday);
        },

        destroyed() {

        },

        watch: {
            /**
             * Clone the prop for changes
             * Format the date for the datepicker
             */
            'holidayProp': {
                handler: function (holiday) {
                    this.holiday = _.cloneDeep(holiday);
                    this.date = '' + holiday.year + '-' + holiday.month + '-' + holiday.day;
                    this.loaded = true;
                },
                immediate: true,
                deep: true,
            },

            /**
             * Reformat a new date chosen by datepicker to YYYY-MM-DD
             *
             * validate
             */
            date: function (date) {
                let reformatted_date = (moment(date).format('YYYY M DD E')).split(" ");
                this.holiday.year = reformatted_date[0];
                this.holiday.month = reformatted_date[1];
                this.holiday.day = reformatted_date[2];
                this.holiday.day_of_week = reformatted_date[3];

                if (this.holiday.year != this.holidayProp.year) {
                    this.holidayErrors.add('date', ['Invalid date']);
                    Common.fire('child-has-errors', true);
                } else {
                    this.holidayErrors.clear('date');
                    Common.fire('child-has-errors', false);
                }
            },

            // validation
            'holiday.name': {
                handler: function (name) {
                    if (name == null) {
                        return;
                    }
                    if (name.search(/^[a-zA-Z0-9 ,.'’`~*?!()/-]*$/) === -1) {
                        this.holidayErrors.add('name', ['Invalid name']);
                        Common.fire('child-has-errors', true);
                    } else {
                        this.holidayErrors.clear('name');
                        Common.fire('child-has-errors', false);
                    }
                },
            },

            'holiday.note': {
                handler: function (note) {
                    if (note == null) {
                        return;
                    }
                    if (note.search(/^[a-zA-Z0-9 ,.'’`~*?!()/-]*$/) === -1) {
                        this.holidayErrors.add('note', ['Invalid note']);
                        Common.fire('child-has-errors', true);
                    } else {
                        this.holidayErrors.clear('note');
                        Common.fire('child-has-errors', false);
                    }
                }
            }

        },

        methods: {
            /**
             * Like any good child, he responds to his parents commands and passes his data up up up and away
             * we compare to see if it is worth doing the update though
             */
            updateHoliday() {
                if (_.isEqual(this.holiday, this.holidayProp)) {
                    return;
                }
                axios.post('/updateHoliday', this.holiday).then(response => {
                    Common.fire('holidays-updated');
                })
                    .catch(errors => {
                        this.holidayErrors.errors = errors.response.data;
                    });
            }

        }
    };
</script>

<style lang="css">
    #editHoliday .vresize {
        resize: vertical;
    }
</style>