/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="fixedAndVariableDiscrepancies">

        <h2 id="pageTitle">Fixed and Variable Discrepancies</h2>

        <div class="row">

            <div class="col-lg-5 col-sm-12">
                <h6>Absolute Discrepancy Filter {{ discrepancy_percentage }} %</h6>
                <input type="range"
                       style="width: 75%"
                       min="5"
                       max="100"
                       step="5"
                       v-model="discrepancy_percentage">
            </div>
            <div class="col-lg-5 col-sm-6" v-if="calculating == false">
                <div class="form-group">
                    <label>Reimbursement Type</label>
                    <br>
                    <label>
                        <input type="radio" id="fixed" value="fixed" v-model="reimbursement_type">
                        Fixed
                    </label>

                    <label>
                        <input type="radio" id="variable" value="variable" v-model="reimbursement_type">
                        Variable
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <button v-if="filteredDiscrepancies && filteredDiscrepancies.length > 0"
                        class="btn btn-primary"
                        :disabled="generating_excel"
                        @click="generateExcel()">Generate Excel</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div v-if="getSessionCompanyId == -1 || getSessionMonth == -1 || getSessionYear == -1" class="alert alert-info">
                    You must select a company, year and month
                </div>
            </div>
        </div>

        <section id="discrepancyResults" v-if="calculating == false">

            <!--El Tiablo-->
            <table v-if="true" class="table table-striped table-sm table-hover fusion-table">
                <thead>
                <tr class = "primary-table-header">
                    <th colspan="4">{{ table_title }}</th>
                    <th colspan="3"><small>*Only drivers with a Green Street Light before the mileage lock date are included</small></th>
                </tr>
                <tr class = "secondary-table-header">
                    <td>
                        <strong>Details</strong>
                    </td>

                    <td>
                        <strong>Name</strong>
                    </td>

                    <td>
                        <strong>Employee Number</strong>
                    </td>

                    <td>
                        <strong>Division</strong>
                    </td>

                    <td>
                        <strong>{{ old_month_computed }} Rate</strong>
                    </td>

                    <td>
                        <strong>{{ new_month_computed }} Rate</strong>
                    </td>

                    <td>
                        <strong>% Change</strong>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="discrepancy in filteredDiscrepancies" :class="{'table-danger': percentageChange(discrepancy) < 0}">
                    <td>
                        <button class="btn btn-circle" @click="showDetailsComparisonModal(discrepancy)">
                            <span class="fa fa-info"></span>
                        </button>
                    </td>
                    <td>
                        {{ discrepancy.last_name }}, {{ discrepancy.first_name }}
                    </td>
                    <td>
                        {{ discrepancy.employee_number }}
                    </td>
                    <td>
                        {{ discrepancy.division_name }}
                    </td>
                    <td>
                        {{ previousValue(discrepancy) }}
                    </td>
                    <td>
                        {{ currentValue(discrepancy) }}
                    </td>
                    <td>
                        {{ percentageChange(discrepancy) }}
                    </td>
                </tr>
                </tbody>
            </table>

        </section>


        <div id="detailsModal" :class="{'modal': true, 'is-active': show_details_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card" style="width: 75%;">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ details_modal_title }}</p>
                    <button class="delete" @click="closeDetailsComparisonModal()"></button>
                </header>
                <section class="modal-card-body">

                    <loading-partial v-show="!detailsComparisonData"></loading-partial>

                    <section v-if="comparison_possible">
                        <div class="row">
                            <div class="col-6">
                                <h5>{{old_month_computed}} Fixed Reimbursement</h5>
                                <table v-if="detailsComparisonData.oldFixedData" class="table table-striped table-sm table-hover fusion-table">
                                    <tbody>
                                    <tr v-for="(value, key, index) in detailsComparisonData.oldFixedData.fixedReimbursementDetails">
                                        <td>{{ (key == 'fixedReimbursementWithBup' ? 'Total Fixed' : value.title) }}</td>
                                        <td>{{ value.amount_adj | twoDecimalPlaces }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    No fixed data found
                                </div>
                            </div>
                            <div class="col-6">
                                <h5>{{new_month_computed}} Fixed Reimbursement</h5>
                                <table v-if="detailsComparisonData.newFixedData" class="table table-striped table-sm table-hover fusion-table">
                                    <tbody>
                                    <tr v-for="(value, key, index) in detailsComparisonData.newFixedData.fixedReimbursementDetails">
                                        <td>{{ (key == 'fixedReimbursementWithBup' ? 'Total Fixed' : value.title) }}</td>
                                        <td>{{ value.amount_adj | twoDecimalPlaces }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    No fixed data found
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h5>{{old_month_computed}} Variable Reimbursement</h5>
                                <table v-if="detailsComparisonData.oldVariableData" class="table table-striped table-sm table-hover fusion-table">
                                    <tbody>
                                    <tr v-for="(value, key, index) in detailsComparisonData.oldVariableData.variableReimbursementDetails">
                                        <td>{{ value.title }}</td>
                                        <td>{{ (key == 'fuelPrice' ? value.amount : value.amount_adj) | twoDecimalPlaces }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    No variable data found
                                </div>
                            </div>
                            <div class="col-6">
                                <h5>{{new_month_computed}} Variable Reimbursement</h5>
                                <table v-if="detailsComparisonData.newVariableData" class="table table-striped table-sm table-hover fusion-table">
                                    <tbody>
                                    <tr v-for="(value, key, index) in detailsComparisonData.newVariableData.variableReimbursementDetails">
                                        <td>{{ value.title }}</td>
                                        <td>{{ (key == 'fuelPrice' ? value.amount : value.amount_adj)  | twoDecimalPlaces }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    No variable data found
                                </div>
                            </div>
                        </div>


                        <div class="row" v-if="detailsComparisonData.driverProfileDifferences && detailsComparisonData.driverProfileDifferences.length > 0">
                            <div class="col">
                                <h5>Driver Profile Differences</h5>
                                <table v-if="true" class="table table-striped table-sm table-hover fusion-table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ old_month_computed }} Driver Profile</th>
                                        <th>{{ new_month_computed }} Driver Profile</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="key in detailsComparisonData.driverProfileDifferences">
                                        <td>{{ key }}</td>
                                        <td>{{ detailsComparisonData.oldDriverProfile[key] }}</td>
                                        <td>{{ detailsComparisonData.newDriverProfile[key] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>
                    <section v-else-if="detailsComparisonData">
                        Comparison not possible. We do not have data on {{ details_modal_title }} during the selected months.
                    </section>

                </section>
                <footer class="modal-card-foot">
                    <button class="btn btn-danger" @click="closeDetailsComparisonModal()">Close</button>
                </footer>
            </div>
        </div>

        <loading-partial v-show="calculating == true"/>


    </div>
</template>

<script>
    import {CompanySelect, DivisionSelect, MonthSelect, YearSelect} from "../partials";
    import moment from 'moment';
    import Months from '../../models/Months';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "../partials/LoadingPartial";

    export default {

        props: [],

        components: {LoadingPartial, CompanySelect, DivisionSelect, MonthSelect, YearSelect},

        data() {
            return {

                months: Months,

                detailsComparisonData: null,
                selectedDiscrepancy: null,

                calculating: null,
                no_records_found: null,

                start_year: null,
                end_year: null,

                discrepancies: null,
                filteredDiscrepancies: null,
                reimbursement_type: 'fixed',

                discrepancy_percentage: 10,

                show_details_modal: false,

                generating_excel: false,

            };
        },

        created() {
        },

        mounted() {
            if (this.getSessionCompanyId > 0 && this.getSessionMonth > 0 && this.getSessionYear > 0 ) {
                this.getDiscrepancies();
            }
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionYear',
                'getSessionMonth',
                'getSessionCompanyName',
                'getSessionDivisionName',
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getCompanyPlan'
            ]),

            details_modal_title: function() {
                if (!this.selectedDiscrepancy) {
                    return '';
                } else {
                    return this.selectedDiscrepancy.last_name + ', ' + this.selectedDiscrepancy.first_name;
                }
            },

            table_title: function() {
                if (!this.filteredDiscrepancies || this.filteredDiscrepancies.length == 0) {
                    return 'No records found';
                } else {
                    let title = this.getSessionCompanyName;
                    title+= ' ' + this.getSessionDivisionName;
                    title += ' (' + this.filteredDiscrepancies.length + ' driver' + (this.filteredDiscrepancies.length > 1 ? 's)' : ')');
                    return title;
                }
            },

            old_month_computed: function () {
                return this.getSessionMonth == 1 ? 'December' : this.months.find( (m) => { return m.id == this.getSessionMonth - 1 }).name
            },

            new_month_computed: function () {
                return this.months.find( (m) => { return m.id == this.getSessionMonth }).name;
            },

            comparison_possible: function() {
                if ( !this.detailsComparisonData) {
                    return false;
                } else if ( !this.detailsComparisonData.oldFixedData || !this.detailsComparisonData.newFixedData
                    || !this.detailsComparisonData.oldVariableData || !this.detailsComparisonData.newVariableData ) {
                    return false;
                }

                if ( this.detailsComparisonData.oldDriverProfile && this.detailsComparisonData.newDriverProfile ) {
                    if (this.detailsComparisonData.oldDriverProfile.id == this.detailsComparisonData.newDriverProfile.id) {
                        return false;
                    }
                }

                return true;
            }

        },

        filters: {
            twoDecimalPlaces(n) {
                return parseFloat(n).toFixed(2);
            },

        },

        watch: {
            'discrepancy_percentage': {
                handler: function() {
                    this.filterDiscrepancies();
                }
            },

            'reimbursement_type': {
                handler: function() {
                    this.filterDiscrepancies();
                }
            },

            getSessionCompanyId: function(new_val, old_val) {
                if (new_val != old_val) {
                    this.filteredDiscrepancies = [];
                    this.discrepancies = [];
                    Common.storeCommit('updateSessionDivisionName', "");
                    Common.storeCommit('updateSessionDivisionId', -1).then( () => {
                        if (new_val > 0) {
                            this.getDiscrepancies();
                        }
                    })
                }
            },

            getSessionDivisionId: function(new_val, old_val) {
                if (new_val != old_val) {
                    this.filteredDiscrepancies = [];
                    this.discrepancies = [];
                    if (new_val > 0) {
                        this.getDiscrepancies();
                    }
                }
            },

            getSessionMonth: function(new_val, old_val) {
                if (new_val != old_val) {
                    this.filteredDiscrepancies = [];
                    this.discrepancies = [];
                    if (new_val > 0) {
                        this.getDiscrepancies();
                    }
                }
            },

            getSessionYear: function(new_val, old_val) {
                if (new_val != old_val) {
                    this.filteredDiscrepancies = [];
                    this.discrepancies = [];
                    if (new_val > 0) {
                        this.getDiscrepancies();
                    }
                }
            },




        },

        methods: {
            getDiscrepancies() {
                if ( Common.isEmpty(this.getSessionYear) || Common.isEmpty(this.getSessionCompanyId) || Common.isEmpty(this.getSessionMonth) ) { return; }
                this.calculating = true;
                axios.get('/getFixedAndVariableDiscrepancies/'
                    + this.getSessionCompanyId + '/'
                    + this.getSessionDivisionId + '/'
                    + this.getSessionYear + '/'
                    + this.getSessionMonth
                ).then(response => {
                    console.log('returned');
                    this.discrepancies = response.data.discrepancies;
                    this.filterDiscrepancies();
                    this.calculating = false;
                });
            },

            filterDiscrepancies() {
                this.filteredDiscrepancies = [];
                if (!this.discrepancies || this.discrepancies.length < 1) { return; }
                this.filteredDiscrepancies = this.discrepancies.filter( (d) => {
                    if ( this.reimbursement_type == 'fixed' ) {
                        return Math.abs(d.fixed_discrepancy_percentage) >= this.discrepancy_percentage;
                    } else {
                        return Math.abs(d.variable_discrepancy_percentage) >= this.discrepancy_percentage;
                    }
                })
            },

            previousValue(d) {
                if (this.reimbursement_type == 'fixed') {
                    return Common.roundNumber(d.previous_fixed, 2);
                } else {
                    return Common.roundNumber(d.previous_variable, 4);
                }
            },

            currentValue(d) {
                if (this.reimbursement_type == 'fixed') {
                    return Common.roundNumber(d.current_fixed, 2);
                } else {
                    return Common.roundNumber(d.current_variable, 4)
                }
            },

            percentageChange(d) {
                if (this.reimbursement_type == 'fixed') {
                    return Common.roundNumber(d.fixed_discrepancy_percentage, 2);
                } else {
                    return Common.roundNumber(d.variable_discrepancy_percentage, 2);
                }
            },

            showDetailsComparisonModal(discrepancy) {
                this.selectedDiscrepancy = discrepancy;
                this.getDiscrepancyDetails(discrepancy.current_driver_profile_id, discrepancy.previous_driver_profile_id);
                this.show_details_modal = true;
            },

            closeDetailsComparisonModal() {
                this.show_details_modal = false;
                this.selectedDiscrepancy = null;
            },

            getDiscrepancyDetails(new_driver_profile_id, old_driver_profile_id) {
                this.detailsComparisonData = null;
                axios.get('/getReimbursementDiscrepancyDetails/'
                    + new_driver_profile_id + '/'
                    + old_driver_profile_id + '/'
                    + this.getSessionYear + '/'
                    + this.getSessionMonth + '/'
                    + this.getCompanyPlan
                ).then( response => {
                    this.detailsComparisonData = response.data;
                    this.detailsComparisonData.driverProfileDifferences = this.getDriverProfileDifferences(response.data.oldDriverProfile, response.data.newDriverProfile);
                })
            },

            getDriverProfileDifferences(oldDriverProfile, newDriverProfile) {
                return _.reduce(oldDriverProfile, function(result, value, key) {
                    return _.isEqual(value, newDriverProfile[key]) ? result : result.concat(key);
                }, []);
            },

            generateExcel() {
                this.generating_excel = true;
                axios.post('/generateFixedAndVariableDiscrepanciesExcel', {
                    reimbursement_type: this.reimbursement_type,
                    discrepancy_percentage: this.discrepancy_percentage,
                    month: this.getSessionMonth,
                    year: this.getSessionYear,
                    company_id: this.getSessionCompanyId,
                    division_id: Common.isEmpty(this.getSessionDivisionId) ? -1 : this.getSessionDivisionId,
                    discrepancies: this.filteredDiscrepancies,
                }).then( response => {
                    let file_path = '/online/tmp/' + response.data.file_name;
                    let b = document.createElement('A');
                    b.href = file_path;
                    b.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(b);
                    b.click();
                    document.body.removeChild(b);
                    this.generating_excel = false;
                }).catch( errors => {
                    alert('Something went wrong. Contact CarData IT Support');
                });
            }
        }
    };
</script>

<style lang="css">
    #fixedAndVariableDiscrepancies #pageTitle {
        padding-bottom: 1rem;
    }

    #fixedAndVariableDiscrepancies #checkDiscrepanciesButton {
        float: right;
    }

    #fixedAndVariableDiscrepancies #loadingButton {
        margin: auto;
        text-align: center;
    }
</style>