/**
Requires:
    holiday - a holiday object in the form of our holiday model
        OR
    Date of a given holiday to go fetch the info

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    This component displays on the parent as a clickable icon.
    When clicked a window is displayed showing concisely presented holiday information

*/
<template lang="html">
        <i id="holidayInfo" class="dropdown" v-if="localHoliday">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <span class="glyphicon glyphicon-flag"></span>
            </a>

            <ul class="dropdown-menu">
                <div class="columns">
                    <div class="column is-6">
                        <p class="is-small">
                            <strong>
                                Name
                            </strong>
                        </p>

                    </div>

                <div class="column is-6">
                    <p class="is-small">
                        <strong>
                            Note
                        </strong>
                    </p>
                </div>

                </div>

                <div class="columns">
                    <div class="column is-6"><small>{{ localHoliday.name }}</small></div>
                    <div class="column is-6"><small>{{ localHoliday.note }}</small></div>
                </div>
            </ul>
        </i>
</template>

<script>
    export default {

        props: ['holiday', 'date'],

        components: {},

        data() {
            return {
                localHoliday: null,
            }
        },

        watch: {
            holiday: {
                handler: function(holiday) {
                    if (holiday) {
                        this.localHoliday = holiday;
                    }
                },
                immediate: true,
            },

            date: {
                handler: function(date) {
                    if (date) {
                        axios.get('/getHolidayOn/' + date).then( response => {
                            this.localHoliday = response.data.holiday[0];
                        })
                    }
                },
                immediate: true,
            }
        }
    }
</script>

<style lang="css">
    #holidayInfo .dropdown-menu {
        width: 200px;
    }

</style>