/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

loaded - is null when nothing is being fetched from the server
- is true when something was fetched successfuly (a page will be displayed)
- is false when something is in the process of being fetched from the server


As there are only two selects, I do not manipulate session subpages
If a user refreshes the page, they can click getHolidayData again.

*/
<template lang="html">
    <div id="holidays" class="box">
        <h2>Holidays</h2>

        <!-- SELECTION CRITERIA -->
        <div class="columns">
            <div class="column is-4">
                <div :class="{'form-group': true, 'has-error':holidaysErrors.has('country_id')}">
                    <country-select v-model="country_id"/>
                    <span class="help-block" v-if="holidaysErrors.has('country_id')">{{ holidaysErrors.get('country_id') }}</span>
                </div>
            </div>
            <div class="column is-4">
                <div :class="{'form-group': true, 'has-error':holidaysErrors.has('year')}">
                    <year-select v-model="year"
                                 :start_year="2017"
                                 :end_year="2020"/>
                    <span class="help-block" v-if="holidaysErrors.has('year')">{{ holidaysErrors.get('year') }}</span>
                </div>
            </div>
            <div class="column is-4">
                <br>
                <br>
                <button class="btn btn-secondary"
                        :disabled=" holidaysErrors.any()"
                        @click="getHolidays">Get Holiday Data
                </button>
            </div>
        </div>

        <!-- SUBPAGES -->

        <!-- ALL GOOD IN THE HOOD -->
        <div v-if="loaded == true" class="box">

            <!-- DOWNLOAD SUBPAGE - NO DATA FOR YEAR AND COUNTRY -->
            <download-holidays-page v-if="mode == 'download'"
                                    :country_id="country_id"
                                    :year="year"/>


            <!-- EDIT SUBPAGE - DATA FOR YEAR AND COUNTRY CHENQUI -->
            <edit-holidays-page v-else-if="mode == 'edit'"
                                :country_id="country_id"
                                :year="year"
                                :holidaysProp="holidays"/>


        </div>

        <!-- LOADING, MAYBE GOOD IN THE HOOD -->
        <div v-if="loaded == false" class="box">
            <button class="btn is-loading" style="width: 100%;"></button>

        </div>

        <!-- DEFINITELY NOT GOOD IN THE HOOD -->
        <div v-else></div>

    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {DownloadHolidaysPage, EditHolidaysPage} from "./index"; // super
    import {CountrySelect, YearSelect} from "../partials";

    export default {

        props: [],

        components: {CountrySelect, DownloadHolidaysPage, EditHolidaysPage, YearSelect},

        data() {
            return {
                country_id: -1,
                year: -1,
                holidays: null,
                holidaysErrors: new Errors,
                mode: null,
                loaded: null,
            };
        },

        created() {

        },

        mounted() {
            Common.listen('download-holidays-complete', this.getHolidays);
            Common.listen('holidays-updated', this.getHolidays);
        },

        destroyed() {

        },

        watch: {
            year: function (val) {
                this.loaded = null;
                if (val > 0) {
                    this.holidaysErrors.clear('year');
                }
            },

            country_id: function (val) {
                this.loaded = null;
                if (val > 0) {
                    this.holidaysErrors.clear('country_id');
                }
            }
        },

        methods: {
            getHolidays() {
                this.loaded = false;

                axios.post('/getHolidays', {country_id: this.country_id, year: this.year}).then(response => {
                    if (Common.isEmpty(response.data)) {
                        this.switchMode('download');
                    } else {
                        this.holidays = response.data.holidays;
                        this.switchMode('edit');
                    }
                    this.loaded = true;
                })
                    .catch(errors => {
                        this.holidaysErrors.errors = errors.response.data;
                        this.loaded = null;
                    });
            },

            switchMode(mode) {
                this.mode = mode;
            }
        }
    };
</script>

<style lang="css">

</style>