<template lang="html">
    <div>
        <div v-if="viewing === 'individual'">
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-primary btn-sm float-left mb-3 mr-2" @click="changeMode"><i
                                class="fas fa-arrow-alt-left mt-1"></i></button>
                        <h2 class="mb-4 float-left">Individual Insurance Approval</h2>
                    </div>

                    <div class="col-md-4">
                        <status-indicator :force_hoverable="true"/>
                    </div>
                </div><!--row-->

                <hr class="mt-3 mb-5">

                <div class="row" v-if="individualRecord">
                    <div class="col-sm-4 mb-2">
                        <label>Current Personal Vehicle:</label>
                        <p>{{ individualRecord.vehicle.year }} {{ individualRecord.vehicle.make }} {{ individualRecord.vehicle.model }} <br>
                            <span style="font-size: 14px;">Added: {{ individualRecord.vehicle.date_added }}</span>
                        </p>
                    </div>

                    <div class="col-sm-4 mb-2">
                        <label>Review Interval:</label>
                        <p>{{ individualRecord.companyInsurance.insurance_review_interval == 'Annually' ? 'Annually' : 'On Expiry' }}
                            <span v-show="individualRecord.companyInsurance.insurance_review_interval == 'Annually'">
                                ({{ converted_insurance_review_month }}/{{ individualRecord.companyInsurance.insurance_review_day }})
                            </span>
                        </p>
                    </div>

                    <div class="col-sm-4 mb-2">
                        <label style="">Date of Next Review:
                            <button class="btn btn-default"
                                    style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;"
                                    @mouseover="date_of_review_info = true" @mouseleave="date_of_review_info = false">
                                <i class="fas fa-info" style="vertical-align: unset;"></i>
                            </button>
                        </label>
                        <div style="position: relative;">
                            <transition name="fade5s">
                                <div v-if="date_of_review_info" class="alert alert-dark" role="alert"
                                     style="position: absolute; z-index: 1;">
                                    <strong>Override this value just as you would in CarData Online with Expiration date.</strong>
                                    <br>
                                    <small>On this date the driver will be put into red status awaiting
                                    documentation. If this is the first time processing insurance, or no date of next review was entered,
                                        a placeholder is set to the next occurrence of the company default.</small>

                                </div>
                            </transition>

                            <!--M{{ individualRecord.companyInsurance.insurance_review_month }} - D{{ individualRecord.companyInsurance.insurance_review_day }} - YYYY-->
                            <vue-bootstrap-date-picker class="form-control"
                                                       id="to_date"
                                                       v-model="individualRecord.review.next_insurance_review_date"
                                                       :config="date_picker_options"
                                                       :placeholder="datepicker_placeholder"
                                                       :disabled="!individualRecord.editable"/>

                        </div>
                    </div>
                </div>
            </div>

            <div v-if="individualRecord">
                <hr class="mb-5">

                <div class="row">
                    <div class="col-sm-4 mb-4" style="">
                        <div class="mb-5">
                            <p>
                                <strong>Viewing:</strong> {{ packageDate }}
                            </p>

                            <!--InsuranceApprovalOptions-->
                            <InsuranceApprovalOptions v-if="!hide_options"
                                                      :new_caller_id="new_caller_id"
                                                      :current_document_id="current_document_id"
                                                      :documents="individualRecord.documents"
                                                      :review="individualRecord.review"
                                                      :companyOptions="individualRecord.companyInsurance"
                                                      :editable="individualRecord.editable"
                                                      :user_id="user_id"/>
                        </div>

                        <!--HISTORICAL PACKAGE REVIEW SECTION-->
                        <div class="form-group mb-5">
                            <section v-if="reviewLinks">

                                <!--FUTURE-->
                                <section v-if="reviewLinks.future">
                                    <label class="d-block" title="This package is in queue to take over the active package. It will become the active package if it is approved, or we hit the date of next review for the active package.">Future Review Package</label>
                                    <ul class="list-group list-group-flush mb-3">
                                        <li :class="{
                                                'list-group-item d-flex justify-content-between align-items-center': true,
                                                'selected-package': reviewLinks.future.id == insurance_review_id
                                                }">
                                            <a @click.prevent="switchActiveReview(reviewLinks.future.id)" href="#" style="text-decoration: none;" title="This package is in queue to take over the active package. It will become the active package if it is approved, or we hit the date of next review for the active package.">
                                                <i class="fa fa-folder mr-2" style="vertical-align: unset"></i>
                                                {{ reviewLinks.future.created_at | dateFilter }}
                                            </a>
                                            <span>
                                                {{ reviewLinks.future.status_message }}
                                            </span>
                                            <span  @mouseover="package_status_active = true"
                                                   @mouseleave="package_status_active = false"
                                                   class="badge badge-primary badge-pill" style="background: yellow; color: #000; border: 1px solid #000;">
                                                        {{ reviewLinks.future.document_count }}
                                            </span>
                                        </li>
                                    </ul>
                                </section>

                                <!--CURRENT-->
                                <section v-if="reviewLinks.current">
                                    <label class="d-block" title="This is the package a driver's reimbursement and street light status are based upon">Active Review Package</label>
                                    <ul class="list-group list-group-flush mb-3">
                                        <li :class="{
                                                'list-group-item d-flex justify-content-between align-items-center': true,
                                                'selected-package': reviewLinks.current.id == insurance_review_id
                                                }">
                                            <a @click.prevent="switchActiveReview(reviewLinks.current.id)" href="#" style="text-decoration: none;" title="This is the package a driver's reimbursement and street light status are based upon">
                                                <i class="fa fa-folder mr-2" style="vertical-align: unset"></i>
                                                {{ reviewLinks.current.created_at | dateFilter }}
                                            </a>
                                            <span>
                                                {{ reviewLinks.current.status_message }}
                                            </span>
                                            <span  @mouseover="package_status_active = true"
                                                   @mouseleave="package_status_active = false"
                                                   class="badge badge-primary badge-pill" style="background: yellow; color: #000; border: 1px solid #000;">
                                        {{ reviewLinks.current.document_count }}
                                    </span>
                                        </li>
                                    </ul>
                                </section>

                                <!--PAST-->
                                <section v-if="reviewLinks.past && reviewLinks.past.length > 0">
                                    <label class="d-block" title="These packages are historical and are for information purposes only">Review History</label>
                                    <ul class="list-group list-group-flush">
                                        <li v-for="review in reviewLinks.past"
                                            :class="{
                                                'list-group-item d-flex justify-content-between align-items-center': true,
                                                'selected-package': review.id == insurance_review_id
                                                }">
                                            <a @click.prevent="switchActiveReview(review.id)"
                                               href="#"
                                               style="text-decoration: none;"
                                               :title="'This is a historical package, it is immutable. This driver submitted a total of' +review.document_count + ' documents.'"
                                               :disabled="review.document_count == 0">
                                                <i class="fa fa-folder mr-2" style="vertical-align: unset"></i>
                                                {{ review.created_at | dateFilter }}
                                            </a>
                                            <span>
                                                {{ review.status_message }}
                                            </span>
                                            <span  @mouseover="package_status_active = true"
                                                   @mouseleave="package_status_active = false"
                                                   class="badge badge-primary badge-pill" style="background: yellow; color: #000; border: 1px solid #000;">
                                                        {{ review.document_count }}
                                            </span>
                                        </li>
                                    </ul>
                                </section>

                            </section>
                            <loading-partial v-show="!reviewLinks"/>

                        </div>
                    </div>

                    <div class="col-sm-8">
                        <p class="text-center">
                            <strong>Uploaded:</strong> {{ documentUploadDate }}
                        </p>

                        <div class="row p-2 m-0" style="position: sticky; top: 0; background: #333; z-index: 2; box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);">
                            <div v-if="individualRecord.documents[currentDocumentIndex].processing_date"
                                 class="btn btn-success position-absolute"
                                 style="top: 55px; left: 50%; transform: translateX(-50%);">
                                Action taken on: {{ individualRecord.documents[currentDocumentIndex].processing_date }}
                            </div>
                            <div v-if="individualRecord.documents[currentDocumentIndex].processing_date && individualRecord.documents[currentDocumentIndex].rejection_id"
                                 class="btn btn-danger position-absolute"
                                 style="top: 55px; left: 50%; transform: translateX(-50%);">
                                Rejected: {{ individualRecord.documents[currentDocumentIndex].processing_date }}
                            </div>

                            <div class="col p-0" style="color: #fff;">
                                <!--<button class="btn btn-primary btn-sm" @click="toggleDocumentActions">
                                    <i class="fas fa-cog" style="vertical-align: unset"></i>
                                </button>-->
                                <button class="btn btn-secondary btn-sm" @click="rotatePdf">
                                    <i class="far fa-sync-alt" style="vertical-align: unset"></i>
                                </button>
                                <a class="btn btn-secondary btn-sm" :href="url" target="_blank">
                                    <i class="far fa-external-link-alt" style="vertical-align: unset"></i>
                                </a>

                                <insurance-document-approval :document="individualRecord.documents[currentDocumentIndex]"
                                                             :editable="individualRecord.editable"/>

                            </div>


                            <div class="col p-0 text-center">
                                <button v-if="individualRecord.documents.length > 1"
                                        :disabled="currentDocumentIndex == 0"
                                        :class="{ 'btn btn-sm btn-secondary mr-2': true, 'opacity3': currentDocumentIndex == 0 }"
                                        @click="getPreviousDocument">
                                    <i class="fas fa-angle-left" style="vertical-align: unset"></i>
                                </button>
                                <span style="color: #fff;"><!--<span style="font-size: 14px;">Document</span>--> {{ currentDocumentIndex + 1 }} / {{ individualRecord.documents.length }}</span>
                                <button v-if="individualRecord.documents.length > 1"
                                        :disabled="(currentDocumentIndex + 1) === individualRecord.documents.length"
                                        :class="{ 'btn btn-sm btn-secondary ml-2': true, 'opacity3': (currentDocumentIndex + 1) === individualRecord.documents.length }"
                                        @click="getNextDocument">
                                    <i class="fas fa-angle-right" style="vertical-align: unset"></i>
                                </button>
                            </div>

                            <div class="col p-0 text-right">
                                <button class="btn btn-secondary btn-sm"
                                        @click="pdfWidth !== 10 ? pdfWidth -= 10 : pdfWidth = 10">
                                    <i class="fas fa-minus" style="vertical-align: unset"></i>
                                </button>

                                <button class="btn btn-secondary btn-sm" @click="pdfWidth = 100">
                                    {{ pdfWidth }}%
                                </button>

                                <button class="btn btn-secondary btn-sm" @click="pdfWidth += 10">
                                    <i class="fas fa-plus" style="vertical-align: unset"></i>
                                </button>
                            </div>
                        </div>

                        <div style="background: #aaa; position: relative; overflow: hidden;"
                             :style="{ height: pdfHeight + 'px' }"
                             :class="{ 'pr-3 pb-2 pl-3': true, 'scroll-y': num_pages > 1 || pdfWidth > 100, 'scroll-x': pdfWidth > 100 }">


                            <div style="margin: 0 auto;"
                                 :style="{ width: pdfWidth + '%' }">
                                <span id="watermark" v-if="show_rejected_watermark">
                                    REJECTED
                                </span>
                                <!--<p v-if="pdf_loading">Loading...</p>-->

                                <pdf v-for="i in num_pages"
                                     id="pdfViewer"
                                     :key="i"
                                     :src="url"
                                     :page="i"
                                     :rotate="pdfRotation"
                                     @loaded="pdfLoaded"
                                     class="pt-2 pb-2">

                                </pdf>


                            </div>
                        </div>

                    </div>
                </div><!--row-->
            </div><!--if individualRecord-->


            <div v-else>
                Loading...
            </div>

        </div>
    </div>
</template>

<script>
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import { InsuranceApprovalOptions, InsuranceDocumentApproval } from './index';
    import { StatusIndicator } from '../driver/index';
    import pdf from 'vue-pdf';
    import moment from 'moment';
    import LoadingPartial from "../partials/LoadingPartial";
    import {mapGetters} from 'vuex';

    export default {
        props: ['caller_id', 'user_id'], // props

        components: {
            LoadingPartial,
            InsuranceDocumentApproval,
            InsuranceApprovalOptions,
            StatusIndicator,
            VueBootstrapDatePicker,
            pdf,
        }, // components

        data() {
            return {
                // this is the selected review id
                insurance_review_id: -1,

                // style fixer is used to add a watermark to rejected documents
                show_rejected_watermark: false,

                new_caller_id: 'individual-approval',
                viewing: 'individual',
                individualRecord: null,
                current_document_id: null, // prop for approval options
                documentInfo: false, // info on document like created_at or uploaded

                // hover states
                date_of_review_info: false,
                package_status_active: false,


                // PDF
                pdf_loading: false,
                currentDocumentIndex: null,
                url: null,
                num_pages: null,
                loadingTask: null,
                // PDF defaults
                pdfRotation: 0,
                pdfWidth: 100,
                pdfHeight: 0,

                // Window Dimensions for resize
                windowWidth: 0,

                datepicker_placeholder: 'Select a date...',

                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    icons: {
                        date: "fas fa-calendar",
                    },
                },

                /**
                 * Links for all reviews (active and non)
                 */
                reviewLinks: null,


                /**
                 * Options were not correctly updating.
                 * This forces a complete refresh of the component
                 */
                hide_options: false,
            };
        }, // data

        mounted() {
            this.getDriverInsuranceApprovalRecord();
            this.getAllInsuranceReviewLinks();
            Common.listen('document-rejected', this.getUpdatedDocument);
            Common.listen(this.new_caller_id + '-change-mode', this.changeMode); // from InsuranceApprovalOptions
            Common.listen(this.caller_id + '-update-pdf', this.getPdfDocument);
        }, // mounted

        computed: {
            ...mapGetters([
                'getSessionDriverId',
            ]),


            packageDate: function() {
                return moment(this.individualRecord.review.created_at).format('YYYY-MM-DD');
            },

            documentUploadDate: function() {
                return moment(this.individualRecord.documents[this.currentDocumentIndex].created_at).format('YYYY-MM-DD - H:m:s');
            },

            converted_insurance_review_month() {
                return moment().month(this.individualRecord.companyInsurance.insurance_review_month - 1).format('MMM');
            },

        }, // computed

        filters: {
           dateFilter: function(val) {
               return val.split(' ')[0];
           }
        },

        watch: {
            /**
             * Watch the current document index.
             * If the document is rejected apply the watermark
             * else remove it
             */
            currentDocumentIndex: {
                handler: function(val) {
                    if (this.individualRecord.documents[val].approved != null &&  this.individualRecord.documents[val].approved == 0) {
                       this.show_rejected_watermark = true;
                    } else {
                        this.show_rejected_watermark = false;
                    }
                }
            },



            'loadingTask': {
                handler: function (val) {
                    this.pdf_loading = true;
                    if (val != null) {
                        this.loadingTask.then(pdf => {
                            this.num_pages = pdf.numPages;
                            this.pdf_loading = false;
                            this.pdfRotation = 0;
                            this.pdfWidth = 100;
                        });
                    }
                },
                deep: true,
            },

            'documentRejectionReason': {
                handler: function (val) {
                    if (val === 'other') {
                        this.customDocumentRejectionMessage = true;
                    } else {
                        this.customDocumentRejectionMessage = false;
                    }
                }
            },

            /**
             * Whenever the driver changes from super session load the new record
             * If the value is -1, company changed or someone did something bad.
             */
            'getSessionDriverId' : {
                handler: function(val) {
                    if ( val && val < 1 ) {
                        this.changeMode();
                        return;
                    }
                    this.insurance_review_id = -1;
                    this.hide_options = true;
                    this.getDriverInsuranceApprovalRecord();
                    this.getAllInsuranceReviewLinks();
                    this.hide_options = false;

                    /**
                     * This is required for status indicator
                     * it is slow and we will refactor eventually
                     * before destroy we will remove the edited user object
                     */
                    Common.getMe(0, val).then(data => {
                        Common.storeCommit('updateEditedUser', data.user);
                    });
                },
                immediate: true,
            }

        }, // watch

        methods: {
            getDriverInsuranceApprovalRecord: function() {
                axios.post('/getDriverInsuranceApprovalRecord',{
                    insurance_review_id: this.insurance_review_id,
                    user_id: this.user_id,
                }).then(response => {
                    this.individualRecord = response.data;
                    this.insurance_review_id = this.individualRecord.review.id;
                    // get documents with no actions taken (i.e. no processing_date)
                    let documents_not_processed = this.individualRecord.documents.filter( doc => doc.processing_date == null );
                    if ( documents_not_processed.length > 0 ) {
                        this.current_document_id = documents_not_processed[0].id; // get first one in the array
                    } else {
                        this.current_document_id = this.individualRecord.documents[0].id;

                    }

                    // get the index of the first document with no processing_date
                    this.currentDocumentIndex = this.individualRecord.documents.map(function(e) { return e.id; }).indexOf(this.current_document_id);

                    // Resize this.pdfHeight
                    this.$nextTick(function() {
                        window.addEventListener('resize', this.getWindowWidth);
                        this.getWindowWidth(); // Init
                    });

                    this.getPdfDocument();
                });
            },

            getPdfDocument: function() {
                if (!Common.isEmpty(this.individualRecord.documents[this.currentDocumentIndex])) {
                    let get_created_at = this.individualRecord.documents[this.currentDocumentIndex].created_at.split(" ");
                    let created_at = moment(get_created_at[0]).format('YYYY-MM-DD');
                    this.current_document_id = this.individualRecord.documents[this.currentDocumentIndex].id; // was this
                    this.url = 'storage/docs/'
                        + this.individualRecord.companyInsurance.company_id + '/insurance/'
                        + this.individualRecord.documents[this.currentDocumentIndex].filename;
                    this.loadingTask = pdf.createLoadingTask(this.url);
                }
            },

            pdfLoaded: function() { // after pdf loads, set this.pdfHeight
                // console.log('pdfLoaded');
                const self = this;
                setTimeout(function() {
                    self.setPdfHeight()
                }, 300);
            },

            setPdfHeight: function() {
                // let pdfPageHeight = document.getElementsByTagName('canvas')[0];
                let getPdfPageHeight = document.getElementsByTagName('canvas')[0].style.height.split('px');
                let pdfPageHeight = parseInt(getPdfPageHeight[0]);
                // console.log('pdfPageHeight: ',pdfPageHeight);
                this.pdfHeight = pdfPageHeight + 24;
                // console.log('setPdfHeight: ',this.pdfHeight);
            },

            rotatePdf: function() {
                this.pdfRotation += 90;

                let self = this;
                // this.setPdfHeight();
                setTimeout(function() {
                    self.setPdfHeight()
                }, 300);
            },

            changeMode: function() {
                Common.fire(this.caller_id + '-change-mode');
            },

            getWindowWidth: function(event) {
                this.windowWidth = document.documentElement.clientWidth;
                if (event) {
                    this.setPdfHeight()
                }
            },

            getPreviousDocument: function() {
                Common.fire(this.new_caller_id + '-change-document'); // davery

                this.currentDocumentIndex -= 1;
                // console.log('previous document');
                this.getPdfDocument();
            },

            getNextDocument: function() {
                Common.fire(this.new_caller_id + '-change-document'); // davery

                this.currentDocumentIndex += 1;
                // console.log('next document');
                this.getPdfDocument();
            },

            /**
             * This will get the updated document and insert it into the documents array
             * @param document_id
             */
            getUpdatedDocument(document_id) {
                axios.get('/getDriverInsuranceDocument/' + document_id).then( response => {
                   for (let i in this.individualRecord.documents) {
                       if ( this.individualRecord.documents[i].id == document_id ) {
                           this.individualRecord.documents[i] = response.data.document;
                       }
                   }
                    console.log(response.data.document, this.individualRecord.documents.find(d => d.id == document_id));
                });
            },

            /**
             * This function is called when the component is mounted
             * it will gather all the necessary information to display what packages
             * are current, in the past, and queued up for the future
             */
            getAllInsuranceReviewLinks() {
                axios.get('/getAllInsuranceReviewLinks/' + this.user_id).then( response => {
                    this.reviewLinks = response.data.reviewLinks;
                });
            },

            /**
             * This method is called when a user clicks the future, active, or past review packages
             * The idea is that it will switch to that review...
             */
            switchActiveReview(insurance_review_id) {
                this.insurance_review_id = insurance_review_id;
                this.getDriverInsuranceApprovalRecord();
            }


        }, // methods

        beforeDestroy: function() {
            window.removeEventListener('resize', this.getWindowWidth);
            Common.storeCommit('updateEditedUser', null);
        },

    }
</script>

<style lang="scss">
    .opacity3 {
        opacity: 0.3 !important;
    }

    .scroll-x {
        overflow-x: scroll;
    }

    .scroll-y {
        overflow-y: scroll;
    }

    .fa-times-circle {
        &:hover {
            cursor: pointer;
        }
    }

    .selected-package {
        background-color: #ddd;
    }

    #watermark {
        font-size:150px;
        color: #cc0013;
        font-weight:bold;
        letter-spacing:40px;
        position:absolute;
        z-index:1000;
        opacity:0.5;
        filter:alpha(opacity=50);
        left: 0;
        top: 25%;
        transform: translateY(-50%);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
    }

</style>