<template lang="html">
    <div id="insuranceApproval">

        <div v-if="mode === 'all'">
            <h2 class="mb-3">Insurance Approval</h2>

            <p class="mb-2"><strong>Drivers Awaiting Processing</strong></p>

            <div class="row" v-show="loading">
                <div class="col-2">
                    <loading-partial v-show="loading"/>
                </div>
            </div>

            <!--AWAITING PROCESSING-->
            <div id="awaitingProcessingTable" class="table-responsive table-responsive-bordered mb-4" v-if="drivers_are_awaiting_processing">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr class = "primary-table-header">
                        <th style="width: 25%;">Company</th>
                        <th style="width: 25%;">Name</th>
                        <th style="width: 25%;">Email</th>
                        <th style="width: 12%;">Last Uploaded</th>
                        <th style="width: 12%;">Street Light Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="(record, index) in insurancesRecords" :key="index"
                        @click="selectRecord(record.insurance_review_id, record.user_id, record.company_id)">
                        <td style="width: 25%;">{{ record.company_name }}</td>
                        <td style="width: 25%;">{{ record.first_name }} {{ record.last_name }}</td>
                        <td style="width: 25%;">{{ record.email }}</td>
                        <td style="width: 12%">{{ record.latest_document_uploaded }}</td>
                        <td style="width: 12%">{{ record.streetLight }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="!loading && !drivers_are_awaiting_processing">
                <p>There are no drivers needing to be processed.</p>
            </div>

            <p class="mt-5 mb-2"><strong>Drivers Processed Today</strong></p>


            <!--PROCESSED TODAY-->
            <div id="processedTable" class="table-responsive table-responsive-bordered mb-4" v-if="drivers_were_processed_today">
                <table class="table table-striped table-bordered table-hover mb-0">
                    <thead>
                    <tr>
                        <th style="width: 25%;">Company</th>
                        <th style="width: 25%;">Name</th>
                        <th style="width: 25%;">Email</th>
                        <th style="width: 12%;">Last Uploaded</th>
                        <th style="width: 12%;">Street Light Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="(record, index) in processedRecords" :key="index"
                        @click="selectRecord(record.insurance_review_id, record.user_id, record.company_id)">
                        <td style="width: 25%;">{{ record.company_name }}</td>
                        <td style="width: 25%;">{{ record.first_name }} {{ record.last_name }}</td>
                        <td style="width: 25%;">{{ record.email }}</td>
                        <td style="width: 12%;">{{ record.latest_document_uploaded }}</td>
                        <td style="width: 12%;">{{ record.streetLight }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="!loading && !drivers_were_processed_today">
                <p>No drivers have been processed today.</p>
            </div>
        </div>

        <individual-insurance-approval v-if="mode === 'individual'"
                                       :caller_id="caller_id"
                                       :user_id="selected_user_id"/>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';
    import { IndividualInsuranceApproval } from "./index"; //super
    import {LoadingPartial} from "../partials";

    export default {
        components: {IndividualInsuranceApproval, LoadingPartial},

        props: [], // props

        conponents: {
            IndividualInsuranceApproval
        }, // conponents

        data() {
            return {
                caller_id: 'insurance-approval',
                mode: 'all',
                loading: true,
                insurancesRecords: null,
                processedRecords: null,
                selectedRecord: null,
                selected_insurance_review_id: null,
                selected_user_id: null,
            };
        }, // data

        created() {
            Common.storeCommit('updateCompanyUsesInsuranceModuleFilter', true);
        },

        beforeDestroy() {
            Common.storeCommit('updateCompanyUsesInsuranceModuleFilter', false);
        },

        mounted() {
            Common.listen(this.caller_id + '-change-mode', this.changeMode);
            Common.listen(this.caller_id + '-accept-insurance', this.acceptInsurance);
            Common.listen(this.caller_id + '-reject-insurance', this.rejectInsurance);

            this.getData();

        }, // mounted

        computed: {
            ...mapGetters([
                'getSessionDriverId',
            ]),

            drivers_are_awaiting_processing: function() {
                return this.insurancesRecords && this.insurancesRecords.length > 0
            },

            drivers_were_processed_today: function() {
                return this.processedRecords && this.processedRecords.length > 0
            }
        }, // computed

        watch: {
            'getSessionDriverId': {
                handler: function(val) {
                    if (Common.isEmpty(val)) {
                        return;
                    }
                    console.log('session driver id watcher');
                    this.selectRecord(-1, val);
                },
                immediate: true,
            }
        }, // watch

        methods: {
            /**
             * Get data for the page
             */
            getData() {
                this.loading = true;
                axios.get('/getDriverInsurancesRecords').then(response => {
                    console.log('insurance records', response.data);
                    var records = response.data.records;
                    // return records w/ unique id
                    this.insurancesRecords = records.filter((obj, index, recordsArray) => recordsArray.map(mapObj => mapObj.user_id).indexOf(obj.user_id) === index);
                    this.processedRecords = response.data.processedRecords.filter((obj, index, recordsArray) => recordsArray.map(mapObj => mapObj.user_id).indexOf(obj.user_id) === index);
                    this.loading = false;
                }).catch(e => {
                    this.insurancesRecords = null; // in-case page refresh fails
                    this.loading = false;
                });
            },

            selectRecord(insurance_review_id, user_id, company_id = null) {
                if ( company_id && company_id > 0 && company_id != this.getSessionCompanyId) {
                    Common.storeCommit('updateSessionCompanyId', company_id).then( () => {
                        EventBus.$emit('company-changed');
                        Common.storeCommit('updateSessionDriverId', user_id).then( () => {
                            this.selected_user_id = user_id;
                            this.mode = 'individual';
                        })
                    })
                } else {
                    this.selected_user_id = user_id;
                    this.mode = 'individual';
                }

            },

            /**
             * Reload the drivers who were processed today
             * This method is called whenever we switch back to this page
             */
            changeMode() {
                this.mode = 'all';
                this.getData();
            },

            acceptInsurance(data) {
                this.approval = data.approval;
                console.log(data.id);

            },

            rejectInsurance(approval) {
                this.approval = approval;
            },
        }, // methods
    }
</script>

<style>
    #insuranceApproval tbody tr:hover {
        cursor: pointer;
    }
</style>