/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    This component is used to reject an individual insurane document.
    It displays the reasons for rejecting an individual document.
    Under this system, a bunch of rejected documents can in fact be approved.
    The sum of their parts forms complete coverage. Kapish?


*/
<template lang="html">
    <div id="incompleteDocumentSection"
         style="position: absolute; display: inline; margin-left: 0.25rem; width: 200%;">

        <!--Display a successful rejection-->
        <transition name="fade10s">
            <button class="btn btn-danger position-absolute" style="top: 100px; right: 20px; z-index: 300;" v-if="document_rejected_successfully">
                Document Rejected - An email has been sent to the driver
            </button>
        </transition>

        <section v-click-outside="detectClickOutside">

            <button :class="'btn ' + rejection_button_class"
                    title="Rejecting a document will not void the whole insurance package. It has no effect on street light. Rejecting a document will however alert a driver to the fact that they may be missing no policy renewal dates, or perhaps submitted an unreadable document."
                    style="background: yellow; border: 1px solid yellow;"
                    @click="togglePackageIncomplete = !togglePackageIncomplete">
                {{ rejection_button_label }}
            </button>

            <transition name="fade5s">
                <div v-show="togglePackageIncomplete" id="incompleteOptionsSection" class="card">

                    <label class="mt-2">Reason(s) for Rejection</label>
                    <div class="btn-group dropup d-block" v-click-outside="hideReasonMenu">
                        <button type="button"
                                class="btn btn-block text-left dropdown-toggle dd-toggle"
                                style="background: #fff; border: 1px solid #ccc; outline: none;"
                                @click="showRejectionReasons = !showRejectionReasons"
                                :disabled="!editable || document.approved">
                            <span id="reason-menu-text2">{{ reason_menu_text }}</span>
                        </button>

                        <div :class="{ 'dropdown-menu pt-1 pb-1': true, 'show': showRejectionReasons }" aria-labelledby="dropdownMenuButton" style="width: 100%;">
                            <label :class="{ 'd-block pt-2 pb-2 pl-3 pr-3 m-0': true, 'reason-selected': reason.value == 1 }" v-for="(reason, index) in custom_rejection_reasons" @click.stop="selectedReason($event, reason, index)">
                                <input type="checkbox"
                                       :value="reason.column"
                                       class="mr-1"
                                       :checked="reason.value == 1"
                                       :disabled="!editable || document.approved"> {{ reason.text }}
                            </label>
                        </div>
                    </div>

                    <div class="alert alert-danger mt-2" v-if="selectedCustomReasons.length">
                        <ol class="mb-0 ml-2">
                            <li v-for="custom in selectedCustomReasons">{{ custom.reason }}</li>
                        </ol>
                    </div>

                    <div id="incomplete-form">
                        <div class="form-check mt-2 mb-1">
                            <label>
                                <input class="form-check-input"
                                       type="checkbox"
                                       v-model="use_custom_rejection_message"
                                       value="0"
                                       :disabled="disable_errythang || !editable || document.approved"> Send Custom Message
                            </label>
                        </div>

                        <transition name="fade5s">
                            <textarea v-if="use_custom_rejection_message"
                                      class="form-control mb-3"
                                      v-model="custom_rejection_message"
                                      title="Selecting this box will allow you to add a custom message to the email the driver will receive about this rejected document"
                                      placeholder="Custom message..."
                                      :disabled="!editable || document.approved"></textarea>
                        </transition>

                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-block btn-danger mb-4"
                                        @click.prevent="cancelChangesToReasonIncomplete"
                                        :disabled="disable_errythang || !editable">Cancel</button>
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" value="0" class="action-incomplete">
                                <button type="submit"
                                        title="Submitting rejection of this document will send a driver an email detailing why the document was rejected"
                                        class="btn btn-block btn-primary mb-4"
                                        :disabled="disable_errythang || !editable || no_reasons_selected || document.approved"
                                        @click="submitRejection">Submit and Send Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </section>

    </div>
</template>

<script>
    // imports here
    import {mapGetters} from 'vuex';

    export default {
        /**
         * The document is the driver insurance document passed in from the parent.
         * It should match the database record in the driver_insurance_documents table.
         */
        props: ['user', 'status', 'options', 'document', 'editable'], // props

        components: {

        }, // components

        data() {
            return {
                currentReview: null,  // to store review prop in order to update
                use_custom_rejection_message: false,
                custom_rejection_message: "",
                customRejection: false,
                togglePackageIncomplete: false, // show/hide package incomplete form
                rejection_reasons: [], // for storing the rejection_reason text only
                showRejectionReasons: false, // dropup menu for rejection reasons
                custom_rejection_reasons: [
                    { text: 'No Policy Renewal Dates', column: 'no_policy_term_dates', value: 0 },
                    { text: 'Vehicle Does Not Match', column: 'vehicle_match', value: 0 },
                    { text: 'Illegible', column: 'document_illegible', value: 0 },
                    { text: 'Not Current', column: 'document_current', value: 0 },
                    { text: 'Name Missing', column: 'name_missing', value: 0 },
                    { text: 'Other', column: 'other', value: 0 },
                ],
                selected_rejections: [],

                selectedCustomReasons: [],


                /**
                 * for the reason menu text
                 * The data driven approach is required here because the elements
                 * template isn't loaded all at once. Therefore there can be issues
                 * with the load time and methods trying to alter the DOM will be called
                 * when the elements which are supposed to be edited are not yet present!
                 */
                reason_menu_text: 'Select Reason',

                /**
                 * Boolean to display a message when a document is updated successfully
                 */
                document_rejected_successfully: false,


                /**
                 * Like OMG disable it all
                 */
                disable_errythang: false,

            };
        }, // data

        mounted() {

        }, // mounted

        computed: {
            ...mapGetters([
                'getSessionDriverId',
                'getUserId' // this is the processors id
            ]),


            rejection_button_label: function() {
                if (!this.editable) {
                    return 'View Document Details'
                }
                if (this.document) {
                    if(this.document.approved == null) return 'Reject This Document';
                    if(this.document.approved == 0) return 'View Document Rejection Reason';

                    return 'View Document Details'; // TODO what is approved 2?????????????
                }
            },

            rejection_button_class: function() {
                if (this.document) {
                    if(this.document.approved == null || this.document.approved == 0) return 'btn-danger btn-sm';
                }
                return 'btn-sm';
                // return this.document && this.document.approved != null ? 'btn-danger' : 'btn-warning';
            },

            no_reasons_selected: function() {
                return !this.custom_rejection_reasons.find(x => x.value);
            }
        }, // computed


        watch: {
            /**
             * Watch the document prop for changes
             * In this way we can display whether or not it as been rejected and can view the rejection
             * reasons.
             *
             */
            'document': {
                handler: function(val) {
                    if( !_.isEmpty(val)) {
                        // parse the prop's data
                        this.parseDocumentProp();
                    }

                },
                deep: true,
                immediate: true
            },


        }, // watch

        methods: {

            selectedReason(event, reason, index) {
                if (event.target.tagName.toLowerCase() === 'input') {
                    let plural;
                    let indexToRemoveFromSelectedCustomReasons = null;

                    if (this.selectedCustomReasons.length > 0) {
                        console.log('selectedCustomReasons.length > 0');
                        // loop through currently selectedCustomReasons to see if in array
                        for (let reasonIndex = 0; reasonIndex < this.selectedCustomReasons.length; reasonIndex++) {
                            Object.values(this.selectedCustomReasons[reasonIndex]).forEach(val => {
                                if (val == this.custom_rejection_reasons[index].column) {
                                    this.custom_rejection_reasons[index].value = 0;
                                    indexToRemoveFromSelectedCustomReasons = [reasonIndex];
                                }
                            });
                        }

                        if (indexToRemoveFromSelectedCustomReasons === null) {
                            this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                            this.custom_rejection_reasons[index].value = 1;
                            plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                            this.reason_menu_text = this.selectedCustomReasons.length + ' Reason' + plural;
                        } else { // remove
                            this.selectedCustomReasons.splice(indexToRemoveFromSelectedCustomReasons, 1);
                            indexToRemoveFromSelectedCustomReasons = null;
                            if (this.selectedCustomReasons.length < 1) {
                                this.reason_menu_text = 'Select reason';
                            } else {
                                plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                                this.reason_menu_text = this.selectedCustomReasons.length + ' Reason' + plural;
                            }
                        }

                    } else {
                        this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                        this.custom_rejection_reasons[index].value = 1;
                        plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                        this.reason_menu_text = this.selectedCustomReasons.length + ' Reason' + plural;
                    }

                }
            },

            /**
             * When changes to reasons incomplete are canceled, we close the reasons incomplete we close the
             * reject document dropdown.
             * We also then parse the document prop again to wipe out any changes made inadvertently.
             */
            cancelChangesToReasonIncomplete() {
                this.togglePackageIncomplete = !this.togglePackageIncomplete;
                this.parseDocumentProp();
            },

            /**
             * When a user clicks off of the Reasons Incomplete select,
             * this method is called and will close the dropdown.
             */
            hideReasonMenu() {
                this.showRejectionReasons = false;
            },

            updateSelectedCustomReasons(val) {
                // console.log('hit');
                this.selectedCustomReasons = [];
                this.custom_rejection_reasons.forEach(reason => {
                    Object.entries(val).forEach(obj => { // val = prop['review']
                        if (obj[0] == reason.column && obj[1] > 0) {
                            reason.value = 1;
                            this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                        }
                        if (obj[0] == reason.column && obj[1] === 0) {
                            reason.value = 0;
                        }
                    });
                });
            },

            /**
             * Parse the prop to determine which
             * rejection reasons have already been accepted
             *
             * Empty the selected reasons list when the document is parsed.
             * Set all custom rejection reason to 0 (we will set this properly with parse)
             * Update the select's menu text: Select Reason
             */
            parseDocumentProp() {

                this.selectedCustomReasons = [];
                this.custom_rejection_reasons.forEach( x => { x.value = 0 });
                this.reason_menu_text = 'Select Reason';

                /**
                 * First get a list of all the column names
                 */
                let reasons_list = this.custom_rejection_reasons.map( r => r.column );

                /**
                 * For each field in the document, if it matches an element of reasons list,
                 * push the value into the local selection
                 */
                Object.keys(this.document).forEach( (key, index) => {
                    if (reasons_list.includes(key) && this.document[key] == 1) {
                        console.log('ay');
                        this.selectedReason({target: {tagName: 'input'}}, this.custom_rejection_reasons.find(r => { return r.column == key}), reasons_list.indexOf(key));
                    }
                });


            },

            submitRejection() {
                this.disable_errythang = true;
                axios.post('/rejectSingleInsuranceDocument', {
                    document_id: this.document.id,
                    reasons: this.custom_rejection_reasons,
                    custom_rejection_message: this.custom_rejection_message,
                    user_id: this.getSessionDriverId,
                    processor_id: this.getUserId
                }).then( response => {
                    this.document.approved = 0;
                    this.disable_errythang = false;
                    this.alertDocumentRejectedSuccessfully();
                    Common.fire('document-rejected', this.document.id);
                });

            },


            /**
             * Called by the v-click-outside directive
             * Will close the reject doc window if the click is outside
             */
            detectClickOutside() {
                this.togglePackageIncomplete = false;
            },

            /**
             * TODO TELL THE PARENT THE DOC WAS REJECTED SUCCESSFULY SO IT CAN PULL THE DOCS BACK DOWN
             */
            alertDocumentRejectedSuccessfully() {
                this.document_rejected_successfully = true;
                this.togglePackageIncomplete = false;
                let self = this;
                setTimeout(function() {
                    self.document_rejected_successfully = false;
                }, 1200);
            },


        }, // methods
    }
</script>

<style>
    #incompleteDocumentSection #incompleteOptionsSection {
        background: rgb(228, 228, 228);
        padding-left: 1rem;
        padding-right: 1rem;
    }

</style>