<template lang="html">
    <div class="card table-responsive" style="background: #e4e4e4;" @click="detectFormClick">
        <div class="card-body pb-0 position-relative">
            <transition name="fade5s">
                <button class="btn btn-success position-absolute" style="top: 10px; right: 10px;" v-if="documentUpdatedSuccessfully">
                    Saved Successfully
                </button>
            </transition>

            <table class="table mb-4">
                <thead style="">
                <tr>
                    <th style="color: #000">Approval Options</th>
                    <th style="color: #000" class="text-center">No</th>
                    <th style="color: #000" class="text-center">Yes</th>
                </tr>
                </thead>

                <tbody @click="detectUncheckedCheckbox" :disabled="!editable">
                <tr v-if="companyOptions.bodily_liability_per_person > 0">
                    <td>
                        Bodily Injury Liability<br>
                        <span style="font-size: 14px;">{{ companyOptions.bodily_liability_per_person }} each person</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.bodily_liability_per_person ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.bodily_liability_per_person"
                               name="bodily_liability_per_person" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.bodily_liability_per_person ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.bodily_liability_per_person"
                               name="bodily_liability_per_person" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.bodily_liability_per_accident > 0">
                    <td>
                        Bodily Injury Liability<br>
                        <span style="font-size: 14px;">{{ companyOptions.bodily_liability_per_accident }} each accident</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.bodily_liability_per_accident ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.bodily_liability_per_accident"
                               name="bodily_liability_per_accident" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.bodily_liability_per_accident ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.bodily_liability_per_accident"
                               name="bodily_liability_per_accident" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.deductible > 0">
                    <td>
                        Deductible<br>
                        <span style="font-size: 14px;">{{ companyOptions.deductible }} maximum</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.deductible ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.deductible"
                               name="deductible" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.deductible ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.deductible"
                               name="deductible" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.comprehensive_deductible > 0">
                    <td>
                        Comprehensive Deductible<br>
                        <span style="font-size: 14px;">{{ companyOptions.comprehensive_deductible }} maximum</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.comprehensive_deductible ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.comprehensive_deductible"
                               name="comprehensive_deductible" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.comprehensive_deductible ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.comprehensive_deductible"
                               name="comprehensive_deductible" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.collision_deductible > 0">
                    <td>
                        Collision Deductible<br>
                        <span style="font-size: 14px;">{{ companyOptions.collision_deductible }} maximum</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.collision_deductible ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.collision_deductible"
                               name="collision_deductible" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.collision_deductible ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.collision_deductible"
                               name="collision_deductible" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.medical > 0">
                    <td>
                        Medical<br>
                        <span style="font-size: 14px;">{{ companyOptions.medical }} maximum</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.medical ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.medical"
                               name="medical" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.medical ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.medical"
                               name="medical" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.property_damage > 0">
                    <td>
                        Property Damage<br>
                        <span style="font-size: 14px;">{{ companyOptions.property_damage }} each accident</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.property_damage ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.property_damage"
                               name="property_damage" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.property_damage ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.property_damage"
                               name="property_damage" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.uninsured_per_person > 0">
                    <td>
                        Uninsured/Underinsured<br>
                        <span style="font-size: 14px;">{{ companyOptions.uninsured_per_person }} per person</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.uninsured_per_person ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.uninsured_per_person"
                               name="uninsured_per_person" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.uninsured_per_person ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.uninsured_per_person"
                               name="uninsured_per_person" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.uninsured_per_accident > 0">
                    <td>
                        Uninsured/Underinsured<br>
                        <span style="font-size: 14px;">{{ companyOptions.uninsured_per_accident }} each accident</span>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :class="[ !checkboxObject.uninsured_per_accident ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.uninsured_per_accident"
                               name="uninsured_per_accident" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.uninsured_per_accident ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.uninsured_per_accident"
                               name="uninsured_per_accident" value="1">
                    </td>
                </tr>

                <tr v-if="companyOptions.business_use > 0">
                    <td>Business Use Insurance</td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ !checkboxObject.business_use ? 'custom-checkbox --no' : 'custom-checkbox' ]"
                               :checked="!checkboxObject.business_use"
                               name="business_use" value="0">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"
                               :disabled="!editable"
                               :class="[ checkboxObject.business_use ? 'custom-checkbox --yes' : 'custom-checkbox' ]"
                               :checked="checkboxObject.business_use"
                               name="business_use" value="1">
                    </td>
                </tr>

                </tbody>
            </table>

            <hr>

            <!--{{ currentDocument.id }}
            {{ currentDocument.approved }}
            {{ current_document_id }}-->

            <div class="row mt-3">
                <!-- Back or Cancel -->
                <div class="col-sm-6" v-if="!togglePackageIncomplete">
                    <button v-if="sessionChanges.length"
                            class="btn btn-block btn-danger mb-3"
                            @click="cancelSessionChanges"
                            :disabled="!editable">
                        Cancel
                    </button>
                    <button v-else
                            title="Go back to the Insurance Approval page to see drivers processed and awaiting processing"
                            class="btn btn-block btn-secondary mb-3"
                            @click="changeMode">
                        Back
                    </button>
                </div>
                <div v-else class="col-sm-6"></div>

                <!--<div v-if="currentDocument.approved === 0 || currentDocument.approved === 1" class="col-sm-6 pl-0">
                    <button class="btn btn-block btn-primary mb-3" @click="togglePackageIncomplete = !togglePackageIncomplete">Edit</button>
                </div>-->
                <div v-if="allCheckboxesChecked" class="col-sm-6 pl-0">
                    <button class="btn btn-block btn-success mb-3"
                            @click="processInsurance"
                            :title="!editable ? 'This package is no longer editable' : ''"
                            :disabled="!allCheckboxesChecked || !editable || review.approved == 1">
                        {{review.approved == 1 ? 'Insurance Accepted' : 'Accept Insurance'}}
                    </button>
                </div>
                <div v-else class="col-sm-6 pl-0">

                    <!--@click="togglePackageIncomplete = !togglePackageIncomplete"-->
                    <button class="btn btn-block btn-warning mb-3" style="background: yellow; border: 1px solid yellow;"
                            @click="processInsurance"
                            title="Marking Incomplete is the same as rejecting prior insurance. This will mark the current package incomplete, and put the driver into red light status."
                            :disabled="!editable">
                        {{ !editable ? 'Rejection Reason' : 'Mark as Incomplete'}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    // imports here
    import moment from 'moment';

    export default {
        props: ['new_caller_id', 'current_document_id', 'documents', 'review', 'companyOptions', 'editable'], // props

        components: {

        }, // components

        data() {
            return {
                customRejectionMessage: false,
                currentReview: null,  // to store review prop in order to update
                updateDocumentId: null, // id to update if not matching current_document_id
                currentDocuments: null, // to store documents prop in order to update
                currentDocument: null,
                clonedOriginalReview: null,
                rejectionReason: '',
                togglePackageIncomplete: false, // show/hide package incomplete form
                documentUpdatedSuccessfully: false, // show & hide when doc updated successfully
                allCheckboxesChecked: false,
                selected_rejections: [],
                rejection_reasons: [], // for storing the rejection_reason text only
                showRejectionReasons: false, // dropup menu for rejection reasons
                custom_rejection_reasons: [
                    // { text: 'Company Requirements', column: 'company_requirements', value: 0 },
                    { text: 'No Policy Renewal Dates', column: 'no_policy_term_dates', value: 0 },
                    { text: 'Vehicle Does Not Match', column: 'vehicle_match', value: 0 },
                    { text: 'Illegible', column: 'document_illegible', value: 0 },
                    { text: 'Not Current', column: 'document_current', value: 0 },
                    { text: 'Name Missing', column: 'name_missing', value: 0 },
                    { text: 'Other', column: 'other', value: 0 },
                ],
                clonedOriginalCustomRejectionReasons: null,
                // selected_rejection_reasons: null,
                selectedCustomReasons: [],

                checkboxObject: {
                    bodily_liability_per_accident: 0,
                    bodily_liability_per_person: 0,
                    business_use: 0,
                    collision_deductible: 0,
                    comprehensive_deductible: 0,
                    deductible: 0,
                    medical: 0,
                    property_damage: 0,
                    public_liability: 0,
                    uninsured_per_accident: 0,
                    uninsured_per_person: 0
                },

                sessionChanges: [], // track session changes
            };
        }, // data

        created() {
            if (this.documents) {
                this.currentDocuments = _.cloneDeep(this.documents);
                this.currentReview = _.cloneDeep(this.review);
                if (this.currentReview.comment != null) {
                    this.customRejectionMessage = true;
                }
            }

            this.loadCollectionObjectWithDocumentObjects();
        },

        mounted() {
            Common.listen(this.new_caller_id + '-change-document', this.changeDocumentAndHideIncompleteOptions);
            this.updateSelectedCustomReasons(this.currentReview);
            this.clonedOriginalReview = _.cloneDeep(this.currentReview);
            console.log('update: ',this.currentReview);
        }, // mounted

        computed: {

        }, // computed

        watch: {
            rejectionReason: function(val) {
                if (val === 'other' || this.currentReview.comment != null) {
                    this.customRejectionMessage = true;
                } else {
                    this.customRejectionMessage = false;
                }
            },

            current_document_id:function(val) {
                this.setCurrentDocument(val);
            },

            documents: function() {
                console.log(
                    'initializeing component'
                )
                this.initializeComponent();
            }

            /*review(val) {
                console.log(val)
            },*/
        }, // watch

        methods: {

            initializeComponent() {
                if (this.documents) {
                    this.currentDocuments = _.cloneDeep(this.documents);
                    this.currentReview = _.cloneDeep(this.review);
                    if (this.currentReview.comment != null) {
                        this.customRejectionMessage = true;
                    }
                }

                this.loadCollectionObjectWithDocumentObjects();
            },

            acceptInsurance() {
                alert('Accepted!');
            },

            cancelChangesToReasonIncomplete() {
                this.togglePackageIncomplete = !this.togglePackageIncomplete;
                this.updateSelectedCustomReasons(this.clonedOriginalReview); // reset
            },

            updateSelectedCustomReasons(val) {
                // console.log('hit');
                this.selectedCustomReasons = [];
                this.custom_rejection_reasons.forEach(reason => {
                    Object.entries(val).forEach(obj => { // val = prop['review']
                        if (obj[0] == reason.column && obj[1] > 0) {
                            reason.value = 1;
                            this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                        }
                        if (obj[0] == reason.column && obj[1] === 0) {
                            reason.value = 0;
                        }
                    });
                });
            },

            changeDocumentAndHideIncompleteOptions() {
                if (this.togglePackageIncomplete) {
                    this.togglePackageIncomplete = !this.togglePackageIncomplete
                }
            },

            loadCollectionObjectWithDocumentObjects: function() {
                console.log('load collection');
                /**
                 * Reset the checkbox back to 0
                 * This is done to ensure that when we switch users the checkboxes are updated
                 */
                var self = this;
                Object.keys(this.checkboxObject).map(function(k) {
                    if (self.checkboxObject.hasOwnProperty(k)) {
                        self.checkboxObject[k] = 0;
                    }
                })
                console.log(this.currentDocuments.length);
                this.currentDocuments.forEach((obj, i) => { // foreach document
                    console.log(i);
                    Object.entries(obj).map(([key, value]) => { // map over keys & values
                        var self = this;
                        Object.keys(this.checkboxObject).map(function(edit_key) { // foreach key in checkboxObject, map over the keys
                            if (key === edit_key && value > 0) {
                                console.log(edit_key)
                                self.checkboxObject[edit_key] = value;
                            }
                        });
                    });
                });
                this.detectAllCheckboxesChecked();
                this.setCurrentDocument(this.current_document_id);
            },

            setCurrentDocument(val) {
                this.currentDocuments.forEach(doc => {
                    if (doc.id === val) {
                        this.currentDocument = doc;
                    }
                });
            },

            detectAllCheckboxesChecked() {
                let self = this;
                setTimeout(function() {
                    let checkboxes = document.getElementsByClassName("custom-checkbox");

                    let countYes = [];
                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].value === '1') {
                            countYes.push(checkboxes[i]);
                        }
                    }

                    let countCheckedYes = 0;
                    for (let j = 0; j < countYes.length; j++) {
                        if (countYes[j].checked) {
                            countCheckedYes++;
                        }
                    }

                    if (countCheckedYes === countYes.length) {
                        self.allCheckboxesChecked = true;
                        self.togglePackageIncomplete = false;
                    } else {
                        self.allCheckboxesChecked = false;
                    }
                }, 300);

            },

            detectUncheckedCheckbox($event) {
                if ($event.target.type === 'checkbox') {
                    let intValue = $event.target.value === '0' ? 0 : 1; // set to int
                    if (this.checkboxObject[$event.target.name] === intValue) return; // if same value

                    // document id does not match current_document_id
                    this.currentDocuments.forEach((obj) => { // forEach document
                        Object.entries(obj).map(([key, value]) => { // map over keys & values
                            if ($event.target.name === key && value === 1) { // find the (id) where property & value are the same
                                if (obj.id !== this.current_document_id) {
                                    this.updateDocumentId = obj.id;
                                }
                            }
                        });
                    });

                    if (this.updateDocumentId !== null) {
                        if (this.confirmCheckboxUpdate()) {
                            this.updateDocument(this.updateDocumentId, $event.target.name, 0);
                        } else {
                            this.updateDocumentId = null;
                        }
                    } else {
                        this.updateDocument(this.current_document_id, $event.target.name, intValue);
                    }
                }
            },

            confirmCheckboxUpdate: function() {
                let uncheck = confirm("This option has been checked 'YES' on another document, do you want to change to 'NO' overall?");
                return uncheck;
            },

            confirmCancelAllSessionChanges: function() {
                let uncheck = confirm("Please confirm cancellation of all changes this session:");
                return uncheck;
            },

            updateCheckboxes: function(name, value) {
                this.checkboxObject[name] = value;
            },

            updateDocument: function(id, name, value) {
                /**
                 * A precautionary measure
                 */
                if (!this.editable) {
                    return;
                }
                const self = this;
                let document = { id: id, column: name, value: value, review_id: this.review.id };

                this.trackSessionChanges(id, name, value);

                axios.post('/updateSingleInsuranceDocument', document).then(response => {
                    if (response.data.message === 'success') {
                        self.updateCheckboxes(name, value);
                        self.updateDocumentId = null;
                        this.currentDocuments = response.data.documents;
                        this.loadCollectionObjectWithDocumentObjects();
                        this.alertDocumentUpdateSuccessfully();
                    }
                }).catch(e => {
                    console.log(e);
                });
            },

            trackSessionChanges(id, name, value) {
                // create new sessionChange[object]
                let intValue = value === 0 ? 1 : 0; // set opposite of checked value
                let addToSessionObject = { id: id };
                addToSessionObject[name] = intValue;

                if (!this.sessionChanges.length) { // if sessionChanges array is empty
                    this.sessionChanges.push(addToSessionObject); // push in first change
                } else {
                    let foundMatchingId = null;
                    this.sessionChanges.forEach(obj => { // loop through sessionChanges array of objects
                        if (obj.id === addToSessionObject.id) { // if same as addToSessionObject.id or id passed in
                            foundMatchingId = obj.id; // set the found matching id
                        }
                    });

                    if (foundMatchingId !== null) { // found matching id not null
                        let foundPropertyKey = false;
                        for (let i = 0; i < this.sessionChanges.length; i++) { // loop through sessionChanges array
                            if (this.sessionChanges[i].id === foundMatchingId) { // if id is found in obj.id
                                let objKeys = Object.keys(this.sessionChanges[i]); // collect obj keys
                                for (let j = 0; j < objKeys.length; j++) { // loop through the obj keys
                                    if (objKeys[j] === name) { // if objKey is same as name passed in
                                        foundPropertyKey = true; // if matching key found in obj
                                    }
                                }
                                if (!foundPropertyKey) { // if key not found in the object, then add the entry with key: value
                                    this.sessionChanges[i][Object.entries(addToSessionObject)[1][0]] = Object.entries(addToSessionObject)[1][1];
                                }
                            }
                        }
                    } else { // push the addToSessionObject into the sessionChanges array
                        this.sessionChanges.push(addToSessionObject);
                    }
                }
            },

            alertDocumentUpdateSuccessfully() {
                this.documentUpdatedSuccessfully = true;
                let self = this;
                setTimeout(function() {
                    self.documentUpdatedSuccessfully = false;
                }, 1200);
            },

            changeMode: function() {
                Common.fire(this.new_caller_id + '-change-mode');
            },

            cancelSessionChanges: function() {
                /**
                 * A precautionary measure
                 */
                if (!this.editable) {
                    return;
                }
                if (this.sessionChanges.length) { // if sessionChanges array is empty
                    if (this.confirmCancelAllSessionChanges()) {
                        let payload = { review_id: this.review.id, changes: this.sessionChanges };
                        axios.post('/updateMultipleInsuranceDocuments', payload).then(response => {
                            if (response.status = 200) {
                                this.changeMode();
                            }
                        }).catch(e => {
                            console.log(e);
                        });
                    }
                } else {
                    this.changeMode();
                }
            },

            processInsurance() {
                /**
                 * A precautionary measure
                 */
                if (!this.editable) {
                    return;
                }

                let date = moment(this.review.next_insurance_review_date);
                if (!date.isValid()) {
                    alert('Invalid date of next review');
                    return;
                }

                /**
                 * Formulate the data object to send to the server
                 * Note that all checkboxes checked is an indirect indicator of approval or rejection
                 * @type {{insurance_review_id: *, user_id: *, approved: boolean}}
                 */
                let data = {
                    insurance_review_id: this.review.id,
                    user_id: this.review.user_id,
                    approved: this.allCheckboxesChecked,
                    next_insurance_review_date: this.review.next_insurance_review_date
                }
                axios.post('/processInsurance', data).then(response => {
                   console.log('response: ',response.data);
                   this.changeMode();
                }).catch( errors => {
                    alert('Something went wrong, please contact CarData IT Support');
                });
            },

            detectFormClick(e) {
                if (!e.target.classList.contains('dropdown-toggle') && !e.target.classList.contains('dropdown-menu') && !e.target.parentElement.classList.contains('dropdown-menu') && !e.target.parentElement.parentElement.classList.contains('dropdown-menu')) {
                    this.showRejectionReasons = false;
                }
            },

            selectedReason(event, reason, index) {
                if (event.target.tagName.toLowerCase() === 'input') {
                    let reason_menu_text = document.getElementById('reason-menu-text');
                    let plural;
                    let indexToRemoveFromSelectedCustomReasons = null;

                    // console.log(this.custom_rejection_reasons[index]);

                    if (this.selectedCustomReasons.length > 0) {
                        console.log('selectedCustomReasons.length > 0');
                        // loop through currently selectedCustomReasons to see if in array
                        for (let reasonIndex = 0; reasonIndex < this.selectedCustomReasons.length; reasonIndex++) {
                            Object.values(this.selectedCustomReasons[reasonIndex]).forEach(val => {
                                if (val == this.custom_rejection_reasons[index].column) {
                                    this.custom_rejection_reasons[index].value = 0;
                                    indexToRemoveFromSelectedCustomReasons = [reasonIndex];
                                }
                            });
                        }

                        if (indexToRemoveFromSelectedCustomReasons === null) {
                            this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                            this.custom_rejection_reasons[index].value = 1;
                            plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                            reason_menu_text.innerText = this.selectedCustomReasons.length + ' Reason' + plural;
                        } else { // remove
                            this.selectedCustomReasons.splice(indexToRemoveFromSelectedCustomReasons, 1);
                            indexToRemoveFromSelectedCustomReasons = null;
                            if (this.selectedCustomReasons.length < 1) {
                                reason_menu_text.innerText = 'Select reason';
                            } else {
                                plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                                reason_menu_text.innerText = this.selectedCustomReasons.length + ' Reason' + plural;
                            }
                        }

                    } else {
                        this.selectedCustomReasons.push({ reason: reason.text, column: reason.column, value: 1 });
                        this.custom_rejection_reasons[index].value = 1;
                        plural = this.selectedCustomReasons.length > 1 ? 's' : '';
                        reason_menu_text.innerText = this.selectedCustomReasons.length + ' Reason' + plural;
                    }


                    // Handle Class Add/Remove
                    if (!event.target.parentElement.classList.contains('reason-selected')) {
                        event.target.parentElement.classList.add('reason-selected');
                    } else {
                        event.target.parentElement.classList.remove('reason-selected');
                    }
                }
            },
        }, // methods
    }
</script>

<style>
.form-group ul.dropdown-menu {
    z-index: 9999;
}
.dropdown-toggle.dd-toggle:after {
    position: absolute;
    top: 15px;
    right: 10px;
}
.dropdown-menu label:hover {
    background: #e4e4e4;
    cursor: pointer;
}
.reason-selected {
    background: #052460;
    color: #fff;
}
.dropdown-menu label.reason-selected:hover {
    background: #052460;
}
</style>