<template lang="html">
    <div id="licenseApproval">
        <h2>License Approval</h2>
    </div>
</template>

<script>
    // imports here

    export default {
        props: [], // props

        conponents: {

        }, // conponents

        data() {
            return {

            };
        }, // data

        mounted() {

        }, // mounted

        computed: {

        }, // computed

        watch: {

        }, // watch

        methods: {

        }, // methods
    }
</script>

<style>

</style>