/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
driver.id is in fact the user_id

*/
<template lang="html">
    <div id="manualAchEftFilePage">
        <h2 style="margin-bottom: 2rem;">Manual ACH & EFT Files</h2>

        <!-- SELECT PAYMENT AMOUNTS -->
        <div class="table-responsive table-responsive-bordered mb-4" v-if="drivers && drivers.length > 0">
            <table class="table table-striped table-sm table-bordered table-hover mb-0">
                <thead>
                <tr class="primary-table-header">
                    <th>Driver</th>
                    <th>Username</th>
                    <th v-if="getSessionCountryId == 1">Account Type</th>
                    <th width="150">Payment</th>
                    <th width="80">Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="driver in drivers">
                    <td>{{ driver.last_name + ', ' + driver.first_name }}</td>
                    <td>{{ driver.username }}</td>
                    <td v-if="getSessionCountryId == 1">{{ driver.account_type }}</td>
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                            </div>

                            <input type="number"
                                   name="payment"
                                   :class="{'form-control': true, 'has-error': !validPayment(driver.payment) || paymentErrors.has(driver.id)}"
                                   v-model="driver.payment"
                                   @input="$forceUpdate(); paymentErrors.clear(driver.id)">

                            <span class="help-block"
                                  v-if="!validPayment(driver.payment) || paymentErrors.has(driver.id)">Invalid amount</span>
                        </div>
                    </td>
                    <td class="text-center"><a class="delete btn-danger" @click.prevent="removeDriver(driver.id)"></a>
                    </td>
                </tr>
                <tr v-if="!drivers || drivers.length == 0">
                    <td colspan="5">
                        Select a driver...
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- PAYMENT PROPERTIES-->
        <div id="paymentProperties">

            <section
                    v-if="( file_type == 'Ach' || file_type == 'Eft' ) && bank && getSessionCompanyId > 0 && drivers.length"
                    class="box">
                <div class="columns">

                    <div class="column is-3">
                        <label>Processing Bank</label>
                        <br>
                        {{ bank.bank_name }}
                        <br>
                        <small> since {{ bank.active_since }}</small>
                    </div>

                    <div class="column is-3">
                        <label>Effective Entry Date</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span :class="{'input-group-text': true, 'text-danger': isWeekend(paymentProperties.effective_entry_date) }"
                                      id="basic-addon2">
                                    <span v-if="effective_entry_date_holiday == true">
                                        <holiday-info :date="paymentProperties.effective_entry_date"/>
                                    </span>
                                    {{ paymentProperties.effective_entry_date | dayOfWeek}}
                                </span>
                            </div>

                            <input type="text"
                                   name="effective_entry_date"
                                   :class="{'form-control': true, 'has-error': isWeekend(paymentProperties.effective_entry_date)}"
                                   v-model="paymentProperties.effective_entry_date">
                        </div>

                    </div>


                    <div class="column is-3">

                        <!-- ACH -->
                        <section v-if="file_type == 'Ach'">
                            <label>File ID Modifier</label>
                            <div :class="{'form-group': true, 'has-error': paymentErrors.has('file_id_modifier')}">
                                <input type="text"
                                       name="file_id_modifier"
                                       class="form-control"
                                       @input="paymentErrors.clear('file_id_modifier')"
                                       v-model="paymentProperties.file_id_modifier">

                                <span class="help-block"
                                      v-if="paymentErrors.has('file_id_modifier')">Invalid modifier</span>
                            </div>
                        </section>

                        <!-- EFT -->
                        <section v-else>
                            <label>File Creation #</label>
                            <div :class="{'form-group': true, 'has-error': paymentErrors.has('file_creation_number')}">
                                <input type="text"
                                       name="file_creation_number"
                                       class="form-control"
                                       @input="paymentErrors.clear('file_creation_number')"
                                       v-model="paymentProperties.file_creation_number">

                                <span class="help-block" v-if="paymentErrors.has('file_creation_number')">Invalid creation #</span>
                            </div>
                        </section>

                    </div>

                    <div class="column is-3">
                        <section v-if="file_type == 'Ach'">
                            <div :class="{'form-group': true, 'has-error': paymentErrors.has('type')}">
                                <label>Type</label>
                                <select name="type"
                                        class="form-control"
                                        v-model="paymentProperties.type"
                                        @change="paymentErrors.clear('type')">
                                    <option value="-1" disabled>Please select...</option>
                                    <option value="payment">Payment</option>
                                    <option value="prenote">Prenote</option>
                                </select>
                                <span class="help-block" v-if="paymentErrors.has('type')">Invalid type</span>
                            </div>
                        </section>
                    </div>

                </div>
            </section>


            <div class="alert alert-warning" v-if="getSessionCompanyId < 0 || !drivers.length">
                {{ getSessionCompanyId < 0 ? 'Please select a company' : 'Please select a driver' }}
            </div>


        </div>


    </div>
</template>

<script>
    import {CompanySelect, DriverSelect} from "../partials";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import Errors from '../../utilities/Errors';
    import {HolidayInfo} from "./"; // super
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: [],

        components: {CompanySelect, Datepicker, DriverSelect, HolidayInfo},

        data() {
            return {
                caller_id: 'ManualAchEftFilesPage',
                bank: null,
                file_type: 'Ach',
                drivers: [],
                paymentProperties: {
                    effective_entry_date: moment().add(1, 'days').format('YYYY-MM-DD'),
                    file_id_modifier: 'A',
                    file_creation_number: '27',
                    type: -1,
                },
                paymentErrors: new Errors,
                effective_entry_date_holiday: false,

                /**
                 * This is a simple variable to determine what the last type of add was.
                 * If the last add was all, and we add a single driver, we will dump the array of drivers.
                 */
                last_add_type: null,
            };
        },

        created() {
        },

        mounted() {
            this.resetPage();

            // EventBus.$on(this.caller_id + '-full-driver', this.addDriver);
            EventBus.$on(this.caller_id + '-full-driver', driver => {
                // console.log('driver: ',driver);
                this.addDriver(driver);
            });
            EventBus.$on(this.caller_id + '-all-drivers-array', this.addAllDrivers);
            EventBus.$on('generate-report', this.generateFile);

            EventBus.$on('remove-all-drivers-ach-eft', this.removeAllDrivers);

            Common.storeCommit('updatePaymentResponsibilityCardata', true);
            EventBus.$emit('reset-companies');
        },

        beforeDestroy() {
            Common.storeCommit('updatePaymentResponsibilityCardata', false);
            EventBus.$emit('reset-companies');
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionCountryId' //DO NOT REMOVE THIS, ACH IS US AND EFT IS CANADA
            ]),

            button_label: function () {
                return this.file_type ? this.file_type : '___';
            },

            modifierOrCreationNumber: function () {
                return this.file_type == 'Eft' ? 'File Creation #' : 'File ID Modifier';
            },

            has_errors: function () {

            },

        },

        filters: {
            dayOfWeek: function (val) {
                if (val.search(/^([0-9]{4}-[0-9]{2}-[0-9]{2})$/) === -1) {
                    return 'N/A';
                } else {
                    return moment(val).format('ddd');
                }
            },

            upperCase: function (val) {
                return val.toUpperCase();
            }

        },

        watch: {
            /**
             * DO NOT REMOVE THIS
             * IT WILL SWITCH THE FILE TYPE WHEN THE COMPANY IS CHANGED, AND THE
             * COUNTRY SESSION IS UPDATED
             */
            getSessionCountryId: {
                handler: function (val) {
                    this.file_type = val == 1 ? 'Ach' : 'Eft';
                },
                immediate: true,
            },

            'paymentProperties.effective_entry_date': {
                handler: function (val) {
                    if (val.search(/^([0-9]{4}-[0-9]{2}-[0-9]{2})$/) === -1) {
                        this.effective_entry_date_holiday = false;
                    } else {
                        Common.isHoliday(val).then(bool => {
                            this.effective_entry_date_holiday = bool;
                        });
                    }
                },

                deep: true,
            },

            'drivers': {
                handler: function () {
                    this.$forceUpdate();
                    EventBus.$emit('drivers-to-ach-eft', this.drivers);
                },
                deep: true,
            },

            getSessionCompanyId: {
                handler: function (val) {
                    this.resetPage();
                },
                immediate: true,
            }


        },

        methods: {

            addDriver(driver) {
                /**
                 * This line checks if the last add was all drivers. If after all drivers are added
                 * a single is selected, then dump the array REW-1121
                 */
                if (this.last_add_type === 'all') this.drivers = [];

                if (this.drivers.filter(d => d.id == driver.id).length) {
                    return;
                }
                driver['payment'] = 0;
                this.drivers.push(driver);
                this.drivers = _.sortBy(this.drivers, ['last_name']);
                // console.log('ManualAchEftFilesPage@addDriver: ',driver);

                this.last_add_type = 'single';
            },

            /**
             * We have all the drivers, but we need to format it correctly for our page
             *   Luckily, drivers is passed by reference
             *
             * @param drivers
             */
            addAllDrivers(drivers) {
                for (let driver in drivers) {
                    drivers[driver]['payment'] = 0;
                }

                drivers = _.sortBy(drivers, ['last_name']);
                this.drivers = drivers;

                this.last_add_type = 'all';
            },

            removeDriver(id) {
                for (let i = 0; i < this.drivers.length; i++) {
                    if (this.drivers[i].id == id) {
                        this.drivers.splice(i, 1);
                    }
                }

                if (Common.isEmpty(this.drivers)) { // davery - to reset DriverSelect.vue
                    EventBus.$emit('all-drivers-removed-in-manualAchEftFilesPage');
                }
            },

            removeAllDrivers() {
                this.drivers = [];
            },

            generateFile() {
                let url = '/generate' + this.file_type;
                this.generating_file = true;

                axios({
                    method: 'post',
                    url: url,
                    data: {
                        drivers: this.drivers,
                        paymentProperties: this.paymentProperties,
                        company_id: this.getSessionCompanyId,
                    },
                    responseType: 'blob'
                }).then(response => {
                    let blob = new Blob([response.data], {type: 'text'});

                    if (window.navigator && window.navigator.msSaveOrOpenBlob) { // for IE
                        window.navigator.msSaveOrOpenBlob(blob, this.file_type + ".txt");
                    } else {
                        let downloadUrl = URL.createObjectURL(blob);
                        let a = document.createElement("a");
                        a.href = downloadUrl;
                        a.download = this.file_type + ".txt";
                        document.body.appendChild(a);
                        a.click();
                        this.generating_file = false;
                    }

                }).catch(errors => {
                    /**
                     * Check for a 500
                     */
                    if (errors.response.status == 500) {
                        this.flash(errors.response.data, 'error');
                    } else {
                        this.paymentErrors.errors = errors.response.data;
                    }
                    this.$forceUpdate(); // force a revalidation if it doesn't occur
                    this.generating_file = false;
                });
            },

            validPayment(amount) {
                return 1 <= amount && amount <= 9999.99;
            },

            isWeekend(date) {
                let day_of_week = moment(date).isoWeekday();
                return day_of_week == 7 || day_of_week == 6 ? true : false;
            },

            resetPage() {
                if (this.getSessionCompanyId < 1 || !this.getSessionCompanyId) {
                    return;
                }
                /**
                 * Empty the drivers array
                 * Get the bank associated with the company
                 */
                this.drivers = [];
                axios.get('/getCompanyBank/' + this.getSessionCompanyId).then(response => {
                    this.bank = response.data.bank;
                });
            }

        }
    };
</script>

<style lang="css">
    #manualAchEftFilePage #paymentAmounts {
        min-height: 200px;
    }

    #manualAchEftFilePage #paymentProperties {

    }

</style>