/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="masterTaskView">
        <h2>Master Task Control</h2>
        <br>

        <div id="masterTaskTable">
            <div class="table-responsive table-responsive-bordered mb-4" v-if="tasks">
                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Run Time</th>
                        <th>Last Run</th>
                        <th>Last Status</th>
                        <th class="text-center">Active</th>
                        <th style="width: 134px">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="(task, index) in tasks" :key="index" v-if="!task.deleted_at">
                        <td>{{ task.name }}</td>
                        <td>{{ runTime(task) }}</td>
                        <td>{{ task.last_run }}</td>
                        <td>{{ task.last_status }}</td>
                        <td class="text-center">

                            <span :class="[ 'fas', !task.deleted_at ? 'fa-check' : 'fa-times']"
                                  :style="{'color': !task.deleted_at ? 'darkgreen' : 'red'}"></span>
                        </td>
                        <td>
                            <button class="btn btn-success rounded-action-btn-30px"
                                    title="Run this task now"
                                    @click="runNow(task, index)">
                                <i class="fas fa-play"></i>
                            </button>

                            <button class="btn btn-primary rounded-action-btn-30px"
                                    title="Edit this task"
                                    @click="editTask(task, index)">
                                <i class="fal fa-pencil"></i>
                            </button>

                            <button class="btn btn-danger rounded-action-btn-30px mr-0">
                                <i class="fal fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div><!-- #masterTaskTable -->

        <edit-master-task-modal :caller_id="caller_id"
                                :is_active="make_modal_active"
                                :task_id="active_task"/>
    </div><!-- #masterTaskView -->
</template>

<script>
    import {EditMasterTaskModal} from "./index"; // super

    export default {

        components: {EditMasterTaskModal},

        data() {
            return {
                caller_id: 'MasterTaskView',
                tasks: null,
                make_modal_active: false,
                active_task: null,
                // display_session: false,
            };
        },

        created() {

        },

        mounted() {
            Common.listen(this.caller_id + '-close-modal', () => {
                this.make_modal_active = false;
            });

            axios.get('/getMasterTasks').then(response => {
                this.tasks = response.data.tasks;
            });
        },

        computed: {},

        methods: {
            runTime(task) {
                switch (task.interval) {
                    case 'hourly':
                        return 'Hourly at minute(s) ' + task.minute;
                        break;
                    case 'daily':
                        return 'Daily at hour(s) ' + task.hour + ', minutes(s) ' + task.minute;
                        break;
                    case 'weekly':
                        return 'Weekly every ' + task.day_of_week + ',  hour(s) ' + task.hour + ', minutes(s) ' + task.minute;
                        break;
                    case 'monthly':
                        return 'Monthly on day(s) ' + task.day + ', hour(s) ' + task.hour + ', minutes(s) ' + task.minute;
                        break;
                    case 'anually':
                        return 'Annually on month(s) ' + task.month + ', day(s) ' + task.day + ', hour(s) ' + task.hour + ', minutes(s) ' + task.minute;
                        break;
                }
            },

            runNow(task, index) {
                console.log('run ', task);
                this.tasks[index].last_status = 'pending';
                axios.post('/runManualTask/' + task.id)
                    .then(response => {
                        axios.get('/getMasterTaskStatus/' + task.id)
                            .then(response => {
                                console.log('run_result', response.data.run_result);
                                this.tasks[index].last_run = response.data.run_result.last_run;
                                this.tasks[index].last_status = response.data.run_result.last_status;
                                this.$forceUpdate();
                            });
                    })
                    .catch(err => {
                        console.log('Error in getMasterTaskStatus', err.response);
                        axios.post('/updateMasterTaskStatus/' + task.id + '/' + 'failed')
                            .then(response => {
                                this.tasks[index].last_run = response.data.last_run;
                                this.tasks[index].last_status = response.data.last_status;
                                this.$forceUpdate();
                            });
                    });
            },

            editTask(task, index) {
                console.log('edit task ' + task.id);
                this.active_task = task.id;
                this.make_modal_active = true;
            }
        }
    };

</script>

<style lang="scss">
    #masterTaskView .fa-calendar-times {
        color: darkred;
        font-size: x-large;
    }

    #masterTaskView .fa-calendar-check {
        color: darkgreen;
        font-size: x-large;
    }
</style>