// TODO: implement delete note category

<template lang="html">
    <div id="noteCategoryView">
        <h2>Note Categories</h2><br>

        <note-category-select :caller_id="caller_id" :refresh="refreshNoteCategories"
                              :default_category_id="default_category_id"/>


        <div class="columns">
            <div class="column is-10">
                <div id="contentDiv" v-if="note_category">
                    <div class="columns" v-if="!editMode">
                        <div class="column is-4 vue-display">
                            <input type="text" :value="note_category.title">
                            <label>Category Title</label>
                        </div>
                        <div class="column is-2">
                            <button class="btn btn-secondary" id="editButton" @click="editNoteCategory">Edit</button>
                        </div>
                    </div>

                    <div class="columns" v-else>
                        <div class="column is-4 form-group">
                            <input type="text" class="form-control" v-model="editing_note_category_title">
                        </div>
                        <div class="column is-2">
                            <button class="btn btn-primary" id="saveButton" @click="saveNoteCategory">Save</button>
                        </div>
                        <div class="column is-2">
                            <button class="btn" id="cancelButton" @click="cancelEdit">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <button class="btn btn-secondary" id="addButton" @click="addNoteCategory">Add Note Category</button>
            </div>
        </div>

        <div id="addNoteCategoryModal" :class="{'modal': true, 'is-active':showAddNoteCategory}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add New Note Category</p>
                    <button class="delete" @click="closeAddModal"></button>
                </header>
                <section class="modal-card-body">
                    <div v-if="addNoteCategorySuccess">
                        <p v-text="addNoteCategorySuccessMessage"></p>
                    </div>
                    <div v-else :class="{'form-group':true, 'has-error': noteCategoryNamingError}">
                        <label>Note Category Name:</label>
                        <input type="text" class="form-control" v-model="newNoteCategoryTitle">
                        <span class="help-block" v-if="noteCategoryNamingError">You must name the note category</span>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div v-if="addNoteCategorySuccess">
                        <button class="btn btn-secondary" @click="closeAddNoteCategory">
                            Close
                        </button>
                    </div>
                    <div v-else>
                        <a class="btn btn-primary" @click.prevent="saveNewNoteCategory">Save changes</a>
                        <a class="btn" @click.prevent="closeAddModal">Cancel</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import {NoteCategorySelect} from "../partials";

    export default {

        components: {NoteCategorySelect},

        data() {
            return {
                caller_id: 'NoteCategoryView',
                note_category: null,
                editMode: false,
                editing_note_category_title: '',
                refreshNoteCategories: false,
                showAddNoteCategory: false,
                noteCategoryNamingError: false,
                newNoteCategoryTitle: '',
                addNoteCategorySuccess: false,
                addNoteCategorySuccessMessage: '',
                default_category_id: -1
            }
        },

        created() {
            Common.listen(this.caller_id + 'note-category-changed', this.noteCategoryChanged);
        },

        methods: {

            noteCategoryChanged(category_id) {
                if (!Common.isEmpty(category_id)) {
                    //console.log('NoteCategoryView category changed ' + category_id);
                    axios.get('/getNoteCategory/' + category_id).then(response => {
                        this.note_category = response.data.note_category;
                    });
                }
            },

            editNoteCategory() {
                this.editing_note_category_title = this.note_category.title;
                this.editMode = true;
            },

            saveNoteCategory() {

                this.note_category.title = this.editing_note_category_title;
                axios.post('/updateNoteCategory', this.note_category).then(response => {
                    this.refreshNoteCategories = new Date();
                });
                this.editMode = false;
            },

            cancelEdit() {
                this.editing_note_category_title = this.note_category.title;
                this.editMode = false;
            },

            addNoteCategory() {
                this.showAddNoteCategory = true;
            },

            closeAddModal() {
                this.showAddNoteCategory = false;
            },

            closeAddNoteCategory() {
                this.note_category = { id: this.default_category_id, title: this.newNoteCategoryTitle };
                this.showAddNoteCategory = false;
            },

            saveNewNoteCategory() {
                //console.log('sending title ' + this.newNoteCategoryTitle);
                axios.post('/addNoteCategory/' + this.newNoteCategoryTitle).then(response => {
                    //console.log('SAVED NOTE CATEGORY');
                    //console.log(response.data);
                    this.addNoteCategorySuccessMessage = response.data.message;
                    this.addNoteCategorySuccess = true;
                    //console.log('Setting cat id to ' + response.data.category_id);
                    this.default_category_id = response.data.category_id;
                    this.refreshNoteCategories = new Date();
                });
            }

        }
    }
</script>

<style lang="css">

    #noteCategoryView #editButton {
        float: right;
        left: 65px;
        top: -16px;
    }

    #noteCategoryView #contentDiv {
        width: 50%;
    }

    #noteCategoryView #contentDiv #editButton {
        margin-top: 1.4rem;
    }

    #noteCategoryView #contentDiv #addButton {
        margin-top: 4rem;
    }

    #noteCategoryView #contentDiv #saveButton, #noteCategoryView #contentDiv #cancelButton {
        margin-top: .1rem;
    }
</style>