/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="notificationsView">
        <h2>Notifications</h2>

        <section v-if="loaded">
            <div class="row">
                <div class="col-4">

                    <div class="table-responsive">
                        <table class="table fusion-table">
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>Notifications</th>-->
                            <!--</tr>-->
                            <!--</thead>-->

                            <tbody>
                            <tr v-for="n in notifications" :key="n.id" @click="selectNotification(n)">
                                <td :class="[ notification && notification.id == n.id ? 'active' : '']">{{ n.title }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<section v-if="notifications">-->
                        <!--<button v-for="n in notifications"-->
                                <!--@click="selectNotification(n)"-->
                                <!-->
                            <!--<p class="title">-->
                                <!--{{ n.title }}-->
                            <!--</p>-->
                            <!--<p class="small">-->
                                <!--{{ n.content }}-->
                            <!--</p>-->
                        <!--</button>-->
                    <!--</section>-->
                    <!--<section v-else>-->
                        <!--<button class="button is-loading"></button>-->
                    <!--</section>-->
                </div>
                <div class="col-8 box">
                    <section v-if="notification && notification.errors">
                        <div class="row">
                            <div class="col">
                                <div :class="{'form-group': true, 'has-error': notification.errors.has('area')}">
                                    <label for="area-input">Area</label>
                                    <input type="text" id="area-input" @keydown="notification.validate()"
                                           class="form-control" v-model="notification.area" :disabled="mode != 'edit' && mode != 'add'">
                                    <span class="help-block" v-if="notification.errors.has('area')">{{ notification.errors.get('area') }}</span>
                                </div>
                            </div>
                            <div class="col">
                                <div :class="{'form-group': true, 'has-error': notification.errors.has('severity')}">
                                    <label for="severity-select">Severity</label>
                                    <select id="severity-select" class="form-control" @change="notification.validate()"
                                            v-model="notification.severity" :disabled="mode != 'edit' && mode != 'add'">
                                        <option value="-1" selected disabled>Select one...</option>
                                        <option value="low">Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                    </select>
                                    <span class="help-block" v-if="notification.errors.has('severity')">{{ notification.errors.get('severity') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div :class="{'form-group': true, 'has-error': notification.errors.has('title')}">
                                    <label>Title</label>
                                    <input type="text" class="form-control" @input="notification.validate()"
                                           v-model="notification.title" :disabled="mode != 'edit' && mode != 'add'">
                                    <span class="help-block" v-if="notification.errors.has('title')">{{ notification.errors.get('title') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div :class="{'form-group': true, 'has-error': notification.errors.has('content')}">
                                    <label>Content</label>
                                    <textarea placeholder="Type your notification content here..." class="form-control"
                                              @input="notification.validate()"
                                              v-model="notification.content" :disabled="mode != 'edit' && mode != 'add'">
                                    </textarea>
                                    <span class="help-block" v-if="notification.errors.has('content')">{{ notification.errors.get('content') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="col">-->
                                <!--<div :class="{'form-group': true, 'has-error': notification.errors.has('link')}">-->
                                    <!--<label for="link-select">Link</label>-->
                                    <!--<select id="link-select" class="form-control"-->
                                            <!--v-model="notification.link" :disabled="mode != 'edit' && mode != 'add'">-->
                                        <!--<option value="-1" selected disabled>Select one...</option>-->
                                        <!--<option v-for="page in pages"></option>-->
                                    <!--</select>-->
                                    <!---->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="col">

                                <page-select v-model="notification.link.page"
                                             :title="'Link'"
                                             :disabled="mode != 'edit' && mode != 'add'"
                                             :emit_object="true"
                                             :caller_id="caller_id"/>

                            </div>
                            <div class="col">
                                <div :class="{'form-group': true, 'has-error': notification.errors.has('icon')}">
                                    <label for="icon-select">Icon</label>
                                    <select id="icon-select" class="form-control" style="font-family: FontAwesome;"
                                            v-model="notification.icon" :disabled="mode != 'edit' && mode != 'add'">
                                        <option value="-1" selected disabled>Select one... (optional)</option>
                                        <option value="fa fa-calendar">&#xf073; Time</option>
                                        <option value="fa fa-file"> &#xf15b; File</option>
                                        <option value="fa fa-file"> &#xf20b; Other options...</option>
                                    </select>
                                    <span class="help-block" v-if="notification.errors.has('icon')">{{ notification.errors.get('icon') }}</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section v-else>
                        Select a notification...
                    </section>

                    <div class="row">
                        <div class="col-4">
                            <button v-if="mode != 'add'"
                                    class="btn btn-secondary left"
                                    @click="switchMode('add')">
                                New Notification
                            </button>
                            <button v-if="mode == 'add'"
                                    class="btn btn left"
                                    @click="cancelAdd()">
                                Cancel
                            </button>
                        </div>
                        <div class="col action-buttons">

                            <button v-if="mode == 'view' && notification"
                                    class="btn btn-secondary"
                                    @click="switchMode('edit')">
                                Edit
                            </button>

                            <button v-if="mode == 'edit' && notification"
                                    class="btn"
                                    @click="cancelEdit()">
                                Cancel
                            </button>

                            <button v-if="mode == 'edit' && notification"
                                    class="btn btn-danger"
                                    @click="showDeleteModal()"
                                    style="margin-left: 1rem;">
                                Delete
                            </button>

                            <button v-if="notification && mode != 'edit'"
                                    class="btn btn-success"
                                    @click="showSendModal()">
                                Send {{ mode == 'add' ? ' Without Saving' : ''}}
                            </button>

                            <button v-if="(mode == 'add' || mode == 'edit') && notification"
                                    class="btn btn-success"
                                    @click="saveNotification()">
                                Save {{ mode == 'add' ? ' as Template' : ''}}
                            </button>

                        </div>
                    </div>

                </div>
            </div>



            <!-- Send Notification Modal -->
            <notification-send-modal :notification="notification"/>


            <!-- Delete Notification Modal -->
            <div id="deleteNotificationModal" :class="{'modal': true, 'is-active': show_delete_modal == true}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Delete Notification</p>
                        <button class="delete" @click="closeDeleteModal()"></button>
                    </header>
                    <section class="modal-card-body" v-if="notification">
                        Are you sure you want to delete {{ notification.title }}
                    </section>
                    <footer class="modal-card-foot">
                        <button class="btn" @click="closeDeleteModal()">cancel</button>
                        <button class="btn btn-danger" @click="deleteNotification()">Delete Notification</button>
                    </footer>
                </div>
            </div>
        </section>
        <section v-else class="text-center">
            <button class="button is-loading" style="float: center;">

            </button>
        </section>
    </div>
</template>

<script>
    import {Errors} from "../../utilities";
    import {Notification} from "../../models";
    import {NotificationDropdownItem, PageSelect, NotificationSendModal} from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

    props: [],

    components: {NotificationDropdownItem, PageSelect, NotificationSendModal},

    data() {
        return{
            caller_id: 'notificationsView',

            // add, edit, view or send
            mode: 'view',

            // all notifications (stock) currently stored, excludes generic
            notifications: null,

            // the selected notification (will be an empty notification if mode is add)
            // NOTE: when a notification is selected we instantiate the errors class
            notification: null,

            // a copy of selected notification to be modified in the case we are editing
            notificationCopy: null,

            // list of pages that can be linked to through the notificaiton
            linkList: null,

            show_send_modal: false,
            show_delete_modal: false,


            loaded: false,
        }
    },

    beforeCreate() {

    },

    created() {
        axios.get('/getAllNotificationTemplates').then( response => {
            this.notifications = response.data;
            this.selectNotification(this.notifications[0]);
            this.loaded = true;
        });
    },

    mounted() {
        EventBus.$on('close-send-notification-modal', () => { this.closeSendModal(); });
        EventBus.$on(this.caller_id + '-page-selected', (page) => {
            console.log('yoyo')
            this.notification.link = page
        });
    },

    computed: {
        ...mapGetters([

        ]),

    },

    destroyed() {

    },

    watch: { },

    methods: {

        switchMode(new_mode) {
            this.mode = new_mode;
            if ( this.mode == 'add' ) {
                this.notification = new Notification;
                this.notification.title = 'New Notification';
                this.notifications.unshift(this.notification);
            }
        },

        selectNotification(n) {
            // todo switch constructor on notification class to accept data to clone move errors validation submission elsewhere
            this.mode = 'view';
            this.notification = new Notification(n);
            this.notificationCopy = new Notification(n);
            this.$forceUpdate();
        },

        cancelEdit() {
            this.notification = new Notification(this.notificationCopy);
            this.mode = 'view';
        },

        cancelAdd() {
            this.notifications.splice(0,1);
            this.notification = new Notification(this.notifications[0]);
            this.notificationCopy = new Notification(this.notification);
            this.switchMode('view');
        },

        // Modals
        showSendModal() {
            this.notification.validate();

            if ( this.notification.errors.any() ) {
                this.$forceUpdate();
                return;
            }

            EventBus.$emit('show-send-notification-modal');
        },

        showDeleteModal() {
            this.show_delete_modal = true;
        },

        closeDeleteModal() {
            this.show_delete_modal = false;
            console.log('closing delete modal');
            console.log(this.show_delete_modal);
        },


        // server communication
        sendNotification() {
            this.notification.validate();
            this.$forceUpdate();

            if (this.notification.errors.any()) {
                return;
            }

            axios.post('/sendNotification', {

            }).then( response => {

            }).catch( errors => {

            });
        },

        deleteNotification() {
            let id = this.notification.id
            axios.post('/deleteNotificationTemplate', {notification_id: id}).then( response => {
                // pop the notification out of the array where id is id
                for (let n in this.notifications) {
                    if (this.notifications[n].id == id) {
                        this.notifications.splice(n, 1);
                        this.notification = new Notification(this.notifications[0]);
                        this.notificationCopy = new Notification(this.notification);
                        this.closeDeleteModal();
                        break;
                    }
                }
                this.mode = 'view';
                this.closeDeleteModal();

            }).catch( errors => {

            });
        },

        saveNotification() {
            this.notification.validate();
            this.$forceUpdate();

            if (this.notification.errors.any()) {
                return;
            }

            if (this.mode == 'add') {
                axios.post('/addNotificationTemplate', {
                    notification: this.notification,
                    return_id: true
                }).then( response => {
                    //update the local notifications, push this one up top with the newly reutrned id
                    this.notification.id = response.data.id;

                    this.mode = 'view';

                }).catch( errors => {
                    this.notification.errors.errors = errors.response.data;
                });
            } else if (this.mode == 'edit') {
                axios.post('/updateNotificationTemplate', {
                    notification: this.notification,
                }).then( response => {
                    for (let n in this.notifications) {
                        if (this.notifications[n].id == this.notification.id) {
                            this.notifications[n] = new Notification(this.notification);
                            this.notificationCopy = new Notification(this.notification);
                            break;
                        }
                    }
                    this.mode = 'view';

                }).catch( errors => {
                    console.log(errors);
                    this.notification.errors.errors = errors.response.data;
                });
            }

        },

    }
}
</script>

<style lang="css">
    #notificationsView .col-6 {
        /*border: 1px solid black;*/
    }
    #notificationsView .col-4 {
        /*border: 1px solid black;*/
    }

    #notificationsView .action-buttons button {
        margin-left: 1rem;
        float: right;
    }

    #notificationsView .active {
        background: #052460;
        color: white;
    }

    #notificationsView .notification-area {
        height: 100%;
    }

    #notificationsView div {
        /*border: 1px solid black;*/
    }

</style>