/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="payFile">
        <h2>Pay File</h2>

        <!--SECTION FOR NO FILE GENERATED-->
        <transition name="fade5s">
                <p v-if="!generating_file">
                    Please select a year and a month to generate a file
                </p>
                <p v-else>
                    Your file is being generated
                </p>
        </transition>

        <loading-partial v-show="generating_file"/>

        <!--SECTION AFTER FILE GENERATED TODO FUTURE STUFF-->
        <!--<transition name="fade5s">-->
            <!--<section v-if="true">-->
                <!--&lt;!&ndash;DOWNLOAD EXCEL&ndash;&gt;-->
                <!--<button class="download btn btn-primary float-right">-->
                    <!--Download Excel-->
                <!--</button>-->

                <!--&lt;!&ndash;TABLE DATA&ndash;&gt;-->
                <!--<table v-if="true" class="table table-striped table-hover fusion-table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Title</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>Sub-title</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr v-if="true">-->
                        <!--<th>TOTALS</th>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->

                <!--&lt;!&ndash;DOWNLOAD EXCEL&ndash;&gt;-->
                <!--<button class="download btn btn-primary float-right">-->
                    <!--Download Excel-->
                <!--</button>-->
            <!--</section>-->
        <!--</transition>-->


    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import LoadingPartial from "../partials/LoadingPartial";

    export default {
        props: [],

        components: {LoadingPartial},

        data() {
            return {
                /**
                 * The name of the temp file generated
                 */
                filename: null,

                /**
                 * Boolean to say whether or not we are generating the file
                 */
                generating_file: false,

            };
        },

        created() {
            /**
             * When created restore session values to null
             */
            Common.storeCommit('updateSessionYear', -1).then( () => {
                Common.storeCommit('updateSessionMonth', -1);
            });
            EventBus.$on('generate-report', this.generatePayFile)
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionYear',
                'getSessionMonth',
            ]),

        },

        watch: {
            /**
             * Watch the session year as well as the session month
             * Whenever they are changed hide the previous data if it was generated
             */
            'getSessionYear': {
                handler: function(val) {
                    this.filename = null;
                },
                immediate: true,
            },

            'getSessionMonth': {
                handler: function(val) {
                    this.filename = null;
                },
                immediate: true,
            }

        },

        methods: {
            /**
             * Generates the file in the backend
             * a filename will be returned to be downloaded
             */
            generatePayFile() {
                this.generating_file = true;
                this.filename = null;

                axios.post('/generatePayFile', {
                    year: this.getSessionYear,
                    month: this.getSessionMonth,
                }).then( response => {
                    let file_path = 'storage/tmp/' + response.data.filename;
                    let a = document.createElement('A');
                    a.href = file_path;
                    a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    this.generating_file = false;
                }).catch( errors => {
                    alert('Something went wrong. Please contact CarData IT Support');
                });

            },
        }
    };
</script>

<style lang="css">
    #payFile .download {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

</style>