/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="powerToThePeople">

        <!--Only render for supers NOT admins-->
        <div class="box" v-if="show_power_to_the_people">

            <h5>Power to the People</h5>

            <table>
                <!--Column Titles-->
                <thead>
                    <td>Month</td>
                    <td>Ending Odometer</td>
                    <td>Business Mileage</td>
                    <td>Correct Mileage</td>
                    <td>Fixed Reimbursement</td>
                    <td>{{ cents_per_mile_label }}</td>
                    <td>Correct Reimbursement</td>
                    <td>Notes</td>
                </thead>
                <tbody>
                <!--The two rows of data-->
                    <tr v-for="(row, index) in powerToThePeopleData">
                        <td>{{ getMonthName(row.month) }}</td>
                        <td style="padding-left: 0.25rem; padding-right: 0.25rem;">
                            <form-input v-model="row.ending_odometer" :type="'number'"
                                        :disabled="getLockAllInput"
                                        :has_error="errors.has(index + '.ending_odometer')"
                                        :get_error="errors.get(index + '.ending_odometer')"/>
                        </td>
                        <td style="padding-left: 0.25rem; padding-right: 0.25rem;">
                            <form-input v-model="row.business_mileage" :type="'number'"
                                        :disabled="getLockAllInput"
                                        :has_error="errors.has(index + '.business_mileage')"
                                        :get_error="errors.get(index + '.business_mileage')"/>
                        </td>
                        <td>
                            <input type="checkbox"
                                   :disabled="getLockAllInput"
                                   :value="row.correct_mileage"
                                   :class="{'custom-checkbox': true, '--yes': row.correct_mileage}"
                                    @click="row.correct_mileage = !row.correct_mileage">
                        </td>
                        <td>{{ row.fixed_reimbursement }}</td>
                        <td>{{ row.cents_per_mile }}</td>
                        <td>
                            <input type="checkbox"
                                   :disabled="getLockAllInput"
                                   :value="row.correct_reimbursement"
                                   :class="{'custom-checkbox': true, '--yes': row.correct_reimbursement}"
                                   @click="row.correct_reimbursement = !row.correct_reimbursement">
                        </td>
                        <td>
                            <div :class="{'form-group': true, 'has-error': errors.has(index + '.notes')}">
                                <textarea v-model="row.notes"
                                          :disabled="getLockAllInput"
                                          class="form-control"/>
                                <span v-if="errors.has(index + '.notes')"
                                        class="help-block">
                                    {{ errors.get(index + '.notes') }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <loading-partial id="loader" v-show="!loaded" align="center"/>


            <!--
                Disable correction if we are loading, already submitting a correction to the server
                or have any errors present
            -->
            <button id="exertPowerButton"
                    class="btn btn-primary float-right"
                    :disabled="!loaded || correcting_records || errors.any() > 0 || getLockAllInput"
                    @click="correctRecords">
                Correct Records
            </button>

        </div>


    </div>
</template>

<script>
    import Months from '../../models/Months.js';
    import Errors from '../../utilities/Errors.js';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import {
        FormInput,
        LoadingPartial
    } from "../partials";

    export default {
        props: [],

        components: {FormInput, LoadingPartial},

        data() {
            return {
                /**
                 * loaded initial data
                 */
                loaded: false,

                /**
                 *  in the process of correcting (data submitted)
                 */
                correcting_records: false,

                /**
                 * 12 months yo
                 */
                months: Months,

                /**
                 *  data loaded from the server
                 */
                powerToThePeopleData: null,

                /**
                 * This is the errors class
                 * Since we have 2 rows of data, with identical keys, the actual errors are named like
                 * row_number.field
                 * ex.
                 *      0.ending_odometer is the name of an error for the previous month (the most recent one) and
                 *      1.ending_odometer is the name of an error for 2 months prior
                 */
                errors: new Errors,
            };
        },

        created() {

        },

        mounted() {
            /**
             * Get data is called in mounted to ensure that the
             */
            this.getData();
        },

        computed: {
            ...mapGetters([
                'getEditedUser',
                'getHighestAuthenticatedUserType',
                'getSessionCountryId',
                'getLockAllInput'
            ]),

            /**
             * Only show for supers, not for admins
             * @returns {boolean}
             */
            show_power_to_the_people: function() {
                return this.getHighestAuthenticatedUserType === 'super'
            },

            /**
             * Compute the cents per mile label based on the country id
             */
            cents_per_mile_label: function() {
                let label = 'Cents per ';
                return label + (this.getSessionCountryId == 1 ? 'mile' : 'km');
            },

        },


        watch: {
            /**
             * Watch the data.
             * Whenever the user inputs data, validate!
             */
            powerToThePeopleData: {
                handler: function(data) {
                    this.validate(data);
                },
                deep: true,
            }

        },

        methods: {
            /**
             * This gets the data required for power to the people
             * formatted nicely for our front end
             * It is in mounted so that it can use getEditedUser
             */
            getData() {
                this.loaded = false;
                axios.get('/getPowerToThePeopleData/' + this.getEditedUser.id).then( response => {
                    this.loaded = true;
                    this.powerToThePeopleData = response.data;
                })
            },

            /**
             * This is the submission method
             * It will correct records
             */
            correctRecords() {
                this.correcting_records = true;
                axios.post('/thePeopleExerciseTheirPower', {
                    user_id: this.getEditedUser.id,
                    rows: this.powerToThePeopleData
                }).then( response => {
                    this.getData();
                    this.correcting_records = false;
                    this.flash(response.data.success_message, 'success');
                }).catch( errors => {
                    /** Figure out what to do */
                    this.flash(errors.response.data, 'error');
                    this.correcting_records = false;
                })

            },

            /**
             * This must be a method
             * Filters cannot access 'this'
             */
            getMonthName(id) {
                return this.months.find( m => { return m.id == id }).name;
            },

            /**
             * Validate the power to the people data.
             * Add and clear errors in this.errors
             */
            validate(data) {
                /**
                 * Loop through both rows (2) of data.
                 */
                for (let i in data) {
                    /**
                     * If we are trying to correct records (checkboxes are checked) the notes are required
                     */
                    if ( (data[i].correct_mileage || data[i].correct_reimbursement) && _.isEmpty(data[i].notes) ) {
                        this.errors.add(i + '.notes', ['A note is required']);
                    } else {
                        this.errors.clear(i + '.notes');
                    }

                    /**
                     * Validate Ending Odometer
                     */
                    if ( Common.isInt(data[i].ending_odometer) && data[i].ending_odometer >= 0 ) {
                        this.errors.clear(i + '.ending_odometer');
                    } else {
                        this.errors.add(i + '.ending_odometer', ['Ending Odometer must be greater than or equal to 0']);
                    }

                    /**
                     * Validate Business Mileage
                     */
                    if ( Common.isInt(data[i].business_mileage) && data[i].business_mileage >= 0 ) {
                        this.errors.clear(i + '.business_mileage');
                    } else {
                        this.errors.add(i + '.business_mileage', ['Business mileage must be greater than or equal to 0']);
                    }

                }

                this.$forceUpdate();
            }
        }
    };
</script>

<style lang="css">
    #powerToThePeople {
        margin-top: 1rem;

    }

    #powerToThePeople #loader {
        margin-top: 2rem;
    }

    #powerToThePeople thead {
        font-weight: bold;
    }

    #powerToThePeople td {
        text-align: center;
    }

    #powerToThePeople #exertPowerButton {
        margin-top: 1rem;
    }

</style>