/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

On the topic of permissions, the two important users here are the vehicle profile approver and the cardata coordinator
for the given company. Only the cardata coordinator for the given company can save mapping and apply mapping.
They are also the only one who can submit proposed vehicle profiles for approval here.

All creators can edit their own vehicle profiles. Coordinator can edit all of them.

*/
<template lang="html">
    <div id="rateComparison">
        <h2>Rate Comparison with Proposed Vehicles</h2>

        <section v-if="getSessionCompanyId > 0">
            <section v-if="loaded">

                <!--the meat of the page-->
                <div class="row">
                    <div class="col-12">

                        <table v-if="true" class="table table-striped table-hover fusion-table">
                            <thead>
                            <tr>
                                <th colspan="6" valign="left">Proposed Vehicle Profiles</th>
                                <th colspan="6" valign="right">
                                    <button class="btn btn-success"
                                            @click="openModal('add')">
                                        Add New
                                    </button>
                                    <button class="btn btn-secondary"
                                            @click="selectAll('proposed-vehicle-profiles')">
                                        Select All
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Retention</th>
                                <th>Capital Cost</th>
                                <th>Resale Condition</th>
                                <th>BUP</th>
                                <th>Status</th>
                                <th>Creator</th>
                                <th>Actions</th>
                                <th>Selected</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="vp in proposedVehicleProfiles"
                                    :key="vp.id">
                                    <!--ugly but this excludes click event on action column-->
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">{{ vp | vehicle_profile_name_filter }}</td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">{{ vp.retention }} years</td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">{{ vp.capital_cost | capital_cost_filter }}</td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">{{ vp.resale_condition.name }}</td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">{{ vp.business_use_percent }}</td>

                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">
                                        <vehicle-profile-status :vehicleProfileApproval="vp.approval"/>
                                    </td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">
                                        {{ vp.creator_name }}
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary"
                                                :disabled="editDisabled(vp.created_by)"
                                                @click="openModal('edit', vp.id)">Edit</button>
                                        <button class="btn btn-danger"
                                                :disabled="deleteDisabled(vp.created_by)"
                                                @click="openModal('delete', vp.id)">Delete</button>
                                    </td>
                                    <td @click="toggleSelectProposedVehicleProfiles(vp.id)">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               :value="vp.id"
                                               v-model="proposedVehicleProfileSelection">
                                    </td>
                                </tr>

                            <tr>
                                <td colspan="9">
                                    <button class="btn btn-primary float-right"
                                            :disabled="submitProposedVehicleProfilesForApprovalDisabled()"
                                            @click="openModal('submit')">Submit For Approval</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>


                <div class="row" style="margin-top: 1rem;">
                    <div class="col-12">
                        <table v-if="true" class="table table-striped table-hover fusion-table">
                            <thead>
                            <tr>
                                <th colspan="6" valign="left">Mappings</th>
                                <th colspan="6" valign="right">
                                    <button class="btn btn-default"
                                            :disabled="!mappingsChanged()"
                                            @click="revertMappings()">Revert Changes</button>
                                    <button class="btn btn-secondary"
                                            @click="selectAll('mappings')">
                                        Select All
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="3">
                                    <span  @mouseover="existing_vehicle_profiles_hovered = true"
                                           @mouseleave="existing_vehicle_profiles_hovered = false">
                                        Existing Vehicle Profiles
                                        <button class="btn btn-default"
                                                style="padding: 0; height: 24px; width: 24px; border-radius: 50%; line-height: 24px; margin-top: -20px; background: #d6d8d9;">
                                            <i class="fa fa-info" style="vertical-align: unset;"></i>
                                        </button>
                                    </span>

                                    <transition name="fade5s">
                                        <div v-if="existing_vehicle_profiles_hovered" class="alert alert-dark" role="alert"
                                             style="position: absolute; z-index: 1; font-weight: normal; white-space: nowrap;">
                                            These are currently active vehicle profiles. Active vehicle profiles have at least
                                            1 driver.
                                        </div>
                                    </transition>
                                </th>
                                <th colspan="1">Retention</th>
                                <th colspan="1">Capital Cost</th>
                                <th colspan="1">Resale Condition</th>
                                <th colspan="1">BUP</th>
                                <th colspan="2">Proposed Vehicle Profiles</th>
                                <!--<th colspan="1">-->
                                        <!--Status-->
                                <!--</th>-->
                                <!--<th colspan = 1>Creator</th>-->
                                <th colspan="1">Selected</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="vp in vehicleProfiles"
                                :key="vp.id">
                                <td colspan="3"
                                    @click="toggleSelectMapping(vp.id)">{{ vp | vehicle_profile_name_filter }}</td>
                                <td colspan="1"
                                    @click="toggleSelectMapping(vp.id)">{{ vp.retention }}</td>
                                <td colspan="1"
                                    @click="toggleSelectMapping(vp.id)">{{ vp.capital_cost | capital_cost_filter }}</td>
                                <td colspan="1"
                                    @click="toggleSelectMapping(vp.id)">{{ vp.resale_condition.name }}</td>
                                <td colspan="1"
                                    @click="toggleSelectMapping(vp.id)">{{ vp.business_use_percent }}</td>
                                <td colspan="2">
                                    <proposed-vehicle-profile-select v-if="mappings.length > 0"
                                        :proposedVehicleProfiles="proposedVehicleProfiles"
                                        :hide_label="true"
                                        v-model="mappings.find(function(m) { return m.old_vehicle_profile_id == vp.id }).proposed_vehicle_profile_id"
                                        @click.prevent=""/>
                                </td>
                                <!--<td colspan="1"-->
                                    <!--@click="toggleSelectMapping(vp.id)">-->
                                    <!--<mapping-status :mapping="findMappingByOldVehicleProfileId(vp.id)"></mapping-status>-->
                                <!--</td>-->
                                <!--<td colspan="1">-->
                                    <!--{{ findMappingByOldVehicleProfileId(vp.id).creator }}-->
                                <!--</td>-->
                                <td colspan="1"
                                    @click="toggleSelectMapping(vp.id)">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           :value="findMappingByOldVehicleProfileId(vp.id)"
                                           v-model="mappingSelection">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12">
                                    <section class="float-right">
                                        <button class="btn btn-success"
                                                :disabled="saveMappingDisabled()"
                                                @click="saveMapping()">Save Mapping</button>
                                        <button class="btn btn-success"
                                                @click="calculateImpact()"
                                                :disabled="calculateImpactDisabled()">
                                            <span v-show="!calculating_impact">
                                                Calculate Impact
                                            </span>
                                            <loading-partial v-show="calculating_impact"/>
                                        </button>
                                        <button v-if="getUserId == coordinator.id"
                                                class="btn btn-success"
                                                :disabled="applyMappingDisabled()"
                                                @click="openModal('apply')">
                                            Apply Mapping
                                        </button>
                                    </section>
                                </td>
                            </tr>
                            </tbody>
                        </table>



                    </div>

                </div>

                <!--This was from the mapping approval era commented out 2018-05-30 -->
                        <!--<div class="col-6"-->
                             <!--valign="right">-->
                            <!--<button v-if="getIsVehicleProfileApprover"-->
                                    <!--class="btn btn-danger"-->
                                    <!--:disabled="rejectMappingsDisabled()"-->
                                    <!--@click="openModal('reject')">Reject Mappings</button>-->
                            <!--<button v-if="getIsVehicleProfileApprover"-->
                                    <!--class="btn btn-success"-->
                                    <!--:disabled="approveMappingsDisabled()"-->
                                    <!--@click="openModal('approve')">Approve Mappings</button>-->
                            <!--<button class="btn btn-success"-->
                                    <!--:disabled="submitMappingsForApprovalDisabled()"-->
                                    <!--@click="submitMappingsForApproval()">Submit For Approval</button>-->
                        <!--</div>-->



            </section>
            <section v-show="!loaded && getSessionCompanyId > 0" class="text-center">

                <loading-partial v-show="!loaded"/>

            </section>
        </section>


        <section v-show="getSessionCompanyId < 1">
            <div class="alert alert-warning">
                <p class="text-center title">
                    Please select a company
                </p>
            </div>
        </section>




        <!-- MODALS -->

        <div id="modal" :class="{'modal': true, 'is-active': show_modal == true}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        {{ modal_title }}
                    </p>
                    <button class="delete" @click="closeModal()"></button>
                </header>
                <section class="modal-card-body">

                    <!-- Delete Modal Body -->
                    <section v-if="mode == 'delete' && selectedVehicleProfile">
                        <p>Are you sure you want to delete <strong>{{ selectedVehicleProfile | vehicle_profile_name_filter }}</strong>?</p>

                        <p>Once deleted this proposed vehicle cannot be restored. It will be removed from
                            the list of proposed vehicles for <strong>ALL</strong> users. It will also be removed
                            from any associated mappings.</p>
                    </section>


                    <!-- Add/Edit Modal Body -->
                    <section v-if="mode == 'add' || mode == 'edit'">
                        <add-edit-vehicle-profile-page :vehicleProfileProp="selectedVehicleProfile"
                                                       :mode="mode"
                                                       :proposed="true"/>
                    </section>



                    <!-- Approve Modal Body -->
                    <!-- COMMENTED OUT 2018-05-30-->
                    <!--<section v-if="mode == 'approve'">-->
                        <!--<p>Are you sure you want to <strong>approve</strong> the following mappings?</p>-->

                        <!--<div class="row" v-for="mapping in mappingSelection">-->
                            <!--<div class="col-6">-->
                                <!--{{ vehicleProfiles.find(function(vp) { return vp.id == mapping.old_vehicle_profile_id }) | vehicle_profile_name_filter }}-->
                            <!--</div>-->
                            <!--<div class="col-6" v-if="proposedVehicleProfiles">-->
                                <!--{{ proposedVehicleProfiles.find(function(vp) { return vp.id == mapping.proposed_vehicle_profile_id }) | vehicle_profile_name_filter }}-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<p>Once approved, mappings can be applied.</p>-->
                    <!--</section>-->

                    <!-- Reject Modal Body -->
                    <!-- COMMENTED OUT 2018-05-30-->
                    <!--<section v-if="mode == 'reject'">-->
                        <!--<p>Are you sure you want to <strong>reject</strong> the following mappings?</p>-->

                        <!--<div class="row" v-for="mapping in mappingSelection">-->
                            <!--<div class="col-4">-->
                                <!--{{ vehicleProfiles.find(function(vp) { return vp.id == mapping.old_vehicle_profile_id }) | vehicle_profile_name_filter }}-->
                            <!--</div>-->
                            <!--<div class="col-4" v-if="proposedVehicleProfiles">-->
                                <!--{{ proposedVehicleProfiles.find(function(vp) { return vp.id == mapping.proposed_vehicle_profile_id }) | vehicle_profile_name_filter }}-->
                            <!--</div>-->
                            <!--<div class="col-4">-->
                                <!--<div :class="{'form-group': true, 'has-error':!mapping.note || mapping.note == ''}">-->
                                    <!--<label>Reason</label>-->

                                    <!--<input type="text"-->
                                           <!--name="name"-->
                                           <!--class="form-control"-->
                                           <!--v-model="mapping.note">-->
                                    <!--&lt;!&ndash;@input="vehicleProfile.validate('max_vehicle_age')">&ndash;&gt;-->

                                    <!--<span class="help-block" v-if="!mapping.note || mapping.note == ''">A reason is required</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<p>Rejected mappings cannot be applied.</p>-->

                    <!--</section>-->


                    <!-- Submit For Approval Modal Body -->
                    <section v-if="mode == 'submit'" style="margin-bottom: 4rem;">
                        <p>Are you sure you want to submit the following profiles for approval?</p>

                        <div class="row">
                            <div class="col-6">
                                <strong>Name</strong>
                            </div>
                            <div class="col-6">
                                <strong>Current Status</strong>
                            </div>
                        </div>

                        <section v-for="id in proposedVehicleProfileSelection" :key="id" style="margin-bottom: 1rem;">
                            <div class="row" v-for="pvp in [findProposedVehicleProfileById(id)]">
                                <div class="col-6">
                                    {{ pvp | vehicle_profile_name_filter }}
                                </div>
                                <div class="col-6">
                                    <vehicle-profile-status :vehicleProfileApproval="pvp.approval"/>
                                </div>
                            </div>
                        </section>

                        <p><strong>Any</strong> submitted profiles will have their status set to 'Awaiting Approval'.</p>

                    </section>


                    <!-- Apply Mapping Section -->
                    <section v-if="mode == 'apply'">
                        <p>Are you sure you want to <strong>apply</strong> the following mappings?</p>

                        <div class="row" v-for="mapping in mappingSelection" style="margin-bottom: 1rem;">
                            <div class="col-5">
                                {{ vehicleProfiles.find(function(vp) { return vp.id == mapping.old_vehicle_profile_id }) | vehicle_profile_name_filter }}
                            </div>
                            <div class="col-2">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="col-5" v-if="proposedVehicleProfiles">
                                {{ proposedVehicleProfiles.find(function(vp) { return vp.id == mapping.proposed_vehicle_profile_id }) | vehicle_profile_name_filter }}
                            </div>
                        </div>

                        <p>By applying mapping, <strong>ALL</strong> drivers on the existing profiles will be transferred
                        to the new profiles. This will affect reimbursement.</p>

                    </section>


                </section>
                <footer class="modal-card-foot">
                    <button class="btn" @click="closeModal()">Cancel</button>
                    <button :class="primary_modal_action_button_class" @click="primaryModalAction()">{{ primary_modal_action_button_text }}</button>
                </footer>
            </div>
        </div>

    </div>
</template>

<script>

    import {LoadingPartial, ProposedVehicleProfileSelect, MappingStatus, VehicleProfileStatus} from '../partials';
    import {AddEditVehicleProfilePage} from '../company';
    import {VehicleProfile} from '../../models';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";


    export default {
        props: [],

        components: {
            VehicleProfileStatus,
            AddEditVehicleProfilePage, LoadingPartial, ProposedVehicleProfileSelect, MappingStatus},

        data() {
            return {
                /** LOADING AND CALCULATING */
                loaded: false,
                calculating_impact: false,

                /** VEHICLE PROFILES */
                // This is the vehicle profile being passed into the add/edit/delete/view modals
                selectedVehicleProfile: null,
                // existing vehicle profiles
                vehicleProfiles: null,
                proposedVehicleProfiles: null,
                // array of proposedVehicleProfiles selected to submit for approval
                proposedVehicleProfileSelection: [],

                /** MAPPINGS */
                mappings: null,
                mappingsOriginal: null,
                // array of existing vehicle profile ids (those in vehicleProfiles) selected to submit
                // for mapping approval
                mappingSelection: [],

                /** TOOLTIPS */
                bup_hovered: false,
                existing_vehicle_profiles_hovered: false,
                status_hovered: false,

                /** MODALS */
                mode: 'view', // add/edit/view/delete/approve/reject/submit
                show_modal: false,


                /** PERMISSIONS */
                // the company's cardata coordinator
                coordinator: null,

            };
        },

        created() {
            // while(this.getSessionCompanyId == -1) {subm
            //     // do nothing until we have company id
            // }

            this.getAllDataForCompany();
        },

        mounted() {
            EventBus.$on( 'company-changed', () => this.getAllDataForCompany() );
            EventBus.$on( 'proposed-vehicle-profile-saved-successfully', (vehicle_profile_id) => this.finishSaveProcedure(vehicle_profile_id) );
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getIsVehicleProfileApprover',
                'getUserId',
                'getUserFullName'
            ]),

            modal_title: function() {

                if ( this.mode != 'apply') {
                    let title = this.mode;
                    // upper case the first letter
                    title = title.charAt(0).toUpperCase() + title.slice(1) + ' Proposed Vehicle Profile' + (this.mode == 'accept' ? ' Mapping' : '');
                    return title;
                } else {
                    return 'Apply Mapping of Proposed Vehicle Profiles'
                }

            },

            primary_modal_action_button_class: function() {
                switch(this.mode) {
                    case 'delete':
                    case 'reject':
                        return 'btn btn-danger';
                    default:
                        return 'btn btn-success';
                }

            },

            primary_modal_action_button_text: function() {
                switch(this.mode) {
                    case 'delete':
                        return 'Delete';
                    case 'add':
                        return 'Add';
                    case 'edit':
                        return 'Save';
                    case 'approve':
                        return 'Approve';
                    case 'reject':
                        return 'Reject';
                    case 'submit':
                        return 'Submit';
                    case 'apply':
                        return 'Apply';
                    default:
                        return 'Save';
                }

            }
        },

        filters: {
            vehicle_profile_name_filter: function (vp) {
                if ( Common.isEmpty(vp) ) {
                    return 'No vehicle profile selected';
                } else {
                    return vp.vehicle.year + ' ' + vp.vehicle.name + ' ' + vp.name_postfix;
                }
            },

            capital_cost_filter: function(cc) {
                return Common.formatCapitalCost(cc);
            },

        },

        watch: {

            //  Commented out 2018-05-30
            // /**
            //  * Watch the mappings. If a new mapping doesn't equal an old mapping (what we grabbed from the server)
            //  * set the status to this mapping has not been submitted for approval yet
            //  *
            //  * after changing status set ensure created_by is accurate
            //  */
            // mappings: {
            //     handler: function(mappings) {
            //         console.log('mappings watcher')
            //         for (let i = 0; i < mappings.length ; i++) {
            //             if (mappings[i].proposed_vehicle_profile_id == -1) {
            //                 mappings[i].approved = null;
            //                 mappings[i].submitted_for_approval = null;
            //                 mappings[i].created_by = null;
            //                 mappings[i].creator = null;
            //             } else if (mappings[i].proposed_vehicle_profile_id != this.mappingsOriginal[i].proposed_vehicle_profile_id) {
            //                 console.log('inside if')
            //                 mappings[i].approved = null;
            //                 mappings[i].submitted_for_approval = null;
            //                 mappings[i].created_by = this.getUserId;
            //                 mappings[i].creator = this.getUserFullName;
            //             } else {
            //                 mappings[i].approved = this.mappingsOriginal[i].approved;
            //                 mappings[i].submitted_for_approval = this.mappingsOriginal[i].submitted_for_approval;
            //                 mappings[i].created_by = this.mappingsOriginal[i].created_by;
            //                 mappings[i].creator = this.mappingsOriginal[i].creator;
            //             }
            //         }
            //     },
            //     deep: true,
            // }

        },

        methods: {

            getAllDataForCompany() {
                this.loaded = false;

                if ( Common.isEmpty(this.getSessionCompanyId) ) { return; }

                // get the coordinator for permissions
                axios.get('/getCompanyCarDataCoordinator/' + this.getSessionCompanyId).then( response => {
                    this.coordinator = response.data.coordinator;
                }).catch( errors => {
                    console.log(errors);
                });


                // get all vehicle profiles (proposed and not)
                axios.get('/getVehicleProfilesForRateComparison/' + this.getSessionCompanyId).then( response => {
                    this.proposedVehicleProfiles = response.data.proposedVehicleProfiles;
                    this.vehicleProfiles = response.data.vehicleProfiles;
                    // get the mappings  (if they exist)
                    axios.get('/getVehicleProfileMappings/' + this.getSessionCompanyId).then( response => {
                        this.parseMappings(response.data.mappings);
                        this.mappingsOriginal = _.cloneDeep(this.mappings);
                        this.loaded = true;
                    });
                });
            },


            /**
             * Function to select all proposed vehicle profiles OR select all mappings
             *
             * requires type, a string
             */
            selectAll(type) {
                switch(type) {
                    case 'proposed-vehicle-profiles':
                        this.proposedVehicleProfileSelection = [];
                        for (let i in this.proposedVehicleProfiles) {
                            this.toggleSelectProposedVehicleProfiles(this.proposedVehicleProfiles[i].id);
                        }
                        break;
                    case 'mappings':
                        this.mappingSelection = [];
                        for (let i in this.vehicleProfiles) {
                            this.toggleSelectMapping(this.vehicleProfiles[i].id);
                        }
                        break;
                    default:
                        alert('there was an error selecting all');
                }

            },

            /** PROPOSED VEHICLE PROFILES */

            /**
             * Either selects or deselcts a given proposed vehicle profile based on the id and whether or not
             * it is currently selected
             */
            toggleSelectProposedVehicleProfiles(id) {
                for ( let i = 0; i < this.proposedVehicleProfileSelection.length; i++ ) {
                    if (this.proposedVehicleProfileSelection[i] == id) {
                        this.proposedVehicleProfileSelection.splice(i, 1);
                        return;
                    }
                }
                this.proposedVehicleProfileSelection.push(id);
            },

            /**
             * Sends a whole batch of proposed vehicle profiles for approval
             */
            submitProposedVehicleProfilesForApproval() {
                axios.post('/submitProposedVehicleProfilesForApproval', {
                    ids: this.proposedVehicleProfileSelection,
                    company_id: this.getSessionCompanyId
                }).then( response => {
                    // loop through all proposed vehicle profiles
                    for (let i in this.proposedVehicleProfiles) {
                        let id = this.proposedVehicleProfiles[i].id
                        // if a profile was submitted for approval
                        if ( this.proposedVehicleProfileSelection.includes(id) ) {
                            // //check if the profile has an approval object, if not create one
                            // // else do nothing
                            // if ( Common.isEmpty(this.proposedVehicleProfiles[i].approval) ) {

                            //UPDATE 2018-05-30, always overwrite old approval, we have just resubmitted
                            this.proposedVehicleProfiles[i].approval = {
                                    'vehicle_profile_id': id,
                                    'approved': null,
                                    'approver_id': null,
                                    'note': null,
                                }
                            // }
                            this.closeModal('submit');
                        }
                    }
                    this.$forceUpdate();
                });
            },



            /** MODALS */
            primaryModalAction() {
                switch (this.mode) {
                    case 'delete':
                        this.deleteProposedVehicleProfile();
                        break;
                    case 'add':
                    case 'edit':
                        this.saveProposedVehicleProfile();
                        break;
                    case 'approve':
                        this.approveMapping();
                        break;
                    case 'reject':
                        this.rejectMapping();
                        break;
                    case 'submit':
                        this.submitProposedVehicleProfilesForApproval();
                        break;
                    default:
                        alert('something went wrong');
                        break;
                }
            },

            openModal(mode, vehicle_profile_id = null) {
                this.selectedVehicleProfile = null;
                this.selectedVehicleProfile = vehicle_profile_id == null ? new VehicleProfile : new VehicleProfile( _.find( this.proposedVehicleProfiles, ['id', vehicle_profile_id] ) );
                this.mode = mode;

                switch(mode) {
                    case 'add':
                    case 'edit':
                    case 'view':
                    case 'delete':
                    case 'approve':
                    case 'reject':
                    case 'submit':
                    case 'apply':
                        this.show_modal = true;
                        break;
                    default:
                        alert('error in opening modal');
                }

            },

            closeModal() {
                switch(this.mode) {
                    case 'add':
                    case 'edit':
                    case 'view':
                    case 'delete':
                    case 'approve':
                    case 'reject':
                    case 'submit':
                    case 'apply':
                        this.show_modal = false;
                        this.mode = 'view';
                        break;
                    default:
                        alert('error in closing modal');
                }
            },



            /** MAPPINGS */
            parseMappings(newMappings) {
                // parse the mappings
                // fill in any missing mappings with a default mapping
                this.mappings = [];
                for( let vp in this.vehicleProfiles ) {
                    let id = this.vehicleProfiles[vp].id;
                    let mapping = _.find(newMappings, ['old_vehicle_profile_id', id]);
                    if (mapping) {
                        this.mappings.push({
                            old_vehicle_profile_id: mapping.old_vehicle_profile_id,
                            proposed_vehicle_profile_id: mapping.proposed_vehicle_profile_id,
                            approved: mapping.approved,
                            submitted_for_approval: mapping.submitted_for_approval,
                            created_by: mapping.created_by,
                            creator: mapping.creator
                        })
                    } else {
                        this.mappings.push({
                            old_vehicle_profile_id: id,
                            proposed_vehicle_profile_id: -1,
                            approved: null,
                            submitted_for_approval: null,
                            created_by: null,
                            creator: null
                        })
                    }
                }
            },


            /**
             * Function to select / deselect a specific mapping.
             * @param mapping
             */
            toggleSelectMapping(id) {
                let mapping = this.findMappingByOldVehicleProfileId(id);

                for ( let i = 0; i < this.mappingSelection.length; i++ ) {
                    if (this.mappingSelection[i].old_vehicle_profile_id == mapping.old_vehicle_profile_id) {
                        this.mappingSelection.splice(i, 1);
                        return;
                    }
                }
                this.mappingSelection.push(mapping);
            },

            findMappingByOldVehicleProfileId(id) {
                return this.mappings.find(function(m) { return m.old_vehicle_profile_id == id });
            },

            findProposedVehicleProfileById(id) {
                return this.proposedVehicleProfiles.find(function(p) { return p.id == id});
            },

            // Commented out 2018-05-30
            // submitMappingsForApproval() {
            //     // only submit those that have been mapped
            //     // on server end hard delete current mappings and replace with the new ones just sent
            //     alert('submission attempt');
            //
            //     // save the mapping first things first
            //     this.saveMapping();
            //
            //     axios.post('/submitProposedVehicleProfileMappingsForApproval', {
            //         company_id: this.getSessionCompanyId,
            //         mappings: this.mappingSelection.map( m => m.old_vehicle_profile_id),
            //     }).then( response => {
            //         // do something? or nothing?
            //     }).catch( errors => {
            //         console.log(errors);
            //         alert('something went wrong submit');
            //     });
            //
            //
            //     // update the old mappings to equal the newly sent one
            // },
            //
            // approveMapping() {
            //     axios.post('/approveVehicleProfileMappings', {
            //         company_id: this.getSessionCompanyId,
            //         mappings: this.mappingSelection.map( m => m.old_vehicle_profile_id)
            //     }).then( response => {
            //         for ( let i in this.mappingSelection ) {
            //             for ( let j in this.mappings ) {
            //                 if (this.mappingSelection[i].old_vehicle_profile_id == this.mappings[j].old_vehicle_profile_id) {
            //                     if (this.mappingSelection[i].proposed_vehicle_profile_id != -1) {
            //                         this.mappingSelection[i].submitted_for_approval = 1;
            //                         this.mappingSelection[i].approved = 1;
            //                         this.mappingSelection[i].note = null;
            //                     } else {
            //                         this.mappingSelection[i].submitted_for_approval = 0;
            //                     }
            //                     this.mappings[j] = _.cloneDeep(this.mappingSelection[i]);
            //                     this.mappingsOriginal[j] = _.cloneDeep(this.mappings[j]);
            //                 }
            //             }
            //         }
            //         this.show_approve_mappings_modal = false;
            //         this.$forceUpdate();
            //         this.closeModal();
            //     }).catch( errors => {
            //         alert('something went wrong approve mapping');
            //     });
            //
            // },
            //
            // rejectMapping() {
            //     //first check all rejected mappings have a reason
            //     for ( let i in this.mappingSelection ) {
            //         if ( Common.isEmpty(this.mappingSelection[i].note )) {
            //             return;
            //         }
            //     }
            //
            //
            //     axios.post('/rejectVehicleProfileMappings', {
            //         company_id: this.getSessionCompanyId,
            //         mappings: this.mappingSelection
            //     }).then( response => {
            //         for ( let i in this.mappingSelection ) {
            //             for ( let j in this.mappings ) {
            //                 if (this.mappingSelection[i].old_vehicle_profile_id == this.mappings[j].old_vehicle_profile_id) {
            //                     if (this.mappingSelection[i].proposed_vehicle_profile_id != -1) {
            //                         this.mappingSelection[i].submitted_for_approval = 1;
            //                         this.mappingSelection[i].approved = 0;
            //                     } else {
            //                         // we have a mapping of an existing vp to no vp. we don't 'submit' these
            //                         this.mappingSelection[i].submitted_for_approval = 0;
            //                     }
            //                     this.mappings[j] = _.cloneDeep(this.mappingSelection[i]);
            //                     this.mappingsOriginal[j] = _.cloneDeep(this.mappings[j]);
            //                 }
            //             }
            //         }
            //         this.show_reject_mappings_modal = false;
            //         this.$forceUpdate();
            //         this.closeModal();
            //     }).catch( errors => {
            //         alert('something went wrong reject mapping');
            //     });
            //
            // },

            saveMapping() {

                axios.post('/saveProposedVehicleProfileMappings', {
                    company_id: this.getSessionCompanyId,
                    mappings: this.mappingSelection
                }).then( response => {
                    for ( let i in this.mappingSelection ) {
                        for ( let j in this.mappings ) {
                            if (this.mappingSelection[i].old_vehicle_profile_id == this.mappings[j].old_vehicle_profile_id) {
                                if (this.mappingSelection[i].proposed_vehicle_profile_id != -1) {
                                    this.mappingSelection[i].submitted_for_approval = 1;
                                } else {
                                    this.mappingSelection[i].submitted_for_approval = 0;
                                }
                                this.mappings[j] = _.cloneDeep(this.mappingSelection[i]);
                                this.mappingsOriginal[j] = _.cloneDeep(this.mappings[j]);
                            }
                        }
                    }
                    this.$forceUpdate();
                    // this.mappingsOriginal = response.data.mappings;
                    // this.mappings = _.cloneDeep(this.mappingsOriginal);
                }).catch( errors => {
                    alert('something went wrong save mapping');
                });

            },

            // TODO: add a modal to occur before this functionality
            applyMapping() {
                axios.post('/applyVehicleProfileMappings', {
                    mappings: this.mappingSelection
                }).then( response => {
                    console.log('applied successfully');
                })
            },

            revertMappings() {
                this.mappings = _.cloneDeep(this.mappingsOriginal);
            },

            deleteProposedVehicleProfile() {

                // the add/edit page does not do deletions. therefore we hard delete here.
                axios.post('/deleteProposedVehicleProfile', {vehicle_profile_id: this.selectedVehicleProfile.id}).then( response => {

                    // remove it from proposed vehicle profile selections if applicable
                    for (let s in this.proposedVehicleProfileSelection) {
                        console.log(s);
                        if (this.proposedVehicleProfileSelection[s] == this.selectedVehicleProfile.id) {
                            console.log('removing it from selected list')
                            this.proposedVehicleProfileSelection.splice(s, 1);
                        }
                    }

                    // remove the associated mappings
                    for (let m in this.mappings) {
                        if (this.mappings[m].proposed_vehicle_profile_id == this.selectedVehicleProfile.id) {
                            this.mappings[m].proposed_vehicle_profile_id = -1;
                        }
                    }

                    // remove it from proposed list
                    for (let i in this.proposedVehicleProfiles) {
                        if (this.proposedVehicleProfiles[i].id == this.selectedVehicleProfile.id) {
                            this.proposedVehicleProfiles.splice(i, 1);
                        }
                    }

                    this.closeModal('delete');

                    // this is to deal with a vue bug where the prop's changes aren't correctly registering
                    // in children
                    EventBus.$emit('proposed-vehicle-profiles-changed');
                })
            },

            saveProposedVehicleProfile() {
                // tell the child (AddEditVehicleProfilePage.vue) to save the changes or new profile
                EventBus.$emit('save-proposed-vehicle-profile');
            },

            finishSaveProcedure(vehicle_profile_id) {
                let mode = this.mode;
                // might be edit, just close the modal.
                this.closeModal('add');
                axios.get('/getVehicleProfile/' + vehicle_profile_id + '/' + false + '/' + false + '/' + true).then( response => {
                    switch(mode) {
                        case 'add':
                            console.log('finish save procedure');

                            // if ( _.isEmpty(this.proposedVehicleProfiles) ) {
                            //     this.proposedVehicleProfiles = {vehicle_profile_id: new VehicleProfile(response.data.vehicleProfile)};
                            // } else {
                            //     this.proposedVehicleProfiles[vehicle_profile_id] = new VehicleProfile(response.data.vehicleProfile);
                            // }
                            this.proposedVehicleProfiles.splice(0, 0, new VehicleProfile(response.data.vehicleProfile));
                            this.$forceUpdate();
                            break;
                        case 'edit':
                            for (let vp in this.proposedVehicleProfiles) {
                                if (this.proposedVehicleProfiles[vp].id == vehicle_profile_id) {
                                    this.proposedVehicleProfiles[vp] = new VehicleProfile(response.data.vehicleProfile);
                                }
                            }
                            this.$forceUpdate();
                            break;
                        case 'view':
                        case 'delete':
                            // do nothing
                            break;
                        default:
                            alert('mode error!');
                    }

                    // this is to deal with a vue bug where the prop's changes aren't correctly registering
                    // in children
                    EventBus.$emit('proposed-vehicle-profiles-changed');
                });




            },

            /**
             * Computed property will not work with changing object references.
             * Method call solves the problem.
             */
            mappingsChanged() {
                console.log('mappings changed');
                for (let i = 0; i < this.mappings.length ; i++) {
                    if (this.mappings[i].proposed_vehicle_profile_id != this.mappingsOriginal[i].proposed_vehicle_profile_id) {
                        return true;
                    }
                }
                return false;
            },

            calculateImpact() {
                this.calculating_impact = true;
                axios.post('calculateImpactOfProposedVehicleProfiles', {mappings: this.mappingSelection}).then( response => {

                    console.log('CALCULATED IMPACT:');
                    console.log(response.data);
                    this.calculating_impact = false;

                });
            },





            /** Permissions */

            /**
             * Function will return a boolean, it is used to determine whether the proposed vehicle profile
             * can be deleted by the user or not.
             *
             * @param creator_id - user id of the creator
             * @returns {boolean}
             */
            deleteDisabled(creator_id) {
                // approvers can always delete
                if (creator_id == this.getUserId) {
                    return false;
                } else {
                    return true;
                }
            },

            /**
             * Function will return a boolean, it is used to determine whether the proposed vehicle profile
             * is editable by the user
             *
             * @param creator_id - user id of the creator
             * @returns {boolean}
             */
            editDisabled(creator_id) {
                // approvers can always delete
                if (creator_id == this.getUserId) {
                    return false;
                } else {
                    return true;
                }
            },

            // Commented Out 2018-05-30
            // /**
            //  * Function will return a boolean, it is used to determine whether the user can apply a mapping
            //  *
            //  * @returns {boolean}
            //  */
            // applyMappingDisabled() {
            //     // apply mapping must be universally disabled for non-approvers
            //     if ( !this.getIsVehicleProfileApprover ) {
            //         return true;
            //     }
            //
            //     // else the user is an approver
            //     // check that at least one mapping is selected
            //
            //     if (this.mappingSelection.length < 1 ) {
            //         return true;
            //     }
            //
            //     // check that all selected mappings have been approved
            //     for (let i in this.mappingSelection) {
            //         if ( !this.mappingSelection[i].approved ) {
            //             return true;
            //         }
            //     }
            //
            //     return false;
            // },

            /**
             * New method to determine if apply mapping is disabled
             */
            applyMappingDisabled() {
                if ( this.getUserId != this.coordinator.id
                    || this.mappingSelection.length < 1) {
                    return true;
                }

                // check that all selected mappings involve approved vehicle profiles
                for (let i in this.mappingSelection) {
                    let proposedVehicleProfile = this.findProposedVehicleProfileById( this.mappingSelection[i].proposed_vehicle_profile_id );
                    if ( Common.isEmpty(proposedVehicleProfile) ) {
                        return true;
                    }
                    let approval = proposedVehicleProfile.approval;
                    if ( Common.isEmpty(approval) || approval.approved != 1 ) {
                        return true;
                    }
                }

                return false;
            },

            // COMMENTED OUT 2018-05-30
            //      no longer needed ....
            // rejectMappingsDisabled() {
            //     if ( !this.getIsVehicleProfileApprover ) {
            //         return true;
            //     }
            //
            //     // else the user is an approver
            //     // check that at least one mapping is selected
            //     if (this.mappingSelection.length < 1 ) {
            //         return true;
            //     }
            //
            //     // if ANY selected mappings were created by
            //     // the current user, do not allow rejection
            //     for (let i in this.mappingSelection) {
            //         if ( this.mappingSelection[i].created_by == this.getUserId
            //             || this.mappingSelection[i].submitted_for_approval != 1 ) {
            //             return true;
            //         }
            //     }
            //
            //
            //     // loop through mappings, if you are the creator you cannot be the approver
            //
            //     return false;
            //
            // },
            //
            // /**
            //  * Same requirement as the function above
            //  */
            // approveMappingsDisabled() {
            //     return this.rejectMappingsDisabled();
            // },
            //
            // submitMappingsForApprovalDisabled() {
            //     if ( !this.getIsVehicleProfileApprover ) {
            //         return true;
            //     }
            //
            //     if (this.mappingSelection.length < 1 ) {
            //         return true;
            //     }
            //
            //     // if ANY selected mapping has been rejected do not allow approval submission
            //     for (let i in this.mappingSelection) {
            //         if ( this.mappingSelection[i].approved == 0) {
            //             return true;
            //         }
            //     }
            //
            //     return false;
            //
            // },

            /**
             * Function will return a boolean, it is used to determine whether the user can calculate impact
             *
             * @returns {boolean}
             */
            calculateImpactDisabled() {
                // calculate impact is disabled if all selections map to -1, or there are no selections
                if (this.mappingSelection.length < 1 || this.calculating_impact) {
                    return true;
                }

                for (let i in this.mappingSelection) {
                    if ( this.mappingSelection[i].proposed_vehicle_profile_id > 0 ) {
                        return false;
                    }
                }

                return true;
            },

            /**
             * Determines whether or not the button to submit proposed vehicle profiles for approval is
             * disabled
             *
             * @returns {boolean}
             */
            submitProposedVehicleProfilesForApprovalDisabled() {
                console.log('checking if approval disabled');
                if (this.proposedVehicleProfileSelection.length < 1) {
                    return true;
                }

                // if ANY selected proposed vehicle profile is not owned by the current user
                for (let i in this.proposedVehicleProfileSelection) {
                    // console.log('looping through proposed vehicle profile selection');
                    // console.log(i);
                    // console.log(this.proposedVehicleProfileSelection[i]);
                    if ( this.findProposedVehicleProfileById(this.proposedVehicleProfileSelection[i]).created_by != this.getUserId ) {
                        return true;
                    }
                }

                return false;
            },

            /**
             *
             */
            saveMappingDisabled() {
                if (this.mappingSelection.length < 1
                    || this.getUserId != this.coordinator.id) {
                    return true;
                }

                return false;
            }

        },




    };
</script>

<style lang="css">

    #rateComparison .modal-card-foot button{
        margin-left: 1rem;
    }

</style>