<template lang='html'>

    <div id="scheduledTasks">

        <h2>Scheduled Tasks</h2>

        <div v-if="!from_date || !to_date">
            <div class="alert alert-warning" role="alert">
                {{ !from_date ? 'Please select a From Date.' : 'Please select a To Date.' }}
            </div>
        </div>

        <br/>

        <div v-if="rows != null">
            <div class="table-responsive table-responsive-bordered mb-4">
                <table class="table table-striped table-bordered table-hover table-sm mb-0">
                    <thead>
                    <tr class="table-header-title">
                        <!--<th :colspan="collspan">-->
                        <th class="p-4" colspan="5" >
                            <div align="center">Scheduled Tasks</div>
                        </th>
                    </tr>
                    <tr>
                        <th>Task Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Notes</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="row in rows">
                        <td>{{ row.name }}</td>
                        <td>{{ row.status}}</td>
                        <td>{{ row.start_date}}</td>
                        <td>{{ row.end_date}}</td>
                        <td><div v-if="row.long_description"><a @click.prevent="displayTaskDetails(row)">{{ row.short_description}}</a></div>
                            <div v-else>{{ row.short_description}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="favrStatusModal" :class="{'modal':true, 'is-active': modal_task_details}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Details:</p>
                    <button class="delete" aria-label="close" @click="modal_task_details = false"></button>
                </header>
                <section class="modal-card-body">
                    <span v-html="long_description"></span>
                </section>
            </div>
        </div>


    </div>

</template>

<script>
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';

    export default {

        components: {VueBootstrapDatePicker},

        data() {
            return {
                from_date: null,
                to_date: null,
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                },
                task_statuses: ['Completed','Failed','Started','Stopped'],
                option:null,
                task_names:[],
                task_statuses:[],
                selected_name:null,
                selected_status:null,
                modal_task_details: false,
                long_description: null,
                rows: null,
            };
        },

        created() {
            this.getScheduledTaskNames();
        },

        mounted() {
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var firstDay = new Date(y, m, 1);
            // this.from_date = moment(firstDay).format("YYYY-MM-DD");

            /*EventBus.$on('company-changed', () => {
                this.colspan = ( this.getSessionCompanyId > 0 ) ? 5 : 6
                this.getScheduledTaskRecords();
            });*/
            EventBus.$on('from-date-changed', (val) => {
                this.from_date = val;
                this.getScheduledTaskRecords();
            });
            EventBus.$on('to-date-changed', (val) => {
                this.to_date = val;
                this.getScheduledTaskRecords();
            });
            EventBus.$on('scheduled-task-changed', (val) => {
                this.selected_name = val;
                this.getScheduledTaskRecords();
            });
            EventBus.$on('scheduled-task-status-changed', (val) => {
                this.selected_status = val;
                this.getScheduledTaskRecords();
            });
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionDivisionId',
                'getSessionDriverId',
            ]),
        },

        watch: {
        },

        methods: {

            getScheduledTaskNames(){
                console.log("calling getScheduledTaskNames ...")
                axios.get('/getScheduledTaskNames').then(response => {
                    this.task_names = response.data.names;
                } )
            },

            displayTaskDetails(row){
                this.modal_task_details = true;
                this.long_description = row.long_description
            },

            getScheduledTaskRecords(type){
                if(!Common.isEmpty(this.from_date) && !Common.isEmpty(this.to_date)) {
                    this.rows = null;
                    console.log("GET ME TASKS: from=" + this.from_date + " to=" + this.to_date + " ST=" + this.selected_status + ' NAME=' + this.selected_name);

                    axios.post('/getScheduledTasks', {
                        'task_name': this.selected_name,
                        'task_status': this.selected_status,
                        'from_date': this.from_date,
                        'to_date': this.to_date
                    }).then(response => {
                        this.rows = response.data.records;

                    });
                }
            }
        }

    };
</script>

<style lang='css'>

</style>