/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

    This component will control the user actions among the user search, show, add and edit pages

    TODO NEEDS REFACTORING REW-1106

*/
<template lang="html">
    <div id="sessionUserActions" class="form-group">

        <label for="userActions">Actions</label>

        <div id="userActions">

            <button :hidden="!enableButton('search')"
                    class="link-to-user btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    title="User search"
                    @click="performAction('search')">
                <i class="fal fa-search"></i>
            </button>
            <button :hidden="!enableButton('link')"
                    class="link-to-user btn btn-primary btn-sm float-left"
                    title="Link to this user"
                    @click="
                    (current_user_info)">
                <i class="fal fa-link"></i>
            </button>
            <button :hidden="!enableButton('edit')"
                    class="edit-company btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    title="Edit user"
                    @click="performAction('edit')">
                <i class="fal fa-pencil"></i>
            </button>
            <button :hidden="!enableButton('cancel')"
                    class="link-to-user btn btn-danger btn-sm float-left rounded-action-btn-30px"
                    title="Cancel Edit User"
                    @click="performAction('cancel')">
                <i class="fal fa-ban"></i>
            </button>
            <button :hidden="!enableButton('add')"
                    class="link-to-user btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    title="Add a new user"
                    @click="performAction('add')">
                <i class="fal fa-plus"></i>
            </button>



            <button :hidden="!enableButton('reset-search')"
                    class="link-to-user btn btn-default btn-sm float-left rounded-action-btn-30px"
                    title="Reset search"
                    @click="performAction('reset-search')">
                <i class="fal fa-undo"></i>
            </button>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['from_session'],

        components: {},

        data() {
            return {
                /**
                 * Store the past mode in order to cancel effectively
                 */
                pastActions: ['search'],
                current_user_info: null
            };
        },

        created() {
        },

        mounted() {
            /**
             * This event is used to determine if a user was selected to edit from the user search (show user page)
             */
            EventBus.$on('subView-changed', this.externalAction);
            this.getUserInfo();

        },

        beforeDestroy() {
            EventBus.$off('subView-changed', this.externalAction);

        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getEditedUser',
                'getLockAllInput', // this is used as a proxy to determine if we are showing a locked version of edit
                'getActiveRole',
                'getUserId',
            ])
        },

        watch: {},

        methods: {
            getUserInfo(){
                this.current_user_info = this.getEditedUser;
            },
            linkToUser(person) {
                let role = this.getUserRole(person);
                let self = this;
                Common.storeCommit('updateSessionRole', role)
                    .then(() => {
                        Common.storeCommit('updateSessionUserId', person.id)
                            .then(() => {
                                axios.post('/linkToUser', {
                                    current_user_id: self.getUserId,
                                    target_user_id: person.id,
                                    current_active_role: self.getActiveRole,
                                    current_page: self.getView

                                }).then(response => {
                                    window.location = '/';
                                });
                            });
                    });
            },

            enableButton(action) {
                switch(action) {
                    /**
                     * We enable the add button if we are
                     *  - showing a user (edit + lock all)
                     *  - in the user search (show)
                     *  - editing a user
                     *  - ie not adding one
                     */
                    case 'link':
                        // return this.getSubView === 'edit' || !this.getLockAllInput;
                        return this.getSubView === 'edit';
                    /**
                     * We enable the add button if we are
                     *  - showing a user (edit + lock all)
                     *  - in the user search (show)
                     *  - editing a user
                     *  - ie not adding one
                     */
                    case 'add':
                        return this.getSubView !== 'add';

                    /**
                     * We enable the search button if we are -> NEVER!
                     * This no returns false as there seems to be no other place this icon is called.
                     */
                    case 'search':
                        return false;

                    /**
                     * We enable the reset search button if we are
                     *  - on the search page (subview is show) I know todo refactor the naming....
                     */
                    case 'reset-search':
                        return this.getSubView === 'show';

                    /**
                     * We enable the edit  button if we are
                     *  - showing a user (edit + lock all)
                     */
                    case 'edit':
                        return this.getSubView === 'show' && this.getLockAllInput;

                    /**
                     * We enable the cancel button if we are
                     *  - adding a user
                     *  - editing a user (edit + not lock all)
                     */
                    case 'cancel':
                        return this.getSubView === 'add'
                            || ( this.getSubView === 'edit' && !this.getLockAllInput );
                }

            },

            performAction(action) {

                switch(action) {
                    /**
                     * If we click add user, set the view and subview in the store
                     */
                    case 'add':
                        EventBus.$emit('reload-defaults-add-edit-user');
                        Common.setSubView('add');
                        Common.storeCommit('updateLockAllInput', false);
                        break;

                    /**
                     * If we ever click search, go to the search page
                     */
                    case 'search':
                        Common.setSubView('show');
                        break;

                    /**
                     * Reset the search
                     */
                    case 'reset-search':
                        Common.fire('ShowUserPage-reset');
                        break;

                    /**
                     * If we click edit, unlock all the fields
                     */
                    case 'edit':
                        Common.storeCommit('updateLockAllInput', false);
                        break;

                    /**
                     * If we click cancel, there are two cases:
                     *  1. we are adding
                     *      - go back to the search
                     *  2. we are editing
                     *      - discard edits and lock all fields
                     */
                    case 'cancel':
                        if (this.getSubView === 'add') {
                            Common.setSubView('show');
                        // editing
                        } else {
                            EventBus.$emit('discard-user-edits');
                            Common.storeCommit('updateLockAllInput', true);
                        }
                }

            },

            externalAction(subView) {
                if (subView == 'edit') {
                    this.pastActions.push(subView);
                }
            },
            getUserRole(person) {
                return person.is_driver ? 'driver' : person.is_administrator ? 'administrator' : 'manager';
            },
        }
    };
</script>

<style lang="css">
    .link-to-user {
        border-radius: 50%;
        float: left;
        height: 30px;
        margin-right: 5px;
        padding: 0;
        text-align: center;
        width: 30px;
    }
</style>