/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="sessionCompanyActions" class="form-group">
        <label for="companyActions">Actions</label>

        <div class="actions">
            <button class="edit-company btn btn-primary btn-sm float-left rounded-action-btn-30px" :disabled="getSessionCompanyId == -1" @click="companyAction('edit')">
                <i class="fal fa-pencil"></i>
            </button>

            <button class="link-to-user btn btn-primary btn-sm float-left rounded-action-btn-30px" @click="companyAction('add-new')">
                <i class="fal fa-plus"></i>
            </button>
        </div>
    </div>
</template>

<script>
    /** imports */
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {

        props: ['from_session'],

        components: {},

        data() {
            return {

            };
        },

        created() {
        },

        mounted() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId'
            ])
        },

        watch: {},

        methods: {
            companyAction(action) {
                EventBus.$emit(action + '-company');
            }
        }
    };
</script>

<style lang="css">

</style>