<template lang="html">
    <div id="sessionAchEftActions" class="form-group">
        <!--<div class="row">

            <div class="col-lg-3 col-sm-12">
                <company-select :disabled="!file_type"
                                :hide_inactive="true"/>
            </div>

            <div class="col">
                &lt;!&ndash;Name emitted events by the page's caller_id so the page can pick it up.&ndash;&gt;
                <driver-select :disabled="getSessionCompanyId == -1"
                               :caller_id="'ManualAchEftFilesPage'"
                               :set_session="false"
                               :hide_inactive="true"
                               :has_banking="true"
                               :allow_all_none="true"
                               :emit_object="true"/>
            </div>

            <div class="col-lg-3 col-sm-12">
                <label>File Type</label>
                <br>

                <div class="row">
                    <div class="col-6">
                        <label class="checkbox" id="achLabel" for="ach" :disabled="true" title="ACH is for American companies only">
                            <input type="radio" id="ach" value="Ach" v-model="file_type" :disabled="true"> ACH
                        </label>
                    </div>

                    <div class="col-6">
                        <label class="checkbox" id="eftLabel" for="eft" :disabled="true" title="EFT is for Canadian companies only">
                            <input type="radio" id="eft" value="Eft" v-model="file_type" :disabled="true"> EFT
                        </label>
                    </div>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-sm-12">-->
                <label style="opacity: 0;">Remove All</label>
                <button class="btn btn-danger btn-block" @click="achAction('remove-all-drivers')" :disabled="drivers.length == 0">
                    <!--@click="removeAllDrivers" :disabled="drivers.length == 0"-->
                    Remove All
                </button>
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>
    // imports
    import {CompanySelect, DriverSelect} from '../partials';
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['from_session'], // props

        components: {
            CompanySelect,
            DriverSelect,
        }, // components

        data() {
            return {
                file_type: 'Ach',
                drivers: [],
            };
        }, // data

        mounted() {
            EventBus.$on('drivers-to-ach-eft', drivers => {
                this.drivers = drivers;
            });
        }, // mounted

        computed: {
            ...mapGetters([
                'getSessionCountryId',
                'getSessionCompanyId'
            ])

        }, // computed

        watch: {
            getSessionCountryId(val) {
                if (!val) { return; }
                this.file_type = val == 1 ? 'Ach' : 'Eft';
            },

            file_type (val) {
                this.file_type = val;
                this.achAction('file-type-changed');
            }
        }, // watch

        methods: {
            achAction(action) {
                EventBus.$emit(action + '-ach-eft', this.file_type);
            }
        }, // methods
    }
</script>

<style>

</style>