<template lang="html">
    <div id="sessionCompanyVehicleProfileActions" class="form-group">
        <label for="companyVehicleProfileActions">Actions</label>

        <div class="actions" id="companyVehicleProfileActions">
            <button class="edit-company-vehicle-profile btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    :disabled="actions_disabled || !vehicle_profile_active || driver_count > 0" @click="companyVehicleProfileAction('edit')"
                    :title="(driver_count == 0) ? 'Edit vehicle profile' : 'A profile with drivers assigned cannot be edited'">
                <i class="fal fa-pencil"></i>
            </button>

            <button class="clone-company-vehicle-profile btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    :disabled="actions_disabled" @click="companyVehicleProfileAction('clone')"
                    title="Clone vehicle profile">
                <i class="fal fa-clone"></i>
            </button>

            <button class="add-company-vehicle-profile btn btn-primary btn-sm float-left rounded-action-btn-30px"
                    :disabled="false" @click="companyVehicleProfileAction('add')"
                    title="Add vehicle profile">
                <i class="fal fa-plus"></i>
            </button>

            <!--
            NOTE the at click action here. It is strange. It is in fact dependent upon whether the profile is
            active or inactive. this is checked via the computed property "vehicle_profile_is_active"
            the class rendering is the computed property "activation_button_class"
            the action is the computed property "activation_action"
            -->
            <button :class="activation_button_class"
                    :disabled="actions_disabled || !enable_activation_button"
                    :title="activation_button_title"
                    @click="companyVehicleProfileAction(activation_action)">
                <i class="fal fa-power-off"></i>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from '../../event-bus';

    export default {
        props: ['from_session'], // props

        components: {

        }, // components

        data() {
            return {
                /**
                 * Default the mode to show.
                 * This component needs to know the mode to determine which action buttons to disable / utilize
                 * as well as for classes on inactivate/reactivate
                 */
                mode: 'show',

                /**
                 * Since this component is separate from the page it is tied to, we cannot simply
                 * check the vehicle profile right here to determine if its active.
                 *
                 * As a solution this actions component registers a listener to update the vehicle_profile_active
                 * boolean whenever the vehicle profile changes on the VehicleProfilesView.vue
                 *
                 * See mounted() {}
                 *
                 */
                vehicle_profile_active: null,
                driver_count: 0,
            };
        }, // data

        mounted() {
            /**
             * Register the event listener to determine whether we show, or enable the inactivate/reactivate buttons
             * The second event listener will take care of switching the mode for us and pass the data to the view.
             */
            EventBus.$on('vehicle-profile-active-status', this.updateActiveStatus);
            EventBus.$on('company-changed', this.companyChanged);
        }, // mounted

        beforeDestroy() {
            /**
             * Take them off the bus, we don't want these firing inadvertently later
             */
            EventBus.$off('vehicle-profile-active-status', this.updateActiveStatus);
            EventBus.$off('company-changed', this.companyChanged);
        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionVehicleProfileId',
                'getSubView'
            ]),

            /**
             * Returns true if we are to enable the inactivation/reactivation button
             * We only show the inactivation if the driver profile has a driver count of 0 and is ACTIVE
             * We only show reactivation if the profile has a non-null deleted_at (this is our vehicle_profile_active value)
             */
            enable_activation_button: function() {
                // strict checking on the active === false so it doesn't accept active == null
                return (this.vehicle_profile_active && this.driver_count == 0) || this.vehicle_profile_active === false;
            },

            activation_action: function() {
                return this.vehicle_profile_active ? 'delete' : 'restore';
            },

            /**
             * Returns the correct class for the inactivation/reactivation button
             */
            activation_button_class: function() {
                let btn_class = 'activate-company-vehicle-profile btn-sm float-left rounded-action-btn-30px';
                return this.vehicle_profile_active ? btn_class + ' btn btn-danger' : btn_class + ' btn btn-primary';
            },

            /**
             * Returns the correct title for the inactivation/reactivation button
             */
            activation_button_title: function() {
                let title = this.vehicle_profile_active ? 'Inactivate vehicle profile' : 'Reactivate vehicle profile';
                let sub_title = this.vehicle_profile_active && this.driver_count != 0 ? '. There must be 0 drivers assigned to inactivate.' : '';
                return title + sub_title;
            },

            /**
             * Returns a boolean (true disabled false enabled) which affects all the action buttons
             */
            actions_disabled: function() {
                return this.getSessionCompanyId < 1 || this.getSessionVehicleProfileId < 1 || this.mode === 'add';
            }
        }, // computed

        watch: {
            /**
             * Watch the session view. It will help to determine which action buttons are disabled and enabled
             */
            getSubView: {
                handler: function(val) {
                    this.mode = val;
                },
                immediate: true,
            }

        }, // watch

        methods: {
            /**
             * This is the function which will emit events telling the VehicleProfilesView
             * which subpage to render.
             * It also sets the local mode so that
             */
            companyVehicleProfileAction(action) {
                this.mode = action;
                EventBus.$emit('company-vehicle-profile-action', action);

                /**
                 * In the case of the action being add, update the session vehicle profile id
                 */
                if ( this.mode === 'add' ) {
                    Common.storeCommit('updateSessionVehicleProfileId', -1);
                }
            },

            /**
             * This function is called by our event listener 'vehicle-profile-active-status'
             * It is here to determine whether or not we show the activate or inactivate buttons!
             *
             * @param status
             */
            updateActiveStatus(status) {
                this.vehicle_profile_active = status.active;
                this.driver_count = status.driver_count;
            },

            companyChanged(id) {
                Common.storeCommit('updateSessionVehicleProfileId', -1).then( () => {
                    this.companyVehicleProfileAction('show');
                })
            }
        }, // methods
    }
</script>

<style lang="scss">

</style>