<template lang="html">
    <div>
        <label style="opacity: 0;" class="d-block">{{ text }}</label>
        <button class="btn btn-secondary"
                @click="generateReport()"
                :disabled="disable_generation"
                :title="disable_generation ? 'Invalid selection' : ''">{{ text }}</button>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import {mapGetters} from 'vuex';

    export default {
        props: ['from_session'], // props

        data() {
            return {
                text: 'Generate Report',
            };
        },

        mounted() {
        },

        computed: {
            ...mapGetters([
                'getView',
                'getSessionToDate',
                'getSessionDriverId',
                'getSessionFromDate',
                'getSessionYear',
                'getSessionMonth',
                'getSessionCompanyId'
            ]),

            disable_generation() {
                if (this.getView === 'reimbursementTotals') {
                    return this.getSessionFromDate !== -1
                            && this.getSessionFromDate !== null
                            && this.getSessionToDate !== -1
                            && this.getSessionToDate !== null ? false : true;
                } else if (this.getView === 'manualAchEftFilesPage') {
                    this.text = 'Generate File';
                    return this.getSessionDriverId !== -1
                    && this.getSessionDriverId !== null ? false : true;
                } else if (this.getView === 'payFile') {
                    return this.getSessionYear < 0 || this.getSessionMonth < 0 || this.getSessionCompanyId != 57;
                } else {
                    return false;
                }
            },
        },

        methods: {
            generateReport() {
                EventBus.$emit('generate-report');
            }
        }, // methods
    }
</script>

<style lang="scss">

</style>