<template lang="html">
    <div id="showManagerPanel" class="box">

        <article v-if="manager !== null && manager.id != -1" :class="{'message':true, 'btn-primary':!manager.deleted_at, 'is-danger':manager.deleted_at}">
            <div class="message-header">
                <p>{{ manager.first_name }} {{ manager.last_name }}</p>
                <button class="delete" @click="closeManagerView"></button>
            </div>
            <div class="message-body">
                Manager Id: {{ manager.id }}<br>
                User Id: {{ manager.user_id }}
            </div>
        </article>

    </div>
</template>

<script>
    export default {
        props: ['session_manager_id'],

        data() {
            return {
                manager: {'id': -1, 'first_name': '', 'last_name': ''},
                my_manager_id: this.session_manager_id
            }
        },

        watch: {
            session_manager_id: function (val) {
                this.my_manager_id = val;
                this.getManager(this.my_manager_id);
            }
        },

        created() {
            this.my_manager_id = this.session_manager_id;
            if (!Common.isEmpty(this.session_manager_id)) {
                this.getManager(this.session_manager_id);
            }
        },

        methods: {
            getManager(manager_id) {
                axios.get('/getManager/' + manager_id).then(response => {
                    this.manager = response.data.manager;
                });
            },

            closeManagerView() {
                Common.fire('close-manager-view');
            }
        }
    }
</script>

<style lang="css">
    #showManagerPanel .message-header p {
        font-size: 2.6rem;
        margin-bottom: .6rem;
    }

    #showManagerPanel .message-body {
        font-size: 1.6rem;
    }
</style>