<template lang="html">
    <div id="showAdministratorPanel">

        <article v-if="administrator.id != -1" :class="{'message':true, 'btn-primary':!administrator.deleted_at, 'is-danger':administrator.deleted_at}">
            <div class="message-header">
                <p>{{ administrator.first_name }} {{ administrator.last_name }}</p>
                <button class="delete" @click="closeAdministratorView"></button>
            </div>
            <div class="message-body">
                Administrator Id: {{ administrator.id }}<br>
                User Id: {{ administrator.user_id }}
            </div>
        </article>

    </div>
</template>

<script>
    export default {
        props: ['session_administrator_id'],

        data() {
            return {
                administrator: {'id': -1, 'user_id': -1, 'first_name': '', 'last_name': ''},
                my_administrator_id: this.session_administrator_id
            }
        },

        watch: {
            session_administrator_id: function (val) {
                this.my_administrator_id = val;
                this.getAdministrator(this.my_administrator_id);
            }
        },

        created() {
            this.my_administrator_id = this.session_administrator_id;
            this.getAdministrator(this.session_administrator_id);
        },

        methods: {
            getAdministrator(administrator_id) {
                axios.get('/getAdministrator/' + administrator_id).then(response => {
                    this.administrator = response.data.administrator;
                });
            },

            closeAdministratorView() {
                Common.fire('close-administrator-view');
            }
        }
    }
</script>

<style lang="css">
    #showAdministratorPanel .message-header p {
        font-size: 2.6rem;
        margin-bottom: .6rem;
    }

    #showAdministratorPanel .message-body {
        font-size: 1.6rem;
    }
</style>