<template lang="html">
    <div id="showDriverPanel" class="box">

        <article v-if="driver.id != -1" :class="{'message':true, 'btn-secondary':!driver.deleted_at, 'is-danger':driver.deleted_at}">
            <div class="message-header">
                <p>{{ driver.first_name }} {{ driver.last_name }}</p>
                <button class="delete" @click="closeDriverView"></button>
            </div>
            <div class="message-body">
                Driver Id: {{ driver.id }}<br>
            </div>
        </article>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";

    export default {
        props: ['caller_id'],

        data() {
            return {
                driver: {'id': -1, 'first_name': '', 'last_name': ''}
            }
        },

        created() {
            EventBus.$on('driver-changed', () => {
                this.getDriver();
            });
            this.getDriver();
        },

        computed: {
            ...mapGetters([
                'getSessionDriverId'
            ])
        },

        methods: {
            getDriver() {
                axios.get('/getDriver/' + this.getSessionDriverId).then(response => {
                    this.driver = response.data.driver;
                });
            },

            closeDriverView() {
                Common.fire('close-driver-view');
            }
        }
    }
</script>

<style lang="css">
    #showDriverPanel .message-header p {
        font-size: 2.6rem;
        margin-bottom: .6rem;
    }

    #showDriverPanel .message-body {
        font-size: 1.6rem;
    }
</style>