/**
Requires:
user - email and name are attached to the user
Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="superInfoTile" class="box">
        <p class="title">Title goes here</p>

        <div class="columns">
            <div class="column is-3">Name:</div>
            <div class="column">{{ getUserFullName }}</div>
        </div>
        <div class="columns">
            <div class="column is-3">Email:</div>
            <div class="column">
                <div class="columns">
                    <div class="column is-8">
                        {{ getUserEmail }}
                    </div>
                    <div class="column">
                        <button class="btn btn-secondary" @click="openEditEmail">Edit Email</button>
                    </div>
                </div>
            </div>
        </div>
        <change-password/>

        <edit-email-modal :caller_id="caller_id"/>
    </div>
</template>

<script>
    import {EditEmailModal} from "../partials";
    import {ChangePassword} from "../user";
    import {mapGetters} from 'vuex';

    export default {

        props: [],

        components: {ChangePassword, EditEmailModal},

        data() {
            return {
                caller_id: 'SuperInfoTile',
                email: null,
            };
        },

        created() {
        },

        mounted() {
            Common.listen(this.caller_id + '-email-updated', this.emailUpdated);
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getUserFullName',
                'getUserEmail'
            ])
        },

        watch: {},

        methods: {
            openEditEmail() {
                $('#editEmailModal').addClass('is-active');
            },

            emailUpdated(email) {
                this.email = email;
            }
        }
    };
</script>

<style lang="css">

</style>