/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:
- This component is used by the super to set common values in "session" (kept in store). It will remain on the page
like the menu or breadcrumbs.
*/
<template lang="html">

    <!--overflow style on superSession is for date-pickers-->
    <div id="superSession" class="box" v-if="display_session" style="overflow: visible; margin-bottom: 0 !important;">
        <div class="row">
            <div :class="[getView == 'loginHistory' ? 'col-sm-3' : column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company')">
                <company-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']"
                 v-if="showSelect('vehicle_profile_select')">
                <vehicle-profile-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']"
                 v-if="showSelect('company_vehicle_profile_actions')">
                <session-company-vehicle-profile-actions class="float-right" :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('division')">
                <division-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('driver')">
                <driver-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('ach_eft_actions')">
                <session-ach-eft-actions :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('manager')">
                <manager-select :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('administrator')">
                <administrator-select :from_session="true"/>
            </div>
            <div :class="[getView == 'loginHistory' ? 'col-sm-3' : column_widths !== '' ? column_widths : 'col-lg-2']"
                 v-if="showSelect('user')">
                <user-select :display_modal_at_change="true" :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('year_select')">
                <year-select/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company_year_select')">
                <company-year-select/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('month_select')">
                <month-select
                        :display="'long'"
                        :disabled_future_months="true"
                        :disabled_present_month="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('quarter_select')">
                <quarter-select/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']"
                 v-if="showSelect('state_province_select')">
                <state-select v-if="getSessionCountryId === 1"/>
                <province-select v-if="getSessionCountryId === 2"/>
                <!--If getSessionCountryId is not set-->
                <div class="form-group" v-if="getSessionCountryId < 0">
                    <label for="state_province">State / Province</label>
                    <input type="text" class="form-control" id="state_province" disabled placeholder="Please select a company.">
                </div>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('fusion_search')">
                <fusion-search :label="fusion_search_label" :placeholder="fusion_search_placeholder"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('from_date')">
                <label>From Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text fas fa-calendar-alt"></span>
                    </div>
                    <vue-bootstrap-date-picker id="from_date" v-model="from_date" :config="date_picker_options"
                                           :placeholder="datepicker_placeholder" :icons="{date: 'fas fa-calendar'}"/>
                </div>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('from_date')">
                <label>To Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text fas fa-calendar-alt"></span>
                    </div>
                    <vue-bootstrap-date-picker class="form-control" id="to_date" v-model="to_date"
                                               :config="date_picker_options" :placeholder="datepicker_placeholder"/>
                </div>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']"
                 v-if="showSelect('generate_reports_action_btn')">
                    <session-generate-reports-action-button class="float-right" from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('scheduled_tasks_select')">
                <scheduled-tasks-select from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('scheduled_tasks_status_select')">
                <scheduled-tasks-status-select from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company_default_pay_date')">
                <company-default-pay-date-input from_session="true"/>
            </div>
            <!--THE EMPTY COLUMN-->
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('empty_column')">

            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('session_user_actions')">
                <session-user-actions class="float-right" :from_session="true"/>
            </div>
            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('company_actions')">
                <session-company-actions class="float-right" :from_session="true"/>
            </div>

            <div :class="[column_widths !== '' ? column_widths : 'col-sm-2']" v-if="showSelect('report_session')">
                <report-session :from_session="true"/>
            </div>


        </div><!--.row-->
    </div>
</template>


<script>
    /** imports */
    import {
        CompanySelect,
        CompanyYearSelect,
        DivisionSelect,
        DriverSelect,
        ManagerSelect,
        AdministratorSelect,
        UserSelect,
        MonthSelect,
        YearSelect,
        QuarterSelect,
        StateSelect,
        ProvinceSelect,
        FusionSearch,
        VehicleProfileSelect,
        ScheduledTasksSelect,
        ScheduledTasksStatusSelect,
        CompanyDefaultPayDateInput,
        FuelCitySelect
    } from "../partials";
    import {SessionCompanyActions, SessionGenerateReportsActionButton} from "./index"; // super
    import {
        SessionAchEftActions,
        SessionCompanyVehicleProfileActions,
        SessionUserActions
    } from "./index"; // super
    import {mapGetters} from 'vuex';
    import {EventBus} from "../../event-bus";
    import VueBootstrapDatePicker from 'vue-bootstrap-datetimepicker';
    import moment from 'moment';
    import {
        ReportSession
    } from '../reports';

    export default {

        props: [],

        components: {
            CompanySelect,
            CompanyYearSelect,
            DivisionSelect,
            DriverSelect,
            ManagerSelect,
            AdministratorSelect,
            UserSelect,
            SessionUserActions,
            SessionCompanyActions,
            SessionAchEftActions,
            SessionCompanyVehicleProfileActions,
            MonthSelect,
            YearSelect,
            QuarterSelect,
            ReportSession,
            StateSelect,
            ProvinceSelect,
            FusionSearch,
            VueBootstrapDatePicker,
            VehicleProfileSelect,
            SessionGenerateReportsActionButton,
            ScheduledTasksSelect,
            ScheduledTasksStatusSelect,
            CompanyDefaultPayDateInput,
            FuelCitySelect,
        },

        data() {
            return {
                // from_date: moment().format("YYYY-MM-DD"),
                // to_date: moment().format("YYYY-MM-DD"),
                datepicker_placeholder: 'Select a Date',
                from_date: null,
                to_date: null,
                date_picker_options: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    icons: {
                        date: "fas fa-calendar",
                    },
                },
            };
        },


        created() {
        },

        mounted() {
            /*$('#from_date').datetimepicker({
                icons: {
                    date: "fa fa-calendar",
                }
            });*/

            EventBus.$on('company-changed', () => {

            });

            EventBus.$on('division-changed', () => {

            });

            EventBus.$on('driver-changed', () => {
                if (this.getSessionDriverId > 0) {
                    EventBus.$emit('reset-managers');
                    EventBus.$emit('reset-administrators');
                }
            });

            EventBus.$on('manager-changed', () => {
                if (this.getSessionManagerId > 0) {
                    EventBus.$emit('reset-drivers');
                    EventBus.$emit('reset-administrators');
                }
            });

            EventBus.$on('administrator-changed', () => {
                if (this.getSessionAdministratorId > 0) {
                    EventBus.$emit('reset-drivers');
                    EventBus.$emit('reset-managers');
                }
            });
        },

        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getUserType',
                'getImpersonatorId',
                'getImpersonatorRole',
                'getSessionDriverId',
                'getSessionManagerId',
                'getSessionAdministratorId',
                'getSessionCompanyId',
                'getSessionCompanies',
                'getSessionCountryId',
                'getSessionYear',
            ]),

            /**
             * don't show session component on these views
             * @returns {*}
             */
            hidden_view: function () {
                return Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals', 'masterTask', 'reimbursementCalculator', 'bankInformation', 'toolsMenu', 'reportsMenu', 'paymentsMenu', 'mi-routeMenu', 'reimbursementMenu', 'mileageMenu', 'vehiclesMenu', 'miscellaneousMenu', 'iRSStandardMileageRates','cRAStandardMileageRates','companies' ]);
            },

            display_session: function () {
                if (this.getImpersonatorId > 0) {
                    return this.getImpersonatorRole == 'super' && !this.hidden_view;
                } else {
                    return this.getUserType == 'super' && !this.hidden_view;
                }
                // return (this.getHighestAuthenticatedUserType === 'super' || this.getHighestAuthenticatedUserType === 'administrator')
                //     && !Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals', 'masterTask', 'reimbursementCalculator']);
                // return (this.getUserType === 'super' || this.getImpersonatorId > 0) && !Common.in_array(this.getView, ['superProfile', 'rateSelector', 'vehicleProfileApprovals']);
            },

            valid_selects: function () {
                let selects = [];
                if (this.display_session) {
                    switch (this.getView) {
                        case 'fuelPrices':
                            selects = ['state_or_province_select'];
                            break;
                        case 'companies':
                            selects = ['company', 'empty_column', 'company_actions'];
                            break;
                        case 'annualReviews':
                        case 'administratorReimbursementCalculator':
                        case 'addManyDrivers':
                        case 'companyProfile':
                            selects = ['company'];
                            break;
                        case 'insuranceApproval':
                            selects = ['company', 'driver'];
                            break;
                        case 'preDefinedStops':
                            selects = ['company', 'division', 'state_province_select', 'fusion_search'];
                            break;
                        case 'showUsers':
                        case 'users':
                            switch (this.getSubView) {
                                case 'add':
                                    selects = ['company', 'empty_column', 'session_user_actions'];
                                    break;
                                case 'show':
                                case 'edit':
                                    selects = ['company', 'user', 'session_user_actions'];
                                    break;
                                default:
                                    selects = ['company', 'division', 'driver', 'manager', 'administrator', 'session_user_actions'];
                                    break;
                            }
                            break;
                        case 'managerApprovalStatus':
                            selects = ['company', 'year_select', 'month_select'];
                            break;
                        case 'masterPaymentNotice':
                            selects = ['company', 'division', 'year_select', 'month_select', 'manager'];
                            break;
                        case 'administratorAddEditUser':
                            selects = ['user'];
                            break;
                        case 'fixedVariable':
                            // selects = ['company', 'division', 'year_select', 'month_select'];
                            selects = ['report_session'];
                            break;
                        case 'reimbursementTotals':
                            selects = ['company', 'division', 'from_date', 'to_date', 'generate_reports_action_btn'];
                            break;
                        case 'generateReimbursement':
                            selects = ['company', 'driver', 'year_select', 'month_select'];
                            break;
                        case 'prorateReimbursement':
                            selects = ['company', 'division', 'year_select', 'month_select'];
                            break;
                        case 'prorateAdjustmentReport':
                            selects = ['company', 'division', 'year_select', 'month_select'];
                            break;
                        case 'annualTaxAdjustment':
                            selects = ['company', 'division', 'year_select'];
                            break;
                        case 'manualAchEftFilesPage':
                            selects = ['company', 'driver', 'ach_eft_actions', 'generate_reports_action_btn'];
                            break;
                        case 'directDepositPaymentSchedule':
                            selects = ['company', 'company_year_select', 'company_default_pay_date'];
                            break;
                        case 'fixedAndVariableDiscrepancies':
                            selects = ['company', 'division', 'year_select', 'month_select'];
                            break;
                        case 'demoDriversPage':
                            selects = ['company', 'division'];
                            break;
                        case 'loginHistory':
                            selects = ['company', 'division', 'from_date', 'to_date', 'user'];
                            break;
                        case 'mirouteTestingDriversPage':
                            selects = ['company', 'division'];
                            break;

                        /**
                         * When a super impersonates an admin they are still using the super session
                         * Hence we must display the proper selects
                         */
                        case 'administratorVehicleProfiles':
                            selects = ['company', 'vehicle_profile_select'];
                            break;
                        case 'vehicleProfiles':
                            selects = ['company', 'vehicle_profile_select', 'company_vehicle_profile_actions'];
                            break;
                        case 'quarterlyTaxAdjustment':
                            selects = ['company', 'division', 'year_select', 'quarter_select'];
                            break;
                        case 'scheduledTasks':
                            selects = ['from_date', 'to_date', 'scheduled_tasks_select', 'scheduled_tasks_status_select'];
                            break;
                        case 'payFile':
                            selects = ['company', 'year_select', 'month_select', 'generate_reports_action_btn'];
                            break;
                        default:
                            selects = ['company', 'division', 'driver', 'manager', 'administrator'];
                            break;
                    }
                }
                return selects;
            },

            column_widths: function () {
                let column_widths = '';
                if (this.display_session) {
                    switch (this.getView) {
                        case 'showUsers':
                        case 'users':
                            switch (this.getSubView) {
                                case 'add':
                                case 'edit':
                                case 'show':
                                    column_widths = 'col-sm-4';
                                    break;
                                /*default:
                                    column_widths = 'col-sm-2';
                                    break;*/
                            }
                            break;
                        case 'companies':
                            column_widths = 'col-sm-4';
                            break;
                        case 'masterPaymentNotice':
                            column_widths = 'col-sm-2';
                            break;
                        case 'prorateReimbursement':
                            column_widths = 'col-sm-3';
                            break;
                        case 'annualTaxAdjustment':
                            column_widths = 'col-sm-4';
                            break;
                        case 'manualAchEftFilesPage':
                            column_widths = 'col-3';
                            break;
                        case 'preDefinedStops':
                            column_widths = 'col-sm-3';
                            break;
                        case 'vehicleProfiles':
                        case 'administratorVehicleProfiles':
                            column_widths = 'col-sm-4';
                            break;
                        case 'managerApprovalStatus':
                            column_widths = 'col-sm-4';
                            break;
                        case 'quarterlyTaxAdjustment':
                            column_widths = 'col-sm-3';
                            break;
                        case 'scheduledTasks':
                            column_widths = 'col-sm-3';
                            break;
                        case 'prorateAdjustmentReport':
                            column_widths = 'col-sm-3';
                            break;
                        case 'directDepositPaymentSchedule':
                            column_widths = 'col-sm-4';
                            break;
                        case 'insuranceApproval':
                            column_widths = 'col-sm-4';
                            break;
                        case 'payFile':
                            column_widths = 'col-sm-3';
                            break;

                        case 'fixedVariable':
                            column_widths = 'col-12';
                            break;
                        default:
                            column_widths = 'col-sm-2';
                            break;
                    }
                }
                return column_widths;
            },

            fusion_search_label: function () {
                let label = '';
                if (this.display_session) {
                    switch (this.getView) {
                        /*case 'preDefinedStops':
                            label = 'Search';
                            break;*/
                        default:
                            label = 'Search:';
                            break;
                    }
                }
                return label;
            },

            fusion_search_placeholder: function () {
                let placeholder = '';
                if (this.display_session) {
                    switch (this.getView) {
                        case 'preDefinedStops':
                            placeholder = 'stop number, name, address';
                            break;
                        default:
                            placeholder = '';
                            break;
                    }
                }
                return placeholder;
            },
        },

        watch: {
            from_date(val) {
                Common.storeCommit('updateSessionFromDate', val);
                EventBus.$emit('from-date-changed', val);
            },

            to_date(val) {
                Common.storeCommit('updateSessionToDate', val);
                EventBus.$emit('to-date-changed', val);
            },

            getSessionCompanyId: function (val) {
                if (this.display_session) {
                    console.log('company changed in select', val);
                    if (val > 0 && this.getImpersonatorId > 0) {
                        let company = this.getSessionCompanies.find(c => {
                            return c.id == val;
                        });

                        // set initial value for company actions
                        // remove after removing these buttons & putting in edit company - davery 8-8-18
                        /*if (company.active) {
                            EventBus.$emit('company-reactivated');
                        } else {
                            EventBus.$emit('company-inactivated');
                        }*/
                    }
                }
            }
        },

        methods: {
            in_array(val, arr) {
                return Common.in_array(val, arr);
            },

            showSelect(type) {
                return Common.in_array(type, this.valid_selects);
            },

            companyAction(action) {
                EventBus.$emit(action + '-company');
            },
            setToolView(view){
                Common.setView(view, null)
            }
        }
    };
</script>

<style lang="scss">
    #superSession {
        select {
            height: 39px;
        }

        input {
            height: 39px;
        }

        .column {
            padding-bottom: 0;
        }

        .reactivate-company {
            color: red !important;
        }

        .fa-calendar-alt {
            &:before {
                vertical-align: sub;
            }
        }
    }
</style>
