<template lang="html">
    <div id="superPortal" class="box">
        <!--<sidebar/>-->

        <!--<super-session/>-->
            <!-- MENU -->
        <tools-menu v-if="getView === 'toolsMenu'" />
        <reports-menu v-if="getView === 'reportsMenu'" />
        <payments-menu v-if="getView === 'paymentsMenu'" />
        <mi-route-menu v-if="getView === 'mi-routeMenu'" />
        <miscellaneous-menu v-if="getView === 'miscellaneousMenu'" />
        <!--TOOLS-->
            <!-- TOOLS | Users -->
        <users-view v-if="getView === 'showUsers'" :modeProp="'show'"/>
        <users-view v-if="getView === 'users'"/>
        <license-approval v-if="getView === 'licenseApproval'"/>
        <insurance-approval v-if="getView === 'insuranceApproval'"/>

        <testing-page v-if="getView === 'testingPage'"/>
        <testing-reimbursement v-if="getView === 'testingReimbursement'"/>
        <reimbursement-calculator v-if="getView === 'reimbursementCalculator'"/>
        <test-quarter-months v-if="getView === 'testTaxQuarterMonths'"/>
        <generate-reimbursement v-if="getView === 'generateReimbursement'"/>
        <reimbursement-details v-if="getView === 'reimbursementDetails'"/>
        <quarterly-tax-adjustment v-if="getView === 'quarterlyTaxAdjustment'"/>
        <annual-tax-adjustment v-if="getView === 'annualTaxAdjustment'"/>

        <companies-view v-if="getView === 'companies'"/>
        <divisions-view v-if="getView === 'divisions'"/>
        <vehicle-profiles-view v-if="getView === 'vehicleProfiles'"/>
        <rate-comparison v-if="getView === 'rateComparison'"/>
        <note-category-view v-if="getView === 'noteCategories'"/>
        <notifications-view v-if="getView === 'notifications'"/>
        <holidays-view v-if="getView === 'holidays'"/>
        <add-postal-code v-if="getView === 'addPostalCode'"/>
        <master-task-view v-if="getView === 'masterTask'"/>
        <rate-selector v-if="getView === 'rateSelector'"/>
        <add-many-drivers v-if="getView === 'addManyDrivers'"/>
        <annual-reviews v-if="getView === 'annualReviews'"/>

        <manager-approval-status v-if="getView === 'managerApprovalStatus'"/>
        <vehicle-profile-approvals-page v-if="getView === 'vehicleProfileApprovals'"/>
        <link-to-user v-if="getView === 'linkToUser'"/>
        <pre-defined-stops-view v-if="getView === 'preDefinedStops'"/>
        <demo-drivers-page v-if="getView === 'demoDriversPage'"/>
        <miroute-testing-drivers-page v-if="getView === 'mirouteTestingDriversPage'"/>
        <super-profile v-if="getView === 'superProfile'"/>


        <!-- PAYMENTS -->
        <master-payment-notice v-if="getView === 'masterPaymentNotice'"/>
        <prorate-reimbursement v-if="getView === 'prorateReimbursement'"/>
        <bank-information v-if="getView === 'bankInformation'"/>
        <direct-deposit-payment-schedule-page v-if="getView === 'directDepositPaymentSchedule'"
                                              :user_type="getUserType"/>
        <manual-ach-eft-files-page v-if="getView === 'manualAchEftFilesPage'"/>
        <fixed-and-variable-discrepancies v-if="getView === 'fixedAndVariableDiscrepancies'"/>
        <pay-file v-if="getView === 'payFile'"/>
        <!-- REPORTS -->
            <!-- REPORTS | General -->
        <dynamic-reports-view v-if="getView === 'dynamicReports'"/>
        <store-state v-if="getView === 'storeState'"/>
        <draft-rate-report v-if="getView === 'draftRateReport'"/>
        <api-management v-if="getView === 'apiManagement'"/>
        <reimbursement-totals v-if="getView === 'reimbursementTotals'"/>
        <prorate-adjustment-report v-if="getView === 'prorateAdjustmentReport'"/>
        <login-history v-if="getView === 'loginHistory'"></login-history>
        <scheduled-tasks v-if="getView === 'scheduledTasks'"></scheduled-tasks>
            <!-- REPORTS | Reimbursement -->
        <fixed-variable v-if="getView === 'fixedVariable'"/>
        <reimbursement-and-mileage-chart v-if="getView === 'reimbursementAndMileageChart'"></reimbursement-and-mileage-chart>
        <reimbursement-totals-time-period v-if="getView === 'reimbursementTotalsTimePeriod'"></reimbursement-totals-time-period>
        <all-fields-report v-if="getView === 'allFieldsReport'"></all-fields-report>
        <drivers-without-reimbursement v-if="getView === 'driversWithoutReimbursement'"></drivers-without-reimbursement>
        <enrollment-audit v-if="getView === 'enrollmentAudit'"></enrollment-audit>
        <fuel-prices v-if="getView === 'fuelPrices'"></fuel-prices>
        <i-r-s-standard-mileage-rates v-if="getView === 'iRSStandardMileageRates'"></i-r-s-standard-mileage-rates>
        <c-r-a-standard-mileage-rates v-if="getView === 'cRAStandardMileageRates'"></c-r-a-standard-mileage-rates>
        <!-- REPORTS | Driver -->
        <vehicle-and-traffic-light v-if="getView === 'vehicleAndTrafficLight'"></vehicle-and-traffic-light>
        <vehicle v-if="getView === 'vehicle'"></vehicle>
        <activity v-if="getView === 'activity'"/>
        <recent-mileage-logs v-if="getView === 'recentMileageLogs'"></recent-mileage-logs>
        <mileage v-if="getView === 'mileage'"></mileage>
        <daily-mileage-details v-if="getView === 'dailyMileageDetails'"></daily-mileage-details>
        <bank-account v-if="getView === 'bankAccount'"></bank-account>
        <manager v-if="getView === 'manager'"></manager>
        <address-and-email v-if="getView === 'addressAndEmail'"></address-and-email>
        <driver-dates v-if="getView === 'driverDates'"></driver-dates>
        <insurance-expired v-if="getView === 'insuranceExpired'"></insurance-expired>
        <license-expired v-if="getView === 'licenseExpired'"></license-expired>
        <vehicle-expired v-if="getView === 'vehicleExpired'"></vehicle-expired>
        <inactive-drivers v-if="getView === 'inactiveDrivers'"></inactive-drivers>
        <reimbursement v-if="getView === 'reimbursement'"></reimbursement>
        <!-- REPORTS | Tax&Audit -->
        <quarterly-definitions v-if="getView === 'quarterlyDefinitions'"></quarterly-definitions>
        <quarterly-tax-adjustment-report v-if="getView === 'quarterlyTaxAdjustmentReport'"></quarterly-tax-adjustment-report>
        <summaryof-quarterly-tax-adjustments v-if="getView === 'summaryOfQuarterlyTaxAdjustments'"></summaryof-quarterly-tax-adjustments>
        <i-r-s-f-a-v-r-annual-tax-adjustment-report v-if="getView === 'iRSFAVRAnnualTaxAdjustmentReport'"></i-r-s-f-a-v-r-annual-tax-adjustment-report>
        <mileage-band-audit v-if="getView === 'mileageBandAudit'"></mileage-band-audit>
        <fuel-card-tax-report v-if="getView === 'fuelCardTaxReport'"></fuel-card-tax-report>
        <unsubmitted-mileage v-if="getView === 'unsubmittedMileage'"></unsubmitted-mileage>
        <five-thousand-limit-report v-if="getView === 'fiveThousandLimitReport'"></five-thousand-limit-report>
        <change-tracker v-if="getView === 'changeTracker'"/>
    </div>
</template>

<script>
    import styleFixer from '../../styleFixer';
    import {LinkToUser, LoginHistory, UsersView} from "../user";
    import {
        AnnualReviews,
        CompaniesView,
        DemoDriversPage,
        DivisionsView,
        MirouteTestDriversPage,
        PreDefinedStopsView,
        VehicleProfilesView,
    } from "../company";
    import {
        AddManyDrivers,
        AddPostalCode,
        ApiManagement,
        BankInformation,
        DirectDepositPaymentSchedulePage,
        DynamicReportsView,
        FixedAndVariableDiscrepancies,
        HolidaysView,
        InsuranceApproval,
        LicenseApproval,
        ManualAchEftFilesPage,
        MasterTaskView,
        MiRouteMenu,
        NoteCategoryView,
        NotificationsView,
        PayFile,
        PaymentsMenu,
        RateComparison,
        ReportsMenu,
        ScheduledTasks,
        SuperProfile,
        TestingPage,
        ToolsMenu,
        VehicleProfileApprovalsPage,
        DraftRateReport,
        MiscellaneousMenu,
        ChangeTracker
    } from '.'; // super
    // super
    // import {
    //     Variable,
    // } from './reports'; // super.report
    import {NotesWidget, Sidebar, StoreState} from "../partials";
    import {ManagerApprovalStatus } from "../manager";
    import {
        FixedVariable,
        GenerateReimbursement,
        MasterPaymentNotice,
        ProrateAdjustmentReport,
        ProrateReimbursement,
        ReimbursementCalculator,
        ReimbursementDetails,
        ReimbursementTotals,
        TestingReimbursement,
    } from "../reimbursement";
    import {AnnualTaxAdjustment} from "../tax";
    import {mapGetters} from 'vuex';
    import {RateSelector} from "../rate_selector";
    import {

    } from "../driver";


     import {
         ReimbursementAndMileageChart,
         ReimbursementTotalsTimePeriod,
         AllFieldsReport,
         DriversWithoutReimbursement,
         EnrollmentAudit,
         IRSStandardMileageRates,
         CRAStandardMileageRates,
         VehicleAndTrafficLight,
         Vehicle,
         Activity,
         RecentMileageLogs,
         Mileage,
         DailyMileageDetails,
         BankAccount,
         Manager,
         AddressAndEmail,
         DriverDates,
         InsuranceExpired,
         LicenseExpired,
         VehicleExpired,
         InactiveDrivers,
         Reimbursement,
         QuarterlyDefinitions,
         QuarterlyTaxAdjustmentReport,
         SummaryofQuarterlyTaxAdjustments,
         IRSFAVRAnnualTaxAdjustmentReport,
         MileageBandAudit,
         FuelCardTaxReport,
         UnsubmittedMileage,
         FiveThousandLimitReport,
         FuelPrices,
         QuarterlyTaxAdjustment
     } from '../reports'; // super

    // import {NotesWidget, Sidebar, StoreState} from "../partials";
    // import {ManagerApprovalStatus} from "../manager";
    // import {TestingReimbursement, ReimbursementCalculator, GenerateReimbursement, ReimbursementDetails,
    //     ProrateReimbursement, MasterPaymentNotice, FixedVariable, ReimbursementTotals,
    //     ProrateAdjustmentReport} from "../reimbursement";
     //import {QuarterlyTaxAdjustment, AnnualTaxAdjustment} from "../tax";
     //import {mapGetters} from 'vuex';
     //import {EventBus} from "../../event-bus";
     //import {RateSelector} from "../rate_selector";


    export default {
        components: {
            ChangeTracker,
            AnnualReviews,
            AddManyDrivers,
            ReimbursementCalculator,
            StoreState,
            InsuranceApproval,
            LicenseApproval,
            UsersView,
            CompaniesView,
            DraftRateReport,
            DivisionsView,
            VehicleProfilesView,
            VehicleProfileApprovalsPage,
            NoteCategoryView,
            NotificationsView,
            TestingReimbursement,
            GenerateReimbursement,
            ReimbursementDetails,
            FixedVariable,
            ReimbursementTotals,
            LoginHistory,
            QuarterlyTaxAdjustment,
            AnnualTaxAdjustment,
            HolidaysView,
            LinkToUser,
            TestingPage,
            NotesWidget,
            Sidebar,
            ManagerApprovalStatus,
            DynamicReportsView,
            PreDefinedStopsView,
            DirectDepositPaymentSchedulePage,
            ManualAchEftFilesPage,
            MasterPaymentNotice,
            PayFile,
            ProrateReimbursement,
            ProrateAdjustmentReport,
            BankInformation,
            FixedAndVariableDiscrepancies,
            SuperProfile,
            AddPostalCode,
            MasterTaskView,
            RateComparison,
            RateSelector,
            ApiManagement,
            ScheduledTasks,
            DemoDriversPage,
            MirouteTestDriversPage,
            ToolsMenu,
            ReportsMenu,
            PaymentsMenu,
            MiRouteMenu,
            ReimbursementAndMileageChart,
            ReimbursementTotalsTimePeriod,
            AllFieldsReport,
            DriversWithoutReimbursement,
            EnrollmentAudit,
            FuelPrices,
            IRSStandardMileageRates,
            CRAStandardMileageRates,
            VehicleAndTrafficLight,
            Vehicle,
            Activity,
            RecentMileageLogs,
            Mileage,
            DailyMileageDetails,
            BankAccount,
            Manager,
            AddressAndEmail,
            DriverDates,
            InsuranceExpired,
            LicenseExpired,
            VehicleExpired,
            InactiveDrivers,
            Reimbursement,
            QuarterlyDefinitions,
            QuarterlyTaxAdjustmentReport,
            SummaryofQuarterlyTaxAdjustments,
            IRSFAVRAnnualTaxAdjustmentReport,
            MileageBandAudit,
            FuelCardTaxReport,
            UnsubmittedMileage,
            FiveThousandLimitReport,
            MiscellaneousMenu,
        },

        data() {
            return {
                styleFixer: new styleFixer('super')
            };
        },


        created: function () {
            /**
             * Get initial values from server and save to store
             * TODO: this may be a good candidate for a function in Common
             */
            let init_tag = $('meta[name=init]');
            let initial_values = init_tag.attr('content');

            if (initial_values !== 'empty') {
                Common.processInitialValues(JSON.parse(initial_values));
            }

            // remove inital data from the DOM
            init_tag.attr('content', 'empty');
        },

        mounted() {
            // the profile link is not in a vue component, so
            // we need a listener outside of Vue
            $('#profileLink.super-profile').click((e) => {
                Common.setView('superProfile', null);
            });

            this.styleFixer.fixMainContentHeight();
            this.styleFixer.fixPortalHeight();
        },


        computed: {
            ...mapGetters([
                'getView',
                'getSubView',
                'getUserType'
            ]),
        },

        methods: {}
    };
</script>

<style lang="css">

</style>