/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="superProfileView" class="box">
        <h2>Super Profile</h2>

        <div class="columns is-multiline">

            <div class="column is-6">
                <!-- SUPER INFO -->
                <super-info-tile/>
            </div>

            <div class="column is-6">
                <div class="box">
                    <p class="title">
                        Some other super tile?
                    </p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {SuperInfoTile} from "./index"; // super

    export default {

        props: [],

        components: {SuperInfoTile},

        data() {
            return {};
        },

        created() {

        },

        mounted() {

        },

        destroyed() {

        },

        watch: {},

        methods: {}
    };
</script>

<style lang="css">

    #superProfileView a.is-loading {
        background-color: red;
        width: 100px;
        border-radius: 10px;
    }

    #superProfileView .column > div {
        width: 100%;
        height: 100%;
    }

    #superProfileView .column > .box {
        border: .1rem solid lightblue;
    }

</style>