<template lang="html">
    <div id="testingPage">
        <h1>Testing Tabs</h1>

        <b>{{short_description}}</b>

        <br/><br/>

        <!-- TAB TOGGLES -->
        <div class="column">
            <span class="title title-tabs">Use Modules:</span>

            <ul class="inline">
                <li v-for="tab in tabs" v-if="tab.includeToggle">
                    <label>
                        <input type="checkbox" @change="toggleTab(tab.name)">
                        {{ tab.name }}
                    </label>
                </li>
            </ul>
        </div>

        <!-- TAB DISPLAY -->
        <div class="tabs is-centered is-large is-boxed">
            <ul class="list-inline">
                <li v-for="tab in tabs" :class="{'is-active': tab.active}" v-if="testShow(tab.name)">
                    <a @click="makeTabActive(tab.name)">
                        <span class="icon is-small"><i :class="'fa fa-' + tab.icon"></i></span>
                        <span v-text="tab.name"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- TAB CONTENT -->
        <div class="content-box box" v-if="company">

            <!-- OPTIONS -->
            <div v-if="tabs[0].active">
                Options
            </div>

            <!-- CONTACTS -->
            <div v-if="tabs[1].active">
                contacts
            </div>

            <!-- FINANCIALS -->
            <div v-if="tabs[2].active">
                financials
            </div>

            <!-- MILEAGE -->
            <div v-if="tabs[3].active">
                mileage
            </div>

            <!-- INSURANCE -->
            <div v-if="tabs[4].active">
                insurance
            </div>

            <!-- LICENSE -->
            <div v-if="tabs[5].active">
                license
            </div>
        </div>


    </div>

</template>

<script>


    export default {

        props: [],


        data() {

            return {
                short_description: 'Testing tabs for now',
                long_description: '',
                company: {
                    options: {
                        use_company_financials_module: false,
                        use_company_mileage_module: false,
                        use_company_insurance_module: false,
                        use_company_license_module: false
                    }
                },
                tabs: [
                    {name: "Options", icon: "cog", active: true, includeToggle: false},
                    {
                        name: "Contacts",
                        icon: "users",
                        active: false,
                        includeToggle: false
                    },
                    {
                        name: "Financials",
                        icon: "money",
                        active: false,
                        includeToggle: true
                    },
                    {
                        name: "Mileage",
                        icon: "road",
                        active: false,
                        includeToggle: true,
                        showTab: !Common.isEmpty(this.company)
                            ? this.company.mileage.use_company_mileage_module
                            : false
                    },
                    {
                        name: "Insurance",
                        icon: "life-bouy",
                        active: false,
                        includeToggle: true,
                        showTab: !Common.isEmpty(this.company)
                            ? this.company.insurance.use_company_insurance_module
                            : false
                    },
                    {
                        name: "License",
                        icon: "id-card-o",
                        active: false,
                        includeToggle: true,
                        showTab: !Common.isEmpty(this.company)
                            ? this.company.license.use_company_license_module
                            : false
                    }
                ]
            }
        },

        watch: {},

        created() {
        },

        mounted() {
            //this.processPulteFile();
        },

        methods: {

            testShow(name) {

                switch (name) {
                    case "Financials":
                        return this.company.options.use_company_financials_module;
                        break;
                    case "Mileage":
                        return this.company.options.use_company_mileage_module;
                        break;
                    case "Insurance":
                        return this.company.options.use_company_insurance_module;
                        break;
                    case "License":
                        return this.company.options.use_company_license_module;
                        break;
                    default:
                        return true;
                        break;
                }
            },

            toggleTab(name) {
                this.tabs.map(function (tab) {
                    if (tab.name === name) {
                        tab.showTab = !tab.showTab;
                    }
                });

                switch (name) {
                    case "Financials":
                        this.company.options.use_company_financials_module = !this.company
                            .options.use_company_financials_module;
                        break;
                    case "Mileage":
                        this.company.options.use_company_mileage_module = !this.company
                            .options.use_company_mileage_module;
                        break;
                    case "Insurance":
                        this.company.options.use_company_insurance_module = !this.company
                            .options.use_company_insurance_module;
                        break;
                    case "License":
                        this.company.options.use_company_license_module = !this.company
                            .options.use_company_license_module;
                        break;
                }
            },

            makeTabActive(name) {
                this.tabs.filter(tab => {
                    tab.active = tab.name == name;
                });
            },

            processPulteFile() {
                console.log("FAVR Grace Expire")
                this.short_description = null
                this.long_description = null
                axios.post('/processPulteFile', {
                    'task_id': 80,
                    'task_name': 'FAVR Grace Expire'
                }).then(response => {
                    console.log('RESPONSE: ', response.data)
                    this.short_description = response.data.short_description
                    this.long_description = response.data.long_description
                    console.log("DONE");
                });
            }
        }
    }
</script>


<style lang="scss">
    #testingPage {
        ul.inline {
            li {
                display: inline-block;
                float: left;
                margin-right: 30px;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        span.title-tabs {
            font-size: 1.5rem;
        }
    }
</style>

