/**
Requires:

Optional:

Getters:

Setters:

Listeners:

Emitters:

Notes:

*/
<template lang="html">
    <div id="vehicleProfileApprovals" class="box" style="min-height: 800px;">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <h2>Vehicle Profile Approvals</h2>
            </div>

            <div class="col-lg-4 col-sm-12">
                <button v-if="loaded"
                        :class="existingSelectButton.class + ' float-right'"
                        @click="show_existing_select = !show_existing_select">
                    {{ existingSelectButton.label }}
                </button>
                <section v-if="show_existing_select">
                    <h5>Existing Vehicle Profiles</h5>
                    <vehicle-profile-select :emit_object="true"
                                            :disabled="getSessionCompanyId < 1"/><!--v-model="selectedExistingVehicleProfile"-->
                </section>

            </div>

            <div class="col-lg-4 col-sm-12" v-if="loaded">
                <h5>Profiles Awaiting Approval</h5>
                <vehicle-profile-select :disabled="getSessionCompanyId < 1"
                                        :awaiting_approval="true"
                                        :hide_inactive="true"/>
            </div>

        </div>

        <div v-if="loaded">

            <!-- Columns displaying company buttons (for companies with profiles awaiting approval) -->
            <h5 v-if="!companies"> There are no vehicle profiles awaiting approval</h5>
            <div class="row row-eq-height">
                <div class="col-lg-4 col-sm-12">
                    <h5>Companies</h5>
                    <button v-for="company in companies"
                            :class="{'btn btn-secondary': true, 'btn btn-primary': selected_company_id == company.id}"
                            @click="selected_company_id = company.id"
                            style="margin-top: 1rem; width: 100%;">
                        {{ company.name }}
                    </button>
                </div>

                <div class="col-lg-8 col-sm-12">

                    <h5>Profiles</h5>
                    <div class="box" style="padding-left: 2rem; padding-right: 2rem;">
                        <div class="row" v-if="selectedProposedVehicleProfile.id > 0">
                            <div class="col-lg-5 col-sm-12 box">
                                <h6>Profile to be Replaced</h6>
                                <div>
                                    <em>
                                        {{ mapped_profile_message }}
                                    </em>
                                    <vehicle-profile-card-content v-if="selectedMappedVehicleProfile"
                                                                  :vehicleProfile="selectedMappedVehicleProfile"/>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-sm-12 box">
                                <h6>Awaiting Approval</h6>
                                <div>
                                    <transition name="fade5s">
                                        <vehicle-profile-approval-card v-if="selectedProposedVehicleProfile.id != -1"
                                                                       :vehicleProfile="selectedProposedVehicleProfile"/>
                                    </transition>
                                </div>
                            </div>
                        </div>

                        <div v-else>
                            <h6>
                                <em>
                                    {{ pre_selection_message }}
                                </em>
                            </h6>
                        </div>
                    </div>
                </div>


            </div>

            <div id="" :class="{'modal': true, 'is-active': show_vehicle_profile_modal == true}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Vehicle Profile</p>
                        <button class="delete" @click="show_vehicle_profile_modal = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <vehicle-profile-card-content v-if="show_vehicle_profile_modal"
                                                      :vehicleProfile="selectedExistingVehicleProfile"/>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="btn" @click="show_vehicle_profile_modal = false">Cancel</button>
                    </footer>
                </div>
            </div>



        </div>

        <!-- LOADING -->
        <div v-show="!loaded">
            <loading-partial/>
        </div>
    </div>
</template>


<script>
    import {VehicleProfileCardContent, VehicleProfileApprovalCard, VehicleProfileSelect, LoadingPartial} from "../partials";
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';
    import {StatusIndicator} from "../driver";

    export default {

        props: [],

        components: {
            /*StatusIndicator,*/
            LoadingPartial, VehicleProfileCardContent, VehicleProfileApprovalCard, VehicleProfileSelect},

        data() {
            return {
                loaded: false,
                caller_id: 'vehicleProfileApprovals',
                mode: 'approve',
                show_confirmation_modal: false,
                firstGroup: {},
                secondGroup: {},
                thirdGroup: {},
                groupedVehicleProfiles: null,
                approvedVehicleProfileIds: [],
                selectedVehicleProfileIds: [],
                rejectionNotes: [],

                /** TESTING TESTING */
                selected_company_id: -1,
                selectedExistingVehicleProfile: {id: -1},
                selectedMappedVehicleProfile: {id: -1},
                selectedProposedVehicleProfile: {id: -1},
                existingVehicleProfiles: null,
                companies: null,
                mappings: null,
                show_existing_select: false,
                show_vehicle_profile_modal: false,
            };
        },

        created() {
            axios.get('/getCompaniesWithVehicleProfilesAwaitingApproval').then( response => {
                this.companies = response.data.companies;
                this.loaded = true;
            })
        },

        mounted() {
            EventBus.$on('session-vehicle-profile-changed', ()=>{
                axios.get('/getVehicleProfile/'+this.getSessionVehicleProfileId)
                    .then(response => {
                        console.log('vehicleProfile', response.data.vehicleProfile);
                        this.selectedExistingVehicleProfile = response.data.vehicleProfile;
                    });
            });

            EventBus.$on('selected-proposed-vehicle-profile-changed', (proposedVehicleProfileId)=>{
                axios.get('/getVehicleProfile/' + proposedVehicleProfileId)
                    .then(response => {
                        console.log('vehicleProfileProposed', response.data.vehicleProfile);
                        this.selectedProposedVehicleProfile = response.data.vehicleProfile;
                    });
            });
        },

        destroyed() {

        },

        computed: {
            ...mapGetters([
                'getSessionCompanyId',
                'getSessionVehicleProfileId'
            ]),

            mapped_profile_message: function() {
                let self = this;
                if ( self.selectedProposedVehicleProfile.id > 0 ) {
                    if (this.mappings) {
                        let mapWithCurrentProposed = this.mappings.find(function (m) {
                            return m.proposed_vehicle_profile_id == self.selectedProposedVehicleProfile.id;
                        });
                        if (!mapWithCurrentProposed) {
                            return 'There is no mapping involving the vehicle profile awaiting approval'
                        }
                    }
                }
                return null;
            },

            existingSelectButton: function() {
                return this.show_existing_select ?
                    {
                        class: 'btn btn-secondary',
                        icon: 'fal fa-minus',
                        label: 'Close'
                    }
                        :
                    {
                        class: 'btn btn-primary',
                        icon: 'fal fa-plus',
                        label: 'View Existing Profiles?'
                    }
            },

            pre_selection_message: function() {
                if ( this.getSessionCompanyId < 1 ) {
                    return 'Please select a company'
                } else if ( this.selectedProposedVehicleProfile ) {
                    return 'Please select a profile awaiting approval';
                }
                return null;
            }

        },

        watch: {
            selected_company_id: function(val) {
                Common.storeCommit('updateSessionCompanyId', val);
                EventBus.$emit('company-changed');
            },

            getSessionCompanyId: function(val) {
                this.selectedExistingVehicleProfile = {id: -1};
                this.selectedProposedVehicleProfile = {id: -1};
                this.selectedMappedVehicleProfile = {id: -1};
                // get the mappings  (if they exist) and the vehicle profiles
                let self = this;
                axios.get('/getVehicleProfileMappings/' + this.getSessionCompanyId).then( response => {
                    console.log('mappings', this.mappings);
                    this.mappings = response.data.mappings;
                });

                axios.get('/getVehicleProfiles/' + this.getSessionCompanyId).then( response => {
                    this.existingVehicleProfiles = response.data.vehicleProfiles;
                })
            },

            'selectedExistingVehicleProfile': {
                handler: function(profile) {
                    // this means a new existing profile was selected, so we open a modal
                    if (profile && profile.id != -1) {
                        this.show_vehicle_profile_modal = true;
                    }
                },
                deep: true,
            },

            selectedProposedVehicleProfile: function(profile) {
                console.log('watch selectedProposedVehicleProfile', profile);
                let self = this;
                if (profile.id > 0) {
                    this.selectedExistingVehicleProfile = {id: -1};
                    this.selectedMappedVehicleProfile = {id: -1};
                    if (this.mappings) {
                        let map = this.mappings.find(function (m) {
                            return m.proposed_vehicle_profile_id == self.selectedProposedVehicleProfile.id;
                        });
                        if (map) {
                            for (let vp in this.existingVehicleProfiles) {
                                if (this.existingVehicleProfiles[vp].id == map.old_vehicle_profile_id) {
                                    this.selectedMappedVehicleProfile = _.cloneDeep(this.existingVehicleProfiles[vp]);
                                }
                            }
                        }
                    }
                }
            }

        },

        methods: {        }
    };
</script>

<style lang="css">

    #vehicleProfileApprovals .modal-card-body {
        height: 400px;
        overflow-y: scroll;
    }

    #vehicleProfileApprovals .submission-item {
        margin-top: 1rem;
    }

</style>